[2020-12-09 07:58] hisasima opened #16205 "After creating vnet peering, I can not add subnet by powershell on Cloudshell"
==========version==========
PS /home/testuser> Get-Module -ListAvailable Az.Network

    Directory: /usr/local/share/powershell/Modules

ModuleType Version    PreRelease Name                                PSEdition ExportedCommands
---------- -------    ---------- ----                                --------- ----------------
Script     4.3.0                 Az.Network                          Co

[2020-12-09 09:50] tofriedl opened #16207 "az monitor log-analytics workspace table show returns retention as null"
using az cli to update a table seems to work and to return the correct payload. but when using get table the retention returns as null. in addition when using REST request directly to ARM the correct payload is received.

Rest request sent:
GET https://management.azure.com/subscriptions/a8732c41-c4a7-4fa1-a180-f3efb7843f6f/resourcegroups/testworkspaces/providers/Microsoft.OperationalInsights/works

[2020-12-09 10:09] mloskot commented on #12955
@panchagnula I think I'm having similar issue as  @larsmaes had. I'm trying to create a Web App, then configure its settings and then trigger the deployment. Here is the sequence of commands:

[code]

Now, how to force the **re-deployment** of the app so it starts up with the correct and complete settings?

I guess, it may be something along these lines, but that seems not correct, is it?

[code]

[2020-12-09 10:25] yonzhan commented on #16207
monitor

[2020-12-09 12:00] petermicuch commented on #14498
Seriously? We will have to export chart to be able to install it? What happened to simple `helm repo add test https://testrepo.azurecr.io/helm/v1/repo" and then installing anything that we had in that repository without the need to do any `helm chart pull` and `helm chart export`?

[2020-12-09 12:05] drjayvee opened #16208 "WebApp:az webapp update raised Exception"
## Describe the bug

**Command Name**
`az webapp update --name sw33t-d3m0 -gtehst -ntehstas`

**Errors:**
[code]

## To Reproduce:
Follow the [tutorial](https://docs.microsoft.com/en-us/azure/app-service/tutorial-php-mysql-app?pivots=platform-linux#create-a-web-app) to create a webapp with awful name (`sw33t-d3m0`)

## Expected Behavior

## Environment Summary
[code]
## Additional Context
I first

[2020-12-09 12:54] yungezz commented on #16208
routing to appropriate team

[2020-12-09 12:54] yungezz commented on #16208
#14287

[2020-12-09 13:04] Kotasudhakarreddy commented on #16026
@dtewinkel - thanks for your update. we will look in to it further and update you.
@panchagnula - can you please suggest on backward compatibility and vice versa .

[2020-12-09 13:15] dtewinkel commented on #16026
@panchagnula, @Kotasudhakarreddy
I would like to add that the help for `az appservice plan create -h` on az CLI 2.15.1 states "name or **ID**":
`   --app-service-environment -e   : Name or ID of the app service environment.`

[2020-12-09 13:22] BenjaminHerbert opened #16209 "az aks get-credentials fails with error AADSTS70043 - The refresh token has expired or is invalid due to sign-in frequency checks by conditional access"
## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks get-credentials --resource-group {} --name {}`

## Expected Behavior

I expect that I get valid credentials. If not working, due to some expired token, I expect that

[2020-12-09 15:41] alexeyshishkin01 commented on #15856
any news from vendor side ?

[2020-12-09 15:47] kedarisetti commented on #13092
[code]
This goes on for a while

[2020-12-09 16:23] genscape-agodfrey commented on #9972
No seriously why is this closed

[2020-12-09 17:09] panchagnula commented on #15909
Closing since no response - please use the latest CLI version & re-activate if this still repros.

[2020-12-09 17:09] #15909 closed

[2020-12-09 17:17] nameier opened #16210 "Issue updating Azure CLI extensions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension update -n {}`

## Expected Behavior

## Environment Sum

[2020-12-09 17:20] nameier commented on #16210
Full debug log below:

[code]

[2020-12-09 17:56] shyamsabhaya opened #16211 "Azure Network VPC Peering Create Fails v2.1.6.0"
**Describe the bug**
With the new CLI release, vnet peering create returns an error `BadRequestError: Cannot parse the request.`
Portal Activity logs show full error:
[code]

**To Reproduce**
az network vnet peering create --name network1 --vnet-name vnet1 --remote-vnet vnet2  --allow-vnet-access --resource-group rg1

**Expected behavior**
Expected a peering connection to be created.
**Environment

[2020-12-09 18:16] setunol commented on #16162
Hello Jianhui,

Sorry about the delayed in getting back to you on this.  Please give me a little bit more time to follow up with the customer and the subscription team and get back to you on this.

What you saw via the portal is expected for a subscription with <default> limit.  The request that we got from the subscription team stating that they customer has already performed the increase, and th

[2020-12-09 19:08] panchagnula commented on #14909
@ThejaChoudary & @Kotasudhakarreddy like we discussed today please update this  after talking to the core CLI folks if needed. @richardlm57 we were able to repro this issue & are investigating a potential fix. Thanks!

[2020-12-09 19:40] sbonds commented on #16196
A possible non-breaking fix would be to add a new field along the lines of `ConstrainedNumberOfCores` which would equal `NumberOfCores` for non-CPU-constrained VMs

[2020-12-09 20:01] sbonds commented on #16196
A clever workaround in the meantime would be to parse out the constrained cores count from the size description, e,g, parsing out `32` from the text `Standard_M128-32ms`. This is a non-ideal solution since text fields can change more easily over time than defined attribute values.

[2020-12-09 22:26] mmello-certica commented on #4179
Actually it looks like this is a python problem. I tried this from a cmd session with the same result. A co-worker found this:
https://stackoverflow.com/questions/13168666/python-argparse-argument-with-quotes
Escaping the string with a backslash worked for me. Writing this in case anyone else finds this page searching for this same problem

[2020-12-09 22:31] aphlai opened #16214 "Failed to import MS sample json file into Azure API management interface"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api import -g {} -n {} --path {}`

## Expected Behavior

## E

[2020-12-09 22:34] aphlai commented on #16214
Attaching also the sample json used in zip format.  The file was downloaded from [MS tutorial page](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish)

[azureAPI.zip](https://github.com/Azure/azure-cli/files/5669127/azureAPI.zip)

[2020-12-09 23:48] spacem commented on #16099
Trying to downgrade pip is not working for us. For some reason it is reverting back to the previous version.

[code]

[2020-12-09 23:57] jmeadowcroft opened #16215 "Internal Error: az network application-gateway private-link add"
**Describe the bug**
I get an internal error when executing the command:
az network application-gateway private-link add --frontend-ip {my-existing-frontend-ip} --name {new-private-link-name} --subnet {subnet-name} --gateway-name {app-gateway-name} --resource-group {resource-group-name}
Error:
Command group 'network application-gateway private-link' is in preview. It may be changed/removed in a fu

[2020-12-10 00:01] theelderwand commented on #11548
Couple of things to look into @strahinjanis
1) Can you please try with the "--verbose" to collect some more logs and provide to us ?
2) You can also try with the REST API for deleting the budgets which is documented here : [https://docs.microsoft.com/en-us/rest/api/consumption/budgets/delete](url)

[2020-12-10 00:08] theelderwand commented on #10028
Hi @zhoxing-ms , please find the responses to your questions
1) The issue where the Location Header was returning you a 401 has been fixed. We will be rolling this out in the coming weeks after holidays.
2) Budgets are sticky to the resource groups, so recreating the resource group will bring back the budget. Also, budgets do not get deleted automatically on resource group deletion. This is expect

[2020-12-10 00:38] yonzhan commented on #16209
aks

[2020-12-10 00:38] pvanroos opened #16216 "Dynamic example doesn't work for az monitor metrics alert create command."
Dynamic example doesn't work for az monitor metrics alert create command.

Running the following command on Azure Shell (v2.16):

az monitor metrics alert create -n "RuleName" -g "ResourceGroupName" \
        --description "Dynamically created alert rule" \
        --region "westus2" \
        --action "" \
        --evaluation-frequency 5m \
        --window-size 5m \
        --scopes "{redacted}

[2020-12-10 00:51] ghost opened #16217 "AttributeError: 'dict' object has no attribute 'iter'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs file list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage fs file list -f {} --account-name {} --account-key {}

[2020-12-10 00:52] yonzhan commented on #16211
network

[2020-12-10 00:57] yonzhan commented on #16214
apim

[2020-12-10 00:59] yonzhan commented on #16215
apim

[2020-12-10 01:03] yonzhan commented on #16216
monitor

[2020-12-10 01:52] yonzhan commented on #16217
storage

[2020-12-10 03:24] zhoxing-ms commented on #10028
@theelderwand Thank you for your reply. Please let we know when you rolling this fix out and we will test it again~

[2020-12-10 04:26] rem-aj commented on #16216
I am able to reproduce the same issue, here is my command

az monitor metrics alert create -n "name" -g RG --scopes "XXXXXXXX" --condition "total FailedRequests > dynamic low 2 of 4 since 2020-11-01T10:23:00.000Z" --description "The Total # of Failed Requests is Greater than Standard Patterns normally seen. Please Investigate" --window-size 15m --evaluation-frequency 5m --severity 4 --debug

[2020-12-10 06:43] idear1203 commented on #16145
Current the service doesn't support MSI login. Could you please try login with ` az login  --use-device-code`

[2020-12-10 06:53] miaojiang commented on #16214
@RupengLiu please take a look.

[2020-12-10 07:21] sanderaernouts commented on #9972
Not sure if this will work, but I had a similar issue with deploying a functions app where the app service plan was in a different resource group the other day. I had to use the resource ID instead of the name. You can try using the `--ids` parameter to pass the web app resource id instead of `--name ...` according to the help docs of the CLI. Not sure if `--resource-groups` is required, when you

[2020-12-10 07:26] Stolz commented on #16126
Same problem here. Both of the commands that allow to change the Docker image of a web app have the same behavior

[code]

[code]

[2020-12-10 07:48] xiafu-msft commented on #9959
Hi @Juliehzl

This should be a problem in CLI (@zezha-msft mentioned this).
does CLI include a `sharesnapshot` query parameter doing [list files](https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files) for batch download file?

[2020-12-10 07:50] xiafu-msft commented on #10385
it looks like there's not much Python SDK can do here, it's a service feature by design.

[2020-12-10 07:52] xiafu-msft commented on #10489
Hi @priya0917

Were you able to figure out this problem by chance?

[2020-12-10 07:56] kairu-ms commented on #16216
Acknowledged. It is a bug when you use a single scope. I'm fixing it.

[2020-12-10 08:04] xiafu-msft commented on #12875
Hi @AmitBarthwal

Were you able to get this figured out?
If not can you please share the http response info of the operation which has the 8 hours delay to show up?
Thanks!

[2020-12-10 08:08] xiafu-msft commented on #9961
This is a duplicate of https://github.com/Azure/azure-cli/issues/9959
@Juliehzl can you help take a look and confirm if it's a CLI bug?

[2020-12-10 08:40] tmjnsn commented on #14396
This issue still occurs. I deleted a keyvault through the Azure portal. Now when I try to create one with the same name it says:
`The Vault '<name>' not found within subscription.
Azure Key Vault '<name>' has been soft deleted. Operations on this vault can be performed only after recovering it.`

However when I get the list of soft-deleted keyvaults (either through cli or through the portal) that

[2020-12-10 09:31] kairu-ms commented on #16216
Thanks for your help. This issue will be fixed in next release. You can download and use these [Artifacts](https://dev.azure.com/azure-sdk/public/_build/results?buildId=649106&view=artifacts&pathAsName=false&type=publishedArtifacts) as first.

[2020-12-10 10:25] allianz-shay-katzir commented on #14774
Hi all, by @northtyphoon we were able to find the issue.
The "locale" on the running pod was defined to "POSIX" and running Python 3.6.9.

I admit I did not have time to test that as we implemented a workaround .

[2020-12-10 10:25] madegg commented on #16211
The same problem appears when working in the Sandbox on Microsoft learn:
https://docs.microsoft.com/en-us/learn/modules/integrate-vnets-with-vnet-peering/4-exercise-configure-vnet-peering-connections-using-azure-cli-commands

[2020-12-10 11:33] haroldrandom commented on #16028
@lmcthbe We found some similar scenarios the cannot find properties of IPVersion. But cannot reproduce successfully. No idea what's going on. Could you provide what environment are you in and what steps had you done?

[2020-12-10 14:20] HitenBhavsarMSFT opened #16228 "Add Sample for Mysql flexible-server with private VNet and subnet"
I had case with flexible-server for the private VNet and sub creation, Azure portal was failed the deployment all the time. CLI workaround worked for me and CX. Please add the private network sample in the doc for the future request.

**My Test in the lab**
[code]

**Request to the cx, ask to feel the customer data**
[code]

Thank you very much

Hiten Bhavsar (hibhavsa)

---
#### Document Details

[2020-12-10 14:20] Juliehzl commented on #13092
@kedarisetti Thanks a lot for your feedback! @evelyn-ys could you help take a look for the issue?

[2020-12-10 14:25] HitenBhavsarMSFT commented on #16228
SR 120120725002584

[2020-12-10 14:40] benjaminSponagel commented on #15856
please fix soon 🥇

[2020-12-10 14:46] fsureau opened #16230 "Need more details on properties to update"
Documentation does not show how to update data.
update command with Id to select the service connection ok. But how to pass parameters to update?

Regards,
Florian.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd63c4b-37f7-3641-8f15-0f5713ab71b4
* Version Independent ID: 39006efa-983d-d605-ca4f-95ffd91fbec4
* Conten

[2020-12-10 15:22] frosenberg commented on #8530
I am seeing the same issue on our end - version 2.14.0

[2020-12-10 15:31] yonzhan commented on #16228
mysql

[2020-12-10 15:32] yonzhan commented on #16230
devops

[2020-12-10 15:51] frahugo opened #16231 "Error while subscribing to a custom topic"
I'm following the quickstart guide (https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart) and ended up with this error when subscribing to the custom topic.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az eventgrid event-subscription create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Not

[2020-12-10 17:12] joelbyford commented on #15985
Confirmed earlier today that the packages at `packges.microsoft.com` do not currently work on arm64.  In the mean time. . .here is the workaround to get the AZ CLI working on any arm64 Ubuntu 20.04 [Focus] (WSL or otherwise):
- Follow all the **MANUAL** install instructions on the [docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt#manual-install-instructions) website.
- **Impo

[2020-12-10 17:13] etaham commented on #10241
Any update?

[2020-12-10 17:27] pvanroos commented on #16216
In the Release Notes for v2.16, it says that the feature was included:  https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#monitor

Are you guys saying it actually wasn't?

[2020-12-10 17:38] patridge opened #16232 "JMESPath error when getting a boards query result count"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm trying to get the resulting item count out of a query using the JMESPath `query` option. I'm new to the JMESPath syntax, but I'm trying to follow along with [specs](https://jmespath.org/specification.html#functions) and [tutorials](https://jmespath.org/tutorial.html) to use the [`count`](https://jmespath.o

[2020-12-10 18:14] rem-aj commented on #16216
@kairu-ms I'm not sure what you mean by download and use those artifacts. I went to that link and I'm unable to access anything when I click on any of the artifact links.
When can expect the fix?
Thanks!

[2020-12-10 18:45] mrecondo opened #16233 "az vm --help raises an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Log in into azure and run:
- `az vm --help`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-12-10 19:10] asharsidd opened #16234 "az aks install-cli fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az aks install-cli --install-location=~/.azure-kubectl/kubectl.exe

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --in

[2020-12-10 20:54] djr29578 opened #16235 "Error when peering two Virtual Networks on Linux OS"
**az network vnet peering create**  command fails on ubuntu 18.04 when trying to peer two Vnets.

Az cli verison = 2.16

Have tried multiple ways of writing the script from passing resource ID's as variables, hardcoding the VNet names/id's but always receive **cli.azure.cli.core.azclierror : BadRequestError: Cannot parse the request.
BadRequestError: Cannot parse the request.**

error occurs when

[2020-12-10 21:52] Mexicoder opened #16237 "Get metric alerts. last updated field"
I have been using the `az monitor metrics alert list ` to get all of my metric alerts.
I am noticing that `LastUpdatedTime` is always null. I get the same result when I use the Azure Powershell equivalent `Get-AzMetricAlertRuleV2`
Is this expected functionality? when I retrieve log alerts with Azure Powershell `Get-AzScheduledQueryRule` this field is populated.

---
#### Document Details

⚠ *Do no

[2020-12-11 01:25] ambhatna commented on #16228
@HitenBhavsarMSFT As discussed, I have updated the doc. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140673

[2020-12-11 01:46] sebansal commented on #14396
Hi @magnus-longva-bouvet i encourage you to open up a support request with Azure Support team. When you'd open the support request, it will collect some metadata and perform diagnostics. For instructions, you can follow the guidance here https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2020-12-11 01:51] AgSync-Aaron opened #16239 "Example for az vm create --attach-data-disks"
Can you please provide an example of how to specify multiple data disks using the `--attach-data-disks` parameter when calling `az vm create`. I cannot get it to work and I figure I'm incorrectly using the command.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version In

[2020-12-11 02:07] AgSync-Aaron commented on #16239
I finally figured it out. I got it working by encapsulating both disks in their own sets of double quotes
`az vm create --attach-data-disks "disk1id" "disk2id"`

[2020-12-11 02:07] #16239 closed

[2020-12-11 02:27] yungezz commented on #16233
hi @qwordy could  you pls have a look? thanks

[2020-12-11 02:28] yungezz commented on #16231
route to appropriate team

[2020-12-11 02:28] yungezz commented on #16234
https://github.com/Azure/azure-cli/issues/16070

[2020-12-11 02:29] yungezz commented on #16232
route to appropriate team

[2020-12-11 03:31] kairu-ms commented on #16216
@pvanroos @rem-aj Sorry for the bug.
The patch PR has been created and it's going through reviewing and releasing process. It will take some days (at most 21 days). So I built the patched artifacts for your urgent use.
You can download them by the following links and install locally.
* [Docker](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-

[2020-12-11 03:56] evelyn-ys commented on #13092
@kedarisetti From the debug log, it seems hanging on file '/figureeight/figureeight-uva'. May I know what kind of file and how large is it? Have you checked your network connection when copying? As things go well for me, I may need some more information.😃

[2020-12-11 04:34] jfggdl commented on #16231
@frahugo, Thank you for reporting this issue. We will be investigating what is the root cause.

[2020-12-11 05:05] #16086 closed

[2020-12-11 05:36] ahamad-MS commented on #16231
Hello @frahugo .. Thanks for reaching out and reporting this issue.

I Am not able to repro the issue described here. Can you please provide us with the following info:

1. Is this failure is encountered while running locally or when using shell.azure.com?
2. Can you please provide us with the az version. For example, here is the az version in my shell.azure.com account:

ashraf@Azure:~$ az versio

[2020-12-11 05:42] yonzhan commented on #16235
network

[2020-12-11 05:44] yonzhan commented on #16237
monitor

[2020-12-11 06:12] #16077 closed

[2020-12-11 06:39] qwordy commented on #15988
@viananth I noticed that the swagger change has not been merged to master branch? When will it be merged? Azure CLI can't release this until swagger change is merged to master branch.

[2020-12-11 06:40] qwordy commented on #16159
@rane-rajasi  I noticed that the swagger change has not been merged to master branch? When will it be merged? Azure CLI can't release this until swagger change is merged to master branch.

[2020-12-11 07:09] kairu-ms commented on #16237
Service doesn't response this property in response

[2020-12-11 08:30] zhoxing-ms commented on #9961
@xiafu-msft Thanks for your reminder, we have submitted a PR #16244 to fix this problem~

[2020-12-11 08:30] thiDucTran commented on #13853
Hi @jl-ms , we have a use-case where in our create/upgrade aks cluster playbooks..we need to know the number of available IPs within a given subnet before performing creation or upgrading.

[2020-12-11 08:36] jiasli commented on #10241
This will be released in the next Beta version which uses MSAL. Hopefully it can satisfy your needs.

[2020-12-11 08:38] kairu-ms commented on #15650
@yossi-y should I add a new parameter for EventHubName or retrieve it from eventHubId?

[2020-12-11 08:59] qwordy commented on #16192
Q1.
I tried and did not see "preview". Which version do you use? You can download latest version and have a try.

Q2.
Try
[code]
Replace subid, rg, hg with your values.

[2020-12-11 08:59] kairu-ms commented on #15704
You should try

[code]

[2020-12-11 09:31] fengzhou-msft commented on #15620
There are now more failures in the latest [test](https://clitestresultstac.blob.core.windows.net/20201211-043721-979918/netappfiles.report.parallel.html). Some new failures are caused by location [eastus2euap](https://github.com/Azure/azure-cli/blob/425a0b6247797f05e41280f4c075a6c101c8125c/src%2Fazure-cli%2Fazure%2Fcli%2Fcommand_modules%2Fnetappfiles%2Ftests%2Flatest%2Ftest_backup_policy_commands.

[2020-12-11 10:34] MartinPlay01 commented on #16209
i have the same error but executing this command:
`az resource delete --ids exampleResourceID`

[2020-12-11 12:26] hildurhodd commented on #15620
Hi @fengzhou-msft, yes, I'll take a look at this.

[2020-12-11 13:06] lurumad commented on #16211
Same error for me

![image](https://user-images.githubusercontent.com/1729519/101906932-0cd25980-3bba-11eb-869a-ff6bc08c525c.png)

[2020-12-11 15:30] kedarisetti commented on #13092
here figureeight-uva, is the source container, not a file. The size is > 2.07 GiB

[2020-12-11 15:54] kedarisetti commented on #13092
This is the command I run
`az storage blob copy start-batch --account-key $COOL_KEY --account-name $COOL_STORAGE_NAME --destination-container uva --source-account-key $HOT_KEY --source-account-name $HOT_STORAGE_NAME --source-container figureeight-uva`

[2020-12-11 18:20] MakerSquid commented on #15931
I have the exact same error and I wondered if it related to having both the 2.7 and the 3.8 versions of python, but explicitly setting the path to one of the 2 and removing the other did not help with either one as the primary version.

[2020-12-11 21:11] lorcopotia commented on #15984
Sorry I didn't reply sooner. I just executed the same command from the history and it worked. I don't know, I just logged back in, looked for the command and it worked.
I can see that there is another thing going on, but everything is fine with me now.
FYI the commands are:

`$rg = (Get-AzResourceGroup).ResourceGroupName`
`az network vnet create -g $rg -n CloudLorcoVNet --address-prefixes 10.15.0.

[2020-12-11 21:12] #15984 closed

[2020-12-11 22:07] aaronspruit opened #16247 "Path-based Rule Redirect with Default Backend and Default HTTP Settings"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I am attempting to create a path-based rule with a url-path-map that has a default backend and http settings, but has a specific path redirect rule.  This is not possible from az cli.  When looking at the arm json, I should be able to specify the DefaultBackendAddressPool and DefaultHTTPSettings on the url-pat

[2020-12-11 23:59] mirdaki commented on #15442
@MikkelHegn so sorry for the delay. We were trying to figure out if we could solve this sort of edge case if a general way, which took more time than anticipated. The updates should be live now (caches might not be updated everywhere).

[2020-12-12 01:12] c0dezer019 commented on #11871
The day a bug becomes a feature request. (I can confirm this bug, it is still on-going)

[2020-12-12 01:53] yonzhan commented on #16247
network

[2020-12-12 17:35] aaronspruit commented on #16247
FYI, it appears to be an issue specifically with the --default flags for backend pool and http settings vs. non-default flags.  However, the `--default-rewrite-rule-set` and `--rewrite-rule-set` works as expected.

[2020-12-12 23:06] gjdonkers opened #16248 "Using the --pattern for `az storage blob delete-batch`"
When using the following command on macOS terminal the container is cleared keeping the folder data and files in the container, this is what I would expect. But when this command is executed within the AzureCLI@2 task in Azure DevOps there are other files/folders that are not deleted. How is this possible?

`az storage blob delete-batch --source '$web' --account-name $STORAGE_ACCOUNT --pattern '[!

[2020-12-12 23:08] scottstensland opened #16249 "az extension add --name azure-devops ImportError: libffi.so.7: cannot open shared object file: No such file or directory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --name {} --debug`

## Expected Behavior

## Environme

[2020-12-12 23:19] yonzhan commented on #16248
storage

[2020-12-13 08:16] yossi-y commented on #15650
Please give me your perspective here -
Originally, we didn't ask to add EventHubName parameter since it can lead to unintended result - users may see the EventHubName  parameter and set name and this will result in all tables being exported to the same event hub while each different schema.
After trying CLI, I realized that when EH resourceId includes event hub name, like:
$eventHubId = '/subscrip

[2020-12-13 13:55] Juliehzl opened #16250 "az extension add -n rdbms-connect fails with PEP 517 issue"
**Describe the bug**

[code]
**To Reproduce**

`az extension add -n rdbms-connect `

**Expected behavior**

successfully installed

**Environment summary**

[code]
OS version: Windows10
pip version: pip 20.3.1 from c:\users\zuh\appdata\local\programs\python\python37\lib\site-packages\pip (python 3.7)
**Additional context**

[2020-12-13 19:24] scottstensland opened #16253 "sudo apt install azure-cli ... /usr/lib/python3/dist-packages/azure/multiapi/cosmosdb/v2017_04_17/common/_connection.py:91: SyntaxWarning: "is" with a literal. Did you mea n "=="?"
on Ubuntu 20.04 seeing issues when running

[code]

[code]
## Additional Context

on a fresh Ubuntu 20.04 install

[code]

here are the install issues

[code]

afterwards I ran

az login

OK and even able to install extension OK

[code]

please fix

[2020-12-14 01:53] houk-ms commented on #15438
`az vm create` has the `{}` wrapped argument `az vm create --admin-password <{admin-password}> --admin-username <deploy> --image <Centos> --name <MyVm> --resource-group <MyResourceGroup>`

[2020-12-14 02:03] fengzhou-msft commented on #15545
I have updated the [installation doc](https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-zypper#install-on-sles-12-or-other-systems-without-python-36) accordingly and provided a script for installation on SLES 12:
`curl -sL https://azurecliprod.blob.core.windows.net/sles12_install.sh | sudo bash`

[2020-12-14 02:04] #15659 closed

[2020-12-14 02:07] fengzhou-msft commented on #15828
Groovy package is added in release pipeline.

[2020-12-14 02:07] #15828 closed

[2020-12-14 02:18] fengzhou-msft commented on #15931
It's a connection issue to `pypi.org` while downloading the `python-dateutil` dependency with the underlying `pip install` command. Please check your SSL certificate or proxy settings.

[2020-12-14 02:20] kairu-ms commented on #16207
The property 'retentionInDays' is not capitalize in [swagger](https://github.com/Azure/azure-rest-api-specs/blob/fef61739185a1501cdccdafa40ada903120e8ba3/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview/Tables.json#L183). But in response body it names 'RetentionInDays'.

[2020-12-14 02:21] yungezz commented on #16253
hi @fengzhou-msft could you pls have a look? thanks

[2020-12-14 02:22] yungezz commented on #16249
hi @fengzhou-msft could you pls help to have a look is it a general packaging issue? If no let's route to service team to have a look.

[2020-12-14 02:23] yungezz commented on #16250
hi @fengzhou-msft could you pls help to have a look is it a general packaging issue? If no let's route to service team to have a look.

[2020-12-14 05:02] #14927 closed

[2020-12-14 05:02] #15060 closed

[2020-12-14 06:06] Juliehzl commented on #16250
this issue is raised by @mjain2 and the root cause should be `setproctitle` package issue.
@mjain2 if possible, please provide more information for Feng.

[2020-12-14 06:19] qwordy commented on #15264
@enigmae Can you add --debug to your command and post output here? And I need complete command to reproduce and debug the issue. Thanks.

[2020-12-14 06:42] msyyc commented on #16195
@letienne I couldn't reproduce the error, please post your failed cmd.

[2020-12-14 06:59] qwordy commented on #15119
I tried and got a similar error.
[code]
Deserialization failed. I am trying to finding cause.

[2020-12-14 07:08] xiafu-msft commented on #10242
This pr https://github.com/Azure/azure-sdk-for-python/pull/15782 should be able to address the problem, and it will be available in the release in next week.
We only plan to improve track2, feel free to reopen this issue if you have any concern!

[2020-12-14 07:08] #10242 closed

[2020-12-14 07:19] jonsamwell opened #16259 "az sql db import fails with 'too many 500 error responses'"
**Describe the bug**
Using the `az sql db import` with a bacpac (with a size of 2.5mb) located in azure storage fails eventually after roughtly 30 minutes.  I've tried increasing the size of the blank database it is imported into but nothing works.

**To Reproduce**
[code]

**Expected behavior**
The import operation runs to completion

**Environment summary**
Running on AzureDevops hosted agent wi

[2020-12-14 07:30] #15075 closed

[2020-12-14 07:31] qwordy commented on #15075
Will be fixed on 12/29/2020.

[2020-12-14 07:41] yonzhan commented on #16259
sql

[2020-12-14 08:42] kairu-ms commented on #15971
@jatinas For P1 Sku, which kind of environment should I use? Because in swagger, it only mentions S1 and S2 for Gen1 and L1 for Gen2.  https://github.com/Azure/azure-rest-api-specs/blob/dbb0a6fd623196f0db6b461b0f3f54e284e3a9e4/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/stable/2020-05-15/timeseriesinsights.json#L1357

[2020-12-14 08:56] haroldrandom commented on #15984
@lorcopotia Glab that you made it work. Yeah, these cases are not easy to reproduce maybe you are in the middle of a service rollout of sort.

[2020-12-14 10:02] hildurhodd commented on #15620
Hi, eastus2euap is still available and I am able to run the tests live. This has probably something to do with the subscription. But why are you running the tests live? @fengzhou-msft

[2020-12-14 12:49] su-hy commented on #16211
Just arrived here from the same Microsoft Learn lesson, experiencing the same problem.

[2020-12-14 13:05] lmcthbe commented on #16028
I was running it from Kali and noticed that the az version is 2.14.2 (package by kali) and it was not the latest version. I removed it and install it via pip instead and now I got 2.15.1 which does not give me any more errors when listing public-ip from my subscription.

Ticket can be closed.

[2020-12-14 13:12] #16028 closed

[2020-12-14 14:00] alpersilistre opened #16262 "az apim backup Invalid parameter: The specifed resource name contains invalid characters. Parameter name: backupContainerName"
## Describe the bug

We have been using `az apim backup` for a long time but suddenly we started to get this error. The error message does not make any sense, there is no parameter called backupContainerName, I have checked this GitHub repo and couldn't find anything either. We first saw this in Azure DevOps agent and then I tried to run this command in my local machine, but the same error exists.

[2020-12-14 15:33] MikkelHegn commented on #15442
Thx - I see this is fixed in 2.16.0

[2020-12-14 15:33] #15442 closed

[2020-12-14 16:01] mwiora commented on #16211
enterprise grade products mh? same here... I would recommend to introduce testing

[2020-12-14 17:03] cdproyect opened #16263 "AZ CLI cli.azure.cli.core.util : The command failed with an unexpected error using Proxy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

Use a bash script using Proxy settings as follows

#!/bin/bash
# No auth
export H

[2020-12-14 17:36] MakerSquid commented on #15931
Thank you @fengzhou-msft!  I hadn't spotted that particular piece to the error and yes, I was able to get my network folks to add an ssl decrypt exception (they are of course watching all https traffic) and the problem was solved.

[2020-12-14 17:52] g-rad opened #16264 "az sql copy db to support copy from elastic pool into a single db"
**Is your feature request related to a problem? Please describe.**
I want to be able to copy a database with elastic pool (from production) to a server where elastic pool doesn't exist (development).

**Describe the solution you'd like**
Ideally I want to provide an sku tier via parameter, so that the destination sku doesn't depend on the source. It works with Azure Powershell as well as the azure

[2020-12-14 19:24] glennmusa opened #16265 "az functionapp create fails when specifying "--os-type Linux" instead returns Windows supported runtimes usage error"
## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:

Create a Python Function App using "[az functionapp create](https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest#az_functionapp_create)" on a Premium plan created with "[az functionapp plan create](https://docs.microsoft.com/en-us/cli/azure/functionapp/plan?view=azure-cli-la

[2020-12-14 19:54] calvinsID commented on #16181
Fixed by #16124. Please update to latest CLI (2.16) for this fix

[2020-12-14 19:54] #16181 closed

[2020-12-14 21:11] JasonFreeberg opened #16266 "WebApp:az webapp up gives "too many 502 error responses""
**Describe the bug**

The `az webapp up` command fails to deploy my site content.

**To Reproduce**

Follow the Python tutorials for Django or Flask (both reproduce the issue). The first usage of `az webapp up` works, but I get the following exception when I try to re-deploy after making a code change. The error occurred on Free and Basic tiers.

![image](https://user-images.githubusercontent.com/

[2020-12-14 21:55] chriskuech commented on #10812
Is there anything we can do to mitigate?

[2020-12-14 22:18] xostap commented on #11261
+1

[2020-12-14 23:05] cosmospuglisi opened #16268 "azure keyvault is not working with Ubuntu 20.04 (WLS)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret list --vault-name {}`

## Expected Behavior

[2020-12-14 23:14] DanielLarsenNZ opened #16269 "`az policy` `auditIfNotExists` `vnetRouteAllEnabled`. Compliance scan fails when `WEBSITE_VNET_ROUTE_ALL=1`"
**Resource Provider**

`Microsoft.Web/sites`

**Description of Feature or Work Requested**

An ARM Policy deployed with `az policy definition create` and `az policy assignment create` with an effect of `auditIfNotExists` that tests for the presence of `Microsoft.Web/sites/config/vnetRouteAllEnabled = true` will report failed when App Services App Setting `WEBSITE_VNET_ROUTE_ALL=1`.

## Background

[2020-12-14 23:58] yonzhan commented on #16262
apim

[2020-12-15 00:02] yonzhan commented on #16263
az login

[2020-12-15 00:04] yonzhan commented on #16264
sql

[2020-12-15 00:05] yonzhan commented on #16265
functionapp

[2020-12-15 00:07] yonzhan commented on #16266
webapp

[2020-12-15 00:14] yonzhan commented on #16269
policy

[2020-12-15 01:25] onpaws commented on #15732
If anyone else doesn't want to wait on this, I recently learned the JavaScript SDK already supports streaming uploads.

Following [this](https://docs.microsoft.com/en-us/samples/azure-samples/azure-sdk-for-js-storage-blob-stream-nodejs/stream-blobs-nodejs/) using the so-called [blockBlobClient](https://github.com/Azure-Samples/azure-sdk-for-js-storage-blob-stream-nodejs/blob/f31f649a470d51cf4c2ee0

[2020-12-15 01:50] yungezz commented on #16268
hi @houk-ms could you pls help to have a look? thanks

[2020-12-15 01:52] yungezz commented on #16265
hi @houk-ms , is `usage error` a legacy error type? would you mind to share some example of latest error type so that service team could apply it,  or link of error guideline. thanks

[2020-12-15 02:32] fengzhou-msft commented on #16253
@scottstensland please follow this [comment](https://github.com/Azure/azure-cli/issues/14011#issue-640943121) to install the latest version of `azure-cli`.

[2020-12-15 02:34] msyyc commented on #16211
Thanks for reporting and we're debugging it now

[2020-12-15 02:41] fengzhou-msft commented on #16250
The extension relies on `pgcli`, which relies on `setproctitle`. `setproctitle` does not [provide wheels](https://github.com/dvarrazzo/py-setproctitle/issues/47) for windows and can only be built from source code which requires more environment setup such as Microsoft Visual C++ 14.0 or greater.

[2020-12-15 02:54] Juliehzl commented on #15732
Hi @onpaws, you are right that there is sdk support for uploading stream and CLI would support it by 12/29 due to limited bandwidth.

[2020-12-15 02:55] yungezz commented on #16250
@fengzhou-msft so this is rdbms-connect specific issue right?

[2020-12-15 03:01] fengzhou-msft commented on #16250
Yes. The issue is raised by service team.

[2020-12-15 03:29] glauber-md opened #16271 "Azure Dabatase for MySQL Flexible Server keeps busy (status "Starting") and does not accept any az-cli command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az mysql flexible-server start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Stopped server through Portal
- Started server also through Portal
- (server kept "Starting" for h

[2020-12-15 03:48] yonzhan commented on #16271
mysql

[2020-12-15 05:38] wezfaas commented on #15188
@tdevopsottawa
Why is this closed?  I encountered the issue, apparently the servicePrincipalProfile.clientId is not even registered in AAD App registrations!

using this cmd as instructed in lab...
aks create --resource-group akshandsonlab --name <something> --enable-addons monitoring --kubernetes-version $version --generate-ssh-keys --location <something>

[2020-12-15 06:25] runemy commented on #16235
Hi. I do get the same  message in CloudShell.

[2020-12-15 08:14] xiafu-msft commented on #10192
an update: Python track2 SDK supports from_blob_url and stream as upload data input. CLI will support it soon!

[2020-12-15 08:28] zezha-msft commented on #3447
@Juliehzl please let us know how you'd like to proceed.

As @colemickens pointed out, AzCopy supports block blobs with the piping mode already. We don't have support for page blob yet.

[2020-12-15 08:28] letienne commented on #16195
[code]

throws

`BadRequestError: Operation failed with status: 'Bad Request'. Details: MaxReturn property must be defined for MultiValue profiles.`

Then:

[code]

throws

[code]

Version:

[code]

[2020-12-15 08:29] zezha-msft commented on #16071
Hi @Juliehzl, yes, AzCopy does have a way of accepting AD credential directly. Let's set up some time to discuss the specifics.

[2020-12-15 08:39] BasSmuldersCZ opened #16272 "az storage share create broken implementation"
Recently running the command
az storage share create --account-name accountName --name shareName returns

"There are no credentials provided in your command and environment, we will query for the account key inside your storage account. Please provide --connection-string, --account-key or --sas-token as credentials, or use `--auth-mode login`"

Running the command
az storage share create --account

[2020-12-15 09:24] MiDoWD opened #16274 "Improve reporting on "'too many 5XX error responses""
**Is your feature request related to a problem? Please describe.**
The client classes generated from swaggers perform automatic retries on retriable errors. This is good. However, if the retries don't help, it results in `ResponseError('too many 5xx error responses',)` which gives no further details.
Even with the `--debug` parameter, there are no details given about what the retried errors were.

[2020-12-15 09:26] alpersilistre commented on #16262
This error occurs in the azure-cli wta-dev version, I switched back to **2.15.1** and didn't get the error.

[2020-12-15 11:08] yonzhan commented on #16272
storage

[2020-12-15 13:20] Juliehzl commented on #16071
Thanks @zezha-msft!

[2020-12-15 14:25] Juliehzl commented on #3447
Thanks @zezha-msft  for the confirmation. We would support it soon.

[2020-12-15 14:44] xuyae573 commented on #15432
I have use the below command to install kubectl, I think the official document is outdated
` az extension add --name aks-preview`

[2020-12-15 17:03] kibnelbachyr opened #16276 ""az batch job-schedule create" missing --environment-settings and --UserIdentity parameters"
**Is your feature request related to a problem? Please describe.**
I am trying to create a Batch job schedule in a Azure Batch account with "az batch job-schedule create", then I found that I can't add environment variables and "User Identity"( the user identity under which the tasks run) to the Job Manager Task.

**Describe the solution you'd like**
Add --job-manager-task-environment-settings and

[2020-12-15 17:14] binarysenator commented on #16259
I've seen this same behaviour from Azure DevOps CLI Step. (windows-2019 hosted agent) and it was working fine and then in the last couple of weeks it has stopped working with the same error.

[2020-12-15 17:43] oshz opened #16277 "WebApp:Error while using az webapp command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-12-15 18:06] obtek opened #16278 "Quickstart: Deploy Hello World to Service Fabric Mesh"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
 az mesh deployment create --resource-group Audicity --template-uri https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/helloworld/helloworld.linux.json --parameters "{'location': {'value': 'eastus'}}"

**Errors:**
BadRequestError: The request content was inval

[2020-12-15 18:36] maertendMSFT commented on #13855
@patricekrakow does this only occur the first time you are connecting to the new file share?  My guess is that you are deleting the old file share, creating the new file share, then cloud shell is giving you the session before it has finished making the updates to the storage account settings for the new file share.

[2020-12-15 18:38] maertendMSFT commented on #15756
@prashantp48 are you still seeing this error?  We have made a few updates since this was opened.

[2020-12-15 18:39] jmeadowcroft commented on #16215
I deployed a different different application gateway and I no longer receive the internal error. I thought it might be helpful to provide the configuration of the app gateway that produced the error. Here is the deployment arm template.
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "a

[2020-12-15 18:46] jmeadowcroft opened #16279 "Response doesn't help/make sense: az network application-gateway private-link add"
**Describe the bug**
I get the message "Subnet duplicates" when running the below command. This message does not make sense to me, as the subnet I am specifying is in the vnet that the app gateway is connected to, and the private link subnet has no other attached resources.
az network application-gateway private-link add --frontend-ip {my-existing-frontend-ip} --name {new-private-link-name} --subn

[2020-12-15 18:51] Zeka13 commented on #15976
can you provide workaround please?

[2020-12-15 19:33] anthonychu commented on #16265
@glennmusa Can you please try again but set the plan to Linux? I think the plan needs to be set to Linux for anything other than consumption.

[code]

[2020-12-15 20:05] bcaton85 opened #16280 "`--assign-identity` flag being ignored when running aks create"
**Describe the bug**
We have a pre-made managed identity in our resource group. We want to assign this managed identity during the cluster creation process. We are running the following command to create the AKS cluster:
[code]

The issue being when we run the command the `--assign-identity` flag is ignored and the az cli attempts to create the cluster with the service principle anyway.

**To Repr

[2020-12-15 20:30] skingd commented on #15232
Sorry for the delay. Holidays and illness.

I've validated the permissions and added some extra to no avail. If you're available, I can teams/skype meet so you can see the configuration. I have MI working with .net core both on-prem and in Azure Functions to write blobs just fine - no issues at all. Just seems to be PS that is struggling.

[2020-12-15 20:42] joelbyford commented on #15985
@fengzhou-msft, believe this is related to the [install instructions](https://github.com/joelbyford/azure-docs-cli/blob/jobyford/docs-ref-conceptual/install-azure-cli-apt.md) you help maintain.

[2020-12-15 22:11] girishmotwani opened #16282 "Add a new parameter named web-categories to FirewallPolicy Application Rule"
Resource Provider
Network (NRP)

Description of Feature or Work Requested
Need to add a new parameter named "web-categories" to the commands:
az network firewall application-rule create/update.

This will be a list of strings.

Also, user can specify either TargetFQDNs, FqdnTag or WebCategories.
There is another issue open to add "TargetURLs" as another parameter to same command. With that too, it

[2020-12-15 22:19] glennmusa commented on #16265
Ahh, good catch @anthonychu. Thanks for the help.

Specifying `az functionapp plan create --is-linux true` indeed creates a plan that allows for the an app to be created with `az function plan create --os-type Linux`.

@yonzhan I admit I do not know the impact of such a change, but some feedback, it seems these arguments accomplish similar results, and in this case need to be paired to get the des

[2020-12-15 23:35] chenlomis opened #16283 "Interesting behavior of az upgrade..."
**Describe the bug**
Not entirely sure what the error is...

![image](https://user-images.githubusercontent.com/30876406/102285582-6f459580-3eeb-11eb-9678-aae8e876fbc0.png)

**To Reproduce**
See above

**Expected behavior**
Not sure what to expect either.. but wasn't able to act on the error really

but interesting the version was upgraded..?
![image](https://user-images.githubusercontent.com/3087

[2020-12-15 23:38] yonzhan commented on #16276
batch

[2020-12-15 23:39] yonzhan commented on #16277
webapp

[2020-12-15 23:40] yonzhan commented on #16278
Service Fabric Mesh

[2020-12-16 00:03] yonzhan commented on #16279
network

[2020-12-16 01:22] yungezz commented on #16274
thanks for reporting the issue @MiDoWD . Do you mind to share one example when service side return `too many 5xx error responses` and there're still more detail in ARM actual error? It will help us to understand where're the errors from and what they're, then see how to expose them in Azure CLI if detail is available from service side already.

[2020-12-16 01:27] yungezz commented on #16283
good finding. @fengzhou-msft could you pls help to have a look? thanks

[2020-12-16 01:31] yonzhan commented on #16280
aks

[2020-12-16 01:38] yonzhan commented on #16282
network

[2020-12-16 01:56] msyyc commented on #16235
same with https://github.com/Azure/azure-cli/issues/16211

[2020-12-16 01:58] msyyc commented on #16195
got it. we are debugging it now

[2020-12-16 02:07] bstlaurentnz opened #16284 "Filtering in query using the '||' (OR) operator causes errors"
## Describe the bug
A query using the || fails causing error AADSTS50076 where a the same query with && works as expected.

**Command Name**
`az storage account list --query "[?type=='Microsoft.Storage/storageAccounts'||name=='zprodsqllog'].{Name:name}"`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitiv

[2020-12-16 02:55] akshaysngupta commented on #16235
+1 seeing same error when creating a peering.

[2020-12-16 03:55] haroldrandom commented on #16028
@lmcthbe how do you install Azure CLI in kaili ?

[2020-12-16 04:02] Kotasudhakarreddy commented on #14821
@arrownj - could you respond here.

[2020-12-16 04:27] yonzhan commented on #16284
storage

[2020-12-16 05:08] timker opened #16286 "`az rest` generates undocumented/unwanted "resourceGroup" properties"
`az rest` generates undocumented  "resourceGroup" properties

**Describe the bug**

resourceGroup appears everywhere in the response
[code]

**To Reproduce**
[code]

**Expected behavior**
I would expect the same result as using the request directly (with auth).

Using the rest api direcly works as expected.

**Environment summary**
tested on windows and ubuntu (github actions)

**Additional contex

[2020-12-16 05:19] Juliehzl commented on #9959
the PR is merged and  you could try now with edge build https://github.com/Azure/azure-cli#edge-builds.
official release will be available on 12/29

[2020-12-16 05:19] #9959 closed

[2020-12-16 06:03] #15366 closed

[2020-12-16 06:04] fengzhou-msft commented on #15517
Close due to inactivity. Please feel free to open new issues if the latest Azure CLI still does not work for you.

[2020-12-16 06:04] #15517 closed

[2020-12-16 06:06] fengzhou-msft commented on #15675
@mpowrie Did you get a chance to check the above comment?

[2020-12-16 06:07] yonzhan commented on #16286
rest

[2020-12-16 07:06] jiasli commented on #16286
Thanks for reporting this issue. You analysis is correct.

`_add_resource_group` is registered at

https://github.com/Azure/azure-cli/blob/06a83a4e7b6cd3da64b84e9408cb13eb5e5d9fec/src/azure-cli-core/azure/cli/core/commands/transform.py#L14

As removing this field will cause a BREAKING CHANGE, we will discuss internally and work on it in the next sprint.

[2020-12-16 09:54] matteocalabro-tomtom opened #16288 "az ad app create cannot set SAML token optional claims"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app create`

**Errors:**
`saml2token` is discarded from optional claims

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a `manifest.json` with a `saml2Token` entry:
[code]
- `az ad app

[2020-12-16 10:26] fengzhou-msft commented on #16288
@jiasli please take a look.

[2020-12-16 10:46] marksolbergerbjorkerot opened #16289 "Azure Function managed identity in corrupted state"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
After a failed deployment using AzureDevOps/deploy via az functionapp a staging slot has had its managed identity corrupted. Trying to show/disable it/re-create fails through the CLI.

**Command Name**
`az functionapp identity show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note tha

[2020-12-16 10:59] ivanst0 commented on #15212
I believe this could be easily fixed by changing

    'msal~=1.0.0',
    'msal-extensions~=0.1.3',

into

    'msal~=1.0',
    'msal-extensions~=0.2',

@arrownj, would this work?

[2020-12-16 11:16] yonzhan commented on #16289
functionapp

[2020-12-16 11:31] nboeckmann commented on #16235
+1 - And now it's getting really annoying as the hosted Agents in Azure DevOps have just been switched to 2.16 - So no one using Azure DevOps can create any network peerings using the Azure CLI task anylonger.

[2020-12-16 11:33] nboeckmann commented on #16211
+1 and now it's getting really annoying as the hosted Agents in Azure DevOps have just been switched to 2.16 - So no one using Azure DevOps can create any network peerings using the Azure CLI task anylonger.

[2020-12-16 12:10] Kotasudhakarreddy commented on #15680
@geremy42 - I am unable to repro the issue in the latest CLI version (2.16.0) . Please try with latest version and reopen this issue if you are still facing the same.

[2020-12-16 12:10] #15680 closed

[2020-12-16 12:30] yonzhan commented on #16211
We are proactively following up with service team about this and will update later.

[2020-12-16 12:30] yonzhan commented on #16235
We are proactively following up with service team about this and will update later.

[2020-12-16 13:05] noamichael commented on #16280
I think the issue can be found in the [Azure Extension for AKS](https://github.com/Azure/azure-cli-extensions/blob/a05d404fce609fb3d0580949c7b8edcd5cd73fa1/src/aks-preview/azext_aks_preview/custom.py#L990). The `_ensure_aks_service_principal` function is always called even if `enabled_managed_identity` is passed:

[code]

It works in some environments for me because [it loads a cached version of t

[2020-12-16 13:15] NBroomfield commented on #11469
+1 This is causing me issues trying to access a private GitLab CI repository on default port of 5050.

[2020-12-16 13:28] fhoy opened #16290 "azure-cli-core has hard dependency on previous version of azure-mgmt-core"
Similarly to https://github.com/Azure/azure-cli/issues/15496, `azure-cli-core` has a hard dependency on the previous version of `azure-mgmt-core`. While the problem of https://github.com/Azure/azure-cli/issues/15496 was worked around by vendoring the code in question, an older `azure-mgmt-core` is still required, which means that we have to keep using an older version of `pip` and ignore its warni

[2020-12-16 13:35] smokedlinq commented on #16211
This broke our release processes that manage all our vnet peering. With the 2.16 release, several az commands have changed in ways that are broken our pipeline. As much as I love the tooling, I need stability.

[2020-12-16 14:04] yonzhan commented on #16290
azure-cli-core

[2020-12-16 14:16] MiDoWD commented on #16274
Hi @yungezz, my specific context is our resource provider `Wandisco.Fusion` which is able to control certain service running in customer's on-premise infrastructure. It could happen that our request fails because we can't reach that on-premise service. This could be temporary network glitch (that's why we return retriable 5xx error), but it could be caused by e.g. the service being down. So our er

[2020-12-16 14:25] Kotasudhakarreddy commented on #10267
This test is no more available after Updating websites extension to the latest `Python SDK version 0.48.0`. for more details please look in to https://github.com/Azure/azure-cli/pull/15514

[2020-12-16 14:25] #10267 closed

[2020-12-16 14:46] roberthardy opened #16292 "Incorrect URL in help content for az vm create"
**Describe the bug**

`az vm create --help` returns help content that includes the URL https://docs.microsoft.com/en-gb/azure/virtual-machines/virtual-machines-linux-using-cloud-init. However the resource it refers to does not exist.

**To Reproduce**
1. In Cloud Shell (Bash) run `az vm create --help`
2. Find the URL displayed under the text "Create an Ubuntu Linux VM using a cloud-init script for

[2020-12-16 15:05] nboeckmann commented on #16211
any update on this one?

[2020-12-16 15:05] nboeckmann commented on #16235
any update on this one?

[2020-12-16 18:05] bergmeister commented on #9158
@limingu I am running into the same problem as well like @cbellee  and I am on the latest version and try to connect to it via storage explorer for testing purposes
[code]

repro: `az storage container generate-sas --account-name $accountName --name $containerName  --expiry 2021-01-01 --policy-name $PolicyName`

[2020-12-16 18:23] alepauly commented on #16235
@nboeckmann, @djr29578, @runemy , @akshaysngupta, @msyyc - the following commands can be use to downgrade the version and unblock your builds on the Hosted Azure DevOps agents:

Windows:
[code]

Ubuntu:
[code]

Please keep us posted on any issues with them. Thanks!

[2020-12-16 18:25] alepauly commented on #16211
xpost from https://github.com/Azure/azure-cli/issues/16235#issuecomment-746773514

the following commands can be use to downgrade the version and unblock your builds on the Hosted Azure DevOps agents:

Windows:
[code]

Ubuntu:
[code]

Please keep us posted on any issues with them. Thanks!

[2020-12-16 19:04] nboeckmann commented on #16235
Hey @alepauly,

that works! Thank you!

Nils

[2020-12-16 19:18] alepauly commented on #16235
Also, for MacOS:

[code]

[2020-12-16 23:02] scottstensland commented on #16253
Yes that solution works !!!!   Thanks ... to summarize

[code]

then your good install ( as of 20201216 )  will be

[code]

[2020-12-16 23:02] #16253 closed

[2020-12-17 01:56] nezuko-cc commented on #15010
Hi I experienced the same issue that I can't delete my prirvate dns zone which has no nested resources(no vnet link, only the automatically created SOA record) I am wondering is it a known bug? And is there any plan on fixing it? Wondering if we should file an azure support ticket to get some help deleting it?

[2020-12-17 02:11] msyyc commented on #16211
Thanks for comment. We have found the problem and it will be fixed in new version(will be released at about 2020/12/31). The problem could be avoided temporarily through downgrading version to 2.15.1.

![image](https://user-images.githubusercontent.com/70930885/102434644-24915e00-4050-11eb-9975-1b51068a8998.png)

![image](https://user-images.githubusercontent.com/70930885/102434658-2bb86c00-4050-1

[2020-12-17 02:12] msyyc commented on #16235
Thanks for comment. We have found the problem and it will be fixed in new version(will be released at about 2020/12/31). The problem could be avoided temporarily through downgrading version to 2.15.1.

![Uploading image.png…]()

[2020-12-17 03:31] msyyc commented on #16195
we have found the problem and it will be fixed at next CLI version(about 2020/12/31)

[2020-12-17 06:45] jiasli commented on #15212
@qwordy, could you help verify if `msal-extensions~=0.2` works for VM SSH?

[2020-12-17 06:46] #16145 closed

[2020-12-17 06:46] #15941 closed

[2020-12-17 06:46] #15943 closed

[2020-12-17 09:13] letienne commented on #16195
Thank you

[2020-12-17 10:15] haroldrandom commented on #16150
It's caused by one of the base classes of ScenarioTest, [ReplayableTest](https://github.com/Azure/azure-python-devtools/blob/4be812e0237572afa23c37c259c414be79557e54/src/azure_devtools/scenario_tests/base.py#L125-L126)

In the constructor function, it will remove the corresponding YAML file
[code]

And the decorator `record_only` take effects only via setting an environment variable
[code]

We sho

[2020-12-17 11:10] alperc92 opened #16303 "unmanaged error message when upload resource to blob container"
az storage blob upload -f "<path>" -c <container> --name <name>" --connection-string <connection string>

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload -f {} -c {} --name {} --c

[2020-12-17 12:34] graingert commented on #15074
this causes pip-compile to fail without `pyopenssl<20.0.0`:

[code]

[2020-12-17 12:38] Peder2911 opened #16305 "Exception when running acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build -t {} -n {} {}`

## Expected Behavior

## Environment Summary

[2020-12-17 12:39] Peder2911 commented on #16305
Sorry, might have mistyped, I used `-t <registry name`, but when i changed it to `--registry <registry name>` it worked.
Maybe a better error message would be nice though+

[2020-12-17 13:36] yonzhan commented on #16303
storage

[2020-12-17 13:38] yonzhan commented on #16305
acr

[2020-12-17 13:40] stan-sz opened #16307 "Disable _update_latest_from_github in tests"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When calling az cli in tests and asserting on each outbound call, we see that `_update_latest_from_github` gets called and there is now way to disable that behavior.

**Errors:**
There's an outbound connection to https://example.org from `check_connectivity`

## To Reproduce:
Steps to reproduce the behavior. N

[2020-12-17 13:57] chtelf commented on #16211
![image](https://user-images.githubusercontent.com/60383154/102496823-3129ac80-4078-11eb-811b-71e691b66639.png)

![image](https://user-images.githubusercontent.com/60383154/102496746-18b99200-4078-11eb-890f-d55bab9068cc.png)

[2020-12-17 15:59] diberry opened #16308 "Return subscription name when creating resource group"
**Is your feature request related to a problem? Please describe.**
I'm on many subscriptions and I don't have all the Guids memorized. When I create a resource group, I want to immediately be able to know, visually or programmatically, which subscription it was created on.

**Describe the solution you'd like**
Result of `az group create` returns subscription name, along with id.

**Describe altern

[2020-12-17 16:19] peterbozso commented on #9004
Are there any updates on this? This scenario would be interesting for my customer.

[2020-12-17 16:53] charris-msft opened #16310 "Erroneous "Check your internet connection" message"
**Describe the bug**
When running `az --version` returns "Unable to check if your CLI is up-to-date. Check your internet connection." while connected to the internet.

**To Reproduce**
1. Go to speedtest.net
2. Start a speedtest
3. Run `az --version`
4. Receive following response:
[code]

**Expected behavior**
I expected to find out that my version was up-to-date or that I needed to upgrade.

**En

[2020-12-17 17:22] etaham commented on #8568
This isn't fixed. Please reopen.

[2020-12-17 17:44] genegc opened #16311 ""az synapse notebook create" fails on simple example"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse notebook create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse notebook create --workspace-name {} --name {} --fi

[2020-12-17 18:12] yugangw-msft commented on #16305
Can core team take a look first? The error is from the generic argument parsing layer

[2020-12-17 18:18] jcormier opened #16312 "az acr login hangs"
**Describe the bug**
Running ```az acr login --name ensuretouchdev``` never finishes

**To Reproduce**
Run command

**Expected behavior**
Login into registry

**Environment summary**

Ubuntu 18.04
[code]

[code]

**Additional context**

[code]

[2020-12-17 20:10] #16228 closed

[2020-12-17 22:19] setunol commented on #16162
Hello all,

Sorry about the delay in providing an update here.  I think we can disregard this, as the issue was due to subscription team didn't complete the request to the region that customer has requested.

From technical side, they have confirmed that everything is working now after the quota increase is completed.

Sorry for the inconveniences.

Thank you,

Michael Li
Support Eng, Azure Networ

[2020-12-17 23:21] yonzhan commented on #16308
ARM

[2020-12-17 23:26] yonzhan commented on #16311
synapse

[2020-12-17 23:28] yonzhan commented on #16312
acr

[2020-12-17 23:54] yungezz commented on #16310
hi @fengzhou-msft we may need consider more concern case on this. could you pls have a look? thanks

[2020-12-17 23:55] yungezz commented on #16307
hi @fengzhou-msft could you pls help to have a look? thanks

[2020-12-17 23:56] yungezz commented on #16292
thanks for reporting. hi @qwordy could you pls help to fix the link? thanks

[2020-12-18 01:16] chenlomis opened #16313 "[Customer feedback] Help/find could be more extensive"
**Is your feature request related to a problem? Please describe.**

Yes, customers expecting help to be more comprehensive or extensive but it's currently not the case

Customer feedback:

"You should include more different examples with your   commands.  For example, both          az ad sp create --help     az find "az ad sp create"          display the same one example.  The   message 'For more

[2020-12-18 01:53] #16162 closed

[2020-12-18 01:55] jsntcy commented on #16211
@chtelf,
- Did you log in as the root user?
- What Linux distros did you use? Debian, Ubuntu?
- From the error "sudo: command not found", it's not an issue related to Azure CLI. You can google it to resolve the issue.

[2020-12-18 02:06] #15377 closed

[2020-12-18 02:28] Juliehzl commented on #16303
Hi @alperc92, could you make sure you could read for the target file? And what is your value for `-f`? is it a valid file?

https://stackoverflow.com/questions/36434764/permissionerror-errno-13-permission-denied/36469464

[2020-12-18 02:34] haroldrandom commented on #16235
One of live test failed due to the same issue https://clitestresultstac.blob.core.windows.net/20201211-043721-979918/network.report.parallel.html

[2020-12-18 02:40] Juliehzl commented on #16284
Hi @bstlaurentnz, you get the error because when `||` takes effect, you will get more storage account to list. But it seems you cannot access some of them due to AAD requirement.
Please check your AAD role with admin and try to use multi-factor authentication to access.

[2020-12-18 02:40] Juliehzl commented on #16284
@jiasli  for AAD issue.

[2020-12-18 02:51] Juliehzl commented on #16272
Hi @BasSmuldersCZ, `--auth-mode login` is not supported in `az storage share create`.
We would refine the error message. Thanks for the feedback!

[2020-12-18 02:55] Juliehzl commented on #16217
hi @ghost, the error is EndpointUnsupportedAccountFeatures. Could you share more info with `--debug` in your command?
Could you also share your storage account info? Have you enabled hierarchical namespace for your storage account?

[2020-12-18 02:57] jiasli commented on #16284
`--query` has nothing to do with the REST API call and only works on the **response** of the REST API call. So the issue is not related to `&&` or `||`.

The error means there is some configuration change on the tenant. You may simply run `az login` to re-authenticate and the command will work as expected.

[2020-12-18 03:01] idear1203 commented on #16311
BadRequest usually means there are errors in the payload. Could you please provide the definition file?

[2020-12-18 03:04] nino-baywa opened #16314 "Unable to update the app after changing resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --resource-group {} --name {} --subscription {}`

##

[2020-12-18 03:28] msyyc commented on #15976
Because of the validator check, both of ssl-file and password is necessary. So if hurried to use the function, please use ssl file with password. And we will release a new CLI version at around 2020/12/31.

[2020-12-18 03:42] mattallford commented on #16211
Hi all,

I received a `E: Version '2.15.1-1~focal' for 'azure-cli' was not found` when trying to run `sudo apt-get install azure-cli=2.15.1-1~focal` in a pipeline task. This is a Bash@3 task running on a `ubuntu-latest` vmImage.

Full output from the task is below. Am I doing something wrong or using the wrong task?

[code]

Cheers, Matt.

[code]

[2020-12-18 03:49] #16314 closed

[2020-12-18 03:49] #15976 closed

[2020-12-18 05:45] msyyc commented on #16211
How about install azure-cli through pip : "pip install azure.cli==2.15.1"

[2020-12-18 05:53] Qq20180503 opened #16316 "“az network vnet peering create” results in “BadRequestError: Cannot parse the request.”"
**Describe the bug**
"az network vnet peering create” results in “BadRequestError: Cannot parse the request.”  with CLI version 2.16.0

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/38937369/102579622-c9d33180-4137-11eb-88d6-3547137a5de9.png)

**Expected behavior**

![image](https://user-images.githubusercontent.com/38937369/102579838-48c86a00-4138-11eb-944f-56205f96

[2020-12-18 06:07] haroldrandom commented on #15848
CLI does nothing for tricky loop, it might be a service attention. If it's a stable and reproducible scenario, I will invite service team to dig into.

leave it open for awearness.

[2020-12-18 06:49] yonzhan commented on #16316
network

[2020-12-18 06:52] msyyc commented on #16316
same question with https://github.com/Azure/azure-cli/issues/16211, https://github.com/Azure/azure-cli/issues/16235.
The bug will be fixed in new CLI version (about 2020/12/31)

[2020-12-18 07:28] yonzhan commented on #16313
route to service team.

[2020-12-18 09:40] haroldrandom commented on #15893
The result comes from service directly, so route to service team for better improvement

[2020-12-18 09:50] mattallford commented on #16211
Hi @msyyc, thanks for the reply.

Doesn't look like anything above version 2.2.0 is found with pip:

[code]

[2020-12-18 10:10] haroldrandom commented on #15619
close as all failed tests fixed

[2020-12-18 10:10] #15619 closed

[2020-12-18 10:18] mruepp opened #16317 "Unable to create service principal with azure cli from git bash shell, no connection adapters were found."
**Describe the bug**
When trying to create an azure service principal from git bash or programatically from bash scripts, the task fails with the following error:
[code]
This is a long persistent error and is still not solved. We need to bootstrap environments programatically.

The command involved is:
[code]

I also tried to change the read write permissions of the
C:/Program Files/Git and its su

[2020-12-18 10:24] msyyc commented on #16211
1. "python --version": confirm python version(CLI don't support python 2.x anymore)
2. "python -m venv myvenv":create virtual python environment
3. "source venv/bin/activate":enter the virtual env
4. "pip install azure-cli==2.15.1"
5. "az version" : confirm whether downgrade succeeds.

[2020-12-18 12:41] genegc commented on #16311
The definition file is provided above - within the "Additional Context" section

[2020-12-18 13:35] BasSmuldersCZ commented on #16272
Ok, that fixes the error message, but that still does not fix the real issue. The error still occurs even when specifying the account key or connectionstring. This issue occurs locally and Microsoft Hosted DevOps agents as well.

[2020-12-18 16:46] nirmal5202 commented on #13077
try running those commands separately.
Here is one approach:
`az sql server ad-admin create --display-name/-u
 az sql server ad-admin create --object-id/-i`

[2020-12-18 17:30] mxrss2 commented on #15848
hey @haroldrandom

Sorry it took a while, it was happening on and off, its random when it happens. I made a script to wait for the route table to show up. I havent newed up an env as of laste, but will soon to check to see if it is still doing it.

- Mike

[2020-12-18 18:14] christianfosli opened #16318 "`az keyvault certificate download` crashes on Python 3.9"
**Describe the bug**
Trying to download a certificate with the `az certificate download` command, on azure cli 2.16 and python 3.9, crashes with the error **module 'base64' has no attribute 'encodestring'**

**To Reproduce**

* Have python 3.9 and azure cli 2.16

* Have a keyvault _mykeyvault_ with a certificate _mycert_

* `az keyvault certificate download -n mycert --vault-name mykeyvault --file

[2020-12-18 19:49] lmcthbe commented on #16028
It is a Kali package installed with apt install azure-cli but not really up to date as it is version 2.14.2 so I removed it and install azure-cli via pip instead and get the latest version

Sent from my iPhone

[2020-12-18 19:54] christopher-o-toole commented on #16305
@houk-ms @yungezz

This is a known issue resulting from improper handling of positional arguments whilst normalizing parameters for failure recovery recommendations. Newer versions of CLI will no longer have this issue.

[2020-12-19 02:55] #16284 closed

[2020-12-19 03:03] #16305 closed

[2020-12-19 03:07] #16316 closed

[2020-12-19 03:07] yonzhan commented on #16316
duplicated

[2020-12-19 10:12] mpowrie commented on #15675
Hi Feng Zhou,

Sorry for the delay in my response. I figured out the problem: I have the
Azure CLI installed in both my WSL instance and my Windows 10 host.
when typing in az --version into WSL, the Windows version which was
slightly different was responding.

Workaround: Uninstall the Azure CLI from Windows and only have it installed
in my WSL (Ubuntu 20.04).

I'd like to be able to have the azur

[2020-12-19 13:44] mikaelvesavuori commented on #12621
Totally agree and would love to see a full (or at least fuller) support. One of our teams has worked during the fall and we find ourselves in a lot of issues that we have to hack around (some including manual labor). As far as I am concerned, I don't think the bash version `az apim` is production-ready as it works currently.

[2020-12-19 19:00] ecc256 opened #16321 "az vm create - unable to set VM generation"
Original VM was created as Generation 2 from windowsserver-gen2preview
I’ve copied / cloned OS disk and created new VM from it.
New VM was created as Generation 1 and thus unable to boot.

Above scenario works properly if Original VM was created as Generation 1
How do I set VM Generation when a VM is created from existing disk?

[2020-12-19 21:37] rfoltz opened #16322 "Issue with Paramters and Assignment Creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az policy assignment create --name 'tagging-policy' --policy 'tagging-policy' -p "{\"tagName\" : \"e

[2020-12-19 21:43] rfoltz commented on #16322
I'm going to close it. The JSON has to bee in a specific format, after relooking at the documentation it needs to be like this:

[code]

[2020-12-19 21:43] #16322 closed

[2020-12-19 22:26] ecc256 commented on #16321
Figured out, need to clone disk with
` --hyper-v-generation V2`
option

[2020-12-19 22:26] #16321 closed

[2020-12-19 22:51] hyoshioka0128 opened #16323 "Typo "Azure function app"→"Azure Function App""
Typo "Azure function app"→"Azure Function App"

https://docs.microsoft.com/en-us/cli/azure/functionapp/devops-pipeline?view=azure-cli-latest

![devops-pipeline](https://user-images.githubusercontent.com/40815708/102701229-20578180-4298-11eb-9ed6-1f5be3c1485a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3162209-

[2020-12-20 02:03] yonzhan commented on #16323
functionapp

[2020-12-20 03:09] tonytangau opened #16324 "Errors during update VMSS with AGW backend pool"
## Error during update VMSS
Try to use `az vmss update` to attach VMSS to an existing application gateway backend pool, as suggested [here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#update-the-load-balancer-for-your-scale-set).

`az vmss update --resource-group myResourceGroup --name myScaleSet --add virtualMachineProfile.network

[2020-12-20 20:18] Luck547 opened #16325 "WebApp: No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2020-12-20 23:13] yonzhan commented on #16325
webapp

[2020-12-21 01:03] Soyofuki commented on #13881
This works for me as well. So it seems to be a bug when there're dashes in the secret?

[2020-12-21 02:57] #15621 closed

[2020-12-21 03:36] #11032 closed

[2020-12-21 05:28] yungezz commented on #16317
HI @fengzhou-msft could you pls help to check if this related with git bash? If not, psl help to redirect to Yong's team. thanks

[2020-12-21 05:28] yungezz commented on #16318
hi @houk-ms could you pls have a look? thanks

[2020-12-21 05:29] yungezz commented on #16324
hi @qwordy , could you pls help to have a look? thanks.

[2020-12-21 06:24] qwordy commented on #16324
I have two similar issues. I'll prioritize it.

[2020-12-21 06:36] #16216 closed

[2020-12-21 06:39] qwordy commented on #16038
I check the latest code and 2020-12-01 is not in master branch.

[2020-12-21 06:54] yungezz commented on #16274
Thanks @MiDoWD for the detail, they're very helpful to understand the context. As you know, Azure CLI is calling into Python SDK, which will call into Azure Rest API. To trouble shoot why Azure CLI didn't return useful info from service,  we need firstly figure out is  what these detail error of retriable error look like in Rest API response, then are these detail error messages for retriable erro

[2020-12-21 09:58] jsntcy commented on #16211
An [edge build](https://dev.azure.com/azure-sdk/public/_build/results?buildId=660637&view=artifacts&pathAsName=false&type=publishedArtifacts) with fix is ready for you, you can use this build before our official release on 12/29.

[2020-12-21 11:24] Juliehzl commented on #9158
@bergmeister could you show me your policy properties?

[2020-12-21 11:38] v-manish opened #16333 "CLI in not working for version parameter"
When we are trying to enable the lifecycle management from the Azure portal, it is working for all the three subtypes base blobs, snapshots and versions, below is the screenshot:

![image](https://user-images.githubusercontent.com/76432901/102772844-37889300-43ae-11eb-8026-840d07cfed66.png)

Below is the code view for the same:
{
  "rules": [
    {
      "enabled": true,
      "name": "apsartest",

[2020-12-21 12:24] #15545 closed

[2020-12-21 12:50] yonzhan commented on #16333
storage

[2020-12-21 13:01] fengzhou-msft commented on #15675
@mpowrie normally after you installed `azure-cli` in WSL and run `which az`, you should see `/usr/bin/az` no matter whether you installed `azure-cli` with MSI in windows. If not, then you need to fix your `PATH` variable.

[2020-12-21 13:32] MiDoWD commented on #16274
@yungezz I realize that az-cli is not the place which contains the code which handles it, but it seems to be the place where people search for the solution. And I assumed az-cli project has some communication with projects it depends on, so it would be able to follow up with them on the fix (as it's ultimately az-cli where the problem surfaces).

From my investigation (I am not much python expert

[2020-12-21 14:06] fengzhou-msft commented on #16099
The issue is fixed with #16302. Please verify with the latest version of pip.

[2020-12-21 14:15] alexeyshishkin01 commented on #15856
hello, guys ?

any news regarding the issue ?

I tried to use simple possible container image:

'echo FROM mcr.microsoft.com/hello-world > Dockerfile'

and the issue is reproduced.

I also tried to use web-interface to run this container - https://portal.azure.com/#home - the container first starts, than terminates.

On the other hand, if I use ready container image 'mcr.microsoft.com/azuredocs/ac

[2020-12-21 14:15] yungezz commented on #16274
Thanks @MiDoWD for the detail. You're right we work closely with Python SDK team. We'll digest the information here, will come back later.

[2020-12-21 17:08] dbradish-microsoft opened #16334 "spelling error in az config is not throwing an error"
![image](https://user-images.githubusercontent.com/58762114/102802736-1a8b9a00-4385-11eb-80c4-b914e520e658.png)

[2020-12-21 19:06] thisisbrianstewart commented on #11598
Hi @fabiocav  & @ahmedelnably  -- any updated thoughts here?  Would really be nice to manage this the same way as az webapp.

[2020-12-21 22:26] ahamad-MS commented on #16231
Hello @frahugo frahugo  .. Please let us know if you are still having any issue. We are closing this issue as not repro and we think we addressed your concern. If you feel otherwise, or still have a repro even with our instructions, please reactivate. thanks

[2020-12-21 22:26] #16231 closed

[2020-12-21 22:30] ahamad-MS commented on #15618
Thanks for reporting this issue @qwordy  .. Can you please let us know how these tests are being running? and is this still happening? Also, Is this new tests or new failures? Are these live or recorded tests?

We did not touch these tests for long time now and from errors, it seems related to test environment.

[2020-12-21 22:45] yonzhan commented on #16334
error handling in az config

[2020-12-22 01:01] monikasood opened #16335 "Issue while trying to install kube ctl using CLI in Azure Pass subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-12-22 01:04] monikasood commented on #16335
It did install kubectl though. But why this error? Seems it is trying to write to some directory my user does not have permission to.

[2020-12-22 01:14] JasonYuchen opened #16337 "blob copy failed when requires sync"
**Describe the bug**
az storage blob copy start with --requires-sync failed on block blob with CannotVerifyCopySource error.
the copy is successful if remove the --requires-sync

**To Reproduce**
az storage blob copy start ....... --requires-sync

**Expected behavior**
The copy operatiion returns on completion without any error.

**Environment summary**

Install Method: interactive script

CLI ver

[2020-12-22 01:40] yungezz commented on #16335
#16070

[2020-12-22 01:40] yungezz commented on #16335
duplicate with #16070

[2020-12-22 01:42] yungezz commented on #16325
https://github.com/Azure/azure-cli/issues/16277. hi @Luck547 could you pls try uninstall and install latest Azure CLI to see if it resolves the issue?

[2020-12-22 01:46] rafamarrara commented on #16196
I am not sure, but this command could be using a deprecated API
Virtual Machine Sizes - List
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinesizes/list

https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list_

[2020-12-22 01:53] yonzhan commented on #16337
storage

[2020-12-22 05:22] Juliehzl commented on #16337
dupe of https://github.com/Azure/azure-cli/issues/13478.

[2020-12-22 06:24] #10901 closed

[2020-12-22 06:26] #12655 closed

[2020-12-22 06:29] yungezz commented on #13101
hi @abokov there's issue in 2.0.81 which is in default repo of Ubuntu Focal release, detail pls see issue https://github.com/Azure/azure-cli/issues/14011. We have to wait for next main distro release to change CLI version in it. To resolve your issue, could  you pls uninstall 2.0.81 and install latest version of Azure CLI? thanks.

[2020-12-22 07:43] Juliehzl commented on #16337
I could reproduce the issue with even track2 SDK. Here is my trace:
[code]

It doesn't work for my BlockBlob and PageBlob.

[2020-12-22 07:44] Juliehzl commented on #16337
@xiafu-msft could you help take a look? could we transfer the issue to sdk repo? it doesn't work for both track1 and track2 SDK.

[2020-12-22 07:45] yungezz commented on #13601
SDK ETA 7.3 version, Feb 2021

[2020-12-22 07:48] #14979 closed

[2020-12-22 07:52] qwordy commented on #15243
Hi @cnadgonde, can you confirm if Storage Blob Data Reader is an existing role name?

[2020-12-22 08:00] qwordy commented on #15618
![image](https://user-images.githubusercontent.com/5019528/102863961-50587d80-446e-11eb-8b33-95b43b3311cb.png)
They are run in Azure Pipelines. They are still happening. Old tests and old failures. They are run lively. Subscription ID: 0b1f6471-1bf0-4dda-aec3-cb9272f09590

Latest link: https://clitestresultstac.blob.core.windows.net/latest/index.html

Can you help run them in your environment and

[2020-12-22 08:21] #15528 closed

[2020-12-22 08:24] yungezz commented on #16022
hi @vigneshmsft could you pls uninstall 2.0.81 and install latest Azure CLI? there's some issue in 2.0.81 version detail pls see https://github.com/Azure/azure-cli/issues/14011.

[2020-12-22 10:40] lkjangir opened #16338 "aks commands not working on windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-12-22 11:38] yonzhan commented on #16338
aks

[2020-12-22 15:20] se-kolb commented on #12722
Am doing this through Python SDK - same problem - we are automating destruction of vm's in parallel and it is a blocker.

[2020-12-22 18:34] JonathanFingold opened #16339 "Help text is confusing and contradictory after adding Kusto extension"
## Describe the bug
After installing the Kusto extension the help text still indicates that the module will be going away, and that you should install the extension.

**Command Name**
`az kusto`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az extension add`           : SUCCESS. Ra

[2020-12-22 18:36] craiglandis opened #16340 "[az vm run-command invoke] Add params for newer properties supported by the API"
**Is your feature request related to a problem? Please describe.**
For **az vm run-command invoke** please add params for these properties the API itself supports - asyncExecution, errorBlobUri, outputBlobUri, protectedParameters, runAsPassword, runAsUser, timeoutInSeconds, and tags

**Describe the solution you'd like**
CLI should expose all API properties

**Describe alternatives you've considere

[2020-12-22 19:43] #16022 closed

[2020-12-22 20:49] mkoziel2000 opened #16341 "Azure CLI in Docker not working"
**Describe the bug**
Whenever running a windows container on Docker in windows 2019 as the host, the "az" CLI command immediately returns rather than showing the banner and help information.  The problem looks to be with the "python.exe" that it is calling in the CLI2 directory.  That program seems to immediately return with no output when called from the commandline.

It seems to be related to th

[2020-12-22 20:51] mkoziel2000 commented on #16341
FYI...Loading the most recent version of the Azure CLI tools into the image (2.16.0) didn't seem to improve anything.

[2020-12-22 22:20] Czhang0727 commented on #14135
Hitting the same error here seems the issue is Azure-Cli somehow referred to internal python3 which does not compatible with armhf. Manual switch python3 to os will fix the issue.

[2020-12-22 23:31] ctaggart opened #16343 "new command group: az marketplace terms"
As [suggested](https://github.com/Azure/azure-cli/pull/10896#issuecomment-543454832) by @jiasli, it would be great to have a new command group `az marketplace terms` or just `az terms`.  #10896 added `az vm image terms`.

## new commands
- az marketpalce terms list
- az marketpalce terms show --publisher {publisher} --offer {offer} --plan {plan}
- az marketpalce terms accept --publisher {publisher

[2020-12-23 01:03] grtn316 opened #16344 "M Series SKUs not being returned in "az vm list-skus""
**Describe the bug**
I am trying to return all available SKUs and their zones and noticed the M series is missing.

**To Reproduce**
`az vm list-skus --location eastus2 --subscription "<SubName>" --query "[?contains(name,'M')]" -o table`

**Expected behavior**
Return a list of M series SKUs like: Standard_M16-8ms.

**Environment summary**
Ubuntu 18.04
azure-cli                         2.16.0
core

[2020-12-23 01:16] yungezz commented on #16340
put in next sprint.

[2020-12-23 01:36] yungezz commented on #16343
thanks @ctaggart , will discuss detail with you offline.

[2020-12-23 01:37] yungezz commented on #16341
hi @fengzhou-msft could you pls have a look? thanks

[2020-12-23 01:39] yungezz commented on #16344
HI @grtn316 Is M series skus returned in eastus2 by rest API? @qwordy could you pls have a look is this service response?

[2020-12-23 02:11] wallace223 opened #16345 "Issue trying to create backup policy from Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup policy create`

**Errors:**
wallace@Azure:~$ az backup policy create --policy {policy} --resource-group K8s --vault-name RSV1000 --name wchen-backup-test02 --backup-management-type AzureIaasVM --workload-type VM
Command group 'backup' is in preview. It may be changed/removed in a fu

[2020-12-23 02:13] jiasli commented on #16290
https://github.com/Azure/azure-cli/pull/16074 was opened by a contributor to unpin `azure-mgmt-core`.

[2020-12-23 02:23] #9948 closed

[2020-12-23 02:28] qwordy commented on #16343
@ctaggart Great proposal. We need study the impact when update command name.

[2020-12-23 02:30] Juliehzl commented on #9948
Thanks @elilienstein for your feedback. I add your tips in our document https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/storage/docs/Use%20Storage%20Commands.md#L14-L13

[2020-12-23 02:32] yonzhan commented on #16345
backup

[2020-12-23 02:35] qwordy commented on #16344
@grtn316  My results. Could you remove `--query` and see if the expected size exists?
[code]

[2020-12-23 02:42] qwordy commented on #16340
@craiglandis Thank you for reporting it.

[2020-12-23 02:56] grtn316 commented on #16344
@qwordy When removing the filter, I still do not see the SKUs.

- I can see them when I run az vm list-sizes -l eastus2
- I can select them from the portal when configuring a VM

When I run:

`$ az vm list-usage -l eastus2 --query "[?contains(localName,'M')]" -o table

<pre>CurrentValue    Limit    LocalName
--------------  -------  ------------------------------
4               25000    Virtual M

[2020-12-23 03:44] fitzgeraldsteele opened #16346 "Assign Fault Domain during VM Create"
**Resource Provider**

Compute RP

**Description of Feature or Work Requested**

When creating a virtual machine that is added to a VMSS flex, customer can now specific the fault domain where they would like the VM to land

VMSS Maximum FD count per region available via SKUs API

/skus

Type = availabilitySet

Name = Aligned

Capabilities[0].name=MaximumPlatformDomainCount.value

VM must be in a V

[2020-12-23 03:48] ctaggart commented on #16343
@qwordy, I do not recommend changing the existing command group. I think you should leave `az vm image terms` as is. `az marketplace terms` would be a new command  group.

[2020-12-23 04:09] codeayra commented on #12722
Unfortunately, there is no way  to solve this. the only way is to either wait/sleep and check again if its purged completely or poll it continuously to check if it purged completely and then do your next operation.
Something like this.

` @Async
    public Object deleteAndPurgeSecret(KeyVaultClient client, String keyVaultUrl, String secret) {
        try {
            client.deleteSecret(keyVaultU

[2020-12-23 04:59] qwordy commented on #16343
OK. Got it. They are different APIs.

[2020-12-23 05:19] ozbillwang opened #16347 "allow to run shell commands in "az interactive""
**Is your feature request related to a problem? Please describe.**

no
**Describe the solution you'd like**

when run command in `az interactive`, it only allows az commands. This would be an inconvenience.

For example, I'd like to set a variable and using in az commands, it gives me error messages as below

[code]

Could we treat any commands if not start with `az `, as shell commands?

**Descri

[2020-12-23 05:46] mpowrie commented on #15675
Hi Feng Zhou,

Thanks. I was surprised to see my Windows host OS path entries mixed
into my WSL bash paths - I'll remove the redundant Windows paths from WSL.

On Tue, 22 Dec 2020 at 00:01, Feng Zhou <notifications@github.com> wrote:

[2020-12-23 05:46] yonzhan commented on #16347
interactive

[2020-12-23 06:36] jiasli opened #16348 "AzCLIError should take kwarg original_exception"
**Is your feature request related to a problem? Please describe.**

When an exception is caught and wrapped by `AzCLIError`, the analysis of the root cause of the exception may not be correct, thus the recommendation can also be misleading.

For example, #15776 assumes `InvalidURL` is caused by invalid AAD endpoint in cloud registration, but the exception is actually caused by invalid proxy URL. T

[2020-12-23 07:20] #15519 closed

[2020-12-23 07:20] #15264 closed

[2020-12-23 07:29] #16185 closed

[2020-12-23 07:29] #14583 closed

[2020-12-23 07:41] qwordy commented on #15539
Hi @mainred, does the error still occur?

[2020-12-23 07:58] qwordy commented on #15544
Hi @CesarSolis , Could you provide more details?
Default is all sizes no matter it support zone or not.
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_list_skus

[2020-12-23 07:59] pvrk commented on #16345
@wallace223 : Without the actual policy details, it is hard to figure out the error root cause. Can you please provide the JSON file details to my email "pullabhk@microsoft.com"?

[2020-12-23 08:12] mainred commented on #15539
@qwordy , I did not hit this problem after several tries.

[2020-12-23 08:20] crixo commented on #14135
@Czhang0727 I have the same problem too. The funny thing is that it seems to exist an ARM64 version https://pkgs.org/download/azure-cli.
MS documentation https://docs.microsoft.com/it-it/cli/azure/install-azure-cli-linux?pivots=apt use only amd63 example and says "The apt package manager contains an x86_64 package for the Azure CLI...."
It seems there's a blurry zone as far as I understand.

[2020-12-23 10:37] yonzhan commented on #16348
AzCLIError

[2020-12-23 12:34] yungezz commented on #16346
hi @qwordy could you pls take care of this? thanks.

[2020-12-23 13:25] vllama opened #16351 "az resource list with --resource-type 'Microsoft.Web/sites/deployments' returns no results"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
the list is always empty for any resource-group I try if resource-type is 'Microsoft.Web/sites/deployments'
**Command Name**
`az resource list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have some re

[2020-12-23 13:31] yonzhan commented on #16351
ARM

[2020-12-23 18:41] balavivek143 opened #16352 "Permission issue while installing AKS Client [kubectl]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Permission issue while exeucting az command to install kubectl in azure cloud shell

**az aks install-cli --install-location ./kubectl**
``

**Errors:**
Downloading client to "./kubectl" from "https://storage.googleapis.com/kubernetes-release/release/v1.20.1/bin/linux/amd64/kubectl"
Please ensure that . is in y

[2020-12-23 19:26] MehaKaushik commented on #16313
Please use this docs for time being https://docs.microsoft.com/en-us/cli/azure/cosmosdb/sql/container?view=azure-cli-latest

We will work on making the help more elaborate in the cmdlets

[2020-12-23 19:28] karabasosman opened #16353 "AKS Enable Add-on for Azure Policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --name {} --resource-group {}`

##

[2020-12-23 19:46] karabasosman commented on #16353
It solved after updating CLI.

[2020-12-23 19:46] #16353 closed

[2020-12-23 20:11] ShaohuaJoseph opened #16354 "Azure - Error: az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-12-23 23:31] ericsuhong opened #16355 "az monitor and many other subgroups are not available in Linux (WSL)"
**Describe the bug**
az monitor subgroup is not available in Ubuntu Azure CLI

**To Reproduce**

**az help** command output from windows:
[code]
**az help** command output from Linux (WSL) (missing monitor and many other subgroups:
[code]
**az version** command output from BOTH Windows and Linux (missing monitor and many other subgroups):
[code]

**Expected behavior**
Same subgroups should be avai

[2020-12-23 23:49] yonzhan commented on #16352
aks

[2020-12-23 23:52] yonzhan commented on #16354
az login

[2020-12-23 23:56] yonzhan commented on #16355
monitor

[2020-12-24 02:03] msyyc commented on #15015
@brianlehr The minimum version "2020-08-01" for network is not prepared. Please inform us when it prepared.

[2020-12-24 02:30] Juliehzl commented on #16313
From customer feedback, we could get two points to improve:
1. Remove the duplicated examples in `az find`. The examples in `az find` and in `--help` are the same because they may both from Aladdin. With more and more Aladdin generated examples integrated to `--help`, `az find` could be replaced with more effective ones. Just as @chenlomis mentioned, we could add:
  - ms document link from service

[2020-12-24 03:29] qwordy commented on #16346
Hi Jerry, what's the current status of 2020-12-01. It is not in master branch yet.

[2020-12-24 03:31] qwordy commented on #15539
Great! Close this issue.

[2020-12-24 03:31] #15539 closed

[2020-12-24 04:45] kairu-ms commented on #16355
@ericsuhong Can you try again by following the install [doc](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)

[2020-12-24 06:50] lujinlou opened #16356 "Azure CLI unable to create portal dashboards from templates"
**Describe the bug**
When I run the  `az portal dashboard create` command to create an Azure Portal Dashboard, it reports the error message >>>

**To Reproduce**
1. Create a Json file or Export the Dashboards Template json in Azure Portal.
The sample Json code url: https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards-create-programmatically#json-representation-of-our-example

[2020-12-24 06:58] zhoxing-ms commented on #9961
I's repeated with #16275

[2020-12-24 06:58] #9961 closed

[2020-12-24 07:27] #15543 closed

[2020-12-24 07:27] #15970 closed

[2020-12-24 07:32] ericsuhong commented on #16355
According to doc, I uninstalled Azure CLI from WSL using this command:
[code]

Then, I reinstalled using this command:
[code]
(Re-installed) Azure CLI in WSL is still missing **monitor** and other subgroups:
[code]

az version command output:
[code]

[2020-12-24 08:37] yonzhan commented on #16356
portal

[2020-12-24 09:16] yungezz commented on #16356
hi @qwordy , could you pls help to have a look?

[2020-12-24 09:32] AndriiOmelianenko opened #16357 "login and use of Graph API directly"
Hello, this issue is more educational that actual issue with cli.

I have a need to access Graph API directly (via curl, for example).

Using this cli, I was able to login:
[code]

and perform rest operations like this:
[code]

So I want to do the same using curl only.

- I've tried to login (get accessToken) using this doc https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-r

[2020-12-24 10:34] TheStephLab opened #16358 "'az storage directory exists' returns error when checking directory with brackets"
**Describe the bug**
When performing an `az storage directory exists` targeting a directory with brackets '()', anything in the name that has characters after the brackets is returned as "unexpected".

**To Reproduce**

1. Standard login procedure
2. `az storage directory exists --name "SQL/SQLServer2014(Std)SP3" --share-name "share" --account-name *** --account-key ***`
3. Returns `SP3 was unexpe

[2020-12-24 11:13] imshubhangi opened #16359 "az aks get-credentials always saves credentials as yaml irrespective of --output parameter value"
**Describe the bug**

`az aks get-credentials` command always saves credentials in yaml format irrespective of value of `--output` parameter.

**To Reproduce**

1. Install azure-cli using brew install
2. set required env vars say appAksGroupName and appAksClusterName in my example
3. execute `az aks get-credentials` command with different permitted values of `--output` parameter and observe output

[2020-12-24 11:50] yonzhan commented on #16357
login

[2020-12-24 11:55] yonzhan commented on #16359
aks

[2020-12-24 11:57] yonzhan commented on #16358
storage

[2020-12-24 12:05] TheStephLab commented on #16358
Thanks for the triaging @yonzhan

I forgot to mention that this also affects other commands such as `az storage directory show`

[2020-12-24 14:03] vairakkumar-vairaperumal opened #16360 "unrecognized arguments: --private-dns-zone none"
**Describe the bug**

[code]
The following command does not work with
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-12-24 14:55] vairakkumar-vairaperumal commented on #16360
This argument was available after installing
'''
az extension add --name aks-preview
[code]

[2020-12-24 14:55] #16360 closed

[2020-12-24 16:05] nikonov91-dev commented on #16100
I've solved that issue with the same environment and VS-Code. The problem that we havent set:
-  correct **Connection Key string**
- nor **shell (environment) variable** .

![connection key location image](https://user-images.githubusercontent.com/31586394/103098075-2cce3800-4612-11eb-8d31-0dd19f9f83d9.png)

To set correctly environment variable we need to use debugger in VSCode and add it in **la

[2020-12-24 17:31] AlexanderAnishchik commented on #8435
@marstr Howdy. I'm wondar what is the best way to send a message to Service Bus from my Azure Devops CI/CD Release pipeline? If I cant run c# code here and Azure CLI does not support it what should I do?

[2020-12-24 23:30] #16100 closed

[2020-12-24 23:30] yonzhan commented on #16100
issue resolved by above solution

[2020-12-25 01:03] #14716 closed

[2020-12-25 01:11] #15410 closed

[2020-12-25 01:12] #15461 closed

[2020-12-25 01:16] #15493 closed

[2020-12-25 01:20] #15589 closed

[2020-12-25 01:53] zhoxing-ms commented on #12909
This issue was fixed by #15502

[2020-12-25 01:53] #12909 closed

[2020-12-25 01:57] zhoxing-ms commented on #4802
@onionhammer Hi, this issue has been fixed by #15502
We will publish it in the new CLI version on 12-29, please try to update CLI and have a try at that time~

[2020-12-25 02:00] #15495 closed

[2020-12-25 02:01] #15601 closed

[2020-12-25 02:02] #15649 closed

[2020-12-25 02:06] qwordy commented on #16356
@YalinLi0312 I remember portal is written by you. Could you have a look?

[2020-12-25 02:09] #9599 closed

[2020-12-25 02:16] Juliehzl commented on #15232
HI @skingd, feel free to ping me via teams when you are available

[2020-12-25 02:23] jiasli opened #16361 "CommandRecommender should be called after the error is shown"
## Description

When a command fails, it take **longer** to show the error message than before (without Aladdin) because CLI is querying Aladdin which involves a network request:

[code]

##  Possible solution

It will be more user-friendly if CLI can show the error message

[code]

first and then do the Aladdin query.

[2020-12-25 02:29] #16008 closed

[2020-12-25 02:48] jiasli commented on #16040
The request to get a token from manage identity endpoint failed, but the error handling caused another failure.

The bug in error handling should have been fixed in #15776. Please update to the latest version and try again, it will reveal the actual error.

[2020-12-25 03:02] yonzhan commented on #16361
Error handling performance

[2020-12-25 03:21] #16009 closed

[2020-12-25 06:01] qwordy commented on #15626
![image](https://user-images.githubusercontent.com/5019528/103122040-a66d3100-46b9-11eb-8629-1a6d0a903e9a.png)
I don't think it is time to close it. Feature-request label can avoid SLA check.

[2020-12-25 06:16] kairu-ms commented on #16355
@ericsuhong I've tried on my wsl, everything looks fine. So it may be a config issue.
Could you try following commands to see whether it's resolved?
[code]
If it's still exist, the last operation you can try is removing the folder ~/.azure and installing azure-cli again.

[2020-12-25 06:38] yonzhan commented on #15626
@Juliehzl please take a look.

[2020-12-25 07:32] BG4WCE commented on #15565
I am having the same problem on Windows 10.

[2020-12-25 09:56] jiasli commented on #15628
We have marked `--condition`, `--condition-version` and `--description` as preview for now (https://github.com/Azure/azure-cli/pull/15690). The corresponding document will be updated by RBAC service team later.

[2020-12-25 11:41] dempsey93 commented on #13855
It works perfectly, thanks a lot :)

[2020-12-26 02:01] #14984 closed

[2020-12-26 02:42] #14988 closed

[2020-12-26 02:46] #15704 closed

[2020-12-26 06:09] #9743 closed

[2020-12-26 06:10] #9422 closed

[2020-12-26 06:11] #9160 closed

[2020-12-26 06:12] #9003 closed

[2020-12-26 08:30] #15732 closed

[2020-12-26 08:52] #10192 closed

[2020-12-26 09:16] alexeyshishkin01 commented on #15856
upon creating my container I see the following:

root@Alexey-HP:~# az container attach --resource-group dockers --name debiandocker --container-name debiandocker
Container 'debiandocker' is in state 'Waiting'...
(count: 1) (last timestamp: 2020-12-26 09:09:31+00:00) pulling image "pgprostdacr.azurecr.io/pgpro-std96-debian-x64:96.201.20201205"
(count: 1) (last timestamp: 2020-12-26 09:09:56+00:00)

[2020-12-26 13:24] lawrencegripper commented on #13563
If the snap isn't going to be updated could you remove the published package from the store for now or update it to warn people that it's a very outdated version.

![image](https://user-images.githubusercontent.com/1939288/103152196-7a1ae880-477d-11eb-83c7-35fab224bd76.png)

It currently looks very official and unless you spot the date you end up using a very old version of the CLI.

If the `.snap

[2020-12-26 13:43] aycanvargun opened #16365 "permission denied error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {}`

## Expecte

[2020-12-26 14:08] tirkarthi commented on #15503
Seems to have been fixed in https://github.com/Azure/azure-cli/pull/15446 and is a duplicate of https://github.com/Azure/azure-cli/issues/15441

[2020-12-26 18:05] richardlm57 commented on #14909
Hello, is there any update about this?

[2020-12-26 23:09] colemickens commented on #10192
@yonzhan is this fixed?

[2020-12-27 00:40] yonzhan commented on #10192
@Juliehzl will provide update shortly.

[2020-12-27 00:42] yonzhan commented on #16365
webapp

[2020-12-27 19:40] ShaohuaJoseph opened #16367 "az account set fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account set --subscription {}`

## Expected Behavior

## Environment S

[2020-12-27 19:41] ShaohuaJoseph opened #16368 "az group fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2020-12-27 23:26] yonzhan commented on #16368
ARM

[2020-12-27 23:27] yonzhan commented on #16367
account

[2020-12-28 03:03] qwordy commented on #15869
@puicchan I want confirm that this issue introduces no new REST API and a new CLI command like `az sig capture` will be added. It simplifies steps to capture a VM into an image version.

[2020-12-28 03:52] Juliehzl commented on #16064
Hi @Herbaltea-GG, could you add `--debug` in your command and share the debug info with us?
I have tried in cloud shell and it works as expected. Could you try again and report to us if there is error occured?

[2020-12-28 06:13] sky-lynx opened #16369 "Webapp:az webapp up failed to deploy with errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az webapp up --subscription {} --location {} --name {} --plan {} --resource-group {} --html --os-type

[2020-12-28 06:15] pvrk commented on #10409
We have fixed this in the Jan, 2020 release but somhow I missed updating this thread. My sincere apologies.
@metrue : Your item list command and using name is correct. The only requirement is that also use the ```az backup container list``` command to get the name for container as well. If you list container and take the name parameter and list the item and take the name parameter, then any combin

[2020-12-28 06:18] pvrk commented on #9135
@metrue , @tameek : I have commented on the other [thread](https://github.com/Azure/azure-cli/issues/10409). The container name and item name are not exactly same. Use container list/show commands to get it's name and use backup item list/show command to get the name and pass them both.

[2020-12-28 06:19] pvrk commented on #10409
Closing this thread since the fix is provided. Please feel free to re-open if this doesn't solve the issue.

[2020-12-28 06:19] #10409 closed

[2020-12-28 06:19] pvrk commented on #9135
Closing this thread since the fix is provided. Please feel free to re-open if this doesn't solve the issue.

[2020-12-28 06:19] #9135 closed

[2020-12-28 07:13] qwordy commented on #15868
@puicchan @zunli hu Can you share how to prepare a VHD?

[2020-12-28 08:21] pvrk commented on #15677
Closing this issue since we didn't get any response. Currently, this command doesn't support Azure File shares.

[2020-12-28 08:21] #15677 closed

[2020-12-28 08:36] Juliehzl commented on #15868
To use storage account uri, you need to upload vhd file to storage account with `az storage blob upload` and then you could get the url with `az storage blob url`.

[2020-12-28 09:39] yonzhan commented on #16369
webapp

[2020-12-28 10:08] arendkolk opened #16373 "az login fails with "NotImplementedError: APIVersion 2019-06-01 is not available" in azure-cli 2.6.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-12-28 10:39] ericsuhong commented on #16355
It turned out that in our script (and WSL environment), I have set --profile to "2019-03-01-hybrid" for development purpose. Issue went away after I reset --profile to latest.

Thank you so much for the help!

[2020-12-28 10:39] #16355 closed

[2020-12-28 11:45] yonzhan commented on #16373
az login

[2020-12-28 11:54] HarrowinG opened #16374 "Feature manager filter parameters parsed incorrectly"
**Describe the bug**
Hello, I have an issue with Feature Manager stuff (I know that it is in preview).
In particular it is command "az appconfig feature filter add" and "--filter-parameters" part.
Documentation said it is space separated pairs Key=Value but they work not as expected.
1. Any Value treated as string and wrapped into double quotes. So no chance to set any non string value.
2. Array p

[2020-12-28 12:22] jawadSajid opened #16375 "Deployment failed. Correlation ID: 140afdfe-8b92-4c4d-a9a9-521d8bf3a497. Cannot change network spine of shared disk sharedDisk while it is attached to running VM(s). Although max-shares is 2."
My disk is created as follows:

**az disk create -g ML-Resource-Group -n sharedDisk --size-gb 256 --location eastus --max-shares 2 --sku Premium_LRS**

My disk gets attached to the one of the VMs which i created as follows:

**az vm create --resource-group ML-Resource-Group --name PVM --image microsoft-dsvm:ubuntu-1804:1804-gen2:20.11.04 --generate-ssh-keys --location eastus**

But when I try to a

[2020-12-28 12:39] yungezz commented on #16369
#14287

[2020-12-28 12:40] yungezz commented on #16374
route to appropriate team

[2020-12-28 12:40] yungezz commented on #16375
hi @qwordy could you pls have a look? thanks

[2020-12-28 13:25] jawadSajid commented on #16375
Figured out the solution! A Proximity Placement Group is to be made as follows:

    az ppg create -n myPPG -g ML-Resource-Group -l eastus -t standard

And then passed as a parameter in --ppg while creating VMs as:

    az vm create -n PVM -g ML-Resource-Group --image microsoft-dsvm:ubuntu-1804:1804-gen2:20.11.04 --generate-ssh-keys --ppg myPPG --location eastus --verbose

[2020-12-28 13:31] #16375 closed

[2020-12-28 16:13] emmanuel-apau commented on #12246
@scott-zhou do you mean you manually installed azure certificates?

[2020-12-28 21:10] yuemlu commented on #15554
@yungezz  The public swagger release date is 1/4/2021. Python SDK will be generated by then.

[2020-12-28 23:39] Herbaltea-GG commented on #16064
Hi @Juliehzl, I was able to try this again a few times since reporting this issue and haven't encountered it since. I can still try to make it again, but it may have just been a one-off hiccup?

[2020-12-29 00:14] yonzhan commented on #16064
Hi @Herbaltea-GG, do you mind we close this issue for now and create a new issue if it happens again?

[2020-12-29 01:01] Hiroaki-Tsutsumi commented on #16207
Please let me know the current status of this article.

[2020-12-29 01:13] kairu-ms commented on #16207
@sameergMS @dadunl Please help with this issue. Thanks!

[2020-12-29 02:35] Kotasudhakarreddy commented on #7707
@alexpilon666 - I am unable to repro this issue in CLI latest version `2.16.0` .  Please try with latest CLI version and let us know with `-debug` logs if you still face the issue.

[2020-12-29 02:35] #7707 closed

[2020-12-29 03:32] hund030 opened #16378 "az appservice plan create failed"
**Describe the bug**
I can create a new resource group named `1` both with azure cli and azure portal. While I want an app service plan in this resource group, I failed to create it with azure cli since there is a validator forces me to follow a weird regex pattern.
I try other resources like storage account and succeed create it in the resource group with azure cli and also succeed create a new a

[2020-12-29 03:33] #16072 closed

[2020-12-29 04:21] yonzhan commented on #16378
appservice

[2020-12-29 04:46] mrpal39 opened #16384 "To open an issue, please run: 'az feedback'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-12-29 05:06] Herbaltea-GG commented on #16064
That sounds good to me!

[2020-12-29 05:06] #16064 closed

[2020-12-29 06:13] #16384 closed

[2020-12-29 10:25] vnextcoder commented on #11909
https://docs.microsoft.com/en-us/cli/azure/snapshot?view=azure-cli-latest  still has old references and the documents "Create commands" without Location flag still .

The **AZ CLI** itself needs to update itself to enforce requiring Location Property when it caann't work without **Location** for creating Snapshots

[2020-12-29 10:26] vnextcoder opened #16385 "Snapshot Create always requires --Location flag. please correct"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca6f8c5-a518-04ee-08e3-4ad8d4c9516e
* Version Independent ID: 17710c8c-9cd9-57ea-b6b0-1411648ea03f
* Content: [az snapshot](https://docs.microsoft.com/en-us/cli/azure/snapshot?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/snapshot

[2020-12-29 10:48] arendkolk commented on #16373
i changed Ubuntu back from version 20 to version 18.04
no more problems, also i installed azure-cli 2.6 without problems.

[2020-12-29 10:50] arendkolk commented on #16373
installed azure-cli 2.6 via "pip3 install azure-cli==2.6"

2.6 was needed for the [tutorial](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-cli)

[2020-12-29 11:29] jiasli commented on #16373
Hi @arendkolk, it looks like you are hitting a similar issue as #12779 which we wasn't able to find the root cause at last. Could you check #12779 and share the result of

[code]

By the way, [this tutorial](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template) suggests to use **2.6 or later**.

You may update to the latest version and see

[2020-12-29 11:34] jiasli commented on #16373
Another occurrence of this `NotImplementedError: APIVersion 2019-06-01 is not available` error is on OpenSUSE (#13209), but as you are using Ubuntu, these 2 issues could possibly not be are relevant.

[2020-12-29 11:40] yungezz commented on #16385
hi @qwordy could you pls help to have a look? thanks

[2020-12-29 11:46] jiasli opened #16386 "`az feedback` truncates the call stack"
**Describe the bug**
`az feedback` truncates the call stack of errors, like in #16373.

For example, if `az demo style` raises an `Exception` at

https://github.com/Azure/azure-cli/blob/821c01375e9f3aa513b221116c4f1f44b823d8ba/src/azure-cli/azure/cli/command_modules/util/custom.py#L175

[code]

The original call stack is

[code]

But `az feedback` reports it as

[code]

This leads to difficulty in

[2020-12-29 12:50] yonzhan commented on #16386
feedback

[2020-12-29 13:13] MatthewSteeples opened #16387 "MSI for 2.17 "does not appear to have an app id""
**Describe the bug**
We use [Microsoft Endpoint Manager](https://endpoint.microsoft.com/) to deploy Azure CLI to our dev machines. Each release has been fine to do an in-place upgrade apart from 2.17. When trying to upload 2.17 to the portal an error is displayed

`The selected app package does not appear to have an app id.`

![image](https://user-images.githubusercontent.com/255971/103285937-4aff

[2020-12-29 16:19] chenrui333 opened #16388 "azure-cli homebrew release process update request"
👋  per discussions in [here](https://github.com/Homebrew/homebrew-core/pull/67930#discussion_r549572566), you folks need to update the homebrew release process.

Also, I wonder if it would be possible to publish that big source archive to pypi and use that instead. Thanks!

[2020-12-29 19:43] brianlehr commented on #15015
That is fine.  This unfortunately was not created earlier and is coming by around late Jan/early Feb.  I'll let you know.

[2020-12-29 20:09] mkoziel2000 commented on #16341
Any progress on the diagnosis?  I currently have our production servers patching suspended in the hopes we can figure out what might be at fault here.  Is this something that needs to be pursued with the python folks in parallel (whoever that might be)?  Are others having this issue?

[2020-12-29 20:17] calvinsID commented on #16277
Hi @oshz, can you please try using the latest CLI? I could not repro using CLI 2.16.0

[2020-12-29 20:24] calvinsID commented on #16365
@aycanvargun please run this command in a directory that you have write access to, as it downloads the logs to your current working directory

[2020-12-29 20:24] #16365 closed

[2020-12-29 21:59] avanigupta commented on #16374
Hi @HarrowinG, we only support adding filter parameters which are strings, or array of strings. Other data types such as numbers, booleans and JSON objects will be converted to strings. However, we are considering changing this behavior to allow storing data types other than strings as filter parameter values. But this will not be a trivial change and might take some time to release. In the meanti

[2020-12-29 22:28] YalinLi0312 commented on #16356
@lujinlou In `az portal dashboard create`, the --input-path is the path to properties json file instead of full template.  If you want to create a dashboard with full template, should use the command `az portal dashboard import`. Also, you need to update the `location` value in your sample Json.

[2020-12-29 23:13] chriskuech opened #16390 "No way to remove Key Vault access policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault set-policy --name {} --object-id {}` (no `--certificate-permissions` present)
- `az keyvault

[2020-12-30 01:54] RadhakrishnaHariMSFT opened #16391 "az cli 2.17.0 broke "az sig image-version create --no-wait --resource-group ...""
**Describe the bug**
On 12/29/2020 a new version of az cli was released for xenial and bionic  as listed here https://packages.microsoft.com/repos/azure-cli/dists/ and that broke the very last step of os image creation which is `az sig image-version create --no-wait --resource-group ...`

**To Reproduce**
The command that was run was
az sig image-version create --no-wait --resource-group merusigv2

[2020-12-30 02:08] jiasli commented on #16387
I tested https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.17.0.msi on a local machine and it installs correctly.

I found the the same issue has been mentioned multiple times:

- https://docs.microsoft.com/en-us/answers/questions/177461/msi-to-intune-34the-selected-app-package-does-not.html
- https://social.technet.microsoft.com/Forums/ie/en-US/8aa5b36c-9bf2-4558-8c39-e48741ed3d52/cant-u

[2020-12-30 02:16] qwordy commented on #16385
Hi @vnextcoder , I run this command in my machine. No error. Location will be set as same as resource group if it is omited. Can you share your command?
[code]

[2020-12-30 02:29] qwordy commented on #11909
This is current help message of `--location`
[code]
`--location` is not a required field.
Do you mean we should tell users the correct usage in error message when there is an error caused by location?

[2020-12-30 02:50] #15243 closed

[2020-12-30 03:01] tonystz commented on #12713
Is anyone has solution via ARM avoid the error "Changing property 'servicePrincipalProfile.secret' is not allowed", when update?

[2020-12-30 03:09] kairu-ms commented on #16355
You are welcome.

Monitor is not available in "2019-03-01-hybrid" now. We are planning to add it.

[2020-12-30 03:36] #15675 closed

[2020-12-30 03:38] #15931 closed

[2020-12-30 03:39] #16099 closed

[2020-12-30 04:58] Chakravarthi-Lolla opened #16392 "AttributeError: 'VirtualMachineExtensionsOperations' object has no attribute 'create_or_update'"
2020-12-30T04:48:44.4025899Z CLIInternalError: The command failed with an unexpected error. Here is the traceback:
2020-12-30T04:48:44.4028567Z 'VirtualMachineExtensionsOperations' object has no attribute 'create_or_update'
2020-12-30T04:48:44.4029698Z Traceback (most recent call last):
2020-12-30T04:48:44.4030507Z   File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
2020

[2020-12-30 06:44] lujinlou commented on #16356
@YalinLi0312 Thank you ! Get it.   It could work now.

Here is the sample:

[code]

[2020-12-30 06:50] #16356 closed

[2020-12-30 07:13] qwordy commented on #15544
@CesarSolis

[2020-12-30 08:27] kairu-ms commented on #15650
@yossi-y That make sense. However python SDK for api version 2020-08-01 is not available, I will work on when it's ready.

[2020-12-30 08:55] qwordy commented on #15289
@PiroHiroPiro `--attach-data-disks` supports name or ID. If you want to use a name, please make sure it is in same resource group with the VM you want to create.

[2020-12-30 09:01] qwordy commented on #15590
Mark it as a feature request: support more encodings of logs

[2020-12-30 09:08] qwordy commented on #15583
The help message of `az vm disk attach` says
[code]
You need to run command for every disk. I think you can write a Bash or PowerShell script to run them.

[2020-12-30 09:08] #15583 closed

[2020-12-30 09:08] qwordy commented on #15583
There is a same issue. Let's only keep one issue open.
https://github.com/Azure/azure-cli/issues/15765

[2020-12-30 09:17] jiasli opened #16396 "Need to remove redundant http://azurecliprod.blob.core.windows.net/edge/index.html"
**Is your feature request related to a problem? Please describe.**

The [edge build](https://github.com/Azure/azure-cli#edge-builds) pipeline uses a custom index https://azurecliprod.blob.core.windows.net/edge

[code]

According to [PEP 503](https://www.python.org/dev/peps/pep-0503/), the index should be available at http://azurecliprod.blob.core.windows.net/edge/ (✔), like https://pypi.org/simple

[2020-12-30 09:18] Juliehzl commented on #16199
Hi @nkaretnikov, to get more accurate calculation, CLI will presents the percent  which is rounded to 4 decimals.
Do you think the integer number is enough to display the percentage?

[2020-12-30 09:37] yonzhan commented on #16396
refine edge build

[2020-12-30 12:58] MatthewSteeples commented on #16387
Hi @jiasli,

Thanks for the response. I'll raise a ticket and see what happens. I tried uploading the 2.16 version into the portal and that still works fine, so there's definitely something unusual going on

[2020-12-30 15:08] PritiM0912 opened #16397 "unable to create azure vm -following documentation -https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-vm#code-try-0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
OSError: [Errno 30] Read-only file system: '/home/dev/.azure/commands/2020-12-30.15-02-31.group_create.225.log'

**Command Name**
az vm create \
    --resource-group myResourceGroupVM \
    --name myVM \
    --image UbuntuLTS \
    --admin-username azureuser \
    --generate-ssh-keys

**Errors:**
CLIInternalErr

[2020-12-30 15:29] fengzhou-msft commented on #16388
Thanks for submitting the issue. We'll work on it during the next Sprint.

[2020-12-30 15:30] fengzhou-msft commented on #16390
@houk-ms can you take a look?

[2020-12-30 15:33] fengzhou-msft commented on #16391
@qwordy can you take a look?

[2020-12-30 15:34] fengzhou-msft commented on #16392
@qwordy can you take a look?

[2020-12-30 15:41] fengzhou-msft commented on #16397
The issues seems to be caused by a known directory permission [issue](https://github.com/Azure/azure-cli/issues/13855) of Cloud Shell. Please follow this [workaround](https://github.com/Azure/azure-cli/issues/13855#issuecomment-722412068).

[2020-12-30 15:41] fengzhou-msft commented on #16397
Duplicate of #13855

[2020-12-30 15:48] maxburke commented on #16197
Seeing this issue as well with Homebrew + Apple Silicon.

[2020-12-30 16:34] j-brooke opened #16399 "webapp up compile failure for some directory structures"
**Describe the bug**
The compile step of `az webapp up` fails if a `csproj` references a sibling folder -- that is, if the reference is `../SomeClassLibrary`.

For example, consider this solution structure:

[code]
If Server code references ClassLib the build and deployment will fail.  Unlike `dotnet build`, the build process used here seems to assume that all relevant files are in the Server dire

[2020-12-30 17:11] mepand commented on #14280
@steharp Could you please confirm if the steps I mentioned above unblocked you?

[2020-12-30 20:39] intlabs commented on #4304
I'm also encountering the exact same issue @JamesEarle is with the following versions:

[code]

This is compounded by the poor handling of escaping of subscription names containing spaces for other commands.

[2020-12-30 23:46] johanste commented on #4304
Does

[code]

solve your problem?

[2020-12-31 00:45] yonzhan commented on #16399
webapp

[2020-12-31 00:45] marcopiuma opened #16401 "az login fails from Linux box"
**Describe the bug**

I'm trying to login into az cli from my Ubuntu 18.04 box, it worked until a few days ago. Now I get the following error:

Authentication Error: "['access_denied']". Description: "["AADSTS50005: User tried to log in to a device from a platform (Unknown) that's currently not supported through Conditional Access policy. Supported device platforms are: iOS, Android, Mac, and Wind

[2020-12-31 00:49] yonzhan commented on #16401
az login

[2020-12-31 02:29] jiasli commented on #4304
@intlabs, what @johanste provides is correct.

To filter on subscription name, you will need to use [Raw String Literals](https://jmespath.org/specification.html#raw-string-literals) which are surrounded by single quotes (`'`).

[code]

On the other hand, double quotes (`"`) are for [Identifiers](https://jmespath.org/specification.html#identifiers), like:

[code]

[2020-12-31 02:30] #15949 closed

[2020-12-31 02:32] #15972 closed

[2020-12-31 02:32] #15981 closed

[2020-12-31 02:32] #15986 closed

[2020-12-31 03:38] qwordy commented on #16392
@Chakravarthi-Lolla Which version of Azure CLI do you use? And can you share your command?

[2020-12-31 03:53] GatoonJin commented on #16401
Hi Azure Team and marcopiuma,

I met the issue on Linux SUSE/CentOS/RedHat/Debian too. And I didn't reproduce on Windows and Mac. Azure CLI version didn't work with 2.14.2, 2.16.0 and 2.17.0. And the error message is the same: Authentication Error: "['access_denied']". Description: "["AADSTS50005: User tried to log in to a device from a platform (Unknown) that's currently not supported through Con

[2020-12-31 03:53] qwordy commented on #16391
@RadhakrishnaHariMSFT , I will have a look.

[2020-12-31 04:10] jiasli commented on #16401
`AADSTS50005` comes from AAD service and is displayed by Azure CLI.

I discussed with my colleague @ChenTanyi and we are also seeing the same issue while logging in with `@microsoft.com` accounts in [Microsoft Teams](https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/group-chat-software/) on Ubuntu.

It looks the organization/directory/tenant administrator has enabled Conditional Access

[2020-12-31 04:17] intlabs commented on #4304
This helps and indeed does let me continue - thanks :)

[2020-12-31 04:17] jiasli commented on #16401
### Temporary workaround

You may create a service principal on a supported system - Windows or Mac, with either Azure Portal or
[code]

Then you can log in with the service principal on Linux with

[code]

[2020-12-31 06:23] #3447 closed

[2020-12-31 07:22] qwordy commented on #16391
I wrote a PR to address this issue. I am still investigating why it is None.

[2020-12-31 08:55] schaijkw commented on #14880
Probably needless to mention, but the type of the replyurl is also not presented when you get the details of an app registration via the command **az ad app show**.

In our case we had initially replyurls added via the portal (by an admin) and tried to add some extra urls and stumbled upon the urls were not working as expected and we couldn't figure out why. As developers we only have access via t

[2020-12-31 15:24] serprex commented on #16401
Also seeing this with WSL

[2020-12-31 17:03] #16263 closed

[2020-12-31 17:07] cdproyect commented on #16263
By running az login with debug mode, I was able to find the HTTP error 403, which leads me to check the configuration of the proxy I was using. I am closing this bug.
[code]

[2020-12-31 18:19] marcopiuma commented on #16401
thank you for the workaround!

[2020-12-31 18:47] kcheeeung opened #16410 "Why 'New-AzHDInsightCluster' returns a useless message"
**Describe the bug**

I am following this guide. When I submit the request, I don't get a helpful message, and it only returns a cryptic message. How am I even supposed to debug this to understand what is wrong? What's the status code? and if you can even see the status code, what's the meaning? Is the code just wrong?
[code]
https://docs.microsoft.com/en-us/powershell/module/az.hdinsight/new-azhd

[2021-01-01 00:11] lianglin74 opened #16411 "az login failed on my Linux machine"
**Resource Provider**
<cognition service>

**Description of Feature or Work Requested**
<'az login' failed on my Linux machine. I got the following message: 'Some failures occurred during the authentication
You can log an issue at Azure CLI GitHub Repository and we will assist you in resolving it.'>

[2021-01-01 01:52] yonzhan commented on #16410
Please open this issue in azure-powershell repo.

[2021-01-01 01:52] #16410 closed

[2021-01-01 02:08] yonzhan commented on #16411
az login

[2021-01-01 14:48] magnus-longva-bouvet opened #16413 "Make az container show return exact image used by containers"
**Is your feature request related to a problem? Please describe.**
I want to know exactly which image my container groups are currently running. As of now, it does not seem possible to get this information with az cli. I can only retrieve the container image names.

**Describe the solution you'd like**
I want `az container show --name "mycontainername"`, for each container in the container group,

[2021-01-01 17:57] carlocab commented on #16388
FYI, it would be useful to update the URL to PyPI to enable the automation of resource updates using `brew update-python-resources`. The current azure-cli formula seems to have a large number of outdated resources:

https://github.com/carlocab/homebrew-core/commit/57dbe4a285e2af1c5a43e70dadacb20d5cc0cb53

One outdated resource caused this problem: https://github.com/Homebrew/brew/issues/10152#issu

[2021-01-01 21:48] sshingler opened #16414 "Trying to run az webapp deployment user set on M1 Mac"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment user set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment user set --user-name {} --password {}

[2021-01-01 21:48] sshingler commented on #16414
Full traceback:

CLIInternalError: The command failed with an unexpected error. Here is the traceback:
dlopen(/opt/homebrew/Cellar/azure-cli/2.17.0/libexec/lib/python3.8/site-packages/_cffi_backend.cpython-38-darwin.so, 2): Symbol not found: _ffi_prep_closure
  Referenced from: /opt/homebrew/Cellar/azure-cli/2.17.0/libexec/lib/python3.8/site-packages/_cffi_backend.cpython-38-darwin.so
  Expected i

[2021-01-02 00:47] dkegel-sigsci commented on #16391
I get that very repeatable error with a slightly different command:
[code]

[2021-01-02 01:35] yonzhan commented on #16413
container

[2021-01-02 01:37] yonzhan commented on #16414
webapp

[2021-01-02 08:49] yonzhan commented on #10489
@priya0917 any update?

[2021-01-02 15:48] rajdhandus opened #16416 "az login --identity fails: load_pem_private_key() missing 1 required positional argument: 'backend'"
**Describe the bug**
**Command Name**
`az login`

**Errors:**
[code]

**To Reproduce**
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

**Expected behavior**

**Environment summary**
[code]

**Additional context**

This was working until a few days ago. Somethi

[2021-01-02 16:09] maxburke opened #16417 "Azure CLI 2.17.0_1 fails to launch on M1 Mac"
**Describe the bug**

Running `az` generates this error message:

[code]

**To Reproduce**
After upgrading to 2.17.0_1, type `az`, with or without additional options.

**Expected behavior**
I expected it to give me the help screen, or run the commands I specified.

**Environment summary**
Mac OS Big Sur (11.1), Apple M1 MacBook Pro, installed via HomeBrew.

[2021-01-02 17:12] divgo commented on #16416
I am also experiencing this same issue. Installing AZ CLI via PIP into an Alpine Image.

[2021-01-02 18:15] jwg4 commented on #7368
It threw me that the instructions at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt install a version which includes an AMD64 python binary - if there isn't an ARM version then it just should refuse to install rather than install a broken version?

[2021-01-02 20:03] lianglin74 commented on #16411
Any update for this problem? Thanks.

[2021-01-02 20:04] lianglin74 commented on #16411
Is it related to ubuntu version? I am using ubuntu 16.04.5. Should I upgrade ubuntu to higher version? Thanks.

[2021-01-03 00:58] yonzhan commented on #16411
Similar to #16401

[2021-01-03 01:00] yonzhan commented on #16416
az login

[2021-01-03 02:22] yonzhan commented on #16144
planned in S182

[2021-01-03 05:44] vnextcoder commented on #16385
Sure.

here you go

[code]

[code]

`C:\>az snapshot create -g testrg -n mysnap --source "/subscriptions/xxxxxxxxx-47bb-b93d-xxxxxxxxxxxxxx/resourceGroups/TESTRG/providers/Microsoft.Compute/disks/vm1_DataDisk_0" --location westus`
[code]

[code]

[2021-01-03 05:46] savelinomediagroup commented on #16385
On Sat, Jan 2, 2021 at 9:44 PM Avinash Barnwal <notifications@github.com>
wrote:

--
null

[2021-01-03 10:05] tomklino opened #16418 "`az keyvault certificate list` - does not list disabled/failed certificates"
**Describe the bug**
Running `az keyvault certificate list --vault-name $VAULT_NAME` or `az keyvault certificate list --include-pending --vault-name $VAULT_NAME` or az keyvault certificate list-deleted --vault-name $VAULT_NAME` returns only enabled certificates, skips disabled certificates.

**To Reproduce**
Running any of the above commands when a keyvault contains a disabled certificate

**Expec

[2021-01-03 12:31] yungezz commented on #16418
hi @houk-ms let's see how to support it in CLI.

[2021-01-03 12:33] yungezz commented on #16417
hi @fengzhou-msft could you pls help to look at this issue? thanks

[2021-01-03 13:34] AlexanderViken opened #16419 "Help for 'az monitor app-insights component connect-webapp' throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Just installed the extension tried to get help for connect-webapp syntax and get errors.
**Command Name**
`az monitor app-insights component connect-webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informat

[2021-01-03 13:45] yonzhan commented on #16419
monitor

[2021-01-04 03:38] kairu-ms commented on #16419
You are using "azure-devops". Have you run "azdev setup" command?

[2021-01-04 03:42] yungezz opened #16420 "az vmss nic set is not available"
**Describe the bug**

There is no way to set properties like enable IP forwarding via CLI per the API: https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesetvms/update
**To Reproduce**

Create VMSS, try to update IP forwarding property on NIC
**Expected behavior**

A set command to be able to update vmss nic properties similar to: https://docs.microsoft.com/en-us/cli/azure/networ

[2021-01-04 03:42] yungezz commented on #16420
copied from https://github.com/Azure/azure-cli-pr/issues/116

[2021-01-04 04:19] srinisbook commented on #16392
~$ az --version
azure-cli                         2.17.0

core                              2.17.0
telemetry                          1.0.6

command:
az vm user update   --username $user   --password $passwd   --name $VirtualMachineName   --resource-group $ResourceGroup

[2021-01-04 05:30] kairu-ms commented on #16419
Some modules are missing. Can you reinstall azure-cli?

[2021-01-04 07:10] mepand commented on #14280
Documentation update has been checked in. Changes would be live by tomorrow. Since there is no further action pending on the PG side, closing the issue.

[2021-01-04 07:10] #14280 closed

[2021-01-04 08:48] #15465 closed

[2021-01-04 08:50] yungezz commented on #15464
the failed command is `az batch certificate create`, route to service team to have a look.

[2021-01-04 09:37] Zay2k commented on #15464
This was fixed by PR #15509. Don't know why it isn't linked to this issue.

[2021-01-04 10:20] MatthewSteeples commented on #16387
Support ticket opened - # 23514049

[2021-01-04 10:40] jeevaeastpoint commented on #14495
Any update on this one. I hit with the same issue but from the Azure portal. I have a couple of users who has Contributor access to a resource group and I expect that they should be able to create IoTCentral resources within this group.

[2021-01-04 12:25] #15464 closed

[2021-01-04 12:47] jeevaeastpoint commented on #14495
Ignore this. I was going through the Microsoft documentation and it is explicitly specified that the user needs to have contributor at the subscription level. Refer [this](https://docs.microsoft.com/en-gb/azure/iot-central/core/quick-deploy-iot-central). So we have asked our admin to create it for us and all fine now...

[2021-01-04 12:53] yonzhan commented on #14495
Can we close this issue?

[2021-01-04 15:08] nexxai commented on #15580
Any update on this?

[2021-01-04 15:42] HarrowinG commented on #16374
Hi @avanigupta, thanks for your answer. But the logic a bit more complex. When service is deploying it knows which flags it needs. But if such flags already there we need to skip it to not override existing configuration. As I understand it will just replace all flags or filters. Can this command handle partial flag names extraction?

[2021-01-04 17:40] maxburke commented on #16417
I just upgraded to 2.17.1 via homebrew and this still happens.

[2021-01-04 17:51] czmirek commented on #13979
Got similar issue with `az pipelines variable-group list`

![image](https://user-images.githubusercontent.com/18615545/103563883-d688b100-4ebd-11eb-9141-16b8964151f1.png)

[2021-01-04 18:50] balajiraman commented on #13855
I have tried this, does not work.

When I deleted my storage account and recreated the shell.. its mounting a ready only drive. What I find using df command is that it does not mount he cloud shell file share. When I restart cloudshell, it hangs with black screen for ever, no error messages to be seen. I have done multiple times, with autogenerated CS namespaces to creating my own with no avail. i

[2021-01-04 18:54] andschwa commented on #15590
@qwordy I wouldn't categorize this as a feature request but as a bug fix, as this results in a crash when using this functionality of `az` against images available in the Azure marketplace.

[2021-01-04 18:54] balajiraman opened #16421 "Cloud Shell not mounting fileshares/restart with blank screen"
**Describe the bug**
Cloud shell does not work on my account.

I am having a issue which I can only assume specific to my account and I am not sure how to address this. The issue is that when i open a cloud shell it gives a read-only console (1st time), when I restart it ends up with blank screen. Something got corrupted and dont know how to fix this.

**To Reproduce**
Simple cloudshell operation

[2021-01-04 19:07] balajiraman commented on #16421
Shell (Powershell) after creating a brand new Storage-RG, Storage Account, Share..

PS /home/balaji> df
**Error reading or writing history file '/home/balaji/.local/share/powershell/PSReadLine/ConsoleHost_history.txt': Read-only file system**
ưmFilesystem     1K-blocks     Used Available Use% Mounted on
overlay         50758760 18446052  32296324  37% /
tmpfs            2020152        0   2020152

[2021-01-04 19:13] swatig007 commented on #14847
closing due to no responses

[2021-01-04 19:15] swatig007 commented on #13289
closing due to no response

[2021-01-04 19:15] #13289 closed

[2021-01-04 19:17] swatig007 commented on #12911
@ameert apologies for the delayed response. is this still an issue?

[2021-01-04 20:25] girishmotwani commented on #16282
Wondering if you could share ETA for this issue?

[2021-01-04 21:06] avanigupta commented on #16374
Hi @HarrowinG, you are right, importing from file will update all feature flags which match the specified label in AppConfig with the values from file.

If I understand correctly, your current approach is to fetch each feature flag that the service needs and perform some checks:

1. If the feature flag exists, check its filter parameters.
    - If the feature flag in AppConfig has all the filter p

[2021-01-04 21:56] grtn316 commented on #16344
@qwordy Any additional thoughts?

[2021-01-04 22:44] brunoterkaly opened #16422 "az ad app permission admin-consent --id $appid Forbidden Message"
# Describe the bug

az ad app permission admin-consent --id  $appid

is giving me a Forbidden error.

Forbidden({"ClassName":"Microsoft.Portal.Framework.Exceptions.ClientException","Message":"Graph call failed with httpCode=Forbidden, errorCode=Authorization_RequestDenied, errorMessage=This operation can only be performed by an administrator.

# To Reproduce

I am following in Azure sample:

https

[2021-01-05 00:10] yonzhan commented on #15580
Azure Functions service team should look into this issue

[2021-01-05 00:12] yonzhan commented on #15580
https://github.com/Homebrew/homebrew-core/pull/67930

[2021-01-05 00:16] yonzhan commented on #16421
Cloud Shell

[2021-01-05 00:19] jiasli commented on #13979
@czmirek, this is definitely caused by the colorama bug which is triggered by redirecting the `stdout` to `ConvertTo-Json`. https://github.com/microsoft/knack/pull/209 has been merged and the next version of CLI `2.18.0` released by [S181](https://github.com/Azure/azure-cli/milestone/99) at 2020-01-19 will get rid of this issue.

[2021-01-05 00:19] yonzhan commented on #16422
az ad

[2021-01-05 00:27] brunoterkaly commented on #16422
Ok, it worked from another subscription that I owned, not MS. Makes more sense.

az ad app permission grant --id 6efcb928-a0ac-49f7-90e4-211377cd1234 --api 00000003-0000-0000-c000-000000000000
{
  "clientId": "aaaaa1-cc95-4600-b8f9-cf979ab2369e",
  "consentType": "AllPrincipals",
  "expiryTime": "2022-01-05T00:11:44.372243",
  "objectId": "cfsadfsadfAEa4-c-XmrI2nsJ5wvaAC05OnOnzUdX1TXc",
  "odata.m

[2021-01-05 00:27] #16422 closed

[2021-01-05 01:45] #13907 closed

[2021-01-05 02:03] qwordy commented on #16344
It indicates that the REST API `GET subscriptions//providers/Microsoft.Compute/skus` does not return the SKU you expect. Can you add `--debug` to the command and see the specific REST API invoked.

[2021-01-05 02:09] msyyc commented on #16282
We'll try to finish it before 2021/2/1. Is it OK?

[2021-01-05 03:08] msyyc commented on #16144
@HemantErappa It's a little hard to finish the feature in S181. Is it ok to finish it in S182?(about 2021-02-09)
![image](https://user-images.githubusercontent.com/70930885/103602099-2317cf00-4f46-11eb-8764-f144e989e4d3.png)

[2021-01-05 05:59] qwordy commented on #15988
@viananth

[2021-01-05 07:38] jiasli commented on #16290
Mgmt SDKs like `azure-mgmt-network` requires

https://github.com/Azure/azure-sdk-for-python/blob/ab12b048ddf676fe0ccec16b2167117f0609700d/sdk/network/azure-mgmt-network/setup.py#L85

[code]

But `azure-cli-core` requires

https://github.com/Azure/azure-cli/blob/7ef9f617f9f54a5ea3537b824a1ef43eaa6401cd/src/azure-cli-core/setup.py#L61

Because mgmt SDKs are installed before Azure CLI core, `pip` wil

[2021-01-05 08:17] #11594 closed

[2021-01-05 09:05] jiasli commented on #15389
Azure CLI is only a native `python.exe` application, so `Connect-AzAccount -Scope` which is backed by PowerShell is not a possible solution in Azure CLI.

There is a similar environment variable `AZURE_CONFIG_DIR` you can use for [concurrent builds](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#concurrent-builds). You may set it for different Azure CLI scripts and these scripts wi

[2021-01-05 09:08] HarrowinG commented on #16374
Hi @avanigupta, yes, you are right.

[2021-01-05 09:39] teusbenschop commented on #16312
I have exactly the same issue here. It hangs at this stage:

[code]

[2021-01-05 15:33] wfranceys commented on #14847
@lostmygithubaccount @swatig007 Hello, I also hit this issue today.

Guessing this should still open given @datarocksAmy was waiting on a reply 😊

----

Will look to see if I can create a reproducible example. Basic details for now, running on Devops AzureClI@2 (v2.0.16), Python 3.6.10, Ubuntu Latest.

[code]

[2021-01-05 15:58] 1spgardiner opened #16426 "--remove option"
[Enter feedback here]
Can you confirm the syntax of the command to remove an IP address from the backend pool and addition.
The examples give this format
az network application-gateway address-pool update -g MyResourceGroup --gateway-name MyAppGateway -n MyAddressPool \
    --add backendAddresses "{ "ip_address": "{10.0.0.13}" }"
But I have also seen
backendAddresses "{\"ip_address\":\"{10.0.0.13}

[2021-01-05 16:39] doronmak opened #16427 "i was trying to add enable virtual node add on on existing aks cluster and failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --resource-group {} --name {} --addons {} --su

[2021-01-05 17:07] aakankshu opened #16428 "can't install kubectl on azure cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2021-01-05 17:10] swatig007 commented on #14847
Thanks for the update. Re-opening the issue and assigning to @lostmygithubaccount .
@lostmygithubaccount can you please take a look since this is still an issue

[2021-01-05 17:22] lostmygithubaccount commented on #14847
please also assign @j-so, i'm unable to

[2021-01-05 18:53] viananth commented on #15988
@qwordy The feature branch for the swagger change is scheduled to be merged on 12th of Jan.
https://github.com/Azure/azure-rest-api-specs/tree/compute-2020-12

[2021-01-05 19:11] adamstruck commented on #16262
Any updates on this?

[2021-01-05 20:36] sebansal commented on #13475
@RandalliLama for triaging

[2021-01-05 20:44] #15011 closed

[2021-01-05 22:56] digitalnomd opened #16429 "add arg to `az ad sp credential list` for list of ID's"
**Is your feature request related to a problem? Please describe.**

I'm writing a script to proactively check for expired SP credentials using `az ad sp credential list --id`, but that means that I have iterate over every SP ID and make a separate `az ad` call which is very slow as each call is a separate network request.

**Describe the solution you'd like**

I'd really like there to be an arg fo

[2021-01-05 23:03] yonzhan commented on #16426
network

[2021-01-05 23:06] yonzhan commented on #16428
aks

[2021-01-05 23:06] yonzhan commented on #16427
aks

[2021-01-05 23:09] yonzhan commented on #16429
az ad

[2021-01-06 00:07] cakriwut opened #16431 "Az appconfig kv set error if value containing close bracket"
**Describe the bug**

Updating/Creating with value that contains ")" close bracket will generate error.
Example, when running following command
      'az appconfig kv set --value ")test" '
it will return error message:  **test** was unexpected at this time.

**To Reproduce**

Run 'az appconfig kv set --value ' , and set the value to any string that contains ).

**Expected behavior**

The command s

[2021-01-06 00:23] yonzhan commented on #16431
appconfig

[2021-01-06 01:27] cakriwut commented on #16431
Possibly the problem in the windows cmd shell.

Command:  az appconfig kv set -n appconfig --key TestKEY --value ")TestValue" --label TEST --yes -y --content-type application/json

Will be translated to following cmd call

"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\\..\python.exe" -IBm azure.cli appconfig kv set -n appconfig --key TestKEY --value )TestValue --label TEST --yes -y --cont

[2021-01-06 01:32] cakriwut commented on #16431
I can confirm the double quotes solve the problem.
I hope the team can make this simple changes.

[2021-01-06 01:44] avanigupta commented on #16431
Hi @cakriwut, if you are trying to create a key-value with JSON content type (`--content-type application/json`), the value must be an escaped JSON string. Please see this document for more info on JSON key-values in AppConfig: https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-leverage-json-content-type#create-json-key-values-using-azure-cli

[2021-01-06 02:44] Paul-at-Seequent commented on #10421
Shouldn't you be adding it to the rest API as well? It seems to me it is a key piece of information about a region.

[2021-01-06 06:05] qwordy commented on #16391
@dkegel-sigsci Is 7fec3109-5b78-4a24-b834-5d47d63e2596 the same as subscription where the image version will be created?

[2021-01-06 06:23] jiasli commented on #10421
@Paul-at-Seequent, for REST API and service-related feature request, please feel free to submit a feedback at https://feedback.azure.com/. The corresponding service team will review the feedback and evaluate whether it should be implemented. Thanks for your understanding.

[2021-01-06 09:16] benoitboheas opened #16433 "accessTokens Permission denied"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2021-01-06 09:30] yonzhan commented on #16433
az login

[2021-01-06 09:33] jiasli commented on #16433
Similar to #15638. Could you follow the troubleshooting steps provided in #15638 and let us know if that solves the issue?

[2021-01-06 09:33] benoitboheas commented on #16433
PS C:\WINDOWS\system32> az login
Note, we have launched a browser for you to login. For old experience with device code, use "az login --use-device-code"
You have logged in. Now let us find all the subscriptions to which you have access...
The command failed with an unexpected error. Here is the traceback:

[Errno 13] Permission denied: 'C:\\Users\\FKDK7307\\.azure\\accessTokens.json'
Traceback (m

[2021-01-06 10:32] ElvenSpellmaker commented on #13612
I have the same issue, but resetting really wasn't an option for me. The problem for me is that the `azure-cli` from `dnf` uses the stripped down python3.6 and installing `pip` manually for this version and then `python3.6 -m pip install cffi` didn't work for me.

The solution for me was to uninstall the `azure-cli` package, and then use the main install of python 3.8 to install azure cli:
[code]

[2021-01-06 12:20] yungezz commented on #16352
https://github.com/Azure/azure-cli/issues/16070

[2021-01-06 12:20] yungezz commented on #16428
https://github.com/Azure/azure-cli/issues/16070

[2021-01-06 14:28] fengzhou-msft commented on #16417
Not sure if it's caused by the arm bottle package. I tested on my Intel chip Mac and it works fines. If anyone else meets the same issue on Apple M1 MacBook Pro, please comment.

[2021-01-06 15:05] fengzhou-msft commented on #16388
@carlocab we used `az.completion` file from our current source code tarball and it's not in the `azure-cli` pypi source package. Is there some easy ways to use the `az.completion` file from some URL in the formula if we switch to use the pypi resource for `azure-cli` packages?

[2021-01-06 15:08] carlocab commented on #16388
Hmm, one way might be to declare `az.completion` in a `resource` block, but I think that might break the automation in `update-python-resources`, as I believe it only works when all the resources come from PyPI.

@Rylan12, thoughts?

[2021-01-06 15:10] wout-scorito commented on #11701
I have the same problem, see the below debug output

Command arguments: ['network', 'vnet', 'peering', 'create', '-g', 'clusterenvironment-rg-network-we', '-n', 'clustertomain', '--remote-vnet', 'company-vnet', '--vnet-name', 'company-k8s-clusterenvironment-vnet-we', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f2e

[2021-01-06 15:18] Rylan12 commented on #16388
Yeah, adding as a resource wouldn't cooperate well with `update-python-resources` in its current form. There might be another way we can get around that, but I can't think of it off the top of my head.

One thing that some formulae do is have a separate completion formula. So a user could `brew install azure-cli` but would need to `brew install azure-cli-completion` if they wanted completion. Prob

[2021-01-06 15:19] fengzhou-msft commented on #16341
@mkoziel2000 it looks like a shell invoke issue with the python.exe caused by the Cumulative update. Can you check the results for the below commands in powershell:
`& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd"`
`& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -IBm azure.cli`

[2021-01-06 16:27] wfranceys commented on #14847
For anyone else facing this:

- We switched to using the `azureml-core` python package directly rather than the CLI.
- Wasn't able to reproduce in a minimally reproducible way in a reasonable amount of time. For myself the loading of the extension was previously working and then stopped on a set of changes. The most obvious changes was actually the introduction of `azureml-core` (v1.1.9 at time of

[2021-01-06 17:16] snpdev opened #16434 "UnicodeDecodeError in Azure Cloud Shell"
**Describe the bug**
Upon entering any `az` command in Azure Cloud Shell, e.g. `az group create --name mytestgroup --location eastus`, I receive the error message shown below.  This occurs in my MPN Azure subscription, but not in a customer subscription.

Restarting Azure Cloud Shell does not resolve the problem. I have not made changes to my .bashrc file since my last successful use of the Azure

[2021-01-06 19:00] mkoziel2000 commented on #16341
The first command just returns...no output.  That was part of the original testing.  The second test was done without the command tail and that also just returned without any output,  I'll try it with the command tail to see if it produces anything.

[2021-01-06 19:53] MarkAtAgilliance opened #16436 "WebApp:az webapp plan show` returns exit code 0 for non-existing resource"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az webapp plan show` returns exit code 0 for non-existing resource.  Other commands return a non-zero return code.

This behavior of "show" needs to be consistent across the CLI or script writing/maintenance is going to become unmanageable having to remember which commands bahave one way vs another.

Possibly a

[2021-01-06 20:36] j-so commented on #14847
I can't repro this on my own DevOps pipeline.

In the past, I've seen compatibility issues due to a mismatch of packages (`az extension add` won't warn for existing dependencies that are incompatible with the extension). This comes up often with DevOps pipelines because of custom docker images setting azureml packages to a certain version, and then a new version of the AzureML CLI is published. I

[2021-01-06 22:40] cakriwut commented on #16431
Hi @avanigupta , it doesn't help.
az appconfig kv set -n appconfig --key TestKEY --value ")TestValue" --label TEST --yes -y

Please try on following environment.
1. Windows Powershell => ERROR.
2. Windows CMD  => OK

Problem
When running az cli command from Powershell, it seems invoking "phyton.exe" azure.cli  {args}. However the arguments are not quoted.

[2021-01-06 23:09] avanigupta commented on #16431
@cakriwut, there is a known issue with parsing quotes in Powershell. [This document](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md) can better explain the error you're seeing.
To prevent this error, you may use stop-parsing symbol `--%` between `az` and arguments.

[2021-01-07 00:58] miaojiang commented on #16262
@RupengLiu please take a look.

[2021-01-07 01:03] danielkon96 commented on #15533
This would be really useful!

[2021-01-07 02:25] #16125 closed

[2021-01-07 02:48] qwordy commented on #16391
Root cause found. Line 1 retrieves auxiliary subscriptions. But it does not take into consider if the subscription is same as the subscription where the image version is going to be created. We adopted Track 2 Python SDK recently. It does not return this subscription's token as external token.
[code]

[2021-01-07 03:53] yonzhan commented on #11701
@msyyc @jsntcy to take a look

[2021-01-07 03:57] yonzhan commented on #16434
ARM

[2021-01-07 04:01] yonzhan commented on #16436
webapp

[2021-01-07 04:02] jsntcy commented on #11701
@wout-scorito, which CLI version did you use? if you didn't use latest one, please install [the latest version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) and retry.

[2021-01-07 07:54] wout-scorito commented on #11701
yes, that solved the issue, i forgot to mention that here. i was using 2.15 (i think) which had a bug in it, i upgraded to the latest version which solved the issue.

thanks!

[2021-01-07 10:20] Attoy opened #16440 "az next error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az next`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az next`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-01-07 10:38] zhoxing-ms commented on #16440
Please submit the relevant issue of "az next" to [cli-recommendation repo](https://github.com/hackathon-cli-recommendation/cli-recommendation/issues)

[2021-01-07 10:46] Attoy commented on #16440
@zhoxing-ms done, https://github.com/hackathon-cli-recommendation/cli-recommendation/issues/4 , thank you.

[2021-01-07 12:30] SREbuilt opened #16442 "display help text for 'az monitor app-insights component create --help' throws an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights component create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az login
- az account set --subscription ... create prerequisites like resource-group, s

[2021-01-07 13:05] yonzhan commented on #16442
monitor

[2021-01-07 13:34] BasSmuldersCZ commented on #12946
We are currently are running into the same issue. Adopting other commands or tools is contra-productive indeed. Please give us a clear timeline.

[2021-01-07 14:12] outcast opened #16443 "az vmss nic show doesn't show public ip when using publc_ip_prefix"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az vmss nic show doesn't show public ip when using publc_ip_prefix

**Command Name**
`az vmss nic show`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss nic

[2021-01-07 14:18] outcast commented on #16443
Now this could be an issue that API is lacking this information.

[2021-01-07 14:31] outcast commented on #16443
looks like all the information is there, it just is not being resolved:

### here api response for the nic info:
https://management.azure.com/subscriptions/402af119-0892-47bb-ab5b-27af70f3c63b/resourceGroups/jjones_ngx_ud_rg_eastus/providers/microsoft.Compute/virtualMachineScaleSets/jjones_ngx_ud_ctl-lb_eastus/virtualMachines/0/networkInterfaces/main?api-version=2018-10-01

[code]
### here is the

[2021-01-07 16:45] Paqi opened #16444 "az deployment group create parameter --no-prompt is not working"
**Describe the bug**
When I run `az deployment group create` to deploy an ARM template (for an APIM API resource), I am not prompted for parameters, and get a `Missing input parameters` error.

Attempt 1
[code]

[The documentation](https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az_deployment_group_create) says the `--no-prompt` parameter should default to false.

[2021-01-07 17:05] cdpwind opened #16445 "Error was occurred"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-01-07 17:53] stefanushinardi commented on #15580
Update: we are tracking mid-late January

[2021-01-07 19:43] stefanushinardi opened #16448 "[Functions] az functionapp create --help to include python 3.9(preview) option"
**Is your feature request related to a problem? Please describe.**

as titled

**Describe the solution you'd like**

```az functionapp create --help```

[code]
cc: @Hazhzeng @vrdmr

[2021-01-07 20:21] Drewm3 commented on #13320
Closing out this issue because the publisher as decided to not use the existing offer any longer, and this is fully up to Canonical. So this is not anything that can be changed through the Azure platform.

[2021-01-07 20:21] #13320 closed

[2021-01-07 20:59] dmraymond opened #16449 "az role assignment list unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running the az role assignment list an error is thrown but conitnues.

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az cloud set
- az login
- az a

[2021-01-07 21:55] yonzhan commented on #16444
ARM

[2021-01-07 21:56] dmraymond opened #16450 "az role assignment list BadRequestError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az resource list --resource-group {} --subscription {}`
- Loop through each resource and run the followi

[2021-01-07 21:57] yonzhan commented on #16445
aks

[2021-01-07 22:11] puicchan opened #16451 "Allow customers to specify a blob and its storage account to use as a source for creating a SIG image"
**Resource Provider**
COMPUTE

**Description of Feature or Work Requested**
Allow customers to specify a blob and its storage account to use as a source for creating a SIG image

**Minimum API Version Required**

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/42c0390a0df39676a731b6a45a5bc52522e99d5d/specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/ga

[2021-01-07 22:17] dmraymond commented on #16450
Error consistently happens querying an expired certificate attached to a app service. Identifying information removed.
`/subscriptions/mySub/resourceGroups/myRG/providers/Microsoft.Web/certificates/myThumbprint#{}`

[2021-01-07 23:14] ctaggart commented on #16343
Unfortunately, [PowerShell is using](https://github.com/Azure/azure-powershell/issues/13820) `Get-AzMarketplaceTerms` with the `Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers` endpoint and not the `Microsoft.MarketplaceOrdering/agreements` endpoint. May be `agreements` should be used instead of `terms`.  I met  the team that manages this endpoint today. We should run the design

[2021-01-07 23:48] dkegel-sigsci commented on #16391
Yes, I only have one subscription.  )I am an azure newbie and am just learning how to automate stuff with the cli.)

[2021-01-08 00:03] dkmiller opened #16452 "Error message for incompatible extensions should suggest next steps"
**Is your feature request related to a problem? Please describe.**

If a user attempts to add a private preview extension to the Azure CLI, and the extension requires a base version greater than what they have currently installed, the resulting error message isn't very helpful. It doesn't tell them the extension name or how to install a compatible CLI core version.

![image](https://user-images.gi

[2021-01-08 00:47] yonzhan commented on #16448
functionapp

[2021-01-08 00:53] tlfmcooper opened #16453 "command failed with keyerror"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2021-01-08 00:58] tlfmcooper commented on #16453
Expected output should be like this:

{
  "clientId": "<GUID>",
  "clientSecret": "<GUID>",
  "subscriptionId": "<GUID>",
  "tenantId": "<GUID>",
  (...)
}

[2021-01-08 01:01] johanburati opened #16454 "az vm boot-diagnostics get-boot-log fails"
Getting the following error when trying to retrieve the boot logs using azure-cli:
(Note: I am using azure-cli v2.16.0 from the Cloud Shell)
[code]

[2021-01-08 01:04] johanburati commented on #13413
Still crashing to this day, any plan to fix this ?

[code]

[2021-01-08 01:12] MarkAtAgilliance opened #16455 "Be able to disable Function App adding an App Insights resource during create action."
**Is your feature request related to a problem? Please describe.**
In #7890, az function create was changed to create an app insights resource by default.  In now creates an unnecessary resource if you don't want this.

We have a dev ops pipeline that creates shared app insights services.  I am ok defaulting this to creating but how do you switch it off?  I don't necessarily want to point to anoth

[2021-01-08 01:15] MarkAtAgilliance commented on #16455
ugh - I should learn to read.  just found the setting.  Closed.

[2021-01-08 01:15] #16455 closed

[2021-01-08 01:28] yungezz commented on #16451
ack on the request

[2021-01-08 01:39] yungezz commented on #16452
hi @fengzhou-msft could you pls help to look at is this related with package unsync in index.json?

[2021-01-08 01:39] yungezz commented on #16443
hi @qwordy could you pls have a look?

[2021-01-08 01:41] jsntcy commented on #16211
The fix has been released, please upgrade to [latest Azure CLI version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) to verify if this issue is resolved.
So close this issue, if this issue still exists, please reopen this issue and let us know.

[2021-01-08 01:41] #16211 closed

[2021-01-08 02:16] yungezz commented on #16445
#16070

[2021-01-08 02:32] #16440 closed

[2021-01-08 02:55] marcelo321 opened #16456 "Can't create storage account neither in GUI or az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account create --name {} -g {}`

## Expected Behavi

[2021-01-08 02:56] qwordy commented on #16391
Got it. No problem. This issue is not your mistake. It is a bug.

[2021-01-08 03:00] #16391 closed

[2021-01-08 03:10] qwordy commented on #16451
Is this issue https://github.com/Azure/azure-cli/issues/15868 same one?

[2021-01-08 03:29] kairu-ms commented on #16442
Hi @SREbuilt, how did you install azure-cli?
Please update it to the latest version by following the [Doc link](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli).

[2021-01-08 03:31] marcelo321 opened #16457 ""ValidationError: time data" When trying to create a vm with az cli"
**Describe the bug**

Running a command like:

`az vm create -n name -g group --public-ip-address-dns-name vwevsdfsdfwfl --image ubuntults --size Standard_B1ls --generate-ssh-keys -l eastus2`

Gives a time error:

`ValidationError: time data '2021-01-08T03:49:36.773Z' does not match format '%Y-%m-%d %H:%M:%S.%f'`

I have no idea why I am getting this with this command, as other az cli commands wor

[2021-01-08 03:35] yonzhan commented on #16449
az role

[2021-01-08 03:38] yonzhan commented on #16450
az role

[2021-01-08 03:51] yonzhan commented on #16453
az ad

[2021-01-08 03:52] yonzhan commented on #16454
vm

[2021-01-08 03:58] jiasli commented on #13413
This issue will be fixed in the next release. Please see my comment at https://github.com/Azure/azure-cli/issues/13979#issuecomment-754305006.

[2021-01-08 04:03] jiasli commented on #15268
`MemoryError` indicates `az` is running out of memory, because the user list is too long. Please consider using `--filter` to limit the result size.

[2021-01-08 04:23] yungezz commented on #16457
hi @qwordy could you pls help to have a look? thanks

[2021-01-08 04:23] sky-lynx commented on #16369
Is this a known issue? Is this really an issue or just happening on my machine?
It is blocking my deployment but I haven't gotten responses yet.

[2021-01-08 04:41] yonzhan commented on #16456
storage

[2021-01-08 04:43] marcelo321 commented on #16456
@yonzhan Just solved it by doing the following command:

`apt-get install ntp`

which updated the timezone of my server and then the command worked. All good now

[2021-01-08 04:44] marcelo321 commented on #16457
@yungezz, Just solved it by doing the following command:

`apt-get install ntp`.

which updated the timezone of my server and then the command worked. Having a wrong time-zone was causing az-cli to crash.

All good now, close it if you like.

[2021-01-08 04:45] #16457 closed

[2021-01-08 04:48] vnextcoder commented on #16385
I hope  the Bug has been found by now or the Documentation updated as necessary.

[2021-01-08 04:53] marcelo321 commented on #16456
I think it is the same root cause of #16457 because of the first line:

`time data '2021-01-08T03:49:36.773Z' does not match format '%Y-%m-%d %H:%M:%S.%f'`

Closing this. If it happens again then I will just make a new issue.

[2021-01-08 04:53] #16456 closed

[2021-01-08 05:31] jiasli opened #16459 "[Enhancement Proposal] Support "bring your own access token""
**Is your feature request related to a problem? Please describe.**

We have received several feature requests that the user would like to provide their own access token, without interacting with AAD.

**Describe the solution you'd like**

1. `az login` should support either
   - `--access-token` argument which accepts an access token with [Subscriptions - List](https://docs.microsoft.com/en-us/res

[2021-01-08 05:34] yonzhan commented on #16459
Enhancement Proposal

[2021-01-08 06:01] jiasli opened #16460 "[Enhancement Proposal] Share login context of Azure CLI and Azure PowerShell"
**Is your feature request related to a problem? Please describe.**

Sharing login context between Azure CLI and Azure PowerShell is not supported by now.

**Describe the solution you'd like**

Azure CLI and Azure PowerShell can share their login context so that users can choose to use either command:

| |Azure CLI | Azure PowerShell |
|-|-----------|------------------|
| login | [`az login`](https

[2021-01-08 06:07] yonzhan commented on #16460
Share login context

[2021-01-08 06:15] kairu-ms commented on #16139
Hi @naveenchekuri. 'az network vrouter' has been renamed by 'az network virtualhub-router', so those features will be added in ' az network virtualhub-router'. Is that make sense?

[2021-01-08 08:27] cblackuk commented on #16460
What a great idea! Where do I vote for this? :-)

[2021-01-08 09:28] qwordy commented on #15869
This feature is canceled according to Yemi.

[2021-01-08 09:28] #15869 closed

[2021-01-08 09:31] qwordy commented on #14100
How is it going? @houk-ms

[2021-01-08 09:47] jiasli commented on #16460
Thank you @cblackuk for the comment. You may simply vote on the issue description with a 👍 and our team will evaluate this proposal based on the vote count! 😊

[2021-01-08 10:17] AddisonG opened #16463 "az-cli stops working if python project called "azure" in cwd"
### Summary
The `az` command (with any args or params) fails with an error when there exists a directory in the CWD called "azure" with another file in it called `__init__.py`.

### To Reproduce:
1. Navigate to any directory on the commandline.
    E.g: `cd /tmp`
2. Create a folder called azure, and a file under it called `__init__.py`.
    E.g: `mkdir azure; touch azure/__init__.py`
3. Attempt to

[2021-01-08 10:48] gavinbarron opened #16464 "WebApp:az webapp config ssl import allow naming of imported ssl resource"
**Is your feature request related to a problem? Please describe.**
At present it is not possible to re-use an SSL cert imported from a key vault across multiple web apps in a single resource group.
Running az webapp config ssl import for a second webapp in a single resource group results in an error:
```InvalidResourceLocation - The resource '{resource-group}-{key-vault}-{cert-name}' already exist

[2021-01-08 11:35] cblackuk commented on #16460
Awesome! Thanks :-) Now to everyone else - VOTE people! You will thank us later :-D

[2021-01-08 12:05] juan-acevedo-ntt opened #16465 "Can not reimage a VMSS instance - exception"
## Describe the bug

**Command Name**
`az vmss reimage`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss reimage --instance-id {} --name {} --resource-group {} --subscription {}`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2021-01-08 12:33] yobyot commented on #16460
I appreciate that the team is asking for input. And don’t get me wrong: this isn’t a terrible idea. But there are _so many other things_ the cmdlets need more, like expanded, comprehensive, more useable documentation.

This strikes me as the solution to some Microsoft  developer’s being inconvenienced rather than a pain the everyday Az module user in an enterprise is facing.

[2021-01-08 13:30] asiebenwirth-ish opened #16466 "'NoneType' object is not subscriptable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to create a new image version from a VM

**Command Name**
`az sig image-version create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sig image-

[2021-01-08 14:08] SREbuilt commented on #16442
My bad: my Version has been ways behind (2.2.0)
Now I’ve updated to 2.17.0 and also enabled the experimental Auto-update.

Many thanks and sorry for the noise I’ve generated – wish you a very nice weekend,
Bernhard

[cid:image003.png@01D6E5D0.1B3143A0]

Von: kai ru<mailto:notifications@github.com>
Gesendet: Freitag, 8. Januar 2021 04:29
An: Azure/azure-cli<mailto:azure-cli@noreply.github.com>
Cc:

[2021-01-08 15:11] divgo commented on #16416
az login by itself doesn't seem to work either. Downgrading the PyJWT package does solve the problem though, so that is what I currently have in place.

[code]

[2021-01-08 15:28] yonzhan commented on #16464
webapp

[2021-01-08 15:30] yonzhan commented on #16442
Could this issue be closed?

[2021-01-08 15:41] #16401 closed

[2021-01-08 17:13] guidooliveira commented on #16460
+1 on that! great idea!

[2021-01-08 17:21] EwertonJordao commented on #16460
+1 :D.

[2021-01-08 17:32] SREbuilt commented on #16442
Yes the issue can be closed, absolutely.

Thanks again,
Bernhard

From: yonzhan <notifications@github.com>
Sent: Freitag, 8. Januar 2021 16:31
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: SREbuilt <bernhard.vogel@live.de>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] display help text for 'az monitor app-insights component create --help' throws an error (#16442)

C

[2021-01-08 22:51] jordan-da commented on #12219
I get the same error when creating a cluster via the go sdk. I do have my cluster identity set to system assigned, but it still expects the service principal profile. I guess there is come client helper magic happening that we don't get for free in the sdk?

[code]

I do see the struct for `servicePrincipalProfile` within the cluster properties, I just don't know what to set it to with system assi

[2021-01-09 01:16] vladris opened #16469 "az kusto database-principal-assignment create doesn't work with role UnrestrictedViewers"
### Kusto

I'm trying to use the ``az kusto database-principal-assignment`` command to grant *UnrestrictedViewers* access but I get the following error: ``(BadRequest) Database principal role is invalid. Please provide valid database principal role (Admin, Viewer, User, etc.).``.

Here is the full command for context:

[code]

Running ``az kusto database-principal-assignment create -h`` shows Unre

[2021-01-09 01:17] yonzhan commented on #16469
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @radennis.

[2021-01-09 01:19] #16442 closed

[2021-01-09 01:21] xiafu-msft commented on #16337
hi @Juliehzl

It seems for sync copy, you need to provide the sas token along with source url, can you try to use an url in this format `your_account_url?your_sas_token` and this if it helps?

[2021-01-09 01:23] anthonychu opened #16470 "WebApp:staticwebapp - [P1] add commands to manage deployment secrets"
Add the following commands to get/reset deployment tokens
- get deployment token `az staticwebapp secrets list -g group -n site`
    `az rest --method post --url /subscriptions/[subscriptionId]/resourcegroups/[resourceGroupName]/providers/Microsoft.Web/staticSites/[staticSiteName]/listsecrets?api-version=2020-06-01`
- reset deployment token `az staticwebapp secrets reset-api-key -g group -n site`

[2021-01-09 01:25] anthonychu opened #16471 "WebApp:staticwebapp - [P3] add command for zip deploy"
Add a command to deploy to a site by providing a URL to a zip file.

@miwebst to provide API details and sample zip file.

[2021-01-09 01:29] anthonychu opened #16472 "WebApp:staticwebapp - [P1] "browse" command should be "show""
Currently, to view the details of a staticwebapp, the command is `az staticwebapp browse`. In `az webapp`, the verb is `show`. `browse` opens the browser to the site.

I think `az staticwebapp browse` should be renamed to `az staticwebapp show`. Should add a `browse` command at a later date to open the site in a browser. #16473

[2021-01-09 01:32] anthonychu opened #16473 "WebApp:staticwebapp - [P3] add command to open the app in a browser"
`az staticwebapp browse` (same as `az webapp browse`)

* If there are custom hostnames defined, it should browse to the custom hostname marked as the default.
* If none is set as default, take the first one.
* If no custom domains, use the auto-generated one

#16472

[2021-01-09 02:02] yonzhan commented on #16470
staticwebapp

[2021-01-09 02:04] yonzhan commented on #16471
staticwebapp

[2021-01-09 02:04] yonzhan commented on #16472
staticwebapp

[2021-01-09 02:05] yonzhan commented on #16473
staticwebapp

[2021-01-09 08:49] bbkane commented on #15382
I've created https://github.com/bbkane/kvcrutch to give me this functionality. Feel free to take from my implementation

[2021-01-09 15:46] #15389 closed

[2021-01-09 16:59] maxburke commented on #16417
Ahh, yeah, I think I see the issue. It seems to be an interaction with a virtualenv I've got setup which re-sets the python path. Closing.

[2021-01-09 16:59] #16417 closed

[2021-01-09 21:29] SilasHelgesson opened #16475 "WebApp:Bug 'NoneType' object has no attribute 'reserved'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-01-10 01:43] yonzhan commented on #16475
webapp

[2021-01-10 11:13] bembalkp opened #16476 "Error while login using Azure CLI"
getting an error while login using azure CLI.

http://localhost:8400/?error=invalid_request&error_description=AADSTS50139%3a+Session+is+invalid+due+to+missing+an+external+refresh+token.%0d%0aTrace+ID%3a+47ad116e-1a0f-42e2-9758-f411768b5500%0d%0aCorrelation+ID%3a+1f97f37c-d254-4852-8139-90b4090cb030%0d%0aTimestamp%3a+2021-01-10+11%3a04%3a34Z&state=t7swwkg5ei86w4axv2ps#

![image](https://user-images

[2021-01-10 12:39] githubgrace opened #16477 "WebApp:Configure the web app under Microsoft Learn Content "Architect modern applications in Azure Run a background task in an App Service Web App with WebJobs""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config connection-string set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config connection-string set --id {} --

[2021-01-10 18:44] bertwagner opened #16478 "Note needed about Enabling Access-Control-Allow-Credentials from CLI"
Since the `az functionapp cors` command allows adding/removing/showing origin URLs, I was expecting this same command to allow enabling Access-Control-Allow-Credentials as well.  I based this logic on the fact that these operations are shown on the same screen in the Azure Portal (numbers 2 and 3 in the screenshot):

![image](https://user-images.githubusercontent.com/4317083/104132114-49c07600-534

[2021-01-10 20:12] sanjaydebnath opened #16479 "az aks update --attach-acr fails with argument of type 'NoneType' is not iterable"
**Describe the bug**
_az aks update -n $CLUSTER_NAME -g $RG_NAME --attach-acr $ACR_NAME_ fails with below exception

`The behavior of this command has been altered by the following extension: aks-preview
AAD role propagation done[############################################]  100.0000%CLIInternalError: The command failed with an unexpected error. Here is the traceback:
argument of type 'NoneType'

[2021-01-10 20:18] ghost opened #16480 "az aks create error "allocated ports is not in an allowable range""
**Describe the bug**
The load balancer outbound ports validation logic doesn't work correctly when specifying more than 1 outbound IP address in the Azure-CLI.

**To Reproduce**
az aks create --node-count 3 --load-balancer-managed-outbound-ip-count 2 --load-balancer-outbound-ports 42664

**Expected behavior**
This should succeed. 2 outbound IPs, 64000 ports each with three nodes should allow outbo

[2021-01-10 23:57] yonzhan commented on #16477
webapp

[2021-01-10 23:58] yonzhan commented on #16476
az login

[2021-01-11 00:00] yonzhan commented on #16480
aks

[2021-01-11 00:01] yonzhan commented on #16479
aks

[2021-01-11 00:02] yonzhan commented on #16478
functionapp

[2021-01-11 01:35] yungezz commented on #16466
hi @qwordy could you pls have a look? thanks

[2021-01-11 01:36] yungezz commented on #16465
hi @qwordy could you pls help to have a look?

[2021-01-11 01:38] yungezz commented on #16463
hi @fengzhou-msft could you pls have a look? thanks

[2021-01-11 02:42] qwordy commented on #16465
@juan-acevedo-ntt Thank you for reporting this issue. I have found the cause. Will fix soon.

[2021-01-11 03:08] qwordy commented on #16466
hi @asiebenwirth-ish, Thank you for reporting this issue. It was fixed by https://github.com/Azure/azure-cli/commit/72c2203957760402e115e2056d018aa7a520d7bc.
Release date: 01/19/2021

[2021-01-11 03:14] zhoxing-ms commented on #15396
@bengodeloson Hi, this issue seems to be because your ARM template does not set a domain name label for dnsSettings of public IP address `simpleLinuxVMPublicIP`. Do you have any questions about this?

[2021-01-11 03:21] qwordy commented on #16457
I have not seen this error before. A mysterious issue.

[2021-01-11 03:22] zhoxing-ms commented on #15171
@divyagandhii Could you please show me the specific parameters you used? please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2021-01-11 03:36] qwordy commented on #16454
A similar issue https://github.com/Azure/azure-cli/issues/15590. I will try to support more encodings.

[2021-01-11 03:38] qwordy commented on #15590
Yes. I also think it is a bug fix. The feature-request label has a long story. There is a similar issue https://github.com/Azure/azure-cli/issues/16454 recently. I will prioritize this issue since more than one person reported it.

[2021-01-11 03:53] sktrinh12 commented on #8305
I couldn't get `--secret-build-arg` or `--build-arg` to work when passing `id_rsa` content to the `az acr build` command (in bash or powershell). I ended up just copying the `id_rsa` file from within the `Dockerfile`.

[2021-01-11 04:21] Kamran-Bilgrami opened #16481 "Exception when running az network vnet list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet list`

## Expected Behavior

## Environment Summary

[2021-01-11 05:37] Kamran-Bilgrami opened #16482 "Exception when running az network vnet list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet list`

## Expected Behavior

## Environment Summary

[2021-01-11 06:50] yonzhan commented on #16481
network

[2021-01-11 06:52] yonzhan commented on #16482
network

[2021-01-11 06:55] qwordy commented on #16465
I have submitted a PR to fix it.

[2021-01-11 07:36] zhoxing-ms commented on #15242
In fact, the policy assignment name is the suffix of policy assignment ID in CLI:
![Screenshot 2021-01-11 151836](https://user-images.githubusercontent.com/16612065/104155623-90ce6a00-5422-11eb-9573-2f35e9cc1f59.png)
![Screenshot 2021-01-11 152501](https://user-images.githubusercontent.com/16612065/104155631-93c95a80-5422-11eb-8eaf-8d4fab5888a0.png)

So this should be a issue of Portal: the origin

[2021-01-11 07:44] zhoxing-ms commented on #15312
@JsHuang This seems to be a problem with the installation of `azure-mgmt-resource` package. Could you please execute `pip install azure-cli` and try it again?

[2021-01-11 07:47] sri1056249 opened #16485 "az monitor activity-log list command not working for a particular resource."
az monitor activity-log list -g $rg --resource-id "$resourceId" is not fetching logs for a particular resource. It is fetching logs for the whole resource group. Can anyone share how to get logs only for a particular resource like vm, app service etc.
Note:- I also tried removing -g $rg, it is giving me an empty array.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-01-11 08:03] zhoxing-ms commented on #15403
@ROC38983 May I ask do you mean that you want CLI to support modifying the scope of policy assignment?

[2021-01-11 08:13] #16465 closed

[2021-01-11 08:14] qwordy commented on #16465
Release date: 01/19/2021

[2021-01-11 08:25] zhoxing-ms commented on #15422
This is an issue related to the REST API : [listqueryresultsforpolicydefinition](https://docs.microsoft.com/en-us/rest/api/policy-insights/policystates/listqueryresultsforpolicydefinition)

When the request URL is `https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01`, relevant data can be found

But