[2021-07-16 03:10] PradeeDevananth commented on #18875
az upgrade --yes
az upgrade is not supported by Cloud Shell.
Not expected these kind of issues from Azure.

[2021-07-16 03:37] yonzhan commented on #18889
@jiasli for awareness

[2021-07-16 03:37] zhoxing-ms commented on #18870
@kangsun-ctrl  Hi, in fact, our extension is usually used to implement new command groups or sub commands that are different from official CLI. Because this can avoid storing the same code logic both in CLI and CLI extension, otherwise it will increase our workload and make the subsequent code maintenance and bug fix more difficult. *(Because it needs to keep the new logic on both sides in sync)*

[2021-07-16 03:49] zhoxing-ms commented on #18870
So may I ask do we have some reasons that it must need to be implemented in CLI extension? If not, I personally suggest that it be implemented in CLI.

[2021-07-16 04:45] kangsun-ctrl commented on #18870
Hi Xing, I understand what you were meaning above. For my team, we never used cli extension before and we want to know how it works by trying it on a very small change. That's why we are targeting CLI extension for current change before we use it for any big changes you mentioned above.

Another reason is that we have a tight schedule and CLI extension can be released by our own pace(that's what I

[2021-07-16 06:19] yonzhan commented on #18881
route to service team

[2021-07-16 06:37] zhoxing-ms commented on #18870
Because it's just a small change of the existing parameter logic, I personally suggest putting it in the normal CLI. Otherwise, we will create and maintain an new extension containing `az vm create` command, which is high maintenance cost

[2021-07-16 07:07] JotaP commented on #18875
Github Action pipelines are also still failing when using their default runners... not good

[2021-07-16 07:09] iansong1995 commented on #18875
This has been brought up in https://github.com/actions/virtual-environments/issues/3735
where they mentioned that they will update the runners by Wed/Thurs...
in the mean time there's a workaround to run az cli upgrade to 2.26.1 (it adds about 5 mins to your workflow)

[2021-07-16 08:50] Juliehzl commented on #14743
`az storage container-rm` is supported now without additional data related roles. It will use login AD credential directly to ARM.

[2021-07-16 08:50] #14743 closed

[2021-07-16 08:53] xenatisch commented on #18875
Thanks @iansong1995, I can confirm that the workaround works.

Here it is for anyone who needs it:

[code]

To be run before the `az acr` command.

@JotaP this is the best we get until next week, apparently.

[2021-07-16 09:21] HenrikSommer-Energinet opened #18891 "az --version check for updates"
**Describe the bug**
We have a deploy agent with limit internet access and we are using a yml task: AzureCLI@2
When it start it call `az --version` to to print what version is installed on the deploy agent.
But the command is also check if there are any update and since the deploy agent dont have internet access for that, it taking about 20 sec. to do the check.

**To Reproduce**
1. remove interne

[2021-07-16 09:38] JotaP commented on #18875
Yep, we applied this workaround and it actually works (failed to mention it in this thread but did mention here: https://github.com/actions/virtual-environments/issues/3735). Thanks @xenatisch !

[2021-07-16 09:40] yonzhan commented on #18882
network

[2021-07-16 09:42] yonzhan commented on #18883
route to service team

[2021-07-16 09:43] yonzhan commented on #18887
@jiasli for awareness

[2021-07-16 09:51] yonzhan commented on #18891
@jiasli for awareness

[2021-07-16 09:54] ichukayev opened #18892 "az acr build TypeError: 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-16 09:56] yonzhan commented on #18892
route to service team

[2021-07-16 10:28] prepetti65 commented on #18418
Hi,

if I understand your question correctly, to build the az command line I started from here https://docs.microsoft.com/en-us/cli/azure/vm/extension?view=azure-cli-latest#az_vm_extension_set.

I was also referring to the use of single and double quotes in the settings and protected-settings part, e.g. '{"workspaceKey":"WORKSPACE_KEY"}'
I used them in the same way as described in the examples, bu

[2021-07-16 11:39] #16109 closed

[2021-07-16 12:08] InfinityGhost opened #18894 "WebApp:Failed upload "no file or directory" for file that exists"
## Describe the bug

Failed upload claiming a fail doesn't exist that does exist.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create webapp on Linux
- `az webapp up --sku {} --name {} --os-type {} --location {}`

## Expected Behavior

Finds the dir

[2021-07-16 14:03] katomaso opened #18895 "az aks should show help"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks --help`

## Expected Behavior

Show help

## Environment Summary
[code]
##

[2021-07-16 14:20] jms1voalte opened #18896 "'az policy assignment update' needs to validate '--not-scopes' value"
**Describe the bug**

The `az policy assignment update` option's `--not-scopes` option, or the underlying API call, are not validating their input.

**To Reproduce**

Assuming the policy already has two or more exclusions...

[code]

The first command returns a value with embedded newlines, so the second command submits a value with that long newline-separated string, followed by a space, followed

[2021-07-16 14:25] yonzhan commented on #18894
route to service team

[2021-07-16 14:27] yonzhan commented on #18895
route to service team

[2021-07-16 14:27] yonzhan commented on #18896
ARM

[2021-07-16 14:37] angelSeguraSimpatTech opened #18897 "Azure CLI error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build -f {} -t {} --registry {} --image {} {}`

## Expected Behavior

[2021-07-16 15:10] Gus-J46 opened #18898 "command has errors at start"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-07-16 15:12] anu-01 opened #18899 "'NoneType' object is not callable error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build -t {} -r {} {}`

## Expected Behavior

## Environment Summary

[2021-07-16 15:34] yonzhan commented on #18897
route to service team

[2021-07-16 15:35] yonzhan commented on #18898
interactive

[2021-07-16 15:36] yonzhan commented on #18899
route to service team

[2021-07-16 16:50] andygjp commented on #18832
Instructions to update azure-cli can be found here: https://github.com/actions/virtual-environments/issues/3735#issuecomment-880623386

These instruction got my hosted Ubuntu agent working again.

[2021-07-16 18:05] Haeavar commented on #18899
We have the same issue.

azure-cli                         2.26.0 *

/usr/bin/az acr build --verbose...............................
# WARNING: Packing source code into tar to upload...
# WARNING: Uploading archived source code from '/tmp/build_archive_26c136d5fb6b4acdbc0e3ec950eb0b6f.tar.gz'...
# INFO: Client-Request-ID=e2a70822-e65e-11eb-ad45-890782afddf6 Outgoing request: Method=PUT, Path=/3d0bd

[2021-07-16 18:09] luisdlp commented on #18899
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-16 18:18] Haeavar commented on #18899
Great news. How can I make my .yml build files to use the 2.26.1 instead of 2.26.0?

I'm using the AzureCLI like following
`    - task: AzureCLI@2
      displayName: 'AcrBuild Container'
      inputs:
        azureSubscription: ${{ parameters.azureSubscription }}
        scriptType: pscore
        scriptLocation: 'inlineScript'
        inlineScript: |
          az acr build .......................

[2021-07-16 18:44] veleek commented on #15056
Thanks, I'll give it a shot.

[2021-07-16 18:50] anilpras opened #18901 "WebApp:az webapp config set -g Test-WestUS -n azvnet --generic-configurations fails with "not enough values to unpack (expected 2, got 1)""
**Describe the bug**

az webapp config set -g MyResourceGroup -n MyUniqueApp --generic-configurations "{"alwaysOn": true}"

The above command is failing with below, I could reproduce the issue for the windows and Linux app services.

**az webapp config set  -g Test-WestUS -n azvnet --generic-configurations "{"alwaysOn": true}"**
The command failed with an unexpected error. Here is the traceback:
*

[2021-07-16 19:32] rodolfossouza opened #18902 "Can't Create VPN-SITE on Virtual Wan with **--site-key** parameter for az network vpn-site module"
## Can't Create VPN-SITE on Virtual Wan with **--site-key** parameter for az network vpn-site module

I've configured a Virtual Wan to migrate my Site-To-Site VPNs from Azure VPN Gateway. How i have lot's of VPNs i was trying to use az cli with module (vpn-site) that are in preview to automate the creation of the connections.
I can create the connection, but only without the Pre-SharedKey that we

[2021-07-16 19:41] Blackbaud-EricSlater opened #18903 ""az acr task timer remove" fails after upgrading to cli 2.26.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr task timer remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az acr task timer remove -n {} -r {} -g {} --timer-name {}`

This is failing on my local computer runnn

[2021-07-16 20:46] jaysson1710 opened #18904 "WebApp:az appservice kube "ModuleNotFoundError: No module named 'vsts_cd_manager'""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice kube create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice kube create --resource-group {} --name {} --cust

[2021-07-16 21:20] viananth opened #18905 "EdgeZone: If --lb-sku is not specified, "az vmss create" creates public ip in main region"
**Describe the bug**

During VMSS creation in edge zones, if "--lb-sku standard" is not specified, public ip for lb is created in main region instead of edge zone.

**To Reproduce**

az vmss create -n testVmss2 -g test-vmssrg --image UbuntuLTS --edge-zone microsoftlosangeles1 --location westus

**Expected behavior**

Public IP - Basic SKU is not supported in edge zones. Edge Zones are built out us

[2021-07-16 21:22] genegc commented on #16104
Thank you. It's working for me now.
I used the following command:
`az synapse notebook create --workspace-name syn-mytest1 --name testnotebook --file @./mytest.ipynb --debug`

But I also realized that this only works if you don't have your workspace configured to use a git repo (ie, you have to be in "live mode" to see the notebook that gets created).

If you have your workspace configured to use

[2021-07-16 21:39] taras-laba opened #18906 "Azure Cloud Shell fails to build docker image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-16 21:40] #18906 closed

[2021-07-16 22:07] shenmuxiaosen commented on #18845
The configuration provider doesn't support multiple labels in one shoot. It actually rely on caller to decide the order explicitly by calling Select(). And then they will trigger separate request for each Select(). For the same concept, CLI can only export **one** label per command call. In the helper message for --label, it says that filters are not supported either ```*``` or ```,```. So the sug

[2021-07-16 23:20] yonzhan commented on #18905
Compute

[2021-07-16 23:22] yonzhan commented on #18904
route to service team

[2021-07-16 23:24] yonzhan commented on #18901
route to service team

[2021-07-16 23:26] yonzhan commented on #18903
route to service team

[2021-07-16 23:28] yonzhan commented on #18902
network

[2021-07-17 00:42] gvt opened #18908 "az acr build fails with python error 'NoneType' object is not callable"
Full command-line command and resulting output:

[code]

Screenshot of my command line:
![Screen Shot 2021-07-16 at 8 41 42 PM](https://user-images.githubusercontent.com/15811/126020290-53b6a369-bbb0-461d-b469-b0cbe2ce3e94.png)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to rep

[2021-07-17 03:18] yonzhan commented on #18908
route to service team

[2021-07-17 04:15] vaisakh007 opened #18910 "az cli command failing in ubuntu 20.4 microsoft hosted agent azure devops"
## Describe the bug
I was building  docker image using az acr commands from azure devops pipeline(ubuntu 20.04 microsoft hosted) and am making use of azcli task for the az login purpose but it is failing.
Please note that the this task was working previously and i have not made any changes to the pipeline or  service connection
az cli task is failing for version 2.26.0
**Command Name**
 - task: Az

[2021-07-17 09:18] vaisakh007 commented on #18910
same issue is already raised #18908 .Hence this is a duplicate and am closing this

[2021-07-17 09:18] #18910 closed

[2021-07-17 09:20] vaisakh007 commented on #18908
I am also facing the same issue

[2021-07-17 12:24] Kreetik-T opened #18911 "Cannot get deployment logs from Azure using python module azure.cli"
### **This is autogenerated. Please review and update as needed.**

## I am trying to retrieve deployment center logs for an app service in Azure using python and the azure.cli library. Other commands like `az group list` seem to be working just fine but this one seems to be returning an error. I've tried using pip to uninstall and reinstall the module 'nacl' that seems to be missing, but pip coul

[2021-07-17 13:47] yonzhan commented on #18911
route to service team

[2021-07-17 14:03] aneshr commented on #18874
Still not working in Cloud Shell , not able to upgrade it to 2.26.1

[2021-07-17 14:17] synergygithubllc opened #18912 "Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account set --subscription {}`

## Expected Behavior

## Environment S

[2021-07-17 16:13] vijayshinva commented on #18908
I run this command as part of a GitHub Action and it fails running on **ubuntu-latest** or **ubuntu-18.04**. Similar to what @vaisakh007 reported. I added **az acr check-health** and it reports everything is fine with the acr instance.

![image](https://user-images.githubusercontent.com/16094361/126042959-e64f534f-cc78-44b7-9724-ac04d68143b6.png)

[2021-07-17 16:16] panaut0lordv commented on #16695
It happens on AMD64 as well and actually it returns `$'true\r\n'` (hex: 7472 7565 0d0a) but your subshell call `$()` truncates all trailing newlines. If output would be only `$'true\n' (hex: 7472 7565 0a) subshell would behave as expected.

Therefore I agree that having CLI tool on Linux output MS line ending is not only unsettling but qualifies as a bug as this extraneous CR (0d aka carriage retu

[2021-07-17 20:32] Andreas-Huber commented on #18908
Can confirm the same issue in the Azure Cloud Shell, while building a from the [Azure Kubernetes Service Workshop Exercise - Create a private, highly available container registry](https://docs.microsoft.com/en-us/learn/modules/aks-workshop/03-deploy-container-registry).

[2021-07-18 01:52] yonzhan commented on #18912
@jiasli for awareness

[2021-07-18 07:12] madhavgoyal98 opened #18913 "Building image failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --file {} --registry {} --image {} {}`

## Expected Behavior

[2021-07-18 07:40] sarveshc opened #18914 "az acr build | Error |mslearn-aks-workshop-ratings-api"
![error](https://user-images.githubusercontent.com/12584021/126059628-65cf922b-cd80-4ca6-bdd5-6331b8a89a06.JPG)
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put

[2021-07-18 10:00] yonzhan commented on #18913
route to service team

[2021-07-18 10:01] yonzhan commented on #18914
route to service team

[2021-07-18 11:54] gopisettyr opened #18915 "Seems like there is an issue i'm getting this error while deploying [WinError 193] %1 is not a valid Win32 application"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep upgrade`

## Expected Behavior

## Environment Summary
[code]

[2021-07-18 12:37] CarstenHS opened #18916 "az acr build in Azure Web App learn doesn"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-18 15:30] yonzhan commented on #18916
route to service team

[2021-07-18 15:31] yonzhan commented on #18915
route to service team

[2021-07-18 19:20] aPraelexisAdministrator opened #18917 "az mysql db list error?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az mysql db list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az mysql db list --resource-group {} --server-name {}`

## Expected Beh

[2021-07-18 23:00] yonzhan commented on #18917
route to service team

[2021-07-18 23:37] angelSeguraSimpatTech commented on #18897
@luisdlp @yugangw-msft @toddysm
Good afternoon. I was wondering if we have any lead on this issue, team?
Do you need me to do something in order to help on this issue?
Thank you very much.

[2021-07-19 02:56] Kotasudhakarreddy commented on #18904
Duplicate of #18797

[2021-07-19 03:10] hevel opened #18918 "azlogin got an unexpected keyword argument 'user_agent'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal --username {} --password {} --tenant {}`

## Expec

[2021-07-19 03:44] yonzhan commented on #18918
@jiasli for awareness

[2021-07-19 05:20] CislakDamian opened #18920 "Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[code]
## Addi

[2021-07-19 06:52] Kotasudhakarreddy commented on #18901
Looking in to the issue.

[2021-07-19 06:53] Kotasudhakarreddy commented on #18901
As an alternative you can use `az webapp config set -g MyResourceGroup -n MyUniqueApp --always-on true`

[2021-07-19 07:27] yonzhan commented on #18920
route to service team

[2021-07-19 07:41] tscamell commented on #13929
Other than being bumped milestones, is there any update on this please?

[2021-07-19 07:43] Haeavar commented on #18899
Calling `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash -s -- -y` in a previous task solved this for us.

[2021-07-19 08:00] 00Kai0 commented on #18606
Bump version PR: https://github.com/Azure/azure-cli/pull/18923

[2021-07-19 08:17] alizamani84 commented on #18908
The issue was fixed in azure cli [2.26.1](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021). Could not upgrade the cli from 2.26.0 to 2.26.1 via `az upgrade`, but `pip install azure-cli` worked without any issue.

[2021-07-19 08:18] alizamani84 commented on #18892
The issue was fixed in azure cli [2.26.1](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021). Could not upgrade the cli from 2.26.0 to 2.26.1 via `az upgrade`, but `pip install azure-cli` worked without any issue.

[2021-07-19 08:36] ichukayev commented on #18892
Nice, but it does not work for me ((
see command log below:

Requesting a Cloud Shell.Succeeded.
Connecting terminal...

Welcome to Azure Cloud Shell

Type "az" to use Azure CLI
Type "help" to learn about Cloud Shell

ivan@Azure:~$ az version
{
  "azure-cli": "2.26.0",
  "azure-cli-core": "2.26.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5",
    "ssh": "0.1.5"

[2021-07-19 09:34] alizamani84 commented on #18892
I used `pip install azure-cli` in a bash task in my pipeline yaml file, see image below. Not sure if that should work with CloudShell. Have you tried `az upgrade`? You may use `az upgrade --yes --debug` to get more info about why az upgrade fails. I even tried `sudo apt-get install --only-upgrade -y azure-cli`, but did not help until pip did the work.

![image](https://user-images.githubuserconten

[2021-07-19 09:52] ichukayev commented on #18892
I tried all steps in Cloud Shell, the issue was only in it.
But now I finally notice that az version get me new version
ivan@Azure:~$ az version
{
  "azure-cli": "2.26.1",
  "azure-cli-core": "2.26.1",
  "azure-cli-telemetry": "1.0.6",
  "exte

[2021-07-19 09:52] #18892 closed

[2021-07-19 10:22] davidokeyode commented on #18916
I'm having the same issue using _**az acr build --registry {} --image {} {}**_ in cloudshell

[2021-07-19 11:44] yellowhat commented on #18415
May I ask to reopen?

[2021-07-19 12:16] sugakriliferay opened #18925 "Azure shell acr remote build not working"
## Describe the bug
acr build command drops exception on Azure cloud shell. On local computer acr build works properly.

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `git clone 'https://github.com/Azure-Samples/acr-build-helloworld-node'`
- `cd acr-b

[2021-07-19 12:47] arshiyaabdullatheef opened #18926 "az acr build error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry --file {} {}`

## Expected Behavior

##

[2021-07-19 13:27] thegoatherder opened #18927 "`az cdn endpoint purge` replaces endpoint relative path with git bash absolute path"
## Describe the bug

**Command Name**
`az cdn endpoint purge`

**Errors:**
[code]

It seems that `az` client is replacing `/index.html` with `{absolute path of my git bash}/index.html`. It's sending this replaced absolute path to the server instead of `/index.html`

## To Reproduce:
- Run this from Git bash on windows
- `az cdn endpoint purge --name {} --resource-group {} --profile-name {} --no-wa

[2021-07-19 13:28] thegoatherder commented on #18927
It's probably worth pointing out that if I take the same command and paste it into Powershell on the same machine, it completes without error.

[2021-07-19 14:35] sugakriliferay commented on #18925
When I download and install latest AzureCLI, build works fine.
`curl -L https://aka.ms/InstallAzureCli | bash`

Seems the default cloud shell az version has this bug, or the default configs.

[2021-07-19 14:44] anu-01 commented on #18899
After upgrading to 2.2.6.1, the issue is resolved. Thanks Luis.

[2021-07-19 14:44] #18899 closed

[2021-07-19 14:55] vaisakh007 commented on #18908
Would be nice to have task like https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/node-js?view=azure-devops for mentioning az cli version other wise the command like az acr build is completely unreliable

[2021-07-19 14:59] SailingYYC commented on #18884
this is impacting to us as well, is there any update?

[2021-07-19 15:43] gustavo-lara-molina opened #18929 "Azure Cloud Shell: The az acr build command throws TypeError: 'NoneType' object is not callable exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --resource-group {} --registry {} --image {} {}`

## Expected

[2021-07-19 15:54] yonzhan commented on #18926
route to service team

[2021-07-19 15:55] yonzhan commented on #18929
route to service team

[2021-07-19 15:56] yonzhan commented on #18884
AKS service team should take a look

[2021-07-19 15:56] grahamhayes opened #18930 "AZ CLI does not install SOCKS support by default"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az *`

**Errors:**
[code]

## To Reproduce:
Run any Azure CLI command with `ALL_PROXY` set to a SOCKS5 proxy

- _Put any pre-requisite steps here..._
- `export ALL_PROXY=socks5h://<host>:<port>`
- `az login`

## Expected Behavior

Command should complete as expected

## Environment Summary
[c

[2021-07-19 15:57] yonzhan commented on #18925
route to service team

[2021-07-19 15:58] campbellj0 commented on #18884
The 2.26.0 release notes mention that the "az aks get-credentials" added a check for KUBECONFIG environment variable.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-06-2021
Is there a work around for this env var check?
Is there anyway to set the AzureCLI@2 task to use a specific version of the az cli?
If this were possible, we could rollback to 2.25.0.

[2021-07-19 15:58] yonzhan commented on #18927
route to service team

[2021-07-19 16:01] yonzhan commented on #18930
@jiasli for awareness

[2021-07-19 16:05] SailingYYC commented on #18884
Based on this, I think the `azure-cli` is the source of the bug. `KUBECONFIG` is an override, it is not a required EnvVar, and will not exist on the vast majority of systems. This behaviour should be flagged as a bug and immediately remediated to follow the `kubectl` logic, as appropriate for the host OS.

[2021-07-19 16:17] grahamhayes commented on #18930
Adding `requests[socks]` to the requirements should do the trick (tested on Mac via ` pip3 install requests[socks] --prefix /usr/local/Cellar/azure-cli/2.26.1/ --ignore-installed` )

[2021-07-19 16:39] jaysson1710 commented on #18904
Hi everyone
This error can be avoided if you use python 2.x.

[2021-07-19 16:57] jiasli commented on #18566
No. No script is involved. The lines for installing MSI in `az upgrade` are

https://github.com/Azure/azure-cli/blob/3d14ca21e648f4fc0124132a43156a85a50251cd/src/azure-cli/azure/cli/command_modules/util/custom.py#L133-L135

Does it work if you directly call this command from Command Prompt?

[code]

Also, could you open `regedit.exe`, go to `HKLM\Software\Policies\Microsoft\Windows\Installer` and

[2021-07-19 17:05] awz5015 commented on #18884
It seems that part of our problem may be coming from the "KubernetesManifest@0" azure devops task setting the following at the end of the task (shown when executing pipeline with System Diagnostics enabled).

[code]

Any subsequent `AzureCLI@2` tasks running `az aks get-credentials` on `azure-cli >  2.25.0` then appear to fail because of this blank `KUBECONFIG` EnvVar.

I was able to reproduce thi

[2021-07-19 18:59] agm83 opened #18932 "Unable to create a Firewall Policy Network Rule with Destination FQDNs via cli 'az network firewall policy rule-collection-group collection rule add --target-fqdns`"
Adding an FQDN using the '--target-fqdns' in a network rule via command `az network firewall policy rule-collection-group collection rule add` returns an error:  "Firewall Policy Network Rule testFQDN must have one of destinationAddresses, destinationIpGroups or destinationFqdns specified"

`az network firewall policy rule-collection-group collection rule add -g $globalRg --collection-name $RuleCo

[2021-07-19 20:55] gowrimshankar opened #18933 "issue with az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-19 21:28] carolga commented on #18341
Hi!

Would like to show an example of how to add a site extension to a web app.

***@***.***D77CBB.1D025660]
***@***.***D77CBB.1D025660]

Thanks!
-cg 😊
Carol Garcha
Support Escalation Engineer
Azure Rapid Response – Web Apps
+1 469.775.0142
Working Hours: M-F 8:00 am-5:00 pm US CT
Need help outside of my working hours?
Locate an engineer: ***@***.******@***.***>
Manager: Gail Heimann / ***@***.***

[2021-07-19 21:52] fenwickt commented on #14197
Hi ankitsrao,

Sorry for the delayed reply. The first part of your question about id and type columns are not printed in table format is actually by design of Azure CLI. Please find the docs and the workaround [in the 'note' section](https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli#table-output-format). Looks like you're already using another workaround of renaming type column to

[2021-07-19 22:15] akshayjshah commented on #18413
I don't think that should be necessary: I'm deploying to [Azure Stack Edge Zones](https://azure.microsoft.com/en-us/blog/microsoft-partners-with-the-industry-to-unlock-new-5g-scenarios-with-azure-edge-zones/), not Azure Stack Hub. I'm deploying resources to the edge zone using resource providers from the standard Azure public cloud, and the `az group`, `az deployment`, `az vm`, `az cosmosdb`, etc.

[2021-07-19 22:28] rakeshakkera commented on #18555
@yonzhan , can this be made part of the Jul 2021 (2021-08-03) milestone as this is not released yet and the code complete date is 07/28/2021?

[2021-07-19 23:32] yonzhan commented on #18932
network

[2021-07-19 23:34] yonzhan commented on #18933
route to service team

[2021-07-20 04:22] kasunsjc opened #18934 "AttributeError: 'SubscriptionClient' object has no attribute 'config'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-07-20 05:00] yonzhan commented on #18934
@jiasli for awareness

[2021-07-20 06:43] #18404 closed

[2021-07-20 06:47] priyanka-raghavan-maersk opened #18936 "Not sure why az login does not work. But i was logged in through browser but still see this error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-07-20 06:52] vermegi commented on #18566
I ended up installing/upgrading by running:
Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi
As described here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell (Microsoft MSI with command).
I ran this from an administrative PowerS

[2021-07-20 06:54] vermegi commented on #18566
The above "powershell.exe -NoProfile Start-Process msiexec.exe -Wait -ArgumentList '/i https://aka.ms/installazurecliwindows'"
Fails with:
Start-Process : A positional parameter cannot be found that accepts argument 'https://aka.ms/installazurecliwindows'.
At line:1 char:1
+ Start-Process msiexec.exe -Wait -ArgumentList /i https://aka.ms/insta ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-07-20 06:59] yonzhan commented on #18555
@rakeshakkera Since there are many high priority features in this sprint, we will kick off implementation from next sprint.

[2021-07-20 07:34] yonzhan commented on #18936
@jiasli for awareness

[2021-07-20 07:41] t-bzhan commented on #18927
Hi @thegoatherder and @yonzhan , that is not an CDN issue, nor this is an CLI issue.

It seems that MinGW/MSYS will mangling the paths from the command: https://stackoverflow.com/questions/7250130/how-to-stop-mingw-and-msys-from-mangling-path-names-given-at-the-command-line
To disable the behavior, you could set

![image](https://user-images.githubusercontent.com/61817681/126281015-3de2622c-682e-4

[2021-07-20 07:46] jiasli commented on #18566
@vermegi, you will need to try the command in **Command Prompt**, not PowerShell:

[code]

The caller PowerShell will interpret single quotes `'` and strip them when calling `powershell.exe`.

[2021-07-20 07:54] priyanka-raghavan-maersk commented on #18936
I have gone ahead and also done the following
brew reinstall openssl@1.1
brew link --force openssl
brew reinstall azure-cli
az login

as per this blog https://github.com/Azure/azure-cli/issues/6409. No luck

[2021-07-20 08:20] t-bzhan commented on #18805
Hi @simedbn , I could repro the error. It seems that some old versions of Az CLI (2.14.0 is rather old now) are not compatible with recent front-door extensions. Could you try to update you CLI version to the latest. The command works with no error with the latest CLI and front-door extension.

[2021-07-20 08:28] jiasli commented on #18869
Checked the source code of `argparse`. In the `--password=-secret` solution, the value `-secret` is called an **explicit argument** (`explicit_arg`):

https://github.com/python/cpython/blob/db3ff76da19004f266b62e98a81bdfd322861436/Lib/argparse.py#L2194-L2199

[code]

Then `argparse` checks if the `action` represented by `option_string` takes this _one_ `explicit_arg`:

https://github.com/python/cp

[2021-07-20 08:32] jiasli commented on #18869
Below is why `argparse` doesn't support multi-value arguments when `=` is used.

In the `--password=-secret` solution, the value `-secret` is called an **explicit argument** (`explicit_arg`):

https://github.com/python/cpython/blob/db3ff76da19004f266b62e98a81bdfd322861436/Lib/argparse.py#L2194-L2199

[code]

Then `argparse` checks if the `action` represented by `option_string` takes this _one_ `ex

[2021-07-20 08:34] zezha-msft commented on #16923
@evelyn-ys sorry for the delay.

As explained in the [doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#advanced), AzCopy infers mime types using the OS settings. We understand that this can be problematic in environments where the settings are not configurable.

In the latest version v10.11, we've added a new environment variable that can take in a custom map for

[2021-07-20 08:41] jiasli commented on #18936
`azure-cli` 2.0.68 is a very old version. Could you follow [Install Azure CLI on macOS](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos) and install the latest version with

[code]

[2021-07-20 08:44] jiasli commented on #18930
@grahamhayes, Azure CLI doesn't install `requests[socks]` by default:

https://github.com/Azure/azure-cli/blob/a46fb8cee0234e7970d75d1bbbeb0b86339e998d/src/azure-cli-core/setup.py#L60

as it will introduce additional dependencies for users who don't use SOCKS5 proxy.

And yes, you may install `requests[socks]` on-demand to Azure CLI's installation folder:

https://docs.python-requests.org/en/maste

[2021-07-20 08:44] #18930 closed

[2021-07-20 09:03] guaidoukx opened #18937 "ModuleNotFoundError: No module named 'vsts_cd_manager'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

It is in https://docs.microsoft.com/en-us/azure/app-service/manage-create-arc-environment
 when  `Create the App Service Kubernetes environment`

**Command Name**
`az appservice kube create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2021-07-20 09:10] yonzhan commented on #18937
route to service team

[2021-07-20 09:25] grahamhayes commented on #18930
@jiasli - yeah, that is true, but with the default installation methods used by the CLI avoid using the system python site-packages (brew on OSX, an apt package that ships an entirely new python binary on ubuntu for example), the installation of the extra package is difficult

e.g. - `sudo /opt/az/bin/python3 /opt/az/bin/pip3 install requests[socks]==2.25.1 --target=/opt/az/lib/python3.6/site-pack

[2021-07-20 09:27] AiHaibara opened #18938 "az acr build error in azure devops pipeline in version 20210711.1"
## Describe the bug
error suddenly in azure devops pipeline after 2021/7/15.
**Command Name**
``
az acr
build
--verbose
--registry
‘xxxxx'
--resource-group
'xxxxx'
--platform
linux/amd64
--file
D:\a\1\s\modules\src\FileDownload\bin\publish\Release\linux-x64\Dockerfile.linux-amd64
--image
'xxxxx'
'D:\a\1\s\xxxxxx'
 for ...

**Errors:**
WARNING: Packing source code into tar to upload...
WARNING: Upl

[2021-07-20 09:34] EdgyEdgemond opened #18940 "MSI not supported for storage directory commands."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs directory upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login` # with a service principal
- `az storage fs dir

[2021-07-20 09:52] yonzhan commented on #18938
route to service team

[2021-07-20 09:54] jiasli commented on #18930
Thanks @grahamhayes for the detailed explanation. Let's work on the PR https://github.com/Azure/azure-cli/pull/18931 instead.

[2021-07-20 09:59] yonzhan commented on #18940
storage

[2021-07-20 10:13] priyanka-raghavan-maersk commented on #18936
Please close this. It really helped. Thank you

[2021-07-20 10:13] #18936 closed

[2021-07-20 10:22] jiasli commented on #18936
Glad to know the it works for you. 😀

[2021-07-20 10:22] jiasli commented on #18936
Glad to know it works for you. 😀

[2021-07-20 11:47] vermegi commented on #18566
Running that from cmd is successful, it did not show that same policy pop-up, it did fail however during the actual upgrade process with an error code (I choose the repair process). I am already on version 2.26.1 and no longer on 2.23.

[2021-07-20 11:56] adeliab commented on #13613
This error still happens 👎 👎

[2021-07-20 12:16] yonzhan commented on #13613
API management service team should take a look

[2021-07-20 12:22] Morriz commented on #17827
@evelyn-ys did you add this to the docs? Otherwise I advise to keep this open...

[2021-07-20 13:00] ericjowens opened #18941 "cacerts not found after OneDrive (enterprise) migration"
**Describe the bug**
AZ CLI is looking for TLS CA Certificates bundle in a location that is no longer valid, but once was.

**To Reproduce**
Enterprise migration to OneDrive and allow all files/folders to migrate.
Install AZ CLI
Open cmd and run 'az login'

**Expected behavior**
AZ CLI should be able to locate the TLS CA Certificates bundle in the newly migrated location.

**Environment summary**

[2021-07-20 13:31] zevanreg commented on #18938
I have the same issue running az acr build from Azure CloudShell

[2021-07-20 15:11] mikegoatly opened #18942 "`az network vnet list` --resource-group filter does not seem to be working"
## Describe the bug

**Command Name**
`az network vnet list --resource-group ...`

**Errors:**
No errors, the command just returns an empty array even though vnets are present in the resource group.

## To Reproduce:
(I'm using PowerShell in the steps below)

- $ResourceGroup = "my-resource-group"
- `az network vnet list --resource-group $ResourceGroup`

Output:
[code]

Note that if I use a JMES q

[2021-07-20 17:16] sunnyhay commented on #18847
Thank you for the sample. It works.

[2021-07-20 17:16] #18847 closed

[2021-07-20 17:30] hari-bodicherla opened #18943 "Capacity Reservation, VM and VM ScaleSets (high priority)"
**Is your feature request related to a problem? Please describe.**
   This feature request is for introducing a new resource called Capacity Reservation. Today Azure provides capacity for the virtual machines in most scenarios and provides availability SLA for virtual machines once deployed in that capacity. But we currently lack features to provide SLA for the capacity availability prior to VM/VM

[2021-07-20 18:08] angelSeguraSimpatTech commented on #18897
Good afternoon @yonzhan.
Do we have any update for this matter?
Do you need more info from my side?
Thanks.

[2021-07-20 18:13] Mossaka commented on #18776
Thanks @Bunzab , we have an internal tracking item to add docs for YAML schemas for V2 CLI resources. In the meantime, you can use the Azure Machine Learning extension in VSCode to help writing the YAML schema.

Once you installed that extension, you can create a datastore yaml by typing the following command:
![image](https://user-images.githubusercontent.com/5447827/126374429-689369f7-c24d-42f6-

[2021-07-20 18:46] anilpras commented on #18901
Got it working, CLI/BASH use the below, essentially I just used the escape sequence as discussed here - https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#using-quotation-marks-in-values
I found both the commands to be working fine,
CLI - az webapp config set  -g privateendpoint -n app-with-pe --generic-configurations "{\"vnetRouteAllEnabled\": true}"
Bash - az webapp config set --subs

[2021-07-20 19:51] pvrk commented on #18745
@mimergel : To delete backup items, we have the 'az backup protection disable' command. You need to disable protection and delete data (check whether soft-delete is disabled) for ALL items within a container and THEN we can unregister a container. The purpose of 'unregister' command is to remove any link from the container to the vault and allow it to be protected to another vault. In case of Azur

[2021-07-20 21:53] anilpras commented on #18901
Got it working, CLI/BASH use the below, essentially I just used the escape sequence as discussed here - https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#using-quotation-marks-in-values
I found both the commands to be working fine,
CLI - az webapp config set -g privateendpoint -n app-with-pe --generic-configurations "{"vnetRouteAllEnabled": true}"
Bash - az webapp config set --subscri

[2021-07-20 21:53] #18901 closed

[2021-07-20 23:29] yonzhan commented on #18941
@jiasli for awareness

[2021-07-20 23:30] yonzhan commented on #18942
network

[2021-07-20 23:34] yonzhan commented on #18897
acr service team should take a look

[2021-07-20 23:35] yonzhan commented on #18943
Compute

[2021-07-21 01:59] evelyn-ys commented on #17827
Actually, for all the arguments in CLI, the default value is `None` if not mentioned. Only if when it has different default, we will hint in help.
![image](https://user-images.githubusercontent.com/10227683/126418594-93920910-966e-4cc4-875d-03e75c737eba.png)

[2021-07-21 02:14] zhoxing-ms commented on #18943
@hari-bodicherla Hi, may I ask why https://github.com/Azure/azure-rest-api-specs/pull/15158 has been closed? Is it because it was replaced by https://github.com/Azure/azure-rest-api-specs/pull/15058?
By the way, since this requirement seems to be a big workload, we can't catch up with the sprint to complete it. Will the next sprint release this requirement in **09-03** meet your expectations?

[2021-07-21 04:06] jiasli opened #18944 "ADAL to MSAL migration"
As [ADAL has been deprecated](https://github.com/AzureAD/azure-activedirectory-library-for-python):

[MSAL for Python](https://github.com/AzureAD/microsoft-authentication-library-for-python).

Azure CLI needs to be migrated from ADAL to MSAL.

### Reference

- [Microsoft Authentication Library (MSAL) for Python](https://github.com/AzureAD/microsoft-authentication-library-for-python)
- [Microsoft A

[2021-07-21 04:09] yonzhan commented on #18944
The rough ETA for GA is the end of October.

[2021-07-21 07:57] woodymoo opened #18945 "az account get-access-token got exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token`

## Expected Behavior

## Envir

[2021-07-21 07:57] tomavokal opened #18946 "When run in Cloud-Shell, `az account get-access-token` can't retrieve token for Power Platform"
**Describe the bug**
Fetching token for Power Platform (Dataverse) environment is not possible form Azure Cloud-Shell (Bash). This seems to be by design since `crm.dynamics.com` is not valid resource registered for Cloud Shell MSI. Behavior between execution from client and Cloud shell is different (Cloud shell seems to be calling to some MSI proxy: https://github.com/Azure/msrestazure-for-python/

[2021-07-21 08:00] Morriz commented on #17827
It seems my best takeaway from your response is the fact that we can use hinting to see defaults and format of input parameters. Is that assumption correct? Can I see hinting for every input param consistently and rely on that? If so is that reflected in the docs?

[2021-07-21 09:30] RobHofmann opened #18947 "WebApp:az webapp config access-restriction remove broke since 2.26.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config access-restriction remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config access-restriction remove --

[2021-07-21 09:35] yonzhan commented on #18945
@jiasli for awareness

[2021-07-21 09:37] yonzhan commented on #18946
@jiasli for awareness

[2021-07-21 09:40] yonzhan commented on #18947
route to service team

[2021-07-21 09:47] sanderaernouts opened #18948 "`az sql server create` adds `None` to output"
## Describe the bug
Running `az sql server create` and capturing the output in a variable (in Powershell in my case) adds `None` to the output. The command `az sql server create .... --query id --output tsv` returns `None <id>` instead of  `<id>` which breaks places in the my where the output if this command is used.

**Command Name**
`az sql server create`

**Errors:**
[code]

## To Reproduce:
St

[2021-07-21 09:48] evelyn-ys commented on #17827
Yes. Each argument which has set default value explicitly will auto-generate the hint in help msg.

I can't ensure every param because some command might have implicit transformer in Python SDK or CLI customization. But most of them are reliable.

Which CLI docs are you referring? I'll discuss this internally about the doc.

[2021-07-21 10:25] mancaus commented on #9332
Note that in our case there is no way to satisfy the (sensible, standard, non-surprising) requirements of our security standard that secrets should never be put in persistent storage during usage.

Note that it would also be great if password could be piped to `az login`. There are circumstances where passwords may end up in logs otherwise. And, it's not uncommon for people to store these in envir

[2021-07-21 10:31] yonzhan commented on #18948
route to service team

[2021-07-21 11:32] Sasi-JellyFish opened #18949 "az acr task credential add failing with v2.26.0 and v2.26.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr task credential add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr task credential add --name {} --registry {} --login-se

[2021-07-21 11:52] gro1m commented on #18769
@Juliehzl What's more this workaround will (respectively should) not work from pip version 21.1.3 forward, as is detailed in this article https://pip.pypa.io/en/stable/user_guide/#resolver-changes-2020:

_The most significant changes to the resolver are:

It will reduce inconsistency: it will no longer install a combination of packages that is mutually inconsistent. In older versions of pip, it is

[2021-07-21 11:57] Sasi-JellyFish commented on #18949
No problem till the tag 2.25.0. This image has Python 3.8.9. Problem started from tag 2.26.0.

[2021-07-21 13:44] ipg-informatik commented on #18005
We had the same problem, an "az extension update --name aks-preview" should help

[2021-07-21 15:09] mccleanp opened #18950 "az redis firewall-rules throwing an exception"
[code]

Looks like the azure_mgmt_redis module has been updated, which removed the list_by_redis_resource method.

[2021-07-21 15:18] thy09 opened #18951 ""az extension add" hangs in azure devops CI pipelines when the PAT token for a pip source is revoked."
**Describe the bug**
**Scenario:**
We are building extensions for azure cli.
We install the extension in our CI pipeline for testing.
To install some internal packages, we use a **pip connection** with a PAT token to enable extra index urls.

**Problem:**
When the PAT token of the pip connection is revoked (it could be auto revoked at some time.) The "az extension add" command will hang when runni

[2021-07-21 15:35] afelthe commented on #3988
So how do we fix this issue in a Jupyter notebook?

[2021-07-21 15:58] yonzhan commented on #18949
route to service team

[2021-07-21 16:00] yonzhan commented on #18950
route to service team

[2021-07-21 16:01] yonzhan commented on #18951
route to service team

[2021-07-21 17:04] varma31 opened #18952 "az acr build issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

[2021-07-21 17:51] lostmygithubaccount commented on #4722
I just ran into this issue, running a similar Docker container setup. this worked for me:

[code]

[2021-07-21 18:11] psinghca commented on #18875
@JotaP  Is there any ETA on when the release will be updated on the Cloud Shell as well? It's still running the 2.26.0 version.

[2021-07-21 21:25] miwithro commented on #18759
@haitch to comment.

[2021-07-21 22:22] haitch commented on #18759
I think this breaks when we switch to use non-root user to improve security.

I will look into fix this ASAP.

[2021-07-21 22:51] yonzhan commented on #18952
route to service team

[2021-07-21 23:23] brianlehr opened #18953 "Support for CustomIpPrefix (BYOIP)"
**Resource Provider**
NRP

**Description of Feature or Work Requested**
Need to have CLI support a new feature for customers to bring their own IP ranges to Azure, coming to Public Preview by 9/30.  This is all done using the CustomIpPrefix object - a new type of NRP resource.  Full PowerShell support is[ in progress](https://github.com/Azure/azure-powershell/pulls?q=gitlwh); note there is already

[2021-07-22 00:00] #18776 closed

[2021-07-22 00:27] jiasli commented on #4722
@lostmygithubaccount, are you mapping `~/.azure` to the container?

ADAL can refresh the access token when is expires. (+@rayluo) Could you check if the time of your container is correctly set up?

[2021-07-22 00:49] jiasli commented on #18951
Before I do more investigation on the ADO pip feed, the doc confuses me

https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/python-packages?view=azure-devops#connect-to-feed

Isn't [`pip.ini/pip.conf`](https://pip.pypa.io/en/stable/user_guide/#config-file) used for `pip` to pull packages and [`.pypirc`](https://packaging.python.org/specifications/pypirc/) used for `twine` or `flit

[2021-07-22 00:57] jiasli commented on #3988
@afelthe, Azure CLI has dropped support for Python 2 (https://github.com/Azure/azure-cli/pull/11363). Are you using the latest Azure CLI?

[2021-07-22 01:20] cselvan opened #18955 "az vm boot-diagnostics get-boot-log"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm boot-diagnostics get-boot-log -g {} --name {}`

[2021-07-22 01:35] yonzhan commented on #18953
network

[2021-07-22 01:37] yonzhan commented on #18955
Compute

[2021-07-22 02:44] lostmygithubaccount commented on #4722
I am, I have:

`-v /Users/cody/.azure:/users/cody/.azure`

in my `docker run` command

[2021-07-22 03:08] thy09 commented on #18951
Hi @jiasli
The doc you mentioned is about manually connect to the feed.
In devops, we only need to do the following:

Get a PAT token from here in devops:
![image](https://user-images.githubusercontent.com/3871260/126584233-6269881d-7c10-47a0-8441-ca322612b934.png)

Then pip connection is created here:
![image](https://user-images.githubusercontent.com/3871260/126584534-e88c4b3f-c214-44d9-a4ce-fbe

[2021-07-22 03:15] kairu-ms commented on #18902
@rodolfossouza Could share the commands you used which can help us reproduce the issue? Thanks.

[2021-07-22 03:20] kairu-ms commented on #18882
Please update cli version by command
[code]

[2021-07-22 03:20] #18882 closed

[2021-07-22 03:49] kairu-ms commented on #18686
It's already hidden in latest CLI

[2021-07-22 03:49] #18686 closed

[2021-07-22 05:36] kairu-ms commented on #18736
Please use  $paths = @('"/*"')

[2021-07-22 05:51] kairu-ms commented on #18385
Please follow the tests as examples. Thanks.
https://github.com/Azure/azure-cli/blob/d614fdd77ab5df5739f40a2411cae0924fee1b9b/src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py#L1033-L1123

[2021-07-22 05:51] #18385 closed

[2021-07-22 06:02] kairu-ms commented on #18345
@aegal please provide a clear help message to use. I will update it. Thanks.

[2021-07-22 06:31] #18375 closed

[2021-07-22 06:58] kairu-ms commented on #18169
@bangdu-ms, I can't reproduce in the latest version of CLI. Could use the latest version of cli and try again? Thanks.

[2021-07-22 06:59] vermegi commented on #18566
And as an FYI: I checked `registry` for `DisableMSI`, it was not there. Also checked group policy for `Disable Windows Installer` and it was also not present.

[2021-07-22 07:38] kairu-ms commented on #18039
Please use the following commands

[code]

[2021-07-22 07:38] #18039 closed

[2021-07-22 07:53] kairu-ms commented on #17897
You can use ` --pattern """.*/(.*)"""` in PowerShell

[2021-07-22 07:53] #17897 closed

[2021-07-22 07:57] kairu-ms commented on #17559
It works on the latest version of azure cli.

[2021-07-22 07:57] #17559 closed

[2021-07-22 08:04] SorenMaagaard opened #18956 "WebApp:az webapp config show is missing acr managed identity creds"
**Describe the bug**

Since version 2.23.0 the command `az webapp config show ` do not return the values `acrUserManagedIdentityId` and  `acrUseManagedIdentityCreds`. It is also not possible to set those anymore using `az webapp config set --generic-configurations`.

**To Reproduce**

use azure cli version >= 2.23.0
run
`az webapp config show -g <resource group> -n <web-app-name>`

**Expected beha

[2021-07-22 08:09] #17373 closed

[2021-07-22 08:14] #17249 closed

[2021-07-22 08:31] kairu-ms commented on #16664
Please use `--add backendAddresses ipAddress="10.39.93.11"`

[2021-07-22 08:31] #16664 closed

[2021-07-22 08:35] zhoxing-ms commented on #15246
@hulseware @chrisdyckgeorgian  Hi, I have submitted a PR https://github.com/Azure/azure-cli/pull/18958 to solve this issue, and we will release it on 08-03

[2021-07-22 09:04] kairu-ms commented on #16426
Please use the following argument format to add and remove backendAddresses
[code]
[code]

[2021-07-22 09:04] #16426 closed

[2021-07-22 09:17] kairu-ms commented on #16247
This restriction comes from the service API.

[2021-07-22 09:48] yonzhan commented on #18956
route to service team

[2021-07-22 09:48] Vaishali3123 opened #18959 "got an error while building web app for Azure container registry"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-22 09:53] yonzhan commented on #18959
route to service team

[2021-07-22 10:08] daltonnyx opened #18960 "Cannot enable auto-swap for a slot"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment slot auto-swap`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment slot auto-swap --name {} --reso

[2021-07-22 10:33] yonzhan commented on #18960
route to service team

[2021-07-22 10:57] heavenlyren opened #18962 "Support Az.Automation"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Having the Az Powershell command in 'Az.Automation' into Az Cli

[2021-07-22 11:06] craigminihan commented on #18736
@kairu-ms this devivates from the behaviour on Windows - plus it is not documented.

Just to be clear: I am invoking `az` from a *Powershell* session *not* from bash so this is clearly a bug in either the az code or documentation.

My hunch is that PS passes the variable correctly to `az` but the * is expanded in either a bash sub-process or in Python.

[2021-07-22 11:14] yonzhan commented on #18962
route to service team

[2021-07-22 11:25] kairu-ms commented on #18736
This is not cli bug. /* will automatically be expanded as arguments before az parse them. I’ve tried that both in bash and powershell.

[2021-07-22 11:34] craigminihan commented on #18736
@kairu-ms Powershell does not expand `*`!

[code]
Ergo az is expanding the `*`, or am I missing something here?

[2021-07-22 11:40] jsntcy commented on #18962
@heavenlyren We already support that https://docs.microsoft.com/en-us/cli/azure/automation?view=azure-cli-lates, is it what you want?

[2021-07-22 11:57] heavenlyren commented on #18962
@jsntcy Hi, no this does not allow as much stuff as the Powershell counter part
Eg. :

being able to get the azure query of a deployment schedule in powershell :
$schedule = Get-AzAutomationSoftwareUpdateConfiguration -ResourceGroupName DefaultResourceGroup-
WEU -AutomationAccountName Automate-xxxxxxxxx-xxxxxxxx-xxxxxxxx-WEU -Name ScheduleName

$schedule.UpdateConfiguration.Targets.AzureQueries

a

[2021-07-22 11:57] craigminihan commented on #18736
@kairu-ms ok, so I see the problem:
[code]
Calling a bash script (see above) from PS causes bash to expand the args before the script gets invoked. IMHO this breaks the contract since in PS land I should not have to care about how az is implemented.

For example if I'm running a Azure DevOps pipeline on a Windows agent and switch to a Linux agent I'll see totally unexpected behaviour even tho I'm

[2021-07-22 12:06] jaspkaur28 commented on #18962
@heavenlyren : If I've understood your question correctly , are you asking for Az powershell module to be supported by Automation ? If yes, then this is work in progress with an ETA of 08/30 wherein we support Az mdoules\cmdlets by default in the Automation accounts.

[2021-07-22 12:14] adamdost-msft commented on #18044
Super excited for this to be patched in August. Lot's of automation around marketplace terms agreement. Please reach out if you need someone to test the newest build

[2021-07-22 12:23] heavenlyren commented on #18962
@jaspkaur28 : Sorry if I misunderstood your message , but basically what I ideally would like , it to be able to query the same thing I described with azure powershell , in Azure CLI :

Being able to do this :
[code]

but in Azure CLI

And same with the possibility to create a new schedule or update a schedule (New- / Set- in powershell)

[2021-07-22 13:33] Piotr1215 opened #18963 "'NoneType' object is not callable when building container with az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --resource-group {} --file {} {}`

##

[2021-07-22 13:41] jaspkaur28 commented on #18962
@heavenlyren : Ah , got it. So your saying the Az CLI cmdlets for automation doesnt support update management and schedule cmdlets like how Azure powershell does and you'd want to know if there is a solution for that.

Unfortunately , this is the list of supported Az cmdlets as of today: https://docs.microsoft.com/en-us/cli/azure/automation?view=azure-cli-latest&viewFallbackFrom=azure-cli-lates.

[2021-07-22 13:46] heavenlyren commented on #18962
That would be great , thanks @jaspkaur28

[2021-07-22 14:03] bjosafa opened #18964 "Command to list SKUs Codes"
I would like to get a list of the current SKUs codes, not only the name, for my subscription. Is that already possible or it should be added as a feature? E.g.: I am using the Get-AzComputeResourceSku command but I need the SKUs codes.

[2021-07-22 14:23] Juliehzl commented on #18415
I can repro your scenario with all the same settings with you. But Azure CLI just sends request to server,  and for such kind of issue, we need to see if it will take some time to deploy network rules in service side.

[2021-07-22 14:38] Juliehzl commented on #18413
I see. For Azure Stack Edge Zones related settings, currently you have to configure endpoints with `az cloud update` for right edge zone information in storage, network , resource and etc. For getting right connection endpoints, currently Azure CLI doesn't have the capability to get edge zone endpoint automatically and users have to config by themselves.
But we will add the capability when there i

[2021-07-22 14:56] derekpurdy commented on #18723
I'm seeing a very similar issue with 'az storage account network-rule list'

$ az --version
azure-cli                         2.26.1
core                              2.26.1
telemetry                          1.0.6

[2021-07-22 14:57] sshashank8 opened #18965 "Issue to build an image from the Dockerfile and push the image to the new ACR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

[2021-07-22 15:22] AiHaibara commented on #18938
@yonzhan  with the image version auto update to 20210719.0, the build command run successfully.

[2021-07-22 17:09] jhwj9617 commented on #15856
@bitcloud
I think I also had this issue. From a windows machine, I get
[code]
I am on az version 2.18.0. Will I have to upgrade to see this fix?

[2021-07-22 17:26] hari-bodicherla commented on #18943
Hi @zhoxing-ms , The 15058 is main PR and then we had to make a minor change which is accomplished in another PR from Theodore, so the 15158 is closed.
Regarding the release date on 09-03, if we can make it sooner than that that would be great since we are planning GA by end of august. But if this is next sooner date, then we can try to get the exception on CLI. thanks

[2021-07-22 17:36] jhwj9617 commented on #18251
Request to reopen.
I am on az version 2.26.1 and I still see this issue:
[code]

[2021-07-22 19:37] MarkAtAgilliance commented on #18845
Ok, thanks for the response.  I guess the main inconvenience (especially when the nesting is deep) is that it produces several json outputs that will then need to be combined.  Probably easiest to convert to powershell hash tables then merge in preferred sequence.   I appreciate the CLI is keeping it simple and straight forward.

Of course this work is done for us by the sequence of IConfiguration

[2021-07-22 19:37] #18845 closed

[2021-07-22 20:38] SurajSPujari opened #18967 "building a repository not working with noneType object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to run az acr build to create a repository from a publicly available image which I have cloned in cloud shell.
az acr build --registry beginer --image webimage .

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been red

[2021-07-22 21:49] anewio opened #18968 "Webapp:error out when adding a hybrid-connection to a webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp hybrid-connection add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp hybrid-connection add --hybrid-connection {} -

[2021-07-23 00:53] apwestgarth commented on #18797
Hi, this should now be resolved after we have released an updated extension this afternoon.  To upgrade:

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-23 00:53] apwestgarth commented on #18878
Hi, this should now be resolved after we have released an updated extension this afternoon.  To upgrade:

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-23 00:53] apwestgarth commented on #18879
Hi, this should now be resolved after we have released an updated extension this afternoon.  To upgrade:

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-23 00:53] apwestgarth commented on #18904
Hi, this should now be resolved after we have released an updated extension this afternoon.  To upgrade:

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-23 00:54] apwestgarth commented on #18937
Hi, this should now be resolved after we have released an updated extension this afternoon.  To upgrade:

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-23 01:50] yonzhan commented on #18963
route to service team

[2021-07-23 01:53] yonzhan commented on #18964
Compute

[2021-07-23 01:54] zhoxing-ms commented on #18964
@bjosafa Please use `az vm list-skus` to have a try, add parameter `-h` then you can see the usage of this command

[2021-07-23 02:07] yonzhan commented on #18938
@AiHaibara share we close this issue?

[2021-07-23 02:07] yonzhan commented on #18965
route to service team

[2021-07-23 02:09] kairu-ms commented on #18736
Hi @jiasli, could you help to check this issue?

[2021-07-23 02:13] bjosafa commented on #18964
I already did it, but it did show the sku id as it is shown in the calculator. E.g.:

Virtual Machines (West US - VM 1 D2 v3) = AAA-44930 (Sku code) <- that information that I want to get via cli

[2021-07-23 02:22] yonzhan commented on #18967
route to service team

[2021-07-23 02:23] yonzhan commented on #18968
route to service team

[2021-07-23 02:24] yonzhan commented on #18878
@apwestgarth   share we close this issue?

[2021-07-23 02:40] #18558 closed

[2021-07-23 03:01] #18938 closed

[2021-07-23 03:03] zhoxing-ms commented on #18964
In fact, CLI only directly output the results returned by REST service [list-skus](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-images/list-skus) , while REST does not return the data of SKU codes. Therefore, it needs the support of REST from the server team.

As for PowerShell related requirements, please submit them on https://github.com/Azure/azure-powershell

[2021-07-23 04:45] YiYingWu1302 opened #18969 "[Errno 104] Connection reset by peer when downloading PostgreSQL server logs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
This command failed with the following errors when downloading postgres server logs (which is around 27Mb).
Download time: 2021/07/23 04:4x UTC
Download file: `postgresql-2021-07-23_040000.log`

**Command Name**
`az postgres server-logs download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beha

[2021-07-23 05:05] yonzhan commented on #18969
route to service team

[2021-07-23 05:14] twright-msft commented on #16188
I got into this state because of the following:
1) ```az extension add --source``` <file path to custom extension .whl>
2) Use that extension in a python runtime (in this case via Azure Data Studio notebook)
3) ```az extension remove -n``` <name of extension>
4) extension failed to delete on of the files in the ~/.azurebecause/cliextensions/<extensionname> directory because python was still using

[2021-07-23 06:29] jiasli commented on #18766
## More context

Arc Appliance VMware team is creating an enhanced CLI experience to enable customers to download OVA to vSphere, deploy Appliance, + more. The `az arcappliance prepare` command calls the vSphere SDK for OVA file operations which results in the following error:

The is because the bundled `python.exe` in the Azure CLI MSI installer is 32-bit, while vSphere SDK only supports 64-bit.

[2021-07-23 06:38] DwayneNeed opened #18971 "Add --edge-zone to the "az vm image" commands"
**Resource Provider**
Compute

**Description of Feature or Work Requested**
Add optional parameter --edge-zone to the following Az.Compute cmdlets:

az vm image list
az vm image list-offers
az vm image list-skus
az vm image list-publishers
az vm image show

Note: this was inadvertently not done as part of the previous issue:
https://github.com/Azure/azure-cli/issues/15988

**MS Docs:**
https://doc

[2021-07-23 06:41] fatmelon commented on #18626
Run into the same error when run `az login` with jupyter notebook in Azure Machine Learning:
![image](https://user-images.githubusercontent.com/9691826/126745804-b567c002-d892-4a2f-8a9c-b56e672c0005.png)

But when I run  `az login` with terminal in the same  Azure Machine Learning, everthing is OK.

[2021-07-23 06:58] yonzhan commented on #18766
Since we are over booked with many high priority items we will add this feature request into our future roadmap.

[2021-07-23 06:59] 544cl opened #18972 ""az group export" not working when specifying resources"
az group export not working when specifying resource ids

**To Reproduce**
az group export --resource-ids [resourceId]
gives internal server error

**Additional context**
unable to export template on azure portal also
Also Tried using multiple accounts

[2021-07-23 07:10] yonzhan commented on #18971
Compute

[2021-07-23 07:12] zhoxing-ms commented on #18044
@avlind @adamdost-msft  Hi, it seems that this issue cannot be reproduced in the latest version of CLI. Could you please upgrade the CLI version and then try again? You can use the command `az upgrade` to upgrade CLI.

If you can reproduce this issue in the latest version, please send me the debug log by email. My email address is Zhou.Xing@microsoft, thanks

[2021-07-23 07:13] yonzhan commented on #18626
@fatmelon does above solutions proposed by @jiasli resolve your issue?

[2021-07-23 07:14] yonzhan commented on #18972
ARM

[2021-07-23 07:27] fatmelon commented on #18626
@yonzhan I tried solution2&3 but that didn't work for me. I think the error may not be caused by CLI, after all, I can use it normally in terminal, at least for `az login`.

[2021-07-23 07:38] zhoxing-ms commented on #18943
@hari-bodicherla Sorry, our latest next official release time is **09-07** (I made a mistake before). If some customers need it urgently, maybe we can provide a private package to let users try it first

[2021-07-23 07:47] bitcloud commented on #18251
@jhwj9617 Could you have a look at https://github.com/Azure/azure-cli/pull/18974
This should solve your issue.

[2021-07-23 10:10] yonzhan commented on #18626
@fatmelon thanks for clarification. Could this issue be closed?

[2021-07-23 11:27] m1kola commented on #18950
Hey. Any idea when we should expect the fix? Or what would be a workaround for `azdev` users?

In [Azure/ARO-RP](https://github.com/Azure/ARO-RP) we use `azdev` in CI which installs `azure-cli` which in turn is not pinned to a specific version, so this breaks our CI. Any advice would be appreciated.

[2021-07-23 13:28] derijos commented on #18916
Even I am facing this error.

The command failed with an unexpected error. Here is the traceback:
'NoneType' object is not callable
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 657, in execute

[2021-07-23 13:34] adamdost-msft commented on #18044
Current version i'm using is 2.26.0 as that's what is available via CloudShell in MAG. If 2.26.1 has this fixed then I will need to have the CloudShell team upgrade it to 2.26.1.

[2021-07-23 13:40] major opened #18976 "Tests still import mock"
**Describe the bug**
The `azure-cli-telemetry` tests still contain `import mock` and mock is deprecated in recent python versions.

**To Reproduce**
Run tests for `azure-cli-telemetry` on Python 3.10.

**Expected behavior**
I expect tests to pass.

**Environment summary**
Installed `azure-cli-telemetry` 1.0.6 via `pip`.

**Additional context**
I'm preparing a PR to fix this.

[2021-07-23 14:50] mabrahamdevops opened #18979 "Azure Cloud Shell 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

This is occurring in the Azure Cloud Shell.

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --regi

[2021-07-23 14:51] yonzhan commented on #18976
telemetry

[2021-07-23 16:29] yonzhan commented on #18979
route to service team

[2021-07-23 17:38] amjads1 commented on #18964
@jaylabell Could you please look into this issue?

[2021-07-23 22:27] emichaelsomm opened #18980 "az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} --file {} {}`

## Expected Behavior

[2021-07-23 22:40] #18980 closed

[2021-07-24 04:13] zhoxing-ms commented on #18044
@adamdost-msft This issue is not fixed in `2.26.1`. Actually, this issue can't be reproduced in version `2.26.0` on my side. Can you reproduce it in version `2.26.0`?

[2021-07-24 05:26] monojit18 commented on #18797
This is working fine now.
Thanks @apwestgarth
The fix came on the day of our Spark session and worked seamlessly  :)

[2021-07-24 05:26] #18797 closed

[2021-07-24 11:40] #18972 closed

[2021-07-24 22:07] adamdost-msft commented on #18044
Yes I can. Here is the debug output from version 2.26.0 in Azure Government.

[code]

[2021-07-24 22:09] adamdost-msft commented on #18044
We can start an email thread internally if you'd prefer @zhoxing-ms

[2021-07-24 22:16] TekExpo opened #18981 "Issue in Exercise - Create an AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-25 08:23] immeo-rru opened #18982 "Exam: az-204, error during exercise when running code in azure cloud: "bash setup.sh""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
As part of az-204 learning, the exercise: "Exercise - Create a new API in API Management from a function app" contains a step where a setup scripts is run. Part of this reports a failure.

https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-functio

[2021-07-25 09:08] Dewrajputra opened #18983 "What can be the possible cause of error ?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2021-07-25 12:09] yonzhan commented on #18981
route to service team

[2021-07-25 12:10] yonzhan commented on #18982
route to service team

[2021-07-25 12:11] yonzhan commented on #18983
@jiasli for awareness

[2021-07-25 15:22] andrew-twigg opened #18984 "Compute create type incorrect."
Hi, I found the --type parameter on az ml compute create needed to be lower case else I got an error.

So either amlcompute or computeinstance. Using the case in the docs fails. Took a bit of hunting around to try and understand why it was failing.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c25404-a256-62

[2021-07-25 15:24] andrew-twigg commented on #18984
Examples, so this works...

az ml compute create -g $rg -w $ws -n devhost -t computeinstance --size Standard_DS3_v2
az ml compute create -g $rg -w $ws -n cpu-cluster -t amlcompute --min-instances 0 --max-instance 4 -s 2400

This fails...

az ml compute create -g $rg -w $ws -n devhost -t ComputeInstance --size Standard_DS3_v2
az ml compute create -g $rg -w $ws -n cpu-cluster -t AmlCompute --min-ins

[2021-07-25 15:30] zhoxing-ms commented on #18044
@adamdost-msft Yes, you can delete the debug log information here, and we will exchange these information by internally email later. My email address is Zhou.Xing@microsoft.com, thanks~

[2021-07-25 18:41] chriswue commented on #12947
FWIW - I just ran into the telemetry cache issue when trying to run az cli with gnu parallel to do some concurrent work. Disabling telemetry seems to have resolved it. Any updates on this issue?

[2021-07-25 20:37] montaro commented on #15010
What worked for me is to delete first the Virtual network links before trying to delete the zone.

[2021-07-26 00:26] yonzhan commented on #18984
route to service team

[2021-07-26 02:30] zhoxing-ms commented on #18044
Because this error is returned by the REST service, it is a service issue. Therefore, Therefore, it needs the service team to investigate the cause of this error
**'x-ms-correlation-request-id': '05354e05-8ce1-4d21-af95-f004dd27b619'**

[2021-07-26 02:37] fatmelon commented on #18626
@yonzhan just tried again in jupyter notebook with aml and still got the error, so I think we'd better keep it open.

[2021-07-26 02:44] diondrapeck commented on #18984
Hi @andrew-twigg - thanks for finding this bug and bringing it to our attention! I'm working on a fix now.

[2021-07-26 07:13] #18481 closed

[2021-07-26 07:40] #18932 closed

[2021-07-26 08:06] pvrk commented on #18745
@mimergel : Can you please confirm if this explanation makes sense and that we can close the issue?

[2021-07-26 08:24] bweissman commented on #18729
The issue is coming from encoding. This command requires ascii encoding whereas az resource create takes any.

[2021-07-26 08:57] #17493 closed

[2021-07-26 09:01] mimergel commented on #18745
@pvrk: explanation makes perfectly sense, thanks! I was missing the option: "--delete-backup-data true". With this option now everything works as expected.

[2021-07-26 09:01] #18745 closed

[2021-07-26 10:11] zhoxing-ms commented on #18729
@bweissman Yes, I would like to ask what is the specific error message? Is it accurate?

[2021-07-26 10:16] #15124 closed

[2021-07-26 10:17] #17900 closed

[2021-07-26 10:18] bweissman commented on #18729
The error message says it's invalid JSON. One might argue if encoding really qualifies as invalid.

Ideally, this command would also accept the same encodings as "az resource create".

Otherwise, it should go to the docs which encoding(s) are supported.

[2021-07-26 10:26] fmms commented on #18864
What commit did. fix this? What was the underlying issue? How can I validate the fix?

[2021-07-26 10:27] richeney commented on #16573
@jsntcy / @yonzhan

Will this be resolved by the July 2021 milestone?

If so, how will the fix be implemented?

[2021-07-26 10:34] npalmiusfutr commented on #17880
@yonzhan @jsntcy Was this fixed?

[2021-07-26 10:48] jsntcy commented on #17880
accidentally close it, reopen now

[2021-07-26 10:51] jsntcy commented on #16573
accidentally close it, reopen now

[2021-07-26 11:05] jsntcy commented on #18633
Close this issue as code is ready and will be released on 8/3 with Azure CLI 2.27.0

[2021-07-26 11:05] #18633 closed

[2021-07-26 11:09] jsntcy commented on #16045
For CLI users, the doc is in https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest.
Do you mean the docs for for CLI developers? here is the doc https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md

[2021-07-26 11:47] gro1m commented on #18769
@Juliehzl @jsntcy As far as I see it is a bit difficult to tell if this is really a bug, because it occurs if both `azureml-core` and `azure-cli` are installed in the same Python virtual environment. I am not sure what the plans are here, but if they shall not be compatible, then this is probably a non-issue. Otherwise it is :)

[2021-07-26 15:10] huski1017 commented on #13502
Hi,

Is there any update about this request?
I am still looking forward this feature that would allow me to automate a painful process.

Regards,
Huski1017

[2021-07-26 15:12] huski1017 opened #18987 "[Bot Services] Web chat channel creation"
Hi,

After running across the documentation of the Azure CLI and more specifically the Bot Services part I noticed that the create and delete commands were not available for the Web Chat channels.

I am looking forward for this feature as this would allow me to automate this part of the process on my side.

Is there any development planned on that? A potential release date approximation?

Thank yo

[2021-07-26 15:25] esmcelroy-rci commented on #11980
Same thing happens for me with a 403 error. Unlikely it's an access issue, as the service principal I'm using has contributor access on the resource group.
[code]

output of az --version:
[code]

[2021-07-26 15:41] yonzhan commented on #18987
route to service team

[2021-07-26 16:36] adhgupta commented on #18880
The unrecognized argument error goes away if I add the --location and --lb-sku argument to the CLI, and I am able to deploy the VMSS. The error message isn't correct, and should be changed.

[2021-07-26 16:46] Jenna-Selinger opened #18988 "Azure Exercise - Create a new API in API Management from a function app error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-07-26 17:39] northtyphoon commented on #18981
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 17:39] northtyphoon commented on #18979
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 17:39] northtyphoon commented on #18967
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:02] gvt commented on #18908
I upgraded to version 2.26.1, re-ran the same command and it completed successfully this time. Thanks!

[2021-07-26 18:03] northtyphoon commented on #18965
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:03] northtyphoon commented on #18963
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:03] northtyphoon commented on #18959
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:03] northtyphoon commented on #18952
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:06] northtyphoon commented on #18933
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:06] northtyphoon commented on #18929
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:07] northtyphoon commented on #18926
It's by design. The command requires passing registry name to -r/--registry parameter.

[2021-07-26 18:07] northtyphoon commented on #18925
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:08] northtyphoon commented on #18897
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-26 18:59] nexaddo opened #18991 "Deploying a Feature Flag with Custom Filters but Disabled using az cli"
When deploying a feature flag with custom filters and the enabled property set to false using `az appconfig kv import` results in the custom filters being dropped when viewing the feature flag json using 'Advanced Edit' in the Feature Manager section of the App Configuration resource in the azure portal.

With no enabled property set using custom filters:

Feature Management Section of appsettings

[2021-07-26 19:26] esmcelroy-rci commented on #11980
Solved my issue - it was a Firewall issue. It would be nice if the error was more descriptive!

[2021-07-26 21:08] #18988 closed

[2021-07-26 21:19] vsmsft opened #18992 "AZ CLI Query broken for filtering Edgezone related info"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When resources like Storage account are created at EdgeZones and we use --query to filter the output.

It seems the AZ CLI is broken when we use the query functionality to filter on things related to the EdgeZone. To be specific it interprets “!=” as “==” and vice versa. This is specifically happening for param

[2021-07-26 22:13] akshayjshah commented on #18413
@DwayneNeed Do you know if there's already a Portal API that exposes the right information?

[2021-07-26 22:23] dmitry-sosnitskiy-zip commented on #18470
Is there any update on this? Any ETA?

[2021-07-26 22:23] ygcasaso opened #18993 "az aks get-credentials --resource-group OpenIAMRG --name myAccessCluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-07-26 22:49] Piotr1215 commented on #18963
Thank you @northtyphoon , I will try and see if it's fixed once new az cli version will be upgraded on the cloud shell. Looks like I cannot upgrade manually:

![image](https://user-images.githubusercontent.com/8086638/127068981-72587ffa-2bc9-4eeb-9b41-8c8f9a4f366a.png)

[2021-07-26 23:30] yonzhan commented on #18991
route to service team

[2021-07-26 23:31] yonzhan commented on #18992
storage

[2021-07-26 23:38] yonzhan commented on #18993
route to service team

[2021-07-26 23:38] yonzhan commented on #18470
ARM service team should look into this

[2021-07-27 00:14] gustavo-lara-molina commented on #18929
In azure bash the version mentioned to solve the problem with acr build still does not appear updated
![image](https://user-images.githubusercontent.com/64021579/127075017-8f8fd923-e16b-44b4-916f-cb9feddfa198.png)

[2021-07-27 01:27] m1o1 commented on #16855
Same, I was trying to figure out how to get access to the "layers" in a repository in my ACR. Except in my case it's a helm chart not a docker image, though I still want to see the layers. Looking at the requests made in the portal, it seems it requests the `/v2/{repository}/manifests/{tag}` endpoint to get this data, but I don't see any `az acr` command that can get the same.

[2021-07-27 01:53] jsntcy commented on #18626
@singankit, could you please help take a look at this issue?

[2021-07-27 01:57] #18356 closed

[2021-07-27 02:03] singankit commented on #18626
I would suggest not installed azure-cli as a pip package rather than installing azure cli using [official methods ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli).

[2021-07-27 02:03] jsntcy commented on #18778
@jlautman, sorry, I'm not quite clear about your question.
I have tried and the links under "in this article" can correctly move to the relevant sub-headers.

What do you mean about "It appears that the HTML ids use snake case (az_communication_delete) but the links expect kebab case (az-communication-delete)."?

We always use snake case instead of kebab case in yaml files, here is an example in o

[2021-07-27 02:05] jsntcy commented on #18804
@bryn1u, could you please upgrade to latest CLI version to see if the issue still exists？

[2021-07-27 02:16] #17808 closed

[2021-07-27 02:22] Kotasudhakarreddy commented on #18367
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-07-27 02:22] #18367 closed

[2021-07-27 02:23] kairu-ms commented on #17737
The example in doc is not correct. This command is using '--name' instead of '--service-name' in CLI.

![image](https://user-images.githubusercontent.com/69238381/127084925-1b10e18f-76d3-4932-a380-9aee72bcce37.png)

[2021-07-27 02:23] #17737 closed

[2021-07-27 02:27] kairu-ms commented on #17736
It has content now.

[2021-07-27 02:27] #17736 closed

[2021-07-27 02:28] kairu-ms commented on #17713
Please update cli version by command
[code]

[2021-07-27 02:28] #17713 closed

[2021-07-27 02:40] kairu-ms commented on #17608
Could add `--debug` at the end of your command and provide the response body? Thanks.

[2021-07-27 02:51] kairu-ms commented on #17517
It works in latest version of CLI. Please update your cli by command
[code]

[2021-07-27 02:51] #17517 closed

[2021-07-27 03:02] kairu-ms commented on #17319
Please update cli version by command
[code]

[2021-07-27 03:02] #17319 closed

[2021-07-27 03:07] kairu-ms commented on #17286
I could not find the prompt

[2021-07-27 03:07] #17286 closed

[2021-07-27 03:10] kairu-ms commented on #16744
I couldn't reproduce it.

[2021-07-27 03:10] #16744 closed

[2021-07-27 03:20] jiasli commented on #4722
Could you check if the time of your container is correctly set up? The timezone must also be correct.

[2021-07-27 03:29] zhoxing-ms commented on #18880
In fact, this problem is caused by a spelling mistake~  The `--egde-zone` should be `--edge-zone`

[2021-07-27 03:35] zhoxing-ms commented on #18963
@Piotr1215 Hi, the CLI latest version will be updated at **08-03** on Cloud Shell, can this date meet your expectations?

[2021-07-27 03:42] kairu-ms commented on #17050
Supported in PR https://github.com/Azure/azure-cli/pull/18268

[2021-07-27 03:42] #17050 closed

[2021-07-27 03:46] jiasli commented on #18566
Sorry it seems the config name has been changed, it should be **Turn off Windows Installer**:

![image](https://user-images.githubusercontent.com/4003950/127091675-636940b8-8a59-49fd-b6f6-d5a435cc62a6.png)

What if you use `python.exe` to initiate the installation in Command Prompt?

[code]

[2021-07-27 03:46] kairu-ms commented on #15889
Could you try this command?

[code]

[2021-07-27 03:46] #15889 closed

[2021-07-27 04:07] jiasli commented on #18766
If you follow the above workaround which uses `pip` to install, then yes. Please be aware that there can only be one `python.exe` on the `PATH`. If you have both 32-bit and 64-bit Python installed, their default full paths should be

- 64-bit: `C:\Users\<user>\AppData\Local\Programs\Python\Python39\python.exe`
- 32-bit: `C:\Users\<user>\AppData\Local\Programs\Python\Python39-32\python.exe`

Depend

[2021-07-27 04:53] jiasli commented on #18766
ℹ Note: If you have already install Azure CLI using MSI, `az` installed by MSI and `az` installed by `pip` will conflict on `PATH`. To solve it, either:

- Use the full path to invoke Azure CLI:
  - pip: `<full_path_to_python.exe> -m azure-cli`
  - MSI: `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd`
- Remove one from `PATH` environment variable so that `az` is determined in a shell

[2021-07-27 04:53] carlosporter commented on #15764
I have seen this same error while trying to use az login and a user managed identity.

Originally the UMI was pointing to a resource group.

[code]

Then I created a virtual machine on the same resource group and ran the command below:
[code]

I solved the problem back assigning the UMI to the new virtual machine ( despite of it being on the same resource group ).

[code]

So, it seems attach the

[2021-07-27 05:30] jiasli commented on #18626
@fatmelon, you may be running different Azure CLI. To see which Azure CLI you are calling, you may check the full path of `az` with

- `where az` in Command Prompt
- `Get-Command az` in PowerShell
- `which az` in Bash

[2021-07-27 05:34] jiasli commented on #12947
We currently doesn't have enough bandwidth implementing parallel/concurrent execution, please see [Concurrent builds](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#concurrent-builds) if you want to run Azure CLI instances concurrently.

[2021-07-27 05:34] jiasli commented on #12947
We currently doesn't have enough bandwidth implementing parallel/concurrent execution. Please see [Concurrent builds](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#concurrent-builds) if you want to run Azure CLI instances concurrently.

[2021-07-27 05:35] kairu-ms commented on #15947
The command `az monitor alert create` is deprecated.

[2021-07-27 05:35] #15947 closed

[2021-07-27 05:44] fatmelon commented on #18626
@jiasli , you are right. The jupyter calls `/anaconda/envs/azureml_py36/bin//az`, but in terminals we call `/usr/bin/az`. The error is caused by running different Azure CLI in aml. Thanks for your help~

[2021-07-27 05:57] jiasli commented on #18951
I prefer to make this issue as a feature request and put it in our backlog, as `az extension add` with a PAT for `pip` is a very rare use case and not officially supported.

If you can help identify the root cause and submit a PR, we will mostly appreciate it.

[2021-07-27 05:58] rmourya1 commented on #18626
@jiasli How will this work in Azure DevOps? In DevOps, I am installing CLI using pip install on the runtime system to use it in different modules. Please clarify if I am missing anything.

[2021-07-27 05:59] kairu-ms commented on #16929
Please upgrade you cli version by command

[code]

[2021-07-27 05:59] #16929 closed

[2021-07-27 06:01] kairu-ms commented on #16875
Please upgrade your cli by command
[code]

[2021-07-27 06:01] #16875 closed

[2021-07-27 06:24] jiasli commented on #14947
Duplicate of #11386

[2021-07-27 06:26] jiasli commented on #16040
The original error maybe caused by a Cloud Shell limitation on `--resource` (#11386).

[2021-07-27 06:27] jiasli commented on #15798
Please see https://github.com/Azure/azure-cli/issues/16040#issuecomment-751154096 for the explanation.

The original error may be caused by a Cloud Shell limitation on `--resource` (#11386).

[2021-07-27 06:27] #15798 closed

[2021-07-27 06:28] #17215 closed

[2021-07-27 06:28] jiasli commented on #18946
This is a known issue of Cloud Shell. Please see https://github.com/Azure/azure-cli/issues/11386#issuecomment-588176743 for explanation and workarounds.

[2021-07-27 06:28] #18946 closed

[2021-07-27 06:30] jiasli commented on #15758
Please see https://github.com/Azure/azure-cli/issues/16040#issuecomment-751154096 for the explanation.

The original error may be caused by a Cloud Shell limitation on `--resource` (#11386).

[2021-07-27 06:30] #15758 closed

[2021-07-27 06:30] jiasli commented on #15398
This is a known issue of Cloud Shell. Please see https://github.com/Azure/azure-cli/issues/11386#issuecomment-588176743 for explanation and workarounds.

[2021-07-27 06:30] #15398 closed

[2021-07-27 06:35] #16755 closed

[2021-07-27 06:40] zhoxing-ms commented on #17426
Duplicate of #13855

[2021-07-27 06:40] #17426 closed

[2021-07-27 06:44] jiasli commented on #11386
There was once an attempt (https://github.com/Azure/azure-cli/pull/14455) to give a better error and recommendation message for unsupported `--resource`, but it was closed due to reasons described in https://github.com/Azure/azure-cli/pull/14455#issue-454864072.

[2021-07-27 06:48] zhoxing-ms commented on #17692
@bmedlin In fact, they are two different concepts:
Scope means different resource levels. The common levels are: tenant, subscription, resource group and management group
Subgroup means subcommand group of a specific command group. Just like `az storage account` is the subgroup of `az storage`

[2021-07-27 06:48] #17692 closed

[2021-07-27 06:52] jsntcy opened #18998 "[Track 2 migration] Migrate SQL"
Migrate SQL to track 2 SDK.

[2021-07-27 06:53] yonzhan commented on #18998
Track 2 migration

[2021-07-27 07:25] kairu-ms commented on #16539
Cannot reproduce you issue. Please upgrade cli by command
[code]

[2021-07-27 07:25] #16539 closed

[2021-07-27 07:32] kairu-ms commented on #16481
Please upgrade CLI by command

[code]

[2021-07-27 07:32] #16481 closed

[2021-07-27 07:33] kairu-ms commented on #16419
Please upgrade cli by command
[code]

[2021-07-27 07:33] #16419 closed

[2021-07-27 07:37] kairu-ms commented on #16051
`az monitor alert` is deprecated. Please use `az monitor metrics alert` instead.

[2021-07-27 07:37] #16051 closed

[2021-07-27 07:50] jsntcy opened #19001 "[Track 2 migration] Migrate Spring-Cloud"
Migrate Spring-Cloud to track 2 SDK

[2021-07-27 07:52] #18998 closed

[2021-07-27 07:53] jsntcy commented on #19001
Supported by https://github.com/Azure/azure-cli-extensions/pull/3609

[2021-07-27 07:53] #19001 closed

[2021-07-27 07:56] jsntcy opened #19002 "[Track 2 migration] Migrate Redis"
Migrate Redis to track 2 SDK

[2021-07-27 07:56] #19002 closed

[2021-07-27 08:02] kairu-ms commented on #16043
Could you try the following argument value
[code]

[2021-07-27 08:13] jsntcy opened #19004 "[Track 2 migration] Migrate DataBricks"
Migrate DataBricks to track 2 SDK.

[2021-07-27 08:27] evelyn-ys commented on #18992
Please quota query with `""`
![image](https://user-images.githubusercontent.com/10227683/127122046-b62ea33c-7315-4127-a080-5770d3cecd31.png)

[2021-07-27 08:37] jsntcy opened #19005 "[Track 2 migration] Migrate DataboxEdge"
Migrate DataboxEdge to track 2 SDK.

[2021-07-27 08:42] jsntcy commented on #19004
Supported by https://github.com/Azure/azure-cli-extensions/pull/3688.

[2021-07-27 09:01] dmitrykarnitski opened #19007 "Unable to set App Configuration value to an empty string"
## Describe the bug

Hi,
When I am trying to set an empty string to the App Configuration key value, it throws the below error.
[code]
The command that was used:
`az appconfig kv set -n  <MyAppConfiguration> --key SampleKey --yes -o none --label SampleLabel --value ""`

**It is possible to set an empty value using Azure Portal.**

## Expected Behavior
My expectation is that the CLI command should

[2021-07-27 09:20] jiasli commented on #18736
This issue is _not_ relevant to the fact that `az` is actually a Bash script at `/usr/bin/az`. It is a behavior of Bash and PowerShell on Linux.

You will see the `/*` expansion behavior in Bash even without `az` and the `/usr/bin/az` Bash script:

[code]

When running the same command from PowerShell on Linux:

[code]

As shown above, if you want a consistent behavior between **PowerShell on Wind

[2021-07-27 09:24] jiasli commented on #18976
Per https://pypi.org/project/mock/:

As Azure CLI requires Python >= 3.6, we can drop `mock`.

Actually, this is not the only place where `mock` is used. It should be dropped everywhere!

[2021-07-27 09:25] #18736 closed

[2021-07-27 10:19] jiasli commented on #18736
In PowerShell on Linux:

[code]

These commands doesn't expand `*` and `/*` because `Write-Host` is PowerShell cmdlet and `*` and `/*` don't go out of PowerShell to the underlying Linux system, so the expansion doesn't take place.

Meanwhile, `az` is a Bash script and `python3` is an executable, so `*` and `/*` goes out of PowerShell to the underlying Linux system, where the expansion occurs.

[2021-07-27 10:26] yonzhan commented on #19007
route to service team

[2021-07-27 10:28] yonzhan commented on #19005
Track 2 migration

[2021-07-27 10:50] jiasli commented on #18626
@rmourya1, `azureml-sdk` depends on `azureml-core` which has a dependency conflict with `azure-cli` on `azure-mgmt-resource` as shown in https://github.com/Azure/azure-cli/issues/18626#issuecomment-879609185:

[code]

You may install Azure CLI in a virtual environment and run it from there:

[code]

[2021-07-27 10:51] jiasli commented on #16188
@twright-msft, thanks for the detailed information. We will put this in our backlog and fix it when we have time.

In fact, you don't need to delete the whole `~/.azure/cliextensions` folder. You may simply detect the specific extension folder that is causing the problem, such as `~/.azure/cliextensions/account` for the extension `account`.

Please see [Concurrent builds](https://docs.microsoft.co

[2021-07-27 11:03] balakrishna222111 opened #19008 "How to remove azure file share old data from the azure storage account after 30 days ?"
**In my storage account file share  we have more than 3 months of data . we don't want to keep it such long**
Is there any way where i can delete the data which is more than 30days . I mean like a retention period
![image](https://user-images.githubusercontent.com/22685723/127143484-08139cd1-9d43-4325-9d9e-482dedceb487.png)

[2021-07-27 11:51] major commented on #18976
@jiasli That would be really helpful for me as I try to package Azure CLI (and the SDK) in Fedora!

[2021-07-27 11:59] challasatish opened #19009 "az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {}`

## Expected Behavior

## Environmen

[2021-07-27 12:02] Morriz commented on #17827
https://docs.microsoft.com/en-us/cli/azure/

[2021-07-27 12:29] yonzhan commented on #19009
route to service team

[2021-07-27 12:31] yonzhan commented on #19008
storage

[2021-07-27 13:01] doggy8088 commented on #18829
@narula0781, @ashishonce, @romil07 Any news?

[2021-07-27 13:24] Piotr1215 commented on #18963
Hi @zhoxing-ms , absolutely, thank you for a very quick patch. I will close the issue now and if the problem happens after the patch, I will open a new one.

[2021-07-27 13:24] #18963 closed

[2021-07-27 13:45] balakrishna222111 commented on #19008
@yonzhan  is there any help which you can provide

[2021-07-27 14:34] vsmsft commented on #18992
Thanks, this helped. The root cause was query works differently across bash, cmd prompt and PS without quotes around; causing this confusion. With quotes it worked consistently across all.

[2021-07-27 14:34] #18992 closed

[2021-07-27 15:10] mabrahamdevops opened #19010 "fix this"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

[2021-07-27 15:15] mabrahamdevops opened #19011 "fix"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} {}`

## Expected Behavior

## Environ

[2021-07-27 15:43] Niyojan opened #19012 "ERROR: Either 'my.zip' is not a valid local file path or you do not have permissions to access it"
**Describe the bug**
While running `az webapp deploy --resource-group myrg --name myname --src-path my.zip --type zip --async true --debug` getting following error:

`ERROR: Either 'my.zip' is not a valid local file path or you do not have permissions to access it`

**To Reproduce**
Run above mentioned command and observe the error

**Expected behavior**
Should upload the zip

**Environment summar

[2021-07-27 15:46] mabrahamdevops opened #19013 "MOVING TO AWS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --file {} -t {} {}`

## Expected Behavior

## En

[2021-07-27 16:34] DwayneNeed commented on #18413
This thread is confusing because this is actually about **edge zones** not Azure Stack.  Can someone correct the title?

For a specific storage account, you can get the properties and determine the endpoint DNS name:

https://docs.microsoft.com/en-us/rest/api/storagerp/storage-accounts/get-properties

[code]

Note the blob URL:
**"blob": https://akshay74d1.blob.microsoftlosangeles1.edgestorage.azu

[2021-07-27 16:36] mabrahamdevops opened #19014 "FIX"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --file {} -t {} {}`

## Expected Behavior

## En

[2021-07-27 16:40] mabrahamdevops commented on #18963
Please update the AZURE CLOUD SHELL before 8-03.  This has stopped the entire lab here for the past 2 weeks.

[2021-07-27 16:51] 4c74356b41 commented on #18884
2 workarounds:
1. unset KUBECONFIG
2. export KUBECONFIG=$(Build.Repository.LocalPath)

[2021-07-27 17:00] ptcalex commented on #16695
Other CLI commands I stumble upon with this bug are:
[code]

[2021-07-27 17:04] vladimirglazkov commented on #18884
for task: PowerShell@2 workaround:
$Env:KUBECONFIG = $null

[2021-07-27 17:14] #18880 closed

[2021-07-27 18:12] brandonh-msft opened #19015 "az rest @ kusto endpoint fails"
**Describe the bug**
I am trying to issue REST API commands at an Azure Data Explorer (aka kusto cluster) endpoint. They consistently fail with
[code]

**To Reproduce**
az rest --method post --url https://<cluster name>.<location>.kusto.windows.net/v1/rest/mgmt

**Expected behavior**
The payload & headers are sent to the kusto endpoint with authentication embedded in the request

**Environment sum

[2021-07-27 18:16] brandonh-msft commented on #19015
seems I was using an old Azure CLI and on Windows when I first encountered the problem. it's  resovled now.

[2021-07-27 18:16] #19015 closed

[2021-07-27 19:16] akshayjshah commented on #18413
Sorry, Dwayne - updated the title and the top-level description of the problem.

[2021-07-27 20:31] cartley commented on #18159
@Juliehzl This is what I tried originally. It did not work with `yum`. I tried to explain that in **Additional Context** section.

After giving up on `dnf`/`yum`, I used the `InstallAzureCli` script. That works fine. 👍

[2021-07-27 20:44] chuckthompsonprofisee opened #19016 "error calling the az rest to add a user to a directory role"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
error calling the az rest to add a user to a directory role from powershell
$miObjectId="id of managed identity"
$body="{""@odata.id"": ""https://graph.microsoft.com/v1.0/directoryObjects/$miObjectId""}"
$headers="{""Content-Type"": ""application//json""}"
az rest --method POST --uri "https://graph.microsoft.co

[2021-07-27 20:49] chuckthompsonprofisee commented on #19016
I was able to get past that error by doing this and replace all occurrences of " with \".
$body="{""@odata.id"": ""https://graph.microsoft.com/v1.0/directoryObjects/$miObjectId""}"
$body = $body -replace "`"", "\`""
$headers="{""Content-Type"": ""application/json""}"
$headers = $headers -replace "`"", "\`""

az rest --method POST --uri "https://graph.microsoft.com/beta/directoryRoles/9b895d92-2cd3

[2021-07-27 20:58] apt34 opened #19017 "az keyvault certificate import does not accept PEM format"
**Describe the bug**
az cli command `az keyvault certificate import` doesn't accept PEM certificate as an argument for the `--file `parameter.
However, according to [official documentation](https://docs.microsoft.com/en-us/cli/azure/keyvault/certificate?view=azure-cli-latest#az-keyvault-certificate-import), the following arguments should be supported for `--file` parameter: _PKCS12 file or PEM fil

[2021-07-27 22:17] yonzhan commented on #19010
route to service team

[2021-07-27 22:18] yonzhan commented on #19011
route to service team

[2021-07-27 22:18] yonzhan commented on #19012
route to service team

[2021-07-27 22:19] yonzhan commented on #19013
route to service team

[2021-07-27 22:21] yonzhan commented on #19014
route to service team

[2021-07-27 22:26] yonzhan commented on #19016
@jiasli for awareness

[2021-07-27 22:28] yonzhan commented on #19017
keyvault

[2021-07-27 23:28] Xandher20 opened #19018 "Azure Lab Bug - AZ204 - Mod 05"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-28 00:09] yonzhan commented on #19018
route to service team

[2021-07-28 01:29] ishepherd opened #19020 "--show-next-marker not implemented on latest 2.26.1"
## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob list --account-name {} -c {} --num-results {} --show-next-marker`

## Expected Behavior

`--show-next-marker` behaves as per https://docs.microsoft.com/en-US/c

[2021-07-28 01:33] andriymaksymov opened #19021 ""az acr build" doesn't work with "Azure-Samples / acr-build-helloworld-node""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- git clone https://github.com/Azure-Samples/acr-build-helloworld-node.git
- cd acr-build-helloworld-node
- `az acr bu

[2021-07-28 01:34] ishepherd commented on #19020
Perhaps this issue belongs in https://github.com/Azure/azure-cli-extensions. Could someone transfer it, please?

[2021-07-28 01:57] jamesongithub commented on #11601
are these aliases only available to select publishers?

[2021-07-28 02:03] shawnmckendr1ck opened #19022 "https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-quick-task?WT.mc_id=thomasmaurer-blog-thmaure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-28 02:05] shawnmckendr1ck commented on #19021
I suspect it may be due to the acr being windows rather than linux?

[2021-07-28 02:22] zhoxing-ms commented on #18963
@mabrahamdevops Since Cloud Shell is deployed according to a certain period, and the next release time happens to be **08-03**, we will pull the latest version **2.27.0** (including the fixes in version **2.26.1**), so we generally do not continuously release new versions at such a short interval

For this, I provide a workaround for your reference. Maybe you can use the reference this document [d

[2021-07-28 02:55] jiasli commented on #18945
As the error suggested:

Please contact your tenant/directory administrator to re-enable the user account.

[2021-07-28 02:55] #18945 closed

[2021-07-28 02:58] evelyn-ys commented on #19008
As far as I know, there's no config for auto deleting.
Redirect to service team for confirmation.

[2021-07-28 03:14] shawnmckendr1ck opened #19023 "https://docs.microsoft.com/en-us/learn/modules/build-and-store-container-images/3-build-container-image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-28 03:34] balakrishna222111 commented on #19008
@evelyn-ys Is there any powershell script or az cli script for temporary if not is it possible to add that feature ?

[2021-07-28 03:54] jlautman commented on #18778
I tried the links today and they appear to be working. I'll re-open if I
see the behavior again.

On Mon, Jul 26, 2021, 7:03 PM Yu Chen ***@***.***> wrote:

[2021-07-28 04:06] jiasli commented on #18976
By the way, did you encounter any error in Python 3.10?

[2021-07-28 04:19] yonzhan commented on #19020
storage

[2021-07-28 04:22] yonzhan commented on #19023
route to service team

[2021-07-28 04:25] yonzhan commented on #19021
route to service team

[2021-07-28 04:26] yonzhan commented on #19022
route to service team

[2021-07-28 04:28] Xandher20 commented on #19018
~/clouddrive/ipcheck

[2021-07-28 04:29] Xandher20 commented on #19018
DOCKERFILE

# Start using the .NET Core 3.1 SDK container image
FROM mcr.microsoft.com/dotnet/sdk:3.1-alpine AS build

# Change current working directory
WORKDIR /app

# Copy existing files from host machine
COPY . ./

# Publish application to the "out" folder
RUN dotnet publish --configuration Release --output out

# Start container by running application DLL
ENTRYPOINT ["dotnet", "out/ipcheck.dl

[2021-07-28 04:32] jiasli commented on #18889
A similar error was previously reported in #16498.

Per the environment summary:

[code]

this is not an Azure CLI released by Microsoft, as we don't release Azure CLI with Python 3.9.5. The bundled Python in our official package is 3.6.10.

[code]

Please make sure you [install Azure CLI from official Linux repo](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt).

[2021-07-28 04:32] #18889 closed

[2021-07-28 04:36] jiasli commented on #15764
@shivabommakanti03, please make sure managed identity is configured correctly on the VM.

See https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm

[2021-07-28 04:36] #15764 closed

[2021-07-28 04:55] evelyn-ys commented on #19008
If service team has such feature, PSH and CLI will definitely add support ASAP

[2021-07-28 05:10] northtyphoon commented on #19009
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:10] northtyphoon commented on #19013
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:11] northtyphoon commented on #19018
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:11] northtyphoon commented on #19021
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:12] northtyphoon commented on #19022
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:12] northtyphoon commented on #19023
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

On cloud shell, you can upgrade to 2.26.1 by running

curl -L https://aka.ms/InstallAzureCli | bash

[2021-07-28 05:15] #16610 closed

[2021-07-28 05:15] #17536 closed

[2021-07-28 05:17] #18707 closed

[2021-07-28 06:09] #18976 closed

[2021-07-28 06:22] evelyn-ys commented on #19020
It's because the extension latency with main azure-cli.
Will sync storage cli extension with storage cli soon

[2021-07-28 06:53] alphaWizard commented on #18222
@jiasli  Any update on this issue?

[2021-07-28 08:25] huski1017 commented on #18987
Hello,

Is there any update to come about this ticket?

[2021-07-28 08:29] jiasli commented on #18159
## Repro

I am able to reproduce this issue with [amazonlinux docker image](https://hub.docker.com/_/amazonlinux).

[code]

[code]

## Cause

`t_blob_service` is created at

https://github.com/Azure/azure-cli/blob/9e6895fd3e4ee4adf3d4e5f40155459b252c82bf/src/azure-cli/azure/cli/command_modules/storage/_client_factory.py#L212-L213

It requires:

https://github.com/Azure/azure-cli/blob/552214c7267e0

[2021-07-28 08:30] jiasli commented on #17329
Azure CLI's RPM package doesn't work correctly with Python 3.8.7. Please see https://github.com/Azure/azure-cli/issues/18159#issuecomment-888120344 for detailed explanation and workaround.

[2021-07-28 08:30] #17329 closed

[2021-07-28 08:54] andriymaksymov commented on #19021
after upgrading it is working now.
Thank you a lot for very rush reaction (new release in couple of hours only - it is simply fantastic)

[2021-07-28 09:01] zhoxing-ms commented on #18844
@roipmsft Hi, since we have too many urgent requirements recently, we need to plan it to be completed in 2021-10-05. May I ask can this date meet your expectations?

[2021-07-28 09:05] zhoxing-ms commented on #18851
@hjkumar Hi, since we have too many urgent requirements recently, we need to plan it to be completed in 2021-10-05. May I ask can this date meet your expectations?

[2021-07-28 09:06] zhoxing-ms commented on #18848
@hjkumar  Hi, since we have too many urgent requirements recently, we need to plan the soft deleting feature to be completed in 2021-10-05. May I ask can this date meet your expectations?

[2021-07-28 09:41] dimitrisfinas opened #19027 "No module named azure.cli.__main__;"
**Describe the bug**
After installing Azure CLI using homebrew on MacOS, trying first command az login, I got error:

[code]

**To Reproduce**
open MacOS terminal and run:
brew update && brew install azure-cli
az login

**Expected behavior**
get Azure CLI login instructions

**Environment summary**
MacOS Catalina 10.15.7

[2021-07-28 09:52] 00Kai0 commented on #15499
Fix at https://github.com/Azure/azure-cli-extensions/pull/3555

[2021-07-28 10:08] Minnbrit opened #19028 "WebApp:az appservice plan create - fails when running from WSL2 Ubuntu"
## Created a resource group with the cli just fine, but attempting to create an appservice plan inside it gives the error below

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az appservice plan create --name {} --resource-group {} --sku

[2021-07-28 10:16] soodkvishal opened #19029 "netappfile create volume from snapshotid failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az netappfiles volume create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az netappfiles volume create -g {} --account-name {} --pool

[2021-07-28 10:33] yonzhan commented on #19027
@jiasli for awareness

[2021-07-28 10:36] yonzhan commented on #19028
route to service team

[2021-07-28 10:36] yonzhan commented on #19029
route to service team

[2021-07-28 10:53] jiasli commented on #18222
@derkoe, I am able to repro this issue on [fedora:34](https://hub.docker.com/_/fedora) following [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf). However, fedora:34 doesn't seem to have python 3.6 pre-installed:

[code]

We got similar issues with the `cffi` library. Explanation and workarounds are provided in https://github.com/Azure

[2021-07-28 11:38] major commented on #18976
Not much in the code itself, but I do notice some testing failures there (using `azdev test`).

[2021-07-28 12:08] gagarine commented on #12308
@seligj95 I cannot connect from the portal neither from the CLI. It's a real bug. You can ask form extra information, but closing it like that is absurd.

What information do you need?

[2021-07-28 12:33] jiasli commented on #18976
@major, I am not aware of that. Could you share some example failures caused by `mock` if convenient?

[2021-07-28 12:49] major commented on #18976
I'll try to take a look later today.

[2021-07-28 13:07] ulja-dd opened #19031 "Broken: Build a Docker image and upload it to Azure Container Registry"
https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/3-exercise-build-images?pivots=csharp

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2021-07-28 13:10] smereczynski commented on #19027
+1

**Environment summary**
MacOS Big Sur 11.5

[2021-07-28 13:17] yonzhan commented on #19031
route to service team

[2021-07-28 13:37] genegc commented on #16311
This is working now.
I've verified by first doing an export of a notebook and then performing a create (and it also works with import).
Here are the commands I used:
`az synapse notebook export --workspace-name syn-ggtest1 --name mynotebook --output-folder ./`
`az synapse notebook import --workspace-name syn-ggtest1 --name mynotebook --file @./mynotebook.ipynb`

A few things to be aware of (this n

[2021-07-28 13:37] #16311 closed

[2021-07-28 13:51] CCostaT commented on #19031
Try updating azure-cli to version 2.26.1. It should solve that bug

[2021-07-28 14:37] Kotasudhakarreddy commented on #18904
@jaysson1710 can you please check and confirm whether the issue has been resolved after upgrading the extension as below.

az extension remove -n appservice-kube
az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"

[2021-07-28 14:52] ramya894 commented on #19028
Looking in to the issue

[2021-07-28 14:57] #18904 closed

[2021-07-28 15:20] nnellans-acts opened #19032 "Failure with AZ SQL VM GROUP CREATE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Not sure why this is happening.  I upgraded to the most recent version of the CLI and still get this issue.  This is the parameter that i'm using:
--storage-account 'https://myStorage.blob.core.windows.net/'

However, I'm getting this error:
"Message: Storage account url is invalid. Needs to be blob service end

[2021-07-28 15:52] gauravjoshi0305 commented on #18913
Update the cloudshell using "pip install azure-cli", and then try again.

[2021-07-28 18:09] erickPuga opened #19033 "I followed this exercise"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-28 18:10] erickPuga opened #19034 "I ran this in az cli: az acr build --registry $ACR_NAME --image helloacrtasks:v1 ."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-28 19:00] rodolfossouza commented on #18902
Hi @kairu-ms
Bellow is an exemple that i've tried to use:

#Variables:
$virtualwanname = <MYVIRTUALWANNAME>
$rgname = <MYVIRTUALWANRESOURCEGROUP>
$CLIENTE=@{name='cliente';ipaddress='200.142.X.X';addressprefixes='172.31.X.X/32'}
$sharedkey= "SHAREDKEY"

az network vpn-site create --virtual-wan $virtualwanname --resource-group $rgname --name $CLIENTE['name'] --ip-address $CLIENTE['ipaddress'] --add

[2021-07-28 20:16] paulbatum opened #19035 "az functionapp deployment fails when deploying to an app with identity based connection for storage"
**Describe the bug**
Deploying to a function app that uses an identity based connection for `AzureWebJobsStorage` (e.g. `AzureWebJobsStorage__accountName`) fails validation when running
` az functionapp deployment source config-zip`.

**To Reproduce**
Follow the steps outlined [here](https://github.com/Azure/azure-functions-host/issues/6423#issuecomment-888563007).

**Expected behavior**
Deploymen

[2021-07-28 20:16] paulbatum opened #25375 "az functionapp deployment fails when deploying to an app with identity based connection for storage"
**Describe the bug**
Deploying to a function app that uses an identity based connection for `AzureWebJobsStorage` (e.g. `AzureWebJobsStorage__accountName`) fails validation when running
` az functionapp deployment source config-zip`.

**To Reproduce**
Follow the steps outlined [here](https://github.com/Azure/azure-functions-host/issues/6423#issuecomment-888563007).

**Expected behavior**
Deploymen

[2021-07-28 20:47] derkoe commented on #18222
Thx @jiasli this workaround also works.

Anyway, I think this should be fixed in the RPM package.

[2021-07-28 21:16] gzuber commented on #18982
Thanks @immeo-rru for letting us know, I'll take a look!

[2021-07-28 21:21] gzuber commented on #18818
Thanks for reporting @tyeth I'll look into this

[2021-07-28 21:22] gzuber commented on #18846
Thanks @yuva2g I'll take a look

[2021-07-28 21:24] gzuber commented on #18808
Thanks @InteliCare for reporting. This may be due to recent changes, I'll take a look!

[2021-07-28 21:27] gzuber commented on #18623
Thanks for reporting @LotteVoorhorst -- this may be due to recent changes, I'll take a look

[2021-07-28 21:29] gzuber commented on #18497
Yeah this could be handled better. Thanks @Steven-Burns I'll take a look

[2021-07-28 21:35] jimbo8098 commented on #7489
Thank you @bradwilson, saved me too!

While the documentation at https://docs.microsoft.com/en-us/azure/key-vault/certificates/how-to-export-certificate?tabs=azure-cli goes over this, what it doesn't mention is that you need to use the same ID for the certificate but amend it such that it is in the format http://${VAULTNAME}.vault.azure.net/**secrets**/${CERTNAME}. If you use the ID provided by Az

[2021-07-28 22:37] gzuber commented on #18735
Thanks for letting us know @ku4eto! Would this error show up outside of running `az functionapp`? (i.e. using a command like `az functionapp create`)

I'd be curious if this is happening to anyone else.

[2021-07-28 22:53] yonzhan commented on #19032
route to service team

[2021-07-28 22:56] yonzhan commented on #19033
route to service team

[2021-07-28 22:56] yonzhan commented on #19034
route to service team

[2021-07-28 22:57] yonzhan commented on #19035
route to service team

[2021-07-29 00:45] HemantErappa opened #19036 "[Network] az network application-gateway : Add missing commands for 'client-cert' and 'ssl-profile'"
**Resource Provider**
Network

**Description of Feature or Work Requested**
Application Gateway Mutual Authentication Support
Overview: https://docs.microsoft.com/en-us/azure/application-gateway/mutual-authentication-overview

**Issue**
https://github.com/Azure/azure-cli/pull/16762 missed adding the following commands:
1. az network application-gateway client-cert show
2. az network application-ga

[2021-07-29 00:56] yonzhan commented on #19036
network

[2021-07-29 01:11] shaunm-msft commented on #16695
I hit it in this one as well:
`az ad sp create-for-rbac`

[2021-07-29 01:14] #18600 closed

[2021-07-29 02:20] #18881 closed

[2021-07-29 02:20] #18903 closed

[2021-07-29 02:20] #18949 closed

[2021-07-29 02:41] jiasli commented on #18222
@derkoe, exactly. However, I don't think this will be an easy fix, as we need to release different RPM packages for different versions of Python installed on the system, due to different dependencies on `so` files, such as:

- Python 3.6: `_psutil_posix.cpython-36m-x86_64-linux-gnu.so`
- Python 3.7: `_psutil_posix.cpython-37m-x86_64-linux-gnu.so`
- Python 3.8: `_psutil_posix.cpython-38m-x86_64-lin

[2021-07-29 02:49] kairu-ms commented on #18902
Hi @rodolfossouza, `az network vpn-site create` does not contain `--shared-key`. You can run the following command to show the help message of it.
[code]
The `--shared-key` used in command `az network vpn-gateway connection create`. You can get the help message of it by add `-h`.
I think you should create `vpn-site` first and then use `vpn-gateway connection` to create connections.

[2021-07-29 02:51] kairu-ms commented on #18902
I hope this test example meets your need. https://github.com/Azure/azure-cli-extensions/blob/ff7161991f569edc82a1f743ba9896ea82d8b5b3/src/virtual-wan/azext_vwan/tests/latest/test_azure_vwan_vhub_commands.py#L281-L363

[2021-07-29 03:23] Xandher20 commented on #19018
Thank you for your help, it was already solved.

[2021-07-29 04:26] jiasli commented on #13573
There are 2 ways to trigger this issue on WSL.

## Calling `az` installed on Windows

If you are calling `az` installed on Windows system instead of the `az` installed on WSL Linux, you will hit this issue.

To identify which `az` you are calling, run

[code]

Call `az` installed on Windows, save the result and let `python3` help us display its raw value:

[code]

### Solution

Always stay in WSL

[2021-07-29 04:27] jiasli commented on #16090
Please see the explanation at https://github.com/Azure/azure-cli/issues/13573#issuecomment-888791313.

[2021-07-29 04:27] #16090 closed

[2021-07-29 04:27] jiasli commented on #16695
Please see the explanation at https://github.com/Azure/azure-cli/issues/13573#issuecomment-888791313.

[2021-07-29 04:27] #16695 closed

[2021-07-29 04:28] jiasli commented on #17155
Please see the explanation at https://github.com/Azure/azure-cli/issues/13573#issuecomment-888791313.

[2021-07-29 04:28] #17155 closed

[2021-07-29 05:39] ku4eto commented on #18735
The packages that are installed, when installing `azure-cli` are as follow:

[code]
As you can see, the python3-decorator is not part of it.
Nuking (purging) the `azure-cli`, and `apt autoremove`, and trying to install it again, leads to the same scenario, where you cant use `functionapp`.
And yes, ALL of the `functionapp` commands will fail, since the core of it depends on `decorator`.

Seems lik

[2021-07-29 05:54] jiasli commented on #18911
Judging by the call stack

[code]

you have multiple Pythons (at least 3.9 and 3.7) installed and `sys.path` pointes to various source folders:

- `C:\Python39\lib\site-packages\`
- `C:\Users\kreet\AppData\Roaming\Python\Python39\site-packages\`
- `C:\Users\kreet\AppData\Local\Programs\Python\Python37-32\Lib\site-packages\`

You have also installed Azure CLI by yourself previously with `pip` which

[2021-07-29 06:18] jiasli commented on #17211
We have recently bumped the version of `requests` (#18213) and `urllib3` (#18324).

The SOCKS proxy support is requested in https://github.com/Azure/azure-cli/issues/18930 and implemented by https://github.com/Azure/azure-cli/pull/18931. Please install the latest Azure CLI after we release it on 08/03/2021 and see if the issue is solved.

[2021-07-29 06:34] ramya894 commented on #19028
I am unable to repro the issue in latest CLI version 2.26.0. Please use the latest version

[2021-07-29 06:54] #19004 closed

[2021-07-29 06:55] #14711 closed

[2021-07-29 06:59] jsntcy commented on #19005
Supported in https://github.com/Azure/azure-cli/pull/18678

[2021-07-29 06:59] #19005 closed

[2021-07-29 07:14] Minnbrit commented on #19028
Seeing as I was using a new installation I thought had the latest version, I should have double checked.

Found on this page [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) that the version on Ubuntu 20.04 coming from the universe repository was out of date.

Removed it as the page suggests, followed the instructions to get the latest

[2021-07-29 07:14] #19028 closed

[2021-07-29 07:41] amjads1 commented on #18278
Thanks for the patience! Based on the error message: _"The Publisher: 'azul' does not make available Offer: 'azul-zulu11-ubuntu-2004', Plan: 'zulu-jdk11-ubtu2004' in your Subscription/Azure account▒s region: 'SG'"_, it looks like the offer was not made available to the SG (Singapore) market and the subscription you are are trying to use is linked to SG. You may want to choose a different subscript

[2021-07-29 07:56] amjads1 commented on #18418
Thanks for your patience! I'm unable to reproduce the issue but the examples provided looks good to me. Let me work with the Monitoring Agent team to get additional details. Meanwhile, can you try executing same CLI command and update latest results here?

[2021-07-29 08:05] derkoe commented on #18222
In the old version you could have also fixed that in the shell script by replacing "python" with "python3.6".

I guess in the current version you could patch the python version here https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/az#L1 ("python" -> "python3.6")

[2021-07-29 08:37] jiasli commented on #18222
Per my observation, [Fedora:34](https://hub.docker.com/_/fedora) doesn't seem to have python 3.6 pre-installed:

[code]

[2021-07-29 10:07] derkoe commented on #18222
When you install Azure CLI RPM the 3.6 is installed as well (it is a dependency).

[2021-07-29 10:18] #17769 closed

[2021-07-29 10:18] #16936 closed

[2021-07-29 10:18] #18263 closed

[2021-07-29 10:18] #18314 closed

[2021-07-29 10:22] tmasabari commented on #9141
I am also facing the similar issue. If file share is mapped to the drive and user performed similar operation, is Windows deleting each item separately !!! (even if it is parallel operation) There should be a inbuild call to delete the folders recursively.

Interestingly blob container with Azure Data Lake Gen 2 enabled supports this operation !!!

[2021-07-29 10:30] Ayatallah commented on #11315
+1 same feature needed!

[2021-07-29 10:38] jiasli commented on #13573
I have created https://github.com/microsoft/WSL/issues/7248 for WSL to improve its behavior.

[2021-07-29 10:39] #18947 closed

[2021-07-29 11:05] Kotasudhakarreddy commented on #18723
@derekpurdy - for `az storage` please log a new issue.

[2021-07-29 11:07] Kotasudhakarreddy commented on #18723
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-07-29 11:07] #18723 closed

[2021-07-29 11:08] stmaute opened #19039 "[application-gateway] Not possible to update backendIpConfigurations of an address pool"
**Describe the bug**
I can not update the backendIpConfigurations  of an application-gateway via this comamnd.
az network application-gateway address-pool update --subscription eee01027-765d-4083-9155-ca9f93588f52 -g things-resources-int --gateway-name things-app-gateway-int -n <name> --add backendIpConfigurations "{\"id\":\"/subscriptions/<subscriptionId>/resourceGroups/<resourceGroup>/providers/

[2021-07-29 11:28] yonzhan commented on #19039
network

[2021-07-29 11:39] hodge-eagleson opened #19040 "Failure while following the steps of https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/3-exercise-build-images?pivots=csharp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-29 11:42] Kotasudhakarreddy commented on #18725
I am unable to repro this issue in version `2.26.0`. Please update your CLI version to latest and try again.

![image](https://user-images.githubusercontent.com/60102891/127486024-ba53a61d-9337-4bcb-98d3-6c66a60d351b.png)

[2021-07-29 12:01] jiasli commented on #18222
Aha, I forgot about that. Thanks @derkoe. I got confused by `--nodeps` from https://github.com/Azure/azure-cli/issues/18159#issuecomment-888120344.

Let me create a PR to fix `azure-cli.spec`!

https://github.com/Azure/azure-cli/blob/753a11c87575fedcc7425d4e34d332b17d8cd17b/scripts/release/rpm/azure-cli.spec#L57

However, `azure-cli/src/azure-cli/az` file is meant to be the entry point when instal

[2021-07-29 12:19] rodolfossouza commented on #18902
Hi @kairu-ms, good morning!

Sorry i've misspelled the command.
The correct is:

#Variables:
$virtualwanname = "MYVIRTUALWANNAME"
$rgname = "MYVIRTUALWANRESOURCEGROUP"
$CLIENTE=@{name='cliente';ipaddress='200.142.X.X';addressprefixes='172.31.X.X/32'}
$sharedkey= "SHAREDKEY"

az network vpn-site create --virtual-wan $virtualwanname --resource-group $rgname --name $CLIENTE['name'] --ip-address $CLIE

[2021-07-29 13:11] yonzhan commented on #19040
route to service team

[2021-07-29 13:44] aayadi-ey commented on #13952
From my powershell ISE it is creating the secret if doesn't exist, but in a Azure DevOps pipeline it is failing. any idea?

[2021-07-29 13:48] Volatus commented on #18993
@ygcasaso This may be due to the fact that `kubelogin` does not have `darwin/arm64` releases yet. I have made [this PR](https://github.com/Azure/kubelogin/pull/64) about a month ago but they haven't made a new release yet so the `arm64` ones are not there yet. I also believe the code for `azcli` that implements the functionality needs some minor changes, so I'll try making a PR to get it ready for

[2021-07-29 14:19] ehvieira opened #19041 "TypeError: 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --resource-group {} --image {} {}`

## Expected

[2021-07-29 14:40] yonzhan commented on #19041
route to service team

[2021-07-29 14:56] #18870 closed

[2021-07-29 15:38] CCostaT opened #19042 ""az acr build" fails with UnicodeEncodeError"
**Describe the bug**
Running `az acr build` task in a Microsoft-hosted agent succeeds but when running in a self-hosted agent it fails with `UnicodeEncodeError: 'ascii' codec can't encode character '\u0151' in position 834: ordinal not in range(128)`

**To Reproduce**
az acr build --registry {} --file {} --build-arg nocache=true --build-arg {} --image agent:tag {}

**Expected behavior**
A new dock

[2021-07-29 16:14] jesusnunezpro commented on #18963
The only workaround I found to make this work for me, was though a virtual environment in python
[code]
The Instructions [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script) just reinstalled 2.26.0

[2021-07-29 17:20] svollath opened #19043 "AKS: VNET and NSG not listed with resource-group option"
**Describe the bug**
Sometimes, the commands for listing VNETs and NSGs return empty for up to 20min. after (aks automatic) creation, if `--resource-group` is used - at the same time the respective resources are included (with the correct resource-group) listed within all VNET resources, e.g. with just `az network vnet list` or `az network nsg list`

**To Reproduce**
1. Create AKS cluster using th

[2021-07-29 17:46] jaylabell commented on #18044
@olayemio Could you please look into this issue?

[2021-07-29 18:05] seligj95 commented on #18726
@Nethmifonseka97 Please try updating to the latest version of the CLI.

Also, can you share more info about the parameters you used in the command?

Assuming you did this from a local install of the Azure CLI - can you also try from the Azure Cloud Shell?

[2021-07-29 18:06] jaylabell commented on #18964
Redirecting updates to https://github.com/Azure/azure-powershell/issues/15526

[2021-07-29 18:10] roy-work opened #19101 "Pass-through options to `ssh` on `az ssh vm` & friends"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`ssh`

### Description of issue (in as much detail as possible)

`az ssh vm` (et al.) allows one to SSH; sometimes, we need to set up, e.g., SSH port-forwardings. It would be great if `az ssh vm` understood `-

[2021-07-29 18:10] jaylabell commented on #18964
@bjosafa was the answer provided by @zhoxing-ms sufficient for you:

[2021-07-29 18:27] olayemio commented on #18044
@amjads1 can you look into this as it is a Marketplace image issue

[2021-07-29 19:04] Nickelodeon111 opened #19044 "az consumption usage list - MemoryError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption usage list --start-date {} --end-date {} --subs

[2021-07-29 19:05] Nickelodeon111 commented on #19044
Details of command used:
az consumption usage list --start-date 2021-07-01  --end-date 2021-07-29  --subscription a464f508-ff11-423c-bab6-8eadb42ebcf2 --include-meter-details -m

[2021-07-29 19:11] jaylabell commented on #18226
These are repair script issues that are being handled via a CPlat SDK/PS engineer

[2021-07-29 19:13] jaylabell commented on #18227
This is a repair script issue that is being handled via a CPlat SDK/PS engineer

[2021-07-29 19:46] Vaibhav-Agar commented on #18684
@Juliehzl REST APIs do return the disk tier irrespective of OS or data disk. See documentation here (search for tier): https://docs.microsoft.com/en-us/rest/api/compute/disks/get

Can you please debug from the CLI side?

Additionally, I am also pasting the GET response for a data disk that mentions tier.

{
    "name": "datadisk2",
    "id": "/subscriptions/49151e6d-fa6e-4985-ae85-00548ec78853/res

[2021-07-29 21:23] bjosafa commented on #18964
@jaylabell, as I understood, the SKU codes were supposed to be provided by the Rest service, but nowadays it is not providing this information. So I can assume this will be added or at least taken into account.

[2021-07-29 21:26] diondrapeck commented on #18984
Fix has been merged. @yonzhan please close

[2021-07-29 21:26] brianlehr commented on #18953
@yonzhan Could you help us understand the general timeframe when this can be executed?  The release date for the feature is 9/30, apologies for the late notification.  The good news is that the required pieces are already in the latest API.

[2021-07-29 21:40] Jakebeckmann opened #19046 "Code in learning module not running correctly. stopping me from completeing "Azure Kubernetes Service Workshop""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --resource-group {} --registry {} --image {} {}`

## Expected

[2021-07-29 22:41] yonzhan commented on #19042
route to service team

[2021-07-29 22:48] yonzhan commented on #19046
route to service team

[2021-07-29 22:50] yonzhan commented on #18953
This feature is planned in next sprint https://github.com/Azure/azure-cli/milestone/109

[2021-07-29 22:50] #18984 closed

[2021-07-29 22:54] yonzhan commented on #19044
route to service team

[2021-07-29 22:55] yonzhan commented on #19043
route to service team

[2021-07-29 22:58] jamesc opened #19048 "az ssh vm on CloudShell returns error 'Could not retrieve token from local cache.'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:

On Cloud Shell:

- `az ssh vm --ip {}`

## Expected Behavior

Should connect to the VM - instead gives error about token.  It looks like the following env is set

[code]
but that file doesn't exist.

I woul

[2021-07-29 23:39] chcampos opened #19047 "Error while deploying a Docker container image to Container Registry in AZ-204 Lab 05: Deploying compute workloads by using images and containers"
Update:

Found a fix for the issue below.

Run the following command in CloudShell:

pip install azure-cli

Restart Cloudshell once it's done.

Source: https://github.com/MicrosoftLearning/AZ-204-DevelopingSolutionsforMicrosoftAzure/issues/269

## Describe the bug
Error while executing step 3, Task 5: Deploy a Docker container image to Container Registry in AZ-204 Lab 05: Deploying compute workloa

[2021-07-29 23:41] yonzhan commented on #19047
route to service team

[2021-07-30 00:01] #19047 closed

[2021-07-30 00:01] chcampos commented on #19047
Found a fix for the issue below.

Run the following command in CloudShell:

pip install azure-cli

Restart Cloudshell once it's done.

Source: MicrosoftLearning/AZ-204-DevelopingSolutionsforMicrosoftAzure#269

[2021-07-30 00:05] chcampos commented on #19046
I had the same issue, and I found a fix for it.

Run the following command in CloudShell:

pip install azure-cli

Restart Cloudshell once it's done.

Source: https://github.com/MicrosoftLearning/AZ-204-DevelopingSolutionsforMicrosoftAzure/issues/269

[2021-07-30 00:57] evelyn-ys commented on #13952
@moirf @aayadi-ey
It will create if the secret doesn't exist.
The error message is saying that the vault doesn't exist. You should use `az keyvault create` to create a vault first.

[2021-07-30 01:32] Ren-999 opened #19049 "Container Build failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-30 02:05] tdihp opened #19050 "az aks nodepool add --help doesn't show available options for --node-osdisk-type"
**Describe the bug**

az aks nodepool add --help doesn't show available options for --node-osdisk-type

Current output:

[code]

**To Reproduce**

[code]

**Expected behavior**

Shows the other option "Managed" and what it means.

**Environment summary**

[code]

**Additional context**

[2021-07-30 02:36] yonzhan commented on #19049
route to service team

[2021-07-30 02:37] yonzhan commented on #19050
route to service team

[2021-07-30 02:42] #17544 closed

[2021-07-30 05:46] kairu-ms commented on #18902
{
  "error": {
    "code": "InvalidRequestFormat",
    "message": "Cannot parse the request.",
    "details": [
      {
        "code": "InvalidJson",
        "message": "Could not find member 'siteKey' on object of type 'VpnSiteProperties'. Path 'properties.siteKey', line 1, position 245."
      }
    ]
  }
}

[2021-07-30 05:50] #17424 closed

[2021-07-30 07:24] brendondb opened #19053 "No module named 'vsts_cd_manager' - error when running "az logicapp create ""
## Bug Description:
##When executing the command below (under **Command**), the error (under **Errors) is returned

**Command **
az logicapp create --name MyLogicAppName    --resource-group MyResourceGroupName --subscription MySubscription   --storage-account MyStorageAccount --custom-location MyCustomLocation

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argumen

[2021-07-30 07:51] Qay-Tekkie opened #19054 "az appservice domain create errors"
Adding the --privacy parameter throws an argument error with values of 1 or 0. But adding a value of -p makes the domain purchase operation successful.
Please any ideas of what the -p value means?

[2021-07-30 08:03] zhoxing-ms commented on #18684
@guy93r I can use the commands `az disk list` and `az disk show` to obtain the data of tier, so this issue cannot be reproduced on my side.
Could you please provide the debug log? Please add the parameter `--debug` after the executed command, and then send the printed information to me by email. My email address is Zhou.Xing@microsoft.com, thanks~

[2021-07-30 08:23] #17786 closed

[2021-07-30 08:30] Kotasudhakarreddy commented on #18956
Mentioned properties were removed from the current Python SDK. please find the Breaking changes section [here](https://pypi.org/project/azure-mgmt-web/2.0.0/) . Properties were added back to latest SDK (3.0.0) . This issue will be fixed in the next CLI update with latest SDK. As a work around please rollback your CLI to the working version. Sorry for inconvenience.

[2021-07-30 09:47] gagarine opened #19055 "az webapp deployment source config-zip: Deployment endpoint responded with status code 202. But fail to run?"
I'm running `az webapp deployment source config-zip --resource-group XX --name XX --src XX-package.zip` on a Linux Web Service instance.

It's a node project. My zip contain a package.json with a npm start command that I expect Azure to run.

[code]

But then? The app do not seem to run.

[2021-07-30 09:49] gagarine commented on #19055
Before trying the az CLI  I did used the VS code app service plugin to deploy and it worked. But I do not like VS code and want to deploy using the CLI for test project.
In production I'm using github to build.

[2021-07-30 09:53] realsenseme commented on #11315
I'm so looking for this. Is there any update on this feature? With microservice architecture, it is very likely that an application ends up having tens of repos and scoping with grouping or with wildcards would be necessary to make the use of scope-maps relevant. Otherwise it is not a very useful feature in the process of automation.

[2021-07-30 10:05] arpadszocs opened #19056 "az servicebus namespace list error"
## An error occurs at az servicebus namespace list , cli version 2.26.1

**Command Name**
`az servicebus namespace list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az servicebus namespace list`

## Expected Behavior
The command runs without any error

## Environment Summary
[cod

[2021-07-30 11:57] satano commented on #10439
We hit this issue as well. We need it for the same reason as @Matthewsre – we need ID of the current user (may it be the service principal or AAD user) and we need to set access policy for key vault for it. All we need is `objectId` of this entity, so it should be enough to add this property to `az account show` (@jiasli).

[2021-07-30 13:26] idjohnson opened #19059 "Review link instead of docs link"
This page uses the url ("review"):
https://review.docs.microsoft.com/en-us/azure/storage/blobs/blob-inventory#inventory-policy.

instead of the public
https://docs.microsoft.com/en-us/azure/storage/blobs/blob-inventory#inventory-policy.

Most outside org users cannot access 'review' app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-07-30 13:49] J0ck3l opened #19060 "Failed to create storage account in sandbox (MSLearn)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Failed to create storage account in MSLearn sandbox working on the following module:
https://docs.microsoft.com/de-de/learn/modules/store-app-data-with-azure-blob-storage/4-create-storage-resources

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavio

[2021-07-30 13:50] svdlinde42 opened #19061 "Azure CLI under WSL2"
## Describe the bug
This error occurs when executing `az functionapp config appsettings set` in WSL2 (Ubuntu-20.04). For parsing the `--settings` values, it's requesting the parent (or grandparent) of the executing proc_name [see here](https://github.com/Azure/azure-cli/blob/a12f5762e02d6d41927280557046eb76241194f2/src/azure-cli-core/azure/cli/core/util.py#L1254), but this throws an AccessDenied e

[2021-07-30 14:53] hernansr opened #19062 "Cannot find user or service principal in graph database for 'msi'. If the assignee is an appId, make sure the corresponding service principal is created with 'az ad sp create --id msi'."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Follow https://docs.microsoft.com/en-us/learn/modules/deploy-kubernetes/3-set-up-environment

- _Put any pre-requisite steps here..._
`az configure --defaults location=westus2`
`resourceSuffix=$RANDOM`
`registryName="tailspinspa

[2021-07-30 15:01] yonzhan commented on #19053
route to service team

[2021-07-30 15:03] yonzhan commented on #19055
route to service team

[2021-07-30 15:08] yonzhan commented on #19062
@jiasli for awareness

[2021-07-30 15:08] gagarine commented on #19055
I understand the problem now. The project was not running without some devDependencies.

I reported also that when NODE_ENV=production deployment fail because devDependencies is not used during npm install.: https://github.com/microsoft/Oryx/issues/1068

[2021-07-30 15:08] #19055 closed

[2021-07-30 15:09] yonzhan commented on #19061
route to service team

[2021-07-30 15:09] yonzhan commented on #19060
storage

[2021-07-30 15:11] yonzhan commented on #19059
storage

[2021-07-30 15:13] hernansr commented on #19062
ugh, I just realized this is the azure-cli project, got this error while trying to complete an Azure course and used `az feedback` to report the problem but I don't think it should be solved in here :( my apologies.

[2021-07-30 15:15] yonzhan commented on #19056
route to service team

[2021-07-30 15:18] #19062 closed

[2021-07-30 15:57] derek1ee commented on #19053
@Bec ***@***.***> can you take a look at this?
________________________________
From: yonzhan ***@***.***>
Sent: Friday, July 30, 2021 8:01 AM
To: Azure/azure-cli ***@***.***>
Cc: Derek Li (AZURE) ***@***.***>; Team mention ***@***.***>
Subject: Re: [Azure/azure-cli] No module named 'vsts_cd_manager' - error when running "az logicapp create " (#19053)

route to service team

—
You are receiving th

[2021-07-30 16:04] starbuck3000 opened #19063 "az role assignment list retuns "subscription could not be found" in tenant without subscription"
The CLI command "az role assignment list" returns the following error:
"The subscription '<tenantid>' could not be found."

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- Log into a tenant without subscriptions (e.g. MS365/AD tenant)
- `az ro

[2021-07-30 17:18] georgejdli commented on #17938
Sorry for the late response but appending the standard root python certs on top of my company's internal root certs worked for me

[2021-07-30 17:18] #17938 closed

[2021-07-30 17:48] archidda commented on #19053
We are aware of the issue and working on a fix, new version of the extension will be released next week.

As a workaround, please downgrade the azure cli to 2.23.0.

[2021-07-30 18:21] FladoToo opened #19064 "Cannot list storage account keys"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account keys list`

**Errors:**
[code]

## To Reproduce:
1. Login to a VM running openSuse Leap 15.3 in Azure
2. create or select a storage account
2. sudo zypper install azure-cli
3. az login
4. try to retrieve the keys for the storage account in step 2.

- _Put any pre-requisite

[2021-07-30 18:33] MarioRamosEs commented on #17000
Same bug when I try to run the script in the tutorial of [Azure functions exercise on Api Management](https://docs.microsoft.com/es-es/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management)

[2021-07-30 19:42] molafson commented on #13352
I get a similar error when running `az container exec` using the Azure/CLI Github action (https://github.com/marketplace/actions/azure-cli-action)

[code]

[2021-07-30 19:58] mcarter106 opened #19066 "Creating a private endpoint approval on a postgresdb - endpoint created but this error was received."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-endpoint-connection approve`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network private-endpoint-connection ap

[2021-07-30 21:19] eschrader commented on #17938
Worked for me too, Corp proxy error.
[code]
Your process of going to the index site and grabbing the GIT URL fixed it,
` az extension add --source https://github.com/Azure/azure-devops-cli-extension/releases/download/20190805.1/azure_devops-0.12.0-py2.py3-none-any.whl`

[2021-07-30 22:39] inaun opened #19067 "Worthless error message -- need to fix so it provides actual information"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
This failure was caused because I kicked off CLI to create the container before I put the storage service endpoint in place. It is a worthless error message, and needs to be fixed so the error actually provides guidance to determining what is wrong. Had I not re-run the command a second time when I saw it faile

[2021-07-30 22:55] Ren-999 opened #19068 "Unable to build container registry in Microsoft Training module"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-31 00:18] yonzhan commented on #19063
@jiasli for awareness

[2021-07-31 00:20] yonzhan commented on #19064
storage

[2021-07-31 00:21] yonzhan commented on #19066
network

[2021-07-31 00:27] yonzhan commented on #19067
route to service team

[2021-07-31 00:28] yonzhan commented on #19068
route to service team

[2021-07-31 01:46] susegrant opened #19069 "SUSE images in azure cli do not have a "default" image."
**Describe the bug**

According to the azcli's "az vm create --help" output, each
distribution (publisher) should have some kind of "default" image.

##### BEGIN EXAMPLE #####
user@hostname:/> az vm create --help |grep Ubuntu
    Create a default Ubuntu VM with automatic SSH authentication.
        az vm create -n MyVm -g MyResourceGroup --image UbuntuLTS
[...]
##### END EXAMPLE #####

In checking

[2021-07-31 01:58] yonzhan commented on #19069
@zhoxing-ms to help with

[2021-07-31 03:18] FireBelow opened #19070 "az acr build tutorial fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I got error below while following the training here: https://docs.microsoft.com/en-us/learn/modules/build-and-store-container-images/3-build-container-image

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
I was just following the tutorial (copying in the commands) and got this error which

[2021-07-31 05:21] #18447 closed

[2021-07-31 05:22] #18264 closed

[2021-07-31 05:23] #18444 closed

[2021-07-31 05:24] #18541 closed

[2021-07-31 05:25] #18646 closed

[2021-07-31 05:25] #18674 closed

[2021-07-31 05:26] #18685 closed

[2021-07-31 05:37] yonzhan commented on #19070
route to service team

[2021-07-31 05:46] #18606 closed

[2021-07-31 05:48] #16982 closed

[2021-07-31 05:49] #18780 closed

[2021-07-31 05:49] #17092 closed

[2021-07-31 05:49] #14584 closed

[2021-07-31 05:49] #18355 closed

[2021-07-31 05:49] #18350 closed

[2021-07-31 05:49] #18257 closed

[2021-07-31 05:49] #18737 closed

[2021-07-31 08:32] #18256 closed

[2021-07-31 17:26] gowrimshankar opened #19071 "az functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-07-31 20:46] Volatus commented on #18884
I was the one that introduced the `KUBECONFIG` check and this is standard K8s behavior, the blame is on the pipeline task for setting `KUBECONFIG`. If it's set, then it will be used. Maybe could consider another check to make sure `KUBECONFIG` is actually valid before usage.

[2021-07-31 20:54] Volatus commented on #18883
@maxvandl See: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_get_credentials

[2021-07-31 20:58] Volatus commented on #18836
@paddycarey The official docs provide no guidance on how multiple files have to be handled. What's the point of having multiple files on `KUBECONFIG` anyway?

[2021-08-01 01:07] yonzhan commented on #19071
route to service team

[2021-08-01 11:40] nis007 opened #19074 "pls help"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

[2021-08-01 15:21] yonzhan commented on #19074
route to service team

[2021-08-01 17:06] Piedone commented on #7593
Any news by chance? @dkkapur it seems you're not working at Microsoft anymore?

[2021-08-01 18:41] aldo220686 opened #19075 "problem when i run command 'az acr build'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-08-01 20:18] Flasheh commented on #18836
@Volatus [The docs state](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable)

When working with a bunch of different clusters on multiple projects for example, some people prefer to manage them in different physical config files.

[2021-08-01 23:40] yonzhan commented on #19075
route to service team

[2021-08-02 02:16] PARADISSEEKR commented on #18765
Failed because the device is not activated, refer to these document to activate the device.
https://docs.microsoft.com/en-us/azure/databox-gateway/data-box-gateway-deploy-connect-setup-activate
https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-activate

[2021-08-02 02:16] #18765 closed

[2021-08-02 02:32] #19050 closed

[2021-08-02 05:28] jsntcy opened #19077 "[Track 2 migration] Migrate Security"
Migrate Security to track 2 SDK.

[2021-08-02 05:31] jsntcy opened #19078 "[Track 2 migration] Migrate Blueprint"
Migrate Blueprint to track 2 SDK.

[2021-08-02 05:34] jsntcy commented on #19078
Supported by https://github.com/Azure/azure-cli-extensions/pull/3697

[2021-08-02 05:49] jsntcy opened #19080 "[Track 2 migration] Migrate dms-preview in extension"
Migrate dms-preview in extension to track 2 SDK.

[2021-08-02 05:52] jsntcy opened #19081 "[Track 2 migration] Migrate BotService"
Migrate BotService to track 2 SDK.

[2021-08-02 05:53] jiasli commented on #17938
@eschrader, Installing from `whl` is the last resort for solving issues like this, as it doesn't work with `az upgrade` which upgrades all your extensions automatically. You will also have to repeat this process for all extensions you need to install.

We still recommend adding your corp proxy root CA to Azure CLI's `pem` file to avoid further obstruction.

[2021-08-02 05:54] jsntcy opened #19082 "[Track 2 migration] Migrate AMS"
Migrate AMS to track 2 SDK.

[2021-08-02 05:56] jsntcy opened #19083 "[Track 2 migration] Migrate APIM"
Migrate APIM to track 2 SDK.

[2021-08-02 06:00] jsntcy opened #19084 "[Track 2 migration] Migrate ARO"
Migrate ARO to track 2 SDK.

[2021-08-02 06:00] yonzhan commented on #19077
Track 2 migration

[2021-08-02 06:02] yonzhan commented on #19080
Track 2 migration

[2021-08-02 06:02] yonzhan commented on #19081
Track 2 migration

[2021-08-02 06:04] jsntcy opened #19085 "[Track 2 migration] Migrate ServiceFabric"
Migrate ServiceFabric to track 2 SDK.

[2021-08-02 06:05] yonzhan commented on #19082
Track 2 migration

[2021-08-02 06:05] yonzhan commented on #19083
Track 2 migration

[2021-08-02 06:06] yonzhan commented on #19084
Track 2 migration

[2021-08-02 06:07] yonzhan commented on #19085
Track 2 migration

[2021-08-02 06:07] jsntcy opened #19086 "[Track 2 migration] Migrate EventHubs"
Migrate EventHubs to track 2 SDK.

[2021-08-02 06:09] jsntcy opened #19087 "[Track 2 migration] Migrate Relay"
Migrate Relay to track 2 SDK.

[2021-08-02 06:19] jsntcy opened #19088 "[Track 2 migration] Migrate webapp in extension"
Migrate webapp in extension to track 2 SDK.

[2021-08-02 06:20] jsntcy opened #19089 "[Track 2 migration] Migrate aem in extension"
Migrate aem in extension to track 2 SDK.

[2021-08-02 06:22] jsntcy opened #19090 "[Track 2 migration] Migrate Lab"
Migrate Lab to track 2 SDK.

[2021-08-02 06:24] jsntcy opened #19091 "[Track 2 migration] Migrate SQLVM"
Migrate SQLVM to track 2 SDK.

[2021-08-02 06:26] jsntcy opened #19092 "[Track 2 migration] Migrate Container"
Migrate Container to track 2 SDK.

[2021-08-02 08:11] yonzhan commented on #19086
Track 2 migration

[2021-08-02 08:12] yonzhan commented on #19087
Track 2 migration

[2021-08-02 08:12] yonzhan commented on #19088
Track 2 migration

[2021-08-02 08:12] yonzhan commented on #19089
Track 2 migration

[2021-08-02 08:13] yonzhan commented on #19090
Track 2 migration

[2021-08-02 08:13] yonzhan commented on #19091
Track 2 migration

[2021-08-02 08:14] yonzhan commented on #19092
Track 2 migration

[2021-08-02 08:21] jiasli commented on #18410
The port support is added by https://github.com/Azure/azure-cli-extensions/pull/3698.

[2021-08-02 08:35] JoshuaVanDaalen opened #19093 "az bicep install with termination command prevents it from installing one second try"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When installing bicep via `az bicep install` and quickly pressing Ctrl + C to cancel, because I wasn't in admin mode, I can no longer install/ upgrade bicep from the az cli as it shows the following error:
OSError: [WinError 193] **%1** is not a valid Win32 application

**Command Name**
`az bicep upgrade`

**Er

[2021-08-02 08:42] akbarpunjwani opened #19094 "Ms Learn Modules Microservices-aspnet-core >> 6-add-coupon-service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Facing error when following the tutorial & source code provided by Microsoft Learn module.
https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/6-add-coupon-service

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument valu

[2021-08-02 09:45] yonzhan commented on #19094
route to service team

[2021-08-02 09:46] yonzhan commented on #19093
route to service team

[2021-08-02 09:59] mmisztal1980 commented on #16312
I'm experiencing the same issue - the command hangs.

[code]

[code]

[2021-08-02 10:09] yonzhan commented on #16312
acr service team should take a look

[2021-08-02 10:18] Qay-Tekkie commented on #19054
Please any update on this question?

[2021-08-02 10:22] mmisztal1980 commented on #16312
just noticed that my local docker was stuck in booting up state - I've reset it, and then it worked

[2021-08-02 10:24] saswatac opened #19095 "az acr token delete is broken"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr token delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr token delete -n {} -r {} --yes`

## Expected Behavior

## Env

[2021-08-02 11:11] yonzhan commented on #19095
route to service team

[2021-08-02 12:07] Flasheh commented on #18836
Yeah I see the issue now. There's no real solution without making certain assumptions.

What bothers me is that it now writes to the literal value like `/home/me/.kube/config:/home/me/.kube/anotherconfig`
I wouldn't mind it defaulting to ~/.kube/config with multiple files in `$KUBECONFIG` but that's somewhat confusing behaviour.

[2021-08-02 12:23] AlekseyNIvanov opened #19096 "Error: MS Learn Deploy and run a containerized web app with Azure App Service / Exercise - Build and store an image by using Azure Container Registry"
### **This is autogenerated. Please review and update as needed.**
MS Learn
Deploy and run a containerized web app with Azure App Service / Exercise - Build and store an image by using Azure Container Registry
## Describe the bug
Run the following command. This command sends the folder's contents to Azure Container Registry, which uses the instructions in the Docker file to build the image and sto

[2021-08-02 13:17] Volatus commented on #18836
The reason I introduced the change for checking `$KUBECONFIG` was due to the fact that previous, `azure cli` would not write to the appropriate file if you put `KUBECONFIG` outside of the default location in `$HOME/.kube/`. Unfortunately this change broke the functionality with having multiple files but I can write up a fix once it's decided on what behavior to use.

[2021-08-02 13:52] yonzhan commented on #19096
route to service team

[2021-08-02 15:17] j0057 opened #19097 "Argument to `--settings` flag in `az functionapp config appsettings set` is not space separated"
The documentation text for the `--settings` parameter misleadingly states that it takes a space-separated argument in the form of `key=value`:

Like this, to set three variables, A, B, and C:

    az functionapp config appsettings -g groupname -n funcname --settings 'A=1 B=2 C=3'

Notice the quoting. However this sets only the first variable, A, to the value `1 B=2 C=3`. In reality the `--settings

[2021-08-02 15:43] yonzhan commented on #19097
route to service team

[2021-08-02 15:46] panchagnula commented on #19054
@calvinsID can you take a look?

[2021-08-02 18:13] calvinsID commented on #19054
Hi @Qay-Tekkie, what CLI version are you using and what is the error you are seeing? `--privacy` and `-p` should be the same thing
![image](https://user-images.githubusercontent.com/14339314/127905577-d29350e1-de10-4f97-ab4c-7e6dd088db65.png)

[2021-08-02 18:53] seligj95 commented on #16178
@indrehus Please let us know if the above solved your issue. Thanks!

[2021-08-02 19:14] seligj95 commented on #12308
@gagarine Thank you for the feedback. We are aware of this instability associated with these commands and are prioritizing updates. As this was an old GH issue with few details that was unable to be reproduced, it was closed.

However, if you're still experiencing issues, I am happy to help. Can you confirm if you are able to connect using the menu item in the screen shot below? That can be found

[2021-08-02 19:24] fds13 opened #19098 "Azure Portal CLI error when trying to disable web app auto-swap"
Hi everyone!

I'm getting this error when trying to disable an auto-swap on Web App using Portal CLI.

What I'm trying to do is:
az webapp deployment slot auto-swap --name <name> --resource-group <resourcegroup> --slot <slot> --disable

**Command Name**
`az webapp deployment slot auto-swap`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been r

[2021-08-02 20:03] miniGweek opened #19099 "az network application-gateway -h doesn't list "show-backend-health" as one of the subgroups."
**Describe the bug**
Executing `az network application-gateway -h` doesn't list `show-backend-health` as one of the sub groups.

**To Reproduce**
Just run `az network application-gateway -h`
You will notice that `show-backend-health`  is missing from the list of the sub groups
**Expected behavior**
Expected to see `show-backend-health` show up as one of the subgroups.

**Environment summary**
On W

[2021-08-02 22:42] isaiahpettingill commented on #15381
Python does not typically compile to a native executable. The Azure CLI requires a python interpreter.

[2021-08-02 23:48] yonzhan commented on #19098
route to service team

[2021-08-02 23:51] yonzhan commented on #19099
network

[2021-08-03 00:00] panchagnula commented on #19098
@parth21999 when you get a chance can you check if this repros for you? Thanks!

[2021-08-03 02:38] jiasli commented on #15381
As @bquantump pointed out in https://github.com/Azure/azure-cli/issues/15381#issuecomment-702328246, currently installing via `pip` is the only option to install Azure CLI without admin permission. You may also use this approach to run Azure CLI as 64-bit (https://github.com/Azure/azure-cli/issues/18766):

1. Download Python from the official site https://www.python.org/downloads/windows/. **Windo

[2021-08-03 02:47] dkkapur commented on #7593
@Piedone that is correct. Hoping @macolso or @peterpogorski can weigh in!

[2021-08-03 02:59] jiasli commented on #19101
Transferring this issue to Azure CLI main repo as it is actually a general question.

`--` is provided by `argparse`. As long as the parameter is declared as optional, `--` will work.

For an example of declaring a positional argument:

https://github.com/Azure/azure-cli/blob/2c52cbcef7f43c85088118e672ded491d674737d/src/azure-cli/azure/cli/command_modules/config/_params.py#L14

There was a discuss

[2021-08-03 02:59] 00Kai0 commented on #15499
PR merged

[2021-08-03 02:59] #15499 closed

[2021-08-03 05:49] snaheth commented on #9517
Upon trying this out myself within the Azure CLI, I noticed that you can actually use JMESPath within the query parameter to have the tags listed in the table. Example query:

[code]

I understand that this doesn't fully meet the format @amaturehr gave as his ideal output...but given the low demand for this ask and the fix above, we'll close this issue for now.

[2021-08-03 07:26] ulja-dd commented on #19031
The shell is provided by an [azure learn path sandbox](https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/3-exercise-build-images?pivots=csharp).

I'm not allowed to upgrade:
[code]

[2021-08-03 08:03] zhoxing-ms commented on #19069
Actually, This issue is a service issue. The specific error messages returned by service are as follows:
[code]
This seems to be caused by the image not being found. It is uncertain whether the data of some images in the offline file ([file url](https://github.com/Azure/azure-rest-api-specs/blob/main/arm-compute/quickstart-templates/aliases.json)) used by CLI has expired. This requires the service

[2021-08-03 08:08] kbthought opened #19102 "acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-08-03 08:15] #9517 closed

[2021-08-03 08:24] yonzhan commented on #19102
route to service team

[2021-08-03 09:04] sujungchoi1 opened #19105 "Unable to deploy a bot using zip deploy; [Errno 21] Is a directory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
* Instructions from this page was used: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp#deploy-via-arm-template-with-new-resource-group

* {current path} is where the proje

[2021-08-03 09:11] paddycarey commented on #18836
Unsure what other tools do, but I noticed that the `aws` CLI defaults to using the first in the list if set:

Perhaps similar behaviour would work well here too?

[2021-08-03 09:13] theoaks opened #19106 "Azure CLI Python Dependency Issue"
This error keeps coming up. I have python installed. I've tried uninstalling and reinstalling several times, but this doesn't go away. Even googling has brought up no solution.

Command
`$ az -v`
Output
`/usr/local/bin/az: line 2: /usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python: No such file or directory`

Please help

OS: Mac OS Big Sur (Version 11.4 (20F71))

[2021-08-03 09:44] yonzhan commented on #19105
route to service team

[2021-08-03 09:45] yonzhan commented on #19106
@jiasli for awareness

[2021-08-03 09:53] ShubhamJawkar2001 opened #19107 "Docker Image Build issue"
## Unable to build sample image with Dockerfile in Azure Cloud Shell**
**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

## Environment Sum

[2021-08-03 09:57] CCostaT commented on #19031
In that case I guess you'll have to wait for Microsoft to upgrade it. I don't think there's anything else you can do.

[2021-08-03 11:03] jrcumming opened #19108 ""az keyvault secret show" fails missing azure.keyvault.v7_0 dependency"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault secret show --vault-name {} --name {} --query value -o tsv`

## Expected Behavior

## Enviro

[2021-08-03 11:34] gagarine commented on #12308
I wanted to say "Yes when the server is stable and running, yes (but still, unstable)" but I just tried it again, and it fails. Apparently now i had to disconnect from other Microsoft account otherwise it fail miserably:

<img width="943" alt="image" src="https://user-images.githubusercontent.com/164074/128007526-29a80f43-b96e-4fe2-afab-ef899b862459.png">

Disconnecting from all other account was

[2021-08-03 12:26] yonzhan commented on #19107
route to service team

[2021-08-03 12:27] yonzhan commented on #19108
keyvault

[2021-08-03 12:33] jrcumming commented on #19108
Installing the latest version of "az cli" fixed the issue.  This was not initially obvious, as apt reported that the latest version was being used (known issue according to Azure website)

[2021-08-03 12:33] #19108 closed

[2021-08-03 14:30] mjazwiecki commented on #15800
do we have any updates / ways to make this work?
updating staging slot is something we would love to use in our environment.

[2021-08-03 14:51] vdias commented on #10467
Any news on this?

[2021-08-03 14:56] Dave76 commented on #15892
@haroldrandom any updates on this?  Are there any good work arounds? I guess, I have to check for existence before running create?

[2021-08-03 14:59] chitranjan32 opened #19109 "Error while executing command "./deploy/k8s/build-to-acr.sh""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} --file {} {}`

## Expected Behavior

[2021-08-03 15:02] yonzhan commented on #19109
route to service team

[2021-08-03 15:09] jiasli commented on #18159
There is no Python 3.6 package on `amazonlinux` (only 3.7):

[code]

Even after https://github.com/Azure/azure-cli/pull/19110 is merged, this issue won't be solved, since Python 3.6 is required by the RPM package.

Please use `pip` to install Azure CLI to avoid further issues besides `cffi`, such as `psutil`.

[2021-08-03 15:09] #18159 closed

[2021-08-03 15:10] anthonychu commented on #16472
Looks like this is done. Closing.

[2021-08-03 15:10] #16472 closed

[2021-08-03 15:10] #17501 closed

[2021-08-03 15:17] or-etoro opened #19111 "install aks cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-08-03 15:45] tanmayeekamath commented on #19090
@sagarlankala, PM for Labs to help route in the right direction.
@yonzhan, can we please update Sagar's email in place of mine for Labs related issues?

[2021-08-03 16:03] SailingYYC commented on #18884
On my machine, if I `export KUBECONFIG=`, that "essentially null" value you refer to, everything still functions with `kubectl` as expected. From your description, you're still using it as a value if the variable merely exists? In this case, should an empty variable and a non-existent variable not be the same use case/logic?

As a note, and yes it's a different team at Microsoft, it is the `Kubern

[2021-08-03 17:17] macolso commented on #7593
👋 we have this on our backlog! We will circle back with an update on ETA end of August.

[2021-08-03 17:18] snaheth commented on #18027
Hey @wasker I'm from the Azure Resource Graph team and wanted to apologize for this change in behavior that affected your scripts.

We'll be mindful of things like this moving forward and also hope the CLI team can work on adding the option to limit upgrades within the major versions.

[2021-08-03 17:23] Piedone commented on #7593
Great, thank you!

[2021-08-03 18:54] kaburkett commented on #17179
I too faced this problem when using ADLS Gen2 storage. I got around the problem by downloading only files (not folders) by matching *.* .... here is an example of how I fixed this issue:

[code]

For me, this retrieved every file and folder inside of the directory 2021.08.01.1 and placed them in subdirectories matching the container exactly.

[2021-08-03 18:58] kaburkett commented on #10699
I too faced an issue figuring out how to do this as it's not entirely clear in the documentation. Since the file path is part of filename, you pass it as part of the pattern parameter like this:

`az storage blob download-batch --source CONTAINERNAME --destination C:/FILEPATH/DIR/ --pattern subdirectory1/subdirectory2/2021.08.01.1/*.* --account-name ACCOUNTNAME --account-key XXXXXXXXXXX`

For me,

[2021-08-03 19:25] #17909 closed

[2021-08-03 19:27] major opened #19112 "netappfiles: syntax warning"
**Describe the bug**
When packaging azure-cli for Fedora 35 with Python 3.10, the following warnings appear:

[code]

**To Reproduce**
Bytecompile test files

**Expected behavior**
No syntax warnings

**Environment summary**
Via `git clone` and `pip wheel` and `pip install`.

**Additional context**
Working on a PR for this now.

[2021-08-03 19:29] major commented on #19112
Oh, nevermind. This was a problem in 2.26.1 but appears to be gone in `main`.

[2021-08-03 19:29] #19112 closed

[2021-08-03 19:59] sarwatwplayfab commented on #18584
I am having this issue pop up again.  When my pipeline tries to install Azure-cli, I get the same issue:

Collecting azure-mgmt-containerinstance~=1.4
  Downloading azure_mgmt_containerinstance-1.5.0-py2.py3-none-any.whl (96 kB)
Collecting azure-cli-core==2.27.0.post20210803065115
  Downloading https://azurecliprod.blob.core.windows.net/edge/azure-cli-core/azure_cli_core-2.27.0.post20210803065115-

[2021-08-03 20:23] sarwatwplayfab commented on #18584
Is there an issue with the python version that is being installed on the client that runs the pipeline?  This is what I have in my pipeline for installing python

- task: UsePythonVersion@0
    displayName: install Python
    continueOnError: false
    timeoutInMinutes: 2
    inputs:
      versionSpec: '3.x'
      addToPath: true

  - task: Bash@3
    displayName: install dependencies
    inputs:

[2021-08-03 22:30] axayjo commented on #19069
@amjads1 can you take a look at this issue?

[2021-08-03 23:13] #18027 closed

[2021-08-03 23:34] AverageDesigner commented on #18809
Assigning to MongoDb team @jasontho-ms

[2021-08-04 00:45] yonzhan commented on #19111
route to service team

[2021-08-04 00:47] yonzhan commented on #19090
@tanmayeekamath  you could send an email to Lily Ma for bot config update.

[2021-08-04 01:40] jsntcy commented on #10467
@karravi-msft, any update on this issue?

[2021-08-04 02:22] jyama4ta opened #19114 "'az aro create' returns 'Request is not allowed in provisioningState 'Creating'.'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
We get 'Request is not allowed in provisioningState 'Creating'.' error when try to create ARO by cloud shell.
It may be not waiting to finish creation.

**Command Name**
`az aro create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they m

[2021-08-04 02:27] kairu-ms commented on #19099
It's in Commands.

![image](https://user-images.githubusercontent.com/69238381/128112136-4d5e8362-1139-448e-86bf-051ea3d55c9c.png)

[2021-08-04 02:27] #19099 closed

[2021-08-04 02:37] jiasli commented on #18584
From your log, `pip` is

[code]

This doesn't match the dependency of `requests` 2.25.1:

https://github.com/psf/requests/blob/v2.25.1/setup.py#L47

[code]

I doubt there is still a conflict on `requests`.

Could you share the content of `requirements.txt` from command

[code]

[2021-08-04 02:51] yonzhan commented on #19114
route to service team

[2021-08-04 07:03] mjudeikis commented on #19114
This is expected. If cluster create is in-progress we dont allow other write operations.
Are you 100% sure where is not other create running?
[code]

[2021-08-04 07:19] shizhMSFT commented on #19014
Duplicate of #19013

[2021-08-04 07:19] shizhMSFT commented on #19010
Duplicate of #19013

[2021-08-04 07:19] shizhMSFT commented on #19011
Duplicate of #19013

[2021-08-04 07:38] mstavrev commented on #17910
Can you provide some work-around?

It would be sufficient to know how the NSG created automatically is named, because when I use:

I can read the details of the NSG, all though at the same time, calling:

yields an empty list :(

[2021-08-04 07:38] shizhMSFT commented on #19031
I've checked that `az` has been upgrade to `2.27.0` in Azure Cloud Shell.

Output of `az version`:
[code]

[2021-08-04 07:43] shizhMSFT commented on #19033
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:43] shizhMSFT commented on #19034
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:43] shizhMSFT commented on #19040
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:44] shizhMSFT commented on #19041
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19046
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19049
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19068
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19070
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19074
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:45] shizhMSFT commented on #19075
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.