[2019-06-18 19:06] #9713 closed

[2019-06-18 19:20] bitsofinfo commented on #9585
experiencing same @GLink worked back in early may, and no more...

[2019-06-18 19:41] shurd commented on #8007
I am going to close this issue for now. I do not see where `--database-id` is referenced on that page. If you have a specific example of where it is used, you can re-open the issue, and we can work on correcting it if needed. Database Id is another term for the database name, so these can be interchangeable in documentation.

[2019-06-18 19:41] #8007 closed

[2019-06-18 19:55] rroman81 commented on #2324
This looks like a sizable undertaking but granted that a large number of PowerShell based users do use Azure CLI, this would be immensely helpful.  Anyone wants to start posh-az module? :)

[2019-06-18 20:29] v-Ajnava commented on #9697
@onybo can you please try with latest CLI release 2.0.67 and let us know if you face  any issues.
I was able to create topic with --max-size with CLI 2.0.67.

[2019-06-18 21:32] ryanvolum commented on #8122
@saurabsa I also seem to be having the same issue - I've been running this for ~20 minutes with no update. I noticed you asked:

I've got a minikube cluser running on my machine. Would this preclude dev spaces from installing?

[2019-06-18 22:24] singlessis opened #9720 "webapp: Add support for Hybrid Connections"
**Is your feature request related to a problem? Please describe.**
Customers have been requesting CLI support for Hybrid Connection for some time

[2019-06-18 22:25] singlessis opened #9721 "webapp:Add CLI support for Vnet Integration"
**Is your feature request related to a problem? Please describe.**
customers have been requesting Vnet integration support for some time.

[2019-06-18 22:55] panchagnula commented on #9707
@patricklee2 can you look at this issue - not sure if CLI is doing something here to make this sticky by default or what the expected behavior should be?

[2019-06-18 22:57] patricklee2 commented on #9707
ill take a look

[2019-06-18 23:21] cowlinator commented on #8364
FYI, paramiko has released 2.5.0, which no longer uses deprecated cryptography calls.
https://github.com/paramiko/paramiko/releases/tag/2.5.0

[2019-06-19 00:16] marstr commented on #9667
I _think_ I figured it out. I have some experiments to run with how to resolve it, but basically if you look here:
https://github.com/Azure/azure-cli/blob/7c5f44151010b4b64d822f8cbe3e725f3525a448/scripts/release/rpm/azure-cli.spec#L40-L65

I'm creating a virtual environment, but throwing away bits of it that don't play nice with `rpm`. I think that the `pip` reinstalls of our namespace packages ar

[2019-06-19 01:09] konrad-jamrozik commented on #9640
Hey @tjprescott, do you have an estimate when I can expect some response about this? I understand it might take time, just want to set my expectations accordingly. I just discovered I cannot create dynamic threshold alerts via Az PS1 module either ("not yet supported"), so now I will have to fallback to ARM templates or REST API (ungh ;( ).

[2019-06-19 01:12] #9554 closed

[2019-06-19 02:29] ahamad-MS commented on #8213
We are tracking this as new feature request and added it to our backlog. Closing this issue here per current triage process

[2019-06-19 03:11] konrad-jamrozik commented on #9640
Looks like ARM template client, both PS1 and Azure CLI, suffers from the same issue, e.g.:

[code]

[2019-06-19 03:11] ahamad-MS commented on #9358
Information provided for customer. this is by design. Please feel free to contact us or reopen the issue if needed.

[2019-06-19 03:11] #9358 closed

[2019-06-19 03:48] ahamad-MS commented on #9547
Information provided to customer. Closing this issue. Please reach out to us if the issue still persists

[2019-06-19 03:48] #9547 closed

[2019-06-19 03:49] #8213 closed

[2019-06-19 04:03] ahamad-MS commented on #8717
@dcbrown16 Thanks for reporting this issue. The usage of location parameter is required in some cases for "az eventgrid event-subscription list" command. Event Subscriptions are not Azure Resource Manager (ARM) tracked resource and hence we need to specify the location to determine if this is for "global" event subscription or for specific region (say westus).

For example, "Microsoft.Storage.Stor

[2019-06-19 04:03] #8717 closed

[2019-06-19 04:06] nofunatall commented on #9613
A single operation takes a few seconds.

As mentioned I already have a script using xargs which is essentially the same as a For loop going over a file.

If I have over 1,000,000 files that need deleting it will take days.

Is there no better way to do bulk operations rather then one by one?

[2019-06-19 04:07] dcbrown16 commented on #8717
@ahamad-MS I see, thanks.

[2019-06-19 07:00] andreasottosson commented on #9706
Sorry! My azure-cli was outdated.. Now it works. Your example still says --ssh-key-value though, in this example `az vm create -n MyVm -g MyResourceGroup --image debian --vnet-name MyVnet --subnet subnet1 \
                            --availability-set MyAvailabilitySet --public-ip-address-dns-name MyUniqueDnsName \
                            --ssh-key-value @key-file`

[2019-06-19 08:56] JasonTimmins opened #9725 "Importing SOA with CNAME destinations that contain hypens"
Importing a SOA line like this...

www 	IN	CNAME	mbm-prowifi-01.azurewebsites.net.

...results in a CNAME entry in the portal like this...

www 	IN	CNAME	mbm.prowifi.co.uk.

**To Reproduce**
Try importing a CNAME with a destination containing a hyphen.

**Expected behavior**
www 	IN	CNAME	mbm-prowifi-01.azurewebsites.net.

**Environment summary**
Using the CLI and command...

az network dns zone i

[2019-06-19 09:15] pvandorp commented on #9585
Me too. Experiencing the AAD Integration issue @GLink describes. Worked in the past.

[2019-06-19 10:23] jrauschenbusch commented on #8809
As meanwhile the storage data-plane sdk supports the missing permissions, is there also an update planned for the azure-cli?

See: https://github.com/Azure/azure-storage-python/blob/master/azure-storage-blob/azure/storage/blob/models.py#L650

[2019-06-19 10:41] yuxisun1217 opened #9726 "az vm user update still use VMAccessForLinux 1.4 version"
**Version**
vm: 2.2.23

**Describe the bug**
The "az vm user" command still uses vmaccess version 1.4 which does not work in RHEL-8.0. (the new version is 1.5.2). Could you please update the version? Or could you please consider to add a parameter that let customer specify the extension version? Thanks!

**To Reproduce**
az vm user update --name "wala8ond" --resource-group walaautoeastus --usernam

[2019-06-19 11:16] xenalite commented on #9536
@tjprescott Same issue here. Please re-open this issue as the closing reason is incorrect.
I tried to pass the SAS token using every method of quoting strings, including calling az like so:
`az @('--source-sas', '<sas_token>')`
None of them worked.

[2019-06-19 12:21] omerlh opened #9727 "az login --identity failed without an indicative error"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install [AAD pod identity](https://github.com/Azure/aad-pod-identity)
- Create a pod with an attached identity
- `az login -u /subscriptions/<>/resourceGroups/<>/providers/Microsoft.Manage

[2019-06-19 12:47] rerime commented on #9126
BUG!
az functionapp deployment slot create
It is clone all settings from main function. Including variable WEBSITE_CONTENTSHARE
So it leads to deploy to same function.
In Azure Portal it generate random WEBSITE_CONTENTSHARE variable based on function name.

[2019-06-19 15:19] tjprescott commented on #9640
@snehithm for comment.

@konrad-jamrozik if you know the API structure, you could also use the generic `resource create/update` commands as an alternative to ARM templates or direct REST (also there's a new `az rest` command to help with direct REST calls)

[2019-06-19 15:35] ahmedelnably commented on #9126
@rerime thanks for reporting the issue, we will be fixing that in the next release

[2019-06-19 15:39] adibraniste opened #9728 "az ad app create with roles fails"
az ad app create with --app-roles fails with the following error:
az : ERROR: Expecting value: line 1 column 1 (char 0)
At ...\dev-we1\software\api-client.deploy.ps1:14 char:20
+ ... istration = az ad app create --display-name $displayName --app-roles  ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: Expectin...lumn

[2019-06-19 16:18] zikalino commented on #8937
I think I would rather do this change just for ARM templates somewhere around here:

https://github.com/Azure/azure-cli/blob/5573b5fbbc256574308822588b52fbcd7c450fea/src/azure-cli/azure/cli/command_modules/resource/custom.py#L302

    shell_safe_json_parse(_urlretrieve(...))
or
    get_file_json(...)

Note: get_file_json() uses shell_safe_json_parse() internally.

So I think I would make change fo

[2019-06-19 16:21] ryanvolum commented on #8122
Update: I finally had the popup show up after about 45 minutes

[2019-06-19 16:27] mrwizard82d1 commented on #9713
Travis,

Thanks for your note.

What I'm surprised by is that this is the ID of the resource as reported in the Properties blade of the resource:

![image](https://user-images.githubusercontent.com/595422/59783149-1e68c880-9285-11e9-96d1-5f284d0b1b09.png)

[2019-06-19 16:27] mrwizard82d1 commented on #9713
This is the name that I copied into my script that reported the error.

[2019-06-19 16:37] tjprescott commented on #9713
Hmm... if you did a copy-paste of the resource ID from the portal it should work. I did a copy-paste from the CLI show command and it worked no problem. If you can post the actual command you issued that failed I might be able to identify what is wrong.

[2019-06-19 16:38] mrwizard82d1 commented on #9713
Can I email it to you directly? I'd prefer not to paste it in a public forum.

[2019-06-19 16:42] BharathNimmala-MSFT opened #9729 "az dls fs commads throwing 400 bad request error"
**Describe the bug**
When trying to run the below commands with in the cloud shell focus mode or try mode it throws 400 bad request and follow trace.

az dls fs test --account myaccountname --path /source/test.txt
 az dls fs move --account myaccountname --destination-path /destination --source-path /source/text.txt

Following the steps in the document - https://docs.microsoft.com/en-us/cli/azure/d

[2019-06-19 16:57] tjprescott commented on #9713
Absolutely, trpresco AT microsoft.com

[2019-06-19 17:30] mrwizard82d1 commented on #9713
Just sent, Travis. Thanks.

[2019-06-19 17:52] wryczko opened #9730 "Cannot deploy python to webapp"
**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## Expected Behavior
Python Web App is deployed to Azure Web App

## Environment Summary
[code]
## Additional Context
The case I presented above is for Windows, but I have expierience same behaviour on Linux

[code]

[2019-06-19 18:10] ahmedelnably commented on #9126
Thanks to @ankitkumarr the fix is addressed in https://github.com/Azure/azure-cli/pull/9731

[2019-06-19 18:18] jfggdl commented on #8424
@johnknoop, this is actually by design. while forwardto is set, the system will update the ttl to timespan.max and this is the value to represent it. because while forwardto is set, the message expiration will no longer be applied.

Please let us know if you have any more questions.

[2019-06-19 18:19] limingu commented on #9613
'--output none' won't skip waiting for the Azure response.

One thing you can try is 'az storage blob sync' command. Another is try to use azcopy. The storage-preview has azcopy to remove blobs.

[2019-06-19 18:21] swbae31 opened #9732 "az disk create --source BUG when disk and resource group in different regions."
## Describe the bug

Disk copy via the 'az disk create --source' command fails when the source disk’s region is different from its resource group region.

**Command Name**
`az disk create -g <rg in region A> -n <new disk name> --source <disk in region B>`

**Errors:**
[code]

## To Reproduce:

1) Create a resource group in region A (ex: westus 2)
2) Create a disk within that resource group in a re

[2019-06-19 18:28] v-Ajnava commented on #8963
@mathwro , the default one is "RootManageSharedAccessKey" we tried to repo and the default one works fine, can you please try again with default name as "RootManageSharedAccessKey".

please let us know it works or not.

we also tried with below commands it works fine. Note we used the Latest CLI Version : 2.0.67

[2019-06-19 18:37] tjprescott opened #9734 "Flattening related issues"
Tracking issue for items that need to be resolved prior to release that are related to the change in azure-cli packaing:

- [x] Update internal test logic used by CI to detect tests
- [x] Restore the `linter_exclusion.yml` files that were previously in certain modules.
- [x] Fix the internal linter (azdev already patched) to locate the relocated modules.
- [ ] The script to verify the doc source m

[2019-06-19 19:10] patricklee2 commented on #9283
@SnehaAgrawal-MSFT I'm not able to reproduce the bug the customer reported.
When I update the image the app setting `HTTP_ENABLE_APP_SERVICE_STORAGE ` does not get overwritten.  Can you ask the customer if they meant that `WEBSITES_ENABLE_APP_SERVICE_STORAGE` should to be preserved?

[2019-06-19 19:13] johnknoop commented on #8424
Ok, thanks!

[2019-06-19 19:13] #8424 closed

[2019-06-19 19:59] marstr commented on #6745
Following up here, it took a while but we did finally add explicit declaration of support here in #9685

[2019-06-19 20:25] onybo commented on #9697
@v-Ajnava I have now tried with version 2.0.67 and it now seems to work as expected.
Thanks

[2019-06-19 20:25] #9697 closed

[2019-06-19 20:29] ahmedelnably commented on #9018
This should be out in Sprint 64, will close when 2.0.68 is released

[2019-06-19 20:29] ahmedelnably commented on #8004
This should be out in Sprint 64, will close when 2.0.68 is released

[2019-06-19 20:41] paulgmiller opened #9736 "aks-preview changes az get-credentials"
acs                               2.3.22 *
**Describe the bug**
adding the aks-preview extension changes the output file argument for get-credentials

**To Reproduce**
az extension remove --name aks-preview
az aks get-credentials --help
...
 --file -f                      : Kubernetes configuration file to update. Use "-" to print YAML
                                     to stdout instead.  Defau

[2019-06-19 20:59] yugangw-msft commented on #6855
@limingu, please cross check.

[2019-06-19 21:10] ankitkumarr commented on #9369
@nebrius, do you remember if you were on a Consumption plan or an App Service plan? Currently this call is not supported for Linux Consumption.

[2019-06-19 21:13] #9579 closed

[2019-06-19 21:15] elibarzilay commented on #9579
Thanks!

[2019-06-19 21:35] adewaleo commented on #9732
This issue is not a CLI issue but a service side issue. Some compute services tend to be region specific / dependent. You cannot create a disk from another disk in a different region.

If you try this scenario with the --debug option, you will see that the error comes from the service even though the valid disk Resource ID is passed:

$ az disk create -g ova-test -n disk_copy_westus -g ova-test --

[2019-06-19 21:36] ElianaLiberman commented on #9579
Done here! https://github.com/Azure/azure-cli/pull/9738

[2019-06-19 21:52] adewaleo commented on #9460
@atbagga i was responding to the pipelines issue.

I agree that the original comment / issue was regarding _load_extension_images_from_publisher which I have a pr out for.

For some reason there is at least one extension image type that doesn't have associated versions.

[2019-06-19 21:59] adewaleo commented on #6493
@AlexL-CC this looks like a powershell issue and not a cli issue (The error is being raised by pwsh).

Have you tried passing in the raw value to the cli command instead of mixing powershell syntax with the CLI.

fyi: the CLI is cross platform and expects string arguments (just like in bash). You can likely pass variables that contain / expand to strings.

[2019-06-19 22:45] #7890 closed

[2019-06-19 22:56] asears commented on #9369
Another issue which causes this is when  Firewall/Access Restriction rules are enabled for the scm site and the machine deploying does not have ip allowed.

[2019-06-19 22:58] devaradhanm commented on #9577
Is there any update on this? Azure devps Azure CLI task is using 2.0.66 which has this issue as well. It is blocking our release pipeline.

[2019-06-19 23:03] jaredmoo commented on #5890
This is not a required parameter so I think it's ok to keep this with long name.

[2019-06-19 23:03] #5890 closed

[2019-06-19 23:13] #9577 closed

[2019-06-19 23:27] #9674 closed

[2019-06-19 23:36] konrad-jamrozik commented on #9640
@tjprescott seems to me that `az rest` has broken json parsing, and problems with handling line breaks, at least in UTF-8 CRLF and UTF-8 LF files:

[code]
results in
[code]

The example body is snippet taken from
https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate

I tired loading it from file, escaping the `""` inline, or using the entire snippet.

[2019-06-20 05:24] raytrun opened #9740 "unable to upload blob"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload --container-name {} --name {} {} {}`

## E

[2019-06-20 05:52] atbagga opened #9741 "git log -2"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

[2019-06-20 05:52] #9741 closed

[2019-06-20 06:03] konrad-jamrozik opened #9742 "`az rest` cannot parse json body"
**Describe the bug**
The `az rest` fails to parse json body, as seen here:

[code]
with
[code]
where `"./dynamic_threshold_metric_alert_body.json"` is an example alert body taken from https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate#create_or_update_a_dynamic_alert_rule_for_multiple_resources
with slight modifications to match my subscription name, resource group name,

[2019-06-20 06:06] konrad-jamrozik commented on #9640
@tjprescott I managed to create a dynamic threshold alert based on my custom metric using the raw REST API. Thus, I have a workaround, but it is not ideal, as using the REST API directly requires creating, securing and managing a service principal. The `az rest` seems to have a broken logic for parsing body json. I have filed an issue for that: #9742. Hope that helps!

[2019-06-20 07:12] mdangear commented on #6881
I am seeing the same issue. Using a Chromebook, so probably related to the fact that I am running the command from a docker on the machine.

[2019-06-20 07:34] daqing613 commented on #9400
@idear1203 Sounds great! Thanks for your updates.

[2019-06-20 08:28] adibraniste commented on #9728
Same issue also for _az ad app update --id $appRegistration.appId --app-roles "roles.json"_

[2019-06-20 11:47] lawrencegripper commented on #8937
Thanks for the reply, I've not got any scope to pick this up currently as I'm on a different project.

Happy for anyone else to tackle this or I might try and loop back round at some point in the future.

[2019-06-20 12:39] adibraniste commented on #9728
It seems that the issue was caused by PowerShell ISE - it was running the script by default under the 'PS C:\WINDOWS\system32>' folder. Because of this, the roles.json file was not found in this folder since obviously it was under another folder.
Maybe it would make sense to have a more specific error message with 'File not found' in this case.

[2019-06-20 12:57] IanMercer opened #9743 "az storage blob upload-batch fails with python error"
`az storage blob upload-batch` fails with a Python-related error `'NoneType' object has no attribute 'body'`

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob upload-batch -d {} --account-name {} --account-key {} -s {} --

[2019-06-20 16:02] tjprescott commented on #9742
@yugangw-msft for comment.

[2019-06-20 16:04] tjprescott commented on #9640
@konrad-jamrozik `resource create/update` have been around longer than `az rest`, so you might try giving that a shot.

[2019-06-20 16:25] yugangw-msft commented on #9742
@konrad-jamrozik, please wrap the ` $alert_body` with quotes. In case it helps, you can check out the [tips](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues).

[2019-06-20 16:31] shurd commented on #8633
I looked more into this issue, and it looks like this is a problem for MongoDB accounts only right now. When setting the partition key while creating a collection for a MongoDB account, you need to include "/'$v'" at the beginning and end of the partition key as well as between property levels.

For example, if you have the document:
[code]

and want to create a shard/partition key based on compan

[2019-06-20 16:50] yugangw-msft commented on #9728
Agreed, ideally we should emit out a warning to tell people that the file can't load or the role content is not json. We will consider once we have more user voices on this.
For anyone who runs into this, please upvote

[2019-06-20 16:50] #9728 closed

[2019-06-20 17:04] konrad-jamrozik commented on #9742
@yugangw-msft wrapping it in quotes was not enough. I also had to do search-replace in the json file by replacing all occurrences of `"` with `\"`. So e.g. now instead of `"location": "global",` the file has `\"location\": \"global\",`.

However, this fixed the issue. Thank you, and thank you for the pointer to the tips!

[2019-06-20 17:40] sauryadas opened #9746 "[AKS] az aks create -h sample command for enabling cluster autoscaler incorrect"
**Describe the bug**
A clear and concise description of what the bug is.
az aks create -h returns the following as an example for cluster autoscaler which does not work
Cluster autoscaler requires --enable-vmss flag.. Please not that i have the aks-preview cli extension enabled.

    Create a kubernetes cluster with preview api version and cluster autosclaler enabled.
        az aks create -g MyRe

[2019-06-20 17:52] shurd commented on #7508
Hi @diirib thank you for raising this issue. Based on [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live#disable-time-to-live), to disable TTL you need to get the collection resource, remove the TTL field and then replace the collection resource. Right now, this is not possible with the CLI. I am tracking a change that will allow you to pass 0 to turn off TTL (wor

[2019-06-20 18:17] jemag commented on #1031
Seems like argcomplete now supports fish.

Any update in being able to use az cli completion in fish?

[2019-06-20 18:27] johanste commented on #1031
@yugangw-msft, FYI.

[2019-06-20 18:43] PatrickLang opened #9748 "Please document supported platform flags"
Also related - I noticed `--platform Windows/x86` called out as an example above, which is wrong. The typical Windows example should be `Windows/amd64`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee55c81452
* Content: [az acr](

[2019-06-20 19:27] yugangw-msft commented on #9742
Closing. There is nothing further we can do

[2019-06-20 19:27] #9742 closed

[2019-06-20 19:31] shurd commented on #7506
Hi @diirib thank you for this feature request. We are in the process of changing how the CLI creates/updates databases and collections. As a part of this change, we will be allowing users to set database level throughput. We are tracking this internally as work item 416566. The ETA for the change is September 2019.

[2019-06-20 21:37] panchagnula commented on #9730
@wryczko can you. please re-try let us know if you still see this.

[2019-06-21 00:29] konrad-jamrozik commented on #9640
@tjprescott I got it to work!

[code]
For reference, I also made it to work via `az rest` as I explained in #9742.

This means I am unblocked. Thank you so much! This issue is still technically not addressed, though.

[2019-06-21 00:54] tjprescott commented on #9640
@konrad-jamrozik happy you are unblocked!  I will keep this issue open to track the feature request.

[2019-06-21 01:32] alexandresilvadev opened #9754 "Browse connection failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse -g {} -n {}`

## Expected Behavior

## Environment Summary
[

[2019-06-21 02:45] idear1203 commented on #9400
Hi @daqing613 The PR has been merged and it will be available in the next Azure CLI release:)

[2019-06-21 02:45] #9400 closed

[2019-06-21 05:23] carlotumala opened #9756 "issue in trying to logged in in azure container registry (acr)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-06-21 05:26] carlotumala commented on #9756
issue solved, just try to re run the command

[2019-06-21 05:26] #9756 closed

[2019-06-21 07:58] yuxisun1217 opened #9757 "[VM] [Feature Request] Add provisionVMAgent configuration"
**Is your feature request related to a problem? Please describe.**
I need this feature to test "provision with cloud-init, without wala agent" scenario.

**Describe the solution you'd like**
Add a parameter that can specify --provision-vm-agent as "true" or "false"; "true" as default.

**Describe alternatives you've considered**
No idea. Please help to provide any workaround if have.

**Additional

[2019-06-21 08:50] mathwro commented on #8963
@v-Ajnava I tried it with the default "RootManageSharedAccessKey" as well.

I did however just do some testing before and after of bumping my version of the Azure CLI just now. It seems to have been fixed in one of the latest versions as it is now working as expected in 2.0.67.

Much appreciated, thanks!

[2019-06-21 09:09] prabhakarreddy1234 opened #9758 "Can't get the resource details using az consumption"
I am using below command to get some properties (e.g meterId) of a newly created resource.

 `az consumption usage list --include-meter-details --query "[?contains(instanceName,'<resource name>')].meterId" --top 10 -o json`

But i am getting empty array as output. I could query for other resources and get their properties. It's happening for newly created resources.

Is there any timeframe i need

[2019-06-21 13:29] dantheman999301 commented on #5841
If anyone else runs into this, I had Fiddler open with it's self signed cert which was breaking things.

[2019-06-21 14:29] SQLLord commented on #9677
There is a need for this because the normal binding should grab all the SAN names in the cert and bind it but it will miss the SCM of the web app and not everyone has a wild card cert for their ASEs.  So we have to bind SCM manually.  The parameter will allow for us to do the manual binding of the scm with this parameter.

[2019-06-21 15:10] wryczko commented on #9730
Today I have no problems, thanks, but on Wednesday deployment was nondeterministic (it succeded once per 10 retries).

[2019-06-21 17:13] #9460 closed

[2019-06-21 17:13] #9631 closed

[2019-06-21 17:37] #8963 closed

[2019-06-21 18:46] swbae31 opened #9762 "azdev test MODULE does not work on Windows"
## Describe the bug

**Command Name**
az test MODULE

ex) azdev test vm

**Errors:**

azdev test vm

=============
| Run Tests |
=============

The tests are set to run against current profile latest.

=====================
| Discovering Tests |
=====================

list index out of range
Traceback (most recent call last):
  File "c:\users\subae\desktop\azure-cli\env\lib\site-packages\knack\cli

[2019-06-21 19:13] panchagnula commented on #9730
thanks for the update @wryczko we did have a minor outage which was causing high latency in API calls for a brief time you could have been impacted by it. Closing this issue now.

[2019-06-21 19:13] #9730 closed

[2019-06-21 19:13] panchagnula commented on #9607
This is complete.

[2019-06-21 19:13] #9607 closed

[2019-06-21 19:17] panchagnula commented on #7186
Unable to repro this one - please upgrade to the latest CLI version & re-try. Thank you.

[2019-06-21 19:17] #7186 closed

[2019-06-21 19:20] freeone3000 opened #9763 ""Invalid value was provided for 'accessPolicies'" when no value was provided"
I'd expect an error from Azure or Azure CLI client. Instead, I get this error that doesn't tell me what went wrong.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive infor

[2019-06-21 19:39] panchagnula commented on #8733
Please refer to the examples here https://docs.microsoft.com/en-us/cli/azure/webapp/webjob/continuous?view=azure-cli-latest#az-webapp-webjob-continuous-stop

stop does take the webapp name as optional parameter, if this is not provided, then the command tries to use the name set in the global/local config  see this for more info https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure

[2019-06-21 19:39] #8733 closed

[2019-06-21 19:48] kiwi-dejero opened #9766 "Examples have incorrect syntax"
`"$({ ~/.ssh/id_rsa.pub)"`  should have { replaced with &lt;

`"$(< ~/.ssh/id_rsa.pub)"`

Alternatively use the @ form to source the file.

`@~/.ssh/id_rsa.pu`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0474c5a5-4231-0e39-f63f-f7bc05cb7797
* Version Independent ID: 22ea94c8-cc6f-97aa-77b1-4ffca845807e
* Content: [a

[2019-06-21 20:12] ankitkumarr opened #9767 "Extend `az functionapp deployment config-zip` to support Linux Consumption"
Currently because `config-zip` use SCM's `api/zipdeploy` for all deployments, it does not work for Linux Consumption (no SCM site). Opening an issue to add support for deployment using storage account in Linux Consumption.

\cc @ahmedelnably

[2019-06-21 20:12] ankitkumarr commented on #9767
Please assign this to me.

[2019-06-21 20:18] PatrickLang commented on #9748
If you are trying to build using the example here with `--platform Windows/x86` and get this error:
`hcsshim::PrepareLayer failed in Win32: The parameter is incorrect. (0x57) path=C:\ProgramData\docker\windowsfilter\..` then you probably need to use `--platform Windows/amd64` instead.

[2019-06-21 21:38] bgklein commented on #9433
This should be fixed in 2.0.67. We now alert you when specifying command line arguments that you need both -n and -g arguments.

[2019-06-21 21:38] #9433 closed

[2019-06-21 21:40] bgklein commented on #9426
What CLI version are you using? There was a release where this bug existed, but I believe 2.0.67 has this fixed.

[2019-06-21 21:53] bob-the-forestor opened #9768 "az interactive barfs!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

was on 2.0.60 az interactive ran fine
ran brew update && brew upgrade azure-cli

az interactive now borked

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put a

[2019-06-21 22:01] tjprescott commented on #9768
`az interactive --update`

[2019-06-21 22:01] #9768 closed

[2019-06-21 22:22] tjprescott opened #9769 "Unable to record FunctionApp test"
- [ ] test_functionapp_unavailable_location_app_insights

Test keeps failing to re-record:
[code]

Test has been marked @live_only to permit merging PR #9759.

[2019-06-21 22:24] tjprescott opened #9770 "Unable to re-record MySQL test"
- [ ] test_mysql_replica_mgmt

Test cannot be recorded. Yields error:
[code]

Test marked @live_only to permit merging PR #9759.

[2019-06-21 22:31] bigdatamoore commented on #7618
Hi @yugangw-msft  can you provide an example of how to use the resource argument?  I am not clear on what I am supposed to pass to that.

[2019-06-21 22:56] Leon99 commented on #8733
Thanks @panchagnula, but I don't see an example that covers what I asked for (performing an operation on multiple webjobs) in the links you provided. Does closing this issue mean that you won't add it?

[2019-06-21 23:01] panchagnula commented on #8733
Managing Multiple webjobs in the same command no - not going to be supported at this time, the solution is to call the command for each of the webjob. Thank you.

[2019-06-21 23:11] Leon99 commented on #8733
It's OK but it's not what I asked for. I asked for an example of doing it, not necessarily by using one command. I also stated why it's not straightforward, please re-read my issue.

[2019-06-22 00:17] serbrech opened #9771 "storage blob generate-sas generates an invalid token/uri"
**Describe the bug**
[code]

The uri returned is as follow (not sensitive):
`https://<account-name>.blob.core.windows.net/<container-name>/file.sh.sh?st=2019-06-22T00%3A08Z&se=2019-06-23T00%3A08Z&sp=r&sv=2018-03-28&sr=b&sig=Bi9jAJQigiEgS/X1Nq9eemoJjpKKPWL9RCBqlWp%2Blls%3D`

This fails with :
[code]

**Expected behavior**
If my parameters are wrong, I expect a clear error message from the CLI.
if t

[2019-06-22 03:10] yugangw-msft commented on #7618
Sure, most of times, you don't need to supply values to `--resource` as Azure CLI is able to figure out from `--uri`. e.g.
[code]
CLI will default the resource to `https://graph.microsoft.com/`, which is the right one, hence you have nothing to worry about.

`--resource` by itself is a bit confusing, but you can understand it as a service endpoint, and to send a request to it, CLI works underneath

[2019-06-22 14:45] scarolan commented on #9696
That's too bad.  Programmatic access to be able to spin up dev/test VMs would be really useful.  Our use case is spinning up training labs with either the az command or terraform.  Right now we are hamstrung by having to do this through the UI.

[2019-06-22 19:03] yugangw-msft commented on #6881
@mdangear, when running inside docker, CLI will default to device code unless the image has UI browser, which is rare.  But if you see the original issue, let me know and i will reopen the issue

[2019-06-22 19:59] nebrius commented on #9369
@ankitkumarr IIRC correctly, it was on a consumption plan running on Windows. (I used all the defaults when creating through the portal).

[2019-06-23 06:08] Makesu548 opened #9773 "`az account get-access-token`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --query {} --out {}`

## Expecte

[2019-06-23 08:10] yfried commented on #8960
Hi, I'm hitting the same problem (`azure-cli` installed via snap)

[2019-06-23 18:42] dbaio commented on #9576
Actually I'm getting the same error.
It seems you still don't support `azcopy` on FreeBSD. 😢
https://github.com/Azure/azure-storage-azcopy/issues/188

https://github.com/limingu/azure-cli/blob/9564b81a92ee8f280fcbc61555571203ca824db0/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/azcopy/util.py#L35-L46

[2019-06-24 06:26] lovelangy opened #9774 "No way to remove certifiation from service fabric application"
I don't find any command to remove cert  from service fabric applicaiton.
all the document i can found is to add cert by `az sf application certificate add `or [Add-AzServiceFabricApplicationCertificate
](https://docs.microsoft.com/en-us/powershell/module/az.servicefabric/Add-azServiceFabricApplicationCertificate?view=azps-2.3.2)

I tried to RDP to the service fabric node, mannually delete the cer

[2019-06-24 10:10] swingbit opened #9775 "The operation 'azure.cli.command_modules.acs.custom#aks_scale' is invalid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Any az aks command fails.
The error suggests something is wrong with module aks_scale

**Command Name**
`az aks -h`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here

[2019-06-24 10:33] atbagga opened #9776 "az configure should not display environment variable values because they can contain secrets"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az configure should not display environment variable values because they can contain secrets

![image](https://user-images.githubusercontent.com/11888714/60012404-70e92100-9699-11e9-8469-ff47f3f11899.png)

**Command Name**
`az configure`

- _Put any pre-requisite steps here..._
- `az configure`

## Expected Beh

[2019-06-24 11:52] omerlh commented on #9727
Tried again today and it worked.

[2019-06-24 11:52] #9727 closed

[2019-06-24 11:57] jakaruna-MSFT opened #9777 "Problem with --subscription parameter in AKS Virtual-Kubelet"
**CLI version 2.0.65**
 Issue is not specific with version

**Describe the bug**
It seems that a problem happens using the --subscription parameter to find the AKS Cluster in another subscription (Also, this parameter doesn't appear in the docs but shows on az aks install-connector -h).

The issue is, if **my cluster is in the subscription ABC** and **my current az context is set to subscription X

[2019-06-24 11:58] jakaruna-MSFT commented on #9777
Submitted this issue on behalf of @psbds
User opened the issue in Azure docs  MicrosoftDocs/azure-docs#33464
I am able to reproduce the issue

[2019-06-24 12:07] liron-navon opened #9778 "Azure CLI "cors add" creates multiple entries of the same origin."
**Describe the bug**
Calling "az functionapp cors add" from the CI/CD pipeline creates a new cors entry every time, instead of checking if the entry already exists.
This is important since I use it in the pipelines which are called every time the git repo is updated.

**To Reproduce**
[code]

**Expected behavior**
If I call `az functionapp cors add` multiple time, it should just create a single en

[2019-06-24 13:17] AlexisMateo commented on #8642
Excellent. its works for me.

[2019-06-24 13:18] AlexisMateo commented on #8642
@AndrewBell Excellent. its works for me.

[2019-06-24 13:57] jbpaux opened #9779 "ADFS _authority is wrong in stored profile"
## Describe the bug
In an disconnected Azure Stack environment (with ADFS authentication), the authority in the token has the following format:
https://adfs.region.fqdn/adfs/tenantid
However, in the stored token ( in ~/.azure/accessTokens.json), the _authority field only has https://adfs.region.fqdn/adfs/

**Command Name**
`az account get-access-token` to show the access token then decrypt it usin

[2019-06-24 13:59] kiwi-dejero opened #9780 "User update with unsupported ssh public key fails without error"
## Describe the bug
When --ssh-key-value has an ed25519 key as the first or only entry the command completes as successful.  When there are additional keys in the file after this entry they are not added to authorized_keys

**Command Name**
`az vm user update`

**Errors:**
No Error. Command appears to complete successfully when it has not.

## To Reproduce:
Steps to reproduce the behavior. Note th

[2019-06-24 15:16] #9165 closed

[2019-06-24 15:17] bgklein commented on #4620
This issue should be resolved.

[2019-06-24 15:17] #4620 closed

[2019-06-24 16:26] marstr opened #9781 "Use requirements.txt to lock dependencies"
*More details to be editted in*

[2019-06-24 16:27] limingu commented on #9740
As the error message, the file parameter is need to tell which file to upload.

[2019-06-24 16:27] #9740 closed

[2019-06-24 16:30] gjustice commented on #1594
It might seem hokey, but one use case that came up for me, is in writing a script that did multiple consecutive NSG rule additions, suppressing the header on all but the first rule would have led to an almost user-friendly output without much effort.  Yes, the output does not line up but it still would look decent enough, way better than with all those extra headers and line-spacers.

[2019-06-24 17:08] tjprescott commented on #8960
@yfried the snap package of Azure CLI is incredibly outdated (19 January 2018). I would highly recommend installing via one of the Linux methods outlined here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.

cc/ @marstr

[2019-06-24 17:48] #9732 closed

[2019-06-24 19:41] tjprescott commented on #9392
Updated to add test_aks_create_scale_with_custom_nodepool_name

[2019-06-24 19:46] panchagnula commented on #8733
@Leon99 clearly i did not understand your question - let me take another shot & see if i got it this time.

az webapp webjob continuous list -> does return the full list of continuous webjobs related to the webapp [--name parameter]
the list command returns the name as this webAppName/webjobName
 the stop command takes webappname, webjob name as parameters
Ex. would be to run this way
`az webapp w

[2019-06-24 19:53] v-Ajnava commented on #8963
@mathwro, closing this issue, please let us know if have any questions.

[2019-06-24 20:35] ahmedelnably commented on #9778
Thanks for reporting that, we will take a look and fix it in a future release

[2019-06-24 21:57] ankitkumarr commented on #9769
Sorry about that @tjprescott. The test was assuming that Application Insights was unavailable at a location. But looks like it was made available. The test shouldn't have depended on something like that. I will update / remove the test this Sprint.

[2019-06-24 22:02] ajlam commented on #7109
@omichels - closing this issue for now. Please feel free to re-open.

[2019-06-24 22:02] #7109 closed

[2019-06-24 22:29] rachel-msft commented on #7773
Thank you for submitting feedback.

@JasonFreeberg Azure Database for PostgreSQL has location not set to required because the command will pick up the location that has been set as default for the subscription. If no default has been set for the subscription, it defaults to the location of the resource group chosen. Previously (when you submitted this issue) we had a bug that caused the error you

[2019-06-24 22:38] marstr commented on #9781
#9785 takes care of the first part of this effort, providing the concrete requirements. The second part will be adjusting our installers/test infrastructure to use the appropriate requirements.*.txt file.

[2019-06-24 22:39] rachel-msft commented on #8685
Thank you for submitting feedback @bartb01.

It's preferred that the majority of native database operations (creating/deleting/updating users, tables, functions etc) are done through standard Postgres ways, for example psql. If you need this support through the Azure CLI we encourage you to make a feature request on our [requests page](https://feedback.azure.com/forums/597976-azure-database-for-po

[2019-06-25 00:04] lovelangy commented on #9774
find a way to remove application certificate:
1. go to https://resources.azure.com/, find the vm scaleset,  click edit, remove the  the values from `vaultCertificates` section
2. then RDP to each instances of the VM scaleset,  manually remove the cert.  then it won't come back after restart.

It is still nice to have `az sf application certificate remove `command.

[2019-06-25 00:08] ahmedelnably opened #9789 "Add support for container apps in az webapp up"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
webapp

### Description of issue (in as much detail as possible)

If a user has a folder with a docker file, we should assume it is a container app and do the following:

1. Create an ACR (Azure container regi

[2019-06-25 00:40] yugangw-msft commented on #9773
we don't support Anaconda2

[2019-06-25 00:40] #9773 closed

[2019-06-25 03:36] #8514 closed

[2019-06-25 05:36] #8363 closed

[2019-06-25 05:36] adewaleo commented on #7585
closing help.yaml project and undoing changes. see #9790

[2019-06-25 05:36] #7585 closed

[2019-06-25 05:38] adewaleo commented on #7599
see #9790

[2019-06-25 05:38] #7599 closed

[2019-06-25 05:39] adewaleo commented on #7584
see #9790

[2019-06-25 05:39] #7584 closed

[2019-06-25 05:39] adewaleo commented on #7583
see #9790

[2019-06-25 05:39] #7583 closed

[2019-06-25 05:40] #7589 closed

[2019-06-25 05:41] adewaleo commented on #120
reopening this as #7587 will be closed

[2019-06-25 05:41] #7587 closed

[2019-06-25 09:14] jlpedrosa commented on #9425
Any feedback? plan?
Thanks!

[2019-06-25 09:15] jlpedrosa commented on #9248
Hi!

Any feedback?

[2019-06-25 09:34] yfried commented on #8960
Thank you. Already figured this out. Is there any chance you guys can make
the snap package work? Snap is extremely convenient.

On Mon, Jun 24, 2019, 20:09 Travis Prescott <notifications@github.com>
wrote:

[2019-06-25 11:02] michal-podskoczy opened #9791 "Yum package manager fails to install azure-cli 2.0.67"
Installation according to [instruction](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest) fails due to python2-virtualenv

After successful installation of previous version when trying to upgrade using `yum update` fails due to error:

[code]

[2019-06-25 11:58] liron-navon opened #9792 "webapp:Unable to create serviceplan using the CLI (System.Collections.Generic.HashSet`1[System.String])"
version 2.0.62

**Describe the bug**
I'm trying to create an appservice plan using azure cli from the pipeline (azure devops => pipelines => releases => Azure CLI block => inline script), but it doesn't work and throws a very cryptic error message (see "additional context").

Also apparently sku is required, even though the documentation says it's optional.

**To Reproduce**
You can replace the sk

[2019-06-25 13:37] git-heath opened #9793 "--partition-key-path is not always optional"
For the command `az cosmosdb collection create`, the parameter  `--partition-key` is not always optional. If you try and create a collection on a database without this parameter where throughput is configured on the database then the following error is returned.

`Operation Failed: Invalid Arg Shared throughput collection should have a partition key`

I think the documentation should be updated to

[2019-06-25 13:44] bartb01 commented on #8685
Hi @rachel-msf, I understand that these operations are normally done through standard postgres ways. However, this was not possible in a pipeline script for me (except for the work around i mentioned) because i could not escape the '@' in the username.. Because of this, psql considers the '@' in the username as the '@' that separates the password from the host (referring to the command i described

[2019-06-25 16:59] tjprescott commented on #9248
@marstr @yugangw-msft for comment.

[2019-06-25 17:01] rchamberlin-amplero commented on #9651
I'm seeing similar having just done a yum update in Centos.  Specifically az aks list was failing with the following:
The command failed with an unexpected error. Here is the traceback:

The operation 'azure.cli.command_modules.acs.custom#aks_list' is invalid.
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = se

[2019-06-25 17:20] marstr commented on #9248
Does this repro on 2.0.67, @jlpedrosa? I know @yugangw-msft has been chasing down bugs due to this in many commands in the last versions. It's definitely worth seeing if it still happens.

[2019-06-25 17:52] limingu opened #9794 "[storage] Add copy and remove commands for az storage"
**Is your feature request related to a problem? Please describe.**
The performance issue of the current az storage blob commands

**Describe the solution you'd like**
Migrate the storage commands to use AzCopy for copying and removing blobs.

[2019-06-25 17:56] limingu commented on #7857
The work item is created: https://github.com/Azure/azure-cli/issues/9794

az storage CLI will use Azcopy to copy/upload/download the blobs. The performance will be much better.

[2019-06-25 18:18] yugangw-msft commented on #9248
#9337 should fix it, but is blocked by the #9747. We am trying to get both in by tomorrow.

[2019-06-25 19:05] rachel-msft commented on #8685
@bartb01 Can you try url encoding the @ sign in the user name with %40

For example, if username = theuser@theserver, it would become theuser%40theserver

and the psql url would be `psql postgresql://theuser%40theserver:Password473635@theserver.postgres.database.azure.com:5432/postgres`

[2019-06-25 19:07] marstr opened #9795 "Check All requirements.txt for validity"
Follow Up to feedback in #9785

CI should check all of the requirement.txt files, and give actionable feedback on which file needs to be fixed.

[2019-06-25 20:47] #9725 closed

[2019-06-25 20:50] ivatsa commented on #9000
Similar issue.. When I try to browse my cluster.  I get this error immediately
[code]
Below is my auto generated error report
## Describe the bug
**Command Name**
`az aks browse`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Run: az aks browse --resource-group {} --name {}`
- Results in error `osascript: OpenSc

[2019-06-25 21:06] jmwoloso commented on #9554
@marstr This is still effecting the Linux CLI tool.

[code]

[2019-06-25 21:14] x10an14 commented on #9554
@jmwoloso I see now that they (probably forgot) didn't mention it here on the thread, but I was told by reply to the email I sent them that the fix would be published in a release estimated for two weeks hence, back then.

In other words, in one week.

Just keep an eye on releases and whether or not the referenced commit above is included =)

(I'd presume they closed it not due to reports of it be

[2019-06-25 21:31] jmwoloso commented on #9554
@x10an14 perfect, thanks!

[2019-06-25 21:42] jmwoloso commented on #9345
@yugangw-msft Mine fails as well, though for a different reason.

When I run:
[code]

I get this error (I've removed the PII):

[code]

When attempting the same operation with the same login credentials through the portal, this operation *does* work.

[2019-06-25 22:10] marstr opened #9798 "Header check didn't call out which file was in violation"
After a file was changed in a way that broke the regular expression `azdev` is using to look for headers at the top of source files, the right error message was presented, but without the a list of violating files.

See here: https://travis-ci.org/Azure/azure-cli/jobs/550518820#L590

[2019-06-25 22:16] tjprescott commented on #9798
This will presumably be fixed once the CI is transitioned to use the stand-alone azdev.

[2019-06-25 22:59] yugangw-msft commented on #9345
@jmwoloso, if you run CLI from your desktop (instead of cloud shell), does it work?

[2019-06-25 23:36] vjsimha1 opened #9800 "Error when generating signed-in user owned objects"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad signed-in-user list-owned-objects`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad signed-in-user list-owned-objects`

## Exp

[2019-06-26 00:26] #9694 closed

[2019-06-26 00:41] vjsimha1 opened #9801 "Error when running az identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az identity list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az identity list --verbose`

## Expected Behavior

## Environment Summa

[2019-06-26 03:56] danielbecroft commented on #8506
@yugangw-msft Apologies for commenting on a closed issue, but I can't get any combination of quotes to work around the value. Both of the following strip the trailing ')' character:

[code]

Is that correct for the quote marks, or was there a different method you were referring to?

I've tried using the external JSON file, but the use of the '@' character to identify the file doesn't seem to play

[2019-06-26 05:18] docgregt opened #9803 "webapp: roles not specified"
Please for each command specify what roles are needed to execute the command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e390289-90cc-30e2-de78-33b080f9c27d
* Version Independent ID: df152c25-2434-0831-46b7-e9d0e3015f06
* Content: [az webapp config hostname](https://docs.microsoft.com/en-us/cli/azure/webapp/config

[2019-06-26 05:47] docgregt opened #9804 "no way to bing SSL to hostname?"
How to bind the SSL to a hostname?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3f984d-0d48-e075-7e2f-2da5667b15cf
* Version Independent ID: 98e06d47-0ed4-4d8e-ccf5-d3a78e510539
* Content: [az webapp config ssl](https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az-webapp-config-ssl-

[2019-06-26 05:57] Sang-ShinLEE commented on #8506
I’ve solved this issue with the only workaround that as worked for me: using json file with powershell.
Other ways are not working:

  *   CMD + json file
  *   POWERSHELL + --settings
  *   CMD + --settings

Not tried yet space after valule.

From: Daniel Becroft <notifications@github.com>
Sent: Wednesday, June 26, 2019 5:57 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Sang-Shin Lee

[2019-06-26 08:21] bartb01 commented on #8685
@rachel-msft Yes, that actually seems like an easier solution! thanks

[2019-06-26 11:42] e0m00l8 opened #9805 "az aks browse ,the command failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-06-26 11:42] e0m00l8 commented on #9805
m-c02t75ugg8wn:~ e0m00l8$ az aks browse --resource-group WEIoT_SmartBuildings_Dev_SC --name edge-aks
Merged "edge-aks" as current context in /var/folders/4f/l90yt4xd6wj42t21g32_4x80jtd43v/T/tmp3hua3dwi
Proxy running on http://127.0.0.1:8001/
Press CTRL+C to close the tunnel...
The command failed with an unexpected error. Here is the traceback:

HTTPConnectionPool(host='localhost', port=8888): Max

[2019-06-26 12:31] mtmargala opened #9806 "Support for custom routes"
Hello,

Does the az CLI support creating custom routes? It is documented in the SDK here https://docs.microsoft.com/en-us/javascript/api/@azure/arm-network/virtualnetworkgateway?view=azure-node-latest#customroutes

The reason I ask is I am attempting to set up a PTS VPN that allows for connecting to Azure Files only while on the VPN.  According to this doc(https://github.com/Azure-Samples/azure-fi

[2019-06-26 14:25] sonnycloudtp opened #9807 "Please map your CLI to the equivalent REST API"
It would be useful if you could map your CLI to the REST API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abfaa54-0895-29f7-f3bb-ff604912b2ac
* Version Independent ID: d1ff3478-8a86-59e4-62ef-449900132a67
* Content: [az account](https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#feedback)
* Co

[2019-06-26 14:42] tjprescott commented on #9807
That's not possible since commands often make use of several APIs, and there are also commands that don't use any REST calls.

[2019-06-26 14:42] #9807 closed

[2019-06-26 14:43] tjprescott commented on #9806
It is not currently supported. You can track issue #9327 for completion of this feature.

[2019-06-26 14:43] #9806 closed

[2019-06-26 14:50] sjentzsch opened #9808 "az storage blob service-properties update --set is broken"
**Describe the bug**
I need to programmatically modify the Diagnostic Settings of a storage account across storage account types, to configure Blob audit logging for example. For this, I want to use the Azure CLI (Terraform provider does not support such). However, while the `show` command works, `update` in combination with `--set` does not. Any time I fire a command, I get the same (old) JSON as

[2019-06-26 15:02] manrajag commented on #9775
I am also facing this problem.

Fedora25

azure-cli                         2.0.67

acr                                2.2.9
acs                                2.4.4
advisor                            2.0.1
ams                                0.4.7
appservice                        0.2.21
backup                             1.2.5
batch                              4.0.3
batchai

[2019-06-26 15:33] zikalino commented on #8937
Some further investigation:

(1) It seems like **commentjson** has some issues, I have submitted a bug report here:

https://github.com/vaidik/commentjson/issues/22

Basically it won't be able to parse following line as it interpret # as comment:

[code]
https://github.com/opencb/opencga/blob/0d4c942d71894a16aa30b498ecb2c77318449cd8/opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.jsonc#L219

[2019-06-26 15:44] adewaleo commented on #9807
I will add that we have a new command [az rest](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-rest) that makes it easier to make http requests on different azure endpoints.

[2019-06-26 17:11] #9630 closed

[2019-06-26 17:26] rachel-msft commented on #8685
Glad that worked out.

@tjprescott #please-close

[2019-06-26 17:44] zhusulai opened #9810 "az aks use-dev-spaces error due to self-signed proxy certificate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az aks use-dev-spaces command throws an error due to the corp proxy uses a self-signed certificate. `REQUESTS_CA_BUNDLE` is configured. `ADAL_PYTHON_SSL_NO_VERIFY` is set to 1, `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` is set to 1.

**Command Name**
`az aks use-dev-spaces`

**Errors:**
[code]

## To Reproduc

[2019-06-26 17:49] #8685 closed

[2019-06-26 18:21] axisc commented on #7756
@joshgav

Thanks for raising the feature request.

Send and Receive operations for Service Bus and Event Hubs must rely on a stateful protocol like AMQP and SBMP since HTTP is too chatty.

We understand the value in debugging scenarios but we don't have plans to support this for now, but can revisit if there is more customer interest for the same.

[2019-06-26 18:21] #7756 closed

[2019-06-26 18:50] ankitkumarr opened #9811 "Add a test for `az functionapp deployment source config-zip` on Linux Consumption"

[2019-06-26 19:37] yuwaMSFT2 commented on #7438
@dibraser This is by design for now.
The show manifest command is primarily used to show manifest attributes. Associated tags is just one of them. When there are too many tags, we do not know how to show them all effectively, as we cannot do paging for the associated tags. Showing all tags becomes dangerous and also impractical (how will Cli show all the associated tags in the manifest attribute?)

[2019-06-26 20:02] #8900 closed

[2019-06-26 20:03] yugangw-msft commented on #9248
#9337 merged

[2019-06-26 20:03] #9248 closed

[2019-06-26 20:37] apraovjr commented on #7667
@jfggdl  @mozehgir

To reproduce, i followed the steps as mentioned in the issue. The command

az servicebus queue show --resource-group "[resource group name]" --namespace-name "[namespace name]" --name "[queue name]"  executes and successfully returns the response.

When i ran the `az --version` the dump is as follows

azure-cli                         2.0.67

acr

[2019-06-26 20:49] #6219 closed

[2019-06-26 21:26] rajivnandivada opened #9813 "ManagedServices command should not set the API version"
**Describe the bug**
Currently the ManagedServices (preview) CLI commands need to set the api_version before calling the sdk methods. This is because the azure.mgmt.managedservices sdk requires the api_version as a argument. This is done correctly, for example, in collection_operations. py in azure.mgmt.cosmosdb.

**Expected behavior**
CLI commands should not set the API version but should rely on

[2019-06-26 21:27] rajivnandivada commented on #9813
@tjprescott FYI
I have created to track the work required to remove the API versions from the command modules and to make sure Python SDK sets it correctly.

[2019-06-26 23:44] a30002040 commented on #8840
I'm hitting the same issue, in my case deploying from Azure Devops using the ARM template deployment step. I have a theory which I'm about to test, using the same template @its-just-jo provided.

[2019-06-27 02:12] a30002040 commented on #8840
Ah, we have different issues. in the case of @its-just-jo, the issue is that the access policy permissions need to be an array, not just a string.

[2019-06-27 02:48] #7676 closed

[2019-06-27 02:49] #8873 closed

[2019-06-27 02:54] #9767 closed

[2019-06-27 03:02] #9769 closed

[2019-06-27 06:03] random-dwi commented on #9651
same for me on Fedora 30. Downgrading from 2.0.67 to 2.0.65 helped

[2019-06-27 08:18] gavinbarron opened #9817 "az cosmosdb check-name-exists fails with 500s"
## Describe the bug

**Command Name**
`az cosmosdb check-name-exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az cosmosdb check-name-exists --name {}`

## Expected Behavior
A true or false is returned without error
## Environment Summary
[code]
## Additional Cont

[2019-06-27 08:29] danielbecroft commented on #8506
@Sang-ShinLEE  I managed to get it working - I had to double-quote the value:

`--settings "Database=""@Microsoft.KeyVault(SecretUri=FOO)"""`

That fixed the problem.

[2019-06-27 08:37] Sang-ShinLEE commented on #8506
Thanks to letting me know that workaround… which is quite non-intuitive

From: Daniel Becroft <notifications@github.com>
Sent: Thursday, June 27, 2019 10:30 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Sang-Shin Lee <Sang-Shin.Lee@ansys.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] cannot set key's value ending by ')' (#8506)

@Sang-ShinLEE<https://github.c

[2019-06-27 08:57] KevinBrooke opened #9818 "Allow disabling Key Vault purge protection"
We created a key vault with soft delete and purge protection enabled in the wrong region. It is impossible to re-use the key vault name for 90 days.

Soft delete and purge protection are great as they give an extra "are you sure" steps when deleting a key vault, however a resource that is under a customers control should be able to be purged by setting purge protection to disabled.

We stopped usi

[2019-06-27 13:25] keremispirli commented on #6802
@tjprescott @jjasghar `az account show` and `az account list` only show the local information which may have been expired; it does not check if you need to login or not. You can try by removing "~/.azure/accessTokens.json" and `az account show` and `az account list` will still work.

As a workaround you can use `az account get-access-token --query "expiresOn" --output tsv` to get the expiry date o

[2019-06-27 14:52] dgard1981 commented on #1662
2.5 year on there is still no CLI support for Logic Apps. Is this ever coming, or does the lack of support mean that we can assume Logic Apps were a fad and are going to die?

[2019-06-27 15:00] cuvillier opened #9819 "az cosmosdb check-name-exists => too many 500 error responses"
**Describe the bug**
When I run the command az cosmosdb check-name-exists --name MyCosamosDBAcc

I get:
_request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /providers/Microsoft.DocumentDB/databaseAccountNames/MyCosamosDBAcc?api-version=2015-04-08 (Caused by ResponseError('too many 500 error responses',)

[2019-06-27 15:01] cuvillier commented on #9819
Dup

[2019-06-27 15:01] #9819 closed

[2019-06-27 15:01] cuvillier commented on #9817
I have the same issue.

[2019-06-27 16:29] rachel-msft commented on #7773
We will now mark this issue as closed. If a problem reoccurs or you are able to create a repro, please let us know.

@tjprescott #please-close

[2019-06-27 16:57] shurd commented on #9793
Hi @git-heath thank you for raising this issue. We are currently working on changing the way the CLI manages databases and collections. We will update the documentation as a part of this change. ETA for the change is September 2019, and it is being tracked as work item 416566.

[2019-06-27 16:58] shurd commented on #7508
The fix has been merged and will appear in the next CLI released on 7/2.

[2019-06-27 16:58] #7508 closed

[2019-06-27 17:09] #7773 closed

[2019-06-27 17:13] yugangw-msft commented on #9800
The `azure-graphrbac` library is too old. You need to rebuild a new virtual-env and run `pip install`. FYI, our upcoming release should greatly improve the scenario on upgrading from an old version

[2019-06-27 17:13] #9800 closed

[2019-06-27 17:13] tjprescott commented on #1662
@dgard1981 I believe that a team is working on a separate CLI for Logic App connectors. @mamurshe can you comment?

[2019-06-27 17:14] yugangw-msft commented on #9801
Same thin like #9800

[2019-06-27 17:14] #9801 closed

[2019-06-27 17:26] ajlam commented on #9770
@tjprescott - do you need someone from our team to look into this?

[2019-06-27 17:27] tjprescott commented on #9770
@ajlam someone should yes to fix up the test and ensure that some critical functionality isn't broken.

[2019-06-27 17:29] yugangw-msft commented on #9804
The SSL cert you purchased will let you provide the hostname. Once the certificate is ready, you can run `az webapp config ssl upload` to have your webapp configured.
Please reactivate if you have further questions.

[2019-06-27 17:30] ajlam commented on #9770
@grigusev @QingqingYuan2  - can you look into this?

[2019-06-27 17:35] limingu commented on #9771
@serbrech , can you retry to generate a new sas token for the current time frame? The parameters are good. I don't see any issue.

One more thing to try is to remove both "--account-key $STORAGE_KEY \" and "--auth-mode key \". CLI should find the right key.

[2019-06-27 18:14] mamurshe commented on #1662
@dgard1981 We have a standalone CLI for flow and powerapps at this moment. However, the CLI doesn't support LogicApps yet. @schabungbam may have more information.

The repo is located here: https://github.com/Microsoft/PowerPlatformConnectors

[2019-06-27 18:59] grigusev commented on #9770
I'm working on submitting CLI change with replica create API and will take care about this issue.

[2019-06-27 19:26] shurd commented on #9817
Hi @gavinbarron thank you for reporting this issue. We are looking into it.

[2019-06-27 19:34] asheniam commented on #6120
Thanks for reporting this.  We will fix the error message.

[2019-06-27 19:36] asheniam commented on #6332
Thanks for reporting this.  We are taking a look at a fix.

[2019-06-27 19:39] asheniam commented on #7779
This is now possible with configuring guest metrics via Windows Azure Diagnostic (WAD) to custom metrics in Azure Monitor and setting up autoscale over these custom metrics.
https://azure.microsoft.com/en-us/blog/a-new-way-to-send-custom-metrics-to-azure-monitor/

We are looking at producing a doc for this scenario.

[2019-06-27 19:41] asheniam commented on #8010
Logprofiles does not support Log Analytics as a destination sink.  We are working on new version of diagnostic settings API to support routing Activity Logs to Log Analytics

[2019-06-27 19:58] tjprescott commented on #6332
@asheniam please do not create additional labels in this repo

[2019-06-27 20:01] shehreendheda commented on #9686
@yugangw-msft Hi. Any progress with this issue? Thanks!

[2019-06-27 22:50] docgregt commented on #9804
I dont think you understood the question or I didnt make it clear. We already have SSL uploaded and bound to some hostnames. The issue with this cli cmd is that it rebinds all hostnames and there is no way to specify a single hostname. What if I dont want to rebind all the hostnames every time I add a new hostname or want different certs with different hostnames?

[2019-06-27 23:38] northtyphoon commented on #9398
@ggonzalere

[2019-06-28 00:00] JeffARose commented on #9817
Also experiencing the issue with Python 2.7.5 and azure-cli (2.0.28)

[2019-06-28 01:10] panchagnula commented on #9673
Closing this since this is not something we are able to repro on our end

[2019-06-28 01:10] #9673 closed

[2019-06-28 01:12] panchagnula commented on #9283
@SnehaAgrawal-MSFT please provide the information that Patrick requested - or provide the repro steps. Since we cannot repro this - closing this.

[2019-06-28 01:12] #9283 closed

[2019-06-28 01:19] panchagnula commented on #3650
Closing this since this is old & from the previous notes not something we will fix on the client side. Please open a new issue if this is still a problem. Thank you,

[2019-06-28 01:19] #3650 closed

[2019-06-28 01:21] panchagnula commented on #4141
Closing this since this is not something the platform team has planned. We will activate this if this plan changes. Thank you.

[2019-06-28 01:21] #4141 closed

[2019-06-28 01:24] panchagnula commented on #4348
@NKing can you check if this is still an issue when we add support for this one & https://github.com/Azure/azure-cli/issues/7261

[2019-06-28 01:27] panchagnula commented on #8028
Closing this since this will be something that will be supported once we get API to throw the right error message in this case.

[2019-06-28 01:27] #8028 closed

[2019-06-28 01:29] panchagnula commented on #8476
Closing this since this an old issue looks like there is an existing workaround. Please file a new issue if this is still a concern.

[2019-06-28 01:29] #8476 closed

[2019-06-28 08:33] dgard1981 commented on #1662
@mamurshe, @tjprescott, thanks for the replies - the sooner the better, as Logic Apps are not the easiest to work with at present!

[2019-06-28 10:03] matelang commented on #9805
I can confirm the same using Arch Linux
$ uname -a
Linux devmate 5.1.15-arch1-1-ARCH #1 SMP PREEMPT Tue Jun 25 04:49:39 UTC 2019 x86_64 GNU/Linux

$ python --version
Python 3.7.3

$ az -v
azure-cli                         2.0.67

acr                                2.2.9
acs                                2.4.4
advisor                            2.0.1
ams                                0.4.7
appser

[2019-06-28 13:01] joaomoreno opened #9824 "`az artifacts universal download` throws error"
**Describe the bug**

[code]

**To Reproduce**
Just follow the steps above.

**Expected behavior**
Command should not throw.

**Environment summary**

[code]

[2019-06-28 13:10] msvijayn commented on #8228
Fix merged by [8240](https://github.com/Azure/azure-cli/pull/8240) on Azure CLI repository.
Hence closing the issue. Kindly re-open if the issue is still seen.

[2019-06-28 13:11] msvijayn commented on #8228
closes: #8228

[2019-06-28 13:12] msvijayn commented on #8228
closes #8228

[2019-06-28 13:12] msvijayn commented on #8228
#please-close

[2019-06-28 13:13] msvijayn commented on #8228
#close

[2019-06-28 13:19] msvijayn commented on #8663
Thank   you for reporting the issue.  We already have [PS cmdlets available for log alerts](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-log#managing-log-alerts-using-powershell).
Azure Monitor Alerts team is working on developing native Azure CLI command support for log alerts (scheduledQueryRules)  and we'll revert back to you shortly, with details.

[2019-06-28 13:23] msvijayn commented on #8732
Confirming, the error occurs as the rule condition is too broad. As stated in our [Activity Log alert document](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-activity-log) :
![image](https://user-images.githubusercontent.com/33087919/60345097-d872d980-99d5-11e9-9f14-ebcce4b6c1e3.png)

[2019-06-28 13:23] msvijayn commented on #8732
#please-close

[2019-06-28 13:35] #8732 closed

[2019-06-28 14:40] nate12o6 commented on #9817
Im having same issue.

[2019-06-28 15:23] #8228 closed

[2019-06-28 15:56] timstallmann opened #9825 "Running az commands in parallel on a CI server triggers race condition in Knack's ensure_dir function"
**Describe the bug**
The `ensure_dir` command in Knack config, which is called by Azure's CLI code, fails to catch an `EEXISTS` error which is triggered in the event of a race condition when multiple parallel threads each try to create the same directory.

I've reported this bug also in the Knack repository (see https://github.com/microsoft/knack/issues/158) and have a pending PR for it there but

[2019-06-28 16:15] tjprescott commented on #9825
Closing in favor of the knack issue.

[2019-06-28 16:15] #9825 closed

[2019-06-28 17:53] zhusulai opened #9826 "Storage Account Firewall Prevents User from Listing Containers"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When the storage firewall is set, the user is not able to list containers from outside of the specified IP ranges. This is inconsistent with the behaviour in the portal, which does allow the containers to be listed. The ability to list containers is very important from an administrative perspective.

**Command

[2019-06-28 20:58] marstr commented on #9791
Howdy @michal-podskoczy, I'm afraid I don't have much experience with this distribution. I may be about to ask some naive questions.

- What happens if you run `yum install python2-virtualenv` first?
- What repositories does this Linux env provide? It says it's like RHEL and Fedora, but I imagine it's different. Do they work to conform to provide the same name as EL7, similar to CentOS?
- If all e

[2019-06-29 02:18] panchagnula commented on #8022
@mgfink got an update from the backend team & there is a way to make CLI get the details even when trying to run this command on Subscription level. We will make the change on our end.

[2019-06-29 07:11] shurd commented on #9817
Hi all, thank you for your patience. We have corrected the issue and check name calls should be working again.

[2019-06-29 07:11] #9817 closed

[2019-06-29 09:36] musicfreak7 opened #9830 "okay"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Cont

[2019-06-29 14:28] panchagnula commented on #5369
Closing this until we have the feature support for this - we will automatically fix this once we have the backend support enabled.

[2019-06-29 14:28] #5369 closed

[2019-07-01 06:26] gauravsaralMs opened #9831 "`az extension add` should give an option to install extension for all users (i.e. at a machine level)"
`az extension add` should give an option to install extension for all users (i.e. at a machine level)

Currently it is possible that azure cli is installed for all users in the machine but extension installation is bound only to a particular user..

it will be great if there can be an option to install extension at machine level instead of just user level

[2019-07-01 10:14] vikramaditya234 commented on #9791
I am facing the same problem, answering your questions:

- What happens if you run `yum install python2-virtualenv` first?
    There is no such package, available packages are python26-virtualenv, python27-virtualenv, python34-virtualenv, python35-virtualenv, python36-virtualenv
- What repositories does this Linux env provide? It says it's like RHEL and Fedora, but I imagine it's different. Do the

[2019-07-01 10:35] apk27 opened #9832 "Cannot peer vnet across subscriptions using azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to create a vnet peering across subscriptions and resource groups I get "Please run 'az account set' to select active account." even after it has just been set.

The commands is as follows (the subscription and resource group info has been removed from the remote vnet id)
`az network vnet peering cr

[2019-07-01 11:20] CapitalistHippie opened #9833 "az appservice plan create causing error: "The server farm with name ... already exists in resource group ..." since new version"
**Describe the bug**
We have been using the Azure DevOps Azure CLI task to deploy our infrastructure to Azure. In the most recent version the Azure CLI version it uses went from 2.0.61 to 2.0.67 which broke our pipelines on the 'az appservice plan create' step. It's now issueing the following error:

The server farm with name \<appservice plan name\> already exists in resource group \<resource gro

[2019-07-01 11:38] apk27 commented on #9832
Apologies, this was a permissions issue with the service principal not having access to the other subscription.

[2019-07-01 11:38] #9832 closed

[2019-07-01 11:44] jbpaux commented on #9779
Can you tag Azure Stack and Authentication instead ? and maybe @yugangw-msft can have a look ?

[2019-07-01 12:11] carbolymer opened #9834 "No registered resource provider found for location"
**Command Name**
`az acr show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- create azure container registry `myacr` in resource group `myresourcegroup` (e.g. through azure portal)
- `az acr show --name myacr --resource-group myresourcegroup --query "id" --output tsv`

## Expected B

[2019-07-01 12:54] platform-co commented on #3443
Having the same issue.

1. Manually uploaded pfx cert to portal + added bindings
2. Deleted from portal due to: https://feedback.azure.com/forums/169385-web-apps/suggestions/35348716-make-certificate-deployment-idempotent
3: Uploaded with azure cli (idempotent upload works now without error)
4: Azure cli bind now returns: Certificate for thumbprint 'xyz' not found.

[2019-07-01 12:59] owenmather commented on #3443
Having the same issue. Steps that got me here:

1. Manually uploaded pfx cert to portal + added bindings
2. Deleted from portal due to: https://feedback.azure.com/forums/169385-web-apps/suggestions/35348716-make-certificate-deployment-idempotent
3. Uploaded with azure cli (idempotent upload works now without error)
4. Azure cli bind now returns: Certificate for thumbprint 'xyz' not found.

thumbpr

[2019-07-01 13:21] mgfink commented on #8022
@panchagnula thanks for the good news!  Once the update is available I'll test it out in our subscription.

Thanks again!

[2019-07-01 13:33] alexdegroot commented on #9833
We got the same issue here happening at 2 customers.
When we add --debug, we see that there's a /validate POST-request which gives a failure response.

[2019-07-01 13:35] alexdegroot commented on #9833
Btw, here's a quick work around:
Replace the following line:
`az appservice plan create -g $RG -n $WEBAPPPLAN --sku $SKU`
By these lines:
[code]

[2019-07-01 13:39] ithahn opened #9835 "az vm encryption enable cross subscriptions (VM/KeyVault)"
Hi,
as stated in the document we have tried to following Code:
`az vm encryption enable --resource-group "MyVirtualMachineResourceGroup" --name "MySecureVM" --disk-encryption-keyvault "MySecureVault" --key-encryption-key "MyKEK_URI" --key-encryption-keyvault "MySecureVaultContainingTheKEK" --volume-type "All"
`

When we use this in the Cloud Shell we get the following error:
`Resource Group "MySec

[2019-07-01 14:01] snehithm commented on #3276
Hi @jefffall, the [default quota limit for new metric alerts has been made 1000 per subscription.](https://docs.microsoft.com/azure/azure-subscription-service-limits#alerts) For classic alerts which are [getting retired soon](https://azure.microsoft.com/updates/azure-monitor-classic-alerts-retirement-date-extended-to-august-31st-2019/), the default limit is at 100.

@tjprescott can you please this

[2019-07-01 14:05] snehithm commented on #7554
We are cleaning up old issues and this has caught our attention.
Cosmos DB resource blade now shows the new alerts blade. New metric alerts are supported on CosmosDB resources.

@tjprescott Can you please close this issue?

[2019-07-01 14:15] snehithm commented on #3311
@tjprescott, looks like the service bug is fixed. Does this need a fix for CLI?

If not, can you close this issue?

[2019-07-01 14:24] CapitalistHippie commented on #9833
I am also getting a similar error for az webapp create: "The site with name \<web app name\> already exists in resource group \<resource group\>."

[2019-07-01 16:42] tjprescott commented on #9830
Closing due to insufficient information.

[2019-07-01 16:42] #9830 closed

[2019-07-01 16:47] tjprescott commented on #8244
Moved to Sprint 70 to support other NRP work in 65. Arranged offline.

[2019-07-01 17:01] yugangw-msft commented on #9804
@docgregt, sorry for closing this prematurely. I am reactivating this and let @panchagnula follow up

[2019-07-01 17:06] yugangw-msft commented on #1662
@dgard1981, before the gap gets filled, you can either use generic [resource commands](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#generic-resource-commands)  or `az rest` by referencing [rest api](https://docs.microsoft.com/en-us/rest/api/logic/)

[2019-07-01 17:41] panchagnula commented on #6185
we might need to emulate portal validation on the cli client side for this - i am going to test this with the latest CLI version to verify if the API return a useful error message or not.

[2019-07-01 18:28] tjprescott commented on #3311
Thanks @snehithm. Closing.

[2019-07-01 18:28] #3311 closed

[2019-07-01 18:31] #7554 closed

[2019-07-01 18:31] #3276 closed

[2019-07-01 19:41] panchagnula commented on #1337
CC: @btardif to follow up on the API support for full validation.

[2019-07-01 19:56] #9795 closed

[2019-07-01 21:11] samuda2019 opened #9836 "issues using azure cli with blob storage"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download --container-name {} --output {} --account-nam

[2019-07-01 21:15] tjprescott commented on #9835
If the KeyVault is in a different subscription, please try supplying the full ARM ID to that KeyVault. That should work for your scenario.

[2019-07-01 21:20] samuda2019 commented on #9836
C:\Users\sxa100601>az storage blob list --container-name dware-tst --output table --account-name driattunityblob --sas-token xxxx
The command failed with an unexpected error. Here is the traceback:

HTTPSConnectionPool(host='driattunityblob.blob.core.windows.net', port=443): Max
 retries exceeded with url: /dware-tst?sv=2018-03-28&sv=2018-03-28&sv=2018-03-28
&sv=2018-03-28&restype=container&comp=l

[2019-07-01 21:26] grigusev commented on #9770
the fix is included into PR https://github.com/Azure/azure-cli/pull/9837/

[2019-07-01 21:59] yugangw-msft commented on #9831
Before we get more user up-votes to make it mainline, the work around is to leverage the `Azure_Extension_dir` to set to any folders which can be accessed by any users

[2019-07-02 00:32] BevanG opened #9840 "az functionapp create - Storage type Standard_RAGRS is not allowed"
When create Function App Resource using Azure CLI:
`az functionapp create --name "" --resource-group "" --storage-account "" --consumption-plan-location "" `
I receive  the following error:
`ERROR: Storage type Standard_RAGRS is not allowed`

Storage Account was created with this command:
`az storage account create --name "" --resource-group "" --sku "Standard_RAGRS" --kind "StorageV2"`

According

[2019-07-02 06:32] ithahn commented on #9835
Thanks,

I think the ARM ID is looking like that right?
`/subscriptions/21c4d411-837a-4992-b97c-bed123456789/resourceGroups/RESOURCEGROUPNAME/providers/Microsoft.KeyVault/vaults/KeyVaultName`

If yes, we have tried that already with the above error message appearing in the Cloud Shell.

Regards,
Klaus

[2019-07-02 07:58] dgard1981 commented on #1662
@yugangw-msft, thanks for your reply. I have taken a look at `invoke-action`, but the documentation is context-less, and I was unable to figure out how to do things like update the Logic App definition, or add/update parameters.

[2019-07-02 10:04] onybo commented on #9833
We are seeing the same issue with az webapp create.
Looks like this was a sort of intended change in #9323
That is,  #9323 which fixes #9052 (webapp update should validate the RG and webapp exist before trying to run an update)

Is it really necessary to change the behavior of webapp create to fix a problem with webapp update?

[2019-07-02 10:20] gesada opened #9841 "dependencies cannot be displayed via cli in Azure AppInsight"
**Describe the bug**
While using az cli version 2.0.67, we have found that using the command
az monitor app-insights events show --app "xxxx-xxxxx-xxxxx-xxxx" --type dependencies --start-time <date>
showing no information with relation to dependencies

**To Reproduce**
Using the command above to reproduce

**Expected behavior**
dependencies type should be displayed via Azure CLI

**Environment sum

[2019-07-02 12:06] roycornelissen commented on #9833
Most importantly, it conflicts with the design principles about idempotency: https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types

[2019-07-02 12:46] siddharth7 commented on #5152
Will be taking it in end of July or first week of August

[2019-07-02 13:22] julianrubisch opened #9842 "az aks browse fails repeatedly"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-07-02 13:42] nvankaam commented on #9426
az --version prints the following (So my version is 2.0.59):

I will check if upgrading to 2.0.67 fixes the problem

[code]

[2019-07-02 14:37] nvankaam commented on #9426
The error does not occur when using version 2.0.67.

However, when performing the steps described in the title of this issue I get the following error:
[code]
Note that I am passing a specific version.

When I place the same application name and id in the json file (as described in the workaround), it does successfully add the application to the pool.

[2019-07-02 15:22] ts46235 commented on #9691
Getting same error using 2.0.59
win 10 version 1709
[code]

[2019-07-02 15:43] swestner commented on #4653
I am still experiencing this issue on version 2.0.59

[2019-07-02 16:53] ts46235 commented on #9691
Mine turned out to be related to an older version of kubectl. I upgraded it (and placed its path above docker's kubectl location in my sys path) and that fixed it.

It was related to `unknown flag: --address`

[2019-07-02 17:29] Calvin-Yuhui-Liu commented on #9706
Agree with @andreasottosson, better to change the example command to **_--ssh-key-values_**.

[2019-07-02 17:41] adammodlin opened #9844 "az network watcher test-ip-flow has unexpected error"
I am trying to use `az network watcher test-ip-flow` to diagnose RDP failures to an Azure VM. When I ran the command, I got an error.

**Command Name**
`az network watcher test-ip-flow`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network

[2019-07-02 17:55] adammodlin opened #9845 "az network watcher test-ip-flow fails without resource group and displays bad error"
When running the below command, it should work according to the docs [here](https://docs.microsoft.com/en-us/cli/azure/network/watcher?view=azure-cli-latest#az-network-watcher-test-ip-flow). The docs state that the `--resource-group` parameter is optional.

The second issue is that when this command fails, the incorrect parameter name is used in the failure message. The output is:

[code]

**Comma

[2019-07-02 17:58] adewaleo commented on #9833
@panchagnula, please can you look into this? Was there a recent change to the command / service that made this command no longer idempotent?

[2019-07-02 18:23] panchagnula commented on #9833
The validation was added to all creates, Appservice plan & webapp create - this is done by adding a validation check before the create API is called. The validation API call itself is a POST call. Before the validation existed i guess the create command could be used this way
az appservice plan create --name testappservice --resource-group testappservicerg
az appservice plan create --name testapps

[2019-07-02 18:26] christiankuhtz commented on #6876
@calinmarina  I understand it could be useful to have a command to show how the subnet is allocated so a human can choose which one to pick out of those that aren't allocated.  However, for internal Load Balancer frontends, you can simply leave the frontend as dynamic as well and the first available address will be chosen rather than specify a specific static address.  What exactly are you trying

[2019-07-02 18:39] panchagnula commented on #9804
@docgregt currently not something that CLI supports & this is the first request we are receiving for mapping a single certificate to a specific hostname. Need to run this by the feature crew to add support.  will get back to you on this.

[2019-07-02 18:44] panchagnula commented on #9514
Not something that is planned , please use https://docs.microsoft.com/en-us/cli/azure/webapp/config?view=azure-cli-latest#az-webapp-config-set azwebapp config set --generic-configurations that takes a JSON as an input & to update the cors property.

[2019-07-02 18:44] #9514 closed

[2019-07-02 18:45] panchagnula commented on #9707
@patricklee2 any update on this? Is this something we can have a fix for this up-coming release?

[2019-07-02 18:48] panchagnula commented on #9291
waiting for this support to be extended to Linux as well - & then add support for this feature.

[2019-07-02 18:49] ahmedelnably commented on #9840
can you please provide the output with --debug flag?
Make sure to remove any personal information from the output

[2019-07-02 18:50] panchagnula commented on #9113
closing since we are not to able to repro this on our end, please open a new issue if you still see this with the latest version of CLI.  Thanks!

[2019-07-02 18:50] #9113 closed

[2019-07-02 18:51] panchagnula commented on #8939
Closing since we haven't heard back on this issue for a while now. Please file new issue if this is still persists with the latest CLI version

[2019-07-02 18:51] #8939 closed

[2019-07-02 19:04] panchagnula commented on #7565
@ppanyukov can you try using the --generic-configurations "{"appCommandLine": ""}"with az webapp config set to clear the setting?
https://docs.microsoft.com/en-us/cli/azure/webapp/config?view=azure-cli-latest#az-webapp-config-set & see if that helps?

[2019-07-02 19:07] panchagnula commented on #6956
@spcmastertim01 thanks for the issue, we are striving to improve our documentation - in this case is there is any specific examples you can share on the parts that need improvements? either a specific deployment command or any thing else? thank you.

[2019-07-02 19:09] panchagnula commented on #6638
Will test this & update the thread.

[2019-07-02 19:58] onybo commented on #9833
The Azure CLI guidelines for commands  as linked above by @roycornelissen states:

One good thing about idempotent create commands is that this enables scripts to use the CLI the same way regardless of the current state of the resource. The script can be made simpler if there is no need to always check if the webapp exists before issuing the `az webapp create`

If for no other reason the `az webap

[2019-07-02 20:00] patricklee2 commented on #9707
I didnt get a chance to look at it yet.  I'll target Sprint 66

[2019-07-02 21:12] contraboy opened #9846 "my index page its a blank when i open it form bash to edit and in browser its viewing hello page"

[2019-07-02 22:08] tjprescott commented on #9846
There is insufficient information to do anything with this. It isn't even clear what command is at issue.

[2019-07-02 22:08] #9846 closed

[2019-07-03 00:24] mjconnection commented on #3809
The Images need to be created from sources in the same Azure region.  Once created, images can be added to Azure shared image galleries for replication to other regions

[2019-07-03 01:15] panchagnula commented on #9675
Closing this since we haven't heard back on this & we are unable to repro this. Please respond if this is issue still persists.

[2019-07-03 01:15] #9675 closed

[2019-07-03 01:36] panchagnula commented on #6638
Talking to our API folks setting the --configuration-source doesn't automatically copy the setting when creating the slot, the client needs to do this explicitly.

[2019-07-03 03:03] ernani opened #9850 "Issue while creating a self-signed certificate using Azure Keyvault with azure-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate create --vault-name {} -n {} -p {

[2019-07-03 08:12] mukeshinit commented on #9605
You can create Webhook URI using Rest API and pass the serviceUri to into action group
**Note**: Each run book needs separate web hook so create new one using rest api call.

Reference link : https://docs.microsoft.com/en-us/rest/api/automation/webhook/generateuri

[2019-07-03 09:19] tleepa opened #9851 "Private DNS link vnet from different tenant"
## Describe the bug
I have two tenants (_tenant1_, _tenant2_). Each tenant has a subscription (_sub1_, _sub2_), resource group (_rg1_, _rg2_), vnets (_vnet1_, _vnet2_). I am able to create a peering between _vnet1_ and _vnet2_ using the IAM roles configured (added user from _tenant1_ to _rg2_ with Network Contributor role)
I am trying to register _vnet2_ as a resolution network (old nomenclature)

[2019-07-03 13:12] TryTryAgain commented on #9396
I'm coming across this same issue, using sas. And the blob storage account has the defaultAction set to allow already, still not working.

[2019-07-03 14:09] apsteger opened #9852 "az login hangs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
Running 'az login' hangs. It does not exit with a timeout or error code.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`
- b

[2019-07-03 14:14] RalfWenzel commented on #9835
I can confirm the issue. It seems that the resource group of the keyvault is never found if in other subscription. We tried other forms of command also, i.e specifying full id of vm, but always same result.

[2019-07-03 14:29] sistoimenov commented on #3918
This issue is so easy to reproduce that I am surprised it is closed without a resolution...

To reproduce it create a resource group, create a machine in it, delete the machine but keep the resource group. Create a new machine in the same resource group and it fails...

[2019-07-03 14:34] jemag commented on #1031
Would it be possible to at least re-open the issue?

[2019-07-03 15:40] ericchansen commented on #7925
If possible, I think this issue was never addressed. There should be a programmatic way to do this that doesn't require the portal. In my client's use case, it isn't possible to use the portal to access the manifest. These permissions must be given entirely from the command line. We can't do an example of adding it to the portal, checking the manifest and then using the values in the manifest to w

[2019-07-03 16:51] marstr opened #9853 "scripts/ci/dependency_check.bat doesn't fail CI, even when it detects errors."
If you check #9750, you'll see that CI fails dependency checks for Darwin and Linux, however the Windows check passes. Digging in, it's clear that the Windows script even detects the error here: [Build 60891, Verify src/azure-cli/requirements.*.Windows.txt, Line 342](https://dev.azure.com/azure-sdk/public/_build/results?buildId=60891&view=logs&j=796343fd-f04d-59ce-7e73-c4eab21e4249&t=3e5b4737-4f47

[2019-07-03 17:15] #9833 closed

[2019-07-03 17:29] marstr commented on #9852
Howdy @apsteger,

We've seen issues like this before when folks are using the CLI behind a VPN or proxy. Please checkout the following troubleshooting steps, and let me know if you're still encountering this issue: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2019-07-03 17:31] adewaleo commented on #3918
@sistoimenov, what version of the CLI are you on?

I just retried and couldn't reproduce this issue on the latest version of the cli (2.0.68 / dev branch)

[code]

[2019-07-03 17:33] tjprescott commented on #9851
@dijyotir for comment

[2019-07-03 18:00] adewaleo commented on #9835
Hello everyone I was able to reproduce this issue. From running the encryption command with --debug. It turns out that during validation the CLI does not factor in the keyvault's subscription id when retrieving the kv.

I will look into fixing this

[2019-07-03 18:10] jfggdl commented on #7667
@Andrey-Anatolyevich, I am going to close this issue, but feel free to reopen it if you are able to reproduce your original problem. Thanks.

[2019-07-03 18:10] #7667 closed

[2019-07-03 18:54] akharit commented on #7847
Please close this issue. There aren't any plans to do this.

[2019-07-03 18:55] akharit commented on #6863
Please close this. I can't proceed without version information.

[2019-07-03 19:00] stewartadam opened #9855 "Add support for JIT requests from Azure CLI"
**Is your feature request related to a problem? Please describe.**
JIT policy management is supported by Azure CLI (`az security jit-policy`) but JIT requests cannot be created or managed from the Azure CLI without manually constructing the API call for use with `az rest`.

**Describe the solution you'd like**
Something like `az security jit-request` to programmatically create, read, update, delet

[2019-07-03 19:18] #2649 closed

[2019-07-03 19:32] panchagnula commented on #8985
This  {
    "name": "MY_APPSETTING_TWO",
    "value": "AnotherImportantValue",
    "slotSetting": false
  } i.e "slotSettings" is a portal concept & not a platform or API level format so don't use this for CLI. For CLI just use a name value pair. Thanks!

[2019-07-03 19:32] #8985 closed

[2019-07-03 19:42] zhusijia26 commented on #7346
Close this issue since solution provided and long idle time.

[2019-07-03 19:42] #7346 closed

[2019-07-03 19:49] pajzo commented on #9640
I'm having the same issue right now (custom application insights metric), and I think it's sad to have a custom REST call to create this alert when all my other alerts can be created with native methods :(

[2019-07-03 19:55] stevengum commented on #8376
Closing this due to inactivity, if the above steps/links didn't help, please **@mention** me.

[2019-07-03 19:55] #8376 closed

[2019-07-03 20:11] stevengum commented on #9363
@bandmask I'm unable to reproduce this issue in the command prompt; are you still running into this error message? Are you using single quotes or double quotes when passing in the `"North Europe"` location for `--insights-location`?

[code]

[2019-07-03 20:28] hattan commented on #8376
Thanks Steve. The above links were definitely useful.

[2019-07-03 20:50] zezha-msft commented on #8809
@zhusijia26 @limingu this has been fixed in the SDK already: https://github.com/Azure/azure-storage-python/releases/tag/v2.0.0-blob

[2019-07-03 20:56] zhusijia26 commented on #8809
Thanks @zezha-msft! Will wait for @limingu 's comment.

[2019-07-03 21:55] limingu commented on #8809
Need to update the SDK version in the CLI. I will update once that is done.

[2019-07-03 22:43] villanub opened #9858 "az network nsg cmdlet does not show destinationportrange for port 22"
**Describe the bug**
az network nsg cmdlet does not show destinationportrange for port 22, all other ports show correctly. Same issue with Get-AzureRmNetworkSecurityGroup

**To Reproduce**
Create a rule that has the Destination Port Range with 22

![image](https://user-images.githubusercontent.com/11998436/60628974-793c0d00-9db9-11e9-8eed-ce560ce15930.png)

Query the rule using either az network n

[2019-07-03 23:25] btardif commented on #1337
This WI if blocked on API Support for both Windows and Linux container scenarios.

[2019-07-03 23:59] DrEsteban opened #9859 "Poor access token management in accessTokens.json"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`/`az logout`

**Errors:**
No errors per-se, but I've noticed the AzCLI doesn't really manage the tokens obtained in accessTokens.json.  If an access_token/refresh_token expires, it will never be removed.  The list is simply appended to.

Also, when you run `az logout`, nothing is don

[2019-07-04 00:53] tjprescott commented on #9858
The fact that this affects both CLI and Powershell suggests a service-level problem.

[2019-07-04 04:58] #6863 closed

[2019-07-04 05:16] bgklein commented on #8209
@tjprescott any status update on this? doesn't necesarily need to be high pri if their are core CLI work items, but an approximate timeline may be nice?

[2019-07-04 05:27] bgklein commented on #3633
@mjconnection / @bsiegel  / @tjprescott this ticket has been passed down in the Batch SDK team over time and still remains, In fact it was filed by an internal Batch Service Team member.

Do you know if other teams create custom JSON formatters to override python datetimes default duration __str__ ? Overall seems like something to be done by the CLI core JSON serializer rather than us doing it our

[2019-07-04 09:50] dennisahlin commented on #9804
Workaround:
1. Get the hostname id, for example by listing the hostnames of your webapp like so: `az webapp config hostname list --resource-group $resourceGroupName --webapp-name $webAppName`.
2. Bind the ssl certificate by using ids parameter: `az webapp config ssl bind --certificate-thumbprint $sslThumbprint --ssl-type SNI --ids $hostnameId`.

[2019-07-04 12:22] gamesbrainiac opened #9860 "ProtocolError when following logs when tailing webapp logs"
## Description
When trying to follow the logs of a webapp, there was a ProtocolError.

**Command Name**
`az webapp log tail --resource-group <rg> --name <name>`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail --resource-grou

[2019-07-04 13:45] tspascoal opened #9861 "nic is not added to a lb backend pool if the nic is referenced by the id"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nic ip-config address-pool add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nic ip-config address-pool add --id

[2019-07-04 14:38] pieterclaerhout commented on #9000
Same problem here…

[code]

[code]

[2019-07-04 16:54] Socolin opened #9862 "Add a new way to list webapp instances"
Hey

I'm looking for a way to get instances information of a webapp with a command like `az webapp instance list`.

On https://resources.azure.com the given url to this is:
[code]

Regards

[2019-07-04 17:31] zhusulai opened #9863 "Unable to list containers without access to storage account keys"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az storage container list` fails when the user just has Reader role. This is inconsistent with the behavior in the portal as I was able to list the containers and view their properties such as access level.

**Command Name**
`az storage container list`

**Errors:**
`az storage container list: error: Azure Erro

[2019-07-05 02:13] geebee3 opened #9864 "az group create: error: the following arguments are required: --location/-l"
I am using cli command for azure on my MacOs, everything is up to date, while trying to use the command: `az group create -n PimpUrPoochRG -1 USEast
` i get an error message that says "az group create: error: the following arguments are required: --location/-l"

please if someone could help me promptly on this, i'm using bash cli on my macbook pro (july 4th, 2019)

[2019-07-05 05:41] LarsSkovslund opened #9865 "Not possible to change appservice plan for existing webapp"
## Describe the bug
With version 2.0.67 of Azure CLI a [pre-validation](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?toc=%2Fcli%2Fazure%2Ftoc.json&bc=%2Fcli%2Fazure%2Fbreadcrumb%2Ftoc.json&view=azure-cli-latest#appservice-1) on webapp name was introduced, preventing the command from executing when a webapp with the same name exists. Effectively blocking for scenarios such as

[2019-07-05 08:23] martinoss commented on #3975
It would also be helpful to output a "compiled" template with all the resolved values for better understanding what caused validation errors.

got this error...

`    "message": "Deployment template validation failed: 'The template resource 'xxx-dev/web' at line '1' and column '20864' is not valid: Unable to evaluate template language function 'resourceId': function requires exactly one multi-segm

[2019-07-05 08:42] LarsSkovslund commented on #9864
Your `location` is invalid, please run `az account list-locations` to see available locations.

It should be `az group create -n PimpUrPoochRG -l eastus`

[2019-07-05 10:30] bergerx commented on #9736
We are also hit by this, we first thought the change was introduced in new azure-cli versions, then realised that half of the team has `--file -f` and other half has `--path` instead for the `az aks get-credentials` method on the same azure-cli version. Turned out that if the `aks-preview` extension is added, the flags are changing in an incompatible way. This is kind of breaking our automations a

[2019-07-05 12:39] axelwogawa opened #9867 "az consumption budget create fails with offer type error message"
### Describe the Bug

**Command Name**
`az consumption budget create`

**Errors**
Command execution fails with error message:
`Subscription <subscription id> is not associated with EA offer type (Request ID: <request id>)`
which is weird because in the Azure Portal, I am able to create a budget within the same subscription with the same account. (Current offer type is Pay-as-you-go)

### To Reprod

[2019-07-05 13:00] pjoe commented on #9204
FWIW: had a similar issue on msys2, turned out that one of the bash vars I was using had a trailing `\r` which caused the weird error message about `C:\Program is not recognized ...`

I solved it using something like `VAR=$(echo "$VAR" | tr -d "\n\r")`

[2019-07-05 13:05] tp199314 commented on #9665
Are there any updates on this?

[2019-07-05 14:33] thomaslevesque commented on #2324
That's irrelevant. Look at the dotnet CLI: it doesn't "actively support" PowerShell, but it has a "complete" command, which is shell-agnostic. This command can then be used to integrate with any shell (PowerShell, bash or zsh for instance). Look here for details: https://docs.microsoft.com/en-us/dotnet/core/tools/enable-tab-autocomplete#powershell

[2019-07-05 14:36] tjprescott commented on #9864
Well, it looks like you are using `-1`(one) instead of `-l`(el)

[2019-07-05 15:51] alanold commented on #8568
@marstr @yugangw I'm having an issue with this same issue.  Running this script from CLI or devops
#!/bin/bash

#Obtain role defination IDs
roledef=$(az role definition list --query "[?roleName=='xxx'].id" --output tsv)
echo $fwdef

#Obtain service principle app IDs
spappID=$(az ad app list --all --query "[?contains(displayName, 'sp-1111-2222')].appId" --output tsv)

# Obtain subscription IDs
subp

[2019-07-05 16:07] alanold commented on #8568
Additional information.  This is running against Azure China

[2019-07-05 16:13] alanold opened #9868 "az role assignment creating fails on role definitions which are valid on 1+ subscription"
Previous issue with this title has been closed but I'm still seeing the behaviour.

In this case executing again Azure China.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain se

[2019-07-05 16:27] geebee3 commented on #9864
thank you guys, it works now, was using 1 instead of l.

[2019-07-05 16:27] #9864 closed

[2019-07-05 16:53] snehithm commented on #9640
Hi @konrad-jamrozik , @pajzo, thanks for reporting this. We are looking into this.

[2019-07-05 17:22] yairt1974 opened #9869 "Azure Firewall CLI - "the extension is in preview message” need to be removed"
**Describe the bug**
Azure Firewall CLI - "the extension is in preview message” need to be removed. The product has been GA since 9/24/2018.

**To Reproduce**
az extension add -n azure-firewall

**Expected behavior**
no preview warning message.

[2019-07-05 17:24] Nash-Vegas commented on #9852
This was happening to us until we entered

at the CLI.

[2019-07-05 17:29] tjprescott commented on #9850
I was not able to reproduce this. It created the self-signed cert as expected. If you try the following, what happens:
[code]

[2019-07-05 17:34] tjprescott commented on #9861
The real issue here is that `--ids` should not even be exposed. You are expected to provide the name components.

[2019-07-05 17:37] tjprescott commented on #9865
@yugangw-msft I believe you already fixed this, yes?

[2019-07-05 17:37] hyochan opened #9870 "Bug during az webapp up -n"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-07-05 17:38] tjprescott commented on #9865
@LarsSkovslund I believe this has already been fixed in: https://github.com/Azure/azure-cli/pull/9847.  cc/ @panchagnula

[2019-07-05 17:39] yugangw-msft commented on #9865
@tjprescott, that is correct. The fix will be released on July 16

[2019-07-05 17:39] #9865 closed

[2019-07-05 17:41] tjprescott commented on #9868
I believe this is true of many AD/Graph-related commands. @marstr and @yugangw-msft for comment.

[2019-07-05 17:44] LarsSkovslund commented on #9865
Thanks, really appreciate it

[2019-07-05 17:57] tjprescott commented on #8209
@yugangw-msft @achandmsft for comment.

[2019-07-05 18:45] yashghia commented on #9842
Facing similar error while trying `az aks browse` , here is the error stack trace.

The command failed with an unexpected error. Here is the traceback:

HTTPConnectionPool(host='localhost', port=8888): Max retries exceeded with url: /closeport/8001 (Caused by NewConnection
Error('<urllib3.connection.HTTPConnection object at 0x07438C50>: Failed to establish a new connection: [WinError 10061]
No con

[2019-07-05 19:54] panchagnula commented on #9663
@benjaminbhuang sorry for the dealy on getting back to you on this. The error occurs when the app was not found in the RG. Can you confirm you have the correct values for -n &  -g & the app does exist in the RG specified. One way to debug this further would be to run the command with --debug flag.  Please verify & lets us know if this indeed the case. Thanks!

[2019-07-05 20:31] srajtiwari opened #9871 ""az vmss create" completes before vmss nic list has been updated."
**Describe the bug**
With vmss over-provisioning enabled, "az vmss create" completes before vmss nic list has been updated.
E.g. Immediately after provisioning a 2 instance VMSS, querying “ az vmss list-instances” returns the correct number of instances(2), but “ az vmss nic list” returns an incorrect number of nics (returns 4 instead of 2).
After waiting for 60 seconds and running the “az vmss ni

[2019-07-05 22:10] limingu commented on #9808
Working on the fix. PR will be out soon.

[2019-07-05 22:34] yugangw-msft commented on #9868
this command was made to be idempotent with client end workaround. I can't reproduce this in PublicCloud. @alanold, do you mind  run with `--debug` flag and send the trace to me at yugangw at microsoft dot com?

[2019-07-05 23:09] tjprescott commented on #9474
@malopMSFT I don't see any support for "Private Resource show" or "Private Resource Connections list/show/approve/reject/delete" in the referenced swagger.

[2019-07-05 23:27] panchagnula commented on #8742
The interactive approach will be provided by the az interactive module across all of CLI no special interactive support will be added to appservice specifically https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-interactive

[2019-07-05 23:30] panchagnula commented on #8743
There is an existing deployment command https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-deployment-source-config-zip that already does zip deploy the wardeployment support will be added to this.

the remote file support is tracked here https://github.com/Azure/azure-cli/issues/9291

[2019-07-07 04:48] #9808 closed

[2019-07-07 16:56] tommysundling commented on #9852
I'm also encountering an issue where "az login" hangs in Visual Studio Code (v1.36.0) when running in a Powershell context.

When I run "az login" it starts my default browser (Edge), I then select my user account (@hotmail) after which the browser just sits there with the loading animation. The VS Code window also never returns or timeouts from "running Powershell command".

If possible I would l

[2019-07-07 21:08] apsteger commented on #9852
Thanks @marstr , I'll give it a try.

[2019-07-08 04:13] zikalino opened #9877 "Inconsistent linebreaks in examples"
**Describe the bug**
I was just checking examples for VM, and seems like linebreaks are not consistent, for instance:

In first case example is broken into lines manually in **_help.py** file:
[code]

In second case example is included in a single unbroken line in **_help.py** and broken later into separate lines:
[code]

**To Reproduce**
[code]
**Expected behavior**
We should have consistent way

[2019-07-08 09:59] foucdeg commented on #9840
Hello @ahmedelnably ,

I'm having the same issue, here's my debug output:

[code]

[2019-07-08 10:00] rrottmann opened #9878 "az functionapp create: referencing storage account by id not working"
**Describe the bug**
I want to create a Azure Function App (python) with consumption-plan residing in another resourcegroup as the storage account that triggers the function app.

**To Reproduce**

Execute:
`az functionapp create --resource-group azurefunctionrsg--os-type Linux --consumption-plan-location westeurope --runtime python --name azurefunctionname--storage-account  /subscriptions/abc123a

[2019-07-08 11:13] sanju918 opened #9879 "Issue with "az vm image list --output table" command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm image list --output {}`

## Expected Behavior

## Environment Sum

[2019-07-08 12:25] davivcgarcia opened #9880 "Repository update to include release for Debian 10 (Buster)"
Debian 10 (Buster) was officially released on July 6th (https://www.debian.org/News/2019/20190706), and it is the current stable release for the distribution. There isn't a compatible repository at https://packages.microsoft.com/repos/azure-cli/dists/ yet.

[2019-07-08 13:19] pieterclaerhout commented on #9425
Same problem here. It's happening many times per day and makes being productive really hard…

[2019-07-08 14:21] alanold commented on #9868
Hi

Thanks for the quick response.  I've sent the debugs over.

It does appear to be OK on some subscriptions but not others.  I've sent output for both.  I'm using the same service principle in both cases and I believe they have the same access on each subscription.

Kind regards,

Alan Old
Platform Services – Cloud Infrastructure Engineering
DDI: +44 207 076 7091|Mob: +44 7967 002268

[cid:image

[2019-07-08 15:07] moulla commented on #9080
Similar on linux azure-cli.x86_64 0:2.0.68-1.el7

[2019-07-08 15:24] akharit commented on #6854
progress_callback is used in python programs and it doesn't make sense to expose it for a clli application.

Is the help for chunk-size or buffer_size unclear?

[2019-07-08 16:51] jlorich opened #9882 "Edit button on the storage docs pages are broken"
None of the edit buttons work, the all links go to pages like [this](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_help.py/#L0) which are not valid URLs.

Example URL: https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas

---
#### Document Details

⚠ *Do not edit t

[2019-07-08 16:58] ahmedelnably commented on #9878
Thanks @rrottmann, we will take a look.

[2019-07-08 17:40] zhusulai commented on #9810
I was able to work around this issue by setting the SSL_CERT_FILE environment variable. The issue could be closed.

[2019-07-08 17:40] #9810 closed

[2019-07-08 18:24] borkod opened #9884 "az lock delete does not work"
Azure CLI "az lock delete" command does not seem to work on disks (Microsoft.Compute/disks).

I've tried a number of different variations of the command as suggested [here](https://github.com/Azure/azure-cli/issues/2688), however none of them seem to work.

In my specific scenario, the lock is inherited from parent resource group.  If I try to include the --parent attribute, I also receive the fol

[2019-07-08 18:45] panchagnula commented on #9244
@Nking92 just checking to see if this still reproes? Also is it possible to add a test for this?

[2019-07-08 19:05] edernucci opened #9885 "Validation message unclear"
**Describe the bug**
Validation message is **Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 1** but should be **Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 0**.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Environment summary**
[code]

[2019-07-08 19:18] ryanborMSFT commented on #9867
Can reproduce this with the latest Azure PowerShell modules as well:

`Set-AzConsumptionBudget -Name "MyBudget" -Amount 1000 -Debug`
[code]

[2019-07-08 19:23] marstr commented on #9852
I'm going to close this for now, but I'll be happy to re-open if more information comes to light.

@tommysundling, I'd also try messing around with the troubleshooting guide.

[2019-07-08 20:38] adewaleo commented on #9882
@marstr, @shuangjiang

looks like this is related to the recent flatten work.

Looks like this should already be fixed [here](https://github.com/Azure/azure-cli/blob/dev/doc/sphinx/azhelpgen/doc_source_map.json).

[2019-07-08 21:01] panchagnula commented on #9870
@hyochan  need some more information here to debug this.
Are you using this command for the first time? Are you running the command from the directory path where your code is hosted.?

You can run the command with --debug flag & check what info it gives? Also, feel free to share that information (--debug info) with me directly at sisirap@microsoft.com.thank you.

[2019-07-08 21:50] marstr commented on #9882
@sptramer, know anything about how the edit buttons are wired up?

[2019-07-08 22:12] ahmedelnably opened #9887 "Add support for User Assigned Identity for functionapp and webapp"
**Is your feature request related to a problem? Please describe.**
Add support for user assigned identity

**Describe the solution you'd like**

**Describe alternatives you've considered**
Portal

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-07-08 22:13] ahmedelnably commented on #9887
cc/ @ankitkumarr @panchagnula @mattchenderson @Hamster-Huey

[2019-07-08 22:14] ahmedelnably commented on #9887
Reported by a user: https://twitter.com/codehova/status/1148061808592187392

[2019-07-08 22:43] #7847 closed

[2019-07-08 22:44] sumantmehtams commented on #7847
Closing after discussion with Akshat.

[2019-07-08 23:28] stevengum commented on #9363
Closing issue due to inactivity, @bandmask if you are still running into this issue please **@mention** me.

[2019-07-08 23:28] #9363 closed

[2019-07-08 23:40] JianqinWang opened #9888 "`az storage blob update` incorrectly autofills parameters"
**Describe the bug**
When calling `az storage blob update`, the cli makes 2 calls - one call to get the blob's information (if exists), and then makes the call to update the blob's system properties. However, in this process, the cli opts to intelligently autofill any content setting parameters that weren't explicitly set by the user. This means that users will never be able to `reset` content set

[2019-07-09 00:04] adewaleo commented on #9882
I believe they get the url to link to from [doc_source_map.json ](https://github.com/Azure/azure-cli/blob/dev/doc/sphinx/azhelpgen/doc_source_map.json).

Hopefully @sptramer / @daxianji007 (Shuang Jiang) can follow up on this.

[2019-07-09 00:07] adewaleo commented on #9425
I will look into this and try to come up with a fix. Sorry for the inconvenience!! seeing the mentioned people haven't commented.

so sorry again @jlpedrosa and @pieterclaerhout

[2019-07-09 00:09] adewaleo commented on #9000
I will look into a fix for this, given the mentioned people have not responded yet

[2019-07-09 01:02] yugangw-msft commented on #9879
This is not specific to the image list command.
It is more likely you are running behind a proxy. Please refer to the [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) for help.
Please reactivate if it doesn't resolve the problem.

[2019-07-09 01:02] #9879 closed

[2019-07-09 02:19] hyochan commented on #9870
@panchagnula Thanks for the feedback. After a few test & trials myself, it magically worked again. I was wondering why it isn't guiding me any `logs` but yes there is a flag `--debug`. Thanks, I will try to re-report issue when I can clarify this.

[2019-07-09 02:19] #9870 closed

[2019-07-09 03:32] BevanG commented on #9840
Apologies for delay. I didn't see the notification. Here is my debug as well

call az   functionapp create --name "<FunctionApp_Name>"   --resource-group "<ResourceGroup>" --storage-account   "<StorageAccount_Name>" --consumption-plan-location   "<Location>" --debug
--
Command arguments: ['functionapp',   'create', '--name', '<FunctionApp_Name>', '--resource-group',   '<ResourceGroup>', '--storage

[2019-07-09 06:34] pajzo commented on #9640
If this is any help here is what i found out:

[code]

But in debug mode i can see that the namespace is wrong. The Azure CLI is setting `applicationinsights `as namespace, but the correct is `azure.applicationinsights`
[code]

[2019-07-09 06:52] TechWatching opened #9889 "The command for Azure DevOps does not work"
When I try to use the command to create an Azure Pipeline with specific Azure DevOps organization and project I receive the following message : "Error finding organization. Please check that the organization exists by navigating to the Azure DevOps portal at dev.azure.com."
I am using the correct organization name, I can see it when I navigate to Azure DevOps portal.

---
#### Document Details

⚠

[2019-07-09 07:29] pieterclaerhout commented on #9425
If you need more info, let me know!

[2019-07-09 07:30] pieterclaerhout commented on #9000
If you need more info, let me know!

[2019-07-09 08:05] Makabata opened #9890 "az storage blob download-batch fails with 'Read timed out'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download-batch -s {} --pattern {} -d {} -

[2019-07-09 08:16] benverlinden30 commented on #9865
Hi all,

Currently all of our releases (hosted agent vs2019) are failing because of this issue in azure cli.
I have set the tasks on app service plan create and app service create on continue on error but
now im facing issues with web app deploy task as well because the app service stays in a running state

So we have to wait for one week until this fix will be pushed to the master?

Grtz,
Ben

[2019-07-09 08:16] markvanschaik opened #9891 "az dls cmd logs preview warning to stderr since new version which makes devops pipeline fail"
## Describe the bug

**Command Name**
`az dls account list`

**Errors:**
A dls-preview warning is shown when calling any az dls cmd, which is written to the std err output. The devops pipeline fails, as it is treated as an error.

`Command group 'dls' is in preview. It may be changed/removed in a future release.`

We came up with a temporary solution to write the error to the null device by adding

[2019-07-09 09:12] benverlinden30 commented on #9833
Hi All,

The azure cli Idempotency problem on creating app plans and app services is breaking our build and release pipeline.

Grtz,Ben

[2019-07-09 09:28] bingosummer opened #9892 "the ability to update the tags of aks cluster"
**Is your feature request related to a problem? Please describe.**

Seems that there's no way to update the tags of an aks cluster.

**Describe the solution you'd like**

Azure CLI should provide a command to update the tags of an aks cluster.

[2019-07-09 10:02] roycornelissen commented on #9833
The fix has been merged but it’s unclear if or when it is released. And when the hosted Azure DevOps agents will get the update...

[2019-07-09 11:07] jeffgleed commented on #9833
Roy,

Does this mean that the fix will be applied or only might be applied at some point?

[2019-07-09 11:24] mreyeros commented on #7032
I am in the same scenario as @bigdatamoore, trying to save a keyvault backed setting for a functionapp and no matter what I try I cannot seem to get the quoting correct and continue to receive the above mentioned error. @bigdatamoore can you share your final script solution as an example for correctly quoting these types of settings.

[2019-07-09 11:32] yugangw-msft commented on #9833
The fix will be released on July 17

[2019-07-09 11:39] jeffgleed commented on #9833
Thanks

[2019-07-09 12:04] denniseik commented on #9834
This issue seems to be caused due to conflicting dependencies between the ACR cli package and the ACR management package. The latest azure cli version seems to require a release candidate for azure-mgmt. Workaround is to downgrade azure-mgmt-containerregistry to version 2.8.0.

ERROR: azure-cli-acr 2.2.9 has requirement azure-mgmt-containerregistry==2.8.0, but you'll have azure-mgmt-containerregis

[2019-07-09 16:00] corveen commented on #7912
This is confusing. "az webapp create" is not a PUT command becuase it gives this error:

az : ERROR: The site with name testsite already exists in resource group testrg.

So I have to do existence check myself.
Can someone explain why some commands work different than others?

[2019-07-09 16:28] tjprescott commented on #9891
The DLS commands have always been in preview. It was not called out until the recent change.

[2019-07-09 16:36] tjprescott commented on #9884
If I understand you, the lock is not on the disk but the resource group. In that case you should delete the lock on the resource group before deleting the disk. The `az group lock delete` command would be the easiest way to do this.

[2019-07-09 16:37] tjprescott commented on #7912
@corveen the issue with `webapp create` was someone inserted validation logic that broke the idempotency of the command. That has been fixed and will be in the next release.

[2019-07-09 16:47] degivan opened #9894 "enable-https for custom domain doesn't work with own certificate"
**Command**:
`az cdn custom-domain enable-https --resource-group <resource_group> --profile-name <profile_name> --name <name> --endpoint-name <endpoint_name> --custom-domain-https-parameters '{"certificateSource":"AzureKeyVault", "protocolType":"ServerNameIndication"}'`

throws exception.

No documentation is provided on `custom-domain-https-parameters`, so it is impossible to understand what is c

[2019-07-09 16:47] degivan commented on #9894
**Command output:**

The command failed with an unexpected error. Here is the traceback:

Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get', DeserializationError: Unable to deserialize to object: type, AttributeError: 'str' object hasno attribute 'get'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/ms

[2019-07-09 16:56] tjprescott commented on #9892
Related to #1149.

[2019-07-09 17:04] borkod commented on #9884
Correct - the lock is on the resource group.  The resource is inheriting the lock from the resource group.
The approach you suggest should work.  However should we not be able to remove the lock on the individual resource?  For instance, I may have many resources in a resource group and they would all inherit the delete lock.  In this situation I want to be able to delete a single resource.  In or

[2019-07-09 17:09] tjprescott commented on #9884
There is no inheritance of locks. When you create a delete lock on the resource group, it does NOT create individual resources locks on the resources in the resource group. The delete lock on the resource group simply means you can't delete anything in the resource group (or the group itself) while the lock is in place.

To accomplish your scenario, you must remove the resource group lock, delete

[2019-07-09 17:13] borkod commented on #9884
I did the workaround you suggested (remove lock on resource group, delete resource, reapply the resource group lock).  I thought it should be also possible to just remove the lock on the individual resource.  Thanks for the clarification that this is the expected behavior.

[2019-07-09 17:18] ahmedelnably commented on #9889
Do you mind running the command in an interactive way `az functionapp devops-pipeline create`
And check if your organization name shows up in the list provided by the command or not

[2019-07-09 17:20] #9884 closed

[2019-07-09 17:28] danswain opened #9895 "az ad app update --id OBJID --remove replyUrls "http://my-reply-url" Fails as does remove by Index"
I'm trying to remove a replyUrl from an app Registration. I've successfully used the az cli to add a replyUrl on the creation of a new test environment. Now I would like to remove it when the test environment is torn down.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app update`
`az ad app update --id OBJ-ID --remove replyUrls "h

[2019-07-09 17:40] amishra-dev commented on #8161
Looks like the filer was able to resolve this issue. hope that no one minds if I close it here.

[2019-07-09 17:40] #8161 closed

[2019-07-09 18:02] themorey opened #9896 "Can't create a Service Principal from Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --years {}`

## Expected Beh

[2019-07-09 18:34] elesdoar opened #9897 "Error running aks browse"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-07-09 20:26] tjprescott commented on #9475
Moving to the backlog as this item is not ready to be worked.

[2019-07-09 20:27] tjprescott commented on #9474
Moving to the backlog as this item is not ready to be worked.

[2019-07-09 20:56] marstr commented on #9896
@themorey, is this the only impacted command? Given the error, I would expect this to be broadly impacting you.

[2019-07-09 20:57] Pilchie opened #9898 "Azure CLI login failure"
_From @kylepeters on Tuesday, July 2, 2019 6:42:21 PM_

Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/azure-resources
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Every time I attempt to use the >az l

[2019-07-09 20:57] Pilchie commented on #9898
_From @carlossanlop on Tuesday, July 9, 2019 8:04:02 PM_

@Pilchie I am not sure if this is something for the ASP.NET team specifically, since the question is happening in Azure tools. Is this something your team would be able to address? If not, do you know who would be the best contact for this?

[2019-07-09 20:57] Pilchie commented on #9898
_From @Pilchie on Tuesday, July 9, 2019 8:05:19 PM_

@Petermarcu any ideas?

[2019-07-09 20:57] Pilchie commented on #9898
_From @Petermarcu on Tuesday, July 9, 2019 8:53:17 PM_

This is probably best opened here: https://github.com/Azure/azure-cli

[2019-07-09 21:05] marstr commented on #9896
@themorey, is this still impacting you? I was just able to create a service principal in cloud shell.

[2019-07-09 21:08] kwanlowe commented on #6854
Apologies for delayed reply.  I believe this was opened because the 'az dls fs --help' listed a --progress-callback option without any other information. At the time I was trying to improve upload performance so was iterating through sizes of buffer and chunk. The progress-callback seemed it could have been useful in this exercise but was not documented.  Looking at a recent version of the CLI, it

[2019-07-09 21:14] TechWatching commented on #9889
Az interactive seems not be up-to-date with the funcion app last changes. Only the devops-build command appears even if this command has been changed to devops-pipeline and no list appears for this command.

[2019-07-09 21:26] Petermarcu commented on #9898
@yugangw-msft FYI

[2019-07-09 21:41] ahmedelnably commented on #9889
Sorry for the confusion, if you just execute `az functionapp devops-pipeline create` without any parameters it should guide you through its own interactive mode (not the az interactive).

[2019-07-09 22:59] colemickens opened #9899 "image creation fails with nonsensical error"
**Describe the bug**
I don't know how many times I've fixed bugs in this simple, simple idempotent script, but here we are again.

I'm trying to upload a VHD, and make a managed disk image.

Here's the raw part of the script execution:
[code]

Cleaned purely for readability:
[code]

**To Reproduce**

I don't know. Try uploading a VHD with a similar name and then making a managed disk with a simila

[2019-07-09 23:06] colemickens commented on #9899
If I re-run that command by itself, it works fine from the terminal. I don't really understand whats going on.

I'm using `./az.sh storage blob url -c vhds -n nixos-image-19.03.git.9ec7625cee5365c741dee7b45a19aff5d5d56205-x86_64-linux.vhd -o tsv --subscription aff271ee-e9be-4441-b9bb-42f5af4cbaeb` to get the blob url.

I'm even running it through `tr` to scrub things that docker/tty is putting in

[2019-07-09 23:13] colemickens commented on #9899
Well anyway, this blocks getting NixOS images working again for Azure.  `¯\_(ツ)_/¯`. Suggestions appreciated. This is the code to fix:

[code]

[2019-07-09 23:36] colemickens commented on #9899
Even more baffling, you can see from the printf that the URL looks fine, and the value of the variable itself isn't quoted:

[code]

And yet, the CLI still complains.

[2019-07-09 23:53] colemickens commented on #9899
Someday I'll learn this lesson. Running docker with a tty adds all sorts of non-visible characters. Removing `-it` from the docker invocation made this work and allowed me to remove other hacky workarounds.

Note to anyone else reading, this only became evident after running the `az` command with `--debug`. The CLI has great debug output, and was the first time I'd seen the extra characters anywhe

[2019-07-09 23:56] #9899 closed

[2019-07-10 00:57] colemickens commented on #9542
Another azure edge case:

I guess if I want to distribute public images I'm forced to use slow storage.

[2019-07-10 00:57] #9542 closed

[2019-07-10 01:02] yugangw-msft commented on #9898
@kylepeters, can you please try again? This error happened once before that the azure resource manager service hit a deployment error which ended up having an incomplete certificate chain. If this error persists, please run with `--debug` and mail the trace to me at yugangw at microsoft dot com.

[2019-07-10 01:12] yugangw-msft commented on #9896
This appears a bug in the cloud shell

[2019-07-10 01:27] #6727 closed

[2019-07-10 01:27] #9663 closed

[2019-07-10 06:25] TechWatching commented on #9889
Okay, just did, it seems it does not see the Azure DevIops organizations I am part of.
![image](https://user-images.githubusercontent.com/15186176/60945553-26e47a00-a2ec-11e9-8074-82f4ab01a4e3.png)

[2019-07-10 08:57] pajzo opened #9901 "Monitor metric alert condition with special characters"
**Describe the bug**
When creating a metric alert where the condition is filtering on a disk it's excluding the `:` charterer, so the filtering gets wrong.

**To Reproduce**
[code]

**Expected behavior**
The created metric is created with
[code]

But it should be like this:
[code]

**Environment summary**
- PowerShell
- Windows
- azure-cli version 2.0.68
- Python (Windows) 3.6.6 (v3.6.6:4cf1f54eb7

[2019-07-10 10:31] nuarhu opened #9902 "az fails on any command after fresh install on Mac via brew"
### In short

[code]

### Long version

System: MacOS 10.13.6 (High Sierra)
There are 3 python versions installed:

$ python --version
Python 2.7.10
$ python3 --version
Python 3.6.5
$ /usr/local/Cellar/python/3.7.3/bin/python3 --version
Python 3.7.3

[code]

This virtual env is obviously linked to the the python3.7 installation which should be fine. I'm using it in venvs for development and have n

[2019-07-10 11:34] jlausuch opened #9903 "Azure CLI commands return character '[0m' at the end of the command output"
**Describe the bug**
I get the char sequence '[0m' at the end of the command output.

**To Reproduce**
any `az` command.
It doesn't happen if the command is pipped or redirected to a file.

**Expected behavior**
It should not print that character.

**Environment summary**
[code]

**Additional context**
[code]

[2019-07-10 11:37] jlausuch commented on #9903
It didn't happen in  v2.0.64

[2019-07-10 14:24] kylepeters commented on #9898
I just tried this again, and received the exact same request failure.

[2019-07-10 14:34] AndreeaItu commented on #9257
Thank you for the tip. Is working!

[2019-07-10 14:36] Antiohne commented on #9423
See the blog post of Peter Hobor: https://techblog.hobor.hu/2018/08/26/self-signed-certificate-with-sans-using-azure-cli-keyvault/

[2019-07-10 15:12] rachelvwood opened #9904 ""Signalr show" fails with unexpected error when the resource doesn't exist"
## Describe the bug
"Signalr show" fails with unexpected error when the signalr service doesn't exist.  When the service does exist, "signalr show" works as expected.

**Command Name**
`az signalr show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az signalr show --name <nonexiste

[2019-07-10 15:24] tjprescott commented on #9901
Thanks for the report @pajzo. We'll get a fix into an upcoming release.

[2019-07-10 15:29] #5175 closed

[2019-07-10 16:44] Hazhzeng commented on #9889
@TechWatching Thanks for reporting this issue, I will take a look into it. Seems like the organization created from MSA and AAD account is still tangled together. I will improve the organization detection.

[2019-07-10 17:10] yashghia opened #9907 "az aks browse - failure to browse AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-07-10 17:28] themorey commented on #9896
It worked just now when I retried it.  I guess it was just a temporary glitch?

[2019-07-10 17:37] marstr commented on #9902
Yikes, sorry you're running into this, @nuarhu. Given that this seems to be a problem with a the linking, you might try thoroughly reinstalling both the CLI and Python bia brew. Note, depending on how you created any virtual environments from the brew install of Python (hard or soft links) those venv's will need to be recreated too. If you're okay with that caveat, try the following:

[code]

If t

[2019-07-10 17:39] marstr commented on #9896
Seems like their managed service identity service wasn't working temporarily. I'm going to close this issue out.

[2019-07-10 17:39] #9896 closed

[2019-07-10 17:47] marstr commented on #9257
With the new requirements.txt files in place, this category of issues should fall away! At very least, the levers we need to pull are simpler. I'm going to close this issue out as resolved.

[2019-07-10 17:47] #9257 closed

[2019-07-10 18:26] blackwasp76 opened #9908 "Unable to view kubernetes dashboard"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-07-10 18:40] #9426 closed

[2019-07-10 18:44] #9398 closed

[2019-07-10 18:54] Hazhzeng commented on #9889
@TechWatching If possible could you let me know what's your account type.
When you login to microsoft, if the icon is a badge, that is AAD. Otherwise, it is MSA.
![Untitled](https://user-images.githubusercontent.com/48038149/60996328-3cb46800-a309-11e9-8b5f-691208c542a2.png)

[2019-07-10 19:56] BhuvanaSurannagari opened #9909 "Need to view Validation error log"
Cx is trying to import DNS zone file to Azure using CLI. They have more than 1300 zone files which need to be imported and some of them are having validation errors due to which the log is not hitting NRP and the errors are not seen in the Activity log. So cx wouldn't know which zone file has failed and what error message has been recorded for that particular zone file.

So cx has below questions

[2019-07-10 20:09] tjprescott commented on #9909
1) none that I know of
2) `az network dns zone import` on accepts a single file per invocation. So, they should know exactly which file failed because it would be the one that immediately preceded the failure.

[2019-07-10 21:42] btardif commented on #9862
@Socolin we reviewed your question during our triage and would like to get a few more details.

what are you planning on using the instanceID for?

If you can share the scenario you have in mind, this would help prioritize/design a solution or point you in the direction of existing scenarios that can address this ask.

[2019-07-10 21:47] jongio opened #9910 "az ad sp create-for-rbac fails when name already taken"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

This command:
`az ad sp create-for-rbac -n sample-devops --role Owner --sdk-auth > sp-azdo.json`

Gives the below error.

If I change to
`az ad sp create-for-rbac -n jong101 --role Owner --sdk-auth > sp-azdo.json`

and it works.

I believe it is because sample-devops is already taken in my tenant.

**Command N

[2019-07-10 21:58] jnoller commented on #1149
As this is an enhancement, we will look at sizing and possible improvements along with other CLI issues.

[2019-07-10 22:01] Socolin commented on #9862
It's to ping each instance of our webapp before swapping between deployments slots.

Since some time we have random errors (like invalid dll or other wtf messages) on one instance that are fixed be rebooting the webapp, we want to ensure that all instance are working before swapping, to do so we want to use the affinity cookie with the instance name. instead of spamming to be sure to hit all the i

[2019-07-10 22:32] #5824 closed

[2019-07-10 22:48] tjprescott commented on #9910
@yugang-msft believe this is essentially a dupe of #8750?

[2019-07-10 22:48] sajayantony commented on #9442
@bergmeister - ACR build doesn't require docker login.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#quick-task

You only need to run `az login` or ensure you can access your resources. For e.g. `az acr list`

[2019-07-10 22:51] jongio commented on #9910
Not a dupe.  This one is 'invalid request'...doesn't say it already exists.

[2019-07-10 23:02] marstr commented on #9903
Howdy jlausuch, is this new to 2.0.68 or has this behavior been present for older versions as well?

I suspect that the terminal you're using isn't playing nice with our colorizer. It would explain why an unexpected control character is being output, and also why it doesn't happen when you're not using an interactive terminal session.

[2019-07-11 02:31] johanburati opened #9912 "Issue with RPM package on RHEL with EUS repo"
On RHEL images using the EUS repo (rhui-microsoft-azure-rhel7-eus), the installation is failing because of a dependency on  **python2-virtualenv**.

On RHEL images using the standard repo, **python2-virtualenv** point to **python-virtualenv** so it is working.

I have already reported the issue to Redhat but they told me Microsoft should change their package.

The dependency on  **python2-virtuale

[2019-07-11 02:43] johanburati commented on #9912
I have submitted a fix: https://github.com/Azure/azure-cli/pull/9913

[2019-07-11 05:12] sachinsbigdata commented on #8163
Hi,
There are no current plans to add this support to CLI. You could use adlstool in the meanwhile -
https://github.com/Azure/data-lake-adlstool . Hoping that meets your requirements.

Thanks.

[2019-07-11 06:41] mratrifork opened #9914 "`az webapp config appsettings set --settings endpoints:api=https://example.com` returns bad request when containing colon in the name"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I have a .net core web API with some app settings. These app settings are in a json structure, ie.

[code]

When settings this app setting via. the Azure Portal, i would set the name to `endpoints:api` and the value to `https://example.com` and this works fine.

Doing in via the CLI, this is not allowed.

**Co

[2019-07-11 08:36] sajayantony commented on #9505
@tomko80 Could you describe your scenario a bit more. We would like to understand scenario here.  ACR build is an ARM operation and hence you just need to be logged into the AZ CLI.

[2019-07-11 08:44] sajayantony commented on #9557
We are able to repo this and will investigate.
/cc @nathana1

[2019-07-11 08:47] sajayantony commented on #9708
The change is breaking to existing users.
@tjprescott Do you folks have any recommendation, we would potentially remove the --detail options and make that output the default since its definitely the more useful command anyway.

[2019-07-11 09:01] sajayantony commented on #1884
Given the current work of enabling repo based tokens going forward, we will first class credentials in that scenario. Might be worth considering closing this since there is not planned action on this.

[2019-07-11 09:04] sajayantony commented on #6478
Consider closing this since there is no action planned on this item.

[2019-07-11 09:05] sajayantony commented on #6620
Is this incorrectly tagged as ACR?

[2019-07-11 09:07] sajayantony commented on #7111
A lot of the login paths have been refactored. Consider closing due to inactivity and potentially not an issue unless there is a response.

[2019-07-11 09:27] sajayantony commented on #9398
@northtyphoon @ggonzalere can this be closed?

[2019-07-11 09:59] bczudek commented on #9867
Same when running this via ARM template

`az deployment create`
and
`az group deployment create`

[2019-07-11 14:10] jonaspetersorensen commented on #9250
Any progress on this?

[2019-07-11 14:24] jnoller commented on #5374
Given PR #5511 and the issues loading binaries correctly on windows systems into the %PATH variable, closing this issue.

[2019-07-11 14:24] #5374 closed

[2019-07-11 14:28] jnoller commented on #5401
Closing issue as stale/resolved - AKS has not seen additional reports of SP rights issues such as this. Additionally, the docs here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks should be up to date with AKS/ACR information.

[2019-07-11 14:30] jnoller commented on #5628
This is not an Azure CLI issue. Users can enable/disable the kubernetes dashboard, but given well known security and RBAC limitations, we do not recommend customers make the dashboard publicly accessible or otherwise. The dashboard should only be used via the AKS browse command and for internal customer users.

[2019-07-11 14:30] #5628 closed

[2019-07-11 14:37] jnoller commented on #6083
Closing as resolved. This was fixed some time ago, additionally confirmed that no resources are generate in Azure when the size is incorrect.

`az aks create -n trash-aks2  -g meow -c 1 -s Standard_B4s
The behavior of this command has been altered by the following extension: aks-preview
Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed i

[2019-07-11 14:37] #6083 closed

[2019-07-11 14:41] jnoller commented on #6142
Closing issue as stale as there have not been additional reports and improvements have been made in this area. If there is still an issue using incorrect SSH/Key formats please reopen

[2019-07-11 14:41] #6142 closed

[2019-07-11 14:43] jnoller commented on #6361
Closing issue as stale/resolved - with the AKS windows support shifting into public preview, we have not received additional updates or issues related to this.

[2019-07-11 14:43] #6361 closed

[2019-07-11 14:46] jnoller commented on #6530
@tjprescott  Azure dev spaces issue, not AKS

[2019-07-11 14:46] jnoller commented on #6584
Closing as stale

[2019-07-11 14:46] #6584 closed

[2019-07-11 14:48] jnoller commented on #6718
az aks browse --name
              --resource-group
              [--disable-browser]
              [--listen-address]
              [--listen-port]
              [--subscription]

Listen address and Port are supported, we do not have additional plans for customization for the browse command at this time.

[2019-07-11 14:48] #6718 closed

[2019-07-11 14:51] jnoller commented on #6794
Please see https://github.com/Azure/AKS/issues/68 - this is a known issue with the AKS usage of the Azure basic load balancer including short (5 minute) timeouts. We are in the process of shipping Standard Load Balancer support https://github.com/Azure/AKS/releases/tag/2019-06-24 and phasing out basic load balancers in 2019.

[2019-07-11 14:51] #6794 closed

[2019-07-11 15:28] tjprescott commented on #9867
That this is reproducible via ARM template and Powershell cmdlets suggests this is a service issue. I would recommend opening a support ticket via the portal to get more direct access to the service team.

[2019-07-11 15:28] biship commented on #9665
Are there any updates on this?

[2019-07-11 15:32] tjprescott commented on #7111
Closing. Please reopen if still experiencing this issue.

[2019-07-11 15:32] #7111 closed

[2019-07-11 15:33] tjprescott commented on #6620
It's labeled ACR because the only CLI command involved are ACR commands. What do you feel it should be labeled?

[2019-07-11 15:34] ryanborMSFT commented on #9867
FYI, this seems to be an API-version issue on the various tools. The Azure REST API itself works like a charm as a workaround:

[Budgets - Create Or Update](https://docs.microsoft.com/en-us/rest/api/consumption/budgets/createorupdate )

[2019-07-11 15:34] tjprescott commented on #6478
How can you have no action planned on an issue that clearly raises a stack trace?

[2019-07-11 15:35] #1884 closed

[2019-07-11 15:36] zhusijia26 commented on #8032
Work around provided. Close this issue. Please reopen if there is more issue.

[2019-07-11 15:36] #8032 closed

[2019-07-11 15:36] tjprescott commented on #9708
If I understand correctly, @GHSimeon  is simply suggesting removing the warning in CLI since the things it warns won't work does work. That wouldn't be a breaking change unless I'm missing something.

[2019-07-11 15:37] sajayantony commented on #6620
The kubectl commands and ImagePullBackOff Issues seems like incorrectly configured Kubernetes secret and the docs are under AKS. So maybe route it to the AKS folks?

[2019-07-11 15:38] tjprescott commented on #6620
@jnoller if this is purely a kubectl issue, feel free to close, but there is a suggestion that it might be an AKS-specific issue.

[2019-07-11 15:40] jnoller commented on #6620
This issue may be related to the custom code and image settings. AKS Support can assist diagnosing and working through issues like this.

For cluster  or use-case specific issues (those that will require support and on-call staff to access you Subscription and clusters) we ask that you file an Azure Technical Support ticket with the identified issue, rec-creation steps if available, and link to th

[2019-07-11 15:40] #6620 closed

[2019-07-11 15:41] tjprescott commented on #8163
Closing based on @sachinsbigdata's response.

[2019-07-11 15:41] #8163 closed

[2019-07-11 15:42] sajayantony commented on #9708
Yes.
/cc @hkuadithya can you pick this up?

[2019-07-11 15:48] sajayantony commented on #6478
Ok let’s see if this still an issue.
@Dost2010 does this condition still occur?
Also can you share your output from `az acr check-health —ignore-errors`

[2019-07-11 15:51] jaysterp commented on #9834
@carbolymer could you please update your azure-cli to 2.0.68 and try again? Thank you.

[2019-07-11 16:17] carbolymer commented on #9834
After update to 2.0.68, the issue no longer persists.

[2019-07-11 16:17] #9834 closed

[2019-07-11 17:08] hkuadithya commented on #9708
@sajayantony I'll create a task and start working on it. Thanks.

[2019-07-11 17:56] mick62 opened #9916 ""az resource list --tag" gives strange error"
## Describe the bug

**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- I assigned tag (key) 'customer' for 2 of my storage accounts.
- `az resource list --tag 'customer' `

## Expected Behavior
JSON text with description of the 2 resources which have

[2019-07-11 18:07] jaredmoo commented on #9510
This error is happening because Managed Instance is not available to your subscription in the specified region. I will improve the error message.

[2019-07-11 18:21] jaredmoo commented on #9273
This error is happening because python can't parse your datetime string. I will update documentation to show the expected datetime format.

Yes, you can `az sql db show` and then refer to the `earliestRestoreDate` property.

[2019-07-11 18:31] bgklein commented on #3633
Displaying it seems rationale since it is defaulted service side and obscuring an actual part of the response/property does not conform with other SDKs/REST spec.

With regard to the timedelta we are using the default CLI json timedelta(python) __str__ representation.  Resolving case.

[2019-07-11 18:39] tjprescott commented on #3633
@bgklein the other alternative would be to make those datetime arguments accept both formats and internally convert them to ISO 8601. There is a `get_datetime_type` helper in the CLI that could help with that.

[2019-07-11 18:40] #3633 closed

[2019-07-11 18:41] bgklein commented on #3633
Ill create a new issue. The main thing with this one was the duration/print string. We have durations in multiple of our json formats and don't think we should create a different format there from the rest of the CLI. Accepting both in input would be fine tho

[2019-07-11 18:42] tjprescott commented on #9916
If you run the command with --debug, what is the first line (starts with command_arguments:)?

[2019-07-11 18:42] adewaleo commented on #9877
For the second example, the line should be broken. However sometimes we do have situations where full resource ids are specified, which should technically not be broken up.

Not sure what the solution would be regarding long resource IDs. But there should be a line break if a command is too long...

[2019-07-11 18:44] bgklein opened #9917 "Azure Batch Commandlets should accept both ISO and timedelta __str__ representations"
Azure batch commands should accept both ISO8601 and timedelta __str__ formats as input for commands

See #3633

[2019-07-11 19:16] djyou commented on #9708
@GHSimeon Could you upgrade your CLI and try again?

[2019-07-11 19:46] #9912 closed

[2019-07-11 19:47] marstr commented on #9912
I've just verified that the formal name of the package is `python-virtualenv`, and that the environments that were tested were automatically correcting `python2-virtualenv`. I've accepted the fix, thank you very much @johanburati.

[2019-07-11 20:04] ajlam commented on #9770
Closing after PR #9837 has been merged.

[2019-07-11 20:04] #9770 closed

[2019-07-11 20:38] #6854 closed

[2019-07-11 20:42] #5401 closed

[2019-07-11 23:18] marstr commented on #9859
Howdy @DrEsteban,

We're actually not happy with the way that this is handled at all right now. For that reason, as well as supporting single-sign-on with Visual Studio and Azure PowerShell, we're in the middle of overhauling the way that we store tokens altogether. You can checkout an older preview version with the overhauled approach in the [`msal` branch](https://github.com/Azure/azure-cli/tree

[2019-07-11 23:18] #9859 closed

[2019-07-11 23:47] LinoRS commented on #8827
Hi guys, yeah also have run into this recently and the only workaround was to change the password for the PFX to not use any special characters ;-)... tested with PS and Azure Gui

[2019-07-12 00:14] yugangw-msft commented on #9384
Reopening to track one ask that on `--name http://foo.bar`, that the display name should be `foo.bar`

[2019-07-12 00:50] btardif commented on #9862
@Socolin there might be a better solution for this, I need to dig up some documentation, but I'll add it here.

[2019-07-12 03:32] hitendrajagtap opened #9919 "az ad app update --id <appId> --add appRoles gives serialization error"
az ad app update --id $app.AppId --add appRoles @"

az --version
azure-cli                         2.0.67

acr                                2.2.9
acs                                2.4.4
advisor                            2.0.1
ams                                0.4.7
appservice                        0.2.21
backup                             1.2.5
batch                              4.0.3
batcha

[2019-07-12 07:24] colemickens commented on #7234
+1, with details -- I am able to configure auto-shutdown in the Portal for a regular VM (in a non-DevTest Lab subscription/configuration). But I don't see this reflected in the CLI or exported template?

It would be extremely valuable (though maybe less to Azure :wink:) for me to be able to have a script that:
[code]

It would be fun to write scripts around this, too. I could have a long-running s

[2019-07-12 07:26] colemickens commented on #7234
(also, if I should file a different bug for general compute, since this is tagged DevTestLab, let me know, thanks)

[2019-07-12 10:18] ondrejhlavacek commented on #9842
+1 here, happens every few minutes, very annoying :-(

[2019-07-12 10:27] danimir commented on #8649
@ranokarno CLI command for automatic tuning is not available, and not planned for development at this time. Thank you.

[2019-07-12 10:45] caoh opened #9920 "Cannot even login since update to 2.0.68"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2019-07-12 12:08] TechWatching commented on #9889
Sorry I did not see your message. It's AAD.

[2019-07-12 13:14] hofnarwillie commented on #5275
@squillace / @yugangw-msft - any update on this?

[2019-07-12 13:29] ernani commented on #9850
I've tried the same steps as you did and it still flags me the following error:
Expecting property name enclosed in double quotes: line 2 column 3 (char 4)

[2019-07-12 15:37] #8649 closed

[2019-07-12 15:50] tjprescott commented on #9850
Please try the create command with `--debug` and provide the first line of the debug output (starts with "Command arguments:").  The input might be getting corrupted in some way.

[2019-07-12 17:03] marstr commented on #9920
Sorry you're running into trouble, @caoh. Can you try running an `az account clear` and trying again?

[2019-07-12 17:05] mick62 commented on #9916
Command entered:
az resource list --tag 'customer' --debug
Result:
Command arguments: ['resource', 'list', '--tag', 'customer', '--debug']...az_command_data_logger : command args: resource list --tag {} --debug
...cli.azure.cli.core.util : you cannot use the tag filter with other filters
you cannot use the tag filter with other filters...

Content of log file in ~\.azure\commands:
CMD-LOG-LINE-BEG

[2019-07-12 17:59] swbae31 opened #9923 "az vm run-command invoke does not pass parameter correctly"
## Describe the bug

**Command Name**
`az vm run-command invoke`

**Errors:**
Running
`az vm run-command invoke -g rg -n linux_vm --command-id RunShellScript --scripts '@./test.sh' --parameters hello`

with test.sh :
`echo $1`

does not pass the parameter 'hello' correctly. The stdout just returns with newlines.

This style of passing works for PowerShell Scripts.
When I run
`az vm run-command inv

[2019-07-12 18:34] tjprescott commented on #9916
Probably to avoid logging potentially sensitive info. If you run `az configure` do you have any defaults set like resource group?

[2019-07-12 19:08] mick62 commented on #9916
az configure
entered in VS Code terminal displays:
...
Your current configuration is as follows:
[cloud]
name = AzureCloud

[defaults]
output = table
location = eastus
--
entered in Web Shell displays:...
Your current configuration is as follows:

[cloud]
name = AzureCloud

[core]
first_run = yes

[defaults]
location = eastus

Environment variables:
AZURE_ACCESS_TOKEN_FILE = /tmp/accessTokens.json

[2019-07-12 20:15] peterpogorski commented on #7931
@tjprescott This looks to be resolved. Can you please close this issue?

[2019-07-12 21:41] MRTX3100 opened #9924 "az disk delete"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk delete`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill

[2019-07-12 23:39] AgSync-Aaron opened #9926 "Unable to pass multiple instance IDs into --instance-ids parameter"
[code]
Your documentation says
&gt; Space-separated list of IDs (ex: 1 2 3 ...) or * for all instances.

Can you please provide an example of how to pass multiple instance IDs into the parameter `--instance-ids`?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-7b93-e09121602b75
* Version Indep

[2019-07-12 23:41] #8994 closed

[2019-07-12 23:48] AgSync-Aaron commented on #9926
🤦🏻‍♂️ it doesn't like the `=` sign
[code]

[2019-07-13 00:45] #9926 closed

[2019-07-13 22:11] seanmck commented on #9908
Duplicate of #9907

[2019-07-13 22:11] #9908 closed

[2019-07-13 22:13] seanmck commented on #9907
Duplicate of #9897

[2019-07-13 22:13] #9907 closed

[2019-07-14 03:13] ImmutableVector commented on #2386
Very new to all of this. Can anyone tell me how I use **ssh-keygen -i -f existing_key.pub > formatted_key.pub**?

I don't understand the work around. I am very new to all of this and trying to follow a tutorial on aks and they didn't have this problem.

[2019-07-14 04:11] yugangw-msft commented on #8649
@ranokarno, you can consider `az rest` meanwhile

[2019-07-14 04:22] yugangw-msft commented on #9912
CC: @zikalino

[2019-07-14 07:08] seanmck commented on #9897
Duplicate of #7686

[2019-07-14 07:08] #9897 closed

[2019-07-14 07:09] seanmck commented on #9842
Duplicate of #7686

[2019-07-14 07:09] #9842 closed

[2019-07-14 07:09] seanmck commented on #9805
Duplicate of #7686

[2019-07-14 07:09] #9805 closed

[2019-07-14 07:10] seanmck commented on #9754
Duplicate of #7686

[2019-07-14 07:10] #9754 closed

[2019-07-14 07:10] seanmck commented on #9691
Duplicate of #7686

[2019-07-14 07:10] #9691 closed

[2019-07-14 07:11] seanmck commented on #9626
Duplicate of #7686

[2019-07-14 07:11] #9626 closed

[2019-07-14 07:11] seanmck commented on #9582
Duplicate of #7686

[2019-07-14 07:11] #9582 closed

[2019-07-14 07:11] seanmck commented on #9543
Duplicate of #7686

[2019-07-14 07:11] #9543 closed

[2019-07-14 07:12] seanmck commented on #9500
Duplicate of #7686

[2019-07-14 07:12] #9500 closed

[2019-07-14 07:12] seanmck commented on #9452
Duplicate of #7686

[2019-07-14 07:12] #9452 closed

[2019-07-14 07:13] seanmck commented on #9425
Duplicate of #7686

[2019-07-14 07:13] #9425 closed

[2019-07-14 07:13] seanmck commented on #9285
Duplicate of #7686

[2019-07-14 07:13] #9285 closed

[2019-07-14 07:13] seanmck commented on #9144
Duplicate of #7686

[2019-07-14 07:13] #9144 closed

[2019-07-14 07:14] seanmck commented on #9000
Duplicate of #7686

[2019-07-14 07:14] #9000 closed

[2019-07-14 15:20] ranokarno commented on #8649
thanks @yugangw-msft ,
I am using rest-api for automatic tuning requirement.

[2019-07-14 15:25] sbonds commented on #5403
For those interested in a programmatic alternative while the CLI is improved, there is an ARM template based method that can work: https://stackoverflow.com/questions/52635285/how-to-deploy-update-management-to-azure-resources-the-programmatic-way

[2019-07-14 21:50] diepes commented on #8099
We just discovered the same issue, with uploading pem files.

[2019-07-15 01:13] yugangw-msft commented on #9250
The related API is missing in the [spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json). Before it gets fixed, you can use `az rest`. A bit more detail is needed from this command; otherwise it is just like other ones:
[code]

[2019-07-15 02:40] yugangw-msft commented on #9910
`AADSTS9002313` is an authentication error, and more likely happened when CLI used the refresh token to exchange for a new access token. This is likely a transient error. @jongio, can you try again? Like the PR called out by the @tjprescott, `create-for-rbac` is idempotent, and should not report an error for conflicting with an existing app.
If this error persists, please run with `--debug` and se

[2019-07-15 02:58] yugangw-msft commented on #9898
@kylepeters, are you behind a proxy? To get unblocked, please try the [tips](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) here. If you don't think you are behind a proxy, please run with `--debug` and send the trace to me: yugangw at microsoft dot com

[2019-07-15 03:36] seanmck commented on #9572
No clear repro. Please reopen if you have one.

[2019-07-15 03:36] #9572 closed

[2019-07-15 03:54] seanmck commented on #9553
Fixed by #9434

[2019-07-15 03:54] #9553 closed

[2019-07-15 03:59] seanmck commented on #1149
I've created a PR for updating ARM tags in our preview extension:

https://github.com/Azure/azure-cli-extensions/pull/851

Assuming that looks good, I will submit the same for the mainline CLI. It's not clear what else is required for this issue, so closing in favor of the tag-specific issue, pending more details.

[2019-07-15 04:01] seanmck commented on #6978
Closing since `install-connector` was a temporary solution that will disappear once virtual nodes are ubiquitous.

[2019-07-15 04:01] #6978 closed

[2019-07-15 04:03] seanmck commented on #8074
Closing pending repro.

[2019-07-15 04:03] #8074 closed

[2019-07-15 04:39] limingu commented on #9890
This seems be more likely network connection issue. @Makabata, can you reproduce the issue with --debug in the command? Thanks.

[2019-07-15 06:32] yugangw-msft opened #9929 "sto"
**Resource Provider**
What is the Azure resource provider your feature is part of?

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

**Minimum API Version Required**
What is the minimum API version of your service required to implement your feature?

**Swagger Link**
Provide a link to

[2019-07-15 06:32] yugangw-msft commented on #9929
mis-typed.

[2019-07-15 06:32] #9929 closed

[2019-07-15 07:13] limingu commented on #9836
@samuda2019 , try the command as 'az storage blob download --container-name {} --output {} --account-name {} --name {} --file {}'.

Reomve the sas-token parameter to see if it works. Let me know if that works for you. Thanks.

[2019-07-15 07:42] robo-tec commented on #7561
I am having same problem

`robo@DESKTOP-BSU1TK0:~$ az container restart --name xxxxx --resource-group xxxxx
The command failed with an unexpected error. Here is the traceback:

Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/xxxxx-xxxxx-xxxxx-xxxxx-xxxxx/resourceGroups/xxxxx/providers/Microsoft.Contai

[2019-07-15 07:49] sscchh2001 opened #9931 "az ad app create --native-app not working in Azure China."
Error message: **Property identifierUris value is required but is empty or missing.**

Error message: **'--identifier-uris' is not required for creating a native application**

If I remove --native-app, the command would work, but I will have to modify the application type to default in AAD portal.

Only latest CLI version 2.0.68 has this issue in both Linux and Windows, but I could not reproduce

[2019-07-15 07:55] caoh commented on #9920
No command works anymore. I was trying to use az aks, but az login stopped working altogether. I've already tried uninstall and reinstalling both Python and azure-cli.

[2019-07-15 08:18] samangh commented on #3447
It's worth noting that this is is not a good work around, because:

- the amount data that can be passed over is limited to how much free space is available on the hard disk (which is not note the case when using pipes);
- this causes significant I/O activity on the hard disk, which obviously slows things down

[2019-07-15 09:58] BevanG commented on #9840
Can I please have an update on this bug?

[2019-07-15 11:30] andreivirgiltudor opened #9933 "az ad sp create-for-rbac failes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --role={} --name={} --scopes={}`

## E

[2019-07-15 12:38] smereczynski commented on #9486
This bug is more than annoying. :)

[2019-07-15 12:42] bulkware opened #9934 "How to provide cloud_roleName when retrieving metrics"
Hello,

I am trying to set the cloud_roleName while retrieving metrics using the Azure CLI. I have tried several ways and here is an example:

[code]

The result is "Metric: performanceCounters/memoryAvailableBytes does not support requested dimension combination: cloud/rolename, supported ones are: cloud/roleInstance".

Is this even possible to set using the Azure CLI?

Thanks in advance =)

[2019-07-15 14:11] kylepeters commented on #9898
Unblocking the proxy by [temporarily] setting an AZURE_CLI_DISABLE_CONNECTION_VERIFICATION environment variable worked. I will have to work with our infrastructure guys to set the REQUESTS_CA_BUNDLE to the file path of the proxy server's certificate....if we even have one, and if they know where to find it.  Thank you for the assist - much appreciated.

[2019-07-15 14:35] jannikbuschke commented on #7925
**Im currently also facing issues with adding permissions via azure cli.
A solution that requires clicking in a portal is not at all how software releases should be done today.**

In my specific case I execute
`az ad app permission add --id <app-id> --api 00000002-0000-0000-c000-000000000000 --api-permissions 311a71cc-e848-46a1-bdf8-97ff7156d8e6=Scope`

CLI responds:
`Invoking "az ad app permissio

[2019-07-15 15:09] tjprescott commented on #9916
Yes, this is occurring because you have a default location set. It is using the default location and applying it as a filter, which cannot be used in conjunction with `--tag`.

[2019-07-15 15:11] tjprescott commented on #9916
The workaround would be to unset your default location before running the command. The validation should be updated to ignore location if it is simply set by the default.

[2019-07-15 15:27] #7931 closed

[2019-07-15 15:28] tjprescott commented on #9924
I belive this issue has been fixed. Please update your CLI. If the issue recurs, please reopen.

[2019-07-15 15:28] #9924 closed

[2019-07-15 15:55] tjprescott commented on #1149
The issue is very specifically referencing this:
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#generic-update-commands

[2019-07-15 16:40] jwoehrle commented on #7925
I couldn't agree more... Hope this gets added soon... how are you supposed to script anything with this approach and do any infrastructure as code?

[2019-07-15 17:08] #7686 closed

[2019-07-15 18:35] btardif commented on #9720
This is work in progress and should be checked in current sprint.

[2019-07-15 18:36] btardif commented on #9721
This is work in progress and should be checked in current sprint.

[2019-07-15 18:37] btardif commented on #9792
@panchagnula assigned this to you for current sprint, can you take a look?

[2019-07-15 19:37] btardif commented on #9677
This is a dupe of #9804

[2019-07-15 19:37] #9677 closed

[2019-07-15 19:40] btardif commented on #9804
We are reviewing design for SSL/TLS related features.

[2019-07-15 19:43] btardif commented on #9914
@panchagnula can you take a look at this one

[2019-07-15 19:45] btardif commented on #9860
@panchagnula please review this item

[2019-07-15 19:47] jannikbuschke commented on #7925
@davidtom **the ids for permissions as well as apis are the same in each tenant** (as of today, this might change in the future). However so far I have not found any official document about this. So you should be careful.

There are some blogposts about these values, but nothing really that suites the importance of this topic.

As of today I would also recommend to check the guids in the manifest

[2019-07-15 19:52] AntoineGagne opened #9937 "Are parameters supported for script loaded from a file?"
I have been trying to pass parameters to a script loaded from a file to no avail. Is this a supported use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b196d-7d11-7213-f037-f12b85b19c52
* Version Independent ID: adc05d8e-b13b-134b-5f61-42aaf23666df
* Content: [az vm run-command](https://docs.microsoft.com/en-

[2019-07-15 19:56] MRTX3100 commented on #9924
Confirming that AFTER updating the CLI, I was successfully able to delete the disks. Thank you.

[2019-07-15 20:10] btardif commented on #9887
I think we understand the fix that is needed here.

We need to add the --identities parameter and an enum to list [System|User]

[2019-07-15 20:46] tjprescott commented on #3589
Essentially, while this issue is legitimate, no customers have complained about this behavior. Given the engineering cost involved, I am closing this issue.

[2019-07-15 20:46] #3589 closed

[2019-07-15 21:48] panchagnula commented on #6956
Closing this  due to lack of response on this issue.

[2019-07-15 21:48] #6956 closed

[2019-07-15 21:49] panchagnula commented on #7565
Closing this with the suggestion provided & since we haven't heard anything on this yet.

[2019-07-15 21:49] #7565 closed

[2019-07-15 21:55] panchagnula commented on #5330
@btardif can you comment on this one? Thank you.

[2019-07-15 22:00] btardif commented on #5330
Closing this issue as obsolete for lack of activity.

[2019-07-15 22:00] #5330 closed

[2019-07-15 22:13] panchagnula commented on #9787
Closing this since for up we don't have plans to support overriding this - please use az webapp create command for now. Thank you.

[2019-07-15 22:13] #9787 closed

[2019-07-15 22:15] panchagnula commented on #6155
@yugangw-msft do we need this to be active? Do we plan on removing this soon? Thank you.

[2019-07-15 22:22] panchagnula commented on #9707
@patricklee2 do you have an update on this  still targeting Sprint 66?

[2019-07-15 22:51] tjprescott commented on #6155
Should remain active until `--ids` is removed or deprecated on that command.

[2019-07-15 22:53] panchagnula commented on #6155
thanks @tjprescott is this something we are planning for to be removed in the upcoming release?

[2019-07-15 23:09] panchagnula commented on #6155
@tjprescott i am mainly asking is because this is oldish issue & its currently tagged as 'Service Attention'  but still assigned to Yugang. If this is something our team should work would be happy to take care of it. Thank you.

[2019-07-15 23:14] fredxfred commented on #7889
I am running into the same issue, but with parameters set to generate a cert rather than supplying one that already exists. In fact I was just following a tutorial... https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-containers-linux

[2019-07-15 23:24] docgregt commented on #9804
If you are reviewing it then it would be nice to handle *.domain.com. We have star cert so we are half way there.
Right now for multiclient situation we have to add each domain name 1 at a time. Such as:
a.domain.com
b.domain.com
c.domain.com

etc.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg

[2019-07-16 00:18] cbrooksmsft opened #9938 "Role names in authorization error messages incorrectly refer to '(Preview)' roles"
**Describe the bug**
error message when accessing azure storage without sufficient permissions guides the user to be assigned to one of the following role names which no longer exist:

**You do not have the required permissions needed to perform this operation.
Depending on your operation, you may need to be assigned one of the following roles:
    "Storage Blob Data Contributor (Preview)"
    "St

[2019-07-16 01:41] yugangw-msft commented on #9898
@kylepeters, good to know you are unblocked. Since this is related with the proxy server in your work space, not a CLI specific issue, I am closing this.

[2019-07-16 01:41] #9898 closed

[2019-07-16 02:06] panchagnula commented on #7131
This is an API level change that needs to happen & our API team is aware of it - this will automatically work when the API is updated.We don't have intentions of making these changes in CLI directly. Thanks!

[2019-07-16 02:06] #7131 closed

[2019-07-16 02:09] panchagnula commented on #2347
Closing this since this not something planned.

[2019-07-16 02:09] #2347 closed

[2019-07-16 03:26] kylepeters commented on #9898
Understood. But hey thanks for pointing me to the solution!

Sincerely,

Kyle Peters

[2019-07-16 08:05] karataliu opened #9942 "az ad app permission admin-consent for sovereign cloud"
**Is your feature request related to a problem? Please describe.**
https://github.com/Azure/azure-cli/blob/98007ca07ce625990ad79a9941c99221ba454e1f/src/azure-cli/azure/cli/command_modules/role/custom.py#L875

**Describe the solution you'd like**
Support `az ad app permission admin-consent` in sovereign cloud

**Describe alternatives you've considered**

**Additional context**

[2019-07-16 08:23] yugangw-msft opened #9943 "vmss create: remove client end defaulting logic on --single-placement-group"
CRP will make service end change so to default to False

[2019-07-16 09:27] Lujoel commented on #9486
`az ad sp list --query "[?contains(objectId, 'b020932b-b2df-43ed-9c9f-27b7e91af5ad')].servicePrincipalNames" --output tsv --all`

And after HOURS, I received this error message:

I tried also with the `to_string` but happens the same...

Any solution or workaround?

[2019-07-16 11:45] TheChadR opened #9944 "Azure CLI Example missing content"
Hi
The Azure CLi example is missing some content in the following location:
https://docs.microsoft.com/en-us/cli/azure/role/definition?view=azure-cli-latest#examples

When run through CloudShell, the example fails as it is missing `*` under actions and should look like the below:

[code]

Thanks
Chad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-07-16 12:10] skjensen opened #9945 "Unexpected error when selecting a region where Linux Consumption plan isn't available"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
Attempt to create a function app from the command line and select one of the areas there still doesn't have th

[2019-07-16 12:51] caoh commented on #9920
I had to go and delete the ~/.azure/accessTokens.json to get things to work again. Regardless, it isn't a problem that occurs in my opinion.

[2019-07-16 14:24] Magn3s1um commented on #9034
You can circumnavigate this by using the ApplicationId of your application as the ServicePrincipalName parameter.  Confusing?  Yes.

[2019-07-16 15:05] mattsmall1972 commented on #9034
That's not a valid workaround.  Your suggestion does not fix the issue as the value of the ApplicationId is required for OBO tokens.

[2019-07-16 15:15] diegoitaliait commented on #8010
Hi,

Is there an approximate date for the new API?

[2019-07-16 15:48] tjprescott commented on #6155
@yugangw-msft are usages low enough to remove this?  If not, we (or they) should move forward with deprecating `--ids` on this command. That would be the best step to drive down usage.

[2019-07-16 15:49] tjprescott commented on #6155
@panchagnula if you guys wanted to take this up I don't think it would be a problem.
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#deprecating-commands-and-arguments

[2019-07-16 16:23] Lewis-Kelley opened #9947 "`az webapp config ssl upload` dumps stack trace when it can't find the web app"
**Describe the bug**
Running `az webapp config ssl upload` dumps a stack trace when it can't find the described web app. For details, see the full dump below.

**To Reproduce**
1. Create a `.pfx` certificate with a password. Mine was self-signed, though I doubt it matters.
2. `az login`
3. `az webapp config ssl upload --certificate-file <cert>.pfx --certificate-password <secret> --resource-group <

[2019-07-16 17:30] marstr commented on #9920
It seems it was your cache getting invalidated that caused this issue. We're working on re-writing the way our caching mechanism works all together, so I'm going to close this issue out. Sorry you ran into this trouble!

[2019-07-16 17:30] #9920 closed

[2019-07-16 17:30] elilienstein opened #9948 "'az storage container create' required '--connection-string'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Couldn't create storage (az storage container create -n MyStorageContainer)
without adding the --connection-string in quotes although I did set  AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY environment variables as indicated in the error message below and  [documentation](https://docs.microsoft.com/en-us/cli/azu

[2019-07-16 17:42] patricklee2 commented on #9707
I didnt get a chance to look at it yet. I'll work on it this week.

[2019-07-16 17:48] marstr opened #9949 "Publish Edge Python Packages"
Today we have edge builds published by this [ADO release pipeline](https://dev.azure.com/azure-sdk/internal/_release?view=all&definitionId=56). Note, it builds and uploads a Windows Installer (*.msi), and a homebrew manifest.

We should extend this to include publishing a tarball and wheels to a simple PEP 503 repository. We have done this in the past, but migrating this process to ADO was not a p

[2019-07-16 17:49] stuartahonour commented on #7746
I have the same issue  Spoke01-vnet  &  Hub01-vnet  are in different resorce groups so what would the syntax be for Hub01-vnet

az network vnet peering create -g Spoke01-vnet-rg -n Spoke01-vnetToHub01-vnet --vnet-name Spoke01-vnet --remote-vnet Hub01-vnet --allow-vnet-access --subscription xxxxxxxx-xxxxxxxxx-xxxxxxxxxxxxxxxx

[2019-07-16 17:59] #8004 closed

[2019-07-16 18:00] ahmedelnably commented on #8713
this is out in 2.0.68

[2019-07-16 18:00] #8713 closed

[2019-07-16 18:01] panchagnula commented on #9947
@Lewis-Kelley thanks for the feedback, yes we do need some good error handling here. Will look into this. In general if you run the command with --debug flag, you *might* some useful info here.

[2019-07-16 18:15] nshenoy commented on #8827
I just ran into this today. My certificate password has a `?` in it. When trying to import via the Azure portal, the error I get is `Pkcs12 value is invalid.`. When trying to use the azure-cli (version 2.0.67), I get `We could not parse the provided certificate as .pem or .pfx. Please verify the certificate with OpenSSL.`.  I also tried to escape the `?` with `^?` and same error.

[2019-07-16 18:19] dlepow opened #9952 "az acr pack build command fails: "The command failed with an unexpected error""
**Describe the bug**
Unable to build/push images with `az acr pack build` command as of CLI version 2.0.68.

**To Reproduce**
Run the following command, essentially the same one prompted as an online help example:

[code]

Command error returned:

[code]
**Expected behavior**
Command successfully builds and pushes image `node-app:<runID>` to my registry

**Environment summary**
CLI installed on Ma

[2019-07-16 18:22] #9018 closed

[2019-07-16 18:40] ehotinger commented on #9952
@jaysterp is looking

[2019-07-16 18:47] sajayantony commented on #9557
This being tracked https://github.com/Azure/acr/issues/254

[2019-07-16 18:51] ahmedelnably commented on #9621
This is out with 2.0.68

[2019-07-16 18:51] #9621 closed

[2019-07-16 18:51] sajayantony commented on #9680
@tjprescott - Could you please assign this to @hkuadithya

[2019-07-16 18:52] ahmedelnably commented on #7861
Dupe of https://github.com/Azure/azure-cli/issues/9840
PR is already out. Closing this

[2019-07-16 18:52] #7861 closed

[2019-07-16 19:00] LinoRS commented on #8827
Yeah, you will need to export it again with MMC-snapin-cert and then make sure the password has no special characters in it, and then attempt the import into Azure it will work... ;-)

[2019-07-16 19:07] ahmedelnably commented on #8191
@jaycle do you still have the same issue with the latest version of the CLI?

[2019-07-16 19:36] divgo commented on #6310
the following worked for me locally.

`az storage file upload-batch --account-name [StorageAccountName] --destination [ShareName] --source . --pattern *`

When I tried to run it from Azure DevOps though it broke. It was running on a Linux Build Agent. I changed the script to the following command, and this also worked.

`az storage file upload-batch --account-name [StorageAccountName] --destinatio

[2019-07-16 19:43] ericchansen opened #9954 "Add trusted origin to direct line channel without using Azure portal"
**Is your feature request related to a problem? Please describe.**

I need to be able to stand up a bot and the associated web page from an Azure DevOps pipeline. The Azure portal can't be used at all during this process.

I am able to add a direct line channel to the bot `az bot directline create ...`, but I'm unable to add a trusted origin.

**Describe the solution you'd like**

I should be able

[2019-07-16 20:06] nickwalkmsft opened #9955 "`az webapp up` does not target existing web apps as expected"
**Describe the bug**
`az webapp up` does not behave as expected when attempting to target an existing web app for deployment.

**To Reproduce**
Target an existing web app with `--name` and `--resource-group`, which are enough to disambiguate/fully specify in most `az` commands. The command will find the resource group, but will then create a new App Service plan without checking to see if the app

[2019-07-16 20:43] btardif commented on #7261
@panchagnula and @Nking92 I think this item has enough traction that we need to have some sort of design figure out as well as costing and review where it fits in the backlog.

[2019-07-16 21:03] swbae31 commented on #9923
Issue resolved

[2019-07-16 21:03] #9923 closed

[2019-07-16 21:19] adewaleo commented on #9923
For context, I think there might have been a typo in the script.

I was unable to reproduce the behavior with a correct test.sh script on bash or powershell. However, when I tried `echo $!` instead of `echo $1`, the parameter was not written to stdout on the vm.

[2019-07-16 23:35] panchagnula commented on #9955
@nickwalkmsft - the problem is that we need the ASP name to target the app - try to use the command with --plan parameter as well for now. Have an item on my plate to make this experience better.

[2019-07-16 23:41] panchagnula commented on #7261
@Nking92 is already looking at this along with the container up work he is doing.

[2019-07-17 01:19] forester123 commented on #9931
Anyone look at this issue?

[2019-07-17 03:15] Juliehzl commented on #9948
Can you use ```printenv AZURE_STORAGE_ACCOUNT``` and ```printenv AZURE_STORAGE_KEY``` to show the value for AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY?

[2019-07-17 03:23] Juliehzl commented on #9938
Can you show your exact command here?  And you can append your command with ```--debug``` to see more information for the command event.

[2019-07-17 05:29] patricklee2 commented on #9707
@carlwoodhouse
I was not able to reproduce the problem, do you have more details steps for a reproduction?

My steps
[code]

[2019-07-17 05:56] adewaleo commented on #9399
Hey @ElvenSpellmaker can you try running pip install -r [requirements.py3.windows.txt](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py3.windows.txt), but remove [psutil's](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py3.windows.txt#L104) dependency from the file beforehand.

This should be a work around for cygwin. Psutil is only used in feedbac

[2019-07-17 06:00] jongio opened #9958 "az still available after uninstall"
**Describe the bug**
A clear and concise description of what the bug is.

CLI wouldn't update to latest version 2.0.66 on Windows using the installer.

I uninstalled via CLI but it still worked in terminal.

I had to manually remove the following files:

![image](https://user-images.githubusercontent.com/2163001/61350715-5d0a8800-a81d-11e9-82c1-c9ed5f3cc29e.png)

Then it didn't work.

Then I reins

[2019-07-17 06:15] jongio commented on #9910
Now getting this, which is expected behavior. Closing as transient.

[code]

[2019-07-17 06:15] #9910 closed

[2019-07-17 06:45] MyronFanQiu commented on #9845
@adammodlin Hello, I checked the code. Now, If you provide the resource id of the vm, it doesn't need the `resource_group_name`. If you provide the name of the vm, it need the `resource_group_name`. The help information is a little bit unclear for now. Besides, I want to have a discussion about how to deal with such question? @tjprescott Is there any way like `required_if` to solve the dependency

[2019-07-17 06:52] MyronFanQiu commented on #9844
@adammodlin Hello, could you share the content of the `local` field you are setting? It should be something like `x.x.x.x:port`. If you don't have `:` in the `local`, it will fail. If this is the situation you met, I will make the code more robust and throw out useful error message. If not, let us figure out what's the root cause together.

[2019-07-17 08:57] dakshsrivastava commented on #1520
I prefer ```az account list-locations --query "[].{DisplayName:displayName, Name:name}" -o table```. There's really no need to pair it up with latlong values.
[code]

[2019-07-17 09:00] jimmythedog opened #9959 "Trying to download a snapshot version of a file share fails with ResourceNotFound"
## Describe the bug

**Command Name**
`az storage file download-batch ... --source [SHARE_NAME] --destination [DEST_DIR] --snapshot [SNAPSHOT]`

**Errors:**
[code]

## To Reproduce:
- Create a snapshot of the share
- Create a new file in the share (so, the file does **not** exist in the snapshot)
- `az storage file download-batch --account-name {} --account-key {} --source {} --destination {} --no

[2019-07-17 09:18] aarontrowell opened #9960 "Error using az keyvault create"
Running az keyvault create --name  absneukeyd001-tes --resource-group abs-development-rg --location NorthEurope throws an exception below when running in Azure Cloud Shell

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite ste

[2019-07-17 09:31] axelwogawa commented on #9867
Thanks for your help!

I found out, that via `az resource create` it also works (despite another error message). I prefer the `az` way, because it doesn't require that access token stuff...

So I'm going to report another problem I found, because I'm not sure whether it's related to my original post. If not, I can also create a new issue later.

I'm doing
`az resource create -g testgroup -n "testb

[2019-07-17 09:50] #9960 closed

[2019-07-17 11:15] jimmythedog opened #9961 "storage file share download-batch with snapshot is missing files"
## Describe the bug

If a file is subsequently deleted **after** creating the snapshot, it will **not** be downloaded when using the `--snapshot` argument in the `az storage file download-batch` command

**Command Name**
`az storage file download-batch ... --source [SHARE_NAME] --destination [DEST_DIR] --snapshot [SNAPSHOT]`

**Errors:**

## To Reproduce:

- Create a file in the file share
- Creat

[2019-07-17 12:40] benktesh commented on #3445
@rondemena. Thanks much.

[2019-07-17 13:23] jlausuch commented on #9903
It didn't happen with version 2.0.64 actually.

[2019-07-17 13:28] abkasera commented on #8223
I have tested with the metric alert on the Appilcation Gateway and updated it from the cli. It is working fine now. I'm using cli version(2.0.69)
CLI Command: az monitor metrics alert update  --name testgateway --resource-group ABKASERA-RG --description abcxyz --debug

Response payload:
{
  "actions": [
    {
      "actionGroupId": "/subscriptions/a2d51762-a47c-4358-9048-e04041599027/resourcegroup