[2021-02-18 09:40] yungezz commented on #16157
thanks @Bob-RH , is it ok to close the issue now?

[2021-02-18 09:41] yungezz commented on #16120
hi @smartpcr any update on this?

[2021-02-18 09:42] yungezz commented on #16075
hi @darhasubrahmanyam close the issue for now, feel free to create new one if any other error met.

[2021-02-18 09:42] #16075 closed

[2021-02-18 09:42] #16053 closed

[2021-02-18 09:49] vivaladan commented on #12135
I realise this is closed, and you can always supply the --os-type Linux arg to work around it, but it doesn't work like I'd expect it to. First time az webapp up is performed (given optional parameters) it'll write it's state to the .azure/config file. However it doesn't write the os-type of the new or existing app service. If it were to, then it could deploy to Linux just fine without having the

[2021-02-18 09:59] yonzhan commented on #16972
network

[2021-02-18 10:00] VishmayShah commented on #10500
I got the same issue but it was solved when i retryed!

[2021-02-18 10:50] ashishkarnad opened #16973 "issue in executing az cli commands after az cli upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob sync -c {} --verbose --account-name {} --account-ke

[2021-02-18 10:57] yonzhan commented on #16973
storage

[2021-02-18 11:22] ashishkarnad commented on #16973
this is  a production VM and i followed https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install az cli but i encountered above issues. i tried to downgrade the az cli to 1.8 referring to https://github.com/Azure/azure-cli/issues/16908

but am not able to downgrade either

[2021-02-18 11:34] nishantsondhi16 commented on #12213
https://medium.com/@sondhi.nishant/azure-activity-logs-eventhub-using-arm-template-295147558cfd

[2021-02-18 11:36] yonzhan commented on #16914
Compute

[2021-02-18 11:37] nishantsondhi16 commented on #12213
https://medium.com/@sondhi.nishant/azure-activity-logs-eventhub-using-arm-template-295147558cfd

[2021-02-18 12:48] clfilipe commented on #16940
Hello Team,

Do we have any updates on this issue? https://github.com/Azure/azure-cli/issues/16940

Thanks,

Cláudia Filipe
Support Engineer - Customer Service and Support
EMEA Cloud Identity POD Support
Office: +351 (21) 0602345 | 9:00 - 18:00 (UTC)
[cid:image001.gif@01D705F4.0E8427A0]

From: yonzhan <notifications@github.com>
Sent: 16 de fevereiro de 2021 01:20
To: Azure/azure-cli <azure-cli@nor

[2021-02-18 12:58] patrickheinzelmann commented on #16950
I remove the subscription parameter and it worked!

[2021-02-18 13:20] Peter2021Devops opened #16975 "The syntax of the command is incorrect: Creating work item with html in description"
Hello,
I want to "clone" some tasks. Therefore I read a task with command
az boards work-item show --id <myTaskId> --org <myProject>

in the returned object I got the description of the card in field "System.Description"

It seems, that every text in microsoft devops (dev.azure.com) is include into DIV tag.
So for my card with description text 'test', I got back:
"System.Description": "<div>test</

[2021-02-18 13:20] yungezz commented on #16975
route to appropriate team

[2021-02-18 14:16] serxansherif opened #16976 "Remove VM NIC from Azure Load Balancer backend pool"
I can't remove VM NIC from the Azure Load Balancer backend pool via Az CLI. I get the following error.
![image](https://user-images.githubusercontent.com/53265420/108369776-004b2c80-720d-11eb-8867-0e8b1cf75e57.png)
Could you help me to solve the issue?

[2021-02-18 14:22] mildsar commented on #12369
Still no fix? That is really annoying

[2021-02-18 14:32] gahl-levy opened #16977 "Azure Cosmos DB API for MongoDB 4.0 Updates"
We'll need to update the CLI for the new supported ServerVersion: 4.0

[2021-02-18 14:49] Peter2021Devops opened #16978 "not possible to clone tasks with special characters like german umlaut (encoding problem)"
if I have tasks with german umlaut in field description and I read this task with az cli, I got wrong encoded characters. If I try to use these characters to create a new task, the content of the new task is also wrong

**Steps to reproduce**
1. create a work item in azure devops and add in the description field the following content "öäü"
2. save the work item and remember the id the new work ite

[2021-02-18 14:59] Bob-RH commented on #16157
Yes, it does.  Thanks!!

From: Yunge Zhu <notifications@github.com>
Sent: Thursday, February 18, 2021 1:41 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Brown, Bob (HQP) <Bob.Brown@roberthalf.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Documentation for az vm run-command is out of date and incomplete (#16157)

thanks @Bob-RH<https://nam02.safelinks.protect

[2021-02-18 15:04] robs commented on #15907
Hiya,

Hmm, I was on 2.11.1 so I guess that may have been it.
I rather stupidly upgraded before checking to see if I could repro it.

Can you see Get, List and Import as selected in the portal UI for that access policy?

[2021-02-18 15:06] mvervoort commented on #14880
This is a blocking issue at ASML where app-registrations are created using Infrastructure-as-code in pipelines.
Perhaps a possible solution could be to allow to add "(spa)" or "(web)" after each reply-url, where "web" is the default.

[2021-02-18 16:07] gt3M commented on #16891
This bug has just started to have a large blast radius for those of us with Azure DevOps pipelines containing Azure CLI steps that are configured with "Fail on standard error". As DevOps agents with this new version of Azure CLI are deployed, such pipelines are now failing. I implore the developers to get a fix out quickly and for this to be communicated to those at Microsoft maintaining DevOps ag

[2021-02-18 16:20] ChristianUlbrich commented on #16908
So it looks like _now_ `azure-cli`@**2.19.1** has also been deployed to `ubuntu-latest`, thus not only breaking all builds based on hosted `windows-latest` but hosted `ubuntu-latest` as well. :(

[2021-02-18 16:20] yonzhan commented on #16976
network

[2021-02-18 16:21] yonzhan commented on #16977
Cosmos

[2021-02-18 16:22] yonzhan commented on #16978
devops

[2021-02-18 16:36] chadburrus opened #16979 "`az storage container create` fails when providing storage container metadata"
## Describe the bug
When attempting to use `az storage container create` with the `--metadata` flag, the command fails with a `'list' object has no attribute 'items'` exception.

Running the command without the `--metadata` flag succeeds with no issues.

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values h

[2021-02-18 16:43] darkxeno commented on #16908
Build using the connection string seem to be broken too.

So i discard that as a temporary solution.

`++ az storage account show-connection-string --name xxxxx --query connectionString -o tsv
+ AZURE_STORAGE_CONNECTION_STRING='DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=xxxxx;AccountKey=***'
+ az storage blob sync --connection-string 'DefaultEndpointsProtocol=https;

[2021-02-18 17:04] msha1026 commented on #16881
@evelyn-ys any updates here?

[2021-02-18 17:25] Bessonov commented on #16908
@Juliehzl

Are you sure? For me it seems like the two are unrelated.

[2021-02-18 17:27] tarunngc opened #16980 "Add support for Corporate Proxys that utilzie Kerberos authentication"
**Is your feature request related to a problem? Please describe.**

Az CLI does not support communication with a corporate Proxy which utilizes Kerberos tickets for authentication. The interesting behavior is that az cli is able to authenticate (even though it does not support Kerberos tickets for Proxy auth) to the corporate proxy and intermittently function even though username and password are

[2021-02-18 17:38] tarunngc opened #16981 "Add support to store proxy credentials in Windows Credentials Manager"
**Is your feature request related to a problem? Please describe.**

Currently, az cli does not support Kerberos ticket-based authenticaiton to a Proxy. The only documented way to have az cli authenticate out through a corporate proxy is to in **plaintext hardcode the username and password along with the proxy URL in the `HTTP_PROXY` and `HTTPS_PROXY` env variables**. This is insecure and not best

[2021-02-18 18:04] hetii opened #16982 "az resource update tag: Missing required property: aadProfile. Paths in payload: '$.properties.aadProfile'"
Hello

I play with az to attach ARC enabled Kubernetes to insights.
in short when I add tag by:

`az resource update --set tags.logAnalyticsWorkspaceResourceId=$workspaceResourceId -g arc-cluster-rg -n arc-cluster --resource-type "Microsoft.Kubernetes/connectedClusters"`

The tag is added but it seam that below object
`
"aadProfile": {
    "clientAppId": "",
    "serverAppId": "",
    "tenantId":

[2021-02-18 18:25] eazykiel commented on #15010
hi, same issue here. It seems that if you try to move the resource somewhere else you can see that there still a linked vnet (even though its not currently visible). The only solution i found so far is to wait.....and retry and wait.

[2021-02-18 18:51] vladris commented on #16646
Hey @fengzhou-msft, any news on this?

[2021-02-18 19:58] Monte-Christo opened #16984 "az aks install-cli results in Error 13"
### **This is autogenerated. Please review and update as needed.**

Created an AKS with

`az aks create -g ek-k8s -n ekclust --node-count 1 --enable-addons monitoring --generate-ssh-keys`

then tried to install kubectl with

`az aks install-cli --install-location=./kubectl`

and got below error.

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beh

[2021-02-18 20:00] imihalcea opened #16985 "Azure CLI - Iot Hub list command fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Environment Summary
[code]
##

[2021-02-18 20:42] V4A001 commented on #16926
Good suggestion to construct it. Did not think about it as I retrieved principals on existence.\ with az show etc.

[2021-02-18 20:42] #16926 closed

[2021-02-18 21:37] djr1991 opened #16986 "Azure Firewall DNAT rule is not created"
**Describe the bug**
Command Name
az network firewall nat-rule create Extension Name: azure-firewall. Version: 0.9.0.

Errors:

BadRequestError: AzureFirewallRule SpringCloudIngressDNAT: Invalid IP address value or range or Service Tag clouddrive.

**To Reproduce**
az network firewall nat-rule create --collection-name {} --destination-ports {} --firewall-name {} --name {} --protocols {} --translat

[2021-02-18 21:49] MehaKaushik commented on #16950
@yonzhan an error should be thrown here that subscription is not valid param. Can you help figure out why that did not happen.

[2021-02-18 22:27] singankit commented on #16880
Hopefully pinning cryptography package to an older version <3.3.2 should help.

[2021-02-18 22:27] benlavender opened #16987 "Console clearing on command input."
I cannot see a way to stop the terminal from clearing once a command is entered in the documentation or the `az configure` command.

Is this possible right now?

Thanks

[2021-02-18 23:20] xuto2 commented on #16628
@qwordy  I have the same ask here - is it possible to expedite the fix?

[2021-02-18 23:26] hemantkr commented on #16842
The following doc confirms this can be done:
https://docs.microsoft.com/en-us/azure/aks/concepts-network#azure-virtual-networks
![image](https://user-images.githubusercontent.com/5783237/108435086-9c6d3780-71fd-11eb-9dfd-7c1710afabc1.png)

[2021-02-18 23:58] Drewm3 commented on #11767
This appears to be a combination of some data corruption on the image metadata list as well as a bug in the APIs where the problem publishers are being returned. The dev team is investigating the issue and we'll update this thread as more details are known.

[2021-02-19 00:19] mikeysteele commented on #16920
This used to work in version 2.18 of the CLI.

[2021-02-19 00:28] swagatmishra2007 commented on #16659
that might be existing behavior ..i will bring it up for investigation and a possible fix

[2021-02-19 00:33] yonzhan commented on #16979
storage

[2021-02-19 00:35] yonzhan commented on #16980
Core

[2021-02-19 00:36] yonzhan commented on #16981
Core

[2021-02-19 00:37] yonzhan commented on #16982
ARM

[2021-02-19 00:42] yonzhan commented on #16984
AKS

[2021-02-19 00:43] yonzhan commented on #16985
iot

[2021-02-19 00:43] rayluo opened #16988 "Better remediation error message when SSH cert cannot be obtained for an unmanaged/non-compliant device"
**Is your feature request related to a problem? Please describe.**

The `az ssh vm ...` feature could potentially fail due to not meeting conditional access requirement. AAD tend to provide a user-friendly "error_description" in the token response. Today, MSAL already exposes the raw error response (which looks like `{"error": "invalid_grant", "error_description": "An end user friendly message her

[2021-02-19 00:49] rayluo opened #16989 "MFA enforcement for SSH"
**Is your feature request related to a problem? Please describe.**
Imagine a scenario that only the Linux VM Sign In resource requires MFA. In such case, the initial "az login" would not trigger MFA, and then the subsequent "az ssh vm ..." attempt would fail and CLI would currently suggest end user to redo "az login". But that would end up in a loop.

This is not a new ask from SSH feature only. I

[2021-02-19 01:01] yonzhan commented on #16987
Config

[2021-02-19 01:05] yonzhan commented on #16986
network

[2021-02-19 01:10] yonzhan commented on #16989
Adding a new optional scope parameter to the initial login

[2021-02-19 01:14] djr1991 commented on #16986
I have resolved the issue. It wouldn’t complete until I put “” around text and up adresses

[2021-02-19 01:14] #16986 closed

[2021-02-19 01:15] benlavender commented on #16987
@yonzhan config? 🤔

_Sent from my Pixel 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2021-02-19 01:39] Juliehzl commented on #16908
They are caused by the same issue. You see some difference because he doesn't login but you login with managed identity. The root cause should be that if you provide connection string or account key, we should not try to get login credential.

[2021-02-19 01:44] Juliehzl commented on #16920
Thanks @mikeysteele feedback! Currently you could use 2.18.0 as a workaround and we will fix it in next version which will be released on 3/2.

[2021-02-19 02:21] jiasli commented on #16987
@benlavender, the above comment is only for issue triage purpose and you may ignore it.

Could you give more information about

1. entered in the documentation
2. the `az configure` command

What is the current behavior you see and what do you expect? Thanks.

[2021-02-19 02:39] qwordy commented on #16891
It will be fixed on 3/2/2021.

[2021-02-19 02:55] yonzhan commented on #16988
SSH

[2021-02-19 03:18] yungezz commented on #16880
there's security issue in cryptography <3.2.2,  https://github.com/pyca/cryptography/blob/main/CHANGELOG.rst#332---2021-02-07. We're working on upgrade crypotography to >=3.2.2

[2021-02-19 03:40] qwordy commented on #11767
I have reproduced the reported issues of both `az vm image list` and `az vm extension image list`.
I fixed `az vm image list` before. I added `try-except` to make it more robust. However, a recent update of Azure Python SDK throws `azure.core.exceptions.ResourceNotFoundError` instead of `msrestazure.azure_exceptions.CloudError`. It is a epochal update from 12.0.0 to 17.0.0. https://pypi.org/projec

[2021-02-19 04:46] Chengjinp commented on #16908
downgraded to azure-cli:2.18.0 and it's works

[2021-02-19 06:11] qwordy commented on #11767
I wrote a PR to fix it.

[2021-02-19 06:40] qwordy commented on #11767
@Drewm3, Potential broken data:
[code]
It fails when fetching offers given a publisher.
APIs are defined here. https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages
Azure CLI code:
[code]
Complete code:
[code]

[2021-02-19 06:54] evelyn-ys commented on #14054
Hi @praveen-pk, this may caused by `azure.multiapi.storage` dependency not found. Maybe you reinstall this package with some wrong version or you uninstall this package accidentally.

I have refined our code(#16993 ) to expose the real exception which is `ModuleNotFoundError: No module named 'azure.multiapi.storage.v2018_11_09'` instead of `AttributeError: 'NoneType' object has no attribute '__nam

[2021-02-19 07:21] brwilkinson commented on #12219
looks like it wants one or the other however not both. . specified in the ARM template.
"type": "SystemAssigned, UserAssigned",     <-- Bad
"type": "SystemAssigned",                            <-- Good
"type": "UserAssigned",                                <-- Good

other azure services accept all 3 options.

[2021-02-19 07:28] MehaKaushik commented on #16842
Tagging AKS team since have more context on this.

[2021-02-19 07:41] miaojiang commented on #10805
@RupengLiu please take a look.

[2021-02-19 07:54] #16872 closed

[2021-02-19 07:56] Juliehzl commented on #16908
There are edge builds with fix available now. Could you try to install edge builds according to https://github.com/Azure/azure-cli#edge-builds and try agin?

[2021-02-19 07:58] Juliehzl commented on #16872
There are edge builds with fix available now. Could you try to install edge builds according to https://github.com/Azure/azure-cli#edge-builds and try again?

[2021-02-19 07:58] Juliehzl commented on #16920
There are edge builds with fix available now. Could you try to install edge builds according to https://github.com/Azure/azure-cli#edge-builds and try again?

[2021-02-19 07:59] Juliehzl commented on #16973
There are edge builds with fix available now. Could you try to install edge builds according to https://github.com/Azure/azure-cli#edge-builds and try again?

[2021-02-19 08:02] Juliehzl commented on #16973
The fix is in dev branch now and will be officially available on 3/2. If you cannot try edge builds or downgrade the version, could you run `az login` with username and password?

[2021-02-19 08:07] xieofxie opened #16994 "`az bot directline update` will overwrite existing ones"
**Describe the bug**

`az bot directline update` will overwrite existing ones

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

From the code here https://github.com/Azure/azure-cli/blob/a89609125772d15a7a39ab2c2a267717c7198d1b/src/azure-cli/azure/cli/command_modules/botservice/channel_operations.py#L33 it only gets siteid from previous configuration, but o

[2021-02-19 08:12] mjudeikis commented on #16963
@danielpenagos Thanks for this! We checked logs and we see some issues with Worker pool Subnet CIRD.
Can you please share you subnet definition here so we can identify code fix? Our code was not able to find CIDR assigned to worker subnet and errored. I dont quite understan how this could happen in the first place.

If you not comfortable sharing vnet/subnet json here, please raise incident with M

[2021-02-19 08:20] #16959 closed

[2021-02-19 08:23] yungezz commented on #16994
route to appropriate team

[2021-02-19 09:20] Juliehzl commented on #16959
There are edge builds with fix available now. Could you try to install edge builds according to https://github.com/Azure/azure-cli#edge-builds and try again?

[2021-02-19 09:31] iamNoah1 opened #16998 "Registering Microsoft.ContainerService hangs in state "Registering""
**Resource Provider**

Microsoft.ContainerService

**Description of Feature or Work Requested**

I am trying to register the Microsoft.ContainerService which worked fine in the past for other subscriptions. But what I see now is, that it is in "Registering" state for more than 10 hours.

[2021-02-19 09:36] darkxeno commented on #16908
For me it doesn't work when using --account-name and --account-key.

[code]

[2021-02-19 09:41] yonzhan commented on #16998
ContainerService

[2021-02-19 09:55] eprokudin commented on #16891
Thanks @qwordy.

My team is experiencing exactly the same problem as @gt3M described with Azure DevOps pipelines failing on standard error.

[2021-02-19 09:58] Juliehzl commented on #16908
It seems you don't install the edge builds I posted. See https://github.com/Azure/azure-cli#edge-builds. Because if you use edge builds, the exception will be raised in L126 as you can see in https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/storage/azcopy/util.py#L126. Could you uninstall previous one and try again?

[2021-02-19 10:03] Juliehzl commented on #16908
Yes, your issue is the same as that one. Could you uninstall your previous CLI and install edge builds according to  https://github.com/Azure/azure-cli#edge-builds? And then your issue should be resolved. Official release will be available on 3/2.

[2021-02-19 10:06] ChristianUlbrich commented on #16908
For all you SRE or _wanna-be_ _DevOps_ like me; `macOS-10.14` is a hosted agent, that still has the old `azure-cli` version and my current _work-around_ because `ubuntu-latest` and `windows-latest` **contain the broken** version `2.19.1` that breaks **builds for all customers of hosted AzureDevOps agents** (and I assume GitHub Actions as well).

[2021-02-19 10:09] VessyAscentSoftware commented on #16908
@Juliehzl : I have already downgraded all our build agents to az 2.18.0 and things are working

[2021-02-19 10:36] alexeyshishkin01 commented on #16897
???

[2021-02-19 11:49] DamianBorndorff commented on #16908
Downgrading the azure-cli version back to 2.18.0 also did the trick for me..
For these who are using Azure Hosted Pipelines you can add an Inline Script to your Azure Pipeline yml:

`sudo apt install -y --allow-downgrades azure-cli=2.18.0-1~bionic`

The Release behind the "~" relates on the Version you are using.
e.g. `ubuntu-latest` is currently using 18.04, so you have to choose `~bionic`

You c

[2021-02-19 12:29] usrme opened #16999 "Outputs of some 'exists' sub-commands are different"
## Describe the bug

**Command Name**
`az storage container exists`
`az group exists`

## To Reproduce:

Call both `az storage container exists` and `az group exists`:

[code]

## Expected Behavior

For the outputs to conform to a single style to avoid writing additional code to deal with discrepancies.

## Environment Summary
[code]

## Additional Context

When I add `--output tsv` to `az storage

[2021-02-19 14:00] #16157 closed

[2021-02-19 14:00] #16013 closed

[2021-02-19 14:03] yungezz commented on #15907
yes. Portal can show the access policy based on their convention.

[2021-02-19 14:04] #15851 closed

[2021-02-19 14:18] subhashfission opened #17000 "Unable To deploy zip file To Azure Function"
az functionapp deployment source config-zip -g <rg> -n <functionname> --src archive.zip

[code]

[2021-02-19 14:48] yonzhan commented on #17000
functionapp

[2021-02-19 14:50] yonzhan commented on #16999
storage

[2021-02-19 14:52] yonzhan commented on #16897
Container instance service team should look into this.

[2021-02-19 14:56] robs commented on #15907
Thanks for looking, sorry I didn't check which version of the CLI tools I had.
I guess it's either fixed now or was something else, no idea what though.
I don't think I'll be changing our deployments to all lowercase though, just in case :)

[2021-02-19 14:56] #15907 closed

[2021-02-19 14:58] alexeyshishkin01 commented on #16897
is there any way to gently push them ?

[2021-02-19 15:35] malikouadfel opened #17001 "Error when execute az apim api import"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api import --path {} --resource-group {} --service-name {}`

[2021-02-19 16:38] juanpandiello commented on #16858
It works perfectly ! Thanks @mnoskoski

[2021-02-19 18:23] fafg opened #17002 "[ERROR] using az servicebus queue create command"
{
  "error": {
    "code": "OK",
    "message": "OK CorrelationId: ed2a6c29-0046-4145-9162-b012eeccba0f"
  },
  "id": null,
  "name": null,
  "rights": null,
  "type": null
}

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az servicebus queue create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2021-02-19 18:33] fafg commented on #17002
[code]

using parameter --max-size the command blowup, without this parameter the command works. maybe using any other int parameter will break.

then you guys forces me to use arm template. =/

[2021-02-19 18:52] fafg commented on #17002
ok, using the standard tier i am limited to use up to 5gb, however using values different from these values ```--max-size on Standard sku namespace only supports upto [1024, 2048, 3072, 4096, 5120] GB``` will show me that error =/

[2021-02-19 19:01] fafg commented on #17002
another problem. using these parameters:
[code]

it generates a queue with this size:

![image](https://user-images.githubusercontent.com/9274235/108549165-192b0f00-72ed-11eb-940f-6781f6ff4ab5.png)

80gb? but the messages previously said I can't create anything above 5gb since my tier is a standard one? 0.o

[2021-02-19 19:12] fafg commented on #17002
command line feedback:

[code]

[2021-02-19 20:12] fafg commented on #17002
Guys, the issue i believe is regarding the value and the python explode.

but I could understand my issue.

I have started create the command line to deploy a queue, and then wisely I went to the portal had a look over a existent one in order to extract the properties from the arm template.

the generated arm template shows me the MAX-SIZE as 16gb, therefore i have used this value on the command l

[2021-02-19 22:18] jwromeo commented on #11767
Hey, I'm from the service team that's returning the inconsistent publisher data.  We have identified 16 instances of the publisher data inconsistency across 17 regions.  We are in the process of patching the data today to remove the inconsistency.

Impacted Publishers:
MICROSOFT.AZURE.EXTENSIONS.TEST94A55E3B-0448-4638-867C-6D01304F4BDF-20190219154622
SYMANTEC.TEST.RU2FINAL
MICROSOFT.WINDOWSAZURE.C

[2021-02-19 23:51] Matthewsre commented on #10439
I hit this issue today as well. We have an MSI that is provisioning key vault and we need the current authenticated user to be able to  include an access policy on that key vault to add the secrets.

This also impacts creating applications and need to specify the provisioning automation as an owner.

I see the name is available, but that isn't guaranteed unique and could introduce a vulnerability.

[2021-02-20 00:00] jwromeo commented on #11767
The publisher data inconsistency has been confirmed to be fixed now.  We will investigate the root case and make the changes needed to prevent a persistent data inconsistency in the service.

WRT the current implementation, it is quite possible for the List All Publishers REST API to return a publisher for which the List Offers or List Extension Types API will return an error that the publisher is

[2021-02-20 00:53] yungezz commented on #17002
route to appropriate team

[2021-02-20 00:53] yungezz commented on #17001
route to appropriate team

[2021-02-20 01:02] yonzhan commented on #16897
You may contact Joseph Porter (josephporter) for help.

[2021-02-20 01:48] jiasli commented on #10439
@Matthewsre, the beta CLI shows all

- `objectId`
- `clientId`
- `resourceId`

They were added by https://github.com/Azure/azure-cli/pull/14690.

We are releasing it on all platforms recently. Stay tuned.

[2021-02-20 01:49] krishnamiriyala opened #17003 "az cli is broken on ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

[2021-02-20 02:09] qwordy commented on #11767
Hi @jwromeo , thank you for fixing it!

[2021-02-20 02:11] #11767 closed

[2021-02-20 02:17] qwordy commented on #16628
I plan to fix it in release on 3/23/2021. Release on 3/2/2021 is hard to catch. Authentication utilities in azure-cli-core and azure-core are evolving. They are no stable yet. I put the implementation in command code and added header manually last time. It is not elegant. It is a compromised solution.

[2021-02-20 02:54] swatig007 commented on #12911
closing due to no response

[2021-02-20 02:54] #12911 closed

[2021-02-20 03:07] jiasli commented on #16940
### Line breaks can't be parsed

`az` on Windows is a cmd script that doesn't support line breaks.

[code]

To repro:

[code]

When calling it from PowerShell, line breaks should by removed first.

### Double quotes are lost

You may also hit [quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md).

[code]

Notice that double quotes (`"`)

[2021-02-20 03:12] yungezz commented on #17003
hi @qwordy could you pls have a look, is this related with packaging?

[2021-02-20 03:32] qwordy commented on #16850
@luyitong I haven't reproduced this issue. Can you help do
1. Add `--debug` and send output so that I can know where it reports an error.
2. Does it require access to an external tenant or subscription?

[2021-02-20 05:55] aim-for-better commented on #16815
Will handle it soon--HDInsight

[2021-02-20 06:33] qwordy commented on #16803
I confirm this file is in git repository. Cloud shell is using deb file we provide to install Azure CLI. @fengzhou-msft Do you know how json files are packaged?

[2021-02-20 06:38] qwordy commented on #17003
@krishnamiriyala which version did you use? Type `az -v` to show version

[2021-02-20 06:41] qwordy commented on #15851
@yungezz Not clear

[2021-02-20 06:42] qwordy commented on #16891
@eprokudin Sorry to know that.

[2021-02-20 08:07] alexeyshishkin01 commented on #16897
@josephporter could you pls. have a look at the issue ?

[2021-02-20 08:31] qwordy commented on #16914
Hi @jcbrooks92 , It is a known issue in all Azure CLI commands. Data flow is service response -> Python SDK -> output. The serialization step prints all properties in the model. Mark this as a feature request.

[2021-02-20 08:43] qwordy commented on #16392
Same issue: https://github.com/Azure/azure-cli/issues/16962

[2021-02-20 08:43] qwordy commented on #16962
Combine with this issue: https://github.com/Azure/azure-cli/issues/16392

[2021-02-20 08:49] qwordy commented on #16863
OK

[2021-02-20 09:03] qwordy commented on #16945
Hi @msLinuxNinja , It is by design. This parameter supports both text or filename. If the file can't be found, it is treated as text. I don't think we should remove support of text.

[2021-02-20 09:07] qwordy commented on #16943
@sd40250 You are right. Thanks for finding it!

[2021-02-20 10:22] V4A001 opened #17013 "AADSTS50078: Presented multi-factor authentication has expired due to policies configured by your administrator, you must refresh your multi-factor authentication to access"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
For some reason my integration tests start failing as of yesterday. I run from my dev box. I am working with AzureB2C integration with MSAL 3.0 to test if bearer tokens are received. I use my complete startup file including managed identities for my key vaults.
I find it hard to find out was is generating this

[2021-02-20 11:46] yonzhan commented on #17013
Account

[2021-02-20 12:18] V4A001 commented on #17013
I fixed this by first running F5 before integration tests on my VS2019. The issue is away for now. You can close if you want. With Azure Feedback I got this reporting option.

[2021-02-20 14:56] aliyevmirzakhan commented on #13093
This issue is still persistent even with new `azure-iot` extension (see below)
`az iot hub policy show --name service --query primaryKey --hub-name <My IoT hub name>`

`
No module named 'azure.mgmt.iothub.iot_hub_client'
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib/python

[2021-02-20 17:50] Monte-Christo opened #17014 "deployment from local git repo to linux app service plan web app fails"
### **This is autogenerated. Please review and update as needed.**

**Command Name**
`git push azure master`

**Errors:**

"Oops, an error occurred"

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Set up linux-based App Service Plan P1V2.

Set up web app with

`--runtime "DOTNETCORE|3.1" --deployme

[2021-02-20 20:09] digimaun commented on #13093
@aliyevmirzakhan What version of Azure CLI are you using? This command `az iot hub policy show` does not come from the `azure-iot` extension it is coming from the base CLI. Please try updating your Az CLI installation and try the command again.

[2021-02-21 01:32] #17013 closed

[2021-02-21 01:35] yonzhan commented on #17014
webapp

[2021-02-21 03:50] andresmmujica opened #17016 "az cosmosdb create --name $COSMOSNAME --resource-group $RGNAME --kind MongoDB The command failed with an unexpected error. Here is the traceback: 'registrationState' Traceback (most recent call last):"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb create --name {} --resource-group {} --kind {}`

## Expec

[2021-02-21 05:54] yonzhan commented on #17016
cosmosdb

[2021-02-21 11:17] mepand commented on #16817
Support matrix has been updated. Service side fix would be rolled out by end of March . Since there is no further action pending on the PG side, closing this issue. Please feel free to reach out incase of any other issue or concern.

[2021-02-21 11:17] #16817 closed

[2021-02-21 18:42] itsabhinav2010 opened #17017 "az provider list --query is not working"
[Enter feedback here]

PS:>az provider list --query [?namespace=='Microsoft.Network'].resourceTypes[].resourceType
[]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6d8c67-e3c2-13b5-29e7-f4c3276c4718
* Version Independent ID: e018eae4-178c-8636-3151-5080370563ce
* Content: [az provider](https://docs.microsoft.com/en-

[2021-02-21 18:57] itsabhinav2010 commented on #17017
this can be closed. Need to you "" around query parameter in powershell.

[2021-02-21 18:57] #17017 closed

[2021-02-21 21:55] SamirBanjanovic commented on #13646
Has this issue been addressed? I am currently facing this exact error when attempting to create run `az appservice plan create` where the app service is under a different RG than the ASE

[2021-02-21 22:19] tkent opened #17018 "`az pipelines release definition show` produces invalid JSON (newlines not escaped)"
**The issue**
The `az pipelines release definition show` command produces unusable JSON output because newlines are not properly escaped on  _at least_ the `environments[].deployPhases[].workflowTasks[].inputs.script` field.

**To Reproduce**

This is extremely straightforward to reproduce.

1. Define a release pipeline where a stage a script has a newline.
2. Use `az pipelines release definition

[2021-02-21 23:13] rivardjm opened #17019 "Cannot stop postgres flexible server, says it does not exist but it appears with 'show' and is visible in the portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server stop --resource-group {} --

[2021-02-21 23:39] maximivanov opened #17020 "Inconsistent processing of invalid configuration value depending on target hosting plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config set`

**Errors:**

When provided with invalid value for `LinuxFxVersion` parameter, command does not fail with error when target hosting plan is Linux Premium.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may co

[2021-02-22 00:05] yonzhan commented on #17020
functionapp

[2021-02-22 00:06] yonzhan commented on #17019
postgres

[2021-02-22 00:06] yonzhan commented on #17018
pipelines

[2021-02-22 00:58] sr-msft commented on #17019
Hello @rivardjm, Sorry about you are running into an issue. Please file a support request for this issue so that we can properly triage what is going on with the server. thanks.

[2021-02-22 01:24] yungezz commented on #17014
hi @Monte-Christo seems the issue isn't Azure CLI related, could you pls close this one and track issues at webapp related channel to make sure it's triaged by correct team? thanks

[2021-02-22 01:50] yungezz opened #17023 "[Error improvement] reference doc in error output specific to command group"
**Is your feature request related to a problem? Please describe.**

Today in error output, doc link is general https://aka.ms/cli_ref. User would like to get a more specific link to get support directly.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-22 01:51] yungezz commented on #17023
need to evaluate is there way to map command group to docs page

[2021-02-22 02:24] qwordy commented on #16585
Not yet..

[2021-02-22 02:33] #14054 closed

[2021-02-22 03:04] MamoruKurashima commented on #16705
![image](https://user-images.githubusercontent.com/24773463/108651881-122b1900-7506-11eb-888e-9d58cf6370c3.png)

[2021-02-22 03:45] #16859 closed

[2021-02-22 06:01] evelyn-ys commented on #16660
Hi @antonlcy32, this is because unix shell will fetch the values of what is associated with the "*" automatically. You can see the real arguments you passed in by adding `--debug` just like this:
[code]
As you can see in my example, `*` is parsed to all the files and directories and passed to CLI.

**To solve this, you can use `\*` instead of `*`.** See the results after:
[code]

[2021-02-22 06:35] qwordy commented on #14821
Hi @Kotasudhakarreddy , is there any update?

[2021-02-22 06:49] Monte-Christo opened #17024 "hi @Monte-Christo seems the issue isn't Azure CLI related, could you pls close this one and track issues at webapp related channel to make sure it's triaged by correct team? thanks"
hi @Monte-Christo seems the issue isn't Azure CLI related, could you pls close this one and track issues at webapp related channel to make sure it's triaged by correct team? thanks

_Originally posted by @yungezz in https://github.com/Azure/azure-cli/issues/17014#issuecomment-782978660_

[2021-02-22 06:50] #17024 closed

[2021-02-22 06:50] Monte-Christo commented on #17024
Open by accident. Sorry.

[2021-02-22 06:53] Monte-Christo commented on #17014
Would love to do this. Tried but failed. Do you have a link? Is the WebApp channel here on GitHub or somewhere else?

[2021-02-22 06:53] #17014 closed

[2021-02-22 07:18] Kotasudhakarreddy commented on #14821
@qwordy I am on it. Targeted for S183.

[2021-02-22 07:23] Kotasudhakarreddy commented on #13646
@SamirBanjanovic - yes it has been addressed and working fine in with latest versions of CLI. Please update your CLI version to `2.19.1`. If you still face the issue please share the `-debug` log for your command.

[2021-02-22 07:30] SajalMS opened #17025 "webapp: MS document link for restoring web App with Azure CLI"
**Describe the bug**
Customer has raised concern with below MS document link for restoring web App with Azure CLI .
https://docs.microsoft.com/en-us/cli/azure/webapp/config/backup?view=azure-cli-latest#az_webapp_config_backup_restore

customer gets confuse with required parameter --webapp-name and optional parameter [--target-name]

**To Reproduce**

We tried to reproduce scenario restoring web Ap

[2021-02-22 07:33] ChrisKlug commented on #16972
It seems like this started working again for some reason. We had 2 different problems end of last week. This, and one with Application Insight, that just "magically" started working again without any changes... Not sure why it was happening

[2021-02-22 07:36] kenchon opened #17026 "az apim api import: `api-id` and `name` are confusing"
### Is your feature request related to a problem? Please describe.

-> Yes

##### Target command

`az apim api import`
docs: https://docs.microsoft.com/en-us/cli/azure/apim/api?view=azure-cli-latest#az_apim_api_import

##### Problem Overview

One apim resource property has two names; `api-id` and `name`.

Here's the example:

[code]

### Describe the solution you'd like

To improve the clarity of

[2021-02-22 07:52] kf6kjg opened #17027 "azure-cli Docker image doesn't support db-up"
## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

Attached is the log produced by using the `--debug` flag: [log.txt](https://github.com/Azure/azure-cli/files/6020301/log.txt)

## To Reproduce:

- Launch a docker container using the `mcr.microsoft.com/azure-cli` image.
- `az extension add --name db_up`

## Expected Behavior
The extension installs without error.

## Envi

[2021-02-22 07:54] kf6kjg commented on #17027
As a consequence this issue prevents `az mysql show-connection-string` and related from being executed in containers based on that image.  This is because those commands rely on the `db_up` extension.

[2021-02-22 08:43] yonzhan commented on #17025
web App

[2021-02-22 08:44] yonzhan commented on #16972
@msyyc could verify whether it is service issue before.

[2021-02-22 08:45] yonzhan commented on #17026
apim

[2021-02-22 08:47] yonzhan commented on #17027
@fengzhou-msft Was there any issue for docker image？

[2021-02-22 09:01] #16679 closed

[2021-02-22 09:12] mruepp commented on #16317
I can confirm that if setting MSYS_NO_PATHCONV=1 and using the newest cli it works as intended with gitbash. This issue can be closed

[2021-02-22 09:16] chjinche commented on #16856
one way to workaround is upgrading pip version before `az extension add`, like this:
[code]

[2021-02-22 10:01] malikouadfel opened #17029 "getting this error after running az apim api import"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api import --service-name {} -g {} --api-id {} --path {} --sp

[2021-02-22 10:03] yonzhan commented on #17029
apim

[2021-02-22 10:14] malikouadfel commented on #17029
@yonzhan  thanks for response.
but 'apim' what?

[2021-02-22 11:37] yonzhan commented on #17029
API Management service team should look into this issue.

[2021-02-22 12:36] jomarulfarsson opened #17030 "Apply access restriction to resources in different subscriptions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When applying access restrictions to web app from a subnet in a different subscription you receive error when using azure-cli. Works correctly when using arm template deployment or portal.

Consider the following setup:
WebApp Subscription: subscription-app
WebApp Resourcegroup: resourcegroup-app
WebApp Name: a

[2021-02-22 12:50] fgrmt opened #17031 "az storage blob sync not working with 2.19.1 (authentication error)"
## Describe the bug

Running `az storage blob sync` using `--account-name` and `--account-key` does not work with version 2.19.1 of Azure-CLI.
The command fails with an error asking to login using `az login`.

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- `az storage blob sync --container '$web' --source www/ --account-name myacco

[2021-02-22 13:16] yonzhan commented on #17030
WebApp

[2021-02-22 13:17] yonzhan commented on #17031
storage

[2021-02-22 13:30] jakesmolka opened #17032 ""az postgres server create" documentation issue (typo?)"
The second example under `az postgres server create` has a `--version 11.0` parameter, which is not supported.

Running it throws the following error.

[code]

However, `--version 11` works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11bd3f4-efbf-691d-76a4-293ab97ad845
* Version Independent ID: a553d088-d838-f90f-

[2021-02-22 13:42] yonzhan commented on #17032
postgres

[2021-02-22 15:06] papa-pa opened #17034 "WebApp:CLIInternalError: az webapp config container set"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --docker-custom-image-name

[2021-02-22 17:49] fitzgeraldsteele opened #17036 "VMSS Flex does not require an image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
In this release, we changed the --orchestration-mode parameter name from VM to flexible. But now CLI says I need to have an image. THis is incorrect; image is not required for VMSS Flex ode
**Command Name**
`az vmss create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argumen

[2021-02-22 19:13] andrew-cowling commented on #16858
Thanks @mnoskoski ! 😄

We had to tweak your fix slightly for Debian flavoured OS':

[code]

Notice the difference in the `site-packages` path, hopefully this helps someone else 👍🏻

[2021-02-22 20:32] NoNameProvided opened #17037 "Improve ACI log handling when output is piped"
We have a container which output logs via pino. When the output is not formatted the terminal will continuously blink as I assume the CLI compares the requested log to the currently printed one and updates the terminal with the latest lines.

However when we pipe the output of the command to `pino-pretty` which formats the log statement to human readable format, the CLI will continuously print the

[2021-02-22 21:53] yonzhan commented on #17034
webapp

[2021-02-22 22:13] amitbapat opened #17040 "az keyvault security-domain download does not support --id parameter for Managed HSM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault security-domain download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault security-domain download --sd-quorum {}

[2021-02-22 23:30] CecileRobertMichon commented on #16862
@yonzhan have you been able to investigate?

[2021-02-22 23:33] Ethan-Arrowood opened #17041 "Do not understand Python error from functionapp script"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Trying to use the script in this sample : https://github.com/mspnp/cloud-design-patterns/tree/master/claim-check/code-samples/sample-1 but its failing at the `config-zip` step with an error I do not understand.

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce

[2021-02-22 23:45] yonzhan commented on #17037
container

[2021-02-23 00:14] yungezz commented on #17041
route to appropriate team

[2021-02-23 00:14] yungezz commented on #17040
hi @houk-ms could you pls take a look?

[2021-02-23 00:15] yungezz commented on #17036
HI @qwordy could you take a look?

[2021-02-23 00:15] yungezz commented on #17027
hi @fengzhou-msft could you pls have a look?

[2021-02-23 02:16] qwordy commented on #16109
@xuto2
1. Does it work in previous version of Azure CLI?
2. "BadRequestError: Images cannot be created from Shared Access Signature (SAS) URI blobs." It looks like an error message from service response. Could you add "--debug" and provide logs?

[2021-02-23 02:50] luyitong commented on #16850
Hi, please see the debug output as below:
[root@centos75 ~]# az sig image-version create -g lytrg -l chinanorth2 --gallery-name mysharingvault --gallery-image-definition Windows-spec --gallery-image-version 1.0.6 --managed-image "/subscriptions/5cbb692b-6a2e-4bb4-b5e2-eb812718ad13/resourceGroups/lytrg/providers/Microsoft.Compute/virtualMachines/win10-image-VM" --debug
cli.knack.cli: Command argume

[2021-02-23 03:03] qwordy commented on #17036
@fitzgeraldsteele Thank you for finding this bug. It is a validation rule for traditional VMSS. It should be updated. It blocks basic usage of VMSS Flex. I will prioritize it and try to fix it before Ignite. It is not hard to fix. I will update progress soon.
I searched test cases for VMSS Flex and found they are not enabled because the subscription is not allowed according to my comment in code.

[2021-02-23 03:55] xuto2 commented on #16109
1) it's always like this since I started to onboarding our scenario.
2) it's service error but the issue is the client is not sending the right value to server. The fact that eval "cmd" works should prove that, right?

[2021-02-23 04:31] kramfs commented on #8564
I was having the same issue, I documented the steps I did to overcome this. Hopefully, somebody will find it useful  -https://stackoverflow.com/a/66326925/1400202

[2021-02-23 05:28] fengzhou-msft commented on #16880
The issues is fixed with the new version of `azure-cli-ml`.

[2021-02-23 05:28] #16880 closed

[2021-02-23 05:36] jiasli commented on #16862
Hi @CecileRobertMichon, the error is triggered by this line:

https://github.com/Azure/azure-cli/blob/74ea23bc805d57e3cf68cc9a4396141975acb580/src/azure-cli/azure/cli/command_modules/role/custom.py#L997-L998

This is because the App doesn't have an associated Service Principal and CLI falls back to use the provided `appId` `0d126170-fadc-4c1d-b96a-b7c756242d6a` as Service Principal `objectId`:

ht

[2021-02-23 07:09] #15212 closed

[2021-02-23 07:10] #16292 closed

[2021-02-23 07:10] yungezz commented on #16292
the issue is fixed already.

[2021-02-23 07:18] #15544 closed

[2021-02-23 07:29] lihantao3 commented on #16591
Hi team, any update?

[2021-02-23 07:30] #15289 closed

[2021-02-23 07:33] DanielLarsenNZ commented on #16269
Hi @kenieva, I have just tested this again and it is still not working from my perspective. Here are my steps to reproduce:

1. Run [deploy-vnet-route-all.ps1](https://github.com/DanielLarsenNZ/examples/blob/main/private-paas/deploy-vnet-route-all.ps1)

This will deploy a test App Service with the `WEBSITE_VNET_ROUTE_ALL=1` App Setting configured. The app attempts to create a connection to <https:

[2021-02-23 07:40] czmirek commented on #16499
WestEurope, same bug, running the same command second time worked

[2021-02-23 08:30] Skovvart commented on #14578
Think the typo should be fixed by https://github.com/MicrosoftDocs/azure-docs-cli/pull/2450 / https://github.com/MicrosoftDocs/azure-docs-cli/pull/2451

[2021-02-23 08:31] msyyc commented on #16808
@erichrt When will '2020-11-01' be merged into 'master' of main repo?

[2021-02-23 08:38] msyyc commented on #16654
@harics24 when will '2021-01-01' be merged into 'master' of main repo?

[2021-02-23 09:16] mbetley opened #17050 "Manual approval of a SQL Server Private Endpoint connection using the azure-cli command is not possible"
**Is your feature request related to a problem? Please describe.**
Manual approval of a (cross-subscription) SQL Server Private Endpoint connection using the az-cli command is not possible:

az network private-endpoint-connection approve -g <resource_group> -n <private_endpoint_conn> --type Microsoft.SQL/servers CMD Output:

[code]

**Describe the solution you'd like**
PEP approval using Azure CLI

[2021-02-23 09:20] #15452 closed

[2021-02-23 09:48] yonzhan commented on #17050
network

[2021-02-23 09:50] houk-ms commented on #17040
I could reproduce the bug and will fix it.

About the design of  `--id`  parameter here, by CLI convention, `--id` is usually used to pass the ARM id of an Azure resource. So does it make more sense to accept an ARM id of the managed HSM here rather than the URL of the HSM? (I know with this design, the dogfood enviroment still cannot work.)

Or have you ever seen other keyvault commands using `--

[2021-02-23 09:58] fiunchinho commented on #8214
Any updates?

[2021-02-23 10:01] Kotasudhakarreddy commented on #16838
closing this issue as unable to repro. Please reopen with `--debug` details if you still face it.

[2021-02-23 10:07] MPowellFDB opened #17052 "Missing --tags argument on az sql server create"
**az sql server create** does not include a --tags argument.

Our subscriptions have a "Deny" Azure Policy that prevents resources from being created without tags. Because of the missing --tags argument, we are unable to deploy an Azure SQL Server via Az CLI as it does not comply with our Policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-02-23 10:20] yonzhan commented on #17052
sql

[2021-02-23 10:23] yungezz commented on #17040
second on above. It's more appropriate to use `--hsm_url` to pass in hsm url, keep extensibility of `--id`.

[2021-02-23 10:57] Kotasudhakarreddy opened #17053 "WebApp: `az webapp show` returning null values for SiteConfig properties"
**Describe the bug**

WebApp: `az webapp show` returning null values for SiteConfig properties

**To Reproduce**

`az webapp show --name <name> --resource-group <RGName>`

**Expected behavior**

It should have a site config properties

**Environment summary**

**Additional context**

[2021-02-23 10:59] Kotasudhakarreddy commented on #16719
created a bug #17053 for fixing the null properties under `SiteConfig`.

[2021-02-23 11:01] Kotasudhakarreddy commented on #16719
@nexxai - To fix this issue we required a Swagger update.  We will consider this under release scope once we get the next swagger update.

[2021-02-23 12:05] tunayokumus commented on #15212
Hi @jiasli and @fengzhou-msft, thanks a lot for following up on this. Unfortunately I am still experiencing the same issue, this time with the updated azure-cli-core==2.19.1. Although the dependencies are changed in the setup.py within the dev branch in git.

Is this fix published as a new version and already available through pypi? If yes, how can we pip install it? Or do you have any other idea

[2021-02-23 12:13] yonzhan commented on #17053
229008131

[2021-02-23 12:47] ColonelPanicks commented on #14544
Any update on when the next beta version will be released? Or when the environment variables will become available?

According to the [CLI Beta Release Notes](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli-beta) there hasn't been a beta version since June 2020.

I found [this page](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/in

[2021-02-23 14:06] MortenKartevoll opened #17055 "Webapp slots does not clone the runtime from the production slot with --configuration-source parameter"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-02-23 15:57] doozMen commented on #3351
I still have that issue

[code]

[2021-02-23 15:59] AlexandreBouffard commented on #15212
This issue is tagged with milestone S183 having official release on March 2nd so I guess they will publish a release to pypi over the next week or so.

[2021-02-23 16:51] s-leonard opened #17057 "Cannot assign role to application"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission add --id {} --api {} --api-permissions {}`

[2021-02-23 16:56] RyanHill-MSFT opened #17058 "WebApp:Still can't delete an appservice plan when it contains a web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running the command below, I get prompted that the plan contains an app and ask if I want to remove that resource. I select 'y' and command still ends in "error" reporting a conflict.

In checking the -debug output, it appears the app service is still deleted first even after saying yes. The associated web

[2021-02-23 17:21] roy-work opened #17059 "What are the azure-cli-YYYY-MM-DD-HH-MM-SS App registrations?"
**Describe the bug**
In AAD, there are a great many app registrations with names like `azure-cli-YYYY-MM-DD-HH-MM-SS`, with the letters filled in with a datetime. What are these, what action with `az` causes them, and what is their purpose?

**To Reproduce**
(not clear)

**Expected behavior**
That `az` not create random App registrations/SPs

[2021-02-23 17:23] vnachimu opened #17060 "az connectedk8s cli is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s {} -n {} -g {} --auth-token`

## Expected Behavior

## E

[2021-02-23 17:38] avinashakka commented on #16912
If that is the earliest possible release then that sounds good.

[2021-02-23 18:03] CecileRobertMichon commented on #16862
Thanks @jiasli, and thank you for opening a PR to improve the error message!

[2021-02-23 18:17] sr-msft commented on #17032
Thank you @jakesmolka for pointing that out. We will address the doc issue shortly.

[2021-02-23 18:25] BDaum01 opened #17061 "Adding password not working."
**Describe the bug**

Once we add --password to the string the certificate is not created, there is no error messages in the Key Vault logs.

**To Reproduce**
 Run the bellow without the --password you will see the certificate gets created.  Once you add the --password field back on the certificate does not get created and there are no error messages in the logs.
az ad sp credential reset --name

[2021-02-23 18:29] nexxai commented on #16719
@Kotasudhakarreddy Do you have an ETA on that?  Like is that happening in the next release or should we be expecting multiple releases before this is solved?

[2021-02-23 18:30] bughit opened #17062 "invalid error "azclierror: argument --public-access: expected one argument" for "mysql flexible-server create""
**Describe the bug**

the [docs](https://docs.microsoft.com/en-us/cli/azure/mysql/flexible-server?view=azure-cli-latest#az_mysql_flexible_server_create) say the IP arg is optional

**To Reproduce**

`az mysql flexible-server create --public-access --name server1 <<other required args>>`

**Expected behavior**

no error

**Environment summary**

azure-cli 2.19.1 on ubuntu 20.04

[2021-02-23 18:38] #16803 closed

[2021-02-23 18:38] #16948 closed

[2021-02-23 18:41] AlexBeyd commented on #16138
Hello, today is February 23, 2021. The issue is still there. Please update us.

[2021-02-23 18:58] kenieva commented on #16269
Hi Daniel, from this policy: https://github.com/DanielLarsenNZ/azure-policy/blob/master/samples/WebApp/web-app-vnet-route-all-enabled/azurepolicy.json the existence condition reads if the Microsoft.Web/sites/config/vnetRouteAllEnabled equals true then audit as non-compliant. I believe the logic you are looking for is if  Microsoft.Web/sites/config/vnetRouteAllEnabled equals false.

[2021-02-23 20:53] qJake commented on #6388
I also came across this thread from Google on what "Reimaging" does, and the blog article (thanks Neil!) answered my question - reimaging _does_ re-execute the Extension scripts on the VMs.

This should be documented better on Microsoft Docs because I could not find it by searching.

[2021-02-23 22:18] yonzhan commented on #17055
webapp

[2021-02-23 22:21] yonzhan commented on #17057
Graph

[2021-02-23 22:22] yonzhan commented on #17058
appservice

[2021-02-23 22:24] yonzhan commented on #17059
Core

[2021-02-23 22:25] yonzhan commented on #17060
connectedk8s

[2021-02-23 22:53] jiasli commented on #17059
Hi @roy-work, these applications are created by

[code]

If you want to customize the application's display name, you may specify `--name`:

[code]

[2021-02-23 23:01] ramankumarlive opened #17063 "CLI update for changing performance tiers for disks without downtime"
**Resource Provider**
Microsoft.Compute/DiskRP

**Description of Feature or Work Requested**

You can now change the performance tiers for Premium SSDs without any downtime to your application. You can change the performance tier of a disk even when it is attached to running virtual machines. With performance tiers on Premium SSDs, customers have the flexibility to scale the disk performance witho

[2021-02-23 23:22] jiasli commented on #3351
@doozMen, looks like you are using Homebrew.

1. Did this issue happen with a newly installed Azure CLI?
2. Could you share the result of `python -c "import sys; print(sys.path)"`?
2. Azure CLI has switched to use PEP 420 (#14372), please make sure there is no old `__init__.py` in `sys.path` for `azure` and `azure-cli`.

Here is a sample output on Ubuntu (I currently have no Mac at hand):

[code]

[2021-02-23 23:37] roy-work commented on #17059
Is it possible that this is run internally, as part of some other command? We have a fair number of these in our Azure tenant, and I wouldn't expect most devs to be running `az ad sp create-for-rbac`.

(E.g., I'm pretty sure in the past, `az aks create` would create the SP for the cluster, if you didn't specify one.)

(I do also think having `--name` be optional on that command is not a sensible d

[2021-02-23 23:52] ramankumarlive opened #17064 "Support auto-key rotation of keys for encrypting managed disks"
**Resource Provider**
Microsoft.Compute/DiskRP

**Description of Feature or Work Requested**
Azure managed disks provide end to end encryption of data with customer-managed keys stored in Azure Key Vault. Now, they can choose to enable automatic rotation of their keys. A disk references a key via its disk encryption set. When you enable automatic rotation for a disk encryption set, the system will

[2021-02-23 23:53] yonzhan commented on #17061
Graph

[2021-02-23 23:57] yonzhan commented on #17062
mysql

[2021-02-24 00:38] DanielLarsenNZ commented on #16269
Hi @kenieva, this is the rule I am using (the logic is identical): [azurepolicy.rules.json](https://github.com/DanielLarsenNZ/azure-policy/blob/master/samples/WebApp/web-app-vnet-route-all-enabled/azurepolicy.rules.json).

The effect is `auditIfNotExists`: [If any matching related resource evaluates to true, the effect is satisfied and doesn't trigger the audit](https://docs.microsoft.com/en-us/az

[2021-02-24 01:01] ramankumarlive opened #17065 "Support for zone-redundant storage (ZRS) managed disks"
**Resource Provider**
Microsoft.Compute/DiskRP
Microsoft.Compute/CRP

**Description of Feature or Work Requested**
ZRS managed disks provides synchronous replication of data across the Zones in a region, enabling disks to tolerate Zonal failures which may occur due to natural disasters or hardware issues. ZRS disks maintain three consistent copies of the data in distinct Availability Zones in a re

[2021-02-24 01:54] yungezz commented on #17063
disk feature request

[2021-02-24 01:55] yungezz commented on #17065
put in S185 for now

[2021-02-24 01:56] yungezz commented on #17064
put in S185

[2021-02-24 02:08] worldspawn opened #17067 "Warnings emitted from az acr build"
**Describe the bug**
az acr build emits something like
![image](https://user-images.githubusercontent.com/819581/108934425-058ef800-76a1-11eb-9ec0-505fb02099f4.png)

Why is `Packing source code into tar to upload...` worthy of a WARNING. Seems more like Info or Debug to me.

**To Reproduce**
start an acr build

**Expected behavior**
A little less dramatic a log level please.

**Environment summary

[2021-02-24 03:13] Juliehzl commented on #16979
@yishi could you help take a look?

[2021-02-24 04:04] savjani commented on #17062
@yonzhan - You need to specify in the IP range in --public access values would be  either none, all, <SingleIP>, <StartIP-DestinationIP>

[2021-02-24 04:04] savjani commented on #17062
We will updatye the documentation as well to reflect this

[2021-02-24 04:42] yonzhan commented on #17062
@bughit does above solution resolve your issue?

[2021-02-24 05:24] usrme commented on #16138
A soft-deletion also occurs if you explicitly decide to delete the APIM instance from a resource group through the Portal. This should be communicated more clearly.

[2021-02-24 05:31] Zeushn commented on #14135
Same here, tried with docker and pip not luck, there is was a previous version working on Pi 2 that seems to worked.

[2021-02-24 05:50] msyyc opened #17071 "[Network] Loadbalancer behavior change when network bump from '2020-07-01' to '2020-08-01'"
**Describe the bug**

==cmd begin=======
az group create -n yyc -l eastus2
az network lb create -g yyc -n lb-yyc --sku Standard
az network lb show -g yyc -n lb-yyc
az network public-ip prefix create -g yyc -n prefix-yyc --length 30
az network lb frontend-ip create -g yyc --lb-name lb-yyc -n frontend2-yyc --public-ip-prefix prefix-yyc (failed cmd)
==cmd end=======
When Microsoft.Network version is

[2021-02-24 07:18] jiasli commented on #16641
@velvia, could you reach AAD customer support for the usage of AAD-related Cmdlet?

To create a ticket: https://azure.microsoft.com/en-us/support/create-ticket/

Thanks for understanding.

[2021-02-24 07:36] houk-ms commented on #17040
Seems `az keyvault backup start` already use `--id` to accept the managedHSM url, but its help message is `Id of the HSM`.

So, maybe we can support `--id` to accept the url for other necessary command and also update the help message of the parameter

[2021-02-24 09:48] TGDFaaloui opened #17075 "Azure DevOps release pipelines “Conflict of operation error ” while running one job on microsoft-hosted agent"
**Resource Provider**
Azure DevOps release pipeline

**Description of Feature or Work Requested**
I am trying to implement an Azure DevOps Release pipeline to Deploy a machine learning model on Azure ML. My pipeline fails on the deployment task, with the error:
```Conflict of operation, another operation on same entity is already running in workspace mlops-wrksp.```
```Script failed with exit code

[2021-02-24 09:51] sdebruyn commented on #16954
I have the same issue, uninstalling did not help

[2021-02-24 11:11] jiasli commented on #15212
Exactly, the change hasn't been released to PyPI yet. You may check our release schedule at https://github.com/Azure/azure-cli/milestones

[2021-02-24 12:27] LauraRocks opened #17076 "Why Azure cli 2.19.1 version uses Python 3.6 as a default in pipeline"
**Describe the bug**
We are using the azure pipelines to create a function app with `az functionapp create` and giving these as a flag (among others):
[code]
But the azure cli gives an error when it tries to create the function app, because it is still trying to use the 3.6. version of the python

The `az --version` in the pipeline gives us this information:

![image](https://user-images.githubuse

[2021-02-24 12:33] yonzhan commented on #17071
Network

[2021-02-24 12:45] yonzhan commented on #17075
DevOps

[2021-02-24 12:48] yonzhan commented on #17076
functionapp

[2021-02-24 13:06] Bryankarlsson opened #17077 "argument --resource-group/-g: expected one argument azure devops"
Hi,

Im trying to create and run a release pipeline where i try to to create a Azure Container instance.

Here is my task in devops:

![image](https://user-images.githubusercontent.com/28007067/109004646-4e4aaf00-76a9-11eb-87bc-0cd8908673f0.png)

When i run this, i get the following error:
`ERROR: ArgumentUsageError: argument --resource-group/-g: expected one argument`

Here is the complete log:
!

[2021-02-24 13:21] bughit commented on #17062
I am not clear on the solution. Will `--public-access` accept no args as the docs say? That seems the right way of specifying an empty list.

[2021-02-24 13:53] yonzhan commented on #17077
container instance

[2021-02-24 14:16] savjani commented on #17062
@bughit - --public-access accepts anyone of the following arguments none, all, <Single-IP>, <Start-Destination IP>. You can find an example here - https://docs.microsoft.com/en-us/azure/mysql/flexible-server/how-to-manage-firewall-cli

[2021-02-24 14:23] Bryankarlsson commented on #17077
I solved the issue. I put the variable values inside the Variable-tab in the pipeline. This fixed the issue.

[2021-02-24 14:27] bughit commented on #17062
The first place anyone goes to for usage is the command reference, that's it purpose.

https://docs.microsoft.com/en-us/cli/azure/mysql/flexible-server?view=azure-cli-latest#az_mysql_flexible_server_create

So it should be exhaustively complete and correct. If that's the fix, that's fine.

[2021-02-24 14:35] cpdohert opened #17078 "Correct syntax for parameters not described or linked to"
For `az cdn endpoint rule add`, the following parameters exist:

[code]

The examples given show the following format for these parameters:

[code]

The syntax of these examples does not match the actions listed here: https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-actions
or the match conditions listed here: https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine

[2021-02-24 15:26] Kotasudhakarreddy commented on #17034
will look in to it.

[2021-02-24 15:44] JavierPalaciosNexplore commented on #16973
Might the be the same than https://developercommunity.visualstudio.com/t/az-cli-blob-storage-sync-fails-in-azure-pipelines/1345576?
We also suffer of same problem, running az-cli by mean of [azure-cli pipeline task](https://github.com/Microsoft/azure-pipelines-tasks), that has been working for a few months with no issue.

[2021-02-24 15:44] ChiliDogDaddyO opened #17080 "az login gives error that 'token_entry' referenced before assignment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-02-24 15:48] #17077 closed

[2021-02-24 15:55] lvisterin commented on #11871
For the people running into this even when the subscription ID is set correctly, you should check the `--vault-name` for typos. You may be trying to talk to the wrong Key Vault (that's what happened in my case).

[2021-02-24 16:14] fengzhou-msft commented on #17027
You need to install `postgresql-dev` for the `psycopg2-binary` dependency needed by the extension. Please run `apk add postgresql-dev` and then retry to install the extension.

[2021-02-24 16:18] Kotasudhakarreddy commented on #17058
@RyanHill-MSFT could you please recheck the prompt you have received during `az appservice plan delete --name myplan --debug` execution. You must have received as below and not to delete `AppService`

![image](https://user-images.githubusercontent.com/60102891/109029187-96d58d00-76e8-11eb-9c17-6c8db5e0e093.png)

[2021-02-24 16:22] RyanHill-MSFT commented on #17058
I did receive the prompt as you did @Kotasudhakarreddy. My app service plan had a web app associated with it. What I'm saying is that if I confirm I want to delete the app service plan, it should also delete app services associated with the plan, like how it's done inside the portal.

[2021-02-24 16:24] pragnagopa commented on #15171
cc @gzuber @anatolib - as this is related to function apps

[2021-02-24 16:41] Kotasudhakarreddy commented on #16838
Issue is able to repro only when trying to override the existing settings. Will check further on this.

[2021-02-24 16:56] rfreytag opened #17081 "Unable to use 'az interactive' in logged-in and otherwise working Azure Cloud Shell (bash)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-02-24 17:03] panchagnula commented on #8743
Closing this since the changes are merged.

[2021-02-24 17:03] #8743 closed

[2021-02-24 17:46] #15171 closed

[2021-02-24 17:46] divyagandhisethi commented on #15171
This issue can be closed.

[2021-02-24 18:26] amitlalaawaz commented on #16209
I received this error while pulling heavy-weight docker to my registry, what should I do? any inputs highly appreciated.

AADSTS70043: The refresh token has expired or is invalid due to sign-in frequency checks by conditional access. The token was issued on 2021-02-24T05:50:44.4338824Z and the maximum allowed lifetime for this request is **43200**

[2021-02-24 18:28] mattchenderson opened #17082 "webapp:`az webapp browse` should offer a flag for HTTPS if not default to it"
**Is your feature request related to a problem? Please describe.**
Running `az webapp browse` navigates using the http:// scheme, which prompts the "not secure" warning in most modern browsers. The site can be configured to auto-redirect to https:// but http:// strikes me as a strange default, especially when considering network-restricted environments where I may not allow http traffic ingress.

[2021-02-24 18:49] PushkarVaity commented on #16884
Hi, more and more users are reporting this breaking our flow now. Is there an update/workaround for this issue since many people seem to be facing the problem?

[2021-02-24 18:50] pkoushik commented on #16856
@fengzhou-msft can we get an update regarding the issue?

[2021-02-24 19:20] northtyphoon commented on #16700
@houk-ms do you have any insight of the issue?

[2021-02-24 19:34] StefanIvemo opened #17083 "Support deployment with Bicep files - az bicep build does not output build warnings"
## Describe the bug
I've been testing the features implemented by #16857, and have noticed that `az bicep build` does not output any build warnings.

**Command Name**
`az bicep build`

**Errors:**
Running `az bicep build` successfully compiles the bicep file to an ARM template but it does not output any build warnings, only errors.

## To Reproduce:

You have a bicep file using an API version wher

[2021-02-24 20:22] selamanse commented on #16908
Also same issue encountered here.... and figured that the underlying azcopy is the preferable way to use it.

Unfortunately you have to install the azcopy in a separate step of your job on the cicd or deploy it otherwise on the runner:

This is an excerpt of my pipeline on azureDevOps, hope it helps...

[code]

Dont forget the tenant id...it wasnt clear to me until I double read the docs here:

ht

[2021-02-24 23:14] yonzhan commented on #17080
Account

[2021-02-24 23:15] yonzhan commented on #17078
cdn

[2021-02-24 23:17] yonzhan commented on #17081
interactive

[2021-02-24 23:21] yonzhan commented on #17083
bicep

[2021-02-24 23:26] rootmert26 opened #17084 "rootmert256"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microsoft.com/en-US/cli/azure/vm?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/vm.yml](https://gith

[2021-02-24 23:53] roy-work commented on #16312
This bug hasn't seen activity in over a month, but the issue is still occurring; same exact symptom as the original bug filer's. Except, I think have some additional information. In all cases where I've let the command run, it does _eventually_ complete, and in all the cases that I've let it run, it hangs for almost _exactly_ 10 minutes.

[code]
In this example, it was 6:39:11 PM when the line bef

[2021-02-25 00:01] LarrySmith-1437 commented on #12459
Note that as of today, for azure-cli 2.9.1, the error message is still as unhelpful as it ever was:
Deployment failed. Correlation ID: xxxxxxxxxxxxxxxxxxxxxxxxx. {
  "error": {
    "code": "InvalidParameter",
    "message": "The value of parameter linuxConfiguration.ssh.publicKeys.path is invalid.",
    "target": "linuxConfiguration.ssh.publicKeys.path"
  }
}

[2021-02-25 00:28] yugangw-msft commented on #16312
@roy-work, could you please contact me at yugangw at microsoft dot com, or if you don't mind, you can share the register name here, which I need to cross check the service log. I assume the time you provided are UTC or let me know the timezone?

[2021-02-25 00:45] savjani commented on #17062
@bughit - Ack on the feedback. We will fix the docs.

[2021-02-25 01:07] platypus0 opened #17085 "az cli for learning gives subscription errors"
I just started to use the az cli as part of an education/certification effort. Kinda dove right in.
After I installed it, I got the following, so I'm looking to correct it somehow. I suspect I did not get the correct learning resources found for: 'https://docs.microsoft.com/en-us/learn/modules/control-azure-services-with-cli/4-work-with-the-cli'. TIA.
* * * Begin * * *
platypus0:~$ az login
The de

[2021-02-25 01:28] daweim0 opened #17086 "az find gives an example parameter not listed in help file"
**Describe the bug**
`az find "az aks enable-addons"` outputs the example command `az aks enable-addons --addons virtual-node --name MyManagedCluster --resource-group MyResourceGroup --subnet MySubnetName`, but `--subnet` is not listed in the help files. I'm not sure which is right, but either `az aks enable-addons --help` or `az find "az aks enable-addons"` is wrong.

**To Reproduce**
[code]

**E

[2021-02-25 01:51] fengzhou-msft commented on #16649
`cryptography` is upgraded to `3.3.2`. A new version of `azure-cli` with this change will be released on 3/2.

[2021-02-25 01:51] #16649 closed

[2021-02-25 01:51] fengzhou-msft commented on #16680
`cryptography` is upgraded to `3.3.2`. A new version of `azure-cli` with this change will be released on 3/2.

[2021-02-25 01:51] #16680 closed

[2021-02-25 02:03] zhoxing-ms commented on #17083
@shenglol Could you please take a look at this issue~

[2021-02-25 02:09] shenglol commented on #17083
Thanks for reporting this. Will take a look.

[2021-02-25 02:26] fengzhou-msft commented on #16856
We've pinned the `cryptography` in `azure-cli` in #15687, but it won't fix the installing issue of extensions as the extension will install `cryptography` again in its own directory and ignoring the `cryptography` already installed by `azure-cli`.

The fix needs to be done by the extension to either pin `cryptography` in their `setup.py` or remove any dependencies that depends on `cryptography` if

[2021-02-25 02:44] yonzhan commented on #17085
Account

[2021-02-25 02:48] yonzhan commented on #17086
find

[2021-02-25 02:54] #16818 closed

[2021-02-25 03:08] qwordy commented on #12459
@LarrySmith-1437 My result is Destination path for SSH public keys is currently limited to its default value /home/[username]/.ssh/authorized_keys due to a known issue in Linux provisioning agent.
How did you create the VM?

[2021-02-25 03:16] jiasli commented on #17085
@platypus0, https://docs.microsoft.com/en-us/learn/modules/control-azure-services-with-cli/4-work-with-the-cli is a correct tutorial for Azure CLI. You may also refer to https://docs.microsoft.com/en-us/cli/azure/ for more detailed documentation.

The error `No subscriptions found.` you received is expected as you don't have accessible Azure subscriptions. You may double check that from Azure Port

[2021-02-25 03:44] yungezz commented on #17084
hi @rootmert26 could you pls share what's the problem with repo steps? thanks.

[2021-02-25 03:44] yungezz commented on #17082
route to appropriate team

[2021-02-25 03:45] yungezz commented on #17067
route to appropriate team to have a look

[2021-02-25 04:19] yugangw-msft commented on #17067
@northtyphoon can provide context

[2021-02-25 05:30] msyyc commented on #17071
linked powershell issue: https://supportability.visualstudio.com/AzureNetworking/_workitems/edit/12686/

[2021-02-25 05:46] kf6kjg commented on #17027
That's a usable workaround. Though annoying since I'm not using PostgreSQL in all my projects.

Hazarding a guess the quickest full fix, beyond that quick workaround, would be either to include that package in the base image, or modify the db_up extension so that it doesn't require the PostgreSQL package at install time. That last is harder but would result in a smaller image when not using Postgr

[2021-02-25 06:33] MehaKaushik commented on #16977
code checked in dev

[2021-02-25 06:33] #16977 closed

[2021-02-25 06:36] MehaKaushik commented on #17016
Hi, thanks for creating this issue. Are these the only params you are providing ? Locations is a mandatory param required to create cosmosdb account. Please provide the same. Please find the docs here https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create

[2021-02-25 07:31] miketimofeev commented on #16908
@selamanse AzDO and GitHub hosted ubuntu runners contain pre-installed AzCopy 10, available by `azcopy10` alias

[2021-02-25 08:12] #16770 closed

[2021-02-25 09:05] #16740 closed

[2021-02-25 09:56] vipulkelkar opened #17090 "Configure access restriction of VNET from different subscription"
**Describe the bug**
Currently, the [web app access restriction](https://docs.microsoft.com/en-us/cli/azure/webapp/config/access-restriction?view=azure-cli-latest) commands seem to be working only within a subscription. For example, a VNET from Subscription-B cannot be added to access restriction rule on a Web/Azure Function App in Subscription-A.
This is currently possible through the Azure Porta

[2021-02-25 11:15] #16660 closed

[2021-02-25 11:50] yonzhan commented on #16987
@benlavender any update？

[2021-02-25 12:11] #17085 closed

[2021-02-25 12:20] yungezz commented on #17090
route to appropriate team

[2021-02-25 12:33] rzlrogerio opened #17092 "Az group create - Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2021-02-25 13:08] yonzhan commented on #17092
ARM

[2021-02-25 14:18] qwordy opened #17094 "Please fix test cases"
**Describe the bug**

I upgraded compute API version. The below test cases can't run lively. I added comment in `unittest.skip()` to give clues. Code owners, please spend some time to fix them. Appreciate!

[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-02-25 14:20] Ahmad-Al-Ali commented on #16838
Hey Guys, I was looking into this issue and would like to add my perspective on this.  as I understood from the command documentation, we should be specifying the "stickiness" of each app settings using the --slot-settings so the CLI command would become:

`az webapp config appsettings set -g rgname-RG  -n appservicename --settings  @appSettings.json --slot-settings @StickySettings.json`

where th

[2021-02-25 14:52] yonzhan commented on #17094
@kairu-ms @Juliehzl @msyyc @jsntcy for awareness.

[2021-02-25 16:02] Azrrael commented on #16858
Thanks @mnoskoski and @andrew-cowling !! I can confirm that the fix works on ubuntu:20.04 docker images running as build/release agents for Azure DevOps, but I had to change it slightly to:

`RUN apt update && apt-get install -y python3 python3-setuptools`
`RUN python3 -m easy_install install pip`
`(...)`
`RUN python3 -m pip install --upgrade pip --target /opt/az/lib/python3.6/site-packages/`

Hop

[2021-02-25 16:46] gabriel-kohen-by opened #17099 "Trying to create a dynamic monitor metric alert returns The api-version '2018-03-01' is invalid on MacOS version 2.19.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to create a dynamic metric alerts fails on API version error

**Command Name**
`az monitor metrics alert create`

**Errors:**
[code]

## To Reproduce:
* Set the envs variables.
* Run:
[code]
- _Put any pre-requisite steps here..._
- Set your `RESOURCE_GROUP` , `webappResourceId`, `myActionGroupId`, 'AZUR

[2021-02-25 18:14] jose-kalderos opened #17100 "unable to change app service plan on consumption linux function"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp update --name {} --plan {}`

## Expected Behavior

[2021-02-25 18:17] roy-work commented on #16312
@yugangw-msft I've sent you an email with those details.

[2021-02-25 18:34] magnus-longva-bouvet commented on #11166
I would also like this issue solved.

[2021-02-25 18:38] umrogge opened #17101 "azure-cli storage copy error"
**Describe the bug**

After upgrading from azure-cli 2.18.0 to 2.19.1 an error has occurred running the same az storage copy command:
az storage copy -s file -d https://storage.blob.core.windows.net/directory
Error: See expected behavoir
**To Reproduce**

Running the following az storage copy command using azure-cli 2.18.0 and 2.19.1:
az storage copy -s file -d https://storage.blob.core.windows.ne

[2021-02-25 18:59] dmraymond opened #17102 "consumption usage list: Subscription scope usage is not supported for current api version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

`$subscriptions = az account list | ConvertFrom-Json
foreach ($subscription in $subscriptions) {
    az a

[2021-02-25 19:03] Drewm3 commented on #16196
The list of "cores" shown in the properties of the VM aligns with the cores required for quota purposes. In the case of suppressed core VMs the quota required is based on the parent VM size. For the details on suppressed cores you need to use the SKUs API.

In general, all new property/spec additions for SKUs are being described in the SKU API instead of properties of the resource directly.

[2021-02-25 19:03] #16196 closed

[2021-02-25 19:21] magnus-longva-bouvet opened #17103 "az container exec does not work behind http proxy"
**Describe the bug**

`az container exec` does not work behind my corporate HTTP proxy. The command uses the `websocket` module, and it does not honor the `http_proxy` or `https_proxy` environment variables on my RHEL OS. The command eventually times out with `TimeoutError: [Errno 110] Connection timed out`.

**To Reproduce**
Be on a network where only outbound traffic is only allowed via HTTP pro

[2021-02-25 19:25] Drewm3 commented on #15846
@jantari, I have not heard anything back from the folks working on that image. However, since this issue was opened back in November, I wanted to check with you to see if it is still a problem or if it may have been resolved in a more recent update from Canonical? (If you have not checked this recently, then that is OK as well)

I have pinged the image maintainers again today. So, hopefully I will

[2021-02-25 19:30] sbonds commented on #16196
The "az vm list-skus" command does not show any info for constrained core VMs so the above might be true from an API standpoint, but does not resolve this issue.

[2021-02-25 21:20] dareyes90 commented on #16858
Hi all, I found that the trouble is related with the version of python installed with azure devops cli.

What I do was just update pip to the target directory /opt/az/lib/python3.6/site-packages/ with this command:
pip install --upgrade pip --target /opt/az/lib/python3.6/site-packages/

Hope this work for all!

[2021-02-25 21:41] setunol opened #17104 "Clarification needed on the following command"
Need some clarification on the private endpoint creation.  The documentation below suggesting that you can use an existing subnet in other resource group or subscription for the Private Endpoint deployment.  But when attempted, it's throwing error.

Please review and clarify if this is intended to be working or not.

--subnet
Name or ID of an existing subnet. If name specified, also specify --vnet

[2021-02-25 21:55] danielsollondon commented on #15846
@jantari - I looked into this, we believe it was related to this bug, where a fix was released by publisher.
https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1902960
I just tested it just now with the latest image, and the issue does not occur.

[2021-02-25 22:37] jantari commented on #15846
I will be able to test my pipeline again with the lastet images in ~14 hours and report back

[2021-02-25 22:50] yonzhan commented on #17100
functionapp

[2021-02-25 22:52] yonzhan commented on #17102
consumption

[2021-02-25 22:56] yonzhan commented on #17104
network

[2021-02-25 23:57] yungezz opened #17105 "[Keyvault] MHSM private link support"
**Resource Provider**

Keyvault
**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/12938
https://github.com/Azure/azure-rest-api-specs/pull/13054

spec
https://microsoft.sharepoint.com/:w:/r/teams/AzureKeyVault-SDKPSHCLICollaboration/_layouts/15/Doc.aspx?action=edit&sourcedoc=%7B49E6217F-9C46-4388-B3B

[2021-02-25 23:58] yungezz commented on #17105
no ETA on GA yet.

[2021-02-26 01:13] ScottSEA opened #17106 "couldn't install the azure devops cli extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to use `az extension add --name azure-devops` extension, I got the error below.

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
- _Put any pre-requisite steps here..._
- `az extension add --name azure-devops`

## Expected Behavior
extension would install

## Environment Su

[2021-02-26 01:14] roy-work commented on #16312
(Relaying part of the email conversation here, in the hopes that it'll help folks debug this issue if they run into it.)

A working theory on this is that `acr login` is doing some sort of `docker` call/command during the hang.

In the course of debugging something completely separate, I discovered that Docker for OS X on my machine was hung; the whale icon in the menu was grey, and hovering over

[2021-02-26 02:32] avishnyakov commented on #10720
Hi team, having the same problem.

Azure Portal UI allows creation of secrets with long description, yet az cli fails.

What might be a path forward for automated secrets creation? @maggiepint  @haroldrandom

[code]

![image](https://user-images.githubusercontent.com/3785585/109246765-efb33b80-7836-11eb-8515-e9ba9e54c0fc.png)

[2021-02-26 02:40] Juliehzl commented on #17101
Fixed in https://github.com/Azure/azure-cli/pull/16971

[2021-02-26 02:40] #17101 closed

[2021-02-26 02:41] Juliehzl commented on #17031
Fixed in https://github.com/Azure/azure-cli/pull/16885

[2021-02-26 02:42] #17031 closed

[2021-02-26 02:50] Juliehzl commented on #16999
Hi @usrme, thanks for your feedback! The commands have such difference because different SDK design and service team. But you could consider adding `--query` to get similar output for the command, e.g.
[code]

[2021-02-26 02:50] #16999 closed

[2021-02-26 03:40] yonzhan commented on #17106
devops

[2021-02-26 04:39] #17036 closed

[2021-02-26 04:40] #12150 closed

[2021-02-26 04:42] #15407 closed

[2021-02-26 05:21] #16848 closed

[2021-02-26 05:25] yugangw-msft commented on #16312
Thanks @roy-work for discovering one of the potential causes.
I have submitted https://github.com/Azure/azure-cli/pull/17115 to output more trace for self diagnosis

[2021-02-26 07:21] ondrejbudai opened #17123 "az disk list doesn't list a disk that definitely exists"
## Describe the bug

`az disk list` doesn't list a disk that definitely exists. I can confirm that by using `az disk show`.

## To Reproduce:
[code]

## Logs:
[code]

Logs with `--debug`: https://gist.github.com/ondrejbudai/ba27559a40a07290b17202f9680f0709

## Environment Summary
This is inside Ubuntu container on Fedora:
[code]

This is on Fedora:
[code]

Both environments have the same issue.

[2021-02-26 07:58] pvrk commented on #16784
@maxleonalbrecht : A gentle reminder to respond

[2021-02-26 08:24] JasperCGK opened #17124 "az cli "hybrid connections not supported on linux app.""
**Describe the bug**
Since hybrid-connections are now supported on Linux webapps via the portal, it should also be supported via CLI,
The following warning message appears: "hybrid connections not supported on linux app." and it does not add the hybrid-connection.

**To Reproduce**
execute command on linux webapp:
az webapp hybrid-connection add --hybrid-connection

[2021-02-26 08:38] ZosionLee opened #17125 "az aks install-cli Failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-02-26 09:16] usrme commented on #16999
I'm sorry, but I don't agree with this. I do understand that there are probably _way_ more important issues to resolve, but for me this is the same as if I were to create a resource with `create`, for example, and in one case the response includes:

[code]

And in another case the response includes:

[code]

Do you see how I would have to have explicit knowledge of how each and every command respo

[2021-02-26 10:02] AmrutaKawade commented on #14544
@jiasli is this releases?

[2021-02-26 11:56] pvrk commented on #16769
@maxleonalbrecht : A gentle reminder.

[2021-02-26 11:57] pvrk commented on #16345
@wallace223: If the issue still exists, can you please provide the policy details?

[2021-02-26 12:08] maxleonalbrecht commented on #16769
Thanks, I got it working.
You can close this issue.

[2021-02-26 12:36] stderr-to-devnull commented on #16047
You mean like Azure cmdlets already support?
`New-AzResourceGroupDeployment [bla bla] -nicName $nicName`

What voodoo magic is being used in this case to make it work and how can we replicate this using `azure-cli`?

[2021-02-26 12:51] lurifaxel opened #17131 "Service Bus Queues can only be placed in same resource group as namespace"
Hi!

It would be helpful to add information about the requirements of the `--resource-group` argument in the `az servicebus queue create` command. The only valid resource group to use here is the one where the Azure Service Bus Namespace resides, otherwise an error will be thrown:

"code: ParentResourceNotFound - , Can not perform requested operation on nested resource. Parent resource 'mynamespac

[2021-02-26 13:14] yonzhan commented on #17131
servicebus

[2021-02-26 13:36] manoj-devops opened #17132 "Unable to create file share in azure storage account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share create --account-name {} --account-key {} --nam

[2021-02-26 13:37] manoj-devops opened #17133 "file share creation error due to UnrecognizedArgumentError: unrecognized arguments: --enabled-protocols SMB"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share create --account-name {} --account-key {} --nam

[2021-02-26 13:43] jantari commented on #15846
I started a new pipeline, using the Azure image `Canonical:0001-com-ubuntu-server-focal:20_04-lts:latest` again instead of `Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.202008140` and this time the VM spun up was instantly able to resolve DNS names and be bootstrapped / download further binaries from the internet again.

This is of course only a single test run, but it has been some time

[2021-02-26 14:15] derekllaw commented on #17076
Using the CLI command
`az webapp create --name <name> --plan <plan> --resource-group <group> --runtime "Python|3.8" --deployment-local-git`
Gives error:
`'3.8' is not recognized as an internal or external command,
operable program or batch file.`

[2021-02-26 14:34] yonzhan commented on #17132
storage

[2021-02-26 14:35] yonzhan commented on #17133
storage

[2021-02-26 14:41] manoj-devops commented on #17132
It worked for me when i gave the command as below

az storage share create --account-name <storage name> --account-key <access key> --name <fileshare name> --quota 20480 --output none

[2021-02-26 14:43] manoj-devops commented on #17132
However when i went storage explorer it created as 20TB

[2021-02-26 14:44] manoj-devops commented on #17132
used 20 simply, got it as 20G now.

[2021-02-26 14:48] marlon-montgomery commented on #12087
I'm having the same issues, but brew no longer supports the switch command, any other thoughts on how to resolve?

[2021-02-26 14:59] yonzhan commented on #17132
So your issue was resolved by yourself, right?

[2021-02-26 15:10] manoj-devops commented on #17132
yes, i could resolve it on my own.

[2021-02-26 15:10] #17132 closed

[2021-02-26 15:48] #15503 closed

[2021-02-26 15:59] c20xh2 opened #17134 "Unable to update alert webhook from CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor metrics alert update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- None
- `az monitor metrics alert update --name {} --add-action {} --resource-group {}`

## Expect

[2021-02-26 16:11] designerfh opened #17135 "WebApp:Serialization issue with az webapp config access-restriction add"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config access-restriction add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config access-restriction add --resour

[2021-02-26 16:17] debugdana commented on #16209
az login doesn't fix it for me

[2021-02-26 17:08] alexeyshishkin01 opened #17136 "how to manage mount options of Azure File Volume for 'az container create'"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to manage mount options of Azure File Volume for 'az container create'.
Currently I have the following situation:
root@SandboxHost-637499546240241415:/# mount
\\<XXX>.file.core.windows.net\<YYY> on /var/lib/pgpro/std-13/archivedir type cifs (rw,nosuid,nodev,relatime,vers=3.0,cache=strict,username=pgproassa,uid=

[2021-02-26 17:19] r3-jerrysteele opened #17137 "az acr login with private endpoint goes via public route"
## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Connect to Azure VPN
- `az acr login -n myregistryname --subscription mysubscription`

## Expected Behavior

Login to the ACR's private endpoint via the connected VPN

## Environment S

[2021-02-26 20:53] jonpmay opened #17139 "Policy Assignment creation is failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy assignment create --name {} --display-name {} --po

[2021-02-26 20:54] #17139 closed

[2021-02-26 21:39] edyoung commented on #16311
This may be an issue with the authentication endpoint that Cloud Shell uses. Can you try running `az login` then rerun your command?

[2021-02-26 21:51] mcollier opened #17140 "Unclear error message when using invalid mount-path on Windows Web App"
## Unclear error message when using invalid mount-path

**Command Name**
`az webapp config storage-account add -g {} --name {} --custom-id {} --storage-type {} --share-name {} --account-name {} --mount-path {} --access-key {} `

**Errors:**
[code]

## To Reproduce:

- Create a Windows-based Azure Function application
- Create an Azure Storage account and an Azure File Share
- Attempt to add a file

[2021-02-26 22:16] panchagnula commented on #17025
@ThejaChoudary can you check if we repro this behavior - we haven't changed this command on CLI for a while but maybe the API has been changed that might cause this behavior change. If so we can get the API folks involved. Thanks!

[2021-02-26 22:20] alexeyshishkin01 commented on #16897
no answer from @josephporter :-(

[2021-02-27 02:42] yonzhan commented on #17134
monitor

[2021-02-27 02:45] yonzhan commented on #17136
container

[2021-02-27 02:47] yonzhan commented on #16897
https://github.com/Azure/azure-cli/labels/Container%20Instances  You could investigate from this link and find who is actively working on container service issues.

[2021-02-27 07:37] Hasnat86 opened #17141 "Failure to complete Exercise - Create a new API in API Management from a function app - request for help"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-27 09:21] shalin231 opened #17142 "Getting the below error while trying to authenticate to azure subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2021-02-27 11:46] ElvenSpellmaker commented on #16644
@naveedaz Hey, do I specifically need to add `--configuration-source <function-name>` then to copy the Production slot's tags?

[2021-02-27 14:01] yonzhan commented on #17142
account

[2021-02-27 14:03] yonzhan commented on #17141
More info (which CLI command you met with this issue) is needed.

[2021-02-27 14:04] frederickjjoubert opened #17143 "webapp:Unable to run `az webapp up --sku B1 --name <app-name>` following the Python Quickstart guide"
**Describe the bug**

I am following the Quickstart: Create a Python app using Azure App Service on Linux guide at [https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=bash&pivots=python-framework-flask](https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=bash&pivots=python-framework-flask)

But I get stuck in a loop on the command below and cannot deplo

[2021-02-27 14:08] frederickjjoubert commented on #17143
Update: I ran `brew reinstall azure-cli` a few more times out of frustration and now it's working.

[2021-02-28 01:50] panchagnula commented on #17143
@frederickjjoubert looks like you have an older version of azure-cli extension installed ; that is causing this behavior. Looks like a clean/new install of core helped? Otherwise I would recommend you deleting the extension version

az extension remove --name webapp ; so that can use just the core-cli webapp package. Thanks!

[2021-02-28 01:52] panchagnula commented on #17135
@madsd  do you have an idea art this - is this because Service Tag support is currently not available on SDK version of Python used on CLI?

[2021-02-28 02:20] shalin231 commented on #17142
Yonzhan, account ?

[2021-02-28 10:16] JamieSandell commented on #15188
Same issue, why is this closed?

[2021-02-28 13:50] freeddser opened #17144 "az iot hub show --query properties.eventHubEndpoints.events.endpoint --name XX"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub show --query {} --name {}`

## Expected Behavior

## Environm

[2021-02-28 14:03] yonzhan commented on #17144
iot hub

[2021-02-28 14:56] lamboktulus1379 opened #17145 "webapp:No such file or directory az webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {} --os-type {}`

## Expected Behavior

## Env

[2021-02-28 21:20] CasperJ commented on #16872
FYI: As a temp fix, I have put this at the top of my Azure DevOps Pipelines:

[code]

Thanks to: https://stackoverflow.com/a/61215035/1684235

[2021-03-01 02:04] zhoxing-ms commented on #16130
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2021-03-01 02:04] #16130 closed

[2021-03-01 02:09] #16317 closed

[2021-03-01 02:12] fengzhou-msft commented on #16341
@mkoziel2000 can you follow @MathieuHamel's comment and give it a try?

[2021-03-01 02:19] jiasli commented on #16209
@debugdana, running `az login` should retrieve a new refresh token from AAD. Could you **clear the browser cache** and run it again? We did observe some rare cases where the browser still somehow uses the old cache.

[2021-03-01 02:23] jiasli commented on #16641
@velvia, could you try configuring Sign-in frequency control in Azure Portal and see if that works for you?

See: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#policy-1-sign-in-frequency-control

[2021-03-01 02:35] jiasli commented on #16209
Regarding error

[code]

It is thrown because your tenant administrator has configured [Refresh Token Max Inactive Time](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#refresh-token-max-inactive-time).

If you are a tenant administrator, you may change it via [configuring Sign-in frequency control in Azure Portal](https://docs.microsof

[2021-03-01 02:36] jiasli commented on #17142
@shalin231, the above comment is only for issue triage purpose and you may ignore it.

Your issue is the same as https://github.com/Azure/azure-cli/issues/16209#issuecomment-787593844. Please check my comments and let me know if you are unblocked.

[2021-03-01 02:52] Juliehzl commented on #16908
Fixed on https://github.com/Azure/azure-cli/pull/16885

[2021-03-01 02:52] #16908 closed

[2021-03-01 02:53] Juliehzl commented on #16973
Fixed on https://github.com/Azure/azure-cli/pull/16885

[2021-03-01 02:53] #16973 closed

[2021-03-01 02:55] Juliehzl commented on #16893
@evelyn-ys  will work on the support in `az storage fs file list`.

[2021-03-01 02:59] Juliehzl commented on #16853
Hi @Josefczak, it is by design that share service doesn't support --auth-mode login, which requires Azure AAD credentials. So in this scenario, we will recommend you to use `--account-key`, `--connection-string` or `--sas-token` for authentication.

[2021-03-01 03:00] Juliehzl commented on #16853
But we will refine the warning with right options.

[2021-03-01 03:05] Juliehzl commented on #16899
@pzhokhov Thanks a lot for your feedback. To get right permissions for SAS token, you could refer to https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas#account-sas-permissions-by-operation.

[2021-03-01 03:05] Juliehzl commented on #16899
But I think we still need to refine error message.

[2021-03-01 04:00] yungezz commented on #17145
route to service team

[2021-03-01 04:02] yungezz commented on #17140
route to appriopriate team

[2021-03-01 04:02] yungezz commented on #17137
route to appropriate team

[2021-03-01 04:03] yungezz commented on #17123
hi @qwordy could you pls have a look? thanks

[2021-03-01 04:04] yungezz commented on #17124
route to appropriate team

[2021-03-01 04:04] yungezz commented on #17125
hi @ZosionLee this seems network issue, could you pls try rerun? route to appropriate team

[2021-03-01 04:40] avishnyakov commented on #10720
Whoever needs this functionality, here is a working path forward
* get the app registration objectId
* use `az cli` rest call against `addPassword` endpoint

Reference
* https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http
* https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_rest

[code]

[2021-03-01 04:59] fengzhou-msft commented on #16463
@AddisonG Please follow the [instruction](https://github.com/Azure/azure-cli/issues/14011#issue-640943121) to install the latest `azure-cli`. In the `azure-cli` package from microsoft repository, we use `-I` option of python to invoke `azure.cli`, it will not prepend the current directory to `sys.path` and it should fix this issue.

[2021-03-01 05:30] qwordy commented on #17123
If
[code]
returns the disk, then
[code]
should return it.
@ondrejbudai Could you confirm the disk is not deleted after the first call?

[2021-03-01 05:43] Juliehzl commented on #16916
Currently uploading with `--tier` is already supported in `storage-blob-preview` extension. You could install the extension with `az extension add -n storage-blob-preview`, but please make sure installing azure cli >= 2.16.0. We will migrate the feature in `storage-blob-preview` to azure cli asap.

Besides,  with your current azure cli version, you could upload first and set tier with `az storage

[2021-03-01 05:44] #16916 closed

[2021-03-01 05:56] empitesithum commented on #15188
Same issue, why is this closed?

[2021-03-01 05:59] Juliehzl commented on #16917
@evelyn-ys I could reproduce the issue and it seems it is caused by https://github.com/Azure/azure-cli/pull/16034. Could you help take a look?

[2021-03-01 06:28] Juliehzl commented on #16923
Hi @jdedwards3, may I know you azure cli version?
You could check it with `az --version`. In latest version, there is no such issue. You could upgrade your azure cli version with `az upgrade`.

[2021-03-01 06:29] yonzhan commented on #15188
@tdevopsottawa

[2021-03-01 06:50] madsd commented on #17135
@panchagnula Yes, ServiceTag is missing in the IpFilterTag enum in the current SDK.

[2021-03-01 07:01] kairu-ms commented on #17099
Hi @gabriel-kohen-by. I cannot reproduce your question. Can you run command
[code]
And try again?

[2021-03-01 07:24] jsntcy commented on #16482
@msyyc, any update on this issue?

[2021-03-01 07:33] dav009 commented on #16959
is there getting release any time soon?

[2021-03-01 07:45] ondrejbudai commented on #17123
No, the disk is still there. Interestingly, after 3 days, this works as expected, I can see the disk using `az disk list`.

[2021-03-01 07:48] ondrejbudai commented on #17123
I tried it again: I created a new disk and this time, I can see it in `az disk list` but I cannot see it in `az resource list`.

Regarding the disk from Friday: I can see it in both `az disk list` and `az resource list` now (both didn't show it on Friday).

[2021-03-01 08:34] kairu-ms commented on #17134
That's because you didn't install property requirements of CLI. You can run this command to update CLI and install requirements automatically
[code]

[2021-03-01 08:34] #17134 closed

[2021-03-01 08:36] kairu-ms commented on #17094
There are service issues for test_monitor_private_link_scope_scenario.

[2021-03-01 08:54] fengzhou-msft commented on #17027
Probably do something like `azure-devops` did with [keyring](url) to only install it when it's used. Extension owner @Juliehzl for awareness.

[2021-03-01 09:14] srothery commented on #16956
Hi - have I created the issue correctly? I'm needing help on this or I can't move forward adopting Azure Arifacts to store my binary packages. I've already spent many weeks following steps on the azure devops community portal ticketing system to only be told at the end I should have raised it here...

[2021-03-01 09:41] ZosionLee opened #17148 "login ACR error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2021-03-01 09:52] zffocussss commented on #16908
Hi zl:
     I am using debian 10(buster),how can be it fixed?

[2021-03-01 10:26] yonzhan commented on #16959
Yes, in this Sprint, within these 2 days.

[2021-03-01 12:04] gabriel-kohen-by commented on #17099
@kairu-ms , do you mean `az cloud set -n AzureCloud --profile latest` ? What you had specified is giving the help for the command.
`az cloud show` outputs:
[code]
The debug of my `alert` command is. Please advise:
[code]

[2021-03-01 12:08] Kotasudhakarreddy commented on #17082
looking in to it.

[2021-03-01 12:17] Kotasudhakarreddy commented on #17145
@lamboktulus1379 - `az webapp up` this command is required to run from the folder where the code is present. in your case you should run from the folder where the `.csproj` is exists.

[2021-03-01 13:55] yungezz commented on #17148
route to appropriate team

[2021-03-01 14:06] SaulLoachamin commented on #17031
What is the solution because in this moment the microsoft agents are not working as expected, we need to change the commands? Or what we need to fix the problem?

[2021-03-01 14:15] yonzhan commented on #17031
The fix should be released within 2 days.

[2021-03-01 14:16] mstavrev commented on #15303
Any update on this one?
Btw, how is that a feature-request? I can understand a few seconds to a minute of caching the NSG/LB state, but I am currently experiencing more than 40 minutes delay. That is definitely not normal.

[2021-03-01 14:17] stderr-to-devnull opened #17149 "Cannot generate SAS URI per documentation"
## Used steps from here: https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-get-sas-uri

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2021-03-01 14:19] yonzhan commented on #17149
storage

[2021-03-01 14:42] jonathan-shapiro-msf opened #17331 ""az functionapp function delete" Returns success but did not delete function"
I ran the cli command below:
[code]

Then, I got the return statement
[code]

However, when I go on to the UI, the function is still present and can be enabled/disabled as normal. The command doesn't appear to have deleted the function at all.

My function ID is: `Id=d6620d81-4e34-47aa-896b-d969340a3e07`

[2021-03-01 16:09] CraigStuntzWillowTree opened #17150 "`az upgrade` runs `brew upgrade`, and (surprisingly!) upgrades ansible, MySQL, subversion...."
**Describe the bug**
The CLI invited me to run `az upgrade` on my system because I was 2 versions behind. Fine, I did that. It asked me to confirm that I really wanted to upgrade; I said "y". Unbeknownst to me, it then did a `brew upgrade` on my system, causing ansible to upgrade (by a major version! -- it went from 2.9.3 to 3!), MySQL to update a minor version, and subversion to be updated.

This

[2021-03-01 16:12] lamboktulus1379 commented on #17145
![image](https://user-images.githubusercontent.com/42629000/109524815-81df6c00-7ae3-11eb-8471-de2a5628bab9.png)
This is my directory structure...

The TokenService.csproje exist in project TokenService

[2021-03-01 17:18] Kotasudhakarreddy commented on #16719
@nexxai right now i don't have an ETA for this as it required a swagger update. Will take it on priority once we get the latest swagger update.

[2021-03-01 17:59] CraigStuntzWillowTree commented on #17150
One solution would be to do a `brew upgrade --dry-run azure-cli` first. It doesn't seem like `brew` has an option to prompt before upgrading, so there would be three steps:
1. Do the `--dry-run`
2. Prompt the user to make sure they're OK with the full list of packages to be upgraded
3. Do the normal `brew upgrade azure-cli`

[2021-03-01 18:02] velvia commented on #16641
@jiasli can you tell me which tool in Azure that is?  I can't tell from the section you pointed me to.... it looks like something called "Contuoso"?  I've never seen that....

[2021-03-01 18:27] chenlomis opened #17151 "Error while installing edge build"
**Describe the bug**
Encountered the following error while installing the edge build
![image](https://user-images.githubusercontent.com/30876406/109541093-3cd22000-7a78-11eb-8dc6-cfec0f1b1756.png)

**To Reproduce**
Installation steps as per shared over email

**Expected behavior**
That the installation would have gone through :)

**Environment summary**

![image](https://user-images.githubusercont

[2021-03-01 18:31] j-hudgins commented on #16891
Same- we are experiencing this and looking forward to the resolution @qwordy

[2021-03-01 18:50] pzhokhov commented on #16899
@Juliehzl thanks for your response! If I understand your point correctly, here are the two lines that are related to my particular issue:

Operation | Signed Service | Signed Resource Type | Signed Permission
-- | -- | -- | --
Put Blob (create new block blob) | Blob (b) | Object (o) | Create (c) or Write (w)
Put Blob (create new page blob) | Blob (b) | Object (o) | Create (c) or Write (w)
-- | --

[2021-03-01 19:21] scschneider opened #17153 "Unable to list notebooks"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to list notebooks via CLI, I get the error described below. I also have an open Azure support ticket addressing similar behavior in the portal where my notebook went missing and seems to timeout when trying to locate notebooks (just a theory)

**Command Name**
`az synapse notebook list`

**Errors:**

[2021-03-01 21:38] hhertogh opened #17154 "Private AKS Cluster - Public Load Balancer"
Hey,

I'm testing the private AKS cluster feature as I want to get rid of the public load balancer which is automatically created when you create an AKS cluster (fully internal services).
After creating the AKS private cluster with Azure CLI, I still see a load balancer "kubernetes" with a public IP attached to it. Is this as expected ? I would not expect to have such a load balancer. I can then c

[2021-03-01 21:52] CraigStuntzWillowTree commented on #17150
#16727 looks related; could possibly address both issues with the same fix (or not!).

[2021-03-01 22:12] clambert opened #17155 "az aks get-versions leaves a \r character in the output"
**Describe the bug**
running the az aks get-versions command leaves a \r in the output when running it on unbuntu using the windows subsystem for linux

**To Reproduce**
1) run
[code]
at the command prompt in Ubuntu using Windows Terminal
2) set `REGION_NAME=eastus`, `RESOURCE_GROUP=akscostsaving`, and `AKS_CLUSTER_NAME=akscostsaving-$RANDOM` so the next command will work (These were the values be

[2021-03-01 22:30] anleinba opened #17156 "Key Vault set-policy needs "--applicationId" parameter for OBO Token (user+application)"
Describe the bug
[az keyvault set-policy command](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az_keyvault_set_policy) needs an additional parameter to allow users to add an on-behalf-of access policy for combined identities, an azure feature where a combined identity is made from the application id of one identity and the object id of another

To Reproduce
No reproduc

[2021-03-01 22:33] yonzhan commented on #17151
edge build

[2021-03-01 22:36] yonzhan commented on #17153
synapse

[2021-03-01 22:39] panchagnula commented on #14821
@calvinsID assigning this to you to help identify the right functions with the new library for parity
this file needs to be updated
from vsts_cd_manager.continuous_delivery_manager import ContinuousDeliveryManager
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/vsts_cd_provider.py

Old: https://github.com/microsoft/vsts-cd-manager
New: https://github.

[2021-03-01 23:35] stderr-to-devnull commented on #17149
Solved the issue by searching the internet and finding an answer on stackoverflow: I needed to use the storage account ID and the storage account ID key which is base64 encoded. The mentioned documentation is the problem and should be adjusted for clarity and also tell the users how to list available storage accounts then how to get the storage account key via azure-cli.

Concerning azure-cli, the

[2021-03-01 23:35] #17149 closed

[2021-03-01 23:43] worldspawn commented on #15512
`$body = '{\"accessTokenAcceptedVersion\": 2, \"signInAudience\": \"AzureADandPersonalMicrosoftAccount\"}'`

@jiasli  ☝️ I can't send that payload. Documentation states that in order to set the sign in audience to AzureADandPersonalMicrosoftAccount the token version must be set to 2. If I try the above payload I get

If I try to set either individually I get the same result.

If I edit my manifest

[2021-03-01 23:49] worldspawn commented on #15512
@jiasli just read https://github.com/Azure/azure-cli/issues/11168 and seem to be unblocked. Tried on a fresh application and was able to do it one single rest operation.

For anyone arriving here the solution is for the payload to look like this:
`$body = '{\"api\":{\"requestedAccessTokenVersion\": 2},\"signInAudience\": \"AzureADandPersonalMicrosoftAccount\"}'`

For some reason `accessTokenAccept

[2021-03-02 00:37] calvinsID commented on #17145
Looks like code is looking for `C:\Users\lambo\source\repos\AkuSuka\TokenService.csproj` instead of \AkuSuka\TokenService\TokenService.csproj - can you pls try to run command inside the \AkuSuka\TokenService directory rather than \AkuSuka directory?

[2021-03-02 00:40] calvinsID commented on #17090
Similar to #17030

[2021-03-02 00:41] calvinsID commented on #17030
Similar request to #17090 17090

[2021-03-02 01:24] neethirshetty opened #17158 "CLI for Virtual WAN : p2s multiple authentication"
**Is your feature request related to a problem? Please describe.**
P2S multiple authentication feature has been released. Hence we will need to add CLI support to it.
previously we were allowed to set only single authentication for P2S vpnServerConfiguration. Support for multiple authentication has to be added.

**Describe the solution you'd like**

Brief about multi auth: . A point-to-site (P2S)

[2021-03-02 01:28] yungezz commented on #17150
thanks for the feedback, we're looking at it. @fengzhou-msft

[2021-03-02 01:31] yungezz commented on #17154
route to appropriate team

[2021-03-02 01:32] yungezz commented on #17156
hi @houk-ms could you have a look? thanks

[2021-03-02 02:06] yonzhan commented on #17158
network

[2021-03-02 02:12] jiasli commented on #15512
@worldspawn, glad to know it is working for you. Yes, I have previously provided the information in https://github.com/Azure/azure-cli/issues/11168#issuecomment-593385804.

In **Microsoft Graph**, `signInAudience` is defined in [application resource type](https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0) and `api.requestedAccessTokenVersion` is defined in [apiAp

[2021-03-02 02:12] #15512 closed

[2021-03-02 02:25] kairu-ms commented on #17099
Hi @gabriel-kohen-by, thanks to provide the debug information. I find that the value of --resource-group is an empty string in the debug log.
[code]
 I think that cause the problem. Can you try again?

[2021-03-02 02:25] qwordy commented on #16891
@j-hudgins The fix will be available in the release on 3/2/2021.

[2021-03-02 02:27] jiasli commented on #17151
Installing **bcrypt** shouldn’t require building from source:

[code]

May I know which python and pip version you are using?

[code]

If you are using an old pip, could you follow the instruction in the terminal to update to the latest pip?

[2021-03-02 02:58] lamboktulus1379 commented on #17145
Oke Thanks.. I will try...

I think I have been wrong directory...

Thanks for the help

[2021-03-02 03:02] Juliehzl commented on #16899
Hi @pzhokhov , I think it is because for large blob, we have to chunk it to multiple small blocks and upload with multiple REST, for first one you could upload with `c` permission, but for the remaining part to upload, you have to have `w` permission because the target blob is already be there.

[2021-03-02 03:49] #16940 closed

[2021-03-02 04:56] woshizhouyihao opened #17162 "Webapp:trying to deploy an app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-03-02 05:19] Satak commented on #16891
Is this fixed?

[2021-03-02 05:20] evelyn-ys opened #17166 "Transition to GA: dls"
Command module `dls` has been released for a long time and is using stable sdk version `2016-11-01`.

Please check [Module GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extensionmodule-to-ga-module) and remove `preview` tag if necessary.

[2021-03-02 05:22] evelyn-ys opened #17167 "Transition to GA: search"
Command module `search` has been released for a long time and is using stable sdk version `2020-08-01`.

Please check [Module GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extensionmodule-to-ga-module) and remove `preview` tag if necessary.

[2021-03-02 05:25] evelyn-ys opened #17168 "Transition to GA: config"
Command module `config` has been released for a long time.

Please check [Module GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extensionmodule-to-ga-module) and remove `experimental` tag if necessary.

[2021-03-02 05:26] evelyn-ys opened #17169 "Transition to GA: cache"
Command module `cache` has been released for a long time.

Please check [Module GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extensionmodule-to-ga-module) and remove `preview` tag if necessary.

[2021-03-02 05:39] Kotasudhakarreddy commented on #17145
yes please try from the `\AkuSuka\TokenService\TokenService.csproj` .

[2021-03-02 05:39] #17145 closed

[2021-03-02 06:03] qwordy commented on #17123
@ondrejbudai It acts like a lucky draw. If it happens again, comment here.

[2021-03-02 06:06] #17053 closed

[2021-03-02 06:33] ondrejbudai commented on #17123
I've just remembered that I dealt with the same issue like a half year ago when I implemented a test that created an azure VM from an image and then deleted it including all related resources. I used the "resource list" API call directly that time and I had issues that the disk couldn't be found many times (randomly).

I, therefore, suspect that this might be an actual API issue - may I ask you wh

[2021-03-02 06:45] usrme commented on #16891
@Satak, yes. The [latest release](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.20.0) includes a [fix](https://github.com/Azure/azure-cli/commit/fbedfec2e8ca7dd6cdd6ae55b15b7fd1ed0ce642) for this. Considering this closed.

[2021-03-02 06:45] #16891 closed

[2021-03-02 07:14] yonzhan commented on #17166
dls

[2021-03-02 07:16] yonzhan commented on #17167
search

[2021-03-02 07:16] yonzhan commented on #17168
config

[2021-03-02 07:23] yonzhan commented on #16848
This feature will be shipped today.

[2021-03-02 07:25] yonzhan commented on #17169
cache

[2021-03-02 07:58] albertmenglongli commented on #16858
Works for me

[2021-03-02 08:15] Kotasudhakarreddy commented on #17143
@frederickjjoubert hope you are unblocked with the issue now. please confirm so that we will close this issue.

[2021-03-02 08:19] jiasli opened #17170 "distutils.version.LooseVersion should be replaced by packaging.version.Version"
**Is your feature request related to a problem? Please describe.**

As pointed out by https://github.com/Azure/azure-cli-extensions/pull/2987#discussion_r572827296,  `distutils.version.LooseVersion` is legacy and conformant only to the superseded [PEP 386](https://www.python.org/dev/peps/pep-0386/) (by [PEP 440](https://www.python.org/dev/peps/pep-0440/)).

In edge build, the version is `2.20.0.po

[2021-03-02 08:22] jiasli commented on #16641
Ah, it should be under **Azure Active Directory**:

![image](https://user-images.githubusercontent.com/4003950/109616243-e5af7680-7b6f-11eb-8c5d-4f5209690ab8.png)

[2021-03-02 10:34] yonzhan commented on #17170
distutils related issue

[2021-03-02 10:41] Kotasudhakarreddy commented on #16954
@Jason1269 did you re-try by uninstalling the webapp extension.

[2021-03-02 10:53] nokxs opened #17172 "az acr check-health crashing behind corporate proxy"
## Describe the bug

**Command Name**
`az acr check-health`

**Errors:**
[code]

## To Reproduce:
I'm running behind a corporate proxy, which is using a self signed certificate. The proxy also needs authentication, which is handled by a locally running CNTLM proxy.

- HTTP_PROXY=http://localhost:3128
- HTTPS_PROXY=http://localhost:3128
- REQUESTS_CA_BUNDLE=/path/to/certificate.pem
- `az login` *Wo

[2021-03-02 11:32] Kotasudhakarreddy commented on #14909
@richardlm57 i am unable to repro this issue. could you please try with latest version of CLI `2.19.0 *`. Below is FYI

![image](https://user-images.githubusercontent.com/60102891/109642424-f57f8880-7b78-11eb-9ff9-d75b0665c978.png)

[2021-03-02 12:24] ThejaChoudary commented on #17025
@panchagnula Able to repro the issue Sisira.

[2021-03-02 12:32] scott-doyland-burrows commented on #14880
Hi,

Not ideal, but you can access the API directly to setup the SPA URLS.  I setup the reply_urls on the "webapp".  Then I run the following which moves the reply_urls to the "SPA".

[code]

[2021-03-02 12:34] frederickjjoubert commented on #17143
All good here, thank you!

[2021-03-02 12:34] #17143 closed

[2021-03-02 13:18] yungezz commented on #17172
route to appropriate team

[2021-03-02 13:25] Kamran-Bilgrami commented on #16482
I upgraded my azure CLI to version 2.19.0. I am not able to reproduce the issue anymore. Thanks for all your help.

[2021-03-02 13:25] #16482 closed

[2021-03-02 13:44] Juliehzl commented on #16908
Now azure cli 2.20.0 is available. You could install the new one according to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2021-03-02 15:10] fengzhou-msft commented on #15074
azure-cli 2.20.0 has bumped cryptography. Please give it a try.

[2021-03-02 15:23] gabriel-kohen-by commented on #17099
That indeed was the issue @kairu-ms. Thank you. On a side note it's worth adding a warning to the command about the RG missing rather than give a, bit misleading, API version error.
Appreciate the great product. This issue can be closed.

[2021-03-02 15:44] poveilleux commented on #16944
Hello @Juliehzl,
Have you been able to look at it?

[2021-03-02 15:49] fengzhou-msft commented on #9277
We now have `az upgrade` to upgrade `azure-cli` and all installed extensions.

[2021-03-02 15:54] #12758 closed

[2021-03-02 16:40] jdedwards3 commented on #16923
@Juliehzl I am using this with github actions you can see the usage [here](https://github.com/jdedwards3/jedwards/blob/main/.github/workflows/main.yml)

I was using the latest version but I rolled back to 2.18.0 to prevent the login issue that is occurring as noted [here](https://github.com/Azure/azure-cli/issues/16872) - the version change doesn't appear to be related to the content-type issue

[2021-03-02 17:29] nareshkhatiwada opened #17174 "az aks get-credentials --resource-group xxx --name xxx throwing an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
**Command Name**
`az aks get-credentials --resource-group xxx --name xxx`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-

[2021-03-02 17:43] chenlomis opened #17175 "Can't disable error recommendations"
**Describe the bug**
az config set error_recommendations=off does not disable recommendations

**To Reproduce**

![image](https://user-images.githubusercontent.com/30876406/109690183-eed22080-7b3a-11eb-8cdc-68e88ce13f9c.png)

Also tried the previous config but also didn't work
![image](https://user-images.githubusercontent.com/30876406/109690791-8fc0db80-7b3b-11eb-86ab-e6072d6d3d4d.png)

**Expecte

[2021-03-02 18:29] lostmygithubaccount commented on #14847
#please-close - no repro

[2021-03-02 18:30] #14847 closed

[2021-03-02 18:33] sauryadas commented on #15877
@irishun Will it be possible to file a support ticket with details so we can look at the logs?

[2021-03-02 18:55] adiun opened #17176 "Error during az storage container generate-sas: self.account_key should not be None"
## Describe the bug

**Command Name**
[code]

Note this command is being run in Azure Pipelines (see below for repro steps)

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Create an Azure DevOps Pipeline that uses a stage like this:

[code]

## Expected Behavior

No error. This was pass

[2021-03-02 19:10] yugangw-msft commented on #17172
Fixing it for March 17 release

[2021-03-02 19:23] pzhokhov commented on #16899
Understood, thanks! Is there then a recommended way to allow users to upload files to the same container, but not delete or modify each other's files? From your answer it sounds like that's not currently possible and users should be permissioned to different containers

[2021-03-02 19:51] adiun commented on #16920
@Juliehzl we started getting this error in Azure Pipelines this morning (which uses 2.19.1 in their `ubuntu-latest` Hosted Agent). We didn't make any changes and started seeing this error about 4 hours ago.

I was able to install Azure CLI 2.20.0 over it in Azure Pipelines but I am still getting the error.

I filed a new issue #17176 since that refers to sas-generate and was not sure if it's relat

[2021-03-02 19:52] adiun commented on #17176
Note, I was able to install a newer version `2.20.0` in the Azure Pipelines hosted agent via:

[code]

However this didn't fix the issue.

[2021-03-02 20:42] panchagnula commented on #17025
Going to start an internal thread with the feature owners to help resolve this.

[2021-03-02 21:19] abhi-msft opened #17179 "az storage blob download-batch creating file instead of folder for parent and failing with [Errno 2] No such file or directory"
I am trying to download files recursively from Azure storage to local folder using the command:
az storage blob download-batch -d $targetFilePath --pattern $searchPattern -s $projectName  --account-name $storageAccount --auth-mode login -o tsv

During the process, it started downloading the file: **XXX/1.0.0/FileName.psd1**
The expected behavior is to create a folder "1.0.0" and then copy the file

[2021-03-02 22:56] MatthewSteeples commented on #16387
Problem still exists for 2.20

[2021-03-02 23:02] MatthewSteeples commented on #16387
Just noticed that the Azure Portal gives me this error:

@jiasli is that something you can pass on to the right team?

[2021-03-02 23:24] #17099 closed

[2021-03-02 23:33] yonzhan commented on #17176
storage

[2021-03-02 23:36] yonzhan commented on #17179
storage

[2021-03-03 02:34] jiasli commented on #16387
@MatthewSteeples, thanks for the information. We are internally working with Intune team on this. We will let you once there is any updates.

[2021-03-03 03:06] zffocussss commented on #9141
so disgusting if specifying per item....

[2021-03-03 03:30] bpossolo commented on #9141
@zffocussss you can delete files in bulk using the command I wrote... the issue is the folders don't get deleted..

[2021-03-03 03:45] Juliehzl commented on #17179
Hi @abhi-msft, may I know your azure cli version used? could you provide debug information with `--debug` in your command?
I cannot reproduce your issue. As you can see, I could download with a new folder `1.0.0` created:
![image](https://user-images.githubusercontent.com/49508232/109749558-dd117b80-7c15-11eb-9613-cc728f0a7689.png)

[2021-03-03 04:08] pushkalb123 commented on #7304
@esnell-midmark , the solution is to use double quotes in the command `az account set --subscription "$subscription"`
`subscription="IPTIQADATA DEV"
az account set --subscription "$subscription"`

[2021-03-03 05:18] abhi-msft commented on #17179
To clarify, it is not working when a dot is present in subfolder name.
Try with 1.0.0 as a subfolder but not parent.
So, you could try either
- adding a folder under 1.0.0 like "1.1.1" with test.txt.
- Adding a parent folder to 1.0.0 and try downloading that. ex: test/1.0.0

[2021-03-03 05:57] akshayneema commented on #17094
For test_backup_restore it was taking more than 3 hours because some more test cases were added. I've created a separate test suite for the additional test cases. PR link - [](https://github.com/Azure/azure-cli/pull/17183)

[2021-03-03 06:07] NirajCricket opened #17184 "Zones availability --node-zones 1 2 3"
the command az aks nodepool add --cluster-name

                    **[--node-zones {1, 2, 3}]** is not correct, it throws errror, it should be

                    [--zones 1 2 3 ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fce7ab-ab56-44c6-b9a8-405444247a0b
* Version Independent ID: dabbb6c6-c616-a6ec-61f6-1b9d

[2021-03-03 06:21] yungezz commented on #17174
route to appropriate team

[2021-03-03 06:21] yungezz commented on #17175
hi @houk-ms , could you pls have a look? thakns

[2021-03-03 06:23] yungezz commented on #17162
route to appropriate team

[2021-03-03 06:25] yungezz commented on #17184
route to appropriate team

[2021-03-03 06:27] Drewm3 commented on #15846
Thanks for confirming the fix @jantari.

[2021-03-03 06:27] #15846 closed

[2021-03-03 07:55] qwordy commented on #17123
Added a service attention label.
Hi service team, it is reported that https://docs.microsoft.com/en-us/rest/api/resources/resources/list or https://docs.microsoft.com/en-us/rest/api/resources/resources/listbyresourcegroup can't list the expected disk resource. Could you help take a look? @ondrejbudai can provide more details of how to reproduce it.

[2021-03-03 07:59] savjani commented on #17062
@yonzhan - Can you please close this issue. We have an internal repair item and the command reference doc update will be performed in next release which is expected in 30 days so we can close this issue.

[2021-03-03 08:39] Juliehzl commented on #16944
Could you upgrade azure cli to 2.20.0 with `az upgrade` and try again？

[2021-03-03 09:15] #17062 closed

[2021-03-03 09:18] Juliehzl commented on #16920
@adiun I have tested in my machine and it works as expected:
![image](https://user-images.githubusercontent.com/49508232/109782898-5de76c00-7c44-11eb-9b01-7853d7cd900a.png)

Could you check if azure cli 2.20.0 is is installed in your machine with `az --version`? It seems you cannot change azure cli version in ADO. And you could also test in you local machine to see if it is fixed now.

[2021-03-03 09:34] evelyn-ys commented on #17176
Hi @adiun. Thanks for reaching out to us.

As you can see from the `WARNING` message, we will query for the `account key` inside your storage account as only `account name` is provided and the storage server need credentials to authenticate. If we can't succeed to query `account key` from the account name provided, then the command will fail.

Most likely `--account-name $1` reference some not exi

[2021-03-03 11:47] estoel81 commented on #16392
What is the status of this issue?

[2021-03-03 14:06] j-hudgins commented on #16891
@qwordy @usrme  how would I update my azure CLI version if my pipeline runs off of a Microsoft hosted agent? Does the CLI get auto updated or are there some steps I need to take?

[2021-03-03 15:44] wilmerlm11 opened #17186 "Cannot login or logout [WinError -2146893813]"
Hi,
I guess since I've updated my password I can no longer login or logout.

I use:
az logout --username {} --clear-credential
az login --tenant {} --tenant-access

Both are returning the same error [WinError -2146893813]

What can I do to solve it plz?

## Describe the bug

**Command Name**
`az logout`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument value

[2021-03-03 16:00] christle commented on #15110
Hi, We have had the problem again for a few days in west europe. Is it a known issue?

[2021-03-03 16:21] JackSinclairT commented on #15110
We've had the same issue as @christle. What's going on?

[2021-03-03 17:23] yugangw-msft commented on #15110
This should be mitigated now. We have a perf degrading starting ~9am UTC. Please update here or submit a support ticket if you haven't see improvements.

[2021-03-03 17:51] chaniwolfson commented on #15411
any update on this?

[2021-03-03 18:06] ppintogbm opened #17187 "Connecting an ARC Kubernetes is not working."
### **This is autogenerated. Please review and update as needed.**

Trying to connect a local cluster with **az connectedk8s connect** is throwing the following exception

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2021-03-03 19:23] poveilleux commented on #16944
@Juliehzl It works now, thank you 😁

[2021-03-03 19:32] chenlomis opened #17188 "Incorrect param for recommendations"
**Describe the bug**

![image](https://user-images.githubusercontent.com/30876406/109861294-03361c00-7c14-11eb-9239-684a8783cdc2.png)

I believe --resource-group param should be --name

**To Reproduce**
see above

**Expected behavior**
see above

**Environment summary**

**Additional context**
n/a

[2021-03-03 19:43] amjads1 commented on #17123
@Vaibhav-Agar Can you please look into this issue?

[2021-03-03 20:01] avirishuv commented on #13974
apologies for the delay here, this is yet to be picked up development. We don't have final timelines yet, but it should be picked up sometime next month. Will keep you posted on the updates.

[2021-03-03 21:35] Quintinon opened #17189 "az storage endpoint not available for AzureCLI 2.20.0 in Azure Goverment"
**Describe the bug**
Attempting to use the `az storage` command with location usgovvirginia fails with the following error:
```ERROR: (NoRegisteredProviderFound) No registered resource provider found for location 'usgovvirginia' and API version '2021-01-01' for type 'storageAccounts'. The supported api-versions are '2020-08-01-preview, 2019-06-01, 2019-04-01, 2018-11-01, 2018-07-01, 2018-03-01-pre

[2021-03-03 23:01] Nikash commented on #14404
Just started running into the same error using `[concat(parameters('vnetId'), parameters('mlSubnetId'))]` for the storage account `networkAcls.virtualNetworkRules.id`.

Seems like the field does not accept any functions and needs a hardcoded value. Is there an update on this?

[2021-03-03 23:09] pruthviuvss commented on #8568
@tjprescott  This issue still exits, please reopen. I am using 3.2.0 version of Az.Resources module.

![image](https://user-images.githubusercontent.com/11664898/109884791-68990580-7c32-11eb-85fe-84e840fa19a8.png)

[2021-03-03 23:13] joe-plumb opened #17193 "WebApp:`az webapp up` command failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} -l {} --plan {} --sku {} --name {}`

## Ex

[2021-03-03 23:18] mchudinov commented on #7925
I need to add  permission to perform action 'Microsoft.Network/publicIPAddresses/join/action'
on scope '/subscriptions/.../resourceGroups/rg-healthcheck-node-1/providers/Microsoft.Network/loadBalancers/kubernetes'

How to do it using command line?
Where to find those GUIDs **from cli** ?
I need it to be automated in a script.

[2021-03-03 23:22] amitbapat opened #17194 "az cloud register does not support a way to set MHSM dns suffix"
'az cloud register' command allows a user to set a new Azure cloud environment. A new DNS Suffix for Managed HSM is now present in standard cloud definitions.

% az cloud show --query suffixes.mhsmDns
".managedhsm.azure.net"

However using 'az cloud register' it is not possible to set the DNS suffix for Managed HSM.
There exists a --suffix-keyvault-dns, but there is no '--suffix-mhsm-dns' paramete

[2021-03-03 23:33] mchudinov opened #17195 "How to add permissions for an enterprise application from CLI?"
**Resource Provider**
Microsoft.AAD

**Minimum API Version Required**
azure-cli                         2.19.1 *

**Description of Feature or Work Requested**
Need help how to add permissions for an enterprise application from **az** CLI.
More specific
I need to add permission to perform action `Microsoft.Network/publicIPAddresses/join/action`
on scope `/subscriptions/.../resourceGroups/rg-healthc

[2021-03-03 23:35] PushkarVaity commented on #16884
I can confirm that updating pip to latest version in this target location **/usr/lib64/az/lib/python3.6/site-packages/** helped solve the following error:

_Unable to use secure credential store in this environment.
Please refer to alternate methods at https://aka.ms/azure-devops-cli-auth
using Environment variable
or use ‘az login’
An error occurred. Pip failed with status code 1 for package keyr

[2021-03-04 00:10] kartsm opened #17196 "`az pipelines build queue` should allow passing of template parameters"
**Is your feature request related to a problem? Please describe.**

I have a build pipeline defined in an `azure-pipelines.yml` file that I would like to be able to launch with user inputs in the Azure DevOps web UI.  We are anticipating turning this pipeline into something of a service catalog item for our internal IT organization.

What the UI and YAML call "parameters" seems to be the natural c

[2021-03-04 00:47] da0ist opened #17197 "how do I change the login user for "az ssh vm"?"
**Resource Provider**
az ssh vm

**Description of Feature or Work Requested**
az ssh vm -u <user>

Currently it's using my login e-mail address and that's not a valid user on the system:

jward@dosemehealth.com@23.99.250.254's password:

**Minimum API Version Required**
Dunno

**Swagger Link**

**Target Date**

[2021-03-04 00:52] #16944 closed

[2021-03-04 00:53] yonzhan commented on #17186
login

[2021-03-04 00:55] yonzhan commented on #17189
storage

[2021-03-04 00:57] yonzhan commented on #17188
ARM

[2021-03-04 01:02] yonzhan commented on #17196
pipelines

[2021-03-04 01:03] yonzhan commented on #17195
AAD

[2021-03-04 01:35] yungezz commented on #17194
need to update cloud register endpoints. cc @fengzhou-msft .

[2021-03-04 02:05] jiasli commented on #7925
@mchudinov, `az ad app permission grant` is for [Active Directory Graph delegated permissions](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#permission-types).

What you are referring to are ARM permissions, which should be configured using [Azure role-based access control (Azure RBAC)](https://docs.microsoft.com/en-us/azure/role-based-access-control/ov

[2021-03-04 02:17] jiasli commented on #8568
@pruthviuvss, [New-AzRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azroleassignment?view=azps-5.6.0) is an Azure PowerShell cmdlet. Routing to https://github.com/Azure/azure-powershell/issues/14424.

[2021-03-04 02:33] #17142 closed

[2021-03-04 02:36] #17151 closed

[2021-03-04 02:56] yungezz commented on #17197
hi @fengzhou-msft could you have a look?

[2021-03-04 02:56] yungezz commented on #17193
route to appropriate team

[2021-03-04 03:09] qwordy commented on #16863
@grace-liang It is supported now.
When I run
[code]
I get
[code]
Can you give a image that has features?

[2021-03-04 05:32] #17040 closed

[2021-03-04 06:04] qwordy commented on #17063
I evaluated the 3 features.
1. CLI update for changing performance tiers for disks without downtime
2. Support for zone-redundant storage (ZRS) managed disks
3. Support auto-key rotation of keys for encrypting managed disks

1st and 3rd are easy. 2nd is more complex.

[2021-03-04 07:33] steven130169 commented on #16697
same issue!

[2021-03-04 07:34] qwordy commented on #16159
In compute 2020-12-01, InGuestPatchMode becomes WindowsVMGuestPatchMode, LinuxVMGuestPatchMode. It is a breaking change.

[2021-03-04 07:58] atanas-mavrov opened #17201 "Azure cli functionality"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment`

## Expected Behavior

## Environme

[2021-03-04 08:28] yonzhan commented on #17201
functionapp

[2021-03-04 10:20] jokarl opened #17203 "Copy batch only files in directory but not directory itself"
It would be useful to be able to do a "flat" batch copy, and not include the directory itself. For instance:

[code]

I would expect this instead:
[code]

It feels counter intuitive to include the folder when I explicitly state that I want the zip files within that folder. If I on the other hand would have specified my pattern as just `*.zip`, then including the folders that contain zip files make

[2021-03-04 10:34] yonzhan commented on #17203
storage

[2021-03-04 11:12] usrme commented on #16891
Unfortunately I'm not using Azure Pipelines, so hopefully @qwordy can help you out.

[2021-03-04 11:38] TonyWu3027 opened #17204 "WebApp:Python Error when creating webapp with az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-03-04 13:33] Filip232 opened #17205 "az storage fs file list --recursive false error"
**Describe the bug**
I am trying to get a list of files in my blob storage with `az storage fs file list` command, and i dont want to list files from subdirectories, so i am using `--recursive false` flag and saving it to a file. When it is executing command on azure pipline with azure CLI (version 1, inline script) it says:

[code]
it was working until 10am (gmt+1) 4th march.

**To Reproduce**
cr

[2021-03-04 13:40] shalin231 commented on #16209
There is a folder with name .azure in my local system, I deleted it and tried again...it fixed the problem..

[2021-03-04 14:26] gsscoder opened #17206 "az cosmosdb create fails provisioning"
[code]

**Description**
The command fails to provision a Cosmos DB account.

**To Reproduce**
[code]

**Expected behavior**
Create a Cosmos DB account and return JSON.

**Environment summary**
- Windows 10
- PowerShell 5.1.18362.1171
- Python 3.9.3

Thank you and have a nice day,
Giacomo S. S.

[2021-03-04 15:11] yonzhan commented on #17206
cosmosdb

[2021-03-04 15:11] yonzhan commented on #17205
storage

[2021-03-04 15:17] juanfergc opened #17207 "webapp:az webapp log config level always defaults to verbose"
When I enter this command:

az webapp log config -n myapp --resource-group myrg --application-logging filesystem --level **information**

I get this:

{
  "applicationLogs": {
    "azureBlobStorage": {
      "level": "Off",
      "retentionInDays": 3,
      "sasUrl": null
    },
    "azureTableStorage": {
      "level": "Off",
      "sasUrl": null
    },
    "fileSystem": {
      "level": "**Verbo

[2021-03-04 16:54] zxarcg opened #17208 "az sig image-version report error when used in azure china cloud"
**Describe the bug**

use az sig image-version command to create image version, error as followed:

AADSTS500011: The resource principal named https://management.azure.com was not found in the tenant named b6a14a3e-71a0-46ed-9b88-42bb3f2ce295. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You might have sent

[2021-03-04 17:16] azurepeterli opened #17209 "can't create service principle at Dogfood with AADSTS500011 error"
Hi, I'm trying to create a service principle at Dogfood, but got AADSTS500011 error. Please help taking a look, is there any step or settings missing? Thanks!

MacBook-Pro:arcplatform peterl$ az ad sp create-for-rbac --skip-assignment
AADSTS500011: The resource principal named https://graph.windows-ppe.net/ was not found in the tenant named f686d426-8d16-42db-81b7-ab578e110ccd. This can happen if

[2021-03-04 17:23] azurepeterli commented on #17209
Leis-MacBook-Pro:arcplatform peterl$ az ad sp create-for-rbac --skip-assignment --debug
Command arguments: ['ad', 'sp', 'create-for-rbac', '--skip-assignment', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x108be9550>, <function OutputProducer.on_global_arguments at 0x108c535e0>, <function CLIQuery.on_global_arguments

[2021-03-04 18:29] Arithmomaniac opened #17210 "SignalR CORS add/remove not atomic"
https://github.com/Azure/azure-cli/blob/e015d5bcba0c2d21dc42189daa43dc1eb82d2485/src/azure-cli/azure/cli/command_modules/signalr/cors.py#L16-L35

While appreciating that the underlying API does not support atomic operations here, someone not knowing that and working on a system where CORS is programmatically enabled for new clients could potentially lose writes in a race condition. (I'm actually w

[2021-03-04 18:30] yashvesikar commented on #6638
Is there any update on the status of this ticket? The documentation is not clear and it would be a very helpful feature.

[2021-03-04 20:13] Drewm3 commented on #16049
Hi @devcovato, the reason that comments are being removed is due to the process in which SSH keys are pushed from the API down to the VM. Unfortunately, the current process is built over an existing process for secrets which lead to a loss of comments through some of the transforms that are done on the keys. We are looking at possibly changing this behavior in the future, but there are no timeline

[2021-03-04 20:13] #16049 closed

[2021-03-04 20:50] Drewm3 commented on #17123
I believe this is Azure Resource Manager (ARM) behavior. ARM is a multi-master, multi-instance, multi-region service. So it is always possible to see something for a few moments even after a delete or not see something for a few moments right after create.

Let me redirect to the ARM team to see if they have guidance on how to minimize this behavior, but I do not know if it is possible to eliminat

[2021-03-04 21:38] csm10495 opened #17211 "Failure to login when using a socks5 proxy."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

After enabling a socks5 proxy via https_proxy, az login raises an error.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- I inst

[2021-03-04 22:16] MehaKaushik commented on #17206
You are not required to provide the subscription parameter.

[2021-03-04 22:16] ps23 commented on #17189
Confirmed, have the same issue in all our Azure Devops pipelines using the public agents, ADO have just updated to 2.20.0. Workaround in the pipeline:

pool:
  vmImage: ubuntu-18.04

[code]

[2021-03-04 22:27] yonzhan commented on #17209
Graph

[2021-03-04 22:29] yonzhan commented on #17210
route to SignalR service team to help with.

[2021-03-04 22:31] yonzhan commented on #17211
account

[2021-03-05 01:54] yungezz commented on #17208
jo @qwordy could you pls take a look?

[2021-03-05 01:54] yungezz commented on #17207
route to appropriate team

[2021-03-05 01:55] yungezz commented on #17204
route to appropriate team

[2021-03-05 01:55] Juliehzl commented on #17189
There is an issue in service side with api 2021-01-01. The same as https://github.com/Azure/azure-powershell/issues/14395.
Currently please downgrade to previous version as a workaround.

[2021-03-05 03:03] chenkennt commented on #17210
@zackliu please help take a look.

[2021-03-05 03:21] qwordy commented on #16891
@j-hudgins @usrme It is not auto updated. See https://docs.microsoft.com/en-us/cli/azure/install-azure-cli. Azure CLI also provide `az upgrade` command to upgrade version.

[2021-03-05 03:28] jkowalski commented on #16697
FWIW this could be often caused by updating a file in-place (while preserving inode number) which seems to be confusing certificate validation cache in macOS kernel:

https://openradar.appspot.com/FB8914231

Rebooting the machine fixes the problem (as it clears the cache) as well as deleting the executable before re-installing it.

[2021-03-05 03:55] nigarfin opened #17212 "Enable teams to create resources in azure by passing a repo url"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Would love to be able to pass github URLs directly into the command lines to create resources. ie: if I did az webapp create --repo(?) https://github.com/Azure-Samples/python-docs-hello-world/tree/master/ it would create a webapp using that repo. Would be create if it could be used for all ser

[2021-03-05 04:19] nigarfin opened #17213 "Improve error handling for az --upgrade"
**Is your feature request related to a problem? Please describe.**

When I used `az --upgrade`, I got an error that I was missing an arg "_command_package"

![image](https://user-images.githubusercontent.com/37638436/110066592-af682780-7d26-11eb-891d-74188fc4092e.png)

**Describe the solution you'd like**

I would have expected a error message telling me to not use the dashes.

**Describe alternat

[2021-03-05 05:16] qwordy commented on #17123
According to @Drewm3, The data will be eventually consistent in a distributed system. But we don't know what the exact latency is.

[2021-03-05 05:18] milope opened #17214 "The argument named --query-string for the az deployment group create command requires literal double quotes"
**Describe the bug**

The az deployment group create command seems to expect literal double-quotes for the preview --query-string argument.

**To Reproduce**

If the command is executed without the double quotes, it will not be able to parse the 2nd query string parameter onwards.

Error if literal double quotes are omitted

[code]

**Expected behavior**

I would expect the --query-string paramete

[2021-03-05 05:20] zackliu commented on #17210
@Arithmomaniac We will add a set operation and update the document to make it clear. As `cors add/remove` operation are common in cli, I think we can keep it.

[2021-03-05 05:33] yonzhan commented on #17212
func

[2021-03-05 06:33] yonzhan commented on #17214
ARM

[2021-03-05 07:41] jiasli commented on #17209
The error message has shown the root cause:

[code]

This is because `https://graph.windows-ppe.net/` is not the valid Active Directory Graph resource ID (URL) in Dogfood environment. I tried to visit it in a browser and also got `DNS_PROBE_STARTED`.

### TODO

Please follow with your team to get the correct Active Directory Graph resource ID in Dogfood environment.

### Additional context

The su

[2021-03-05 08:02] ngshukun opened #17215 "unable to create a variable to store resource group name, and a resource group for resources"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
unable to to create RG via Bash Cloudshell

**Command Name**
RG=<resource group name>
az group create --name $RG --location <location>

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

The command fail

[2021-03-05 08:12] azurepeterli commented on #17209
Thanks Jiashuo for the response and meeting. I will figure out the correct Active Directory Graph resource ID. And, after the meeting with you, I realized in our e2e test, we actually use an existing SP, that can be a workaround for me (reuse that SP for my work).  Thanks again!

[2021-03-05 08:27] owingruters opened #17216 "Make intellisense also available in VS code when working in powershell."
Intellisense for Azure cli is great when the file extension is .azcli, but we use the cli inside powershell (.ps1) files and in that the intellisense does not work.

It makes sense that it is like this, but maybe there is a way to create such a VS code extesion. Now the powershell AZ module is the more obvious choice, but it has much worse idempotency features and worse structure than Azure cli, s

[2021-03-05 08:59] dejoost commented on #9636
we have a cicd using a sidecar injecting stuff in a main build container, for some steps we only need azure-cli to be there. Major drawback: we have to roll our own since alpine is lacking some features.

I'm also wondering why azure-cli has alpine and only alpine, most of the MS related tools use a debian based image by default

[2021-03-05 09:05] gsscoder commented on #17206
My fault. I was using an existing name. Problem is that the error doesn't help to spot the mistake.

Thanks for help

[2021-03-05 09:05] #17206 closed

[2021-03-05 09:28] JackSinclairT commented on #15921
This 'az cosmosdb collection' is marked as deprecated, however where is the non-deprecated sql equivalent of this command?

I don't see a "az cosmosdb sql collection" command available to carry out queries/deletes on SQL API documents?

@MehaKaushik

[2021-03-05 09:36] usrme commented on #17215
Use [command substitution](https://www.gnu.org/software/bash/manual/bash.html#Command-Substitution) in Bash.

Based on your example it should be `RG=$(az group create --name "$RG" --location Asia)`.

[2021-03-05 09:44] MehaKaushik commented on #15921
The commands available in CLI module are intended to perform database and container level operations.

The data plane operations can not be done using these commands. You can use the cosmo v3 sdk for it (https://github.com/Azure/azure-cosmos-dotnet-v3)

[2021-03-05 09:50] JackSinclairT commented on #15921
Thanks @MehaKaushik, appreciate it!

[2021-03-05 12:58] mepand commented on #16345
Since we don't have the policy, its difficult to troubleshoot . Closing the issue for the time being. Incase any further assistance if required from the PG team, please feel free to reopen it.

[2021-03-05 12:58] #16345 closed

[2021-03-05 13:16] ThejaChoudary commented on #16203
Working on this.Thanks!

[2021-03-05 13:49] j-hudgins commented on #16891
@qwordy i am pretty sure I am running Azure CLI off azure cloud- which the documentation says does not support `az upgrade` ... if that is the case how do I get access to the latest release of Azure CLI? I tried running `az upgrade`  in my powershell script where anyhow and I was unsuccessful.

[2021-03-05 13:59] j-hudgins opened #17218 "How can I update my Azure CLI for my pipeline?"
**Resource Provider**

Azure Cloud

**Description of Feature or Work Requested**

There was a bug introduced in Azure CLI v 2.19.1 * but I run off of the Azure Cloud so I in the documentation  az upgrade` isn't supported. How can I get access to Azure CLI v 2.20.0?

**Minimum API Version Required**

**Swagger Link**

**Target Date**

ASAP- my pipelines have been broken all week as a result.

[2021-03-05 14:18] pjboardman opened #17219 "webapp: Hostname does not exist error on ssl bind"
## Describe the bug
Starting in 2.20.0, this started throwing errors. (was working in <=2.19). Note that this is for a situation where the app service & app service plan are in different resource groups.

What is happening is that we are trying to bind an ssl cert to app service with cname of ABC, but instead we get an error that an unrelated hostname (XYZ) does not exist (It actually does exist,

[2021-03-05 15:34] yonzhan commented on #17216
Core

[2021-03-05 15:36] yonzhan commented on #17215
ARM

[2021-03-05 15:41] #10489 closed

[2021-03-05 15:41] dsherret opened #17220 "az storage blob upload-batch --destination-path website documentation seems incorrect"
The help text in the app says:

https://github.com/Azure/azure-cli/blob/aa0155ea7bfa8aa4c9a372e022621a7247003c41/src/azure-cli/azure/cli/command_modules/storage/_help.py#L1661

However, the website says "appended":

It should probably say "prepended".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-30

[2021-03-05 15:42] yonzhan commented on #17219
webapp

[2021-03-05 15:44] yonzhan commented on #17220
storage

[2021-03-05 17:20] grace-liang commented on #16863
Sorry about that @qwordy.

Please use
`az vm image show --location EastUS2EUAP --publisher RedHat --offer RHEL --sku 83-gen2 --version 8.3.2020111907`

which should return
`"features": [
            {
                "name": "SecurityType",
                "value": "TrustedLaunchSupported"
            }
        ],`

[2021-03-05 18:19] calvinsID commented on #17204
Hi @TonyWu3027 , are you running the command in your project directory, and can confirm that ChromeDebugAdapter.csproj exists in there?

[2021-03-05 18:20] calvinsID commented on #17193
hi @joe-plumb are you running the command within your project directory, and can confirm PrebuildLogic.csproj exists in there?

[2021-03-05 18:35] t-l-k commented on #14864
I dived a little deeper, into the Azure CLI source and [discovered a clue](https://github.com/Azure/azure-cli/blob/03ae751b5925f174b64b8c56a25a7e8ce66ee505/src/azure-cli/azure/cli/command_modules/sql/custom.py#L943):

[code]

That, in turn, I'm guessing, is calling [Azure's REST endpoint](https://docs.microsoft.com/en-us/rest/api/sql/databases/createorupdate#creates-a-database-as-a-copy), which in

[2021-03-05 18:59] azurepeterli commented on #17209
Hi Jiashuo, you're right, I switched to the correct one, https://graph.ppe.windows.net/, the error is gone. (There is another one though, I may open a separate support ticket if necessary).

Thanks for the help!

[2021-03-05 18:59] #17209 closed

[2021-03-05 19:15] jade2k11598 opened #17221 "linux installation doesn't allow `azure-cli` to be installed at a specified directory."
**Describe the bug**
I downloaded azure-cli_bionic_all.deb and installed it on a specific directory (e.g. `dpkg-deb --extract azure-cli_bionic_all.deb <specific-directory>` since I didn't want to install it on default directory `/usr`.  So looking at the specified directory, I see it installed the following directories:
[code]
But when triggering the `az` script in the `usr/bin` I get this error:

[2021-03-06 01:24] ishangajera-crest commented on #14591
It didn't work for me with --metadata 'version=1.0.0' 'category=location' but it works with --metadata version=1.0.0 category=location

[2021-03-06 02:10] sachinjoseph commented on #17189
We ran into the same issue last day. We had to pin our Az CLI to 2.19.1 to get it working again:

[code]

cc @D4N14L

[2021-03-06 11:10] dannyrc commented on #16138
This is causing me a real headache.

[2021-03-06 11:21] ungurflorin commented on #16499
I experience the same behavior as @czmirek.

[2021-03-06 13:39] zhoxing-ms commented on #14591
@ishangajera-crest Could you please tell me in what environment(`linux`, `mac`, `windows`) and what terminal(`CMD`, `PowerShell`, `WSL`...) you execute the command?

If it is convenient, please add parameter `--debug` to the original command, and then send the printed information to me by email
My email address is Zhou.Xing@microsoft.com, thanks~

[2021-03-06 15:41] manuelsidler commented on #16697
Same issue here after upgrading Azure CLI from 2.19 to 2.20. Rebooting the machine didn't help.
MacBook Air M1
*macOS: 11.2.2
*python: 3.9
*Azure CLI: 2.20
*Homebrew: 3.0.4

[code]

[2021-03-06 18:57] arunkp89 opened #17222 "az login command is randomly getting failed"
**Describe the bug**
az login command is failing to connect intermittently. Ran the debug log during the time of the issue and we are getting below messages.

DEBUG: urllib3.connectionpool: Starting new HTTPS connection (1): login.microsoftonline.com:443
DEBUG: cli.knack.cli: Event: Cli.PostExecute [<function AzCliLogging.deinit_cmd_metadata_logging at 0x7f5219d038c8>]
INFO: az_command_data_logger

[2021-03-07 01:45] yonzhan commented on #17222
Account

[2021-03-07 02:53] roipmsft opened #17223 "UserData for VM and VM ScaleSets (high priority)"
**Resource Provider**

Compute Resource Provider
**Description of Feature or Work Requested**

https://microsoft.sharepoint.com/:w:/r/teams/ComputeVM/_layouts/15/Doc.aspx?sourcedoc=%7B13AE3881-1B63-4D2E-9334-71E687A4A61D%7D&file=UserDataRequirementsForCLI.docx&action=default&mobileredirect=true
This new UserData feature is essentially a new and improved version of the existing CustomData(https://d

[2021-03-07 11:38] Ahmad-Al-Ali commented on #16838
@Kotasudhakarreddy any update on this issue, is there an active investigation that is in progress?

[2021-03-07 15:02] freeddser commented on #17144
thanks, I think this case is os issue. before I used ubuntu18.04, then I upgrade the os to 20.04, seems the CLI version too old. Recently I upgrade the CLI version, the case fixed

[2021-03-07 15:06] freeddser commented on #17144
thanks, I think it's an OS issue. before I used it with ubuntu18.04, then I upgrade the os to 20.04, I got above issue. Recently I upgrade the CLI version, it works

[2021-03-07 15:06] #17144 closed

[2021-03-07 18:37] vigouredelaruse commented on #4843
you can do this on a mac too - it'll probably say "credStore":"desktop"

[2021-03-08 01:36] yungezz commented on #17213
thanks for reporting the issue, we'll look at it

[2021-03-08 01:36] yungezz commented on #17218
hi @fengzhou-msft, could  you pls help on this?

[2021-03-08 01:37] yungezz commented on #17221
hi @fengzhou-msft could you have a look? thanks

[2021-03-08 01:38] yungezz commented on #17223
hi @qwordy,  let's check the availability of 2021-03-01 API version and SDK release ETA, then communicate back on CLI plan.

[2021-03-08 01:50] jiasli opened #17224 "No way to verify "who I am" when logged in with managed identity"
We have the pod managed identity integrated but from the current cli implementation, there's no way for us to verify the identity form cli for the pod..., it's kind of doesn't really make sense ...

this is what CLI shows me when I wanted to verify `who I am` from a pod with has managed identity binded
[code]

This information doesn't really tell me anything so it's hard for us to automatically ch

[2021-03-08 02:02] #17172 closed

[2021-03-08 02:03] jiasli commented on #10439
@logachev, I re-thought about your original issue:

The difficult part is that [Get a user](https://docs.microsoft.com/en-us/graph/api/user-get) and [Get servicePrincipal](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-get?view=graph-rest-1.0&tabs=http) APIs' response don't share the same schema. (The links are for MS Graph, but Azure CLI still uses the deprecated AD Graph.)

In that

[2021-03-08 02:24] jiasli commented on #17222
It looks like the log has been truncated. Do you mind sharing the full DEBUG log, especially the original error message?

Many thanks for the information.

[2021-03-08 02:43] yonzhan commented on #17224
managed identity

[2021-03-08 03:15] qwordy commented on #16863
Thanks, @grace-liang. I test it in Azure CLI 2.20.0. It works as expected. Close this issue now.

[2021-03-08 03:15] #16863 closed

[2021-03-08 03:30] qwordy commented on #16891
@j-hudgins If you can't use `az upgrade`, you need to reinstall it. Just use the method of how you install the current Azure CLI. We provide multiple ways to install Azure CLI including `.msi`, `.deb`, `apt install`, `pip install`, etc.

[2021-03-08 05:50] #16769 closed

[2021-03-08 05:50] pvrk commented on #16784
Closing the thread as mentioned in this [bug](https://github.com/Azure/azure-cli/issues/16769)

[2021-03-08 05:50] #16784 closed

[2021-03-08 06:05] #16120 closed

[2021-03-08 06:07] yungezz commented on #16268
hi @cosmospuglisi could you pls install latest Azure CLI to see if the issue still there? 2.0.81 has some issue detail pls see https://github.com/Azure/azure-cli/issues/14011

[2021-03-08 06:46] cosmospuglisi commented on #16268
Latest update is ok

On Mon, Mar 8, 2021, 07:07 Yunge Zhu <notifications@github.com> wrote:

[2021-03-08 07:47] #16268 closed

[2021-03-08 08:16] ZosionLee commented on #17125
Hi. It is indeed caused by network problems. Perhaps it is relatively slow to access the services corresponding to Azure in my area, and the download speed is very low. Already processed, thank you

[2021-03-08 08:17] KaiWalter commented on #15745
same here

[code]

ends up with a

[code]

[2021-03-08 08:17] ZosionLee commented on #17148
So many days have passed, who can you answer my question? THX

[2021-03-08 08:49] #17125 closed

[2021-03-08 09:15] KaiWalter commented on #15745
@Teodelas I had to upgrade from `2.9.1` to `2.20.0` to get rid of this error.

[2021-03-08 10:45] czofficial commented on #16856
Is there any workaround for this issue?

Unfortunately, I get the same error message when trying out chjinche's solution:
cd: no such file or directory: /opt/az/bin/
zsh: no such file or directory: ./python3

[2021-03-08 11:01] jiasli commented on #15745
Please see the explanation at https://github.com/Azure/azure-cli/issues/13573#issuecomment-6506865310

[2021-03-08 11:01] #15745 closed

[2021-03-08 11:19] czofficial commented on #16856
Found the issue. I screened my debug log again and found the reference that my pip version was too old:
/usr/local/Cellar/azure-cli/2.20.0/libexec/bin/python -m pip install --upgrade pip
helped in my case.

[2021-03-08 12:16] #16856 closed

[2021-03-08 12:25] p-bojkowski commented on #16780
Same here!
Locally it doesn't work.
But in the Azure Portal Cloud Shell :)

[2021-03-08 13:04] yungezz commented on #17084
close this for now since need more info for investigation. feel free to create new issue when any error met.

[2021-03-08 13:04] #17084 closed

[2021-03-08 13:12] yungezz commented on #14421
service is discussing flighting plan to make default value change given this will be a breaking change to customers, no conclusion per email disucssion

[2021-03-08 13:13] yungezz commented on #10029
close this for now, pls create new issue if any other error met.

[2021-03-08 13:13] #10029 closed

[2021-03-08 13:20] yungezz commented on #16525
https://github.com/Azure/azure-cli/issues/16324

[2021-03-08 13:20] yungezz commented on #16324
close this one since it's tracked in https://github.com/Azure/azure-cli/issues/16324

[2021-03-08 13:20] #16324 closed

[2021-03-08 13:22] yungezz commented on #16109
hi @qwordy, any update on this? thanks

[2021-03-08 13:32] yungezz commented on #2831
close stable issue. feel free to create new issue if any error met. thanks.

[2021-03-08 13:32] #2831 closed

[2021-03-08 13:45] yungezz commented on #13927
hi @ezwiefel does above solution work for you? let us know how it works. it's an issue of specific version of azure cli, fixed in latest releases.

[2021-03-08 15:14] marnheus opened #17227 "Issue connecting to a data lake store using az cli"
## Describe the bug
I’m trying to use az cli to manage a Data Lake storage. I get the same error on every try with any command (tested with az storage fs directory create, delete or list)

**Command Name**
`az storage fs directory list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2021-03-08 18:17] JasonFreeberg opened #17228 "WebApp:az webapp deploy only works when extension is installed"
**Describe the bug**

In CLI v2.20.0, the `az webapp deploy` command only works if the user also has the `webapp` extension installed.

Command without the extension installed:
[code]

When the `webapps` extension is installed, the command works correctly. There is some sort of interaction between the base CLI in v2.20.0 and the webapps extension. When the extension **is** installed, the logs say

[2021-03-08 20:42] paul-kr commented on #12608
@jose-lima2011, how did you resolve this error?

[2021-03-08 20:47] RKSelvi commented on #17189
Same here, we had to downgrade Cli to make it work in GitHub actions,

uses: azure/CLI@v1
      with:
        azcliversion: 2.19.1
        inlineScript: |

[2021-03-08 21:02] dhaferh opened #17230 "az monitor log-analytics workspace data-export create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace data-export create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor log-analytics workspace

[2021-03-08 21:02] dhaferh opened #17231 "az monitor log-analytics workspace data-export create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace data-export create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor log-analytics workspace

[2021-03-08 22:11] yugangw-msft commented on #17148
@ZosionLee error like `request canceled while waiting for connection` can be caused by client side connection.
Any chance you can try the same commands on other machines and let us know whether it repros. If yes, please share the time stamp for us to cross check the service log

[2021-03-08 22:34] yonzhan commented on #17227
storage

[2021-03-08 22:38] yonzhan commented on #17230
monitor

[2021-03-08 22:40] yonzhan commented on #17231
monitor

[2021-03-08 22:58] altwohill opened #17233 "Need a way to specify the access tier"
Running the following command

[code]

creates the share as desired, however it is set to "Transaction optimized" tier, which is twice the price of "Hot".

We should be able to specify the tier when creating the share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae881ef-ad75-32e6-6e64-6b526a2d9a5d
* Version Indepen

[2021-03-08 23:33] wasker opened #17234 "How to specify "Latest" in --user-cert-secret-version argument?"
When viewed in Azure Portal, custom domain functionality of CDN recommends using latest version of certificate to avoid service interruption:

![image](https://user-images.githubusercontent.com/1999365/110395501-1d606780-8023-11eb-9453-759f62a96b54.png)

However, it's impossible to specify "Latest" as --user-cert-secret-version argument value - if done so, CDN will fail to retrieve the certificate

[2021-03-08 23:35] yonzhan commented on #17233
storage

[2021-03-08 23:37] yonzhan commented on #17234
cdn

[2021-03-09 00:24] Eonasdan commented on #16954
I tried to run `az webapp --resource-group <> --name <> --query possibleOutboundIpAddresses` from both a local cli and on the Azure cloud cli and went into a loop of "this requires webapp extension do you want to install?" -> webapp is already installed, checking for update -> no update -> back to do you want to install.

Running remove said that webapp wasn't installed

[2021-03-09 00:27] panchagnula commented on #16954
webapp 0.3.1)

need to uninstall webapp extension  use command https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest#az_extension_remove

[2021-03-09 00:30] panchagnula commented on #9804
@Kotasudhakarreddy / @ThejaChoudary got a CRI on this today - when you have cycles lets consider this for the next sprint.

[2021-03-09 01:20] deporcali commented on #10469
I have encountered the same issue, and increasing the timeout fixes it.
The real question is why is copying an image takes this long? I do the same thing in AWS with the same image size and it is super fast. Maybe this is why "copying" and image is not an option in the Azure Portal yet?

[2021-03-09 01:31] Daniel-Ronson commented on #9124
@yugangw-msft @jiasli
I reproduced this bug when using similar commands on Az Powershell and az cli.

**To Reproduce**
First
`$expiration_date = '{0:yyyy-MM-ddTHH:mmZ}' -f (Get-Date).AddYears(2)`
`New-AzADAppCredential -ObjectId $AD_OBJECT_ID -Password $Secure_Password -EndDate $expiration_date`
Then
`expiration_date=$(date '+%Y-%m-%dT%H:%MZ' -d "+730 days")`
`az ad app credential reset --id $AD_O

[2021-03-09 01:37] Eonasdan commented on #16954
I ran `az extension remove --name webbapp` as I mentioned

[2021-03-09 01:38] johnnyyuelee008 commented on #17189
we have the same issue in Azure china cloud.

[2021-03-09 01:50] johanburati opened #17235 "Get a traceback when trying to retrieve serial log from Secure boot VM"
I am deployed a Redhat 8.3 gen2 VM with Secure Boot enabled and I am getting the following error when I am trying to retrieve the Serial log, the Serial log for this VM is present and I can download it from the Portal.

## Version
[code]

## Error
[code]

[2021-03-09 02:00] stewartadam commented on #15375
+1, unless you've memorized the exact command invocation needed this necessitates you to re-run the same command and tack `--help` onto it, and likely more times if you're using nested subcommands like `az iot hub device-identity`. Adds so much more friction there it needs to be.

[2021-03-09 02:09] moirf commented on #13952
As per the document it should create if not already there.
https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-cli
Also if this is the case, how to create secret via cli?

[2021-03-09 02:20] yungezz commented on #17235
hi @qwordy, could you pls have a look? thanks

[2021-03-09 02:21] yungezz commented on #17228
route to appropriate team

[2021-03-09 02:34] sq-code opened #17237 "az storage blob delete-batch --dryrun deleted blobs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob delete-batch`

**Errors:**
Command didn't generate a dry run log, it went ahead and deleted. Big problem, since the --pattern flag didn't work as I expected it to either (probably my error, verifying the pattern match is why I wanted to see a dry run)

## To Reproduce:
I have

[2021-03-09 02:38] yonzhan commented on #17237
storage

[2021-03-09 03:38] sq-code commented on #17237
Went back and attempted to recreate with a test container as I described. Can't recreate, it works correctly. I did turn on soft-delete on blobs in the meantime. Only other change is that originally I was populating --pattern $blob with lines read in from a file though the loop never got beyond the first iteration. No idea what's going on and I can't recreate the original command since that data i

[2021-03-09 03:49] Kotasudhakarreddy commented on #9804
Sure sisira.

[2021-03-09 03:50] Kotasudhakarreddy commented on #16838
@Ahmad-Al-Ali - yes we are working on it. Milestone has been set for this.

[2021-03-09 04:08] septst opened #17238 "Azure CLI creates storage account in a region different from that of resource group"
Hello,

First of all, this may not be an issue. I would like to understand why Azure CLI creates a storage account in a region different from that of resource group when location is not specified while creating as below.

1. Create a new resource group
`> az group create -n "ch4-rg" -l "westus"`
2. Create a new storage account
`> az storage account create -n "cdnstorage03082020" -g "ch4-rg" `

Sin

[2021-03-09 05:08] yonzhan commented on #17238
Storage

[2021-03-09 05:25] qwordy commented on #17235
Will open an investigation.

[2021-03-09 05:26] vi-dot-cpp opened #17239 "REST version of list-skus returns different response than CLI version"
**Describe the bug**
- REST call: GET https://brazilus.management.azure.com/subscriptions/dad45786-32e5-4ef3-b90e-8e0838fbadb6/providers/Microsoft.Compute/skus?api-version=2019-04-01&$filter=location eq 'eastus2'
- REST response include resource named "Mdmsv2MedMem-Type1".
- CLI call:  msrest.http_logger : Request URL: 'https://brazilus.management.azure.com/subscriptions/dad45786-32e5-4ef3-b90e-8e

[2021-03-09 05:29] qwordy commented on #17239
@vi-dot-cpp, thanks for the feedback. I am investigating it.

[2021-03-09 05:33] qwordy commented on #17239
Have talked with Vi in teams about details.

[2021-03-09 06:10] jiasli commented on #17216
@owingruters, We are glad you like Azure CLI. You may see https://github.com/microsoft/vscode-azurecli/issues/48 to enable `.ps1` support.

![image](https://user-images.githubusercontent.com/4003950/110426525-39c2d980-80e1-11eb-9da4-a1f13ccfa97f.png)

[2021-03-09 06:27] Juliehzl commented on #17237
@evelyn-ys  could you take a look?

[2021-03-09 06:29] Kotasudhakarreddy commented on #14909
Closing this issue as unable to repro and no response from the user. @richardlm57 please reopen if you still face this issue.

[2021-03-09 06:29] #14909 closed

[2021-03-09 07:25] kairu-ms commented on #17231
It is a knowing bug on service side because they return invalid content-type. It will be triggered when service response an error message. I think you have exceeded the number of allowed export rules in your workspace.

[2021-03-09 07:26] kairu-ms commented on #17231
You can add `--debug` to check the http response in logs.

[2021-03-09 07:29] kairu-ms commented on #17231
We've already found this error in test code.

https://github.com/Azure/azure-cli/blob/de1792bcbaed6af9d27e35e208aa50fcde2d8c12/src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_workspace.py#L425-L430

[2021-03-09 07:38] philipp1992 opened #17242 "Create Azure ARO Cluster without "apps" being automatically part of the domain"
Hi,

when we create an azure aro cluster with the az aro create command, we use the --domain parameter with our base-domain like this --domain ourdomain.com. This will always result in an ARO cluster using *.apps.ourdomain.com, whereas we want it to be just *.ourdomain.com

In the openshift installer, we can prevent this behavior by setting "basedomain" in the install-config.yaml accordingly.
In A

[2021-03-09 07:42] bogdanbiv opened #17243 "Getting boot log diagnostics for VM started in another subscription than the default crashes az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create -l westus -n $RgName --subscription

[2021-03-09 07:46] lovelinuxalot opened #17244 "az backup item list returns invalid resource ID"
Hi,

I understand `az backup item` is in preview mode. While I was testing i came across a bug. The list of items returned had the resource IDs starting like this:

[code]
which has problems when integrating with Terraform in importing resources to State file. The import works if the resource ID is
changed to small letter. Like this:

[code]

It would be great if this could be fixed before releasi

[2021-03-09 08:30] dhaferh opened #17245 "Debug for - az monitor log-analytics workspace data-export create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace data-export create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor log-analytics workspace

[2021-03-09 08:30] Kotasudhakarreddy commented on #17228
This is failing to converting the  response returned from Deployment API. `webapp` extension is not needed to install in local to work with `az webapp deploy` . Will work on the fix.

[2021-03-09 09:04] usrme opened #17246 "'az resource tag' doesn’t work with snapshots from images with legal terms"
## Describe the bug

**Command Name**
`az resource tag`

**Errors:**

[code]

## To Reproduce

- Create resource group: `az group create --location westeurope --resource-group 'rg-kali'`
- Attempt to create Kali Linux virtual machine:

[code]

- Agree to terms:

[code]

- Create Kali Linux VM:

[code]

- Stop VM:

[code]

- Get VM disk's managed ID:

[code]

- Create snapshot from VM disk without

[2021-03-09 09:29] zxarcg commented on #17208
Guys, what's going on?

[2021-03-09 09:49] usrme opened #17247 "'az resource tag' more than a 1000% slower than 'az tag create'"
## Describe the bug

**Command Name**
`az resource tag`
`az tag create`

## To Reproduce

- Create resource group: `az group create --location westeurope --resource-group 'rg-tag'`
- Create any resource (NSG as an example as it is quick to create): `az network nsg create --name 'nsg-tag' --resource-group 'rg-tag'`
- Time tagging NSG resource using `az resource tag`:

[code]

- Time tagging NSG res

[2021-03-09 10:09] elonp opened #17248 "az upgrade ends with error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-03-09 11:59] yonzhan commented on #17242
ARO

[2021-03-09 12:03] yonzhan commented on #17246
ARM

[2021-03-09 12:05] yonzhan commented on #17247
ARM

[2021-03-09 13:30] pmatthews05 opened #17250 "Assigning "az synapse role definition list --workspace-name" to a variable makes powershell text black"
### Extension name (the extension in question)
Synapses

### Description of issue (in as much detail as possible)
When using the following command it displays correctly on my screen.
`az synapse role definition list --workspace-name $workspaceName `

However, if I assign that to a variable anything printed to the screen after the message "Command group 'synapse' is in preview. It may be changed/re

[2021-03-09 13:44] lnxnut opened #17249 "az cli modifying values in custom rules in WAF-Policies produces error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway waf-policy custom-rule match-condition remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network

[2021-03-09 14:09] yonzhan commented on #17249
network

[2021-03-09 15:27] pmatthews05 commented on #17250
Sorry, I think this was related to Az CLI. I've updated my version of Az CLI to the latest 2.20.0 and the issue has now gone away.

Instead of saying "Command group 'synapse' is in preview. It may be changed/removed in a future release." in blue, it now says "WARNING: Command group 'synapse' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus" and it's i

[2021-03-09 15:27] #17250 closed

[2021-03-09 15:59] JBerny opened #17252 "SSL Certificate validation error even though AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1"
**Describe the bug**

i'm trying to give list and get permissions for secrets to users and i get two different behaviours.
Users have owner role on the resource group and contributor on the subscription.

The following command gives an error:
[code]

While the following command works fine:
[code]

**To Reproduce**

see above

**Expected behavior**

I would expect that both commands give the same r

[2021-03-09 17:03] ericfran commented on #16262
any update ?

[2021-03-09 17:21] daryltucker commented on #12624
This would help bridge a gap in being able to share information with colleagues using Office365/Excel as there are currently no easy alternative.

Thank you for your consideration.

[2021-03-09 21:53] ishangajera-crest opened #17253 "az policy set-definition create --params doesn't upload strongType and assignPermissions value from parameter metadata"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy set-definition create`

**Errors:**
No CLI Error as such. The command executes successfully. But azure portal doesn't show the all the parameter metadata attributes.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2021-03-09 22:17] Daniel-Ronson commented on #9124
Explicitly sending the Start Date from Az Powershell fixes the problem.
Thank you for the details.

[2021-03-09 22:17] yonzhan commented on #17253
policy

[2021-03-09 22:22] yonzhan commented on #16262
API Management service team should look into this issue.

[2021-03-09 23:18] ishangajera-crest commented on #17253
Is there a CLI workaround until this is fixed?

[2021-03-09 23:50] serbrech opened #17254 "Add az login option to NOT fetch the list of subscriptions."
**Is your feature request related to a problem? Please describe.**

When we run az login, there is no way to tell it to not fetch the list of subscription we have access to.
This significantly slow down the time it takes to login, for example in CI runs

**Describe the solution you'd like**

`az login --dont-get-the-subscription-list-please`

**Describe alternatives you've considered**

pull appar

[2021-03-10 00:35] yungezz commented on #17252
add @houk-ms to help

[2021-03-10 00:35] yungezz commented on #17248
@fengzhou-msft could you pls have a look?

[2021-03-10 00:36] yungezz commented on #17244
route to appropriate team

[2021-03-10 00:37] yungezz commented on #17243
@qwordy could you have a look?

[2021-03-10 00:46] yonzhan commented on #17254
Account

[2021-03-10 01:12] tonybaloney opened #17256 "WebApp:az webapp list-runtimes does not list all current python versions"
The `az webapp list-runtimes` command gave the following options for Python:

[code]

Python 3.7 and 3.8 are both available runtimes on Azure Web Apps and I can deploy using `--runtime "python|3.8"`

The printout is missing the current list of runtimes for Python

[2021-03-10 01:30] chicago7 commented on #16591
Hi Team, we also encounter this issue. Could you let us know whether you consider solving the problem?

[2021-03-10 01:35] Juliehzl commented on #17227
Could you upgrade to latest azure cli with `az upgrade`? There is no issue in latest version.

[2021-03-10 01:35] #17227 closed

[2021-03-10 01:39] Juliehzl commented on #17179
discussed with @abhi-msft online. His account is ADLS Gen2 account. 1.0.0 is a folder with empty size and `blob download-batch` cannot download such resource correctly.

[2021-03-10 01:39] #17179 closed

[2021-03-10 01:57] Juliehzl commented on #17205
Hi @Filip232, I cannot reproduce your issue. As you can see, I could list without expanding subfolder.
![image](https://user-images.githubusercontent.com/49508232/110563458-506f3c00-8186-11eb-96ea-b25728a2ac34.png)

May I know you azure cli version? and could you provide more information with `--debug` in your command?

[2021-03-10 01:58] Juliehzl commented on #17205
I am testing with latest azure cli.