[2022-02-04 10:47] onpaws commented on #15732
I haven't checked, but a bit disappointing if true.
Could you please share an example of the command you're trying? With that, perhaps someone can point us in the right direction.

[2022-02-04 11:06] yonzhan commented on #21190
ARM

[2022-02-04 11:10] navba-MSFT commented on #12857
@ngnmhieu Apologies for the late reply. I see that [this](https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule?view=azure-cli-latest#az-cdn-endpoint-rule-add-required-parameters) docs has been updated now with the below accepted values for the _--action-name_ parameter. Hope your ask is now addressed.

Since this issue has been inactive for quite sometime, we will now proceed with closure.

[2022-02-04 11:10] #12857 closed

[2022-02-04 11:11] yonzhan commented on #21192
route to CXP team to help with

[2022-02-04 11:13] yonzhan commented on #21193
route to CXP team to help with

[2022-02-04 11:14] PramodValavala-MSFT commented on #21187
@andrkole Thanks for the feedback! Looks like they are flipped in [this line](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/apim/custom.py#L366). We are working up a PR to fix this.

[2022-02-04 11:18] navba-MSFT commented on #14052
@rnmakino Apologies for the delayed response. This issue has been fixed now. Please refer #14335
Since this issue has been inactive for quite sometime now, I am proceeding with the closure of this thread. If you need further assistance on this, please feel free to reopen this github thread. We would be happy to assist you.

[2022-02-04 11:18] #14052 closed

[2022-02-04 11:18] PramodValavala-MSFT commented on #21193
@notywala433 Looks like you are using a pretty old version of `az`. Could you try upgrading to a newer version and try again?

[2022-02-04 11:32] navba-MSFT commented on #21181
@nelson-manohar Thanks for reaching out to us. I wasn't able to repro this issue. I ran the same command from my local machine and from Azure portal console and that was able to successfully create a webapp.
Could you please retry running the same command and check if the issue reoccurs? If it does, please let me know the time of the issue in UTC, AppService name and the deployment region. Awaitin

[2022-02-04 12:42] MartinPriebe opened #21194 "az bicep decompile : type object 'datetime.datetime' has no attribute 'fromisoformat'"
The ARM template contains only...
Microsoft.Insights/metricAlerts

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep decompile`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2022-02-04 12:43] zhoxing-ms commented on #19743
The REST service returned an internal error, which needs the investigation from service team @alex-frankel

**correlation id: '27c33452-f84c-4f23-8525-9cb71f82c137'**

[2022-02-04 12:46] MartinPriebe commented on #21194
command called on a file which was successfully decompiled before also shows this error now.

[2022-02-04 12:47] carlosbustillordguez commented on #21156
I faced the same issue, in my case, I am using Terraform with the `null_resource`:

[code]

But is odd because I have deployed my Terraform module multiple times and today is the first time that I face that issue...

Then I deployed from scratch an AKS Cluster with my Terraform module and the deployment was completed without errors.

Should I insert some kind of delay (like [time_sleep](https://re

[2022-02-04 12:51] MartinPriebe commented on #21194
new command window (using cmder.net) - it´s working.
but just in case

[2022-02-04 13:22] baelter commented on #15732
I want to stream blob upload from stdin, but can't find any command for that.

[2022-02-04 13:23] anthony-c-martin commented on #19743
@zhoxing-ms - Alex & I can follow up on the internal server error.

Regardless, the Azure CLI issue is still important to fix - the CLI should communicate this error information to the user rather than returning `ERROR: 'bytes' object has no attribute 'get'`. This would allow the user to understand that there is a service error, and provide them with the necessary info to troubleshoot or follow up

[2022-02-04 13:43] navba-MSFT commented on #21155
@Layer8Err If you are running on agents, you could use predefined variables like "$(System.DefaultWorkingDirectory)/myproj". If you're running locally, you could workaround with something like "$(pwd)/myproj" if you absolutely want to avoid putting the absolute path directly. Please let me know if that helps.

[2022-02-04 14:35] rezarms opened #21195 "calling ad sp credential list returns empty"
When calling  az ad sp credential list it returns  empty value but after renewing a password for the first time it shows the correct value.

**To Reproduce**

Create a spn and then call
[code]
then renew a password for the spn and call the above command again

**Expected behavior**
It should show the expiry date of spn before renewing the password.

After further investigation I noticed the comman

[2022-02-04 14:38] yonzhan commented on #21194
route to CXP team to help with

[2022-02-04 14:40] MartinPriebe commented on #21194
seems like update azure cli to v2.32.0 fixed it. hopefully :)

[2022-02-04 14:41] yonzhan commented on #21195
@jiasli for awareness

[2022-02-04 14:55] pixeye33 opened #21196 "az storage share delete --delete-snapshots include-leased not allowed"
**Describe the bug**
When using `az storage share delete --name xxx --account-name xxx --account-key xxx --delete-snapshots include-leased`
we get
[code]

for blob `x-ms-delete-snapshots` can be `{include, only}` [as seen in Docs](https://docs.microsoft.com/en-us/rest/api/storageservices/Delete-Blob#request-headers)
blob commands allows it
`az storage blob delete [--delete-snapshots {include, only

[2022-02-04 15:54] ikivanc opened #21197 ""No module named 'Crypto.IO'" while running `az connectedk8s connect` command on Raspbian"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I try to add a K3S cluster on Raspberry Pi 2 with Raspbian to Azure Arc and I wanted to run the command through RP2
`az connectedk8s connect --name AzureArcTest1 --resource-group AzureArcTest`

I installed `azure cli` on my Raspberry Pi 2, I got below error, then I manually installed `pycryptodome` package and

[2022-02-04 16:18] Ettores88 commented on #20823
Any update on this?

[2022-02-04 16:19] PeterVos81 opened #21198 "sftp storage account new user ssh"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account local-user create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account local-user create --account-name

[2022-02-04 16:41] PvlD opened #21199 "Update a virtual network to delete DNS server not work ??"
Behaviour not the according documentation .

![image](https://user-images.githubusercontent.com/10778065/152567670-f75e083d-1a0f-4eca-9425-b7314a2434b2.png)

[2022-02-04 22:18] ianjirka commented on #21003
I ran into a similar issue as the person on the other thread - I can't remove because it is in use

[code]

I don't want to un-deploy anything to attempt a workaround at the moment - this is a production cluster.

[2022-02-04 22:32] Layer8Err commented on #21155
@navba-MSFT adding in the full path, either explicitly or with variables is fine and doesn't generate an error. It would just be nice if the `az` cli worked like other programs e.g. `cat myproj/myfile.txt` | `cat ./myproj/myfile.txt`.

[2022-02-04 22:40] medhir opened #21201 "Add WAM support in Azure CLI"
**Is your feature request related to a problem? Please describe.**

A near-term future release of MSAL Python will enable broker-based authentication through Web Account Manager (WAM) on Windows devices. The benefits of authentication through WAM are described [in this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token-wam#wam-value-proposition

[2022-02-05 00:27] yonzhan commented on #21196
storage

[2022-02-05 00:28] yonzhan commented on #21197
route to service team

[2022-02-05 00:30] yonzhan commented on #21198
storage

[2022-02-05 00:32] yonzhan commented on #21199
network

[2022-02-05 00:42] yonzhan commented on #21201
WAM support

[2022-02-05 02:08] willbrim commented on #13881
update to my last post:
The issue encountered is a result of an illegal character stored in a string variables value. When the variable is called the illegal character is not ignored and then interpreted by the language.
You can solve this by escaping the special character in the generated secret. You can do this with the below edit
For now you can escape this by using the following:

SP_ID=$(az a

[2022-02-05 02:30] sakanamax commented on #13209
Hi @glaubitz
I  did the installation this morning but still bad luck.

[code]

[2022-02-05 09:06] navba-MSFT commented on #21155
@Layer8Err Azure CLI does support adding relative path or ~. However it depends on the CLI commands of certain Azure services. Example: For the Azure blob storage [upload](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload-examples) / [download](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-download-b

[2022-02-05 10:27] navba-MSFT commented on #21175
@Akshay-gade Are you still facing the issue? This is a quick follow-up to check if you had a chance to look at my above comment.  Awaiting your reply.

[2022-02-05 11:13] navba-MSFT commented on #10575
@amiraliw This is a quick follow-up to check if you had a chance to follow the action plan in my above comment. Awaiting your reply.

[2022-02-05 11:16] navba-MSFT commented on #19430
@Mparvez123 Could you please let us know if you had a chance to follow the action plan mentioned in my above comment? Awaiting your reply.

[2022-02-05 13:23] ikivanc commented on #21197
After re-installing `sudo pip install pycryptodome` solved the issue. It didn't worked previously. Closing this issue.

[2022-02-05 13:23] #21197 closed

[2022-02-05 23:35] khusseini opened #21203 "Cannot retrieve MongoDB information"
## Describe the bug

**Command Name**
`az cosmosdb mongodb database`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb mongodb database --help`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

Hello,

I am c

[2022-02-06 01:05] yonzhan commented on #21203
route to CXP team to help with

[2022-02-06 10:03] fdouw opened #21205 "Python module error in az keyvault subgroups on Linux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault key`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key -h`

## Expected Behavior
- list options for `az keyvaul

[2022-02-06 10:07] yonzhan commented on #21205
keyvault

[2022-02-06 10:11] zhoxing-ms commented on #19743
@anthony-c-martin We will have the plan to fix the CLI error handling

[2022-02-06 15:54] Iain-S commented on #20792
@jiasli Wanted to say a big "thank you" for walking me through this. We made the changes listed above and it worked. We can now run `az role assignment list...` to get the full RBAC list without any errors or warnings. Much appreciated.

[2022-02-06 15:54] #20792 closed

[2022-02-06 20:02] #9382 closed

[2022-02-07 01:40] jiasli commented on #21201
I think there is a lot more than bumping MSAL:

1. How will `az account clear` and `az logout` work? Currently `az account clear` deletes `~/.azure/msal_token_cache.bin`, if MSAL uses WAM, how can accounts be deleted?
2. Will Azure CLI and Azure PowerShell share the same login context? What if Azure CLI deletes an account that is currently used by PowerShell, will Azure PowerShell be affected?
3.

[2022-02-07 01:45] jiasli commented on #21195
`az ad sp credential list` does the same thing as `az ad app credential list`. This is the designed behavior (https://github.com/Azure/azure-cli/issues/11458). We plan to rectify this behavior in Microsoft Graph migration (https://github.com/Azure/azure-cli/issues/12946).

I will keep this in mind and take a look during Microsoft Graph migration.

[2022-02-07 02:34] evelyn-ys commented on #15732
Hi @baelter @onpaws, it's already supported in cli extension. See https://github.com/Azure/azure-cli-extensions/pull/2799

You can first install the extension with
[code]
And then try
[code]

[2022-02-07 02:40] evelyn-ys commented on #21205
`azure-cli 2.0.81` is not our official Azure CLI, please follow this document to install official Azure CLI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

For more details, see #19640

[2022-02-07 02:45] jiasli commented on #21189
Looks like your `azure-mgmt-resource` SDK is track 1 which is downgraded by other installed `pip` packages. You may check with `pip list`. Azure CLI requires

https://github.com/Azure/azure-cli/blob/3ea435b045657d63745c8afedf14f06f16c67440/src/azure-cli/setup.py#L119

You may fix Azure CLI installation by running

[code]

If you use `pip` to install Azure CLI, we recommend installing Azure CLI in

[2022-02-07 02:47] zhoxing-ms commented on #21103
@saifeemustafaq At present, we do not support upgrading the CLI version with the `curl` command
Could you try uninstalling the old CLI before installing the latest CLI? Or install the latest version of CLI in a new virtual environment (such as Python env)?

[2022-02-07 02:53] jiasli commented on #21153
This is the same issue as https://github.com/Azure/azure-cli/issues/13855.

[2022-02-07 03:11] jiasli commented on #20743
@alexellis,

You may simply use the original output without `--sdk-auth`. Is there any specific property in `--sdk-auth`'s output that you require?

[2022-02-07 03:22] wonner commented on #21130
right :)

[2022-02-07 03:38] navba-MSFT commented on #21179
@amitsingharoy This is a quick follow-up to check if you had a chance to follow the action plan in my above comment. Please let me know if you are still facing the issue. Awaiting your reply.

[2022-02-07 05:58] onpaws commented on #15732
Thanks! Will give this a try.

By the way do you know of eg a Docker image with the extension already installed? I use it in a CI env and would be preferable to have the extension ready to go. Thank you!

[2022-02-07 05:58] navba-MSFT commented on #21192
@sri2850 Apologies for the late reply. You can try to use the parameter --windows-fx-version:

A docker image name used for your windows container web app

I tried to execute the below command in my environment. Could you please test the same and let us know if that helps ?

az webapp config show -g 'MyWebAppName' -n 'RGName' # To list the web app configuration

Refer [this](https://docs.microsoft

[2022-02-07 06:11] sri2850 commented on #21192
@navba-MSFT, it's windows based webapp but not using docker containers. Actually, it should change in webapp> configuration> General Settings> Tech stack. It's not changing there.
![image](https://user-images.githubusercontent.com/32320907/152733976-7b392fe3-e8c0-411d-bb0b-5f9e0af38fea.png)

[2022-02-07 06:11] Saglodha commented on #19436
Hi @docktermj, looking at the above tutorial this is an expected behavior.

Whenever we create a namespace, the default rule that gets created has a name: RootManagedSharedAccessKey. Can you please confirm if you have created an additional rule with the name RootManagedSharedAccessKey777 when we tried the list call?

If not, then the call would indeed fail with 'Not found' since there would be no

[2022-02-07 06:21] jiasli commented on #21164
Duplicate of #20388

[2022-02-07 06:21] #21164 closed

[2022-02-07 06:23] navba-MSFT commented on #21192
@sri2850 Thanks for getting back. Could you please confirm if you are changing the .NET framework version or the DOTNET core version ? Because the available version for DOTNETCORE is 3.1 | 2.1. This is what I see now in my Configuration settings after running my above command.

![image](https://user-images.githubusercontent.com/57353862/152735127-ede22832-4d7c-4bcf-9402-307b01b07ce8.png)

Awaiting

[2022-02-07 06:28] jiasli commented on #21169
I am able to reproduce with `az login --use-device-code`:

![image](https://user-images.githubusercontent.com/4003950/152735532-fd0fb391-824d-4aa9-b9bd-543c3c7c5a9b.png)

Azure PowerShell command `Connect-AzAccount -UseDeviceAuthentication` also shows duplicated title:

![image](https://user-images.githubusercontent.com/4003950/152735656-c0f3e6b0-6368-4d06-a387-52d896001bd2.png)

This is the behav

[2022-02-07 06:34] jiasli commented on #21182
Please check https://github.com/Azure/azure-cli/issues/20244 and see if you can get unblocked.

[2022-02-07 06:35] ZengTaoxu commented on #21183
Hello, your CLI command is incorrect.Please try it 'az network nic ip-config address-pool add -g LINUX-4_group --nic-name linux-4855 --ip-config-name IPConfigLinux4 --address-pool /subscriptions/id_subscription/resourceGroups/GONZALO-LB-RG/providers/Microsoft.Network/loadBalancers/GONZALO-LB/backendAddressPools/UNDER_LB'
You do not need to write this parameter --lb-name

[2022-02-07 06:36] Saglodha commented on #19252
Hi @prongcs , thank you for reaching out to us.

I was reviewing the API structure for regeneration for namespace authorization rule and could understand that the key value (if not provided) would be autogenerated based on key Type that you specify.

Link: https://docs.microsoft.com/en-us/rest/api/servicebus/stable/namespaces-authorization-rules/regenerate-keys

I would like to understand if there

[2022-02-07 06:53] cyljacky opened #21208 "az apim api --protocols support both HTTP and HTTPS as input"
**Is your feature request related to a problem? Please describe.**

I am writing pipeline that imports the generated swagger.json into Azure APIM service. Although Azure APIM supports HTTP, HTTPS and **both of them** as URL scheme, the Azure CLI APIM module only accepts HTTP **or** HTTPS for the corresponding option (--protocol). I need to access APIM web interface to change the URL scheme to **bo

[2022-02-07 06:55] yonzhan commented on #21208
route to CXP team to help with

[2022-02-07 07:36] Saglodha commented on #19056
Hi @arpadszocs , Thanks for reaching out to us.

Can you confirm if you have tried to use the latest CLI module as well as Service bus module? I tried running the same command over Cloud shell ten times in a row and could not observe any failure. Can you confirm what the rate of occurrence of failure is?

These are the versions I used:

<img width="241" alt="image" src="https://user-images.githubu

[2022-02-07 08:15] navba-MSFT commented on #14500
@t-bzhan Please update this github thread once you get a chance.

[2022-02-07 08:19] navba-MSFT commented on #8530
@timja Apologies for the late reply. I did some research on this and I am sharing my findings here.

More Information on this is [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest#new-service-principal). This issue has been open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-07 08:22] wangzelin007 opened #21210 "test bot auto assign failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**test bot auto assign failed: issue 21198: sftp storage account new user ssh**

**Command Name**
`az network`

[2022-02-07 08:25] RiccardoSofi opened #21211 "[ERROR] Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.12.0:deploy (default-cli) on project PROJECTNAME"
Encoutering error when deploying to azure: 'Failed to authenticate with Azure. Please check your configuration.'

[2022-02-07 08:26] navba-MSFT commented on #9104
@DevSE99 Apologies for the late reply. This github issue has been open for quite sometime. Could you please let us know if you need any further assistance on this ?

[2022-02-07 08:26] t-bzhan commented on #14500
Ack, looking into that.

[2022-02-07 08:28] navba-MSFT commented on #9104
@tjprescott @kristapratico Please update this thread if you had a chance to look into the this.

[2022-02-07 08:29] Misterion777 commented on #20947
I can confirm, that its not possible to install ml extension through brew method, this issue should not be closed

[2022-02-07 08:30] yonzhan commented on #21211
route to CXP team to help with

[2022-02-07 08:32] yonzhan commented on #21210
storage

[2022-02-07 08:36] kairu-ms commented on #21199
For powershell please use ` --dns-servers '""'`

[2022-02-07 08:36] #21199 closed

[2022-02-07 08:41] timja commented on #8530
The feature request is for the CLI to handle this transparently to the user like terraform does if I remember correctly.

[2022-02-07 09:03] RiccardoSofi commented on #21211
How can I route to CXP team?

[2022-02-07 09:23] SubhashVasarapu-MSFT commented on #21211
@RiccardoSofi, could you please post the complete error info and your pom.xml data here for further analysis?

[2022-02-07 09:29] RiccardoSofi commented on #21211
This is the complete error:

[ERROR] Failed to execute goal [32mcom.microsoft.azure:azure-webapp-maven-plugin:1.12.0:deploy[m [1m(default-cli)[m on project [36mtmi-fac-simile-api[m: [1;31mEncoutering error when deploying to azure: 'Failed to authenticate with Azure. Please check your configuration.'[m -> [1m[Help 1][m
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to exec

[2022-02-07 09:31] navba-MSFT commented on #12261
@dominicha64 Apologies for the late reply. This github issue has been open for quite sometime. Could you please let us know if you still need any assistance on this issue? Awaiting your reply.

[2022-02-07 09:42] navba-MSFT commented on #12313
@valterc Apologies for the late reply. This github thread has been open for quite sometime. Could you please let us know if you are still looking for some assistance on this issue ?

[2022-02-07 10:13] navba-MSFT commented on #12733
@juliuszsielski Apologies for the late reply. Could you please upgrade the Azure CLI to the [latest version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and run the command mentioned [here](https://docs.microsoft.com/en-us/cli/azure/iot/central/diagnostics?view=azure-cli-latest#az-iot-central-diagnostics-monitor-events) ? Also this github issue is open for quite sometime now. So

[2022-02-07 10:21] navba-MSFT commented on #13514
@tas1272 Apologies for the late reply. I tried to run the same command and that worked fine for me. Could you please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and try to run the same command again. More Info [here](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-create).

This github issue is open for quite s

[2022-02-07 10:37] navba-MSFT commented on #11119
@leocamar Apologies for the late reply. Could you please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and try to run the same command again ? More Info [here](https://docs.microsoft.com/en-us/cli/azure/mariadb/server-logs?view=azure-cli-latest#az-mariadb-server-logs-download).

This github issue is open for quite sometime. Please let us kn

[2022-02-07 10:45] zhoxing-ms commented on #19743
@anthony-c-martin Could you please share the template file and parameter file to me? This is convenient for me to reproduce and investigate the issue

[2022-02-07 11:06] valterc commented on #12313
I haven't used that command in a while, not sure if the problem still remains. If it was fixed or if there's no more reports I guess it could be closed. Thank you.

[2022-02-07 11:11] navba-MSFT commented on #12313
@valterc As per the above comment this is fixed, Refer #12532. So with your permission we will now proceed with the closure of this thread. If you need any further assistance, feel free to reopen this thread. We could be happy to assist.

[2022-02-07 11:11] #12313 closed

[2022-02-07 11:12] kesag commented on #21182
https://github.com/Azure/azure-cli/issues/20244
It worked .I can log out

[2022-02-07 11:12] #21182 closed

[2022-02-07 11:16] SharmaRakeshPFE commented on #8052
Is this issue fixed, because I can see still the expired secrets are working.

[2022-02-07 11:19] navba-MSFT commented on #21045
@cbeshare Apologies for the late reply. Could you please follow the below action plan in the order and let me know if that works ?

az version  # Run this command to check the extensions installed. This should show the ssh extension

ssh -F ./sshconfig 23.XXX.XX.86

Even if the error appears while running the command it should succeed in the background. The sshconfig file should be created. Please

[2022-02-07 11:24] italukder commented on #20848
Subject : Capital protocol

us pastime president  Donald Trump

[2022-02-07 11:29] italukder commented on #20848
Subject: Global Piece & Quinn protocol.

Leader uk Prince & Quinn family

[2022-02-07 11:42] italukder commented on #20848
Subject : global Garments business protocol trust bord organization.

Example
1.night garments
2.Ovens garments.
3. Kites garments.
4. switer garments.
5. Denim garments.

Leder my country government Bangladesh

[2022-02-07 11:54] italukder commented on #20848
Subject : global technology use protocol trust bord organization.

example.

[2022-02-07 12:03] navba-MSFT commented on #15073
@aneee22 Apologies for the late reply. This issue seems to be addressed #14335. Could you please let us know if you are still facing this issue ? Also note Kubernetes Dashboard addon is deprecated for Kubernetes version >= 1.19.0. This github issue is open for quite sometime now. Please let me know if you need any further assistance on this issue.

[2022-02-07 12:19] egodigitus commented on #20428
Had the same issue on Windows 10 with WSL2 ubuntu. Problem was a corporate proxy.

Solved it by setting the [proxy as an environment variable](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-configure-proxy?tabs=cmd) in powershell.

[code]

Verify if setting was successful by viewing all env variables:

`dir env:`

[2022-02-07 12:22] italukder commented on #20848
Subject: global Saudi Arabic protocol

Leader saudi Arabian government

[2022-02-07 12:37] SubhashVasarapu-MSFT commented on #21211
@RiccardoSofi, it states you there is an authentication issue. Can you verify whether you have necessary permissions on your subscription? Also do let us know the authentication type you were using here to access Azure resources.

[2022-02-07 13:10] juliuszsielski commented on #12733
@navba-MSFT I am no longer support iot projects so I can't verify this. Thank you for your help.

[2022-02-07 13:13] navba-MSFT commented on #12733
@juliuszsielski Thanks for getting back. We will proceed with closure of this for now. If you need any further assistance, please feel free to reopen this issue. We would be happy to help you.

[2022-02-07 13:13] #12733 closed

[2022-02-07 13:16] italukder commented on #20848
Subject :  do not working e c p

[2022-02-07 13:17] italukder commented on #20848
Subject : Unate nation protocol trust bord organization

[2022-02-07 13:19] italukder commented on #20848
Subject : European union protocol trust bord organization

[2022-02-07 13:20] italukder commented on #20848
Subject :Asian union protocol trust bord organization

[2022-02-07 13:29] italukder commented on #20848
Subject : global African protocol trust bord organization

[2022-02-07 13:32] italukder commented on #20848
Subject : Global Austria union protocol trust
 bord organization

[2022-02-07 13:35] italukder commented on #20848
Subject : Global Arabian union protocol trust bord organization.

[2022-02-07 14:15] anthony-c-martin commented on #19743
Template file (main.json):
[code]

Command to repro:
[code]

Note - there's only a limited amount of time this will be repro-able with this template file. We have a fix checked in for the server-side cause of this particular issue, which will probably be deployed over the next few weeks.

[2022-02-07 14:22] italukder commented on #20848
Subject : Global investment market protocol trust bord organizations.

example.
1: united state (US) investment market protocol.
2: European Union  (EU) investment market protocol.
3. Asian United Nations (AUN) investment market protocol.
4. African Union (AU) investment market protocol.
5. Australian United  Union  (AUU) investment market protocol.
6. Arabian United State (AUS) investment market

[2022-02-07 14:29] PvlD commented on #21199
still not work.  please check in real environment .

![image](https://user-images.githubusercontent.com/10778065/152807093-3612ca22-bd30-4878-96c5-b32c00ebcafc.png)

[2022-02-07 14:46] #16600 closed

[2022-02-07 15:07] martijndebruijn commented on #11315
Any news? This feature request is open since 2019! Please provide wildcard support a.s.a.p.

[2022-02-07 15:08] dinilimento commented on #11315
Must have feature for us as well

[2022-02-07 15:31] abhiramani-iptiq opened #21212 "az postgres server firewall-rule create not taking --name parameter and rule gets over written"
Hi
This command is not taking Rule name and creates rule with generic name allowip and next command overwrites first commands's IP because name is same allowip

az postgres server firewall-rule create --name Rule1 -g my-rg -s my-psql -n allowip --start-ip-address <start ip> --end-ip-address <end ip>
az postgres server firewall-rule create --name Rule2 -g my-rg -s my-psql -n allowip --start-ip-addr

[2022-02-07 15:34] italukder commented on #20848
Subject :Global country investment market protocol trust bord organization.

example.
#Globly but country investment market protocol.
every countries opened market investment protocol.

my private business protocol

[2022-02-07 15:36] italukder commented on #20848
Subject : Global e c p market save ida.
thank u  E C P

[2022-02-07 16:57] dominicha64 commented on #12261
I am good now, thanks very much. We already migrated to CMv2 now.

[2022-02-07 17:14] bmoore-msft commented on #11718
@JQUINONES82 - some comments and interested in your thoughts on some things...

This sounds like a known issue in the scheduling engine where any list*() call may be issued too early - in the case where the resource is being provisioned in the same deployment you'll see this behavior.  You can work around it, in bicep it's a little easier than in json. https://bmoore-msft.blog/2020/07/26/resource-

[2022-02-07 17:16] codeNameM1 opened #21213 "Azure Bash error: OSError: [Errno 30] Read-only file system"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``followed steps on https://microsoftlearning.github.io/AZ-900T0x-MicrosoftAzureFundamen

[2022-02-07 17:24] italukder commented on #20848
Subject : my personal business rule snd low regulations protocol trust bord organization

example.
my personal families rule and low regulations trust bord.
my personal business

[2022-02-07 17:28] italukder commented on #20848
Subject my private families rule and low regulations trust bord organization

example.
my private families rule and low regulations.

my private business

[2022-02-07 17:29] italukder commented on #20848
Subject : Global Agricultural business trust  bord organization

example.
ag

[2022-02-07 17:49] tjprescott commented on #9104
@navba-MSFT neither @kristapratico nor myself are on the CLI team anymore. If necessary, it should be reassigned.

[2022-02-07 17:56] italukder commented on #20848
Subject : global cosmetic produc protocol trust bord organization.

example.
global  cosmetic produc business protocol

my personal business

[2022-02-07 18:22] ramankumarlive commented on #19773
@arorasam

#1: We expect to announce the GA of the feature by the end of this month or early March.
#2: We dont have the performance numbers to share now. We can share the number by the end of April 2022.
#3: You can find the list of regions here: https://docs.microsoft.com/en-us/azure/virtual-machines/disks-incremental-snapshots?tabs=azure-cli#restrictions-1

[2022-02-07 18:52] italukder commented on #20848
Subject : global private and personal  election protocol trust bord organization.

example.
Personal leader election will be held three consecutive your and who will be the chif

all private and personal trust bord members will elected a leader

my personal election bord

[2022-02-07 19:27] italukder commented on #20848
Subject : global families  constitution book protocol thust bord organization.

example.
Global Families constitution boook written future

[2022-02-07 19:41] italukder commented on #20848
Subject : Global families justice bord protocol trust bord organization

example.
families justice book rule and low regulations.

example.
1.all families  rule and low regulations  justice book.
2.public rule and low regulations justice book.
3.families members rule and low regulations justice book.
4. Government rule and low regulations justice book.

Global families  save and control justice bo

[2022-02-07 20:34] italukder commented on #20848
Subjects: global public freedom  protocol trust bord Organization.

example.

1. Global freedom
2. union freedom
3. country freedom
4. location freedom

my private freedom business

[2022-02-07 20:59] santiagxf commented on #20150
@pragasv, Downgrade to version `2.29.1` as indicated in [Install specific version - Microsoft Docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#install-specific-version) . In my case most of the Azure ML CLI v1 are failing with the last version of Azure CLI. I won't suggest `pip install` directly as you may break other things. You can refer to this GitHub Action t

[2022-02-07 22:36] yonzhan commented on #21212
route to CXP team to help with

[2022-02-07 22:44] yonzhan commented on #21213
@jiasli for awareness

[2022-02-08 00:37] jago2136 opened #21214 "Update Azure Virtual Network Manager Extension"
**Is your feature request related to a problem? Please describe.**

Not related to a problem; we've recently upgraded to a new API version and the updates to our Azure CLI extension need to be done manually.

**Describe the solution you'd like**

The virtual-network-manager extension to be updated with all of the changes included in the new API version.

**Describe alternatives you've considered**

[2022-02-08 00:47] jago2136 opened #21215 "Azure Virtual Network Manager CLI Extension Update"
**Resource Provider**

Azure Virtual Network Manager

**Description of Feature or Work Requested**

The virtual-network-manager extension to be updated with all of the changes included in the new API version. Details on these changes are included below.

**Minimum API Version Required**

2021-05-01-preview

**Swagger Link**

Swagger Spec: https://github.com/Azure/azure-rest-api-specs/tree/main/spe

[2022-02-08 00:47] #21214 closed

[2022-02-08 00:53] yonzhan commented on #21215
Virtual network manager

[2022-02-08 01:28] cyljacky commented on #21208
It works! Thanks a lot! It saves me a lot of annoyance!

[2022-02-08 01:28] #21208 closed

[2022-02-08 02:01] SaurabhSharma-MSFT commented on #8541
@tjprescott I believe this issue has been fixed and can be closed. Please let us know.

[2022-02-08 02:04] SaurabhSharma-MSFT commented on #8544
@alexjmoore Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:05] SaurabhSharma-MSFT commented on #8545
@johntomasowa Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:06] SaurabhSharma-MSFT commented on #8650
@eggman314 Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:10] SaurabhSharma-MSFT commented on #8687
@martinvelos Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:12] SaurabhSharma-MSFT commented on #8714
@toddysm Do you have any updates on this issue ?

[2022-02-08 02:14] SaurabhSharma-MSFT commented on #8735
@bsiegel Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:16] SaurabhSharma-MSFT commented on #8736
@loskutak Could you please help providing additional information as requested above.

[2022-02-08 02:30] SaurabhSharma-MSFT commented on #21203
@khusseini Which command you are using to get the database information.  Is it `az cosmosdb mongodb database show`  ?

[2022-02-08 02:54] khusseini commented on #21203
@SaurabhSharma-MSFT, this particular example is the output of `az cosmosdb mongodb database --help`. The actual `show` command seems to be working.

[2022-02-08 02:57] dcaro opened #21216 "Upgrade API version used for Azure Managed Identity"
**Resource Provider**

Microsoft.ManagedIdentity

**Description of Feature or Work Requested**

Update to API version 2018-11-30 using codegen

**Minimum API Version Required**

2018-11-30

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/blob/476564a1aa6ddb38ec681c9f89d42f00c1becd25/specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2018-11-30/ManagedIdentity.json

[2022-02-08 02:59] yonzhan commented on #21216
Managed Identity

[2022-02-08 03:07] mrnonz commented on #8541
@SaurabhSharma-MSFT I think so, Thank you

[2022-02-08 03:07] #8541 closed

[2022-02-08 03:38] navba-MSFT commented on #12261
@dominicha64 Thanks for getting back. We will proceed with closure of this issue now. If you need any further assistance in future, please feel free to reopen this ticket and we would be happy to assist.

[2022-02-08 03:38] #12261 closed

[2022-02-08 04:01] abhiramani-iptiq commented on #21212
Hi
i had both --name and -n parameter specified in same line thats why its was nto working
below command works fine.

az postgres server firewall-rule create --name Rule1 -g my-rg -s my-psql  --start-ip-address --end-ip-address
az postgres server firewall-rule create --name Rule2 -g my-rg -s my-psql  --start-ip-address --end-ip-address

[2022-02-08 04:01] #21212 closed

[2022-02-08 04:05] navba-MSFT commented on #21194
@MartinPriebe Apologies for the late reply. Thanks for sharing an update on this. Please let us know if any further assistance is required on this issue. Awaiting your reply.

[2022-02-08 04:43] navba-MSFT commented on #9605
@aullom1 Apologies for the delayed response. We are looking into this issue. We will update this thread once we have more details on this.

@sameergMS @jsntcy Could you please provide an update on this github request once you get a chance ? Awaiting your reply.

[2022-02-08 04:59] G0PINATH-WW commented on #9605
Just to clarify, this is available in terraform already. An example that worked for  me.

resource "azurerm_monitor_action_group" "start_domainjoin_automation_workbook" {
  name                = "start-domainjoin-automation-workbook"
  resource_group_name = var.pipeline_shared_storage_rg_name
  short_name          = "start-aa-job"

  webhook_receiver {
    name                    = "start-domainjo

[2022-02-08 05:20] navba-MSFT commented on #9605
@G0PINATH-WW Thanks for sharing this.
@aullom1 Could you please test tis and let us know if that serves your requirement ? Awaiting your reply.

[2022-02-08 05:58] Danieladu opened #21217 "az login failed: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-02-08 06:02] jiasli commented on #21213
This is the same issue as https://github.com/Azure/azure-cli/issues/13855.

[2022-02-08 06:07] jiasli commented on #11749
@sherdana, your message is corrupted. Also, you are not on Cloud Shell, but Windows machine. Please create a new issue with detailed information and error message.

[2022-02-08 06:17] jiasli commented on #21217
Duplicate of #20231

[2022-02-08 06:17] #21217 closed

[2022-02-08 06:17] jiasli commented on #21159
Duplicate of #20231

[2022-02-08 06:17] #21159 closed

[2022-02-08 06:17] Kotasudhakarreddy commented on #20983
@SamWhitby Thanks for your feedback! we will review and check the feasibility.
cc @panchagnula

[2022-02-08 06:50] zhoxing-ms commented on #21216
@dcaro Hi, since CLI depends on Python SDK, please release the new version of Python SDK `azure-mgmt-msi`.

In fact, we already have a module `identity` to implement the feature of RP `Microsoft.ManagedIdentity`. [code link](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/identity/commands.py#L21-L27)
For this requirement, do we only need to upgrade the api-vers

[2022-02-08 08:37] binblu commented on #21065
Hi @necusjz
Thanks for you help on this, the customer has accepted the workaround and the case was closed on CSS side. I think you can close this ticket as well.

[2022-02-08 08:38] MartinPriebe commented on #21194
Hi, no I don´t need any assistance right now. Thanks a lot.
I have another issue with error message "lineStarts must not be empty"
But I think this is already fixed for the next version upgrade.

[2022-02-08 08:38] #21194 closed

[2022-02-08 08:50] iamNoah1 commented on #17928
I am encountering the same issue on a mac m1 machine trying to create an aks cluster, only if I use the `--enable-addons monitoring` flag

[2022-02-08 08:59] #21065 closed

[2022-02-08 09:03] zhoxing-ms commented on #19743
@anthony-c-martin I have submitted a PR #21220 to fix error handling issue

[2022-02-08 09:59] t-bzhan commented on #14500
As explained earlier in the issue, "az cdn custom-domain enable-https" underlyingly used POST method which is non-idempotent. Adding a check in CLI could not address the issue completely. There stands a chance that the configuration has been changed after the check, it is better solved in service side but that requires much efforts then.

By the way, It seems that idempotency for CLI commands has

[2022-02-08 09:59] #14500 closed

[2022-02-08 10:20] PramodValavala-MSFT commented on #19827
@tuetd Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:21] PramodValavala-MSFT commented on #19823
@glenchao Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:22] PramodValavala-MSFT commented on #19814
@cetauri Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:23] sri2850 commented on #21192
Hello @navba-MSFT, any update on the cli command. Awaiting for your reply.

[2022-02-08 10:27] PramodValavala-MSFT commented on #19824
@glenchao Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:28] PramodValavala-MSFT commented on #19828
@silvionetto Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:30] PramodValavala-MSFT commented on #19936
@vribeirocmp Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:31] PramodValavala-MSFT commented on #19768
@nemkicsiaron This has since been fixed. Closing.

[2022-02-08 10:31] #19768 closed

[2022-02-08 10:32] PramodValavala-MSFT commented on #19756
@adriant172 Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:32] PramodValavala-MSFT commented on #19735
@czobrisky Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:33] PramodValavala-MSFT commented on #19715
@FatemeTardasti-TomTom Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:33] PramodValavala-MSFT commented on #19714
@sashkaicecream Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:33] PramodValavala-MSFT commented on #19668
@MrKrip Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:34] PramodValavala-MSFT commented on #19632
@glauber-md Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:34] #19668 closed

[2022-02-08 10:35] wangzelin007 commented on #21210
test

[2022-02-08 10:35] #19489 closed

[2022-02-08 10:36] PramodValavala-MSFT commented on #19606
@rovania2000 Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:37] PramodValavala-MSFT commented on #19594
Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:37] PramodValavala-MSFT commented on #19558
@ghelyar Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:38] PramodValavala-MSFT commented on #19566
@chrishardenkio Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 10:38] navba-MSFT commented on #21192
@sri2850 Apologies for the late reply. Thanks for clarifying your requirement. AFAIK unlike LinuxFxVersion, for Linux, there is nothing CLI command can expose this setting at this time for the dotnetcore in windows webapp.

I did come across [this](https://docs.microsoft.com/en-us/azure/app-service/configure-language-dotnetcore?pivots=platform-windows#set-net-core-version) article which you can re

[2022-02-08 10:39] wangzelin007 opened #21221 "test fabric bot auto assign"
**Describe the bug**

Here i create a new issue
The issue body contains `az network`
I expect fabric bot will auto assign Assignees and Lables and Milestone.

[2022-02-08 10:41] wangzelin007 commented on #21221
Here is fabric bot config
![image](https://user-images.githubusercontent.com/18628534/152971109-da8750e1-b883-4f76-b322-8595a4066ea5.png)

[2022-02-08 10:42] wangzelin007 commented on #21221
Not work.
But if i close the issue and reopen it, the auto assign task will work.

[2022-02-08 10:42] navba-MSFT commented on #13760
@tingtingq Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you need assistance on this issue ? If Yes, could you please share the --debug output from the command ? Awaiting your reply.

[2022-02-08 10:44] Bewi42 commented on #19594
Thanks for the update

[2022-02-08 10:44] #19594 closed

[2022-02-08 11:01] rovania2000 commented on #19606
Ok. Thanks.

[2022-02-08 11:01] #19606 closed

[2022-02-08 11:01] PramodValavala-MSFT commented on #19546
@khanhtt0310 Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:02] PramodValavala-MSFT commented on #19542
@tmswfrk Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:02] PramodValavala-MSFT commented on #19537
@khanhtt0310 Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:02] PramodValavala-MSFT commented on #19535
@prasanta4u Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:03] PramodValavala-MSFT commented on #19529
@qmacro Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:03] PramodValavala-MSFT commented on #19513
@RobinDaugherty Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-02-08 11:12] PramodValavala-MSFT commented on #15046
@smichel-training Apologies for no updates on this issue sooner. I did not see the same error when I gave it a shot today. If there was a bug, this might have been fixed.

Unless you are still seeing an error with the latest version, I believe this can be closed.

[2022-02-08 11:13] navba-MSFT commented on #13088
@sourav-dey Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:16] PramodValavala-MSFT commented on #14720
@lowrencekurera You can leverage the [query parameter](https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest) to get the number of containers with a command like so

[code]

[2022-02-08 11:35] navba-MSFT commented on #15035
@se-xiaoc Apologies for the late reply. Could you please use the most recent version of the CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-08 11:38] navba-MSFT commented on #13007
@jajaislanina Please let us know if you had a chance to look at my above comment. Do let us know if you need any further help on this. Awaiting your reply.

[2022-02-08 11:39] navba-MSFT commented on #12969
@Tijinm Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:40] navba-MSFT commented on #12245
@Krystof-pl Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:41] navba-MSFT commented on #20179
@EkoSetiyo13 Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:41] navba-MSFT commented on #20167
@amrahmed101 Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:42] navba-MSFT commented on #20136
@nathanfranz Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:42] Krystof-pl commented on #12245
Hello,

I forgot what was the issue hence you can proceed with the closure.

Thank you

________________________________
De : navba-MSFT ***@***.***>
Envoyé : mardi 8 février 2022 11:40
À : Azure/azure-cli ***@***.***>
Cc : Krystof-pl ***@***.***>; Mention ***@***.***>
Objet : Re: [Azure/azure-cli] Failed to create Service Fabric (#12245)

@Krystof-pl<https://github.com/Krystof-pl> Please let us k

[2022-02-08 11:44] navba-MSFT commented on #12245
@Krystof-pl Thanks for getting back. If you need any further assistance on this in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-08 11:44] #12245 closed

[2022-02-08 11:47] navba-MSFT commented on #20112
@pamoody33 Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:47] navba-MSFT commented on #20106
@mohitkv32 Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:48] navba-MSFT commented on #20091
@THERCW Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:50] navba-MSFT commented on #20090
Duplicate of #20091

[2022-02-08 11:50] #20090 closed

[2022-02-08 11:54] navba-MSFT commented on #20082
@Panchadurga Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:55] navba-MSFT commented on #20064
@AakarshitChaurasia Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:56] navba-MSFT commented on #20035
@alwisr Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:56] navba-MSFT commented on #20028
@gauravag091 Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 11:57] navba-MSFT commented on #20024
@thaneeshr Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 12:01] navba-MSFT commented on #20180
@gasgesgos Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 12:06] navba-MSFT commented on #11439
@michaelshire Please let us know if you are still facing this issue. If no further assistance is required on this, can we proceed with closure of this issue? Awaiting your reply.

[2022-02-08 12:07] navba-MSFT commented on #11209
@marciasheila Please let us know if you are still facing this issue. Awaiting your reply.

[2022-02-08 12:38] tzaroon commented on #2458
### Issue Resolved on my end.

I was trying to give the role to the storage in the bicep.

`var storageBlobDataContributorRoleID = 'ba92f5b4-2d11-453d-a403-e96b0029c9fe'`

**I was writing this property as :**
`roleDefinitionId: storageBlobDataContributorRoleID`

**The I tried this one:**
`roleDefinitionId: resourceId('Microsoft.Authorization/roleDefinitions', storageBlobDataContributorRoleID)`

It

[2022-02-08 13:11] Kotasudhakarreddy commented on #20943
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-02-08 13:11] #20943 closed

[2022-02-08 13:14] Kotasudhakarreddy commented on #20925
@athapong Hope you have re-tried the command again.

[2022-02-08 13:17] sharmawiki opened #21222 "bash: kubectl: command not found for docker cli"
### **This is autogenerated. Please review and update as needed.**

## bash: kubectl: command not found

**Command Name**
``kubectl

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `kubectl`

## Expected Behavior

## Environment Summary
[code]
##

[2022-02-08 13:19] italukder commented on #20848
Subject : No one can used Wikipedia or meta

example

[2022-02-08 14:00] italukder commented on #20848
subject : global automobiles protocol trust bord organization.

example.
1. car manufacturing  company.
2. business manufacturing company.

[2022-02-08 16:14] smcgrawDotNet commented on #13855
Mr. LI

Try this:
Log-out of Auzer (don't just  close the tab)
Delete all the cookies in your browser(s)
Log-back end

Sam

On Mon, Feb 7, 2022 at 10:03 PM Jiashuo Li ***@***.***> wrote:

[2022-02-08 16:18] pamoody33 commented on #20112
Please go ahead and close this issue.Paul MoodyIBM ConsultingCell - 908-759-7684Email ***@***.*** - Paolo Miotti - Mobile:  (469) 690-5633-----"navba-MSFT" ***@***.***> wrote: -----To: "Azure/azure-cli" ***@***.***>From: "navba-MSFT" ***@***.***>Date: 02/08/2022 06:47AMCc: "pamoody33" ***@***.***>, "Mention" ***@***.***>Subject: [EXTERNAL] Re: [Azure/azure-cli] Error in Exercise - Create a new API

[2022-02-08 16:33] RaniPerwitasariOnTelekom opened #21223 "Error when typing az group create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/indra/.azure/versionCheck.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_

[2022-02-08 17:16] greguz commented on #8735
The bug seems to be resolved with the current version.

[2022-02-08 17:16] #8735 closed

[2022-02-08 17:47] jongio commented on #20582
@jiasli and @yonzhan

This is a complex configuration that I have researched and scripted extensively.

I have created a script here - that guides the user in setting this up and I expect the Azure CLI feature to do the same.

https://github.com/jongio/github-azure-oidc/blob/main/oidc.sh

1. The CLI should allow the user to pass in a federatedIdentityCredential.json file or stream that allows them

[2022-02-08 19:54] ozzy92 opened #21224 "az vm create fails with error VMCustomization is not enabled"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Following basic how to on creating vms from command line doesn't work, and preview feature doesn't appear in azure.
https://app.pluralsight.com/course-player?clipId=4924ba21-099c-42e1-8683-a131b1f5e442

Closest thing I found is this signup page, which doesn't really help much:
https://forms.office.com/pages/res

[2022-02-08 20:47] vhhughes opened #21225 "Incorrect max-burst limit with az functionapp plan"
## Describe the bug
[Documentation for the EastUS2 region my Windows EP3 Azure Function Premium Plan is running in](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#region-max-scale-out) says that I should be able to set the maximum instances up to 100. The Azure Portal allows me to do this successfully. When I try to use the Azure CLI to set any value abou

[2022-02-08 20:51] michael-fortin opened #21226 "az login fails on WSL2 ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
unable to login on MSL2 ubuntu
**Command Name**
`az login` & `az login --use-device-code`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- start wsl shell int

[2022-02-08 22:10] digitalinfinity opened #21227 "az account get-access-token doesnt seem to work in multi-tenant scenarios correctly"
**Describe the bug**

If you log in to az cli with multiple tenants, and then run az account get-access-token with --tenant-id, it fails to retrieve the tenant. However, if you use --subscription with a subscription in that tenant, it works.

**To Reproduce**

az login (into tenant A)
az login --device-code (into tenant B)
az account get-access-token --scope "https://vault.azure.net/.default" --te

[2022-02-08 23:44] yonzhan commented on #21227
@jiasli for awareness

[2022-02-08 23:44] yonzhan commented on #21226
@jiasli for awareness

[2022-02-08 23:45] yonzhan commented on #21225
route to CXP team to help with

[2022-02-08 23:46] yonzhan commented on #21224
Compute

[2022-02-08 23:49] yonzhan commented on #21223
ARM

[2022-02-08 23:51] yonzhan commented on #21222
@jiasli for awareness

[2022-02-08 23:51] SaurabhSharma-MSFT commented on #21203
@khusseini I have tried running `az cosmosdb mongodb database --help` and it works fine with the below response.
![image](https://user-images.githubusercontent.com/38112130/153095315-a673477c-a908-4f10-8b7b-a4981c48b4c2.png)

What exactly you are trying to do with this cmdlet output?  Did you try running this cmdlet directly into your target machine.

[2022-02-08 23:53] akrone-hach commented on #11966
No Problem! I just checked and observed the same as what you’ve mentioned. Thanks for the follow up

From: Pramod Valavala ***@***.***>
Sent: Wednesday, February 2, 2022 8:49 AM
To: Azure/azure-cli ***@***.***>
Cc: Krone, Aaron M ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] az apim list -h error thrown (#11966)

@akrone-hach<https://urldefense.proofpoint.com/v2/url?u=https-3A_

[2022-02-08 23:57] joshhighet commented on #16868
happy birthday #16868  🥳🙌🎂 🍰🎈🎉 🎁

[2022-02-09 01:54] zhoxing-ms commented on #21216
At present, `azure-mgmt-msi 1.0.0` already supports api-version `2018-11-30`, so we don't need to release the new Python SDK

[2022-02-09 01:59] sunil-archt opened #21228 "Request to update Powershell and CLI for Microsoft.HardwareSecurityModules."
**Resource Provider**
Microsoft.HardwareSecurityModules

**Description of Feature or Work Requested**

https://azure.microsoft.com/en-us/services/payment-hsm/#overview

**Minimum API Version Required**

The new SKU names are supported even in the older API versions.
The new managementNEtworkProfile that is added is only for new API version: 2021-11-30

**Swagger Link**

https://github.com/Azure/az

[2022-02-09 02:11] jiasli commented on #21226
Duplicate of #20388

[2022-02-09 02:11] #21226 closed

[2022-02-09 02:14] yonzhan commented on #21228
PLR

[2022-02-09 02:15] jiasli commented on #21227
Could you give more information on how the second command fails? Any error, output?

[2022-02-09 02:21] jiasli commented on #16868
You have provided incorrect value for `--api-permissions`. Please see the help message with `az ad app permission add --help` or check https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#az-ad-app-permission-add.

[2022-02-09 02:21] #16868 closed

[2022-02-09 02:26] jiasli commented on #2458
@tzaroon, your issue doesn't seem to be related to Azure CLI. Please only report Azure CLI-related issues in this repo. Thanks.

[2022-02-09 02:29] necusjz commented on #21119
Hi @Michael-Coetzee ,

I cannot reproduce this issue and a log profile was created with defender disabled.
Are you still suffering from this issue? From my point of view, it might be the access level of the storage account was not set properly.

[2022-02-09 03:08] necusjz commented on #21156
It seems that service side has some adjustments in handling concurrent operations against application gateway. Thanks.

[2022-02-09 03:14] PramodValavala-MSFT commented on #11966
@akrone-hach Glad to hear that! Closing this issue.

[2022-02-09 03:14] #11966 closed

[2022-02-09 03:20] digitalinfinity commented on #21227
[code]

[2022-02-09 03:22] digitalinfinity commented on #21227
Also, i just noticed that my original post didnt escape the angle brackets correctly- updated in place for clarity

[2022-02-09 03:51] navba-MSFT commented on #20112
@pamoody33 Thanks for getting back. We will now proceed with closure. If you need any assistance on this in future, please feel free to reopen this thread. We would be happy to assist you further.

[2022-02-09 03:51] #20112 closed

[2022-02-09 04:42] navba-MSFT commented on #20370
@sivetic Apologies for the late reply. We are looking into this issue. We will update this thread once we have the details on the fix.

@kenieva @zhoxing-ms Could you please share an update on this once you get a chance ? Awaiting your reply.

[2022-02-09 06:46] navba-MSFT commented on #14111
@tr-hagfjall Apologies for the late reply. I was able to repro this issue and seems like its still not fixed. I have reached out to the Product Owners to check the update on the fix. I will update this thread once I have more details on this. In the meantime you can invoke [this](https://docs.microsoft.com/en-us/rest/api/resources/tags/update-at-scope) REST API and check if that helps.

[2022-02-09 06:46] t-bzhan commented on #4475
Mooncake CDN RP's supported API version is too old, working on to align the version with global CDN to mitigate the issue.

[2022-02-09 06:57] dmaltsiniotis commented on #20578
Thank you for clarifying this. The need to install the preview extension was not apparent to me when reading the documentation for the latest version of the azure cli, and so I ran into the same issue. Installing the preview extension resolved it, but probably should be documented somewhere unless I just missed it. For example maybe here: https://docs.microsoft.com/en-us/cli/azure/storage/blob?vie

[2022-02-09 07:07] navba-MSFT commented on #19543
@AlphaWong Apologies for the late reply. The default behavior of the [above command](https://docs.microsoft.com/en-us/cli/azure/redis/firewall-rules?view=azure-cli-latest#az-redis-firewall-rules-list) is to list the redis firewall rules from the default subscription, unless you provide one as a parameter. I am looking into this issue and I will update this thread once I have more details.

[2022-02-09 07:21] zhoxing-ms commented on #21224
@ozzy92 Hi, we have submitted a PR #21232 to fix this issue. Our planned release time is **03-01**,  do you think this time is acceptable?

[2022-02-09 07:29] zhoxing-ms commented on #21223
This is the same issue as https://github.com/Azure/azure-cli/issues/13855.

[2022-02-09 08:15] dzhumaiev opened #21234 "az upgarde failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-02-09 08:17] navba-MSFT commented on #21225
@vhhughes Apologies for the late reply. I was able to reproduce the issue at my end. I am doing some research on this and update this thread once I have more details. In the meantime, Could you please test with the PS [Update-AzFunctionAppPlan](https://docs.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappplan?view=azps-7.2.0#example-1--update-an-app-service-plan-to-ep2-sku-w

[2022-02-09 08:23] zhoxing-ms commented on #21180
@sirfamelin For VMSS, are the positions and property names of these parameters in the request body similar to those in VM #17354?
It would be better if you could give us the examples of the request body~

[2022-02-09 08:39] Freia3 opened #21235 "set acl on storage container level"
**Is your feature request related to a problem? Please describe.**
I can use `az storage fs access` to set the POSIX access control rights on files and directories. But I want to set the access control on the container level. I don't see a way how to do this as the --path argument is mandatory.

**Describe the solution you'd like**
Make the --path argument optional

**Describe alternatives you've

[2022-02-09 08:40] #21187 closed

[2022-02-09 08:56] Saglodha commented on #15818
Hi @heyjustyn, thanks for bringing this to our attention and apologies for delay here.

We would triage this internally and would keep you posted.

[2022-02-09 09:00] Saglodha commented on #19354
Hi @monojit18, thanks for bringing this to our attention.

We would triage internally on expected behavior and would keep you posted.

[2022-02-09 09:03] jiasli commented on #21169
I am not seeing duplicated title anymore:

![image](https://user-images.githubusercontent.com/4003950/153161438-9994e338-4f3a-4c0b-bf8a-0958bd4f2d98.png)

@xisui-MSFT, please check again to see if it has been solved for you.

[2022-02-09 09:05] Saglodha commented on #18866
Hi @nwohlgemuth, Thanks for bringing this to our attention.

We would triage this internally and keep you posted.

[2022-02-09 09:11] navba-MSFT commented on #9585
@davis-x Apologies for the late reply. Could you use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-09 09:37] yonzhan commented on #21234
@jiasli for awareness

[2022-02-09 09:37] #13652 closed

[2022-02-09 09:39] yonzhan commented on #21235
storage

[2022-02-09 09:57] navba-MSFT commented on #11891
@BrainSlugs83 Apologies for the late reply. This issue is open for quite sometime now. Please let us know if you are still looking for assistance on this. Awaiting your reply.

[2022-02-09 10:02] sri2850 commented on #21192
@navba-MSFT, thanks for powershell script. It is working as expected. But having this in Azure-cli will really help. Can I close this issue?

[2022-02-09 10:10] navba-MSFT commented on #21192
@sri2850 Thanks for getting back. I also found that changing the .Net version doesn’t reflect on any of the site config or properties as investigated using resource explorer. [https://resources.azure.com/]. So there is no Az CLI available at this time to perform the set dotnetcore version operation on windows webapp(non-containerized app).

So you can leverage the PS sample which was shared earlie

[2022-02-09 10:10] #21192 closed

[2022-02-09 10:41] navba-MSFT commented on #12713
@GeeWee Apologies for the late reply. Could you please try the plan suggested [here](https://github.com/MicrosoftDocs/azure-docs/issues/39788#issuecomment-536779280) ? Also this issue thread is open for quite sometime. Please let me know if you still need any assistance on this. Awaiting your reply.

[2022-02-09 11:09] navba-MSFT commented on #14786
@wanglijun378617 Apologies for the late reply. We are looking into this issue. We will provide an update on this once we have more details.

@Azure/aks-pm Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-09 11:18] navba-MSFT commented on #13242
@jarielpa Apologies for the late reply. The az openshift command is deprecated and has been replaced by az aro for ARO 4 clusters. See http://aka.ms/aro/4 for information on switching to ARO 4.

More Info [here](https://docs.microsoft.com/en-us/cli/azure/openshift?view=azure-cli-latest). This github thread is open for quite sometime. Could you please let me know if you still need any assistance on

[2022-02-09 11:27] navba-MSFT commented on #9295
@david618 Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Azure CLI and test the behavior again ? If you are still encountering the issue, please share the recent time stamp of the issue (in UTC), correlation id and the region of your AKS cluster. Awaiting your reply.

[2022-02-09 11:39] navba-MSFT commented on #8904
@simongdavies Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details.

@azure/aks-pm Could you please provide an update on this issue once you get a chance ?

[2022-02-09 12:12] navba-MSFT commented on #16148
@PLsap Apologies for the late reply. Use _one_ of the following options to change where kubectl looks for configuration parameters:

- Modify the KUBECONFIG environment variable to point to the config file's current location. For more information, see [Set the KUBECONFIG environment variable](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-ku

[2022-02-09 12:13] navba-MSFT commented on #13305
@garthkerr Apologies for the late reply. Use one of the following options to change where kubectl looks for configuration parameters:

Modify the KUBECONFIG environment variable to point to the config file's current location. For more information, see [Set the KUBECONFIG environment variable](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-ku

[2022-02-09 12:29] navba-MSFT commented on #13362
@techsaau Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Azure CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-09 13:00] hrmsft opened #21236 "Azure CLI - Az functionapp deploy not mentioned as [Preview]"
Please check and add the information that the command "Az functionapp deploy" is in preview.
The information should be provided in order to guide customer on weather choose to use it or not.

Command used to see it: az functionapp --help

Please see the screenshot of the command run on CLI:
![image](https://user-images.githubusercontent.com/83068299/153206179-4cc7a786-f28f-455a-bb23-ea19118293b7.p

[2022-02-09 13:06] yonzhan commented on #21236
route to CXP team to help with

[2022-02-09 13:14] GeeWee commented on #12713
Ah, sorry I'm not using AKS anymore here two years later.. If you consider this a question, feel free to close it. If you consider it a bug feel free to close it.

[2022-02-09 13:28] navba-MSFT commented on #12713
@GeeWee The plan suggested [here](https://github.com/MicrosoftDocs/azure-docs/issues/39788#issuecomment-536779280) should help in this scenario. We will now proceed with closure. If you face the similar issue with most recent version of CLI, feel free to reopen this thread. We would be happy to assist you further.

[2022-02-09 13:28] #12713 closed

[2022-02-09 14:19] j5awry commented on #21224
@zhoxing-ms : I'd kindly request that  this move faster. This currently affects all new installs, as well as anyone upgrading on Windows or from the latest Linux distro PPAs (for Ubuntu, the `hirsute` PPA). For my team, this breaks some integrations, as well as members of my team. A workaround for Debian based distros is below. Something similar will probably work for RHEL based (untested).

Minim

[2022-02-09 14:27] ozzy92 commented on #21224
Is there a workaround?  I see the fix is manipulating the size param, is there a param that can be set?  This doesn't affect me too much, I'm just doing some simple how-to courses.

[2022-02-09 16:33] gjolly commented on #21224
The easiest workaround is to downgrade to the previous version. On Ubuntu/Debian, users can check what the previous version was with `apt-cache policy azure-cli` and downgrade `apt install azure-cli=$VERSION`.

They can also pin this version for now:

[code]

But they will have to remove this file when a fixed package gets released.

[2022-02-09 18:00] jdthorpe commented on #13331
Previous versions of the source code and MSI installers are on the [Azure CLI GitHub Releases page](https://github.com/Azure/azure-cli/releases)

[2022-02-09 18:33] kenieva commented on #20370
Our engineer is investigating...

[2022-02-09 20:52] xisui-MSFT commented on #21169
Checked just now, looks like this issue has been fixed. Thanks for the help!

[2022-02-09 20:52] #21169 closed

[2022-02-09 21:17] calvinsID opened #21237 "FunctionApp:`az functionapp config ssl bind` returns error saying webapp not found"
**Describe the bug**
Running `az functionapp config ssl bind` returns error even if functionapp exists
![image](https://user-images.githubusercontent.com/14339314/153291412-c1540541-3f8b-4f51-8e94-c7dfa2fb74f1.png)

**To Reproduce**
`az functionapp config ssl bind`

**Expected behavior**
Expected not to error

**Environment summary**
Happens in az cli version 2.33.0+

[2022-02-09 21:44] MikePennington commented on #10913
This is working on my end now as well. Thanks for the update. 👍

[2022-02-09 22:05] enema17484 commented on #12324
Hi All, Issue is resolved. Thank you

[2022-02-09 22:05] #12324 closed

[2022-02-09 22:06] khusseini commented on #21203
I guess since the command that I need (`az cosmosdb mongodb database show`) is working, I can close this ticket. Seems to be some weird edgecase on my machines.

[2022-02-09 22:06] #21203 closed

[2022-02-09 22:08] fdouw commented on #21205
Thanks for the reply. I was using the default package in the Ubuntu repository. Can confirm that the version from the Microsoft repo does not have this issue.

[2022-02-09 22:08] #21205 closed

[2022-02-09 22:11] fdouw commented on #21110
I think this is similar to #21205. I was using the `azure-cli` from the Ubuntu repo, the version from the Microsoft repo does not seem to have this bug anymore.

[2022-02-09 22:11] #21110 closed

[2022-02-09 22:25] ryanmaclean commented on #9585
Confirmed working now! Time to retire the old script 😄

Command:

`az aks create -n my-cluster -g default`

Output (after about 5 or so minutes):
[code]

Thanks for pinging @navba-MSFT!

[2022-02-09 22:55] yonzhan commented on #21237
route to service team

[2022-02-09 23:02] vhhughes commented on #21225
@navba-MSFT, I tried the Azure PowerShell command, and it works fine.

That said, we don't install or use Azure PowerShell, because we found over time that it seemed to be a second-class citizen compared to the Azure CLI. (i.e., support for new resource types, capabilities, etc. came later than for Azure CLI and with fewer supported options)

[2022-02-09 23:12] cutecycle commented on #20893
It may be the storage endpoint suffix you're using in the initial deployment of the function app, if youre function app has its own storage account. In a test environment, we had `core.windows.net` hardcoded but then had an issue going to another environment, and the "404" for a function key update was referring to an internal error finding the container `azure-webjobs-secrets`.

[2022-02-10 00:12] pwillia6 opened #21239 "az communication sms send-sms does not work - Python Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az communication sms send-sms`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az communication sms send-sms --sender {} --recipient {} -

[2022-02-10 00:32] yonzhan commented on #21239
route to CXP team to help with

[2022-02-10 00:42] jrett commented on #20715
What's the workaround? I'm unable to activate my MSHM because of this.

[2022-02-10 01:02] simonsben commented on #20715
If you run `az login` explicitly in Cloud Shell it will generate whichever token you need for it to succeed

[2022-02-10 01:21] wangzelin007 commented on #21221
After add, still not work.
![image](https://user-images.githubusercontent.com/18628534/153318686-ee913590-6df1-4d1b-95b1-03537ec71267.png)
Try to close the issue and reopen it again.

[2022-02-10 01:50] kairu-ms commented on #21165
Bump up network sdk required

[2022-02-10 03:14] zhoxing-ms commented on #21224
@j5awry @ozzy92 OK, we will solve this issue as soon as possible, and we plan to release the hotfix next Monday (**02-14**).

[2022-02-10 03:51] navba-MSFT commented on #21225
@vhhughes Thanks for getting back. I am discussing this issue with the product owners and checking on the fix. I will keep you posted about this.

[2022-02-10 04:17] navba-MSFT commented on #21179
@amitsingharoy Please follow the above mentioned action plan once you get a chance. We will now proceed with the closure of this issue. If you need any further assistance, please feel free to reopen this github thread. We would be happy to help.

[2022-02-10 04:17] #21179 closed

[2022-02-10 04:43] PramodValavala-MSFT commented on #10913
@chadcarlton Glad to hear that! Closing this. 👍

[2022-02-10 04:43] #10913 closed

[2022-02-10 05:32] kandarpgautam opened #21242 "not able to create appservice plan. also it shows no tags (parameters) available for this command on pressing tab"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create -n {} -g {} --sku {}`

## Expected B

[2022-02-10 05:45] #21225 closed

[2022-02-10 05:49] yonzhan commented on #21242
route to CXP team to help with

[2022-02-10 06:30] PramodValavala-MSFT commented on #21242
@kandarpgautam Looks like you are using a pretty old version of `az`. I can confirm this works with the latest version. Could you upgrade to the latest and try again?

[2022-02-10 06:42] navba-MSFT commented on #21239
@pwillia6 Apologies for the late reply. I hope you are aware of the fact that SMS messages can be sent to and received from United States phone numbers as of now. Phone numbers located in other geographies are not yet supported by Communication Services SMS. Refer [this](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/sms/send) article.

While I am trying to repro this is

[2022-02-10 06:45] kandarpgautam commented on #21242
@PramodValavala-MSFT ok I'll try that. but users can be thrown an error message if the CLI version being used is obsolete.

[2022-02-10 06:58] #21242 closed

[2022-02-10 07:24] navba-MSFT commented on #14437
@nkolench Apologies for the late reply. This issue seems to be fixed here #14335 . Could you please use the most [recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Azure CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-10 07:38] navba-MSFT commented on #14445
@sivaramsk Apologies for the late reply. Thanks for sharing an update on this. You can use _--file_ or _--overwrite-existing_ parameters with [az aks get-credentials](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials). Hope this helps. Since this issue is resolved now, we will proceed with closure. If you need any further assistance on this, please feel fr

[2022-02-10 07:38] #14445 closed

[2022-02-10 07:50] navba-MSFT commented on #14491
@webstean Apologies for the delayed response. The az aks command caches SPN based on subscription id and it will be placed under your user profile ~/.azure/aksServicePrincipals.json file. You can try to delete this and try running the command again. This will force to create a new SPN. Also could you please use the most [recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-02-10 08:17] navba-MSFT commented on #14652
@HuaRUAN Apologies for the delayed response. I was able to use the most[ recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI with Helmv3. More Info [here](https://docs.microsoft.com/en-us/azure/aks/quickstart-helm). Could you please let me know if you still need assistance on this ? Awaiting your reply.

[2022-02-10 08:23] PARADISSEEKR commented on #20420
Hi @Ochirkhuyag @sriramvu  `SubscriptionOperations.create_subscription_in_enrollment_account `[(link)](https://github.com/Azure/azure-cli-extensions/blob/ddba03626f75e10984652bf74235bb3cd5c4c894/src/subscription/azext_subscription/subscription/operations/subscription_factory_operations.py#L93-L95) is used in `az account create`, but it has been removed in the new [swagger](https://github.com/Azure

[2022-02-10 08:46] navba-MSFT commented on #8902
@Sviatik Apologies for the late reply. In order to update the newer image version of the containers in a running container group you can redeploy to an existing group with at least one modified property. Also note that when you redeploy an existing container group, its container image layers are pulled from those cached by the previous deployment. Instead of pulling all image layers fresh from the

[2022-02-10 09:12] navba-MSFT commented on #9197
@heymega Apologies for the late reply. Thanks for reaching out to us. We will update this thread once we have more details about this. As a workaround to this you can refer [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-egress-ip-address) article if you want to configure a single public IP address for outbound and inbound traffic to a container group. Please

[2022-02-10 09:50] navba-MSFT commented on #10039
@elibarzilay Apologies for the late reply. Could you refer [this](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-exec) article and let me know if using the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI helps is resolving this issue ? Awaiting your reply.

[2022-02-10 09:56] navba-MSFT commented on #10121
@kimsk Apologies for late reply. I was able to repro this issue. We are looking in to this and we will update this thread once we have more details on the fix.

@macolso Could you please let us know if you have any update on this issue ?

[2022-02-10 10:19] navba-MSFT commented on #10352
@porrascarlos802018 Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details.

@macolso Could you please let us know if you have any update on this ?

[2022-02-10 10:39] djhmateer commented on #21224
On WSL2 Ubuntu this worked for me:

[code]

[2022-02-10 10:41] yonzhan commented on #10840
route to service team

[2022-02-10 10:51] navba-MSFT commented on #10840
@smartpcr Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details on this.

@macolso Could you please let us know if you have any update on this ? Awaiting your reply.

[2022-02-10 11:07] navba-MSFT commented on #13386
@piyush-nimbalkar Apologies for the late reply. I hope you had a chance to follow the action plan mentioned above. That should help in resolving this issue. Alternatively you can pass the --file or --overwrite-existing parameter and run the command again. More Info [here](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials).

This issue is open for quite som

[2022-02-10 11:14] #13921 closed

[2022-02-10 11:32] navba-MSFT commented on #13745
@hegesippus Apologies for the late reply. Could you please let us know if you are facing this issue with the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of CLI ? Awaiting your reply.

[2022-02-10 11:42] NavsM commented on #20921
Hi @speedwaymickey - Have you managed to resolve this issue?

[2022-02-10 11:44] navba-MSFT commented on #11940
@hsnsalhi Apologies for the late reply. Multi-container groups currently support only Linux containers. For Windows containers, Azure Container Instances only supports deployment of a single container instance. While we are working to bring all features to Windows containers, you can find current platform differences in the service [Overview](https://docs.microsoft.com/en-us/azure/container-instan

[2022-02-10 11:59] navba-MSFT commented on #13735
@sshiba Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required keys which must be present: clusters, contexts and users. May be due to an empty section under clusters you might be facing this issue. You can also rename or delete the file and az aks get-credentials should start working again.

Alternatively you can pass the --file or --overw

[2022-02-10 12:10] Michael-Coetzee opened #21246 "Not able to LIST service principal after creating it."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Using `az rest`
When creating an application and then a service principal with the appId of the application, it gets created.
However I am not able to list the servicePrincipal anymore, if I GET the servicePrincipal using it's id, it gets displayed. but not able to see it in the list of all servicePrincipals.

[2022-02-10 12:14] navba-MSFT commented on #11584
@Abdelkrim Apologies for the late reply. If you are still facing this issue, Could you please check for any failure error messages in the [container logs ](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-logs)? Also this issue is open for quite sometime, Please let us know if you still need assistance on this.  Awaiting your reply.

[2022-02-10 12:18] navba-MSFT commented on #13846
@zoomout Apologies for the late reply. You can check under the user profile for file ~/.kube/config. T[here](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials) are 3 required sections which must be present: clusters, contexts and users. May be due to an incorrect entry under _clusters_ you might be facing this issue. You can also rename or delete the file

[2022-02-10 12:55] LotteVoorhorst commented on #21156
@necusjz Thank you for your comment.

Please advise how to handle these changes. I cannot find a specific locking mechanism to lock the Application Gateway when another operation is being handled (as for example, creating a listener).

Hope to hear from you!

[2022-02-10 13:52] Svessir opened #21247 "az login: Failed to establish a new connection: [Errno -2] Name does not resolve"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When logging in with azure cli inside of mcr.microsoft.com/azure-cli:2.32.0 container I get an error (See below), The same login command works if I login outside of the container on my host.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument va

[2022-02-10 13:58] yonzhan commented on #21246
@jiasli for awareness

[2022-02-10 14:01] yonzhan commented on #21247
@jiasli for awareness

[2022-02-10 16:59] baileydoestech commented on #19420
Seeing this issue on 2.33.0 - normal az commands work perfectly fine so long as REQUESTS_CA_BUNDLE environment variable is set. Does bicep not respect this like the CLI?

[2022-02-10 17:08] jtrivett commented on #19420
Yes, it seems to be a bug/oversight in the az cli. See more details and workarounds posted in issue #20842

[2022-02-10 20:11] AndrewRobie commented on #20735
Hi @bpasham, @seetharamanR, & @dgaspar, I'm looking into this and haven't been able to recreate the scenario yet. Are you still seeing the same behavior or able to reproduce it? If so, could you provide what region you're in and what type of VM you're connecting to?

[2022-02-10 21:15] elygre opened #21249 "Add "--no-auto-upgrade" or similar, to avoid quiet hangs in various SDK"
**Is your feature request related to a problem? Please describe.**
The Azure Python SDK uses the Azure CLI under the covers. Sometimes, nothing happens, and it's not obvious that the problem is the azure cli with autoupgrade. Aborting the program may for example show this stack trace:

[code]

**Describe the solution you'd like**
Please add an option of type `--no-auto-upgrade` that disables the a

[2022-02-10 22:16] elygre commented on #19305
This problem is resurfacing in 2.33; I believe it was gone in 2.32:

[code]

[2022-02-10 22:47] ROODAY commented on #16031
@bim-msft are there any updates on this bug? It's still present in az cli 2.31.0

[2022-02-11 00:25] Ashakya1511 opened #21250 "Secure virtual networks availability in China region"
Hello,

We are trying to setup a virtual network in china region(east,east2,north and north2) with DDOS protection enabled but feature doesn't seem to be available from Azure portal or CLI. As per available documentations and blogs DDOS protection is generally available(GA), could you please help here? either by helping us enable the feature in Azure China region or indicate when this feature will

[2022-02-11 01:08] yonzhan commented on #21250
network

[2022-02-11 01:32] jiasli commented on #21247
I am not able to reproduce with docker on WSL:

[code]
Are you running the docker container on WSL? If so, this could be related to

- https://github.com/microsoft/WSL/issues/5991
- https://github.com/microsoft/WSL/issues/5256

[2022-02-11 01:51] evelyn-ys commented on #16031
The `--encoding` param is used to tell CLI what encoding the secret you stored in Keyvault is. If it's stored in hex format, then before we save secret content to the specified file, CLI will unhexlify to get the origin content.

It's not used to let CLI hexlify the content and then save to the specified file.

[2022-02-11 03:28] #20913 closed

[2022-02-11 04:02] kairu-ms commented on #21250
@Ashakya1511 We have DDOS protection commands supported.  This is the test case. It may help you.

https://github.com/Azure/azure-cli/blob/30216d0268f3491b8af2aa060d90a9e1f94f9b3c/src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py#L585-L623

[2022-02-11 04:38] navba-MSFT commented on #21135
@ksat-christoph Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. There might be an issue in fetching details from this config file. To isolate the issue, You can try to rename or delete this config file and try to run the [az aks get-credentials](https://docs.microsoft.com/

[2022-02-11 04:41] navba-MSFT commented on #20996
@mdenhoedt Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. There might be an issue in fetching details from this config file. To isolate the issue, You can try to rename or delete this config file and try to run the [az aks get-credentials](https://docs.microsoft.com/en-us

[2022-02-11 04:51] thomasp98296 opened #21251 "Add support for new APIs for Action Group Resource Provider"
**Is your feature request related to a problem? Please describe.**
No, it is not related to a problem.

**Describe the solution you'd like**
Our team owns the notification services which send out different types (SMS, Phone, Email, Webhooks, etc.) of notifications to Azure customers. We recently added a feature call Test Notifications which enabled customers to test the notifications (SMS, Phone,

[2022-02-11 04:54] yonzhan commented on #21251
Monitor

[2022-02-11 04:56] navba-MSFT commented on #20977
@vgarmash Apologies for the late reply. Thanks for sharing the steps you had followed to address this issue. I am glad that the issue stands resolved now. Please let me know if we can proceed with closure of this github thread. Awaiting your reply.

[2022-02-11 05:14] navba-MSFT commented on #20949
@PehrGit Apologies for the late reply. Planned Maintenance windows are specified in Coordinated Universal Time (UTC). Please refer [this](https://docs.microsoft.com/en-us/azure/aks/planned-maintenance#allow-maintenance-on-every-monday-at-100am-to-200am) for more info. Please let me know if you have any further questions on this. Awaiting your reply.

[2022-02-11 05:38] navba-MSFT commented on #20889
@Hanimaru Apologies for the late reply. Could you please let us know if you had a chance to follow the above action plan suggested by @phealy ? Please let us know if you still need any assistance on this. Awaiting your reply.

[2022-02-11 06:05] navba-MSFT commented on #20597
@zhdi0 Apologies for the late reply. Did you get a chance to look at the above comment posted by @FumingZhang ? Could you please try to run the command from a different box which is outside of your network ? This will isolate the issue related to the firewall / network. Please let us know if you are still facing the issue. Awaiting your reply.

[2022-02-11 06:16] navba-MSFT commented on #20512
@Kannadasans Apologies for the late reply. The similar issue was reported here https://github.com/Azure/AKS/issues/1871  Could you please check this thread for the various scenarios that can cause this issue ? Also do let us know if you are still facing the same issue ? Awaiting your reply.

[2022-02-11 06:20] navba-MSFT commented on #20511
@daniel-anova Apologies for the late reply. We are looking into this ask. We will update this thread once we have more details.

@Azure/aks-pm Could you please provide an update on this ask ? Awaiting your reply.

[2022-02-11 06:32] navba-MSFT commented on #20506
@pappasG Apologies for the late reply. Could you please upgrade to the [most recent version](https://www.python.org/downloads/) of python and [upgrade](https://packaging.python.org/en/latest/tutorials/installing-packages/#use-pip-for-installing) all its dependent libraries and test the behavior again with the [recent CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) ? Please let u

[2022-02-11 06:38] navba-MSFT commented on #20653
@kajanth Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. There seems to be an issue to read / find this config file. You can try to rename or delete the file and run the az aks get-credentials command and check if that works.

Alternatively you can pass the --file or --ove

[2022-02-11 07:00] elygre commented on #21249
@yonzhan I yesterday opened two issues, this one here and on in the SDK repo (https://github.com/Azure/azure-sdk-for-python/issues/23016). The problem lives in the interaction between the SDK and the CLI, and changes are need in *both* places:

* It must be possible to instruct the CLI to not ask the upgrade question. This issue would ensure that this capability exists.
* Then the SDK must use thi

[2022-02-11 07:03] navba-MSFT commented on #20810
@IvanLieckens Apologies for the delayed response. AFAIK, changing the service range is not possible once cluster is created. From the AKS / Network standpoint the validations are done to check and block against possible conflicts. [Here](https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2019-04-15) is the GitHub on this behavior.

So I am sharing some of the suggestions below if that i

[2022-02-11 07:07] navba-MSFT commented on #20803
@Hanimaru Apologies for the late reply. Could you please let us know if you had a chance to follow the action plan suggested by @FumingZhang ? Please let me know if you are still facing this issue. Awaiting your reply.

[2022-02-11 07:11] navba-MSFT commented on #20785
@aqiftekhar Apologies for the late reply. Could you please let us know if you had a chance to follow the action plan suggested by @phealy ? Please let me know if you are still facing this issue. Awaiting you reply.

[2022-02-11 08:55] tux3 opened #21252 "az aks: No module named 'azure.mgmt.containerservice.v2021_10_01'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

See traceback, all `az aks` subcommands fail immediately.

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install from DEB
- `az aks`

## Expected Behavior

No traceback

[2022-02-11 08:58] cveld commented on #17607
Please do it the other way around. Improve multi-user features.
1. Have Az cli contexts per shell context. Currently the az context is applicable to all shell contexts which makes it unusable for multi-user scenarios
2. Have Az cli contexts with user/subscription identitifiers. Currently only the subscription is specifying which az context to take. This is too limited. I have multiple accounts for

[2022-02-11 09:07] necusjz commented on #21156
@LotteVoorhorst Let's wait for the feedback from service side. : )

From CLI side, we can append `--no-wait` argument, like:
[code]

[2022-02-11 09:13] #20036 closed

[2022-02-11 09:20] Ochirkhuyag commented on #20420
Checked this. Current ([2021-10-01](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/subscription/resource-manager/Microsoft.Subscription/stable/2021-10-01/subscriptions.json)) and previous version ([2020-09-01](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/subscription/resource-manager/Microsoft.Subscription/stable/2020-09-01/subscriptions.json)) of ou

[2022-02-11 09:36] baileydoestech commented on #20842
These suggestions work for us and provide a temporary workaround, for anyone looking to run Bicep from a Docker container (such as VS devcontainers) we use the following solution (with the cert fix that @jtrivett mentions)

[code]

[2022-02-11 09:52] yonzhan commented on #21252
route to CXP team

[2022-02-11 10:23] bertneef commented on #21224
2.33.0 is currently the active version in azure cloud shell as well, hope the upcoming hotfix will be pushed there as well.

[2022-02-11 10:45] Stummi opened #21254 "`API version 2021-10-01 does not have operation group 'managed_clusters'` when running `az aks get-credentials`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az aks get-credentials --admin --subscription={} --name {} --resource-group {}`

## Expected

[2022-02-11 10:45] navba-MSFT commented on #20766
@favoretti Apologies for the late reply. I hope you had a chance to look at the above comment by @northtyphoon .
Please let us know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-11 11:11] Svessir commented on #21247
No I am running the docker container in a hyper-v Ubuntu 18.04 virtual machine.

[2022-02-11 11:14] navba-MSFT commented on #20657
@dumez-k Could you please make use of [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of CLI and [upgrade Python Libraries](https://www.python.org/downloads/) and let us know if that helps ? Awaiting your reply.

[2022-02-11 11:20] ikivanc opened #21255 "Updating device twin tags are not working"
I want to update my device twin's tags and based on official documentation. It suggests to use `--tags` to add a tag to a device twin, unfortunately I get error even I try the sample provided in the documentation.

![image](https://user-images.githubusercontent.com/118657/154146865-b60ed9df-cb80-4644-88cc-bf6211def942.png)

When I check the JSON samples in in error message, and suggests to use `--

[2022-02-11 11:44] navba-MSFT commented on #20568
@lukejgaskell Apologies for the late reply. Could you please try to use the most recent version of the CLI and the Python libraries and check if the issue occurs ? Please let me know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-11 12:44] navba-MSFT commented on #21175
@Akshay-gade We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:44] #21175 closed

[2022-02-11 12:51] navba-MSFT commented on #10575
@amiraliw We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:51] #10575 closed

[2022-02-11 12:53] navba-MSFT commented on #19430
@Mparvez123 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:53] #19430 closed

[2022-02-11 12:55] navba-MSFT commented on #13088
@sourav-dey We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:55] #13088 closed

[2022-02-11 12:56] navba-MSFT commented on #13007
@jajaislanina We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:56] #13007 closed

[2022-02-11 13:01] navba-MSFT commented on #12969
@Tijinm We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 13:01] #12969 closed

[2022-02-11 13:05] navba-MSFT commented on #20179
@EkoSetiyo13 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 13:05] #20179 closed

[2022-02-11 13:07] navba-MSFT commented on #20167
@amrahmed101 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 13:07] #20167 closed

[2022-02-11 13:10] navba-MSFT commented on #20106
@mohitkv32 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 13:10] #20106 closed

[2022-02-11 13:12] navba-MSFT commented on #20091
@THERCW We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 13:12] #20091 closed

[2022-02-11 13:12] Gordonby opened #21256 "AppGW NSG management group check fails on redeploy"
**Describe the bug**
I have an Arm json file that contains an NSG definition, which is used on an Application Gateway v2 subnet.
The deployment completes successfully the first time, however when deploying the arm template subsequent times (even when no changes are present, see what-if below) the deployment always fails with this message

**This is an idempotency issue around the Application Gatew

[2022-02-11 13:43] ddran-averydennison commented on #21156
@necusjz  Can you confirm that this workaround helps?

[2022-02-11 13:54] navba-MSFT commented on #21225
@vhhughes Please expect the changes to be available with the next CLI release (in March). see [this](https://github.com/Azure/azure-cli/milestone/115).

[2022-02-11 13:59] navba-MSFT commented on #20344
@dvpierce Apologies for the late reply. This issue seems to be fixed here https://github.com/Azure/azure-cli/pull/14335 . Could you please use the most [recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Azure CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-11 14:49] yonzhan commented on #21256
network

[2022-02-11 14:50] yonzhan commented on #21255
route to service team

[2022-02-11 14:52] yonzhan commented on #21254
route to CXP team to help with

[2022-02-11 14:56] MislavSag opened #21257 "Can't install python package through doker file"
Here is th template I use to run R code in azure ml using azure cli.

I am using following docker file:
[code]
When I start the computin process (az ml job create -f job.yml --web), I get following error:
[code]
It can't install mlfinlab package.

Is it maybe because of python version? I think mlfinalb works only with python 8.

If that is the true, how can I install python 8?

[2022-02-11 16:18] msnyder1-insight opened #21258 "_az login_ failure: The ID token is not yet valid."
# Notes Prologue:

- Using Linux 2.32.0 CLI package upon encountering this failure.  Rebuilt environment to get updates (found 2.33.0 available), but issue persists.
- Zero changes in 24 hour span where it worked at the beginning of the interval, and failed at the end of the interval.
  - using version 2.32.0 at both ends of the cited span.
  - was in the same shell session for the entire timespan

[2022-02-11 16:21] brianlillyoir commented on #20735
I had this exact issue. I disabled and reenabled the native client support feature and this resolved my "Tunneling is disabled" error. Thank you!

[2022-02-11 16:32] mountain65 opened #21259 "az functionapp config appsettings does not accept hyphen in settings name"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp config appsettings set -g dev -n my

[2022-02-11 18:16] msnyder1-insight commented on #21258
Working through this, I've regained functionality through rebooting my environment.  I now suspect that this may have been caused by a stale web credential/authentication.  In the work I'm doing, I'm using the "az login" interaction with a web browser that produces the following message:
[code]
My web credential was authenticated much more than 24 hours prior to experiencing this error.  The error

[2022-02-11 18:17] SaurabhSharma-MSFT commented on #8783
@ahmelsayed Do you have any updates on this issue ?

[2022-02-11 18:22] SaurabhSharma-MSFT commented on #8901
@ankitkumarr Do you have any updates on this issue.

[2022-02-11 18:24] SaurabhSharma-MSFT commented on #8953
@zhoxing-ms @raych1 Do you have any updates on this ?

[2022-02-11 19:13] nSilberg commented on #20735
Same. First it didnt work but found some patience and waited the 10 minutes it took to disable. Tip: keep an eye on the activity log and wait for the job to complete successful before trying to enable the feature again.

[2022-02-11 19:29] kendrickchibueze opened #21260 "az login not working"
PS C:\Windows\system32> # Login to Azure using Powershell and az
$adminUPN="MyEmailAddress@domain.com"

$userCredential = Get-Credential -UserName $adminUPN -Message "Type the password."

connect-msolservice -Credential $userCredential

connect-azaccount

az login

connect-msolservice : The term 'connect-msolservice' is not recognized as the name of a cmdlet, function, script file, or operable
pro

[2022-02-11 23:11] sirfamelin commented on #21180
@zhoxing-ms, what you say request body, do you mean what the az cli command should look like? If so, I have two examples under the description for az vmss create and az vmss update

[2022-02-11 23:20] pushkarcMS opened #21264 "az vm create cli's --hyper-v-generation option does not allow creation of Gen2 managed disk"
Uploaded an unmanaged VHD file in a storage account.  Tried creating a gen2 managed disk using CLI as described below which leads to null value for disk's hyperVGeneration.

Similar steps work fine when creating managed disk through portal to create a gen2 managed disk and deploying a gen2 VM.

**Repro steps**

1. Create disk

az disk create --resource-group myrg -n "mydisk" --source "https://sora

[2022-02-12 00:02] SaurabhSharma-MSFT commented on #21252
@tux3 I am not seeing any error. Can you please run `az aks addon list-available` and provide the error message and trace.

Thanks
Saurabh

[2022-02-12 00:11] tux3 commented on #21252
@SaurabhSharma-MSFT

Sure thing. I have the same error on my desktop and laptop, both running Debian. I've installed the CLI using [these deb packages.](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)

[code]

[2022-02-12 01:01] yonzhan commented on #21257
@jiasli for awareness

[2022-02-12 01:02] yonzhan commented on #21259
route to CXP team

[2022-02-12 01:03] yonzhan commented on #21258
@jiasli for awareness

[2022-02-12 01:32] yonzhan commented on #21264
Compute

[2022-02-12 01:52] StevenTCramer commented on #21047
While at it support `.` in env names also.

[code]
my docker-compose file contains

[code]

[2022-02-12 02:19] kendrickchibueze commented on #21260
az login is not working. I am receiving an error although l have installed Azure Cli in windows

[2022-02-12 02:29] jvryssen opened #21266 "Create a service principal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {}`

## Expected Beha

[2022-02-12 02:43] yonzhan commented on #21266
@Jiasli for awareness

[2022-02-12 06:32] navba-MSFT commented on #8530
@timja Thanks for getting back. We are looking into this issue and we will update this thread once we have more details.

@adamedx Could you please let us know if you have any update on this ?

[2022-02-12 06:51] navba-MSFT commented on #13514
@tas1272 This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 06:52] navba-MSFT commented on #11119
@leocamar This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 06:52] navba-MSFT commented on #21045
@cbeshare This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 06:54] navba-MSFT commented on #15073
@aneee22 This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 07:36] navba-MSFT commented on #13242
@jarielpa This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 08:01] shivamnamdeo43 opened #21267 "az login error- Failed to establish a new connection: [Errno -2] Name does not resolve"
I have never seen this error before. While trying to authenticate with browser, I am getting below error. I checked that I am able to resolve other external as well as internal url's without any problem. The problem so far seems to be with az login only.
I am using az docker 2.32.0 as my image.

docker run -it -v ${HOME}/azcli/:/root/ --network bridge mcr.microsoft.com/azure-cli:2.32.0

bash-5.1#

[2022-02-12 08:52] necusjz commented on #21156
@ddran-averydennison FYI: I have simulated the scenario of creating probes concurrently on my local machine and it worked.

[2022-02-12 09:18] yonzhan commented on #21267
@jiasli for awareness

[2022-02-12 10:16] tomcolen commented on #21185
Solved, updated az. Thanks

[2022-02-12 11:33] hem1999 opened #21268 "login is not working as expected."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-12 11:35] dilip814 opened #21269 "Unable to connect to VM using bastion ssh"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion ssh --name {} --resource-group {} --target-res

[2022-02-12 12:03] tux3 commented on #21252
@SaurabhSharma-MSFT
If I run `az aks` by itself, it fails as shown in the first post.

Other commands that fail include `az aks get-credentials --admin -n foo -g bar`:

[code]

`az aks list` fails with the same error:

[code]

On my Debian desktop, `start` and `stop` seem to work. However on my laptop I also see a similar error:

[code]

On both my Debian machines, `az aks` by itself is the simple

[2022-02-12 16:14] tejass16 commented on #4247
ACR_NAME=testtejasivargaks
SERVICE_PRINCIPAL_NAME=acr-sp-demo

ACR_REGISTRY_ID=$(az acr show --name $ACR_NAME --query id --output tsv)

SP_PASSWD=$(az ad sp create-for-rbac --name http://$SERVICE_PRINCIPAL_NAME --scopes $ACR_REGISTRY_ID --role acrpull --query password --output tsv)
SP_APP_ID=$(az ad sp show --id http://$SERVICE_PRINCIPAL_NAME --query appId --output tsv)

echo "Service principal ID

[2022-02-12 19:39] leocamar commented on #11119
I don’t have this issue anymore.

[2022-02-12 19:39] #11119 closed

[2022-02-12 19:57] Kamran-Bilgrami commented on #20886
It worked well for me to after upgrading to 2.32.0. However, now that I upgraded to 2.33.0, the exact same error is back

[2022-02-12 20:45] italukder commented on #20848
Subject : my personal information do not selling

[2022-02-12 22:45] adamedx commented on #8530
I'm not the right contact for anything related to azure-cli -- @dcaro , can you re-route?

[2022-02-13 00:08] zhoxing-ms commented on #21180
@sirfamelin In fact, I mean the request body of the HTTP request when requesting REST API
Such as: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAScaleSetWithUefiSettings.json

[2022-02-13 00:15] zhoxing-ms commented on #21264
This error is returned by the REST service, so we need the service team to investigate the root cause

[2022-02-13 00:32] zhoxing-ms commented on #8953
On the first request to list deployments, If the size of the response is equal to top, we're done (this covers most scenarios). Otherwise, we should continue to make requests to nextLink (as the current code does) until the total accumulated response size is equal to top.

Thanks to the investigation from @snaheth. This seems to be a Python SDK related issue. @snaheth May I ask how is the current

[2022-02-13 01:02] yonzhan commented on #21268
@jiasli for awareness

[2022-02-13 01:03] yonzhan commented on #21269
route to CXP team

[2022-02-13 05:23] k-guy-dev commented on #12750
Hi, I'm facing the same error! I am using a subscription of "Azure for Students". I tried doing the login with and without
--allow-no-subscriptions but nothing seems to work.

[2022-02-13 05:29] zinlingzhi opened #21271 "Why django samples can't deploy to azure if I update the django version?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --location {} --plan {} --sku {} --name {}

[2022-02-13 06:34] lukejgaskell commented on #20568
@navba-MSFT if I remember correctly the version published in mid December fixed the issue.

[2022-02-13 06:48] Ashakya1511 commented on #21250
Hello,

Thanks for your reply. I tried to configure an existing vnet in China east region but encountered similar error while creating ddos plan.

![image](https://user-images.githubusercontent.com/72612651/153742369-b69c0f05-1a8a-4a3c-9322-c22d51809a4f.png)

Regards,
Ashish

[2022-02-13 08:37] italukder commented on #20848
Subject : global  museum protocol trust bord organization

[2022-02-13 08:47] italukder commented on #20848
Subject : world  trade center protocol trust bord organization

[2022-02-13 08:49] italukder commented on #20848
Subject : global trade center protocol trust bord organizations

[2022-02-13 08:51] italukder commented on #20848
Subject : world business center protocol trust bord organization

[2022-02-13 08:52] italukder commented on #20848
Subject : global business center protocol trust bord organization

[2022-02-13 08:55] italukder commented on #20848
subject : world commence center trust bord organization

[2022-02-13 09:10] italukder commented on #20848
Subject : global chamer of commerce center protocol  trust bord organization

[2022-02-13 09:17] italukder commented on #20848
Subject : world chamber of commenced protocol trust bord organization

[2022-02-13 09:36] italukder commented on #20848
Subject : global festivals protocol trust bord organization

[2022-02-13 09:44] dcurwin commented on #21099
@yonzhan @jsntcy @amirkeren  - Any updates?

[2022-02-13 12:37] navba-MSFT commented on #14437
@nkolench I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:38] navba-MSFT commented on #14652
@HuaRUAN I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:38] navba-MSFT commented on #10039
@elibarzilay I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:39] navba-MSFT commented on #13386
@piyush-nimbalkar I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:40] navba-MSFT commented on #13745
@hegesippus I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:42] navba-MSFT commented on #11584
@Abdelkrim I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 12:43] navba-MSFT commented on #13846
@zoomout I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-13 13:24] orenbouni opened #21272 "Az Login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az Login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-13 14:20] yonzhan commented on #21272
@jiasli for awareness

[2022-02-13 14:38] timwebster9 commented on #20414
Blocking CloudShell using network controls isn't really a good solution, although understandably people are doing this because it seems like the only option.  There should be an easier way to enable this for privileged users, and disable for everyone else.

Controlling access to storage isn't a good option either.  We need developers to be able to work with storage for their applications.

Deployi

[2022-02-13 22:35] ringoc commented on #21224
Hi Team, please prioritize the hotfix as this is blocking user from VM creation in Cloud Shell. Thanks.

[2022-02-14 00:41] chrisriu commented on #21271
Thank you

On Sun, Feb 13, 2022 at 10:22 PM yonzhan ***@***.***> wrote:

[2022-02-14 00:46] yonzhan commented on #21224
Yes, we planned to apply the hotfix today and it will be applied to cloud shell afterwards as well.

[2022-02-14 01:02] masonhuemmer opened #21273 "az image builder create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image builder create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image builder create --name {} --resource-group {} --image-te

[2022-02-14 01:38] cbellee opened #21274 "`az managedapp definition create` command doesn't provide an option to control the deployment mode"
**Is your feature request related to a problem? Please describe.**
`az managedapp definition create` command doesn't provide an option to control the deployment mode type (Incremental, Complete) and defaults to 'Complete'. The REST API provides a way to achieve [this](https://docs.microsoft.com/en-us/rest/api/managedapplications/application-definitions/create-or-update#applicationdeploymentpolicy)

[2022-02-14 02:19] jiasli commented on #21272
Duplicate of #20231

[2022-02-14 02:19] #21272 closed

[2022-02-14 02:51] jiasli commented on #21267
Similar to https://github.com/Azure/azure-cli/issues/21247

[2022-02-14 02:52] jiasli commented on #21247
I see. Then could you test if your container can resolve `login.microsoftonline.com`?

[code]

The result should look like

[code]

[2022-02-14 03:28] navba-MSFT commented on #19232
@trias702 Apologies for the late reply. I am not able to repro this issue. I was able to successfully validate my ACR access using the below command:

[code]

Here is the AzCLI and Python version I am using in my box. Could you please try to [upgrade the python](https://www.python.org/downloads/) libraries and the [most recent version of](https://docs.microsoft.com/en-us/cli/azure/install-azure-cl

[2022-02-14 03:29] navba-MSFT commented on #17829
@beiriannydd Apologies for the late reply. I am not able to repro this issue. I was able to successfully validate my ACR access using the below command:

[code]

Here is the AzCLI and Python version I am using in my box. Could you please try to [upgrade the python](https://www.python.org/downloads/) libraries and the [most recent version of](https://docs.microsoft.com/en-us/cli/azure/install-azure

[2022-02-14 03:30] navba-MSFT commented on #18762
@defenestration Apologies for the late reply. I am not able to repro this issue. I was able to successfully validate my ACR access using the below command:

[code]

Here is the AzCLI and Python version I am using in my box. Could you please try to [upgrade the python](https://www.python.org/downloads/) libraries and the [most recent version of](https://docs.microsoft.com/en-us/cli/azure/install-az

[2022-02-14 03:31] navba-MSFT commented on #19654
@BrianJackson Apologies for the late reply. I am not able to repro this issue. I was able to successfully validate my ACR access using the below command:

[code]

Here is the AzCLI and Python version I am using in my box. Could you please try to [upgrade the python](https://www.python.org/downloads/) libraries and the [most recent version of](https://docs.microsoft.com/en-us/cli/azure/install-azur

[2022-02-14 03:35] zhoxing-ms commented on #8530
@timja I can't reproduce this issue at present. Could you please update the latest version of CLI to have a try?

[2022-02-14 03:36] navba-MSFT commented on #20132
@tanalam2411 Apologies for the late reply. I am not able to repro this issue. I was able to successfully validate my ACR access using the below command:

[code]

Here is the AzCLI and Python version I am using in my box. Could you please try to [upgrade the python](https://www.python.org/downloads/) libraries and the [most recent version of](https://docs.microsoft.com/en-us/cli/azure/install-azure

[2022-02-14 03:36] jiasli commented on #21268
Duplicate of #20388

[2022-02-14 03:36] #21268 closed

[2022-02-14 03:38] jiasli commented on #21260
Duplicate of #20158

[2022-02-14 03:38] #21260 closed

[2022-02-14 03:41] jiasli commented on #21258
Duplicate of #20388

[2022-02-14 03:41] #21258 closed

[2022-02-14 03:54] jiasli commented on #21266
Judging by

[code]

This is not the official Azure CLI. Please see https://github.com/Azure/azure-cli/issues/19640 to install the official Azure CLI.

[2022-02-14 03:54] #21266 closed

[2022-02-14 04:09] odidev opened #21280 "Release docker image for arm64"
Hi Team,

I am trying to use the **microsoft/azure-cli** image on the arm64 platform but it seems it is not available for arm64.

I have successfully built the image using the command docker build -t image_name . on the arm64 platform by making some changes in the files **Dockerfile** and **.github/workflows/ci.yml**.

I have used Github action to build and push the image for both the platforms.

[2022-02-14 04:32] navba-MSFT commented on #21254
@Stummi Apologies for the late reply. I was not able to reproduce this issue in my machine. Could you please install the latest version of the Azure CLI from [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and then test this again ? Awaiting your reply.

Tagging a few _similar_ issues here #16498 #18889

[2022-02-14 05:33] jiasli commented on #21254
Judging by

[code]

This is not the official Azure CLI published by Microsoft. Please see https://github.com/Azure/azure-cli/issues/19640.

[2022-02-14 05:37] jiasli commented on #19640
@bluca, I noticed that recently you have published **azure-cli (2.33.0-2)** for Debian sid: https://packages.debian.org/sid/azure-cli

![image](https://user-images.githubusercontent.com/4003950/153806148-a8eeebf2-2542-470a-8003-3cac717739c0.png)

This makes it impossible to install official Azure CLI 2.33.0 from https://packages.microsoft.com/repos/azure-cli/

What is the best way to install offic

[2022-02-14 05:41] jiasli commented on #18889
Tracked in #19640

[2022-02-14 05:51] jiasli commented on #19640
## How to tell if the Azure CLI is official

An unofficial Azure CLI will show info like this (from https://github.com/Azure/azure-cli/issues/21254):

[code]

We can tell this is not an Azure CLI deb package released by Microsoft, because **the official Azure CLI deb package doesn't bundle Python 3.9.10**. Instead, the bundled Python in the official deb package is currently 3.6.10. (We are working

[2022-02-14 05:56] navba-MSFT commented on #21269
@dilip814 Apologies for the late reply. Could you please install the ssh extension using the below command ?

Then confirm if the extension is successfully installed by running the below command:

After this you can try to run the _az network bastion ssh_ command to connect to the VM and test. Awaiting your reply.

[2022-02-14 06:03] jsntcy opened #21282 "Test bot"
**Describe the bug**
`az network lb create`

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-02-14 06:04] jsntcy opened #21283 "Test bot again"
**Resource Provider**

**Description of Feature or Work Requested**
`az network lb create`

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-14 06:26] yonzhan commented on #21273
Compute

[2022-02-14 06:27] yonzhan commented on #21274
route to service team

[2022-02-14 06:55] nkolench commented on #14437
hi
the issue is resolved
thank you

On Sun, Feb 13, 2022 at 2:37 PM navba-MSFT ***@***.***> wrote:

[2022-02-14 07:14] patwardhanrohitr opened #21285 "[WinError 193] %1 is not a valid Win32 application"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
run bicep decomplie fails.

**Command Name**
`az bicep decompile`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep decompile --file {}`

## Expected

[2022-02-14 07:47] navba-MSFT commented on #14437
@nkolench Thanks for your reply. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 07:47] #14437 closed

[2022-02-14 08:04] navba-MSFT commented on #21259
@mountain65 Apologies for the late reply. I was able to run the CLI command without any issues. See below:

[code]
I am sending you my CLI version that I had used in my box.
[code]

Could you please make use of [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and check if that helps ? Awaiting your reply.

[2022-02-14 08:07] navba-MSFT commented on #12178
@alexis-landrieu-avanade Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you are still looking for assistance on this issue ? Awaiting your reply.

[2022-02-14 08:25] YuanyuanNi commented on #21160
Hi,
     The id you choose must be the id of the private endpoint connection, not the Private Link Service resource, please try again.
Best wishes.

[2022-02-14 08:26] navba-MSFT commented on #11617
@JasonVolney Apologies for the late reply. This issue is open for quite sometime now. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 08:27] Korijn commented on #14768
For any readers hoping to do this in powershell and with WSL2, I've translated the workaround to something you can put in your powershell profile (`code $profile` to edit your profile with vscode):

[code]

Usage: `acrlogin <your-registry>`

[2022-02-14 08:32] DSpirit commented on #17196
This now actually works with the Azure DevOps extension mentioned here:
https://github.com/Azure/azure-devops-cli-extension/issues/972

Usage is pretty easy:
`az pipelines run --name "<pipeline-name>" --parameters key=value --project "<project>"`

[2022-02-14 08:34] yonzhan commented on #21280
arm64

[2022-02-14 08:37] timja commented on #8530
Is anyone else still seeing this?

(I raised it 3 years ago and have since switched to terraform...)

[2022-02-14 08:38] yonzhan commented on #21285
route to CXP team

[2022-02-14 08:39] zhoxing-ms commented on #21224
The version 2.33.1 of CLI for hotfix has been released.
@edyoung Please help deploy the latest version of CLI in the Cloud Shell and then sync the progress here

[2022-02-14 08:44] jiasli commented on #20969
Is there any document describing why and how SAS and Bearer token should be used at the same time? Is this similar to https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas ?

[2022-02-14 08:58] Chandrb opened #21288 "az logicapp create command not working"
**Describe the bug**
I am trying to create a logic app workflow on a  Logic App standard plan and it is giving me error.

**Steps to reproduce the issue**
I ran the below command (with the Logic app standard plan: chanmylogcapp and storage: chanmystgacct8 in the same resource group).
az logicapp create -g mygroup --subscription sub-83 -p chanmylogcapp -n chanlogcapp1 -s chanmystgacct8

**Error Mes

[2022-02-14 09:01] yonzhan commented on #21288
route to CXP team

[2022-02-14 09:21] alexis-landrieu-avanade commented on #12178
@navba-MSFT Hum, not really it was just an improvement request for those that are using the `az container` command line. We can do without.

[2022-02-14 09:34] #12178 closed

[2022-02-14 09:38] Michael-Coetzee commented on #21246
okay, i think i know why:
[code]
is possible that i've reached the limit page size?

https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list?view=graph-rest-1.0&tabs=http

[2022-02-14 09:38] navba-MSFT commented on #8530
@timja Thanks for getting back. We shall keep this thread open for sometime if any of the users are facing the same issue. They can also reopen this thread too, just in case it gets archived.

[2022-02-14 09:40] blueww commented on #20969
@jiasli
Doc has shared in teams.
The usage is not user delegation SAS. It need both SAS and bearer token request.

[2022-02-14 09:46] wiruzman commented on #11891
@navba-MSFT I have same issue when running following,
`az rest -m DELETE -u 'https://management.azure.com/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.Web/sites/<web app name>/instances/<instance id>/processes/<process id>?api-version=2020-12-01'`

Result:
`ERROR: Too Many Requests({"Code":"TooManyRequests","Message":"Too many requests.  Please try again late

[2022-02-14 09:46] navba-MSFT commented on #9080
@mgrabarz Apologies for the late reply. While creating the AKS cluster, ensure that the identity you are using to create your cluster has the appropriate minimum permissions. For more details on access and identity for AKS, see [Access and identity options for Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/concepts-identity). This issue thread is open for quite sometime

[2022-02-14 09:49] patwardhanrohitr commented on #21285
https://github.com/Azure/bicep/issues/2364#issuecomment-825049091
this step has solved the issue

[2022-02-14 09:49] #21285 closed

[2022-02-14 10:35] Stummi commented on #21254
Thanks. I actually did download the official version but it seems I was unaware of a locally installed one that did override the official one. It now works.

[2022-02-14 10:35] #21254 closed

[2022-02-14 10:39] navba-MSFT commented on #12180
@stmax82 Apologies for the late reply. Could you please let us know if you are still facing this issue ? This issue is open for quite sometime. Please let us know if you still need any assistance on this. Awaiting your reply.

[2022-02-14 10:43] jiasli opened #21289 "[Feature Request] Support `tenant_id` kwarg in `get_token`"
## Context

`azure-keyvault-keys==4.5.0b5` made a breaking change for authentication:

- https://github.com/Azure/azure-sdk-for-python/pull/21290

It uses `azure-identity`'s new multi-tenant authentication API `get_token(tenant_id=...)` from

- https://github.com/Azure/azure-sdk-for-python/pull/20940

After `azure-keyvault-keys==4.5.0b5` was released, Azure CLI pinned `azure-keyvault-keys` to `4.5

[2022-02-14 10:45] yonzhan commented on #21289
Support tenant_id kwarg

[2022-02-14 11:06] Michael-Coetzee commented on #21246
Still no luck. any odata query parameters not working... maybe i'm doing something wrong.

[2022-02-14 11:16] navba-MSFT commented on #12329
@stmax82 Apologies for the late reply. I tried to repro the issue at my end. Though the colors are not displayed. I couldn't see any color codes this time in the _cmd_ prompt. This issue is open for quite sometime now. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 11:23] navba-MSFT commented on #12351
@dmoore44 Apologies for the late reply. I wasn't able to reproduce this issue from the shell prompt. The arrow key and the editor did work fine. This issue is open for quite sometime. Could you please let me know if you need any further assistance on this ? Awaiting your reply.

[2022-02-14 11:36] RemcoBuddelmeijer opened #21290 "Azure KeyVault certificate's secret download gives error message when providing --file"
**Describe the bug**

When executing the command `az keyvault secret download --vault-name {0} --name {CERTIFICATE_NAME} --file {2}` for exporting a secret (private key) from a **certificate**, the following error message is printed out:
`the following arguments are required: --file/-f`

However when you supply it with `-f` instead of `--file` it does work.

**To Reproduce**

1. Create or import a

[2022-02-14 11:37] Michael-Coetzee commented on #21246
okay, figured it out.
[code]
You can close this ticket.

[2022-02-14 11:50] JasonVolney commented on #11617
Hi, @navba-MSFT Thanks you so much. But I don't need support for that no more.

[2022-02-14 11:52] navba-MSFT commented on #11617
@JasonVolney Thanks for your reply. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 11:52] #11617 closed

[2022-02-14 11:53] navba-MSFT commented on #13143
@kmo-dev Apologies for the late reply. I am able to create an ACI via portal and add both TCP and UDP ports. Also while running the _az container show_ command I am able to see the setting just fine.
[code]
This issue is open for quite sometime now. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 12:13] navba-MSFT commented on #20082
@Panchadurga We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:13] #20082 closed

[2022-02-14 12:13] navba-MSFT commented on #20064
@AakarshitChaurasia We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:13] #20064 closed

[2022-02-14 12:14] #20035 closed, assigned to nobody

[2022-02-14 12:14] navba-MSFT commented on #20028
@gauravag091 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:14] #20028 closed

[2022-02-14 12:14] navba-MSFT commented on #20024
@thaneeshr We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:14] #20024 closed

[2022-02-14 12:15] navba-MSFT commented on #20180
@gasgesgos We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:15] #20180 closed

[2022-02-14 12:15] navba-MSFT commented on #20338
@irishtechie We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:15] #20338 closed

[2022-02-14 12:15] navba-MSFT commented on #21181
@nelson-manohar We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:16] navba-MSFT commented on #11439
@michaelshire We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:16] #11439 closed

[2022-02-14 12:17] navba-MSFT commented on #11209
@marciasheila We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 12:17] #11209 closed

[2022-02-14 13:32] yonzhan commented on #21290
keyvault

[2022-02-14 17:34] nfsouzaj commented on #11315
+1 more for this wildcard feature please... life is very difficult without it.

[2022-02-14 17:43] TiloGit commented on #21224
just checked cloud shell:
`azure-cli                         2.33.0 *`
`You have 2 updates available. They will be updated with the next build of Cloud Shell.`

[2022-02-14 17:48] stmax82 commented on #12180
@navba-MSFT no, we stopped using Azure Container Instances due to all kinds of weird problems.

[2022-02-14 17:58] Svessir commented on #21247
Here is the result:
[code]

[2022-02-14 18:07] sirfamelin commented on #21180
@zhoxing-ms, I see - looks like you found the VMSS example with SecurityProfile and UefiSettings from the 2020-12-01 version. Is that what you needed?

[2022-02-14 19:08] bmp-dot commented on #21224
@TiloGit same.  Waiting for this build.

[2022-02-14 20:09] samrueby opened #21291 "az pipelines variable-group variable list -o table truncates variable values."
**Describe the bug**
If you run `az pipelines variable-group variable list -o table` truncates variable values. Variable values will be truncated after about 70 characters. There is no way to avoid this truncation.

**To Reproduce**
Run `az pipelines variable-group variable list -o table truncates variable values.` (with additional required parameters) with at least one variable value greater than

[2022-02-14 20:44] zaynchen115 opened #21292 "Add new property of hub routing preference in virtual hub"
**Resource Provider**

Azure Network
**Description of Feature or Work Requested**

A new parameter 'HubRoutingPreference' need be added when create or update virtual hubs to allow customer change the routing preference in virtual hub
**Minimum API Version Required**

2021-08-01
**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/17609/files
**Target Date**

2022-03-20

[2022-02-14 22:33] jokervulinh6789 commented on #21224
has it been fixed?

[2022-02-14 22:48] mslentz opened #21295 "AZ Cli Commands Do Nothing"
This appears to be very similar to: https://github.com/Azure/azure-cli/issues/13569

To Reproduce
- install azure CLI tool
- open a power shell window, type az login (or any other command from the az CLI)
- nothing happens

OS Name	                Microsoft Windows 11 Pro
Version	                10.0.22000 Build 22000
Azure CLI is              2.33.1
power shell              7.2.1

When running ge

[2022-02-14 23:47] alwisr commented on #20035
Thank you. I am sorry. I couldn't respond to you promptly.

On Mon, Feb 14, 2022 at 11:57 PM navba-MSFT ***@***.***>
wrote:

[2022-02-15 00:04] yonzhan commented on #21291
route to CXP team

[2022-02-15 00:05] yonzhan commented on #21292
network

[2022-02-15 00:11] yonzhan commented on #21295
@jiasli for awareness

[2022-02-15 01:01] SatishBoddu-MSFT commented on #21271
Hello @chrisriu
Is this issue consistent? or was just intermittent?
What was the Django base version which was updated?
Could you please share the `--debug ` log for further analysis?
Did you try any other commands?, like Az Webapp create, etc?

az webapp up --resource-group {} --location {} --plan {} --sku {} --name {} --debug

please sanitize the sensitive info while providing the debug logs!

!

[2022-02-15 01:06] SaurabhSharma-MSFT commented on #21288
@Chandrb You are using wrong cmdlet and if you want to create a logic app workflow then you need to use `az logic workflow create` as described [here](https://docs.microsoft.com/en-us/cli/azure/logic/workflow?view=azure-cli-latest#az-logic-workflow-create).
The command you are using creates a new logic app and you are getting this error as you are not passing correct values against `--plan` of `-p

[2022-02-15 01:14] digimaun commented on #21255
Hey @ikivanc thanks for submitting this issue. A problem with inline json input is syntax may change based on the shell.

In your screenshot, those attempts should work in bash -- are you using `cmd`? In that case try `"{\"country\": \"USA\"}"` i.e.

`az iot hub device-twin update -n iot-windmill -d windmill-rp2-01 --tags "{\"country\": \"USA\"}"`

Please use `--desired` or `--tags` to update the

[2022-02-15 01:17] masonhuemmer commented on #21273
FYI, I was using the image template available in Microsoft docs.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json

[code]

[2022-02-15 01:42] zhoxing-ms commented on #21224
@TiloGit  @bmp-dot  @jokervulinh6789 Now the latest version (2.33.1) of CLI for this fix is available. You can refer to the doc https://docs.microsoft.com/en-us/cli/azure/install-azure-cli to install or use the `az upgrade --yes` command to update the CLI version.
However, the cloud shell environment still needs a few days to deploy the latest CLI package

[2022-02-15 01:47] SaurabhSharma-MSFT commented on #9215
@liammoat I believe you have received the information you are looking for and this issue can be closed. Please let us know.

[2022-02-15 01:49] SaurabhSharma-MSFT commented on #9521
@dkkapur Do you have any updates on this issue.

[2022-02-15 01:54] SaurabhSharma-MSFT commented on #9778
@liron-navon Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-15 01:56] SaurabhSharma-MSFT commented on #9878
@rrottmann Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-15 02:33] zhoxing-ms commented on #21180
@sirfamelin Yes, exactly

[2022-02-15 02:49] bmp-dot commented on #21224
@zhoxing-ms thanks for the update.  I need the Cloud Shell version for some training I am giving.  Currently we are stopped unless we mitigate to local installs.

[2022-02-15 03:52] navba-MSFT commented on #12180
@stmax82 Sorry to hear about that. Please feel free to reopen this thread in future if you have plans of using the ACI and face any issues with that. We would be happy to assist you further.

[2022-02-15 03:52] #12180 closed

[2022-02-15 03:54] navba-MSFT commented on #12329
@stmax82 Sorry to hear about that. Please feel free to reopen this thread in future if you have plans of using the ACI and face any issues with that. We would be happy to assist you further.

[2022-02-15 03:54] #12329 closed

[2022-02-15 06:27] jiasli opened #21296 "[Feature Request] Support CAE"
## Context

As explained in https://github.com/Azure/azure-cli/pull/19853#issuecomment-1011763038, Azure Identity SDK was dropped during MSAL migration. With that, the experimental CAE (Continuous Access Evaluation) support was dropped.

We need to support CAE in the new MSAL-based Azure CLI.

## Problems

### MSAL

MSAL.PY returns revoked access tokens even after re-login and updating the refresh

[2022-02-15 06:30] b564518128 opened #21297 "Add Property "SqlSetting" to Azure Firewall Policy"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**

Adding a new optional property "SqlSetting" or "Sql" to Azure Firewall Policy. The format of this property is like the following:
- SqlSetting
  - AllowSqlRedirect: Boolean or Nullable Boolean with null equivalent to false

Using Powershell snippet as an example to show the use case:
[code]

REST API payload loo

[2022-02-15 06:46] ringerc opened #21298 "az container logs --follow repeats log lines over instead of outputting only new lines"
**Describe the bug**

`az container logs --follow` repeats log lines it has already output multiple times while tailing container logs.

**To Reproduce**

Run `az container logs --follow` on a simple container that logs a new line every 10 seconds.

You will see the earlier lines repeated in the stdout of `az container logs --follow` each time it polls, like:

[code]

where each time it polls, it

[2022-02-15 06:53] blueww opened #21299 "[ElasticSan] request for release (private preview on May)"
**Resource Provider**

Microsoft.ElasticSan

**Description of Feature or Work Requested**

Azure Elastic SAN is a new block storage offering designed as an evolution of Azure Disk.
See details in doc:

- [Cloud SAN Strategy (2 pager) (1).docx](https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoftapc-my.sharepoint.com%2F%3Aw%3A%2Fg%2Fpersonal%2Fpprahalad_microsof

[2022-02-15 06:53] navba-MSFT commented on #21291
@samrueby Apologies for the late reply. Did you try using `Format-Table -Wrap -Autosize `  to the output and check if that helps ? Awaiting your reply.

[2022-02-15 07:04] pwillia6 commented on #21239
Hi,

I need to send SMS to Australia so the server is no good.    Are you able to use the command line at all to send an SMS ?

Cheers,

Paul

[2022-02-15 07:10] navba-MSFT commented on #11082
@nofunatall Apologies for the late reply. Could you please confirm if you are still running into this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-15 07:25] navba-MSFT commented on #11083
@nofunatall Apologies for the late reply. Could you please confirm if you are still running into this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-15 07:29] yonzhan commented on #21296
CAE

[2022-02-15 07:29] navba-MSFT commented on #11315
@mkstephenson Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details on this.

@toddysm @luisdlp @northtyphoon @mangalorereshmi Could you please provide an update on this feature request ? Awaiting your reply.

[2022-02-15 07:39] navba-MSFT commented on #11380
@ArgTang Apologies for the late reply. Could you please let us know if you are still facing this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 07:41] navba-MSFT commented on #11455
@jmeijrink Apologies for the late reply. Could you please let us know if you are still facing this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 07:48] zhoxing-ms commented on #15765
This issue is caused by the parallel operation of the resources in parameter `--ids`.

By default, due to parallel operation, multiple child threads will attach different disks for the same lun, such as:
[code]
So it leads to the problem `PropertyChangeNotAllowed Message: Changing property 'dataDisk.managedDisk.id' is not allowed.`

When we use the command `az config set core.disable_concurrent_id

[2022-02-15 08:05] navba-MSFT commented on #14017
@Darsan04 Apologies for the late reply. If you want to deploy ACI to a new VNET then follow [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#deploy-to-new-virtual-network). If you want to deploy to existing VNET then follow [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#deploy-to-existing-virtual-network). Please

[2022-02-15 08:09] navba-MSFT commented on #13881
@rickardp Apologies for the late reply. I wanted to check if you have been able to test with the above mentioned workaround. Did that serve your requirement ? Awaiting your reply.

[2022-02-15 08:20] zhoxing-ms commented on #21273
@masonhuemmer Could you please send me your specific parameters, templates and the debug log to me by email? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-02-15 08:20] romulo-dbts commented on #8687
Hi,

Romulo is no longer working with us. But possibly @Ugur Bayazit can follow up.
Have you reached out to Ugur already??

Kind Regards,
Frederik

________________________________
From: msftbot[bot] ***@***.***>
Sent: Tuesday, February 15, 2022 09:01
To: Azure/azure-cli ***@***.***>
Cc: Rômulo Furtado ***@***.***>; Manual ***@***.***>
Subject: Re: [Azure/azure-cli] `az container exec` fails using

[2022-02-15 08:22] navba-MSFT commented on #13807
@rbankole Apologies for the late reply. Could you please confirm if you are still running into this issue ? This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-15 08:28] navba-MSFT commented on #13694
@ericmichael Apologies for the late reply. Could you please run the sample command mentioned [here](https://docs.microsoft.com/en-us/cli/azure/acr/pack?view=azure-cli-latest#az-acr-pack-build-examples) using the [most recent CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos) version and check if you are still facing the issue ? This issue is open for quite sometime. Please le

[2022-02-15 08:29] zhoxing-ms commented on #15765
I submitted a PR #21300 to improve the help description

[2022-02-15 08:31] MislavSag opened #21301 "Error in dyn.load when running script on the cloud using ubuntu"
I explained my issue here:
https://github.com/Azure/AzureStor/issues/112

The maintener suggested I should post issue here.

[2022-02-15 08:33] navba-MSFT commented on #13352
@peturh Apologies for the late reply. Could you please confirm if you are still running into this issue ? Awaiting your reply.

[2022-02-15 08:34] YuanyuanNi commented on #21108
Hi,
    Thank you for your suggesting, we will improve it .
Best wishes.

[2022-02-15 08:58] navba-MSFT commented on #13191
@clement128 Apologies for the late reply. Could you let us know if you need any further assistance on this issue ? Awaiting your reply.

[2022-02-15 08:59] YuanyuanNi commented on #21090
Hi,
     'az network dns record-set cname create --help' works well on 2.33.0 version, maybe you can upgrade your CLi version to the 2.33.0.
Best wishes.

[2022-02-15 09:07] navba-MSFT commented on #13365
@atrauzzi @tommy-dunn Apologies for the late reply. Could you please check [this](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos#authenticate-with-the-registry) article and let me know if that helps ? Awaiting your reply.

[2022-02-15 09:16] navba-MSFT commented on #14207
@sandeepmindwave Apologies for the late reply. Could you please let us know if you still need assistance on this issue ? Awaiting your reply.

[2022-02-15 09:18] navba-MSFT commented on #14257
@rouke-broersma Apologies for the late reply. Could you please use the most [recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)of the CLI and let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-15 09:23] RemcoBuddelmeijer commented on #21290
Fixed in Azure CLI v2.33.1

[2022-02-15 09:23] #21290 closed

[2022-02-15 10:06] navba-MSFT commented on #14305
@metwally Apologies for the late reply. We will update this thread once we have more details.

@Azure/aks-pm Could you please look into this doc update request once you get a chance ? Awaiting your reply.

[2022-02-15 10:16] navba-MSFT commented on #14401
@JohnLBevan Apologies for the late reply. Could you please let us know if you are still facing this issue ? This issue is open for quite sometime. Please do let us know if you need any assistance on this. Awaiting you reply.

[2022-02-15 10:25] navba-MSFT commented on #14467
@WilldotNET Apologies for the late reply. This issue is open for quite sometime now. Could you please let us know if you need any assistance on this ? Awaiting your reply.

[2022-02-15 10:36] navba-MSFT commented on #14596
@sam-cogan Apologies for the late reply. This issue is open for quite sometime now. Please let us know if you are still looking for assistance on this issue ? Awaiting your reply.

[2022-02-15 10:38] JohnLBevan commented on #14401
Thanks for the prompt @navba-MSFT ; the issue was resolved by refreshing the service principal as [noted earlier](https://github.com/Azure/azure-cli/issues/14401#issuecomment-659897431).

Happy for this ticket to be closed; though if the exception message could be improved or pre-upgrade validation checks run to help avoid this issue / flag up the underlying cause more clearly, that would be very

[2022-02-15 10:38] #14401 closed

[2022-02-15 10:51] navba-MSFT commented on #14625
@AlBlanc Apologies for the late reply. We are looking into this issue and we will get back on this once we have an update.

@macolso Could you please let us know if you have any update on this ?

[2022-02-15 10:52] navba-MSFT commented on #14643
@AlBlanc Apologies for the late reply. We are looking into this issue and we will get back on this once we have an update.

@macolso Could you please let us know if you have any update on this ?

[2022-02-15 11:03] yonzhan commented on #21297
network

[2022-02-15 11:06] yonzhan commented on #21298
route to CXP team

[2022-02-15 11:07] navba-MSFT commented on #14670
@hirezeli Apologies for the late reply. Could you please check if there is a proxy in your environment ? Would you be able to test this on another environment which is in a different network and let us know if you are still facing the issue ? This issue is open for quite sometime. Please let us know if you still need any assistance on this. Awaiting your reply.

[2022-02-15 11:07] yonzhan commented on #21299
PLR

[2022-02-15 11:19] yonzhan commented on #21301
Is this issue related to Azure CLI?

[2022-02-15 11:21] navba-MSFT commented on #14361
@nidiculageorge Apologies for the late reply. The parameter is --zone now. Refer [this](https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-add). This issue is open for quite sometime now. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 11:22] ander1044 opened #21305 "az cli failing to run commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres server firewall-rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres server firewall-rule create --name {

[2022-02-15 11:25] yonzhan commented on #21305
route to CXP team

[2022-02-15 11:26] navba-MSFT commented on #14713
@LukeCarrier Apologies for the late reply. We are looking into this and we will update this thread once we have more details.

@azure/aks-pm Could you please look into this ask and update this thread once you get a chance ? Awaiting your reply.

[2022-02-15 11:36] navba-MSFT commented on #14742
@QTom01 Apologies for the late reply. Could you please let us know if you had a chance to look at the above comment ? Please let me know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-15 11:39] navba-MSFT commented on #14774
@allianz-shay-katzir Apologies for the late reply. I am glad that your issue is now resolved. This issue is open for quite sometime now. Please let us know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-15 11:47] ander1044 commented on #21305
SOLVED: installed Azure-cli version 2.29.0.

[2022-02-15 11:47] #21305 closed

[2022-02-15 11:48] navba-MSFT commented on #14858
@Steven-Tuccio-wwt Apologies for the late reply. Is there a proxy in your environment ? Could you please try to run the command on a another machine which is on a different network and check if that works fine ? If this is not feasible you can append your corporate proxy certificate(s) to the end of the certifi library's cacert.pem file. Sharing the location of this on Windows: C:\Program Files (x

[2022-02-15 11:52] navba-MSFT commented on #14995
@iamalexmang Apologies for the late reply. This issue is open for quite sometime. Please let us know if you need any further assistance on this issue. Awaiting your reply.

[2022-02-15 11:55] navba-MSFT commented on #20568
@lukejgaskell Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-15 11:55] #20568 closed

[2022-02-15 12:37] navba-MSFT commented on #20996
@mdenhoedt I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:38] navba-MSFT commented on #21135
@ksat-christoph I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:38] navba-MSFT commented on #20977
@vgarmash I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:39] navba-MSFT commented on #20949
@PehrGit
I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:39] navba-MSFT commented on #20936
@dguerin I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:39] navba-MSFT commented on #20889
@Hanimaru
I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:41] navba-MSFT commented on #20597
@zhdi0 I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:42] navba-MSFT commented on #20512
@Kannadasans I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:42] navba-MSFT commented on #20653
@kajanth I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:42] navba-MSFT commented on #20810
@IvanLieckens
I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:43] chenfli opened #21306 "Error when using Az k8s-configuration on mac"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az k8s-configuration flux create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az k8s-configuration flux create`

## Expected Behavior

[2022-02-15 12:43] navba-MSFT commented on #20766
@favoretti I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:45] navba-MSFT commented on #20344
@dvpierce I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 12:49] IvanLieckens commented on #20810
@navba-MSFT Sorry this ticket was a bit out of my observation. I actually tried to use method nr 1 before creating this ticket and was unable to have it succeed. Hence the `--subnet-name {}` at the end of my command, I had manually created one and was trying to have the monitoring to be created and assigned to this subnet to prevent the overlap... Alas this gave the very same error. Hence I opened

[2022-02-15 12:53] Kannadasans commented on #20512
please go ahead and close this ticket.

Thanks
Kannadasan

On Tue, 15 Feb 2022 at 12:42, navba-MSFT ***@***.***> wrote:

This message may contain confidential information. If you are not the intended recipient please notify the sender immediately, delete and destroy all copies. Any unauthorised dissemination of this message is not permitted. WorldRemit Ltd is a limited company registered in Englan

[2022-02-15 12:54] navba-MSFT commented on #20512
@Kannadasans Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-15 12:54] #20512 closed

[2022-02-15 12:55] gkaleta commented on #16203
Any progress on this?

[2022-02-15 13:02] PehrGit commented on #20949
@navba-MSFT Hi, I saw your comment. It's clear to me how it currently works so the question can be considered asked and answered. However it would be very nice if we **could** specify it in our local timezone, as requested here https://github.com/Azure/AKS/issues/2014#issuecomment-1011973509

[2022-02-15 14:04] FatemeTardasti-TomTom commented on #19715
Hi,
I admit that the issue isn't valid anymore. Please feel free to close the issue.

Thanks
Fateme Tardasti
________________________________
From: msftbot[bot] ***@***.***>
Sent: Tuesday, February 15, 2022 3:01 PM
To: Azure/azure-cli ***@***.***>
Cc: Fateme Tardasti ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] 'ContainerInstanceManagementClient' object has no attribute 'conta

[2022-02-15 14:08] yonzhan commented on #21306
route to CXP team

[2022-02-15 14:33] DrReedo commented on #17837
We're also having the same issue as we deploy our App Services with Infrastructure as Code and have noticed that we cannot set our required parameters once the Authentication has been upgraded from classic.  I see this has been open since 23 April 2021, are there any plans to fix it?

[2022-02-15 14:39] navba-MSFT commented on #14995
@iamalexmang Thanks for getting back. [This](https://docs.microsoft.com/en-us/azure/aks/managed-aad#prerequisites) article talks about the AKS with managed AAD integration and under the prerequisites section it has mentioned the kubectl version:

The cloud shell has the kubectl already installed with a higher version. So it should be good for you to use this.

Client Version: version.Info{Major:"1

[2022-02-15 14:41] aullom1 commented on #9605
Sorry, I'm not even using the runbook any more.  It was so long ago I can't even remember what I was trying to accomlish.

[2022-02-15 14:42] chenfli commented on #21306
The problem is using Python 3.10, while the k8s-configuration extension requires 3.8 when azure-cli requires 3.10.
And you cannot install azure-cli of older version than 2.33 ( the extension requires 2.16-2.29 )

[2022-02-15 14:57] #9605 closed

[2022-02-15 15:00] navba-MSFT commented on #20949
@PehrGit Thanks for getting back. We will look into this and get back on this thread once we have an update.

@Azure/aks-pm Could you please look into this once you get a chance and provide an update on this ? Awaiting your reply.

[2022-02-15 15:57] iamalexmang commented on #14995
I'm not sure that the niche use case related to AAD integration from two years ago helps highlight the issue related to the inability to update Azure CLI on Cloud Shell.

I believe it should be possible to update the Azure CLI to support advancements in CLI (preview extensions or not, that should be irrelevant) in Cloud Shell.

[2022-02-15 16:10] jeroenvervaeke commented on #17027
Running `apk add postgresql-dev` is not sufficient.

Pulled the latest version of the docker image
[code]
Ran the image
[code]

Installed postgresql-dev and installed the db-up extension
[code]
It still fails during the compilation of  `psycopg2_binary` with the following output:
[code]

[2022-02-15 16:22] #19715 closed

[2022-02-15 16:36] prasanta4u commented on #19535
Thanks, I am unable to reproduce now. kindly take this for closure

[2022-02-15 17:08] jeroenvervaeke commented on #17027
For anyone finding this, here's the dockerfile I made as a workaround:

[code]

In this docker you can install `db-up` without any problems: `az extension add --name db-up`

[code]

[2022-02-15 17:09] vivienlonde opened #21307 "'az quantum offerings' not recognized"
az quantum offerings
returns:
'offerings' is misspelled or not recognized by the system.
whereas it is used in the [documentation.](https://docs.microsoft.com/en-us/azure/quantum/how-to-manage-quantum-workspaces-with-the-azure-cli)

I am using the last version:
azure-cli 2.33.1

with the up-to-date extension:
quantum 0.15.2101.2800

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-02-15 17:16] holtalanm commented on #11195
Absolutely ridiculous that the only way to create a consumption plan is via an ARM template.

Either allow us to edit the plan name in the portal UI when the function app service is created, or allow us to create a consumption plan via the cli.

[2022-02-15 17:30] italukder commented on #20848
Subject : Time is very critical my SIM swapper who stole money from victims bank account

many more information give me ( FBI  )so becareful my Holly family

thank you
FBI in us and github

[2022-02-15 18:00] williamwd opened #21308 "VM SKU unavailable on CLI"
**Describe the bug**
This may be an API bug, but I don't know where to report it, definitely not on Azure's Terraform provider repo.
I'm trying to use Terraform to create an extra nodepool for AKS using **Standard_NC6s_v3** SKU. It throws an error saying that the SKU is not available, except that the subscription has the necessary quota on that region. The error message:

[code]
Trying to check wi

[2022-02-15 18:02] willbrim commented on #13881
Also @navba-MSFT  we have updated our public doc to reflect this issue and its solution. You can find the updated process here
https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials

[2022-02-15 18:33] panchagnula commented on #17837
Hi folks - new Easy Auth (non classic) was added to CLI as an extension, while keeping the classic experience available as well.

"To use v2 auth commands, run "az extension add --name authV2" to add the authV2 CLI extension." See: https://docs.microsoft.com/en-us/cli/azure/webapp/auth?view=azure-cli-latest

We will work with the feature crew to ensure we can fully deprecate/ remove the classic ex

[2022-02-15 18:38] olsenme commented on #14713
@qpetraroia

[2022-02-15 18:40] olsenme commented on #14305
@qpetraroia

[2022-02-15 18:52] pmalczak opened #21310 "a bug while creating service plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create -g {} -n {} -l {} --is-linux --sku {

[2022-02-15 19:06] #13365 closed

[2022-02-15 19:54] SatishBoddu-MSFT commented on #21236
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-02-15 19:54] #21236 closed

[2022-02-15 20:40] SaurabhSharma-MSFT commented on #21288
@Chandrb You cannot pass the plan information while creating a workflow as the plan name is required while creating the logic app itself.

[2022-02-15 20:45] trylvis opened #21311 "Az interactive - cannot import name 'ENV_ADDITIONAL_USER_AGENT´"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-02-15 21:03] ikivanc commented on #21255
Thank you so much @digimaun , error messages are a bit misleading, I totally missed that point. If there could be a clarification in `Tips` section that would be perfect!

[2022-02-15 21:38] Tewodros1980 opened #21313 "az interactive is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-02-15 21:39] archidda commented on #21288
@SaurabhSharma-MSFT, Here, @Chandrb is working with logic app standard and not consumption. commands starting with `az logic` are for consumption and commands starting with `az logicapp` are for standard.

@Chandrb, can you confirm the plan that you are using is either Workflow standard plan (WS1, WS2, or WS3) or ASEv3 because we only support these two types of plans for Logicapp standard. Moreove

[2022-02-15 21:51] sshiba commented on #13735
No, it can be closed. Thanks!

[2022-02-15 22:06] SaurabhSharma-MSFT commented on #21298
@ringerc I could see the same and it looks like expected however redirecting this to service team to look into this.

[2022-02-15 23:24] SatishBoddu-MSFT commented on #21306
Hello @chenfli

Please try the below suggestion...[Ref](https://github.com/Azure/azure-cli/issues/20554)

[2022-02-15 23:51] SaurabhSharma-MSFT commented on #9236
@aznetsuppgithub @Nilambari Can you please provide any updates on this. Thanks

[2022-02-15 23:52] SaurabhSharma-MSFT commented on #9537
@aramase @vsabella Any latest developments on this issue.

[2022-02-15 23:57] SaurabhSharma-MSFT commented on #9696
@tanmayeekamath Do you have any latest updates on this feature request?

[2022-02-16 00:00] SaurabhSharma-MSFT commented on #9945
@skjensen Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-16 00:02] masonhuemmer commented on #21273
I sent you the image template.

[2022-02-16 00:02] aramase commented on #9537
@SaurabhSharma-MSFT What is the issue you're facing? The changes for error response codes have been merged and released at least a year back and this is a really old issue. If you're having issues with pod identity I would recommend opening an issue with details here: https://github.com/Azure/aad-pod-identity/issues. If it's with azure-cli then maybe provide more information for the error in the i

[2022-02-16 00:08] SaurabhSharma-MSFT commented on #9537
@aramase Thanks for your response. I am not facing any issues however wanted to check on the status of this issue and no updates were made to this issue. Thanks for the confirmation.
@Bowbaq It looks like this issue has been resolved and so we are proceeding with the closure of this issue. Please open a new issue if you have any other questions.

Thanks
Saurabh

[2022-02-16 00:08] #9537 closed

[2022-02-16 00:10] wangzelin007 opened #21314 "{CI} Test bot"
**Resource Provider**

`az storage`

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 00:10] SaurabhSharma-MSFT commented on #10062
@skjensen Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-16 00:12] wangzelin007 opened #21315 "{CI} Test bot2"
**Resource Provider**

`az storage`

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 00:12] SaurabhSharma-MSFT commented on #10031
@bartjanson  I believe this issue has been fixed and can be closed. Please let us know.

[2022-02-16 00:13] wangzelin007 opened #21316 "{CI} test bot3"
**Resource Provider**

`az aks`

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 00:13] SaurabhSharma-MSFT commented on #10032
@ahmedelnably, @fabiocav Do you have any updates on this issue.

[2022-02-16 00:18] SaurabhSharma-MSFT commented on #10043
@btardif @panchagnula Do you have any updates on this feature.

[2022-02-16 00:19] yonzhan commented on #21307
route to service team

[2022-02-16 00:19] yonzhan commented on #21308
Compute

[2022-02-16 00:20] wangzelin007 opened #21317 "{CI} test bot 4"
**Resource Provider**

`az storage`

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 00:21] yonzhan commented on #21310
route to CXP team

[2022-02-16 00:24] wangzelin007 opened #21318 "{CI} az network"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 00:25] yonzhan commented on #21311
interactive

[2022-02-16 00:28] #21318 closed

[2022-02-16 00:33] Nilambari commented on #9236
@alexjmoore  @mmyyrroonn It is expected to pass full ID of the second gateway.
in terms of providing proper error, can you try repro the issue and provide me the recent repro timestamp and your subscriptionId? Then, I can take a look at logs to see if we can fix it to show proper error message to customer. Thanks!

[2022-02-16 00:34] #21314 closed

[2022-02-16 00:35] #21317 closed

[2022-02-16 00:35] #21316 closed

[2022-02-16 00:40] #21315 closed

[2022-02-16 00:49] yonzhan commented on #21313
interactive

[2022-02-16 01:42] rachelxj-ms opened #21319 "FunctionaApp:Unable to update min instances with az functionapp plan update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp plan update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp plan update -g {} -n {} --min-instances {}`

#

[2022-02-16 01:52] yonzhan commented on #21319
route to CXP team

[2022-02-16 02:19] #21283 closed

[2022-02-16 02:19] #21282 closed

[2022-02-16 03:39] navba-MSFT commented on #13735
@sshiba  Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-16 03:39] #13735 closed

[2022-02-16 03:55] #19535 closed

[2022-02-16 04:00] PramodValavala-MSFT commented on #21310
@pmalczak I believe this has since been fixed and I can confirm that it does work with the latest version of Azure CLI. Could you upgrade and try again?

[2022-02-16 04:03] navba-MSFT commented on #14995
@iamalexmang This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) as you do not have full access to the cloud shell environment. So you can follow the below steps:

To install individual versions download to a specified path in the home folder, for example:

Please ensure that mykubetools is in your search PATH, so the `kubectl1.19.1` comma

[2022-02-16 05:23] navba-MSFT commented on #13753
@zama202 Apologies for the late reply. Did you get a chance to test with the most recent version of the CLI ? Please let us know if you are still facing this issue. Awaiting your reply.

[2022-02-16 05:32] amirkeren commented on #21099
@yonzhan sorry, just seeing this. How is this related to Sentinel? What is the ask/issue here?

[2022-02-16 05:32] PramodValavala-MSFT commented on #21319
@rachelxj-ms I believe you are using the name of the functionapp instead of the plan when running this command. Could you confirm?

You can check [this doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#plan-and-sku-settings) for more info.

[2022-02-16 05:55] YuanyuanNi commented on #21078
Hi，
     Thank you for your suggesting, we will improve it .
Best wishes.

[2022-02-16 06:00] wangzelin007 opened #21321 "{CI} bot test az aks"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 06:02] #21321 closed

[2022-02-16 06:48] wfouche commented on #21224
@zhoxing-ms  MS Training at https://docs.microsoft.com/en-us/learn/modules/secure-network-connectivity-azure/6-configure-access-network-security-group still broken.

![image](https://user-images.githubusercontent.com/13682850/154211139-9976a7f3-734a-4d41-a273-32d7de040103.png)

[2022-02-16 07:01] dcurwin commented on #21099
@amirkeren @yonzhan  - The page referred to in this issue:

https://docs.microsoft.com/en-us/cli/azure/sentinel/data-connector?view=azure-cli-latest#az-sentinel-data-connector-create-optional-parameters

mentions MCAS (Microsoft Cloud App Security)

That is no longer the name of the product. It should be replaced with Microsoft Defender for Cloud Apps.

[2022-02-16 07:03] YuanyuanNi commented on #21146
Hi,
    'az network private-endpoint dns-zone-group add ' only support dns zones created in different resource groups which have the same subscription now, it does not support to change subscription.
Best wishes.

[2022-02-16 07:13] jsntcy commented on #21307
@vxfield, @ricardo-espinoza, could you please help look at this issue?

[2022-02-16 07:47] wangzelin007 opened #21324 "{CI} az test"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-16 07:48] #21324 closed

[2022-02-16 07:55] navba-MSFT commented on #19172
@anibaldk Apologies for the late reply. Could you please let us know if you are still running into this issue ? Awaiting your reply.

[2022-02-16 07:55] t-dedah commented on #21098
Hi @yonzhan do we have any updates on this issue?

[2022-02-16 08:05] #10031 closed

[2022-02-16 08:07] amirkeren commented on #21099
@dcurwin Thanks for bringing it to our attention. We will work on fixing this and will update you once it's done.

[2022-02-16 08:24] yonzhan commented on #21098
eventhub service team should take a look

[2022-02-16 08:29] zhoxing-ms commented on #21224
@wfouche This is because the Cloud Shell environment has not completed the deployment of the latest version of CLI.
If Cloud Shell has completed the deployment of latest CLI, please sync the status here @dsajanice @edyoung

[2022-02-16 08:30] mirakelsvampen opened #21325 "Trying to update existing aks cluster with OIDC Issuer"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Following [this guide here ](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#oidc-issuer-preview) I tried to update my existing cluster with the OIDC Issuer and got the following error.

Complete command: `az aks update -n aks -g myResourceGroup --enable-oidc-issuer`

**Command Name**
`az aks u

[2022-02-16 08:55] zhoxing-ms commented on #21273
@masonhuemmer This issue is caused by the wrong type of `replicationRegions` value in the template file.

Please note that the definition of `replicationRegions` is an array, not a string. [doc link](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#distribute-sharedimage)
[code]
Therefore, `"replicationRegions": "centralus"` in your template file should be changed t

[2022-02-16 09:19] navba-MSFT commented on #20715
@simonsben Apologies for the late reply. Please let us know if you have any further questions or need any assistance on this. Awaiting your reply.

[2022-02-16 09:28] DrReedo commented on #17837
Hi @panchagnula, is this fully compatible with V2?  We have tried upgrading our Authentication in the Portal and then found that we cannot run the command
`az extension add --name authV2
az webapp auth update -n "$(AppService)" -g "$(ResourceGroupName)" --action AllowAnonymous --enabled false `
against it as it gives 'BadRequest' as detailed above.  How can we set Anonymous access with the V2 vers

[2022-02-16 09:47] kayasax opened #21327 "Show computername of the remote machine in MSTSC when using az bastion"
**The VM name we are connected to should appear cleary in the  mstsc window's title bar**
when using az bastion the mstsc title is something like `localhost:<port>`
this is not optimal when we connect to several VMs, a better title would be to include the computername of the target VM

![2022-02-16_10_43_54](https://user-images.githubusercontent.com/1241767/154238520-ac443193-dd2e-4d4e-a18e-3cb71e

[2022-02-16 10:08] jelledruyts opened #21328 "Clarify that diagnostic settings retention only applies for Storage"
The `az monitor diagnostic-settings` doc should clarify the `retentionPolicy` schema as it's now only shown in an example, and most importantly it should call out that **retention policies can only be used when targeting a Storage account**. That example which now shows retention policy furthermore has a `--event-hub-rule {eventHubRuleID}` parameter which doesn't make sense in this case as the dia

[2022-02-16 10:08] yonzhan commented on #21325
route to CXP team

[2022-02-16 10:11] TimonB opened #21329 "Download SSO SAML Certificate with CLI"
**Is your feature request related to a problem? Please describe.**
In order to automate the configuration of our software I need to get the SAML SSO Certificate from the Enterprise Application.

**Describe the solution you'd like**
Possibility to download the SAML Signing Certificate with the CLI

[2022-02-16 10:12] yonzhan commented on #21327
route to CXP team

[2022-02-16 11:05] yonzhan commented on #21328
monitor

[2022-02-16 11:07] yonzhan commented on #21329
Core

[2022-02-16 11:42] 5dive opened #21330 "keyvault network-rule Add/Remove incorrect behavior"
Network rule for IP Address added to a keyvault can not be removed using the same IP Address

Environment
Azure CLI version:

core                              2.28.0
telemetry                          1.0.6
Extensions:
ssh                                0.1.6

Prerequisite:
* key vault resource added in a subscription
* key vault name is assumed to be "todelete"

**Steps:**
1. Authenticate using

[2022-02-16 12:21] navba-MSFT commented on #13514
@tas1272 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-16 12:21] #13514 closed

[2022-02-16 12:22] navba-MSFT commented on #21045
@cbeshare We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-16 12:22] #21045 closed

[2022-02-16 12:25] navba-MSFT commented on #15073
@aneee22 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-16 12:25] #15073 closed

[2022-02-16 12:34] navba-MSFT commented on #21325
@mirakelsvampen Thanks for reaching out to us. You are using an older version of Azure CLI. Please upgrade to the most [recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) (2.33.1) of the Az CLI and run the command again. Please let me know if you face any issues. Awaiting your reply.

Similar issue #20912

[2022-02-16 12:57] pmalczak commented on #21310
I've been installing and upgrading azure-cli via apt-get.
It's not enough to fix the problem.

As I see, **/etc/apt/sources.list.d/azure-cli** contains:
deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ una main

which ends up with:
Błąd:13 https://packages.microsoft.com/repos/azure-cli stable Release
  404  Not Found [IP: 13.81.215.193 443]
Czytanie list pakietów... Gotowe
E: The r

[2022-02-16 12:57] #21310 closed

[2022-02-16 13:36] yonzhan commented on #21330
keyvault

[2022-02-16 14:57] favoretti commented on #20766
Oh, apologies, missed notifications on this one. Yeah, since i got a workaround, I guess this can be closed.

[2022-02-16 14:57] #20766 closed

[2022-02-16 15:28] italukder commented on #20848
support

Subject: global Facebook business protocol

[2022-02-16 15:52] TopperKain opened #21331 "az keyvault secret list fails to run with azure managed identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- created a new Azure Linux VM (Ubuntu 20)
- Added a system managed identity to the Azure VM
- (I've done a

[2022-02-16 15:59] masonhuemmer commented on #21273
Once I updated the replicationRegion to a list, I was able to resolve my issue.

[2022-02-16 15:59] #21273 closed

[2022-02-16 16:01] TopperKain commented on #21331
Reviewing #21118, it looked like the issue was an out of date package from the Ubuntu Universe repo. I updated the package using the instructions here https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt and it appears to be working.

However, this is a pretty bad user experience. I'm utilizing Microsoft's Ubuntu image in Azure, getting recommended by the os to run "sudo a

[2022-02-16 16:07] italukder commented on #20848
Subject : global mobile networking business trust bord.

example

[2022-02-16 16:15] rydvn opened #21332 "az login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-16 16:17] rydvn opened #21333 "az aks get-credentials errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-02-16 16:36] italukder commented on #20848
Subject: subject google business protocol

[2022-02-16 16:37] italukder commented on #20848
Subject : global apple business protocol

[2022-02-16 16:41] italukder commented on #20848
Subject : global twite business protocol

[2022-02-16 16:42] italukder commented on #20848
Subject : global  Amazon business protocol

[2022-02-16 17:40] panchagnula commented on #10043
NO ETA to share at this time.

[2022-02-16 17:57] panchagnula commented on #17837
@DrReedo AFAIK once you have updated to V2 you cannot use the classic / v1 anymore hence the need to install the v2 extension & run the v2 specific commands, ex. https://docs.microsoft.com/en-us/cli/azure/webapp/auth?view=azure-cli-latest#az-webapp-auth-set
@mkarmark the owner of v2 commands & feature to help assist with any questions as well.

[2022-02-16 18:27] gro1m commented on #20712
@jiasli @needuv
Is there any update?
Also would be great if `az ml (v2)` would not be in preview too long anymore...

[2022-02-16 18:31] amjads1 commented on #21264
Looking into the issue.

[2022-02-16 18:44] amjads1 commented on #21264
@TravisCragg-MSFT Can you please look into this issue?

[2022-02-16 19:07] SaurabhSharma-MSFT commented on #10043
@panchagnula Thanks for the updates.

[2022-02-16 20:35] SaurabhSharma-MSFT commented on #21333
@rydvn I do not see any issues running this cmdlet on Windows 10 machine with Azure CLI 2.33.1.
![image](https://user-images.githubusercontent.com/38112130/154352529-7e2adcd1-079b-42cf-b76d-0d0b5dcae1ca.png)
Have you tried executing any other Azure CLI commands?