[2020-05-25 23:22] yonzhan commented on #13673
webapp

[2020-05-25 23:22] yonzhan commented on #13674
webapp

[2020-05-25 23:23] yonzhan commented on #13675
add to S171

[2020-05-25 23:47] bluesapp opened #13676 "Webapp:az webapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip -g {} -n {

[2020-05-26 01:31] jiasli commented on #13642
Thanks for the advice. However, this is not really Azure CLI's fault.

If `2019-06-01` is not supported by Azure Stack, the API should return an error, instead of returning the incorrect response which doesn't comply with the [`subscriptions.json`](https://github.com/Azure/azure-rest-api-specs/blob/76b6bd1989a8248987219b840f525b02e07807dc/specification/resources/resource-manager/Microsoft.Resource

[2020-05-26 01:58] #13619 closed

[2020-05-26 02:10] yonzhan commented on #13676
webapp

[2020-05-26 02:11] awentzel commented on #13641
@yonzhan is this your answer or a triage label?

[2020-05-26 02:12] yonzhan commented on #13641
webapp service team will take a look at this.

[2020-05-26 02:15] MyronFanQiu commented on #13189
@kuniteru Hi. You're correct. After double checking the code logic, if `--redirect-config` is set for `az network application-gateway url-path-map create`, it would be used to set `--default-redirect-config`. To unblock you quickly, you can create an empty url-path-map and add rules through `az network application-gateway url-path-map rule` commands. But I agree that it's not convenient to use. I

[2020-05-26 02:34] qianwens commented on #11210
Hi @jemag , please help remove your personal information from the output and send it to my email qianwens@microsoft.com. Thanks.

[2020-05-26 02:50] jiasli commented on #13293
Thanks @lmazuel. One thing I noticed is that [`azure-nspkg`](https://pypi.org/project/azure-nspkg/)'s py2 wheel does contain an `azure/__init__.py` with `pkg_resources` in it (Yes, this is what we want). However, `azure-cli-nspkg`'s `azure/cli/__init__.py` is empty. I am thinking: is the naming of this package wrong from the beginning, which caused all these confusions?

[2020-05-26 02:56] bim-msft commented on #13671
Hi @xiaodai7 , you can use `az keyvault update --default_action Deny` to disable the public endpoint.

[2020-05-26 03:03] ghstahl commented on #13170
@zhoxing-ms
As long as you give me something that can bridge the gap between github actions string parameters, and the az cli command than I am good.    I would hope that an earlier suggestion of sending in an json string for this would be the best approach.  As I said earlier, I have mandated "no space" tags just so I can move on.

[2020-05-26 03:08] qwordy commented on #13633
Could you please upgrade to latest version and try again? 2.0.81 is old.

[2020-05-26 03:12] zhoxing-ms commented on #13443
@hcrutz The version of CLI is automatically updated periodically in the Azure DevOps Pipeline.

If you are in a hurry to upgrade CLI, you can consider adding a bash task to the Pipeline:
1. Use `pip install azure-cli==2.6.0` in the bash task script to install the latest version of azure-cli
2. You might need to add command `az login` to the script to login for CLI, the account and password can be

[2020-05-26 03:40] ShrutiSinhaa commented on #6545
Great Thanks , I Put the ID and It actually did the magic

[2020-05-26 03:56] awentzel opened #13677 "incorrect optional/required parameters"
for `az cdn endpoint show` the CLI states that either the Id is required or name, resource group, and profile name.

The documentation doesn't mention the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e2b3b2-3e26-a47f-ee80-5bd5c3b065c4
* Version Independent ID: 72ef6ca0-b8f6-4952-732d-34aefa414bb6
* Content: [

[2020-05-26 04:41] SeaDude commented on #13603
Curious if there is any update on this.

[2020-05-26 04:42] SeaDude commented on #13536
Sure this works. Thank you

[2020-05-26 04:42] #13536 closed

[2020-05-26 04:50] awentzel opened #13678 "CLI returns success before operation completes"
In my CLI I'm running `az cdn endpoint create` immediately after `az cdn profile create` which returns success.  However, the endpoint hasn't completely been setup and so when creating customer domain it fails with:

[code]
I believe the endpoint creation returns too soon and should await for a success response or perform validation that it's been created via show/list before returning success to

[2020-05-26 04:56] awentzel opened #13679 "Missing information on how to configure using `--custom-domain-https-parameters`"
This parameter shown in the title, says it requires custom configuration, yet provides no details in how this is to be supplied.  When using the portal there are at least a few fields that would be created to choose my owner certificate, key vault where it's stored, certificate, and secret.  How do I supply these to the Azure CLI with this optional parameter?

An example would be great.

---
####

[2020-05-26 05:18] qwordy commented on #13633
Or try `sudo pip3 install antlr4-python3-runtime`

[2020-05-26 05:30] Rinal commented on #13672
Hi all! Additional STRs with webapp deployment:
Additional STR:
1. Run *up* command as described in the [documentation](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-up). Example:
`az webapp up -n my-webapp-name`
2. Observe result and logs.

Expected: Deployed webapp with desired .NET Core version (3.1)

Actual Result: WebApp with .NET Core version 2.2
[code]

[2020-05-26 05:38] yungezz commented on #13679
routing to appropriate team

[2020-05-26 05:39] yungezz commented on #13678
routing to appropriate team

[2020-05-26 05:39] yungezz commented on #13677
routing to appropriate team

[2020-05-26 06:43] zhoxing-ms commented on #13170
@ghstahl Yes, we will support JSON format input for tags in the future~  I have created another issue #13659 to follow it up

[2020-05-26 06:46] Juliehzl commented on #13092
Hi @krezreb, thanks a lot for your feedback and sorry for late response due to limited bandwidth.

For your scenario, to see more information, you can add `--debug` in your command. If you still have no idea with the root cause, you can share the debug information with me to help you find root cause in your scenario. Currently I cannot reproduce  your scenario in linux machine with azure cli 2.6.0

[2020-05-26 06:54] Juliehzl commented on #13095
Hi @devbeard ,  you can consider specifying `--content-type` to configure MIME type when uploading. If there is other requirement, feel free to let me know.

[2020-05-26 06:59] devbeard commented on #13095
Hoping I didn’t misunderstand this, but this is only true for uploads and batch uploads if you upload a single file type. If you for example need to upload a folder of CDN content (Microsoft’s suggested architecture), you have .js files, images, static yaml files and so on. A single mime type is not going to help this scenario.

[2020-05-26 07:09] Juliehzl commented on #13095
@devbeard Thanks for your detailed information! We will consider the feature you proposed and prioritize it after internal discussion.

[2020-05-26 07:17] arrownj commented on #12392
Hi @BrianMouncer , per talked offline, will close this issue first as can't reproduce it. You can reopen it or submit a new one if you encounter it again. And please help check it permission if it happens again. Thanks

[2020-05-26 07:17] #12392 closed

[2020-05-26 07:17] Juliehzl commented on #13095
will consider the implementation when migrating track 2.

[2020-05-26 07:19] arrownj commented on #13675
Known issue of Cloud Shell. It is also tracked in #11749.

To workaround, you can run `az login` and retry the command.

[2020-05-26 07:20] MyronFanQiu commented on #13164
@kethahel99 Hi~ Did you solve the issue? @fengzhou-msft Could you confirm whether we can install azure cli through chocolatey?

[2020-05-26 07:33] fengzhou-msft commented on #12399
The dependency of `azure.storage.blob` will be removed in https://github.com/Azure/azure-cli/pull/13490

[2020-05-26 07:33] #12399 closed

[2020-05-26 07:55] DaCheeseMan opened #13681 "list azure users gives me an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
when typing the command the error message is shown after approx. 10-20 seconds

**Command Name**
`az ad user list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here.

[2020-05-26 08:36] Juliehzl commented on #11049
@tomasr To specify timespan in the command, you can consider using the following command in linux:
[code]
Does it work with your scenario?

[2020-05-26 08:57] jacksinclairaudley commented on #13655
We get this problem as well, it can be quite intermittent

[2020-05-26 09:04] Juliehzl commented on #11190
quoting sas token is a operation in python SDK. I see that there is the same quote issue in Storage Explorer. @zezha-msft  Could we considering making quoted sas token work in AzCopy?

[2020-05-26 09:05] maxleonalbrecht commented on #11695
I got the same error while I tried to update multiple function apps with `az functionapp update --resource-group $resourceGroupName --name $functionApp
`
[code]

The command failed with an unexpected error. Here is the traceback:

[code]

[2020-05-26 09:08] maxleonalbrecht opened #13683 "az functionapp update - NoneType' object has no attribute 'kind"
## The Bug

While trying to update a function app, it fails with the following errors

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:

- `az functionapp update --resource-group $resourceGroupName --name $functionApp`

## Expected Behavior

Update a function app

## Environment Summary
[code]
## Additional Context

[2020-05-26 09:15] fengzhou-msft commented on #13656
Focal package released for azure-cli 2.6.0. Please try again.

[2020-05-26 09:15] #13656 closed

[2020-05-26 09:16] fengzhou-msft commented on #13081
Focal package released for azure-cli 2.6.0. Please try again.

[2020-05-26 09:17] fengzhou-msft commented on #13332
Focal package released for azure-cli 2.6.0. Please try again.

[2020-05-26 09:17] #13332 closed

[2020-05-26 09:21] maxleonalbrecht commented on #13683
You need to set -subscription $subscription, than the error will not exists.

**Please add this in the examples.**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f254bb-7dfd-417b-b08d-f2ac34247d99
* Version Independent ID: 9d22f523-579b-ea66-04ed-20f09c72bcbb
* Content: [az functionapp](https://docs.microsoft.com/en-u

[2020-05-26 09:21] fengzhou-msft commented on #13519
The azure-cli package that comes with the Focal universe repo is a bit old and has some issues. A new Focal package is just released for azure-cli 2.6.0. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest to try again.

[2020-05-26 09:36] jacksinclairaudley commented on #11980
Same here, this is happening to us quite a bit intermittently, forcing us to use other methods of deploying functions

[2020-05-26 10:23] sithukyaw007 commented on #13656
It has been fixed now. Thank you.

[2020-05-26 11:11] haroldrandom commented on #10743
If you mean every command instead of account commands only, we are leveraging Aladdin to do it who is an AI that that could learn from Internet automatically to find valueable comamnd examples to supplement those commands that missing examples.

[2020-05-26 11:12] #13675 closed

[2020-05-26 11:14] yonzhan commented on #13681
@arrownj please take a look

[2020-05-26 11:17] yonzhan commented on #11695
functionapp

[2020-05-26 11:17] yonzhan commented on #13683
functionapp

[2020-05-26 11:39] sambitratha commented on #13549
@EvilSmiff i see you're using a previous version of Azure cli. This was a bug introduced in CLI because of service changes. It has been fixed in the latest release 2.6.0. Please upgrade Azure CLI and check if you're still facing this issue.

[2020-05-26 11:42] sambitratha commented on #13051
@hscofield  i see you're using a previous version of Azure cli. This was a bug introduced in CLI because of service changes. It has been fixed in the latest release 2.6.0. Please upgrade Azure CLI and check if you're still facing this issue.

[2020-05-26 11:55] mathieu-benoit commented on #13081
FYI: I'm indeed able to install the 2.6.0 version on Ubuntu 20.4, via:
`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`. Thanks.

[2020-05-26 11:58] tomasr commented on #11049
@Juliehzl Of course that works, but that is a fairly complex command to remember for a very basic task. My original point still stands: You usually think of SAS tokens based on how long they last, not on when they expire in absolute terms, so the current command really is kind of built backwards.

[2020-05-26 12:23] jemag commented on #11210
@qianwens output sent to your email

[2020-05-26 12:42] sowmyaeerlapati commented on #12369
Hi , any update on the fix for this bug?

[2020-05-26 12:51] cocowalla commented on #13098
If your .cer file is in PEM format, the file extension shouldn't matter (as long as the file [only contains the leaf](https://github.com/Azure/azure-cli/issues/11131)).

But I'm also having the same issue as you, and it seems to ot just affect `az iot dps certificate create`. I'm doing:

1. Get the etag with:
[code]

2. Get a verification code:
[code]

3. (create and sign a certificate)

4. Upload

[2020-05-26 12:56] kaukin commented on #9345
per my experience, git hub forms are not informative. try stockoverflow

[2020-05-26 13:09] devbeard commented on #13095
If someone else comes across this thread, I managed to sort of get it working, but I don't think it is a perfect workaround, and I hope MSFT continues with a solution on their end as well @Juliehzl .

Workaround: By leveraging that I am root in my container that I deploy to the storage account from (build pipeline), I change the mimetypes in the system on the fly. I have a mimetype file in my CDN

[2020-05-26 13:15] zsolt-halo commented on #13647
Hi!

I was the customer :)

I'll copy-paste some info here from the initial analysis I did during the troubleshooting:

I continued my research about what was causing this issue, and I think I found the reason.
If you do not have a CNAME entry in your DNS zone, pointing to the web-app domain, the process fails.

On the GUI (Azure portal) the error message states the reason very clearly, but in the

[2020-05-26 13:16] khaliddermoumi opened #13685 "key vault: support importing key from string, not just from file path"
The Problem: In situations where you have generated a key in memory, or read a key from some storage which is not a file, you want to import this key directly from a string, instead of having to write it to a file first. Currently, importing a key is only supported from a file path.

The solution proposal: introduce a param to import key from string, similar to the existing file -params, f. e.:
"a

[2020-05-26 13:21] yonzhan commented on #13685
@bim-msft please take a look

[2020-05-26 13:31] preddy727 opened #13686 "[CosmosDB] Using the cli command az cosmosdb keys list -n $name -g $group --subscription $sub --type connection-strings, the retrywrites, maxIdleTimeMS, and appName are missing."
**Is your feature request related to a problem? Please describe.**

From the portal, the connection strings for a mongo api cosmos include the params ?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@cdbe-ebond-prod@

Using the cli command az cosmosdb keys list -n $name -g $group --subscription $sub --type connection-strings, the retrywrites, maxIdleTimeMS, and appName

[2020-05-26 13:41] djaus2 commented on #13098
You need to get the etag again after step 2 or 3.
That what I found and it works.
I have done that in my az-iothub-ps code on GitHub:
https:/github.com.djaus2/az-iothub-ps
I can do all of that Verification from the command line.

Unfortunately the same is not true for IoT Central Verification

From: cocowalla <notifications@github.com>
Sent: Tuesday, 26 May 2020 10:52 PM
To: Azure/azure-cli <azure

[2020-05-26 13:58] yonzhan commented on #13686
CosmosDB

[2020-05-26 14:05] lchave opened #13687 "Unable to create private endpoints in CLI using bash terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-endpoint create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network private-endpoint create --name {} --resour

[2020-05-26 14:08] lchave commented on #13573
Hello, just following up on this request, do you have any updates?

[2020-05-26 14:14] yungezz commented on #13687
hi @MyronFanQiu, could you pls have a look?

[2020-05-26 14:24] yonzhan commented on #13687
add to S170

[2020-05-26 14:32] zhoxing-ms commented on #13573
This looks like a problem with the incorrect input parameters. Could you please email me the specific parameters of the command and the printed information after adding `--debug` to the command?
My email address is Zhou.Xing@microsoft, thanks~

[2020-05-26 14:59] shmink commented on #12758
The command in the manual install process:
[code]
The `lsb_release -cs` is the issue as it returns the codename for the distribution. Instead you could return the upstream release:
[code]

And with a bit of regex:
[code]
---
I installed azure-cli simple with
[code]
for example.

[2020-05-26 15:06] fengzhou-msft commented on #13209
It seems OpenSUSE 15.1 VM comes with a very old version of azure cli (2.0.45). It has a bunch of old `azure-cli-*` module packages and old dependencies installed in the system python site-packages directory(`/usr/lib/python3.6/site-packages`). With newer versions of azure-cli, all the modules are consolidated into one `azure-cli` package and all dependecies are installed under `/usr/lib64/az/lib/p

[2020-05-26 15:09] AdnanHodzic commented on #13081
Thank you, I can confirm this adds proper support for Ubuntu 20.04.

[2020-05-26 15:09] #13081 closed

[2020-05-26 15:16] fengzhou-msft commented on #12846
@jkdey I cannot reproduce the issue with Python 3.7.5. Can you double check?

[2020-05-26 15:46] #13443 closed

[2020-05-26 17:00] fengzhou-msft commented on #12719
@ajay15283 can you provide more information about your system? Is it a VM? The error seems to be in registercloudguest, which is not part of azure-cli.

[2020-05-26 17:09] Matt45D commented on #9779
Any update on a temporary workaround for this issue? I am running into exact same issue with my connected ADFS Azure Stack environment.

[2020-05-26 17:31] Grayer123 commented on #12488
@zhoxing-ms This should be a Service API issue, and we can reproduce this issue in PowerShell cmdlet as well as armclient. But it should not be a direct code issue as I had a CIT to verify. We suspect it might be some IIS related issue and will investigate further.

[2020-05-26 17:56] yugangw-msft commented on #12320
Please install the latest Azure CLI

[2020-05-26 18:02] yugangw-msft commented on #12280
The most efficient way was to
[code]
Check out the doc for more details

[2020-05-26 18:36] shurd commented on #13615
@yonzhan I do not think this issue is related to Cosmos DB. The error they are seeing is "400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token", which appears to be a CLI authentication problem.

[2020-05-26 19:16] lchave commented on #13573
@zhoxing-ms I've sent the requested information please let me know if you need anything else.

[2020-05-26 19:45] zezha-msft commented on #12037
Hi @djc, we haven't added support for symlinks in the sync command due to the lack of understanding on its intended usage. It's great that you have reached out and provided insights.

I will log this feature request in the AzCopy backlog.

[2020-05-26 20:35] c-mccutcheon commented on #11017
@nidhyn also experiencing the same issue - the only thing that allows it to work is setting 'allow public networks' which is the same as setting default rule of allow all - not something we wish to allow.

[2020-05-26 20:47] florianrusch commented on #13664
@haroldrandom Thanks a lot! Then this issue can be closed, right?

[2020-05-26 21:07] tohov opened #13689 "az interactive failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-26 21:21] tigerkeeper5 commented on #7646
Can someone explain how to install Azure cli not using pip in a Dockerfile on Ubuntu? I am having the same issue where the pip azure cli install is overlapping with other pip azure libraries. There are no examples that Microsoft provides for dockerizing their [manual install](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest)

[2020-05-26 21:22] johanste commented on #13293
No, it contains: `__path__ = __import__('pkgutil').extend_path(__path__, __name__)`

No reference to `pkg_resources`

[2020-05-26 21:52] kethahel99 commented on #13164
Hello @MyronFanQiu .
I tried the command again after reinsalling using chocolatey and it works
![image](https://user-images.githubusercontent.com/25621492/82953894-e5b09380-9fab-11ea-916a-7566db3d63de.png)

Thanks!

[2020-05-26 21:56] TPIvan opened #13690 "Linux Runtime 'DOTNETCORE|3.1' is not supported."
## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
I have been working in azure portal Cloud shell and trying to create a Web App from command line
az group create --name azlinux --location "west europe"
az plan create --name azplan --resource-group azlinux --is-linux --sku F1
az webapp create --name "azwebapplinux" --resource-group azlinux --plan azplan

[2020-05-26 21:57] TPIvan commented on #12055
new issue created https://github.com/Azure/azure-cli/issues/13690

[2020-05-26 22:00] ericstephens opened #13691 "Permission Denied on PKG-INFO file of azure_cosmos package"
**Describe the bug**

Get a permission denied error on /usr/local/Cellar/azure-cli/2.6.0/libexec/lib/python3.8/site-packages/azure_cosmos-3.1.0-py3.8.egg-info/PKG-INFO

I manually resolved it and then when I invoke a command I get a series of warning messages having to do with conditional statements in Python 3.8.x (installed with azure-cli)

**To Reproduce**

Occurs on macOS 10.15.4

su admin
bre

[2020-05-26 23:09] #13664 closed

[2020-05-26 23:10] yonzhan commented on #13689
interactive

[2020-05-26 23:14] yonzhan commented on #13690
webapp

[2020-05-26 23:15] asarkar commented on #12390
How was the "fix" validated? This issue very much exists with v2.6.
[code]

[2020-05-26 23:15] yonzhan commented on #13691
@fengzhou-msft please take a look

[2020-05-26 23:43] nemakam commented on #13560
@v-Ajnava , this looks like an issue in CLI. Could you please take a look at it? If it isn't CLI issue, please assign it back to us.

[2020-05-26 23:46] nkiest commented on #13484
Instead of "export_to_specific_resource", this should be "export_to_resource_specific"

[2020-05-26 23:52] nkiest opened #13692 "Subscription Diagnostic Settings for Activity Log Export"
**Resource Provider**
Microsoft.Insights

**Description of Feature or Work Requested**
Support Subscription Variant of Diagnostic Settings to export Activity Log, as documented at
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnosticsSettings_API.json
This should look like Diagnostic Set

[2020-05-26 23:58] yonzhan commented on #13692
add to S171

[2020-05-27 00:43] sbenalohm opened #13693 "AD SP Create-For-RBAC fails, even for help page"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --help`

## Expected Behavior

## Envi

[2020-05-27 01:10] ericmichael opened #13694 "'az pack build' fails with Heroku Buildpacks due to incompatible platform API"
## Incompatible Platform API

Heroku example fails due to Platform API being incompatible with builder, source: https://docs.microsoft.com/sv-se/cli/azure/acr/pack?view=azure-cli-latest

**Command Name**
`az acr pack build`

**Errors:**
[code]

## To Reproduce:
Fill in `<registryname>` with a valid value.

- `az acr pack build -r <registryname> -t {{.Run.Registry}}/node-app:{{.Run.ID}} --pull --bu

[2020-05-27 01:18] yungezz commented on #13693
hi @arrownj could you pls have a look

[2020-05-27 01:21] jiasli commented on #13209
I can repro this issue on **openSUSE Leap 15.1**. We actually saw this issue before in #12783, #12878, #12779 and mistook it for some `pip` installation problem.

This is the pre-installed Azure CLI on **openSUSE Leap 15.1**:

[code]

We have two options here:

### 1. Contact openSUSE to remove the pre-installed Azure CLI

Since **openSUSE Leap 15.1** is not maintained by Microsoft, we need to con

[2020-05-27 01:26] jiasli commented on #13209
@magaal, the Azure CLI package on Ubuntu has a built-in Python, which shouldn't suffer from this issue. After [installing Azure CLI with apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest):

[code]

You can see the Python Azure CLI uses is `/opt/az/bin/python3`.

To help us analysis this issue, could you share

1. The image and version of your Ubuntu
2. How

[2020-05-27 01:29] jiasli commented on #13615
This is a known issue of Cloud Shell https://github.com/Azure/azure-cli/issues/11749. Please see the workaround at https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762.

[2020-05-27 01:42] jiasli commented on #13293
Sorry, I mean https://pypi.org/project/azure-nspkg/1.0.0/, which is what Azure CLI uses.

![image](https://user-images.githubusercontent.com/4003950/82966536-a874f180-9ffd-11ea-8163-00de435bcd42.png)

https://github.com/Azure/azure-cli-dev-tools/blob/9fd92e46fb3f7bbae605b3972c30e56afbe66c49/azdev/operations/setup.py#L110

[2020-05-27 01:45] Juliehzl commented on #13630
dupe of #12340

[2020-05-27 01:48] Juliehzl commented on #13603
Hi @SeaDude, the warning information in `az storage account create` is already removed in latest azure cli version. You can have a try with latest azure cli.

To block all warning information, you can add `--only-show-errors` in you commands.

[2020-05-27 01:53] phil-holden commented on #12946
A comment made by [@jiasli in issue #9250](https://github.com/Azure/azure-cli/issues/9250#issuecomment-603621148) suggests that it should be possible to add a Service Principal as the Owner of an Application using the MS Graph API as follows.

[code]
this currently returns a Bad Request

[code]
xxx in the response above is the $spObjectId

Is this still a supported scenario using the MS Graph API?

[2020-05-27 01:56] Juliehzl commented on #12242
`--auth-mode login` will require users to have Storage related RBAC roles as shown here: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad#assign-rbac-roles-for-access-rights.

[2020-05-27 01:57] Juliehzl commented on #12242
To block the warning message, you can add `--only-show-errors` in your command.

[2020-05-27 02:05] bim-msft commented on #13621
Hi @SeaDude , this version is an extremely old one, this bug was fixed nearly a half years ago... The latest is `2.6.0`, would you have the chance to upgrade it in your environment? I am not familiar with Azure Notebooks but I think there should be a way to upgrade it.

[2020-05-27 02:08] bim-msft commented on #13621
FYI: `subscriptable` is a Python term: https://stackoverflow.com/questions/216972/what-does-it-mean-if-a-python-object-is-subscriptable-or-not . It's not in the Merriam Webster dictionary. 😄

[2020-05-27 02:21] qwordy commented on #12444
Close the issue.

[2020-05-27 02:21] #12444 closed

[2020-05-27 02:22] bim-msft commented on #13685
Hi @khaliddermoumi , this is a really good feature, we are glad to hear that you are willing to do this. You can directly open a pull request to implement this, and I will review the code and merge it. Welcome to be a contributor!

Anyway, if you are going to be occupied with other things, our team can continue to do this at anytime. 😄

[2020-05-27 02:26] qwordy commented on #12461
@Cr4zyJoe

[2020-05-27 02:27] qwordy commented on #12473
@roy-work

[2020-05-27 02:30] bim-msft commented on #12132
This is done, closed.

[2020-05-27 02:30] #12132 closed

[2020-05-27 02:39] Juliehzl commented on #11049
I see. I can understand your concern, but due to limited bandwidth, I will put it into our backlog and prioritize it with our PM.

[2020-05-27 02:41] qwordy commented on #12750
@sanghoonkim0918

[2020-05-27 02:54] MyronFanQiu commented on #13164
@kethahel99 Good to know! I closed this issue first.

[2020-05-27 02:54] #13164 closed

[2020-05-27 02:59] fengzhou-msft commented on #13105
Yes. We will work on a doc to guide on upgrading from older packages.

[2020-05-27 02:59] #13105 closed

[2020-05-27 03:56] kentcb opened #13696 "Webapp:"az webapp config container set" truncates "docker-registry-server-password" if it contains >"
## Describe the bug

When using `az webapp config container set` with a `docker-registry-server-password` that contains a `>` (and I'm assuming other similar characters), the password is truncated just before the `>`:

## To Reproduce:
[code]

As a workaround, one can wrap the password in a second pair of double quotes and escape the inner pair:

[code]

## Expected Behavior

The password should n

[2020-05-27 04:02] jiasli commented on #13209
The reason why directly running `sudo zypper install --from azure-cli azure-cli` doesn't work is because the empty `/usr/lib/python3.6/site-packages/azure/__init__.py` makes Python treat `azure` as a [regular package](https://docs.python.org/3/reference/import.html#regular-packages), and thus stop using `/usr/lib64/az/lib/python3.6/site-packages/azure` which is assigned in the `az` script:

[code]

[2020-05-27 04:08] kentcb commented on #13696
Just noticed I had an untracked file in my repo. The name, curiously, was the contents of the password after the `>`. So I guess the `>` is causing the output to redirect despite the quotes. Maybe this is a PS bug??

[2020-05-27 04:30] jiasli commented on #12946
This error `The reference target 'Application_xxx' of type 'Application' is invalid for the 'owners' reference.` indicates `xxx` is an **application object ID**, not a **service principal object ID**.

If you are using Azure CLI, retrieve the service principal object ID with

[code]

If you are using Azure Portal, retrieve the service principal object ID with

![image](https://user-images.githubus

[2020-05-27 04:36] jiasli commented on #13689
Duplicate of #12837

[2020-05-27 04:36] #13689 closed

[2020-05-27 04:40] jiasli commented on #9345
@kaukin, we are the developers of Azure CLI. 😉

[GitHub Issues page](https://github.com/Azure/azure-cli/issues) is currently the only forum we monitor. We don't usually work on stackoverflow.

[2020-05-27 05:15] yungezz commented on #13696
routing to appropriate team

[2020-05-27 05:16] yungezz commented on #13694
routing to appropriate team

[2020-05-27 05:28] phil-holden commented on #12946
Thanks @jiasli, works well when you have the right id!

[2020-05-27 06:18] #13255 closed

[2020-05-27 06:31] #13159 closed

[2020-05-27 07:00] zhoxing-ms commented on #13159
@Tyriar Thank you for your feedback and suggestions~ As you said, this problem is caused by the validation after the ARM template is compressed and comments are deleted.

Because we don't have a proper way to solve this problem at the moment ( There is no Python open source library for JSON format validation that can ignore the comments contained in JSON. If we did this ourselves, the cost would b

[2020-05-27 07:08] houk-ms commented on #12623
@AgSync-Aaron Thanks for the feedback. I hope this reply finds you well, although we know it's been a lit long since you opened the issue.

**Short Answer**
`az vmss update --resource-group=$resource_group --name=$vmss_name --add virtualMachineProfile.osProfile.secrets @path_to_your_secrets.json`

**Long Answer**
What you were encountering is an issue most possibly caused by quoting in powershell,

[2020-05-27 07:11] #11633 closed

[2020-05-27 07:20] #13484 closed

[2020-05-27 07:27] bim-msft commented on #13231
Hi @TitaniumDave thanks for the feedback!
It's weird that I cannnot reproduce your scenario. I created a self-signed certificate on Azure Portal, this is the content retrieved by Azure CLI:
[code]

Also I downloaded the CSR file on Azure Portal (**Certificates -> Certificate Operation -> Download CSR**), then used openssl to display it:
[code]

As you see, two texts are identical.

Could you pleas

[2020-05-27 07:30] ecc256 opened #13698 "az monitor log-analytics query timespan parameter."
[code]

I got weird issue with timespan parameter.
Only first two return rows with the same query and the rest return nothing...
[code]

And it’s exactly the same result with Python SDK...
Does timespan parameter mean interval `now()-timespan .. now()`?
Does it suppose to work this way or I did something wrong?

[2020-05-27 07:33] fengzhou-msft commented on #12854
Please install the latest db-up 0.1.14 and try again.

[2020-05-27 07:36] #12854 closed

[2020-05-27 07:39] ecc256 commented on #13698
The query is
` --analytics-query "ContainerInventory | where Image == '...' and ContainerHostname startswith '...' | distinct ContainerID"
`

[2020-05-27 07:39] jiasli commented on #12980
\+ PM @achandmsft to evaluate his feature.

It seems the extension [Azure Mask](https://github.com/clarkio/azure-mask) can't be installed on Chrome and Edge anymore.

![image](https://user-images.githubusercontent.com/4003950/82990583-03730c80-a02f-11ea-91f5-89cd406efbff.png)

![image](https://user-images.githubusercontent.com/4003950/82990532-efc7a600-a02e-11ea-9f5a-f55490b2cc35.png)

Even [on Fi

[2020-05-27 07:46] ecc256 commented on #13698
Oh man...
My bad, above non working timespans are wrong, they all miss "T" letter:
https://en.wikipedia.org/wiki/ISO_8601#Time_intervals

[2020-05-27 07:46] #13698 closed

[2020-05-27 07:52] jiasli commented on #13065
This issue seems to be caused by your tenant settings. Azure CLI is a first-party app and should have already been allowed in all Azure Clouds. If you have more information, please let us know or you may create a Support Request in Azure Portal for **Azure Active Directory**.

[2020-05-27 07:52] #13065 closed

[2020-05-27 07:55] fengzhou-msft commented on #12769
@MichaelSEA the azure-cli you installed through homebrew uses the python 3.8 package from homebrew, it should not be a problem. Can you upgrade to the latest azure-cli? I cannot reproduce the issue with azure cli 2.6.0 on MacOS 10.15.

[2020-05-27 08:02] Juliehzl commented on #12340
It is fixed in latest db-up. Please upgrade your version with `az extension update -n db-up`.

[2020-05-27 08:02] #12340 closed

[2020-05-27 08:02] Juliehzl commented on #13630
It is fixed in latest db-up. Please upgrade your version with `az extension update -n db-up`.

[2020-05-27 08:15] Juliehzl commented on #13667
@vllama  You need to upgrade aszure cli version for the new parameter.

[2020-05-27 08:23] zhoxing-ms commented on #13573
@lchave Hi, through the debug log, I found that this problem was caused by the `\r` at the end of the passed `--id` parameter. It will cause the URL of the service request to be `https://management.azure.com/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/{provider}/{resource-type}/{resource-name}%0D`
The `%0D` at the end will cause the URL to be illegal:

May I ask why t

[2020-05-27 08:26] jiasli commented on #10820
`SyntaxError: unexpected EOF while parsing` doesn't mean it requires `EOF`, but instead it meets an unexpected `EOF` where it shouldn't.

This command:

[code]

doesn't work is because it is not quoted correctly, so double quotes and whitespaces are interpretative by the shell.

Since #3850, `SyntaxError: unexpected EOF while parsing` can be raised by `ast.literal_eval`, but in that case, it is ca

[2020-05-27 08:29] #10820 closed

[2020-05-27 08:45] katalyse-crobin commented on #12461
Hi, I moved on using an ARM template. I didn't retry the command, but I remember the load balancer was Standard tier and it was a private one (no public IP frontend, only a private one within a subnet). Can it makes a difference?

[2020-05-27 08:46] Cr4zyJoe commented on #12461
Oops, I was signed-in with another account while posting the comment above.

[2020-05-27 08:50] mkennten opened #13701 "az interactive doesn't work anymore"
## Describe the bug
When I type az interactive it produces errors and the editor doesn't start.

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open Cloud Shell
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## Additional Con

[2020-05-27 09:03] sarndt commented on #12390
Still having this issue.

Azure CLI versions:
[code]

[code]

[2020-05-27 09:09] MyronFanQiu commented on #13687
@lchave Hi, Are you targeting at Private Link Service? --group-id is not needed for private link service. Or do you have any name containing `'` or `"`? Could you run the command with `--debug`?

[2020-05-27 09:47] zezha-msft commented on #11190
Hi @Juliehzl, the diagnosis is probably not correct, since SAS generated from Storage Explorer works perfectly fine. Ex:

https://zemaintest.blob.core.windows.net/bar?sv=2019-02-02&st=2020-05-27T09%3A27%3A01Z&se=2020-05-28T09%3A27%3A01Z&sr=c&sp=rl&sig=REDACTED

The SAS should be URL encoded, and it should work with AzCopy. Have you been able to repro this issue on your end?

[2020-05-27 10:22] ShaunWilkinson opened #13702 "[Network] network dns zone import output should not be red"
**Describe the bug**
Output of the command is as follows -

== BEGINNING ZONE IMPORT: *****.co.uk ==
(1/3) Imported 1 records of type 'soa' and name '@'
(2/3) Imported 1 records of type 'a' and name '@'
(3/3) Imported 1 records of type 'cname' and name 'www'
== 3/3 RECORDS IMPORTED SUCCESSFULLY: '******.co.uk' ==

This output should not be red as it indicates an error, especially frustrating with

[2020-05-27 10:47] khaliddermoumi commented on #13685
Hi @bim-msft , thanks for the warm welcome! :)

I am happy to continue working on this in the next few days. If I manage to get the dev environment running, I expect I will submit a pull request around early next week.

Thx and c u

[2020-05-27 11:11] kuniteru commented on #13189
@MyronFanQiu Thank you for understanding this issue.
I hope that this issue will improve.

[2020-05-27 11:19] yonzhan commented on #13701
interactive

[2020-05-27 11:25] yonzhan commented on #13702
add to S171

[2020-05-27 12:56] torfulle opened #13703 "Download a certificate as PEM and check its fingerprint in openssl does not include private key"
The guidance on this page unfortunately is misleading and does not include an example of how to download a Key Vault cert to use for authentication. The example included in this doc. is not formatted correctly:

az keyvault certificate download --vault-name vault -n cert-name -f cert.pem && \
openssl x509 -in cert.pem -inform PEM  -noout -sha1 -fingerprint

If we attempt to pass the cert that down

[2020-05-27 13:39] jiasli commented on #10641
I did some further investigation and found 2 ways to refine the error:

### 1. Catch the exception and refine it

Currently the exception is handled at

https://github.com/Azure/azure-cli/blob/e6e437a80639616c9871d1d9248bbb1a65be268e/src/azure-cli-core/azure/cli/core/util.py#L71-L80

The exception caught by Azure CLI is a `CloudError`. If we check here whether the error message contains `InvalidAp

[2020-05-27 14:07] lchave commented on #13573
@zhoxing-ms Hi! thanks for the input, we have not added the `\r` at the end. As you can see in the email I just sent we are only passing a variable defined in the step before it. If we echo that variable there is not a `\r` at the end of it.

[2020-05-27 14:40] vllama commented on #13667
Great. That has fixed it.

[2020-05-27 14:40] #13667 closed

[2020-05-27 14:40] Alexei-B opened #13704 "Next Marker Missing From az storage blob list Response Object"
**Describe the bug**
The command `az storage blob list` produces the next token in stderr, instead of including it in the response object. The response object is an array, which means it can't have a marker, however, something should be done about this because that makes this a nightmare to write automation against.

**To Reproduce**
1. Create a storage account with a container and two blobs.
2. `

[2020-05-27 14:52] lchave commented on #13687
@MyronFanQiu The group-id is just passing a variable defined in a previous step. When i run the `--debug` I see that the `--private-connection-resource-id` is sending the id with an `\r` at the end of it which is not added by us. The way we are getting the resource id is by running the `az resource show` and specifying the `--query` parameter to get the id. When I echo the variable defined to hold

[2020-05-27 15:12] Plus3IT-Azure opened #13705 "Accepting Terms for All Images Under One Publisher"
Hello,

I tested with the commands and they work great. The issue I have is that the publisher I accepted terms for has up to 50 different images. I'd prefer not to have to accept the marketplace terms per image. Is there a way to accept the marketplace terms as a whole per publisher?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-05-27 15:33] yungezz commented on #13705
hi @qwordy could you pls have a look? thanks

[2020-05-27 15:34] yungezz commented on #13704
hi @Juliehzl could you pls have a look?

[2020-05-27 15:35] yungezz commented on #13703
hi @bim-msft could you pls help on it? I think we need a good example on this

[2020-05-27 15:36] yungezz commented on #13701
removed feature request

[2020-05-27 16:14] panchagnula commented on #13690
Should be fixed by change #13688

[2020-05-27 16:20] panchagnula commented on #13676
@bluesapp 2 reasons this might happen

1. 'C:\\Users\\user\\Downloads\\Azure\\Echo Bot v1\\code.zip' doesn't exist or
2. The path contains spaces so when you pass the path as an argument make sure to close them in double quotes ""

Please let me know if you are still seeing this & we can try to help you out as much as we can. Thanks!

[2020-05-27 16:22] panchagnula commented on #13674
@manikanta-kondeti  can you please update to use the latest version of CLI & re-try looking at the stack trace the error is happening even before the method to do zip deployment is invoked.

[2020-05-27 16:44] miketimofeev opened #13706 "[Az-Cli 2.6.0] Missing required positional argument: 'extension_path' when running 'az devops login'"
**Describe the bug**
Crossposted https://github.com/Azure/azure-devops-cli-extension/issues/1004
When running `az devops login` or `echo ${AZURE_DEVOPS_CLI_PAT} | sudo az devops login` we've got an error on version **2.6.0**, rollback to 2.5.1 resolves the issue
[code]

**To Reproduce**
1. install azure-cli 2.6.0
2. install azure-devops (az extension add -n azure-devops)
3. Try to login to azure d

[2020-05-27 16:56] rakeshadusumilli opened #13707 "not able to run"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql db list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql db list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-27 17:08] djsly commented on #13636
@mohanrao could you share the exact flags you are interested in using at the same time ?

[2020-05-27 17:28] vllama opened #13708 "az: error: unrecognized arguments: --auth-mode login"
error when specyfying --auth-mode login

**Command Name**
`az storage cors clear`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-
- `az storage cors clear --account-name $storageAccountName --services="b"'
I get message Below:

- then I run:
`PS C:\powershell> az storage cors clear --

[2020-05-27 18:04] grizzlytheodore commented on #11219
why is this PR to the public repo, but it's corresponding swagger repo PR is private?

[2020-05-27 18:22] vivekananth opened #13709 "Adding global action to CDN using az cli fails"
**Describe the bug**
az cdn endpoint rule action add -g group -n name --profile-name profile --rule-name Global --action-name "ModifyResponseHeader" --header-action Overwrite --header-name X-Content-Type-Options --header-value nosniff

Running the above command fails with below error

"validation error: Parameter 'DeliveryRuleAction.name' can not be None."

**To Reproduce**
1. Have a CDN endpoint

[2020-05-27 18:30] xiaodai7 commented on #13671
I tried this and it works, thanks!

[2020-05-27 18:30] #13671 closed

[2020-05-27 18:32] sirajudeens commented on #11219
Here is the updated swagger: https://github.com/Azure/azure-rest-api-specs-pr/pull/1251
I am not sure what you mean by "this PR to the public repo".

The swagger is in private repo since the feature is in private preview.

[2020-05-27 18:35] Tbohunek commented on #12946
@jiasli Thanks man! It solved our problem too! I was ripping my hair for 2 weeks now.

However just to understand.. Before I made the SP1 an owner of SP2, SP1 wasn't able to update the reply urls with error

`az ad app update --id <appid> --add replyUrls "http://test" --debug`

[code]

`Insufficient privileges to complete the operation.`

This was even despite SP1 having all the permissions on SP2

[2020-05-27 20:54] dmhendricks commented on #13519
Confirmed. I just installed it and encountered none of the issues that I was before. Closing ticket. Thanks for the heads up!

[2020-05-27 20:54] #13519 closed

[2020-05-27 21:42] cajund commented on #12035
If the warnings are getting in the way, you can suppress them:

`export PYTHONWARNINGS="ignore"`

[2020-05-27 22:01] yugangw-msft commented on #13694
@northtyphoon, please investigate

[2020-05-27 22:14] odaibert commented on #9585
Hi. I have similar problem here on my mac os:

I created the SP manually and the PASSWORD is returning not as a GUID like, but in this format bellow:

{
  "appId": "(SOME APP ID)",
  "displayName": "odaibert",
  "name": "http://test",
  **"password": "V3#!\\8nL:,<\"Gj<~Lew4GlB.Oq35GO%m",**
  "tenant": "(SOME TENANT ID)"
}

CLIENTSECRET="V3#!\\8nL:,<\"Gj<~Lew4GlB.Oq35GO%m"

**Then I tried to create

[2020-05-27 22:21] chicsman opened #13711 "Issue with Functionapp Create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp create --resource-group {} --name {} --storage-acco

[2020-05-27 23:42] mboutet commented on #13706
Also having this problem on Ubuntu hosted Azure Pipelines pools. This is preventing builds from running. Please fix.

[2020-05-27 23:44] yonzhan commented on #13706
add to S170

[2020-05-28 00:15] aaronyeung commented on #12449
Hey @jsntcy sorry it's been a while.

The whole command I used was in the original issue (minus the specific custom routes, and the names of my resources)

I think the specific custom routes I used were very close to those above, plus several 172.16.x.x/22 networks too.

Going off memory here, it would have been something like the following:
`az network vnet-gateway update --resource-group my-rg -

[2020-05-28 01:54] zhoxing-ms commented on #13708
@Juliehzl Could you please help to have a look~

[2020-05-28 01:56] tim-hill opened #13712 "bad request on default invokation, error unclear"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config appsettings list --name functionappname --resource-group rg`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az fun

[2020-05-28 01:57] #13712 closed

[2020-05-28 02:04] yungezz commented on #13711
routing to appropriate team

[2020-05-28 02:46] qwordy commented on #13705
Azure CLI doesn't support it yet. It is a reasonable feature ask.

[2020-05-28 03:00] adeal commented on #13707
@rakeshadusumilli the server `logistics-prod` exists in chinaeast1-a. Have you [set your environment](https://docs.microsoft.com/cli/azure/manage-clouds-azure-cli?toc=%2Fcli%2Fazure%2Ftoc.json&bc=%2Fcli%2Fazure%2Fbreadcrumb%2Ftoc.json&view=azure-cli-latest) to AzureChinaCloud before running `az sql db list`?

[2020-05-28 03:03] MyronFanQiu commented on #13687
@lchave I see. Thanks for such useful information. @jiasli @zhoxing-ms Any idea?

[2020-05-28 03:17] zhoxing-ms commented on #13687
Related issue: #13573

[2020-05-28 03:17] bim-msft commented on #13685
@khaliddermoumi Thank you in advance. If you need us to help with, feel free to let me know at anytime.

[2020-05-28 03:31] bim-msft commented on #13703
Thanks for the feedback, will working on this.

[2020-05-28 03:32] zhoxing-ms commented on #13573
@lchave This problem seems to be related to Windows style newline characters, there is a similar problems here:
https://stackoverflow.com/questions/11616835/r-command-not-found-bashrc-bash-profile

Bash expects that end-of-line in a script is always and only a newline `\n` character, Unix-style, not a carriage return-newline combination `\r\n` like you normally see on Windows.
Bash thinks the `\r`

[2020-05-28 03:36] zhoxing-ms commented on #13687
@lchave This problem seems to be related to Windows style newline characters, there is a similar problems here:
https://stackoverflow.com/questions/11616835/r-command-not-found-bashrc-bash-profile

Bash expects that end-of-line in a script is always and only a newline `\n` character, Unix-style, not a carriage return-newline combination `\r\n` like you normally see on Windows.
Bash thinks the `\r`

[2020-05-28 04:06] jiasli commented on #13687
Hello @lchave,

1. May I know the shell you are using, Mintty, Cygwin, MinGW? We haven't heard of this issue before with PowerShell on Windows or Bash on Linux. I doubt the output is not parsed correctly by the shell.
2. Could you share a full code snippet so that we can repro?

[2020-05-28 05:09] hpsan commented on #13125
I can no longer repro. Looks like the Azure Sentinel UI has reverted to an older schema that no longer has this issue

[2020-05-28 05:09] #13125 closed

[2020-05-28 05:21] #13313 closed

[2020-05-28 05:32] yonzhan commented on #13704
add to S170

[2020-05-28 05:47] HermanCordes commented on #13131
Hi @Juliehzl, your suggestion is working!

That also means that the command was working all along right? It at least means that I misunderstood the documentation page. Would it maybe a good idea to provide an additional example specificying the case that the subnet resides in a different resource group?

And aside from that, I'd like to propose another clarification for the documentation page, bec

[2020-05-28 05:50] jiasli commented on #12946
Hi @Tbohunek,

Actually you are hitting a known issue that a `Directory.Read.All` permission should not be mandatory to update an application.

https://github.com/Azure/azure-cli/blob/2b6fe1ee100355dcae6681b01f8101ac81109f8a/src/azure-cli/azure/cli/command_modules/role/custom.py#L1068-L1079

You can see from the code that a tenant query is mandatory before CLI can treat the `--id` as an object ID.

[2020-05-28 05:55] panchagnula commented on #13662
@btardif FYI - there might be another issue that *might* be tracking this.

[2020-05-28 06:01] panchagnula commented on #13673
Application settings are basically Key , Value pairs which means the key should be unique in your example 'key' and 'KEY' are not unique. The error is coming from the API and is not CLI specific the behavior is consistent with the portal as well.

[2020-05-28 06:01] #13673 closed

[2020-05-28 06:04] panchagnula commented on #13485
marking this as functions app since this seems to be specific to functions & we might need to handle this differently with az functionapp traffic-routing command.

[2020-05-28 06:07] panchagnula commented on #13488
We should add site name validation to create command as well and that should make this experience match portal.

[2020-05-28 06:09] panchagnula commented on #13416
@pauldotyu is this occurring with az appservice command group only? what happens if you run say az account ?

[2020-05-28 06:11] panchagnula commented on #13397
@btardif do we have any documentation to help here or examples to share? Thanks!

[2020-05-28 06:18] panchagnula commented on #13400
@icfly2 thanks for reporting, we had an issue with interpreting the RG for an app, which has since been fixed,. is it possible for you to re-try this with the latest version of CLI and let us know if you still see this (i.e not needing to run the command with -g parameter)

[2020-05-28 06:21] panchagnula commented on #13361
@madsd I am checking with you on this first before I go find someone else to investigate - since we haven't changed anything specific to this command since the time you added support & we don't see the tests added here fail. Thanks!

[2020-05-28 06:24] panchagnula commented on #13644
@Rich-Lang only common package I see included b/w the 2 githhub issues is the azdevops extension can you try uninstalling that extension & trying & also question above on how the original install was done?

[2020-05-28 06:26] panchagnula commented on #13343
Not specific to web apps but something to do with the packages installed during core install.

[2020-05-28 06:31] panchagnula commented on #13283
@donovanyng az webapp deployment command you are referring to runs an async deployment operation & starts to keep polling for the status, if you are forcing the command to fail (which seems like what you are doing here) the actual deployment operation will not be cancelled since the original call was just an async deployment call. Hope this explains your question. closing this a by design,

[2020-05-28 06:31] #13283 closed

[2020-05-28 06:32] panchagnula commented on #13291
we need to revamp our swap commands & we will address this as. a part of that work

[2020-05-28 06:32] SeaDude commented on #13621
@bim-msft , [Azure Notebooks](https://github.com/microsoft/AzureNotebooks) is a Microsoft product (hosted Jupyter notebooks). The underlying packages such as `az cli` are not accessible. I wish Microsoft would update Azure Notebooks Anaconda instance (and things like `az cli`)! The Python kernel is over 1.5 years old!

[2020-05-28 06:32] #13621 closed

[2020-05-28 06:35] panchagnula commented on #13254
@rloreto can you give more details here by running command with --debug,

the error seems like its happening because the app being used here is not a linux app ('reserved' is a property set on Linux apps) or the app name used in the command are incorrect.

[2020-05-28 06:36] panchagnula commented on #13140
@madsd FYI,

[2020-05-28 06:39] panchagnula commented on #13057
from the error message looks like your sub is out of quota - either delete some existing ASPs or try a different region or sky like the message suggested. Thanks!

[2020-05-28 06:39] #13057 closed

[2020-05-28 06:40] panchagnula commented on #12955
closing due to lack of response.

[2020-05-28 06:40] #12955 closed

[2020-05-28 06:40] panchagnula commented on #12940
@btardif FYI

[2020-05-28 06:41] panchagnula commented on #12876
@calvinsID can you take care of this during some other existing PRs?

[2020-05-28 06:42] panchagnula commented on #12844
@btardif FYI.

[2020-05-28 06:44] #12739 closed

[2020-05-28 06:47] panchagnula commented on #12653
@jongio  thanks for reporting we will look at this.

[2020-05-28 06:49] panchagnula commented on #12613
We are planning on adding better validation & will test the during those fixes.

[2020-05-28 06:50] panchagnula commented on #12427
No ETA to share however you use the following blog to use an ARM template for deployment https://dotnetdevlife.wordpress.com/2020/02/18/purchase-app-service-certificate/

[2020-05-28 06:51] panchagnula commented on #12391
No ETA to share on this yet

[2020-05-28 06:51] panchagnula commented on #11884
Should be fixed by siteName validation

[2020-05-28 06:54] panchagnula commented on #11876
should be fixed by https://github.com/Azure/azure-cli/pull/13688

[2020-05-28 07:07] panchagnula commented on #11261
closing this since the original issue was fixed. Please create new issue if some one is still seeing this with the latest CLI version. Thanks!

[2020-05-28 07:07] #11261 closed

[2020-05-28 07:21] bim-msft commented on #13621
@SeaDude I believe this product is nearly abadoned... because the last commit was Apr 2019, and tons of issues do not have been assigned and resolved. Anyway, I will create a new issue to let them know the outdated cli things. Thanks!

[2020-05-28 07:23] panchagnula commented on #1337
@btardif let me know when this is ready.

[2020-05-28 07:36] yonzhan commented on #13708
add to S171

[2020-05-28 07:37] yonzhan commented on #13709
cdn

[2020-05-28 07:40] shyamshd opened #13715 "VWan:: Hub virtual network connection related changes"
**Resource Provider**

Network resource provider

**Description of Feature or Work Requested**

Virtual Wan service is changing the interface to specify virtual network connections in a Virtual hub to address specific scenarios (and simplify the interface/behavior).

Currently the Virtual Network connections are specified as a part of PUT on the Virtual Hub. This has been changed in 2020-05-01 API

[2020-05-28 07:50] Tbohunek commented on #12946
@jiasli Thank you, this helped me find out that I was not using properly isolated CLI sessions, so adding the ReplyURL after making the SP and owner was run by wrong SP.

Now I granted the SP1 the `Azure AD Graph: Application.ReadWrite.OwnedBy` API permission and it works as expected.

Note that in the `azure-cli 2.6.0` command it's visible that it uses the Azure AD Graph and not the new MS Graph:

[2020-05-28 07:52] yonzhan commented on #13715
add to S171

[2020-05-28 07:57] bim-msft commented on #9128
Start to implement this.
Will be delivered as `az keyvault key encrypt/decrypt`

[2020-05-28 08:15] #13162 closed

[2020-05-28 08:19] dedreira opened #13717 "No updates available for 'azure-cli-ml' - extension not available"
**Describe the bug**

Until yesterday azure-cli-ml extension was available to be installed through command az extension install -n azure-cli-ml

**To Reproduce**

type: "**az extension install -n azure-cli-ml**" or "**az extension update -n azure-cli-ml**"

This error message appear:

**No updates available for 'azure-cli-ml'. Use --debug for more information.**

**Expected behavior**

Azure CLI M

[2020-05-28 08:39] krowlandson commented on #10191
I've found that many of the `az aks` commands use the [Azure Active Directory Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api). In my case, the Azure CLI commands appear to be performing a lookup of the "Object ID" for the Service Principal being used to run the command before validating a Role Assignment against the dependent resource.

I foun

[2020-05-28 09:03] haroldrandom commented on #9703
@mvvsubbu Could you please provide other information about the service?  Is it available on Portal?

[2020-05-28 09:11] Juliehzl commented on #11190
I have tried with Azcopy 10.3.4 and the sas token generated with azure cli 2.6.0. it works to me. @nofunatall can you have a try again? and if there is any problem, could you provide log file to help figure out root cause?
[code]

[2020-05-28 09:25] #13304 closed

[2020-05-28 09:30] Juliehzl commented on #13131
add one example for subnet id usage.

[2020-05-28 09:30] #13548 closed

[2020-05-28 09:34] yonzhan commented on #13717
ml

[2020-05-28 09:41] #13013 closed

[2020-05-28 10:50] yossi-y opened #13721 "Add support for 'Log Analytics data export'"
**Resource Provider**
microsoft.operationalinsights

**Description of Feature or Work Requested**
Feature document is available [here]( https://microsoft.sharepoint.com/:w:/t/LogAnalyticsTeam/EbhdHdsVLwBKksLCbObyVqkBSBgMZfKTzX1hs1mk2rIKLQ?e=0ytp0m):

Support these operations:
- Create a data export rule
- Update a data export rule
   - Disable an export rule
   - Update tables for export
   - Upda

[2020-05-28 10:58] hmeiland opened #13722 "hostnames in --allowed-clients"
From the documentation, it seems hostnames can be used in the allowed clients; on the cli this errors and in the portal it says specificly that on ip and cidr are allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4429655-bc7e-37d2-eb90-9a9ad203b62a
* Version Independent ID: 88efa4de-a91b-a217-d236-dc16c62432ca
*

[2020-05-28 11:11] Rich-Lang commented on #13644
I just reproduced the issue on a fresh Azure VM.
1) Created Azure VM with Image = "Windows 10 Pro, Version 1809"
2) RDP into box
3) PS Admin Prompt: Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux
4) Reboot & RDP again
5) Install Ubuntu from store (https://www.microsoft.com/en-us/p/ubuntu/9nblggh4msv6?ocid=9nblggh4msv6_ORSEARCH_Bing&rtc=1&activetab=pivot:overvi

[2020-05-28 12:07] jiasli commented on #12946
I am glad it is working for you.

Yes, `az ad` is still using AD Graph API. This's what this whole issue is talking about. Since Microsoft Graph Service Principal API is GA, we recommend using `az rest` instead of `az ad` for the time being until we fully migrate `az ad` to Microsoft Graph.

---

However, I tried to add `Microsoft Graph: Application.ReadWrite.OwnedBy` to the owner application, the

[2020-05-28 12:17] yonzhan commented on #13721
add to S171

[2020-05-28 12:20] yonzhan commented on #13722
netappfiles

[2020-05-28 12:42] medavamshi opened #13723 "Deployment failed. invalid: custom DNS servers are not supported."
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-05-28 12:54] bob-bot opened #13724 "az account list-locations throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list-locations`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account list-locations -o {}`

## Expected Behavior

## Env

[2020-05-28 13:07] yonzhan commented on #13723
Please let us know your detailed command and error.

[2020-05-28 13:08] yonzhan commented on #13724
add to S171

[2020-05-28 13:27] mcipekci commented on #12739
Hello,

I believe this is only solving list of locations but not preventing being able to create app service and potentially other services e.g cloud vms on regions not belonging to tenants account.

After reading my initial report, I think it was led you that way so sorry if I did reported it wrongly.

Following example will create app service plan on west germany central which is not belonging t

[2020-05-28 14:14] jiasli commented on #12939
@mohoff, as I tested again, creating Service Principal using a **Global administrator** Service Principal now doesn't require `Directory.Read.All` anymore. It looks like the service has been changed recently. Could you try again? (Please note that role membership changes take some time (around 10min) to propagate.)

[2020-05-28 14:31] fengzhou-msft commented on #13028
@ghstahl Azure CLI relies on a bunch of SDK dependencies and third-party packages. The MSI package size is over 50 MB and the space on disk after installation is over 200 MB.

With the current design, it's hard to make dramatic improvement. We are working on a lightweight installer to improve the install time.

[2020-05-28 14:56] Acadomia commented on #12308
having the same issue when I use "--slot slotname" , I'm using osx.

[2020-05-28 15:03] ghstahl commented on #13028
@fengzhou-msft    I was in a situation like this once where I had to change the design a bit so that I could zip the whole 100+ MB and slam it down to a folder.  That was the install portion - unzip and run.  Other than that, a rewrite in GO like terraform cli where its one big ole exe is the extreme option.  Thank you for looking at this.

[2020-05-28 15:04] rameshthangaraj opened #13725 "AZ AKS not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Con

[2020-05-28 15:33] #13706 closed

[2020-05-28 15:36] yannick-Lapierre opened #13726 "'***' is not recognized as an internal or external command,"
**Describe the bug**

I am not sure if it's a bug, but I don't know where I can ask for this issue:

I have a PowerShell script using az. this script is a part of an AzureDevops Task written in Powershell.
When I execute the az statement I got this error:
[code]

**To Reproduce**
[code]

**Expected behavior**
Return the message without error.

**Environment summary**
I execute
[code]
and get this

[2020-05-28 15:43] medavamshi commented on #13723
az aro create --resource-group $RESOURCEGROUP --name $CLUSTER --vnet /subscriptions/XXXXXXXX/resourceGroups/XXXXXXXXXXXXXXXX/providers/Microsoft.Network/virtualNetworks/XXXXXXXXXX --master-subnet nonproduction-web --worker-subnet openshift-worker --client-id XXXXXXXXXX --client-secret XXXXXXXXXXXXXX --worker-count 4 --pull-secret @pull-secret.txt

Deployment failed. Correlation ID: b114e550-a967-4

[2020-05-28 15:44] medavamshi commented on #13723
We are trying to deploy ARO cluster to our existing vnets.  so a vnet with custom dns servers is not supported?

[2020-05-28 15:47] medavamshi commented on #13723
This is another error as well following the guide using default vnets
az aro create --resource-group $RESOURCEGROUP --name $CLUSTER --vnet aro-vnet --master-subnet master-subnet --worker-subnet worker-subnet --client-id xxxxxxxxxxxx --client-secret XXXXXXXXXXX

Deployment failed. Correlation ID: c6882a90-c481-4051-9e2f-f6fd35aa595b. Internal server error.

[2020-05-28 15:53] medavamshi opened #13727 "Deployment failed. Correlation ID: c6882a90-c481-4051-9e2f-f6fd35aa595b. Internal server error."
This is another error as well following the guide using default vnets
az aro create --resource-group $RESOURCEGROUP --name $CLUSTER --vnet aro-vnet --master-subnet master-subnet --worker-subnet worker-subnet --client-id xxxxxxxxxxxx --client-secret XXXXXXXXXXX

Deployment failed. Correlation ID: c6882a90-c481-4051-9e2f-f6fd35aa595b. Internal server error.

[Enter feedback here]

---
#### Document

[2020-05-28 16:03] zooba commented on #13293
The `nspkg` is short for "NameSpace PacKaGe", which arguably is backwards because it _removes_ the namespace package by turning it into a real one, but ultimately the name doesn't matter much as it has no functionality.

Its sole purpose is to get around the fact that `pip` does not reference count individual files on install, but it will ensure there is only a single version of an entire package

[2020-05-28 16:13] fengzhou-msft commented on #13331
Take 2.2.0 as an example, to install azure cli 2.2.0, please check the following:
Package | Install   Specific Version Command
-- | --
RPM | yum --showduplicates list azure-cli; sudo yum install azure-cli-2.2.0-1.el7
DEB | apt-cache policy azure-cli; sudo apt-get install azure-cli=2.2.0-1~bionic
MSI | Invoke-WebRequest -Uri https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.2.0.msi -OutFil

[2020-05-28 16:25] parasdesaicims commented on #13032
The issue is resolved.  It will be handy if there is a section for MAC users in the cli document.

[2020-05-28 16:25] #13032 closed

[2020-05-28 16:38] Lloydkwena opened #13728 "--source "$web" --account-name zero360staging"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob delete-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob delete-batch --source {} --account-name {}

[2020-05-28 16:39] mgolczyk opened #13729 "Azure IoT deployment configuration"
**Describe the bug**
Azure IoT Edge Device deployment configuration has below entries:

            _"$edgeAgent": {
                "**properties.desired**": {
                    "schemaVersion": "1.0",_

acording to your [manual](https://docs.microsoft.com/en-gb/cli/azure/ext/azure-iot/iot/edge/deployment?view=azure-cli-latest#ext-azure-iot-az-iot-edge-deployment-update) dot char is a delimiter

[2020-05-28 16:39] ajhall commented on #11315
We're looking for this feature too and would upgrade to the Premium SKU if it was available. Our needs are fairly simple right now, so the first approach would be sufficient for us, but I could see some benefit to the second approach as well.

[2020-05-28 17:45] achandmsft commented on #12980
Thanks for the great feedback. Just to help us understand relative priority of this, what is the scenario for using this? Is it for demos or something else?

[2020-05-28 18:01] Ayrica commented on #9585
I have the same issue now!
I just install Azure CLI 2.6.0 and when I try manually create a service principal like this (from doc):
az ad sp create-for-rbac --skip-assignment --name myAKSClusterServicePrincipal

Got:
{
  "appId": "appId",
  "displayName": "displayName",
  "name": "name",
  "password": "9bzD}N{K7j2Wchss,o+fKdk}n8QP+|r:",
  "tenant": "tenantGUID"
}

Then I use password to specify a s

[2020-05-28 18:05] cnasman-iivi opened #13730 "Listing VMs causes bad HTTP request in Windows Terminal"
## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:

- Connect to Azure Cloud Shell in Windows Terminal
- `az vm list`

A similar error will occur with `az group list`. However, no problems occur when running these commands through the browser shell.

## Expected Behavior

## Environment Summary
[code]

[2020-05-28 18:22] anthonychu commented on #13627
Duplicate: #13607

[2020-05-28 18:27] Ayrica opened #13731 "Can't manually create a service principal - Bad Request - 401"
I just install Azure CLI 2.6.0 (Windows 10) and when I try manually create a service principal like this (from doc):
az ad sp create-for-rbac --skip-assignment --name myAKSClusterServicePrincipal

Using documentation - https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#automatically-create-and-use-a-service-principal

Got:
{
  "appId": "appId",
  "displayName": "displayName",

[2020-05-28 18:27] fabiocav commented on #13683
Closing as resolved.

[2020-05-28 18:27] #13683 closed

[2020-05-28 18:32] anthonychu commented on #13711
@chicsman Can you confirm that this is the lab you were trying and if you were able to get it to work successfully by trying the command again? Thanks. https://docs.microsoft.com/en-us/learn/modules/develop-test-deploy-azure-functions-with-core-tools/

[2020-05-28 18:37] anthonychu commented on #13607
Was able to test out this step in the lab and it worked. Perhaps this is a transient error? @ankitkumarr could you take a quick look? Thanks.

[2020-05-28 19:06] ecsousa opened #13732 "Azure CLI tagging VM failing due to unrequired permission"
**Describe the bug**

Setting a tag on a VM resource fails if client doesn't have read permission on linked resource.

**To Reproduce**
`az vm update -n VirutalMachineName -g ResourceGroupName --set tags.TagName=TagValue  --subscription SubscriptionName`

On my case, I'm receiving a message like this (I've masked all personal data):

[code]

**Expected behavior**
Tag named `TagName` on VM `Virtual

[2020-05-28 19:22] chicsman commented on #13711
Hi Anthony,

Yes that was the lab i was working, the last part of the task didnt work, i
was trying to do a functionapp create but it didn't work

On Thu, May 28, 2020 at 2:33 PM Anthony Chu <notifications@github.com>
wrote:

--
Attentively

[2020-05-28 19:48] grizzlytheodore commented on #11219
Since the feature is in private preview and the swagger PR is to the private repo, this CLI command also needs to be private. This repository is public. This PR should be to azure/azure-cli-pr instead.

[2020-05-28 20:11] panchagnula commented on #12739
@mcipekci 'West Germany Central' has been open to the public since end of January 2020, the region is available for creating Windows Apps & not Linux. Portal defaults you to  linux if you change it to windows + code you will find this region on the list. Also, our API blocks from creating resources on unsupported regions, we verified this on our end. With the fix we made the list of regions b/w po

[2020-05-28 20:42] EvilSmiff commented on #13549
Hi @sambitratha: I've just updated to 2.6.0 and can confirm that this works once again.  Thanks all.

[2020-05-28 20:42] #13549 closed

[2020-05-28 20:52] ggg333 opened #13733 "az backup protection backup-now"
Running in to following error when i try to enable manual backup using "az backup protection backup-now"

Command group 'backup' is in preview. It may be changed/removed in a future release.
The command failed with an unexpected error. Here is the traceback:

argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "/Users/ganesh.palanisamy/.azure/cliextensions/interac

[2020-05-28 20:53] zezha-msft commented on #11190
A wild hunch here: is it possible that % signs need to be escaped in a script?

[2020-05-28 21:20] mcipekci commented on #12739
@panchagnula I see, I mentioned it because it's not visible for me on web portal
![cur-list](https://user-images.githubusercontent.com/48002757/83194178-ea5a8080-a140-11ea-8537-48eb6f79fde5.png) same goes for many others like "Norway West" or many others like. Nonetheless if you say this is normal all is well :).

[2020-05-28 21:23] mcipekci commented on #12739
@panchagnula I see, that makes more sense now after changing to Windows, I was able to see it. Thank you for all your replies, please stay safe and be well.

[2020-05-28 21:45] rigerosa commented on #9585
Running into the same issue as the two comments above,
Verified that I'm getting this error when using the new Azure CLI 2.6.0 and not with version 2.5.1.

[2020-05-28 21:51] lchave commented on #13687
@jiasli I've tried on WSL, Bash & Git Bash terminals from Visual Studio on Windows. As per the code, if you can share your MS email I can send the code to reproduce it.

@zhoxing-ms this looks accurate, however, this command runs on files and I'm just trying to pass this variable within my code to complete deployments.

[2020-05-28 21:58] ggg333 commented on #13733
Answered in https://github.com/Azure/azure-cli/issues/11179 hence closing this

[2020-05-28 21:58] #13733 closed

[2020-05-28 22:33] btardif opened #13734 "az webapp logs needs to support deployment logs"
We can get list of deployments form:

`https://<webapp>.scm.azurewebsites.net/api/deployments/`

And you can get deployment logs form a specific deployment through:

`https://<webapp>.scm.azurewebsites.net/api/deployments/<id>`

[2020-05-28 22:38] yonzhan commented on #13725
aks

[2020-05-28 22:55] jluk commented on #13725
the preview extension version is suspicious, could you try removing and reinstalling the extension?

az extension remove -n aks-preview
az extension add -n aks-preview

[2020-05-28 23:11] shilpasharmaAM commented on #10116
Hi @kamiyn the start and end time always contain +00:00" (UTC). I would like to understand more on how it impacts the scaling condition you are setting? Can you provide me examples of issues caused by this?

[2020-05-28 23:11] panchagnula commented on #13734
@btardif can you share the list of commands we need to add as a part of this? Thanks!

[2020-05-29 00:02] yonzhan commented on #13726
add to S171

[2020-05-29 00:04] yonzhan commented on #13727
aro

[2020-05-29 00:07] yonzhan commented on #13728
add to S171

[2020-05-29 00:08] yonzhan commented on #13729
iot edge

[2020-05-29 00:11] yonzhan commented on #13730
@qwordy please take a look

[2020-05-29 00:12] atilcock commented on #12733
Had the same issue and determined it's because I have multiple subscriptions, after I ran "azure account set "  with the right subscriptionID it resolved the issue.

[2020-05-29 00:24] Lloydkwena commented on #13728
Super cool, thanks.

[2020-05-29 00:27] jiasli commented on #13293
In my mind, the name does matter because it indicates the purpose of this package:
1. `azure-nspkg` and `azure-mgmt-nspkg` are used to turn `azure` and `azure.mgmt` into `pkg_resource` or `pkgutil` style namespace packages, while
2. `azure-cli-nspkg` is used to turn `azure.cli` into a normal package with an empty `__init__.py` (However, this doesn't work as expected in the released package/real in

[2020-05-29 00:30] sshiba opened #13735 "Fail when invoking "az aks get-credentials""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {}`

## Expecte

[2020-05-29 00:45] jaslawinMs opened #13736 "az network lb frontend-ip create does not work in parallel"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-05-29 00:49] jaslawinMs commented on #13736
[code]
if executed for at least 2 IPs, one configuration is created, and quickly it is replaced by another one, so the result is only the last finishing command 'wins'
It only works if the loop is throttled to 1, which is sequential execution.

az version:
{
  "azure-cli": "2.1.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.1.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli

[2020-05-29 01:30] yungezz commented on #13735
routing to appropriate team

[2020-05-29 01:30] yungezz commented on #13732
hi @qwordy could  you pls have a look?

[2020-05-29 01:31] yungezz commented on #13731
hi @arrownj could you have a look?

[2020-05-29 01:32] yungezz commented on #13730
#11749

[2020-05-29 01:33] yungezz commented on #13730
hi @cnasman-iivi this is a known Cloudshell issue, pls see detail in #11749. To workaround it pls try `az login`.

[2020-05-29 02:30] #13456 closed

[2020-05-29 02:30] #13546 closed

[2020-05-29 02:41] jsntcy opened #13738 "[Monitor] Set retention by type"
**Resource Provider**
Microsoft.OperationalInisghts

**Description of Feature or Work Requested**
Set retention time by type
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#data-volume-by-type

Add three new commands:
  - `az monitor log-analytics workspace table list --resource-group --workspace-name`
  - `az monitor log-analytics workspace table show --resource-

[2020-05-29 02:44] #13738 closed

[2020-05-29 03:01] #13131 closed

[2020-05-29 03:33] yonzhan commented on #13736
add to S171

[2020-05-29 03:39] hustbill commented on #13717
In this [azure-cli-extensions index.json](https://github.com/Azure/azure-cli-extensions/blob/master/src/index.jsonl)
azure-cli-ml requires azure-cli min version should be 2.3.1

[code]

You can replace your requirements.txt
[code]

to
[code]
Ref to requirments.txt in the source code.
https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.3.1

[2020-05-29 04:27] pachabelle opened #13739 "App update fails when Role type is included in the resourceAccess list"
I am running

with the --required-resource-accesses parameter.  When resourceAccess array contains a Role type such as

"resourceAccess": [
	{
		"id": "e2a3a72e-5f79-4c64-b1b1-878b674786c9",
		"type": "Role"
	}
]

 the call fails complaining that the property is invalid.  Scope types are fine.  The array is copied from the manifest file on the Azure Portal so the values are definitely correct.  Is

[2020-05-29 04:34] yonzhan commented on #13739
@arrownj  please take a look

[2020-05-29 04:54] zhoxing-ms commented on #13687
@lchave Hi, please send them to jiasli@microsoft.com and Zhou.Xing@microsoft.com, thanks~

[2020-05-29 05:19] MyronFanQiu commented on #13736
@jaslawinMs Hi. Based on my knowledge, we don't support parallel command right now. I would mark it as feature request. Add @jiasli @Juliehzl for awareness.

[2020-05-29 05:25] #12906 closed

[2020-05-29 05:33] jaslawinMs commented on #13736
Cool, maybe we should write it in the doc explicitly?

Is this somehow related https://github.com/Microsoft/azure-pipelines-tasks/issues/8561 ?

Also, I dig a little bit now and see this: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops
With useGlobalConfig

Maybe I used it incorrectly and should switch it off (not global config)?

Best
js

From: Myr

[2020-05-29 05:41] MyronFanQiu commented on #13736
@jaslawinMs  I double check your issue. Based on my knowledge, one lb can only have one frontend-ip. Are you talking about the overlap between different frontend-ips for the same lb?

[2020-05-29 05:52] dedreira commented on #13717
Thanks, I have found that this requirement changed [yesterday](https://github.com/Azure/azure-cli-extensions/commit/21252b2131b3e3f2d4c7744226ec690458753db7#diff-175151397c27e434c8016e66047e72f4).  Changed the minimun Az CLI required version from 2.0.28 to 2.3.1 . . . .  (that's a huge version jump....)

[2020-05-29 06:15] #11969 closed

[2020-05-29 06:27] palma21 commented on #13735
I couldn't repro in 2.6.0

@wenwu449 could you take a look

[2020-05-29 06:33] jaslawinMs commented on #13736
No. It can have many. As I wrote I can add many if I do it sequentially

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: MyronFanQiu <notifications@github.com>
Sent: Thursday, May 28, 2020 10:41:42 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Jaro Slawinski <jaslawin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-

[2020-05-29 06:52] MyronFanQiu commented on #13736
@jaslawinMs I see. We cannot support such scenario right now. Thanks for raising this issue. We would consider the design to see how we can support this feature.

[2020-05-29 07:31] fengzhou-msft commented on #13343
@ewh  did you install azure-cli through pip install? The other packages you install through pip could affect azure-cli since the underlying dependencies are shared and pip doesn't have good dependency resolve management. We recommend to install azure cli through package managers such as [yum](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest) and [apt](https://

[2020-05-29 07:48] fengzhou-msft commented on #13644
@Rich-Lang please install azure-cli following the instructions:https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

The azure cli comes with the WSL is an old version and not tested by our team. We publish packages to https://packages.microsoft.com/repos/azure-cli. Please install and update from there.

[2020-05-29 07:55] mjudeikis commented on #13727
Hey @medavamshi . This is not the repo we are monitoring constantly. If you raise issue in `Azure/ARO-RP` we will get into it faster for bugs, not questions, it this relates to service itself, not CLI,

This particular failure is because of `CSX Master Policy` failure. And few other failures. I would be reluctant to share more details here as it might be sensitive information for you. And this is

[2020-05-29 07:57] mkennten commented on #13701
I have run az interactive --update and now it's working again, az interactive does not throw exceptions anymore. This issue is solved.

[2020-05-29 07:57] #13701 closed

[2020-05-29 07:58] mjudeikis commented on #13723
@medavamshi see https://github.com/Azure/azure-cli/issues/13727 for an answer. This looks like service support questions, and because failures are due your internal subscription policy configurations I would be reluctant to have these conversations here. Please reach out via MSFT support to the queue provided with as many details as you can and links to these issues too. And we will provide all th

[2020-05-29 08:54] haroldrandom commented on #13103
Closed as no response. Feel free to reopen.

[2020-05-29 08:54] #13103 closed

[2020-05-29 09:00] rameshthangaraj commented on #13725
Tried it but didnt help at all.

[2020-05-29 09:03] Juliehzl commented on #12530
Hi @venkateshjayanaik, there is no update for several days. I will close the issue and if you still have problem in using azure cli, feel free to create a new one.

[2020-05-29 09:03] #12530 closed

[2020-05-29 09:05] palma21 commented on #13725
Please update your core-cli and then install the extension, that CLI version is too old to use the latest extension.

Current versions

jpalma@aeolus:~$ az --version
azure-cli                          2.6.0

Extensions:
aks-preview                       0.4.49

[2020-05-29 09:28] qianwens commented on #11210
@jemag , it is a regression in Azure CLI. We will fix it next release. Thanks for reporting this issue.

[2020-05-29 10:04] ajay15283 commented on #12719
The VM is hosted on azure and its a SUSE machine to be specific urn = SUSE:SLES:12-SP4:2019.11.13.

"registercloudguest" is a cloud init automation which registers the VM with SUSE SMT servers once the VM is provisioned and after the installation of Python3.6 and few other libraries i faced connection issue to the SMT servers and execution of cloud init script also failed with SSL errors .Recently

[2020-05-29 10:34] medavamshi commented on #13727
I actually tried to created it under the ARO , and it accidentally created it here.  Tried to delete it and couldnt find it. thank you.  Appreciate your help

[2020-05-29 10:35] #13727 closed

[2020-05-29 10:36] medavamshi commented on #13723
I figured out the issue with my policy.   this can be deleted now.  Appreciate your help.

[2020-05-29 10:36] #13723 closed

[2020-05-29 11:32] hegesippus opened #13745 "create aks error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --generate-ssh

[2020-05-29 11:55] yonzhan commented on #13745
aks

[2020-05-29 12:13] norshtein commented on #12864
This bug was fixed in https://github.com/Azure/azure-cli/pull/13543 and will be available in next Azure cli release.

[2020-05-29 14:03] ggg333 commented on #7493
any fix for this? have the same exact problem even today

[2020-05-29 14:22] #13331 closed

[2020-05-29 14:27] #13256 closed

[2020-05-29 14:35] fengzhou-msft commented on #9781
azdev setup, CI and packaging except pypi are using requirements.txt to lock dependencies now. This issue can be closed.

Documentation on pip install with requirements.txt or modify the linux install script will be another discussion.

[2020-05-29 15:21] etiennehucklemarchand opened #13746 "Az.Accounts 1.8.0 having trouble to load - System.Threading.Tasks.Extensions"
**Describe the bug**
Since a PowerShell Az module upgrade, the Az.Accounts module has trouble loading. The failure is caught by $ERROR environment variable. The variable gets filled-in when importing the Az.Accounts modules, when opening a PowerShell session or console. It seems to have trouble with one of its dependencies:
`Add-Type : Unable to load one or more of the requested types. Retrieve th

[2020-05-29 15:29] yonzhan commented on #13746
This is a powershell issue, right? Please open an issue in powershell repo. Thanks.

[2020-05-29 15:29] #13746 closed

[2020-05-29 15:57] #13087 closed

[2020-05-29 16:00] Jen7714 commented on #13123
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:00] #13123 closed

[2020-05-29 16:00] jluk commented on #13047
Hey @sarndt this should now be available, apologies for the delay. Closing as a result.

Please give it a try and let me know if it still repros, and I will revisit.

[2020-05-29 16:00] #13047 closed

[2020-05-29 16:03] Jen7714 commented on #13138
This bug is fixed (https://github.com/Azure/azure-cli/pull/13543), and should be available in the next Azure CLI release. Closing for now :)

[2020-05-29 16:03] #13138 closed

[2020-05-29 16:04] Jen7714 commented on #13169
As Justin mentioned above, please validate, and let us know if you're still running into issues.

[2020-05-29 16:04] #13169 closed

[2020-05-29 16:05] Jen7714 commented on #13171
Closing this for now as the question was answered above.

[2020-05-29 16:05] #13171 closed

[2020-05-29 16:06] Jen7714 commented on #13193
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:06] #13193 closed

[2020-05-29 16:07] bpdohall commented on #13026
The `--client-secret` argument does not accept a keyvault certificates.  You have to use a service principal with password based authentication.

[2020-05-29 16:10] Jen7714 commented on #13026
Closing this issue for now as the answer as been addressed above. Feel free to reopen if this doesn't answer your question!

[2020-05-29 16:15] Jen7714 commented on #13318
Closing this issue for now as the doc issue should've been resolved in the latest CLI release.

[2020-05-29 16:15] #13318 closed

[2020-05-29 16:15] Jen7714 commented on #13327
Closing for now since the answer has been provided above.

[2020-05-29 16:16] Jen7714 commented on #13338
Closing this issue for now as it seems to relate to the issue mentioned above.

[2020-05-29 16:16] #13338 closed

[2020-05-29 16:16] sarndt commented on #13047
I can confirm that this has been working in the meantime, didn't retest it today though, but it should be fine. You can close it from my perspective.

[2020-05-29 16:21] tinokingstone opened #13747 "Missing antlr4, az vm met missing module antlr4 error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-05-29 16:22] Jen7714 commented on #13446
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:22] #13446 closed

[2020-05-29 16:34] Jen7714 commented on #13575
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:34] #13575 closed

[2020-05-29 16:40] #11881 closed

[2020-05-29 16:40] Jen7714 commented on #11919
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:40] #11919 closed

[2020-05-29 16:41] Jen7714 commented on #11933
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:44] Jen7714 commented on #12124
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:45] Jen7714 commented on #12127
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:47] Jen7714 commented on #12142
Please check this fix for the latest status: https://github.com/Azure/azure-cli/pull/13741

[2020-05-29 16:47] #12142 closed

[2020-05-29 16:47] btardif commented on #11923
@Juliehzl its been > 2 months, so just checking in here. Looks like this is still not prioritized.

@LomisChen is this something you can help push through?

[2020-05-29 16:49] Jen7714 commented on #12236
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:49] #12236 closed

[2020-05-29 16:53] #12489 closed

[2020-05-29 16:53] btardif commented on #13734
@panchagnula

`az webapp logs deployment`  --> Show the latest deployment log

`az webapp logs deployment list`  --> List of deployment logs available

`az webapp logs deployment --deploymentid <id>` Show specific deployment log

[2020-05-29 16:54] Jen7714 commented on #12514
Looks like the error message has been updated. Closing this for now.

[2020-05-29 16:54] #12514 closed

[2020-05-29 16:54] Jen7714 commented on #12569
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:54] Jen7714 commented on #12576
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:54] #12576 closed

[2020-05-29 16:55] Jen7714 commented on #12669
Looks like it's been fixed with the new CLI release. Closing for now.

[2020-05-29 16:55] #12669 closed

[2020-05-29 17:00] Jen7714 commented on #12725
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 17:00] #12725 closed

[2020-05-29 17:05] Jen7714 commented on #12745
This should be fixed! Closing for now.

[2020-05-29 17:05] #12745 closed

[2020-05-29 17:23] Jen7714 commented on #12843
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 17:23] #12843 closed

[2020-05-29 17:24] Jen7714 commented on #12852
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 17:24] #12852 closed

[2020-05-29 17:24] Jen7714 commented on #12870
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 17:24] #12870 closed

[2020-05-29 17:25] Jen7714 commented on #12871
@haroldrandom any updates here?

[2020-05-29 17:27] Jen7714 commented on #12895
Please see the fix here: https://github.com/Azure/azure-cli/issues/13047

[2020-05-29 17:27] #12895 closed

[2020-05-29 17:55] mscatyao commented on #12628
Hey @kumarallamraju the AGIC add-on will be available in preview soon, you were able to see this because this was merged into Az CLI extensions repo since we were planning to release this earlier.

[2020-05-29 18:10] jluk commented on #12628
Closing the issue as this is a bug that will be resolved when the appgateway addon is released.

[2020-05-29 18:12] Jen7714 commented on #13404
@greggbjensen what CLI version are you using?

[2020-05-29 18:17] torres-roberto opened #13749 "az storage account create exits bat script"
I'm writing a Windows batch script with multiple `az storage account create` commands to automate creating the storage accounts. After running one, it exits my script. This script contains other az commands that do not exit my script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
*

[2020-05-29 18:52] ksrimmy opened #13750 "crash of az interactive while updating vnet"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
 network vnet update --name  XY -vnet --resource-group ABC --address-prefixes "10.0.0.0/16"  "ace:cab:deca::/48"

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requi

[2020-05-29 19:18] MatthewMWR opened #13751 "Starting VM fails in cloud shell, succeeds in portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Starting VM fails in cloud shell, succeeds in portal

**Command Name**
`az vm start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm start --resource-

[2020-05-29 19:19] TomGeske commented on #12219
@jongio: Could you share your template?

for MSI make sure to remove servicePrincipalProfile and use:
[code]

for service principal use:
[code]

[2020-05-29 19:21] Jen7714 commented on #12219
Thanks for answering, Thomas! This should resolve the issue, so closing this for now

[2020-05-29 19:21] #12219 closed

[2020-05-29 19:28] TomGeske commented on #12358
adding @jluk

[2020-05-29 20:17] nrobert commented on #13691
Same problem on my side since updated Python to 3.8 and az-cli, with brew

[2020-05-29 20:17] mcalnd70 opened #13752 "az keyvault create not idempotent with access policies"
**Describe the bug**

The "**az keyvault create**" command is not idempotent with **Access Policies**. On re-running the command the Access Policies are deleted/removed.

**To Reproduce**

Create a KeyVault with **az keyvault create**  e.g. "**_az keyvault create --location westus2 --name MyKeyVault --resource-group MyResourceGroup_**"

Assign an access policy to the KeyVault, either manually in t

[2020-05-29 20:46] ericstephens commented on #13691
When I installed the cli using the native Linux method (no package management) it works just fine. No errors or warnings

[2020-05-29 21:23] palma21 commented on #12358
https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#configure-outbound-ports-and-idle-timeout

https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#plan-ip-addressing-for-your-cluster

64k ports _per_ frontend IP, this is LB specific not AKS specific

[2020-05-29 21:40] zama202 opened #13753 "Invalid SKU name provided"
instruction not valid.
if I insert one of the suggested SKU... it appears this message:
"Invalid SKU name provided"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a0adf5-f3e3-01a5-59cb-0475cc4506fd
* Version Independent ID: c94cc817-9e89-4904-2865-1f08838ee472
* Content: [az kusto cluster](http

[2020-05-29 23:06] bpdohall commented on #13663
@royca - this is a known issue with Cloud Shell. Available workarounds include running `az login` before your command or using az cli from your local machine. ref: https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762

[2020-05-30 00:18] bpdohall commented on #13477
@Kengo-Araki - please verify that the version you are requesting is available in your target region. User the `az aks get-versions` command. For example, in eastus 1.16.7 is no longer a valid option:
[code]

[2020-05-30 01:13] yonzhan commented on #13747
@qwordy please take a look

[2020-05-30 01:33] yonzhan commented on #13749
add to S171

[2020-05-30 01:38] yonzhan commented on #13750
add to S171

[2020-05-30 01:40] yonzhan commented on #13751
@qwordy please take a look

[2020-05-30 01:41] yonzhan commented on #13752
@bim-msft please take a look

[2020-05-30 01:43] yonzhan commented on #13753
Kusto

[2020-05-30 02:13] bpdohall commented on #13404
I am unable to reproduce this in Cloud CLI having the following versions:
[code]

@swgriffith, @greggbjensen - can you try passing in the argument `--workspace-resource-id` along with a Log Analytics resource ID? This should avoid triggering the implicit ARM deployment which is likely leading to the error.

Example:
`az aks create --resource-group github-13404 --name aks-github-13404  --enable-add

[2020-05-30 02:37] djsly commented on #12087
@manikanta-kondeti  / @barabo , I have the `az cli` installed using `brew` on `Darwin 19.4.0 Darwin Kernel Version 19.4.0`

[code]

and I was able to run the `az aks install-cli`

[code]

[2020-05-30 02:40] jluk commented on #12087
@barabo I am also unable to reproduce this error, but you are running a very old version of the Azure CLI. Could you please upgrade your CLI and try to reproduce this?

[2020-05-30 02:50] djsly commented on #12209
@OvervCW  it seems that the reconciliation of the the containerService ManagedCluster resource can take some time indeed.

It depends on the number of nodepool and the node count they have. When issuing an empty put on the AKS resource (resources.azure.com) it does take ~2 mins even longer for the reconciliation process to complete.

I have been told that it needs to run a check on each vm for pro

[2020-05-30 02:56] NileshGule commented on #12980
hi @achandmsft
the scenario to use the masked IDs is during live demo as well as during the screencast or vide recording. It takes lot of time to mask these IDs using software like Camatasia. If the console output can be masked using a command line flag that would be great help.

[2020-05-30 02:59] haroldrandom commented on #12871
@Jen7714 Sorry for the late reply.

Yes, this example is auto generated one year ago.
https://github.com/Azure/azure-cli/blob/5fe403f21d44a839eec1f358702076998bbc2f38/src/azure-cli/azure/cli/command_modules/acs/_help.py#L489-L492

Currently, we collabrate with Aladdin, the will auto generate examples for Azure CLI, we review and merge them, then provide feedback to Aladdin to help to improve the A

[2020-05-30 03:16] djsly commented on #12723
While the error message is indeed cryptic and not helpful. I think that soon enough this behaviour will change since AKS team are getting the support to setting the min-count to 0 for non system node pool.

https://github.com/Azure/AKS/issues/1565

[2020-05-30 03:57] bpdohall commented on #12723
@lastcoolnameleft - You are correct that there are no constraints applied to the `node-count` value being passed in via CLI.

@yungezz - specifying a node-count of 0 leads to an error when [validating the value of `max-pods`](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acs/_validators.py#L160). Looks like a validation with error message should be added to pr

[2020-05-30 04:06] bpdohall commented on #13386
@piyush-nimbalkar - please check local file `~/.kube/config`. There are 3 required keys which must be present: `clusters`, `contexts` and `users`. If there are no entries under these keys, they should contain empty lists.

You can also rename or delete the file and `az aks get-credentials` should start working again.

Duplicate issue: https://github.com/Azure/azure-cli-extensions/issues/1787

[2020-05-30 04:10] djsly commented on #13025
just tried and it seems to be working now, I would say this can be closed

[code]

[code]

[2020-05-30 04:15] djsly commented on #13266
it seems that the logic for the node labels follows the more strict DNS-1123 standard.

While this is a valid standard for some names of resources in Kubernetes, the labels doesn't follow this standard

https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[code]

[2020-05-30 04:21] bpdohall commented on #13252
@SayakMukhopadhyay - to mitigate this issue, you can first explicitly create the service principal:
`az ad sp create-for-rbac --skip-assignment --name {}`
Then pass the app-id and password in to your `az aks create` command via parameters `--service-principal` and `--client-secret`

[2020-05-30 04:30] djsly commented on #13266
https://github.com/kubernetes/kubernetes/blob/fdb2cb4c8832da1499069bda918c014762d8ac05/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L201-L212

is what Kubernetes uses to validate the DNS Prefixes

`definition of a subdomain in DNS (RFC 1123)`

[2020-05-30 04:32] bpdohall commented on #11952
@GerhardRuckriegel - do your proxy settings include the request schema? (e.g. prefixed with `http://` and/or `https://` as appropriate)?

Also there is a suggestion to use lower case environment variable names with urllib when running on windows (ref: https://stackoverflow.com/a/8287752/4601453).

[2020-05-30 04:41] djsly commented on #13745
I just create a new cluster with the same CLI on Darwin

[code]

[code]

seems like the `registrationState` might be an server side error

this was already open in the past: https://github.com/Azure/azure-cli/issues/10569

[2020-05-30 04:47] djsly commented on #13362
@techsaau  for testing purposes, could you try running with the `disable_browser` flag to false ?

from your error message, it seems the the CLI isn't able to start your local browser.

[2020-05-30 04:48] yonzhan commented on #12980
@NileshGule Do we need a whitelist for the masked IDs ?

[2020-05-30 04:51] djsly commented on #13362
the CLI uses the following python library:
https://docs.python.org/2/library/webbrowser.html

could you try this in a Python Shell ?

[code]

[2020-05-30 05:19] NileshGule commented on #12980
@yonzhan in the Az Mask extension I can see all those IDs which are sensitive are masked for e.g.

- GUIDs (such as Subscription IDs)
- email addresses
- keys
- connection strings

Is it possible to include these?

[2020-05-30 05:24] SayakMukhopadhyay commented on #13252
Yeah, I am aware of this, In fact I am using a managed identity for now.

[2020-05-30 05:36] yonzhan commented on #12980
@NileshGule, I will sync up with dev team and let you know.

[2020-05-30 08:58] Shert commented on #13259
Hi,
I just made another test with adifferent ip address, this time the ip address is associated to an application service inside an isolated I1 App Service plan, if I goon the portal and click on the
properties of the app service, I see that there is a Virtual IP address = x.y.z.k.j and the app service
is correctly answering requests on that ip , but again if I use the check-ip-address the result

[2020-05-30 14:14] #12912 closed

[2020-05-30 14:21] yonzhan commented on #11845
add to Backlog

[2020-05-30 14:24] #11635 closed

[2020-05-30 15:02] yonzhan commented on #9771
@serbrech any update?

[2020-05-30 15:03] yonzhan commented on #10431
@Geof23, any update?

[2020-05-30 15:11] yonzhan commented on #13307
@ridhabnj  any update?

[2020-05-30 16:40] jkdey commented on #12846
@fengzhou-msft I saw this behavior in an alpine container, which might have made the difference

[2020-05-30 17:45] Geof23 commented on #10431
Hey Yonzhan, it’s been working.  I can provide more details if you like
later.

On Sat, May 30, 2020 at 8:03 AM yonzhan <notifications@github.com> wrote:

[2020-05-30 21:12] greggbjensen commented on #13404
@Jen7714 here is my CLI version information:

[code]

[2020-05-30 21:30] Jen7714 commented on #13252
Looks like this answer was addressed above, so closing this issue.

[2020-05-30 21:30] #13252 closed

[2020-05-30 21:32] Jen7714 commented on #13025
Looks like this issue has been fixed, so closing this issue!

[2020-05-30 21:32] #13025 closed

[2020-05-30 23:46] #10431 closed

[2020-05-31 02:25] yonzhan commented on #13380
@azilber was your issue resolved?

[2020-05-31 02:29] #13170 closed

[2020-05-31 02:30] yonzhan commented on #10524
@ericmoses  @jits2019  any other questions?

[2020-05-31 04:18] yonzhan commented on #9686
@shehreendheda any update?

[2020-05-31 04:33] yonzhan commented on #10841
@tmanOC any update for above?

[2020-05-31 04:35] yonzhan commented on #10718
@juyama was your issue resolved by above?

[2020-05-31 04:36] yonzhan commented on #13310
@rpstester was your issue resolved by above?

[2020-05-31 04:42] yonzhan commented on #13460
@Raul150, any update?

[2020-05-31 04:42] #13463 closed

[2020-05-31 04:43] yonzhan commented on #13503
@cocowalla  any update for above?

[2020-05-31 04:44] #13521 closed

[2020-05-31 04:47] yonzhan commented on #13539
@nlksg was your issue resolved?

[2020-05-31 05:01] #11081 closed

[2020-05-31 05:04] #13625 closed

[2020-05-31 05:06] #13423 closed

[2020-05-31 05:07] #13445 closed

[2020-05-31 06:10] yossi-y opened #13754 "Remove preview comment for cluster"
**Resource Provider**
microsoft.operationalinsights

**Description of Feature or Work Requested**
Cluster is GA now (no announcement for it) and we need to remove the preview comment:

- "Command group 'monitor log-analytics cluster' is in preview. It may be changed/removed in a future release."
- Linkservices for: Link/unlink workspace to cluster
- Link storage account to workspace

**Minimum API

[2020-05-31 07:47] SayakMukhopadhyay commented on #13252
Hi @Jen7714
The workaround given above does not solve this issue so I dont think this issue should be closed. The CLI and the docs clearly states that on not supplying a service principle, one is created and is cached locally. This local caching is not happening.

[2020-05-31 10:19] cocowalla commented on #13503
@yonzhan sorry for the late response, I'll check this on Monday (tomorrow) and get back to you.

[2020-05-31 11:34] vivekananth commented on #12152
same error

[2020-05-31 12:33] yonzhan commented on #13754
add to S171

[2020-05-31 12:39] #11828 closed

[2020-05-31 12:43] yonzhan commented on #13351
@SanjayKishnani  any update for above?

[2020-05-31 12:48] yonzhan commented on #12668
move to S171

[2020-05-31 12:48] yonzhan commented on #11137
move to S171

[2020-05-31 12:56] yonzhan commented on #13614
@kosticd any update for above?

[2020-05-31 12:57] yonzhan commented on #13690
move to S171

[2020-05-31 12:58] yonzhan commented on #13676
move to S171

[2020-05-31 12:58] yonzhan commented on #13674
move to S171

[2020-05-31 12:59] #13233 closed

[2020-05-31 13:13] adamwdennis commented on #5007
Why would you **not** want a deployment to remove old files that are no longer part of the deployment??  Refactoring, renaming, etc. causes big problems for subsequent deployments.  @panchagnula - why will this not be supported?

[2020-05-31 14:56] serbrech commented on #9771
as I said it the previous answer, I was receiving a uri what wasn't working, while I'd prefer the cli to fail. I ended up not using sas key, so I don't have any more feedback to provide. I'll close this issue as I'm unable to help further.

[2020-05-31 14:56] #9771 closed

[2020-05-31 17:37] durgeshIISc opened #13755 "Azure Iot Hub List command not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Environment Summary
[code]
##

[2020-05-31 17:38] ghost opened #13756 "Azure IoT central app List not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot central app list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot central app list`

## Expected Behavior

## Environment S

[2020-05-31 19:35] BasHamer commented on #13524
as an FYI we build it as a plugin. well, some of it. unfortunately, I'm not sure how we can mimic the data creation at this point.

the project is here http://feedback-on-github.possumlabs.com/ or https://github.com/Possum-Labs/Feedback-On-Github

[2020-05-31 20:46] paviomuniz opened #13758 "webapp: I was trying to update an application in python django for the first time."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --name {}`

## Expected Behavior

## Envir

[2020-05-31 22:51] speediefarf opened #13759 "Can't get away from a ready-only filesystem error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group show -g {} -o {}`

## Expected Behavior

## Environment Summary
[

[2020-05-31 23:14] yonzhan commented on #13755
iot hub

[2020-05-31 23:15] yonzhan commented on #13756
iot central

[2020-05-31 23:19] yonzhan commented on #13758
webapp up

[2020-05-31 23:20] yonzhan commented on #13759
add to S171

[2020-06-01 01:59] #10400 closed

[2020-06-01 02:19] qwordy commented on #13747
What OS do you use and how do you install Azure CLI?

[2020-06-01 02:21] qwordy commented on #13751
It's a known issue of Cloud Shell. #11749

[2020-06-01 02:34] tingtingq opened #13760 "`az monitor metrics list` retrieves null for average values"
## Describe the bug

**Command Name**
`az monitor metrics list`

**Errors:**
The cli can be ran successfully, and but returns null for 'average' fields, which should not be.
{
  "cost": 0.0,
  "interval": "0:30:00",
  "namespace": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
  "resourceregion": "eastus",
  "timespan": "2020-06-01T02:35:31Z/2020-06-01T03:35:31Z",
  "value": [
    {

[2020-06-01 02:37] yonzhan commented on #9734
add to S172

[2020-06-01 02:37] lostrouter opened #13761 "AKS: cannot use secret generated from credential reset cli"
**Describe the bug**

following this guide https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

i run into this error at the step for creating the cluster
`Operation failed with status: 'Bad Request'. Details: Service principal client secret has invalid characters: ` '`

**To Reproduce**

following this guide https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

**Ex

[2020-06-01 02:42] yonzhan commented on #13760
add to S172

[2020-06-01 02:44] yonzhan commented on #13761
add to S171

[2020-06-01 02:53] yonzhan commented on #10294
@ea1het any update for above?

[2020-06-01 02:54] yonzhan commented on #10212
add to S172

[2020-06-01 02:55] #10212 closed

[2020-06-01 02:55] bim-msft commented on #13752
Duplicate with #13212
Hi @mcalnd70 , thanks for the feedback. Unfortunately, this is the expected behavior on service side. You can refer to the above issue to see more detail.
If you have any question, feel free to ping me again.

[2020-06-01 02:55] yonzhan commented on #9852
add to S172

[2020-06-01 02:57] yonzhan commented on #9992
add to S172

[2020-06-01 03:01] yonzhan commented on #10857
add to S172

[2020-06-01 03:04] yonzhan commented on #10753
Hi @gambtho, any update for above?

[2020-06-01 03:05] yonzhan commented on #10753
add to S172

[2020-06-01 03:05] Juliehzl commented on #10815
Hi @lufussel, given there is no response for a long time, I will close the issue and error message should already be update. If there is any issue, feel free to create a new one.

[2020-06-01 03:05] #10815 closed

[2020-06-01 03:06] yonzhan commented on #10729
add to S172

[2020-06-01 03:07] yonzhan commented on #10374
add to S172

[2020-06-01 03:08] #13189 closed

[2020-06-01 03:13] yonzhan commented on #10253
add to S172

[2020-06-01 03:16] yonzhan commented on #10020
add to S172

[2020-06-01 03:18] yonzhan commented on #9961
add to S172

[2020-06-01 03:22] yonzhan commented on #10874
@fengzhou-msft  please take a look

[2020-06-01 03:33] jiasli commented on #13463
We will reopen this issue once more information is provided.

[2020-06-01 03:53] subhasishdc commented on #12934
@MyronFanQiu : The command you mentioned does not work and has the same behavior as mentioned in the bug. It removes the existing hosts in the backend pool and adds the ones which are part of the "--servers" directive. A workaround for this is providing the entire pool list (existing ones and new ones being added) as part of the "--servers" directive.

The documentation for this is very vague and

[2020-06-01 05:17] fengzhou-msft commented on #12719
It looks like some networking issue or SUSE configure issue of the VM. `zypper fresh` alos failed. I have created a new SLES12SP4 VM and got similar errors without installing python 3.6.

[2020-06-01 05:24] haroldrandom commented on #13350
@tejasshah7 Why does `dnsServers` parameter value need `@()` to quote the servers?

[2020-06-01 05:31] haroldrandom commented on #13350
@tejasshah7 Also, will those 3 parameters updatable?

[2020-06-01 06:20] qianwens commented on #9506
@zippy1981 `az ad signed-in-user show --query objectId --output tsv` will output the "oid" of the current signed-in-user which is the same as the one decoded from the access token. To help us understand your requirement, could you please help let us know why does it not resolve your problem?

[2020-06-01 06:22] qianwens commented on #10564
Close this issue since there is no response for more than 15 days. Please help file a new issue if you have questions.

[2020-06-01 06:22] #10564 closed

[2020-06-01 06:24] haroldrandom commented on #9703
Closed as no need as discussed in email thread.

[2020-06-01 06:24] #9703 closed

[2020-06-01 06:34] yonzhan commented on #9944
add to S172

[2020-06-01 06:35] yonzhan commented on #9204
add to S172

[2020-06-01 06:36] yonzhan commented on #8467
add to S172

[2020-06-01 06:39] mcalnd70 commented on #13752
@bim-msft The other one has been closed? Is this being worked on?

[2020-06-01 06:47] zhoxing-ms commented on #12909
@galiacheng Hi, mutil-line is not supported in the semantics of JSON, so I understand that this issue is a feature request.

This error was obtained from the validationin of CLI. I tried to make CLI ignore the line feed in a string when validating JSON, but I still found some problems: the ARM template in CLI is designed to send to Service must be unmodified, and Service will add the line break as

[2020-06-01 06:48] zhoxing-ms commented on #12909
Because the ARM template passed from CLI to Service can't be modified, so this problem can only be solved by Service, while on CLI side passes through the multi-line string when verifying.
But if Service is going to solve this problem, it also needs to consider the following two points:

1. In some scenarios, if some customers want to keep the line break in the multi-line format, but this change w

[2020-06-01 07:41] qianwens commented on #13532
@packerwhathappened , python2 is not supported by Azure CLI now, could you please help install python 3 and try again?

[2020-06-01 07:45] qianwens commented on #10488
Hi @grjw , does login consecutively solve your issue?

[2020-06-01 07:57] qianwens commented on #10563
Hi @pascalnaber , to better understand your requirement, do you expect the list to return [] instead of giving an error if permission not granted?

[2020-06-01 08:05] qianwens commented on #13761
This issue has been fixed in PR https://github.com/Azure/azure-cli/pull/13643 which will be released on 6/3/2020. Please let us know if you still meet the issue with the new version.

[2020-06-01 08:25] MyronFanQiu commented on #13262
This issue has been fixed by https://github.com/Azure/azure-cli/pull/13512

[2020-06-01 08:25] #13262 closed

[2020-06-01 08:27] MyronFanQiu commented on #12934
@subhasishdc You're correct. It's an update command instead of add. We would refine help message based on your suggestion. Thank!

[2020-06-01 08:39] grjw commented on #10488
Hi @qianwens.

I can confirm that logging in consecutively (i.e. completing the login process before starting the next VM) appeared to fix the issue; I never had the issue after that.

[2020-06-01 08:48] subhasishdc commented on #12934
@MyronFanQiu : Thanks, do you accept contributions from users on this. If yes, I can submit the change in the help message for review. If not, will wait for you/the team to do it.

[2020-06-01 08:56] MyronFanQiu commented on #12934
That's very nice. We're eager for community's contributions. If you want, you can open a PR and invite me as the reviewer.

[2020-06-01 09:13] yonzhan commented on #13306
add to S172

[2020-06-01 09:18] yonzhan commented on #13308
add to S172

[2020-06-01 09:40] dandcg opened #13766 "az vm secret add / Add-AzureRmVMSecret - Certificate full chain"
**Describe the bug**
When adding a PFX certificate containing full chain - only the left (with private key) certificate is added to the VM. As an alternative I have also tried to the intermediate and root certificate stored separately in key vault to the designated stores however I receive the following error

```The data retrieved from https://xxx is not deserializable into JSON.```

I presume th

[2020-06-01 09:43] yonzhan commented on #13311
add to S172

[2020-06-01 09:45] yonzhan commented on #13314
add to S172

[2020-06-01 09:53] cjmcewan commented on #11017
I am also having the same issue, it's intermittent and seems to be an issue with adding the agent ip. @c-mccutcheon @nidhyn by any chance did either of you manage to get round this issue?

[2020-06-01 09:58] yonzhan commented on #13333
add to S172

[2020-06-01 09:58] AbelHu opened #13767 "[AKS]: Wrong error message when trying to add a label whose value has more than 63 chars."
**Describe the bug**

https://github.com/Azure/azure-cli/blob/cbb7c28fc29d4e92a4908c8d85ea2de30ceb9c25/src/azure-cli/azure/cli/command_modules/acs/_validators.py#L327-L328
Error message is wrong:
[code]

**To Reproduce**

[code]

**Expected behavior**

[code]

**Environment summary**

**Additional context**

[2020-06-01 10:02] yonzhan commented on #13766
@qwordy please take a look

[2020-06-01 10:04] yonzhan commented on #13767
AKS

[2020-06-01 10:34] haroldrandom commented on #13664
costmanagement commands is released. You could install it and have a try via `az extension add -n costmanagement`

[2020-06-01 10:39] yonzhan commented on #13383
@kpard any feedback?

[2020-06-01 10:42] motim6026 opened #13768 "az deployment sub create add --mode flag (complete\Incremental)"
There is any option to create RG using  az deployment sub create (subscription scope)
with mode parameters?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c21eb60-cfe9-0ef7-8d93-71a8af273a04
* Version Independent ID: a97f1562-8602-f55e-df4e-7523f437edcf
* Content: [az deployment sub](https://docs.microsoft.com/en-us/cl

[2020-06-01 10:47] yonzhan commented on #13406
add to S172

[2020-06-01 10:47] cocowalla commented on #13503
@jiasli @yonzhan I has previously been including the namespace in the resource type:

[code]
Not sure how specifying the namespace separately would make any difference, e.g.
[code]

Anyways, I want to use the PAYG SKU, `L1`, but either way I get:

`The L1 Sku is unsupported`

Note that I was able to add it using `az extension add --name timeseriesinsights` and then `az timeseriesinsights environme

[2020-06-01 10:48] yonzhan commented on #13410
add to S172

[2020-06-01 10:51] yonzhan commented on #13417
add to S172

[2020-06-01 10:56] yonzhan commented on #13422
add to S171

[2020-06-01 10:59] yonzhan commented on #13768
add to S172

[2020-06-01 11:35] jiasli commented on #13503
I tested the following script on Linux Bash and created the environment successfully:

[code]
Output:
[code]

Could you share the detail of `--properties` so that I can help you identity the problem more accurately? Thanks for the information.

Also, you may use `az timeseriesinsights environment longterm create` with `--debug` to see the actual REST request `az` is making to create the Time Serie

[2020-06-01 11:47] cocowalla commented on #13503
@jiasli

Sure, here's the full commands. Note I'm running in git bash on Windows, but there are no file system paths being used, so shouldn't matter:

[code]

I get:
`The L1 Sku is unsupported`

[2020-06-01 11:49] cocowalla commented on #13503
So, I noticed you were specifying an API version, and adding this to my command does result in success:

`--api-version 2018-08-15-preview`

[2020-06-01 11:54] jiasli commented on #13503
Glad to know it is working for you! 😊

I will take some time investigating why `2018-08-15-preview` is not used by default:

[code]

[2020-06-01 11:54] #13503 closed

[2020-06-01 12:14] jiasli opened #13770 "[Resources] `az resource create` should use the latest api-version if unspecified"
**Is your feature request related to a problem? Please describe.**

When `az resource create` is called without `--api-version`, it will query the resource provider and use the **latest GA version**:

https://github.com/Azure/azure-cli/blob/88480669cdd65e3a715c6fa527c479ed4b4436a0/src/azure-cli/azure/cli/command_modules/resource/custom.py#L2709-L2710

On the other hand, the public documentation on

[2020-06-01 12:21] yonzhan commented on #13770
add to S172

[2020-06-01 12:33] teamcitytest3 commented on #10283
any updates here?

[2020-06-01 12:40] yonzhan commented on #13437
add to S172

[2020-06-01 12:47] yonzhan commented on #13478
add to S172

[2020-06-01 12:53] yonzhan commented on #13498
add to S172

[2020-06-01 12:54] yonzhan commented on #13500
add to S172

[2020-06-01 12:57] yonzhan commented on #13509
add to S172

[2020-06-01 13:00] yonzhan commented on #13527
add to S172

[2020-06-01 13:05] yonzhan commented on #13562
add to S172

[2020-06-01 13:13] yonzhan commented on #13580
add to S172

[2020-06-01 13:16] #13585 closed

[2020-06-01 13:18] yonzhan commented on #13599
add to S172

[2020-06-01 13:22] yonzhan commented on #13602
add to S172

[2020-06-01 13:23] #13603 closed

[2020-06-01 14:02] zhoxing-ms commented on #13573
@lchave Could you please describe the environment in detail? By the way, please email me the script you used, thank you~

[2020-06-01 14:12] dmpe opened #13772 "Support for Python 3.8 runtime for az functionapp create"
**Is your feature request related to a problem? Please describe.**

In Portal you can create azure function with python 3.8. support. However, this is missing in azure cli, causing

[code]

**Describe the solution you'd like**

Support in azure cli for python 3.8. version

**Describe alternatives you've considered**

using portal

[2020-06-01 14:45] Tanusree7 opened #13773 "Unable to list runtimes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-06-01 14:51] yonzhan commented on #13612
add to S172

[2020-06-01 14:56] yonzhan commented on #13773
webapp

[2020-06-01 14:57] yonzhan commented on #13772
functionapp

[2020-06-01 15:00] yonzhan commented on #13628
add to S172

[2020-06-01 15:20] grexofficial commented on #13731
I have the same issue!

[2020-06-01 15:30] nlksg commented on #13539
@yonzhan it has been resolved with
`pip uninstall prompt-toolkit`

[2020-06-01 15:30] #13539 closed

[2020-06-01 15:40] jluk commented on #13767
Thanks for logging this @AbelHu is this WI one you will own for resolution?

[2020-06-01 15:50] pardhasaradhireddy opened #13775 "Az webapp integartion failure with NonType, No attribute location"
Az webapp vnet Integration fails with nonType, no attribute location. It looks like a bug.

az webapp vnet-integration add -g myrsg -n mywebapp --vnet myvnet --subnet mysubnet
This command group is in preview. It may be changed/removed in a future release.
usage: az webapp vnet-integration add [-h] [--verbose] [--debug]
                                      [--output {json,jsonc,table,tsv,yaml,yam

[2020-06-01 15:52] jluk commented on #12723
Acknowledging this is an improvement on our backlog to fix to support size 0 user pools in CLI. This should be picked up soon.

[2020-06-01 16:06] XangoXCC opened #13776 "attempted an AZ Login --user-device-code against an azure Stack instance. Code generation worked. Copied Device code to webpage then the following error occurs in powershell window"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2020-06-01 16:55] SeanFeldman opened #13777 "Webapp:Retrieve webapp publishing profile as XML"
**Describe the bug**

Cannot retrieve webapp [publishing profile](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment?view=azure-cli-latest#az-webapp-deployment-list-publishing-profiles) as XML.

**To Reproduce**

Running the following
[code]

generates a JSON file, not XML.

**Expected behavior**

To be able to generate XML file, similar to what's generated in the portal when the `Get pu

[2020-06-01 17:23] #11876 closed

[2020-06-01 17:23] #13261 closed

[2020-06-01 17:23] #13690 closed

[2020-06-01 18:50] Michael-Coetzee commented on #13731
also have the same issue, please bring back --password switch again

[2020-06-01 21:10] jtuliani opened #13778 "az ad app permission admin-consent does not work from Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

Trying to use az ad app permission admin-consent. Works fine when installed locally. Does NOT work from Cloud Shell. Grr.

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informat

[2020-06-01 21:24] ggg333 opened #13779 "Cross Region Restore az cli"
Don't see the option for enabling the "Cross Region Restore" on azure cli. Is that something that will be added? or if its already there can someone point me in the right direction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27d97953-c8f5-32e0-f88b-9714b28b89f2
* Version Independent ID: c33a9ee8-4f89-31ce-799c-b5c4

[2020-06-01 22:47] subhasishdc commented on #12934
@MyronFanQiu : I opened a PR for refining the help message and adding examples - https://github.com/Azure/azure-cli/pull/13780

[2020-06-01 22:59] j-so commented on #13717
We have bumped our minCliCoreVersion to 2.3.1 to resolve compatibility issues, and users will need to upgrade az CLI to get our latest extension. Unfortunately, the error message is not clear about that.

If you want to use our older versions that are compatible with older az CLI versions, you can install the whl directly. i.e. `az extension add --source https://azurecliext.blob.core.windows.net/r

[2020-06-02 00:57] yonzhan commented on #13775
webapp

[2020-06-02 00:58] yonzhan commented on #13776
add to S171

[2020-06-02 01:00] yonzhan commented on #13777
webapp

[2020-06-02 01:04] yonzhan commented on #13778
@arrownj  please take a look

[2020-06-02 01:04] yonzhan commented on #13779
backup

[2020-06-02 01:57] sjwaight opened #13781 "az event-grid event-subscription list does not show all subscriptions"
**Describe the bug**
When using the following command with an Azure Storage Account not all subscriptions on the Account are included in the output.

az eventgrid event-subscription list --source-resource-id $resourceid

In my case I have a storage account that has a Logic App and Azure Function (Consumption Plan) subscription - both filtered for the BlobCreated Event.

Only the Logic App subscrip

[2020-06-02 02:34] yungezz commented on #13781
routing to appropriate team

[2020-06-02 02:36] yungezz commented on #13778
this is known Cloudshell issue caused by #11749. To workaround it, try `az login`.

[2020-06-02 02:36] yungezz commented on #13778
#11749

[2020-06-02 02:46] #13350 closed

[2020-06-02 02:53] haroldrandom commented on #13638
@ishaniGupta27 Is the feature added since API 2020-05-01? The swagger haven't got merged into master branch yet. Could you make sure the Azure:network-may-release be ready?

[2020-06-02 03:11] bim-msft commented on #13426
Closing it due to longtime inactivity, feel free to reopen it anytime if you need additional help.

[2020-06-02 03:13] bim-msft commented on #13426
Closing it due to longtime inactivity, feel free to reopen it anytime if you need additional help.

[2020-06-02 03:13] #13426 closed

[2020-06-02 03:14] bim-msft commented on #13166
Closing it due to longtime inactivity, feel free to reopen it anytime if you need additional help.

[2020-06-02 03:14] #13166 closed

[2020-06-02 03:14] bim-msft commented on #13167
Closing it due to longtime inactivity, feel free to reopen it anytime if you need additional help.

[2020-06-02 03:14] #13167 closed

[2020-06-02 03:14] bim-msft commented on #13017
Closing it due to longtime inactivity, feel free to reopen it anytime if you need additional help.

[2020-06-02 03:14] #13017 closed

[2020-06-02 03:15] bim-msft commented on #12328
Already delivered privately.

[2020-06-02 03:15] #12328 closed

[2020-06-02 03:41] jiasli commented on #13724
Duplicate of #11749

`400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token` is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-06-02 05:23] cm1x commented on #13517
Here is the execution with --debug

chris@Azure:~$ az storage account list -o table --debug
Command arguments: ['storage', 'account', 'list', '-o', 'table', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7fc43cb72e18>, <function OutputProducer.on_global_arguments at 0x7fc43c4197b8>, <function CLIQuery.on_global_argume

[2020-06-02 05:25] cm1x commented on #13517
I can confirm that after an "az login" the command works.

[2020-06-02 05:28] zhoxing-ms commented on #13056
@JeffinBao Sorry, I can't reproduce this problem in version 2.1.0. Could you reproduce this problem now? If you can, please add `--debug` to the original command and email the printed information to me~

[2020-06-02 05:54] jiasli commented on #12941
This is not only limited to Azure CLI but to Azure itself.

According to doc [View activity logs to monitor actions on resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/view-activity-logs):

If you need to retrieve activity logs for `GET` operations, you may create a support request in Azure Portal and a support engineer will gladly help you retrieve the informati

[2020-06-02 05:54] #12941 closed

[2020-06-02 06:35] Mounika-M776 opened #13784 "Issue about Listing the Non-compliant Resources for Management group scope"
Hi Team,

I'm looking for the AZ-CLI command for the Non-compliant resources list of the Management group scope. I was using the below cmd but it has the no. limit. Is there any possible way to list the huge no. of non-complaint resources for the particular scope?
az policy state list -m "Scope" --query "[?complianceState=='NonCompliant' && policyDefinitionName=='XXXX'].{ResourceID:resourceId,Reso

[2020-06-02 06:44] #13707 closed

[2020-06-02 06:50] zhoxing-ms commented on #12977
@EwertonJordao I can't reproduce this problem in both version 2.3.1 and the latest version (2.7.0) of CLI. Will this problem still occur in your side? (you can upgrade the CLI version and try again)
If so, please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-06-02 06:57] jsntcy commented on #13754
@yossi-y, do we also need remove `preview` for the commands that link/unlink cluster with workspace?

[2020-06-02 06:59] dedreira commented on #13717
thanks a lot for the workaround @j-so  😄

[2020-06-02 07:02] zhoxing-ms commented on #13422
@dsotomstecs Hi, there is no `--ues` parameter in command `az group delete`. You want to enter the `--yes` parameter, right?

[2020-06-02 07:12] #13517 closed

[2020-06-02 07:16] AbelHu commented on #13767
@jluk It is ok to assign to me.

[2020-06-02 07:30] j-so commented on #13717
We are now working on providing version 1.5.0 for users with az CLI <2.3.1 automatically with the az extension add command. I’ll update again once that is available.

[2020-06-02 07:30] yonzhan commented on #13784
add to S172

[2020-06-02 07:33] #13586 closed

[2020-06-02 07:38] Juliehzl commented on #13113
close the issue given there is no response for several days.

[2020-06-02 07:38] #13113 closed

[2020-06-02 07:40] zhoxing-ms commented on #13458
It seems the same issue as #13387

[2020-06-02 07:45] wahyuen opened #13786 "az managedapp create --tags not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When attempting to create a managedapp with the `--tags` parameter, we get the following error:
`Parameter 'tags' must be of type '{str}'`

Have tried variations of:
`'a=b'`
`"a=b"`
`'a'='b'`
`"a"="b"`
`{'a':'b'}`

**Command Name**
`az managedapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce

[2020-06-02 08:04] MyronFanQiu commented on #12901
@batanun Please take a look at `az network nsg rule create -h`. I think we have enough examples.

[2020-06-02 08:18] zhoxing-ms commented on #13518
In fact, this error is reported by Service, we need the service team to have a look~

[2020-06-02 08:18] srudin opened #13788 "Grant command not working"
I'm creating a new app registration:
`az ad app create --display-name $Name --oauth2-allow-implicit-flow $true`

Then I add the User.ReadBasic.All permission:
`az ad app permission add --id $BackendAppId --api "00000003-0000-0000-c000-000000000000" --api-permissions "e1fe6dd8-ba31-4d61-89e7-88639da4683d=Scope"`

It then shows the following message:
`Invoking "az ad app permission grant --id $Backe

[2020-06-02 08:35] zhoxing-ms commented on #10362
@brollb Could you please show me the specific parameters you used? And have you confirmed the existence of the path `/home/brbroll/current-target/inspection/lf-vs-human/labels`?

[2020-06-02 08:52] Juliehzl commented on #13749
@torres-roberto  You need to add `call` in each cli command.

[2020-06-02 08:53] MyronFanQiu commented on #12925
@ikantspel9 I have a test and `Percentage CPU` still works. Could you share more context about this issue?

[2020-06-02 09:47] MyronFanQiu commented on #12965
@nakamacchi Hi. Did you still meet this issue?

[2020-06-02 09:57] findemor commented on #9817
This issue is happening in our GitLab-ci DevOps pipelines and in my local setup.

`az cosmosdb check-name-exists --name ACCOUNTNAME`
Response:
`request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /providers/Microsoft.DocumentDB/databaseAccountNames/ACCOUNTNAME?api-version=2019-08-01 (Caused by ResponseEr

[2020-06-02 09:58] zhoxing-ms commented on #10868
@achandmsft This issue seems to help optimize error messages more accurately and recommend executable commands. This topic is similar to our recent OKR of optimizing error output. Do we have any plans for this topic in the near future?

[2020-06-02 10:09] TuoYe25 commented on #13760
Any updates @yonzhan ?

[2020-06-02 10:12] cocowalla commented on #7792
Another vote for fixing this. Azure CLI tries to ensure all commands are idempotent, so why not this one?

[2020-06-02 10:16] findemor opened #13792 "az cosmosdb check-name-exists too many 500 error responses"
## Describe the bug

**Command Name**
`az cosmosdb check-name-exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az cosmosdb check-name-exists --name dev-db-account-ms-esb`

## Expected Behavior

true or false is returned without error

## Environment Summary
[code]

[2020-06-02 10:41] MyronFanQiu commented on #13760
@tingtingq @TuoYe25  If possible, could you run the command with `--debug` to check the raw output? We didn't release any new version in the past week. Meanwhile, `az monitor metrics list` is a simple command and we didn't do much thing for it. It should be a service issue.

[2020-06-02 10:46] yonzhan commented on #13786
add to S172

[2020-06-02 10:51] yonzhan commented on #13788
@arrownj  please take a look

[2020-06-02 11:04] yonzhan commented on #13792
cosmosdb

[2020-06-02 12:56] TulyOpt commented on #8388
Hi, any update ?

[2020-06-02 13:39] OvervCW commented on #12209
@djsly That makes sense, thanks for the response.

[2020-06-02 13:39] #12209 closed

[2020-06-02 15:09] iluican commented on #7792
@cocowalla Thank you for your comment. We will take another look and get back to you with our assessment.

[2020-06-02 15:19] subhasishdc commented on #13599
@MyronFanQiu : Thanks for approving my PR https://github.com/Azure/azure-cli/pull/13780.

The example which has been added in the PR has the bug which is raised by this issue ( https://github.com/Azure/azure-cli/issues/13599 ). Will this bug also be fixed in the same release as the PR. I tried looking into the code for this bug but could not find the exact source of the --add parameter. The behavi

[2020-06-02 15:38] Jen7714 commented on #12358
Closing this since Jorge answered in the above response.

[2020-06-02 15:38] #12358 closed

[2020-06-02 16:46] weikanglim opened #13794 "winget install Microsoft.AzureCLI blocks install on hash verification failure"
**Describe the bug**
Installing Azure CLI through [winget](https://github.com/microsoft/winget-cli) currently shows warning due to hash verification failure on the downloaded installer.

**To Reproduce**
1. Install [winget](https://github.com/microsoft/winget-cli)
2. Run `winget install -e Microsoft.AzureCLI`.
[code]

A warning is displayed for the hash verification failing. If the user response w

[2020-06-02 16:47] weikanglim commented on #13794
Judging by the downloaded file, the download URL is pointing towards version 2.7.0, but the manifest of the `winget` is outdated and still uses 2.6.0.

[2020-06-02 17:27] prak2419 opened #13795 "az webapp list-runtimes error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-06-02 17:36] akancharla1 commented on #12346
I am facing same issue. Can some one help me to fix it ?

[2020-06-02 17:47] j-so commented on #13717
We have published the change. If you have az CLI version < 2.3.1, you should get az ml extension version 1.5.0 when using `az extension add -n azure-cli-ml`.

For updates, you will need to upgrade your az CLI version.

Thanks for the feedback!

[2020-06-02 18:04] voor commented on #12390
Still having this issue as well:
[code]

[2020-06-02 18:05] sinelshchikov commented on #12346
@akancharla1 ,
You can try to check if the keyvault has `--enable-soft-delete true` ,  `--enable-purge-protection true` and `--retention-days` are at least 90 days

[2020-06-02 18:27] anthonychu commented on #13772
@dmpe Can you please try adding `--functions-version 3` to your command and try again. By default, `az functionapp create` currently creates a Functions V2 app and V2 only supports Python 3.6 and 3.7. Thanks.

[2020-06-02 18:50] bablushaikh commented on #13553
Hi @yungezz i have used it in right manner and it is throwing back an error "az:Command group 'vm monitor metrics' is in preview. It may be changed/removed in a future release." this is in preview and i am not able to use it.

[2020-06-02 18:55] EwertonJordao commented on #12977
Ok, I'll send the email.
Thanks.

[2020-06-02 18:58] bablushaikh commented on #13553
@yungezz however i'm using **get-azmetric** cmdlet to pull the data but the " **timegrain**"  parameter is having an issue with "**storage accounts**" metrics type "**Used capacity**". i have taken time grain for 1day but it is throwing me an error for the cmdlet.

[2020-06-02 19:03] akancharla1 commented on #12346
@sinelshchikov ,
Keyvault has been setup with--enable-soft-delete true , --enable-purge-protection true and --retention-days are at least 90 days. Still Storage account updating is throwing me that error.

[2020-06-02 19:07] dedreira commented on #13717
@j-so thanks a lot! it's working again :)

[2020-06-02 19:07] #13717 closed

[2020-06-02 20:19] dmpe commented on #13772
Gotha, thank you. I am looking forward to having Functions V3 by default :)

[2020-06-02 20:52] MehaKaushik opened #13797 "[CosmosDB] MongoDB API doesn't support creation of fixed collections"
**Resource Provider**

**Description of Feature or Work Requested**
<Although the CosmosDB RP supports creation of fixed collections, CLI doesn't, which is an inconsistent behavior.>

**Minimum API Version Required**
<Current CLI>

**Swagger Link**

**Target Date**

[2020-06-02 20:55] MehaKaushik commented on #13797
Targeting [S171](https://github.com/Azure/azure-cli/issues/13797)

[2020-06-02 21:50] yungezz commented on #13797
set S171 milestone

[2020-06-02 21:51] yungezz commented on #13795
routing to appropriate team

[2020-06-02 21:52] yungezz commented on #13794
hi @fengzhou-msft could you pls help to check if the url updated automatically?

[2020-06-02 23:10] ernani commented on #10234
This is not working for me, it returns an empty value. I am trying to get the password for an SP tied to this app...

This is because the following command:

[code]

Fails with the following error:

**When present, application key identifier cannot be empty and can be at most 32 bytes.
Parameter name: applicationKeyIdentifierValue**

[code]

[2020-06-02 23:23] fastpolygon commented on #13352
@peturh This issue only seems to occur when executing `az container exec` from an Azure CLI task on an Ubuntu Agent.  These tasks succeed (or at least do not fail from an ioctl error) when run from a **vs2017-win2016** agent, which may serve as a workaround.

[2020-06-03 00:43] anthonychu commented on #13772
Because folks might be using the CLI for automation, we don't want their scripts to break by changing because we changed the default. So there's a good chance that the version will have to stay explicitly set. In hindsight, it probably should have been a required parameter.

[2020-06-03 01:37] TuoYe25 commented on #13760
Thanks @MyronFanQiu , in fact, a SR:120052123000836 had been raised to our Monitor team and with the collab from NetApp team, we can confirm that this is not a issue related to metric resource. One evidence is that @tingtingq was able to get normal result from another server.

@tingtingq ,could you please try the command with --debug and also provide us the CLI version used in the two servers? Tha

[2020-06-03 01:43] MyronFanQiu commented on #13760
@TuoYe25 Wait for debug information. This is strange. The last potential change for this command is about 2 months ago. We bump the dependency for monitor. But it should not have any impact for this command as well.

[2020-06-03 01:55] #10867 closed

[2020-06-03 01:56] #12152 closed

[2020-06-03 01:59] Juliehzl commented on #12346
@akancharla1 Could you share the debug information with `--debug` in your command?

[2020-06-03 02:03] MyronFanQiu commented on #13599
@subhasishdc Thanks for your contribution. 😄 This issue is a little bit complicated. `--add` is a generic argument exposed in most `update` command. This issue should be an edge case for original design. If you want and have time, you can take a look at this issue and I'm willing to provide any help you need. I've not figured out the root cause for this issue yet.

[2020-06-03 02:05] #13530 closed

[2020-06-03 02:13] MyronFanQiu commented on #12934
@agaponenko-incomm Looks like this is the same issue with #13599. Is it ok to close this one and we can discuss in #13599?

[2020-06-03 02:43] jiasli commented on #10234
Hi @ernani,

### Root cause and solution

As the error suggested,

Parameter name: applicationKeyIdentifierValue

The `--credential-description "my-rand-app-sp-pwd"` you are using is too long. It will be encoded as `"customKeyIdentifier": "//5tAHkALQByAGEAbgBkAC0AYQBwAHAALQBzAHAALQBwAHcAZAA="`. Please shorten it and try again.

### `az ad sp credential reset` is actually patching the application's

[2020-06-03 02:45] subhasishdc commented on #13599
@MyronFanQiu : I would love to help if I receive some guidance and direction on the correct approach from you. I am available on Microsoft Teams and my id is "schowdhuri@linkedin.com" (Full Name: Subhasish Dutta Chowdhuri). If you are okay, then we can discuss this on Teams.

[2020-06-03 03:46] zhoxing-ms commented on #12977
@EwertonJordao Hi, could you show me the debug level logs? If only the log information of info level is not specific enough.
Since I have used the CLI of 2.3.1 in multiple environments but I can't reproduce this problem, I would like to ask you two more questions:
1. What is your specific execution environment? PowerShell or CMD or something else?
2. Could you change to another automationaccounts

[2020-06-03 04:50] fengzhou-msft commented on #13794
Submitted a [PR](https://github.com/microsoft/winget-pkgs/pull/1520) to fix 2.6.0 and a [PR](https://github.com/microsoft/winget-pkgs/pull/1516) to add 2.7.0.

[2020-06-03 05:29] motycak opened #13800 "repeat command execution: az appconfig kv set-keyvault"
Describe the bug:
I need to rewrite (update) the vault reference from the powershell in the app configuration key.
When I run the command repeatedly:

az appconfig kv set-keyvault --name $appConfigurationName --key $keyAppConfiguration --secret-identifier $secretIdentifier --yes

Azure return:
az : This operation will result in overwriting existing key whose value is: {"uri":"https://xxxxxxxxx.vau

[2020-06-03 05:31] EwertonJordao commented on #12977
I found with --debug.

The parameter --uri-parameter use to query parameters and not to change values of a uri https://management.azure.com/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}?api-version=2019-10-01 i the document about az rest --uri-parameters
Space-separated queries in KEY=VALUE format or JSON string. Use @{file} to load from a file.

it's not clear what is uri-para

[2020-06-03 05:53] yonzhan commented on #13800
appconfig

[2020-06-03 06:12] zhoxing-ms commented on #12977
@EwertonJordao Thank you very much for your nice suggestion. My thoughts on this are as follows:
1. The specification of the existing `--uri-parameters` is not clear, we will modify the document to explain its usage in more detail and add some new examples for it. But we don't rename this parameter because it will cause a breaking change to the customers.
2. As for adding new parameters to support

[2020-06-03 06:27] qwordy commented on #12473
Close the issue for now. Open a new issue if there is any problem. Or you can still comment here.

[2020-06-03 06:27] #12473 closed

[2020-06-03 06:28] Juliehzl commented on #13728
Hi @Lloydkwena, you need to add `\` for `$`. Here you need to use `"\$web"` for source parameter.

[2020-06-03 06:30] qwordy commented on #12750
It's a tricky problem and I have not reproduced it. Close the issue for now. Open a new issue if there is any problem. Or you can still comment here.

[2020-06-03 06:30] #12750 closed

[2020-06-03 06:45] vaughanh1 commented on #13792
This is occurring in my terraform script with the same issue (only since yesterday morning, using GMT timezone). I did not do any version changes, it just stopped working. I am trying to create a cosmos DB and this check is performed by default before creation is possible. It tries for several minutes and then fails with the error above. A cosmos DB cannot be created using a terraform script, but

[2020-06-03 07:04] yossi-y commented on #13754
Yes.
We need to remove the preview comment from these commands:

  *   Cluster create/update (all updates)
  *   link/unlink cluster with workspace
  *   Link/unlink storage account to workspace

From: Yu Chen <notifications@github.com>
Sent: Tuesday, June 2, 2020 9:57 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Yossi Yossifon <yossiy@microsoft.com>; Mention <mention@noreply.github.c

[2020-06-03 07:09] #13593 closed

[2020-06-03 07:09] #13754 closed

[2020-06-03 07:11] jsntcy commented on #13570
Add the following explanation for linked services in CLI help:
“Linked services is used to defined a relation the workspace to another Azure resource. Log Analytics and Azure resources then leverage this connection in their operations. Example uses of Linked Services in Log Analytics workspace is Automation account and workspace association to CMK.”

[2020-06-03 07:11] #13570 closed

[2020-06-03 07:25] asranja opened #13801 "az login failure"
## Describe the bug

**Command Name**
`az login`

**Errors:**
While trying to login from the browser, I am getting the below error:

An error occurred
Please close and try again in a new window. Contact helpdesk if the issue persists.
Error details
Activity ID: bacd293e-0bd5-40c2-a954-9f0c9a546689
Error details: MSIS7007: The requested relying party trust 'urn:federation:microsoftonline.us' is uns

[2020-06-03 07:27] lilyjma commented on #10521
@Azure/aks-pm please take a look!

[2020-06-03 07:27] agaponenko-incomm commented on #12934
Do everything that helps you to resolve this issue. I'm the first who register this trouble and it's not obvious for me why you want to close my issue instead of duplicate.

[2020-06-03 07:30] yonzhan commented on #13801
add to S171

[2020-06-03 08:02] MyronFanQiu commented on #12934
Oh. glad to see you. 😄 Let's keep both issues.

[2020-06-03 08:15] palma21 commented on #10521
@jluk @robbiezhang

[2020-06-03 08:57] hjfitz opened #13802 "Unable to set IP Address Type with ACI"
**Describe the bug**
When attempting to deploy an Azure Container Instance to a Virtual Network, I am unable to set the IP Address Type to "Private" with the `--ip-address Private` flag.

**To Reproduce**
Run the following script:
[code]

**Expected behavior**
The container should deploy. Instead, I get the error message:
`IP Address type can't be public when network profile is set.`

**Environmen

[2020-06-03 09:16] YKJumper commented on #13792
I faced with the similar issue:

provider "azurerm" {
  version = "=2.12.0"

  subscription_id = var.azurerm_subscription_id
  tenant_id       = var.azurerm_tenant_id
  client_id       = var.azurerm_client_id
  client_secret   = var.azurerm_client_secret

  features {}
}

Terraform output:
...
...
module.identity.module.identity_management.azurerm_cosmosdb_account.cosmosdb_account: Still creating.

[2020-06-03 10:22] Ado77 commented on #10531
Hi All, I found I had this error when my password contained special characters such as @ or $ etc...

[2020-06-03 10:49] ahamad-MS commented on #13781
Thanks for reporting this issue @sjwaight   .. Can you please provide additional info for us to help investigate this issue:

1. Can you please provide us the out of az version (This allows us to determine if you are using GA'ed CLI or CLI extension).

2. If you not using Event Grid extension, will you be able to use latest CLI event grid extension (0.4.9)? and see if this repro the issue?

3. Can

[2020-06-03 10:50] yonzhan commented on #13802
container

[2020-06-03 11:13] feksai commented on #12152
@haroldrandom this fix is not part of 2.7.0 release?

[2020-06-03 11:15] haroldrandom commented on #12152
@feksai It's 2.7.0. Why said that? Next release will be at 06.17.

[2020-06-03 11:16] Pinox commented on #6142
please reopen this issue as I just installed the latest az cli version 2.7  and I get the same error :

az aks create: error: Incorrect padding

I copied the cli command directly from the Microsoft documentation.

my username also has a space to I suspect this is the same issue.

[2020-06-03 11:20] vaughanh1 commented on #13792
FYI: Using different versions of the Azure CLI makes no difference. Exactly the same error is provided every time, always after 7m30 elapsed.

[2020-06-03 11:23] feksai commented on #12152
I did not see anything related to CDN in 2.7.0 release notes https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#june-02-2020 . That is why I'm asking.

[2020-06-03 11:26] eliassal opened #13803 "Retrying role assignment creation: 1/36"
**Describe the bug**
I try to create a SP with the following command
az ad sp create-for-rbac --name TTapp1 --scopes $(az acr show --name $ACR_NAME --query id --output tsv) --role acrpull --query password --output tsv
I always get the following output which really can not be understood what does it mean!!
![RBAC](https://user-images.githubusercontent.com/8447864/83631835-74ba3e80-a59e-11ea-91f2-d9

[2020-06-03 12:12] yonzhan commented on #13803
@arrownj please take a look

[2020-06-03 12:14] haroldrandom commented on #12152
@feksai Which feature (PR) do you mean? So, I can check the merged date

[2020-06-03 12:17] eliassal opened #13804 "az ad sp create-for-rbac : password contains illegal characters"
**Describe the bug**
Creating a SP with create-for-rbac  generates a random password, such as
Mn*N7DAyZBw@6(TN^(xDT/w$zAf_:9EG

In some places, this password does not go through (for example in Azuredevops pipelines or releases)

Even when I try to login from powershell it does not go through (I changed appid and tenantid for security the password is the right one)

az login --service-principal -u

[2020-06-03 12:18] eliassal commented on #13803
hi yonzhan, take a look at what?

[2020-06-03 12:22] eliassal commented on #13804
Also, can you please tell me what is the az command to change the SP password? is it feasible? I udnerstand that we can do a reset but I am not sure if it is useful? I need to enter a legal password in my AzureDevops pipeline in order to make it go through. Here is the error when running the pipeline

[2020-06-03 12:23] KennethFelber commented on #13792
I've had this error for the last three days also.

[2020-06-03 12:24] eliassal commented on #13804
So it indicates "MissingEndParenthesisInExpression" because of the password

as it has an opening Parenthesis

[2020-06-03 12:51] yonzhan commented on #13803
@eliassal  assigned to look at your issue.

[2020-06-03 12:53] yonzhan commented on #13804
add to S171

[2020-06-03 13:17] eliassal commented on #13803
Oh thanks, I misunderstood

[2020-06-03 13:18] yonzhan commented on #13629
add to S172

[2020-06-03 13:32] yonzhan commented on #13637
add to S172

[2020-06-03 13:32] EwertonJordao commented on #12977
@zhoxing-ms thanks for all.

About documentation, I can help too make some samples with uri-parameter.

I think about it's work the same way of the other command --body or --uri when you define a @{json.json} read a file and change some values,, when we interact with azure resource manager API it's a good help because some times we make a logic for string builder of uri, with this feature won't re

[2020-06-03 13:35] yonzhan commented on #13657
add to S172

[2020-06-03 14:21] Sandido commented on #11219
@sirajudeens , please review Theo's comment above. This PR has to be made in the azure/azure-cli-pr private repository because the Swagger and SDK PRs you have already worked on are also in private repositories for this API work.

[2020-06-03 14:42] mohitmehau opened #13805 "Unexpected error az webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} --resource-group {} --plan {} --sku {} --location {}

[2020-06-03 15:27] claasnic opened #13806 "error running az interactive on windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-06-03 15:56] pvrk commented on #12789
@sengokyu : Closing this issue since we didn't get updates. Please feel free to re-open if there are more clarifications.

[2020-06-03 15:56] #12789 closed

[2020-06-03 16:10] rbankole opened #13807 "can't delete virtual node addon from aks. get error msg --The addon aciConnectorLinux is not installed."
Describe the bug
A clear and concise description of what the bug is.
Can't remove the virtual-node addon. exits with error message "The addon aciConnectorLinux is not installed."

To Reproduce
Steps to reproduce the behavior.

Create an AKS cluster, and enable the virtual-node.

Run az aks disable-addons --resource-group usnc-rg-aks-tools --name usnc-aks-tools --addons virtual-node
It returns "The

[2020-06-03 16:13] alsastre opened #13808 "CosmosDB: Cannot disable key based metadata write"
## Describe the bug
Following the documentation at: https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control#preventing-changes-from-cosmos-sdk
I tried to lockdown the cosmosdb but the cli failed with the following trace:
**Command Name**
`az cosmosdb update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2020-06-03 16:37] satish61 opened #13809 "error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-06-03 17:00] edsonharantes commented on #13569
I update the version of azure cli to 2.7.0 and the error persists

Also, there's a error message in the windows event viewer (application error).

![image](https://user-images.githubusercontent.com/7422540/83665936-87cf0d80-a5a2-11ea-9a6d-5c66315313fe.png)

[2020-06-03 17:02] lilyjma commented on #11617
@Azure/aks-pm please take a look!

[2020-06-03 17:11] lilyjma commented on #13266
@Azure/aks-pm please take a look!

[2020-06-03 17:12] lilyjma commented on #9080
@Azure/aks-pm please take a look!

[2020-06-03 17:19] rg54 opened #13810 "parameter "ssh-key-value" replacing instead of appendind"
Hello,

It seems to have an error in this section with parameter "--ssh-key-value" : it is described as appending the SSH public key in user ".ssh/authorized_keys"

But I've tested it today, with this syntax :
az vm user update -u [UserName] --ssh-key-value "[SSH public key]" -n [VM name] -g [RG name]

and in fact, this command have replaced public key value in ".ssh/authorized_keys"

Tested with

[2020-06-03 18:16] mkit commented on #9959
Is there a progress on this issue?

[2020-06-03 18:43] gtonello commented on #13191
Hey @clement128, I just found a **workaround** to deal with it.
In my case, I've creating a new container with a network that doesn't exists yet.
[code]
When finished, the output will give you the `networkProfile ID`.
The container instance is not necessary anymore, and you can delete it if you want.

I believe that there's an easy way to do that without the process to create a new virtual network

[2020-06-03 19:12] tejasshah7 opened #13811 "Support for IPGroups on Firewall policy"
**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**
There are 3 changes needed. Two of them are for following command:
az network firewall policy rule-collection-group collection rule add --collection-name
                                                                     --name
                                                                     --policy-name

[2020-06-03 20:18] saigutta commented on #13792
I am also facing this issue with same error.

[2020-06-03 20:21] fitzgeraldsteele opened #13812 "az vmss create NoneType error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to create a VMSS - not sure what the error is here
**Command Name**
`az vmss create`

**Errors:**
az vmss create: error: 'NoneType' object has no attribute 'split'

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2020-06-03 20:29] vaughanh1 commented on #13792
FYI. It is not related to a proxy server as I have the same problem when not behind a proxy.

[2020-06-03 20:33] shurd commented on #13792
Hi all thank you for opening this issue. We are tracking a fix with deployment ETA of today.

[2020-06-03 20:44] vaughanh1 commented on #13792
Seems it is being tracked here: [https://github.com/terraform-providers/terraform-provider-azurerm/issues/7173](url)

[2020-06-03 20:55] dmpe commented on #13772
OK, understand. Maybe an "important" section in the documentation could be created/highlighted somewhere. and func cli help page (`-h`) could reference it :)

[2020-06-03 22:38] panchagnula commented on #13427
@charlvdm101 az webapp up needs to run from the context of the query of the directory where the code to deploy is looks like you are running from DIR where you have Python is installed & since Az CLI uses python we cannot run webapp up in context of this. Can you please try from a different folder & check if you see the same issue? Thanks!

[2020-06-03 23:31] yonzhan commented on #13806
interactive

[2020-06-03 23:32] yonzhan commented on #13805
webapp

[2020-06-03 23:33] yonzhan commented on #13807
AKS

[2020-06-03 23:34] yonzhan commented on #13808
cosmosdb

[2020-06-03 23:34] yonzhan commented on #13809
Please share detailed command and related error info.

[2020-06-03 23:38] yonzhan commented on #13810
@qwordy please take a look

[2020-06-03 23:38] seanmck commented on #13636
Yes, if you create an AKS cluster with managed AAD, you can login via either SP or managed identity, using kubelogin:

https://docs.microsoft.com/en-us/azure/aks/managed-aad
https://github.com/Azure/kubelogin

[2020-06-03 23:38] #13636 closed

[2020-06-03 23:42] yonzhan commented on #13811
add to S172

[2020-06-03 23:44] yonzhan commented on #13812
@qwordy please take a look

[2020-06-03 23:50] moderakh opened #13814 "az storage blob upload fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload -f {} --name {} -c {} --auth-mode login` fails, complaining about the authentication.

however `az storage blob list --account-name {} -c runners --prefix {} --auth-mode login` works with no issues. as per documentation upload should also support auth-mode login.

**Err

[2020-06-04 00:04] yonzhan commented on #13814
add to S172

[2020-06-04 00:12] yonzhan commented on #13702
add to S172

[2020-06-04 00:13] yonzhan commented on #13704
add to S172

[2020-06-04 00:37] rg54 commented on #13810
I've tested and checked again, and I made a mistake the first time (two different accounts with only case differences in login). So the doc is OK, public keys are appended and not replaced.

Sorry for the inconvenience

[2020-06-04 00:37] #13810 closed

[2020-06-04 01:20] shenmuxiaosen commented on #13800
Hi, thanks for reporting the bug. We will have a fix to remove the unnecessary warning as we do ask for confirmation before setting the key vault reference (can be turned off by ```--yes```). As of now, if the warning is bothering you, you can try a global argument ```--only-show-errors``` to suppress the log level to error.

It will be something like
```az appconfig kv set-keyvault --name $appCon

[2020-06-04 01:41] donovanyng commented on #13283
The only reason i'm forcing the command to fail, is because it doesn't fail out on its own if the deployment spawns a 400 response code. So you're saying this is by design?

[2020-06-04 01:48] qwordy commented on #13812
Could you please add `--debug` parameter and paste the output here?
Something is unexpectedly None according to the error message.

[2020-06-04 01:50] jiasli commented on #13806
Duplicate of #12837

[2020-06-04 01:50] #13806 closed

[2020-06-04 01:51] zhoxing-ms commented on #12977
@EwertonJordao OK, thank you very much for the helpful suggestions. Welcome to provide us with the examples of `uri-parameter`, which we will probably refer to it ~

[2020-06-04 01:58] yungezz commented on #13809
hi @satish61 could you pls share error detail for investigation?

[2020-06-04 02:04] christiankuhtz opened #13817 "az account set has no option to define IsDefault"
**Is your feature request related to a problem? Please describe.**
Missing functionality. `az account set` does not have an option to specify the default subscription (set IsDefault), unlike PowerShell's Select-AzureSubscription command with the -Default parameter.

**Describe the solution you'd like**
support a `--default` flag for `az account set` to make it feature complete compared with PowerS

[2020-06-04 02:06] christiankuhtz commented on #13817
```% az account list -ojson```
A few accounts are skipped as they don't have 'Enabled' state. Use '--all' to display them.
[
  {
    "cloudName": "AzureCloud",
    "id": "00f9d365-3a02-4dfa-9d65-7fdbe445cd16",
    **"isDefault": false,**
    "name": "Visual Studio Ultimate with MSDN",
    "state": "Enabled",
    "tenantId": "0ff403d3-9d96-4b99-a5e3-b69792c95dce",
    "user": {
      "name": "chris

[2020-06-04 02:12] satish61 commented on #13809
This ticket can be closed. I opened it in another browser and it worked.

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Yunge Zhu <notifications@github.com>
Sent: Wednesday, June 3, 2020 8:58:41 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Satish Deo <satish@the-deos.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] err

[2020-06-04 02:13] JimKCode opened #13818 "az login doesn't take --only-show-errors"
The page says the global param --only-show-errors works with az login.  It does not.

az login --only-show-errors
az: error: unrecognized arguments: --only-show-errors
usage: az [-h] [--verbose] [--debug]
          [--output {json,jsonc,table,tsv,yaml,none}] [--query JMESPATH]
          {login} ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-04 02:35] jaishals opened #13819 "Application Gateway PrivateLink : CLI Support"
**Resource Provider**

Microsoft.Network

**Description of Feature or Work Requested**

The feature will enable customers to enable private link support on application gateway.
The feature needs a new child property of application gateway called PrivateLinkConfigurations which customers can configure.

Also a private link configuration can be associated with FrontendIpConfiguration on application

[2020-06-04 03:21] sireza opened #13820 "Unable to Add Network Rule to CosmosDb"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb network-rule add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- `az cosmosdb network-rule add --name {} --subnet {} -g {}`

## Expected Behavior

Network rule for th

[2020-06-04 05:01] #13562 closed

[2020-06-04 05:40] yungezz commented on #13817
hi @arrownj could you pls have a look?

hi @christiankuhtz can you pls try `az account set -s <subs_id>`?

[2020-06-04 06:03] ootuskaai commented on #6545
This approach is work for me .... thank you ..

[2020-06-04 06:13] ezYakaEagle442 opened #13823 "az storage container generate-sas --ip does not accept IP_RANGE"
[https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas)

[code]

The above command returns the error below :
az storage container generate-sas: error: argument --ip: invalid ipv4_range_type value: '176.134.171.0/24'

{

[2020-06-04 06:29] ezYakaEagle442 commented on #13823
it looks like AUTHORIZED_IP_RANGE="176.134.171.0-176.134.171.255" is accepted

[2020-06-04 06:30] ezYakaEagle442 opened #13824 "az storage container generate-sas expiry datetime not valid"
[https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas)

[code]
The above command returns the error below :
 az storage container generate-sas: error: argument **--expiry: invalid datetime_type value**: '2020-07-01T19:0

[2020-06-04 06:34] #13809 closed

[2020-06-04 06:36] yonzhan commented on #13818
add to S171

[2020-06-04 06:39] yonzhan commented on #13819
add to S171

[2020-06-04 06:40] yonzhan commented on #13820
cosmosdb

[2020-06-04 06:47] yonzhan commented on #13824
add to S172

[2020-06-04 06:48] yonzhan commented on #13823
add to S172

[2020-06-04 07:09] #12461 closed

[2020-06-04 07:21] FredrikEdenqvist opened #13825 "Unable to deploy simple web."
Running this course: https://docs.microsoft.com/en-us/learn/modules/develop-app-that-queries-azure-sql/5-exercise-connect-aspnet-to-azure-sql

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
WEBAPPNAME=educationapp-$RANDOM
az webapp up \
    --resource-group learn-***************************************** \
    --location centralus \
    --sku F1 \
    --name $WEBAPPNAME

##

[2020-06-04 09:13] yolalayouu commented on #13731
Same issue for me, the auto-generated password seems to work half the time.

[2020-06-04 09:29] ezYakaEagle442 opened #13827 "Unsupported API version '2020-04-01' for Network Resource. MS is fixing it."
**Describe the bug**

CLI 2.7.0 fails to run command az network vnet show

**To Reproduce**

[code]

**Expected behavior**

az network vnet show command should run successfully

**Environment summary**

 az version
{
  "azure-cli": "2.7.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.7.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}
}

[2020-06-04 09:33] yungezz commented on #13731
seems related to password generation, reassign.

[2020-06-04 09:37] ezYakaEagle442 commented on #13827
sudo apt remove azure-cli
sudo apt-get install azure-cli=2.5.1-1~bionic

This fixed the issue, looks like a regression in CLI v2.7.0 ...

[2020-06-04 09:47] yolalayouu commented on #9585
This issue is very time consuming, i need to launch my scripts several times for them to work

[2020-06-04 09:48] Smoovsky commented on #13827
Not just CLI, the portal also fails a lot of types of requests with the same error reason.

[2020-06-04 10:05] usrme commented on #13827
I am also having issues with deploying network type resources in _any_ region at the moment. This is not just an issue with the CLI. Posting this here is because I can't find any official page where this issue is discussed or mentioned.

[2020-06-04 10:19] techsaau commented on #13362
@djsly  Same response after using disable_browser flag:

The command failed with an unexpected error. Here is the traceback:

[WinError 193] %1 is not a valid Win32 application
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-7cl6xofh\knack\knack\cli.py", line 215, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-7cl6xofh\azure-cli-core\

[2020-06-04 10:24] ezYakaEagle442 opened #13828 "Cannot create network-rule for storage account Values for request parameters are invalid: networkAcls.ipRule[*].value"
**Describe the bug**

az storage account network-rule add command fails with error below :
Values for request parameters are invalid: networkAcls.ipRule[*].value. For more information, see - https://aka.ms/storagenetworkruleset

**To Reproduce**

[code]

**Expected behavior**

az storage account network-rule add command should run successfully

**Environment summary**

WSL
{
  "azure-cli": "2.5.1"

[2020-06-04 10:34] chencivalue commented on #13827
Same issue here:

Failed to add peering 'xxx'. Error: No registered resource provider found for location 'westeurope' and API version '2020-04-01' for type 'virtualNetworks'. The supported api-versions are '2014-12-01-preview, 2015-05-01-preview, 2015-06-15, 2016-03-30, 2016-06-01, 2016-07-01, 2016-08-01, 2016-09-01, 2016-10-01, 2016-11-01, 2016-12-01, 2017-03-01, 2017-04-01, 2017-06-01, 2017-08-0

[2020-06-04 10:35] usrme commented on #13827
Is anybody able to find any official mention of this underlying issue?

[2020-06-04 10:35] mortenlerudjordet commented on #13827
Have this issue. If you look at the supported api version the new one is not in the list.
`((Get-AzResourceProvider -ProviderNamespace  Microsoft.Network).ResourceTypes | Where-Object ResourceTypeName -eq networkProfiles).ApiVersions`

2020-03-01
2020-01-01
2019-12-01
2019-11-01
2019-09-01
2019-08-01
2019-07-01
2019-06-01
2019-04-01
2019-02-01
2018-12-01
2018-11-01
2018-10-01
2018-08-01
2018-07-01

[2020-06-04 10:41] usrme commented on #13827
@mortenlerudjordet, but if you try to just deploy a simple virtual machine in the Azure Portal, then that fails as well :smile:

[2020-06-04 10:45] Smoovsky commented on #13827
You can either use an older version of az-cli or fix the api version manually in the rest request. Let's hope MS fix this soon

[2020-06-04 11:37] JorTurFer commented on #13827
+1 when I try to recover an `publicIPAddresses`

[2020-06-04 11:39] yonzhan commented on #13825
webapp

[2020-06-04 11:50] usrme commented on #13827
Here are some potentially useful links about this:

- https://docs.microsoft.com/en-us/answers/questions/31974/cant-create-azure-virtual-machines-network-deploym.html
- https://status.azure.com/en-us/status

[2020-06-04 11:50] yonzhan commented on #13828
add to S172

[2020-06-04 12:00] yonzhan commented on #13827
add to S171

[2020-06-04 12:39] tomecho opened #13831 "Adding nic to address pool fails because of unsupported api version on azure api"
**Describe the bug**

`az network nic ip-config address-pool add \
    --resource-group jenkins-azure-vms \
    --nic-name "$(hostname)NIC" \
    --ip-config-name ipconfig1 \
    --address-pool /subscriptions/a3e26f48-3fab-4ced-a75e-2a39196e42ba/resourceGroups/jenkins/providers/Microsoft.Network/loadBalancers/jenkins-agents-alb/backendAddressPools/jenkins-agents \
    --subscription "Teacher Evalu

[2020-06-04 12:40] yonzhan commented on #13831
add to S171

[2020-06-04 12:58] MyronFanQiu commented on #13827
@ezYakaEagle442 Thanks for bring this issue to us. I believe service team and ARM team are actively fixing it. I'm sorry I changed your issue's title so that I can pin this issue.

[2020-06-04 13:01] timvanderweijde commented on #13827
I have the same issue with publicIPAddresses.

When can we expected a fix and is there a workaround?

[2020-06-04 13:02] MyronFanQiu commented on #13831
@tomecho service team is fixing it right now. The quickest way to unblock you is to install the old version of Azure CLI. Sorry for the inconvenience.
[code]
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-04 13:04] tomecho commented on #13831
Thanks!  That’s what we’ll do.

On Thursday, June 4, 2020, 9:03 AM, MyronFanQiu <notifications@github.com> wrote:

@tomecho service team is fixing it right now. The quickest way to unblock you is to install the old version of Azure CLI. Sorry for the inconvenience.
sudo apt remove azure-cli
sudo apt-get install azure-cli=2.5.1-1~bionic

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?

[2020-06-04 13:04] gstolz commented on #13827
same here with PIP! Hope there will be a solution soon...

[2020-06-04 13:05] MyronFanQiu commented on #13827
I believe this issue should be fixed soon.

A workaround is to use old version of Azure CLI. Please uninstall the 2.7.0 and install any older version. It uses 2020-03-01 api-version or before which are not effected.

[2020-06-04 13:32] timvanderweijde commented on #13827
Where can I find a MSI file for version 2.6.0? How do I install an older version? It's not described in the documentation.

[2020-06-04 13:41] MyronFanQiu commented on #13827
For Windows, please use this script in powershell to install previous version such as 2.6.0.
[code]

You can also download other older versions through
[code]
Sorry for the convenience.

[2020-06-04 13:43] jiasli commented on #13731
Similar as https://github.com/Azure/azure-cli/issues/13761. It is very likely some characters in the password are corrupting AKS, but we don't exactly know how and why.

This password itself doesn't have any issue with Bash and Azure CLI:

[code]

The password generation logic has been changed in https://github.com/Azure/azure-cli/pull/13643 only allowing punctuation of `-_.~`. Please update to th

[2020-06-04 13:48] Anbukugan opened #13832 "az storage account: 'blob-service-properties' is not in the 'az storage account' command group"
When I run this command it throws the following error

az storage account: 'blob-service-properties' is not in the 'az storage account' command group. See 'az storage account --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a18ea7d6-e13f-2ce2-3646-8d5fd7108d20
* Version Independent ID: 3af2621e-585c-11f4-d1ae-0c

[2020-06-04 13:51] sebastiaanvandesteeg opened #13833 "Support for Function App"
**Feature request:**
-Support for Function App in Event Grid Topics, at this point you cannot see nor create subscriptions manually created between Topics  and Function Apps with Azure CLI.  I would like to create these subscriptions from my command line instead of manually creating them and having to redo this for every Event Grid Trigger.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-04 13:51] pdev1989 commented on #13827
I get the same error:
Tried with the az-cli versions: 2.4.0 and 2.0.75.

Should I use 2.6.0 specifically ?

[2020-06-04 14:03] MyronFanQiu commented on #13827
2.4.0 should not have this issue. 2020-04-01 appears in 2.7.0 first time. Did you install multiple azure-cli in your machine? Could you confirm whether you removed 2.7.0 or not?

[2020-06-04 14:05] MyronFanQiu commented on #13827
The latest update for this issue is on this page. https://status.azure.com/en-us/status

[2020-06-04 14:09] RuthNjeri commented on #13827
Thanks for the help @MyronFanQiu , I am trying to figure out if there is a way I can specify an older version with this command for Ubuntu and Debian
`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

[2020-06-04 14:12] vganshin opened #13834 "The resource type 'loadBalancers' could not be found in the namespace 'Microsoft.Network' for api version '2020-04-01'."
## Describe the bug

**Command Name**
`az network lb list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network lb list`

## Expected Behavior

I expected to see the list of my load balancers.

## Environment Summary
[code]
## Additional Context

Did i understand correctly that

[2020-06-04 14:26] MyronFanQiu commented on #13827
Hi. Installation method for old version in any platform can be found from [here](https://github.com/Azure/azure-cli/issues/13331#issuecomment-635446175)

[2020-06-04 15:06] yonzhan commented on #13833
eventgrid

[2020-06-04 15:40] nidhyn commented on #11017
@c-mccutcheon  @cjmcewan no luck so far.

[2020-06-04 16:04] fengzhou-msft commented on #13794
The latest version on winget is now 2.7.0.

[2020-06-04 16:04] #13794 closed

[2020-06-04 16:37] plzm opened #13835 "az policy definition create fails with "APIVersion 2019-09-01 is not available""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy definition create --name {} --display-name {} --de

[2020-06-04 17:36] manisha10992 opened #13836 "unable to use azure aks command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-06-04 17:56] iyerusad commented on #12090
Little more cross platform
(relies on `--query` to parse, `--out` to get string without quotes -- basically no need for jq or sed [[ref](https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli?view=azure-cli-latest)])
[code]

[2020-06-04 17:57] iyerusad opened #13837 "Webapp:az webapp create - Example for different RSgroups for Plan and WebApp"
`az webapp create` examples should show example for creating a WebApp in a App Service Plan that is in a different resource group. This information is currently buried in a issue board (https://github.com/Azure/azure-cli/issues/12090)

This is achieved by fetching ID of App Service Plan and providing that for the `-p/--plan` var:
[code]

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-06-04 18:02] gstolz commented on #13827
Microsoft has fixed the problem on Azure backend side. For me az cli 2.7.0 (on Ubuntu 20.04) seems to work again!

PRELIMINARY ROOT CAUSE: Engineers determined that a recent deployment contained a configuration bug, which caused requests through the ARM deployment and management service to fail.
MITIGATION: Engineers rolled back the faulty configuration safely, which mitigated the issue.

[2020-06-04 18:13] simondevolutions commented on #9804
I would like to add that this is a critical feature for us too. We have websites with hundreds of bindings and in the current situation, renewing our wildcard certificates might be really painful if we need to update binding one by one in the portal.

[2020-06-04 18:24] shurd commented on #13792
As noted in that issue, the fix was deployed yesterday.

[2020-06-04 18:24] #13792 closed

[2020-06-04 18:55] holylander commented on #7925
Just fyi, this command may only be needed in certain scenarios.. For instance, if you are adding API permissions related to the `Sharepoint API`, you dont need to run this.

On the other hand, right after running `az ad app permission add ...` you will get a hint of which other command you may need to run

[2020-06-04 19:00] rachel-msft commented on #13297
@fabiendelpierre Our apologies for the inconvenient experience. We initially intended the full rollout to happen shortly after we released the CLI. However, that plan was interrupted causing the large time gap between the presence in the CLI and the functionality.

[2020-06-04 19:00] #13297 closed

[2020-06-04 19:49] avbhaskar opened #13838 "az ad command group for role is missing"
command group for managing ad roles is missing from Azure CLI.  It would be really useful to have a command group like so:
<h1>az ad role: Manage Azure AD roles </h1>
<h2>commands:</h2>
list: List of roles in in Azure Active Directory
create: Create a custom role in Azure Active Directory
delete: Delete a custom role in Azure Active Directory
enable: Enable in Azure Active Directory
show: show det

[2020-06-04 19:56] shurd commented on #13820
Hi @sireza thank you for opening this issue. I was able to reproduce this error, but only by targeting a non-existent account. Can you please ensure that the resource group name and the account name are correct?

We are working on providing a more useful error message, and I will provide more information once we have a target timeline.

[2020-06-04 19:57] shurd commented on #13808
Hi @alsastre thank you for opening this issue. I was able to reproduce this error by targeting a non-existent account. Can you please ensure that the resource group and account name are correct? We are working on fixing the error message in this case, and I will update once we have a timeline for the fix.

[2020-06-04 20:11] panchagnula opened #13839 "Add support for static webapps"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-04 20:13] panchagnula commented on #13839
@ElleTojaroon working on this.

[2020-06-04 20:16] shilpasharmaAM commented on #10116
Closing this issue for now. Feel free to reactivate if you have data to share with us.

[2020-06-04 20:16] #10116 closed

[2020-06-04 23:25] yonzhan commented on #13835
add to S172

[2020-06-04 23:27] yonzhan commented on #13836
AKS

[2020-06-04 23:28] yonzhan commented on #13837
webapp

[2020-06-04 23:29] #13827 closed

[2020-06-04 23:42] yonzhan commented on #13838
@arrownj please take a look

[2020-06-04 23:43] yonzhan commented on #13839
webapps

[2020-06-05 00:03] UmairSyed commented on #7417
I am trying to add 10.141.130.0/24 to keyvault firewall but i am also getting an error
Invalid value found at properties.networkAcls.ipRules[3].value: 10.141.131.0/24 belongs to forbidden range 10.0.0.0–10.255.255.255 (private IP addresses).
Please note that I was using this cidr for an NIC/VM and I have just deleted it so it must be free to use now.

[2020-06-05 01:40] yungezz commented on #13838
hi @arrownj  pls evaluate the work and let's sync.

[2020-06-05 01:41] yungezz commented on #13837
hi @iyerusad do you need a more clear doc on this?

[2020-06-05 01:42] yungezz commented on #13836
hi @manisha10992 could you pls share error you met and repro steps? currently the bug description has nothing for investigation.

[2020-06-05 01:44] palma21 commented on #13266
Thanks folks anyone adventures a PR to fix it?

Otherwise adding @wenwu449 to add to the backlog

[2020-06-05 01:50] jiasli commented on #13331
I think we need to put this information in the implementation of https://github.com/Azure/azure-cli/issues/13653.

[2020-06-05 01:53] Juliehzl commented on #13832
@Anbukugan To use `blob-service-properties` , you need to make sure the installed azure cli >= 2.0.78. If your azure cli version is out-of-date, please update it according to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.

[2020-06-05 01:56] MyronFanQiu commented on #13834
This issue should be fixed. Please have a try.

[2020-06-05 01:56] #13834 closed

[2020-06-05 01:57] MyronFanQiu commented on #13831
This should be fixed. Please have a try.

[2020-06-05 01:57] #13831 closed

[2020-06-05 01:58] jiasli commented on #13653
Some customers have already filed requests for this instruction at https://github.com/Azure/azure-cli/issues/13331, https://github.com/MicrosoftDocs/azure-docs-cli/issues/1954, https://github.com/Azure/azure-cli/issues/13827#issuecomment-638849717, https://github.com/Azure/azure-cli/issues/13827#issuecomment-638873741.

https://github.com/Azure/azure-cli/issues/13827 is a very strong evidence show

[2020-06-05 02:14] bvliu commented on #9495
Hi, after running the following `az vm create` on az version 2.7.0, I still see the warning "When specifying an existing NIC, do not specify accelerated networking. Ignore --accelerated-networking now. This will trigger an error instead of a warning in future releases." even though the command I'm giving doesn't specify --accelerated-networking.

[code]
I've copied setup steps directly from https:

[2020-06-05 02:20] Juliehzl commented on #13828
Hi@ezYakaEagle442, it is because the ip address you provided is not valid. Only public internet IP addresses is allowed here.

[2020-06-05 02:21] Juliehzl commented on #13828
For more information, please see https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-an-internet-ip-range.

[2020-06-05 02:22] #13828 closed

[2020-06-05 02:39] Juliehzl commented on #13823
You are right for the usage and its current supported ip range type. `-` should be used to specify the ip range.
And we cannot change current argument value for `--ip` because it will cause breaking changes to users. Sorry for inconvenience.
And I  will close the issue and if you still have problem, feel free to reopen it and find me for help.

[2020-06-05 02:47] Juliehzl commented on #13823
We will refine the error message for easy usage.

[2020-06-05 03:39] MyronFanQiu commented on #13043
@vbrinza Hi. `--resource` could accept name when you input both `--resource-group NAME --resource-type TYPE [--resource-parent PARENT] [--resource-namespace NAMESPACE]`. Please check the error message.

[2020-06-05 03:44] asranja commented on #13801
@yonzhan @qianwens Any pointers here will be highly appreciated.

[2020-06-05 03:57] zhoxing-ms opened #13840 "Support rehydration priority setting for storage acount blob"
Customer feedback requires to support the setting of rehydration priority for the storage blob in the CLI.

According to the rest API and parameters provided by @blueww that need to be supported:
1. https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob `x-ms-access-tier`, `x-ms-rehydrate-priority`
2. https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob `x-ms-access-tier

[2020-06-05 04:48] zhoxing-ms opened #13841 "Support rehydration priority setting for storage acount blob In Track 2"
Customer feedback requires to support the setting of rehydration priority for the storage blob in the CLI.

According to the rest API and parameters provided by @blueww that need to be supported:
1. https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob `x-ms-access-tier`, `x-ms-rehydrate-priority`
2. https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob `x-ms-access-tier

[2020-06-05 06:04] yonzhan commented on #13801
This issue was planned in this Sprint. @qianwens will help you.

[2020-06-05 06:18] yonzhan commented on #13840
add to S171

[2020-06-05 06:18] yonzhan commented on #13841
add to S171

[2020-06-05 07:07] #12905 closed

[2020-06-05 09:38] zoomout opened #13846 "az aks get-credentials throws KeyError: 'clusters'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-06-05 09:46] mohoff commented on #9585
Same issue with

[code]

[2020-06-05 10:41] yonzhan commented on #13846
aks

[2020-06-05 10:51] Wwwsylvia opened #13847 "`az acr login --expose-token` should throw error if username or password is specified"
**Describe the bug**
When a username or password is specified, the `az acr login --expose-token` returns a invalid result.

**To Reproduce**
`az acr login -n myregistry -u test -p test --expose-token`

![image](https://user-images.githubusercontent.com/8113721/83867653-5a2dc400-a75c-11ea-906a-30000bc35e5b.png)

**Expected behavior**
Throw error and output a warning if username or password is speci

[2020-06-05 10:52] Wwwsylvia commented on #13847
I will fix this.