[2022-04-04 09:46] constantine1998 commented on #14881
Delete the  /users/your-user-name/.Azure directory and reinstall Azure cli from [docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli](url) It works.

[2022-04-04 10:24] navba-MSFT commented on #19299
@carsv Apologies for the late reply. I wasn't able to reproduce the issue related to 404. Could you please let me know if you need any assistance on this ? Awaiting your reply.

[2022-04-04 10:32] luoanabecher opened #21925 "Not able to allow the SP to access your Azure Machine Learning workspace: __init__() got an unexpected keyword argument 'async_persist'"
**Describe the bug**
Running https://docs.microsoft.com/en-us/azure/machine-learning/how-to-setup-authentication#code-try-5 to create a SP for AML workspace.

**To Reproduce**
az ad sp create-for-rbac --sdk-auth --name ml-auth --role Contributor --scopes /subscriptions/<subscription id>
az ad sp show --id your-client-id
az ml workspace share -w your-workspace-name -g your-resource-group-name --use

[2022-04-04 10:42] navba-MSFT commented on #20581
@cizra Apologies for the late reply. Could you please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)of AzCLI and let me know if you still see this issue. Awaiting your reply.

[2022-04-04 10:45] navba-MSFT commented on #19776
@sanjaydebnath Could you please let me know if you had a chance to follow the above suggestion ? Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-04-04 10:47] Candelit commented on #21724
Hi, an accurate observation. But why should CLI support less than what can be done in the portal or using PowerShell?
There is not any article that states this, I had to spend a lot of time trying before I got to this error message, maybe I should just drop it there and let everyone else make the same journey, but I'm still hopeful, that Microsoft can fix it for us as it is possible in both the po

[2022-04-04 10:57] navba-MSFT commented on #19426
@Olusoladeboy Apologies for the late reply. I couldn't reproduce this issue using most recent version of AzCLI. Could you please use the [most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and then test again ? Awaiting your reply.

[2022-04-04 11:20] Mahelita commented on #21664
I have been pointed to the solution by a MS support engineer!
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files#where-to-save-input-files
Simply specify the files to ignore in a .gitignore or .amlignore file :-)

[2022-04-04 11:37] navba-MSFT commented on #19906
@zlb323 Apologies for the late reply. Could you please follow the above suggestions and let me know if you still face this issue ? Awaiting your reply.

[2022-04-04 12:09] yonzhan commented on #21924
route to CXP team

[2022-04-04 12:11] vladbresan commented on #21924
After digging a little deeper, I have found out that if your custom service account's token name exceeds the 63 char limit, the secret base64 encoding is going to be longer than the limit (which is 2000 chars).
As a workaround, I believe that your service account name length should be:
**serviceAccountNameLength <= 51**

I came up with 51 because the token name will be appended with "-token-xxxxx"

[2022-04-04 12:13] jiasli commented on #21857
The focal package is never compatible with jammy. Many commands will fail due to incompatible binary files.

This is because jammy hasn't been officially released yet. We will support it once it is officially released.

[2022-04-04 12:30] jiasli commented on #21376
@elqian, this is because the certificate you used is not added to the **Certificates & secrets** setting of the service principal.

For example, when no certificate is added to a service principal:

![image](https://user-images.githubusercontent.com/4003950/161543876-04639012-2643-4d9d-8835-40844510f5bb.png)

Logging in with a certificate will result in error:

[code]

[2022-04-04 12:38] jiasli commented on #21922
Currently, `az ad sp` still calls AD Graph, which means it uses AD Graph permissions which is hard to be assigned using GUI (https://github.com/Azure/azure-cli/issues/19818).

If you do want to know,

- For delegated permission, it requires Application.ReadWrite.All
- For application permission, it requires Application.ReadWrite.OwnedBy, or Application.ReadWrite.All

We are currently migrating to

[2022-04-04 12:56] navid-ahrary opened #21926 "Error raised"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2022-04-04 12:58] lilumdaru opened #21927 "Cli command outdated to assign identity to function?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I used this tutorial: https://github.com/MicrosoftLearning/AZ-220-Microsoft-Azure-IoT-Developer/blob/master/Instructions/Labs/LAB_AK_19-azure-digital-twins.md#task-1---create-and-configure-a-function-app

In Exercise 6, Task 1, Step 3 executing

led to:

**Command Name**
`az functionapp identity assign`

**Erro

[2022-04-04 13:32] Kotasudhakarreddy commented on #20625
@panchagnula I have reported this to the portal team through support request option from [portal.azure.com ](portal.azure.com)

[2022-04-04 13:46] knickfan7 commented on #21904
Hey @jsntcy I was able to fix the issue. I didn't realize I was not supposed to use the ARM template that was exported from the left sidebar option,.

[2022-04-04 15:55] dweverett commented on #21909
Thank you! Deleting "/home/<username>/.azure/cliextensions/ssh" and running "az extension add --name ssh" resolved my issue.

I wasn't sure if running "az extension add --name ssh" was required or not.  This guidance is not discussed in Step 2 under the "Azure AD" section of this doc (https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows#connect-linux), its only discussed un

[2022-04-04 16:00] aavalang commented on #21909
ssh extension is required for the bastion operation. I know there were some breaking changes in SSH extension to get the token for which we had made change. Looks like you had latest cli core but ssh extension wasnt latest. 1.0.1 or later of ssh extension should fix this issue.

[2022-04-04 16:19] #17624 closed

[2022-04-04 17:43] kangsun-ctrl commented on #21815
@jepio  the EULA requirement comes from CELA team, and we were asked to implement it like third party marketplace images. Actually this is not the proper thread to discuss this, please sent email to sigpmdev@microsoft.com for further discussion.

 So the community gallery image users, they just check out gallery publisher info to see whether it is a trust source. We are not relying on 'plan inform

[2022-04-04 19:13] shekhag commented on #20388
This fixed my issue! Thank you!

[2022-04-04 23:28] Andycharalambous commented on #16673
I just tried running an application with a SIGINT and SIGTERM handler via azure-aci virtual node in AKS (ie it runs a kubernetes pod on ACI). I then terminated the pod via the kubectl CLI and checked out the logs in Azure Monitor, and saw the handler run but all my shutdown "work" was not executed - it seemed like SIGTERM or SIGINT was sent, followed by an immediate SIGKILL, not giving the contain

[2022-04-05 00:07] Christopher-Balnaves commented on #20231
For anyone who deleting the .azure folder doesn't work for, have a look at this discussion: https://github.com/AzureAD/microsoft-authentication-library-for-python/discussions/446.

Re-synchronising my machine time solved my login issue.

[2022-04-05 00:50] Andycharalambous commented on #16673
Even simpler experiment using a tiny rust app with a SIGINT handler, stopped via portal UI interface.

![image](https://user-images.githubusercontent.com/627969/161656340-54b029cd-421b-4a18-a493-3b8a4ec80d0a.png)

I also tried with SIGTERM, same result. Should write out that it received the INT or TERM signal and then block for 20 seconds before finally printing out a "done" message and exiting.

[2022-04-05 01:04] yonzhan commented on #21926
route to CXP team

[2022-04-05 01:05] yonzhan commented on #21927
route to CXP team

[2022-04-05 01:08] #21909 closed

[2022-04-05 05:01] navba-MSFT commented on #21925
@luoanabecher Thanks for reaching out to us and sharing this feedback. Could you please upgrade your ml extension and check if that helps ?

Also if you have downgraded the AzCLI version, please upgrade it again to the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Then test again with your above command.

Similar issue: https://github.com/Azure/azure-cli/issu

[2022-04-05 06:25] navba-MSFT commented on #21926
@navid-ahrary Thanks for reaching out to us and sharing this feedback. I wasn't able to reproduce this issue. You are using a pretty old version of AzCLI. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of the AzCLI and then test again ? Awaiting your reply.

[2022-04-05 06:26] navid-ahrary commented on #21926
You are right, I installed with pip latest version and issue resolved. Thanks

[2022-04-05 06:28] navba-MSFT commented on #21926
@navid-ahrary Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-05 06:28] #21926 closed

[2022-04-05 06:37] navba-MSFT commented on #21905
@zaidmohd Apologies for the late reply. Thanks for reporting the issue and sharing the feedback. Could you please let me know the AzCLI version you are using? Also please run the same above command with the parameter `--debug ` while running the same above command. Awaiting your reply.

[2022-04-05 07:59] eliasarellano commented on #21898
any tip for that?

[2022-04-05 08:39] j0rd1smit commented on #21885
I fixed it. It was my bad. I had a folder named logging in my home dir, and python was importing this directory instead of the logging module.

[2022-04-05 08:39] #21885 closed

[2022-04-05 08:49] jballe opened #21929 "Login issue"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --verbose`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-04-05 09:08] jaianshu12 commented on #21781
Hello MSFT Service team,
Do you have any update on this?

[2022-04-05 09:27] navba-MSFT commented on #19968
@Konnor5092 Apologies for the late reply. Could you please let me know if you had to chance to look at the suggestions in the above comment? Awaiting your reply.

[2022-04-05 09:41] tbuchi888 opened #21931 "Example of port bind in `az network bastion tunnel` is a privileged ports."
[Enter feedback here]

`az network bastion tunnel --name MyBastionHost --resource-group MyResourceGroup --target-resource-id vmResourceId --resource-port 111 --port 222`

Hi ,
In Mac and Linux-based OS, BInd to privileged ports (so-called Well-Known Ports: 0-1023) requires root privileges when executed by a not root user, as shown below, and therefore, if you do not execute the command by sudo, a

[2022-04-05 09:43] navba-MSFT commented on #20020
@jaysterp Apologies for the late reply. Could you please let us know if you are still seeing the same issue after upgrading your CLI version ? Awaiting your reply.

[2022-04-05 09:44] navba-MSFT commented on #20475
@MathieuBeaudoin Apologies for the late reply. Could you please let us know if you had a chance to upgrade your CLI version and check if you are still seeing the same issue ? Awaiting your reply.

[2022-04-05 09:57] kalfilla opened #21932 "az login error: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Can't login

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment S

[2022-04-05 10:15] chakra146 opened #21933 "unable to run az cli commands: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss show -g {} -n {}`

## Expected Behavior

## Environment Summary
[co

[2022-04-05 10:31] navba-MSFT commented on #21541
@tinwa0007 Apologies for the late reply. This looks like a bug. Verizon BYOC doesn’t support auto rotation yet. This is applicable for Microsoft CDN SKU only. I have got an update from the Product owners about the plan to release a fix in CLI or at the Resource Provider level to block such requests. No ETA on the fix yet. Please let me know if you have any queries on this.

[2022-04-05 10:48] pci7 commented on #21644
Hi @SatishBoddu-MSFT ,
in this week I'll try to open a support ticket and forward to you!

Thank you so much!!

[2022-04-05 11:04] jballe commented on #21929
oh maybe it is similar to https://github.com/Azure/azure-cli/issues/20231
I have removed in %USER%\.azure the profile and credentials related files, and then I was actually able to login.

[2022-04-05 11:04] #21929 closed

[2022-04-05 11:57] undergroundwires opened #21934 "Add `--use-auth-code` flag to force auth code without browser"
Add `--use-auth-code` flag to trigger auth code authentication flow even on computers without detected browsers. Today, the only way to trigger it is to have a [browser installed](https://github.com/Azure/azure-cli/blob/d331edf76e5866cda1e6e9641d935256fc4f03ff/src/azure-cli-core/azure/cli/core/_profile.py#L155) but this option would just print out URL instead of opening a tab in browser.

**Is you

[2022-04-05 13:01] oldking139 opened #21935 "Cannot login to AzureChinaCloud"
## Describe the bug

I am trying to login to AzureChinaCloud through powershell, after I login in browser(browser shows login successful), terminal gives an error message:
(I have set the region to AzureChinaCloud by using `az cloud set -n AzureChinaCloud`)
AzureCLi version: 2.34.1 [installed through MSI file from Microsoft]

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps

[2022-04-05 13:11] MathieuBeaudoin commented on #20475
I just tried it again, it seems to work. Thank you.

[2022-04-05 13:20] florentpln commented on #21540
Ok, thanks. You are right restarts does not overwrite java version.

Minor versions on settings does not work on "az create" command.

I was however able to use minor version on devops pipeline, using something like:
- task: AzureWebApp@1
  displayName: 'Azure Web App Deploy'
  inputs:
    azureSubscription: MY_SUBS
    appType: webAppLinux
    appName: MY_APP_NAME
    package: MY_PACKAGE
    runt

[2022-04-05 13:28] huf1 opened #21936 ""az monitor log-analytics workspace show" returns case-insensitive id property"
**Describe the bug**
The "az monitor log-analytics workspace show" command returns the id property case-insensitive

**To Reproduce**
run this command to reproduce:
az monitor log-analytics workspace show -n <your_workspace_name> -g <your_resource_group_name>

**Expected behavior**
The id property should show the "static" parts of the string case-sensitive (e.g. ../resource**G**roup/.. or ../**M**

[2022-04-05 13:36] joergjo opened #21937 "GA of "az account alias""
Hi,

is there are timeline when the command group `az account alias` will become GA?

It's currently marked experimental, but it is required when programmatically creating subscriptions (https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=azure-cli) using the latest APIs.

[2022-04-05 13:53] meck93 commented on #18338
Hi @abbeycode

We had a similar issue and fixed it by providing the full name of the docker image. Meaning we added the name of the registry before the name of the image and tag:
[code]

Hope this helps!

[2022-04-05 13:55] LotteVoorhorst opened #21938 "Az afd rule create error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Error occurs when choosing 'OriginOverride' as the action-name.

**Command Name**
`az afd rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az a

[2022-04-05 13:55] raja7592 commented on #16880
Hi  @andmck1,
I could not repro this issue, for me ML CLI extension was installed  successfully.
I have used the same docker file provided above in the issue and build it using progress plain option so that I can do "az login". Then I have bashed inside the image, I can see extension was added there.

[2022-04-05 13:57] meck93 opened #21939 "az webapp config container set: make option --docker-custom-image-name documentation more explicit"
We had a similar as the author of the following issue: https://github.com/Azure/azure-cli/issues/18338#issuecomment-1088732643

It would be great if there could be an example of the `--docker-custom-image-name`. For example, as shown below by appending `(e.g., <registry-name>/<image-name>:<tag>)`.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-04-05 14:04] yonzhan commented on #21939
route to CXP team

[2022-04-05 14:05] yonzhan commented on #21938
route to CXP team

[2022-04-05 14:05] yonzhan commented on #21937
@jiasli for awareness

[2022-04-05 14:06] yonzhan commented on #21936
monitor

[2022-04-05 14:07] yonzhan commented on #21935
@jiasli for awareness

[2022-04-05 14:10] yonzhan commented on #21933
compute

[2022-04-05 14:41] dtupy commented on #21751
any update here? @RakeshMohanMSFT @t-bzhan

[2022-04-05 15:08] piyushsh opened #21940 "az vm create : Invalid base64-encoded string: number of data characters (17) cannot be 1 more than a multiple of 4"
As I am trying out to create new VM using azure CLI, it is throwing error in my bash and command window as shown below
[code]

Steps:
1. Logged in to my account using `az login`
2. Trying to create vm using `az vm create --resource-group "learnVMResourceGroup" --name "learnVM" --image UbuntuLTS --admin-username "learnadmin" --generate-ssh-keys`

Azure CLI Version : 2.34.1

[2022-04-05 16:10] Azrrael commented on #6613
Hi there. With:
`$ az version
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-devops": "0.24.0"
  }
}
`
this is still happening.

[2022-04-05 17:09] jaysterp commented on #20020
Hello @navba-MSFT, I am from the container registry service team. @longkb can you confirm that upgrading the CLI to latest resolved this issue?

[2022-04-05 18:20] SaurabhSharma-MSFT commented on #21940
@piyushsh We are looking into it and get back to you for any additional information.

[2022-04-05 18:27] SaurabhSharma-MSFT commented on #21765
@ajaydevtron We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-05 18:27] #21765 closed

[2022-04-05 18:33] SaurabhSharma-MSFT commented on #21613
@Sharan441 Sorry for your inconvenience, it’s a bug which will be fixed in the next release (tentatively around 04-26). Also, I have provided an alternative solution over internal call.  Providing the workaround over here for others -
[code]
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-05 18:33] #21613 closed

[2022-04-05 18:58] oobaro opened #21943 "az webapp config backup create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config backup create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp config backup create -g {} --webapp-name {} -s {} --backup-name {} --container-url {} -

[2022-04-05 19:17] fberson commented on #21898
I seem to be running into this issue as well. Any updates?

[2022-04-05 20:35] seligj95 commented on #21573
@jhonnatanpb - We have the following CLI commands that set this:

`az webapp config set --vnet-route-all-enabled`

`az functionapp config set --vnet-route-all-enabled`

Closing this issue as this should cover the ask. Feel free to reach out with any additional questions.

[2022-04-05 20:35] #21573 closed

[2022-04-05 22:07] v-smeadows commented on #21670
The CX provided me with this information:

I'm not sure how you were able to determine what my local azure-keyvault package is because when I do a version command I don't see it:
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-iot": "0.10.13",
    "costmanagement": "0.1.1"
  }
}

However, I did find this Azure GitHub repo abou

[2022-04-05 22:36] yonzhan commented on #21940
compute

[2022-04-05 22:57] nwohlgemuth opened #21944 "az acr import can leave an image tag in ACR in an inconsistent state"
**Describe the bug**
When az acr import is called for an image by tag (and the image pointed to for import actually exists), the result of the operation can be that the tag now no longer points to a valid image manifest, whereas it did before.

**To Reproduce**
To reproduce this bug:
Have a process that is frequently generating new docker images in one ACR, all with the same repository and tag.
Ha

[2022-04-05 23:51] yonzhan commented on #21943
route to CXP team

[2022-04-06 00:26] yonzhan commented on #21944
route to CXP team

[2022-04-06 00:53] abhiramani-iptiq opened #21945 "az aks nodepool update not updating node-taints"
[Enter feedback here]
this command throws error "unrecognized arguments: --node-taints sku=smarts:NoSchedule"
az aks nodepool update --cluster-name $aks --name $poolname --resource-group $rg --node-taints sku=smarts:NoSchedule

documentations shows that --node-taints is valid option for az aks nodepool update command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-04-06 01:02] wangzelin007 commented on #21898
Hi [datr93](https://github.com/datr93),
Can you please check this issue ?
The registrationInfo.token is null always.
Our desktopvirtualization extension 0.1.0 use 2019-12-10-preview version.
And desktopvirtualization extension 0.2.0 use 2021-07-12 stable version(azsdk-python-mgmt-desktopvirtualization/1.0.0b1).

[2022-04-06 01:12] yonzhan commented on #21945
route to CXP team

[2022-04-06 01:18] datr93 commented on #21898
the newer version does not respond with the token anymore. You can use the post endpoint to retrieve it. retrieveRegistrationToken

[2022-04-06 01:30] #21845 closed

[2022-04-06 01:40] #21901 closed

[2022-04-06 01:46] dvasdekis opened #21946 "Add support for storage account creation with --access-tier Archive"
**Is your feature request related to a problem? Please describe.**
I am unable to create archive storage accounts using the AZ CLI.

For example:
`az storage account create -n archivetest -g mysandbox --access-tier Archive`
Returns result:
`az storage account create: 'Archive' is not a valid value for '--access-tier'. Allowed values: Hot, Cool.`

Archive storage is described [here](https://docs.mi

[2022-04-06 01:52] wangzelin007 commented on #21898
Please use this command to retrieve token `$token= $(az desktopvirtualization hostpool retrieve-registration-token --name zelin63-hp --resource-group zelin63 --query token -o tsv)` in desktopvirtualization 0.2.0
![image](https://user-images.githubusercontent.com/18628534/161878787-59848033-784c-4044-9681-c26fb1203abb.png)
![image](https://user-images.githubusercontent.com/18628534/161878946-86b008

[2022-04-06 01:53] wangzelin007 commented on #21898
Thanks a lot.

[2022-04-06 01:58] #21829 closed

[2022-04-06 02:29] jiasli commented on #21857
If you do want to use Azure CLI on the unreleased Jammy, you may manually add the `impish` repo and give it a try: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-2-step-by-step-installation-instructions, but it is not guaranteed to work.

[2022-04-06 03:14] yonzhan commented on #21946
storage

[2022-04-06 03:45] dciborow commented on #21875
Going to probably need `pip install --upgrade azure-cli` if you already have CLI installed.

or you could go bold, 'pip uninstall azure-cli && pip install azure-cli'.

[2022-04-06 04:44] RakeshMohanMSFT commented on #21751
@dtupy Let me check and confirm the details of the ETA. Sorry for the delay.

[2022-04-06 05:05] RakeshMohanMSFT commented on #21927
@lilumdaru Thank you for reaching out to us, we are looking into it.

[2022-04-06 05:05] RakeshMohanMSFT commented on #21938
@LotteVoorhorst Thank you for reaching out to us, we are looking into it.

[2022-04-06 05:06] RakeshMohanMSFT commented on #21939
@meck93 Thank you for reaching out to us, we are looking into it.

[2022-04-06 06:50] jiasli commented on #21935
Duplicate of #20231

[2022-04-06 06:50] #21935 closed

[2022-04-06 06:53] jiasli commented on #21934
I think this is a very good suggestion and will serve as a manual workaround to https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/422.

[2022-04-06 06:53] jiasli commented on #21932
Duplicate of #20231

[2022-04-06 06:54] #21932 closed

[2022-04-06 06:54] cizra commented on #20581
Tried, doesn't reproduce anymore.

[2022-04-06 06:54] #20581 closed

[2022-04-06 06:55] jiasli commented on #20231
@Christopher-Balnaves, "RuntimeError: 0. The ID token is not yet valid." is irrelevant to this issue.

[2022-04-06 07:20] rahulprabhu22 opened #21949 "az account management-group <cmd> fails"
**Describe the bug**

`az account management-group <cmd>` fails when logged in with a service principal which does not have any role assignments to any subscriptions.
The `az login` is done with the `--allow-no-subscriptions` flag.
When `az account management-group create/delete/show/list` is run, it throws the following error
[code]
The SubscriptionId mentioned in the error is the tenantId which

[2022-04-06 07:30] Saglodha commented on #12369
Hi Team,

I am here to share some good news!

We could fix this issue in the latest release (https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#service-bus). Please try the rule creation at your side and let us know in case you observe any other discrepancies. Thanks

[2022-04-06 07:32] Saglodha commented on #14581
Our latest release fixes this issue: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#service-bus.

Please retry the operation and let us know in case of any discrepancy. Thanks

[2022-04-06 07:32] YuanyuanNi commented on #21936
![image](https://user-images.githubusercontent.com/95396631/161919738-c1932def-a933-4f8a-86da-b6ceba69d992.png)
Hi,
@huf1 "az monitor log-analytics workspace show " works well from my side as picture attached, if you still has this issue, pls provide more pre conditions so that we can reproduce.
 Best wishes.

[2022-04-06 07:38] Saglodha commented on #11389
HI @damiandiaz76 , this has been fixed in our latest release. You should be able to create SQL filter rule now.

Here is some sample cmdlet example : az servicebus topic subscription rule create --resource-group {rg} --namespace-name {namespacename} --topic-name {topicname} --subscription-name {subscriptionname} --name {rulename} --filter-type CorrelationFilter --correlation-id r00012d --label myv

[2022-04-06 07:40] Saglodha commented on #10229
Hi @thelethalkind and @PCNZ, we have fixed this in our latest release : https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#event-hubs.

Please retry the operation and let us know in case you observe any discrepancy. Thanks

[2022-04-06 07:42] Saglodha commented on #16577
Hi @rachelxj-ms, we have fixed this in our latest release: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#event-hubs.

Please retry the operation with false flag and let us know in case you observe any discrepancy. Thanks

[2022-04-06 07:47] evelyn-ys opened #21951 "[Eventgrid] Remove deprecated parameter `--identity` in time"
**Is your feature request related to a problem? Please describe.**

Deprecation needs to be removed in time, or else CLI release will break.

**Describe the solution you'd like**

`--identity` is marked as deprecated in version `2.46.0`. Please remove the param in time to avoid CLI release failure like https://github.com/Azure/azure-cli/pull/20682#discussion_r840232833

[2022-04-06 07:47] jiasli opened #21952 "Remove deprecated command groups/commands/arguments in Azure CLI 2.37.0"
Azure CLI 2.37.0 will be released for [Microsoft Build 2022](https://mybuild.microsoft.com/en-US/home) as a breaking change window.

There are some command groups/commands/arguments that will be deprecated in Azure CLI 3.0.0, but since there is no plan to bump Azure CLI to 4.0.0, https://github.com/Azure/azure-cli/pull/16380 has been closed. As an alternative, all deprecated command groups/command

[2022-04-06 07:50] jiasli commented on #21952
`vm` @zhoxing-ms

https://github.com/Azure/azure-cli/blob/07f12f95f0b5d4159cf837216f75d0d62e3ed7b1/src/azure-cli/azure/cli/command_modules/vm/commands.py#L391

[2022-04-06 07:50] jiasli commented on #21952
`appservice` @panchagnula @jsntcy @zhoxing-ms

https://github.com/Azure/azure-cli/blob/9ae79579509ca623207413b524469c6772850400/src/azure-cli/azure/cli/command_modules/appservice/_params.py#L197

[2022-04-06 07:51] jiasli commented on #21952
`monitor` @jsntcy @kairu-ms

https://github.com/Azure/azure-cli/blob/dc77a8cc2b57dfabb2e074cd0a4270da83a6bb45/src/azure-cli/azure/cli/command_modules/monitor/_params.py#L338

[2022-04-06 07:52] jiasli commented on #21952
`network` @jsntcy @kairu-ms @wangzelin007 @necusjz

https://github.com/Azure/azure-cli/blob/90e6f75514cec2d5dfd2df7526007105c6d207ba/src/azure-cli/azure/cli/command_modules/network/_params.py#L1959

[2022-04-06 07:57] jiasli commented on #21951
It's better to synchronize with breaking change windows - 2.37.0, 2.43.0, or 2.39.0.

[2022-04-06 08:58] navba-MSFT commented on #21945
@abhiramani-iptiq Thanks for reaching out to us and sharing this feedback. I wasn't able to reproduce this issue.
I tried to run the command and that worked just fine. See below:

<<TRIMMING FOR SPACE>>>
"mode": "User",
  "name": "*********",
  "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2022.03.23",
  "nodeLabels": null,
  "nodePublicIpPrefixId": null,
  "nodeTaints": [
    **"sku=smarts:No

[2022-04-06 08:59] bebound commented on #21910
According to https://github.com/tdsmith/homebrew-pypi-poet/pull/42 , `homebrew-pypi-poet` only support build from source and `homebrew` also has `--no-binary` param when install Python dependencies. It seems that we have to update the dependencies to fix this.

[2022-04-06 09:18] ryancolekt opened #21953 "unable to connect to serverless postgres db"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to connect to postgres flexible-server from local installation of cli.

**Command Name**
`az postgres flexible-server connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-re

[2022-04-06 09:22] jiasli opened #21954 "[netappfiles] `test_restore_file` randomly fails: AssertionError: You need to call 'result' or 'wait' on all LROPoller you have created"
**Describe the bug**

`test_restore_file` added by https://github.com/Azure/azure-cli/pull/21712 randomly fails:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1485372&view=logs&j=c846b3e8-69b8-5dbd-1a39-4905d81e6a95&t=9ebb608a-8a51-5834-bad0-46e2c03d2282

[code]

[554.txt](https://github.com/Azure/azure-cli/files/8425493/554.txt)

[2022-04-06 09:28] jsntcy commented on #21954
@hildurhodd, please help take a look.

[2022-04-06 09:30] yonzhan commented on #21949
account

[2022-04-06 09:45] zhoxing-ms commented on #21905
@zaidmohd The similar issue have been fixed in version `2.34.0` [PR link](https://github.com/Azure/azure-cli/pull/21220). Could you please check the CLI version you used is older than  `2.34.0`？

[2022-04-06 09:46] hildurhodd commented on #21954
yes, I'll take a look at this

[2022-04-06 09:47] yonzhan commented on #21953
route to CXP team

[2022-04-06 10:33] kingsleyadam commented on #21875
I also cannot see this parameter. If I attempt to use it, it says the command doesn't exist.

[code]

Running Ubuntu 20.04, installed via apt repo.

[code]

[code]

[2022-04-06 10:42] jvilimek commented on #21683
Hi there,
we are using "failOnStandardError: true" for our "azureCLI" stetps that consider the STDERR output as errornous so it broke our pipelines :/

And since Azure devops hosted agent got updated with a newer version of AzureCLI task automatically, this is definitelly something we want to prevent in the future... sure, the fix is "quick", just change "failOnStandardError: false", but anyway..t

[2022-04-06 10:51] hildurhodd commented on #21954
This is most likely failing due to tests being run in parallel. I assume that a fix for this is to mark the test as serial.

[2022-04-06 10:53] RakeshMohanMSFT commented on #21939
@meck93 I have updated the PR to include the changes you have suggested and it is merged. Once the next release is out you should see the changes.

[2022-04-06 10:53] #21939 closed

[2022-04-06 11:10] temporaer commented on #21112
@rayluo @jiasli we have more and more people getting hit by this issue. Can you reconsider providing a solution please?

[2022-04-06 12:08] abhiramani-iptiq commented on #21945
Hi I am using Azure cloudshell so i don't have choice of updating it. can you advise if this is compatible with azure cloudshell?

[2022-04-06 12:27] CiaraSHoulihan commented on #20842
I also had the same issue but I noticed there should be a fix (https://github.com/Azure/azure-cli/pull/20183) and my az cli was not up to date

Have you tried `az upgrade` before doing `az bicep build` again?

[2022-04-06 12:57] navba-MSFT commented on #21945
@abhiramani-iptiq Yes the same command should work on Azure Cloud shell too. I just ran the same above command on Azure Portal cloud shell and that worked fine.

  "availabilityZones": null,
  "count": 1,
  "creationData": null,
  "enableAutoScaling": false,
  "enableEncryptionAtHost": null,
  "enableFips": false,
  "enableNodePublicIp": false,
  "enableUltraSsd": null,
  "gpuInstanceProfile": nul

[2022-04-06 13:00] abhiramani-iptiq commented on #21945
this is my az version

abhijit@Azure:~$ az version
{
  "azure-cli": "2.35.0",
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5",
    "aks-preview": "0.5.22",
    "application-insights": "0.1.14",
    "azure-devops": "0.12.0",
    "dev-spaces-preview": "0.1.6",
    "log-analytics-solution": "0.1.1",
    "ssh": "1.0.1"
  }
}

[2022-04-06 13:01] abhiramani-iptiq commented on #21945
here is output with my debug command

abhijit@Azure:~$ az aks nodepool update --cluster-name $aks --name $poolname --resource-group $rg --node-taints sku=smarts:NoSchedule --debug
cli.knack.cli: Command arguments: ['aks', 'nodepool', 'update', '--cluster-name', 'IPTIQA-MICROSVC-SIT-EUS2-AKS-1', '--name', 'agentpool2', '--resource-group', 'iptiq-microsvc-sit-eus2-rg', '--node-taints', 'sku=smarts:N

[2022-04-06 13:45] meck93 commented on #21939
@RakeshMohanMSFT thanks a lot for the feedback! great work 👍

[2022-04-06 14:42] AndreasHassing commented on #2458
An argument could be made that @tzaroon posting their findings are useful because this GH issue is one of the first results when you search for the error message in relation to role definitions. I had a similar issue and @tzaroon's post resolved it for me 🤷‍♂️.

[2022-04-06 14:47] zaidmohd commented on #21905
yes, I updated the deployment task from Bash to Azure CLI task with specific version 2.34.1 and don't have this issue anymore.

[2022-04-06 14:47] #21905 closed

[2022-04-06 14:47] moleisking opened #21956 "az storage blob filter not able to sort by tag and multiple tags"
az storage blob filter --account-name XXX --auth-mode login --tag-filter """Day""='6'", i have also tried many other combinations, it seems to have a lot of problems with the '"' special character. I have tried escape characters like ^" and /" which don't seem to work either.

**Describe the bug**
When executing
az storage blob filter --account-name XXX --auth-mode login --tag-filter """Day""='6'"

[2022-04-06 15:02] AnijaJacob opened #21957 "az ml environment delete feature is broken"
**Describe the bug**

Latest version of az ml extension (2.21) doesn't seem to support 'delete' method for environment class. Same was working fine in earlier release.
**To Reproduce**

az ml environment delete --name <name>  --resource-group <group> --workspace-name <name > -v <versionname>

**Expected behavior**

Environment deleted successfully
**Environment summary**

az --version
azure-cli

[2022-04-06 15:26] vasanth-janakiraman opened #21958 "Az Login command throws unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --tenant {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-04-06 15:28] vasanth-janakiraman commented on #21958
The below step worked.
1. az account clear
2. az login

[2022-04-06 15:28] #21958 closed

[2022-04-06 16:14] vivuu1989 opened #21959 "How to assign access policies to datalake storage account without recursive option"
It seems the Microsoft document on "az storage fs access update-recursive" is not clear not fully functional as per my testing. is there any way to do update alone without doing the update-recursive?

 I have an azuredevops pipeline to assign new access & default policies to the datalake storage account policies without affecting the exising ACL settings and which is working fine.

 But we are fac

[2022-04-06 16:49] spezifant commented on #21047
If set via UI of an App Service then the dot will be replaced an we end up having `discovery_type=single-node` in our application.

[2022-04-06 16:59] rvandenbedem commented on #21886
Closing, change captured in this pull request: https://github.com/Azure/azure-cli-extensions/pull/4633

[2022-04-06 16:59] #21886 closed

[2022-04-06 17:07] SSPJ opened #21960 "Usage error: To create role assignments, specify both --role and --scopes."
## Describe the bug

Previously working `az ad sp create-for-rbac` command has stopped working.

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ad sp create-for-rbac --name {} --scopes {} --sdk-auth`

## Expected Behavior

Service princ

[2022-04-06 17:24] SaurabhSharma-MSFT commented on #21959
@vivuu1989 We are looking into it and get back to you for any additional information.

[2022-04-06 17:24] SaurabhSharma-MSFT commented on #21960
@SSPJ We are looking into it and get back to you for any additional information.

[2022-04-06 18:13] RakeshMohanMSFT commented on #21869
@AbhishekTripathi I was able to successfully list the keys with this command "az appconfig kv list -n" using cli version 2.34.1. If you are still having issues, can you please share the --debug trace with me here? of course to sanitize the logs for sensitive inforrmation.

[2022-04-06 18:35] huf1 commented on #21936
ok, thats strange..
First i created a whole new log-analytics workspace via portal and queried it with powershell (like in your picture). But the result was the same:
![image](https://user-images.githubusercontent.com/2862811/162038724-7e094ca6-3ace-4fe7-aa01-aa8f123f6e63.png)

In the portal i get the same case-insensitive resource id:
![image](https://user-images.githubusercontent.com/2862811/162

[2022-04-06 19:34] SSPJ opened #21961 "Role 'Directory readers' doesn't exist."
## Describe the bug
Unable to create role assignment for Directory Readers via CLI. Was able to create via Portal.

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az role assignment create --assignee {} --role 88d8e3e38f554a1e953a9b9898b8

[2022-04-06 21:09] justinmchase commented on #16881
We are also seeing this error but occasionally it can get stuck in an infinite loop and continually fail and produce giant build logs in our CI.

[2022-04-06 21:12] matluri-fi opened #21963 "cosmos db with cmk and continuous backup"

[2022-04-06 21:34] ponatara opened #21964 "Installing `k8s-configuration` and `connectedk8s` fails: distutils.errors.DistutilsPlatformError: Microsoft Visual C++ 14.0 or greater is required."
**Describe the bug**
When installing k8s-configuration and connectedk8s extensions using latest version of az cli,  we are seeing the following issue.
Using an earlier version of the az cli works.

![image](https://user-images.githubusercontent.com/13047387/162073469-c7251ef6-d1ea-424a-a0a8-84fdc1b0de5a.png)

![image](https://user-images.githubusercontent.com/13047387/162073844-43f1e0d8-be6e-43a4-

[2022-04-06 22:09] DCMattyG commented on #21964
We are also seeing this error, started today.

[2022-04-06 22:09] dkirby-ms commented on #21964
Same, also seeing this error

[2022-04-06 22:26] apapajohn opened #21965 "az-cli v 2.34.1: az webapp deployment slot create -- errors when configuration-source has a path-mapping to storage"
**Describe the bug**

We upgraded az-cli from 2.33.1 to 2.34.1 and it broke our app service deployment pipeline, at the point where it creates a deployment slot. It seems to be because the az-cli command is attempting to copy the azure-blob mapping information over to the slot. It is erroring with the message "Required parameter AccessKey is missing.", even though there is no available AccessKey p

[2022-04-06 22:38] yonzhan commented on #21956
storage

[2022-04-06 22:39] yonzhan commented on #21957
route to CXP team

[2022-04-06 22:41] yonzhan commented on #21959
Storage

[2022-04-06 22:43] yonzhan commented on #21960
@jiasli for awareness

[2022-04-06 22:46] yonzhan commented on #21961
@jiasli for awareness

[2022-04-06 22:48] yonzhan commented on #21963
route to CXP team

[2022-04-06 22:49] yonzhan commented on #21964
route to CXP team

[2022-04-06 22:51] yonzhan commented on #21965
route to CXP team

[2022-04-06 22:55] taoisu opened #21966 "Latest az cli fails to run download-batch command"
%23%23%23 **This is autogenerated. Please review and update as needed.**

%23%23 Describe the bug

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

%23%23 To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download-batch -d {} -s {}

[2022-04-07 00:15] Welasco commented on #19908
@kairu-ms, I tested it today one more time and still the same problem.
I'm trying to approve a AFD Premium PE in a PLS.

I tried using both options:

az network private-endpoint-connection approve -g <RGName> -n 8d50911c-b405-4c81-xxxx-xxxxxxxxxxxx-xxxx-xxxx-xxxx-8025eeb83973 --resource-name <Name>-pls --type Microsoft.Network/privateLinkServices

az network private-endpoint-connection approve \

[2022-04-07 00:21] yonzhan commented on #21966
storage

[2022-04-07 00:28] Mcprasad commented on #21141
Any update ?

[2022-04-07 01:02] dvasdekis opened #21967 "Support for 'undelete' of storage containers"
**Is your feature request related to a problem? Please describe.**
We are unable to 'undelete' storage containers using the Azure CLI. Expecting an option like `az storage container undelete` on the page with all the other [container commands](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest).

We can do this via the Azure browser UI - see here: https://raw.github

[2022-04-07 01:46] yonzhan commented on #21967
storage

[2022-04-07 03:18] evelyn-ys commented on #21670
The keyvault-extension has nothing to do with this issue. You can check the dependency with `& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip list` and find `azure-keyvault` package

[2022-04-07 03:24] t-bzhan commented on #21938
Hi @RakeshMohanMSFT and @RakeshMohanMSFT , the action "OriginGroupOverride" is deprecated in the latest release and you should use "[RouteConfigurationOverride](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-rules-engine-actions?tabs=portal&pivots=front-door-standard-premium#properties)" instead.

The command grammar is like:
`az afd rule create --action-name RouteConfigurationOverrid

[2022-04-07 03:38] evelyn-ys commented on #21966
Can you share which pattern you are using?

[2022-04-07 03:44] taoisu commented on #21966
Something as simple as "model.onnx".

It doesn't matter as far as I can tell, any pattern would fail. This just started to happen today, I was using azure cli in a docker image, I built the image yesterday it was working just fine, today I re-built the docker image the error started to show up.

[2022-04-07 03:44] jiasli commented on #21964
Similar to https://github.com/Azure/azure-cli-extensions/issues/4608, https://github.com/Azure/azure-cli-extensions/pull/4610

MSI's bundled Python has been updated to 3.10 (https://github.com/Azure/azure-cli/pull/21746). `k8s-configuration` and `connectedk8s` depend on `pycryptodome==3.9.8` which doesn't release wheels for Python 3.10:

https://pypi.org/project/pycryptodome/3.9.8/#files

![image]

[2022-04-07 03:57] RakeshMohanMSFT commented on #21938
@LotteVoorhorst do check the work around provided by @t-bzhan until the issue is fixed in next Release

[2022-04-07 04:00] RakeshMohanMSFT commented on #21965
@apapajohn Thank you for reaching out to us. We are looking into it.

[2022-04-07 04:01] RakeshMohanMSFT commented on #21957
@AnijaJacob Thank you for reaching out to us. We are looking into it.

[2022-04-07 04:02] RakeshMohanMSFT commented on #21953
@ryancolekt Thank you for reaching out to us. We are looking into it.

[2022-04-07 04:09] cxznmhdcxz commented on #21793
Hi @fitzgeraldsteele , when validly converted `--edge-zone` to `extendedLocation`,  and `orchestrationMode` is `Flexible`, the reponse is:
[code]
and when `orchestrationMode` is  `Uniform`, VMSS is successfully created.
Does flexible VMSS support edge zone?

[2022-04-07 04:17] yangchengs opened #21970 "[Fea Req] "az storage message put" transforms the base64 string to actual message automatically"
**Is your feature request related to a problem? Please describe.**
az storage message put --content aGVsbG93b3JsZAo= -q queue1 --connection-string "connectionstring"

The command will transform the base64 string aGVsbG93b3JsZAo= to "helloworld" automatically.

**Describe the solution you'd like**
Can we add a parameter to switch behavior?

In azure portal, there is option "Encode the message body

[2022-04-07 04:37] yonzhan commented on #21970
storage

[2022-04-07 05:03] RakeshMohanMSFT commented on #21924
@vladbresan Thank you for reaching out. We are looking into and thank you for the work around provided

[2022-04-07 05:35] evelyn-ys commented on #21966
Actually `--pattern` only supports few cases. You can check the help message with [CLI doc](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-download-batch-optional-parameters) or `az storage blob download-batch -h`:

The pattern used for globbing files or blobs in the source. The supported patterns are '*', '?', '[seq]', and '[!seq]'. For more informat

[2022-04-07 05:44] evelyn-ys commented on #21966
If you are giving a blob name as `--pattern`, I'll suggest you to use `az storage blob download`.
It used to work with previous CLI using `az storage blob download-batch` but we have an bug dealing with full blob name in latest CLI. This will be fixed in next release. But this usage is not documented in our help message or doc, so it's not recommended.

[2022-04-07 06:14] navba-MSFT commented on #21951
Removing `CXP Attention `label since this was opened for the product improvement as internal issue and not customer reported.

[2022-04-07 06:16] navba-MSFT commented on #21954
Removing `CXP Attention` label since this was opened for the product improvement as internal issue and not customer reported.

[2022-04-07 06:17] taoisu commented on #21966
@evelyn-ys thanks for the investigation, but I'm afraid that is not the case for me. We've been using the same command for two years in one of our pipeline, and it was just broken today, so it is clear something is wrong in the az cli.

[2022-04-07 06:19] taoisu commented on #21966
[code]
This is the full command we're using.

[2022-04-07 06:21] taoisu commented on #21966
`az storage blob download` is not an option for us because we need `--pattern` specifically, one of the patterns is something like "*.bias"

[2022-04-07 06:22] taoisu commented on #21966
I'm not sure if you just need to fix the latest CLI, because I've also tried installing previous versions (which works in the past), and I'm seeing the exactly the same issue.

[2022-04-07 06:29] evelyn-ys commented on #21966
When installing previous versions, please make sure all the dependencies of latest version are uninstalled. I'm afraid there's some storage dependency left.

[2022-04-07 06:34] evelyn-ys commented on #21966
For patterns not following the four cases(`*`, `?`, `[seq]`, `[!seq]`), we used to take it as a full blob name. And the latest CLI does have a bug here.

[2022-04-07 06:45] jiasli commented on #21964
`connectedk8s` has been fixed by https://github.com/Azure/azure-cli-extensions/pull/4607 and released by https://github.com/Azure/azure-cli-extensions/pull/4647.

[2022-04-07 06:51] necusjz commented on #19908
@Welasco, the thing is current CLI doesn't support "Microsoft.Network/privateLinkServices" provider, we will support it in the next release.

[2022-04-07 07:06] LotteVoorhorst commented on #21938
@t-bzhan @RakeshMohanMSFT  Thanks for the explanation and the workaround! Greatly appreciated!

[2022-04-07 07:18] ConcreteGannet commented on #21960
This is by design, see #21323 . Just specify your scope. The documentation at https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac says what to to to get your subscription ID if that's the scope you want.

[2022-04-07 07:23] navba-MSFT commented on #21943
@oobaro Apologies for the late reply. I was able to reproduce this issue at my end. I am doing some research on this and I will update you.

In the meantime, as a workaround, Could you please try to run the same command by without specifying the --slot (-s) parameter and check if that helps? If the slot is not specified, it defaults to the production slot.  Awaiting your reply.

[2022-04-07 07:33] msuhasrao31 opened #21972 "az-login issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-04-07 07:36] yichungyu commented on #21566
@navba-MSFT
yicyu@DESKTOP-NLCLSL7:~$ az storage blob copy start-batch --connection-string "*****"" --destination-container layeredtest --destination-path whydoesthisfail --source-account-name standardv2lrs --source-account-key "*****" --source-container janefs --pattern "*"
Client-Request-ID=2d06259a-b645-11ec-af4c-00155d2a2900 Retry policy did not allow for a retry: Server-Timestamp=Thu, 07 Apr 2

[2022-04-07 07:53] venkymns commented on #21966
I am facing same issue.  what is the solution for this issue ?  going back to previous version?

https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-download-batch

as per the documentation below command is valid .

az storage blob download-batch --destination target --source {} --pattern folder/filename.jar --account-name {}

[2022-04-07 08:09] evelyn-ys commented on #21966
@venkymns for specific blob file, you can use `az storage blob download` as workaround

[2022-04-07 09:09] #21960 closed

[2022-04-07 09:15] navba-MSFT commented on #21566
@yichungyu Thanks for sharing the details and the recent occurrence of the issue. I looked at the backend logs and I could see that the COPY Blob failed because of the IPAuthorization failure causing error code 403 from the destination storage account (stan***lrs) which has firewall/VNET enabled at the account level. This blocked the GetBlobProperties (HEAD) call. If you don't need the firewall/VN

[2022-04-07 09:20] yichungyu commented on #21566
@navba-MSFT thanks for catching that, my bad. Please refer to the latest repro below:

Client-Request-ID=d91343b4-b653-11ec-b68f-00155d2a29f1 Retry policy did not allow for a retry: Server-Timestamp=Thu, 07 Apr 2022 09:19:36 GMT, **Server-Request-ID=e209e3a9-701e-001d-7060-4a130a000000**, HTTP status code=409, Exception=The requested operation is not allowed in the current state of the entity. Err

[2022-04-07 09:38] navba-MSFT commented on #21964
@ponatara Could you please check the above comment and let us know if you have any further questions on this ? Awaiting your reply.

[2022-04-07 09:40] ctophs commented on #21857
I tried using the impish package but as I said there is a breakage concerning jammy libssl and impish package has the same non-problem. Jammy goes openssl 3 so for jammy I now build from source.

[2022-04-07 11:12] zhoxing-ms commented on #21834
@fitzgeraldsteele Hi, because the work of this sprint has been fully arranged, and the interval of this sprint is short due to Chinese Labor Day, so I'm worried that we don't have enough time to develop and release this requirement in this sprint.
May I ask can this feature be postponed to the next sprint (release date: 05-24)?

[2022-04-07 11:39] yonzhan commented on #21972
@jiasli for awareness

[2022-04-07 11:54] #21183 closed

[2022-04-07 12:02] #20921 closed

[2022-04-07 12:16] aron-draper opened #21978 "Azure CLI create container error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create -g {} --name {} --image {} --os-type {} --vnet {

[2022-04-07 12:17] navba-MSFT commented on #21566
@yichungyu Thanks for getting back. I looked at the backend logs. You seem to be having 'logtest' in your request URL. That ideally should have been a directory but seems like it is being considered as a file. So Could you please delete the 'logtest' (folder) and then recreate it as a directory? Hope this helps.

[2022-04-07 12:27] navba-MSFT commented on #21849
@jci-zimm Apologies for the delay. The above PR has been filed and it is under review. In the meantime if you have any questions, please feel free to ask.

[2022-04-07 12:28] navba-MSFT commented on #21858
@bacteria673 Please let us know if you have any updates to share on this. Awaiting your reply.

[2022-04-07 12:36] yichungyu commented on #21566
@navba-MSFT at the source storage account & container (standardv2lrs/janefs), 'logtest' IS a directory. However, the copy command cannot successfully treat it as a directory when copying it to the destination. This is exactly why I raised this Github issue. Can you please try to reproduce this in your lab? You will see what I mean. This will happen whenever you try to recursively copy an ADLS Gen2

[2022-04-07 12:49] navba-MSFT commented on #21866
@raribeiroMS Hope you had chance to look at the above comment. Please let me know if you have any further questions on this.

[2022-04-07 13:22] kwaazaar opened #21979 "No module named decorator"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container show -i{} {}`

## Expected Be

[2022-04-07 13:25] kwaazaar commented on #21979
Was 2.0.81 which came with Ubuntu and which is advised against. After removal and installing the latest version, everything worked like a charm 👍

[2022-04-07 13:25] #21979 closed

[2022-04-07 15:19] SatishBoddu-MSFT commented on #21644
Hello @pci7 thanks for understanding!

Please do share the support ticket reference number to our email and we will update this thread for further updates and outcomes!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and **we will reopen the issue**.

Please also do visit [Microsoft

[2022-04-07 15:20] sdg002 opened #21982 "Azure CLI could not be installed because it requires Administrator privileges (Windows 10)"
**Describe the bug**
I cannot install Azure CLI on my corporate workstation (Windows 10)

**To Reproduce**
- Navigate to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli
- Download the MSI package for Windows
- Try installing and you will see the setup process asking you for username/password of an Administrative user
- Try ignoring it and the Setup fails with th

[2022-04-07 16:00] ArunasFalcon commented on #19035
In case anyone stumbles over this issue, I found a workaround. Basically setting the config setting core tools is looking for, then running core tools, then restore the original settings. I made a PS wrapper script for the core tools call to make this work until core tools get fixed. So if anyone needs a quick&dirty solution, here it is: https://github.com/ArunasFalcon/MIAzureFunctionDeployWrapper

[2022-04-07 16:54] RakeshMohanMSFT commented on #21957
@azureml-github FYI

[2022-04-07 17:26] bandsina commented on #21957
Hi @AnijaJacob , thank you for the report and for using the new CLIv2. Appreciate it!

With the CLIv2 version released on 3/14, delete functionality has been moved to archive verb. Could you please see if that satisfies your requirements?

Link to release notes and relevant section copied below:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli

- Removed the dele

[2022-04-07 18:34] fitzgeraldsteele commented on #21793
Not yet. This support should land in Cu semester.

From: RuiJun Hu (MSFT) ***@***.***>
Sent: Wednesday, April 6, 2022 9:09 PM
To: Azure/azure-cli ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] "az vmss create" for FLEX does not convert "--edge-zone" to "extendedLocation" in template (Issue #21793)

Hi @fitzgeraldsteele<https://nam06.safelinks.protec

[2022-04-07 18:54] HowardHoffman commented on #17791
Bump.  I'm producing the same error today with a similar command.
In my case the command is
[code]

[2022-04-07 19:11] dpolivy commented on #21168
@JasonFreeberg @StrawnSC Is this the missing piece to enable this workflow to work properly?

https://azure.github.io/AppService/2021/03/01/deploying-to-network-secured-sites-2.html

Any way we can consume this updated SDK currently from Azure DevOps so we can get our pipeline working with a private endpoint? (Also, I assume this would still work for a functionapp as well, or the equivalent `az fu

[2022-04-07 19:26] dciborow commented on #21875
I don't think this is a good way to update the CLI... and has put my Anaconda env in a really bad state.

I think the only method you should try to use to upgrade the cli is "az upgrade". And then upgrade Python packages with commands like "pip install --upgrade az-storage".

I think this is the best way to install AzureCLI
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=

[2022-04-07 19:27] #21644 closed

[2022-04-07 19:48] SatishBoddu-MSFT commented on #21791
Hello @BzSpi @chriswue

Thank you for reporting this issue, we are routing this to service Teams' attention!

[2022-04-07 20:05] Drewm3 commented on #20832
This method does allow for filtering by region, publisher, offer, SKU and edge zone already. If you only need a subset of the images, then using one of these methods is highly recommended.   If you truly need the full list, then it will take some time to download the list.

In order for the client side tool like the CLI to provide a progress bar it would need to know the total count of images, and

[2022-04-07 20:05] #20832 closed

[2022-04-07 20:46] SSPJ commented on #21960
Appreciate the replies.

In case anyone else finds this helpful, it seems you can still do `az ad sp create-for-rbac --name <name>` (just leave `--scope` and `--role` entirely off).

[2022-04-07 21:19] SatishBoddu-MSFT commented on #21844
Hello @arunvc Thanks for reporting this issue!

For further actions we are routing this issue to Service Team's attention!!
![image](https://user-images.githubusercontent.com/62923178/162315161-707bc3ce-4ea6-46d1-a3dc-d7fe633b6dc9.png)

[2022-04-07 21:54] smisaacs commented on #21168
Having the same issue as @dpolivy. @JasonFreeberg @StrawnSC

[2022-04-07 23:33] ramankumarlive commented on #19773
@arorasam the feature in GA now worldwide.

[2022-04-07 23:34] yonzhan commented on #21978
route to CXP team

[2022-04-07 23:39] yonzhan commented on #21982
@jiasli for awareness

[2022-04-07 23:44] taoisu commented on #21966
What is interesting is that even if I install azure-cli=2.29.2-1~bionic freshly inside the docker image this exact same error would occur, any ideas why?

[2022-04-07 23:46] taoisu commented on #21966
I can understand that if the pattern is not working I might end up downloading the wrong files, but the callstack tells me that seems the API has been deleted or some wrong version of dependencies are installed. Are you sure this is related to the bug you are talking about?

[2022-04-07 23:49] kosher-svk opened #21985 ""az extension add --name rdbms-connect" not working"
## Describe the bug

**Command Name**
`az extension add --name rdbms-connect`

**Errors:**
[code]

**To Reproduce**
[code]
**Expected behavior**

**Environment summary**

[code]

**Additional context**

[2022-04-08 00:11] yonzhan commented on #21985
route to CXP team

[2022-04-08 00:34] kosher-svk commented on #21985
Hello,
Does i need send it to another place?

Dňa pi 8. 4. 2022, 2:11 Yong Zhang ***@***.***> napísal(a):

[2022-04-08 00:36] zhoxing-ms commented on #21793
@fitzgeraldsteele Does the error message meet the expectation at present?
Should we keep the behavior and wait for service support, or do we need to add verification for not allowing inputting `--edge-zone` when creating Flex VMSS?

[2022-04-08 02:02] jiasli commented on #21960
Exactly! This has been the designed behavior since

- https://github.com/Azure/azure-cli/pull/19805

[2022-04-08 02:05] calvinhzy commented on #21477
We will GA the --overwrite flag in May/June time frame. Thanks.

[2022-04-08 02:13] evelyn-ys commented on #21966
We upgraded the dependency Python SDK and the APIs have changed a lot. For patterns not following `*`, `?`, `[seq]`, [!seq], the API is unchanged so making the command fail

[2022-04-08 02:38] t-bzhan commented on #21768
Fixed in https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.35.0

[2022-04-08 02:38] #21768 closed

[2022-04-08 02:39] t-bzhan commented on #21751
Fixed in https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.35.0

[2022-04-08 02:39] #21751 closed

[2022-04-08 03:07] t-bzhan commented on #21386
@[chris-hibberd](https://github.com/chris-hibberd), CLI's collection property like --match-values use the space as the separator. You command should go like:

The commands works as expected per my test:
![image](https://user-images.githubusercontent.com/61817681/162354584-a8c75ded-9187-4028-9061-2d2aa3b413d1.png)

[2022-04-08 03:07] #21386 closed

[2022-04-08 03:09] fitzgeraldsteele commented on #21793
I think let's wait on service support, unless we see this error many more times.

Jerry
Steele
Microsoft
senior program manager
425.421.2566

________________________________
From: Xing Zhou ***@***.***>
Sent: Thursday, April 7, 2022 5:36 PM
To: Azure/azure-cli ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] "az vmss create" for FLEX does not convert

[2022-04-08 03:24] stormshaun opened #21987 "Update documentation to mention if all commands can only be executed by a Global Adminstrator"
Is it possible to update documentation to mention if all commands can only be executed by a Global Adminstrator if that is indeed the case as documentation lacks clarity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5b5348-f67e-ef14-0529-4c80fddd4bc6
* Version Independent ID: bfd7e6b1-1fba-3d25-8ee3-5105bcf4157d
*

[2022-04-08 03:32] superff commented on #21247
I saw a similar issue `ERROR: <urllib3.connection.HTTPSConnection object at 0x7f8a18270610>: Failed to establish a new connection: [Errno -2] Name or service not known` with calling  `az storage blob upload `

[2022-04-08 03:58] #21964 closed

[2022-04-08 04:09] RakeshMohanMSFT commented on #21985
@kosher-svk Thank you for reaching out to us. We are looking into it.

[2022-04-08 04:11] RakeshMohanMSFT commented on #21978
@aron-draper Thank you for reaching out to us. We are looking into it.

[2022-04-08 04:15] yonzhan commented on #21987
@jiasli for awareness

[2022-04-08 04:17] yonzhan commented on #21247
@evelyn-ys for awareness

[2022-04-08 04:21] navba-MSFT commented on #21931
@tbuchi888 I see your PR for this issue has been merged https://github.com/Azure/azure-cli/pull/21930. Please let me know if you need any further assistance on this issue. Awaiting your reply.

[2022-04-08 04:29] #21857 closed

[2022-04-08 04:31] #21954 closed

[2022-04-08 04:31] stormshaun commented on #21987
Supporting information: commands executed in local machine using powershell and az cli. Connected to Azure using az login / Connect-AzureAD

[2022-04-08 05:45] #21914 closed

[2022-04-08 07:00] AnijaJacob commented on #21957
@bandsina thanks for the update.
Yes I did tried using 'archive' functionality , but the environment is still getting listed over studio UI.
The main issue for us is that the conda file for the AML environment holds sensitive information .
![image](https://user-images.githubusercontent.com/38662956/162381603-4516a403-b7cc-4f02-bdf2-02d735074e82.png)

These are the credentials to our private artifa

[2022-04-08 07:18] navba-MSFT commented on #21945
@abhiramani-iptiq Thanks for your reply. I am able to run the same command successfully even using the most recent version (2.35.0) of the AzCLI from my machine and from the Azure Cloud shell.

{
  "azure-cli": "2.35.0",
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.60"
  }
}

**Action Plan**
Please follow the below action plan in order:

[2022-04-08 07:31] navba-MSFT commented on #21944
@nwohlgemuth Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please share the complete error message you received during pull failure along with the output of `--debug ` parameter ? Awaiting your reply.

[2022-04-08 07:34] sbrunner commented on #21857
The repository steals be empty, can you notify us in this ticket when he is available?
Thanks in advance :-)

[2022-04-08 08:00] #11103 closed

[2022-04-08 08:27] MIG0Z commented on #5713
Any news on the subject?

[2022-04-08 09:10] DanoThom commented on #12369
Hi, thanks for getting back to us about the update. I've just tested this and I can finally confirm that this is now working. Here is the syntax I'm using:
`az servicebus topic subscription rule create -g rgtest --namespace-name sbtest --topic-name mytopicname --subscription-name mysubname -n mycorrelationfilterrulename --filter-type CorrelationFilter --label=mycorrelationfilterstring`

[2022-04-08 09:31] RakeshMohanMSFT commented on #21978
@aron-draper I managed to get it to work in similar environment. Can you please share the debug trace for the issue, of course after sanitizing any sensitive information.

[2022-04-08 09:33] #21817 closed

[2022-04-08 09:46] RakeshMohanMSFT commented on #13645
Duplicate of Issue https://github.com/Azure/azure-cli/issues/17945

[2022-04-08 09:54] jiasli commented on #21857
It will be available since Azure CLI 2.36.0, which will be released on 2022-04-26.

[2022-04-08 09:58] sbrunner commented on #21857
Thanks :-)

[2022-04-08 10:36] rifaterdemsahin opened #21994 "Why dont we have simple key value system"
Why do i need to write this to get the value ?

<img width="668" alt="image" src="https://user-images.githubusercontent.com/5270036/162419408-4be5f715-fc91-42f5-9ecc-47757be2a469.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9643ecb9-cc86-dfc3-6cc7-ae7f0e89c438
* Version Independent ID: 31848678-49d6-f27e-e99a-5

[2022-04-08 10:59] raribeiroMS commented on #21866
I did thanks. No further questions. When can we expect an ETA for this issue.,

[2022-04-08 11:26] jiasli commented on #21857
I have released an edge build for Jammy at https://aka.ms/InstallAzureCliJammyEdge. You may follow https://github.com/Azure/azure-cli#edge-builds to install it.

The official instruction will be added by https://github.com/Azure/azure-cli/pull/21993.

[2022-04-08 11:32] abhiramani-iptiq commented on #21945
Hi i need to taint whole nodepool and not individual nodes. otherwise when cluster autoscales how will new nodes get those taints?

[2022-04-08 11:36] navba-MSFT commented on #21945
@abhiramani-iptiq Thanks for getting back. Since I am unable to reproduce this issue with the AzCLI, I am adding the Service Team to assist further on this.

@Azure/aks-pm Could you please look into this and help us to provide us the pointers to resolve this issue ? Awaiting your reply.

[2022-04-08 11:53] sbrunner commented on #21857
Thanks, first test is working well :-)

[2022-04-08 12:14] Mahendar-V opened #21995 "Error While Login into Azure CLI with az login command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-04-08 13:52] yonzhan commented on #21995
@jiasli for awareness

[2022-04-08 13:56] yonzhan commented on #21994
route to CXP team

[2022-04-08 14:29] aron-draper commented on #21978
@RakeshMohanMSFT Thank you for your help.  Can you please tell me how to obtain the debug trace?

[2022-04-08 16:29] choukimasri opened #21996 "Updating Azure Function App Connection Strings Unexpected"
Hey, I'm having trouble updating azure function app connection strings as per documentation, I'm running this ps script on deployment:
[code]

The appsettings set call works as intended,
the connection-string call generated a single entry with the entire file inside.
as a workaround, I took the json file and wrapped it in a for each loop,
passing it as single separate objects, like this:
[code]
ho

[2022-04-08 17:09] SaurabhSharma-MSFT commented on #21994
@rifaterdemsahin We are looking into it and get back to you for any additional information.

[2022-04-08 17:11] SaurabhSharma-MSFT commented on #21996
@choukimasri We are looking into it and get back to you for any additional information.

[2022-04-08 17:18] hari-bodicherla opened #21997 "Changes related to dedicated host group for Ultra SSD support"
**Is your feature request related to a problem? Please describe.**
we currently don't support VM deployments against the dedicated hosts using ultra SSD capabilities.  The ultra SSD capabilities along with host level isolation using dedicated hosts enable our customers to conquer their most IO intensive and extremely scalable workloads along with achieving compliance. Currently, the ultra SSD supp

[2022-04-08 17:57] se7enack commented on #21031
In a world of lightweight containers this would be great. I can't understand why this was chose to closed. I understand that it would take work, everything does.

[2022-04-08 22:15] seajhawk opened #21998 "az postgres flexible-server error - "No module named 'psycopg2._psycopg'"
## Describe the bug
This issue occurred when running `az postgres flexible-server --help` so I could see what parameters were needed.

**Command Name**
`az postgres flexible-server`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres fl

[2022-04-08 23:36] yonzhan commented on #21996
route to CXP team

[2022-04-08 23:37] yonzhan commented on #21997
Compute

[2022-04-08 23:41] yonzhan commented on #21998
route to CXP team

[2022-04-08 23:57] seajhawk opened #21999 "postgress command erroneously stating "servername X already exists.""
## Describe the bug
If I run postgres server create and pass a servername with underscores ("_") in it, I get an error telling me that the server already exists. However, the actual problem is that underscores are not allowed in the name.

**Command Name**
`az postgres server create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted

[2022-04-09 00:43] yonzhan commented on #21999
route to CXP team

[2022-04-09 04:57] piegre commented on #21899
The solution is to upgrade the version of appservice-kube:
az extension remove -n appservice-kube
az extension add -n appservice-kube

Case closed

Le ven. 8 avr. 2022 à 22:01, msftbot[bot] ***@***.***> a
écrit :

[2022-04-09 08:00] #21388 closed

[2022-04-09 11:26] Kumushai9919 opened #22002 "Feature Request to add subscription ID masking in Azure-cli"
**Is your feature request related to a problem? Please describe.**

We need the subscription ID information to be masked when we output list with option "--masking".

<img width="430" alt="Screen Shot 2022-04-09 at 8 19 31 PM" src="https://user-images.githubusercontent.com/83897840/162569601-8d273410-80fb-49c5-b0c0-1977f92a0295.png">

**Describe the solution you'd like**

Create the function that

[2022-04-09 13:47] yonzhan commented on #22002
Core

[2022-04-09 16:01] adrianFHNW opened #22003 "az acr create : Fails if name contains upper-case letters."
**az acr create** doesn't accept names with upper-case letters.  Even the examples given fail.  Upper-case letters work when using the Portal.

The apparent bug is that the "az acr create" command does a name validation taken from "az acr connected-registry create" and hence fails.

Output from terminal:
adrian ~ > **az acr create --name AdriansRegistryName --resource-group RG-common --sku Standar

[2022-04-09 18:17] Ranzo3 opened #22004 "Add options for data-disk-delete"
OS Disk looks good:

Specify the behavior of the managed disk when the VM gets deleted i.e whether the managed disk is deleted or detached.

accepted values: Delete, Detach

Data Disk delete options not listed, so user thinks it's "true false"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b

[2022-04-09 18:19] northtyphoon commented on #22003
@adrianFHNW, sorry for the confusion. Mixed case or upper case can work, however they don't work well with other tools in the broader docker eco-system if your are not careful. To avoid future problems, we start to encourage the customers to use lowercase to create new registries.

@rosanch can you please take a look? It looks we need to update the error message and the samples to be consistent.

[2022-04-09 18:22] jonie001 commented on #21959
Hi, @vivuu1989
You can use "az storage fs access set" command to assign access policies to the datalake storage account without recursion.
For more information, please refer to https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-acl-cli.

[2022-04-09 18:29] jonie001 commented on #21580
Hi, @sdebruyn
When you set an ACL, you replace the entire ACL including all of it's entries. If you want to change the permission level of a security principal or add a new security principal to the ACL without affecting other existing entries, you should update the ACL instead.
For more information, please refer to https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-acl-cli.

[2022-04-09 19:21] vivuu1989 commented on #21959
But I tried, when I am setting ACL with the values which I needed, it's
removing existing values present. So updating is not working and the
document is not right.

On Sat, 9 Apr 2022, 21:22 jonie001, ***@***.***> wrote:

[2022-04-09 22:11] piyushsh commented on #21940
hey guys
@yonzhan @zhoxing-ms @cxznmhdcxz any update on the issue?

[2022-04-09 22:26] adrianFHNW commented on #22003
Thanks for the fast response.  I'll use lower-case names from now on.

WithoutBeingAbleToUseUpperCase or-maybe-using-hyphens_or_underscores itcanbehardtoworkouttheindividualwords :)
This is definitely a "me" problem, as most people won't really mind what the resource names are.

[2022-04-10 01:00] yonzhan commented on #22003
route to CXP team

[2022-04-10 01:08] yonzhan commented on #22004
compute

[2022-04-10 01:12] sypks opened #22005 "Issue with az login and --tenant parameter"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logout`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logout`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2022-04-10 01:21] yonzhan commented on #22005
@jiasli for awareness

[2022-04-10 03:53] zhoxing-ms commented on #21940
@piyushsh Could you add the `--debug` parameter to the original command and run it again, then please show us the printed debug log?

[2022-04-10 04:00] zhoxing-ms commented on #22004
Do you mean to support a new parameter for `az vm delete` command that can let users choose the managed disk to be deleted or detached?

[2022-04-10 06:37] lilumdaru commented on #21927
Sorry, but I can't reproduce the error. Thanks you for checking into that.
Let's close the issue.

[2022-04-10 06:37] #21927 closed

[2022-04-10 21:08] piyushsh commented on #21940
Here are the logs with `--debug`
[code]

[2022-04-10 22:32] hugo-zhang-uipath opened #22006 ""az monitor metrics alert show" command is not able to show alerts rule targeted on Log Analytics Workspace"
I have an alert rule set on a Log Analytics Workspace (LAW) to monitor the logs in the LAW. However, when I try to modify it in Azure cli, I am not able to find it using
`az monitor metrics alert show --ids`
and `az monitor metrics alert show --name xxx --resourcegroup xxxx`

error
`(ResourceNotFound) The Resource 'Microsoft.Insights/metricalerts/xxxxxxxxxxxxxxxx' under resource group 'xxxxxxxxxx'

[2022-04-10 22:46] yonzhan commented on #22006
monitor

[2022-04-11 00:25] adriancuadrado opened #22007 "Azure CLI not using local configuration"
## Describe the bug

Azure CLI doesn't use local configuration set with `az config set --local`

**Command Name**
`az configure`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

The last command should honor the local configuration and use the `table` output format instead of `

[2022-04-11 00:27] adriancuadrado commented on #22007
[code]
[code]

I have the impression that I have to explicity indicate that I want to use the local configuration somehow, but I couldn't find anything in the documentation.

[2022-04-11 00:40] yonzhan commented on #22007
@jiasli for awareness

[2022-04-11 02:10] #21844 closed

[2022-04-11 02:10] #21938 closed

[2022-04-11 02:18] zhoxing-ms commented on #21940
@cxznmhdcxz Please help have a look~

[2022-04-11 02:34] zhoxing-ms commented on #19754
Confirmed with @kangsun-ctrl and @grace-liang on Teams that this feature is implemented in the official CLI

[2022-04-11 02:51] jiasli commented on #21995
Duplicate of #20221

The solution is at https://github.com/Azure/azure-cli/issues/20221#issuecomment-962380690 and explained by https://github.com/AzureAD/microsoft-authentication-library-for-python/wiki/Username-Password-Authentication

[2022-04-11 02:51] #21995 closed

[2022-04-11 02:52] jiasli commented on #22005
Duplicate of #20231

[2022-04-11 02:52] #22005 closed

[2022-04-11 02:52] #21933 closed

[2022-04-11 02:59] kairu-ms commented on #21640
Hi @herreraj-ms, we still use flatten schema this time. In our next generation of CodeGen tool, we can support entire payload as a parameter.

[2022-04-11 03:02] #19908 closed

[2022-04-11 03:32] kairu-ms commented on #22006
Hi @YuanyuanNi, could you help with this usage issue?

[2022-04-11 04:42] navba-MSFT commented on #21566
@yichungyu I am checking this internally and I will be updating this thread once I have more details on this.

[2022-04-11 04:48] navba-MSFT commented on #21858
@bacteria673 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-11 04:48] #21858 closed

[2022-04-11 04:58] #21673 closed

[2022-04-11 05:29] navba-MSFT commented on #21866
@raribeiroMS I have looped you offline with the Product Owners to keep the track of the release and tentative ETA for the fix. Until then you can use --api-version "2021-06-01-preview" parameter in the command. Please feel free to reopen this issue if you have any further queries.

[2022-04-11 05:29] #21866 closed

[2022-04-11 05:47] navba-MSFT commented on #21925
@luoanabecher I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-11 06:19] navba-MSFT commented on #21931
@tbuchi888 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-11 06:27] navba-MSFT commented on #21963
@matluri-fi Could you please let me know if you had a chance to look at my above comment ? Please share the detailed ask so that we can assist you better. Awaiting your reply.

[2022-04-11 06:28] navba-MSFT commented on #21944
@nwohlgemuth I wanted to do quick follow-up to check if you had a chance to look at my above comment.  Could you please share the complete error message you received during pull failure along with the output of --debug parameter? Awaiting your reply.

[2022-04-11 06:46] jiasli commented on #22007
This is an interesting discovery.

The problem is not with `az config`. I run `az config set --local core.output=table` and the `.azure/config` file is created as expected:

![image](https://user-images.githubusercontent.com/4003950/162677871-979bbea8-36ef-417e-8f81-e8ca810a7cb1.png)

It's just the config `core.output=table` doesn't take effect.

I checked the source code in Knack:

https://github

[2022-04-11 07:20] navba-MSFT commented on #21998
@seajhawk Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please try to run the below command and check if you still see same issue ? Awaiting your reply.

[2022-04-11 08:00] #21687 closed

[2022-04-11 08:55] #21811 closed

[2022-04-11 09:12] navba-MSFT commented on #21994
Removing the CXP Attention label and adding the Service Attention label for the pipelines issue.

 @v-anvashist, @V-hmusukula Could you please look into this issue and provide an update on you get a chance? Awaiting your reply.

[2022-04-11 09:26] clinsted commented on #12369
This is working as expected using the syntax by DanoThom.

@DanoThom thank you.

[2022-04-11 09:26] #12369 closed

[2022-04-11 09:34] PramodValavala-MSFT commented on #21847
@alexeyshishkin01 You can already achieve this with one of the following options

**1. Setup Context Locally**
This is straightforward where you get all the files you need locally first, and then call the command to queue the build which will upload the local context to ACR.

**2. Pull External Sources in your Dockerfile**
This is the better approach since you don't have to download/upload files.

[2022-04-11 10:30] RakeshMohanMSFT commented on #21965
@apapajohn I managed to get it to work with az version 2.34.1 with the similar environment as yours. Can you please share share the debug trace for the issue, of course after sanitizing sensitive information from the log.

[2022-04-11 10:52] RakeshMohanMSFT commented on #21985
This is a duplicate of https://github.com/Azure/azure-cli/issues/21953, we will continue to work on the issue to provide a solution under https://github.com/Azure/azure-cli/issues/21953

[2022-04-11 10:52] #21985 closed

[2022-04-11 10:55] RakeshMohanMSFT commented on #21978
@aron-draper please use `--debug` flag in your `az create container....` command

`--debug prints even more information about CLI operations, used for debugging purposes. If you find a bug, provide output generated with the --debug flag on when submitting a bug report`

[2022-04-11 11:03] #21153 closed

[2022-04-11 13:39] jonie001 commented on #21959
What are the command when you set ACL? What existing values present have been removed? Can you provide more error message or expected results and actual running results?

[2022-04-11 14:16] jgercken opened #22018 "az storage entity insert trying cast value as int32 when odata.type=Edm.Int64"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm explicitly casting the value as int64.  This command syntax has worked ~300 times in the past year so I'm not sure what changed.

**Command Name**
`az storage entity insert SizeInBytes=862225049223168 SizeInBytes@odata.type=Edm.Int64`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. No

[2022-04-11 15:29] seajhawk commented on #21998
Hello @navba-MSFT,

I got two errors when trying to pip install the package:

`Error: pg_config executable not found.`

and
`ERROR: Could not find a version that satisfies the requirement psycopg2==2.8.5`

Though version 2.8.5 is clearly in the list of versions (emphasis mine):
[code]

I tried a couple of other versions that are in the list and got the same error.

I do not have postgresql install

[2022-04-11 15:32] aron-draper commented on #21978
cli.knack.cli: __init__ debug log:
Enable color in terminal.
Init colorama.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x01B75148>, <function OutputProducer.on_global_arguments at 0x01BE2FA0>, <function CLIQuery.on_global_arguments at 0x01D08B68>]
cli.knack.cli: Event: CommandInvoker.OnPreCommandT

[2022-04-11 15:50] apapajohn commented on #21965
c:\dev\abcdefgzzffffxxxxxxx\xxxxxxx\xxxxxxx-frontend>az webapp deployment slot create --name abcdefg-myservice --resource-group  abcdefgzz-xxxxxxxxxxx_-rgp-q1-abcdefgzzffff-ase  --configuration-source abcdefg-myservice --slot temp34debug --debug
cli.knack.cli: Command arguments: ['webapp', 'deployment', 'slot', 'create', '--name', 'abcdefg-myservice', '--resource-group', 'abcdefgzz-xxxxxxxxxxx_-rg

[2022-04-11 16:03] PramodValavala-MSFT commented on #21899
@piegre Glad you found a fix and thanks for sharing! Closing.

[2022-04-11 16:31] alexeyshishkin01 commented on #21847
ok, the following command does the job:

az acr build --image acr:{{.Run.ID}} --image acr:latest --registry $PGPROACR --file Dockerfile https://github.com/Azure/acr-cli.git

[2022-04-11 17:20] AbhishekTripathi commented on #21869
After some detailed analysis, I found that the root cause is the ZScaler proxy which is installed on the enterprise laptop. After the firewall was updated for unrestricted access to  *.azconfig.io, the problem was resolved. I can confirm that this issue is not with the AZ CLI albeit the error message can contain more detail and use more meaningful verbiage.

[2022-04-11 17:21] vivuu1989 commented on #16792
Facing same kind of issue and below is the part of pipeline where I am trying to update the ACL as per the user input paramater values.
for the tasks setting default and access policies steps , i have the issue.

Here my requirement is that, we have many existing big filesystems which are already assigned with some default and access policies. Now we need to timely update the exising permission of

[2022-04-11 17:42] jalauzon-msft commented on #21781
Hi @jaianshu12 Anshul, sorry for the delay. This has been identified as an SDK issue and is being tracked here: https://github.com/Azure/azure-sdk-for-python/issues/23934.

Once it's fixed in the SDK, CLI will also have to make some changes to support the fix.

[2022-04-11 19:05] alexeyshishkin01 opened #22020 "'--cmd' key for 'az acr run'"
[Enter feedback here]

Hello, all !

the documentation https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-run says:

'--cmd
Commands to execute. This also supports additional docker run parameters or even other docker commands.'

Where can I find more information which additional docker run parameters I can use and even more important which other docker commands can I exec

[2022-04-11 21:52] rittneje opened #22021 "Tags in mcr.microsoft.com should be sorted semantically not lexicographically"
https://mcr.microsoft.com/v2/azure-cli/tags/list

The tags are currently presented in ascending lexicographic order, so for example 2.19.1 sorts before 2.2.0. This makes it more cumbersome to see what the latest tag actually.

Instead, they should be presented in descending semantic order, with newer tags up top, like the DockerHub UI does.
[code]

[2022-04-11 22:10] jwshive opened #22022 "Linux Version is too long. It cannot be more than 4000 characters"
**Describe the bug**
When attempting to create an Azure WebApp with Containers using Docker-Compose, our file is over 4000 characters when base64 encoded. As such, we can no longer run azure web app for containers.

**To Reproduce**
Create a docker-compose file with enough services to breach the 4000 character limit with base64 encoding.

**Expected behavior**
The backend storage should be able to

[2022-04-11 22:22] Ranzo3 commented on #22004
No, I'm referring to the docs, not the functionality.  The docs should
clearly show that the options for the --data-disk-delete flag are "delete,
deallocate".  I assumed it was "true, false" which is incorrect.

On Sat, Apr 9, 2022 at 9:00 PM Xing Zhou ***@***.***> wrote:

--

*RANZO TAYLOR*
VP, Technical Services
M: 415.341.3769
Delphix.com <http://delphix.com>
[image: Twitter] <https://twitter.c

[2022-04-11 22:56] yonzhan commented on #22018
storage

[2022-04-11 23:03] yonzhan commented on #22020
route to CXP team

[2022-04-11 23:05] yonzhan commented on #22021
@jiasli for awareness

[2022-04-11 23:05] yonzhan commented on #22022
route to CXP team

[2022-04-11 23:28] kirvam opened #22023 "az network nsg rule create FAILS with weird 'str' object has no attribute 'is_default' error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nsg rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nsg rule create --v --subscription {} --resource-g

[2022-04-11 23:55] SaurabhSharma-MSFT commented on #21805
@coolchirag Please let us know in case you have any questions, else we are proceeding with the closure of this issue.

[2022-04-11 23:59] yonzhan commented on #22023
network

[2022-04-12 00:20] jwshive commented on #22022
What is the recommended workaround for this?

[2022-04-12 01:00] SaurabhSharma-MSFT commented on #21830
@rafex I am seeing any issues when using this cmdlet.  Can you please update to the latest version of spring cloud by using `az extension update -n spring-cloud` and let us know.

[2022-04-12 02:46] constantine1998 commented on #8388
The issue still exists, The name of the consumption cant be specified while creating the function, and the name of the consumption app is still based on location. Any Update on this!?

[2022-04-12 04:05] navba-MSFT commented on #22003
@adrianFHNW Thanks for sharing the feedback and reporting this issue. I will look into this and update the docs accordingly.

[2022-04-12 05:07] panchagnula commented on #8388
This is not a CLI issue  - I don't think this is possible on any client during functionapp create. @fabiocav can you comment on this?

[2022-04-12 05:33] jonie001 commented on #21959
According to your ACL pipeline section information, maybe your `--permissions` parameter value is incorrect. You should set the `--permissions` parameter to the short form of ACL to update the ACL of directory or file. Both symbolic (rwxrw rw-) and 4-digital octal notation (e.g. 0766) are supported. For more information, please refer to
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lak

[2022-04-12 05:36] PramodValavala-MSFT commented on #22022
@jwshive This limitation is [documented](https://docs.microsoft.com/en-us/azure/app-service/quickstart-multi-container#create-a-docker-compose-app) and since the feature is in preview, there is no near term plan to raise the limit.

You could however deploy multiple containers without the same limitation using [Azure Container Instances](https://docs.microsoft.com/en-in/azure/container-instances/t

[2022-04-12 05:36] #22022 closed

[2022-04-12 05:47] YuanyuanNi commented on #22006
Hi:
     @hugo-zhang-uipath Notice that the id of LAW alert rule is "/subscriptions/xxxx/resourceGroups/nyy/providers/microsoft.insights/activityLogAlerts/xxxx" is different with the alert created with "az monitor metrics alert create" command,which is 'Microsoft.Insights/metricalerts/xxxxxxxxxxxxxxxx', so CLI shows the resource not found when using "az monitor metrics alert show" command.
Best wi

[2022-04-12 06:16] #21846 closed

[2022-04-12 06:24] RakeshMohanMSFT commented on #22020
@alexeyshishkin01 Thank you for reaching out, we are looking into it.

[2022-04-12 06:31] #21920 closed

[2022-04-12 06:36] PramodValavala-MSFT commented on #21847
@alexeyshishkin01 Glad to hear that! Closing this issue.

[2022-04-12 06:42] #21999 closed

[2022-04-12 07:05] vivuu1989 commented on #21959
@jonie001 not clear on your points, so can update the ACL using set --permisssion parameters for given users, if yes, what will be the suggested working command. The document is not clear , how can set permisison for a user with the given permisison

[2022-04-12 07:40] navba-MSFT commented on #21697
@abhisek88 Apologies for the late reply. We are looking into this issue. We will try to include it for the April release.

CC @a-santamaria

[2022-04-12 07:49] navba-MSFT commented on #21943
@oobaro The above PR has been filed to fix this bug. This will be fixed in next release.

[2022-04-12 08:00] #21702 closed

[2022-04-12 08:00] #18645 closed

[2022-04-12 08:00] #11341 closed

[2022-04-12 08:01] #10194 closed

[2022-04-12 08:51] accern-pavan opened #22029 "Az storage account create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account create --verbose`

## Expected Behavior

##

[2022-04-12 09:12] #19299 closed

[2022-04-12 09:25] jonie001 commented on #21959
If `--permissions` doesn't conformance to your requirements, I suggest using `--acl` commands. I use the following set command to update ACL, and other existing values are not deleted or affected.
<img width="767" alt="image" src="https://user-images.githubusercontent.com/99947323/162927406-529e57a7-52f2-4b1f-b549-c94a6542d63e.png">

[2022-04-12 09:53] RakeshMohanMSFT commented on #21869
Thank you @AbhishekTripathi for the confirmation and glad to hear that it is working for you now. Thank you for feedback about the improving the error message, we will try to improve the same. I will go ahead and close the issue.

[2022-04-12 09:53] #21869 closed

[2022-04-12 10:15] choukimasri commented on #21996
I found a workaround by writing this instead:
[code]

[2022-04-12 10:18] thomasddn commented on #8388
It is possible with an ARM template.

[2022-04-12 10:25] PramodValavala-MSFT commented on #21847
@alexeyshishkin01 Yes. Ideally you would have to build the container for every update. Could you elaborate on your scenario?

[2022-04-12 10:34] alexeyshishkin01 commented on #21847
my scenario is on very top of this chat, I'm duplicating it:

This question is regarding 'az acr build' command - https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build

It implies that Docker file and the source code have to be in the same context (local, git repository, remote tarball or repository of OCI artifact).

Consider the following case:

there's a git reposito

[2022-04-12 10:46] siematypie opened #22032 "az aks nodepool update --min-count cannot be 0 after az cli update"
**Describe the bug**
After cli update to version 2.35.0 from 2.33.1 we started getting `--min-count must be in the range [1,100]` errors when running
this command `az aks nodepool update --name <nodepool> --cluster-name <cluster>  --resource-group <rg> --min-count 0 --max-count 2 --update-cluster-autoscaler --mode user`
Setting nodepool min-count to 0 is possible both from older version of cli and

[2022-04-12 10:50] yonzhan commented on #22029
storage

[2022-04-12 11:06] PramodValavala-MSFT commented on #21847
@alexeyshishkin01 If its just building a container, then either one of the options should work for. To keep up with the remote changes, you would just have to automate it to build whenever there are new changes in the repo.

[2022-04-12 12:02] evelyn-ys commented on #22029
Can you check the dependency if `azure-mgmt-storage` and `azure-multiapi-storage` are installed well? Seems package loss from the debug log

[2022-04-12 12:04] me1221 opened #22036 "group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2022-04-12 13:46] surenderssm opened #22038 "Unable to find IoT Hub: {name} in current subscription with Service Principal login in az iot hub device-identity create"
**Describe the bug**

Running following command with logged in SPN, fails with error
`Unable to find IoT Hub: ssmiothubdapr in current subscription <subid>`

    az iot hub device-identity create -n ssmiothubdapr -d certification-test-device

Please note this works as expected with user account login where a user has `owner` access on subscription.

This issue has been observer  with `az login --s

[2022-04-12 15:36] PramodValavala-MSFT commented on #22038
@surenderssm The `IoT Hub Data Contributor` role provides access to data plane operations but it actually requires resource level permissions to manage it. You need to provide it permissions at the [resource scope](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev-guide-azure-ad-rbac#resource-scope) as documented, which is what you have done.

Based on your requirement, you could [create

[2022-04-12 15:36] #22038 closed

[2022-04-12 15:46] vivuu1989 commented on #21959
in your case u just tried to add another group only, if you try for adding one more user, it will replace.

this what the documents says
Set ACLs
When you set an ACL, you replace the entire ACL including all of it's entries. If you want to change the permission level of a security principal or add a new security principal to the ACL without affecting other existing entries, you should update the A

[2022-04-12 16:55] #21847 closed

[2022-04-12 20:44] bolamalek opened #22040 "Trying to install kubectl via az after fresh install on fedor"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-04-12 20:45] #22040 closed

[2022-04-12 20:55] Ben424242 opened #22041 "az network application-gateway ssl-profile add adds a default ssl-policy even though none was selected"
**Describe the bug**
When adding a new ssl-profile and not specifying anything for policy-type or policy-name the resulting profile uses one of the predefined policies like "AppGwSslPolicy20150501" instead of a null.

**To Reproduce**
az network application-gateway ssl-profile add --output none `
     --gateway-name $wafName `
      --resource-group $wafRG `
      --name $sslProfileName `

**Expec

[2022-04-12 21:03] piyushsh commented on #21940
@cxznmhdcxz I don't have any `.ssh` folder in `c:\Users\Piyush Sharma\` folder.

[2022-04-12 22:54] SaurabhSharma-MSFT commented on #21882
@LotteVoorhorst I am not able to reproduce this.  I have tried this without adding CDN profile service principal to Key vault access policy and getting the correct error information -
![image](https://user-images.githubusercontent.com/38112130/163067506-58417185-8c41-4325-9918-435ee82ec9bc.png)
I am using the same extension version as yours.

[2022-04-13 01:44] crizzs opened #22044 "Zip Deploy for ASEv3"
Currently, im using azure cli 2.35.0 to do zip deployment on ASE v3. Have encountered problems to do zip deploy.

I am able to configure appsettings using azure cli. As for zip config, it timeout-ed.

WARNING: Getting scm site credentials for zip deployment
error	13-Apr-2022 09:28:05	WARNING: Starting zip deployment. This operation can take a while to complete ...
error	13-Apr-2022 09:30:12	ERROR:

[2022-04-13 02:12] yonzhan commented on #22044
Please provide detailed CLI command.

[2022-04-13 02:35] crizzs commented on #22044
Hi Yon Zhan,

I am deploying through pipeline. The XXX are existing variables use by the ASE v2, and it is still working well.
az functionapp deployment source config-zip -g XXX -n XXX --src PATH_TO_FILE

[2022-04-13 03:36] #21058 closed

[2022-04-13 03:39] jonie001 commented on #21959
Hi, @vivuu1989
The CLI can only give the update command if the service supports it. So we have submitted the feedback to sercice.

[2022-04-13 04:13] jaianshu12 commented on #21781
Thanks for the heads up. @jalauzon-msft

[2022-04-13 06:18] fberson commented on #21898
Using the retrieve-registration option fixed it for me!

[2022-04-13 06:49] jsntcy commented on #21760
@jsntcy

[2022-04-13 07:12] navba-MSFT commented on #22044
@crizzs Thanks for reaching out to us and sharing this feedback. Looking at the above debug output, it seems like the issue is due to the network connectivity causing timeout error. The https connection to this request url _apisvc-afunc-s-omabizcard-v3-uatez.scm.ase-oma-uatezapp-20900015.appserviceenvironment.net_ seems to be timing out.

Could you please let me know if you have any proxy in your

[2022-04-13 07:23] jonie001 commented on #16792
Replied in [21959](https://github.com/Azure/azure-cli/issues/21959)

[2022-04-13 07:25] jsntcy commented on #21760
@jsntcy

[2022-04-13 07:39] crizzs commented on #22044
Hi Navba,

I am able perform
1. ) nslookup to the address -ILB of ASEv3 (Added to DNS)
2) No proxy in the front and,
3) Able to use az cli to configure this app

[2022-04-13 07:42] navba-MSFT commented on #22044
@crizzs Thanks for getting back. Sure, Please test it from the portal and please share the debug output again if you see the same issue there.

[2022-04-13 08:00] #20163 closed

[2022-04-13 08:00] #19979 closed

[2022-04-13 08:00] #19552 closed

[2022-04-13 08:00] #19436 closed

[2022-04-13 08:01] #19252 closed

[2022-04-13 08:01] #19056 closed

[2022-04-13 08:01] #15066 closed

[2022-04-13 08:01] #14572 closed

[2022-04-13 08:01] #14365 closed

[2022-04-13 08:01] #13560 closed

[2022-04-13 08:01] #10879 closed

[2022-04-13 09:21] navba-MSFT commented on #22044
@crizzs Sure. Take your time. I shall follow-up with you next week.

[2022-04-13 12:42] k1ko00 opened #22051 "Failed to get subscription status / activate TRIGGER"
Hi all,

I'm having some troubles to create a new trigger in my Azure, it's a Storage Event.

The strange thing here it is working when I trigger manually but when I try to put Status : "Started" and publish it bring me this issue.

I already checked about Resource Provider : Microsoft.StorageAccount and about my V2 of Storage Account

![image](https://user-images.githubusercontent.com/103579065/1

[2022-04-13 12:59] yonzhan commented on #22051
Please provide your detailed CLI command

[2022-04-13 13:53] k1ko00 commented on #22051
{
    "name": "Event_Disponibilidad",
    "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
            {
                "pipelineReference": {
                    "referenceName": "blob-to-sql-Disponibilidad",
                    "type": "PipelineReference"
                }
            }
        ],
        "type": "BlobEventsTrigger",
        "

[2022-04-13 13:53] #22051 closed

[2022-04-13 13:53] k1ko00 commented on #22051
{
    "name": "Event_Disponibilidad",
    "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
            {
                "pipelineReference": {
                    "referenceName": "blob-to-sql-Disponibilidad",
                    "type": "PipelineReference"
                }
            }
        ],
        "type": "BlobEventsTrigger",
        "

[2022-04-13 14:24] yuvaraj-azurevm opened #22053 "Vm Stuck on booting phase for pending update"
[Enter feedback hereOn the day-to-day scenario we receive case for VM failed to boot from Boot diagnostic, its stuck for pending update.

After creating nested VM we ask users to Run DISM /image: <drive letter for problematic disk>:\ /cleanup-image /revertpendingactions.

Adding as a switch in Run Id would beneficial all.
]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-04-13 16:42] LukeCarrier commented on #21814
Can someone tame @msftbot? You must lose so much feedback and community goodwill from this incessant closing of tickets without resolution.

[2022-04-13 16:57] zhusulai opened #22054 "RemoteDisconnected Error When Updating Postgres Server"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
RemoteDisconnected is thrown when running az command to ensure managed identity is assigned to a Postgres server.

**Command Name**
`az postgres server update --name <server_name> --resource-group <rg_name> --assign-identity`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argum

[2022-04-13 17:12] timmcfadden opened #22055 "az monitor scheduled-query update doesn't account for SchedulequeryRules created with older API version."
**Describe the bug**
If I try to enable a or disable a scheduledqueryrule with az monitor scheduled-query update it doesn't work on rules created with an older version of the API

**To Reproduce**
az monitor scheduled-query update --resource-group scom2k16-loganalytics-rg --name "Unexpected shutdown" -
-disabled false

(InvalidRequestContent) The request content was invalid and could not be deseri

[2022-04-13 17:20] SaurabhSharma-MSFT commented on #22054
@zhusulai We are looking into it and get back to you for any additional information.

[2022-04-13 17:22] carlosrenemendoza commented on #15705
el mismo problema como desabilitar el usuario de deployment

[2022-04-13 18:46] kyclai commented on #21536
Hi @jsntcy, I'm just wondering how this work item is progressing and if it's still estimated to complete by April 26, 2022.

[2022-04-13 18:55] SaurabhSharma-MSFT commented on #21489
@wibbico We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-13 18:55] #21489 closed

[2022-04-13 18:58] SaurabhSharma-MSFT commented on #21805
@coolchirag We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-13 18:58] #21805 closed

[2022-04-13 18:59] SaurabhSharma-MSFT commented on #21830
@rafex Please let us know if you have any questions else we will proceed with the closure of this issue.

[2022-04-13 20:38] smisaacs commented on #21168
With https://github.com/Azure/azure-cli/pull/21701 being closed with no ETA, any suggested work around to deploy to a private endpoint in this fashion?

[2022-04-13 22:56] SatishBoddu-MSFT commented on #21900
Routing to the service team's attention for further actions!

![image](https://user-images.githubusercontent.com/62923178/163283063-596df86c-a5a3-48dd-bd45-38af3c63c0b4.png)

[2022-04-13 23:01] PCNZ commented on #10229
Yes it is working now.
Tested with 2.32.0 which failed, then upgraded to 2.35.0 and confirmed working.
`
az version
{
  "azure-cli": "2.32.0",
  "azure-cli-core": "2.32.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

az eventhubs eventhub update --name eventhubname --enable-capture false --namespace-name eventhubnamespace --resource-group resourcegroupname
{
  "captureDescription": {

[2022-04-13 23:06] yonzhan commented on #22053
compute

[2022-04-13 23:08] yonzhan commented on #22054
route to CXP team

[2022-04-13 23:08] yonzhan commented on #22055
monitor

[2022-04-14 00:19] maertendMSFT opened #22057 "Error message: VM SSH currently doesn't support managed identity or Cloud Shell."
https://github.com/Azure/azure-cli/blob/2e0a42f304f5fd543818a98a9eab2faf8d1fd6d6/src/azure-cli-core/azure/cli/core/auth/adal_authentication.py#L23

This line should tell the users to run `az login` prior to running `az ssh`, not the current text, `VM SSH currently doesn't support managed identity or Cloud Shell.`

New recommended text "`az login` must be run before `az ssh` in Cloud Shell."

[2022-04-14 00:28] kcheeeung opened #22058 "No Recursive option in az storage directory create"
Was this case ever considered? So I wanted to run this, but it fails.
[code]

Desired behavior:
Create folder a, then folder a/b.

I have to do this manually...
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9536c0c-6728-0d34-9b51-0d5a417e0d80
* Version Independent ID: d80696c9-1748-c63d-b8bb-2089a4c97b43
* Con

[2022-04-14 00:50] #21211 closed

[2022-04-14 00:55] yonzhan commented on #22057
@jiasli for awareness

[2022-04-14 00:56] yonzhan commented on #22058
storage

[2022-04-14 01:32] ahanafusa opened #22059 "Please make the description of the --tags parameter clearer."
The description of the --tags parameter is confusing.
![image](https://user-images.githubusercontent.com/98443502/163295243-45dd6262-5ac6-40ce-ba8a-41987543f28f.png)

It is misleading that [] is required.
For example, I did not understand that the tag name including the space is specified as follows.
--tags "Department Code=784500"

Would you please describe it in an easy-to-understand manner?

--

[2022-04-14 01:39] yonzhan commented on #22059
monitor

[2022-04-14 02:03] zhoxing-ms commented on #22053
Since `vm-repair` is owned by the service team, @haagha Could you please help have a look~

[2022-04-14 02:05] #21943 closed

[2022-04-14 03:46] jsntcy commented on #21536
Yes, we planed it in this sprint and will release it around April 26.

[2022-04-14 05:09] navba-MSFT commented on #10229
Thanks for getting back. We will proceed with the closure now. Please feel free to reopen the issue if you have any queries or concerns.

[2022-04-14 05:09] #10229 closed

[2022-04-14 05:16] navba-MSFT commented on #21566
@yichungyu Removing CXP attention and adding Service attention label on this.

@xgithubtriage Could you please look into this issue and provide an update on this once you get a chance ?

[2022-04-14 05:52] navba-MSFT commented on #21963
@matluri-fi This is a quick follow-up to check if you can provide more details on the ask. Looking at the issue title, I believe you are trying to use CMD with continuous backup for cosmosdb. You can do it using [Azure CLI](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#to-create-a-continuous-backup-account-by-using-the-azure-cli) or an [Azure Resource Manager template](https://

[2022-04-14 05:54] navba-MSFT commented on #21944
@nwohlgemuth Please provide details on this issue once you get a chance.

[2022-04-14 05:56] navba-MSFT commented on #21931
@tbuchi888 Your PR has been merged. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-14 05:56] #21931 closed

[2022-04-14 05:58] navba-MSFT commented on #21925
@luoanabecher We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-14 05:58] #21925 closed

[2022-04-14 06:21] YuanyuanNi commented on #21724
![image](https://user-images.githubusercontent.com/95396631/163325321-3f76314f-6c6a-439b-b231-501aa2ae3a76.png
Hi,
@Candelit  we have reproduced this issue and routing this to service team, thank you for your reporting.
Best wishes.

[2022-04-14 06:56] RakeshMohanMSFT commented on #21814
@LukeCarrier I understand your concern, since this is a feature request which as I mentioned earlier will be considered in future releases which could take sometime (No ETA as of now). We internally do have a work item to track this request. Therefore we decided to close this issue.

[2022-04-14 06:59] RakeshMohanMSFT commented on #21965
@apapajohn Let me look into it and get back to you

[2022-04-14 07:25] #20520 closed

[2022-04-14 07:31] RakeshMohanMSFT commented on #21965
@apapajohn after adding --configuration-source param i am able to reproduce the issue. Debugging further.

[2022-04-14 07:45] navba-MSFT commented on #19559
@schrewe Apologies for the late reply. I was able to run the command on my box. Could you please use the [most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and check if you still face the same issue ? Awaiting your reply.

[2022-04-14 08:00] #21104 closed

[2022-04-14 08:00] #20617 closed

[2022-04-14 08:00] #20489 closed

[2022-04-14 08:00] #19738 closed

[2022-04-14 08:00] #19627 closed

[2022-04-14 10:46] RakeshMohanMSFT commented on #21996
@choukimasri Thank you for the confirmation, glad you could fix the issue. We will pass on this feedback. Closing this thread for now.

[2022-04-14 10:46] #21996 closed

[2022-04-14 11:11] acefei commented on #12946
@jiasli I tried to use `az rest --method POST --uri https://graph.microsoft.com/v1.0/applications/AppObjectId/addPassword --body '{"passwordCredential":{"displayName": "xxxx"}}'` with the required permission.
![image](https://user-images.githubusercontent.com/1448772/163377013-9e99e3d8-16f8-4241-8561-a80a72b183d8.png)
It still shows `Insufficient privileges to complete the operation.`
Any thoughts

[2022-04-14 11:40] jiasli opened #22063 "Single Click SSH in Azure Cloud Shell"
## Requirement

Using Azure Cloud Shell account to SSH into an Azure VM is currently not supported:

https://github.com/Azure/azure-cli/blob/2e0a42f304f5fd543818a98a9eab2faf8d1fd6d6/src/azure-cli-core/azure/cli/core/auth/adal_authentication.py#L23

We are working with MSAL and VM team to implement Single Click SSH in Azure Cloud Shell.

## Workaround

As pointed out by https://github.com/Azure/azu

[2022-04-14 11:40] jiasli commented on #22057
We are working on Azure Cloud Shell's SSH support right now! See #22063.

[2022-04-14 11:41] #22057 closed

[2022-04-14 11:42] jiasli commented on #22063
## Workaround

As pointed out by https://github.com/Azure/azure-cli/issues/22057#issue-1203904439, a workaround is to run `az login` in Cloud Shell to replace the default Cloud Shell account with a user/service principal account.

[2022-04-14 13:25] MichaelJRogersGM opened #22065 "Subscription parameter is missing in documentation."
[Enter feedback here]
The subscription parameter is missing documentation.

It is included on this page:
https://docs.azure.cn/en-us/cli/deployment/group?view=azure-cli-latest#az-deployment-group-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649a07bb-0fa2-6c51-2820-88b1bafa80ba
* Version Independent ID: ace434b

[2022-04-14 14:07] yonzhan commented on #22065
ARM

[2022-04-14 14:33] apapajohn commented on #21965
OK. T

[2022-04-14 16:49] eglavin opened #22066 "cdn name-exists command failure in pipeline"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn name-exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cdn name-exists -n {}`

Running `az cdn name-exists -n` with any n

[2022-04-14 17:28] SaurabhSharma-MSFT commented on #22066
@eglavin We are looking into it and get back to you for any additional information.

[2022-04-14 17:39] MasterWayZ opened #22067 "az interactive fails with ImportError: cannot import name 'Mapping' from 'collections'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az interactive`

## Expected Behavior
It should work.

## Environment Summary
[code]
## Additional Context

[2022-04-14 18:06] SaurabhSharma-MSFT commented on #21686
@chitrankv27 Sorry for the delay on this one.  I am working internally with the products team on this issue and get back to you as early as possible.

[2022-04-14 18:12] sal-dwag opened #22068 "az cli returns error after "az login""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior
Expect to become logged into Azure.

## Environ

[2022-04-14 18:37] #22068 closed

[2022-04-14 19:31] LukeCarrier commented on #21814
I understand that it takes time to address feature requests. I don't understand this bot's incessant spamming:

Does Microsoft expect its customers to reply to their threads every week to keep their issues open? If so, I can write a GitHub Action to do that, but at this point I am more likely to up and move to a provider that doesn't waste so much of my time ;-)

[2022-04-14 20:24] DominusFlevit commented on #21902
Running that command results in:
![image](https://user-images.githubusercontent.com/55561970/163469672-2d84bd06-4c1c-41bc-9b6b-8e3b14dd518c.png)

[2022-04-14 20:41] the-artist-henry commented on #21902
[image](https://user-images.githubusercontent.com/23616928/163471800-90d3f54d-4d78-4a7d-8352-c63b1fe6c2e2.jpeg)

[2022-04-14 21:00] SaurabhSharma-MSFT commented on #22054
@zhusulai I am not seeing any using the cmdlet.  This error means sever somehow closed the connection.  Can you please try executing the same using a Azure Cloud Shell. Additionally, you can try executing the same for some other Postgre server.

[2022-04-14 21:23] SatishBoddu-MSFT commented on #21902
Hello @aeortic ,

Did you check the CLI and extension versions? Is it running fine on the Azure Portal cloud shell? (Which Region is used?)

I was able to run the same command from the Azure cloud shell and from my Windows PC Command line! (West US 2)

![image](https://user-images.githubusercontent.com/62923178/163478417-8b728577-3f35-4f72-8057-5a4b42459646.png)

[2022-04-14 21:38] brittanyrowe opened #22069 "CLI: az vm update --host argument not working as expected"
**Describe the bug**
az vm update for VMs on multitenant doesn't work as expected in the following use cases:
1. For a multitenant VM in the same region/zone as the host/host group, if the host group does NOT have VM autoplacement enabled, the value for the --host argument should be the host name, not the host ID:
![image](https://user-images.githubusercontent.com/75815751/163480510-5da72341-e1c4-

[2022-04-14 21:44] dbradish-microsoft opened #22070 "az ad sp show | parameter information reported as incorrect"
Moving azure-docs-cli [PR #2973](https://github.com/MicrosoftDocs/azure-docs-cli/pull/2973) for reference command `az ad sp show`.  The update is requested on file **latest/docs-ref-autogen/ad/sp.yml**.

**PR DESCRIPTION -->**
There's an error in the parameter description. It's supposed to be a name or object id, but none of those actually work. The only value that works here is the "application (

[2022-04-14 23:40] SaurabhSharma-MSFT commented on #22066
@eglavin I am able to reproduce this issue with CLI version 2.35.  This command does however worked with CLI version 2.34.1
I am redirecting this to services team to look into this issue.

[2022-04-14 23:43] yonzhan commented on #22066
route to CXP team

[2022-04-14 23:46] yonzhan commented on #22067
interactive

[2022-04-15 00:12] ShingoHanai opened #22071 "az logic workflow update cmd without --definition option removes parameters property in Logic App code"
**Describe the bug**
After executing following cmd, parameters property including API connection resource id in Logic App code would be removed.
*---*
az logic workflow update --resource-group "{Resource Group}" --name "{Workflow Name}" --state "{Enabled or Disabled}"
*---*

**To Reproduce**
I reproduced via latest az logic app module.

My Repro
- Cmd
az logic workflow update --resource-group "log

[2022-04-15 00:25] yonzhan commented on #22069
Compute

[2022-04-15 00:45] yonzhan commented on #22070
@jiasli for awareness

[2022-04-15 00:54] yonzhan commented on #22071
route to CXP team

[2022-04-15 01:46] zhoxing-ms commented on #22065
What do you mean by missing documents? In fact, I can see the relevant document doc link: [az-deployment-group-create-optional-parameters](https://docs.azure.cn/en-us/cli/deployment/group?view=azure-cli-latest#az-deployment-group-create-optional-parameters)
![Screenshot 2022-04-15 094242](https://user-images.githubusercontent.com/16612065/163504836-6c205718-f7ee-4bca-ab44-b268ff107ccc.png)

[2022-04-15 02:55] jiasli commented on #12946
@acefei, Azure CLI is merely a REST client. For permission issue, you may reach out to AAD support: https://azure.microsoft.com/en-us/support/create-ticket/

[2022-04-15 03:34] drdamour commented on #12946
@acefei what shell you running that from?

[2022-04-15 06:20] zhoxing-ms commented on #22069
@cxznmhdcxz Please help have a look~

[2022-04-15 06:28] msyyc opened #22073 "[resource] Bump `azure-mgmt-resource` to latest version(> 21.0.0)"
**Is your feature request related to a problem? Please describe.**

There is a bug in `azure-mgmt-resource` and it shall also influence azure cli. For more details, see https://github.com/Azure/azure-sdk-for-python/issues/23828

**Describe the solution you'd like**

Bump version to latest (> 21.0.0)

**Describe alternatives you've considered**

**Additional context**

[2022-04-15 06:30] veerun14 commented on #21295
I have the same issue.
Running any _az_ command does nothing and returns without any errors.

Installed az cli using this command

`Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'`

OS: Windows Server 2022 Datacenter
Version 10.0.20348.587
Azure CLI verion: _well, az --version does nothing_

[2022-04-15 06:44] #21789 closed

[2022-04-15 06:48] yonzhan commented on #22073
resource

[2022-04-15 07:20] #21221 closed

[2022-04-15 07:20] #21210 closed

[2022-04-15 07:20] #20970 closed

[2022-04-15 07:56] #22018 closed

[2022-04-15 07:57] #21966 closed

[2022-04-15 08:00] #21745 closed

[2022-04-15 08:00] #20817 closed

[2022-04-15 08:21] jiasli commented on #21295
1. Could you check if there are some registry items like `AutoRun` configured https://github.com/Azure/azure-cli/issues/19202#issuecomment-898271305

2. Does it work if you directly invoke
[code]

3. If you create a cmd file like `test.cmd`:
[code]
   Are you able to successfully run `./test.cmd` and get `Hello World` printed?

[2022-04-15 09:00] jonie001 commented on #15989
This is the result of my running `az storage file copy start-batch --source-uri "https://jonieaccount.file.core.windows.net/jonieshare?sharesnapshot=2022-04-15T08:25:59.0000000Z" --destination-share jonieshares --account-name jonieaccount ` command. Maybe you can upgrade the CLI version and try again.
Azure CLI version:
azure-cli 2.35.0
core 2.35.0
telemetry 1.0.6
<img width="764" alt="image" src=

[2022-04-15 09:22] omerblecher opened #22075 "Issue with az webapp log tail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail --name {} --resource-group {}`

## Expected Behavi

[2022-04-15 09:48] szymonos commented on #2324
There is autocomplete for git, kubectl, how it is different for az? It is quite annoying that third party companies can and do support PowerShell while Microsoft itself don't.

[2022-04-15 09:48] yonzhan commented on #22075
route to CXP team

[2022-04-15 10:07] jayant-asians-cloud opened #22076 "Error while creating the subnet"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet subnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet subnet create -g {} --vnet-name {} --addre

[2022-04-15 10:18] meniga-jaroslaw opened #22077 "az login is not working when put wrong tenant"
### **This is autogenerated. Please review and update as needed.**
az login is not working when put wrong tenant, should be information about wrong tenant not this error
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requi

[2022-04-15 10:30] fgheysels opened #22078 "az synapse role assignment create has unexpected behavior"
I have an Azure DevOps pipeline which runs on a Linux agent (`ubuntu-latest`), and this agent is currently running Azure CLI 2.35.0

In my pipeline I have a task which creates a Synapse role assignment like this:

[code]

As you can see, I'm using the `--assignee` parameter.
The above statement is used to make sure that an Azure Function can connect to a database in Synapse.   However, my function

[2022-04-15 12:50] yonzhan commented on #22078
synapse

[2022-04-15 12:51] yonzhan commented on #22076
network

[2022-04-15 12:52] yonzhan commented on #22077
@jiasli for awareness

[2022-04-15 13:09] muralidhardasari opened #22079 "az storage blob upload -f report.html --blob-url "........""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload -f {} --blob-url {}`

## Expected Behavior

[2022-04-15 16:28] alersrt commented on #17530
Any update with this issue? Got the same trouble with GitLab runner container.

[2022-04-15 17:25] Tbohunek commented on #12946
For me it works. Just running from PowerShell.
@acefei did you grant/obtain admin consent on `Application.ReadWrite.OwnedBy`? That is required.
You can remove `Directory.Read.All Delegated`, that isn't used here.

There's however another problem, https://github.com/Azure/azure-cli/issues/9742, so you need to call `--body '{\"passwordCredential\":{\"displayName\": \"xxxx\"}}'` instead. 😞

[2022-04-15 17:37] Tbohunek commented on #12946
@jiasli There's one more problem..
`az rest --method POST --uri https://graph.microsoft.com/v1.0/applications/<app_objectid>/addPassword --body '{\"passwordCredential\":{\"displayName\": \"mytest6\"}}'`

Same error also when adding Secret via Portal.

It seems this only happens for Apps created with `az rest --method POST --uri https://graph.microsoft.com/v1.0/applications --body '{\"displayName\"

[2022-04-15 17:54] alersrt commented on #17530
Why wouldn't provide option what would allowed to run this command in non-interactive mode? I mean I understand that this feature is supposed to be interactive like starting a shell and do some manual work. However its necessary sometime run in-container process without any interaction, like a some scheduled jobs, etc.. Yes, you can say that we need to split our workflow on several containers and

[2022-04-15 18:22] roy-work opened #22080 "az acr login hangs"
**Describe the bug**
[code]
And it hangs there.

**To Reproduce**
Other than running `az`, 🤷. It reproduces for me, presently.

**Expected behavior**
It doesn't hang.

**Environment summary**
macOS, installed via brew.
[code]

**Additional context**

The output appears to indicate that this is a different hang than the one in #16312.

[2022-04-15 19:18] eugen-nw opened #22083 "AZ AKS is no longer working. How can I downgrade to the previous version?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks upgrade`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-04-15 19:25] MichaelJRogersGM commented on #22065
Hi @zhoxing-ms

It is included on that link but not on this page:
Content: [az deployment group](https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest)

![image](https://user-images.githubusercontent.com/25063204/163623529-e68aea10-2ffd-4ebf-b0bd-8fa22f9786b0.png)

https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest

[2022-04-15 23:49] yonzhan commented on #22079
storage

[2022-04-15 23:52] yonzhan commented on #22080
route to CXP team

[2022-04-15 23:54] yonzhan commented on #22083
route to CXP team

[2022-04-16 02:23] #21213 closed

[2022-04-16 04:20] zhoxing-ms commented on #22065
In fact, `az deployment group` is a command group that contains only sub commands but no parameters
![Screenshot 2022-04-16 121830](https://user-images.githubusercontent.com/16612065/163661112-f37fc58f-e500-42b9-9888-8ef465a8f18e.png)

[2022-04-16 08:36] alersrt commented on #17530
Okay, I finally managed this trouble out. As workaround we can use [integration][1] between Docker and Azure. We can use `docker exec <container> <comand>` for executing process inside deployed container.

[1]: https://docs.docker.com/cloud/aci-integration/

[2022-04-16 15:04] siddharth234 opened #22084 "`az ssh vm` failure"
**Describe the bug**
`az ssh vm` command fails with the following error.

[code]

**To Reproduce**

**Expected behaviour**
The command should initiate the SSH connection. If it fails it should display a  helpful debug message. The message `Ensure OpenSSH is installed and the PATH Environment Variable is set correctly.` is misleading as `ssh` is accessible via the path and OpenSSH is updated to lat

[2022-04-16 15:26] rckannan opened #22085 "'str' object has no attribute 'is_default'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nsg rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nsg rule create --resource-group {} --nsg-name {}

[2022-04-16 21:47] sercast opened #22086 "Add support for pre-existing resource group"
As a support engineer, we constantly run into issues trying to use az vm repair create with customers that do not have the necessary permissions at the subscription scope to create the necessary resources. Often, they might be scoped to a certain resource group, or can only request these permissions at the RG scope.

Currently az vm repair create will not let you specify an existing RG.

Ask. Add

[2022-04-17 00:53] yonzhan commented on #22084
route to CXP team

[2022-04-17 00:53] yonzhan commented on #22085
network

[2022-04-17 00:55] yonzhan commented on #22086
route to CXP team

[2022-04-17 01:03] #21267 closed

[2022-04-17 01:45] sakanamax commented on #13209
Hi @glaubitz
Any news about python3-PyNaCl ?
Thanks

[2022-04-17 22:23] DmBoiko commented on #13858
Hello,
When publishing a pipeline I get the same error:

TypeError: __init__() takes 2 positional arguments but 3 were given

Could you please help?

[2022-04-17 23:31] #21223 closed

[2022-04-18 01:53] necusjz commented on #22076
@jayant-asians-cloud, it seems vnet creation missing, the usual steps should be like:
[code]

[2022-04-18 02:04] evelyn-ys commented on #22079
Can you share the full command with arguments and debug log?

[2022-04-18 02:45] jiasli commented on #9742
This issue is tracked by https://github.com/Azure/azure-cli/issues/15529.

[2022-04-18 02:50] jiasli commented on #12946
@Tbohunek, I believe the 3 passwords limitation is a design of Graph API [application: addPassword](https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http).

I can reproduce the same. Let me internally involve Graph team on this issue.

[2022-04-18 03:01] jiasli commented on #22077
MSAL improved the error message in https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/443 and Azure CLI incorporated the latest MSAL in 2.35.0 (https://github.com/Azure/azure-cli/pull/21530).

[2022-04-18 03:01] #22077 closed

[2022-04-18 03:20] #21414 closed

[2022-04-18 03:42] navba-MSFT commented on #21944
@nwohlgemuth We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please provide us more details on the error message and the --debug output and reopen this thread. We would be happy to help.

[2022-04-18 03:42] #21944 closed

[2022-04-18 03:47] navba-MSFT commented on #21963
@matluri-fi I hope you had a chance to look at the above comment and follow the suggestion. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please provide more details on the issue and feel free to reopen this thread. We would be happy to help.

[2022-04-18 03:47] #21963 closed

[2022-04-18 04:08] navba-MSFT commented on #22003
@adrianFHNW The above PR has been approved and merged. The `--name `parameter description has been fixed to explicitly indicate the use of lowercase. This will be addressed in the next release. We will now proceed with closure of this issue. If you need any assistance in future, please feel free to reopen this github issue.

[2022-04-18 04:08] #22003 closed

[2022-04-18 05:28] #21849 closed

[2022-04-18 06:08] #21832 closed

[2022-04-18 06:10] necusjz commented on #22023
It's duplicated one as: https://github.com/Azure/azure-cli/issues/22023

[2022-04-18 06:10] #22023 closed

[2022-04-18 07:08] RakeshMohanMSFT commented on #22020
@alexeyshishkin01 --cmd is a short cut for [YAML reference - ACR Tasks - Azure Container Registry | Microsoft Docs](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#cmd), we have also updated the documentation through a PR. Closing the issue now.

[2022-04-18 07:08] #22020 closed

[2022-04-18 07:42] dr-dolittle opened #22089 "Can't install Azure CLI ML extension - Failed to delete 'C:\Users\xxx\.azure\cliextensions\ml': [WinError 3] The system cannot find the path specified: 'C:\\Users\\xxx\\.azure\\cliextensions\\ml'."
**Describe the bug**
I can successfully install the Azure CLI ML extension v1 via `az extension add --name azure-cli-ml`.

If I try the same (and `azure-cli-ml` is not installed) for `az extension add --name ml` I get `Failed to delete 'C:\Users\xxx\.azure\cliextensions\ml': [WinError 3] The system cannot find the path specified: 'C:\\Users\\xxx\\.azure\\cliextensions\\ml'`

**To Reproduce**
Insta

[2022-04-18 07:51] navba-MSFT commented on #22080
@roy-work Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I was able to run the az acr login `cmd` on my box. Sharing my Az CLI version here:

az version
{
  "azure-cli": "2.35.0",
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.60",
    "attestation": "0.2.0",
    "db-up": "0.2.7"
  }
}

The `az acr l

[2022-04-18 08:24] #21878 closed

[2022-04-18 08:33] yonzhan commented on #22089
route to CXP team

[2022-04-18 08:36] #22004 closed

[2022-04-18 08:40] Tbohunek commented on #12946
@jiasli I don't think so. The Graph API `addPassword` works on a App **created** via Azure Portal. It has to do with the App config but comparing its json with Graph-API created App doesn't reveal any clues.

[2022-04-18 08:45] Tbohunek commented on #12946
I wonder what's your problem @joukevandermaas 👎

[2022-04-18 09:19] navba-MSFT commented on #22084
@siddharth234 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I was able to reproduce the same issue at my end. After I installed the OpenSSH, on my box and then created a PATH environment variable and used a new cmd session to run the same CLI command it worked fine. Could you please set the PATH env variable with the openssh installation path and then try r

[2022-04-18 09:26] #21831 closed

[2022-04-18 10:34] RakeshMohanMSFT commented on #21957
@AnijaJacob Can you please file a support ticket to help you with this issue further? This issue would require a some further investigation to identity the root cause.

If you **do not have** a support contract, could you please share the below details over an email with the subject line “Attn: ramarath” to AzCommunity[at]Microsoft[dot]com referencing this github thread?

**Details required**
Your

[2022-04-18 10:35] RakeshMohanMSFT commented on #22089
@dr-dolittle Thank you for reaching out to us, we are looking into it.

[2022-04-18 10:36] RakeshMohanMSFT commented on #22086
@sercast Thank you for reaching out to us, we are looking into it.

[2022-04-18 10:36] RakeshMohanMSFT commented on #22083
@eugen-nw Thank you for reaching out to us. We are looking into it.

[2022-04-18 11:34] Katzmann1983 opened #22093 "Azure CLI output table is not fixed width"
**Describe the bug**
Using the output option table, leads to a messy table with no clear format:

**To Reproduce**
az storage blob list -o table --num-results 100000 > [response_tab70.txt](http://response_tab70.txt/)

**Expected behavior**
A fixed width table
![bug](https://user-images.githubusercontent.com/5080892/163802574-58d6ec8d-2518-4454-be5c-a7fa1774c85d.PNG)

[2022-04-18 11:48] root0day opened #22094 ""az network nsg rule create" cannot set "--protocol" option parameter to "*""
"az network nsg rule create" cannot set "--protocol" option parameter to "*"

It looks like azcli reads and passes the name of the first file or folder in the current directory instead of typing *
When I delete the relevant files and make sure the current directory is empty，* can be passed correctly

![image](https://user-images.githubusercontent.com/26130494/163803717-8408b31f-5538-419f-8490-84fa

[2022-04-18 12:23] yonzhan commented on #22093
storage

[2022-04-18 12:23] yonzhan commented on #22094
network

[2022-04-18 12:24] anandadake opened #22095 "Unable to off auto-pause of azure sql server db"
Hello There..

I'm trying to off the auto-pause sql service but
i could not found any option in web UI or Azure cli

if you cloud proved the guidance to off my azure sql auto pause option that will be appreciated.

basically i'm trying to do something like =>

az sql db update -g $resourceGroupName -s $serverName -n $databaseName  --auto-pause OFF

[2022-04-18 12:25] source-studio opened #22096 "Deployments slow to locations that differ from the host machine"
**Describe the bug**
When using the `az deployment` command, it appears that if the location of the physical machine on which the command is executed differs from the target location of the deployment, there is severe degradation in the speed of the deployment.

I encountered this issue initially when using GitHub Actions to deploy to the North Europe location. Locally, my deployment would execute

[2022-04-18 12:27] yonzhan commented on #22095
route to CXP team

[2022-04-18 12:29] yonzhan commented on #22096
ARM

[2022-04-18 13:29] eugen-nw commented on #22083
While investigating/fixing, can you please provide a rollback way out of this situation?  We have paying customers that we have to cater to.

[2022-04-18 13:30] #22065 closed

[2022-04-18 14:35] apapajohn commented on #21965
Thanks Rakesh. Should this issue have been closed? Looks like someone closed it.

[2022-04-18 14:39] apapajohn commented on #21965
Maybe I closed this by accident. Reopening.

[2022-04-18 14:40] RakeshMohanMSFT commented on #22083
@eugen-nw Unfortunately there is no support for rollback to previous AKS versions. But you can create a second cluster on the side and then redeploy your manifests to have an similar copy.

Also i was able to upgrade my cluster with similar environment as yours
Command I used `az aks upgrade --kubernetes-version 1.22.6 --name Issue4655 --resource-group Issue4655`
azure-cli

[2022-04-18 14:55] EnrgyOrg opened #22097 "unable to import zone file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network dns zone import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network dns zone import -g {} -n {} -f {}`

## Expected Be

[2022-04-18 14:55] EnrgyOrg commented on #22097
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/kaan.ara/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel=File-List
href="file:///C:/Users/k

[2022-04-18 14:58] EnrgyOrg commented on #22097
it seems because of line starting with space.

[2022-04-18 15:23] elibroftw opened #22098 "Chef remote_file source "https://aka.ms/InstallAzureCLIDeb" results in webpage not script"
**Describe the bug**

The contents of https://aka.ms/InstallAzureCLIDeb were of webpage promoting bing instead of the install script. At least when chef tried to download it 5.5 hours ago. The issue could be fixed, but it would require re-running our CI/CD so I'm just reporting it for records sake.

**To Reproduce**
[code]
`head`  in terminal

**Expected behavior**
A starting line with the shebang

[2022-04-18 16:16] aspand opened #22101 "Microsoft.Compute/ProximityPlacementGroup cmd to support User intent"
**Resource Provider**
Azure.Compute

**Description of Feature or Work Requested**
Intent
Intent is an optional parameter which you can provide while creating a [proximity placement group](https://docs.microsoft.com/en-us/azure/virtual-machines/co-location). It can also be added or modified while updating the PPG after deallocating all VMs in the proximity placement group.

The intent allows you to

[2022-04-18 17:33] SaurabhSharma-MSFT commented on #22101
@zhoxing-ms We are looking into it and get back to you for any additional information.

[2022-04-18 17:46] SaurabhSharma-MSFT commented on #22098
@elibroftw We are looking into it and get back to you for any additional information.

[2022-04-18 18:28] joukevandermaas commented on #12946
@Tbohunek you are spamming an issue that many people are monitoring with something only tangentially related. Can you not imagine why I might find that annoying? Why not take the unrelated issues somewhere else so those of use who care about the original topic can get notified when there are actual updates on this issue?

I tried to indicate this in a way that does not update everyone who follows

[2022-04-18 19:00] justin-caldicott commented on #21591
Had the exact same experience as you @zwolf, first the `--overwrite` requirement (which interestingly now shows as a warning that it's in preview), then the content-type bug for a root html file. I'm using Azure devops and hadn't ran the pipeline in a while. Lucky finding this issue!

Perhaps breaking changes, like requiring `--overwrite` should be saved for major releases?

[2022-04-18 20:30] carlrab commented on #19492
I am trying this with CloudShell and it is failing with this same error message

[2022-04-18 20:30] harrysummer commented on #22089
I am having the same issue here. Here is the error log after adding `--debug` flag:
[code]

[2022-04-18 21:30] Macknife61 opened #22102 "Attempting to connect to Azure Database for MySQL, subshell command is not recognized"
When attempting to connect to Azure Database for MySQL using the command prompt, and Powershell as a member of an AAD group, I issue the following command:

mysql -h mysql-main.privatelink.mysql.database.azure.com --user "AAD GROUP"@dmysql-main --enable-cleartext-plugin --password=`az account get-access-token --resource-type oss-rdbms --output tsv --query accessToken`

I get the following error:
m

[2022-04-18 22:31] diondrapeck commented on #22089
Note that Python 3.9+ is not supported for this release. However, we have also reproduced this with 3.8 which should be supported. We're still working to find the root cause, but in the meantime you can workaround this by creating a Python 3.7 environment and installing inside there.

1. conda create -n cli_v2 python=3.7
2. conda activate cli_v2
3. pip install azure-cli
4. az extension add -n ml

[2022-04-18 22:55] SaurabhSharma-MSFT commented on #22071
@ShingoHanai I could see the same behavior and checking internally on the same.  I will get back to you.

Thanks
Saurabh

[2022-04-18 22:57] yonzhan commented on #22097
network

[2022-04-18 22:59] yonzhan commented on #22098
@jiasli for awareness

[2022-04-18 23:00] SaurabhSharma-MSFT commented on #22054
@zhusulai Please let me know if you have any questions else we will proceed with closing this case.

[2022-04-18 23:02] yonzhan commented on #22101
Compute

[2022-04-18 23:03] #18227 closed

[2022-04-18 23:12] yonzhan commented on #22102
@jiasli for awareness

[2022-04-18 23:40] SaurabhSharma-MSFT commented on #22095
@anandadake If you are using a serverless database then you need to use `--auto-pause-delay` with a value of -1 to disable the automatic pause for the DB.
You can also do the same from Azure portal by clicking on "Auto-pause Delay"
![image](https://user-images.githubusercontent.com/38112130/163893367-313fb651-b362-45a4-8c1f-05292f80bbdb.png)
and disable it by using "Enable Auto-pause" checkbox.
![

[2022-04-19 00:12] diondrapeck commented on #22089
Supporting Python 3.10 (and therefore aligning with Azure CLI) is in the works for upcoming releases.

[2022-04-19 01:58] zhoxing-ms commented on #22096
This issue requires ARM service team to confirm whether there is a problem of cross regional deployment and explain it's mechanism

[2022-04-19 02:10] uBadRequest opened #22103 "Why are we using 32bit python?"
https://github.com/Azure/azure-cli/blob/822a2141215acea607ca9446dc113ebed792fc37/build_scripts/windows/scripts/build.cmd#L19

Why we using 32bit python?! Can we please give the option to use 64 bit? https://www.python.org/ftp/python/3.10.4/python-3.10.4-embed-amd64.zip

I had the 64 bit version of OpenSSH installed and wasted a good amount of time wondering why the heck it wouldn't find it, only t

[2022-04-19 02:26] RakeshMohanMSFT commented on #21965
@apapajohn no worries, we are still investigating the issue, will update as soon as we find a cause/mitigation.

[2022-04-19 02:35] yonzhan commented on #22103
@jiasli for awareness

[2022-04-19 02:57] jiasli commented on #22103
Duplicate of #18766

[2022-04-19 02:57] #22103 closed

[2022-04-19 03:52] crizzs commented on #22044
Hi navba,

It seems like my vm is able to hit the DNS and retrieve the correct ILB IP. However, the ASEv3 ILB is not reachable from my vm with nsg opened.

The azcli should be working as intended. This should be network issue.

Thanks for your help!
Kai

[2022-04-19 03:55] navba-MSFT commented on #22044
@crizzs Thanks for getting back and sharing the update. Since we have isolated that the issue isn't related to the AzCLI we will proceed with archival of this issue. If you need any assistance in future, please feel free to reopen this issue and we would be happy to help.

[2022-04-19 03:55] #22044 closed

[2022-04-19 04:21] panchagnula commented on #19492
This in fact is no fixed - the restore backUp apis have changed completely so this needs to be re-visited.

The Python SDK api to use is begin_restore_from_backup_blob

[2022-04-19 04:32] navba-MSFT commented on #21998
@seajhawk Apologies for the late reply. We are discussing this internally with the Product Owners. We will update this thread once we have more details on this. Tagging another similar issue here Azure/azure-cli#21953

[2022-04-19 04:41] charris-msft commented on #21998
No problem @navba-MSFT.
Just to let you know, I don't see this issue on a different computer that I use for personal projects.

[2022-04-19 04:59] ShingoHanai commented on #22071
@SaurabhSharma-MSFT  Thanks for your quick check. Can you share ETA to fix it?

Thanks
Shingo Hanai

[2022-04-19 04:59] navba-MSFT commented on #22053
@yuvaraj-azurevm Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.

Depending on the number of updates that are getting installed or rolled backing, the VM update process can take a while. Leave the VM in this state for 8 hours. If the VM is still in this state after that period, restart the VM from the Azure portal, and see if it can start normally. If this st

[2022-04-19 05:27] calvinhzy commented on #21591
@justin-caldicott Can you share your CLI version and the command that resulted in the content-type bug? Thanks.

[2022-04-19 06:17] SatishBoddu-MSFT commented on #21883
Hello @AbhishekTripathi Thanks for the query!

Did you try the For loop to iterate through the list?

![image](https://user-images.githubusercontent.com/62923178/163938284-4f381fca-e265-49fa-b0e5-b4cb4034e4cc.png)

[2022-04-19 06:25] necusjz commented on #22041
Hi Service Team,

There is no "sslPolicy" in the request body:
![image](https://user-images.githubusercontent.com/12371639/163938933-04dca348-da5a-45de-a269-ebf71d13f9b4.png)

But the response has a default content:
![image](https://user-images.githubusercontent.com/12371639/163939225-2cf04651-9fa3-4e00-b4c4-099af670b447.png)

Is it an expected behavior?

[2022-04-19 06:28] calvinhzy commented on #21299
Please try this whl file https://zhiyihuangsa.blob.core.windows.net/sharing/elastic_san-0.1.0-py3-none-any.whl

[2022-04-19 07:14] navba-MSFT commented on #20892
Az CLi was onboarded to CXP from Feb 1st. Removing the CXP Attention label from this issue considering this issue was created in Jan.
CC @yonzhan

[2022-04-19 07:19] zhoxing-ms commented on #21940
@piyushsh Could you use the  [`ssh-keygen`](https://www.ssh.com/academy/ssh/keygen) generate the new SSH key in the user directory and make sure that directory `~/.ssh` exists, and then try this command again?

[2022-04-19 07:21] navba-MSFT commented on #21271
Removing the CXP attention as the Service team is working on this.

[2022-04-19 07:24] cxznmhdcxz commented on #22069
Hi @brittanyrowe , for Scenario 2, this command could remove a vm from host:
`az vm update -n vm -g group --set "host={}" `

[2022-04-19 07:46] navba-MSFT commented on #21338
@Xitric Thanks for the update. Please let us know if you need any further assistance on this issue. Awaiting your reply.

[2022-04-19 08:45] fepegar opened #22107 "'compute' is misspelled or not recognized by the system"
Hi! I've been trying to start my compute instance using `az ml compute`, but the following happens:

[code]

Upgrading doesn't help:

[code]

Am I doing anything wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c25404-a256-62b2-3ac8-dd699fc677ba
* Version Independent ID: 5f3dccba-b2ee-224b-9e84-80ba2bbde641
* Co

[2022-04-19 08:51] yonzhan commented on #22107
route to CXP team

[2022-04-19 09:00] tbuchi888 commented on #21931
@navba-MSFT Sorry for the late reply, thank you for merged.

[2022-04-19 09:22] zhoxing-ms commented on #22101
@aspand @SaurabhSharma-MSFT Could you please provide the specific design for related CLI commands and parameters?
And may I ask what's the ETA for this requirement?

[2022-04-19 09:27] MichaelThmsn opened #22108 "Error when using 'az login': OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-04-19 09:29] zhoxing-ms commented on #21997
@hari-bodicherla Could you please provide the link of Swagger changes and the specific design of CLI commands and parameters in the issue description?

[2022-04-19 09:58] Dilergore commented on #15989
You are right this looks like it is working, but **in reality it does not**. While you are right, it is copying files, it is not copying them from the snapshot but directly from the share. Just tested it.

[2022-04-19 10:00] italukder commented on #20848
Subject : global international kholifa family trust bord

# Global international Saudi Arabia government kholifa families

[2022-04-19 10:11] yonzhan commented on #22108
@jiasli for awareness

[2022-04-19 10:17] MichaelThmsn commented on #22108
I removed the follwing files from %USER%\.azure:

* az.sess
* azureProfile.json
* clouds.config
* msal_http_cache.bin
* msal_token_cache.bin
* telemetry.txt

That seemed to helped. We've done a domain switch in our organization, which is probably the issue. But it wasn't a very helpful error message.

[2022-04-19 10:20] jonmikeli opened #22111 ""az iot dps enrollment-group registration" - How to register a device in an enrollment group with az cli?"
[Enter feedback here]

Hi,

Is there a way to register a device in an enrollment group using az cli?
I am maybe missing something but I have not seen it in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5507493c-f13f-002f-9ce4-e1f344fd0ac2
* Version Independent ID: e32141a2-7b8e-5339-bde8-c454c69cf30

[2022-04-19 10:25] yonzhan commented on #22111
route to CXP team

[2022-04-19 10:26] PramodValavala-MSFT commented on #22107
@fepegar The `compute` subcommand is part of the v2 extension (`ml` instead of `azure-cli-ml`). You can uninstall and install v2 of the extension using the following commands

[code]

[2022-04-19 10:28] RakeshMohanMSFT commented on #21814
@LukeCarrier Once again sorry for this, but the bot is designed to help us close inactive issues/threads. Let me close this thread for now and we can revisit this once the new feature is implemented, which I believe will happen in the next sprint.

[2022-04-19 10:28] #21814 closed

[2022-04-19 10:29] #21331 closed

[2022-04-19 10:46] Xitric commented on #21338
Hello @navba-MSFT, we do not need any more assistance on this issue, and are simply waiting for updates on the use of a CDN. In the meantime we may need to use workarounds.

[2022-04-19 10:46] #21338 closed

[2022-04-19 13:10] jiasli commented on #22108
Duplicate of #20231

[2022-04-19 13:15] arndt-s opened #22112 "Release of MSI version 2021-09-30-preview"
**Resource Provider**
MSI / Managed Identity

**Description of Feature or Work Requested**
We would like to release a new preview version that reflects new MSI api "listAssociatedResources" introduced in swagger (link below)

**Minimum API Version Required**
2021-09-30-preview

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/msi/resource-manager/Microsoft.Man

[2022-04-19 13:45] imihalcea opened #22113 "az monitor app-insights api-key create Not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights api-key create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor app-insights api-key create --api-key

[2022-04-19 14:40] #22108 closed

[2022-04-19 14:41] yonzhan commented on #22112
Managed Identity

[2022-04-19 14:44] yonzhan commented on #22113
monitor

[2022-04-19 15:46] mukeshinit opened #22114 "az apim command fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim -h`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2022-04-19 16:15] MrDrMcCoy opened #22116 "`az redisenterprise` add support for active geo-replication"
**Is your feature request related to a problem? Please describe.**

Support for [configuring active geo-replication](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-active-geo-replication) is [missing in Azure CLI](https://docs.microsoft.com/en-us/cli/azure/redisenterprise/database?view=azure-cli-latest).

**Describe the solution you'd like**

Please add support for confi

[2022-04-19 16:33] bennerv commented on #16001
@yonzhan  this can be closed as it was addressed.

[2022-04-19 16:58] SatishBoddu-MSFT commented on #21902
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-04-19 16:58] #21902 closed

[2022-04-19 16:59] charris-msft opened #22117 "Why is az webapp up detecting my runtime when I have specified it vis --runtime?"
## I'm trying to create a new webapp using `az webapp up` and I have specified the runtime with `--runtime "PYTHON:3.9"`, but I get an auto-detect error

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp up -n myWebAppName -g myResourceGroupNam

[2022-04-19 17:00] surajkewat24 opened #22118 "'NoneType' object has no attribute 'private_dns_zone_configs'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-endpoint dns-zone-group add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network private-endpoint dns-zone-grou

[2022-04-19 17:34] roy-work commented on #22080
… even if it _weren't_, hanging would hardly be the appropriate response. But, it is.

What I suspect happened here is that `az` was making a silent call to `docker`, and it was *that* that was hanging. I found today that *any* `docker` command on my machine was hanging, and a force-restart of docker & all its parts fixed that.

After that, `az acr login` appears to work again.

It would be helpfu

[2022-04-19 18:14] vinnieangel opened #22120 "Education Hub CLI Generation"
**Resource Provider**
Azure for Education RP

**Description of Feature or Work Requested**
Generate CLIs for new Public APIs we created

**Minimum API Version Required**
2021-12-01-preview

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/18297

**Target Date**
We don't have any hard date. By June would be nice.

[2022-04-19 19:16] SaurabhSharma-MSFT commented on #22111
@jonmikeli We are looking into it and get back to you for any additional information.

[2022-04-19 19:16] SaurabhSharma-MSFT commented on #22114
@mukeshinit We are looking into it and get back to you for any additional information.

[2022-04-19 19:28] italukder commented on #20848
Subject : global international  my site save and security trust bord

example.
1. My email save and security
2. my personal information save and secue
3. my mobile and computer device save and security
4. cyber haker, web haker, net, haker and all haker save and security production my sit

# global international my site security makers in Saudi Arabia government

[2022-04-19 19:55] SaurabhSharma-MSFT commented on #22117
@charris-msft We are looking into it and get back to you for any additional information.

[2022-04-19 19:55] SaurabhSharma-MSFT commented on #22116
@MrDrMcCoy We are looking into it and get back to you for any additional information.

[2022-04-19 20:16] harrysummer commented on #22089
Thanks for the workaround, @diondrapeck ! It would be great if the Azure CLI could run functional test for the official extensions before updating the Python version.

[2022-04-19 20:49] team-gangreen-gang opened #22121 "Cannot find specified id in system when trying to update throughput"
### **This is autogenerated. Please review and update as needed.**

Cannot find specified id in system when trying to update throughput

**Command Name**
`az cosmosdb mongodb collection throughput show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here.

[2022-04-19 21:24] SatishBoddu-MSFT commented on #22075
Hello @omerblecher Could you please add more information to the issue? any short detail on the error encountered?

![image](https://user-images.githubusercontent.com/62923178/164103713-01c7a6fc-4050-46b7-9a13-08fdb5db1f53.png)

![image](https://user-images.githubusercontent.com/62923178/164104378-812f50a3-0d31-472e-9491-d4467ad94cdd.png)

[2022-04-19 21:57] SatishBoddu-MSFT commented on #22111
Hello @jonmikeli thanks for the great query!

I see the current [documentation](https://docs.microsoft.com/en-us/cli/azure/iot/dps/enrollment?view=azure-cli-latest) only shows CLI commands with enrollment create,delete,list,show, and update.

![image](https://user-images.githubusercontent.com/62923178/164108462-55551828-dfc7-4185-81a8-37bf0a98a541.png)

I am checking internally on this!

[2022-04-19 22:06] SatishBoddu-MSFT commented on #22111
Hoello @jonmikeli ,

May i know the use case on this ask?

[2022-04-19 22:47] TheOnlyWei opened #22122 "Configuration for separate contexts"
**Is your feature request related to a problem? Please describe.**

Shared context across multiple applications is a shared resource that will cause a race condition if a customer uses multiple environments simultaneously. I.e., an Azure Stack user who also accesses the Azure Cloud.

**Describe the solution you'd like**

A configuration that can modularize contexts by application so that it is no

[2022-04-19 23:03] yonzhan commented on #22114
route to CXP team

[2022-04-19 23:05] yonzhan commented on #22116
route to CXP team

[2022-04-19 23:20] #16001 closed

[2022-04-19 23:42] yonzhan commented on #22117
route to CXP team

[2022-04-19 23:42] yonzhan commented on #22118
network

[2022-04-19 23:49] mslentz commented on #21295
I checked HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun and found the value:

if exist & if exist "C:\Users\xxxxxx\Anaconda3\condabin\conda_hook.bat" "C:\Users\xxxxx\Anaconda3\condabin\conda_hook.bat"

I removed it as suggested in the linked issue and everything works correctly now.  Thank you so much for your help!!

[2022-04-19 23:49] #21295 closed

[2022-04-19 23:55] yonzhan commented on #22120
Education Hub

[2022-04-20 00:00] yonzhan commented on #22121
route to CXP team

[2022-04-20 00:05] yonzhan commented on #22122
@jiasli for awareness

[2022-04-20 00:17] SatishBoddu-MSFT commented on #22117
Hello @charris-msft

I was able to reproduce the issue when i was running the command from wrong folder path!
![image](https://user-images.githubusercontent.com/62923178/164121351-3c23a88c-e635-43d2-a807-e817f6efb421.png)

When i change my working path to the right folder then I was able to run the command ` az webapp up` and it detected my Python code runtime automatically!

![image](https://user

[2022-04-20 00:18] SaurabhSharma-MSFT commented on #22098
@elibroftw I am not seeing a different web page while hitting [https://aka.ms/InstallAzureCLIDeb ](https://aka.ms/InstallAzureCLIDeb) .  I am seeing the below -
![image](https://user-images.githubusercontent.com/38112130/164121765-a2af7b1e-562f-4210-969a-4e0f1fb367af.png)
Please let me know if are still getting this error.

[2022-04-20 00:19] SaurabhSharma-MSFT commented on #22095
@anandadake Please let me know if you have any other questions else we will proceed with closing this issue. Thanks

[2022-04-20 00:26] SaurabhSharma-MSFT commented on #21830
@rafex We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-20 00:26] #21830 closed

[2022-04-20 00:36] charris-msft commented on #22117
Hi @SatishBoddu-MSFT -
I saw that in the error message and considered it, but I am in the folder that I want it to use.

Should it even be trying to auto-detect the runtime when I specified the runtime in the arguments?

[2022-04-20 01:00] SaurabhSharma-MSFT commented on #22114
@mukeshinit Can you please share the subcommand which you are using with `az apim` which is failing ?

[2022-04-20 02:00] zhoxing-ms commented on #22112
@arndt-s Could you please provide the PR of Swagger change?
And may I ask are there any requirements for new CLI commands and parameters? Or do we just need to upgrade the api-version to 2021-09-30-preview?

[2022-04-20 02:06] #22085 closed

[2022-04-20 03:40] RakeshMohanMSFT commented on #22089
@dr-dolittle Let us know if the work around provided helped you fix your problem.

[2022-04-20 04:03] jsntcy commented on #22120
This RP is first onboarding to CLI, let's use Code Gen v2 to generate the code.

[2022-04-20 04:10] navba-MSFT commented on #22121
@team-gangreen-gang Thanks for reaching out to us. We are looking into this issue. We will provide an update once we have more details on this.

[2022-04-20 04:20] aronchick commented on #16880
+1 - having this issue right now.

------------
         ^
  /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/pthread.h:537:6: warning: macro expansion producing 'defined' has undefined behavior [-Wexpansion-to-defined]
  /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/pthread.h:197:34: note: expanded from macro '_PTHREAD_SWIFT_IMPORTER_NULLABILITY_COMPAT'

[2022-04-20 04:21] RakeshMohanMSFT commented on #22096
@source-studio Thank you for reaching out, we are looking into it

[2022-04-20 04:42] navba-MSFT commented on #22080
@roy-work I am glad that post restarting of the docker the issue is resolved. Regarding your suggestion on the --debug logs, You could check the logs that are saved in this path: /Users/roy/.azure/commands/2022-04-15.14-04-37.acr_login.54779.log and check if that has the details about the call being done to docker CLI.

If you need any further assistance on this github thread, please let us know.

[2022-04-20 05:03] jonie001 commented on #15989
@evelyn-ys  I think this may be a service bug. Can you tag it with service attention？

[2022-04-20 05:46] Dilergore commented on #15989
My workaround is to generate SAS with AZ CLI, then use AzCopy to copy from the snapshot. I can confirm that this is working.

[code]

[2022-04-20 07:01] RakeshMohanMSFT commented on #21965
@StrawnSC Please help us with an update.

[2022-04-20 07:23] StrawnSC commented on #21965
I haven't started work on a fix for this yet. I'll see if I can get a fix for this in the [May 2022 release](https://github.com/Azure/azure-cli/milestone/118)

[2022-04-20 07:36] #22069 closed

[2022-04-20 07:38] YuanyuanNi commented on #22094
Hi,
    @root0day It cannot be reproduced from my side which CLI version is 2.35.0, pls upgrade your CLI version and try again and the command I  use as below:   az network nsg rule create -g XXX --nsg-name XXX --source-address-prefixes * --source-port-ranges * --destination-address-prefixes * --destination-port-ranges * --direction XXX --access Allow --priority 201 --name XXX --protocol '*'
Best

[2022-04-20 08:00] #20292 closed

[2022-04-20 08:24] navba-MSFT commented on #22121
@team-gangreen-gang Please refer [this](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-not-found#reading-throughput-for-a-container-or-database-resource) article.

Throughput can be provisioned at the database level, container level, or both. If getting a not found error, try reading throughput the parent database resource, or child container resource.

Try to run the below comm

[2022-04-20 08:52] fepegar commented on #22107
Got it. Thanks, @PramodValavala-MSFT!

[2022-04-20 08:52] #22107 closed

[2022-04-20 08:56] #21793 closed

[2022-04-20 09:21] TeisTheDevOps commented on #21133
Any news on when this will get fixed, we are seeing this in the lastet version of the cli (2.35.0)

[2022-04-20 09:37] v-anvashist commented on #22066
@SaurabhSharma-MSFT We are not owing cdn so I am searching to reroute this issue to cdn team.

[2022-04-20 09:45] source-studio commented on #22096
Thanks for your response. In my case, the deployment was to the tenant level, as I'm trying to automate the creation of Management Groups and Subscriptions, but the latency issue happens regardless of the target scope of the deployment.

I'll open a support request, as you suggested but I fail to believe I'm the only one experiencing this issue, so I was hoping the issue could be tracked in an ope

[2022-04-20 10:34] ttsakpc opened #22125 "Data Factory Integration Runtime with Managed VNet using Azure CLI"
**Is your feature request related to a problem? Please describe.**
I am trying to create a data factory setup using Azure CLI for all required configurations.
I am facing a problem that I cannot create an Integration Runtime enabled with VNET using Azure CLI.
I am able to create the managed VNet using `az datafactory managed-virtual-network create`
I am able to create a managed integration runtime

[2022-04-20 10:36] edvinas31 opened #22126 "The requested resource requires user authentication"
**Describe the bug**
After generating PAT in Azure DevOps GUI and using it as _AZURE_DEVOPS_EXT_PAT_ variable logging in with az login still asks for a token

**To Reproduce**
1) `az login`
2) Generate PAT with _Read_/_Write_/_Execute_/_& Manage_ permissions on `Release` and _Read_/_Query_/_Manage_ permissions on `Service connection`:
![image](https://user-images.githubusercontent.com/49708029/164

[2022-04-20 11:06] akopitsa opened #22127 "az functionapp deployment source config-zip doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-04-20 11:44] coolchirag commented on #21805
Yes you can close this issue.

On Thu, Apr 14, 2022, 12:29 AM SaurabhSharma-MSFT ***@***.***>
wrote:

[2022-04-20 11:47] root0day commented on #22094
hi @YuanyuanNi YuanyuanNi

![dca8e420504409c53546ce99ef51260](https://user-images.githubusercontent.com/26130494/164223333-cb2eecc2-f665-4fc5-890e-3dd05bfbc032.png)

The version number of azure-cli is 2.35.0
I suggest you to test and reproduce directly in the webshell window of the web console
I don't know why a folder named "clouddrive" is automatically created in the webshell

[2022-04-20 12:25] yonzhan commented on #22125
data factory

[2022-04-20 12:27] yonzhan commented on #22126
route to CXP team

[2022-04-20 12:31] yonzhan commented on #22127
route to CXP team

[2022-04-20 12:58] meastp opened #22128 "Unable to install rdbms-connect in Microsoft-Hosted Pipeline Agent"
Hi,

I'm using Azure DevOps with a Microsoft-Hosted Pipeline Agent (have tried both `windows-2019` and `windows-2022`)

Trying to run `az extension add --name rdbms-connect --debug`

See the "included software" links under both agents for what's installed on the agents: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml

The `--debug` log is attached

[2022-04-20 13:14] TeisTheDevOps opened #22129 "Error when trying to import certificatet from key vault to webapp"
After upgrading to Azure CLI 2.35.0
When we run

$OutCertThumbprint = az webapp config ssl import `
--resource-group $resourceGroupName `
--name $appServiceName `
--key-vault $keyvault `
--key-vault-certificate-name $certName

The certificate is imported to the Web App (we can see it in the portal interface and bind it via the portal)
But when we run

az webapp config ssl bind `
  --certificate-th

[2022-04-20 13:20] Rezpector888 commented on #22128
i have same issue
`The system cannot find the path specified: 'C:\\Program Files\\Common Files\\AzureCliExtensionDirectory\\rdbms-connect'. Retrying ...`

[2022-04-20 13:46] zhusulai commented on #22054
Please keep the ticket open for a few days as I try to reproduce the issue from another environment.

[2022-04-20 14:08] yonzhan commented on #22128
route to CXP team

[2022-04-20 14:11] yonzhan commented on #22129
route to CXP team

[2022-04-20 14:19] #21336 closed

[2022-04-20 14:19] #21339 closed

[2022-04-20 14:20] elibroftw commented on #22098
Yes still an error.

[2022-04-20 14:25] team-gangreen-gang commented on #22121
@navba-MSFT that command works, but I am trying to get the throughput on the collections level, which doesn't seem to work.

[2022-04-20 15:30] navba-MSFT commented on #22121
@team-gangreen-gang Thanks for getting back. Before you fetch the thrpughput value at the collection level, Could you please confirm if you have set the throughput value at the collection level using the [update](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/mongodb/collection/throughput?view=azure-cli-latest#az-cosmosdb-mongodb-collection-throughput-update) command ? Awaiting your reply.

[2022-04-20 17:02] team-gangreen-gang commented on #22121
when trying to run that command I get the following error: local variable 'throughput_resource' referenced before assignment

[2022-04-20 17:02] SatishBoddu-MSFT commented on #22117
Hello @charris-msft thanks for the response, we are routing this to the service teams' attention for further action!

[2022-04-20 17:11] v-paulocunha opened #22130 "Change Entity Table Data Type using Az CLI"
Hi,

Have a customer that is trying to change the data type to String on entity table but unfortunately customer is facing difficulties to do that since the command that is being used doesn't work with the latest version (2.35.0) of Az CLI modules.

Tried the following command "_**az storage entity insert --entity PartitionKey="AAA" RowKey="BBB" Content="ADSF2" CostCenterId="111111" CostCenterId@o

[2022-04-20 17:30] nahk-ivanov opened #22131 "Support forking repositories with `az repos create`"
**Is your feature request related to a problem? Please describe.**
For the life of me I can't figure out how to fork a repo using Azure CLI. It seems like forks are supported by the [Azure Repos create API](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/Repositories/Create?view=azure-devops-rest-6.0), but Azure CLI does not expose that feature.

**Describe the solution you'd like**
Add

[2022-04-20 17:33] jongio commented on #20315
Maybe a solution is to add `--redirectPort` to `az login` so we can call expose that port from codespaces devcontainer and then pass that port to `az login`

[2022-04-20 17:47] RakeshMohanMSFT commented on #22096
@source-studio sure, Thank you!

[2022-04-20 18:49] brittanyrowe commented on #22069
@cxznmhdcxz  can we please update documentation to include how to remove a VM from a host?

[2022-04-20 18:58] SaurabhSharma-MSFT commented on #22127
@akopitsa We are looking into it and get back to you for any additional information.

[2022-04-20 18:59] SaurabhSharma-MSFT commented on #22129
@TeisTheDevOps We are looking into it and get back to you for any additional information.

[2022-04-20 19:00] SaurabhSharma-MSFT commented on #22131
@nahk-ivanov We are looking into it and get back to you for any additional information.

[2022-04-20 19:23] jonmikeli commented on #22111
Hello @SatishBoddu-MSFT ,

Sure.

The idea was to create industrialized tests for IoT (integration tests, validating complete use cases) and for that, I was thinking of provisioning the devices by script. az cli would have been a great solution.
For now, I have implemented containerized device simulators but please, let me know if at some point in time, device provisioning at DPS level will be pos

[2022-04-20 19:29] tarockey commented on #17986
When installing the CLI via python, uninstalling and reinstalling does not resolve this issue.

[2022-04-20 20:51] SatishBoddu-MSFT commented on #22111
Hello @jonmikeli thanks for sharing the scenario!
I hope you have already visited the below document/
[Group Enrollments](https://docs.microsoft.com/en-us/azure/iot-dps/concepts-symmetric-key-attestation?tabs=azure-cli#group-enrollments)
The symmetric keys for group enrollments are not used directly by devices when provisioning. Instead devices that belong to an enrollment group provision using a

[2022-04-20 21:46] jonmikeli commented on #22111
Hello @SatishBoddu-MSFT ,

Thank you for your answer.
Yes, I already read the documentation you mention. I am taking it into account in my simulators.

As for the last question, that is exactly what I need :).
It would unlock (or simplify) quite a lot of DevOps-oriented use cases in IoT (basically tests and quality indicators).

[2022-04-20 21:51] rellis-of-rhindleton opened #22133 "az webapp deployment does not fail when Azure returns an error"
When running webapp deployment commands, if Azure returns an error, the Azure CLI command should end with an error status. Instead it seems to disregard the error and assume the deployment succeeded.

The particular command we've been having trouble with is `az webapp deployment source config-zip`. Normally this command
issues a deployment, receives a 202 response from Azure, and then polls deploy

[2022-04-20 22:17] VikasMohandoss opened #22134 "AAD Auth Support for Managed Disks"
**Is your feature request related to a problem? Please describe.**
We are ready to start the CLI changes for supporting AAD Auth support for exporting and importing managed disks.

**Describe the solution you'd like.**
Currently for cli command "az disk create" and "az disk update",
add a new option "--data-access-auth-mode", and possible values are AzureActiveDirectory and None

**Additional cont

[2022-04-20 23:15] SaurabhSharma-MSFT commented on #22071
@ShingoHanai I do not have any ETA as products team needs to look into this issue.

[2022-04-20 23:29] yonzhan commented on #22134
Compute

[2022-04-20 23:35] yonzhan commented on #22130
storage

[2022-04-20 23:36] yonzhan commented on #22131
Route to CXP team

[2022-04-20 23:43] yonzhan commented on #22133
route to CXP team

[2022-04-20 23:49] SaurabhSharma-MSFT commented on #22078
@fgheysels Did you try to creating a Azure Support ticket so that engineer could look into your backend logs.  Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that a support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2022-04-21 00:06] wangzelin007 opened #22135 "{test} Fabric bot not work"
Describe the solution you'd like.
Currently for cli command "az disk create" and "az disk update",

[2022-04-21 00:07] #22135 closed

[2022-04-21 02:28] zhoxing-ms commented on #22134
@VikasMohandoss Since there are too many contents in the Swagger link in email, could you give us the specific PR link for the change, or give us the code link of Swagger code related to `--data-access-auth-mode`?

In addition, because the issue was created late, we will launch the release tomorrow, so it can't catch up with the release of the sprint. We plan to release it in the next sprint, is t

[2022-04-21 02:36] necusjz commented on #22094
@root0day, it's related to escape in Bash shell:

If used alone * will represent all files or folders enumerated in the current path. If you want to keep * as it is, then wrap it in quotes, or escape it with \\*.

[2022-04-21 03:00] navba-MSFT commented on #21998
@seajhawk We are aware of this bug and will be looking into this. The fix will be released tentatively by end of next month. In the meantime, if you have any questions, please feel free to ask. I would be happy to answer it. Awaiting your reply.

[2022-04-21 03:03] dgao-suncor opened #22136 "az login fails on a Windows365 cloud pc: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-04-21 03:07] seajhawk commented on #21998
@navba-MSFT - Thanks for letting me know. I'm glad it's getting fixed!

[2022-04-21 03:35] yonzhan commented on #22136
@jiasli for awareness

[2022-04-21 03:48] navba-MSFT commented on #22084
@siddharth234 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-21 03:50] TiejunMS opened #22137 "[Broken]az iot product test create"
Hi, I run this command `az iot product test create --badge-type Pnp --at SymmetricKey --device-type FinishedProduct --models model` and the output is as below. The certificate of *certify.azureiotsolutions.com* is invalid. Could you take a look at it?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b879c9-53e4

[2022-04-21 04:04] eugen-nw commented on #22083
I ended up uninstalling Azure CLI from the Add/Remove programs and installing it again from the web.

[2022-04-21 04:04] #22083 closed

[2022-04-21 04:10] RakeshMohanMSFT commented on #22133
@rellis-of-rhindleton Thank you for reaching out, we are looking into it.

[2022-04-21 04:32] yonzhan commented on #22137
route to CXP team

[2022-04-21 05:34] dr-dolittle commented on #22089
I uninstalled Python 3.10. und installed 3.8 and can now successfully install the ml extension.

[2022-04-21 05:37] russellrobinson commented on #21532
This should not be closed, it doesn't work on jammy.

[2022-04-21 05:46] RakeshMohanMSFT commented on #22089
@dr-dolittle Glad to hear that the issue is resolved. I will close the issue.

[2022-04-21 05:46] #22089 closed

[2022-04-21 05:52] TeisTheDevOps commented on #22129
@SaurabhSharma-MSFT thank you 👍🏻

[2022-04-21 05:54] RakeshMohanMSFT commented on #19359
@kumarisarita5 This seems to have been fixed. Can you please confirm the same?

[2022-04-21 06:19] RakeshMohanMSFT commented on #19433
This is implemented. Closing the issue.

[2022-04-21 06:19] #19433 closed

[2022-04-21 06:29] jiasli commented on #22136
Duplicate of #20231

[2022-04-21 06:30] RakeshMohanMSFT commented on #19564
@chrisadkin-zz
Its now included
az arcdata dc create --name name --k8s-namespace namespace --connectivity-mode indirect --resource-group group  --location location --subscription subscription **--use-k8s**

and document also mentions it as required.
--use-k8s
[Required] Create data controller using local Kubernetes APIs.

[2022-04-21 06:30] #19564 closed

[2022-04-21 06:57] #22136 closed

[2022-04-21 07:01] t-bzhan commented on #22066
Ack, we take a look at it.

[2022-04-21 07:14] RakeshMohanMSFT commented on #21924
Hello @v-anvashist, @V-hmusukula Can you please help cx with this issue?

[2022-04-21 07:31] RakeshMohanMSFT commented on #19624
Work around provided, Closing the Issue.

[2022-04-21 07:31] #19624 closed

[2022-04-21 07:35] navba-MSFT commented on #22121
@team-gangreen-gang Thanks for for getting back. We are looking into this issue and we will provide an update on this thread.
In the meantime, As a workaround could you please try to run [this](https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/powershell/mongodb/create?toc=/powershell/module/toc.json) Powershell script to set the throughput at the collection level ? Awaiting your reply.

[2022-04-21 07:36] harishlyadav commented on #16881
I would like to know if there is any update on logging errors?

[2022-04-21 07:49] navba-MSFT commented on #22121
@team-gangreen-gang I was able to reproduce this issue in Powershell too. I have involved the Product Owners and awaiting their reply.

[2022-04-21 07:50] #19754 closed

[2022-04-21 08:00] #20323 closed

[2022-04-21 08:04] jiasli commented on #21010
## Workaround

First, you may try to clear the credential cache and re-login:

[code]

If this still doesn't help, you may temporarily turn off token cache encryption. (⚠ This is an internal experimental config option. We may change it or drop it anytime.)

[code]

[2022-04-21 08:32] PARADISSEEKR commented on #22112
The new SDK has not been released to pypi yet https://pypi.org/project/azure-mgmt-msi/#history

[2022-04-21 09:15] NithyaRKumar commented on #16855
Could you kindly let us know whether this issue is fixed with "az acr repository show-manifest" command?

[2022-04-21 09:16] meastp commented on #22128
FYI, a workaround until this is fixed is to use a Linux agent instead (`ubuntu-latest`) (and pscore instead of ps).

[2022-04-21 09:38] #22066 closed

[2022-04-21 09:58] root0day commented on #22094
The source-address-prefixes parameter can also use * without problems
Why can't it be passed when the protocol parameter is reached?
I think there is still a problem with the protocol parameter processing input parameters

[2022-04-21 10:10] necusjz commented on #22094
Unfortunately, it doesn't work when left "source-address-prefixes":
![image](https://user-images.githubusercontent.com/12371639/164432316-12bdbebc-336c-4b19-bed0-44b88779ccfb.png)

And, it works when all * be escaped:
![image](https://user-images.githubusercontent.com/12371639/164432653-a882ef06-b3a5-4f4b-9557-77d3d3679ecc.png)

[2022-04-21 10:17] EdAbati opened #22140 "azure-cli-ml installation fails on MacOS arm"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hi I am trying to install `azure-cli-ml` using the command below, but unfortunately it fails. Please see error below.

**Command Name**
`az extension add`

**Errors:**
It looks like `pip` fails to install some libraries:
[code]

When running `--debug` and scrolling through the log, I noticed that probably the

[2022-04-21 11:29] yonzhan commented on #22140
route to CXP team

[2022-04-21 11:31] edvinas31 commented on #22126
FYI, we are using "Azure AD Privileged Identity Management" and I have a role "Application Developer" assigned

[2022-04-21 13:07] norb62 commented on #21779
This change breaks every piece of 3rd party code using upload or upload-batch as soon as the az client is updated to 2.34.1 or higher.
To workaround this, I need to manually detect the az version, then issue 2 different commands, depending on the version, since the --overwrite option does not exist in az storage before 2.34.1.
It's not optimal imo.

--overwrite should be true by default and when n

[2022-04-21 14:33] navba-MSFT commented on #22121
@team-gangreen-gang On your Cosmos MongoDB API account, Could you please create a new database and collection using the below settings and then test updating the throughput ?
1. **Uncheck** the setting 'share throughput across collection'
2. Select 'Manual collection throughput' option

![image](https://user-images.githubusercontent.com/57353862/164480796-63efc159-71be-4440-9982-95a0fa0d089f.png)

[2022-04-21 14:52] team-gangreen-gang commented on #22121
I did what you said and I am able to get throughput of the new database. But I am still getting the same `(NotFound) Entity with the specified id does not exist in the system.` error when trying to get the throughput of my existing collection

[2022-04-21 15:02] jeanbaptisteng commented on #22084
Hi,

I got the same error message when executing **az ssh vm** and  **az ssh config** since the ssh update today morning (4 hours ago).
I think we hit the bug.

Here are the information that help your team to trace the issue

{
  "azure-cli": "2.35.0",
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ssh": "1.1.0"
  }
}

Failed to create ssh key file with erro

[2022-04-21 15:17] navba-MSFT commented on #22121
@team-gangreen-gang You are right. Also a container with provisioned throughput cannot be converted to shared database container. Conversely a shared database container cannot be converted to have a dedicated throughput.
More Info [here](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-on-a-container). Please let us know if you need any further help on this or we can

[2022-04-21 15:22] ilozano2 opened #22142 "Error when az get-credentials - 'str' object has no attribute 'get'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-04-21 15:23] MateuszBienkowski opened #22143 "az keyvault set fails due to ModuleNotFoundError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --name {} --file {}`

## E

[2022-04-21 15:25] #22121 closed

[2022-04-21 15:45] jeanbaptisteng opened #22144 "'az ssh config' failure"
**Describe the bug**
After automatic upgrade of Azure-cli for Windows 11, az ssh config was not worked. It is related to ssh extension 1.1.0.

**To Reproduce**
1. Upgrade azcli and ssh extension to the latest version

...

{
  "azure-cli": "2.35.0",
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ssh": "1.1.0"
  }
}

The following error message were prompted,

[2022-04-21 16:22] SaurabhSharma-MSFT commented on #21686
@chitrankv27 You can try to use git CI/CD tools to copy artifacts from one synapse workspace to another synapse workspace.
There is a doc about CI/CD for azure synapse: [Continuous integration & delivery in Azure Synapse Analytics - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/cicd/continuous-integration-delivery) which will help you achieve the same.  Please l

[2022-04-21 16:26] SaurabhSharma-MSFT commented on #22098
@elibroftw ok.  We have recorded your concern and will proceed to close this issue for now.  We will reopen this issue if we see the same error again.
Thanks
Saurabh

[2022-04-21 16:26] #22098 closed

[2022-04-21 16:28] UteHaus opened #22145 "login with tenant failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal -u {} -p {} --tenant {}`

## Expected Behavior

##

[2022-04-21 16:49] jiasli commented on #22145
Duplicate of #20507

[2022-04-21 16:49] #22145 closed

[2022-04-21 16:59] fitzgeraldsteele commented on #21834
5/24 is great, thank you!

[2022-04-21 18:18] louisliu15 commented on #21535
Met the same issue when trying to install rdbms-connect in cloud shell.

The main reason for that is exception when trying to install and compile psycopg2, which misses the dependency of libpq-dev.
`
In file included from psycopg/psycopgmodule.c:28:
  ./psycopg/psycopg.h:36:10: fatal error: libpq-fe.h: No such file or directory
   #include <libpq-fe.h>
            ^~~~~~~~~~~~
  compilation termin

[2022-04-21 18:36] chetmaddula commented on #22134
This is the swagger link: https://github.com/Azure/azure-rest-api-specs/pull/17709

[2022-04-21 18:36] SaurabhSharma-MSFT commented on #22129
@TeisTheDevOps You are getting this error as the command which you are using doesn't only return thumbprint but additional details to $OutCertThumbprint.  You can check that by reading the variable.
![image](https://user-images.githubusercontent.com/38112130/164529430-5301648a-6979-4aeb-86be-cd6616669496.png)
So, in order to get the thumbprint when using ssl import you need to use the below -

`$O

[2022-04-21 19:03] jaylabell commented on #18227
Thanks for letting us know @rjmccallumbigl !

[2022-04-21 20:13] speak2beeb commented on #10039
Could we get an update on this? This would be immensely useful for our enterprise if we can get this defect fixed.

[2022-04-21 20:50] tbugfinder commented on #7368
Update of PyNaCl to 1.5.0 would be beneficial as it provides wheels, now.

[2022-04-21 21:03] SaurabhSharma-MSFT commented on #22114
@mukeshinit Please can you please share the required details, so that we could look into it ? Thanks

[2022-04-21 21:03] SaurabhSharma-MSFT commented on #22095
@anandadake We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-21 21:03] #22095 closed

[2022-04-21 21:21] #22114 closed

[2022-04-21 21:24] mukeshinit commented on #22114
Apologies for delayed response ..

I'm getting this error when execute any az apim commands. But fine with other modules.. problem occurs only to apim commands

[2022-04-21 22:49] SatishBoddu-MSFT commented on #22144
Hello @jeanbaptisteng Thanks for reporting the issue, we are routing this to Service Teams' attention!

![image](https://user-images.githubusercontent.com/62923178/164563767-5ef65b9a-b602-4fef-bac8-038e37755ae8.png)