[2021-06-25 17:08] btardif commented on #16105
@seligj95 please follow up with Gaurav on this to get a description.

[2021-06-25 17:09] holtalanm commented on #18126
Every time I test this, I have to update, then when it is broken, I have to re-install my old version again.  I honestly don't have time to do that over and over again.  I already installed the updated version once and saw it was broken, then rolled back and submitted this Issue on GitHub.  Then I installed it again when asked (after it sat here for over half a month) and confirmed it was still br

[2021-06-25 17:09] btardif commented on #15968
Windows webapps don't have ssh-server, the Kudu PS and CMD terminal are not SSH

[2021-06-25 17:09] #15968 closed

[2021-06-25 17:10] btardif commented on #15647
@seligj95 Please work with @panchagnula to figure out change needed

[2021-06-25 17:11] btardif commented on #15596
@seligj95 see if you can repro this

[2021-06-25 17:16] btardif commented on #14183
hey @seligj95 can you see if this still repros

[2021-06-25 17:16] btardif commented on #11434
This is not supported

[2021-06-25 17:16] #11434 closed

[2021-06-25 17:18] ecc256 commented on #15968
Byron,
Could you clarify how to connect to "Kudu PS or CMD terminal" via **az cli** command, please?
Thanks!

[2021-06-25 17:40] Michael-Coetzee commented on #18603
Thanks, indeed working now.

On Fri, 25 Jun 2021, 15:43 Pete Reitz, ***@***.***> wrote:

[2021-06-25 19:39] calvinsID opened #18651 "WebApp:az appservice domain create: incorrect domain agreements"
**Describe the bug**
Incorrect domain agreements used in `az appservice domain create`. This causes domain preflight to fail on the API side

**To Reproduce**
Run `az appservice domain create` without privacy flag. The domain agreement returns privacy & transfer agreements

**Expected behavior**
privacy agreeement should only be shown when privacy is specified, and transfer agreement shouldn't be

[2021-06-25 19:43] calvinsID opened #18652 "az webapp up: If csproj not in root directory, exception returned"
**Describe the bug**
 Exception:

![image](https://user-images.githubusercontent.com/14339314/123477377-d0dd6f80-d5b2-11eb-9924-909399c5d142.png)

**To Reproduce**
Run `az webapp up` with a dotnet app where the csproj is not in the root directory

**Expected behavior**
Expected to not have exception

[2021-06-26 00:28] yonzhan commented on #18645
route to service team

[2021-06-26 00:30] yonzhan commented on #18646
Compute

[2021-06-26 00:33] yonzhan commented on #18647
@jiasli for awareness

[2021-06-26 00:35] yonzhan commented on #18648
ARM

[2021-06-26 00:42] yonzhan commented on #18652
route to service team

[2021-06-26 00:42] yonzhan commented on #18651
route to service team

[2021-06-26 00:51] yonzhan commented on #18438
devops service team should look into this

[2021-06-26 00:51] yonzhan commented on #18650
network

[2021-06-26 01:20] paulaustin-automutatio opened #18653 "az staticwebapp delete doesn't work"
[Enter feedback here]

There doesn't seem to be a way to delete a static web app. Either through Azure Portal or this command.

They all complete, but don't actually  delete the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e683c181-f005-a6c8-cb11-74ce557e51f8
* Version Independent ID: 860411b7-f2f1-af2b-b5e2-7d6

[2021-06-26 01:57] yonzhan commented on #18653
route to service team

[2021-06-26 10:48] Smrithi10 commented on #18626
I am setting up Azure ML ci pipeline in Azure Devops Studio

[2021-06-26 14:17] zhoxing-ms commented on #18418
At present, it seems that after the execution of this CLI command in the Windows environment, the service reported the following error:

DEBUG: cli.azure.cli.core.sdk.policies: {
  "startTime": "2021-06-25T13:45:07.2415475+00:00",
  "endTime": "2021-06-25T13:45:07.7572029+00:00",
  "status": "Failed",
  "error": {
    "code": "VMExtensionProvisioningError",
    "message": "VM has reported a failur

[2021-06-26 22:58] Jonas-Lara opened #18654 "Debian 11"
### Azure CLI si funciona en Debian 11 pero no me permite hacer un apt update

## Describe el bug

**sudo apt update**
``

**Errors:**

## Que produce el error:
Despues de hacer apt update

 -apt update
Obj:10 http://packages.microsoft.com/repos/code stable InRelease
Leyendo lista de paquetes... Hecho
E: El repositorio «https://packages.microsoft.com/repos/azure-cli bullseye Release» no tiene un f

[2021-06-26 23:06] yonzhan commented on #18654
@jiasli for awareness

[2021-06-27 08:20] lazarillo opened #18658 "Allow direct listing of all permissions and denials for a principal (AAD group, service principal, etc)"
**Is your feature request related to a problem? Please describe.**

With more complex security situations where custom roles need to be created, it becomes very difficult to understand the entire graph of permissions that a principal has.

This should be possible via a simple AZ CLI command since it is a fundamental need: to clearly understand what all users / principals are able to do.

**Describ

[2021-06-27 14:11] yonzhan commented on #18658
@jiasli for awareness

[2021-06-27 19:01] qwordy opened #18659 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-06-28 01:11] chrisdyckgeorgian commented on #15246
I am using this command to create an auto-shutdown and get an error
  az vm auto-shutdown -n DataNode001 --time 2359 --email "someone@gmail.com"

Error:
usage error: --webhook is a required parameter when --email exists

[2021-06-28 01:39] #18229 closed

[2021-06-28 02:23] evelyn-ys commented on #18126
@holtalanm So so sorry about the bad experience. Your feelings are totally received and considered.

The newer version of CLI has updated the service API version which service asked. There does exist latency for service ready in USGov. We kept asking your retry because service might be ready now and newer CLI version with new service api version will work as normal.

@amitbapat Could you check wit

[2021-06-28 03:07] kairu-ms commented on #18650
Because these commands were only support one zone before. Recently it support multi zones. In order to avoid breaking change we keep the old names. We can add an alias `--zones` if needed.

[2021-06-28 05:08] kairu-ms commented on #17910
Hi @tzwlai, appreciate if you could help with this issue.

[2021-06-28 05:45] duanqn commented on #17300
+1 to this. Is there some updates on the status of this issue?

[2021-06-28 07:01] evelyn-ys commented on #15382
@schaabs Can KeyVault Data Plane Python SDK support `pageNumber` or `nextLink` parameter for `get_keys`, `get_secrets` and `get_certificates` so that CX can get more than the first page?

[2021-06-28 07:12] kairu-ms commented on #18571
@naveenchekuri Its a breaking change for CLI command. And this property in swagger is not marked as required.

[2021-06-28 07:17] kairu-ms commented on #18571
I can add `--public-ip-address` argument as optional in next release.

[2021-06-28 07:20] sycao5 opened #18661 "Local runner docker image set up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2021-06-28 07:33] Yvand commented on #18603
@jiasli I used your [great comment](https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479) to grant permissions using "az rest" and it works great.
But then, I did a diff of the appmanifest.json: If permissions are granted from the UI (in app registration), they can be seen in "requiredResourceAccess" (it's empty if using "az rest").
And when granting permissions using "az rest":

[2021-06-28 08:18] josefschabasser commented on #18632
MS just reverted back to an image with helm v3.6.0. I think this change isn't needed, as the new helm version isn't used (for now), `az acr helm repo add` is deprecated and manually adding the repository is veeery easy.

Please see the followin snippet to get similar results:
[code]

PRO:
* no use of deprecated commands
* credentials are valid until changed

CON:
* more than a single line
* creden

[2021-06-28 08:27] kairu-ms commented on #16279
This is an example. https://github.com/Azure/azure-cli/blob/aad1e1801262eaf13615f7170f89a485627ed0f8/src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py#L1342-L1356

[2021-06-28 08:49] algattik opened #18664 "Doc for --enable-capture"
In "A boolean value that indicates whether capture description is enabled.", the word "description" should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa949ea-86b1-125e-e7d3-f0f88a2661ab
* Version Independent ID: c8351dbc-7358-ba5b-6757-3929a4a2b42b
* Content: [az eventhubs eventhub](https://docs.microso

[2021-06-28 10:19] RoozbehBandpey commented on #2458
Change your `roleDefinitionId` to absolute. Following is ARM resource snippet
`
"resources": [
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "[parameters('apiVersion')]",
            "name": "[variables('roleAssignmentName')]",
            "properties": {
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions',

[2021-06-28 10:20] hulseware commented on #15246
To get around this, I added a dummy webhook address (https://dummy.mydomain.com/dummy) to the command. For some reason, the CLI requires the webhook in order to set the email.

[2021-06-28 10:35] heavenlyren commented on #16699
Adding just a quick comment if anyone struggle with this.
On python I had to use this instead :   --set dhcpOptions={'dnsServers':[]}
to reset to Azure Provided DNS. Otherwise it would keep saying '''' is not a valid IP Address.

[2021-06-28 10:43] yonzhan commented on #18659
@kairu-ms for awareness

[2021-06-28 10:51] yonzhan commented on #17300
devops service team should look into this

[2021-06-28 11:02] yonzhan commented on #18661
route to service team

[2021-06-28 11:03] 0Dmitry commented on #17000
I am having the same issue trying to deploy a zip package to an azure web app. Here is my error stack trace:

[code]

[2021-06-28 11:14] yonzhan commented on #18664
route to service team

[2021-06-28 13:07] qetza opened #18667 "az webapp deployment source config-zip should check the returned status and failed accordingly"
**Describe the bug**

When using the command `az webapp deployment source config-zip` sometime the service return some status which are not 202 but the command does not consider those as errors. This is an issue as the command would finish without error but the service is not deploying.

There is already a issue with the infinite 503 status but today we discovered a nasty one `502`: the command wo

[2021-06-28 13:09] Sbou opened #18668 "Dependency not found for Az CLI 2.25"
**Describe the bug**
When I try to install the Az CLI with this command:
[code]

I receive this error:
Errors during downloading metadata for repository 'mariadb':
  - Status code: 404 for http://yum.mariadb.org/10.2.36/centos7-amd64/repodata/repomd.xml (IP: 142.4.217.28)
Error: Failed to download metadata for repo 'mariadb': Cannot download repomd.xml: Cannot download repodata/repomd.xml: All mir

[2021-06-28 14:03] surajssd opened #18669 "`az k8s-configuration create` fails with an exception"
## Describe the bug

**Command Name**

`az k8s-configuration create`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az extension add --name k8s-configuration`
- `az k8s-configuration create --name {} --cluster-name {} --resource-group {} --operator-instance-name {} --operator-names

[2021-06-28 14:24] chrisdyckgeorgian commented on #15246
@hulseware thanks. It’s surprising MS didn’t test this one. It would appear to be a basic functionality

[2021-06-28 14:33] yonzhan commented on #18669
route to service team

[2021-06-28 14:35] yonzhan commented on #18668
installation

[2021-06-28 14:36] yonzhan commented on #18667
route to service team

[2021-06-28 14:53] martingianni opened #18670 "az consumption usage list - 401 certificate not valid"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption usage list -s {} -e {} --subscription {}`

## E

[2021-06-28 14:54] martingianni commented on #18670
Just to add it failed from az cli on Az shell itself and also from linux and windows shells with az cli.

[2021-06-28 15:08] martingianni commented on #18670
adding more info, when doing:

**az consumption usage list -s 2021-06-01 -e 2021-06-25**  >> works fine

But after i**ncreasing from day 25 to 26 or higher its start reproducing above issu**e non stop.. randomly works.. once in a while.

Guessing issue have something related to the amount of data it comes and fails.. or kind of.

[2021-06-28 15:10] martingianni commented on #18670
![image](https://user-images.githubusercontent.com/17832340/123660113-c0730200-d809-11eb-9a6d-f0ad4dd61d46.png)

[2021-06-28 15:12] yonzhan commented on #18670
route to service team

[2021-06-28 17:03] alexpilon666 commented on #18481
@alex-frankel , @shenglol , adding that kind of `--proceed-if-no-changes` opt-in capability would be perfect for our needs, and most likely the needs of others as well.

[2021-06-28 17:16] naveenchekuri commented on #18571
@kairu-ms Sure please proceed with this as optional parameter. We would want this change in next release as our GA timelines are dependent on this

[2021-06-28 17:18] jonathan-innis commented on #18337
Hi @zhoxing-ms, this also does not work. When I make the `--defer` call this is fine; however, when I actually make the call to the operation, it fails with
[code]

[2021-06-28 20:50] secherka opened #18673 "@ should be removed in the front of the file names containing configuration in the examamples"
Each example has the config file name starting with @. that should be removed from the 6 examples we have on this page.

az ad app update --id e042ec79-34cd-498f-9d9f-123456781234 --required-resource-accesses @manifest.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version In

[2021-06-28 20:56] DreamlessA commented on #17330
Issue resolved with https://github.com/Azure/azure-cli/pull/18605

[2021-06-28 20:57] DreamlessA commented on #15205
Issue is now resolved with PR https://github.com/Azure/azure-cli/pull/18604. Please ping me if there is any other issue. Thanks!

[2021-06-28 21:26] TiloGit commented on #14697
would that be the same as **Alert recipients (email)** I can create via GUI?
List in JSON under  **ContactEmail**

[2021-06-28 21:30] #17330 closed

[2021-06-28 22:03] garimakhulbe02 opened #18674 "az image builder output: how to specify SIG version in distribute"
My question is related to [`az image builder output`](https://docs.microsoft.com/en-us/cli/azure/image/builder/output?view=azure-cli-latest#az_image_builder_output_add-examples) command which related to [Azure Image builder](https://github.com/danielsollondon/azvmimagebuilder/tree/master/quickquickstarts) RP.
[code]
Our customers want to add image version with image definition for Shared image gal

[2021-06-29 00:19] yonzhan commented on #18673
@jiasli for awareness

[2021-06-29 00:22] yonzhan commented on #18674
Compute

[2021-06-29 02:39] jiasli commented on #2458
This issue has long been fixed in #2667.

`--role` now supports 3 formats:

- ARM resource ID, like `/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7`
- GUID, like `acdd72a7-3385-48ef-bd42-f606fba81ae7`
- Name, like `Reader`

Source code:

https://github.com/Azure/azure-cli/blob/df737edb429a03a16794f8eb8d6343

[2021-06-29 02:57] jiasli commented on #18603
@Yvand, I am glad to know it works for you.

This is because you didn't explicitly require permissions for the app via `requiredResourceAccess` first. `requiredResourceAccess` is a property of the app. It is added when you click the **Add a permission** button in Azure Portal:

![image](https://user-images.githubusercontent.com/4003950/123729014-deeb0300-d8c6-11eb-8e14-990a514d9570.png)

When usin

[2021-06-29 03:10] sushma0550 opened #18677 "Not able to add path to the command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2021-06-29 03:38] shenglol commented on #18481
Sounds good. I've added a task to our backlog to track this and will be working on it later.

[2021-06-29 05:13] #18500 closed

[2021-06-29 06:31] BigCat20196 opened #18679 "The `az batchai job create` command failed"
**Describe the bug**

When I create a job by executing batchai's test case, I get the following error.
command:
     `az batchai job create -c cluster -g MyResourceGroup -w workspace -e experiment -n job -f job_with_file_systems.json`

Show part  results：

    "endTime": "2021-06-29T02:16:30+00:00",
    "errors": [
      {
        "category": "UserError",
        "code": "AZFMountError",
        "

[2021-06-29 08:28] johlindr commented on #16573
Quite strange to leave out the support for MSI on CLI for hybrid scenarios when one of the core benefits on Arc is that the resource gets an Managed Identity...

[2021-06-29 09:13] zhoxing-ms commented on #18337
@jonathan-innis I submitted a PR draft #18683 to fix this issue. Could you try it to see if it can meet your needs?

The way of passing in parameters is as follows:
[code]

Please note that the only object that can be cached is `flux_configuration`, does this meet your requirements?

[2021-06-29 11:13] richeney commented on #16573
@johlindr, here are some Bash commands for Linux that may help you. Needs jq installed and sudoers configured.

[code]

That last command will only work if the Managed Identity has an RBAC role assignment. Here is the command to get the ObjectId for the Managed Identity.

[code]

You can change the resource from management.azure.com to other resources / audiences to get tokens for other REST API e

[2021-06-29 12:21] johlindr commented on #16573
but am I able to use the CLI library functions using  the access token manually retrieved for the MSI?  We are using the "manual" approach aleady to perform certain tasks but need to onboard an Azure Arc Kubernetes cluster and not sure I wish to do that with direct API calls.

[2021-06-29 12:29] guy93r opened #18684 "missing data in api calls"
**Describe the bug**
some data is missing from API calls. In my specific use case, I tried to access disk data from the management API. tried running ` az disk list` and on data disks(not OS disks!) the tier field is missing although I can see the tier in the `Size + performance` tab on the disk management page on the web app. also I tried running `az disk show --ids` with specific disk ids and th

[2021-06-29 12:34] yonzhan commented on #18677
route to service team

[2021-06-29 12:45] yonzhan commented on #18679
route to service team

[2021-06-29 12:59] yonzhan commented on #18684
Compute

[2021-06-29 13:02] drewmullen opened #18685 "vm image accept terms does not allow for programmatic deployment"
**Describe the bug**
Accepting terms for an image via CLI does not allow for programmatic deployment. After accepting the terms the portal screen for "programmatic deployment" is still marked as `disable` for this image (see pic). Also if I try to create an instance i get the error below:

ERROR:
[code]

I have several subscriptions that will need marketplace images to be deployed programmatically

[2021-06-29 13:04] jonbe commented on #18151
Any updates of this ticket? We still manually need to run this step on a pc with azure cli 2.21 installed.

[2021-06-29 13:13] yonzhan commented on #18151
webapp service team should look into this

[2021-06-29 13:14] yonzhan commented on #18685
Compute

[2021-06-29 13:16] richeney commented on #16573
I'm not going to say anything that isn't already said above:

* No, I don't think you can login with the azure CLI on Arc-enabled servers as the managed identity
* the work to enable this properly is major as it fundamentally changes the auth method - aiming for end of the CY
* others (i.e. @jimdigriz) have tried munging accessTokens.json but have backed away from that as it is fragile

REST API c

[2021-06-29 14:05] ChaiSwaddipong opened #18686 "The -public-ip-address in this CLI does not work. Please remove it."
The -public-ip-address in this CLI does not work. Please remove it.

az network application-gateway frontend-ip update [--add]
                                                  [--force-string]
                                                  [--gateway-name]
                                                  [--ids]
                                                  [--name]

[2021-06-29 14:07] Yvand commented on #18603
@jiasli with all your comments and explanations, all of this makes a lot more sense to me now.
You should make a documentation out of your multiple comments, that would be very valuable to many people, many thanks for your time to write such clear explanations!

[2021-06-29 14:34] davesave commented on #12513
The only thing that worked for us is without using azure pipelines / deployment center is the command:

    func azure functionapp publish "<function_name>"

docs: [Azure Functions Python developer guide - Remote Build][1]

  [1]: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python?tabs=application-level#remote-build

[2021-06-29 15:25] yonzhan commented on #18686
network

[2021-06-29 16:32] richarddavenport opened #18688 "TypeError: write() argument must be str, not bytes"
**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:

- `az container exec --resource-group rg-eus --name "caddy-proxy-01" --exec-command "/bin/sh"`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-06-29 16:39] Calvin-Yuhui-Liu commented on #16105
A quick update. Appreciate help from Azure support team this parameter is just a text string, a name. In my case I tried to attach a file share **to a Windows web app**. And my issue was actually about another parameter --mount-path (which is also not clear either). After trying it for several times, both side agreed to give up as it's a preview feature for the moment.

This is the link we were fo

[2021-06-29 17:06] Kotasudhakarreddy commented on #18667
Looking in to it.

[2021-06-29 17:38] richarddavenport commented on #18688
I ran `az upgrade` and running version 2.25 has resolved this issue.

[2021-06-29 17:38] #18688 closed

[2021-06-29 18:06] singankit commented on #18626
@Smrithi10 Please share the info on how azure-cli is being installed.

[2021-06-29 18:23] hkuadithya commented on #18661
@sycao5  Can you confirm/validate if this issue is occurring with the latest CLI version? You can run `az upgrade` to upgrade CLI to latest version.

[2021-06-29 18:58] bennerv commented on #18501
Resolved with #18546 merged in.  Can close @yonzhan

[2021-06-29 22:43] #18501 closed

[2021-06-29 23:10] cmatskas opened #18689 "Assigning Access Policy to Service Principal using Object ID is wrong"
**Describe the bug**
I've been following the [official docs](https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy-cli) to assign an Access Policy to a Service Principal in order to be able to authenticate locally against Key Vault via the Azure.Identity library.

**To Reproduce**
Create SP using the CLI
Add Reader Role and scope only to KV
Use CLI to assing the SP an Acces

[2021-06-30 00:59] jimbobbennett opened #18690 "Add Azure Maps Gen2 as an option"
The command `az maps account create` only supports the S0 and S1 SKUs.

Azure maps now has a [Gen2 SKU](https://azure.microsoft.com/pricing/details/azure-maps/). Can this be added as an option as currently the only way to create a Gen2 Maps account is via the portal.

[2021-06-30 01:07] praveenmak opened #18691 "Unable to login from latest python 3.6.8"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-06-30 01:33] yonzhan commented on #18689
@evelyn-ys for awareness

[2021-06-30 01:38] yonzhan commented on #18690
route to service team

[2021-06-30 01:39] yonzhan commented on #18691
@jiasli for awareness

[2021-06-30 01:48] jsntcy commented on #18690
@SudhindraKovalam, could you please help on this request?

[2021-06-30 02:35] jiyongseong commented on #15175
![image](https://user-images.githubusercontent.com/17041566/123893420-512b1880-d997-11eb-96f2-713233574b13.png)

any update on this?

[2021-06-30 03:09] peterchoi2 commented on #11348
Ran into this issue, but was able to work around it by adjusting the value of `AZ_REPO`

[2021-06-30 03:10] #13111 closed

[2021-06-30 03:11] #16214 closed

[2021-06-30 06:22] jiasli commented on #11348
@peterchoi2, may I know which Ubuntu distribution you are using?

[2021-06-30 07:29] #18603 closed

[2021-06-30 08:20] jiasli commented on #16573
@richeney's comment is correct. This is currently the only way to call Azure APIs from Azure Arc servers.

You may also specify the access token in

[code]

While we will implement `az login --identity` for Azure Arc, maybe the "bring your own access token" proposal (https://github.com/Azure/azure-cli/issues/16459) will also make Azure CLI more versatile, so that you may call normal Azure CLI comm

[2021-06-30 09:21] richeney commented on #16459
That would be cool. especially if those `--subscription` and `--access-token` switches supported [Azure defaults](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration#cli-configuration-values-and-environment-variables). You could then set env vars, e.g. `export AZURE_DEFAULTS_ACCESS_TOKEN=$mytoken`.

I often have scrips that export AZURE_DEFAULTS_LOCATION and AZURE_DEFAULTS_GROUP to

[2021-06-30 11:20] leongross opened #18694 "az managedapp show --name crash"
## Describe the bug

**Command Name**
`az managedapp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az managedapp show --name <any string>`

## Expected Behavior
Correct command output or report of failure, no crash

## Environment Summary
[code]
## Additional Context

[2021-06-30 11:33] leongross opened #18695 "az managedapp definition show"
## Describe the bug
using `az managedapp definition show` with no parameters or only the name crashes

**Command Name**
`az managedapp definition show`
`az managedapp definition show --name`
`az managedapp definition show --name <any string>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informatio

[2021-06-30 12:08] themonaminor opened #18696 "az vmss list --resource-group"
**Just now I created a cluster and just after AKS cluster is created, it creates agetpool whose type is VMSS.

I requested the command

az vmss list --resource-group MC_storage1142-containers-rg_newcluster_centralus

then it gives result as

[]**

**And the I run az vmss list --resource-group MC_storage1142-containers-rg_newcluster_centralus --debug
It gives output as**

cli.knack.cli: Command arg

[2021-06-30 12:14] yonzhan commented on #18695
ARM

[2021-06-30 12:14] yonzhan commented on #18694
ARM

[2021-06-30 12:47] bbkane commented on #15382
Was this fixed recently? I'm listing more than 25 certs now in my test KV!!

[code]

[2021-06-30 14:19] perspark opened #18697 "az webapp config ssl create - managed certificate"
When calling az webapp config ssl create, after a while a warning message is returned saying "Managed Certificate creation in progress. Please use the command 'az webapp config ssl show". There might be good internal reasons for this, but it makes automation around it difficult since the script returns before having any result. Could it be possible to have a --wait argument or similar so that you

[2021-06-30 14:39] yonzhan commented on #18697
route to service team

[2021-06-30 15:27] fgheysels opened #18699 "Importing a public image from docker.io requires authentication"
I want to import a public image from docker.io into our Azure Container Registry, and I want to use `az acr import` for this.

When I execute this command:

[code]
I get an error that I need to authenticate (against the source repository: docker.io):

Why do I need to authenticate against the source repository for importing a public image ?

I've managed to work around this by using:

[code]
And t

[2021-06-30 16:05] Volatus opened #18700 "AKS Get-credentials does not respect KUBECONFIG env var"
**Describe the bug**
`az aks get-credentials` runs fine but writes only to `/Users/xs/.kube/config` despite `export KUBECONFIG=$HOME/.config/kube/config`. Yes, the specified KUBECONFIG file does exist and even has 4 contexts in it.

**To Reproduce**
`az aks get-credentials -n <cluster name> -g <resource group>`. I currently have 4 other contexts in my KUBECONFIG.

**Expected behavior**
The new con

[2021-06-30 16:32] jspaith opened #18701 "--hub-name seems to be mandatory parameter but is listed as an optional"
On this page, `--hub-name` is listed under the optional parameters.  I think its mandatory, although maybe via the --login or something it wouldn't be needed if used instead?  It still feels that one of them is required.

I looked at [here](https://docs.microsoft.com/en-us/cli/azure/iot/hub/module-twin?view=azure-cli-latest) also listed hub-name as optional but I'm almost positive its required, so

[2021-06-30 16:42] prapanw opened #18702 "No examples for workspace.yml file in `az ml workspace create' command"
It is quite painful to not able to find any documentation or example for the YAML file which can be passed into `az ml workspace create` command to create workspace with existing resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63446f78-d3ac-0cc3-a102-a1612c54d90e
* Version Independent ID: a20a657c-aeaa-d122-0

[2021-06-30 16:48] UnexpectedGrit-3853 opened #18703 "ImportError: libffi.so.7: cannot open shared object file: No such file or directory"
**Describe the bug**

On Linux Ubuntu 21.04, I need the command, "az extension add --name azure-iot" to work in "pwsh", but it seems I am blocked by the check that says, "... Could not find a version that satisfies the requirement paho-mqtt==1.5.0 (from azure-iot)" Followed by the statement, "... No matching distribution found for paho-mqtt==1.5.0"

It appears the latest version of "paho-mqtt" is

[2021-06-30 17:10] perspark commented on #11863
Any news here?

[2021-06-30 17:40] alex-frankel commented on #18481
@shenglol - should we try to do this one at the same time? https://github.com/Azure/bicep/issues/2923#issuecomment-855191455

[2021-06-30 18:26] vishcious opened #18705 "Retain azure-cli support for connecting to cosmosdb emulator"
**Describe the bug**
Currently, when connecting to the cosmosdb emulator using azcli, there is deprecation notice for the "az cosmosdb database" command. The new alternatives (az cosmosdb SQL Database) doesn't seem to have support for connecting to the cosmosdb emulator since it is lacking the --key argument and always expects the --account-name argument

**To Reproduce**
Run the cosmosdb emulator

[2021-06-30 22:21] vilit1 commented on #18701
This is something by design: we require users to provide either `--hub-name` or `--login` parameters so the `--hub-name` is not required as long as `--login` is provided.

We will improve the help section to make this distinction clearer.

[2021-06-30 23:05] SudhindraKovalam commented on #18690
@jsntcy i dont own this anymore. I will find out who can take this up and point them to this issue. Does that work?

[2021-07-01 00:27] Niteesh opened #18707 "[Network] Support new ciphers and SciState Express Route link"
Is your feature request related to a problem? Please describe.

Support for new ciphers ( "GcmAesXpn128",  "GcmAesXpn256") and SciState  for ExpressRouteLink (ExpressRoute Direct)

The powershell support has been added in https://github.com/Azure/azure-powershell/pull/13928

swagger definition is here.
https://github.com/Azure/azure-rest-api-specs/blob/8a09ea0b84aa36cb0e56bab4f4c8efd83a6fdcf6/spec

[2021-07-01 00:27] yonzhan commented on #18699
route to service team

[2021-07-01 00:30] yonzhan commented on #18700
route to service team

[2021-07-01 00:30] yonzhan commented on #18702
route to service team

[2021-07-01 00:31] yonzhan commented on #18703
@jiasli for awareness

[2021-07-01 00:32] yonzhan commented on #11863
functionapp service team should look into this

[2021-07-01 00:37] yonzhan commented on #18707
network

[2021-07-01 00:40] yonzhan commented on #18701
route to service team

[2021-07-01 00:44] yonzhan commented on #18705
route to service team

[2021-07-01 01:59] evelyn-ys commented on #15382
Hi @bbkane, it's always supported to list all when no `--maxresults` given.

I thought you were blocked by listing by page and getting the next page😆

[2021-07-01 02:19] jsntcy commented on #18690
@SudhindraKovalam, yes, that would be helpful.

[2021-07-01 02:44] shenglol commented on #18606
The deployments team also has some CLI work pending on this. Since it is going to cause conflicts and we've already missed the current release milestone, I abandoned my version bump [PR](#18510 ), but It would be great if we can still catch the S190 milestone.

[2021-07-01 03:09] aujla0991 commented on #17154
@hhertogh You are missing following parameter.

Also, you should create a subnet prior, create a routing table, and attach to the subnet for the cluster creation.

Reference: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create

[2021-07-01 05:47] sycao5 commented on #18661
Yes, the problem get resolved by running "az upgrade". Thank you. Regards

On Wed, Jun 30, 2021 at 2:24 AM Adithya Upadhya ***@***.***>
wrote:

[2021-07-01 06:47] #18571 closed

[2021-07-01 06:47] #18386 closed

[2021-07-01 06:51] #17269 closed

[2021-07-01 06:51] #17270 closed

[2021-07-01 07:14] josefschabasser commented on #18632
UPDATE: there was a bug which is fixed in helm v3.6.2. This issue can now be closed.

[2021-07-01 07:18] #18632 closed

[2021-07-01 07:22] axayjo commented on #18418
@amjads1 can you take a look at this issue?

[2021-07-01 07:28] axayjo commented on #14642
@koralski any update on this issue? Is this an issue with the VM Agent or the Run Command extension?

[2021-07-01 09:05] #18252 closed

[2021-07-01 09:13] #18406 closed

[2021-07-01 09:43] james88nguyen opened #18710 ""az aks command invoke" command for kubectl and spinnaker failed with errors."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks command invoke`

Full command: `az aks command invoke -g rg-cicd-01 -n dev-spinnaker -c "kubectl -n spinnaker get spinsvc spinnaker -w" -f .`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensiti

[2021-07-01 11:49] sicklittlemonkey opened #18712 "Blob upload fails on (not very) large EXE file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
A 56 MiB EXE file fails to upload. This was working for me from months ago to a week or two ago, but now I can only upload files up to 38 MiB or so in size. The main problem is that the error message doesn't tell me anything useful. Using azcopy 10.6.0 the larger file can be successfully copied to the destinati

[2021-07-01 12:09] yonzhan commented on #18710
route to service team

[2021-07-01 12:13] yonzhan commented on #18712
storage

[2021-07-01 15:51] hkuadithya commented on #18661
@yonzhan Please close this issue. This was an issue related to CLI, not ACR.

[2021-07-01 16:07] TheOnlyWei commented on #18249
@Sandido We are still discussing this in the email. Seems like Azure CLI is returning the wrong HTTP response. Hyonho Lee from the email said the OperationStatusResponse was returned in HTTP response call, but the wrong response was returned, resulting in empty response.

[2021-07-01 17:12] jsedlak-microsoft commented on #18690
The Azure CLI team is working on an update with the latest Creator changes and Gen2 support. The working branch is available [here](https://github.com/Azure/azure-powershell/blob/lucas/maps/src/Maps/docs/New-AzMapsAccount.md).

[2021-07-01 17:52] adityahcl1 commented on #18383
pip install for azure-cli  with Azure DevOps python feeds is still failing with Azure-CLI  version 2.24.0 and above . The package description must not be longer than 324608 bytes.

Seems the merge has removed the release history however the package description is still longer than 324608 bytes .

[2021-07-02 00:09] yonzhan commented on #18661
ACR related CLI commands are owned by service team

[2021-07-02 00:09] #18661 closed

[2021-07-02 00:31] hkuadithya commented on #18699
@fgheysels The source repository used is incorrect. With dockerhub, you must provide `docker.io/library/influxdb:1.8`.

Please try this instead:-
[code]

[2021-07-02 01:03] jsntcy commented on #18690
@jsedlak-microsoft
https://github.com/Azure/azure-cli/pull/18450 this PR is part of PLR process which Azure CLI team will help on (Azure CLI team will only implement requests from PLR). For this feature request (not part of PLR), your team need implement it and CLI team will help review code.

[2021-07-02 01:13] #18651 closed

[2021-07-02 01:25] doanhathanh opened #18714 "Can't list HTTP settings by CLI on my machine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway http-settings list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway http-se

[2021-07-02 01:39] #18700 closed

[2021-07-02 04:10] nkzw1 opened #18715 "How to create virtualDirectories with Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config set --name {webapp-name} --resource-group {resourc

[2021-07-02 04:27] yonzhan commented on #18714
network

[2021-07-02 04:37] adityabalaji-msft commented on #13999
New ETA for the fix is 30 July

[2021-07-02 04:43] yonzhan commented on #18715
route to service team

[2021-07-02 05:31] jiasli commented on #18383
The change will take effect in the [next release on 07/06/2021](https://github.com/Azure/azure-cli/milestone/107).

[2021-07-02 06:58] zhoxing-ms commented on #18249
@TheOnlyWei Hi, we already know this issue, which I mentioned in the first point of this comment
https://github.com/Azure/azure-cli/issues/18249#issuecomment-850214659

This is also due to swagger's modification:

[2021-07-02 07:57] adityahcl1 commented on #18383
@jiasli  : - Thanks for the update.

[2021-07-02 11:20] miqm opened #18720 "What-if for FrontDoor throws python exception"
## Describe the bug

**Command Name**
`az deployment group what-if`

**Errors:**
[code]

## To Reproduce:
This is most probably related to some specific that I applied for front door - for a simple example this works

## Expected Behavior
What-if will succeed and show applied changes

## Environment Summary
[code]

## Additional Context
I experience this on cli 2.23.0, 2.24.0 and 2.25.0, on MacOS

[2021-07-02 11:37] KionMeiringerMartin opened #18722 "az consumption usage list errors out with memoryError"
## Describe the bug

When there is a large amount of resources (>2750), resource groups (>150)  in a subscription and you run the command for a past billing period (e.g. 202106) it is possible to produce a memory error. Running the command multiple times with smaller parts of the billing period (e.g. day 1-10, 11-20, 20-31) is a workaround but I would assume not a suitable one for everyone.

**Com

[2021-07-02 11:54] miqm commented on #18720
I just reviewed what-if output with the fixed cli bug and it turned out it came out because I used invalid variable (my bug), and the deployment would fail anyway.
Nevertheless, the bug in python is still there and it might arise at the point we do not expect.

[2021-07-02 13:25] drewmullen commented on #18685
@yonzhan could you clarify whats happening here? is it expected that accepting image terms should also enable programmatic access?

im asking because im actually trying to use terraform to build these resources (and accept the terms) and some understanding to the above Qs may help eventually [resolve](https://github.com/terraform-providers/terraform-provider-azurerm/issues/12327)

[2021-07-02 14:43] #18484 closed

[2021-07-02 14:44] #18327 closed

[2021-07-02 15:03] adeliab commented on #12369
is this issue still not fixed? has anyone found a workaround? :(

[2021-07-02 15:33] yonzhan commented on #18722
route to service team

[2021-07-02 15:34] yonzhan commented on #18720
route to service team

[2021-07-02 15:37] yonzhan commented on #12369
service bus team should look into this

[2021-07-02 17:11] awithy opened #18723 "WebApp:Time data format ValueError when running az webapp config container set logged out/in"
I received an error when trying to run the following command.  I was able to resolve it by logging out/in of az.  I'm logging it as an issue because it was not obvious how to address until I noticed adal_authentication.py in the stack.

`az webapp config container set --name $containerName --resource-group $rg --docker-custom-image-name $remoteImageName --docker-registry-server-url $registryUrl --

[2021-07-02 20:45] jonathan-innis commented on #18337
Hi @zhoxing-ms, now `put` is working, but I am failing to `get` from the cache

[code]

returns

[code]

[2021-07-03 00:54] yonzhan commented on #18723
route to service team

[2021-07-03 01:50] Mossaka commented on #7447
Why is this issue being closed? I don't see any improvements over the performance of the `az cli` commands. Can we leave this open until the perf issue is really getting resolved?

[2021-07-03 02:09] yonzhan commented on #7447
@Mossaka please help send out detailed info related to which command you see the performance issue.

[2021-07-03 10:34] cbmetri opened #18725 "Web app config access restriction throws error : 'NoneType' object is not iterable"
**Web app config access restriction throws error : 'NoneType' object is not iterable**

**Try the following code on Azure CLI task on DevOps (replace necessorry values)**
``` az webapp config access-restriction add -g 'resource-group-name-here' -n 'function-app-name-here' --rule-name 'RuleNameHere' --priority 400 --service-tag AzureFrontDoor.Backend --http-header x-azure-fdid=xxxx-xxxx-xxxx-xxx```

[2021-07-03 14:29] Nethmifonseka97 opened #18726 "Azure app deloyment failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {} -l {}`

## Expected Behavior

## Environment Su

[2021-07-04 00:16] yonzhan commented on #18725
route to service team

[2021-07-04 00:16] yonzhan commented on #18726
route to service team

[2021-07-04 01:08] zhoxing-ms commented on #18337
@jonathan-innis  Actually, my PR didn't change the cache distinguishing logic, so you still just need to pass in parameters `resource_group_name` and `resource_name` to get the cache.
Such as:
[code]

[2021-07-04 14:27] Volatus commented on #18349
@markdebruijne What output do you expect to see?

[2021-07-04 14:35] Volatus commented on #18263
@tomasgiden Which version of `kubectl` do you have installed? Do you have an active kubectl context at the time of running the command? (`kubectl config current_context`)?

[2021-07-04 14:38] Volatus commented on #18221
@Mustaphazegaoula can you update the description of the problem? It's missing the important information.

[2021-07-04 14:41] Volatus commented on #18101
@mercer Pretty sure the usage is `--zones {1, 2, 3}`.

[2021-07-04 14:43] Volatus commented on #18100
@mercer can you try updating `azcli`? It might be the case that it's present in the later versions but not yours. (Current upstream is `2.25.0` at the time of writing with `2.26.0` to be released soon)

[2021-07-04 14:46] Mustaphazegaoula commented on #18221
Hi Ismayil,

This can now be closed.
I’ve been using cloud-init (cloud-config) to manage my vmss.

Kind regards,
Mustapha

On Sun, 4 Jul 2021 at 15:38, Ismayil ***@***.***> wrote:

[2021-07-04 14:53] Volatus commented on #18221
@Mustaphazegaoula thanks for the update. Unfortunately I personally do not have rights to close issues.

[2021-07-04 16:02] Volatus commented on #18696
@themonaminor Do you have any trouble finding the exact VMSS in the UI and listing the virtual machines? Can you edit the formatting so the code output is more readable? (See: [Markdown basics](https://www.markdownguide.org/basic-syntax/). You can also use the UI)

[2021-07-04 16:09] Volatus commented on #18574
@vinh75002 Could you retry with a newer version of Python? Might help. Other than that I'd suggest [installing kubectl from official Kubernetes sources for the time being (For Ubuntu)](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management).

Lastly, I'd make sure you have `openssl` installed.

[2021-07-04 16:13] Volatus commented on #18564
@jbla9028 Could you try updating `azcli`? Upstream is a fair bit ahead, currently `2.25.0` and I haven't had any problems with `az aks get-credentials` like this on MacOS or Ubuntu. (with the recent versions of course)

[2021-07-04 16:50] Volatus commented on #18668
@Sbou MariaDB is unrelated to the `Azure CLI`, but checking `http://yum.mariadb.org` reveals that version `10.2.36` is indeed not available there.

[2021-07-04 17:04] Volatus commented on #18647
@smithago When you provide `-u $username` this is the Service Principal right? See: [az login reference](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_login)

[2021-07-04 23:23] yonzhan commented on #18696
Compute

[2021-07-05 01:40] jiasli commented on #18647
`AADSTS50126: Error validating credentials due to invalid username or password.` is returned by AAD service indicating the credential is not correct.

- If you are using a user credential, make sure the tenant/username/password combination is correct.
- If you are using a service principal, make sure `--service-principal` is provided.

[2021-07-05 01:49] jiasli commented on #18668
We distribute Azure CLI at Microsoft Linux repo https://packages.microsoft.com/yumrepos/azure-cli. Before calling `sudo dnf install -y azure-cli`, please make sure you have added Microsoft Linux repo correct following [Install the Azure CLI on Linux(https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf).

[2021-07-05 01:54] jsntcy commented on #18476
@sambitratha, did you have a chance to take a look at this issue?

[2021-07-05 02:13] jiasli commented on #7447
With the introduction of Command Index (#13294) and migration to PEP 420 (#14372), the client-side execution speed of Azure CLI has been significantly improved. That's why we closed this issue.

If the Azure CLI command involves [Azure REST API](https://docs.microsoft.com/en-us/rest/api/azure/) invocation, Azure CLI will spend most of its time communicating with Azure REST API and do [long-running

[2021-07-05 03:14] taminta opened #18728 "Azure Firewall : Return [unable to find 'xxx'...] when added Application Rule for Azure Firewall"
**Describe the bug**
When we add Application Rule for Azure Firewall, Application Rule is added correctly but we got below message. Rule is able to add without issue so that this might be incorrect the program is working. 'xxx' will be rule name.

unable to find 'xxx'...

**To Reproduce**
We can repro with below sample command. We got [unable to find 'test'...] with below.

[code]

I confirmed out

[2021-07-05 03:49] yonzhan commented on #18728
network

[2021-07-05 05:19] jiasli commented on #18691
Please share the error message to help us further understand the problem. Thanks.

[2021-07-05 06:05] bweissman opened #18729 "az image builder create claims invalid JSON"
**Describe the bug**
when running az image builder create, when passing a template JSON, the CLI always claims that the JSON is invalid.

**To Reproduce**
az image builder create -g $imageResourceGroup -n $TemplateName --image-template ImageTemplate.json

Same for any JSON - you can for example use this one: https://raw.githubusercontent.com/azure/azvmimagebuilder/master/quickquickstarts/0_Creatin

[2021-07-05 06:35] jiasli commented on #18703
A [quick search](https://github.com/search?q=paho-mqtt%3D%3D1.5.0&type=issues) on the error `paho-mqtt==1.5.0` indicates this issue also happens in Windows agents: https://github.com/Azure/azure-devops-cli-extension/issues/1115, https://github.com/actions/virtual-environments/issues/3143, https://github.com/Azure/azure-cli/issues/17555.

Could you share the Azure CLI version you are using and the

[2021-07-05 07:03] Juliehzl commented on #18539
Hi @heavenlyren, could you use `az storage blob generate-sas` to get a valid sas token and use it as --source-sas for your command?

[2021-07-05 07:16] jiasli commented on #17555
The MSI installer of Azure CLI does include `setuptools` and `wheel`:

[code]

This issue has been fixed by #17432 since 2.22.0 (https://github.com/actions/virtual-environments/issues/3143#issuecomment-822319693).

If you are still seeing this issue with the latest version (2.25.0), please kindly let us know.

[2021-07-05 07:19] Kotasudhakarreddy commented on #18697
Thanks for your feedback. We will take a look and consider this for feature request.

@panchagnula FYI

[2021-07-05 07:36] mstavrev commented on #17910
Any update? At least time-frame for resolving the problem?

[2021-07-05 07:40] jiasli commented on #18654
Bing translator gives me:

[code]

This is because we are not releasing for `bullseye` currently. Could you check [No package for your distribution](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#no-package-for-your-distribution) and see if you can be unblocked?

[2021-07-05 08:44] Juliehzl commented on #18495
Hi @micahjo, checked swagger and it seems there is no support for 2021-07-01 https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager/Microsoft.Compute/stable

[2021-07-05 08:49] yonzhan commented on #18729
Compute

[2021-07-05 09:12] Laasya-07 commented on #10191
I am getting same error. Also, I dont have aksServicePrincipal.json and Service Principal has owner permissions on the subscription.

Waiting for AAD role to propagate[###                                 ]  10.0000%
Waiting for AAD role to propagate[#######                             ]  20.0000%
Waiting for AAD role to propagate[##########                          ]  30.0000%
Waiting for AAD role

[2021-07-05 10:04] hrajur opened #18732 "Ampersand necessary for this command to work during file copy"
Hello,
the command itself work, but without '&' ampersand symbol it will keep disconnecting during file copy. I think this should be mentioned on the documentation that the the command should be run with '&' at the end. This seems to be problem only on Windows (or maybe bug of the AZ CLI ?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-07-05 11:31] perber commented on #16104
Hey,
If someone is getting the error. It helped to upgrade az cli to the latest version.
Version 2.25.0 it worked.

[2021-07-05 11:33] perber commented on #16311
I also had a similar issue. It helped me to upgrade az cli to version 2.25.0.

[2021-07-05 11:44] yonzhan commented on #18732
route to service team

[2021-07-05 12:08] booyaa opened #18734 "What language does `-dataset-filter` use?"
Please provide additional documentation about what language the `dataset-filter` switch uses i.e. KQL, OData, etc so we can know what expressions we can use.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e59ee9-036f-374f-3029-747d94336052
* Version Independent ID: 3d0d61b6-99bc-327d-c549-7722c

[2021-07-05 13:56] booyaa commented on #18734
This might be related to https://github.com/Azure/azure-sdk-for-python/issues/14923 because I think the CLI also uses the Pythnon SDK

[2021-07-05 15:29] yonzhan commented on #18734
route to service team

[2021-07-05 16:17] Kotasudhakarreddy commented on #18723
Taking a look in to this.

[2021-07-05 16:49] ku4eto opened #18735 "decorator module is not installed by default"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp --help`

## Expected Behavior
To list functionapp subcomma

[2021-07-05 18:11] craigminihan opened #18736 "Application Gateway url-path-map rule create expands /* to files and directories"
**Describe the bug**
On Linux _only_ `url-path-map rule create --paths` will expand `/*` if passed from a *PowerShell* variable to az.

**To Reproduce**
[code]

**Expected behavior**
The rule should be created mapping the path /* to the target/settings. Instead on Linux I end up with a rule mapping paths `/bin,/boot,/dev,/etc,/home,/lib,/lib32,/lib64,/libx32,/media,/mnt,/opt,/proc,/root,/run,/sbin

[2021-07-05 18:50] lishaie commented on #18542
Happens to me too.
Ubuntu 21.04, x86_64
default python installation (python 3.9.5)
deb installer. azure-cli 2.18.0-1

[code]

[2021-07-05 19:57] periclesgdc opened #18737 "az group create problem"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2021-07-05 23:17] yonzhan commented on #18735
route to service team

[2021-07-05 23:18] yonzhan commented on #18736
network

[2021-07-05 23:20] yonzhan commented on #18737
ARM

[2021-07-05 23:50] kairu-ms commented on #15303
I've create an ICM [249121407](https://portal.microsofticm.com/imp/v3/incidents/details/249121407/home) to follow this issue.

[2021-07-05 23:51] kairu-ms commented on #17910
I've create an ICM [249121407](https://portal.microsofticm.com/imp/v3/incidents/details/249121407/home) to follow this issue.

[2021-07-05 23:56] kairu-ms commented on #17910
@mstavrev which region are you using? Could you add the commands to reproduce this issue without sensitive information.

[2021-07-06 01:41] zhoxing-ms commented on #18542
@delian @lishaie This issue looks like a historical issue with older version of CLI.
Could you please upgrade the CLI to the latest version and try again? You can execute command `az upgrade` to upgrade

[2021-07-06 01:49] blackchoey opened #18738 ""Value cannot be null" error when deleting AAD applications"
**Describe the bug**
I'm running following command to delete some test AAD applications
`az ad app delete --id {client id}`
However, I cannot delete some of my applications with following error:
[code]
I have tried to pass both client id and object id to the command, they all failed. But I can delete same AAD application in Azure Portal.

**To Reproduce**
Not sure how you can reproduce this error.

[2021-07-06 02:20] yonzhan commented on #18738
Graph

[2021-07-06 02:36] zhoxing-ms commented on #17239
Since I haven't received reply for a long time, so I'll close this issue first. If you still have this problem, please email me the specific information and I will reopen this issue

[2021-07-06 02:36] #17239 closed

[2021-07-06 03:51] shenglol commented on #18481
Yeah we should.

[2021-07-06 05:42] panchagnula opened #18742 "Webapp: Revert the GetBackUps command to old GET API"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-07-06 05:53] syntax-err0rr opened #18743 "i can't create virtual machine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-07-06 05:54] yonzhan commented on #18742
route to service team

[2021-07-06 05:57] yonzhan commented on #18743
Please provide more detailed info related to which command in Azure CLI, your environment and log info.

[2021-07-06 06:41] #18720 closed

[2021-07-06 06:44] zhoxing-ms commented on #18200
@qinxgit Could you help to explain what `baked script` is? What features does it need to support?

[2021-07-06 07:41] Juliehzl commented on #18555
Hi @sandeepkv93, when will API 2021-04-01 be public in swagger master branch?

[2021-07-06 07:42] zhoxing-ms commented on #17587
@rolan18 Hi, at present, the implementation of portal redeploying is to request [deployments/create-or-update](https://docs.microsoft.com/en-us/rest/api/resources/deployments/create-or-update) to redeploy the same ARM template, and there is no special REST to implement redeployment.
May I ask why don't you just use the same ARM template to deploy again with command `az group deployment create`? Do

[2021-07-06 08:15] shenglol commented on #18569
@yonzhan This is already fixed. Mind closing the issue?

[2021-07-06 08:19] #18569 closed

[2021-07-06 08:32] Juliehzl commented on #18601
To support the feature, we need azure-storage-file-datalake have the support first.
https://github.com/Azure/azure-sdk-for-python/blob/82e85814a6cda02fe374e57ad1d34da281cfd514/sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py#L473-L518
Add @xiafu-msft for awareness. Could we support list with metadata in file datalake the same as blob sdk?

[2021-07-06 09:23] Sbou commented on #18668
Ok thank you.

After verification, mariadb was already in the machine's yum repo and is not a dependency of Az CLI.
Sorry and thank you.

[2021-07-06 09:23] #18668 closed

[2021-07-06 09:32] zhoxing-ms commented on #17887
In fact, CLI only directly outputs the data returned by REST, solution data sources and ITSM connection-id are not returned in REST, so this issue needs the help from service team

Related REST API:
show operation:
[code]
list operation:
[code]

@dougbrad Hi, could you please take a look at this issue~

[2021-07-06 09:41] mimergel opened #18745 "az backup container unregister doesn't work"
**Describe the bug**
The command " az backup container unregister " doesn't remove the backup data from the vault. Example:

az backup protection disable  --container-name "IaasVMContainer;iaasvmcontainerv2;rg-sap-sid;saptestsid" -g "SAPonAzureFrance" -v "rsv-sap-francecentral-001" --item-name saptestsid --yes
=> this works OK

 az backup container unregister --container-name "IaasVMContainer;iaas

[2021-07-06 09:55] sebastus opened #18746 "az upgrade failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**

New Azure CLI version available. Running 'az upgrade' to update automatically.
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Your current Azure CLI version is 2.19.1. Latest version available is 2.25.0.
P

[2021-07-06 10:29] yonzhan commented on #18745
route to service team

[2021-07-06 10:30] yonzhan commented on #18746
upgrade

[2021-07-06 12:13] mdean-msm opened #18747 "request for csv delimiter on output of az command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension list-available`

tsv seems to be the only output that is delimited. would like to see a comma separated value output as well. thanks.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2021-07-06 12:46] yonzhan commented on #18747
extensions

[2021-07-06 13:54] TeamDman commented on #16186
Seems that the network payload doesn't adjust the value for `protocol` depending on the `frontendPort` being used.

[code]

However, further digging reveals that the protocol is only set when ssl-cert is passed, which makes sense

https://github.com/Azure/azure-cli/blob/cc10117df73d9ea340e889a9044e044f69a2258d/src/azure-cli/azure/cli/command_modules/network/custom.py#L388

The true issue here is n

[2021-07-06 14:30] micahjo commented on #18495
Sorry, I have updated. This should be for 2021-04-01 now.

[2021-07-06 15:12] rolan18 commented on #17587
@zhoxing-ms The main reason is to simplify rollbacks in the case of runtime errors.
If my application runs into an unexpected runtime error after deploying a new arm template, then I need to know the last good state of the ARM template (which I can track easily enough).
In my release pipeline for my service I set up a staging slot, deploy to it then swap with production.  If I need to rollback to

[2021-07-06 15:23] UnexpectedGrit-3853 commented on #18703
@jiasli Here is the Azure CLI version information (full output), you requested:
[terminal-capture-20210706.txt](https://github.com/Azure/azure-cli/files/6771065/terminal-capture-20210706.txt)
Hope this is helpful.

[2021-07-06 16:33] mstavrev commented on #17910
I am using West Europe region.

Here is an example script to illustrate the issue: [aks-nsg-issue.txt](https://github.com/Azure/azure-cli/files/6771420/aks-nsg-issue.txt)

Once reaching step 5, I've also did experiments to request the NSG list using other accounts with access to the subscription, but it does not matter.

[2021-07-06 16:48] aparnavemuri commented on #18500
Which version of the CLI will this fix be available? Will it be 2.26.0?

[2021-07-06 16:49] amjads1 commented on #18418
Looking into the issue.

[2021-07-06 17:31] qinxgit commented on #18200
It means as  an owner of the VM, I can define a couple of .sh scripts (e.x. a.sh, b.sh...)which is deployed on the VM, and I can run CLI command like this:

`az vm run-command invoke a.sh`
`az vm run-command invoke b.sh`.

This can help to run duplicate shell commands one by one. Also it can reduce the possible human error when support engineers are working on the VMs.

[2021-07-06 17:41] jonathan-innis commented on #18337
@zhoxing-ms That also fails because we need more positional arguments for the get call

[code]

[2021-07-06 18:58] MehaKaushik commented on #18533
We are aware of this, CLI is coded in a way that location will be resource group's location when account is created using CLI.
We plan to remove this going forward. I will update here once removed. Till then, I request you to use Azure Powershell or Portal as a workaround.

[2021-07-06 20:51] jrudley commented on #11471
I just ran into this in the portal. I am guessing something with the API on the backend.

[2021-07-06 21:50] rolandas-rimkus commented on #11471
20 months since creating this issue and seems this got no acknowledgement or info back from Microsoft. Ouch. Already forgot that I created it until someone commented.

[2021-07-07 00:20] yonzhan commented on #11471
devtestlab service team should look into this

[2021-07-07 00:30] DSakura207 opened #18752 "az role definition supports less scopes than REST API"
It appears that create operation does not allow specifying a scope, but other operations allows it.

Besides, Azure REST API allows more scopes, see [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-rest#list-custom-roles-at-a-scope).

Is the document out of date, or az cli has not implemented it?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-07-07 01:34] yonzhan commented on #18752
@jiasli for awareness

[2021-07-07 01:56] zhoxing-ms commented on #17587
OK. I got it. I'm not sure whether the REST of service supports the feature of rollback. This needs the help of the service team

[2021-07-07 02:31] jiasli commented on #18383
We have released `azure-cli` 2.26.0: https://pypi.org/project/azure-cli/. The history notes are now moved to a hyperlink to https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli instead. Please let us know if the problem is solved.

[2021-07-07 02:43] evelyn-ys commented on #18049
Service Attention for LRO return invalid status 'OK'

[2021-07-07 02:50] evelyn-ys commented on #18409
@tamathew `\` is needed before `$` if you want to pass the original `$` or else it will be parsed before passing to Azure CLI.

[2021-07-07 02:50] #18409 closed

[2021-07-07 02:54] evelyn-ys commented on #18425
Hi @pjquirk, thanks for the suggestion!
The exist code actually means the cli command succeed or not. The request to service does succeed with full response. We need to discuss with PM whether take it as command failure when service returning "Request rejected" response.

[2021-07-07 03:14] zhoxing-ms opened #18753 "Refactor error handling for parsing inner_exception"
**Is your feature request related to a problem? Please describe.**

We need a global general error handling to parse `inner_exception.error.message` and `response.internal_response.text`.
Such as:
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-07 03:26] Juliehzl commented on #18495
2021-04-01 is still in preparing. We will add the support when 2021-04-01 features are merged to master as Azure CLI requires python SDK public first.

[2021-07-07 03:53] yonzhan commented on #18753
error handling

[2021-07-07 03:59] #18437 closed

[2021-07-07 05:40] zhoxing-ms commented on #18200
@qinxgit In fact, at present, the parameter `--scripts` of command `az vm run-command invoke` can support inputing script.
Such as:
[code]
May I ask what's the difference between this `baked script` and `az vm run-command invoke -g MyResourceGroup -n MyVm --command-id RunShellScript --scripts @scripts_file`?

[2021-07-07 05:53] kairu-ms commented on #18728
Please do not use "." in the value of `--name` argument

[2021-07-07 05:57] kairu-ms commented on #18714
Please update azure cli by the following command
[code]

[2021-07-07 05:57] #18714 closed

[2021-07-07 06:47] jiasli commented on #18703
Checked the log and the installation failure is caused by

[code]

Found a stackoverflow post (https://stackoverflow.com/a/61876234/2199657) about this issue.

Checked with a [Ubuntu 21.04 docker image](https://hub.docker.com/_/ubuntu?tab=tags&page=1&ordering=last_updated&name=21.04) and reproduced this issue:

[code]

[code]

Ubuntu 21.04 now only has `libffi.so.8`:

[code]

so the bundled python

[2021-07-07 07:32] zhoxing-ms commented on #18337
Could you send me the debug log (add parameter `--debug` after executed command) by email for this error: https://github.com/Azure/azure-cli/issues/18337#issuecomment-873248210
[code]

[2021-07-07 07:40] jiasli commented on #18703
As a workaround, could you use `pip install azure-cli` to install from [PyPI](https://pypi.org/project/azure-cli/)? This way, Azure CLI will run with the system python which uses `libffi.so.8`.

Verified with the [Ubuntu 21.04 docker image](https://hub.docker.com/_/ubuntu?tab=tags&page=1&ordering=last_updated&name=21.04):

[code]

[code]

[2021-07-07 07:49] sscchh2001 opened #18754 "az acr build fail to work with Dockerfile in 2.26.0 version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Follow the document https://docs.microsoft.com/en-us/azure/container-registry/container-registry-quickstart-task-cli?view=azs-2102, install CLI 2.26.0 and try to build image with acr build cmd.
CLI 2.24.2 works well.

- _Put any pre-requisit

[2021-07-07 07:53] zhoxing-ms commented on #18223
Since I haven't received reply for a long time, so I close this issue first. If you still have this problem, please email me the specific information and I will reopen this issue

[2021-07-07 07:53] #18223 closed

[2021-07-07 07:55] lbenton opened #18755 "az acr build 'NoneType' object is not callable in v2.26.0"
**Describe the bug**
When running az acr build from latest az cli docker image (2.26.0) inside a gitlab pipeline azcli throws the error "TypeError: 'NoneType' object is not callable"

Works fine when using 2.25.0 image

**To Reproduce**
Here is the command we use within the docker image (the variables are provided by the CI file)

az acr build --build-arg APP_NAME="${APP_NAME}" --build-arg CI_COMM

[2021-07-07 07:58] jiasli commented on #18746
Similar to https://github.com/Azure/azure-cli/issues/17666

As the error message indicates:

[code]

this issue doesn't seem to be caused by Azure CLI. It's highly possible you will face the same issue following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

Could you check if you have other Linux repos added which could cause the 403 failure?

[code]

Then you may

[2021-07-07 08:11] yonzhan commented on #18754
route to service team

[2021-07-07 08:12] yonzhan commented on #18755
route to service team

[2021-07-07 08:12] jiasli commented on #18752
Currently `az role definition create` doesn't support `--scope`. If this is mandatory, could you try to use `az rest` to [invoke the REST API directly](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-rest)?

(If you use Windows and PowerShell, please be aware of PowerShell quoting issue: https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md

[2021-07-07 08:15] subbartt opened #18756 "Support for global input param x-ms-correlation-request-id ..."
We have set of related az commands that needs to be run for completing the user scenario. We are looking to track all those requests as group for logging / debugging perspective using "x-ms-correlation-request-id". This header can be passed by clients. As this is a common header, supporting the capability at the cli level will help any extensions to pass the header if needed.
This can be achieved

[2021-07-07 08:47] zhoxing-ms commented on #14584
How do I specify storage type (premium etc) per data disk if multiple?
   How do I specify disk read/write caching per data disk added? -- I mean usually I'll do read/write for everything, but why does the option not exist?

The REST documentation [images/create-or-update](https://docs.microsoft.com/en-us/rest/api/compute/images/create-or-update) doesn't seem to show support for these features, wh

[2021-07-07 08:59] yonzhan commented on #18756
@jiasli for awareness

[2021-07-07 09:09] zhoxing-ms commented on #18257
@ohl-nemeses Hi, please upgrade CLI to the latest version *(you can upgrade it by running `az upgrade`)* and try again.
If this issue still can be reproduced, please feel free to let me know~

[2021-07-07 09:11] zhoxing-ms commented on #18737
@periclesgdc Hi, please upgrade CLI to the latest version *(you can upgrade it by running `az upgrade`)* and try again.
If this issue still can be reproduced, please feel free to let me know~

[2021-07-07 10:15] shawnxzq commented on #18612
@sgutwein Please refer to document on how to create AML linked service，
https://docs.microsoft.com/en-us/azure/data-factory/compute-linked-services#azure-machine-learning-linked-service
Only the listed properties in the document are supported, authentication is not one of them, any only SP auth is supported at moment.

[2021-07-07 10:21] Kotasudhakarreddy commented on #18723
@awithy I am unable to repro this issue. Please share `--debug` log if you face it again.

[2021-07-07 10:21] frankfru opened #18758 "az apim product api delete - revision is ignored"
You can add the revision to the api-id. This suggests that the change is made to that specific revision and is only active after the revision is released and becomes the current revision.
However, the change is made to the current revision and is effective immediately.
If this is the explected behaviour please make this clear in the documentation and preferrably don't allow the addtion of the revi

[2021-07-07 10:41] jiasli commented on #18756
A [quick search on `x-ms-correlation-request-id`](https://github.com/search?q=x-ms-correlation-request-id+in%3Atitle&type=Issues) shows same feature requests on

- Azure PowerShell: https://github.com/Azure/azure-powershell/issues/13520
- Azure SDK: https://github.com/Azure/azure-sdk/issues/576

[2021-07-07 11:32] rbickel opened #18759 "az aks command invoke FAILS for any helm operation"
**Describe the bug**
When trying to run a helm command using the `az aks command` on an AKS cluster, every **helm command fails** with a permission exception. Example of failing command:
`az aks command invoke -g <group> -n <name> -c "helm install happy-panda bitnami/wordpress"`
[code]

Or the following command from the documentation:
`az aks command invoke -g <group> -n <name> -c "helm repo add b

[2021-07-07 12:07] jiasli commented on #18738
I have observed this error myself when I try to delete an AAD application that are created by Azure Portal through Microsoft Graph API [Create application](https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-1.0&tabs=http).

`az ad app delete` still uses AD Graph to delete the application, so it seems **one can't use AD Graph to delete some applications created

[2021-07-07 12:13] #18560 closed

[2021-07-07 12:32] vennela1001 opened #18760 "azure cli is not opening"
hi sir/madam,
           this is vennela. while using az login command in powershell then it shows some problem in azure cli in github repository.
plz kindly help for this senario.
         thankyou,
regards,
vennela

[2021-07-07 14:10] thecodetinker opened #18761 "az ad app update set knownClientApplications"
## Describe the bug
I am trying to set the `knownClientApplications` on the Azure AD Application Manifest, without much luck. I cannot find any examples of how to do this.

**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

This is what I have tried:
- `

[2021-07-07 14:10] seligj95 commented on #12308
Unable to reproduce bug. I was able to SSH via portal and CLI - insufficient details for further reproduction. closing this issue. FYI, this command is planned to be deprecated and replaced, timeline TBD.

[2021-07-07 14:10] #12308 closed

[2021-07-07 14:22] yonzhan commented on #18761
@jiasli for awareness

[2021-07-07 14:24] yonzhan commented on #18760
Please let us know your detailed info related to which CLI command and error log.

[2021-07-07 14:25] craigminihan commented on #18736
FWIW I am also seeing this problem with `az network front-door routing-rule create`, specifically on the `--patterns` argument. If I pass `/*` I end up with `/bin, /boot, /dev` etc.

[2021-07-07 14:27] yonzhan commented on #18759
route to service team

[2021-07-07 14:29] yonzhan commented on #18758
route to service team

[2021-07-07 14:39] Vaibhav-Agar commented on #18743
This is an auto generated Issue with not enough information to debug. Closing.

[2021-07-07 14:39] #18743 closed

[2021-07-07 14:39] Kotasudhakarreddy commented on #17034
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-07-07 14:39] #17034 closed

[2021-07-07 14:42] Kotasudhakarreddy commented on #16954
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-07-07 14:42] #16954 closed

[2021-07-07 14:45] Kotasudhakarreddy commented on #16436
Duplicate of #17424

[2021-07-07 14:52] MarkAtAgilliance commented on #16436
I'd argue 17424 is a duplicate of this.

[2021-07-07 15:09] Kotasudhakarreddy commented on #16436
Yeah I will agree with you @MarkAtAgilliance. I have given fix for #17424 and later on I have figure out there is an issue already logged for it. So thought of making this issue as duplicate as I cannot change the Fix history for #17424. Sorry for marked this as a duplicate. Hope you convince :)

[2021-07-07 15:50] miwithro commented on #18759
@rbickel can you ensure that the account you are using to use the run command has the following rights.

"Microsoft.ContainerService/managedClusters/runcommand/action"

It sounds as if this right was explicitly denied for your user account.

[2021-07-07 16:03] rbickel commented on #18759
I am subscription owner and kubectl commands work smoothly though. It is à
vanille cluster rbac enabled

On Wed, Jul 7, 2021, 17:51 miwithro ***@***.***> wrote:

[2021-07-07 16:59] benhamiltonpro commented on #18755
Experiencing the same issue here when running `az acr run`

[code]

[2021-07-07 18:13] DSakura207 commented on #18752
Thank you @jiasli , I'll give it a try.

[2021-07-07 18:13] #18752 closed

[2021-07-07 18:27] miaojiang commented on #18758
cc @DreamlessA

[2021-07-07 19:30] panchagnula commented on #18697
this is a known issue - & we need a new swagger & SDK to be updated to make these changes to the CLI command - don't have an ETA at this time to share.

[2021-07-07 19:43] defenestration opened #18762 "az aks check-acr KeyError: 'serverVersion'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --acr {} -g {} -n {}`

## Expected Behavior

## Enviro

[2021-07-07 19:48] panchagnula commented on #18725
@Kotasudhakarreddy can you check if you can repro this?

[2021-07-07 19:52] panchagnula commented on #18677
use --src parameter to pass the path  see az webapp deployment source config-zip --src
                                       [--ids]
                                       [--name]
                                       [--resource-group]
                                       [--slot]
                                       [--subscription]
                                       [--timeout]

[2021-07-07 20:01] panchagnula commented on #18635
@calvinsID we should add better error handling when the command fails to connect to SCM site like this one here is failing because we can't reach this end point /api/deployments/latest

[2021-07-07 20:04] panchagnula commented on #18628
Same as https://github.com/Azure/azure-cli/issues/18069 - & the fix will be available with the S189 payload release.

[2021-07-07 20:04] #18628 closed

[2021-07-07 20:04] panchagnula commented on #18565
Closing due to lack of response

[2021-07-07 20:04] #18565 closed

[2021-07-07 20:06] panchagnula commented on #18559
Please re-open if issue is not resolved post updating command with quoting fixes or using BASH terminal. Thanks!

[2021-07-07 20:06] #18559 closed

[2021-07-07 20:08] panchagnula commented on #18465
This is not specific to CLI - since CLI doesn't control what zipfiles are stored on the Kudu site,, please open issue on Kudu project.

[2021-07-07 20:08] #18465 closed

[2021-07-07 20:10] panchagnula commented on #18435
please use --src parameter to pass the full path of the Zip file - the error is because the command can't find the zip file '/home/solomon/videowebapp/site.zip'

[2021-07-07 20:10] #18435 closed

[2021-07-07 20:13] panchagnula commented on #18357
@kelvinduan2020 have you tried to run this command by deleting the extension you have installed? @calvinsID please check the extension issue https://github.com/Azure/azure-cli-extensions/issues/3468

[2021-07-07 20:14] panchagnula commented on #18351
the fix is already merged

[2021-07-07 20:14] #18351 closed

[2021-07-07 20:34] mahatabur opened #18763 "WebApp:Don't include "ipSecurityRestrictions" when updating settings"
**Describe the bug**
When a user did an config update - we roundtrip the full config (event those unchanged config back). The issue is ARM cannot tell whether the config settings are new or changed - and enforce RBAC policy across.

Sample error:

"code": "LinkedAuthorizationFailed",

"message": "The client 'xyz' with object id 'xyz-xyz-xyz-xyz-xyz' has permission to perform action 'Microsoft.Web/

[2021-07-07 20:35] mahatabur commented on #18763
@panchagnula FYI.

[2021-07-07 21:18] UnexpectedGrit-3853 commented on #18703
@jiasli Thank you for the suggested workaround!
I tried the following and I'm now able to move forward:
`
sudo apt update
sudo apt install python3
sudo apt install python3-pip
suod pip install azure-cli
pwsh
az extension add --name azure-iot     /* Successful !!! */
`
Here's what I saw in "pwsh":
`
debuguser@debuguser:~/s0-test$ pwsh
PowerShell 7.1.3
Copyright (c) Microsoft Corporation.

https://a

[2021-07-07 21:50] Diastro commented on #18755
Experiencing the same thing as well.

[2021-07-07 22:13] jozala commented on #18438
Any updates?

[2021-07-07 23:52] jonathan-innis commented on #18337
@zhoxing-ms Just emailed you the error logging with `--debug`

[2021-07-08 00:09] yonzhan commented on #18762
route to service team

[2021-07-08 00:25] juliusl commented on #18755
Looking into this issue.

[2021-07-08 00:32] aishanibhalla opened #18764 "Documentation links are broken"
[The comands](https://docs.microsoft.com/en-us/cli/azure/ml/endpoint?view=azure-cli-latest#az-ml-endpoint-delete) on the page won't redirect me to the full documentation https://docs.microsoft.com/en-us/cli/azure/ml/endpoint?view=azure-cli-latest#az_ml_endpoint_delete ; looks like the links are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-07-08 01:27] yonzhan commented on #18763
route to service team

[2021-07-08 01:33] yonzhan commented on #8107
route to service team

[2021-07-08 01:33] yonzhan commented on #7775
route to service team

[2021-07-08 01:33] yonzhan commented on #5617
route to service team

[2021-07-08 01:36] yonzhan commented on #18764
route to service team

[2021-07-08 03:08] jiasli commented on #18703
@UnexpectedGrit-3853, thank you for the confirmation. I am glad the workaround unblocks you. 😊

[2021-07-08 03:09] blackchoey commented on #18738
Thank you @jiasli ! The az rest way you shared solved my problem. Closing this issue.

[2021-07-08 03:09] #18738 closed

[2021-07-08 03:24] PARADISSEEKR opened #18765 "The `az databoxedge bandwidth-schedule create` command failed"
**Describe the bug**

When create a bandwidth schedule, I get the following error.
command:
`az databoxedge bandwidth-schedule create --days Sunday -d testdev -n bd1 --rate-in-mbps 2 -g myrg --start 0:0:0 --stop 12:00:00`
error:
`(RestApiInternalError) The REST API call encountered an internal error.
Wait for a few minutes and then try the operation again. If the issue persists, contact Microsoft

[2021-07-08 03:26] jiasli commented on #18764
I can repro. This issue doesn't only happen on `ml`, but on all commands.

In the page https://docs.microsoft.com/en-us/cli/azure/ml/endpoint?view=azure-cli-latest

![image](https://user-images.githubusercontent.com/4003950/124857166-64b13180-dfde-11eb-91b2-5508e3c7d85b.png)

If I click the command name on the left, say `az ml endpoint create`, it redirects to

[code]

which incorrectly uses dash

[2021-07-08 03:28] yonzhan commented on #18765
databoxedge

[2021-07-08 03:36] jsntcy commented on #18755
As a workaround, you can rollback to previous version:
- For windows installer, you can uninstall current version and install the previous version from https://azcliprod.blob.core.windows.net/msi/azure-cli-2.25.0.msi.
- If you install with `pip`, you can install with `pip install azure-cli=2.25.0`

[2021-07-08 03:38] jiasli commented on #14711
`az upgrade` already uses `-NoProfile` to invoke `powershell.exe` (#15361, #15455). I will migrate the same to `az login`.

[2021-07-08 03:42] zhoxing-ms commented on #18337
@jonathan-innis Thank you for your email. I know the cause of this issue.
Please use the previous PR #18683 and try the following way

[2021-07-08 05:19] sebastus commented on #18746
did that. all's well. thanks!

On Wed, Jul 7, 2021 at 8:59 AM Jiashuo Li ***@***.***> wrote:

[2021-07-08 05:35] pkoushik opened #18766 "Support Azure CLI 64 Bit"
**Is your feature request related to a problem? Please describe.**

Today we see that Azure CLI MSI installer only supports a 32 bit install of Azure CLI. Many other cloud providers and projects are moving away from supporting 32 bit in favor of 64 bit. In our case, we are building an extension which leverages an SDK that only supports 64 bit. For that reason, for some calls in the extension we ru

[2021-07-08 06:25] #18428 closed

[2021-07-08 07:02] PARADISSEEKR opened #18767 "The `az databoxedge device create` command failed"
**Describe the bug**

When create a device with `--sku Edge`, I get the following error:`(GatewayUserErrorSkuDisabledRegion) Sku 'Edge' is not enabled in this region.`.
According to the the information:`(LocationNotAvailableForResourceType) The provided location 'abc' is not available for resource type 'Microsoft.DataBoxEdge/DataBoxEdgeDevices'. List of available regions for the resource type is '

[2021-07-08 07:17] Gholie commented on #16785
Any updates here? I'm having the same issue. Have you found a workaround @magnus-longva-bouvet ?

[2021-07-08 07:22] Laasya-07 commented on #10191
Hello all, the reason of could not create role assignment for subnet is because of the maxPods. The count has to be greater than 30.

The reason behind subnet role assignment is because of the maxpods. Try giving a value of maxPods greater than 30 and the CIDR value to /21 or so.

[2021-07-08 07:38] Gholie commented on #16785
After some more digging I found this issue: https://github.com/Azure/azure-cli/issues/16737#issuecomment-774109098

The comment linked worked for me

[2021-07-08 07:51] amjads1 commented on #18418
@prepetti65 - Looks like you are passing incorrect settings for the extension and it is failing. Here's the schema that should provide some clarity but let me know if you still run into issues.

Doc Link: https://docs.microsoft.com/en-us/azure/azure-monitor/agents/resource-manager-agent#azure-monitor-agent-preview

[2021-07-08 08:29] Juliehzl commented on #18539
fixed in PR #18730

[2021-07-08 08:29] #18539 closed

[2021-07-08 08:34] Juliehzl commented on #17937
this is an issue for python SDK. Add @xiafu-msft  for help.

[2021-07-08 08:37] meierale opened #18769 "APIVersion 2021-04-01 not available in Python3.8 and az cli 2.24.2"
## Describe the bug
az storage account network-rule add fails with `NotImplementedError: APIVersion 2021-04-01 is not available`

**Command Name**
`az storage account network-rule add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- install az cli 2.24.x in a python 3.8 environment
-

[2021-07-08 09:01] jiasli commented on #18458
This issue is a duplication of #18531. Please find more details in #18531.

[2021-07-08 09:03] jiasli commented on #18531
The Linux repo team has scaled up the server of https://packages.microsoft.com/. If you are still seeing slow download speed, please let us know.

[2021-07-08 09:03] #18531 closed

[2021-07-08 09:03] jiasli commented on #18531
We have worked with the Linux repo team to scale up the server of https://packages.microsoft.com/. If you are still seeing slow download speed, please let us know.

[2021-07-08 09:13] Juliehzl commented on #18042
The exception is raised by azure-cosmosdb-table instead of azure cli. To fix the issue, python SDK needs to update first.

[2021-07-08 09:14] patroza commented on #6638
Any news?!

[2021-07-08 09:19] Juliehzl commented on #18109
no response for a long time. If you still have the issue, please create a new one.

[2021-07-08 09:19] #18109 closed

[2021-07-08 09:24] Juliehzl commented on #18128
Hi  @dejan-shuki, you could set default action for all networks using `az storage account update` with `--default-action` and `--bypass`. If you just want to allow selected networks, please use `az storage account network-ruls add`.

[2021-07-08 09:24] #18128 closed

[2021-07-08 09:25] AvRajath commented on #18109
Oops. Sorry idk but looks like i got no notifications from git on this.

Here are the requested info:
[code]

[2021-07-08 09:27] zhoxing-ms commented on #18341
@carolga  Hi, please upgrade CLI to the latest version *(you can upgrade it by running `az upgrade`)* and try again.
If this issue still can be reproduced, please feel free to let me know~

[2021-07-08 09:38] zhoxing-ms commented on #18350
@rsuds Hi, please upgrade CLI to the latest version *(you can upgrade it by running `az upgrade`)* and try again.
If this issue still can be reproduced, please feel free to let me know~

[2021-07-08 09:43] jiasli commented on #18654
### Install on `bullseye` with automatic fallback

Checked with a [Debian bullseye docker image](https://hub.docker.com/_/ubuntu?tab=tags&page=1&ordering=last_updated&name=21.04) and I was able to install Azure CLI correctly:

[code]

[code]

The document [Install the Azure CLI on Linux - Option 1: Install with one command](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=

[2021-07-08 09:55] jiasli opened #18771 "Link icon missing when hovering the mouse over headings"
**Describe the bug**
The little link icon 🔗 on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux doesn't show up when hovering the mouse over headings:

![image](https://user-images.githubusercontent.com/4003950/124901854-f76cc300-e014-11eb-8a1a-26ff75fd4e37.png)

It works on other pages like https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli

![im

[2021-07-08 09:59] zhoxing-ms commented on #18423
@anthony-c-martin  Sorry, when only one item is returned the output is an object，when multiple items are returned the output is an array, this is by designed for show command.
Does this output logic cause trouble for you to use JMESPath to parse the result? Could you control whether an object or an array is parsed according to the number of input parameters?

[2021-07-08 10:00] yonzhan commented on #18771
Link icon missing

[2021-07-08 10:08] yonzhan commented on #18766
packaging

[2021-07-08 10:09] jiasli commented on #14778
This is because you are calling `az` installed on Windows, instead of the one installed on WSL. You may follow [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) to install on Ubuntu.

[2021-07-08 10:09] #14778 closed

[2021-07-08 10:12] jiasli commented on #15085
`az ad app permission admin-consent` doesn't work in Cloud Shell, because `main.iam.ad.ext.azure.com` is an not an endpoint supported by Cloud Shell.

Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for detailed explanation and workarounds.

[2021-07-08 10:12] #15085 closed

[2021-07-08 10:12] yonzhan commented on #18767
route to service team

[2021-07-08 10:13] jiasli commented on #16163
Duplicate of #15085. Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for detailed explanation and workaround.

[2021-07-08 10:13] #16163 closed

[2021-07-08 10:14] jiasli commented on #15967
Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for the explanation and workaround.

[2021-07-08 10:14] #15967 closed

[2021-07-08 10:16] jiasli commented on #16005
Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for detailed explanation and workaround.

[2021-07-08 10:16] #16005 closed

[2021-07-08 10:18] jiasli commented on #15477
Could you share the error message you saw?

[2021-07-08 10:18] yonzhan commented on #18769
storage

[2021-07-08 10:19] jiasli commented on #15579
Please see https://github.com/Azure/azure-cli/issues/18617#issuecomment-868275965 for an explanation.

[2021-07-08 10:19] #15579 closed

[2021-07-08 10:23] jiasli commented on #15835
Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for the explanation and workaround.

[2021-07-08 10:25] jiasli commented on #15969
Duplicate of #11749

[2021-07-08 10:25] #15969 closed

[2021-07-08 10:26] #9942 closed

[2021-07-08 10:26] #10403 closed

[2021-07-08 10:29] jiasli commented on #14528
Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for detailed explanation and workaround.

[2021-07-08 10:29] #14528 closed

[2021-07-08 10:32] jiasli commented on #13969
`appRoleId` can be retrieved with `az ad sp show`. Please see https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479 for detailed explanation.

[2021-07-08 10:32] #13969 closed

[2021-07-08 10:33] #15835 closed

[2021-07-08 10:39] jiasli commented on #14074
Thanks @nishanperera for the link.

Indeed, https://docs.microsoft.com/en-us/graph/api/application-post-owners?view=graph-rest-1.0&tabs=http indicates that for **Application**, **Application.ReadWrite.OwnedBy and Directory.Read.All** are the minimum required permissions.

[2021-07-08 10:39] #14074 closed

[2021-07-08 10:39] #11159 closed

[2021-07-08 10:40] #12939 closed

[2021-07-08 10:44] jiasli commented on #15056
For AAD related questions, you may reach out to AAD support by [creating a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/). Thanks for understanding.

[2021-07-08 10:44] #15056 closed

[2021-07-08 10:56] 0hlov3 opened #18772 "HomeBrew Brew update brakes az-cli Version 2.26.0"
**Describe the bug**

After Updating the azure-cli on the Mac (Version 11.4) with brew upgrade  I got the following error messages.

[code]

[code]

So I was playing with different Python Versions etc. But nothing helped.

So I was going to install the python modules myself:
[code]
Error output

[code]

But now everything works as expected.

**To Reproduce**
[code]

**Expected behavior**
brew upgr

[2021-07-08 11:03] yonzhan commented on #18772
HomeBrew

[2021-07-08 11:08] prepetti65 commented on #18418
Hi,

I am not using templates. Simply executing this command on Windows raises the exception (I edited ID and KEY)

_az vm extension set -n MicrosoftMonitoringAgent --publisher Microsoft.EnterpriseCloud.Monitoring --vm-name SOME-VM-NAME --settings '{"workspaceId":"WORKSPACE_ID"}' --protected-settings '{"workspaceKey":"WORKSPACE_KEY"}'_

and the result is

_(VMExtensionProvisioningError) VM has rep

[2021-07-08 11:38] paulsalmon-za opened #18773 "ACR build fails with generic nodeType object is not callable"
Running the command on my local machine with the latest Azure CLI as well as a GitHub action https://github.com/marketplace/actions/azure-container-registry-build on a free account

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _P

[2021-07-08 12:34] amedeogautiero opened #18774 "az datafactory create"
**Describe the bug**
Using az datafactory create in Azure Cloud Shell work file, but from local it never ending

**To Reproduce**
_From Azure Cloud Shell I use:_
az group create --name $RG --location westeurope
az datafactory create --location westeurope --name $datafactory1 --resource-group $RG

It work fine

From local I use:
$AzCred = Get-Credential -UserName "....." -Message "Azure Login"
az l

[2021-07-08 13:26] anthony-c-martin commented on #18423
Thanks for the explanation! It's not a blocker - it would just be nice to have a one-liner script to share that doesn't require any complex logic to handle both cases.

[2021-07-08 14:01] yonzhan commented on #18773
route to service team

[2021-07-08 14:02] yonzhan commented on #18774
datafactory

[2021-07-08 14:32] Tsongtsz commented on #18773
I have the same issue here. Any solutions?

[2021-07-08 14:34] seligj95 commented on #18653
closing. unable to reproduce. successfully deleted static web app from portal and cli.

az staticwebapp delete -n <app name>

and

"delete" button in portal

[2021-07-08 14:34] #18653 closed

[2021-07-08 14:35] jiaojiaoxia opened #18775 "Azure Active Directory Graph would be deprecated soon. When do you plan to upgrade az ad to use Microsoft Graph endpoint?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa048db2-b924-889c-c105-2a676714b0ee
* Version Independent ID: 5774d883-1b16-d4b9-8d61-4694af8d9341
* Content: [az ad](https://docs.microsoft.com/en-us/cli/azure/ad?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/ad.yml](https://gith

[2021-07-08 14:35] jiaojiaoxia commented on #18775
Azure Active Directory Graph would be deprecated soon. When do you plan to upgrade az ad to use Microsoft Graph endpoint

[2021-07-08 14:41] Bunzab opened #18776 "Missing datastore YAML schema"
The example for `az ml datastore create` creates a datastore from a YAML file but there is no indication as to how that file should be formatted. Searching only returns this page. Can you please link to the YAML schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27bfd14b-bddd-771f-1364-c52a991b75f0
* Version Indepe

[2021-07-08 14:42] charliefoxrf commented on #18754
I'm also experiencing this issue using the latest CLI version on ubuntu 18.04

[2021-07-08 14:49] paulsalmon-za commented on #18773
I required it to setup a CICD pipeline in GitHub, I changed the pipeline to use the docker/build-push-action action and using the azure/docker-login action to authenticate the docker registry

[2021-07-08 15:07] Segaras commented on #5275
Is this copy a file to my VM request forgotten?
It would be really helpful if there was a comman like "Invoke-AzVMRunCommand".
Maybe like: Invoke-AzVMCopyFile -ResourceGroupName 'rgname' -VMName 'vmname' -FileSourcePath 'Path/File' -FileDestinationPath 'Path/'
@yugangw-msft Do you know anything about if this will be once available?

[2021-07-08 15:19] yonzhan commented on #18775
@jiasli for awareness

[2021-07-08 15:20] yonzhan commented on #18776
route to service team

[2021-07-08 15:58] anponnet commented on #18767
Sku "Edge" is being retired and we are not allowing new subscriptions to create it.  https://azure.microsoft.com/en-in/updates/azure-stack-edge-pro-fpga-is-retiring-on-28-february-2024/

you can consider creating a GPU device https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-overview

Sku: 1GPU = EdgeP_Base
         2GPU = EdgeP_High

[2021-07-08 16:00] NathanBurnett128 opened #18777 "Managed Hsm Role Assignment is not resolving Role Names"
**Describe the bug**
Assigning a role for a managed hsm with the name "Managed HSM Crypto User" was not working.
The customer instead needed to assign the resource id of the Role, which worked.

**To Reproduce**
az keyvault role assignment create --hsm-name <name> --role "Managed HSM Crypto User" --assignee <Your OID> --scope /keys

This fails with:
Unknown role "Managed HSM Crypto User". Please u

[2021-07-08 16:36] heavenlyren commented on #18539
Hi @Juliehzl

Has this been fixed in 2.26.0 ?
I did not have the time to test the command you asked. But if I want to upgrade to 2.26.0 do I have to generate sas and use source-sas instead or is that just a workaround ?

[2021-07-08 17:07] MehaKaushik commented on #18705
Thanks for raising the issue, we are discussing on the next steps.

[2021-07-08 17:21] jlautman opened #18778 "Links to communication sub-sections don't work"
The links under "in this article" do not correctly move to the relevant sub-headers. It appears that the HTML ids use snake case (az_communication_delete) but the links expect kebab case (az-communication-delete).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ec8803e-fcee-e902-7731-c12985791bda
* Version Independent

[2021-07-08 17:45] jcaparo-everis commented on #18005
Same issue with az version 2.25
{
  "azure-cli": "2.25.0",
  "azure-cli-core": "2.25.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.0"
  }
}

Command:
az aks enable-addons -a monitoring -n ${AKS_CLUSTER_NAME} -g ${AKS_RESOURCE_GROUP} --workspace-resource-id ${AKS_MONITORING_LOG_ANALYTICS_WORKSPACE_ID}

Error:
=======
The command failed with an unexpected error. Her

[2021-07-08 17:47] Sreini commented on #16895
I would love to have this as well.

Especially for stuff like adding all the ips in a service tag to a firewall rule and adding them to the security baseline at the same time

[2021-07-08 17:51] olayemio commented on #14584
@SimSama user images do not support encryption and there are no plans to support it. We encourage our customers to move over to the [Shared Image Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries). You can import your user image into the Shared Image Gallery by following these [instructions](https://docs.microsoft.com/en-us/azure/virtual-machines/image-version

[2021-07-08 18:11] NathanBurnett128 opened #18779 "MHSM Enable Purge Protection broken"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault update-hsm`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- I was attempting to enabled purge protection, however, it seems `u

[2021-07-08 18:21] qinxgit commented on #18200
I assume `script_file` has to be on the local machine, instead of the remote VM.

My scenario is that a developer can author a list of script files gathering diagnostic information and check-in in the source repo.  These script eventually get deployed on the VMs via release pipeline. These scripts are reviewed and well written so it is trusted with high quality.

Then some day an issue got reporte

[2021-07-08 19:07] SimSama commented on #14584
I think you are getting caught up in word semantics. Disk encryption for custom linux images seems to be supported in the console. If you are trying  to say disk encryption is not supported for any non microsoft supplied image, then we'd move our customers off Azure.

I only ask for features supported in the console as of today, and 6+ months ago be replicated in REST / cmd. These things are alrea

[2021-07-08 19:11] AvRajath opened #18780 "Azure CLI unable to create VM with 2 NICs"
https://github.com/Azure/azure-cli/issues/18109

Opening a new issue as the old issue was closed due to no response.

[2021-07-08 19:12] AvRajath commented on #18780
Here is the requested info:

PS C:\Users\rav.INFOBLOX> az cloud show
{
  "endpoints": {
    "activeDirectory": "https://login.microsoftonline.com/",
    "activeDirectoryDataLakeResourceId": null,
    "activeDirectoryGraphResourceId": "https://graph.windows.net/",
    "activeDirectoryResourceId": "https://management.infoblox.onmicrosoft.com/2c4d956f-20d4-41b5-b012-105ceb99613e",
    "appInsightsRes

[2021-07-08 20:05] yungchou opened #18781 "Cloud Shell [Errno 5] Input/output error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
cloudshell bash session no longer working, any az command will fail like the following:

$ az
The command failed with an unexpected error. Here is the traceback:
[Errno 5] Input/output error
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd

[2021-07-08 20:06] eugen-nw opened #18782 "The "az keyvault create" and "az keyvault delete" links do not work"
I'd expect them to take me to the content below, but they did not do anything.  I tried both on Chrome and Edge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/en-us/cl

[2021-07-08 20:15] olayemio commented on #14584
I misspoke. The API for user images does support encryption for data disks.
@zhoxing-ms examples may be missing but the [Images API supports Disk Encryption Set](https://docs.microsoft.com/en-us/rest/api/compute/images/create-or-update#imagedatadisk).
@qwordy is your team still working on supporting this?

[2021-07-08 20:30] ahmednuaman commented on #18754
Only started experiencing this a few days ago on our CI platform. This is halting production deployments, so a very severe issue.

[2021-07-08 22:20] feldkma opened #18784 "CLI az acr build failure"
## Describe the bug

Basic command to build and upload an image to ACR fails with little indication as to why.

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} -t {} -t {} {}`

## Expec

[2021-07-08 22:45] feldkma commented on #18784
When I use version `2.25.0-1~trusty`, I experience no problems.

[2021-07-08 23:12] zhzhao8888 opened #18785 "Json file sample"
For creating synapse linked service, I want to associate my synapse workspace with ADLS Gen2, do you have a sample json file for that?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fedd821-b852-d1b7-c5dc-4b75e230dd4d
* Version Independent ID: fb5a4dd8-e499-0109-84c4-c5b89d27d0f6
* Content: [az synapse linked

[2021-07-08 23:49] yonzhan commented on #18777
keyvault

[2021-07-08 23:52] yonzhan commented on #18778
communication

[2021-07-08 23:53] yonzhan commented on #18779
keyvault

[2021-07-08 23:56] yonzhan commented on #18780
Compute

[2021-07-08 23:58] yonzhan commented on #18781
@jiasli for awareness

[2021-07-09 00:00] yonzhan commented on #18782
keyvault

[2021-07-09 00:03] yonzhan commented on #18784
route to service team

[2021-07-09 00:04] yonzhan commented on #18785
route to service team

[2021-07-09 01:00] idear1203 commented on #18785
looping @zesluo for help

[2021-07-09 02:17] #17851 closed

[2021-07-09 02:53] vennela1001 commented on #18760
Hi sir,
        My issue got resolved.

Thanks &regards,
Vennela

On Wed, 7 Jul 2021, 7:54 pm yonzhan, ***@***.***> wrote:

[2021-07-09 02:55] #18760 closed

[2021-07-09 03:30] Juliehzl commented on #16109
have you ever succeeded before?

[2021-07-09 03:32] Juliehzl commented on #16109
As both Azure CLI and PSH cmdlets failed with SAS URI as source, we need confirmation from server side to see if the feature is supported in server side.

[2021-07-09 03:45] Juliehzl commented on #18774
Hi @amedeogautiero , could you add `--debug` in your command and provide debug information?
I just tested locally in location `westus` and it works fine.

[2021-07-09 03:49] Juliehzl commented on #18769
could you show me your `azure-mgmt-storage` version and which cloud you are accessing?

[2021-07-09 03:56] monojit18 commented on #18784
Confirm that this is broken and noticing this from today morning!
On MacOS with HomeBrew install, I have no option to fallback on earlier versions as the brew repo is showing only 2.26.0 as the stable release.
As a workaround, I have to fallback onto docker build/push!!

[2021-07-09 05:03] royzhao7 opened #18789 "az build error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-09 05:04] jsmwoolf opened #18790 "az acr build results in "TypeError: 'NoneType' object is not callable""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

We use Azure container repository to store our docker images for Azure Web App.  At the end of our Jenkins build, we deploy a docker image over to one of our repositories.  However, we recently cannot upload Docker images due to an error in the CLI.

**Command Name**
`az acr build`

**Errors:**
[code]

## To R

[2021-07-09 05:57] evelyn-ys commented on #18777
Hi @NathanBurnett128, Can you try `az keyvault role definition list --hsm-name  --scope /keys` and check whether `Managed HSM Crypto User` exist in the result?

The error msg `Unknown role "Managed HSM Crypto User"` is because cli try to find a match within list results of role definition but failed.

If the results don't contain `Managed HSM Crypto User`, we may need to involve service team.

[2021-07-09 06:03] yonzhan commented on #18789
route to service team

[2021-07-09 06:04] yonzhan commented on #18790
route to service team

[2021-07-09 06:23] joshimahesh opened #18791 "Getting error (__init__() got an unexpected keyword argument 'user_agent') in devops pipeline while using below command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add -n {}`

## Expected Behavior
as i am running CLI comma

[2021-07-09 06:26] jiasli commented on #18781
This issue could be similar to #16529, #14456, #13533, #12505.

Per https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage, the Cloud Shell disk image of your `$Home` directory is saved to a **file share**, instead of **blob container**. Deleting blob containers won't affect Cloud Shell.

You may check the file share's location with

[code]

If you delete the file share and re

[2021-07-09 06:28] yonzhan commented on #18791
@jiasli for awareness

[2021-07-09 07:03] zhoxing-ms commented on #5275
@Segaras Hi, in fact, this is a PowerShell command. if you have requirements related to PowerShell, please submmit issue to https://github.com/Azure/azure-powershell/issues

Whatever, I can understand what you want to achieve, which requires the service team to support a REST to upload the file to VM from local.

[2021-07-09 07:30] zhoxing-ms commented on #14584
How do I specify storage type (premium etc) per data disk if multiple?
How do I specify disk read/write caching per data disk added? -- I mean usually I'll do read/write for everything, but why does the option not exist?

@olayemio Hi, our team is working on CLI. May I ask does REST API support these features now?
I have not found the relevant documentation at this time. If service supports them,

[2021-07-09 07:35] jiasli commented on #18791
Seems to be the same issue as #18626, related to Machine Learning pipelines.

[2021-07-09 07:37] jiasli commented on #18626
Copied from https://github.com/Azure/azure-cli/issues/18532#issuecomment-863725311:

The error

[code]

happens at

https://github.com/Azure/azure-cli/blob/3b17a5fb2fd9eb3c35c83cc94245c11d268e7323/src/azure-cli-core/azure/cli/core/_profile.py#L880-L881

`user_agent` is added to `client_kwargs` for Track 2 SDK by

https://github.com/Azure/azure-cli/blob/672837983df7e6f4cb55fadd30ed375bfd53df21/src/

[2021-07-09 07:49] jiasli commented on #18532
Let's work on #18626 instead.

[2021-07-09 07:49] #18532 closed

[2021-07-09 07:50] #18791 closed

[2021-07-09 08:02] Juliehzl commented on #18539
The fix is available in [edge builds](https://github.com/Azure/azure-cli#edge-builds) and it will be release in 2.27.0. You could use edge builds now.

[2021-07-09 08:07] evelyn-ys commented on #18782
@eugen-nw Which link do you mean?

[2021-07-09 08:18] evelyn-ys commented on #18779
Need service team to figure out: without any change to bypass, why such error is returned?
[code]

[2021-07-09 08:18] Juliehzl commented on #16628
@qwordy #16797 is merged already. The issue should be resolved, right?

[2021-07-09 08:20] qwordy commented on #16628
We don't have two tenants for testing now. Microsoft tenant requires two factor authentication. We can't automate it.

[2021-07-09 08:23] Juliehzl commented on #16628
@brianttu1 could you try with latest azure cli? `az upgrade` could help you upgrade to latest cli. The issue should be fixed in PR #16797, but it is hard for us to testing. Could you help check if the issue is resolved?

[2021-07-09 08:45] Juliehzl commented on #18159
@cartley I have tested azure cli with the version you are using and there is no issue. From the investigation, I think you get the error because you install azure-cli with `--no-deps` and there are python packages missed.
Please reinstall azure cli according to the guidance:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf

You could also consider install with one comm

[2021-07-09 08:50] joshimahesh commented on #18791
@jiasli Thanks for your reply, issue is resolved by adding 'azure-mgmt-resource==18.0.0' in my requirements.txt.

[2021-07-09 09:05] robertlagrant opened #18794 "Citus database management"
**Is your feature request related to a problem? Please describe.**
As far as I know, I cannot currently use the `az` command to manage Citus infrastructure.

**Describe the solution you'd like**
An `az` subcommand that allows me to manage Citus instances and configuration.

**Describe alternatives you've considered**
There don't appear to be any alternatives, other than clicking in the Azure Porta

[2021-07-09 09:06] Juliehzl commented on #18215
Hi @mpowrie, you could add --debug in your command and see which headers are added.
From azure cli log trace, the accept value is set and send to server.
![image](https://user-images.githubusercontent.com/49508232/125053650-f5b80380-e0d7-11eb-9037-52198bc13471.png)

For the reason why it doesn't take effect, we need service team check.

[2021-07-09 09:16] Juliehzl commented on #18241
Please upgrade your azure cli to make sure it >=2.4.0.

[2021-07-09 09:16] #18241 closed

[2021-07-09 09:34] armandasalmd opened #18796 "Failure: Cannot execute az acr build --registry <> --image <> ."
## Describe the bug
I am trying to build my docker image and push it to azure registry

I was following this guide: https://circleci.com/blog/deploying-container-based-node-apps-to-azure/

**Command Name**
`az acr build`

**Logs this first:**
![image](https://user-images.githubusercontent.com/17089888/125057889-9dfea580-e0a1-11eb-8a0f-95ea3e01915f.png)

**Then errors:**

[code]

## To Reproduce:

[2021-07-09 09:48] jiasli commented on #18782
Duplicate of https://github.com/Azure/azure-cli/issues/18764

[2021-07-09 09:48] #18782 closed

[2021-07-09 09:56] yonzhan commented on #18794
route to service team

[2021-07-09 10:00] meierale commented on #18769
According to pip freeze it's 11.2.0
[code]

[2021-07-09 10:01] yonzhan commented on #18796
route to service team

[2021-07-09 10:04] gro1m commented on #18769
@meierale @Juliehzl Regarding the cloud it is : 'AzureCloud'.

[2021-07-09 10:04] jsntcy commented on #18794
@robertlagrant, could you please provide more information?

- What's the Citus database management?
- What's the swagger for it?
- What's the RP name?

[2021-07-09 10:22] mmarabesi commented on #18790
We are facing the same issue here with the altest version as well. Downgraded to version 2.23.0 and it is working now

[2021-07-09 11:02] Juliehzl commented on #18256
Hi @suvarna-03, you need to specify move permission for sas token. As `az storage blob generate-sas` is for blob service and there is no move operation for blob, it is not able to generate valid sas for files in ADLS Gen2 account.
The right command to use is `az storage fs generate-sas` and we will add it in PR #18768.

[2021-07-09 11:35] shawnxzq commented on #18536
@CharlesAbetz The necessary dataflow commands is already in current Az module, please check the details here:
https://docs.microsoft.com/en-us/powershell/module/az.datafactory/?view=azps-6.2.0

Feel free to let us know if you have any question on the dataflow commands.

[2021-07-09 11:40] shawnxzq commented on #18612
@sgutwein I mean the property "authentication" is not supported by the AML linked service. The document above shows what properties are supported.

[2021-07-09 11:47] monojit18 opened #18797 "appservice-kube extension for azure-cli stopped working on v2.26.0 from today"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
_appservice-kube_ extension for azure-cli stopped working on v2.26.0 from today
This is actually a blocker for our Arc workshop preparing for our sessions - as I can not create appservice Kube environment, I can not proceed with the subsequent steps to deploy apps, functions etc.

**Command Name**
`az appservic

[2021-07-09 11:57] meierale commented on #18769
I just noticed something:

- is it possible that az cli and azure python sdk are not compatible with each other?
- we are trying to build and use a docker image which we can use for various scenarios... thus we sometimes want to use az cli, sometimes the python sdk
- I think azure cli and python sdk are using different azure-mgmt-x versions, is that true/possible?

[2021-07-09 12:08] sgutwein commented on #18612
The issue is about **datafactory linked-service** and not AML linked service...

[2021-07-09 12:36] CharlesAbetz commented on #18536
Yes it is in the powerfully module but not the az cli one.

On Fri, 9 Jul 2021, 9:35 pm shawnxzq, ***@***.***> wrote:

[2021-07-09 12:43] RyanS-C commented on #18790
I have had this same issue today. My work around was to revert to CLI version 2.23

[2021-07-09 13:18] jchomarat commented on #18796
Apparently if we do not provide a platform_variant, it does not work any more (it worked in 2.25.0)

[2021-07-09 13:22] amedeogautiero commented on #18774
Hi @Juliehzl ,
My script is:

$prefix = "lynxpilota1"
$RG = "RG_DataFactory"
#--------------------------------------------------------------------
$suffix = Get-Date -Format "yyyyMMdd"
cls
$AzCred = Get-Credential -UserName "amedeo.gautiero......." -Message "Azure Login"
az login -u $AzCred.UserName -p $AzCred.GetNetworkCredential().Password --tenant "...."
az account set --subscription "Sottoscri

[2021-07-09 15:26] yonzhan commented on #18797
route to service team

[2021-07-09 16:38] olayemio commented on #14584
@zhoxing-ms Yes, all these features are supported in the [REST API](https://docs.microsoft.com/en-us/rest/api/compute/images/create-or-update#imagedatadisk). Customers are only able to specify all three settings if they use disks, snapshots or blobs to create the image. For customers that use VMs to create their image, the settings have to be applied to the disks on the VM before the image capture

[2021-07-09 17:29] seligj95 commented on #14821
this is complete

[2021-07-09 17:29] #14821 closed

[2021-07-09 17:59] seligj95 commented on #15596
closing, was unable to reproduce. az webapp config set works successfully. was able to create/add files after updating php version.

[2021-07-09 17:59] #15596 closed

[2021-07-09 18:03] seligj95 commented on #14427
reproduced. will add to backlog for new remote-connection command

[2021-07-09 18:08] seligj95 commented on #14183
unable to reproduce, please upgrade to the latest cli version

[2021-07-09 18:08] #14183 closed

[2021-07-09 18:43] apwestgarth commented on #18797
This is something we are tracking and working on resolution.  However for now our guidance is to use an earlier version of Azure CLI i.e. 2.25, 2.24.  We are updating documentation to reflect this limitation at this time.

[2021-07-09 18:45] himtechrepo opened #18798 "az command line giving error for group create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --location={} --name={} --tags {}`

## Expected Behavior

[2021-07-09 19:52] benafischer94 opened #18799 "ModuleNotFoundError: 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2021-07-09 19:56] benafischer94 commented on #18799
Related to outdated package in universe repository. Following instructions from: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt resolves.

[2021-07-09 19:56] #18799 closed

[2021-07-09 21:20] veleek commented on #15056
@jiasli - Appreciate the response, but is this something that has changed in the 10 months since the ticket was created?  I'm not sure that this is a support request vs. a change to the CLI to allow it?  Honestly, I've forgotten what the actual problem is since I created the ticket so I'm not positive. :)

[2021-07-09 23:01] amedeogautiero commented on #18774
Hi, I have a new.
If I execute che command az datafactory create.... from powershell it never end, but if I execute it from CMD it shows the message : "The command requires the extension datafactory. Do you want to install it now? The command will continue to run after the extension is installed. (Y/n):". So, after pressing Y it install the extension and then it works in CMD and also in powershell

[2021-07-10 00:25] banibrata commented on #18702
I know it is little frustrating to figure out the full YAML, good news is we  are working on the documentation. In the meantime here is a sample which has all the fields that and **workspace create** can take from file input (-f option), hope it helps:

name: full_workspace_name
location: EastUS
friendly_name: for_fun
description: some desc
storage_account: /subscriptions/SUBID/resourceGroups/RG_N

[2021-07-10 00:58] BillyONeal opened #18800 "There is no documentation on how to un-`--defer` objects"
The documentation for `az network` and a few other commands support a `--defer` parameter, which presumably is used to make it easier to form lists of things that would otherwise be awkward from a command line interface. Unfortunately, while there is documentation for `--defer` in the individual commands saying that they get put in the cache, and documentation for `az cache` which lets you list th

[2021-07-10 01:11] yonzhan commented on #18798
ARM

[2021-07-10 01:14] yonzhan commented on #18800
network

[2021-07-10 01:37] zhoxing-ms commented on #14584
@olayemio  OK, I see. Thank you for the example. We will arrange development for this requirement~

[2021-07-10 08:54] sxunix opened #18801 "Cannot start `az aks install-cli`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-07-10 15:28] bryn1u opened #18804 "az provider list - No module named 'azure.mgmt.resource.resources."
Ubuntu - 21.04
Python - 3.9.5
azure-cli - 2.18.0 *

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az provider list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az provider list`

[2021-07-10 18:39] simedbn opened #18805 "Error while enabling HTTPS on front-door frontend-endpoint"
Hello,

when i run this command (V 2.14.0) :

**az network front-door frontend-endpoint enable-https `
            --front-door-name 'simed' `
            --name 'frontendEndpoint2' `
            --resource-group 'simed-api' `
            --certificate-source AzureKeyVault `
            --minimum-tls-version '1.2' `
            --secret-name 'wildcard-simed' `
            --vault-id '/subscription

[2021-07-10 23:37] yonzhan commented on #18801
route to service team

[2021-07-10 23:38] yonzhan commented on #18804
resource

[2021-07-10 23:40] yonzhan commented on #18805
route to service team

[2021-07-11 05:37] #18715 closed

[2021-07-11 06:31] rmourya1 commented on #18626
Hi, I am setting same error while setting up the pipeline in Azure DevOps with the following libraries:

      pip install --upgrade azureml-sdk pandas
      pip install --upgrade azure-cli
      pip install azureml-train-automl-runtime==1.31.0

The error occurs when I try to install azureml-train-automl-runtime and then authenticate using azure cli. It used to work a couple of months ago, precise

[2021-07-11 08:03] HansK-p opened #18806 "Ubuntu az acr build doesn't work after azure-cli upgrade to 2.26.0-1~focal (which is probably what triggerede the problem)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --subscription {} --platform {} --image {} --fil

[2021-07-11 10:46] nelsonmorais commented on #18184
Any update?

[2021-07-11 15:58] codycodes commented on #18790
If you're on Windows, you can most likely just install the earlier [release](https://github.com/Azure/azure-cli/releases)

For those like me who are using WSL or other *nix-based OS and are using `apt` as your package manager, here are the steps I took to downgrade:

[code]

More info: [How to Install Specific Version of Package using apt-get (linoxide.com)](https://linoxide.com/install-specific-v

[2021-07-11 15:59] codycodes commented on #18796
I'm sure this will be resolved soon, but if you need to workaround the issue here are the steps I took:

If you're on Windows, you can most likely just install the earlier [release](https://github.com/Azure/azure-cli/releases)

For those like me who are using WSL or other *nix-based OS and are using `apt` as your package manager, here are the steps I took to downgrade:

[code]

More info: [How to

[2021-07-11 15:59] codycodes commented on #18806
I'm sure this will be resolved soon, but if you need to workaround the issue here are the steps I took:

If you're on Windows, you can most likely just install the earlier [release](https://github.com/Azure/azure-cli/releases)

For those like me who are using WSL or other *nix-based OS and are using `apt` as your package manager, here are the steps I took to downgrade:

[code]

More info: [How to

[2021-07-11 23:56] yonzhan commented on #18806
route to service team

[2021-07-12 01:10] sjwaight opened #18807 "Web App - Multiple issues."
1. Cannot navigate intra-page to command "az webapp create" from the main list of commands. "In this article" link works fine though.

2. The Java samples for 'az webapp create' is incorrectly formatted

az webapp create -g MyResourceGroup -p MyPlan -n MyUniqueAppName --runtime "java|11|Java SE|8"

az webapp create -g MyResourceGroup -p MyPlan -n MyUniqueAppName --runtime "java:11:Java SE:8"

has

[2021-07-12 02:03] InteliCare opened #18808 "az cli funcapp slot auto swap configuration issue"
## Describe the bug

az cli throws error trying to setup auto slot swap for a functionapp

**Command Name**
`az functionapp deployment slot auto-swap -s staging -g rgname -n appname`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- `az functionapp deployment slot auto-swap -s staging -g

[2021-07-12 02:07] sjwaight opened #18809 "MongoDB IDX sample doesn't parse at CLI"
The sample given for defining an index at the CLI is this document section:

Indexes, you can enter it as a string or as a file, e.g., --idx @indexes-file.json or --idx "[{"key": {"keys": ["_ts"]},"options": {"expireAfterSeconds": 1000}}, {"key": {"keys": ["user_id", "user_address"]}, "options": {"unique": "true"}}]".

doesn't parse at the CLI and the double quotes should be replaced with single q

[2021-07-12 02:10] amjads1 commented on #18278
Looking into the issue.

[2021-07-12 02:11] jiasli commented on #15056
@veleek, `az account get-access-token` is only a **generic** command which retrieves an access token with [silent authentication](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#refresh-the-access-token) using Azure CLI's first-party client ID:

https://github.com/Azure/azure-cli/blob/37b16e95907f6a24e9fd3d829d3ff0e027bfe724/src/azure-cli-core/azure/cli/cor

[2021-07-12 02:54] yonzhan commented on #18807
route to service team

[2021-07-12 03:06] yonzhan commented on #18808
route to service team

[2021-07-12 03:07] yonzhan commented on #18809
route to service team

[2021-07-12 03:16] #18767 closed

[2021-07-12 04:12] monojit18 commented on #18797
@apwestgrath:
Thanks for the suggestion
I could finally downgrade the CLI version to 2.25.0 using _pip3 install azure-cli==2.25.0_ as Ia m on Mac and HomeBrew did not allow me to install the older versions!

The _az appservice kube_ commands started working but I noticed one peculiar thing -
_az connectedk8s_ set of commands started failing!

So, that kind of puts me in a spot where a set of comma

[2021-07-12 04:21] garzontaleroj opened #18812 "az acr build from gitlabrunner"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --file {} --registry {} --image {} {}`

## Expected Behavior

[2021-07-12 04:23] Juliehzl commented on #18264
Hi @jonathancisneros, you need to enable secure transfer with `az storage account update -n xxxx --https-only`.
I have tested the network rule add scenario and it works to me.

[2021-07-12 04:24] justorodriguezrondon opened #18813 "az acr build --registry {} --resource-group {} --image {} {}"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --resource-group {} --image {} {}`

## Expected

[2021-07-12 05:02] Juliehzl commented on #18292
The change is service design and client tool cannot change it as you can see the portal also changes

[2021-07-12 05:19] yonzhan commented on #18812
route to service team

[2021-07-12 05:20] yonzhan commented on #18813
route to service team

[2021-07-12 05:40] Juliehzl commented on #18444
Hi @EinsteinUnicorn, you need to specify admin password as required:
- The password length must be between 12 and 72.
- Password must have the 3 of the following: 1 lower case character, 1 upper case character, 1 number and 1 special character.

[2021-07-12 05:41] kairu-ms commented on #18558
@lazarillo, it's by design for all of the delete commands of AzureCLI. I think you can use `az network nsg show` command to detect the resource is exist or not. BTW for command group you could also use `az group show` to check command group.

[2021-07-12 05:45] Juliehzl commented on #18769
Yes, especially when you customize python sdk. Azure CLI has hard python SDK version requirement to make sure all features supported. As I mentioned before, in current azure cli, you need to have `azure-mgmt-storage>=18.0.0`

[2021-07-12 05:46] Juliehzl commented on #18447
dupe of https://github.com/Azure/azure-cli/issues/18769

[2021-07-12 05:47] Juliehzl commented on #18447
please make sure you azure-mgmt-storage >= 18.0.0

[2021-07-12 06:15] gro1m commented on #18769
@Juliehzl It is not only about customization. Basically, it boils down to that
`pip install azureml-core==1.32.0`
and
`pip install azure-cli==2.24.2`
use different package versions and leads to package version requirements conflicts. One should be able to use Azure ML SDK and Azure CLI alongside each other. This does only work well if both support the same versions of azure packages.

[2021-07-12 06:26] Juliehzl commented on #18541
Hi @gskprasad1, may I know which cloud you are trying to access?
`az cloud show` could provide related information.

[2021-07-12 07:08] zhoxing-ms commented on #18355
@durayakar In fact, the parameter `--disk-encryption-set` can support passing in ID type. The reason for this error may be that the resource you passed in does not exist, could you confirm if the resource exists?
If this resource exists, please add parameter `--debug` to this command and rerun it, and then send the printed information to me by email. My email address is Zhou.Xing@microsoft.com, th

[2021-07-12 07:21] Juliehzl commented on #18488
Supported in https://github.com/Azure/azure-cli/pull/18170. Please check your azure cli version and make sure it >=2.25.0. To upgrade azure cli,  you could download manually according to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli or use `az upgrade` for automatically upgrade.

[2021-07-12 07:21] #18488 closed

[2021-07-12 07:22] sgarshol commented on #8583
It still seems like a weird thing not to include. To be fair, `az acr logout` as envisioned would be a wrapper too.

[2021-07-12 07:30] Juliehzl commented on #18316
@mongiahammouda  could you show me full debug information? I cannot repro you issue locally.

[2021-07-12 08:01] pomberer opened #18815 "az interactive progress_patch() got an unexpected keyword argument 'det'"
## Describe the bug

**Command Name**
`az interactive`
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
az>> Error loading command module 'iot': progress_patch() got an unexpected keyword argument 'det'
Error loading command module 'network': progress_patch() got an unexpected keyword argument 'det'
     Error loading command module 'reso

[2021-07-12 08:56] yonzhan commented on #18815
interactive

[2021-07-12 09:18] zhoxing-ms commented on #18341
@carolga Hi, may I ask what is the specific scenario that this example wants to explain?

[2021-07-12 09:24] glaubitz commented on #15496
I think that was fixed here: https://github.com/Azure/azure-cli/commit/4a5d74215d5d1566f839c2d11fd360d300f56b62

`azure-cli` depends on `azure-mgmt-resource` 18.0.0 now. So this issue can be closed.

[2021-07-12 11:13] Svessir commented on #17759
Any update?

[2021-07-12 11:40] yonzhan commented on #17759
@detienne20

[2021-07-12 11:59] pkazi opened #18817 "'NoneType' object is not callable"
**Describe the bug**
When run `az storage blob copy start`, from one account to other account, it fails with error - `'NoneType' object is not callable`

**To Reproduce**
Run
[code]
It works fine on 2.23.0
Could be caused by https://github.com/Azure/azure-cli/pull/18170 ?

**Expected behavior**
- Blob copy operation should be started.

**Environment summary**
Azure-cli on Centos 7 -
[code]

**Addi

[2021-07-12 13:51] #15496 closed

[2021-07-12 14:09] tyeth opened #18818 "general syntax bug / broken function functionality"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Following this guide,
https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/user?view=azure-cli-latest#az_functionapp_deployment_user_show
I was trying to explore why my deployments weren't behaving as expected. I get a spurious error.

**Command Name**
`az functionapp deployment user show`

**Error

[2021-07-12 14:46] alsastre opened #18819 "'postgres server ad-admin create' fails with display-name and object-id"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az postgres server ad-admin create` fails when specifying the display-name and also when specifying the object-id

**Command Name**
`az postgres server ad-admin create`

**Errors:**
[code]
Logs in debug (with relevant ids `<OMMITED>`)
[code]
## To Reproduce:
Steps to reproduce the behaviour. Note that argument

[2021-07-12 14:56] yonzhan commented on #18817
storage

[2021-07-12 14:57] yonzhan commented on #18818
route to service team

[2021-07-12 14:58] yonzhan commented on #18819
route to service team

[2021-07-12 15:02] moredhel commented on #16197
This issue has been resolved 👍

[2021-07-12 15:02] #16197 closed

[2021-07-12 15:56] eseyden opened #18820 "WebApp:az webapp config appsettings fails when using az-cli docker container alias"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I used this alias to provide the az environment
alias az='docker run -it --entrypoint /usr/local/bin/az -v /Users/eseyden/.azure:/root/.azure -v /Users/eseyden/.ssh:/root/.ssh mcr.microsoft.com/azure-cli'

Oddly enough this does not happen when using the bash terminal the container provides or system installed

[2021-07-12 18:00] Niteesh commented on #18707
In the above PR I do not see changes for new ciphers ( "GcmAesXpn128", "GcmAesXpn256"), will these be automatically picked up from the swagger?

[2021-07-12 22:53] kairu-ms commented on #18707
Yes. They are automatically picked from the end value in python SDK.

[2021-07-12 23:01] n9839950 commented on #18428
the issue is closed due to no support provided

[2021-07-12 23:25] amir4zh opened #18822 "Bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-07-12 23:26] amir4zh opened #18823 "🚀Feature"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-12 23:26] amir4zh opened #18824 "Service"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-07-12 23:27] yonzhan commented on #18820
route to service team

[2021-07-12 23:28] #18822 closed

[2021-07-12 23:28] #18823 closed

[2021-07-12 23:28] #18824 closed

[2021-07-13 02:14] rahulrai-in opened #18827 "Issue in creating an Azure Data Explorer cluster with AZ CLI"
**Describe the bug**

Executing the following command returns an error:

[code]

Error:

[code]

**Expected behavior**

Kusto cluster should be created with no identity set up.

**Environment summary**

OS: Windows 10
AZ CLI version:

[code]

[2021-07-13 02:19] yonzhan commented on #18827
route to service team

[2021-07-13 02:27] Juliehzl commented on #18413
Hi @akshayjshah, you need to configure your cloud first. Azure CLI only provides public and gov cloud information. To configure your cloud,  there are two ways:
- `az cloud register` to register your Azure Stack could  and add cloud endpoints information
- If you have a url with cloud information, you could set env variable ARM_CLOUD_METADATA_URL and we would also retrieve cloud information from t

[2021-07-13 02:40] Juliehzl commented on #18415
Hi @yellowhat, I have tried you scenario and I cannot reproduce your issue.
The network access rule will take effect until you remove it from your storage account.
You could check if the ip rule is added successfully with `az storage account network-rule list`.

[2021-07-13 02:46] Juliehzl commented on #18422
The default value is server side default value instead of Azure CLI. Azure CLI just hornors rest API and server as you can see below:
https://github.com/Azure/azure-rest-api-specs/blob/2a8a9a79b23c72c6092d5b1212acf6d69b1b3850/specification/storage/resource-manager/Microsoft.Storage/stable/2021-04-01/storage.json#L2570

Add @fhryo-msft for suggestion.

[2021-07-13 02:51] Juliehzl commented on #18817
Fix in https://github.com/Azure/azure-cli/pull/18730

[2021-07-13 03:00] Juliehzl commented on #18539
The fix will be available in a hotfix version 2.25.1.
After upgrade, you do not need to generate sas by yourself. It is just a workaround.

[2021-07-13 03:13] codyseavey opened #18828 "Wrong api version used for enabling atp with the azure-cli on a storage account in China tenant"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Wrong api version used for enabling atp with the azure-cli on a storage account in China tenant.

**Command Name**
`az security atp storage update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- L

[2021-07-13 03:15] doggy8088 opened #18829 "--detect parameter needs an explanation"
What's the meaning of the **`--detect` : Automatically detect organization.**? Detect what organization if I already assigned `--org` parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aab2fe90-f88d-c86a-5b6e-6279e16c55e0
* Version Independent ID: fb392ab5-bee0-c717-ed31-6b7902d46296
* Content: [az devops user](

[2021-07-13 03:27] shawnxzq commented on #18774
@Juliehzl For this CLI issues, looks like service team (ADF) can't do anything at moment, please let us know if we find anything we can help, or please remove the service attention tag first, thanks!

[2021-07-13 03:29] shawnxzq commented on #18402
@Juliehzl Please let us know what service team can do with this, thanks!

[2021-07-13 03:50] Juliehzl commented on #18379
Hi @Atraback, for the first issue you mentioned when you do not specify --num-results and you have 150 thousands blobs, you see all blobs returned. Could you show me you debug information with `--debug` in your command? I cannot see the issue in my test.

For the second issue you mentioned, MemoryError should be caused by your machine. Here is some information from StackOverflow: https://stackover

[2021-07-13 03:53] zhoxing-ms commented on #17092
@rzlrogerio Hi, please upgrade CLI to the latest version *(you can upgrade it by running `az upgrade`)* and try again.
If this issue still can be reproduced, please feel free to let me know~

[2021-07-13 03:55] Juliehzl commented on #18646
@tanadate-rungsripattanaporn you could get the ssh key value and specify --ssh-key-values

[2021-07-13 03:59] Juliehzl commented on #18674
Hi @garimakhulbe02, please see `az sig image-version create`

[2021-07-13 03:59] zhoxing-ms commented on #16878
The time consumption of `az deployment` command on the client side is short, and the main time consumption is to poll the deployment results provided by the service. Therefore, this issue needs the help of service team to investigate

[2021-07-13 04:09] Juliehzl commented on #18684
Hi @guy93r, thanks for the feedback.
As you mentioned, python SDK cannot return the response with tier, which means its server side behavior.
Could you provide debug information  with `--debug` in command, which could also help server side figure out?

[2021-07-13 04:19] yonzhan commented on #18828
route to service team

[2021-07-13 04:20] yonzhan commented on #18829
route to service team

[2021-07-13 05:48] #13752 closed

[2021-07-13 05:59] Juliehzl commented on #18685
@drewmullen As there is re-org in our team. I am new for the work item. Could you share more information about how you get the error including the commands you use and the document link for subscription status?
Here is a link I found https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage.

[2021-07-13 06:22] jiasli commented on #18815
Duplicate of #17740

[2021-07-13 06:22] #18815 closed

[2021-07-13 07:04] yellowhat commented on #18415
Dear @Juliehzl,
I have just tried with the provided code in the first post and gave me the same error. (`az version` 2.26.0).
As you suggested a `az storage account network-rule list` just after the creation did the trick (maybe forced a refresh?)

Thanks

[2021-07-13 07:08] evelyn-ys commented on #16923
@zezha-msft Could you help take a look?

[2021-07-13 07:14] bartsmykla opened #18832 "az acr run failing with 'NoneType' object is not callable"
## Describe the bug

Our CICD pipeline is failing in a step to clean ACR repositories:

[code]

**Command Name**
`az acr run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr run --cmd {} --registry {} {}`

## Expected Behavior

## Enviro

[2021-07-13 07:48] evelyn-ys commented on #17819
Hi @realrubberduckdev, `az storage blob move` is in `storage-preview` extension. You need to install extension first. In addition, this command has been deprecated, you can use `az storage fs file move` instead.
![image](https://user-images.githubusercontent.com/10227683/125412686-b6e4bf00-e3f1-11eb-9c04-804ec9adcef0.png)

[2021-07-13 07:48] #17819 closed

[2021-07-13 07:54] #17231 closed

[2021-07-13 07:54] #17532 closed

[2021-07-13 07:54] #16207 closed

[2021-07-13 07:54] #17230 closed

[2021-07-13 07:58] #18817 closed

[2021-07-13 08:00] evelyn-ys commented on #17827
Hi @Morriz, when not metioned, the default value is `None`.

[2021-07-13 08:00] #17827 closed

[2021-07-13 08:16] blueww opened #18833 "Support Storage Table Oauth"
**Resource Provider**

dataplane

**Description of Feature or Work Requested**

Per Walmart and JEDI ask, storage team has finished storage table OAuth implementation on server side.
Please help to support Oaut authentication for table in CLI.

**Minimum API Version Required**

Python SDK 12.1.0 has been released to support table Oauth.

**Swagger Link**

**Target Date**

TBD

[2021-07-13 08:16] astauben commented on #18827
Hi @rahulrai-in

This is a known issue that we are working on fixing.
Until we fix the issue, please add '--type= "None"' to your command, that should unblock you from creating the cluster.

Thanks,
Assaf.

[2021-07-13 08:20] jafetrgl opened #18834 "acr build failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --subscription {} -r {} -t {} -f {} --platform {} {}`

## Expe

[2021-07-13 08:58] evelyn-ys commented on #17868
Need storage data-plane SDK triage

[2021-07-13 09:04] Atraback commented on #18379
Hello, I've just retested it locally using the following powershell:

`az storage blob list --account-name $accountName --connection-string $cs --container-name $containerName --show-next-marker --num-results 4500 --include m --query """length(@)"""`

This gives me 16242 items

If I remove the `--include m` option like so:

`az storage blob list --account-name $accountName --connection-string $cs

[2021-07-13 09:12] yonzhan commented on #18832
route to service team

[2021-07-13 09:14] evelyn-ys commented on #17914
Not sure if 'Keyvault policy recoverable' has been enabled for MHSM. Need service team to confirm.

[2021-07-13 09:15] yonzhan commented on #18833
Storage

[2021-07-13 09:16] yonzhan commented on #18834
route to service team

[2021-07-13 10:00] jiasli commented on #18764
This issue has been resolved - the link of `az ml endpoint create` now correctly redirects to https://docs.microsoft.com/en-us/cli/azure/ml/endpoint?view=azure-cli-latest#az_ml_endpoint_create

[2021-07-13 10:00] #18764 closed

[2021-07-13 12:56] paddycarey opened #18836 "AKE Get-Credentials doesn't handle KUBECONFIG with multiple files"
**Describe the bug**

When a user's `KUBECONFIG` environment variable contains more than one file, then `az aks get-credentials...` mistakenly treats the value as a single path.

As per [the official documentation](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable) this colon-delimited format is explicitly supported on Mac and

[2021-07-13 13:18] AvRajath commented on #18780
Any update on this?

[2021-07-13 13:20] yonzhan commented on #18836
route to service team

[2021-07-13 14:06] brentmcconnell opened #18838 "ssl-profile --trusted-client-cert not working as expected"
I am trying to use az network application-gateway ssl-profile with --trusted-client-cert but only get "(InvalidRequestFormat) Cannot parse the request" whenever I include this option.  I have tried using cert names that have already been uploaded.  I also tried using the ids of those certs.  I have tried it using [] array syntax and I have tried without separated by commas.  I am using MacOS 11.4

[2021-07-13 14:07] dosmanak commented on #18834
The issue has been introduced in 2.26.0. Version 2.25.0 is working properly.

[2021-07-13 14:30] augustjoergensen commented on #18834
This problem is pretty critical since many CI solutions is setup to use the newest version, like on circleci we use circleci/azure-cli@1.2.0

This will automatically use the newest version and thereby all our build automation does not work. The only solution is that we create a private orb that uses a specific version.

[2021-07-13 14:41] zhoxing-ms commented on #18780
@AvRajath  Hi, thank you for your information. I found out from the debug log that this is a issue for network interfaces exceeding the limit

Therefore, you may need to consider adjusting the number of network interfaces to 1 or increasing the size of virtual machine.

[2021-07-13 14:53] budisrikanth opened #18839 "AKS planned maintenance preview feature error"
**Describe the bug**
create_or_update() missing 1 required positional argument: 'parameters' , while trying to setup a maintenance window on AKS cluster

**az aks maintenanceconfiguration add -g <my-rg>--cluster-name <my-test-cluster> -n default --weekday Wednesday --start-hour 1**
The command failed with an unexpected error. Here is the traceback:
create_or_update() missing 1 required positional

[2021-07-13 14:55] yonzhan commented on #18838
network

[2021-07-13 14:59] yonzhan commented on #18839
route to service team

[2021-07-13 15:32] bmkaiser opened #18840 "Publish SHA2 or MD5 File Hashes with Each Release"
**Is your feature request related to a problem? Please describe.**

I don't believe the SHA2 hashes of releases are published anywhere that can be easily accessed outside of package managers. I know that @azclibot already updates the SHA2 hashes in the Homebrew formula for Azure CLI (see commit Homebrew/homebrew-core@bff9f4f96b6013c75a7c28b1e2a9c4b8ccd9cb82). Without publishing these somewhere, it

[2021-07-13 15:40] Kotasudhakarreddy commented on #18820
looking in to it.

[2021-07-13 15:44] anatter commented on #17000
Having the same issue in bitbucket pipelines. Using the default Bitbucket Pipelines Pipe - Azure Functions Deploy

[code]

[2021-07-13 16:12] abelal83 commented on #18478
I've had to do this in Azure DevOps to get it working

[code]

Personally I prefer this anyway as it keeps my CI/CD process more predicatable.

[2021-07-13 16:14] AliJP opened #18841 "'NoneType' object is not callable when `az acr build`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az acr build` was working fine with our project, but since today morning, I am getting below error.

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- I am building a

[2021-07-13 16:26] hjkumar opened #18842 "New feature support request for CLI extension"
**Resource Provider**

Microsoft.Compute

**Description of Feature or Work Requested**

We have implemented the backend coding and deployment for several new features. Will it be possible to support these features for CLI extension after the VM deployment is done?

There are totally 3 new features:
1.	Gallery image architecture

CLI change:
az sig image-definition create --gallery-image-definition

[2021-07-13 16:55] roipmsft opened #18844 "RestorePoints"
Compute Resource Provider
Description of Feature or Work Requested
Restore Points api was recently released in 2021-03-1 Compute Swagger

https://docs.microsoft.com/en-us/rest/api/compute/restore-points

https://docs.microsoft.com/en-us/rest/api/compute/restore-point-collections

2021-03-01 Swagger
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Mic

[2021-07-13 17:04] MarkAtAgilliance opened #18845 "appconfig kv export useful undocumented parameter behavior (--label)."
[Enter feedback here]
For the [export](https://docs.microsoft.com/en-us/cli/azure/appconfig/kv?view=azure-cli-latest#az_appconfig_kv_export)
I think this section should point out that on export, the **--label** can accept '--label \0,myLabel' which will bring back both the myLabel taged entries and those without a tag.  This is important for combining defaults (null label) and a specific label.

H

[2021-07-13 17:35] yuva2g opened #18846 "API Management exercise failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-07-13 17:43] sunnyhay opened #18847 "YAML file details about creating a new AML workspace"
Hello,

  Please share more details about how to create a new AML workspace using YAML configuration. Samples will be highly appreciated. Current AML documentation does not have such sample/YAML configuration details.
  Thanks,

Harry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63446f78-d3ac-0cc3-a102-a1612c54d90e
*

[2021-07-13 18:13] ncoder commented on #18834
I'm stuck on this, unable to deploy.
using github actions.

[code]

[2021-07-13 18:18] #18842 closed

[2021-07-13 18:34] tomwarner13 commented on #8114
This seems like an obvious feature which has several useful applications -- for example, if credentials accidentally got entered into the wrong field where they are available to users who should not have access to them. Right now, the only workaround is to delete the entire secret (all versions) and then recreate it. I agree that the Azure team should provide a specific explanation for why they re

[2021-07-13 18:36] ncoder commented on #18834
If anyone else finds this and is looking for a quick fix, and is using acr-task-github-action (or something similar), this fix will lock the azure-cli version:

https://github.com/ncoder/acr-task-github-action/commit/c4fb980cee217269d100bbf116244d0f943f080a

[2021-07-13 19:03] sashahdo commented on #7775
Closing this incident since it over 2.5 years old. Feel free to reopen this ticket or create a new one if the issue can still be reproduced.

[2021-07-13 19:03] #7775 closed

[2021-07-13 19:05] sashahdo commented on #11548
Closing this issue since there's been no response in over 7 months

[2021-07-13 19:05] #11548 closed

[2021-07-13 20:14] ndrmnl commented on #18841
Same problem here. Python 3.9.1, Windows 10.0.19043, azure-cli 2.26.0. Exact same error message as shown above.

Seems related to https://github.com/Azure/azure-cli/commit/a8abfbbffe6b3f5d45f6821dabe060871bd1db25?branch=a8abfbbffe6b3f5d45f6821dabe060871bd1db25&diff=unified#diff-0f3568ab838e8abfa5fd9ff9c4e886aa58b3e0d969968a166268ef29e51c6733L100, is that already in `release`? It was updated 13h ag

[2021-07-13 20:23] hjkumar opened #18848 "CLI Extension support - add new features to SIG Gallery and Gallery Image"
**Resource Provider**
Azure.Compute

**Description of Feature or Work Requested**
1) Add a feature named "architecture" under the image-definition object in Shared Image Gallery.
Image definition CLI docs: https://docs.microsoft.com/en-us/cli/azure/sig/image-definition?view=azure-cli-latest
**CLI change:**
az sig image-definition create --gallery-image-definition
                               --g

[2021-07-13 20:36] brentmcconnell commented on #18838
I was able to figure out that it takes cert ids in double quotes separated by spaces.  FYI, in my case each id had to have quotes around it.

[2021-07-13 20:36] #18838 closed

[2021-07-13 21:57] dmitry-sosnitskiy-zip commented on #18470
Is there any update on this? Not sure why this is labelled as feature request. This seems very much like a bug: the exact same command used to be working fine for me in the past, but at some point it just started producing this cryptic error.

[2021-07-13 22:41] yonzhan commented on #18840
@jiasli for awareness

[2021-07-13 22:45] yonzhan commented on #18844
RestorePoints

[2021-07-13 22:46] yonzhan commented on #18845
route to service team

[2021-07-13 23:00] yonzhan commented on #18846
route to service team

[2021-07-14 00:30] hjkumar opened #18851 "CLI extension support - add ReplicationMode to SIG gallery image version"
**Resource Provider**
Azure.Compute

**Description of Feature or Work Requested**

Add a feature named "replication mode" under the image-definition object in Shared Image Gallery.

The backend changes and ARM manifest changes for this feature are currently being rolled out.

Image version CLI docs: https://docs.microsoft.com/en-us/cli/azure/sig/image-version?view=azure-cli-latest

CLI change:
az

[2021-07-14 01:47] jiasli commented on #18775
The migration to Microsoft Graph is being tracked at https://github.com/Azure/azure-cli/issues/12946.

[2021-07-14 01:47] #18775 closed

[2021-07-14 01:58] zhoxing-ms commented on #18834
@00Kai0 Could you please take a look at this issue?

[2021-07-14 02:08] jiasli commented on #7387
The size of Azure CLI is due to the hugeness of underlying Azure Python SDKs (https://github.com/Azure/azure-sdk-for-python/issues/11149). If you install from `pip` or official packages, you will install all underlying Python SDKs that include all API versions, even though most of them are historical versions and unnecessary.

There was indeed an attempt to remove unnecessary API versions (#17816)

[2021-07-14 02:43] jiasli commented on #18781
We have opened issue https://github.com/Azure/CloudShell/issues/106 on Cloud Shell side.

[2021-07-14 02:46] FumingZhang opened #18854 "Potential conflict in `generating_ssh_keys` provided by azure-cli-core"
**Describe the bug**

When performing concurrent tests recently, we found that the [`generate_ssh_keys`](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/keys.py#L37) function provided by the cli core has potential concurrency conflicts.

In the existing implementation, when multiple processes try to create an ssh key, process *A* may have created a file but has not ye

[2021-07-14 02:49] TheOnlyWei opened #18855 "BadRequest: Could not find member 'orchestrationMode' on object of type 'Properties'"
**Describe the bug**

While running tests on an Azure Stack environment using 2019-03-01-hybrid API profile, I discovered the bad request error below.

Bad request:
"Could not find member 'orchestrationMode' on object of type 'Properties'. Path 'properties.orchestrationMode'

A little more context:
ERROR: az_command_data_logger: {"status":"Failed","error":{"code":"DeploymentFailed","message":"At l

[2021-07-14 03:29] #18352 closed

[2021-07-14 04:23] yonzhan commented on #18847
route to service team

[2021-07-14 04:27] yonzhan commented on #18841
route to service team

[2021-07-14 04:29] yonzhan commented on #18848
Compute

[2021-07-14 04:34] yonzhan commented on #18851
Compute

[2021-07-14 04:38] yonzhan commented on #18855
Compute

[2021-07-14 04:39] yonzhan commented on #18854
@jiasli for awareness

[2021-07-14 04:41] pavneeta opened #18857 "Unable to Complete AR build : 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --resource-group {} --registry {} --image {} {}`

## Expected

[2021-07-14 04:43] yonzhan commented on #18857
route to service team

[2021-07-14 04:53] daniel347x commented on #18857
I am also having this problem - Ugh - I cannot build my Docker containers...

[2021-07-14 04:55] daniel347x commented on #18841
Same problem for me... This has been working for years, and suddenly I can't build my container...

[2021-07-14 04:57] daniel347x commented on #18832
Same issue as https://github.com/Azure/azure-cli/issues/18857 and https://github.com/Azure/azure-cli/issues/18841...
I too am experiencing this ...

[2021-07-14 05:23] daniel347x commented on #18832
Solution for anyone reading this: just don't use the Azure Portal cloud shell for the time being to perform the ACR builds. Install the Azure CLI into some other Linux system, log in, and issue the ACR commands from there.

[2021-07-14 05:46] jiasli commented on #18626
As [`azureml-train-automl-runtime`](https://pypi.org/project/azureml-train-automl-runtime/) requires `Python >=3.6, <3.8`, I tried to install `azureml-train-automl-runtime` in a Python 3.7 virtual env. Then I run [`pipdeptree`](https://pypi.org/project/pipdeptree/) to find the dependency on `azure-mgmt-resource`:

[code]

This indicates a conflicting dependency:

- `azureml-core==1.31.0` requires

[2021-07-14 06:45] imran-asif-sse-outlook opened #18858 "Lab 05: Creating a VM by CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-14 07:09] zhoxing-ms commented on #18834
This issue is fixed by https://github.com/Azure/azure-cli/pull/18853 , @00Kai0 please help to confirm it~

[2021-07-14 07:25] zhoxing-ms commented on #18470
@dmitry-sosnitskiy-zip Could you please add parameter `--debug` to the executed command and rerun it, then send the printed debug information to me? My email address is Zhou.Xing@microsoft.com, thanks~

[2021-07-14 07:59] amjads1 commented on #18278
Looking into the issue.

[2021-07-14 08:03] amjads1 commented on #18418
@prepetti65 - Can you please share the document you are referring to when using the above command? Also, which specific section you are referring to for this statement: _"Might be something with the 'and'?"_

[2021-07-14 08:15] obeyda opened #18860 "az acr run: 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `PURGE_CMD="acr purge --ago 0d --untagged --dry-run --filter 'repository:.*'"`
- `az acr run --cmd "$PURGE_CMD" --regi

[2021-07-14 08:18] jafetrgl commented on #18834
Yes, is fixed.

Thanks!

Jafet Rodríguez
CanaryTek Consultoria y Sistemas SL
tel: 828 08 35 20
e-mail: ***@***.***

________________________________
From: Xing Zhou ***@***.***>
Sent: Wednesday, July 14, 2021 8:09 AM
To: Azure/azure-cli ***@***.***>
Cc: Jafet Rodríguez ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cli] acr build failure (#18834)

This issue is fixed by #18853<https:/

[2021-07-14 08:51] yonzhan commented on #18858
route to service team

[2021-07-14 08:54] yonzhan commented on #18860
route to service team

[2021-07-14 09:12] rdenchev commented on #17137
We are experiencing a similar issue. We have created an Azure Container Registry with a Private Endpoint. The public access is denied.

Login to ACR with `az acr login -n tftest4acr` fails with the following error:

`Unable to get AAD authorization tokens with message: An error occurred: CONNECTIVITY_REFRESH_TOKEN_ERROR
Access to registry 'tftest4acr.azurecr.io' was denied. Response code: 403. Ple

[2021-07-14 09:31] kfkonrad commented on #10642
Please consider reopening the issue.

[2021-07-14 09:35] zhoxing-ms commented on #16982
@hetii Hi, in fact, the command `az resource update` queries the existing attributes of the target resource through `GET` request, adds the change of `--set` parameter, and finally updates the resource through `PUT` request. So I assume this is because the `GET` request of the service does not return this property. Could you please add parameter `--debug` to the executed command and rerun it, then

[2021-07-14 11:21] anatter commented on #11980
Having the same issue wit status code 400.

[code]

[2021-07-14 11:33] chrisgleissner commented on #18860
We are experiencing the same issue, starting today. Would appreciate if this could be resolved since it prevents our Docker registry from being cleaned. Thanks.

[2021-07-14 12:40] johnynfulleffect commented on #18860
Same issue here.  Was coming to github to report a new issue.  started last night for me, around 4PM EDT.

[2021-07-14 13:02] johnynfulleffect commented on #18857
Same issue.  cannot use az acr to build

[2021-07-14 13:03] johnynfulleffect commented on #18841
Can recreate this issue.

[2021-07-14 13:04] johnynfulleffect commented on #18832
@daniel347x really?  I'm not using cloud shell but on a private agent running in docker/aks.

[2021-07-14 13:25] seligj95 commented on #16105
•	Custom id is name of the share configured within the web app
•	Mount path is the path which the web app uses to read-write data ex: /share1 or /share2
•	Share name is name of the file share as given  in the storage account

Example:

az webapp config storage-account add -g <<resource group name>> -n <<web app name>> --custom-id <<name of BYOS share used by the web app>>  --storage-type AzureFile

[2021-07-14 13:25] #16105 closed

[2021-07-14 13:33] hayorov opened #18862 "az lock create|delete --resource <rg-id> fails with cli.azure.cli.core.azclierror: 'NoneType' object has no attribute 'strip'"
## Describe the bug

az lock create or delete fails with error `code = 2` with parameter `--resource=/subscriptions/XXX/resourceGroups/YYY`

**Command Name**
`az lock create --name <name> --resource /subscriptions/XXX/resourceGroups/YYY`
`az lock delete  --name <name> --resource /subscriptions/XXX/resourceGroups/YYY``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that

[2021-07-14 13:36] yonzhan commented on #18862
route to service team

[2021-07-14 14:16] johnyphi commented on #8449
Hi,

Yeah, I'm hitting the same problem here. Which is a real shame because I want to use a GPU in my container which is only available in certain regions.

Any update?

[2021-07-14 15:30] luisdlp commented on #18832
A hotfix for the cli has been released.  Please use Version 2.26.1 for the cli:
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021

[2021-07-14 15:31] luisdlp commented on #18841
A hotfix for the cli has been released. Please use Version 2.26.1 for the cli:
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021

[2021-07-14 15:32] luisdlp commented on #18857
A hotfix for the cli has been released. Please use Version 2.26.1 for the cli:
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021

[2021-07-14 15:33] luisdlp commented on #18860
A hotfix for the cli has been released. Please use Version 2.26.1 for the cli:
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021

[2021-07-14 15:35] mohamadakhter opened #18863 "MS Learn for Azure Container Registry failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-14 15:36] mohamadakhter commented on #18863
I am following step 3 from this MS learning page: https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/3-exercise-build-images

[2021-07-14 15:44] johnynfulleffect commented on #18860
@luisdlp Is this going to be released to the hosted agent ubuntu-latest soon?

[2021-07-14 15:49] luisdlp commented on #18860
@00Kai0 can you help answer @johnynfulleffect question?

[2021-07-14 15:58] Calvin-Yuhui-Liu commented on #16105
Hi Jordan,

Thanks for the information. It's really helpful.

BTW, not sure if this "custom-id" equals "a name" pattern applies anywhere else but if I may, I'd suggest changing "custom-id" to "mount-name" as it would be more straightforward and self-descriptive. Thanks.

Best regards,
Calvin Liu

________________________________
From: Jordan Selig ***@***.***>
Sent: Wednesday, July 14, 2021 6:25 A

[2021-07-14 16:30] pavneeta commented on #18857
I am using the  Azure Cloud Shell - Can I upgrade the Azure CLI in cloud shell to the 2.26.1 version? It seems to be failing.

`pavneet@Azure:~$ az upgrade
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Your current Azure CLI version is 2.26.0. Latest version available is 2.26.1.
Please check the release notes first: https://docs.micros

[2021-07-14 16:54] fmms opened #18864 "`az rest` does not work to call a cost management API"
## Describe the bug
creating cost exports with `az rest` does result in error 500 while it works with ``Invoke-WebRequest``.

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

This results in `Internal Server Error({"error":{"code":"500","message":"An ex

[2021-07-14 20:11] SudhirNune commented on #18860
We are seeing the same issue in the Azure Hosted - Agents, they are still fetching the **2.26.0** version. please check the issue and help us route it to the Azure DEVOPS team.

[2021-07-14 20:13] obeyda commented on #18860
tried 2.26.1 locally, issue solved.
Thanks.

[2021-07-14 20:18] JLunda commented on #18194
I am experiencing this issue with this feature and have attempted this:
[code]

Using `az feature show --namespace Microsoft.Network -n AllowMultipleAddressPrefixesOnSubnet --subscription <subscriptionId>`, I can see the registration is in status Pending, but I am interested in why the original reporter of this issue says the feature is not allowed and in an estimated timeframe by which this featu

[2021-07-14 20:24] avirishuv commented on #18249
@TheOnlyWei Based on the comments above and internal discussion, the changes were made in 2018-04 release and are by design. Closing this thread as discussed.

If there are additional questions on this topic, feel free to reopen.

[2021-07-14 20:24] #18249 closed

[2021-07-14 20:27] avirishuv commented on #18259
@whites11 thanks for the question. Let me try to repro the issue and will get back with an update here soon.

[2021-07-14 20:46] Abhi-Balijepalli opened #18865 "az acr - 'NoneType' object is not callable"
**Command Name**
`az acr build --image <image name> --registry <registry name> .`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Conte

[2021-07-14 21:23] estebanreyl commented on #18858
This seems related to #18841 . Can you try using Version 2.26.1 for the cli?:
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#july-14-2021

[2021-07-14 21:55] kingindanord commented on #17971
I am facing the same problem. I've tried to use the azure cli as described [here](https://docs.microsoft.com/en-us/cli/azure/synapse/workspace/key?view=azure-cli-latest#az_synapse_workspace_key_update) and the azure rest api as described [here](https://docs.microsoft.com/en-us/rest/api/synapse/keys/create-or-update) but both of them return the same error:
[code]

is it really the only way to activ

[2021-07-14 23:27] yonzhan commented on #8449
container service team could take a look

[2021-07-14 23:28] yonzhan commented on #18863
route to service team

[2021-07-14 23:32] yonzhan commented on #18865
route to service team

[2021-07-14 23:44] yonzhan commented on #18864
@jiasli for awareness

[2021-07-15 00:54] nwohlgemuth opened #18866 "az servicebus namespace list throws TypeError: 'NoneType' object is not iterable when there are no service bus namespaces in the given subscription"
## Describe the bug
az servicebus namespace list does not correctly handle the case when there are no service bus namespaces in a given subscription

**Command Name**
`az servicebus namespace list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have an azure subscription foo that has

[2021-07-15 01:11] yonzhan commented on #18866
route to service team

[2021-07-15 02:12] abhi-msft commented on #16617
@fengzhou-msft I tried using PS and CMD as admin and ran the below without success.
az upgrade -y --all --only-show-errors

It started the MSI and asked me to accept the license and click next to continue as mentioned in the issue description.

[2021-07-15 02:29] jsntcy opened #18867 "[Container] Heads-up: All Azure CLI modules need to be migrated to track 2 SDK due to track 1 SDK's retirement"
Hi Jan,
&nbsp;&nbsp;&nbsp;&nbsp;This is a heads-up that all Azure CLI modules need to be migrated from track 1 SDK to track 2 SDK because track 1 is in sunset and will be retired soon (track 2 is the future).
&nbsp;&nbsp;&nbsp;&nbsp;You receive this message because your team owns `Container` module in Azure CLI. (Your team need do the migration work, but we’ll help you if you encounter any questio

[2021-07-15 02:37] jsntcy commented on #18867
@bitcloud, could you please help do the migration?

[2021-07-15 03:09] jiasli opened #18869 "Unable to pass space-separated values with leading dashes"
## Requirement

To run `az synapse spark job submit`, the user wants to pass `--instance`, `trainer` as values to `--arguments`.

Expected JSON:

[code]

## Symptom

`--arguments` is defined as

https://github.com/Azure/azure-cli/blob/39c91741b46de99e136e0d5438c4dbe4d672f08e/src/azure-cli/azure/cli/command_modules/synapse/_params.py#L383

So the user tries to pass `--instance`, `trainer` separated

[2021-07-15 03:13] kangsun-ctrl opened #18870 "Shared gallery VM deployment CLI extension request"
**Resource Provider**

Azure compute

**Description of Feature or Work Requested**

Gallery team currently has a feature called shared gallery, user can directly share their gallery to another subscription/tenant. This request is to allow user to deploy VM from these shared gallery.

The proposed CLI extension cmd for this new parameter is like:
<strong>az vm create -g MyResourceGroup -n MyVm -–im

[2021-07-15 03:14] zhoxing-ms commented on #18862
[code]
@hayorov Hi, in fact, the parameter `--resource` is used to pass in resource ID. If you need to operate resource group, you should pass in parameter `--resource-group`.
Such as `az lock create -n lock_name -t CanNotDelete -g resource_group_name`, please have a try~

[2021-07-15 03:15] #17740 closed

[2021-07-15 03:32] zhoxing-ms commented on #18470
[code]
Because this error was returned by service, so this issue needs to be investigated by service team.
**'x-ms-correlation-request-id': '72da5076-64a6-42bb-88ec-fef860b2a68e'**

[2021-07-15 03:32] jacky168 opened #18871 "Build and deploy container images in WSL2 fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --resource-group {} --image {} {}`

## Expected

[2021-07-15 03:52] yonzhan commented on #18870
Compute

[2021-07-15 03:59] yonzhan commented on #18869
synapse

[2021-07-15 04:32] #18862 closed

[2021-07-15 04:34] yonzhan commented on #18871
route to service team

[2021-07-15 05:42] hayorov commented on #18862
@zhoxing-ms
A resource group is a resource, it has its own id - /subscription/XXX/resourcegroups/YYY.
(1) I don't see any reasonable argument why `--resource` cannot be used to lock the resource group or any other resource by using `universal` id. Even the description says - `If an ID is given, other resource arguments should not be given.` like `-g`
(2) Also, this limitation az cli limitation is

[2021-07-15 05:53] mattduguid commented on #18860
we've opened ticket 2107150060000091 for this as its affecting a large number of our pipelines, been told its a week until it will be updated on the hosted linux agents, there are workarounds but that means a significant amount of effort to hack in a fix and roll it back later, can the version flag on the agent be rolled back to the last stable version until the fix its released?

[2021-07-15 06:49] gowrimshankar opened #18872 "issue with acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} {}`

## Expected Behavior

## Environ

[2021-07-15 08:01] arjun-virmani-by commented on #18194
Hi Jordan,

I spent some couple of days on the same issue. Seems like Terraform has this in documentation on the basis of azure documentation, which is incorrect in the first place.

After going back and forth with Azure support that this feature isn't even in preview by then(not sure of now), they mistakenly showed it in the documentation and features. Its for internal engineers use, as per them.

[2021-07-15 08:11] yonzhan commented on #18872
route to service team

[2021-07-15 08:14] johnyphi commented on #8449
I'm using the shell on the Azure Portal. No matter what I set the location to it always deploys to northcentralus.

`api-version: 2019-12-01
location: westus2
name: my-container-with-ssl
properties:
  containers:
  - name: nginx-with-ssl
    properties:
      image: nginx
      ports:
      - port: 8443
        protocol: TCP
      resources:
        requests:
          cpu: 2.0
          memoryInG

[2021-07-15 08:28] zhoxing-ms commented on #18862
@hayorov In fact, in CLI, the group name/id cannot be passed into `--resource-name/--resource` in all commands, and we always use different parameters `--resource-name` and `--resource-group` to distinguish them. This is because resource and resource group belong to different levels, so the processing logic behind them and the corresponding REST are different.
Thank you for your suggestion. We wil

[2021-07-15 09:18] rbickel commented on #18759
@miwithro any idea/suggestion ?

[2021-07-15 09:29] kumarg25 commented on #18755
I am also facing similar issue with 2.26.0

az acr token delete --name $TOKEN_NAME --registry $REGISTRY_NAME --resource-group $REGISTRY_RESOURCE_GROUP_NAME --yes is throwing below error

'TokensOperations' object has no attribute 'delete'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)

[2021-07-15 09:50] aneshr opened #18874 "Not able to Build image to ACR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --image {} --registry {} --file {} {}`

## Expected Behavior

[2021-07-15 09:56] xenatisch commented on #18872
We are experiencing the same issue in all of our pipelines on Azure DevOps.

Agent job:

[code]

Build initialisation:
[code]

[2021-07-15 10:13] yonzhan commented on #18874
route to service team

[2021-07-15 10:28] xenatisch opened #18875 "The `az acr build` command throws `TypeError: 'NoneType' object is not callable` exception"
**Resource Provider**
Azure CLI, running:

[code]

**Description of Feature or Work Requested**
Trying to build the container in Azure DevOps pipeline for deployment. The job fails on running the command with the following Python exception from the CLI:

[code]

**Target Date**
Immediate deployment - business critical issue.

It's a business critical issue for us, so I'm happy to escalate as a pri

[2021-07-15 11:00] yonzhan commented on #18875
route to service team

[2021-07-15 11:27] SudhirNune commented on #18860
@mattduguid  - I don't see that as an option, read the below link from MSFT
![image](https://user-images.githubusercontent.com/12298924/125780661-53212b14-925c-4a09-a951-769fd162f83d.png)

[2021-07-15 11:36] abhishekagg24 opened #18876 "Az Acr Build Command Not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {} --file {} {}`

## Expected Behavior

[2021-07-15 11:44] yonzhan commented on #18876
route to service team

[2021-07-15 11:46] wase90168 commented on #18875
I am experiencing the same issue with the command `az acr run ...` .

<details open>
<summary>Issue details...</summary>
<br>
**Command Name**
`az acr run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr run --cmd {} --registry {} {}`

#

[2021-07-15 12:00] xenatisch commented on #18875
Update:

I've changed my build command in Azure DevOps pipeline to the following:

[code]

It does seem to upgrade, but then it fails with the same exception.

[2021-07-15 12:49] DSpirit commented on #17196
Can someone show me the file of the pipelines commands? I could develop this, but somehow I can't find any files related to pipelines, builds or queueing.

[2021-07-15 12:51] SudhirNune commented on #18860
@mattduguid - See this issue - https://github.com/microsoft/azure-pipelines-tasks/issues/15036

Update from **_miketimofeev_** - The rollout process takes 3-4 days to accomplish. We're going to start the rollout on Monday and finish on Wednesday-Thursday.

[2021-07-15 13:05] sendils41 opened #18877 "Failed to AKS Install-CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-07-15 13:43] yonzhan commented on #18877
route to service team

[2021-07-15 13:44] sendils41 commented on #18877
This issue got resolved in the new command window. Please close this ticket

[2021-07-15 13:44] #18877 closed

[2021-07-15 14:11] kbenchaaboun commented on #18875
Same issue on our side with the 'az acr build'

Any update ?

<img width="635" alt="Screenshot 2021-07-15 at 16 11 22" src="https://user-images.githubusercontent.com/14924329/125802414-d4113c75-6b8d-42bf-8287-dd4fc8f5f13a.png">

[2021-07-15 14:22] detienne20 commented on #17759
Thank you for your patience, the fix for this is in progress and will be released soon.

[2021-07-15 14:23] marcin-vt commented on #18875
Upgrading to 2.26.1 on my vm (ubuntu 20.04) solved the problem, however azure devops pipeline agent (ubuntu 18.04) won't upgrade (azure-cli is already the newest version (2.26.0-1~bionic)).

[2021-07-15 14:28] JotaP commented on #18875
Same here, we have all our Github action pipelines failing... we desperately need a fix for this.

[2021-07-15 14:32] xenatisch commented on #18875
@marcin-vt yeah, it won't work on the pipeline. There is another workaround, but it'll be messy @JotaP. You can build directly using `docker build`, then log in and push the built image into the registry.

Not very feasible if you have several pipelines for different things, connected to different branches like we do. It'll take a day to update and test them all.

[2021-07-15 14:38] JotaP commented on #18875
Thanks for the workaround but sadly enough it's a big mess for us as we have a lot of different pipelines and automated stuff around them. Anyways, thanks for the idea @xenatisch

[2021-07-15 15:09] AlexEnfoMMX opened #18878 "Error deploying App service extension to Arc Kubernetes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice kube create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice kube create -g {} -n {} --custom-location {} --s

[2021-07-15 15:11] JavierPalaciosNexplore commented on #18875
The issue is apparently solved by the [yesterday's release of az-cli](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli). At least `az acr build` started working locally after the upgrade. In our case, we depend on github runners, so I expect it to disappear soon, once they start rolling out machines with updated az-cli.

[2021-07-15 16:22] sunnyhay commented on #18847
Any update? Thanks.

[2021-07-15 16:30] harneetvirk commented on #18847
A sample for creating a workspace is posted on a similar request is on another issue: https://github.com/Azure/azure-cli/issues/18702

[2021-07-15 16:49] JLunda commented on #18194
Thanks for the additional information, @arjun-virmani-by. I can confirm that I have tried via AZ CLI and ARM template and this feature fails both ways. I also spent some time talking to Azure Support and was likewise informed that this feature is not ready for General Availability (GA). I would second the need for the documentation to have a note that conveys this information or to be modified not

[2021-07-15 16:58] Bapic opened #18879 "Unable to create app svc kube environment with az cli 2.26.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice kube create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice kube create`

## Expected Behavior

## Environme

[2021-07-15 17:35] northtyphoon commented on #18876
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:36] northtyphoon commented on #18875
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:36] northtyphoon commented on #18874
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:37] northtyphoon commented on #18872
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:37] northtyphoon commented on #18871
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:37] northtyphoon commented on #18865
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:38] northtyphoon commented on #18863
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:38] northtyphoon commented on #18858
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:39] northtyphoon commented on #18813
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

[2021-07-15 17:44] adhgupta opened #18880 "Cannot create VMSS in an Edge Zone using the --edge-zone argument."
**Describe the bug**

Creating a Virtual Machine Scale Set using the Azure CLI fails with "unrecognized arguments: --edge-zone".

**To Reproduce**

Azure CLI version: 2.26.1
Run the following command:
az vmss create --name myVMss --resource-group myResourceGroup --public-ip-address-dns-name my-globally-dns-name --load-balancer MyLoadBalancer --vnet-name testVnet --subnet default --image UbuntuLTS

[2021-07-15 17:50] northtyphoon opened #18881 "az acr token delete failed since 2.26.0"
It's a regression from 2.26.0. Log the bug for tracking.

Workaround: Downgrade to version before 2.26.0.

az acr token delete --name $TOKEN_NAME --registry $REGISTRY_NAME --resource-group $REGISTRY_RESOURCE_GROUP_NAME --yes

-----------
'TokensOperations' object has no attribute 'delete'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in inv

[2021-07-15 18:11] #18865 closed

[2021-07-15 18:14] rakeshakkera commented on #18555
Hi @Juliehzl, looks like it just got merged. Would you be able to start work on this task?

[2021-07-15 19:03] #18702 closed

[2021-07-15 19:09] MukeshS-hexaware opened #18882 "az network public-ip create fails with ImportError"
**Command Name**
`az network public-ip create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network public-ip create --resource-group {} --name {} --sku {} --allocation-method {}`

## Environment Summary
[code]

[2021-07-15 19:45] olayemio commented on #16109
server side does not support using a SAS URL, but rather just the VHD URL

[2021-07-15 19:58] maxvandl opened #18883 "aks"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials`

## Expected Behavior

## Environment Sum

[2021-07-15 19:59] maxvandl opened #18884 "aks creds failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {}`

## Expecte

[2021-07-15 20:22] Ben424242 opened #18887 "'az ad app show' does not return the tags property"
**Is your feature request related to a problem? Please describe.**
I can set values in the Tags property by editing the Manifest in the portal. But Tags isn't a property in the json that's returned by az ad app show.

**Describe the solution you'd like**
Have az 'ad app show'  return the tags property in the json the command returns

[2021-07-15 20:57] campbellj0 commented on #18884
Experiencing the exact same error. Pipeline worked yesterday (azcli v2.25.0) Today failing (azcli v2.26.0):

/usr/bin/bash /home/vsts/work/_temp/azureclitaskscript1626381719071.sh
ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: [Errno 2] No such file or directory: ''
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line

[2021-07-15 21:24] shenmuxiaosen commented on #18845
@MarkAtAgilliance  You mentioned that SDK supports multiple labels and follow the order of precedence. Can you share an example or link of that?

[2021-07-15 21:50] MarkAtAgilliance commented on #18845
sure - there is a detail in that it is the way we are recommended to use the config builder like below (I guess this is explicit layering vs implicit in the call).

Below, the builder will bring over the default labelled settings first then layer on top the Production labelled settings.  In this case we do not have to protect against setting appearing in both - the latest select call overwrites ea

[2021-07-15 21:59] yonzhan commented on #18884
route to service team

[2021-07-15 22:01] dan5082 commented on #11863
Any update?

[2021-07-15 22:16] xenatisch commented on #18875
Thanks @northtyphoon, I noticed the release earlier in the day, but it's not been pushed to Azure DevOps machines yet. We haven't been able to deploy anything for nearly 24 hours now.

[2021-07-16 02:07] zhoxing-ms commented on #18870
@kangsun-ctrl l Hi,  at present, there seems to be no extension related VM deployment in CLI. Do you need us to develop based on an existing extension or build a new extension?

[2021-07-16 02:31] kangsun-ctrl commented on #18870
Hi Xing Zhou, yes, there was no extension. So this is the first time we try the path of CLI extension. We want to try it for this small feature and see how much it improves our experience. I think you guys can build a new extension. And when our swagger goes to stable folder, you can just merge the CLI extension to official CLI. Thanks!

[2021-07-16 02:42] yonzhan commented on #18878
route to service team

[2021-07-16 03:02] yonzhan commented on #18879
route to service team

[2021-07-16 03:04] yonzhan commented on #18880
Compute

[2021-07-16 03:08] lexp-paulo opened #18889 "Erro"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --sdk-auth`

## Expected Behavior

##