[2020-04-13 22:50] yonzhan commented on #12988
add to S169

[2020-04-13 22:52] yonzhan commented on #12989
aks

[2020-04-13 22:55] yungezz commented on #12995
hi @MyronFanQiu could you have a look? thanks

[2020-04-13 22:56] yungezz commented on #12994
regression

[2020-04-13 22:58] yonzhan commented on #12990
add to S169

[2020-04-14 01:02] yungezz commented on #12654
move it earlier, this is expected before May 15.

[2020-04-14 02:04] MyronFanQiu commented on #12995
@jose-lima2011 Hi. I'm sorry for this command. The example is wrong and looks like this command has not been changed for two years. The functionality of this command is not sufficient. To unblock you quickly, please try `az monitor log-profiles update --name default --set retentionPolicy.days=365 retentionPolicy.enabled=true location=westus`. We will fix example and this command later.

[2020-04-14 02:06] MyronFanQiu commented on #12794
@haroldrandom Please take a look at this issue. `Deprecated` label in doc page is important.

[2020-04-14 02:22] jiasli commented on #12939
Hi @mohoff, I got your point. I just found adding Service Principal is recently discussed at https://github.com/MicrosoftDocs/azure-docs/issues/49478. I followed your steps and reproduced the issue.

### Step 1. Add Role Assignments

**Azure Active Directory > Roles and Administrators > Global administrator > Add assignments > assign Directory Role to SP**

![image](https://user-images.githubuserc

[2020-04-14 02:24] MyronFanQiu commented on #12988
@nezoic If you provide `--ssl-cert` in `az network application-gateway http-listener create` command, the protocol would be set to `https` accordingly.

[2020-04-14 03:05] haroldrandom commented on #12794
same requests as https://github.com/Azure/azure-cli/issues/12549, we are making a plan for it.

[2020-04-14 03:08] qwordy commented on #12459
Create an issue for WALinuxAgent.
https://github.com/Azure/WALinuxAgent/issues/1852

[2020-04-14 05:08] ewassef opened #12996 "webapp: Problem trying to update container image via CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --docker-custom-image-name

[2020-04-14 05:38] qianwens commented on #12993
@jiasli to help take a look.

[2020-04-14 05:42] jiasli commented on #12994
Duplicate of #12837

[2020-04-14 05:42] #12994 closed

[2020-04-14 06:19] gandhirajan commented on #12903
@jfggdl @yonzhan Hi Team, Any update on this?

[2020-04-14 07:30] yonzhan commented on #12887
https://github.com/Azure/azure-cli/milestone/85 We plan to build to Cloud Shell three days later.

[2020-04-14 07:54] yonzhan commented on #12995
add to S168

[2020-04-14 08:06] yonzhan commented on #12993
add to backlog

[2020-04-14 08:07] jiasli commented on #12993
Duplicate of #12837

[2020-04-14 08:07] #12993 closed

[2020-04-14 08:07] yonzhan commented on #12996
webapp

[2020-04-14 08:09] mohoff commented on #12939
Thanks @jiasli , good to see you could reproduce.

Also great questions. I'm generally confused with different kinds of permissions for different APIs (Microsoft Graph vs AAD Graph) and what is supported by the `az` CLI tool.

[2020-04-14 08:12] yonzhan commented on #12903
eventhubs service can help update.

[2020-04-14 09:12] #12062 closed

[2020-04-14 09:42] haroldrandom opened #13000 "Does KeyVault require a callback to clear out the global cache?"
**Is your feature request related to a problem? Please describe.**
While I am migrating test framework from nose to pytest, I found those 2 tests runing serially would fail.

KeyVault SDK has [a gloal and  process-level variable](https://github.com/Azure/azure-sdk-for-python/blob/94118e48f58563fd22c18f60c1c3c6b885a6a8f3/sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challe

[2020-04-14 09:49] jabrena commented on #12985
Related issue:
https://github.com/Azure/azure-cli/issues/6171

[2020-04-14 10:31] odqahn commented on #12887
Tested with latest version of cli, this is indeed working. Once updated in cloud shell, it'll all be ok.

Thank you!

[2020-04-14 10:31] #12887 closed

[2020-04-14 10:40] sirwarshade commented on #11978
For me `az webapp config set --name {resource-name} -g {resource-group} --generic-configurations "{\"virtualApplications\":[{\"physicalPath\":\"site\\wwwroot\",\"preloadEnabled\":false,\"virtualDirectories\":null,\"virtualPath\":\"/\"},{\"physicalPath\":\"site\\wwwroot\\v2\\flow-server\",\"preloadEnabled\":false,\"virtualDirectories\":null,\"virtualPath\":\"/flow\"},{\"physicalPath\":\"site\\wwwro

[2020-04-14 12:05] jose-lima2011 commented on #12995
Ok, but if I need to add all regions including the global one, what would the syntax look like?

[2020-04-14 12:42] markusfoss commented on #11195
I am also wondering about this one. I want to provision the function in the Azure DevOps pipeline using the "Azure Cli task"

[2020-04-14 13:04] rebecca-makar opened #13003 "HPC Cache - Update command"
az hpc-cache update--resource-group "remakar" --name "climakar" --location "eastus"  --cache-size-gb "3072" --subnet "/subscriptions/<SUB_ID>/resourceGroups/remakar/providers/Microsoft.Network/virtualNetworks/vnet_remakar/subnets/default" --sku-name "Standard_2G"

As discussed in meeting, az hpc-cache update only needs to update tags. Params needed would be rg name, cache name, and tags. Do a get

[2020-04-14 13:06] yonzhan commented on #13000
add to S168

[2020-04-14 13:07] rebecca-makar opened #13004 "HPC Cache - az hpc-cache blob-storage-target-update"
[code]

1. Create new ST
2. Update that ST junctions = Operation failed with status: 202. Details: Resource state Updating
NUMBER 2 is bug since it is actually updating the storage target but returns to user that it is an error. Looks like mapping may be wrong somewhere.

[2020-04-14 13:09] rebecca-makar opened #13005 "HPC Cache - az hpc-cache nfs-storage-target update"
[code]

1. Create new ST
2. Update that ST junctions = Operation failed with status: 202. Details: Resource state Updating.

NUMBER 2 is bug since it is actually updating the storage target but returns to user that it is an error. Looks like mapping may be wrong somewhere.

[2020-04-14 13:10] yonzhan commented on #13003
add to S169

[2020-04-14 13:12] #12988 closed

[2020-04-14 13:12] yonzhan commented on #13004
add to S169

[2020-04-14 13:12] TomGeske commented on #12814
We are still looking into this. We keep you posted.

[2020-04-14 13:13] yonzhan commented on #13005
add to S169

[2020-04-14 13:29] Kotasudhakarreddy commented on #11454
able to repro the issue. working on the fix.

[2020-04-14 14:21] mohoff opened #13006 "Keyvault creation without purge protection fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm trying to create a keyvault with `az keyvault create ...` that has the purge protection and soft delete disabled. However, the command fails with the error shown below.

The keyvault with the specified name has not been created before.

The command works without the `--enable-purge-protection` being set.

[2020-04-14 14:45] mohoff commented on #8133
I'm having the same issue/question.

@hectoralicea Were you able to solve this? If so, how?

[2020-04-14 15:11] yonzhan commented on #13006
@bim-msft  please take a look.

[2020-04-14 16:10] JeffinBao commented on #12996
I am facing the exact same issue, any updates?

[2020-04-14 16:13] jajaislanina opened #13007 "Getting list of Service Fabric applications"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to fetch list of deployed applications in SFC always returns empty result even though there are applications deployed to a cluster

**Command Name**
`az sf application list --resource-group MyTestRG01 --cluster-name testsfcclust01`

**Errors:**
N/A

## To Reproduce:
Steps to reproduce the behavior. Note

[2020-04-14 16:54] mrcoder54 opened #13008 "Unable to login using az login --identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2020-04-14 17:00] JeffinBao commented on #11549
I am experiencing the same error with the same `az webapp config container set --name {} --resource-group {} --docker-custom-image-name {}`. Is there any update?

[2020-04-14 17:38] chaami opened #13009 "How are we supposed to append certificates credentials through the cli ?"
Hi,
I have failed to find a way to upload a certificate as an application credential...
I had to directly upload my public key through the azure portal.
You may want to add an actual example (and check that it works too ;-) )
I have tried the following:
Pointing to the certificate through a cert:\ path in the `--cert` argument (i.e "@cert:\CurrentUser\My\Thumbprint" with and without the `@`).
Expo

[2020-04-14 18:34] ptsapralis opened #13010 ""az sf cluster durability update" command fails with error message "'NoneType' object has no attribute 'lower'"no"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster durability update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster durability update -c {} -g {} --node-type

[2020-04-14 18:36] garvct opened #13011 "Cannot get Netapp Files mount targets with azcli (version 2.3.1)"
**Describe the bug**

After deploying ANF/CIFS, I cannot get the mount targets with the following az cli (version 2.3.1) commamd

az netappfiles list-mount-targets --resource-group <REsource group> --account-name <account_name> --pool-name <pool_name> --volume-name <vol_name>

Command group 'netappfiles' is in preview. It may be changed/removed in a future release.
Azure Error: InvalidResourceType

[2020-04-14 19:36] hectoralicea commented on #8133
I was not able to solve this.  I think I just worked around it by keeping a copy of the SP account password and then passing into the AKS create.  Which defeats the purpose of using a vault for services to pull SP account password from vault rather than having to pass it around.

[2020-04-14 20:09] alburgin opened #13012 "Az Storage Blob Generate SAS Fails when --auth-mode login provided"
Below command failed with the following error when I provided --auth-mode login, but did not fail when --auth-mode login was not provided.

**Succeeded:**
az storage blob generate-sas --account-name ****  --container-name **** --name 6.2005.24.0 --full-uri --permissions r --expiry 2020-7-13T19:27:4Z --https-only --subscription a710cf97-7a43-4277-b7d4-f34966f537af

**Failed:**
az storage blob gener

[2020-04-14 20:14] nrgifford opened #13013 "Add links"
Make links of 'JsonWebKeyCurveName' and 'JsonWebKeyType'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Content: [az keyvault key](https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#feedback

[2020-04-14 20:20] nrgifford opened #13014 "Default values should be given"
For optional parameters, the default value should be documented.
Specifically: "Elliptic curve name", "Type of key", "Key size", etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Content: [az keyvault key](https://do

[2020-04-14 21:26] allegradomel commented on #12689
Will take a look

[2020-04-14 22:21] yonzhan commented on #13007
Service Fabric

[2020-04-14 22:22] yonzhan commented on #13008
add to S169

[2020-04-14 22:25] yonzhan commented on #13009
add to S169

[2020-04-14 22:26] yonzhan commented on #13010
Service Fabric

[2020-04-14 22:27] yonzhan commented on #13011
netappfiles

[2020-04-14 22:28] yonzhan commented on #13012
add to S169

[2020-04-14 22:59] yonzhan commented on #13013
@bim-msft please take a look

[2020-04-14 23:00] yonzhan commented on #13014
@bim-msft  please take a look

[2020-04-14 23:03] yonzhan commented on #12689
@allegradomel please let us know any feedback.

[2020-04-14 23:59] saisharank opened #13016 "Unable to select a pre-existing app service plan while creating a new web app bot."
**Resource Provider**

azure cli
**Description of Feature or Work Requested**

az bot create --appid "xxxxxxxxxxxxxxxxxxx" --password "xxxxxxxxxxxxxx" --resource-group "test_rg" --name "test-bot-dev" --kind "webapp" --description "bot for testing" --lang javascript --sku S1  **--plan "existing-plan"**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-04-15 00:10] ramandhillon84 commented on #12385
@KarenHammons, @malopMSFT - should we close this?
Per Mario's analysis this seems to be a bug and a support case is needed to resolve. The error documentation is correct.

[2020-04-15 00:22] malopMSFT commented on #12385
Only a single connection can be specified in the PE creation process.

For the same storage account, using different subscription|rg|name, customer's can create another private endpoint.

Same values are effectively a PUT on the underlying API, this is acceptable since it will simply refresh the information like using templates.

For the internal server error, if this can be reproduced all the tim

[2020-04-15 01:28] yonzhan commented on #13016
web app bot

[2020-04-15 02:13] MyronFanQiu commented on #12995
Each command can only manipulate one log profile in one region. You may need to write a script to run several commands.

[2020-04-15 02:16] MyronFanQiu commented on #12385
@Juliehzl Do you mind closing this one first. If we encounter same issue again, we can open a support ticket for them.

[2020-04-15 02:22] #12891 closed

[2020-04-15 02:49] #11412 closed

[2020-04-15 02:49] #11925 closed

[2020-04-15 02:59] considerable opened #13017 "ModuleNotFoundError: No module named '_cffi_backend'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret show --vault-name {} --query {} --name {}`

#

[2020-04-15 03:00] dedhar commented on #12959
There are 3 main changes :
1.	Add Create, Update, Delete, Get Cmdlets for new Route Table (V3) resource. Route Table V3 is child of Virtual Hub Resource. It supports PUT/DELETE by directly invoking operations on child resource (similar to vnet peering).
2.	Add support for Routing Configuration property on existing Express Route, Vpn, P2S Connection Configuration and Hub Virtual Network Connection

[2020-04-15 03:38] MyronFanQiu opened #13018 "--group-ids should just support one group id in private endpoint create"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-04-15 03:38] MyronFanQiu commented on #13018
planned in S170

[2020-04-15 05:26] #12119 closed

[2020-04-15 05:29] jiasli commented on #13008
`az login --identity` is used for managed identity. The command needs to be run in an Azure VM with managed identity configured. Please check [Sign in with a managed identity](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest#sign-in-with-a-managed-identity) for details.

[2020-04-15 05:50] jose-lima2011 commented on #12995
Hi Myron, I understand thanks for your time.

[2020-04-15 05:50] #12995 closed

[2020-04-15 06:22] Nilambari opened #13020 "CLI for Virtual WAN Point to site feature."
**Is your feature request related to a problem? Please describe.**
Virtual WAN Point to site feature is already GA but we missed to add the CLI support for the same, and hence the CLI need.
Swagger (Developer to contact is Nilambari Deshpande)
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/virtualWan.json
Swagger

[2020-04-15 06:26] N1ght3yes commented on #11033
Still doesn't seem to work, in fact it does not return any of my "owned" App Registrations. Would be great if you'd get this to work soon. Also the result (when retrieving by appDisplayName or appId, which is also very unconvenient) doesn't seem to contain any information about the owner.

[2020-04-15 06:37] #12943 closed

[2020-04-15 07:11] mrcarter8 commented on #12356
Just noticed this issue didn't receive a response.  Sorry for the delay.  Azure CLI for Azure Cognitive Search supports operations on the management plane, such as creating a new service, scaling a service up or down, or managing API keys.  Index operations, such as create or delete index, are on the data API plane, which does not currently have any Azure CLI or Powershell support.

We do apprecia

[2020-04-15 07:32] yungezz commented on #13017
hi @bim-msft could you pls have a look? thanks

[2020-04-15 07:49] #12252 closed

[2020-04-15 08:19] qwordy commented on #12902
Thank you for finding this bug. I write a PR to fix it. You analysis for the cause helps me a lot.
https://github.com/Azure/azure-cli/pull/13022

[2020-04-15 08:19] #12241 closed

[2020-04-15 09:00] Djongov opened #13023 "Cannot create SQL AD admin using Azure CLI"
## Describe the bug
Using the az sql server ad-admin create command fails with:
create_or_update() missing 1 required positional argument: 'parameters'
**Command Name**
`az sql server ad-admin create`
az sql server ad-admin create --resource-group myResourceGroup --server-name <server-name> --display-name ADMIN --object-id xxxxxxxxxxx
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beh

[2020-04-15 09:11] iotalambda commented on #10235
The command is incorrect. This should work:
`az storage account blob-service-properties update --set defaultServiceVersion="2019-02-02" --account-name xxx`

[2020-04-15 09:45] bluca commented on #12399
@fengzhou-msft the problem is that the BlockBlobService is in the old, deprecated https://github.com/Azure/azure-storage-python/tree/master/azure-storage-blob/azure/storage/blob but not in the new https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob/azure/storage/blob

Azure-cli seems to be using APIs from both incompatible versions at the same time. The situati

[2020-04-15 10:18] pascalnaber commented on #12622
This bug is still happening with the latest version of the az cli (2.3.1)

az functionapp create --name test --consumption-plan-location westeurope --os-type Linux --functions-version 3 --resource-group test --runtime
dotnet --storage-account /subscriptions/xxxxx/resourceGroups/test-data-dev/providers/Microsoft.Storage/storageAccounts/testdev

The parameter LinuxFxVersion has an invalid value.

[2020-04-15 10:29] daxianji007 opened #13024 ""az monitor log-analytics workspace --help" fail in azdev"
## Describe the bug

**Command Name**
`az monitor log-analytics workspace`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Clone azure-cli repo (master branch) and type the cmds:
- `virtualenv --no-site-packages venv`
- `.\venv\Scripts\activate`
- `python -m pip install pywin32==225 a

[2020-04-15 10:38] daxianji007 commented on #13024
**And If I clone the dev branch this is error would not happen.**

[2020-04-15 10:47] mohoff opened #13025 "`az aks create --debug/--verbose` not showing debug logs"
The flags `--debug` and `--verbose` do not provide additional log output when running the command

[code]

The output is for me:

[code]

This prevents me from tracking down an issue related to invalid `--client-secret` passed.

The debug output works nicely for commands like `az ad sp create-for-rbac`.

[2020-04-15 11:04] mohoff opened #13026 "`az aks create` not working with ServicePrincipal secret stored in Keyvault"
## Describe the bug

I want to create an AKS cluster with the command shown below. A ServicePrincipal, which has the `acrpull` permission should be used to pull images from an attached ACR. This ServicePrincipal was created using `az ad sp create-for-rbac` with the cert being stored in a Keyvault.

It is unclear to me how I can correctly specify the ServicePrincipal's secret (the Keyvault cert/sec

[2020-04-15 11:53] yungezz commented on #13024
HI @MyronFanQiu could you pls help to have a look? thanks

[2020-04-15 13:14] #11534 closed

[2020-04-15 14:46] Thiago4breu commented on #10480
Hi @ajlam its me again, sorry for not have check before due a lot of things happening. But, for now I have the same situation presented before....I need to restore a database and I choose the last restore point and all the restored database are uptodate.

Correlation ID: c80edc19-11fe-4de4-824a-114b1192ed1d
Tracking ID: 53c6a2fb-abc6-41d6-a911-f5f5d395b64e

I'm completely sure that I have selected

[2020-04-15 14:48] fengzhou-msft commented on #12399
@bluca I think we only used `azure-mgmt-storage` from the new `azure-sdk-for-python`. We are still using the old `azure-storage-blob` which is pinned in [setup.py](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/setup.py#L128) and [requirements](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py3.Linux.txt#L85) file. We do have plans to upgrade to the new one after

[2020-04-15 14:55] bluca commented on #12399
@fengzhou-msft do you have an ETA for the switch? We already transitioned in Debian Unstable

[2020-04-15 15:09] yonzhan commented on #13018
add to S170

[2020-04-15 15:28] panchagnula commented on #10495
Fixed by change[12685]( https://github.com/Azure/azure-cli/pull/12865)

[2020-04-15 15:28] #10495 closed

[2020-04-15 15:31] yellowhat commented on #12987
I am having the same issue, any update on it?

Thanks

[2020-04-15 15:58] anthonychu opened #13027 "Add az functionapp log commands"
Similar to `az webapp log`.

[2020-04-15 15:59] ghstahl opened #13028 "Install time must be radically improved"
**Is your feature request related to a problem? Please describe.**
It isn't reasonable in some cases to prebuild VM images with az cli installed.   In those cases, when its needed an install must be on par if not better than installing terraform.

I have a github action that has these numbers;
[code]
This is just the install as I had the installer checked in to my github repo.

**Describe the solu

[2020-04-15 16:08] andres-ab opened #13029 "az storage blob delete-batch not running"
## Describe the bug
I tried to "clean" a directory in my blob storage and the command does not finish so I stop it. There are 2 CSV files of around 1 GB, so I would expect a fast response. Previously I list those items and they are shown properly.

I tried different parameters including timeout and debug and nothing changed.

**Command Name**
`az storage blob delete-batch`

**Errors:**
Did not fin

[2020-04-15 17:16] arvindshmicrosoft commented on #12858
hello again, just pinging to check if you had a chance to review this item?

[2020-04-15 18:32] colbylwilliams commented on #13024
This is also causing `azdev linter` to fail with same error with attempting to lint extensions.

[2020-04-15 19:28] shurd commented on #12985
Hi @jabrena thank you for opening this issue. The Cosmos DB command module focuses on management and control plane operations rather than data plane operations. As mentioned in the issue you linked, we are not currently planning on supporting data plane operations via the CLI. We offer other SDKs optimized for these operations. [This page](https://docs.microsoft.com/en-us/azure/cosmos-db/) provide

[2020-04-15 20:18] AdnanHodzic opened #13030 "unrecognized arguments: --cluster-autoscaler-profile scan-interval=30s"
## Describe the bug

**Command Name**
[code]

**Errors:**
[code]

## To Reproduce:

[code]
Will result in above mentioned error.

If I simply omit `--cluster-autoscaler-profile scan-interval=30s` cluster will be successfully created.

This option is suggested in documentation page: [Set the cluster autoscaler profile when creating an AKS](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscal

[2020-04-15 21:13] dbradish-microsoft commented on #10698
I am adding myself to this issue thread in order to notify interested parties upon resolution.

[2020-04-15 22:03] parasdesaicims opened #13031 "Unable to use AZ-Interactive"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-15 22:06] parasdesaicims opened #13032 "unable to login to AZ"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-04-15 22:59] yungezz commented on #13032
hi @arrownj  could you pls have a look?thanks

[2020-04-15 22:59] yungezz commented on #13030
routing to appropriate team

[2020-04-15 23:02] yungezz commented on #13028
hi @fengzhou-msft could you pls have a look? thanks

[2020-04-15 23:03] yungezz commented on #13027
routing to appropriate team

[2020-04-15 23:06] yungezz commented on #13025
thanks for reporting, routing to appropriate team

[2020-04-15 23:06] yungezz commented on #13026
thanks for reporting, routing to appropriate team

[2020-04-15 23:07] yungezz commented on #13029
hi @Juliehzl could you pls have a look?

[2020-04-15 23:08] yungezz commented on #13031
hi @jiasli could you pls have a look?

[2020-04-15 23:09] yungezz commented on #13023
thanks for reporting, routing to appropriate team

[2020-04-15 23:20] marwanad commented on #12989
That's a known issue with AZ CLI 2.3.1.

For now, the fix is to use CLI extensions

az extension add --name aks-preview

The next CLI release on 04/21/2020 will address this issue.

[2020-04-15 23:22] yungezz opened #13033 "az cli doesn't work in git bash"
**Describe the bug**

I need to run this sh file

#!/bin/bash

az functionapp config appsettings set -n jongfnmi -g jongfnmi --settings "APPINSIGHTS_INSTRUMENTATIONKEY=""a169777b-852e-4f98-856b-e886d6882c04""" > /dev/null
cd ../src ; func azure functionapp publish jongfnmi --csharp ; cd ../terraform

in git bash

when I do, I get az command not found

Previous issue: https://github.com/Azure/azure

[2020-04-15 23:22] yungezz commented on #13033
packaging

[2020-04-15 23:24] marwanad commented on #13030
@AdnanHodzic are you using CLI extensions? This feature (setting the autoscaler profile) is only available in the preview CLI extension:

[code]

[2020-04-16 00:01] danielbecroft opened #13034 "Question: `az postgres db -g` option"
The documentation for `az postgres db` indicate that the `--resource-group` is a required parameter to all commands (`create`, `list`, `delete`).

Does this mean that it is expected that a database could be created for a server, but in a different resource group? For example:

[code]

I've tried this, and it doesn't work. The `az postgres db create` commands fail with the following error:

[code]

[2020-04-16 00:56] MyronFanQiu commented on #13024
@colbylwilliams cloning the latest dev branch and running 'azdev setup' should solve the issue.

[2020-04-16 01:05] panchagnula opened #13035 "webapp: Add validation for az webapp config access-restriction to avoid adding duplicates"
**Describe the bug**
We cannot add duplicate IPs from the portal since it checks if a value exists however CLI allows this

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-04-16 01:06] panchagnula commented on #13035
@madsd FYI.

[2020-04-16 01:19] kylehwang commented on #9292
confirming I am facing the same issue

[2020-04-16 02:22] daxianji007 commented on #13024
@MyronFanQiu Can you drive to merge the related code from dev to master and release new packages? If I install the azure-cli package (instead of 'azdev setup') directly, this still happen.

It is blocking the CLI document generation.

[2020-04-16 02:28] MyronFanQiu commented on #13024
One dependency package `azure-mgmt-loganalytic` has released a new version 0.3.0 on 4.9. There is a breaking change in it. We locked the version to 0.2 instead of 0.2.0. We have fixed it in our dev branch in 4.10. We're discussing about cherry-picking the fix to master branch right now.

[2020-04-16 02:42] fengzhou-msft commented on #12399
@Juliehzl is working on this and can give an ETA.

[2020-04-16 02:50] jsntcy commented on #13024
As CLI will release new version next Tuesday and we'll merge dev into master at that time and the issue should be resolved at that time.

[2020-04-16 03:04] qianwens commented on #13020
@MyronFanQiu to help take a look.

[2020-04-16 03:16] peterinnesmsft opened #13037 "'az deployment group validate' returns invalid JSON on validation failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When attempting to validate an ARM template for deployment, ARM returns a validation failure which contains well-formed JSON. However, when the CLI returns the corresponding error, it is serialized in such a which renders the returned JSON invalid, and strips out the key inner error information which conveys w

[2020-04-16 04:51] yonzhan commented on #10235
add to S169

[2020-04-16 05:11] yonzhan commented on #13029
add to S169

[2020-04-16 05:15] yonzhan commented on #13031
add to backlog

[2020-04-16 05:33] qwordy commented on #12858
The list of SKUs in code is written in 2018. It may be out of date. I wonder why CLI makes decision for users. CLI will enable it based on image and size. I can update the list now. But it is hard to keep the list always up to date. We don't know when the list should be updated. @yugangw-msft This piece of code is written by you. Can you share the story of this design? Do you think we can return t

[2020-04-16 05:40] arvindshmicrosoft commented on #12858
Thank you @qwordy - I believe if we can switch to using the [ResourceSkus.list](https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list) API and then filtering based on the capabilities where the SKU is AccelNet capable, it would be a robust way.

[2020-04-16 05:48] qwordy commented on #12858
Thank you @arvindshmicrosoft . It is a robust way. And it does not break the current behavior of this parameter.

[2020-04-16 06:01] arvindshmicrosoft commented on #12858
If it helps, I have some Python code which already uses this API in some Ansible related automation. You could consider leveraging something similar in CLI.
[code]
[code]

[2020-04-16 06:01] yungezz commented on #13037
hi @zhoxing-ms could you pls have a look?

[2020-04-16 06:05] yungezz commented on #13034
routing to appropriate team

[2020-04-16 06:10] qwordy commented on #12858
Oh. The code is advanced. The author is good at functional programming. A lot of `lambda`, `map`, `filter`. Thank you.

[2020-04-16 06:40] yonzhan commented on #13020
add to S169

[2020-04-16 06:40] Juliehzl commented on #12399
@bluca For the latest `azure-storage-blob` we will support it in next sprint. I will let you know when supported.
Current plan for the feature is 4/30 if no additional issues.

[2020-04-16 06:44] yonzhan commented on #13037
add to S169

[2020-04-16 06:44] vbrinza opened #13043 "--resource Name or ID is a wrong"
"--resource
Name or ID of the target resource."
is a wrong statement because it works only with the ID.

az monitor diagnostic-settings list --resource asdasd-fw-acc-westeurope
Command group 'monitor' is in preview. It may be changed/removed in a future release.
usage error: --resource ID | --resource NAME --resource-group NAME --resource-type TYPE [--resource-parent PARENT] [--resource-namespace

[2020-04-16 06:50] yonzhan commented on #13043
add to S169

[2020-04-16 06:59] svkempf opened #13044 ""az storage share create" fails behind company proxy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share create --account-name {} --account-key {} --nam

[2020-04-16 07:05] qwordy commented on #12858
I opened a PR. But I find a problem. The SKUs are not consistent with result of az vm create --accelerated-networking --size Standard_DS1_v2
[code]

[2020-04-16 08:08] yonzhan commented on #13044
add to S169

[2020-04-16 08:28] bluca commented on #12399
Thank you!

[2020-04-16 08:32] yungezz commented on #12858
thanks @qwordy could you pls help to confirm the behavior with someone from compute team? before that is it ok for you to merge the PR after S168?

[2020-04-16 08:51] zhoxing-ms commented on #10028
The information in this issue is relatively large. After sorting it out, there are mainly the following problems:

1. Solved problems
The budget created by `az resource create budgets` can be seen in `az consumption budget list/show`, `az resource show` and portal (need to refresh).

2. Know issue
`Subscription <subscription id> is not associated with EA offer type (Request ID: <request id>)` prob

[2020-04-16 09:00] zhoxing-ms commented on #10028
The issues need to be solved by Service team:
1. The error `Request is missing a certificate` on first budget creation:

The first time to create a budget with PUT request:

Service returns the redirect URL

Request the URL of the asynchronous result

The Service return `{"error":{"code":"401","message":"Request is missing a certificate"}}`

When the PUT request is called for the second time, the

[2020-04-16 09:02] jiasli commented on #13031
Duplicate of #12837

[2020-04-16 09:02] #13031 closed

[2020-04-16 09:03] #12961 closed

[2020-04-16 09:22] sarndt opened #13047 "Azure China missing API version '2020-03-01' for type 'managedClusters' - API version 2020-03-01 is not supported"
## Describe the bug

Trying to get credentials via az aks get-credentials fails because of an unsupported API version.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Log in to Azure CLI with `az login`
- `az aks get-credentials --resource-gr

[2020-04-16 09:31] saad-hassanDS commented on #6478
Hi, Output of azr health check is this:
![image](https://user-images.githubusercontent.com/58459816/79439969-e5a59700-7fee-11ea-8e64-6d58cba2a2f4.png),

Still getting that timeout error

[2020-04-16 09:32] sarndt commented on #13047
Sorry, this seems to be an issue on our end (configuration) not an issue with Azure CLI itself, I will investigate this further and re-open in case I come to a different conclusion.

[2020-04-16 09:50] sarndt commented on #13047
Hello again, having to re-open this, what actually is the type of the resource provider that needs to be registered for this command to work? I don't see any unregistered resource provider that sounds correct, but I do see several registered ones that might be right. None of them have the exact name (managedClusters) though, how can I find out what the correct resource provider is?

[2020-04-16 09:50] jiasli commented on #10698
I see. The reason is that the doc generator parses `<resource-access-id>` as a possible HTML entity, but it doesn’t match up with an entity with what’s on the [Docs HTML Whitelist](https://review.docs.microsoft.com/en-us/help/onboard/admin/html-whitelist?branch=master), and the content is discarded.

I am thinking maybe we can quote the text with backtick `` ` `` like what `azure-cli-core` does: h

[2020-04-16 10:04] qwordy commented on #11961
I update help of --version first. Changing it to required when --version is set needs more discussion. It is a breaking change.

[2020-04-16 10:14] #12188 closed

[2020-04-16 10:50] jsntcy commented on #11888
@uveta,

- If you run the command `az monitor autoscale rule list -h`, you can see there is an optional argument `--profile-name` with default value `default`, as you created autoscale rule for AppService from Azure portal and the profile name for the autoscale is not `default`, so you need run command `az monitor autoscale rule list` with your `--profile-name`.
- You can find `--profile-name` on

[2020-04-16 11:14] asos-aysefasoulas opened #13050 "AKS disable cluster autoscaling errors with UnmarshalEntity encountered error"
**Describe the bug**
When attempting to disable cluster autoscaling on the AKS cluster, I receive the following error:
Operation failed with status: 'Bad Request'. Details: UnmarshalEntity encountered error: json: cannot unmarshal bool into Go struct field Properties.properties.autoScalerProfile of type string.

**To Reproduce**
The az aks command used is:
az aks update --resource-group "rg" --nam

[2020-04-16 12:18] yonzhan commented on #13050
aks

[2020-04-16 12:37] haroldrandom commented on #13000
Another option, implement the cleanup logic in KeyVaultPrepare

[2020-04-16 12:54] hscofield opened #13051 "az backup protect enable-for-azurefileshare fails"
BEGIN TEMPLATE
===============
**If possible, a browser will be opened to aka.ms/azcli/issues to create an issue.**
**You can also run `az feedback --verbose` to emit the full issue draft to stderr.**
**Azure CLI repo: aka.ms/azcli/issues**
**Azure CLI Extensions repo: aka.ms/azcli/ext/issues**

### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Attempting to a

[2020-04-16 13:03] gmartinezsan commented on #6545
hi @ccanizares, I faced the same issue. Can you put an example of your command line for this?

Thanks.

[2020-04-16 13:09] waitxd commented on #9585
Got the same error. [Passing --service-principal works](https://github.com/Azure/azure-cli/issues/9585#issuecomment-502542000).

[2020-04-16 13:09] yonzhan commented on #13051
backup

[2020-04-16 14:31] Kotasudhakarreddy commented on #13035
looking in to it.

[2020-04-16 16:05] jluk commented on #13050
@marwanad this look familiar to you?

[2020-04-16 16:31] AdminTurnedDevOps commented on #9867
Dang.. that's a shame about this bug. I was just trying to convince many users that the az cli command for managing consumptions would be great.... but....

[2020-04-16 16:44] ccanizares commented on #11195
As workaround you can use `az resource create` and format the template as string or use a json template from a file.

`az resource create -n ${functionsHost} -g ${mobilityRg} --resource-type Microsoft.Web/serverfarms --is-full-object --properties "{ \"kind\": \"functionapp\", \"location\": \"West Europe\", \"sku\": { \"name\": \"Y1\", \"tier\": \"Dynamic\", \"size\": \"Y1\", \"family\": \"Y\", \"c

[2020-04-16 18:42] marwanad commented on #13050
That's a known issue with AZ CLI 2.3.1.

Unfortunately, for now, the fix is to use CLI extensions `az extension add --name aks-preview
` or an older CLI version. Disabling through portal works too.

The next CLI release on 04/21/2020 will address this issue.

[2020-04-16 18:53] JeffinBao opened #13056 "az rest command working on v2.0.76 but not v2.1.0"
**Describe the bug**
I used the `az rest --method put --uri https://management.azure.com/subscriptions/{subscription_id}/resourceGroups/{resource_group}/providers/Microsoft.Web/sites/{app_name}/config/web?api-version=2019-08-01 --body '{\"properties\":{\"healthCheckPath\":\"/version\"}}'` with **v2.0.76**, it worked fine.
But when I tried the same command with **v2.1.0**, it gave this error: `ERRO

[2020-04-16 20:54] zyrustawa opened #13057 "appservice plan create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create --name {} --resource-group {} --loca

[2020-04-16 21:26] Guilhermeslucas commented on #12090
I was taking a look at this today. The problem is happening because of this [line](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L89). The resource group web app is trying to get the service plan from is the same as the web app. So, I see two options here:

- use the method list() from client.app_service_plans and filter for the app servic

[2020-04-16 22:32] ghstahl commented on #13028
I changed my initial requirement.
az cli must install under 4 seconds.

Terraform installed in under 4s via a github action and that was with a wget in the mix.

If makes API calls to azure, as does az cli.
A 5 min install is not an acceptable time compared to this direct competitor.

[code]

[2020-04-16 23:50] yonzhan commented on #13056
add to S169

[2020-04-16 23:52] RaymoEf opened #13058 "Webapp:issui while deploying zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-04-16 23:55] yonzhan commented on #13057
appservice

[2020-04-16 23:57] yonzhan commented on #13058
webapp

[2020-04-17 01:35] yungezz commented on #13047
routing to appropriate team

[2020-04-17 01:51] qwordy commented on #12858
OK. I updated my last comment. It's OK for me to merge after S168 and it's not ready to merge so far.

[2020-04-17 02:42] MyronFanQiu commented on #13043
@vbrinza Thanks. I will fix it later.

[2020-04-17 03:00] jsntcy commented on #11888
Close this issue as this issue was caused by missing necessary `--profile-name` argument when running `az monitor autoscale rule list`.

[2020-04-17 03:00] #11888 closed

[2020-04-17 03:54] zhoxing-ms commented on #9637
Hi @zikalino, we have another project `local context`. It can record the parameters entered by the customer, then these parameters will not need to be passed in when the customer executes the command afterwards, and their values are the values recorded by the `local context`.This simplifies the input of customer commands and reduces the copying and pasting of Resource IDs.
I personally think that

[2020-04-17 03:54] zhoxing-ms commented on #9637
This is the spec of `local context`: [spec link](https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EblAm0E86ylLpW7te7Gxj00BVV9Y3Dikexk6zShpQn38hQ?e=CmnPw0&CID=23353117-32A0-41A3-A7B7-9B10912BB202&wdLOR=c899EA140-C64D-42CA-8274-8A354C0D3165)
Please help to see if there are any unsolved problems after supporting the `local context`?

[2020-04-17 04:27] arrownj commented on #8149
Hi @rtcn2 , this should be fixed in our new release. You can upgrade to the latest version to solve this. I will close this issue first, you can create a new one if you have other problems. Thanks

[2020-04-17 04:27] #8149 closed

[2020-04-17 04:49] Juliehzl commented on #9292
could you please provide more information about the error? with `--debug` in your command to show more debug information.
I just tried and I cannot reproduce the scenario. It should work with account name and account key provided.

[2020-04-17 06:29] pvrk commented on #12789
@sengokyu : A gentle reminder.

[2020-04-17 07:31] #12177 closed

[2020-04-17 08:16] niand opened #13064 "PIM support"
**Is your feature request related to a problem? Please describe.**
We often need to set up resource groups that will require activation through PIM to access them. Currently we need to do this via the portal, which means RG creation cannot be automated fully. In addition, setting this up in PIM requires quite a few clicks today.

**Describe the solution you'd like**
Functionality in az cli to set

[2020-04-17 08:28] zhoxing-ms commented on #12798
Hi @Joseluismantilla, I can't reproduce your question. Could you please provide the following information?
1. You can view the Activity log of the Resource Group(prueba) on the portal after the delete operation fails. After clicking the failed operation name, there is a JSON information corresponding to the failure reason, then please tell me what is the error message?
2. If there is no obvious cl

[2020-04-17 08:33] #12736 closed

[2020-04-17 10:25] madsd commented on #11867
Thank you for your comments @jsmed-renson, @gavinbarron, @derekmckinnon .
Based on that I have drafted a modification to the command, where it looks for the key vault in the full subscription in context. If it does not find it, it will throw a warning saying:

_The Key Vault 'my-cert' was not found in the subscription in context. If your Key Vault is in a different subscription, please specify the

[2020-04-17 10:47] uveta commented on #11888
Thank you @jsntcy

It was not clear what was the issue from the error message I received. But thanks once again for clarification.

[2020-04-17 12:10] yonzhan commented on #13064
add to S170

[2020-04-17 12:19] rmcanall opened #13065 "az login fails"
Received attached error when trying to setup for frontline project. using "az login"
<img width="429" alt="Screen Shot 2020-04-17 at 7 14 39 AM" src="https://user-images.githubusercontent.com/47162642/79568603-bf7a0880-807b-11ea-8f2b-6c02d5cbb51d.png">

[2020-04-17 12:32] jiasli commented on #13064
Hi @niand, thanks for the feedback. However, Azure CLI currently has no native support for **Privileged Identity Management**.

You may call the [Microsoft Graph REST API for Privileged Identity Management](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-root?view=graph-rest-beta) directly with `az rest`. For examples, you may check https://github.com/Azure/azure-

[2020-04-17 12:33] yonzhan commented on #13065
add to S170

[2020-04-17 12:38] AdnanHodzic commented on #13030
@marwanad I wasn't. But now that I tried I have a problem with installing `aks-preview` extension, namely:

[code]

Any suggestions are welcome.

[2020-04-17 14:26] lprichar commented on #12908
In case anyone else comes across this, I ended up solving it by upgrading to the latest terraform version and terraform azure provider (that's taking azurerm from 1.32.1 to 2.0 and terraform from 0.12.17 to 0.12.24).  Then I deleted the cluster and had Terraform recreate it.  Now it scales from the command line just fine.  I suspect the relevant change it made is changing the type of node pool fro

[2020-04-17 14:44] arrownj commented on #11192
Hi @stmaute , sorry for reply late. I think you can use `az vmss nic list` to get private ip of each instance.

[2020-04-17 15:07] panchagnula commented on #12629
Thanks for reporting same root cause as this one https://github.com/Azure/azure-cli/issues/12834
Closing this as Duplicate.

[2020-04-17 15:07] #12629 closed

[2020-04-17 15:10] panchagnula commented on #12795
Looks like you are using Powershell for running the CLI command if so yes you need to escape the command since runtime contains character "|" which has special meaning in PowerShell

[2020-04-17 15:10] #12795 closed

[2020-04-17 15:11] panchagnula commented on #12834
When fixing this we need to consider the updates to the command for different RG and ASP.

[2020-04-17 15:14] panchagnula commented on #7707
@ThejaChoudary / @Kotasudhakarreddy can we check if this repros on the latest CLI version and get more info if needed from customers facing this.

[2020-04-17 15:16] panchagnula commented on #6155
Seems like a low hanging fruit we can take care of soon.

[2020-04-17 15:17] panchagnula commented on #9804
Sent email to the feature crew for design meeting so we can start working on implementation when design is approved.

[2020-04-17 15:20] dcoder4 opened #13070 "az functionapp deployment source config-zip requests/sets invalid SAS Uri in WEBSITE_RUN_FROM_PACKAGE"
**Describe the bug**
When using "az functionapp deployment source config-zip" on a serverless app it sets a Blob Storage SAS Uri of the zip file in the WEBSITE_RUN_FROM_PACKAGE Functions App, Application Settings. The SAS Uri though is not valid setting the wrong Start Time using the local devices start time, but setting the timezone to GMT. This would only effect regions >GMT time - i.e. for me,

[2020-04-17 15:26] panchagnula commented on #10267
Will enable the test in the next PR

[2020-04-17 15:27] panchagnula commented on #1337
@btardif just checking if this change is ready and deployed for consumption? Thank you.

[2020-04-17 15:28] panchagnula commented on #6463
We should get this post //BUILD milestones

[2020-04-17 15:29] panchagnula commented on #7617
We need to design these commands - adding a milestone to track the design phase/plans.

[2020-04-17 16:43] andres-ab commented on #13029
I tried the command again in dryrun, and it finished in 2180 sec (a lot of time !)

az storage blob delete-batch \

Thank you.

[2020-04-17 18:17] jluk commented on #13047
This is a known issue awaiting an API deployment in Azure China, ETA to be shared in a week

[2020-04-17 18:52] luis-sandoval-jdas opened #13071 "I get this issue when I try to get info from api-management resource via azure-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim show --name {} --resource-group {}`

## Expected Behavior

## Envir

[2020-04-17 19:00] panchagnula opened #13072 "webapp: support connecting privately to a Web App using Azure Private Endpoint"
**Is your feature request related to a problem? Please describe.**
https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal

**Describe the solution you'd like**

**Update:**

Changed to support connecting privately to a Web App using private endpoint connections under `az network private-endpoint-connection`

The following commands:
`az network private-link-servic

[2020-04-17 19:03] duduz commented on #7579
@jiasli, it does provision the app but a part of the the icon for the app, nothing really being inherited to the new provisioned application
when provisioning from applicationTemplates, ending up with servicePrincipal and an application objects
application doesn't inherit an randomly generated identifierUri
servicePrincipal doesn't inherit the additional claims required, in addition, there's no Ke

[2020-04-17 19:32] systo opened #13073 "az account list-locations fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``az account list-locations

**Errors:**

The command failed with an unexpected error. Here is the traceback:

[Errno 30] Read-only file system: '/home/alex/.azure/commands/2020-04-17.19-30-28.account_list-location.202.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-

[2020-04-17 19:56] travis-sobeck opened #13074 "az aks create AttributeError: 'NoneType' object has no attribute 'client_id'"
I just updated to the latest version of Azure CLI and az aks create is bombing with a less than helpful response (to me).

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informat

[2020-04-17 19:59] travis-sobeck commented on #13074
by the way, if just remove '--enable-managed-identity' and leave everything else,  it kicks off the build.  This would be so bad accept afaik you can NOT go back later and enable managed identity and this seems to very clearly be the recommended path forward as apposed to S.Ps

[2020-04-17 20:01] ishaniGupta27 opened #13075 "AZ CLI support for Security Partner Provider"
**Resource Provider**
NRP (Microsoft.Network)

**Description of Feature or Work Requested**
Security Partner Provider is a new Top Level Resource in NRP which represents the 3rd Party Security Providers in Virtual Hub.

**Minimum API Version Required**
03-01-2020

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/sta

[2020-04-18 00:05] yungezz commented on #13074
routing to appropriate team

[2020-04-18 00:08] yungezz commented on #13075
service team support request

[2020-04-18 00:08] yungezz commented on #13073
hi @arrownj could you pls have a look? thanks

[2020-04-18 00:14] jluk commented on #13074
@JunSun17 does this error look familiar in relation to the other nonetype errors we've resolved?

[2020-04-18 00:29] JunSun17 commented on #13074
@jluk I think so, they all just mean something is null, and not as expected.

[2020-04-18 00:45] yonzhan commented on #13070
functionapp

[2020-04-18 00:48] yonzhan commented on #13029
@andres-ab Thanks. Was your issue resolved?

[2020-04-18 00:49] yonzhan commented on #13071
apim

[2020-04-18 00:50] yonzhan commented on #13072
webapp

[2020-04-18 00:52] yonzhan commented on #13075
add to S169

[2020-04-18 01:19] PandaonMars commented on #12308
I met the same issue. I was using CLI on VM machine. I could not access ssh from the terminal or from the website.

[2020-04-18 01:31] yonzhan commented on #12347
Any update from Service team about it?

[2020-04-18 01:37] #12506 closed

[2020-04-18 01:40] #10076 closed

[2020-04-18 02:00] yonzhan commented on #8891
@karravi-msft any feedback or update?

[2020-04-18 02:05] yonzhan commented on #12546
@allegradomel  any update for this issue?

[2020-04-18 02:11] yonzhan commented on #12857
cdn

[2020-04-18 03:25] marwanad commented on #13030
@AdnanHodzic
the errors point to a distro mismatch issue:
[code]

As mentioned, edit `/etc/apt/sources.list.d/azure-cli.list` to use your distro, 'focal' then run `apt-get update`. Then try adding the extension again.

[2020-04-18 04:27] #12093 closed

[2020-04-18 04:29] troyridge opened #13077 "az sql server ad-admin create failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Fails with error below

**Command Name**
`az sql server ad-admin create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

- `az sql server ad-admin create --di

[2020-04-18 04:47] yonzhan commented on #12291
Hi @Guilhermeslucas, any update?

[2020-04-18 05:27] yonzhan commented on #12855
@onionhammer any update?

[2020-04-18 05:38] #12879 closed

[2020-04-18 07:41] yonzhan commented on #13077
sql

[2020-04-18 07:53] yonzhan commented on #10562
@jurgyy any feedback ?

[2020-04-18 07:56] yonzhan commented on #9637
add to Backlog

[2020-04-18 07:57] #12706 closed

[2020-04-18 08:01] AdnanHodzic commented on #13030
@marwanad right, but as I mentioned in https://github.com/Azure/azure-cli/issues/9585#issuecomment-608319542 I had to use `disco` instead of `focal` since your repositories still don't support focal release.

And with `focal` Ubuntu 20.04 next LTS  release just being around the corner, I would ask you add support for it as well.

[2020-04-18 08:02] yonzhan commented on #12314
@nachakra any update?

[2020-04-18 08:11] yonzhan commented on #12866
@pitpar any feedback?

[2020-04-18 08:15] #9831 closed

[2020-04-18 08:29] yonzhan commented on #11949
service issue

[2020-04-18 08:44] #12907 closed

[2020-04-18 08:49] yonzhan commented on #12953
@RajeevTomar was your issue resolved by above?

[2020-04-18 08:51] #12970 closed

[2020-04-18 11:01] fengzhou-msft commented on #12979
@TheCodeFiend did you see the following message in a popup when Powershell starts to download the package? BTW, when you relaunch Powershell, you don't need to run as administrator, but this should not affect running az.
![image](https://user-images.githubusercontent.com/55177366/79635349-f0a12880-81a2-11ea-8038-9447c2b1705e.png)

[2020-04-18 11:12] fengzhou-msft commented on #12846
You'll need a python 3.6+ environment to run azure-cli 2.3.x, either a virtual environment or build from source, but since you don't have sudo access, I'm not sure if it's possible for you.

[2020-04-18 11:16] fengzhou-msft commented on #12845
@Joe-TJ please run `apt-cache policy azure-cli` to list the available versions. Then install with `sudo apt-get install azure-cli=<version-name>`. For instance on bionic:
`sudo apt-get install azure-cli=2.0.68-1~bionic`

[2020-04-18 11:19] #12714 closed

[2020-04-18 11:22] fengzhou-msft commented on #12758
@shmink We could add extra logic for Mint in the script. How can I know which Ubuntu it is based on? I assume there are other Mint versions as well.

[2020-04-18 11:23] #12707 closed

[2020-04-18 11:28] fengzhou-msft commented on #9667
Close due to inactivity. Please feel free to reopen it if you still have the same issue with the latest Azure CLI version.

[2020-04-18 11:28] #9667 closed

[2020-04-18 11:37] dreijer commented on #8122
I'm seeing the same behavior as ryanjerskine simply by following the devspaces tutorial, which hangs the entire IDE when attempting to run with devspaces. I'm using VS2019 16.4.7.

[2020-04-18 11:38] yonzhan commented on #10511
add to S169

[2020-04-18 12:08] yonzhan commented on #11105
Hi @zffocussss, any feedback/update for this ?

[2020-04-18 12:21] alpaltnsy opened #13078 "Can not deploy my bot. Error in the LAST STEP!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-04-18 12:35] yonzhan commented on #11118
Hi @Spyntek, any feedback/update?

[2020-04-18 12:43] yonzhan commented on #13078
webapp

[2020-04-18 12:46] yonzhan commented on #9703
add to S170

[2020-04-18 12:49] yonzhan commented on #10837
add to S170

[2020-04-18 12:51] yonzhan commented on #12668
move to S169

[2020-04-18 12:51] yonzhan commented on #12613
move to S169

[2020-04-18 12:52] yonzhan commented on #12602
move to S169

[2020-04-18 12:52] yonzhan commented on #12507
move to S169

[2020-04-18 12:53] yonzhan commented on #11698
move to S169

[2020-04-18 12:53] yonzhan commented on #11634
move to S169

[2020-04-18 12:53] yonzhan commented on #11137
move to S169

[2020-04-18 12:54] yonzhan commented on #10230
move to S169

[2020-04-18 12:54] alpaltnsy commented on #13078
what do you mean? I am new to Microsoft Azure. Could you please elaborate on your answer?

[2020-04-18 12:55] yonzhan commented on #11340
move to S169

[2020-04-18 12:55] yonzhan commented on #5598
move to S169

[2020-04-18 12:56] yonzhan commented on #10229
move to S169

[2020-04-18 12:59] yonzhan commented on #13024
add to S169

[2020-04-18 13:29] #13078 closed

[2020-04-18 13:44] qwordy opened #13079 ""-o table" displays incorrectly"
**Describe the bug**

"-o table" displays incorrectly when the line is long. It can not fit into my screen. The line wraps.

az vm list-skus -l westus2 -z true -s L16 -o table
ResourceType     Locations    Name              Zones    Capabilities

[2020-04-18 13:51] qwordy commented on #13079
OK. I will fix it.

[2020-04-18 14:06] onionhammer commented on #12855
@yonzhan I ended up encoding with base64 to work around this issue. I still consider this a bug though, so I'm leaving it open intentionally..

[2020-04-18 17:13] dhiraj-raj commented on #12101
hello, can anyone attach the aks-deploy.json and aks-parameter.json file where they have used key-vault for client id and client secret

[2020-04-18 18:03] shmink commented on #12758
[Programatically](https://unix.stackexchange.com/questions/270199/which-version-of-ubuntu-is-my-linux-mint-installation-based-on)

Also, [this list](https://en.wikipedia.org/wiki/Linux_Mint_version_history#Release_history) normally helps me.

[2020-04-18 18:56] mikaelweave commented on #12513
@anthonychu I've been experiencing this issue for like a year and figured with all the time at home I can finally help to fix it. :+1:

**Function Env**:
Function App I'm using - `mikaeldevsite`:
[code]

**Command Producing Error**:
`az functionapp deployment source config-zip --name $RESOURCE_NAME --src azure-web-img-dwnszr.zip`

**Error Produced**:
Exact same as orig. post. The reason why I have

[2020-04-18 18:59] marwanad commented on #13030
@AdnanHodzic hmm, does reinstalling libffi6 work or running azure cli via docker?

The packaging issue is more of an issue with CLI.  I'd suggest you open a separate issue for that so it can be routed to the core team.

[2020-04-18 19:22] pmansour opened #13080 "Permission Denied when running 'az storage blob upload-batch' on WSL"
Context: I was following the steps [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-how-to?tabs=azure-cli#upload-files) to upload files to a storage account from a fresh install of the Azure CLI on WSL.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

[2020-04-18 19:23] pmansour commented on #13080
Full commandline: `az storage blob upload-batch -s ./ -d \$web --account-name <REDACTED>`

[2020-04-18 19:25] #13080 closed

[2020-04-18 19:25] pmansour commented on #13080
Turns out I was in the wrong directory and was thrown off by the reference to 'Application Data'.

[2020-04-18 22:02] AdnanHodzic opened #13081 "Add support for Ubuntu 20.04 (Focal Fossa) release"
**Is your feature request related to a problem? Please describe.**

`az cli` can't be installed on Ubuntu 20.04 using `apt` after referring to [official method](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest), as right after `apt update` user will be greeted with following error:

[code]

As I originally pointed out in https://github.com/Azure/azure-cli/issu

[2020-04-18 22:03] AdnanHodzic commented on #13030
@marwanad problem is that `libffi6` is not available in 20.04 `focal` repos, last Ubuntu release it was in is 19.04 `eoan`.

However, out of sheer curiosity I [downloaded libffi6 for 19.04 release](https://packages.ubuntu.com/eoan/libffi6), installed it and it worked.

[code]

After which I was able to add `--cluster-autoscaler-profile scan-interval=30s` option to my cluster.

I created a feature

[2020-04-19 00:26] yonzhan commented on #13081
@fengzhou-msft please take a look

[2020-04-19 03:07] jiasli commented on #7579
Hi @duduz, as for the API issue, since it is not under Azure CLI's coverage yet, do you mind creating a support ticket and contact AAD team directly? Thanks for understanding.

[2020-04-19 06:10] dbartz opened #13083 "azure-cli on ubuntu 18.04 does not find IoT Hub"
## Describe the bug

I wanted to run the IoT Edge Tutorial
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux
using the azure-cli on my own Ubuntu notebook (the tutorial uses cloud shell).

**Errors:**

After creating the IoT Hub,
`az iot hub device-identity create --hub-name {correct-hub-name} --device-id myEdgeDevice --edge-enabled`
fails:
`No IoT Hub found with name {correct-hub-n

[2020-04-19 08:33] duduz commented on #7579
Hi @jiasli, will do. in addition, i've raised a issue in azure-rest-api-specs repo.

[2020-04-19 09:08] qianwens commented on #13083
IOT hub issue.

[2020-04-19 14:17] sunnyjit opened #13085 "Azure graph query --include option gives output for some query only"
**Describe the bug**
az graph query --first 1 -q "where type =~ 'Microsoft.Network/dnsZones' " --include displayNames

OUTPUT:
subscriptionDisplayName : <subscription name>"
with subscription id

where as the following query:

az graph query   --first 1   -q " Resources | where type =~ 'microsoft.compute/disks' | where properties.diskState =~ 'Unattached'  " --include displayNames

OUTPUT:
Invalid

[2020-04-19 16:10] #13085 closed

[2020-04-19 16:10] sunnyjit commented on #13085
az graph query --first 1 -q "where type =~ 'microsoft.compute/disks' | where properties.diskState =~ 'Unattached' " --include displayNames

This worked fine.

[2020-04-19 19:18] DataBytzAI opened #13087 "K8S dashboard being lost on cloud-shell timeout."
### **This is autogenerated. Please review and update as needed.**

cloud shell timed out.
went to login again and reopen dashboard.
failed with error.
tried again using '--listen-port:8089' .... gave the error below.... repeatable.

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may cont

[2020-04-19 22:50] yonzhan commented on #13087
aks

[2020-04-20 01:51] jiasli commented on #13065
Could you click on **More details** and share the information? Thank you.

[2020-04-20 01:57] #9501 closed

[2020-04-20 01:57] sourav-dey opened #13088 "Unable to create service fabric cluster using azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a new azure test group to put the service fabric into_
- `az sf cluster create --resource-group {} --

[2020-04-20 02:00] yonzhan commented on #13088
service fabric

[2020-04-20 02:01] MyronFanQiu commented on #13075
@ishaniGupta27 Hi. Is the word `Provider` necessary for customers? `security-partner-provider` is quite long and I'm planning to name in `security-partner` in cmdlet. Is that possible?

[2020-04-20 02:13] jiasli commented on #10911
is a result of

https://github.com/Azure/azure-rest-api-specs/blob/a3182203860809ab5e9789ce032a42fc1b188fdc/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L3388

[2020-04-20 02:19] MyronFanQiu commented on #13020
@Nilambari Hi. Could you give me the mock commands or the set of Powershell commands?

[2020-04-20 02:24] zhoxing-ms commented on #12874
Hello @Andriy-dev, the host of `http://localhost:50342/oauth2/token` for oauth is `localhost`, which doesn't look right.
May I ask what you have configured locally? For example, Is there an agent?

[2020-04-20 02:28] Andriy-dev commented on #12874
Hello @zhoxing-ms , I used standard procedure, az login and than az group create. In ether case right now it works fine.

What kind of debugs / outputs should I collect if this happens again ?

[2020-04-20 02:37] zhoxing-ms commented on #12874
You could probably add `--debug` to the original command. Can your question be reproduced?

[2020-04-20 02:41] Juliehzl commented on #12357
Hi @lotaezhao, thanks for your feedback! Actually it is by design because we will add breaking change for such usage, which will make credential information required in command to avoid extra request in server side.
In addition, `--only-show-errors` is supported in latest CLI to filter warning message. But I will recommend you to add additional credentials to prevent the changes in the future.

I

[2020-04-20 02:41] #12357 closed

[2020-04-20 02:41] jiasli commented on #10041
I think the limitation on Storage Account name is out of the scope of Azure CLI.

The reason why it has to be [globally unique](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-portal#create-a-storage-account) is because the name is used as part of the [domain name](https://docs.microsoft.com/en-us/azure/storage/blobs

[2020-04-20 02:41] #10041 closed

[2020-04-20 02:45] Juliehzl commented on #12346
Thanks for your feedback! For storage part, what we can do is just to report it is related to keyvault, and it is hard for us to point to specific keyvault command because it may change in different keyvault version.
@bim-msft Could you please help evaluate if we need a more verbose errorfor --retention-days less thatn default value?

[2020-04-20 02:50] lexguy20 opened #13093 "ModuleNotFoundError: No module named 'azure.mgmt.iothub.iot_hub_client'"
I am trying to generate sas token as:
az iot hub generate-sas-token --duration 3600 -n <hub name>
and getting following error:
The command failed with an unexpected error. Here is the traceback:

No module named 'azure.mgmt.iothub.iot_hub_client'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execut

[2020-04-20 02:52] Juliehzl commented on #12193
Because there is no response for several days, I will close this issue and if there is any problem, feel free to let me know.

[2020-04-20 02:52] #12193 closed

[2020-04-20 02:55] Juliehzl commented on #10772
@para0056 Could you please try with subnet id as I shown above? You can use a subnet in another resource group with resource id.

If there is any problem, feel free to let me know.

[2020-04-20 02:58] Juliehzl commented on #11105
Because there is no response for several days, I will close this issue and if there is still a problem, please feel free to reopen it.

[2020-04-20 02:58] #11105 closed

[2020-04-20 03:19] Juliehzl commented on #10235
Hi @jiasli it is already supported in `az storage account blob-service-properties`. Please have a try. 😊

[2020-04-20 03:19] #10235 closed

[2020-04-20 03:41] hughesjon commented on #12193
I don't understand why this has been closed.  The problem I reported hasn't changed at all - i.e. ```az storage entity``` commands don't support ```--auth-mode login``` and output an invalid warning message to do so.  I have updated to 2.3.1 and this hasn't changed.

[code]

[2020-04-20 03:42] zhoxing-ms commented on #12885
Hi @mattcuk, I tried to use the resource name `logic-app-test-la failed`, but I didn't reproduce your problem.
Could you please print out the result of the execution of command `az resource list --resource-type Microsoft.Insights/metricAlerts --query [].id --output tsv`, and show it to me?

[2020-04-20 04:38] Juliehzl commented on #12193
You need to add `--only-show-errors` in your command.

[2020-04-20 04:41] hughesjon commented on #12193
I don't think you understand what I am saying.  I have no problem with a warning being shown, but the thing that the warning says is *wrong*.  The ```--auth-mode login``` option doesn't work.

[2020-04-20 04:46] hughesjon commented on #12193
If ```--auth mode login``` doesn't work, then I shouldn't get a warning message that says to use it!

[2020-04-20 04:54] Juliehzl commented on #12193
Currently we only throw warning message for all possible credentials missing scenarios.
And thanks you feedback. We will consider refining the warning message to let users find the suitable way by themselves.

[2020-04-20 05:26] #12957 closed

[2020-04-20 05:34] qwordy commented on #11821
I find a bug in the rest api doc.
https://github.com/Azure/azure-rest-api-specs/issues/9130

[2020-04-20 05:37] jiasli commented on #12027
It seems the `--role-definition` parameter lacks `roleName`. Please make sure `--role-definition` is provided in the correct format. You may check the example with

[code]

[2020-04-20 05:39] jiasli commented on #12084
Without a proper fix from Colorama, we have added an option to disable color in https://github.com/Azure/azure-cli/pull/12604:

[Core] PREVIEW: Allow disabling color by setting `AZURE_CORE_NO_COLOR` environment variable to `True` or `[core] no_color=True` config (#12601)

[2020-04-20 05:39] #12084 closed

[2020-04-20 05:41] qwordy commented on #12527
I have reported this issue to Docs team in internal channel.

[2020-04-20 06:04] jiasli commented on #12212
This is because Azure CLI uses [`customKeyIdentifier`](https://github.com/Azure/azure-rest-api-specs/blob/ad6d5f6467aaab8cda44ceaa2863f84359c1e022/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L2785) while Azure Portal use `displayName` which only belongs to the private 2.0 API.

Since AD Graph has been deprecated, you may use `az rest` with Microsoft Graph. Acco

[2020-04-20 06:56] jurgyy commented on #10562
I haven't tested it myself yet, but if it works this workaround is fine I guess. Not much you can do about Powershell's special characters anyway. Thanks!

[2020-04-20 07:20] qwordy commented on #12461
I tried this command and it succeeds.
[code]
Can you share the complete commands of how you create lb and vmss?

[2020-04-20 07:22] danielbecroft opened #13091 "Ability to enable threat protection for Postgres"
**Is your feature request related to a problem? Please describe.**
When running the Azure Database for PostgreSQL server instance, I can enable Advanced Threat Protection (public preview) at the server level. This is only available in the portal, or the REST API, but not the CLI.

**Describe the solution you'd like**
A new option to enable threat protection on a PostgreSQL server instance.

[code]

[2020-04-20 07:37] qianwens commented on #12480
@Krystof-pl , this command failed when try to "get_msi_token". It seems to be a transient error in cloud shell. Do you still meet this error after retry?

[2020-04-20 07:55] qianwens commented on #12691
@johanste , for the unique name of one resource, I think you can append a datetime string in the resource name like mystorage20204201232. This name can be generated in the script. I will keep this issue as feature request and see if we have more votes for this feature.

[2020-04-20 07:58] e14mattc commented on #12885
Sure.. here's a sample of some of the results.. I've removed the subscription ID + changed some of the names a bit..

[code]

Hope this helps.

[2020-04-20 08:34] zhoxing-ms commented on #10562
@jurgyy OK, I'll close it first. If you still have any other questions, please feel free to let us know~

[2020-04-20 08:34] #10562 closed

[2020-04-20 08:36] yonzhan commented on #13091
postgres

[2020-04-20 08:50] zhoxing-ms commented on #12885
@e14mattc Hi, I created some new alerts based on these examples, and the problem still can't be reproduced.
Could you please add `--debug` to the original command? And then please show me the information returned, thanks~

[2020-04-20 08:57] qianwens commented on #12866
Close this issue since no response for more than 15 days. Please create a new issue if you still meet this error.

[2020-04-20 08:57] #12866 closed

[2020-04-20 09:00] #12153 closed

[2020-04-20 09:01] e14mattc commented on #12885
I'm going to email you direct @zhoxing-ms .. since I'm loathed to paste in production output here. Hope that's ok.

[2020-04-20 09:18] yungezz commented on #13088
@a-santamaria

[2020-04-20 10:52] m1ckr1sk commented on #12710
We are also seeing this issue on both v2.2.0 and v2.3.1 when deploying function apps

[2020-04-20 12:14] sarndt commented on #13047
Thanks @jluk for the details, I will wait for the deployment and china and retry afterwards.

[2020-04-20 12:36] MikaelEliasson commented on #7245
@singhramkumar Did you get it properly handle slotsettings? No matter what I do all settings are written as slot settings when I use the JSON file

[2020-04-20 13:12] kwaazaar commented on #13050
I get the same issue when scaling manually: UnmarshalEntity encountered error: json: cannot unmarshal bool into Go struct field Properties.properties.autoScalerProfile of type string.

I have autoscaler enabled, so probably should have disabled it first. Nevertheless, this is not the error I expected.

Also using 2.3.1.

[2020-04-20 13:36] #11144 closed

[2020-04-20 13:42] yungezz commented on #13087
commands in core.

[2020-04-20 14:26] travis-sobeck commented on #13074
like I said, removing the flag, it worked as normal so I know there were not any null values :)

[2020-04-20 15:05] krezreb opened #13092 "az storage blob copy start-batch hangs indefinitely"
[code]

**Describe the bug**

`az storage blob copy start-batch ...` command hangs indefinitely on linux

**To Reproduce**

As per this documentation: https://docs.microsoft.com/en-us/learn/modules/copy-blobs-from-command-line-and-code/4-exercise-move-blobs-using-cli

Having set the appropriate env vars, When I do

[code]
The command hangs indefinitely without any feedback.
If I run the same comma

[2020-04-20 15:28] coreywagehoft commented on #12894
@jluk any updates when this will be resolved?

[2020-04-20 15:43] RajeevTomar commented on #12953
No.
I am trying to debug azure function remotely in VS code.
when i call below command it throw the error i posted earlier.
dbgproxy my-function.azurewebsites.net

[2020-04-20 16:23] jluk commented on #12894
Working on it, should have an ETA this week thank you for the patience. cc @tomgeske

[2020-04-20 16:51] palma21 commented on #13030
Closing, and using the linked issue to track.

[2020-04-20 16:51] #13030 closed

[2020-04-20 16:52] johanste commented on #12691
Appending a datetime does not solve the problem since that would make my script non-idempotent. I really need my scripts to be idempotent.

[2020-04-20 17:59] travis-sobeck commented on #13074
After updating vscode (not really sure that's relevant, but ..), I scrapped my cluster a rebuilt, the only change was I set the node/vm type to 'Standard_E2s_v3', everything else is the same and it build the cluster just fine with the '--enable-managed-identity' flag.

[2020-04-20 18:01] travis-sobeck commented on #13074
I'll open an new issue  if the issue comes up again

[2020-04-20 18:01] #13074 closed

[2020-04-20 18:33] #12985 closed

[2020-04-20 19:14] rohinkoul commented on #8891
@yonzhan Nameserver assignment is based on a hashing mechanism. However this can change in future and customers must not rely on this. Please close this issue.

[2020-04-20 19:20] Nilambari commented on #13020
Virtual Wan Point to Site feature total 11 command lets:-

Resource: VppnServerConfiguration 4 commands:-
PS commadlets @https://github.com/Azure/azure-powershell/tree/master/src/Network/Network/Cortex/VpnServerConfiguration
New-AzVpnServerConfiguration
Update-AzVpnServerConfiguration
Get-AzVpnServerConfiguration
Remove-AzVpnServerConfiguration

Resource: P2SVpnGateway 7 commands:-
PS commadlets @

[2020-04-20 20:30] #8891 closed

[2020-04-20 21:03] devbeard opened #13095 "Configurable mime-types for upload-batch"
**Is your feature request related to a problem? Please describe.**

When using a storage account as a static file host and uploading a large set of files, it is really annoying when the content type is guessed wrong. Especially since these metadata seems impossible to update via `az`.

Example: woff2 file should (since 2017) have content type `font/woff2`, but is uploaded as `application/octet-str

[2020-04-20 21:21] chwarr opened #13096 "create --throughput for database with their own throughput"
Please clarify the `create --throughput` parameter, especially concerning how it interacts with database-level throughput and containers that need to not have their own throughput.

The documentation for the `create --throughput` parameter doesn't clearly explain how to create a container with no throughput, like one inside a database with database-level throughput. The documentation says "Default

[2020-04-20 21:45] j3pic commented on #6409
For me, removing the Pyenv install of Python was necessary after reinstalling OpenSSL:

    rm -rf ~/.pyenv
    pyenv install `cat .python-version`

[2020-04-20 22:15] yonzhan commented on #13092
add to S170

[2020-04-20 22:20] yonzhan commented on #13093
iot hub

[2020-04-20 22:25] yonzhan commented on #13095
add to S170

[2020-04-20 22:27] yonzhan commented on #13096
cosmosdb

[2020-04-20 22:42] jkdey commented on #12846
Encountering the same issue with Python 3.7.5

[2020-04-21 00:06] yungezz commented on #13096
routing to appropriate team

[2020-04-21 00:07] lfittl-msft commented on #13091
@danielbecroft We unfortunately don't have support for enabling Advanced Threat Protection via CLI at this point, as the Advanced Threat Protection functionality is in Preview.

As you describe, this can be automated through the REST API as a workaround.

We are looking to enable this in the future, but don't have an exact ETA we can share at this point. Hope that helps!

[2020-04-21 01:04] dcoder4 commented on #13070
Okay so have determined, it does not matter which region services sit in the cloud (originally I was using Australia East, but even moving services to East US I still get the issue. This proves it is using the local time of the PC running the az functionapp command, but not using the PCs timezone. I have updated my opening post above with this correction.

[2020-04-21 01:43] jiasli commented on #12953
@RajeevTomar, could you provide the information as suggested in https://github.com/Azure/azure-cli/issues/12953#issuecomment-611981402? Also, as this is not really related to Azure CLI itself, you may open a support ticket to Azure Function team to get the right expert to look at it.

[2020-04-21 02:58] zhoxing-ms commented on #12885
@e14mattc OK, thanks~ Has the email been sent? I don't seem to have received it

[2020-04-21 03:11] jiasli commented on #12257
Thank you @jaijitendra, I tested in PowerShell 7.0.0 again and the issue seems to be gone.

[code]

Another option is to turn off the warning.

[code]

If the preview warning is causing problem, you may use `--only-show-errors` of Azure CLI to disable that. We introduced it in https://github.com/Azure/azure-cli/pull/12604:

[Core] PREVIEW: Add `--only-show-errors` global argument to mute all warni

[2020-04-21 05:53] djaus2 opened #13098 "issue with .cer certificate"
I have generated a ValidationCertification.cer file.
I now want to upload it and verify the certificate, without going to the Azure Portal.

```az iot dps certificate verify ``` only has and example for a .pem file.
Can I not use this command with the .cer file?

Nb: tried that and got:
[code]

The etag used was from the earlier ``` az iot dps certificate create``` command and used in the ```az io

[2020-04-21 06:48] usrme opened #13100 "Using '--public-access off' when creating storage container causes creation to fail"
## Describe the bug

**Command Name:**

`az storage container create`

**Errors:**

[code]

## To Reproduce:

- `az storage container create --name {} --account-name {} --account-key {} --public-access off`

## Expected Behavior

A more meaningful error message stating that setting `public-access` is no longer needed in the latest version.

## Environment Summary

[code]

Also tested in:

[code]

[2020-04-21 06:54] arrownj commented on #12126
Hi @MarcDenman , this issue should be fixed in our latest version. You can have a try. I will close this issue first, if you have other problems, you can submit a new one. Thanks

[2020-04-21 06:54] #12126 closed

[2020-04-21 06:56] arrownj commented on #11192
Hi @stmaute, if you have no more questions, I will close this issue first. You can reopen it or submit a new one if you have other questions. Thanks

[2020-04-21 06:56] #11192 closed

[2020-04-21 06:57] qwordy commented on #12199
Azure CLI 2.4.0 has been released. It fixes this issue.

[2020-04-21 06:57] #12199 closed

[2020-04-21 06:57] qwordy commented on #12315
Azure CLI 2.4.0 has been released. It fixes this issue.

[2020-04-21 06:57] #12315 closed

[2020-04-21 06:57] qwordy commented on #12207
Azure CLI 2.4.0 has been released. It fixes this issue.

[2020-04-21 06:57] #12207 closed

[2020-04-21 07:00] arrownj commented on #11534
Hi @mrajaian @fume , we support `--optional-claims`, you can upgrade to our latest version and run `az vmss create -h` or `az vmss update -h` to see how to use it. And please kindly be noted that as a known issue of graph sdk, now we only support `idToken` and `accessToken` for optional claims. `samlToken` is not supported currently.

[2020-04-21 07:01] JoranDox opened #13101 "az keyvault show doesn't work on ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret show --name {} --vault-name {} --output {} --

[2020-04-21 07:05] arrownj commented on #12692
Hi @ecalder6 @FrancisGrignon , this issue is fixed in CLI 2.4.0. You can upgrade and have a try. Thanks

[2020-04-21 07:07] jiasli commented on #11534
BTW, we will track MS Graph issues at https://github.com/Azure/azure-cli/issues/12946.

[2020-04-21 07:08] arrownj commented on #11144
This issue is fixed and code merged. It should be involved in version 2.5.0

[2020-04-21 07:09] arrownj commented on #12119
Hi @alex-goncharov @SnoWolfT , this issue is fixed in version 2.4.0. You can upgrade your version and have a try. Thanks

[2020-04-21 07:25] jiasli commented on #11534
BTW, you may also use `az rest` to call MS Graph API. See https://github.com/Azure/azure-cli/issues/12946.

[2020-04-21 07:32] arrownj commented on #12878
Similar to #12779 . Please use the official `azure_mgmt_resource` sdk and let us know if there are other problems.

[2020-04-21 07:32] #12878 closed

[2020-04-21 07:46] e14mattc commented on #12885
@zhoxing-ms yes, I sent it at 10am BST yesterday. I wonder if it got stuck in a spam filter due it having a .txt file attachment? The email address I used was your MS account which you have on your GitHub profile. I'll send another with the output in the email itself, rather than an attachment.

[2020-04-21 07:55] RajeevTomar commented on #12953
Thank you for your support.
I will create the ticket to Azure function Team.

[2020-04-21 08:05] shwetazambre commented on #11315
I am also looking for a help on "Wildcards in repository names ", any update on this?

[2020-04-21 08:19] yonzhan commented on #13098
iot

[2020-04-21 08:22] yonzhan commented on #13100
add to S170

[2020-04-21 08:29] arrownj commented on #12559
Hi @OrionGG , is this run in Cloud Shell ? If yes, this should be a known issue of Cloud Shell. There are several similar issues before. You can reference #9345 to get a workaround solution. Normally, you need run `az login`. I will close this issue first, if you have other problems, you can reopen it. Thanks

[2020-04-21 08:29] #12559 closed

[2020-04-21 08:30] JoranDox commented on #13101
I reinstalled azure cli from the script instead of apt, and now it works, probably some issue with the older version still in apt.

az version now gives:
{
  "azure-cli": "2.4.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.4.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}
}

[2020-04-21 08:45] FigaroCao opened #13103 "Unable to add IoT extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --name {}`

## Expected Behavior

## Environment Summa

[2020-04-21 08:46] arrownj commented on #8912
Please refer to the detailed description in #12137.   Close this first, if have other problems, please reopen it or submit a new one. Thanks

[2020-04-21 08:46] #8912 closed

[2020-04-21 09:45] fengzhou-msft commented on #12023
@sschols sorry for the delayed reply. I added the EPEL repository but could still not find the "python36" package. Is it related to this: https://stackoverflow.com/a/57458136/2100487

[2020-04-21 09:58] yonzhan commented on #13103
add to S170

[2020-04-21 10:10] giuscri commented on #12854
same, with macOS 10.15.3
[code]

[2020-04-21 13:15] MichaelCosby commented on #12859
I had the same error. In my case, the problem is that azure cli now requires mock 4.0+, and mock (as of version 4) is no longer compatible with python < 3.6 (I am on ubuntu 16.04 until 20.04 comes out, so I have python 3.5.2). As far as I know, the only solution is to upgrade your python version.

[2020-04-21 14:18] SteveLasker commented on #11315
Hi folks. We’re looking into various options.
Can you provide more details on what the result is you’re looking to accomplish?

[2020-04-21 15:16] yashodhan10 opened #13105 "azure-cli-core 2.4.0 reports error: ImportError: You need to install 'azure-cli-core' to load CLI credentials"
pn az --version I'm getting this output:
 az --version
azure-cli                         2.0.61 *

acr                                2.2.3 *
acs                               2.3.20 *
advisor                            2.0.0 *
ams                                0.4.3 *
appservice                        0.2.16 *
backup                             1.2.2 *
batch                              4.0.0 *

[2020-04-21 16:52] DaveAurionix commented on #10911
Thank you @jiasli

[2020-04-21 17:16] mathieu-benoit commented on #12864
Any update on this? To summarize, it looks like we can't create an AKS cluster by bringing our own VNET/Subnet while leveraging `--enable-managed-identity` (and not having the `aks-preview` extension installed).

[2020-04-21 17:53] jluk commented on #12864
@norshtein could you please investigate this MI CLI issue?

[2020-04-21 19:43] rwetzeler opened #13107 "az ad sp create-for-rbac giving 400 error when using azure cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --scope {} --role {} --sdk-auth`

## E

[2020-04-21 20:03] #13107 closed

[2020-04-21 20:32] fitzgeraldsteele opened #13108 "az interactive failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-21 22:36] yonzhan commented on #13105
@fengzhou-msft please take a look

[2020-04-21 22:50] yonzhan commented on #13108
interactive

[2020-04-21 23:19] zparnold commented on #8941
Has this gotten any love?

[2020-04-22 00:38] danielbecroft commented on #13091
Okay thanks @lfittl-msft . I understand that the CLI hasn't been updated due to the functionality being in preview. Will the CLI be updated once the feature is GA, or is that still unknown?

[2020-04-22 01:37] fengzhou-msft opened #13110 "Support parameter of subscription in resource preparer"
**Is your feature request related to a problem? Please describe.**

The tests for a full scenario in datashare need to use at least 2 subscriptions, one for the datashare provider and one for the datashare consumer. Currently all resource preparers can only use the default subscription, so I can only use resource preparers for provider and need to create resources like resource group and storage a

[2020-04-22 02:01] #11967 closed

[2020-04-22 02:06] qwordy commented on #12459
The updated help message is now available in Azure CLI 2.4.0. I will watch the issue that I create in WALinuxAgent.

[2020-04-22 02:06] #12459 closed

[2020-04-22 02:12] qwordy commented on #12815
Azure CLI 2.4.0 is released. It contains the feature requested in this issue.

[2020-04-22 02:12] #12815 closed

[2020-04-22 02:12] qwordy commented on #12838
Azure CLI 2.4.0 is released. It contains the feature requested in this issue.

[2020-04-22 02:12] #12838 closed

[2020-04-22 02:27] arrownj commented on #12053
Hi @dmartinezrubio , it seems that the error log in truncated in the middle. Could you please help paste the full log to us? And may I ask does his exception always happen for `az role definition create` in your environment?

It probably that the format of your `--role-definition` is not right. Could you also share the json file you used to us ? Thanks in advance.

[2020-04-22 02:48] arrownj commented on #13073
Hi @systo , could you please help check the permission in `/home/alex/.azure`? It's an exception throwed by logging. It's wired that the file is read-only.

[2020-04-22 02:59] arrownj commented on #12746
Hi @compusaurusrex , CLI has an interactive mode, it is similar to your requirements. You can try it with `az interactive`.

[2020-04-22 03:03] arrownj commented on #13032
Hi @parasdesaicims , didn't you follow the instructions in the error message to get rid of this problem?

[2020-04-22 03:03] dearsi-mocha opened #13111 "Adding --enable-managed-identity true fails on create"
## Describe the bug

**Command Name**
az apim create --name $name --publisher-email "by@bu.com" --publisher-name "bu" -g $resourceGroup **--enable-managed-identity true**
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim create --name {} -

[2020-04-22 03:04] arrownj commented on #12682
Code merged, and waiting for instructions to release it.

[2020-04-22 03:04] #12682 closed

[2020-04-22 03:07] arrownj commented on #12675
Close this first, we will track this Cloud Shell issue in #11749 .

[2020-04-22 03:07] #12675 closed

[2020-04-22 03:20] fengzhou-msft commented on #13105
@yashodhan10 `azure-cli-core` and `azure-cli` versions must match. Please upgrade `azure-cli` to 2.4.0 as well.

Actually you were using a very old version, all the command modules are now consolidated into a single azure-cli package, you only need to install azure-cli package now. You may need to clean up the old packages before you install the latest azure-cli.

[2020-04-22 03:22] yungezz commented on #8368
for live test,  what we did so far
- setup live test pipeline, so that live test could be run regularly or adhoc.
- internal doc on how to use live test during sdk version bumping testing scenario

To do
- refine email notification for test result
- enable regular live test.

[2020-04-22 03:25] yungezz commented on #8406
hi @qwordy could you pls check if the issue still exists? thanks

[2020-04-22 03:27] yungezz commented on #12328
move all MSHM related feature to backlog. current status is CLI feature ready for features with Swagger, but not released due to service not public yet.  Public preview maybe around June/July timeline, but not locked down yet. Will close the issue when service public and CLI feature merged/released.

[2020-04-22 03:28] yungezz commented on #10877
move all MSHM related feature to backlog. current status is CLI feature ready for features with Swagger, but not released due to service not public yet. Public preview maybe around June/July timeline, but not locked down yet. Will close the issue when service public and CLI feature merged/released.

[2020-04-22 03:48] jiasli commented on #13108
Duplicate of #12837

[2020-04-22 03:48] #13108 closed

[2020-04-22 03:56] yungezz commented on #11268
hi @bim-msft could you pls confirm with keyvault team on service public?

[2020-04-22 03:59] dearsi-mocha commented on #11890
The current work around: https://dearsi-mocha.github.io/cloudsauce/2020/04/23/azure-apim-cli-woes/

[2020-04-22 03:59] dearsi-mocha commented on #11614
I was having the same issue today.. I found a workaround https://dearsi-mocha.github.io/cloudsauce/2020/04/23/azure-apim-cli-woes/

[2020-04-22 04:05] jiasli commented on #10289
You may also use `az extension update -n resource-graph` to update to the latest version. If the issue persists, please provide the detailed log with `--debug`.

[2020-04-22 04:05] #10289 closed

[2020-04-22 04:07] #10911 closed

[2020-04-22 04:09] #10234 closed

[2020-04-22 04:33] yungezz commented on #13111
hi @qwordy could you pls have a look? thanks

[2020-04-22 04:41] novaknole opened #13113 "copy from one storage to another takes much time"
I have two storage accounts(`storage1`) and (`storage2`) and both of them have containers called `data`.

Now, `storage1`'s `data` contains folder called `database-files` which contains lots of folders recursively. I mean it's kind of huge(so many files, sooo many files).

What I am trying to do is I want to copy `database-files` and everything that's in it from `storage1`'s `data` container to `s

[2020-04-22 05:05] Drewm3 commented on #10192
Sorry for the delay here. The internal dashboard on the compute side was not showing this issue because it was originally tagged as storage...

@yonzhan, could you outline the compute issue here? This appeared to be a storage issue at least through the initial thread.

[2020-04-22 05:33] yungezz commented on #7479
hi @bim-msft is the issue resolved now?

[2020-04-22 05:52] arrownj commented on #11550
Hi @gisairo , it seems that your `prompt_toolkit` version is not right. We use 1.0.x in interactive extension, for somehow, your version is 2.x or 3.x.

You can reinstall it by this command:
`pip install prompt_toolkit~=1.0 --force-reinstall -t C:\Users\<USERNAME>\.azure\cliextensions\interactive`

Let me know if you have other problems. Thanks

[2020-04-22 05:54] bim-msft commented on #7479
Hi @yungezz , this is not resolved so far, moved it to S170.

[2020-04-22 05:56] bim-msft commented on #7607
Similar to #11871 , mark it as FeatureRequest temporarily.

[2020-04-22 06:00] bim-msft commented on #7692
Sure, will send mail to PM to further discuss this.

[2020-04-22 06:01] bim-msft commented on #12862
Everything works well, closing issue.

[2020-04-22 06:01] #12862 closed

[2020-04-22 06:13] yonzhan commented on #13110
subscription in resource preparer

[2020-04-22 06:26] #10435 closed

[2020-04-22 06:26] #12882 closed

[2020-04-22 06:28] yonzhan commented on #11890
apim

[2020-04-22 06:30] yonzhan commented on #13113
add to S170

[2020-04-22 06:41] chitrapatil443 commented on #11315
I created a scope map with a wildcard so that many repositories can make use of that. And with this scope map generated a token and logged in to the registry. But I can't perform any operation like a pull or push.

e.g
**repositories:**

test/myrepo
test/myrepo1
test/myrepo2
test/myrepo3

**Scope-map I have created:**

az acr scope-map create --name MyScopeMap --registry MyRegistry --repository **

[2020-04-22 06:45] shwetazambre commented on #11315
I created a scope map with a wildcard so that many repositories can make use of that. And with this scope map generated a token and logged in to the registry. But I can't perform any operation like a pull or push.

e.g
**repositories:**

test/myrepo
test/myrepo1
test/myrepo2
test/myrepo3

**Scope-map I have created:**

az acr scope-map create --name MyScopeMap --registry MyRegistry --repository **

[2020-04-22 06:47] qwordy commented on #12444
Hi, how do you create the snapshot? Can you share the complete command? Are you using multiple subscriptions? Can you check existence of subscription "BCIRG3CRTSUB"?

[2020-04-22 06:58] shwetazambre commented on #11315
I created a scope map with a wildcard so that many repositories can make use of it. And with this scope map generated a token and logged in to the registry. But I couldn't perform any operation like a pull or push.

e.g
**repositories:**

test/myrepo
test/myrepo1
test/myrepo2
test/myrepo3

**Scope-map I have created:**

az acr scope-map create --name MyScopeMap --registry MyRegistry --repository *

[2020-04-22 07:01] qwordy commented on #12896
Any update?

[2020-04-22 07:04] qwordy commented on #12927
Azure CLI 2.4.0 is released. Now you can try this feature.

[2020-04-22 07:04] #12927 closed

[2020-04-22 07:18] #10980 closed

[2020-04-22 07:49] t3mi commented on #11871
@yungezz please mark this as a bug There is a key and it's not working properly, it's not a feature request.

[2020-04-22 07:52] t3mi commented on #7607
@bim-msft how come this is a feature request and not a bug when the command argument is not working properly?

[2020-04-22 08:27] qwordy commented on #11961
The update is available in latest version of Azure CLI.

[2020-04-22 08:27] #11961 closed

[2020-04-22 08:27] qwordy commented on #11968
The update is available in latest version of Azure CLI.

[2020-04-22 08:27] #11968 closed

[2020-04-22 08:29] qwordy commented on #11857
I should close this issue on 3/31/2020.

[2020-04-22 08:29] #11857 closed

[2020-04-22 08:29] qwordy commented on #11822
Any update?

[2020-04-22 08:48] khink commented on #12854
For what it's worth: I get the same error when i simply `pip install psycopg2==2.7.3.1` in a fresh virtualenv. Using the latest `psycopg2==2.8.5` fixes it.
- Python 3.8
- Postgres is in `/Applications/Postgres.app/` (so no Homebrew)
- Python used for creating virtualenv in `/Library/Frameworks/Python.framework/` (so no Homebrew)
- MacOS Mojave (10.14.6)

[2020-04-22 09:17] qianwens commented on #12783
@nrodrigues11 it seems some package is missed in your environment, could you please help provide more information like how did you install Az CLI? Can you run `pip list` in your machine and share the output with us?

[2020-04-22 09:24] #13075 closed

[2020-04-22 09:56] osalzgeber opened #13119 "az sql copy db does not support Serverless"
## Describe the bug
az sql copy db does not seem to support Serverless.
If using --compute-model Serverless the command expects -e -f -c as parameters.
If -e GeneralPurpose is submitted the argument is unregonized. without -e it tries to create in Premium tier.

**Command Name**
`az sql db copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have b

[2020-04-22 10:19] nectimaneesh commented on #5841
az login issue happened .

Trying with the next one
Certificate verification failed. This typically happens when using Azure CLI behind a proxy that intercepts traffic with a self-signed certificate. Please add this certificate to the trusted CA bundle: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy. Error detail: HTTPSConnectionPool(host='login.micro

[2020-04-22 11:21] yonzhan commented on #13119
sql

[2020-04-22 12:18] Turbots opened #13120 "Error when trying to give SP permission to a keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy -n {} --spn {} --secret-permissions {} {}

[2020-04-22 12:22] diepes commented on #12594
I just hit the same bug in Azure Cloud Shell.
az vmss extension set --resource-group .....

The value of parameter type is invalid.

Instructions at https://docs.microsoft.com/en-us/azure/aks/ssh seem to be broken !

[2020-04-22 12:30] Turbots commented on #13120
Fixed when I upgraded `azure-cli` using Brew. Problem solved!

[2020-04-22 12:30] #13120 closed

[2020-04-22 12:36] axelgMS commented on #12594
@diepes  - unfortunately CloudShell doesn't include the latest CLI version with the fix. This should be deployed in ~2 weeks from what I hear.

[2020-04-22 12:56] bim-msft commented on #11268
Just tested it today, service was already public, PR merged.

[2020-04-22 12:56] #11268 closed

[2020-04-22 13:12] demiliani commented on #13077
Same error.

[2020-04-22 13:37] cure commented on #12504
I have the same problem on Debian Buster.

{
  "azure-cli": "2.0.81",
  "azure-cli-core": "2.0.81",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "azure-devops": "0.17.0"
  }
}

Python 3.8.2

I installed the Azure cli from the debian packages you provide:

ii  azure-cli                             2.0.81+ds-3                          all          Azure Command-Line Interface (CLI)

retur

[2020-04-22 14:04] stgleb opened #13121 "Create AKS cluster fails on 2.4.0"
**Describe the bug**

AKS cluster creation failed after upgrade of az cli from 2.2.0 to 2.4.0

**To Reproduce**

Run AKS cluster create

[code]

**Expected behavior**

Cluster gets created

Actual result

[code]

**Environment summary**

OS Linux Ubuntu 18.04
azure-cli                          2.4.0

This command does work when az cli version is

2.2.0 *

[2020-04-22 14:10] jiasli commented on #12504
Hi @cure, `2.0.81` is an old version. Could you let us know which package you installed and how? So that I can follow your steps to repro it.

We do have the correct dependency as shown in https://github.com/Azure/azure-cli/pull/12917.

[2020-04-22 14:27] cure commented on #12504
hi @jiasli I installed azure-cli as per the instructions at

The version I have installed is

The package came from the repository at

  deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ buster main

You are right that this is not the most recent version available (there is even a newer package available for the 2.0.81 version).

[2020-04-22 14:45] TomGeske commented on #12894
Deployment should be finished. @kringen let us know in case it still doesn't work.

[2020-04-22 14:59] SteveLasker commented on #11315
@shwetazambre, thanks for the details. We don’t support wildcards like this. Based on feedback like this, we’re re-evaluating the approach and are seeking feedback.
Can you explain what you’re trying to accomplish? Are you looking to have management delegation to team leads for a set of repos? Or, can a single set of people manage permissions for all teams?
In other words, do you need permissions

[2020-04-22 15:03] mkstephenson commented on #11315
That is the approach we were looking for as well. We need to be able to assign repo based permissions and would prefer not to have to define it for every single repo since we work with prefixes for teams.

[2020-04-22 15:10] yonzhan commented on #13121
aks

[2020-04-22 15:10] SteveLasker commented on #11315
We’re considering two approaches. The wildcard approach, which could give different groups different access.
The second approach is about delegating management to teams.
Imagine an Org like management approach similar to github or docker hub.
The later is a lot more complicated to split permissions and logs. But, we’d rather understand that now, before we implement wildcards that won’t scale.
Whic

[2020-04-22 15:36] haokanga commented on #12594
+1 to @axelgMS, Cloud Shell users can tell that there is a delay before a latest CLI release gets rolled out to Azure Cloud Shell, and the delay is normally 1 or 2 weeks. However, users do not get notified when a new release is ready in the Azure Cloud Shell.

If Azure provides the users an option to subscribe to notifications when a new release of CLI is or is schedule to be rolled out to the Azu

[2020-04-22 15:38] #12894 closed

[2020-04-22 16:16] jaredmoo commented on #13119
When creating a db using `copy` or `replica create`, the new db is always created the same edition as the source db, so there is no `--edition` parameter. This is why you see `unrecognized arguments: -e GeneralPurpose`.

[2020-04-22 16:27] jluk commented on #13050
Please upgrade to CLI 2.4.0, this should be fixed as a known issue. I will close this as a result, but if you continue to hit this error on the latest version comment and we will revisit.

Thanks for the feedback!

[2020-04-22 16:27] #13050 closed

[2020-04-22 16:28] jluk commented on #12989
Please upgrade to CLI 2.4.0, this should be fixed as a known issue. I will close this as a result, but if you continue to hit this error on the latest version comment and we will revisit.

Thanks for the feedback!

[2020-04-22 16:28] #12989 closed

[2020-04-22 16:33] jluk commented on #13121
@stgleb it looks like you have the aks-preview extension installed, which overrides the core build. Can you share what version of the preview extension you are on?

[2020-04-22 16:35] stgleb commented on #13121
@jluk

I know that aks-preview is not quite up to date 0.43, but I've used the latest one from

[code]

[code]

[2020-04-22 16:49] jluk commented on #13121
@JunSun17 or @marwanad does this error look familiar to you?

[2020-04-22 16:53] JunSun17 commented on #13121
@stgleb can you try the latest aks-preview? Maybe it is an issue for the old version?

[2020-04-22 16:56] stgleb commented on #13121
I've just tried latest on my machine with `0.4.43` and the reslut is the same

[2020-04-22 17:13] marwanad commented on #13121
I just tried creating with `2.4.0` CLI and no preview and haven't hit issues.

Can you try a simple `az aks create` without `--enable-addons monitoring`?

[2020-04-22 17:25] gcormier opened #13122 "Fail to update role definition"
## Describe the bug
Trying to update a role
`az role definition update --role-definition roledefinition.json`

**Command Name**
`az role definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a role definition JSON file
- `az role definition update --role-definition

[2020-04-22 17:28] stgleb commented on #13121
@marwanad yes it works without monitoring enabled, do yoou have any ideas why? I wish to keep this addon.

[2020-04-22 17:36] rjdp opened #13123 "fail when i ran get-credentials 'az aks get-credentials --resource-group testResourceGroup --name myAKSCluster'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-04-22 17:37] gcormier commented on #12027
This is not an end user issue. The role definition is here : https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

There is no `roleName` element in the format as defined by Microsoft.

[2020-04-22 17:41] marwanad commented on #13121
@stgleb still investigating the issue, you can follow your create commands with this as a workaround in the meantime.

[code]

[2020-04-22 18:28] shurd commented on #13096
Hi @chwarr thank you for opening this issue. We can extend the description of the throughput parameter in the help menu. We originally intended to keep this description short, which is why we did not explain every scenario. The throughput parameter is optional, but it behaves differently depending on whether it is contained within a shared database. If the database is shared, it will have no throu

[2020-04-22 19:17] panchagnula commented on #12602
@JonasJurczok we made some latest fixes/updates to the command based on another bug can you check if you are still having a problem with the latest CLI version?

[2020-04-22 19:20] panchagnula commented on #12507
Closing due to lack of response. Please re-activate if the suggestion above doesn't help Thank you.

[2020-04-22 19:20] #12507 closed

[2020-04-22 19:35] Slowdive-Aideron opened #13124 "az role on azure-cli-role 2.6.3 and 2.6.4 fails with "NotImplementedError: APIVersion 2018-09-01-preview is not available""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
so I'm trying to get the value of principalName from the az role assignment list command, which according to ms documentation, should be there .. but it isn't. So i installed latest pycli, because according to commit messages this was fixed with some version of azure-cli-role. But when i manually install azure-

[2020-04-22 19:49] ejmarmonti commented on #12607
Hello,  I have the same problem.

Background:

I have a release pipeline in devops that uses the 'azure file copy' task.   When there are no network restrictions on the storage account, it works fine.   When I enable network restrictions and leave the "Allow trusted Microsoft services to access this storage account" option selected, then trigger a release, I get the same 403 error.  It looks like

[2020-04-22 20:11] asubmani commented on #12864
You would need to grant the "Managed Identity" of the cluster "Network contributor" rights.
`CLIENT_ID=$(az aks show -g $RG -n $AKS --query identity.principalId -o tsv)`

`az role assignment create --assignee $CLIENT_ID --role "Network Contributor" --scope $AKSSUBNET_ID`

The MI for the cluster gets created early, open a new terminal windows to retrieve the managed identity. Next grant "network co

[2020-04-22 20:29] hpsan opened #13125 "Unable to deploy Logic App resource due to "'$schema' not found in JSON" issue"
## Describe the bug
I'm unable to create a Logic App resource even after I literally used the "Export Template" option in the Logic App portal. I can see that there is a '$schema' in the template.json file that I'm trying to use for the deployment
[code]
**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values ha

[2020-04-22 20:57] rohank-proarch opened #13126 "Azure UK South missing API version '2020-02-02-preview' for type 'Microsoft.Insights/components' - API version 2020-02-02-preview is not supported error"
**Describe the bug**

Trying to get Application Insights Instrumentation Key using following command:

`az monitor app-insights component show --app $applicationInsightsName --resource-group $resourceGroupName --query "instrumentationKey" --output "tsv"`

**Error**
`No registered resource provider found for location 'uksouth' and API version '2020-02-02-preview' for type 'components'. The supporte

[2020-04-22 21:18] asubmani commented on #12864
A few notes to az cli team and AKS owners:

We had similar [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/6487) with Terraform that is now resolved.

Ever since Managed Identities went GA for AKS, seems like the API expects only "Managed Identities" in return.

`az aks show -g $RG -n $AKS --query servicePrincipalProfile.clientId -o tsv`

the new way to get the ide

[2020-04-22 21:20] mathieu-benoit commented on #12864
Hi @asubmani, in the case I'm reporting, I'm not able to create the cluster, so not able to run any `az aks show` command.

[2020-04-22 22:17] asubmani commented on #12864
In my case (I used terraform), I could run `az aks show` command within 30 seconds on initiating deployment.   The "Managed Identity" gets created early on as it is this identity that creates stuff in the MC_* resource group.

BTW: I am still having issues with deployment, its just that I overcame the "identity" issue now :)

[2020-04-22 22:58] stgleb commented on #13121
I've got this

[code]

[2020-04-22 23:03] yonzhan commented on #13122
@arrownj  please take a look

[2020-04-22 23:03] yonzhan commented on #13123
aks

[2020-04-22 23:06] yonzhan commented on #13124
@arrownj please take a look

[2020-04-22 23:08] yonzhan commented on #13125
add to S170

[2020-04-22 23:10] yonzhan commented on #13126
add to S170

[2020-04-22 23:53] gcormier commented on #13122
I think this is the same as #12027

[2020-04-22 23:53] #13122 closed

[2020-04-23 01:00] anavinahar commented on #12937
Can we get an ETA for this?

[2020-04-23 02:07] qwordy commented on #12594
@aronneagu It is a different error of this issue.
[code]
What's the output of `az vmss -h` in your environment?

[2020-04-23 02:09] MyronFanQiu commented on #12937
@ninzavivek This new feature need 2020-04-01 api-version which has not been released yet. After the release of new sdk, we need to bump version first. Currently, we have another issue with higher priority to solve. If everything goes well, we might be able to catch S169(Official Release: 05/19/2020) release train. If we don't have enough bandwidth in this sprint, we should be able to catch S160, w

[2020-04-23 02:10] sunil110 opened #13127 "Deployment issue with azure function:Trying to deploy zip file through azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

Example: azfunctionapp deployment source config-zip -g azureGeoGroup -n \azureGeo --src https://drive.google.com/drive/u/0/folders/1OiWIOVTDAQE87U3z5yOizLyUjKFWoZ6J/hlsAPIGeocoder.zip
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beh

[2020-04-23 02:37] yonzhan commented on #13127
functionapp

[2020-04-23 03:00] XuzhouHuang opened #13128 "Inconsistent experience when using AZ CLI update RBAC custom role"
When we use AZ CLI create a new RBAC custom role, we use field 'Name' for the custom role name definition.

https://docs.microsoft.com/zh-cn/cli/azure/role/definition?view=azure-cli-latest#az-role-definition-create
![image](https://user-images.githubusercontent.com/19336872/80053960-b80da000-8550-11ea-8e2b-8cf21b04b43a.png)

However, when we use AZ CLI to update the custom role, we have to update

[2020-04-23 03:25] qwordy commented on #12976
It is not supported in CLI yet. I am working on it.
One question, is the value of dictionary always "{}"?
[code]

[2020-04-23 03:57] feiyushi commented on #12976
When configuring user assigned identity, the value of the key-value pair is empty. Only the key is filled with identity resource id. But when service returns the provisioned resource, the value should not be empty (readonly).

[2020-04-23 04:12] jiasli commented on #12504
I am installing Azure CLI with

[code]

I tested on Ubuntu TLS 18.04 first:

[code]

Then on Debian Buster

[code]

`az vm list` works as expected on both platforms.

The package [azure-cli (2.0.81+ds-3)](https://packages.debian.org/sid/azure-cli) is not distributed by us. Could you uninstall other packages of Azure CLI and try the official 2.4.0 version? + @fengzhou-msft to take a look.

[2020-04-23 04:52] russcam opened #13129 "Deprecation warning written to stderr using 'deployment group operation list' with az-cli 2.4.0"
The following deprecation warning is written to stderr when using az-cli 2.4.0 and the command

[code]

How would one list the operations for a resource group using `deployment operation sub`? It looks like it operates at the subscription scope, without an option to specify resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-23 05:33] zhoxing-ms commented on #9141
I think it is necessary for the Service to implement the function of deleting the sub empty folder, the main reasons are as follows:
1. If the CLI implements the deletion of all subfolders by itself, it will recursively query and delete all subdirectories. If the number of folders is large, the performance will be slow due to too many requests, and if the folder is deep, the stack will overflow
2.

[2020-04-23 06:04] yonzhan commented on #13129
add to S170

[2020-04-23 06:06] arrownj commented on #13124
Hi @Slowdive-Aideron , CLI has included all the modules now, we do not need to use `pip install azure-cli-role` separately. Actually both `2.6.3` and `2.6.4` of  `azure-cli-role` are very old version. There will be compatible problem with our latest CLI version (`2.4.0`).

So suggest you use a clean CLI 2.4.0 version, and run `az role assignment` commands again.

[2020-04-23 06:07] yonzhan commented on #13128
add to S170

[2020-04-23 06:14] zhoxing-ms commented on #12305
@Andree643 Hi, the execution of CLI command will print the following two columns every time. You can see it when you execute the CLI command by adding `--debug`:

But the printing in the log becomes:

In fact, the prefix `##[error]` is not printed by CLI, so this problem is not related to CLI. Do you have any other questions?

[2020-04-23 06:29] xiaowanzizuibang commented on #13121
Using CLI 2.4.0 cannot create AKS with windows node VM.
**Command:**
az aks create  --resource-group myResourceGroup1 --name testSCluster1  --node-count 1 monitoring--enable-addons  --kubernetes-version 1.17.3 --gener
ate-ssh-keys --windows-admin-username azureuser --vm-set-type VirtualMachineScaleSets --node-vm-size Standard_F2s_v2  --network-plugin azure
**Error:**
The request content was invali

[2020-04-23 06:47] HermanCordes opened #13131 "How to use when virtual network exists in a different resource group?"
When using the `az storage account network-rule add` command, it's possible to specify the resource group name using the `--resource-group` argument. This argument however, seems to be used for discovering both the storage account and the virtual network. So both the storage account and the virtual network should exist in the same resource group. But how to use this command when that's not the cas

[2020-04-23 06:54] yonzhan commented on #13131
add to S170

[2020-04-23 07:35] osalzgeber commented on #13119
Ok I see.
This is not very clear from the documentation as both examples change number of cores/service objective although within the same edition. [https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-copy] maybe add a sentence there or display a better error in the  command instead. Even better would be to just support this directly in the copy command.

[2020-04-23 07:37] bim-msft commented on #12346
@Juliehzl Just checked with the latest code, seems the error message is informative enough:
![image](https://user-images.githubusercontent.com/3250203/80071990-2e71c880-8578-11ea-8b9a-56553c9466cb.png)

[2020-04-23 07:42] siljemda commented on #12308
Currently seeing this in Web App for Containers.

[2020-04-23 07:48] Juliehzl commented on #12346
Thanks @bim-msft !
@sinelshchikov Keyvault retention days have informative information as shown above. If you mean verbose error for `az storage account update`, it is hard for us to point to specific keyvault command because it may change in different keyvault version.

Please feel free to let me know if you have any other concern or feedback.

[2020-04-23 07:50] MyronFanQiu commented on #13126
We have reverted the version back. I will sync with service team and find out a solution for this issue later.

[2020-04-23 07:50] #13126 closed

[2020-04-23 07:52] bim-msft commented on #11950
@ghstahl Hi, could you please upgrade your cli client to the latest (2.4.0) and try it again? Thanks.
I cannot reproduce your issue, this works for me:

![image](https://user-images.githubusercontent.com/3250203/80073315-261a8d00-857a-11ea-88b3-b75762a48249.png)
![image](https://user-images.githubusercontent.com/3250203/80073356-3e8aa780-857a-11ea-9dc7-dfb851665494.png)

[2020-04-23 08:52] qwordy commented on #12473
I did some experiments.

1. Create a vnet vnet1
2. Create a vnet vnet2
3. Add peering between vnet1 and vnet2
4. Modify address space of a subset in vnet1, success.
5. Add a subset in vnet1, success.
6. Modify address space of vnet1, error, "You can't add address ranges to or delete address ranges from a virtual network's address space once a virtual network is peered with another virtual network"

[2020-04-23 08:59] lgmorand commented on #13121
same issue here with monitoring. Thanks @marwanad for workaround

[2020-04-23 12:32] xpillons commented on #12987
Having the same again today with azcli 2.3.1 on a devops agent I've built with the latest azcli, while it works on Cloud shell which is azcli 2.2.0

[2020-04-23 14:12] job-lukasz commented on #9972
What is status of this issue. As I can see it is close however in version:
[code]
It still does not work.

My scenario according to your comment:
| type   | name  | resource group  |
| --- | --- | --- |
| App service plan | ASP1 | RG1 |
| Web app | WEBAPP2 | RG2 |
[code]
Its fail with comment:
[code]

When I try to execute:
[code]
then error:
[code]

Also upload certificate to app service plan:
[c

[2020-04-23 14:42] stgleb commented on #13121
@lgmorand @marwanad +1 for the same error for separate monitrogin enabling

[2020-04-23 14:44] ghstahl commented on #11950
@bim-msft The problem is a QUOTED ```"02c27055-efb4-4b9d-bd5d-acd671ea5a10"```.
[code]
produces
[code]
passing in the QUOTED $PRINCIPAL_ID I got from the json query FAILS.
passing in the NON-QUOTED $PRINCIPAL_ID I got from the tsv query WORKS.

So I guess user problem on my end, unless passing in that QUOTED one should be allowed.

[2020-04-23 14:51] hiyosh-msft opened #13137 "UnicodeEncodeError when passing JSON with Japanese Characters into "az deployment group create""
**Describe the bug**
When you input a JSON with Japanese characters into the following command, you get the following error.

Command:
`az deployment group create -g <resource-group> --template-file <arm-template.json> `

Error:
` latin-1' codec can't encode characters in position 363-375: Body ('ここに日本語で説明します。') is not valid Latin-1.`

`az group create --location <location> --name <resource-group>

[2020-04-23 15:13] cure commented on #12504
@jiasli I can confirm that this bug is not present on Debian Buster with the latest version 2.4.0 of the Azure CLI, installed as per https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

I tested on a fresh installation of Debian Buster. From my perspective, this issue can be closed. Thanks!

[2020-04-23 15:46] #12678 closed

[2020-04-23 16:22] j-coll opened #13138 "az aks create : AttributeError: 'NoneType' object has no attribute 'client_id'"
## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks create -g {} -n {} --enable-managed-identity --vnet-subnet-id {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-04-23 16:32] shaeussler opened #13139 "Missing enable edge device parameter in az iot dps enrollment create command"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-23 16:54] mariana-tuma commented on #8831
Hi. Sorry to revive an old issue, but I'm having this same problem.

When I go to `<webapp>.scm.azurewebsites.net/AppServiceTunnel/Tunnel.ashx?`GetStatus I see the following:

`FAILURE:2222:Unable to connect to WebApp`

Response when I run `az webapp create-remote-connection --subscription <...> --resource-group <...> -n <...> -p <...> --verbose` :

[code]
And the response from `az webapp ssh`:

[

[2020-04-23 17:17] jlian commented on #13083
@digimaun @iluican any ideas?

[2020-04-23 17:18] jlian commented on #13093
@digimaun and @iluican can you take a look?

[2020-04-23 17:20] ishaniGupta27 commented on #13075
I believe to keep consistency having it as security-partner-provider seems to be better choice. I am using the whole name in powershell/portal.

[2020-04-23 17:35] digimaun commented on #13093
This is an expected issue - there was a breaking change in Azure CLI due to updating the IoT Hub mgmt SDK (related to the SDK itself). Older versions of the IoT extension will face this issue but updating should resolve as the submitter has pointed out.

BTW it is highly recommended you delete the deprecated `azure-cli-iot-ext` and install `azure-iot` (go forward modern extension Id for Azure IoT)

[2020-04-23 18:04] djr29578 opened #13140 "Error when running az appservice ase list-addresses -n ASEName"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running this command a list of VIP addresses should be the output.  This worked on az cli verison 2.0.78 but started failing when I upgraded to 2.4

**Command Name**
`az appservice ase list-addresses`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been

[2020-04-23 18:12] sinelshchikov commented on #12346
@Juliehzl , regarding the error output , I was thinking if it can point to the KV policy e.g:
ERROR: "Keyvault policy recoverable is not set , policy name/id: ******* "

[2020-04-23 18:12] #12346 closed

[2020-04-23 18:36] anavinahar commented on #12937
Please confirm as we need to align on preview dates and GA dates accordingly. @MyronFanQiu

[2020-04-23 18:38] tony-gutierrez opened #13141 "Webapp:az zip deploy through pipelines succeeds, but reports failure after loop."
**Describe the bug**
https://bitbucket.org/microsoft/azure-web-apps-deploy/src/master/pipe/pipe.sh

Inside the "run az webapp deployment" command, the zip is deployed and unpacked. Then that command seems to loop on a query to "GET /api/deployments/latest HTTP/1.1" It will loop while it gets a 202 response, until finally it gets a 503, at which time python just breaks trying to parse the response.

[2020-04-23 19:10] hentie commented on #8388
I've also ran into this issue.  Creating a functionapp with Consumption Plan with a name that conforms to our naming convention is a breeze in ARM, but to create it with Azure CLI, I had to do a horrible workaround:
1. Create a consumption plan like @Jameskmonger described

`az resource create
    --resource-group myresourcegroup
    --name myconsumptionplan
    --resource-type Microsoft.web/serve

[2020-04-23 19:53] kmo-dev opened #13143 "TCP and UDP port exposure"
Hi there,
I can't see how I can configure TCP and UDP port at the same time. I have two different ports for my single container, but how can I configure both ports at the same time? I'v already found an issue from 2018 at stackoverflow and hopefully it's fixed already. I'm a bit shocked, if this isn't supported yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-04-23 20:14] digimaun commented on #13083
I'm currently unable to repro the issue in my ubuntu 18.04 environment with `azure-iot 0.9.1`, but one difference in environment is I installed the latest `2.4.0` base CLI.

I do want to verify one thing - @dbartz , please make sure you have set your default CLI subscription via `az account set -s <your correct subscription guid or name>`. After setting the default sub, please try again and let us

[2020-04-23 22:20] dkozinn opened #13144 "az account list-locations fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list-locations`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account list-locations`

## Expected Behavior
Expected vali

[2020-04-23 23:12] yonzhan commented on #13137
add to S170

[2020-04-23 23:14] #12504 closed

[2020-04-23 23:40] lilyjma opened #13145 "test"

[2020-04-23 23:52] yonzhan commented on #13138
aks

[2020-04-23 23:54] yonzhan commented on #13139
iot dps

[2020-04-23 23:55] yonzhan commented on #13140
appservice

[2020-04-23 23:58] yonzhan commented on #13141
webapp

[2020-04-24 01:49] yonzhan commented on #13143
container

[2020-04-24 01:52] yonzhan commented on #13144
@arrownj  please take a look

[2020-04-24 02:26] yonzhan commented on #12937
We can set 06/02/2020 as release date.

[2020-04-24 03:18] arrownj commented on #13144
Similar to [#11749 (comment)](https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762)

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command.

[2020-04-24 03:28] bim-msft commented on #11950
@ghstahl Thanks, I reproduced this:
![image](https://user-images.githubusercontent.com/3250203/80172031-73e8d100-861e-11ea-97a2-65aeddeded63.png)

I will add a quick patch to support this case, and the next release date is around 4/30, which is the version 2.5.0.

[2020-04-24 03:59] zhoxing-ms commented on #12885
@e14mattc The email has been received, but I still can't reproduce your question. Could you please execute `az resource show --ids $(az resource list --resource-type Microsoft.Insights/metricAlerts --query [].id --output tsv) --debug` and show me the error message returned?

[2020-04-24 05:31] qwordy opened #13148 "Add `--os-disk-size-gb` in `az vmss create`"
**Is your feature request related to a problem? Please describe.**

Please add `--os-disk-size-gb` in `az vmss create`
Example: azure-rest-api-specs\specification\compute\resource-manager\Microsoft.Compute\stable\2019-07-01\examples\CreateAScaleSetWithEmptyDataDisksOnEachVm.json

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-24 05:39] dbartz commented on #13083
Hi @digimaun,
setting the default account does not make a difference.

I actually worked with the correct default account and just posted the command with specified subscription in order to not being asked if I set the default subscription correctly :-)

Meanwhile, I am also on 2.4.0, which does not make a difference.

[2020-04-24 05:51] qwordy commented on #12527
It is fixed now. Cheers!

[2020-04-24 05:51] #12527 closed

[2020-04-24 06:11] divyamoorthyTR opened #13149 "Error while assigning policy set definition using cli."
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-04-24 06:12] divyamoorthyTR opened #13150 "Error while assigning policy set definition using cli. ResourceIdentityRequired - The policy assignment 'RGTag-v1.1' request is invalid. Policy assignments must include a resource identity when assigning 'Modify' policy definitions."
I am getting the following error when I try to perform a policy assignment of policy set definition.
ResourceIdentityRequired - The policy assignment 'RGTag-v1.1' request is invalid. Policy assignments must include a resource identity when assigning 'Modify' policy definitions.

The command is

az policy assignment create --policy-set-definition "<Policy definitionid>" --display-name RGTag-v1.1 --

[2020-04-24 06:19] karataliu commented on #12881
The api 2020-03-01 was published, should work now

[2020-04-24 06:43] zhoxing-ms commented on #12695
The App Registration as service principal is a kind of Azure AD security principal. To request the user delegation key, a security principal must be assigned the `Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey action.` The following built-in RBAC roles include the `Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey action`, either explicitly or as pa

[2020-04-24 06:58] zhoxing-ms commented on #12695
Therefore, no matter App Registration is given the role of `Contributor` or `Storage Blob Data Contributor`, as long as `Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey action` permission is given, the user delegation sas can be generated.

@ghstahl May I ask did you give App Registration the role of `Storage Blob Data Contributor` when this problem arises? You can use the

[2020-04-24 07:32] bim-msft commented on #13006
Looking into it, seems to be a service side bug.

[2020-04-24 07:34] silentbobbert opened #13152 "az version --query "azure-cli" should return version number and not throw error"
## Describe the bug

When I run ```az version --query "azure-cli"``` it should return the version number: ```"2.4.0"```

**Command Name**
`az version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az version --query "azure-cli"`

## Expected Behavior

According to the tutorial page

[2020-04-24 07:58] #11950 closed

[2020-04-24 07:58] e14mattc commented on #12885
Sure.. an email is winging its way to you.

For anyone reading along, the output I just emailed shows that the alert ID is being split up on the space.. the word 'failed' should be part of the alert ID;

![image](https://user-images.githubusercontent.com/9819307/80188884-b7851000-8609-11ea-9f7a-ac2493bc5c84.png)

[2020-04-24 08:43] bim-msft opened #13154 "`three_stat_flag` generates incorrect default values"
This is my code:
[code]

This is the generated help message:
[code]

As you can see, if you specify `True` as default value, you will get `1` in help message, if you specify `False`, you will get nothing.

Also, if I use `default='false'` or `default='true'`, the help message will be correctly generated. But the value inside will all be `True`.

Not sure whether this would affect the docs page.

[

[2020-04-24 09:17] jiasli commented on #12027
Years ago, Azure used **Azure Service Management (ASM)**, then migrated to **Azure Resource Manager (ARM)**.

- The JSON in doc [Custom roles for Azure resources](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-example) is the old-fashioned PascalCase ASM-style JSON
- The ARM-style JSON is defined in the [Role Definitions - Create Or Update](https://docs.m

[2020-04-24 09:41] jiasli commented on #12027
To summarize, the output of `az role definition create` and `az role definition update` is **ARM-style response JSON**.

As for the input:

| Supported? | `az role definition create` | `az role definition update`
| - |:-:|:-:
| ASM-style request JSON | ✔ | ✔
| ASM-style response JSON | ❌ | ❌
| ARM-style request JSON | ❌ | ❌
| ARM-style response JSON | ❌ | ✔

❌ indicates the actual behavior is unde

[2020-04-24 10:01] stephenb-kainos opened #13156 "Issue when running az cosmosdb mongodb database delete command"
Running command as per
az cosmosdb mongodb database delete --account-name $COSMOSACCOUNT --resource-group $RG_NAME --name $DB_NAME --subscription $SUBSCRIPTION --yes

Getting error
Operation failed with status: 'Unauthorized'. Details: Required Header authorization is missing. Ensure a valid Authorization token is passed.

az cli is being run with a user that just listed the cosmos databases under

[2020-04-24 10:17] yonzhan commented on #13149
add to S170

[2020-04-24 10:18] yonzhan commented on #13150
add to S170

[2020-04-24 10:33] yonzhan commented on #13152
add to S170

[2020-04-24 10:35] mobileha opened #13157 "--sa-lifetime and --sa-max-size in example"
Please fix the --sa-lifetime and --sa-max-size to larger values in example (default 27000 and 102400000 are good values)
If users just copy these values from example, this will lead to very frequent unneeded rekeys, and this can significantly impact performance.
--sa-max-size 1024
is just a 1 megabyte, which will lead to rekey 10 times a second with 100mbit/s speed.
--sa-lifetime 600
rekeys every

[2020-04-24 10:40] yonzhan commented on #13154
add to S170

[2020-04-24 10:41] yonzhan commented on #13156
cosmosdb

[2020-04-24 10:42] yonzhan commented on #13157
add to S170

[2020-04-24 11:09] jiasli commented on #13152
This is the design of JMESPath that `-` is parsed as minus. See https://github.com/jmespath/jmespath.py/issues/109#issuecomment-240315651.

So in the query `azure-cli` needs to be quoted as `"azure-cli"` as you did in the screenshot:

![image](https://user-images.githubusercontent.com/3257988/80186315-b8b43e00-8605-11ea-8950-8e00aaf5aed5.png)

**However, since the terminal interprets double quotes

[2020-04-24 12:21] yungezz commented on #13154
@bim-msft found the issue and working on investigating/fixing.

[2020-04-24 12:22] yungezz commented on #13148
create on behalf of service team

[2020-04-24 12:24] yungezz commented on #13140
bug

[2020-04-24 12:25] yungezz commented on #13143
question

[2020-04-24 12:27] yungezz commented on #13141
bug

[2020-04-24 12:28] yungezz commented on #13138
bug

[2020-04-24 12:32] yungezz commented on #13127
from the error, the command expecting a local file path instead remote url

[2020-04-24 13:48] dkozinn commented on #13144
I can confirm that using **az login** in the cloud shell works. It seems like I only had to do that once, after closing the cloud shell and starting a new one the command worked without another az login.

[2020-04-24 15:54] Tyriar opened #13159 "Validation failures give error location based on minified arm template"
Repro:

1. Create `arm-test.json` with this content
[code]
2. Set $vSubscription and $vResourceGroup
3. Run `az deployment group create --subscription $vSubscription -g $vResourceGroup--template-file arm-test.json`

Result:

![image](https://user-images.githubusercontent.com/2193314/80231640-7ccea800-8608-11ea-9105-6891165f1558.png)

So I think there is a bug here and I also have a suggestion. The

[2020-04-24 15:56] #12881 closed

[2020-04-24 17:14] pcandyf opened #13160 "Token Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource={}`

## Expected Beha

[2020-04-24 18:11] bureado commented on #13137
FYI, if this is related to another customer inquiry I saw on Twitter, it could be related to certain libraries or the version of Python, as it seems to work in Cloud Shell but not in DevOps Pipeline: https://twitter.com/jabex9/status/1253611479929991169

[2020-04-24 19:02] niswitze opened #13161 "Not all log alert rules are being returned"
## Describe the bug
When querying for log alert rules using the command below I only receive log alert rules created for Log Analytics resource and not for Application Insights.

**Command Name**
az resource list --namespace Microsoft.Insights -g "groupName" --resource-type scheduledqueryrules

**Errors:**
Only Log Alert rules for log analytics workspaces show. No Application Insights Log Alert ru

[2020-04-24 19:06] Guilhermeslucas commented on #10034
I'll take a quick look at it!

[2020-04-24 19:15] digimaun commented on #13083
Please run the commands and append `--debug` in each environment you are using (cloud shell & ubuntu).

Look at the debug logs and take note of `management.azure.com` against `Microsoft.Devices/IotHubs`

You should notice a debug entry that looks like this (API versions will differ - as of this comment, cloud shell is using Azure CLI 2.2.0):

`urllib3.connectionpool : https://management.azure.com:

[2020-04-24 19:25] nichols-356 opened #13162 "az network express-route list-route-tables does not output as table or tsv"
## Describe the bug
Output of express-route circuit route-tables fails when formatting as table or tsv

**Command Name**
`az network express-route list-route-tables`

**Errors:**
no errors are returned

## To Reproduce:
- have an express-route circuit with peering to a 3rd party
- `az network express-route list-route-tables -n {} -g {} --path {} --peering-name {} -o {table|tsv}`
* If you format ou

[2020-04-24 19:47] Guilhermeslucas commented on #10034
I took a look at it, and the problem is that, even if you add a validator on the share_name variable, the command first checks remotely if this is a valid name. Any clues on ways of fixing it besides using a validator?

[2020-04-24 20:01] EthanMelamed commented on #12854
How would you use this as a workaround? I am having this issue too

[2020-04-24 20:45] digimaun commented on #13093
#please-close

[2020-04-24 20:54] #13093 closed

[2020-04-24 21:03] kethahel99 opened #13164 "Error creating log analytics workspace via az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor log-analytics workspace create -g {

[2020-04-24 21:12] alexjmoore opened #13165 "Apt repo missing Release file for Focal Fossa"
**Describe the bug**
Installing using the instructions here on Ubuntu 20.04 Focal Fossa:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

Results in:

`E: The repository 'https://packages.microsoft.com/repos/azure-cli focal Release' does not have a Release file.`

**To Reproduce**
On a clean install of Ubuntu 20.04 Focal Fossa run:

`curl -sL https://aka.ms/

[2020-04-24 21:14] alexjmoore commented on #13165
Doh, dupe of #13081 closing.

[2020-04-24 21:14] #13165 closed

[2020-04-24 21:39] JonasJurczok commented on #12602
Thanks for the patch. I will verify within the next days.

[2020-04-24 23:47] diepes opened #13166 "az keyvault secret list returns null for contentType since 2.3 & 2.4"
**Describe the bug**

for azure-cli 2.20  ,  az keyvault secret list --vault-name $AKVNAME
returns json output where contentType has string values.
e.g. "contentType": "application/x-pkcs12"
or   "contentType": "application/x-pem-file",

for azure-cli 2.3 and 2.4 az keyvault secret list --vault-name $AKVNAME
returns null for "contentType" for all keys.
"contentType": null,

**To Reproduce**

use a

[2020-04-25 00:39] yonzhan commented on #13159
add to S170

[2020-04-25 00:41] yonzhan commented on #13160
add to S170

[2020-04-25 00:45] yonzhan commented on #13161
add to S170

[2020-04-25 00:47] yonzhan commented on #13162
add to S170

[2020-04-25 00:50] yonzhan commented on #10034
add to S170

[2020-04-25 00:54] yonzhan commented on #13164
add to S170

[2020-04-25 01:00] yonzhan commented on #13166
@bim-msft  please take a look

[2020-04-25 02:31] josiahlaivins opened #13167 "az keyvault secret show unrecognized arguments"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show -–name some-dash-delimited-secret-name –-vault-name somename`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

## Ex

[2020-04-25 03:53] yonzhan commented on #13167
@bim-msft  please take a look

[2020-04-25 04:41] jiasli commented on #12504
@cure. You are welcome. I am glad the issue is solved. I doubt in your old Debian Buster https://packages.debian.org/ somehow overrides https://packages.microsoft.com/ for Azure CLI, so the installed Azure CLI is not the official release.

[2020-04-25 05:16] dbartz commented on #13083
Hi @digimaun,
thanks for looking into this.

I followed your advice and looked into the debug logs. The reason for not finding the IoT Hub was trivial and entirely my fault:
Long time ago, I configured a default resource group on this machine, a fact which I even did not remember anymore.

[2020-04-25 05:16] #13083 closed

[2020-04-25 10:07] ahamedn opened #13168 "Unable to grep the filename and password from az back restore file output"
I'm trying to automate Azure backup restore using the Azure CLI. But I'm not able to assign the output as variable and also not able to filter out the file name and password inside the script.

This is my code
`az backup restore files mount-rp --resource-group ***-eastus2 --vault-name ***-eastus2 --container-name ***-eastus2-001 --item-name ***-eastus2-001 --rp-name ****`

Let me know if I'm doing

[2020-04-25 11:24] alecor191 commented on #10913
FYI: I just updated to latest Azure CLI (2.4.0) and now commands like `az apim list` work for me (had the same issue as mentioned above before).

[2020-04-25 12:53] yonzhan commented on #13168
backup

[2020-04-25 14:57] cath123123 commented on #13125
Is this issue resolved? I am hitting the same "'$schema' not found in JSON" issue.

[2020-04-25 15:24] minascasiou commented on #7618
Nice! Thank you.
Does az rest support --query?

I can't seem to get any results when I try it

[2020-04-25 15:25] minascasiou commented on #7618
This is what I'm trying...

az rest -m get -u "https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/HaNeCan/providers/Microsoft.Web/sites/HaNeCan/functions?api-version=2019-08-01" --query "[].{id: [].invoke_url_template}"

[2020-04-25 17:08] luisve1427 commented on #11790
Any updates on this? Is there any way to get a list of the artifacts and version available from the CLI or a rest API?

[2020-04-25 19:41] madhavsandireddi opened #13169 "Creating cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-04-25 22:11] ghstahl opened #13170 "Need Documentation on passing --tags as single argument"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Need instructions on how to pass in ```--tags``` as a single argument to ```az cli```

 # Command line
Please note the ```"c=a dog"```
The following works from the command line
[code]
The following does not work;
[code]
Oddly enough, the following works if there is no spaces, but chokes on quotes:
[code]

# Tes

[2020-04-25 23:25] yonzhan commented on #13169
aks

[2020-04-25 23:26] yonzhan commented on #13170
add to S170

[2020-04-26 00:33] venkat1211 opened #13171 "aks issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --kubernetes-version {} --loca

[2020-04-26 01:22] arrownj commented on #13144
@dkozinn , yes, glad to here that it works. Let us know if you have other problems. Thanks

[2020-04-26 01:39] yungezz commented on #13171
routing to appropriate team

[2020-04-26 01:41] MyronFanQiu commented on #13162
@haroldrandom  Could you please take a look?

[2020-04-26 01:43] MyronFanQiu commented on #13157
@jsntcy  Could you please take a look?

[2020-04-26 01:44] MyronFanQiu commented on #13164
@kethahel99 Hi. Could you share your installation method? pip, msi, apt or something else?

[2020-04-26 01:56] arrownj commented on #12053
Hi @dmartinezrubio , you can use `az role definition create -h` to see the example of json format. I will close this issue first if there is no more problems. You can reopen it or submit a new one if you have other concerns. Thanks

[2020-04-26 01:56] #12053 closed

[2020-04-26 02:43] jiasli commented on #10739
Detailed explanations can be found at https://github.com/Azure/azure-cli/issues/12027#issuecomment-618901218.

[2020-04-26 02:43] jiasli commented on #13128
@XuzhouHuang, thanks for reporting. This is exactly the same issue we talked about at https://github.com/Azure/azure-cli/issues/12027#issuecomment-618901218: Azure CLI uses the ASM-style JSON for `create` while using ARM-style JSON for `update`.

I have also created issue https://github.com/MicrosoftDocs/azure-docs/issues/53213 for the inconsistent doc.

[2020-04-26 06:03] zhoxing-ms commented on #12885
I can reproduce the problem currently: there is no problem with this command executing in PowerShell of Windows, it only occurs in the Shell of Linux.
It seems to be a usage problem of `$()` in the Shell of Linux, the result of `$(az resource list XXX)` obtained in Shell is separated by the space in ResourceID. This situation is like creating a file with a filename contains spaces, and then execut

[2020-04-26 08:05] qwordy commented on #12013
Hi giorini, what's the current status? Can you list IP address now?

[2020-04-26 08:32] zhoxing-ms commented on #13037
@peterinnesmsft Hi, this problem has been fixed in this PR #12848, please try it with the latest version of CLI (2.4.0).
If you still have some question, please feel free to let us know~

[2020-04-26 08:37] qwordy commented on #12016
Close the issue now. You can still comment here.

[2020-04-26 08:47] zhoxing-ms commented on #12933
It looks like the same problem as #12874.

@rvelasquez08 The host of http://localhost:50342/oauth2/token for oauth is localhost, which doesn't look right. May I ask what you have configured locally? For example, Is there an agent?

[2020-04-26 09:15] e14mattc commented on #12885
Couldn't the `az resource list XXX` command encode spaces in any resource IDs? That would solve the problem, wouldn't it?

[2020-04-26 11:54] jiasli opened #13188 "`az login` with managed identity indicating system assigned when the identity is user assigned"
## Symptom

When using a single **user assigned identity** for `az login --identity`, it says the logged in `user` is a **system assigned identity**.

The default identity is the identity returned when the `client_id`, `object_id` and `mi_res_id` parameters are not provided to IMDS. This will be the system assigned identity when present but can also be a user assigned identity if

- there is no sy

[2020-04-26 12:17] vikaskk13 commented on #8388
I also ran into this issue. and followed the steps mentioned by @hentie .. But what I noticed is that,
after step 2 If I look at the function app, it has automatically linked to the existing consumption app service plan..

[2020-04-26 12:32] yonzhan commented on #13188
az login with MSI

[2020-04-26 13:31] kuniteru opened #13189 "Can't create backend pool type url-path-map rule of Application Gateway when url-path-map default target type is redirection and it has some redirect type rules."
## Describe the bug

**Command Name**
`az network application-gateway url-path-map rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- pre-requisite steps
    - Create url-path-map it default target type is "redirect" and it has some redirect type rules.
        - `az network

[2020-04-26 15:17] KarenTazayan commented on #12297
I have the same issue. Any news?

[2020-04-26 16:05] nidiculageorge opened #13190 "Azure az commands work and azure automation (Runbooks)"
Hi Team,

Could you please let me know whether we an run PowerShell scripts ,with az commands in runbook (automation ).

When i try to run, its showing as az commands not recognized

[2020-04-26 18:00] clement128 opened #13191 "How can I create network profile from Azure CLI other than use "az container create""
hey there, I would like to create a network profile with my prefer name and before create any container group. is there any way to do it?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1651f497-06fd-d00c-0b0c-1b4a51f90f9d
* Version Independent ID: 57fa7b63-4563-2ad2-4dc4-621f7295cd20
* Content: [az network prof

[2020-04-26 18:50] git001 opened #13192 "Generate Source from az cli call"
**Is your feature request related to a problem? Please describe.**
The problem which I try to resolve is the dynamic assign of Egress-IPs in OpenShift on Azure.
OCP 3.11: https://docs.openshift.com/container-platform/3.11/admin_guide/managing_networking.html#admin-guide-automatic-egress-ip
OCP 4: https://docs.openshift.com/container-platform/4.3/networking/openshift_sdn/assigning-egress-ips.html#n

[2020-04-26 19:05] dtrac commented on #9902
Uninstall / re-install of python and azure-cli fixed the same issue for me.

Cheers!

[2020-04-26 23:31] yonzhan commented on #13189
add to S170

[2020-04-26 23:34] yonzhan commented on #13190
@fengzhou-msft please take a look

[2020-04-26 23:35] yonzhan commented on #13191
add to S170

[2020-04-26 23:36] jluk commented on #13169
The error is reporting the correct response, please validate you are using the correct subscription and the RG exists to be deployed into.

[2020-04-26 23:37] jluk commented on #13171
The error message is accurate, you need an ssh key to exist on create to exist. As mentioned in the error you can pass a flag to have one generated on your behalf.

[2020-04-26 23:37] yonzhan commented on #13192
add to S170

[2020-04-26 23:48] newwinagain opened #13193 "az aks get-credentials: FAILURE."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-04-26 23:57] yonzhan commented on #13193
aks

[2020-04-27 01:49] yungezz commented on #13190
hi @nidiculageorge azure automation supporting python2, while azure cli is on python 3.x.

[2020-04-27 01:49] yungezz commented on #13193
hi @newwinagain have you installed aks-preview extension?

[2020-04-27 02:24] #13008 closed

[2020-04-27 03:11] yugangw-msft commented on #12276
fixed

[2020-04-27 03:11] #12276 closed

[2020-04-27 03:13] qwordy commented on #12573
Please add `--force-string`.
When using 'set' or 'add', preserve string literals instead of attempting to convert to JSON.
Related code:
src/azure-cli-core/azure/cli/core/commands/arm.py: def set_properties
[code]

[2020-04-27 03:37] yungezz opened #13194 "[Keyvault] MHSM vault backup/restore"
**Resource Provider**

Keyvault
**Description of Feature or Work Requested**

Swagger ready at [dev-keyvault-Microsoft.KeyVault-7.2](https://github.com/Azure/azure-rest-api-specs/tree/dev-keyvault-Microsoft.KeyVault-7.2/specification).

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-04-27 03:37] yungezz commented on #13194
for MHSM private preview

[2020-04-27 04:07] nidiculageorge commented on #13190
@yungezz is it possible to run powershell scripts with az commands in runbooks.When i try to run its showing as az command not found

[2020-04-27 04:24] nidiculageorge commented on #13190
Please see the attached screen shot

![image](https://user-images.githubusercontent.com/43850474/80333845-0979a000-886d-11ea-835f-b12c0b8f77b7.png)

[2020-04-27 04:44] yungezz commented on #13190
that's because azure cli isn't installed. hi @qwordy could you pls help to see is there way to install azure cli inside python2 runtime by pip?

[2020-04-27 04:49] nidiculageorge commented on #13190
@yungezz why are we using python 2 as its a powershell script that we are trying to run,these are the commands that we are trying to run

az vmss deallocate --resource-group aks-poc-seabnode --name aks-seabpocln-36792229-vmss

az vmss deallocate --resource-group aks-poc-seabnode --name aksakswin

[2020-04-27 04:53] a-santamaria commented on #12470
The fix is released in CLI version 2.4.0

[2020-04-27 05:22] divyamoorthyTR commented on #13150
Any updates?

[2020-04-27 05:30] qwordy commented on #13190
I think powershell can run any command. I'll experiment.

[2020-04-27 05:58] nidiculageorge commented on #13190
@qwordy please check with az commands as its not runing in Runbook ,please refer the screenshot above

[2020-04-27 06:03] qwordy commented on #13190
When I run this command to install azure cli. This command should run as an administrator.
[code]
I get an error.
[code]
Runbooks gallery contains many examples. But there is no CLI example.

[2020-04-27 06:06] nidiculageorge commented on #13190
can you try running commands using az as mentioned above

[2020-04-27 06:07] qwordy commented on #13190
The same result as you. Az is not installed be default. We need to install it first.

[2020-04-27 06:08] nidiculageorge commented on #13190
Where should we install and how that can be done

[2020-04-27 06:45] qwordy commented on #12701
Portal has an auto-shotdown feature for VM. It calls https://management.azure.com/subscriptions/.../resourcegroups/.../providers/Microsoft.DevTestLab/schedules/shutdown-computevm-vm1?api-version=2018-10-15-preview
https://azure.microsoft.com/en-us/services/devtest-lab/
I think it's an useful feature.

[2020-04-27 07:06] mustafa-rean commented on #12346
@Juliehzl , even after updating my keyvault to have `--enable-purge-protection true`, it doesn't work when i try to update the storage account to use the keyvault for encryption using following command
`az storage account update --name <storage_account_name> --resource-group <resource_group> --encryption-key-name <name_of_encryption_key> --encryption-key-version <encryption_key_version> --encrypti

[2020-04-27 07:10] MyronFanQiu commented on #13191
Hello. Looks like we cannot do it right now. I would invite container instance team to answer this question.
[code]

[2020-04-27 07:16] MyronFanQiu commented on #13192
add @jiasli  and @Juliehzl  for awareness.

[2020-04-27 07:42] carogonzalezzapata commented on #9917
Hello? Can we have an update here, please?

[2020-04-27 07:48] #8923 closed

[2020-04-27 09:19] KaiWalter commented on #12219
Same here - I also cannot deploy w/o SPN w/ MSI. Neither from CLI nor with ARM template.

[2020-04-27 09:30] naman1901 commented on #12219
Please see the template below to deploy with MSI:
[code]
@KaiWalter, For MSI, you need to use the `identity` tag. I was able to get help from the AKS team internally for this. Would be great if this got documented.

They also suggested exporting the ARM template from Portal before deploying for these properties.

[2020-04-27 09:39] qwordy commented on #12701
I drafted a PR for this feature.

[2020-04-27 09:40] KaiWalter commented on #12219
@naman1901 - thanks, based on your template I rearranged some stuff and now it is deploying

[2020-04-27 09:51] MyronFanQiu commented on #13192
@git001 Did you try terraform or ansible?

[2020-04-27 10:22] zhoxing-ms commented on #13150
Hi @divyamoorthyTR, here is a similar issue, maybe we can refer to it:  https://github.com/terraform-providers/terraform-provider-azurerm/issues/4950
Could you please try adding `--assign-identity` append to the command and see if it can solve the problem?

By the way, could you please send me your specific policy information by email? My email address is Zhou.Xing@microsoft.com.

[2020-04-27 10:38] mayank2k opened #13202 "az group list issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list -o {} --query {}`

## Expected Behavior

## Environment Summary
[co

[2020-04-27 11:33] JoeSainsburys commented on #12751
I have the same issue with north europe (is this a capacity issue?) Fails to create a vmss from terraform. Then I get the same error on start.

[code]

[2020-04-27 13:18] djaus2 opened #13203 "No az iot central and no az iot central commands"
When trying to run az iot central app show --name XXXX I got
az iot: 'central' is not in the 'az iot' command group

Yet they are listed: https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/central?view=azure-cli-latest

Same problem with PNP

-------------------------------------------------------------

PS C:\Users\DavidJones\source\repos\az-iothub-ps\PS> az iot central

. See '

[2020-04-27 13:43] AnandPatel4Git opened #13204 "Webapp:App Service web app SSL import command from Keyvault access right issue"
I have web app is in different resource group and keyvault is in different resource group as my keyvault contain shared secrets like wildcard certificate which can be utilized by all my 50-100 web app across enterprise . I Want to import SSL certificate stored inside keyvault to app service web app using  “az webapp config ssl import" command. I tried to trigger Azure CLI command from Azure devops

[2020-04-27 13:46] yungezz commented on #13204
routing to appropriate team

[2020-04-27 13:47] yungezz commented on #13203
routing to appropriate team

[2020-04-27 13:48] yungezz commented on #13202
hi @mayank2k could you pls be more specific what's error and what's expected result, thanks

[2020-04-27 14:05] dazinator opened #13205 "Webapp:Set "stack" fore windows containers?"
For windows containers (still not GA) there is also a "Stack" setting under configuration tab --&gt; "General Settings" --&gt; Stack Settings header - where you can pick ".NET Core". If I want to set this setting using `az webapp config ` is the argument still `--linux-fx-version` ? If so that seems counterintuitive as this is a windows container and nothing to do with linux. If it's not --linux-f

[2020-04-27 14:14] mayank2k commented on #13202
The problem auto resolved.

the issues came when i was using azure shell by creating default storage account. typing any command throw exception.

Now the problem automatically resolved, so closing the ticket.

[2020-04-27 14:14] #13202 closed

[2020-04-27 14:29] dazinator commented on #13205
- I just found --windows-fx-version - this can now be closed.. must have missed there before or it has just been added!

[2020-04-27 14:33] AshwinSarimin commented on #12698
I would like to see the reference URL also on this page

[2020-04-27 14:36] dazinator commented on #13205
I thought `--windows-fx-version` would be the answer for windows containers. However it failed - it seems this argument is not the windows containers parallel of `--linux-fx-version`.

So I am now out of ideas for how to set this for windows containers.

[2020-04-27 14:39] parasdesaicims commented on #13032
I do not understand, what exactly is the error message is pointing to specifically. Any help would be appreciated.

[2020-04-27 14:55] yonzhan commented on #13205
webapp

[2020-04-27 14:57] giorni commented on #12013
With the right permissions I was able to list it properly, thank you.

[2020-04-27 15:00] nidiculageorge commented on #13190
Please note we need to run powershell scripts in Azure run books with az commands as mentioned above

[2020-04-27 15:04] dazinator opened #13207 "Webapp:Is it possible to Pipe / STDIN in access key variable to keep more secure?"
As per other docs, MS recommends not providing secure / sensitive variables as command line arguments directly as they can show up in various O/S level logs.

With that in mind, how do we provided the storage access key to these commands, securely?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4892bb1c-5cb4-91fa-325b-

[2020-04-27 15:05] yonzhan commented on #12013
@giorni  was this issue resolved?

[2020-04-27 15:06] Krumelur opened #13208 "Cloud Shell - Azure CLI: passing headers not working but does with version 2.4.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm trying to use `az rest` to access a CosmosDB's REST API. This works fine locally with Azure CLI 2.4.0 installed on macOS. The problem is caused by the `--headers` parameter.

According to the docs (https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-rest), multiple header va

[2020-04-27 15:16] yonzhan commented on #13207
webapp

[2020-04-27 15:18] yonzhan commented on #13208
add to S170

[2020-04-27 15:26] anujelanco commented on #11950
AZ_FUNC_NAME="BDAZE1EBISNFA01"
RESOURCE_GROUP_NAME="BDAZE1EBISNRG01"
KEYVAULT_NAME="BDAZE1EBISNKV01"
az functionapp identity show \
    --name $AZ_FUNC_NAME  \
    --resource-group $RESOURCE_GROUP_NAME
PRINCIPAL_ID=$(az functionapp identity show -n $AZ_FUNC_NAME -g $RESOURCE_GROUP_NAME --query 'identity.principalId' -o json)
echo "principalId: $PRINCIPAL_ID"
PRINCIPAL_ID=$(az functionapp identity

[2020-04-27 15:38] rsponholtz opened #13209 "clean install of CLI on OpenSUSE 15 gives error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Created brand-new OpenSUSE 15.1 VM,  Installed CLI as per instructions here:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest

az login

gives error:
Error loading command module 'aro': No module named 'azure.mgmt.redhatopenshift'
details below:

**Command Name**
`az lo

[2020-04-27 15:39] hscofield commented on #13051
Tested this with az cli 2.4.0 and still does not work.

[2020-04-27 15:46] fookslala2004 opened #13210 "az interactive failed to run"
gerald@Azure:~$ az interactive
The command failed with an unexpected error. Here is the traceback:

[Errno 30] Read-only file system: '/home/gerald/.azure/commands/2020-04-27.15-41-59.interactive.354.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site

[2020-04-27 16:36] rickardp commented on #10435
Thanks! Our workaround involved monkey-patching the Python file that handled command logging to just nop all logging. Since then we moved to use a readonly volume for the directory that have the logs (for other reasons), and when I tried to see if the fixed code work, we can unfortunately no longer run it. Which poses the question, is there any official way to disable command logging entirely? (I.

[2020-04-27 16:44] giorni commented on #12013
The pull request by @qwordy would fix it. Right now the client still breaks when I haven't set the proper permissions.

[2020-04-27 16:58] sambit15k commented on #12861
Thanks , This issue was fixed ,

[2020-04-27 17:17] Cam-Borrowell opened #13212 "az keyvault create removes existing access policies"
If I run the command `az keyvault create` on an existing resource, the existing access policies are removed and replaced with a new one for the Azure DevOps project that ran the script.

[code]

[2020-04-27 17:47] zjalexander commented on #13190
This is not a supported scenario for Azure execution. See https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#using-executables-or-calling-processes and https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#where-to-run-your-runbooks

 If you don't want to or can't change your script to use the PowerShell equivalent commands, you will need to use

[2020-04-27 17:50] hpsan commented on #13125
It hasn't been resolved. I'm guessing it will be as a part of the S170 milestone

[2020-04-27 19:00] aramase commented on #9537
Opened an issue to track the required change - https://github.com/Azure/aad-pod-identity/issues/584

[2020-04-27 19:08] travis-sobeck opened #13213 "az aks update --api-server-authorized-ip-ranges "" does not work on PowerShell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
According to your documentation, https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-update, using empty string for --api-server-authorized-ip-ranges should remove the ip range restrictions, it however just throws an error leaving cluster in undesired state

az aks update -g $resGrp -n $

[2020-04-27 19:25] techn0rome0 opened #13214 "Instructions not clear"
I am requesting these instructions for enabling diagnostic logs for virtual machine scale sets to be more clear. The protection settings example does not work for most people testing and there are no powershell code examples or Azure portal examples to follow. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-27 19:41] git001 commented on #13192
@MyronFanQiu nope because I need golang code to implement the ip-config create command

[2020-04-27 19:50] keviny1273 commented on #12607
I think I am experiencing the same issue when trying to run an Azure SQL Database Export. Works when firewall rules on the Storage account allow access from all networks. When this is restricted to selected networks the export fails with the error above (Forbidden). This occurs even when Allow trusted Microsoft services to access this storage account is selected.

It would be good to understand ho

[2020-04-27 20:55] KZeronimo commented on #11576
Bumping this issue - and referencing this [feedback](https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/35895037-export-certificate-as-pkcs12-pfx-does-not-provide)

Preserving the password on pfx import and/or allowing a password to be set on pfx download is desired and needed!

@evmimagina I'm using the same approach; however, the certificate functionality is preferable since th

[2020-04-27 21:55] yonzhan commented on #13209
@fengzhou-msft please take a look

[2020-04-27 21:56] yonzhan commented on #13210
interactive

[2020-04-27 22:01] yonzhan commented on #13212
@bim-msft please take a look

[2020-04-27 22:05] yonzhan commented on #13213
aks

[2020-04-27 22:06] yonzhan commented on #13214
@qwordy please take a look

[2020-04-27 22:46] jluk commented on #13213
@tomgeske @feiskyer could someone investigate this?

[2020-04-27 22:52] TiloGit opened #13216 "how to delete many?"
Tried one liner but didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae881ef-ad75-32e6-6e64-6b526a2d9a5d
* Version Independent ID: 99971e2e-9ff6-f865-07f7-61efbcb16021
* Content: [az storage share](https://docs.microsoft.com/en-us/cli/azure/storage/share?view=azure-cli-latest#az-storage-share-delete)
* Cont

[2020-04-27 23:35] Forcebyte opened #13217 "Running 'az network' command for a specific RG when it has just been created (I.e. not updated in Graph database yet)"
In pipeline cases, there should be a way to directly query when a VNet / Resource group has just been created (for example, if I run an 'az deployment' that creates a VNet and Resource group)

in https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest, the docs specifically ask to use `--assignee-object-id` to remove errors caused by the Graph DB not being updated, but thi

[2020-04-27 23:51] yonzhan commented on #13216
add to S170

[2020-04-28 02:10] haroldrandom commented on #10435
@rickardp

For

Could you give us more detail/output/error that what's going wrong there?

For

This PR https://github.com/Azure/azure-cli/pull/12949 have enable this option, you can put
[code]
into the Azue CLI config file

[2020-04-28 02:15] bendubuisson commented on #11871
I have experienced the same bug with `secret set` with the subscription flag

[2020-04-28 02:25] bendubuisson commented on #11871
That being said, if you set the sub as default just before, it works, so:
[code]

[2020-04-28 02:33] yungezz commented on #13217
hi @MyronFanQiu could you pls help to have a look

[2020-04-28 02:37] yungezz commented on #13213
bug

[2020-04-28 02:38] yungezz commented on #13212
this is service idempotent issue. let's feedback and see what's right solution @bim-msft

[2020-04-28 02:42] yungezz commented on #13207
CLI don't have ability to mask passowrd in the secure way today when input from user

[2020-04-28 03:00] MyronFanQiu commented on #13217
@Forcebyte Hi. Could you share your questions in detail? You mentioned that `there should be a way to directly query`. What should be queried? `az network` is a command group instead of a command. Which command are we talking about?

[2020-04-28 03:12] travis-sobeck commented on #13213
Yes, please fix 😁

[2020-04-28 03:18] MyronFanQiu commented on #10511
@DaveKlassen Hello. We don't support python 2 anymore. Please use python 3 instead.

[2020-04-28 03:18] #10511 closed

[2020-04-28 03:27] MyronFanQiu commented on #11030
@sirwarshade Sorry for the delay. backendAddresses is a list object, so the value should be '[{\"fqdn\":\"20191030R2-Ontwikkel.azurewebsites.net\",\"ip_address\":null\"}]'. But I agree that `--add` is quite hard to use. I would add native implementation for this feature.

[2020-04-28 03:29] yonzhan commented on #13217
add to S170

[2020-04-28 03:37] arrownj commented on #13213
Hi @travis-sobeck , did you run this command in power shell ? There is a know issue for power shell to handle empty string. We need to specify an empty string as `'""'` in power shell. Could you try it once more ?

[2020-04-28 03:41] qwordy commented on #13190
Thank @zjalexander for quick response. Do you have any plan to support CLI scripts in runbook?
@nidiculageorge You can try hybrid worker. It needs some configuration.
https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker
Azure Pipelines is also an option. I have written bash script which contain CLI commands in Azure Pipelines. It can run successfully.

[2020-04-28 03:44] travis-sobeck commented on #13213
Yes, I do most things in PowerShell, I will try it in the morning in the morning

[2020-04-28 03:49] qwordy commented on #10970
The status after 3 is same as status after 1. I thinks it's reasonable.
Your expectation also makes sense.

[2020-04-28 05:09] qwordy commented on #12013
Glad to see that. You are welcome.

[2020-04-28 05:38] nidiculageorge commented on #13190
@qwordy @zjalexander what you are saying is,that we can configure powersell scripts with az commands in azure automation run books

[2020-04-28 06:00] TomGeske commented on #13213
It works for me in windows command prompt and azure CLI 2.4.0

Could you try

**Note: ensure you have a space between quotes.**

[2020-04-28 06:44] qwordy commented on #12013
The PR is merged. It will be released on 05/19/2020.

[2020-04-28 06:44] #12013 closed

[2020-04-28 07:49] qwordy commented on #12809
How do you create the VM and enable encryption? I tried and didn't reproduce your error following the quickstart.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-cli-quickstart

[2020-04-28 08:14] sirwarshade commented on #11030
@MyronFanQiu, I'm sorry to bother you again about it. The feature request is much appreciated 👍.

But when i use

`az network application-gateway address-pool update --gateway-name dekey-firewall --name test-apps --resource-group dekey --add backendAddresses '[{"fqdn":"20191030R2-Ontwikkel.azurewebsites.net","ip_address":null"}]'` it still does not work.

Also i've tried

`az network application-g

[2020-04-28 08:18] gopik opened #13226 "failed to create aks cluster in cloud shell."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-04-28 08:28] zhoxing-ms commented on #13125
@hpsan Hi, I can't reproduce this problem. Could you please send me the JSON file of template and parameters which you use by email?
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-04-28 08:36] zhoxing-ms commented on #12696
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-04-28 08:36] #12696 closed

[2020-04-28 08:36] zhoxing-ms commented on #12540
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-04-28 08:36] #12540 closed

[2020-04-28 08:36] zhoxing-ms commented on #12798
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-04-28 08:36] #12798 closed

[2020-04-28 08:47] MyronFanQiu commented on #11030
@sirwarshade Hi. I just checked the code. Looks like we already support it. Please try `az network application-gateway address-pool update --gateway-name dekey-firewall --name test-apps --resource-group dekey --servers 20191030R2-Ontwikkel.azurewebsites.net` and it should work.

[2020-04-28 08:53] MyronFanQiu commented on #11030
`--servers 123.4.5.6 www.mydns.com`

[2020-04-28 08:53] MyronFanQiu commented on #11030
for each backendAddreess, I think we can just choose one of fqdn or ip address.

[2020-04-28 09:10] #12614 closed

[2020-04-28 09:14] qwordy commented on #12841
I find some example with special behavior. This is a validator of `vm create`.
[code]

[2020-04-28 09:18] silentbobbert commented on #13152
Thanks for helping me out! I guess there is still a discrepancy between the query parameter you can use in the online tutorial tool - where you dont have to escape anything, and the parameter you must pass to the az version command. One has to be escaped and the other does not. Its not clear from the error messages, or the tutorial page what the user should do to correct their query parameter. Per

[2020-04-28 09:37] i008817 opened #13228 "az aks kollect command fails ..."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks kollect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kollect -h`

## Expected Behavior

## Environment Summary
[code]
#

[2020-04-28 09:37] qwordy commented on #12642
`--tags` or  `--tags ""` can work.
What's your command and result?

[2020-04-28 09:47] nohajc opened #13229 "cosmosdb mongodb collection update cannot set default TTL to -1"
## Describe the bug

When attempting to enable TTL on cosmosdb mongo collection with no default, TTL is disabled instead.

## To Reproduce:
Run the following command on an existing cosmosdb mongodb collection:

`az cosmosdb mongodb collection update --account-name {} --resource-group {} --database-name {} --name {} --idx "[{\"key\": {\"keys\": [\"_ts\"]},\"options\": {\"expireAfterSeconds\": -1}}]

[2020-04-28 10:00] sirwarshade commented on #11030
Yes it works YAY 👍

[2020-04-28 10:02] #11030 closed

[2020-04-28 10:05] balazs92117 commented on #12642
Sorry, I figured out it's not a bug, it's just a stupid mistake, I misused "".
For anybody else who runs into this issue:
use `--tags "Key1=Value1" "Key2=Value2"` instead of `--tags "Key1=Value1 Key2=Value2"`

[2020-04-28 10:05] #12642 closed

[2020-04-28 10:37] Eragra3 commented on #700
I think I see similar issue with Blob Storage, showing me tracebacks on `az storage blob download`

[code]

Blob missing is actually _sort of expected_ behavior in our case, I think it should be handled with regular error and nice message.

[2020-04-28 10:56] yonzhan commented on #13226
aks

[2020-04-28 11:14] yonzhan commented on #13228
aks

[2020-04-28 11:16] yonzhan commented on #13229
cosmosdb

[2020-04-28 11:21] jiasli commented on #700
@Eragra3, this doesn't seem to be related to `az sd`. Please submit a new issue and share the necessary information.

[2020-04-28 11:33] jiasli commented on #13152
Thanks for the suggestion.

The quoting issue is not only limited to `--query`, but to all parameters, like passing in a JSON string. We do have a doc to describe general quoting issues: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues

We are investigating about how to make it more obvious to the users.

[2020-04-28 11:47] zhoxing-ms commented on #12885
Hi @e14mattc, In fact, this issue is not caused by encoding, but by the subexpression operator `$()` in Bash handling the result as a string.
For example:

When executing `$(az resource list XXX)` in PowerShell returns results as an array, so `--ids` is passed as an array to the CLI and can be parsed normally.
![image](https://raw.githubusercontent.com/zhoxing-ms/image/master/1.png)

But executing

[2020-04-28 12:01] e14mattc commented on #12885
How many Azure resources allow a space in the ID, I wonder? Alerts are the only one I've come across so far. Feels like they should maybe restrict this to stop the user entering spaces & potentially running across this issue.

If the `az resource list XXX` command encoded any IDs that contained spaces with a %20 (maybe?) wouldn't this fix the problem & not break any existing Bash/Powershell script

[2020-04-28 12:21] krezreb commented on #13092
Getting back to you having redone the test on az cli 2.4.0
[code]
This time, rather than the command hanging, I am getting the following error message:

[code]

No information about which resource is causing the error

[2020-04-28 12:28] shurd commented on #13156
Hi @stephenb-kainos it is difficult to debug this problem without any detailed information. Collection and Database names are case sensitive, so please ensure those match the casings they were created with. If the error continues, please open a support ticket via the Azure portal and share subscription id/account name/database name/collection name so that we can help investigate.

[2020-04-28 12:31] krezreb commented on #13092
I noticed that 2.5.0 just came out a few hours ago.  I upgraded and redid the test, same result as with 2.4.0.

[2020-04-28 12:59] niswitze commented on #13161
Closing issue. Completely missed that I had a default location set for the cli. After removing the default location configuration this query pulled back both Application Insights and Log Analytics based log alerts.

[2020-04-28 12:59] #13161 closed

[2020-04-28 13:51] stmax82 commented on #12622
I ran into this problem today. It seems to be gone after upgrading to 2.4.0.
(Don't upgrade to 2.5.0, this is completely broken for me.. some problem with iot extensions)

[2020-04-28 14:15] fengzhou-msft commented on #12859
Cloud Shell has Azure CLI 2.4.0 now.

Currently, the only way to have a new Azure CLI version is through Cloud Shell release that happens every three weeks. Azure CLI's release cadence usually keeps pace with Cloud Shell except when there's code freeze for Cloud Shell which is the case during 2.3.x or Azure CLI has some urgent releases such as the latest 2.5.0.

[2020-04-28 14:17] djr29578 commented on #13140
Is there any update to the timeline on when this fix will be complete?

[2020-04-28 14:44] jboero commented on #10752
I know this is fairly old but still an issue.  In fact now the 2.7 modules for Azure are deprecated so the workaround isn't working.  Anybody?  Fedora is up to Python 3.7.7 and not much is working out of the box with az.

[2020-04-28 15:16] travis-sobeck commented on #13213
Ok, wrapping the double quotes in single quotes did work
az aks update -g ${resGrp} -n $aks --api-server-authorized-ip-ranges '""'
did remove clear out the previous values

[2020-04-28 15:45] jluk commented on #13213
@TomGeske the public docs state no spaces should work, could you please investigate this on the docs as a separate followup?
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#disable-authorized-ip-ranges

Closing this issue as resolved.

[2020-04-28 15:55] travis-sobeck commented on #13213
I would not consider this issue to be "resolved" as nothing was actually fixed.  wrapping the double quotes in single quotes is not a normal thing to do in powershell and i'm sure i'm not the only powershell user.  Azure CLI should be smart enough to take a null/empty value for --api-server-authorized-ip-ranges and not throw an error.

[2020-04-28 16:00] pgbconfirmit commented on #12809
We created the all the VMs using Terraform.

[2020-04-28 16:22] TitaniumDave opened #13231 "Base64 of CSR downloaded from KV certificate operations page doesn't match Azure CLI"
As described in the title, if you browse to your Key Vault after generating an RSA private key and CSR then browse to **Certificates -> Certificate Operation -> Download CSR** the Base64 and CSR is valid (and can be viewed with `openssl req -in foo.req -text -noout`).

However if you execute `az keyvault certificate pending show --name foo --vault-name bar` the Base64 on screen does not match the

[2020-04-28 16:35] jluk commented on #13213
Updating to be specifically about powershell if that is the root issue, handing off to Xiaojian/Tom to investigate as this may be a PowerShell syntax issue as opposed to an AKS issue.

[2020-04-28 16:42] fabiocav commented on #12622
@anthonychu @gzuber flagging this for review.

[2020-04-28 16:43] philspokas opened #13232 "XML specified is not syntactically valid"
## Describe the bug
az storage logging update command when used to update table storage logging, generates an invalid XML error

**Command Name**
``az storage logging update --connection-string $sa --log rwd --retention 120 --services t --version 2.0 --verbose

**Errors:**
XML specified is not syntactically valid.
``<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.c

[2020-04-28 16:54] #13152 closed

[2020-04-28 17:30] Japeth commented on #13205
Any updates on this?

[2020-04-28 17:44] josiahvinson opened #13233 "Failure running sample commands"
I'm trying to run the sample commands in the [az docs](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#code-try-18) using the Cloud Shell and getting failures. I'm logged into my Microsoft corp account.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to

[2020-04-28 18:07] anthonychu commented on #12622
@gzuber Can you please confirm if this has been fixed? Thanks.

[2020-04-28 18:09] fabiocav commented on #13127
That is correct. Currently, only local files are supported.

Closing as "by design", please let us know if you have any additional questions.

[2020-04-28 18:09] #13127 closed

[2020-04-28 18:21] philspokas commented on #13232
"--version 2.0" cannot be specified for table storage. Removing this parameter eliminates the error.

[2020-04-28 19:03] zjalexander commented on #13190
@qwordy no plans at this time, the product group monitors feature requests here: https://feedback.azure.com/forums/246290-automation

@nidiculageorge If you install the azure cli on a machine, and configure that machine as a hybrid worker, and use that hybrid worker to execute a runbook - yes. There's a few considerations to take when using a hybrid worker so please review https://docs.microsoft.c

[2020-04-28 19:20] ElvenSpellmaker opened #13234 "Can't run any az commands: Blank `cli.azure.cli.core.util` error"
**Describe the bug**
I was fine running 2.2.0 and decided to upgrade recently, but now I can't get anything to work at all.

All commands that do any talking to Azure respond with: `cli.azure.cli.core.util :` and literally no error output other than that (in the `--debug --verbose` logs).

Is there anything I can do to get any more detailed logs?

On further exploration `az rest` works, for exampl

[2020-04-28 19:58] jetzerb commented on #13081
My current workaround is a pair of hacks to install the latest pre-packaged version on focal / 20.04:
[code]

[2020-04-28 20:08] jetzerb opened #13235 "libffi is an undocumented dependency"
On a fresh install of the azure cli on Ubuntu, using the method described on [Install Azure CLI with apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest), attempting to install an extension results in an error message.  Adding the debug flag shows that it's due to a missing dependency on libffi (see [comments](https://github.com/Azure/azure-cli-extensions/pu

[2020-04-28 21:55] Tatsinnit commented on #13228
Hey @i008817 , thanks for sharing the info, it was helpful. So here is the issue: `Python 2.7.14`

The syntax error you are seeing is because the python version `az-cli-extension` uses and dependency on is `3.0`

* Details of what's new in `py3`:  https://docs.python.org/3.0/whatsnew/3.0.html

**Fix:** - Please upgrade your local machine python and you will not see this `syntax` issue.

Thanks.

[2020-04-28 22:36] yungezz commented on #13235
@fengzhou-msft could you pls have a look?thanks

[2020-04-28 22:38] yungezz commented on #13234
hi @qianwens could you pls have a look? thanks

[2020-04-28 22:39] yungezz commented on #13233
hi @arrownj could you pls look at why the auth endpoint is localhost? thanks

[2020-04-28 22:40] yungezz commented on #13232
@Juliehzl  to  help confirm this is by design behavior

[2020-04-28 22:42] yungezz commented on #13231
@bim-msft could you pls help to have a look? thanks

[2020-04-28 22:42] gzuber commented on #12622
Yes, this has been fixed in 2.4.0 with https://github.com/Azure/azure-cli/pull/12817. You can see the release notes [here](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice-1). This can be closed (which I can't do :( ) @anthonychu can you close this?

[2020-04-28 22:43] yungezz commented on #13226
seems duplicate issue with https://github.com/Azure/azure-cli/issues/13234

[2020-04-28 22:44] yungezz commented on #13233
duplicate with https://github.com/Azure/azure-cli/issues/13226

[2020-04-28 23:16] ns-abe-jun commented on #13137
It worked fine with CloudShell until the other day, but now it doesn't.
Until the other day, it was Az CLI ver 2.2.0, but now it is ver 2.4.0.
Probably it is related Az CLI ver 2.4.0.

Incidentally , The same phenomenon occurs in DevOps Pipeline (Ubuntu 16.04 / 18.04), but this is ver 2.3.1.

[2020-04-28 23:57] yonzhan commented on #13234
add to S170

[2020-04-29 00:05] yonzhan commented on #13232
add to S169

[2020-04-29 00:56] yungezz commented on #13233
add @jiasli who works on az rest

[2020-04-29 01:24] arrownj commented on #13226
Hi @gopik , it's a known issue of Cloud Shell. Similar to #11749 (comment)

To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command.

[2020-04-29 01:25] arrownj commented on #13233
Hi @josiahvinson, it's a known issue of Cloud Shell. Similar to #11749 (comment)

To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command.

[2020-04-29 01:39] gzuber opened #13236 "[AppService] Creating a function app should only set AzureWebJobsDashboard if AppInsights is disabled"

[2020-04-29 01:47] yungezz commented on #13226
hi @gopik are you running the command inside Cloushell?

[2020-04-29 01:48] yungezz commented on #13233
hi @josiahvinson could you pls the resource you're using in `az rest`? thanks.

[2020-04-29 01:51] qwordy commented on #12642
Glad to see your problem is solved.

[2020-04-29 01:53] #12212 closed

[2020-04-29 01:54] #12257 closed

[2020-04-29 02:13] yungezz opened #13237 "test issue"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-29 02:15] #13237 closed

[2020-04-29 02:16] yungezz commented on #13236
hi @gzuber could you pls share info about az cli version you're using, and command to help trouble shooting? thanks

[2020-04-29 02:20] #12797 closed

[2020-04-29 02:26] gzuber commented on #13236
Sorry @yungezz I'm on the AppService/Functions team, this is a tracking issue for a work item we need to fix the `az functionapp create` command. I've linked the related [Function's github issue](https://github.com/Azure/Azure-Functions/issues/1524) and the [PR](https://github.com/Azure/azure-cli/pull/13238) I just finished.

[2020-04-29 02:33] DAD713 opened #13240 "azure-iot fails install with v2.5.0"
**Describe the bug**
After installing azure-cli the azure-iot causes errors

**To Reproduce**
install azure-cli
az extension add --name azure-iot

**Expected behavior**
No Errors

**Environment summary**
installed using powershell, saw failure and uninstalled azure-cli from the control panel.
Installed azure-cli with MSI
run the extension command listed above failed.
OS: WIndows 10
Powershell 5

*

[2020-04-29 02:37] yungezz commented on #13236
Got it. thanks @gzuber for explanation.

[2020-04-29 03:13] jiasli commented on #11033
In **Azure Portal > Azure Active Directory > App registrations > Owned applications**, it is retrieving your owned **apps**, instead of **service principals**.

To get the same result as Azure Portal, please use `az ad app list --show-mine`

[code]

To add an owner to a service principal, please go to **Managed application in local directory**

![image](https://user-images.githubusercontent.com/40

[2020-04-29 03:18] haroldrandom commented on #13240
Sincerely sorry for the incovenience, we fixed it https://github.com/Azure/azure-cli/pull/13222
The next release would be tomorrow.

[2020-04-29 03:21] jiasli commented on #12739
This is not Azure CLI core related as the command is `az appservice list-locations --sku F1`. Routing to App Service team to investigate.

[2020-04-29 03:39] #12016 closed

[2020-04-29 03:44] mcipekci commented on #12739
@jiasli exactly, thats why I reported it to MSRC but person who was analyzing it didn't understand and requested me to report here why I'm not sure, tenants being able to create services on regions not belonging them is service issue and which can be potentially abused.

[2020-04-29 03:47] jiasli commented on #12739
@mcipekci, don't worry. App Service team will investigate it. @panchagnula

[2020-04-29 04:15] jiasli commented on #12488
What Azure Portal creates is **not** a predefined tag which can't be edited by Azure CLI. For example, I added a tag `testtag` to a resource group in Azure Portal, then run

[code]

Create a predefined tag with CLI:

[code]

Then add value with space to it:

[code]

Note that the space `%20` does appear in the URL `https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/tag