[2017-06-30 21:51] tjprescott commented on #3942
cc/ @derekbekoe, @mayurid

[2017-06-30 21:57] #3802 closed

[2017-06-30 21:57] #3856 closed

[2017-06-30 21:57] #3919 closed

[2017-06-30 21:57] #3921 closed

[2017-06-30 22:01] derekbekoe commented on #3942
See also https://github.com/Azure/azure-cli/issues/838

[2017-06-30 22:24] ecalder6 opened #3943 "AttrinuteError when trying to install a VM extension that is already installed"
### Description
**Outline the issue here:**
I've installed an extension using the Azure cli with vm extension set. I then tried to install the extension again with the same version number. The follow error is shown:
![image](https://user-images.githubusercontent.com/8675242/27755914-d7de0718-5da7-11e7-8f26-76f533f534b5.png)

---

### Environment summary

**Install Method:** How did you install the

[2017-06-30 22:38] tjprescott commented on #3943
What extension are you trying to install?

[2017-06-30 23:08] yugangw-msft commented on #3940
This is really the same thing like #1007. webapp's error model is not ARM conforming

[2017-07-02 06:30] urisimchoni opened #3946 "Supporting unattended install on Linux"
### Description
**Outline the issue here:**
Supporting unattended install on Linux
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Linux method - curl -L https://aka.ms/InstallAzureCli | bash

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

[2017-07-02 09:21] minherz commented on #2386
The workaround works. Hope the original will be handled as well.

[2017-07-02 09:21] #2386 closed

[2017-07-02 20:31] BretStateham commented on #3934
I am having the same issues.  I have a video that shows the behavior as well as repro steps here: https://1drv.ms/f/s!Al5K6Hl-Z2ggpOAxFzzNxiPoqKscjA

Repro steps given here for convenience:

1. Login to the Azure Portal
2. Open the Bash Cloud Shell
3. Issue the following commands (replacing the bssgroupcli3 and bssiotcli3 names with your own).

[code]

4. Note that the output of the first call to

[2017-07-02 21:32] BretStateham commented on #3934
Actually, after a little more testing it appears that the problem occurs in azure-cli version 2.0.9, but it is not happening on the same machine, group, hub, etc. with version 2.0.1.  Tested this in both a Powershell and Bash shell on my machine.  2.0.1 works, 2.0.9 has the problem.

Version information where it is working correctly (in PowerShell):

[code]

[2017-07-03 07:18] grawcho opened #3947 "az acs kubernetes get-credentials does not work behind socks proxy"
### Description
**trying to get credentials into .kube/config fails on timeout when ssh runs behind a socks proxy using .ssh/config:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: CLI Bash for RHEL 7 (on Fedora)

**CLI Version:** What version of the CLI and modules are installed? (Use `az

[2017-07-03 15:29] tjprescott commented on #3934
@xscript to take a look

[2017-07-03 15:40] mw007 opened #3949 "Having configured a default group name causes issues when listing virtual machines"
### Description
If you've configured a default resource group using the `az configure -d group` command, and that resource group no longer exists (e.g. it was deleted), then subsequent calls to `az vm list` will fail with the following error:

[code]

### How to reproduce the issue

1. Configure your default group with a non-existent resource group name: `az configure -d group='groupNotThere'
- Is

[2017-07-03 19:05] derekbekoe opened #3951 "VM creation failing?"
### Description

`az vm create -g myrg -n ubuntu2 --image UbuntuLTS`

I run a simple VM create command but then the deployment fails.

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
`interactive script`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
[code

[2017-07-03 19:08] derekbekoe commented on #3951
I also saw this error on the prev. version of the CLI before updating.
[code]

[2017-07-03 19:12] tjprescott commented on #3951
Did you re-run dev_setup to get the latest compute SDK?

[2017-07-03 19:13] derekbekoe commented on #3951
@tjprescott I'm using the latest shipped code.

[2017-07-03 19:48] tjprescott commented on #3951
I think I got similar errors after pulling the latest code until I re-ran dev_setup--then they went away.

Try running the command with --validate --verbose to get the ARM template. It should give a clue as to the problem.

[2017-07-03 20:48] #3597 closed

[2017-07-03 20:55] yugangw-msft commented on #3949
Non mainline scenario. Easy to clean up.

[2017-07-03 20:58] yugangw-msft commented on #3755
Dupe to #3650 which will be used for server issue tracking as I don't plan to apply client side workaround

[2017-07-03 20:58] #3755 closed

[2017-07-03 20:58] yugangw-msft commented on #3511
Done

[2017-07-03 20:58] #3511 closed

[2017-07-03 21:21] yugangw-msft commented on #3951
Sync'd to the tip of master, ran dev_setup, tried the command and it worked

[2017-07-03 21:23] derekbekoe commented on #3951
Hmm it's working for me now.

[2017-07-03 21:23] #3951 closed

[2017-07-03 21:48] itowlson opened #3953 ""az batch pool create" creates zero-node pools"
### Description

When I run the `az batch pool create` command passing a `--target-dedicated` of 3, the pool comes up with a `targetDedicated` of 0.

---

### Steps to reproduce

Run the following command:

`az batch pool create --id threenodes --vm-size small --os-family 4 --target-dedicated 3`

Then execute `az batch pool show --pool-id threenodes` or view the pool in the portal.

Expected: the

[2017-07-03 21:57] itowlson commented on #3953
It looks like this is fixed in Batch 3.0.2.

[2017-07-03 21:57] #3953 closed

[2017-07-04 00:28] #3368 closed

[2017-07-04 00:28] #3857 closed

[2017-07-04 00:28] #3882 closed

[2017-07-04 02:17] LiliDeng commented on #3794
+1, customer needs to see first boot up diagnostic info, azure cli 1.0 can enable boot diagnostics when create a vm

[2017-07-04 03:40] yueguoguo commented on #1878
Hi @brendandburns I am trying --ssh-key-value with ~/.ssh/id_rsa.pub, but get an error saying

[code]

Any idea about what might be the reason? Many thanks!

[2017-07-05 16:38] lostintangent opened #3958 "[WebApp] Delete command should be more transparent about deleting plans"
### Description

If you call the `az webapp delete` command, and the specified webapp instance is the only one within the App Service plan, then it will delete the plan as well. Personally, I found this behavior pretty confusing (since you have no way of knowing it's happening), but more importantly, it wasn't what I wanted at all, so I had to re-create the plan again.

The portal makes this behav

[2017-07-05 17:01] JasonRShaver opened #3959 "Need helpful errors for webapp deployment user set"
### Description
`az webapp deployment user set --user-name <username> --password <password>`

the error messages when this command fails are not intuitive – Bad request means create a stronger password and Conflict. Details: 409 means your username is taken.  Can we get some some errors in here that don't require googling to figure out?

[2017-07-05 17:16] JasonRShaver opened #3960 "Interactive mode 'progress' causes visual corruption when output errors"
### Description
When errors happen with `--progress` set, errors cause the output to become corrupted.

---

[code]

[2017-07-05 17:25] JasonRShaver opened #3962 "Interactive verbose mode with `--progress` has bad output"
### Description
Starting interactive mode with `az interactive --verbose` and running LRO commands with `--progress` causes bad outputs, *no heartbeat*, and the interactive UX is shown, but empty.

`
az>> az vm create -g MyRG -n MyVM --image UbuntuLTS --progress
az>> Use existing SSH public key file: /Users/jasonsha/.ssh/id_rsa.pub
Accepted: vm_deploy_YgbnsvjnymWhASelFeLWFIUfZTHpAfZZ (Microsoft.Re

[2017-07-05 17:27] troydai commented on #3017
/cc @JasonRShaver

[2017-07-05 17:39] yugangw-msft commented on #3959
You have already opened #3940

[2017-07-05 17:39] #3959 closed

[2017-07-05 17:41] yugangw-msft commented on #3959
Also this is a service side issue. //cc: @johanste to surface this up to service team

[2017-07-05 17:55] yugangw-msft commented on #3958
Yes, we can expose a flag for this.

[2017-07-05 18:07] tjprescott commented on #3958
This seems similar in concept to #3922. We should aim for a consistent solution.

[2017-07-05 19:02] yugangw-msft commented on #3958
It is a bit different, that the API supports this through a flag but CLI doesn't expose it

[2017-07-05 19:35] #3764 closed

[2017-07-05 21:01] yugangw-msft commented on #3923
#3961

[2017-07-05 21:01] #3923 closed

[2017-07-05 21:01] yugangw-msft commented on #3924
#3961

[2017-07-05 21:01] #3924 closed

[2017-07-05 21:01] yugangw-msft commented on #3927
#3961

[2017-07-05 21:01] #3927 closed

[2017-07-05 21:20] yugangw-msft commented on #3641
Removing the milestone flag... The fix was merged into xplat and will be included in its upcoming release. At that time, cloud console will just integrate it
//cc:@balajikris @mayurid

[2017-07-05 22:13] troydai commented on #3930
Move to sprint 19. Upgrading to 1.1.0 sdk will pull in `azure-nskpg 2.0.0` and `azure-mgmt-nspkg 2.0.0`. It requires more testing time.

[2017-07-05 22:13] troydai commented on #3775
Included in #3930

[2017-07-05 22:13] #3775 closed

[2017-07-05 22:50] troydai commented on #3895
Fixed in #3955

[2017-07-05 22:50] #3895 closed

[2017-07-05 23:07] JasonRShaver commented on #3960
Another example:

[code]

[2017-07-06 00:07] JasonRShaver opened #3968 "Interactive verbose mode should show default usage"
When we are using a default value in interactive mode with the `--verbose` flag, it should be displayed in the output:

Current:
[code]

Desired:
[code]

[2017-07-06 00:41] JasonRShaver opened #3969 "Ctrl-c on interactive mode F1 crash"
[code]

[2017-07-06 00:41] mabicca opened #3970 "[KeyVault] Newest CLI versions missing "all" option for az keyvault set-policy command"
### Description
In the past we had instructions to use the parameter all when specifying permissions for key/secret:

Currently, that option is not available, so at the moment you need to type all options separated by space.

This is the output of the help on CLI 2.0.9+DEV

   --key-permissions        : Space separated list. Possible values: encrypt, decrypt, wrapKey,

[2017-07-06 01:03] JasonRShaver opened #3971 "Interactive mode --progress does not allow prompts"
### Description
[code]
At this point, you cannot perform any action exit to exit.

[2017-07-06 01:05] JasonRShaver commented on #3971
White in this state, the terminal session is dead to input until the operation finishes.    The only option for early recovery is to kill the process.

[2017-07-06 01:09] JasonRShaver opened #3972 "Interactive mode heartbeat locks the help content"
### Description
[code]

You should see the help content stays on VM create.

[2017-07-06 01:25] JasonRShaver opened #3973 "Table output should show clean times"
Currently:
[code]

Desired:
[code]

[2017-07-06 01:26] JasonRShaver commented on #3973
Thoughts on time-zone handling?

[2017-07-06 01:37] JasonRShaver opened #3974 "Interactive and progress reporting omnibus"
Here is a list of features
* Turn on progress reporting for a running command (you hit enter 2 minutes ago, is it still going?)
* Show elapsed time on the heartbeat
* heartbeat should show number of operations running (if i start 4 vms with --progress, how many are left)
* In `--verbose` mode, output start and total time of the deployment
* Remove layout from F1 spot, and put Keys there instead, a

[2017-07-06 10:04] lucagervasi opened #3975 "group deployment validate should offer better debug output"
### Description

Issuing **az group deployment create** results in bogous error references, possibly referencing compiled json (template + parameters) line and column number. Sometimes it is hard to find errors.
It would be handy to output some lines surrounding the error instead of just "line 25 column 1 - line 25 column 2 (char 539 - 540)" references.
It would be handy having **az group deployme

[2017-07-06 16:48] tjprescott commented on #3970
Do you know which version had the "all" parameter?

[2017-07-06 16:50] tjprescott commented on #3973
What do you mean by clean? As a user, for visual display I'd prefer local times but for programmatic use I probably would prefer UTC.

[2017-07-06 17:08] yugangw-msft commented on #2868
Most `VM/VMSS create` use images defined in the alias doc. The number I was told is 80%+. Hence, I am not convinced we have to search managed images first, which incurs one extra rest call (mostly not useful and hurts the command perf). Also, it is possible other people prefer aliased common images, so this change will break them. Last, using a managed image is till very minority scenario, so I am

[2017-07-06 17:14] yugangw-msft commented on #3869
We should push the webapp team to fix it by providing "canonical name"

[2017-07-06 17:16] yugangw-msft commented on #2385
@atrauzzi, please reactivate it with clarifications

[2017-07-06 17:16] #2385 closed

[2017-07-06 18:11] oakeyc commented on #3968
The default values are already exposed for interactive with [F2]

[2017-07-06 18:22] #3929 closed

[2017-07-06 18:45] iyerusad commented on #3411
I ran into this today. Thought would follow note here incase anyone comes looking.

My finding is, in order to enable "programmatic deployment" of marketplace apps, you have to FIRST go through the creation/"purchase" process in the Azure Portal interface. You can then freely delete the created item and from then create using ARM templates.

Also, this applies **PER SUBSCRIPTION**! I had to do thi

[2017-07-06 19:00] #3890 closed

[2017-07-06 19:24] milan-janecek opened #3978 "Generic update should convert camelCased keys to python_case"
### Description
When i run:
[code]
I receive:
[code]
I guess updating osProfile.secrets is not yet supported (although--secrets in az vm create are) but would like to get this in Azure CLI as I am now forced to use Powershell's Add-​Azure​Rm​VM​Secret which seems to be the only option which works now for uploading certificates to VMs.

---

### Environment summary

**Install Method:** How did you

[2017-07-06 20:14] tjprescott commented on #3978
Please try the following:
'{"source_vault":{"id":"valid key vault uri"},"vault_certificates":[{"certificate_url": "valid uri to certificate"}]}'

The SDK expects python_casing, not camelCasing.

[2017-07-06 20:17] tjprescott commented on #2868
I have already added debug statements in the VM/VMSS create command (visible with --debug) which show how the storage profile is resolved (i.e. managed image vs. marketplace URN).

[2017-07-06 21:03] milan-janecek commented on #3978
That worked. Thanks a lot! Although not sure if az vm update -h gives the right help. Below are examples mentioned in the help:

Examples
    Add or update a tag.
        az <command> -n name -g group --set tags.tagName=tagValue

    Remove a tag.
        az <command> -n name -g group --remove tags.tagName

    Set the primary NIC of a VM.
        az <command> -n name -g group --set networkProfile

[2017-07-06 23:40] troydai opened #3980 "Split Azure Interactive command module's core and UI logics."
This issue is inspired by PR https://github.com/Azure/azure-cli/pull/3360. After discussed with @chrmarti I realize that both az interactive shell and az cli vs code extension depends on a common set of core functionalities:
1. load command table;
2. arguments completer;
3. profile management.

If we split the UI logic from the core logic in az interactive shell, the core logic can be exposed as t

[2017-07-07 00:07] tjprescott commented on #3978
Hi @milan-janecek the help text is correct. The generic updates look something like `<verb> <path> <value>` (i.e. set myList[0] "foo"). So internally the paths are converted from camelCase to python_case.  However, the value portion is always just treated as is, which is why, when you set a whole JSON object, they need to already be in python_case.

That's the explanation, but we can definitely lo

[2017-07-07 02:57] elibarzilay opened #3982 "Bad checking of the `--pattern` argument"
First of all, the `--pattern` argument description is giving very little
information: "used for files globbing"??  I had to try it out to see
how it's used.

Second, the way that it's implemented is probably going to be surprising
for most people.  I'm guessing that almost everyone would expect a
pattern like `x*` to match all files that begin with `x`, but it looks
like the pattern is actually ma

[2017-07-07 03:40] elibarzilay opened #3983 "The pains in copying web contents"
(This is basically an extended feature request list.  To skip to it, see
under the bar.)

I've been hacking on some script that copies a bunch of web pages
(generated api documentation pages) to blob storage, which is possible,
but painful.  What I wanted to do is:

1. Use proper content types
2. Serve a default html file when visiting `.../foo/` instead of forcing
   `.../foo/index.html`
3. Optio

[2017-07-07 11:48] zopyx opened #3984 "Bad or no error handling during for "az sf cluster""
### Description

[code]

does not perform any error checking or does not give any feedback when you specify an improper non-existing argument for --pem

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

[code]

**CLI Version:** What version of the CLI and modules are installed? (Use `az --versi

[2017-07-07 15:25] tjprescott commented on #3982
@troydai can speak to more detail, but you can use the `--dryrun` flag to see what files/blobs would be targeted with `--pattern` without actually performing the operation.

[2017-07-07 18:56] gatneil opened #3986 "az vmss create with existing LB"
### Description
When I try to create a scale set that references an existing LB, I get the error below (it seems the scale set PUT is using “None” for the backend pool name instead of the actual backend pool name):

[code]

If, however, I specify the --backend-pool-name, it works fine:

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive scr

[2017-07-07 18:58] jaraco opened #3987 "Easier login experience"
### Description

Each time I enter `az login`, I then automatically take several actions:
- copy the code to the clipboard
- launch my default browser
- enter the URL into the browser

There's no reason the client couldn't do these three things for me, using [jaraco.clipboard](https://pypi.org/project/jaraco.clipboard/) or similar for clipboard functionality and other techniques for launching a br

[2017-07-07 19:06] jaraco opened #3988 "az version fails with SyntaxError on Python 3"
### Description

`az --version` fails with SyntaxError on Python 3 due to Python 2 only library `futures` being installed.

Installing azure-cli 2.0.10 with pip on Python 3.6.1 produces [this output](https://gist.github.com/744660388f1907acd9a16f603d1f3044). Importantly, [these lines appear](https://gist.github.com/jaraco/744660388f1907acd9a16f603d1f3044#file-a-rb-L201-L202):

[code]

Subsequently

[2017-07-07 19:09] jaraco commented on #3988
I was able to work around the issue by manually removing the `concurrent` package and then uninstalling `futures`.

[code]

[2017-07-07 19:19] jaraco commented on #3988
I see that [azure-multiapi-storage does in fact declare the dependency conditionally](https://github.com/Azure/azure-storage-python/blob/master/setup.py#L77). The problem is that the wheel that's produced will have the dependency fixed based on the environment in which the wheel is built.

I also observe that if the package is installed into a virtualenv (and not using PYTHONPATH) to make the azur

[2017-07-07 19:25] jaraco commented on #3988
As I see it, there are a couple of ways to address the issue.

## Environment markers

If you declare the dependencies with environment markers, pip will evaluate the dependencies late and not install `futures` on Python 3. Depending on which versions of setuptools and pip you want to support, the dependency looks like this:

[code]

or

[code]

with the latter syntax requiring newer versions of s

[2017-07-07 19:34] jaraco opened #3989 "No module named azure in pyvenv"
### Description

Installing azure-cli to a Python 3 venv produces invalid `az` command.

[code]

Whatever magic the az script is attempting to do is apparently not detecting the virtual environment and is instead invoking an old Python from a different environment where azure is not installed.

It's possible this installation method isn't supported, but as a Python engineer, I would have expected

[2017-07-07 19:56] colemickens commented on #3897
I've had nearly 300 runs and 3 of the failures have been due to CLI.

Today I saw this:

[code]

We're on the latest released bundle.

[2017-07-07 20:19] tjprescott commented on #3748
Moving this back to the backlog due to the app-gateway work that appeared in 18 and upcoming priority items.

[2017-07-07 20:34] #3804 closed

[2017-07-07 21:13] troydai commented on #3989
@derekbekoe

[2017-07-07 21:20] derekbekoe commented on #3989
`python -m azure.cli --version`

What Python path does that refer to?

Also, does `/usr/local/opt/python/bin/python2.7` contain a different installation of the CLI?

This may be to do with the code in https://github.com/Azure/azure-cli/blob/master/src/azure-cli/az.

[2017-07-07 22:35] troydai commented on #3989
The `az` script executes the `python` on the PATH, which I assume is `2.7`. To make the az aware of the virtual environment some logics are required to find the correct python executable.

[2017-07-08 00:02] CameronVetter opened #3991 "az cosmosdb collection create fails when specifying a custom partition"
### Description
Using the command:
[code]
This command results in an error including:
[code]
Upon investigation I noticed that the request is malformed and missing the the kind value in command_modules, azure-cli-cosmosdb, azure, cli, command_modules, cosmosdb, custom. in def _populate_collection_definition

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip,

[2017-07-08 02:50] yugangw-msft commented on #2761
done

[2017-07-08 02:50] #2761 closed

[2017-07-08 14:33] jaraco commented on #3989
I have `python` aliased to `python3` because I use Python 3 by default even though the system Python is `python2.7`.

[code]

Python 3.6 is the stock python.org Python 3.6.1.

The only installation of the Azure CLI is in that virtualenv, so it's not installed to `/usr/local/opt/python/bin/python2.7`.

Yes, almost certainly. I wonder if the invocation should be `/usr/bin/env python -m`. I'll test t

[2017-07-08 14:43] jaraco commented on #3989
Using `/usr/bin/env python` doesn't work either. Replacing it with `$DIR/python` does work, however:

[code]

[2017-07-08 16:36] troydai opened #3994 "Confusing error message for misspelled command"
[code]

[2017-07-09 20:36] mabicca commented on #3970
Hi @tjprescott , I noticed that version 2.0.6 had it. Not sure if we need to reintroduce that but we just have to be sure that is documented properly.

[2017-07-09 23:23] itowlson commented on #3619
@troydai @derekbekoe We've had this flagged as an issue by Azure Batch program management.  We have a workaround where we can advise customers to use the MSI then run az's private copy of pip to install the extensions (`C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe -m pip install azure-cli-batch-extensions`).  This isn't very obvious to customers though, and doesn't give a clean unin

[2017-07-10 05:32] itowlson commented on #3667
Some users found a workaround by running the MSI followed by `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe -m pip install azure-cli-batch-extensions`.  However another user reports that this broke his entire CLI with the following error:

'Profile' object has no attribute 'get_expanded_subscription_info'
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDK

[2017-07-10 17:08] derekbekoe commented on #3667
@itowlson We're looking at what's available in the Python ecosystem to support this scenario (and if we need to roll our own).

The issue your customer ran into is exactly *one of the reasons* why we've disabled the 'az component' commands in the MSI. I suspect that `azure-cli-batch-extensions` had dependencies that didn't match with the version of the MSI the customer had installed.

[2017-07-10 17:29] yugangw-msft commented on #3987
Launching a browser is not hard. We are discussing with AAD team for auto-filling the code.

[2017-07-10 17:32] derekbekoe commented on #1550
Closing this issue whilst this feature is rethought as part of https://github.com/Azure/azure-cli/issues/3619. The progress bars in the initial post came from `pip`.

[2017-07-10 17:32] #1550 closed

[2017-07-10 17:37] tjprescott commented on #3970
Hi @mabicca it looks like in the newest API version of the KeyVault management plane, they removed "all" as a valid option for these enums.  I've opened an issue against the REST API specs (https://github.com/Azure/azure-rest-api-specs/issues/1394) to get resolution on whether the new API version truly doesn't support "all" or whether it was accidentally removed.

[2017-07-10 17:40] tjprescott commented on #3970
cc/ @schaabs. If "all" is no longer supported by the service, it would likely make sense to support it with custom logic in the KeyVault convenience layer or, at a minimum, in the CLI.

[2017-07-10 18:27] agolomoodysaada opened #3995 "Misleading error message when resetting SSH key on a VM"
### Description

The following command works on all my VMs except for one particular one show below.
NOTE:
`az` is an alias to `docker run --rm -v /Users/$(whoami):/root -it azuresdk/azure-cli-python az`
[code]

I tried checking the Azure console and found the following message on this particular VM when resetting SSH key
[code]

Screenshot
![screen shot 2017-07-10 at 2 21 44 pm](https://user-imag

[2017-07-10 18:29] schaabs commented on #3970
@tjprescott The "all" permission was intentionally removed in this API version when we added the purge permission. This was to avoid users unintentionally assigning the purge permission to users, and force them to be explicit.

[2017-07-10 19:39] tjprescott commented on #3970
Thanks @schaabs.  Based on this, I'm going to close this issue as I don't see any instances of "all" being used in the CLI help documentation.

[2017-07-10 19:39] #3970 closed

[2017-07-10 20:54] magol opened #3996 "Add key to App registration in Azure Active Directory"
### Description
I try to script the process to create my environment in Azure, but I can not find how I do to add a key to a app in the Azure Active Directory.

To add a key, I have to use the GUI like this:
 1. Go til Azure Active Directory
 2. Select App registration and select my app
 3. Select Keys
 4. Give a "Key description" and press Save
 5. Copy the generated value

Or is it any way to do

[2017-07-10 21:09] troydai commented on #3745
@JasonRShaver

[2017-07-10 22:18] elibarzilay commented on #3757
@tjprescott Is there any chance that this will get implemented?  We currently have a script that garbage-collects old build artifacts and since we added documentation pages the process of a single version deletion takes about 30 minutes...

[2017-07-10 22:45] tjprescott commented on #3757
Sounds like a very reasonable request, although if the service doesn't support batch deletion then anything we do would basically be the same loop you are doing behind but behind the scenes. @troydai, @mayurid for technical feasibility and priority.

[2017-07-10 22:48] tjprescott commented on #3996
@yugangw-msft

[2017-07-10 22:51] troydai commented on #3481
After investigation I found this feature requires SDK improvement: https://github.com/Azure/azure-sdk-for-python/issues/1296

[2017-07-10 23:12] lmazuel commented on #3481
@troydai or not :)
https://github.com/Azure/azure-cli/blob/56bfba8c830ae2d4a5438d0fca9d7c0a0bf0150a/src/azure-cli-core/azure/cli/core/commands/__init__.py#L539

I return an iterator, and you cast it as a list :)

[2017-07-10 23:14] troydai commented on #3481
Misread the code. You're right.

[2017-07-10 23:15] lmazuel commented on #3481
@troydai no problem! You'll get me next time for sure :p

[2017-07-10 23:17] elibarzilay commented on #3757
Well, one thing that would be different is that if the cli is doing the deletions in one call, then the implementation could do the iteration over each blob and issue a delete, all on a single connection --- and that would be a huge saving over what can be done now since doing the loop outside the cli means about 2 seconds for each request which is probably mostly spent on establishing a connectio

[2017-07-10 23:21] troydai commented on #3757
https://docs.microsoft.com/en-us/rest/api/storageservices/delete-blob
Currently, there isn't a REST API call for batch deletion. We can implement batch delete for your convenience, but we basically do the same thing as looping blob in a script.

I'm not sure what optimization the storage explorer has done. I'll look into that.

[2017-07-10 23:25] troydai commented on #3757
Another option is multi-threading. Then the main topic will be how to do throttling and prevent racing situation.

[2017-07-10 23:32] yugangw-msft commented on #3996
Try `az ad sp reset-credentials`

[2017-07-10 23:35] yugangw-msft opened #3999 "vmss: support disk encrypt/decrypt"

[2017-07-10 23:46] troydai commented on #3745
@tjprescott updated with 3 state flag.

[2017-07-11 02:01] #3930 closed

[2017-07-11 04:24] troydai opened #4000 "Not able to list "Web App On Linux""
The websites created on Linux app service plan can't be listed using `webapp list` command.
[code]

![screen shot 2017-07-10 at 9 23 51 pm](https://user-images.githubusercontent.com/1329240/28050998-1c360594-65b6-11e7-898e-76e92290cf41.png)

The app service plan can be listed correctly:
[code]

@yugangw-msft

I'm on latest dev code / Mac OS.

[2017-07-11 06:10] magol commented on #3996
@yugangw-msft Thanks for you answer. Now I know how I generate a new password for a key. But how do I create a new key? I have test the parameters, but can not figure out how I should do

[2017-07-11 16:28] yugangw-msft commented on #4000
This is a server breaking change, that the app type for linux webapp was changed over to `app,linux`, which breaks the client side filter.  Let me double check with them before fix this.
Note, linux webapp is not GA yet

[2017-07-11 17:02] yugangw-msft commented on #3996
`key` is the `password`, same thing. Portal uses `key`, but the graph directory api underneath uses the term of `password credential`, and the `key credential` is meant for certificate based creds, a different thing. Yes, confusing.
The subtle part is do you want to add new `password` and keep the old ones? If yes, then `reset-credentials` might not do you like as it just overwrites old ones.

[2017-07-11 17:18] elibarzilay commented on #3757
@troydai, I don't know what it actually does, but I think that a lot of
speedup can happen if you keep the connection alive -- and it seems to
me that this could lead to the speedup that happens when deleting a
subtree in the storage explorer.  Assuming that most of the ~2 second
per deletion via the cli is spent on establishing a connection, this
would be the boost that will make it a practical o

[2017-07-11 17:21] tjprescott commented on #3986
Thanks for the report @gatneil!  This will be fixed in the next release (late July)

[2017-07-11 18:01] gatneil commented on #3986
awesome; thanks! :)

[2017-07-11 18:36] #3968 closed

[2017-07-11 19:18] troydai opened #4002 "Consider remove jsonc output formatter"
There are existing tools to colorize the json output. For example, `az ad user list | jq` generated colorized results as well.
![screen shot 2017-07-11 at 12 17 13 pm](https://user-images.githubusercontent.com/1329240/28086152-e48f7300-6632-11e7-9c2a-58fa00d5478b.png)

This can reduce the number of dependencies and simplify the output logic. In addition, this reduce the chances that issues caused

[2017-07-11 20:33] JasonRShaver opened #4003 "Interactive-mode script helper"
### Description
Provide commands in Interactive mode to record activity and generate automation scripts.

### Non-Goals
1. Not creating an editor
2. Supporting non-interactive usage

### Scenario 1 - "I want to automate something common"

[code]

### Scenario 2 - "I do this everyday, please automate it"
Customer does some tasks daily, but would like to run them automatically.  The `--service-princ

[2017-07-11 22:12] troydai commented on #3757
@elibarzilay agrees. Thanks for the advice. I'll see what we can do to improve the performance.

[2017-07-11 22:30] viananth opened #4007 "NIC creation fails in Azure Stack"
### Description
NIC creation fails while trying to create in an Azure Stack env

Cmd:
`az network nic create -g testrg --vnet-name testvnet --subnet testsubnet -n testnic1`

Error Summary:

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
git clone
**CLI Version:** What version of the CLI and m

[2017-07-11 22:31] #3986 closed

[2017-07-12 07:04] liorbiu opened #4011 "Check my resources quanta limit"
### Description
I would like to know how can I get my resources quanta limit, i.e. check how many VMs (or cores) I can create?, check how many public IP addresses I can create?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt-get

**CLI Version:** What version of the CLI and modules are in

[2017-07-12 13:38] elibarzilay commented on #3757
Thanks!

[2017-07-12 17:54] yugangw-msft commented on #4011
Check out `az vm list-usage` and `az network list-usages`, which should address the scenarios you mentioned.
We don't have one command outputing everything

[2017-07-12 18:01] AmudhaPalani commented on #3196
Can you please let me know if there's any update to this? Does az acs create command allow property vnetSubnetId to be set?

[2017-07-12 18:07] liorbiu commented on #4011
@yugangw-msft Thank you, this is exactly what i looked for!

[2017-07-12 18:07] #4011 closed

[2017-07-12 18:12] #4000 closed

[2017-07-12 20:09] elibarzilay opened #4012 "Inconsistent error thrown when naming a missing blob using a pattern"
If I try to delete a blob with a pattern that doesn't match anything:

    az storage blob copy start-batch --destination-container="foo" --source-container "bar" \
                                     --pattern "foo/*"

or even

    az storage blob copy start-batch ... --pattern "foo*"

I get an expected empty list of copied paths.  However, if there is no
`*` in the pattern I get an error:

[2017-07-12 21:17] elibarzilay opened #4013 "`az storage blob list` should clarify the meaning of `--prefix`"
The description of `--prefix` is pretty straightforward, but I think
that it would be better if there was an additional warning there saying
that it is just a plain *literal prefix*.  In other words, it should
clarify that a listing with `--prefix foo` would show all of `foo`,
`foo2`, and `foo/bar` (when they exist, of course).

This would be helpful in avoiding an illusion that this is a similar

[2017-07-12 22:09] clehene opened #4014 "data lake cli (dls) upload / download chunk and block size support"
### Description
The default chunk size (268MB) prevents parallelization of smaller transfers.
Exposing additional parameters (chunk, buffer, block size) in the CLI would allow to take advantage of parallel transfers for smaller files.

---

[code]

[2017-07-12 23:30] yugangw-msft opened #4016 "test: playback mode could sending out live requests"
The test error looks like, `msrestazure.azure_exceptions.CloudError: Azure Error: SubscriptionNotFound
Message: The subscription '00000000-0000-0000-0000-000000000000' could not be found.`

2 notes:
1. It does pass sometimes through.
2. The stack below shows live connection is being constructed

[code]

[2017-07-13 00:06] #3306 closed

[2017-07-13 04:23] troydai commented on #4012
The root cause is a performance optimization [here](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py#L28). When the pattern doesn't contain a wildcard, we use it as blob name directly to fetch the source so as to save the listing cost. Hence the inconsistency. This can be fixed.

However, I'd like to point out one thing.

[2017-07-13 04:45] elibarzilay commented on #4012
1. Yes, I am *extremely* aware that it's not a hierarchical directory
   tree...  (And I know about some of the alternatives.)

   (And BTW, see the note from the storage team
   [here](https://feedback.azure.com/forums/217298-storage/suggestions/6417741-static-website-hosting-in-azure-blob-storage).
   Also, the desire to make it look like a hierarchy obviously strong,
   as evident by how the st

[2017-07-13 05:13] troydai commented on #4012
Great. Glad we cleared it up. I will deal with the inconsistency.

Regarding the matching mechanism, the current match function is `fnmatch`, one step further we can use `glob`, and the ultimate case is `regex`. There are things we can do to make the matching more flexible. Thanks for the advice, we will look into it.

[2017-07-13 05:49] elibarzilay commented on #4012
Thanks!

[2017-07-13 06:21] SergeyKanzhelev commented on #3641
@yugangw-msft can you please clarify your answer. Why it is not supported in azure portal shell? if you'll fix it in adal-python (not sure what it is) - how can I use it in Azure Cloud Shell?

My use case - I'd like to get access token to run REST API calls to Application Insights data.

[2017-07-13 13:14] angrox commented on #3855
Obviously the official azure-cli documentation has this feature already documented (--https-only) https://docs.microsoft.com/en-us/cli/azure/storage/account#create

The code is still missing the feature, though.

[2017-07-13 16:21] yugangw-msft commented on #3641
@SergeyKanzhelev, the fix was made in CLI 1.0(aka xplat), not in the adal-python which CLI depends on. I have corrected my old comment.
Cloud console doesn't manage the token used by CLI, rather just initializes the CLI with existing credentials used in the portal. `get-access-token` is a CLI command which retrieve it from the token cached by CLI itself

[2017-07-13 16:30] SergeyKanzhelev commented on #3641
So can you make cloud console generate the token, so one can use it to `curl` REST call from the console.

[2017-07-13 16:36] troydai commented on #3855
The change was merged days ago https://github.com/Azure/azure-cli/pull/3997. The document site picks it up fast. The next release containing the change will be in a couple of weeks. I'll close this issue.

Thanks for reporting and commenting.

[2017-07-13 16:36] #3855 closed

[2017-07-13 16:38] SergeyKanzhelev opened #4019 "--query for az resource show output result on different lines"
### Description

When I running command

[code]

the result is shown on two separate lines:

[code]

How can I make it output in a table format? Why when I do a similar `--query` for the list of items - id and location forming a single line?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

Cl

[2017-07-13 16:45] troydai commented on #4019
You can use this query: `--query '{id:id, location:location}'`. This converts the result into a dictionary and `tsv` will omit the properties names (which are headers of the table).

[2017-07-13 16:56] SergeyKanzhelev commented on #4019
oh, snap. I tried this without the quotes and it didn't work. Thank you.

It is counter-intuitive that `--query [*].[name,resourceGroup] --out table` puts `name` and `resourceGroup` on a single line when this: `[name,resourceGroup]` on two separate. Not closing the issue to understand why this inconsistency

[2017-07-13 17:26] troydai commented on #4019
@SergeyKanzhelev to select properties and form a table, the correct way is to project each item in the list to a dict, which is `--query [*].{name,resourceGroup}`.

There are more examples in http://jmespath.org/. We relies on JMESPath to transform the json results.

[2017-07-13 17:27] troydai commented on #4019
I will close this issue. Thank you. Please feel free to comment on any other concerns.

[2017-07-13 17:27] #4019 closed

[2017-07-13 17:41] #4007 closed

[2017-07-13 18:44] SergeyKanzhelev commented on #4019
Thank you! So my understanding is that this thing `az resource list --namespace microsoft.insights --resource-type components --query [*].[id,location]` returns the array of arrays. So  `--out tsv` will make every nested array a row and all elements of nested array is a separate column. When this command `az resource show --id "$ID" --query [id,location] --o tsv` returns an array of strings. So `-

[2017-07-13 20:10] gbowerman opened #4021 "Alphabetize az help command listing"
## Description
The current help output lists the commands in a seemingly random order, so if I want to find "account" for example, I have to parse the entire list of commands. It would be better for this list to be ordered.

Current output (from Azure cloud shell az 2.0.9):
[code]

[2017-07-13 20:45] yugangw-msft commented on #3736
//cc:@mayurid
We need to ensure this gets done soon as 1.0's account commands have bugs on refreshing

[2017-07-14 01:07] #4014 closed

[2017-07-14 18:35] ahmedelnably opened #4023 "Add generate container CI URL for Web App on Linux"
### Description
**Outline the issue here:**
No command to generate container CI URL for Web App on Linux
---

[2017-07-15 03:12] yugangw-msft opened #4026 "vmss/vm: support enableAcceleratedNetworking"
For general knowledge: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-create-vm-accelerated-networkin

[code]

[2017-07-15 03:14] yugangw-msft opened #4027 "vmss: support configure nsg"

[2017-07-16 02:34] dazdaz opened #4028 "False positive from devicelogin"
### Description
False authentication positive reported via devicelogin from az cli 2.10.
I run az login, copy the code into aka.ms/devicelogin, enter my account details and receive a successful authentication report, however I cannot execute any az commands, as i'm told to run 'az login' again.

I installed Ubuntu 17.04 to see if a fresh OS and different distribution makes a difference, azure-cli

[2017-07-17 16:58] brendandburns commented on #3922
This doesn't really apply to ACS, as it only creates a single resource (the 'ACS' resource).  Creating an 'ACS' resource in turns creates a bunch of resources, but we are going to own the deleting of those resources in the ACS API, not in the CLI.  We don't do this currently, but it is planned for calcium.

[2017-07-17 16:59] tjprescott commented on #3922
Sounds good @brendandburns

[2017-07-17 17:35] troydai commented on #3858
The string is OS version string which is given by Ubuntu. We do not have the control over the format of the string.
[code]

We return system type in OS.Type, which is 'Windows', 'Linux', and 'Darwin'. There isn't a good way to generalize the different distro among Linux without extensive string parsing.

[2017-07-17 18:06] yugangw-msft commented on #4028
Does your account have subscriptions? if yes, maybe you can share the verbose log (`--debug`) and let me take a look?

[2017-07-17 19:52] yugangw-msft opened #4033 "Storage: support server side encryption through MSI"
https://github.com/Azure/azure-powershell/pull/4070

//cc: @troydai  @mayurid

[2017-07-17 21:41] yugangw-msft opened #4034 "vmss: when --public-ip-per-vm is used, create NSG by default"
At least we should warn.

[2017-07-17 21:46] yugangw-msft commented on #4034
For now, I will update PR #4029 to mention this in the help for `--public-ip-pervm`

[2017-07-18 09:19] dazwork commented on #4028
Emailed you the debug log. Let me know if I can provide further info. Not being able to use Azure CLI is a major issue for me. Thx

[2017-07-18 16:30] yugangw-msft commented on #4028
Thanks. I have recommended you open an internal ticket to let AAD ESTS take a look.

[2017-07-18 16:40] tjprescott commented on #3648
@mayurid did you have anyone in mind to address this?

[2017-07-18 16:52] tjprescott opened #4037 "Add support for Monitor Activity Log Alerts"
New SDK features in azure-mgmt-monitor v 0.3.0

https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-monitor/HISTORY.rst

[2017-07-18 17:46] itzrahulsoni opened #4038 "Unable to create VM using Azure CLI 2.0"
### Description
I am unable to use the following command to create a VM using Azure CLI 2.0

az vm create -g $resource_group \
-n $dc_vm -l $location --admin-username $admin \
--admin-password $password --attach-os-disk $dc_disk \
--authentication-type password --availability-set $availability_set \
--image Win2012R2Datacenter --license-type Windows_Client \
--nics $dc_nic  --os-type Windows

I ge

[2017-07-18 18:13] viananth opened #4039 "Travis CI needs to include tests for 2017-03-09-profile"
### Description
Travis CI runs tests only for profile "latest"
It should also support running tests for profile "2017-03-09-profile"
Its a test blocker for Azure Stack. Having Travis CI run tests for "2017-03-09-profile" helps us catch breaks in Stack immediately.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, ni

[2017-07-18 18:15] tjprescott commented on #4038
You cannot use `--attach-os-disk` and `--image` together.  You should remove `--image` if you are using an existing OS disk.

[2017-07-18 19:25] JanaJensen opened #4040 "Curl install on RHEL 7.3 encounters "command not found""
### Description
**Outline the issue here:**

sudo curl -L https://aka.ms/InstallAzureCli | bash
results in:
bash: line 33: /tmp/azure_cli_install_tmp_5U1E: Permission denied

So I tried this:
sudo bash /tmp/azure_cli_install_tmp_5U1E
resulted in a whole bunch of "command not found" on things like "from", "import", "try".

How should I be invoking this?

Attached is my terminal session with all of

[2017-07-18 20:42] trstringer opened #4041 "Functionapp:Add ability to create a Function App or Function key directly"
### Description

The Azure CLI should be able to create a function-app-scoped or function-scoped key in an Azure Function App via the `functionapp` subcommand. It should also be able to retrieve existing keys.

[2017-07-18 20:56] yugangw-msft commented on #4038
i think the current document is enough, so close it?

[2017-07-18 20:58] yugangw-msft commented on #4023
Could you please elaborate the detail logic here?

[2017-07-18 21:16] ahmedelnably commented on #4023
To setup CI/CD for custom containers for Web App on Linux you need to configure DockerHub or ACR with a webhook URL to send the change notifications to.
To generate that URL the customer need to download their publishing profile and format the URL carefully, this is explained here: https://docs.microsoft.com/en-us/azure/app-service-web/app-service-linux-ci-cd#step-3---prepare-webhook-url

using th

[2017-07-18 21:23] yugangw-msft commented on #4023
Got it, should the command also expose the argument to enable `DOCKER_ENABLE_CI`?

[2017-07-18 21:27] ahmedelnably commented on #4023
We were thinking about having this is a get/show command. and have another command to enable the app setting.

General guidance in the command design will be really appreciated.

[2017-07-18 21:48] yugangw-msft commented on #4023
if 2 steps are usually done at the same time, then it is unnecessary to split into 2 separate commands. Users are mostly scenario(task) driven, so would appreciate simplicity. BTW the existing command doing this kind of thing is `az webapp deployment source config`.  Should we update it or are you considering new commands?

[2017-07-18 22:06] ahmedelnably commented on #4023
@aspaan has a PR out: https://github.com/Azure/azure-cli/pull/4044

The command we are proposing is: 'webapp deployment list-container-cd-url'

[2017-07-18 22:14] yugangw-msft commented on #4023
This command is fine. Still I would suggest we follow up on end to end configuration. For ACR, if not mistaken, CLI can handle it completely for users.

[2017-07-18 22:19] jeongyoonlee opened #4045 "make --name and --file optional for az storage upload and download"
### Description
**Outline the issue here:**
Azure CLI requires much longer commands than AWS CLI. Making `--name` in `az storage upload` and `--file` in `az storage download` optional will help.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt install

**CLI Version:** What version of the

[2017-07-18 23:53] yugangw-msft commented on #3736
fixed by #4035

[2017-07-18 23:53] #3736 closed

[2017-07-18 23:56] #4038 closed

[2017-07-18 23:57] yugangw-msft commented on #3641
I don't think cloud console ever exposes the token endpoint. CLI team doesn't own the console. Maybe you can open a separate issue with the details for why you need this. In the context of CLI, `get-access-token` is the way to go.
I am closing this issue, as through #4035, the login flow will be taken over by CLI 2.0 and I have verified the command works

[2017-07-18 23:57] #3641 closed

[2017-07-19 00:35] mayurid commented on #4045
@troydai to comment.

[2017-07-19 00:48] colemickens opened #4046 "Warn users when CLI is out of date (esp for bug fixed commands)"
### Description
**Outline the issue here:**

Saw a user mention on Twitter that they had struggled with a particular `az` command and it turned out it was due to an old version of CLI (presumably newer versions included a bugfix). It would be nice if the CLI warned users, either, when:

1. the CLI is out of date
2. there is a known bugfix for a particular command being executed in the CLI

The fir

[2017-07-19 09:36] bertschneider opened #4048 "[Service Fabric] Application Upload does not honor certificat settings"
### Description
I am using the Azure CLI 2.0 on MacOS to connect to a secured Azure Service Fabric Cluster (self signed certificate). The connection and some commands work just fine but the `application upload` command seems to not honor the certificate settings from the `cluster selection`.

Is there a way to add the `—no-verify` flag to other commands or to add the certificate to the python cert

[2017-07-19 15:02] baynes opened #4049 "append blob upload ignores --if-none-match"
### Description
[code]

Will upload the content (and append it) even if the blob already exists.
If the blob is not of type append then the upload will fail as expected if the blob already exists.

This also applies to using an explicit ETag version with both `--if-none-match` and `--if-match`.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive s

[2017-07-19 16:13] #3936 closed

[2017-07-19 16:13] #3995 closed

[2017-07-19 17:05] troydai commented on #4045
@jeongyoonlee thanks for opening this issue. I assume you're talking about `az storage blob upload / download` command, because its has both `--name` and `--file` parameter. In both scenarios, without specifying the `file`, which represents the desination, or `name` which represents the source, the command can't guess what action to take.

Can you please elobrate your idea a bit further by show me

[2017-07-19 17:27] derekbekoe commented on #4040
@JanaJensen It's a Python script so `sudo bash /tmp/azure_cli_install_tmp_5U1E` wouldn't work.
You can use `sudo /tmp/azure_cli_install_tmp_5U1E` and the script will find a version of python on the machine and use that.
Alternatively, `sudo python /tmp/azure_cli_install_tmp_5U1E` and you specify your own python executable by replacing `python` to another python.

[2017-07-19 17:32] jeongyoonlee commented on #4045
@troydai Thanks for looking into it.

For comparison, with AWS CLI, the destination file name is optional and a directory or a bucket name can be given instead :
[code]
Meanwhile, with Azure CLI, both source and destination file names need to be given explicitly even if those are the same:
[code]
Note that how much longer the commands with Azure CLI are than the same commands with AWS CLI.

Thanks

[2017-07-19 17:50] aspaan commented on #4023
Just had a chat with Ahmed. How about something like this _az webapp deployment container config --enable-cd true_

[2017-07-19 18:32] troydai commented on #4045
@jeongyoonlee thanks for the examples. On paper, the simple example does stand. However, when the source or destination paths are more than a file name, the users' expectation may vary. For example, should the same folder hierarchy be created at the destination?

But this is a good suggesiton. I'll work with Azure Storage team to see what's the best approach to improve the commands. Thank you.

I'

[2017-07-19 18:56] troydai commented on #4046
We can add a periodically check mechanism to CLI. But it won't fix the old CLI which we've already shipped since we can't patch old CLI when users don't know it is old.

[2017-07-19 19:20] yugangw-msft commented on #4023
` az webapp deployment container` looks good, i assume the new command of getting the container cd url will also go there?

[2017-07-19 19:24] ahmedelnably commented on #4023
the original idea was to return the url when you enable the feature,
but on second thought, it would be a good idea to add another command just to return the url

`az webapp deployment container show-container-cd-url`

[2017-07-19 19:26] yugangw-msft commented on #4023
Agreed

[2017-07-19 20:05] lostintangent opened #4050 "[ACR] Creating managed registries doesn't appear to work"
### Description

When I attempt to run the `az acr create` command,  and specify any of the `Managed_*` SKU options via the `--sku` flag, it spins for a few moments and then spits out the following error:

[code]

If I set specify `--sku Basic`, then everything works great, but I'd really like to use a managed registry :) Am I doing something wrong? Any help would be greatly appreciated!

---

###

[2017-07-19 20:19] lindydonna commented on #4041
This should be feasible using ARM APIs. See https://github.com/Azure/azure-webjobs-sdk-script/wiki/Key-management-API

[2017-07-19 20:43] tstringer commented on #4041
Understandable that this can be achieved through an HTTP request, but in my opinion it would be a better user experience to be able to accomplish this directly through the Azure CLI. On my current project I'm able to manage my Azure Function App through the Azure CLI in its entirety, minus key management for the Azure Function App (and Functions themselves).

[2017-07-19 20:47] troydai commented on #4049
It occurs to me that not all the forms of blob appending API provide the `if_none_match` option. I'll work with SDK to figure this out. Thanks.

[2017-07-19 20:57] TomasMorton commented on #2866
@yugangw-msft Could you please provide an example of how to use `az resource set` to change the kind to an API app?  I have tried the following, but the value does not change.
 `az resource update -g "*" --resource-type "Microsoft.Web/sites" -n "*" --set kind="api"`
 `az resource update -g "*" --resource-type "Microsoft.Web/sites" -n "*" --set properties.kind="api"`

[2017-07-19 21:40] agolomoodysaada commented on #3995
Awesome. Thanks!

[2017-07-19 22:08] tjprescott commented on #3896
@troydai ping.  Just ran into this again today--but now I can't just restore the old recording.

[2017-07-19 23:01] yugangw-msft opened #4053 "test: 'test_cloud_console_login' failed on python 3.5 sporadically"
Need a bit more time to investigate it
https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/tests/test_profile.py#L518

[2017-07-19 23:34] djyou commented on #4050
@lostintangent Thank you for trying out managed registries.
Basic SKU is globally available but managed registries is a preview feature that is available in three regions `West Central US`, `East US`, and `West Eurpoe`.
ARM however returns a bad error message too in this case. @tjprescott What is a good way for this scenario besides hard code the three regions? /cc @SajayAntony

[2017-07-20 00:49] lostintangent commented on #4050
@djyou Ah OK, using `westcentralus` fixed it! Thanks for that clarification :)

[2017-07-20 12:19] balupton commented on #643
What's the latest on this? Seems no new progress was made:

[code]

[2017-07-20 12:22] balupton commented on #643
Okay. Latest is https://github.com/antoineco/homebrew-azure-cli

[code]

[2017-07-20 13:56] JanaJensen commented on #4040
Thank you! That worked!

[2017-07-20 13:56] #4040 closed

[2017-07-20 16:14] #3991 closed

[2017-07-20 16:14] troydai commented on #3896
I'll take a look at this today.

[2017-07-20 16:34] #3913 closed

[2017-07-20 17:46] JasonRShaver commented on #3628
I've asked around and it seems like your best options are to use the Azure PowerShell.  I understand this is not ideal (especially for a Linux user).

[code]

or use CURL to call the REST API, but I honestly don't know where to look up the REST API for the ASM (non-ARM) endpoints.

[2017-07-20 17:47] JasonRShaver commented on #3628
Closing this, but if you find yourself blocked, don't be afraid to reach out again!

[2017-07-20 17:47] #3628 closed

[2017-07-20 18:30] troydai commented on #4016
This happens when you have a default configuration setting to a resource group. Please take a look your setting. I'll close this issue for now. But feel free to reopen if other factors surface.

[2017-07-20 22:22] djyou opened #4057 "[ACR] Design discussion for az acr repository command group"
### Description

`az acr repository` contains a few commands to delete a repository from a container registry or delete a manifest/tag from a repository in a container registry. Due to the complex dependency nature among docker manifest/tag/layer, using this command group becomes quite confusing and complicated.

Current implementation:
[code]

## Proposed implementation

Assuming `sha256:c5515758

[2017-07-21 15:31] alexeyshishkin01 commented on #3765
any news?

[2017-07-21 15:54] tjprescott commented on #3765
@hosungsmsft can you comment?

[2017-07-21 15:57] troydai commented on #3896
Close as the issue is addressed in https://github.com/Azure/azure-cli/pull/4058. If you notice any other malfunction, please feel free to open a new issue or reopen this one.

[2017-07-21 15:57] #3896 closed

[2017-07-21 16:01] hosungsmsft commented on #3765
I don't own the VMAccessForLinux extension, so I can't tell definitely, but I'm pretty sure that the extension doesn't offer such an option. If you'd like a more definite answer, this question should be asked at https://github.com/Azure/azure-linux-extensions. And this issue here should be closed. This is a question about the extension, not about the CLI.

[2017-07-21 16:05] #4012 closed

[2017-07-21 16:23] phdowling commented on #3757
Is this going to be implemented? I have a pyspark job generating tons of files in blob storage, but since `sc.saveAsTextFile` does not allow overwriting, I'm stuck having to delete the files (or leave them and generate new directories all the time, or deleting the entire container). This is pretty inconvenient.

I would actually love a feature where you don't need to list files at all, but rather

[2017-07-21 16:30] troydai commented on #3883
This is the tested solution: `python -m unittest azure.cli.command_modules.resource.tests.test_resource.DeploymentTest.test_group_deployment`

I'd rather not to wrestle with nose's issue with Python 2 but move on to implement #388..

[2017-07-21 16:52] jpl154 commented on #1253
I have run into the same issue.  I disconnected from my VPN and it worked, no problem. Doesn't provide much insight. Hopefully, this helps anyone else.

[2017-07-21 16:56] troydai commented on #3883
I'll see if I can fix this in limited timeframe.

[2017-07-21 16:59] tjprescott commented on #3883
I agree with focusing on #3885.  The whole point is one syntax for running a specific test that works on all platforms and Python versions.  If I had that I wouldn't care about using this long syntax.

[2017-07-21 17:05] #3883 closed

[2017-07-21 17:16] troydai commented on #3757
@phdowling thank you for "up voting" this issue :). Looks like popular concern. I'll add this issue to the next sprint. We generally ship every two to three weeks.

[2017-07-21 17:23] JasonRShaver opened #4059 "Hard to enable boot diag during VM create"
Unable to make a VM with boot time debugging (console logging) enabled as part of the create command.  Had to make the vm create async with --nowait  and then enable it immediately. (or that was the theory..  it didn't work)

[code]

That doesn't work BTW.. I would have liked a --enable_boot-diag   option in the create.  If you wait until the create is done, then it's too late because all the boot

[2017-07-21 17:27] JasonRShaver opened #4060 "Upload compressed disks"
Workflow is:

1. compile product
2. create OS disk VHD
3. upload VHD to azure
4. possibly expand drive size to final much larger size
5. create image
6. create VM for testing
7. publish image.

It would be nice if I could upload a COMPRESSED image. The basic OS disk is 40G in size but *compressed it is only 600k* as it is nearly all empty to start with.

[2017-07-21 17:34] troydai commented on #4049
The solution from SDK: Call `create_blob` for each append blob command to determine if the ETags matches.

[2017-07-21 17:41] johanste commented on #4060
@JasonRShaver, I assume that you are really referring to something like the functionality provided by [Azure VHD Utilities](https://github.com/Microsoft/azure-vhd-utils), correct?

[2017-07-21 17:47] annatisch opened #4061 "Capitalization of response field name is being changed"
### Description
We have a field in our Batch pool GET command called `nodeAgentSKUId`. In debug mode I can confirm this is the capitalization used in the response for the command `az batch pool show <pool-id>`.
In the Azure Python SDK, this field name is deserialized to: `node_agent_sku_id`, and it seems that the CLI code is then converting this name to: `nodeAgentSkuId`.

We have a customer that

[2017-07-21 20:05] JasonRShaver commented on #2607
This is a parity item for XPlat CLI

[2017-07-21 20:13] yugangw-msft commented on #2607
Well, this is not a parity for Xplat CLI, rather is a parity for POSH

[2017-07-21 22:00] troydai commented on #1566
Tracking in https://github.com/Azure/azure-storage-python/issues/332. Move to backlog, pending SDK action.

[2017-07-21 22:03] troydai commented on #2760
@derekbekoe what platform? Windows?

[2017-07-21 22:26] matiasma opened #4063 "Error to create Redirect Config (new feature) in Application Gateway"
### Description
**Outline the issue here:**

I’m trying with no success to create Redirect Config (new AppGW feature) using the latest AZ CLI version (network - 2.0.10).

Command line:
az network application-gateway redirect-config create --gateway-name appgw03 --name https --resource-group vmss --type Permanent --target-listener appGatewayHttpListener --include-query-string true --include-path tr

[2017-07-21 22:35] troydai commented on #1566
SDK has fixed this issue in latest 0.35. Need to update dependency. I'll upgrade storage SDK dep early next sprint.

[2017-07-21 22:43] troydai commented on #2760
One reason I can see for there tests to fail on Windows is the file path issue. For example, the storage tests depend on temp file, in which the separator must be `\` instead of `/` on Windows.

[2017-07-21 23:19] troydai commented on #635
Per discussion with @yugangw-msft, he already has a solution. Close for now.

[2017-07-21 23:19] #635 closed

[2017-07-22 13:10] blueelvis opened #4066 "How to check the status of a Function?"
### Description
Is it possible to get the details of the Function when it runs? For example, when the Function runs, we get access to it's unique ID, so is there any way to find the status of the function using that ID as in did it complete successfully or did it just crash?

Was asked to file an issue over here - https://www.reddit.com/r/AZURE/comments/6og5am/how_can_i_check_the_status_of_an_azur

[2017-07-23 07:59] matxx commented on #1722
Same as @Raidus here, I had the `command not found: complete` error

I've followed the installation guidance and the suggestion from @berndverst and got the error : `zsh: command not found: az`

I wanted to try out Azure but I won't come back (cause of this and the fact that homebrew's formula is not up-to-date either)

[2017-07-24 14:37] yugangw-msft commented on #4066
//cc: @lindydonna

[2017-07-24 14:59] tjprescott opened #4067 "Onboard StorageNetworkACL commands"
Add `storage account network-rule` commands to support "vnet service-endpoints" Storage scenarios.

[2017-07-24 15:00] tjprescott opened #4068 "Onboard VNET Firewall Rule Commands"
Supports network private access scenarios. cc/ @jaredmoo

[2017-07-24 16:57] tjprescott commented on #4063
Hi @matiasma thank you for the report. The fix will be in the upcoming release.

[2017-07-24 17:12] yugangw-msft commented on #3999
Per discussions with CRP folks, we will not release it officially till the service gets GA. Removing the milestone tag.

[2017-07-24 17:12] yugangw-msft commented on #3999
All change were consolidated to `https://github.com/yugangw-msft/azure-cli/tree/enc`

[2017-07-24 18:18] #4063 closed

[2017-07-24 19:29] lindydonna commented on #4066
@blueelvis This isn't possible right now, because we don't have an API to check the execution status from an invocation ID. However, this feature is in our backlog. We can close this issue in favor of that one. See [Provide a host\-level API to get logs for a given invocation ID \#1329](https://github.com/Azure/azure-webjobs-sdk-script/issues/1329)

[2017-07-24 20:27] yugangw-msft commented on #2866
@TomasMorton, apologize for giving out invalid suggestion, but updating the `kind` on an existing webapp is not a supported approach to switch app type . Not getting an error from server on invalid payload is a known server defects.
I suggest you use `az resource create` to create api-app. For example:
[code]

[2017-07-24 21:55] troydai opened #4071 "Webapp appsetting command's output is not consistent between 'list' and 'set/delete'"
This is the output of `az webapp config appsettings delete` command. The table is horizontal. Each column is a key-value pair. The output can easily become unreadable when many key-value pairs present. (Click to enlarge)

![image](https://user-images.githubusercontent.com/1329240/28546421-8ffd1caa-707f-11e7-8ddb-7927f5450307.png)

This is the output of `az webapp config appsettings list` command.

[2017-07-24 22:47] clehene opened #4072 "Enable dls progress controller"
### Description
This should report progress on transferred chunks (similar to blob store transfer)

[code]
Progress callback was added in dls master (0.0.14) https://github.com/Azure/azure-data-lake-store-python/commit/11f23b9ce381ad6353ad7019e3313a2e97c34aa2

[2017-07-25 00:14] #4066 closed

[2017-07-25 15:29] annatisch commented on #4061
@tjprescott, @troydai, @derekbekoe - any thoughts on the above?

[2017-07-25 15:39] snebel29 opened #4074 "Bash process substitution not working for az group deployment create"
### Description
Hi,
Looks like the azure cli does not allow to load files from `named pipes`, a good example would be using [process substitution](http://wiki.bash-hackers.org/syntax/expansion/proc_subst) technique to produce the file through a command, like rendering a template with some external tool to then feed az-cli with it...

A trivial example to show the issue
[code]
Will cause something

[2017-07-25 15:50] snebel29 commented on #4074
Hi,
I also realize that for the `--template-file` parameters the same check is NOT in place hence is working perfectly, see [here](https://github.com/Azure/azure-cli/blob/azure-cli-vm-2.0.9/src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py#L335)

Making behavior consistent feels to me the right thing.

So other option to make things simple might be to just remove

[2017-07-25 16:22] troydai opened #4075 "Storage account create/update encryption option needs improve."
1. Though the help doc states the options can be chosen among blob, file, queue, and table, in fact, only file and blob are supported in storage service.
2. When only specify `blob` service for encryption, both file and blob services are enabled.
[code]

[2017-07-26 06:00] bertschneider commented on #4048
I had a look at the code and created a small fix. It works for my case but surely needs a review if it fits the overall architecture.

[2017-07-26 17:18] JasonRShaver commented on #3858
It seems this is working as intended.

[2017-07-26 17:18] #3858 closed

[2017-07-26 17:26] JasonRShaver commented on #3786
no repro

[2017-07-26 17:26] #3786 closed

[2017-07-26 17:43] viananth opened #4079 "Profile 2017-03-09-profile doesn't support vm availablity-set convert"
### Description
Profile 2017-03-09-profile doesn't support vm availablity-set convert cmd. This should be hidden in help content

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version

[2017-07-26 20:06] tjprescott commented on #4061
I think the best solution would be to try and get the casing from the _attribute map, using the default behavior if that failed.

[2017-07-26 22:05] samedder commented on #4048
Thanks for reporting and fixing this @bertschneider, do you want to create a PR for this so you get contribute credit, or would you rather we take your fix?

[2017-07-26 23:45] clehene commented on #4072
@tjprescott I implemented the required functionality in the DLS SDK and it was merged and I  made a PR for this as well https://github.com/Azure/azure-cli/pull/4073
This said, it would require updating the DLS module to 0.0.14 or 0.0.15 (not sure how they cut releases) in which it will be available.

[2017-07-26 23:52] tjprescott commented on #4072
Once the PR is merged, it will automatically go into the subsequent release.

[2017-07-27 14:36] bertschneider commented on #4048
I already created PR #4077 with the fix. Feel free to merge it or take the code in some other way.

Beware that I didn't (had no time to) check all the other commands if they honor the flag.

[2017-07-27 15:50] sdementen commented on #3614
Any news regarding this issue ?

[2017-07-27 18:48] clehene commented on #4072
@tjprescott should I then make a PR here in order to upgrade DLS to that version (once it's published) as a prerequisite to this enablement?

[2017-07-27 20:20] tjprescott commented on #4072
So you updated the SDK version?  In that case, you would want to create a PR that bumps the version in your setup.py file.

[2017-07-27 22:10] derekbekoe opened #4084 "'az container' doesn't accept env vars with = in value"
### Description

This is an issue to track https://github.com/Azure/azure-cli/pull/4081/files#r129733782

cc: @tjprescott @yolo3301

[2017-07-27 23:45] johanste opened #4087 "Prompt for confirmation should only happen once if you specify multiple values for the --ids parameter"
### Description
For commands that prompt for confirmation, we should only prompt once. As of now, you get prompted for each invocation (i.e. delete 10 VMs will prompt 10 times)

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: interactive script

**CLI Version:** What version of the CLI and mod

[2017-07-28 02:36] samedder commented on #3984
We've considered adding this enhancement and it is planned for the next release of the Service Fabric commands.

[2017-07-28 16:20] lonesomegeek opened #4090 "Creation of network inbound rule does not work"
### Description
**Outline the issue here:**
When creating a new rule from the az cli, it is not working as expected. Here is the command executed:
`az network lb inbound-nat-rule create --lb-name X -g Y --protocol tcp --backend-port 37777 --frontend-port 37777 -n Z`

This is the error thrown:
`Property '/subscriptions/A/resourceGroups/Y/providers/Microsoft.Network/loadBalancers/X/frontendIPConfigu

[2017-07-28 16:29] lonesomegeek commented on #4090
It is working with this image BTW: azuresdk/azure-cli-python:2.0.9

[2017-07-28 16:45] tjprescott commented on #4090
Hi @lonesomegeek I've confirmed this is a bug. If you supply the `--frontend-ip LoadBalancerFrontEnd` argument it will work.  If you omit this parameter it attempts to retrieve the value for you, and a bug in this logic is why it isn't working.

[2017-07-28 17:57] lonesomegeek commented on #3490
@tjprescott When you are saying
`network nic ip-config inbound-nat-rule add ...`
I've tried with this kind of command:
`
az network nic ip-config inbound-nat-rule add --inbound-nat-rule RULE_NAME --lb-name LB_NAME --ip-config-name ipConfigNode --resource-group GROUP_NAME --nic-name NIC_NAME
`
I'm getting this kind of error:
`Resource /subscriptions/S/resourceGroups/G/providers/Microsoft.Network/lo

[2017-07-28 18:02] lonesomegeek commented on #3490
Got it!

I've changed the --inbound-nat-rule <name> by --inbound-nat-rule <id>.

But, it is not quite clear in the docs provided here: https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config/inbound-nat-rule#add

It says, _The name or ID of an existing inbound NAT rule._

[2017-07-28 18:55] yugangw-msft commented on #1523
Agree with @squillace, also the current table output no longer includes the `tenantId`, so no confusions

[2017-07-28 18:55] #1523 closed

[2017-07-28 18:57] yugangw-msft commented on #1708
closing for no further repro details.

[2017-07-28 18:57] #1708 closed

[2017-07-28 19:01] yugangw-msft commented on #2203
Don't know when we fixed this typo, but just now I checked and it is fine now

[2017-07-28 19:01] #2203 closed

[2017-07-28 19:03] yugangw-msft commented on #2339
@guybartal, to confirm, using subscription id with `az account set -s ` still  doesn't work out?

[2017-07-28 19:05] yugangw-msft commented on #3040
Sorry for the delay on response. For a while, there was service side bugs on managing device code which was fixed. Please re-activate when you see it again

[2017-07-28 19:05] #3040 closed

[2017-07-28 19:07] yugangw-msft commented on #3996
Please re-activate if you have more questions.

[2017-07-28 19:08] yugangw-msft commented on #4028
I am closing this since you have an internal ticket opened

[2017-07-28 19:08] #4028 closed

[2017-07-28 21:04] #4079 closed

[2017-07-28 21:56] #4048 closed

[2017-07-28 23:35] #919 closed

[2017-07-29 03:37] sdementen commented on #3512
+1 for supporting web.config changes in the cli

[2017-07-30 10:39] alexeyshishkin01 opened #4097 "waagent ovf-env.xml file missing after 'waagent -deprovision+user -force'"
### Description
**Outline the issue here:**
I prepare VHD-image of my VM.
After running 'waagent -deprovision+user -force' the file /var/lib/waagent/ovf-env.xml is deleted and is not recreated.
When I try to create VM from VHD-image VMAccessForLinux fails in creating new user.
I was able to get the disk of this VM, mount it to running VM and look at /var/log/waagent.log file - it throws an error o

[2017-07-30 13:29] alexeyshishkin01 opened #4098 "VM for Marketplace"
### Description
**Outline the issue here:**
I'm creating VM for Marketplace.
I prefer VM's cloud development, i.e. without on-premise HW.
According to https://docs.microsoft.com/en-us/azure/marketplace-publishing/marketplace-publishing-vm-image-creation in order to publish VM in the cloud I have to upload VHD image of my VM.
For me it means to download my VM from the cloud onto my laptop first (50

[2017-07-30 23:45] mabicca opened #4099 "az vm list - option to get vms by status "running / deallocated / stopped""
### Description
This would be more like a feature request, or at least so far I have not seen a way to do this. Basically it would be nice to be able to query VM's by its status and then doing actions on them, for instance, a common example would be, query all running VM's on a given resource group and stop/deallocate them all.

---

### Environment summary

**Install Method:** How did you install

[2017-07-31 06:32] liorbiu opened #4101 "Delete all resources related to machine"
### Description
Is there a way to delete ALL the resources related to machine when a vm is deleted? Including public ip address, nsg, nic, etc.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: pip

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer

[2017-07-31 11:35] ad-m opened #4102 "az storage container raises exceptions"
### Description
Hello,

I am would like achieve summary of capacity usage of each container.  I have a few.

I run:
[code]

It crashes.

---

### Environment summary

**Install Method:**
deb repository
**CLI Version:**
[code]
**OS Version:**
[code]

**Shell Type:** bash && az interactive

[2017-07-31 12:28] ecgg opened #4103 "Wrong SKU when attaching disk"
### Description
**Outline the issue here:**

When attaching+creating a new virtual disk to a VM specifying as SKU Standard_LRS, it creates the managed disk as a Premium_LRS

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

pip3

**CLI Version:** What version of the CLI and modules are i

[2017-07-31 12:37] phdowling opened #4104 "az storage blob download-batch does not create necessary directories"
### Description
Running `az storage blob download-batch` fails when there are "directories" inside the container, i.e. blobs that contain "/" in the filename. I get something like:
`[Errno 20] Not a directory: '/path/that/exists/data/some/other/path/to/spark/output/_SUCCESS'`
The subdirectories are not automatically created by the script, and there is no straightforward way of predicting what dire

[2017-07-31 12:45] phdowling commented on #4104
Nevermind, this totally works. I was just copying blobs with a sub-path of other blobs as the blob name.

[2017-07-31 12:45] #4104 closed

[2017-07-31 14:50] yugangw-msft commented on #4099
you can use `vm list -d`

[2017-07-31 14:50] #4099 closed

[2017-07-31 14:55] yugangw-msft commented on #4103
this is a bug we should fix

[2017-07-31 14:57] yugangw-msft commented on #4101
Please check out the pattern mentioned in #3902 and let me know whether that will help you. Basically you specify a tag when create the VM and then use `az resource delete` to clean them up

[2017-07-31 15:02] yugangw-msft commented on #4097
This is not a CLI issue really, but did you follow the steps mentioned in the [document](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image)

[2017-07-31 18:05] tjprescott commented on #4101
Currently we don't have a first-class way of doing this, but we have an open issue to address this across the CLI:
https://github.com/Azure/azure-cli/issues/3922

[2017-07-31 18:05] #4101 closed

[2017-07-31 18:23] amarzavery opened #4105 "Switch parameters work only when provided in a particular fashion"
### Description
**Switch parameters work only when provided in a particular fashion**
After looking at the following example in the help:
[code]
- I executed the command with that variation and then it worked.
- Parameters provided in other variations are not positional but named parameters and they should have worked.
---

### Environment summary

**Install Method:** How did you install the CLI?

[2017-07-31 18:31] jwendl opened #4106 "az keyvault list shows error message about openssl"
### Description
On a fresh Ubuntu for Windows install (lxrun /uninstall etc). Using the steps below to install azure cli. When running from /opt/az/bin/python3 it's
[code]

When running from /usr/bin/python3 it works fine:
[code]

When running az keyvault list I get the following error:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive sc

[2017-07-31 19:20] alexeyshishkin01 commented on #4097
yes, of course I did - pls. see description of the issue

[2017-07-31 19:53] amarzavery commented on #4105
so it was a non breaking space in the value for the username that caused the arg pase to fail. Using --debug helped.

notice the `\xa0` which is a non breaking space.
[code]

[2017-07-31 19:53] #4105 closed

[2017-07-31 20:43] brendandburns opened #4107 "Support --env for Azure Container Instances"
Many people use environment variables to configure containers. The feature is present in the API, but not the CLI. We should add a `--env` flag to the CLI.

[2017-07-31 20:49] yolo3301 commented on #4107
We do have env variables supported:

    --environment-variables -e    : A list of environment variable for the container. Space
                                    separated values in 'key=value' format.

Example:

   Create a container group with envrionment variables.
        az contanier create -g MyResourceGroup --name MyAlpine --image alpine:latest -e key1=value1
        key2=value2

[2017-07-31 20:51] brendandburns commented on #4107
Ah, sorry for the noise. closing.

[2017-07-31 20:51] #4107 closed

[2017-07-31 20:58] lostintangent opened #4110 "[Container] Table output doesn't appear supported by the create command"
### Description

If your CLI is configured to use table-output by default, then running `az container create` results in the following error message: `Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.`.

Oddly enough, running `az container list` or `az container show` works just fine, so it's a little unusual to get this message as the res

[2017-07-31 22:50] peterennis opened #4112 "Installation Problem"
### Description
**Outline the issue here:**

Install following instructions and it does not work.
Domain environment running local non-privileged account.
I can enter the password for a domain admin.

---

### Environment summary

Windows 10

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

Followed instruction here:
https

[2017-07-31 23:01] derekbekoe commented on #4112
Can you provide more info? The link included is behind a login.
It looks like you're on Windows so the best way to install is with the MSI
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows

[2017-07-31 23:09] troydai commented on #3885
Fixed in https://github.com/Azure/azure-cli/pull/4062

[2017-07-31 23:09] #3885 closed

[2017-08-01 00:40] tjprescott commented on #4112
If the MSI does not work for you, please reopen and provide the requested info.

[2017-08-01 00:40] #4112 closed

[2017-08-01 11:11] jimyjohny opened #4114 "Launching staged images in portal"
### Description
Using GUI, we are able to list and launch staged images. However, the cli doesn't seems to have this option. Its not listing the staged images. Is there any solution available ?

---

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
azure-cli (2.0.9)

**OS Version:** What OS and version are you using?
centos 6

**Shell Type:** What shell are

[2017-08-01 12:37] piercerob commented on #1221
Long Path Tool can help you to remove blocked files or too long path files. You can easily fix file errors with this software.

[2017-08-01 13:03] chubin opened #4115 "Add SR-IOV in the azure-cli tools"
### Description

**It is not possible to create SR-IOV VMs at the moment. Could you please add support of this in the tools?**

[2017-08-01 14:44] tjprescott commented on #4115
Are you able to create such a VM in the Azure portal?

[2017-08-01 14:55] chubin commented on #4115
I'm not sure about the portal, I don't use it (but I think it should be possible),
but it is definitively possible with PowerShell

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-create-vm-accelerated-networking

[2017-08-01 15:59] anhowe opened #4116 "[ACS] default DNS prefix will cause deployment failure, because it exceeds domain name"
### Description
**Outline the issue here:**

Dns-prefix – should note in the help that if none is given will default to the clustername-resourcegroup and some other pattern that usually blows up if there are any _ characters and can be too long as well and deployment fails. Many of my customers use underscore in their RG naming schemes

Solution here is to choose a default name that matches the re

[2017-08-01 16:00] anhowe commented on #4116
@rjtsdl please look

[2017-08-01 16:10] anhowe opened #4117 "[ACS] update az acs create help to mention defaults"
### Description
**Outline the issue here:**

Comment from Customer:
will we create an SP for them as the current az acs create does? The help should mention it if it does.

Solution: the help text should state that we will create SP for customer by default.  Do a pass on other values and describe their default.

[2017-08-01 17:01] troydai commented on #4097
@alexeyshishkin01 We didn't own `waagent`. Here's the repository you can open issue for this tool: https://github.com/Azure/WALinuxAgent. Thanks.

[2017-08-01 17:01] #4097 closed

[2017-08-01 17:02] peterennis commented on #4112
That link worked.
The command prompt must be run as admin.

[2017-08-01 17:15] troydai commented on #4102
@ad-m I'm not able to repo this issue:
[code]

Note that `az storage container` itself requires further sub command.

Close this issue for now

[2017-08-01 17:15] #4102 closed

[2017-08-01 17:16] yugangw-msft commented on #4016
Ran into again in #4109, I double checked that I don't have default resource group configured

[2017-08-01 17:18] troydai commented on #4016
Ok, I'll take another look.

[2017-08-01 17:20] ad-m commented on #4102
This problem occurs after some time using "az interactive". I can not repeat it now.

[2017-08-01 17:23] derekbekoe commented on #3727
This PR, https://github.com/Azure/azure-cli/pull/3915, improves on this but still not fully automated with 'one click' yet.

[2017-08-01 19:31] yugangw-msft commented on #4115
Accelerated networking is still in preview for Linux. We have change staged but need to coordinate with network service team before merge the change

[2017-08-01 19:44] yugangw-msft commented on #4027
done

[2017-08-01 19:44] #4027 closed

[2017-08-01 20:22] JasonRShaver opened #4120 "Allow users to force-stop a VM"
User reporting an issue where it can take a long time for an unresponsive VM to stop, and would prefer a method to "kill a VM WITH EXTREME PRJUDICE."

An idea, add an param to force-stop after 30 seconds of stopping

[code]

[2017-08-01 20:23] chubin commented on #4115
@yugangw-msft Great news! What do you think, how long could it take?

[2017-08-01 20:32] JasonRShaver commented on #4120
Current working theory is that the [Azure Linux agent](https://github.com/azure/WALinuxAgent/issues) is non-responsive (and not receiving the stop).  @brendandixon

[2017-08-01 20:47] alexeyshishkin01 commented on #4097
ok

[2017-08-01 22:51] #4090 closed

[2017-08-02 12:04] dewolfs opened #4123 "az acs kubernetes get-credentials cannot enable executable stack as shared object requires: Invalid argument"
### Description
**Outline the issue here:**
Trying to get credentials from new create ACS cluster via azure CLI. Create a new ssh-key and logged in as root.

**Output console:**

[code]

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: curl -L https://aka.ms/InstallAzureCli | bash

**CLI Version:**

[2017-08-02 16:15] troydai opened #4124 "Implement customer managed key for storage encryption."
Reference: https://docs.microsoft.com/en-us/azure/storage/storage-service-encryption-customer-managed-keys

[2017-08-02 19:03] JasonRShaver opened #4126 "Crash during Interactive mode"
ML team is having issues getting az interactive to work;

![image](https://user-images.githubusercontent.com/10146011/28889987-8e45fd9e-777a-11e7-8f90-5faa2d1dd516.png)

Here’s my pip freeze:
[code]

[2017-08-02 19:08] tjprescott commented on #4126
If they remove their module and run it, does it still crash?  If so, then it's a bug in az interactive. If not, then it's a bug in their ML module.

[2017-08-02 19:08] tjprescott commented on #4126
From the stack trace, it looks like their module might have errors in the help.py file.

[2017-08-02 20:11] JasonRShaver commented on #900
agree

[2017-08-02 20:11] #900 closed

[2017-08-02 20:12] #1084 closed

[2017-08-02 21:40] yugangw-msft opened #4127 "test: support to record commands with large response payload (128kb+)"
So far tests invoking `az vm list-skus`  can't playback as large response doesn't get into the recording. Per discussion, please expose a property to let such tests override the default behavior .

[2017-08-02 23:08] tjprescott commented on #3978
The changes @lmazuel is making to the SDK should automagically fix this, but I'll do the testing and verification on the CLI side.

[2017-08-02 23:16] JasonRShaver opened #4128 "Allow VMs to be created in an 'off' state."
There are things you can only do to a machine when it is powered down, such as setting the console logging information, but you need to have the logging set on the very initial boot to be able to debug its initial power up...

Customer tried doing an asynchronous bring up  (--no-wait) and then setting console logging but never really got what they were looking for.

If you could set it up, and set

[2017-08-02 23:23] JasonRShaver commented on #4060
Those will provide the right functionality, but I don't know how a customer would find that (and in this case, they did not), but is it possible to have a CLI command to acquire this, such as we do with Kuberneties

[2017-08-03 00:04] #3790 closed

[2017-08-03 00:09] yugangw-msft commented on #1800
`az vm list-skus` is in so people can cross check themselves. For more integrated experience, 2 things should be done:
1. on `vm create`, use the new api to cross check vm size and emit out a good message
2. on `vm availability-set create`, use the same api to default FD to the maximum number

[2017-08-03 00:57] derekbekoe commented on #4106
What's the output of `lsb_release -a`?

[2017-08-03 02:00] johanste opened #4129 "az vm create should let Azure decide on what the default storage account type is when using managed disks"
Today, the CLI defaults to Premium_LRS. Unless explicitly specified on the comand line, we shouldn't have to set this since the service will automatically choose for us.

[2017-08-03 02:03] johanste opened #4130 "When creating new virtual machines, we should not compute a default os disk name"
Currently, we will generate a hashed name based on the vm name. If we don't specify a value, the platform will pick one for us.

But... if we do change this behavior, we need to understand how breaking it is (the default name will change, which means that a create on an already existing vm may have issues... not sure how important that is, though...

[2017-08-03 03:13] jwendl commented on #4106
jwendl@PC:~$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

[2017-08-03 07:07] vjrantal opened #4131 "Not possible to list connection strings of non-MongoDB CosmosDB accounts"
### Description
**Outline the issue here:**

Command `az cosmosdb list-connection-strings` (documented [here](https://docs.microsoft.com/en-us/cli/azure/cosmosdb#list-connection-strings)) does not list connection strings unless the account kind is `MongoDB`.

However, it would be useful to be able to query the connection strings also when the kind of the account is, for example, `GlobalDocumentDB`

[2017-08-03 14:54] tjprescott commented on #4130
Why should we not compute a disk name?

[2017-08-03 14:58] tjprescott commented on #4061
@lmazuel is working on making the serialization process case insensitive, which will automagically fix this for us. 👍

[2017-08-03 15:15] dewolfs commented on #4123
eval $(ssh-agent)
**is running**

ssh-add ~/.ssh/id_rsa

ssh-add -L
**output of id_rsa**

Re-created the ACS K8S cluster and now I get:

[code]

[2017-08-03 16:30] johanste commented on #4130
In general, whenever the platform has a default behavior, we should have a good reason to override it in az.    The platform can do a better job of ensuring uniqueness (as one example). We are also considering how to link related resources in general, and while naming convention is unlikely to be the only mechanism, it won't help to have different clients needlessly using different naming schemes

[2017-08-03 16:39] johanste commented on #4128
What options other than enabling of boot logs are we talking about? The `az vm create` command should probably add native support for doing exactly that.

I'm not sure if there are other scenarios that you are hinting at as well - but generally, anything that is needed to be available on first boot (i.e. cloudinit etc.) should be made available in the create commands.

[2017-08-03 16:40] johanste commented on #4129
Not sure why this was labeled as a breaking change. Removed label since it isn't - or am I missing something?

[2017-08-03 16:43] tjprescott commented on #4130
Does the platform have a default behavior in this case?  And if we relied on that default behavior, would the create command be idempotent?  If I issued the same VM create would I get two identical VMs or a successful PUT of the same VM (current behavior)?

[2017-08-03 17:07] lmazuel commented on #4129
+1

[2017-08-03 17:08] tjprescott commented on #4129
If you had a script that used the previous default, now that could be different and thus the script would behave differently. That is a breaking change.

[2017-08-03 17:16] lmazuel commented on #4129
@tjprescott depends, what is the default value of managed disk RestAPI right now? If it's Premium_LRS, it's not breaking. And since a provider is not supposed to change a default value for a given released ApiVersion, this should be transparent to user.
Otherwise, If current RestAPI defaults to something else, I would even say it's a CLI bug, I don't think it's SDK/CLI responsibility to decide wha

[2017-08-03 17:36] tjprescott opened #4133 "[Network] AppGateway frontend-ip update --public-ip-address parameter useless"
The following command will fail:

`az network application-gateway frontend-ip update -g {rg} --gateway-name {ag} -n {ip config} --public-ip-address {different public ip}`

It gives an error:
[code]

In this scenario, the `--public-ip-address` parameter on this command is useless and can be removed.

[2017-08-03 17:37] johanste commented on #4130
At least for managed disks, yes and yes.

[2017-08-03 17:40] johanste commented on #4129
The current version is using Premium_LRS if not specified. If the VM size chosen does not support premium storage, the command would fail. If we do take this change, and you do specify the storage SKU, then I would assume that we honor whatever was specified on the command line and make an attempt (else you wouldn't be able to use non-premium storage for a VM size that supported premium storage).

[2017-08-03 17:49] tjprescott opened #4134 "[Network] AppGateway frontend-ip subnet cannot be different from gateway subnet"
When trying to test the `application-gateway frontend-ip update` command to change the subnet for an IP configuration, I got the following error:

[code]

This being the case `application-gateway frontend-ip update`: `--vnet-name`, `--subnet` parameters are useless.

There are a couple options:
1. Remove `--vnet-name` and `--subnet` parameters entirely, so that you can only update the static priva

[2017-08-03 17:53] tjprescott opened #4135 "[Network] Support AppGateway gateway IP configuration commands"
Currently, a gateway IP configuration is created when an app gateway is created. However, there is no subresource command set to manipulate this collection after creation, and the only way to try and change it would be through generic update.

PS has commands to manipulate this collection, though Xplat does not.

[2017-08-03 17:55] mahedley opened #4136 "Cannot remove Nics when VM and NIC are in different Resource groups"
### Description
The az vm nic remove command doesn't support the scenario where the nic and the virtual machine are in separate azure resource groups. This is because you are only able to specify a single resource group as input to the command.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

[2017-08-03 17:56] tjprescott commented on #4129
In that case of course it wouldn't be, but in the case where Premium IS supported but isn't the default it would be. In that case, the current CLI would default to Premium, while the service would default to Standard. That is the breaking scenario I'm thinking of.

[2017-08-03 17:58] tjprescott commented on #4136
[code]

If you have a nic in a different resource group from the VM, then you should specify the NIC by ID.  If that doesn't work, there is a bug.

[2017-08-03 18:05] tjprescott commented on #330
@yugangw-msft now is this still an issue? :grin:

[2017-08-03 18:07] johanste commented on #4129
Yeah, that scenario doesn't exist today to the best of my knowledge.

[2017-08-03 18:17] annatisch commented on #4061
That would be amazing! Thanks @lmazuel!

[2017-08-03 19:26] dragonfly91 opened #4138 "Incomplete round-trip serialization of timedelta"
### Description
Thanks @DheerendraRathor for helping with the debugging of the issue.

Our service is returning the string 'PT34.8179112S' for duration. This is getting deserialized into the duration object correctly. Then we are trying to return this object back to IO stream where the duration object seems to be serialized to the string '0:00:34.817911'. Then we are passing this serialized string

[2017-08-03 19:39] tjprescott opened #4139 "[Network] Extended and effective NSGs"
Implement changes described here:
https://github.com/Azure/azure-rest-api-specs/pull/1374

[2017-08-03 19:45] tjprescott commented on #3942
Moving this forward to Sprint 21 since knack work will likely need to be done before I can return to this for the third phase of changes.

[2017-08-03 19:59] tjprescott commented on #3728
Placing this on the backlog as this should be done after the Knack conversion work.

[2017-08-03 20:06] lmazuel commented on #4138
@tjprescott @derekbekoe replace:
[code]
by
[code]
to be sure you are consistent with msrest for serialisation/deserialisation.

Of course, this does not help if the model does not come from Autorest...

[2017-08-03 20:31] tjprescott commented on #4138
This is now a part of the common core (knack) and as such, relying on msrest is probably not what we want to do (@derekbekoe, thoughts?)

What command module is this for?  What is the scenario? Are you trying to PUT the output of a GET? What format do you expect for your create/update command in the CLI?  I would assume something more user friendly than  'PT34.8179112S'.

If this only affects this

[2017-08-03 20:35] johanste commented on #4138
As part of looking at this, we should also make sure that we support round-tripping of the to/from strings for all types that AutoRest supports. In this case, it looks like we missed duration.

[2017-08-03 20:42] lmazuel commented on #4138
@tjprescott note that msrest is not Azure specific (msrestazure is), but I understand if you want knack msrest agnostic :)
This msrest method uses internally:
[code]

[2017-08-03 20:44] tjprescott commented on #4138
@johanste I'm not sure what you mean here.  Date/time formats in the CLI almost always (or just plain always) have a custom type or a validator that is used to convert a user-friendly string format (whatever the command author chooses) into the usually obtuse formats required by anything with ISO in front of it. 😀  So the "round-trippiness" of the parameter would be the responsibility of the comma

[2017-08-03 20:47] johanste commented on #4138
Since we own the conversion to string, we should also provide a core from string callable that can be used for the type parameter.

[2017-08-04 00:58] yugangw-msft opened #4141 "webapp: add key-vault secret support to 'deployment user set'"
The password argument can point to a key-vault secret to make it easier for people to manage credentials

[2017-08-04 07:52] vjrantal opened #4142 "Unable to pass environment variables containing `=` to `az container create`"
### Description
**Outline the issue here:**

An example scenario is passing a connection string to a container as environment variable.

To further illustrate, the command below:

[code]

Will result into the following error:

[code]

[2017-08-04 08:32] blueelvis commented on #4066
@lindydonna - Thanks a lot for the response. I am eagerly waiting for that feature :)

-Pranav

[2017-08-04 12:33] johnkors opened #4144 "Unable to delete container attached to a deleted resourcegroup"
### Description

I was able to delete a resource group, and I'm no longer able to delete a container instance earlier applied to the deleted resource group.
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --versi

[2017-08-04 15:34] tjprescott commented on #4144
What command did you use to create the container?

[2017-08-04 15:35] tjprescott commented on #4142
This is a dupe of #4084.

[2017-08-04 17:15] #4142 closed

[2017-08-04 17:15] #4084 closed

[2017-08-04 17:44] derekbekoe commented on #4123
Possibly related to https://github.com/Azure/azure-cli/issues/4106

[2017-08-04 17:47] JasonRShaver opened #4146 "Application Security Groups"

[2017-08-04 22:53] yaronyg commented on #4141
@yugangw-msft It would also be very useful on 'az webapp config appsettings set ... --settings' so that we can set an environment variable's value based on a key-vault secret.

[2017-08-04 23:52] derekbekoe commented on #1803
It looks like this works for my container based Linux web app now.

[2017-08-04 23:57] derekbekoe opened #4149 "Show web app log config?"
### Description
There doesn't appear to be a way to show web app log config.

[code]

If I try the above with no config modifications, I get the following:

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
`curl`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version

[2017-08-04 23:59] derekbekoe commented on #4149
The motivation is I'm looking for a way to set/show the Docker Container logging for my Container-based linux web app.

This is portal screenshot.

![screen shot 2017-08-04 at 4 57 58 pm](https://user-images.githubusercontent.com/16448634/28990848-2f8574f2-7936-11e7-8f69-08f874514a17.png)

[2017-08-04 23:59] derekbekoe commented on #1803
https://github.com/Azure/azure-cli/issues/4149

[2017-08-05 10:31] nofunatall opened #4151 "Incremental Copy URI and SAS token issues"
### Description
When attempting to copy snapshots with blob incremental-copy function does not seem to authenticate regardless of using account names + sas tokens or with a source-uri

See attached for debugging outputs
[incremental-copy_sas-tokens.txt](https://github.com/Azure/azure-cli/files/1202296/incremental-copy_sas-tokens.txt)
[incremental-copy_source-uri.txt](https://github.com/Azure/azure

[2017-08-05 19:27] dewolfs commented on #4123
when i looked at https://github.com/Azure/azure-cli/tree/master/packaged_releases/pip_requirements i tried to install cli via the txt file, i got an error about missing openssl.  Installed openssl and now I get the following error:

[code]

The following python versions are installed:
Python 2.7.12
Python 3.5.2

Something to do with cross matching of libraries between python versions?

[2017-08-05 21:34] yaronyg opened #4152 "mySQL password error does not provide solution for bad password"
### Description
When calling "az mysql server create" with --admin-password the password was rejected with:

Deployment failed. Password validation failed. The password does not meet policy requirements because it is not complex enough.

Which is fair enough but no solution is provided. What are the requirements for the password? It seems like that information should be returned in the error messa

[2017-08-06 11:57] haakoo commented on #643
Is this the current recommended way to install azure-cli v2 for macOS?

[2017-08-06 12:10] haakoo opened #4153 "Install fails on macOS Sierra"
### Description
I tried to install azure-cli using the recommended method from [Install Azure CLI 2.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[code]

The install fails for `scandir` and then again at the build step (`gcc`).

From the terminal:
[code]

Then a bit later:

[code]

---

### Environment summary

**Install Method:**
Answer here: Using bash command `curl -L https:

[2017-08-06 18:39] dewolfs commented on #4123
Completely removed bash from Windows and re-installed. Reinstalled Azure CLI
ssh-keygen -t rsa -> keys generated in default location in Linux filesystem
created acs kubernetes cluster without specifying the location of the ssh keys. -> cluster gets correct created.

When I want to get the credentials:

[code]

[2017-08-07 02:20] Suna-MS commented on #3916
Any updates about this issue?

[2017-08-07 08:14] johnkors commented on #4144
[code]

[2017-08-07 08:21] johnkors commented on #4144
It seems it moved my container registered to a deleted resource group to another existing resource-group, so now I was able to delete it.

[2017-08-07 08:22] johnkors commented on #4144
Btw, here's a log of what commands I ran:
 https://gist.github.com/johnkors/05eb0ea7dd90ce9919a672b1768eb090

[2017-08-07 08:35] benc-uk opened #4154 "WSL: _openssl.abi3.so: cannot enable executable stack as shared object requires: Invalid argument"
### Description
Many simple commands e.g. `az webapp list` or `az appservice plan list` fail with a Python openssl error
[code]

I've just updated to the latest v2.0.12 CLI. The `create` options also fail

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
apt-get under WSL

**CLI Version:** What version of t

[2017-08-07 11:53] sabbour commented on #1871
@brendandburns any updates on this? Currently running **az acs kubernetes install-cli** then trying to o something like **az acs kubernetes browse** results in
**Can not find kubectl executable in PATH**

[2017-08-07 12:06] thiruma0203 opened #4155 ""az storage metrics update" will not accept "true" for --api, --hour and --minute"
### Description
Run below command to enable storage metrics.
`az storage metrics update --services b --account-name teststorage --account-key xxxxxxxxxx --api true --hour true --minute true --retention 128`

However, storage metrics stay disabled. Check with the Azure portal or this command;
 `az storage metrics show --services b --account-name teststorage`

---

### Environment summary

**Install

[2017-08-07 16:07] troydai opened #4156 "Consider adding a mechanism to filter the iteratable result without writing a custom command."
Example: https://github.com/Azure/azure-cli/blob/132b472a380c2701f1ea4caa87045d5be5240982/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/custom.py#L113

[2017-08-07 16:16] huzferd opened #4157 "[VM] Sets the Marketplace plan information on a virtual machine."
## Description
**Outline the issue here:**

PR: #4159

We can specify plan information.
Include this in the release for the next  version [_params.py](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py#L221):
[code]

**Usage:**

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, inte

[2017-08-07 17:31] tjprescott commented on #4106
From @schaabs via email:

"I’ve root caused the problem, and it seems to be an issue with the apt-get package and is specific to Ubuntu on Windows.  For some reason the CLI deb package installs 3.6.1 on the machine, but 3.6.1 doesn’t appear to be supported on ubuntu on Windows.  This must have been a recent update to the package you got when you did an upgrade.  I’ve reached out to the azure-cli t

[2017-08-07 17:31] tjprescott commented on #4154
I believe this may be related to #4106.

[2017-08-07 21:05] sptramer opened #4160 "[INTERACTIVE] Error upon starting interactive mode"
### Description

Upon starting interactive mode, there are a number of errors displayed relating to the absence of keyvault commands, as well as an issue loading the IoT module.

![image](https://user-images.githubusercontent.com/169061/29045649-1bb17a6c-7b79-11e7-810b-269f94647ee8.png)

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, a

[2017-08-07 21:17] derekbekoe commented on #4160
Can you run it with `--debug`?

[2017-08-07 21:32] sptramer commented on #4160
Debug output (caputred from a STDERR redirect):
[code]

[2017-08-07 22:15] derekbekoe commented on #4106
Here is a work around to install the prev. version of the package:
[code]

To remove later:
[code]

[2017-08-07 23:06] derekbekoe commented on #4123
@dewolfs you can install an older version of the CLI.
See https://github.com/Azure/azure-cli/issues/4106#issuecomment-320795635

[2017-08-08 05:45] bganapa opened #4162 "Nightly builds not getting updated with latest changes"
Sometimes nightly builds are not picking up the latest changes and manual trigger is needed. Azure stack CI is consuming nightly builds for validation/regression testing and sometimes running in to issues as some of our fixes are not getting picked up in the nightly builds

[2017-08-08 05:45] bganapa commented on #4162
cc:@derekbekoe

[2017-08-08 09:47] dragonfly91 commented on #4138
Hi, any update on this?

[2017-08-08 16:38] derekbekoe opened #4163 "CI: Dependency mismatch as idna package updated today"
### Description
**Outline the issue here:**

`idna==2.6` was published today.
https://pypi.python.org/pypi/idna

This is causing the CI dependency verification to fail:
[code]

The `requests` package specifies the following dependencies:
[code]

[2017-08-08 16:40] tjprescott commented on #4138
Hi @dragonfly91 there's no progress as far as any changes to core are concerned, as doing so would change the output format of many commands and (were we to simply preserve the ISO format) degrade the UX by outputting something that is not human friendly.

You can use the `type` kwarg to supply a callable that converts the human-readable string into ISO format (or the actual duration object). `get

[2017-08-08 16:41] tjprescott commented on #4163
Is there a fix? Do we merge PRs if that's the reason for failure or do we hold off on PRs?

[2017-08-09 05:20] IamVincentLin opened #4168 "Questions (Bugs?) when using Azure CLI 2.0 to configure Application Gateway URL Routing"
### Description
**Outline the issue here:**

My customer is trying to use Azure CLI 2.0 to configure Application Gateway URL Routing. He found the below questions and I can also reproduce it in my lab.

1.	We will not able to see the PathBased rule in Azure Portal if we create the UrlPathMap via Azure CLI 2.0
In the below output, we can see there is a rule named imagespathmap but it cannot be show

[2017-08-09 15:26] #4151 closed

[2017-08-09 15:27] nofunatall commented on #4151
The issue was from trying to copy snapshots created with 'az snapshot create' instead of 'az storage blob snapshot create'

[2017-08-09 15:37] #4163 closed

[2017-08-09 16:10] tjprescott commented on #4168
Hi @IamVincentLin, I've looked into your scenario.

You create a URL path map, with associated rules, but for this to appear in the portal, you must create an application gateway rule (a request routing rule) which actually wires up that path map to a listener. So you would have something like:
`az network application-gateway rule create -g {rg} --gateway-name {ag} -n {path-rule} --http-listener {

[2017-08-09 16:15] tjprescott opened #4173 "[Network] AppGateway Path-based Rules Portal Discrepancies"
From #4168, in the portal, you create path based rules and the associated URL path map (and rules) all in a single step.

In the CLI, you have to do this multi-step process:
1. Create the path-map (with the first rule because you can't create an empty map)
2. Use follow-on commands to create additional path-map rules.
3. Create a request routing rule to link the configured path-map to an HTTP list

[2017-08-09 16:17] tjprescott opened #4174 "[Network] AppGateway url-path-map rule create says it supports name/ID but only accepts IDs"
As reported in issue #4168.

[2017-08-09 16:45] tamird commented on #643
@derekbekoe is anyone working on this? should be possible to figure out these dependency issues, but doesn't seem like anyone has tried. Perhaps I'm misunderstanding.

[2017-08-09 17:01] lmazuel opened #4177 "az ad group get-member-groups broken"
I just realized SDK is broken by an old Autorest bug, meaning `groups_operations.get_member_groups` just can't work.

Fix on https://github.com/Azure/azure-sdk-for-python/pull/1184

[2017-08-09 17:22] #4174 closed

[2017-08-09 17:37] lmazuel commented on #4177
Actually, you are still using `azure-graphrbac 0.30.0rc6` (which was not broken), so this means you should not use `azure-graphrbac` 0.30.0 and wait for 0.31.0 :)

[2017-08-09 17:39] lmazuel commented on #4177
I close the issue, since the title is wrong, but @yugangw-msft FYI

[2017-08-09 17:39] #4177 closed

[2017-08-09 17:59] JasonRShaver commented on #643
I believe we are planning this work in the next sprint; we have some changes to packaging and extension support we need to land first.  If anyone is capable of helping us with the Brew package, we would be thrilled to accept the help =)

[2017-08-09 18:50] tjprescott commented on #643
It looks like @antoineco has code to accomplish this. It *could* be as simple as submitting a PR against our repo, pending review of course.

[2017-08-09 18:57] tamird commented on #643
@tjprescott what do you mean? you guys probably want your formula to live in https://github.com/Homebrew/homebrew-core, not here in this repo.

[2017-08-09 19:26] antoineco commented on #643
Indeed, I keep the aforementioned Tap up-to-date, but I'd also prefer to see this merged in Homebrew core.

[2017-08-09 19:27] #4168 closed

[2017-08-09 20:29] JasonRShaver opened #4179 "Weird param handling for special chars in PowerShell shell"
[code]

[2017-08-09 21:42] ggailey777 opened #4180 "Enable .zip file deployment for az functionapp"
### Description
Feature request in azfunctionapp: For cases where Git-based deployment is too heavyweight, it would be nice to have the option of deploying using a .zip file or some other compressed package.
`az functionapp deployment source config --name $functionapp --resource-group myResourceGroup --source-url --type zip`

Maybe this also applies to Web Apps? Note that I originally opened this

[2017-08-09 21:46] ggailey777 opened #4181 "Enable folder-specific deployment in az functionapp deployment source config"
### Description
Feature Request: Currently, to deploy a function app via `az functionapp deployment source config` the function app needs to be at the root of the linked repo. To support including both a function and web app in the same repo/project, it would be great to be able to also specify a folder in the repo using a **location** parameter or something similar as the deployment source, like

[2017-08-09 22:12] jchauncey opened #4182 "Sending a kill signal to the cli should reap the corresponding python procress"
### Description
**Outline the issue here:**
On a linux host if you start the az cli and then send a `kill -9` to that pid it will not reap the python process that was started. This means that process keeps going even if you dont want it to.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: pip

[2017-08-09 22:12] jchauncey commented on #4182
[code]

[2017-08-10 01:02] yaronyg opened #4183 "az mysql server firewall-rule create gives bad error message"
### Description
The error message for a bad parameter doesn't specify which parameter is bad

For example:
[code]
Just returns: Deployment failed. Invalid value given for parameter 'firewallRule'. Specify a valid parameter value.

In this case the bad parameter was the name but there error didn't specify that.
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip

[2017-08-10 02:03] richardjortega commented on #4180
If sending a local zip file, is the `--source-url` even required?

[2017-08-10 02:17] clehene opened #4185 "az dls upload hangs on multi chunk uploads"
### Description
Introduced by https://github.com/Azure/azure-data-lake-store-python/issues/187 in dls 0.0.15
This will require updating to next version on dls sdk once https://github.com/Azure/azure-data-lake-store-python/pull/189 gets in.

[2017-08-10 02:19] nneul opened #4186 "Add more compatibility with xplat cli when there is no conflict"
### Description

For `az vnet subnet` operations `-e` is not used for any other existing argument - would be good for xplat migrations to support -e which it uses.

`-e` => `--vnet-name`

Would have submitted a PR, but wasn't clear how to do the `register_alias` in network.py with where it have cli_generic_update_command and similar. If you can point out an example of how to do this, I'll send a P

[2017-08-10 02:26] nneul commented on #4186
`az network dns record-set` add:
 `-l` => `--ttl`

For that command, these are not shown in the help information, but do work:
`-g` => `--resource-group`
`-n` => `--record-set-name`
`-z` => `--zone-name`

[2017-08-10 02:30] nneul commented on #4186
`az network nic create` add:
`-m` => `--vnet-name`
`-k` => `--subnet`

[2017-08-10 10:54] adziu opened #4187 "'Microsoft.PowerBI/workspaceCollections/write' does not match any of the actions supported by the providers"
### Description
For a service we are building, for each deployment we need a Resource Group within Azure with:
* Workspace Collection to host PBIX reports for PowerBI Embedded, and
* SQL Server for the data that the reports reference.

We have created a dedicated Service Principal to handle the creation of this setup. It has been initially created with "Coordinator" role and has been working witho

[2017-08-10 12:00] snobu opened #4188 "Exception thrown for "az vm list -d" with IPv6-enabled adapter"
Probably same as https://github.com/Azure/azure-cli/issues/2543

Looks like a NoneType is returned for adapters that are IPv6 enabled.

[code]

It trips somewhere here:
https://github.com/Azure/azure-cli/blob/620f0d2ce03b4a296b59eeb86d554e314d4bc585/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py#L183

I can work around it if i try around the `setattr()` line:

[code]

Resu

[2017-08-10 16:35] tjprescott commented on #4186
For the DNS record commands the short options are listed in the help:
[code]

We made a conscious choice not to lift short arguments from Xplat. As you point out, for one command, `vnet-name` is `-e` and another it is `-m`.  Neither makes any sense. If we choose a short option, we do so when the argument is used often and when the user can have a reasonable expectation that it will be consistent t

[2017-08-10 17:02] ganesr opened #4189 "ExpressRoute: Add support for IPv6 in Microsoft peering"
### Description
We have enabled support for IPv6 for Microsoft peering. We would love to have CLI support for it.
Swagger spec. is at https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-06-01/expressRouteCircuit.json

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt

[2017-08-10 17:06] tjprescott commented on #4189
Thanks @ganesr.

[2017-08-10 17:15] nneul commented on #4186
Ok, I can live with that since it was a conscious decision.

Now I can't reproduce what triggered my comment about the short items not being listed... strange. Maybe was confusing output of one cmd with another.

[2017-08-10 17:15] #4186 closed

[2017-08-10 17:17] tjprescott commented on #4186
It might be that the usage string doesn't display the short options:
[code]
However the argparse error message does:
[code]

[2017-08-10 17:38] nneul commented on #4186
Ah, yep. that was it! ty.

[2017-08-10 18:16] viananth opened #4192 "Azure Stack unsupported commands/features should be hidden from az --help"
### Description
In 2017-03-09-profile, unsupported commands, modules or features should be hidden while az --help is run

For example, vm managed disk should be hidden when “az vm –help” is executed.
Adding supported_api_version condition in commands.py file didn't help hiding the help content or block it from running the command.

[2017-08-10 20:15] tjprescott opened #4194 "[EventGrid] Required work prior to GA"
- [ ] Add support for update commands (with generic update support) (https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#generic-update-commands)
- [ ] Add support for IDs in general (--ids parameters) (https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#supporting-the-ids-parameter)
- [ ] Add resource specific

[2017-08-10 23:35] jeff-block opened #4197 "[INTERACTIVE] AZ LOGIN SSL VERIFY ERROR"
### Description
**Outline the issue here:**

az>> login --debug
Loading all installed modules as module with name 'login' not found.
Installed command modules ['acr', 'acs', 'appservice', 'batch', 'billing', 'cdn', 'cloud', 'cognitiveservices', 'component', 'configure', 'consumption', 'container', 'cosmosdb', 'dla', 'dls', 'feedback', 'find', 'interactive', 'iot', 'keyvault', 'lab', 'monitor', 'ne

[2017-08-11 05:48] snobu commented on #4194
Isn't EventGrid supposed to still be super secret confidential stuff?

[2017-08-11 10:00] SteveALee opened #4199 "Latest version on documentation site is behind the releases here on GitHub"
* I Installed the msi linked to from the decumentation site and it is 2.012. as is here
~~* I ran `az --version` and get 2.0.1~~
* The [release notes on document site](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli) stop at 2.0.6, though here on git hub the latets release is 2.0.12

[2017-08-11 10:01] SteveALee commented on #4199
Oh, sorry I need to open a new console window for the update version to show.

So just the release page is at issue

[2017-08-11 10:15] SteveALee commented on #4199
Actually if i run `az --version` from a `git4windows` bash shell it gives 2.0.1, even after a reboot.

This is annoying as I use this shell all the time.

[2017-08-11 10:30] SteveALee commented on #4199
It seems to be picking up an install; of python 3.5.2 under roaming which has an az.cmd file

In a cmd shell it use Pyhton 3.6.1 which I do not have globally installed

[2017-08-11 11:07] sknkmn commented on #2333
for some reason if i 'az vm list' it returns outputs in JSON rather than tabular.. any ideas here?

[2017-08-11 11:20] luna4d opened #4200 "az webapp list 404 Client Error"
### Description
**az webapp list**
https://docs.microsoft.com/en-us/cli/azure/webapp#list
`PS C:\WINDOWS\system32> az webapp list
Operation failed with status: 'Not Found'. Details: 404 Client Error: Not Found for url: https://management.azure.com/su
bscriptions/01c16a40-ab7e-4703-8205-a6d402d14870/providers/Microsoft.Web/sites?api-version=2016-08-01`

---

### Environment summary

**Install Metho

[2017-08-11 11:24] amalik99 opened #4201 "Azure CLI Deployment doesnt understand parameter file with no parameters but valid schema"
### Description
there are a bunch of templates with no parameters, azure-deploy and parameter file looking like below.

Sample Template file - https://raw.githubusercontent.com/SpektraSystems/azure-quickstart-templates/master/101-subnet-add-vnet-existing/prereqs/prereq.azuredeploy.json

Sample parameter file - https://raw.githubusercontent.com/SpektraSystems/azure-quickstart-templates/master/101-s

[2017-08-11 11:45] SteveALee commented on #1949
AzCopy allow's the type to be left out and the copy operation figures out the MIME type from the file extension.

We really need that for the az blob upload commands as well!!!

[2017-08-11 14:59] nneul opened #4202 "Add a VM to an AvailabilitySet after creation."
### Description

Is there an azure-cli equivalent of this powershell cmdlet? Described here:

https://www.petri.com/understanding-azure-availability-sets

https://docs.microsoft.com/en-us/powershell/module/azure/set-azureavailabilityset?view=azuresmps-4.0.0`

The first link has an example like this:

`Get-AzureVM -ServiceName contosodc1 -Name contosodc1 | Set-AzureAvailabilitySet -AvailabilitySetN

[2017-08-11 16:13] tjprescott commented on #4201
Hi @amalik99 you raise an excellent point. We'll get it taken care of.

[2017-08-11 16:17] tjprescott commented on #4199
@derekbekoe is best to comment on the different installations, but I'll just add you are likely to run into issues using git bash as a shell.

[2017-08-11 16:21] tjprescott commented on #2333
The CLI only has a single default output format, unlike CLI 1.0 that had default formats per command. If you would like table output, run your command with `-o table`.  You can also set table to be your default output format, but I don't recommend it as it inherently displays less information.

[2017-08-11 16:27] SteveALee commented on #4199
@tjprescott Thanks - yes. I manually removed that old python installation and a CLI v1 installation as they should not have been arround. Now AZ does not work at all in git bash, even though is on the path. Seems to be assumptions made with .bat files.

But it's easy enough to run a cmd sub shell for the the odd `az` command and NPM currently always runs cmd. even when called from git bash.

I'll

[2017-08-11 16:35] troydai commented on #1949
Move this to sprint 21 for potential changes per popular support.

[2017-08-11 16:41] shinjisgogo opened #4203 "az storage metrics update command overwrite the diag settings to be incorrect"
### Description
**Outline the issue here:**
I found the problematic behavior that looks like a bug when cx sets the diagnostics of storage. I also found the code which must be fixed. Could you look into this issue and fix this if it’s bug?

Problematic behavior
When “Blob aggregate metrics” and “Blob per API metrics” are “true” and overwrite both settings to be “true” again, both settings will be

[2017-08-11 16:47] derekbekoe commented on #4199
Looks like there are two versions of the CLI installed if git bash picks up a different version to cmd.

[2017-08-11 16:48] derekbekoe commented on #4199
You can check your path for multiple `az`s and remove the one you don't want to use or uninstall the older one altogether.

[2017-08-11 16:56] SteveALee commented on #4199
@derekbekoe That was indeed the case (I used `which az`). I don't understand why as I had used the WIndows remove to kill all old versions. See more detaisl above. :)

[2017-08-11 17:08] tjprescott commented on #4202
Hi @nneul there is no dedicated command for this. I tried to accomplish this via generic update and had no luck.  It seems you must specify the availability set when you create the VM (at least currently in 2.0)  We have an open project to improve the adding of VMs to load balancers and application gateway pools.

I'll investigate some potential solutions for this next sprint and see if we can get

[2017-08-11 17:15] derekbekoe commented on #4199
Ah. @SteveALee okay to close issue?

[2017-08-11 17:22] SteveALee commented on #4199
Well, the releases listed on the [documentation site](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli) are behind so I could rename issue to just cover that point if you like?

[2017-08-11 18:33] bernadinm opened #4206 "Azure Login Doesn't Work"
### Description
**Outline the issue here:**
I and my collages in my team are unable to log into azure using the Azure 2.0 CLI.  Please refer to Microsoft case [REG:117071416044145] for more information.

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
[code]

**CLI Version:** What version of the CLI

[2017-08-11 18:37] yugangw-msft commented on #4200
@luna4d , I can't reproduce it. Are you still seeing it?

[2017-08-11 18:49] yugangw-msft commented on #4197
@jmblock, likely you hit a temporary service end issue during their deployment. Such error  did happen before. I am not able to reproduce it right now. Could you try again?

[2017-08-11 19:01] derekbekoe commented on #4200
Also @luna4d please add the `--debug` argument and provide the output.

[2017-08-11 19:03] #4023 closed

[2017-08-11 19:03] yugangw-msft commented on #4023
fixed

[2017-08-11 20:01] nneul opened #4207 "no-wait option on az vm availability-set create doesn't work"
### Description

`nneul@skyhawk:/local/deploy $ az vm availability-set create --resource-group ${res_group} --name ${aset}-availset --location $region --no-wait`

results in

`
Deployment failed. 'ClientRawResponse' object has no attribute 'done'
`

Works fine if I don't specify `--no-wait`

---

### Environment summary

**Install Method:** nightly
**CLI Version:** azure-cli (2.0.12+1.dev20170808)

[2017-08-11 20:02] tjprescott commented on #4207
Thanks for the report @nneul!

[2017-08-11 22:35] yaronyg opened #4209 "az mysql server firewall-rule delete fails with 200 response if the rule doesn't exist"
### Description
[code]
First off, 200 is success, not failure. So right away this error doesn't make any obvious sense.

I used --debug and for response content it just says "Body contains chunked data." for the GET request used to find out the result of the DELETE but no actual content is lised. The next like is the Operation failed with status: 200.

Note that this error occurs when trying to de

[2017-08-11 22:42] weinong opened #4210 "[ACS] deployment output has incorrect ssh output to master"
### Description
**Outline the issue here:**
---
When a Kubernetes cluster is created, the cli returns the outputs like

But there is no 2200 port opened on master
this is the result of [this](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py#L685)
### Environment summary

**Install Method:** How did you install the CLI? (e.g. p

[2017-08-11 22:47] rjtsdl commented on #4210
I guess, it should just be 22 instead of 2200. I will send a PR for this fix.

[2017-08-11 23:01] tjprescott commented on #4067
Moving since Network and Storage PRs are in flux with no good timelines.

[2017-08-11 23:22] weinong commented on #4210
it depends on the orchestrator. for DCOS and Swarm it's 2200-2202.

[2017-08-11 23:43] sknkmn commented on #2333
Thanks!!

[2017-08-13 18:42] SteveALee commented on #1949
@troydai What I really want is a command to syncronise a container etc to a local directory tree while setting the contentType for all files. I have found no such option or other CLI tool to do this. this is critical in applications including a static web site.

Does this exist and I missed it? Surely this must be the case? Or should I raise I new issue to request it?

[2017-08-14 10:12] eon01 opened #4211 "Showing NSG is not showing error when given wrong options"
### Description

*update*

Typing a RG or a NSG that doesn't exist will not show any error. As a user I think this is confusing.

[code]

Probably adding an message would be more helpful.

---

### Environment summary

**Install Method:** CLI / Linux

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)  :

[code]

**OS Version:** What OS and version are you usi

[2017-08-14 17:49] yugangw-msft commented on #4206
Could you please confirm whether this is the case for your team?
If you log in through portal, are you seeing any subscriptions?

[2017-08-14 17:54] viananth opened #4213 "ADFS 'active_directory' endpoint can't be recognized if trailing slash is present"
### Description
**Outline the issue here:**
If the "endpoint-active-directory" parameter for ADFS env has a trailing slash in it, the tenant is not able to login.

**Error:**
[code]

But once the trailing slash was removed, tenant was able to login.

---

[2017-08-14 18:10] jluk commented on #3714
@binderjoe or @yugangw-msft can you still repro this issue, if so can you provide time details of when it was reproduced? We have additional logs now that can help debug this, however we are unable to repro.

[2017-08-14 18:19] yugangw-msft commented on #4200
@luna4d, please activate with more details

[2017-08-14 18:19] #4200 closed

[2017-08-14 19:30] JasonRShaver opened #4214 "Interactive mode mode app directory should be moved"
After using `az interactive` users find they now have a `~/.azure-shell` directory, which is confusing to Azure Cloud Shell users who expect this directory to relate to the cloud-shell feature in portal.

[code]

[2017-08-14 20:34] yugangw-msft commented on #3926
Per discussion, move to a later milestone till we have more user asks on this

[2017-08-14 20:35] yugangw-msft commented on #3925
Per discussion, move to a later milestone till we have more user asks on this

[2017-08-14 20:37] yugangw-msft commented on #3660
I will check this out again.

[2017-08-14 20:37] yugangw-msft commented on #3598
I will check this out again

[2017-08-14 20:40] weinong opened #4215 "[Monitor] how to create diagnostic-settings?"
### Description
**Outline the issue here:**

---
how to create diagnostic-settings? Can you add working example to the [doc](https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings)?

this is what I did
[code]
where metric.json is
[code]
The debug traces show
[code]
### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Dock

[2017-08-14 21:08] jluk commented on #4214
Is renaming a possibility over moving the directory since the nomenclature is what is confusing users?

[2017-08-14 21:27] yugangw-msft commented on #1803
this works now

[2017-08-14 21:27] #1803 closed

[2017-08-14 22:21] viananth opened #4216 "Keyvault create cmd fails in ADFS env"
### Description
**Outline the issue here:**
az keyvault create --name keyvaultName --resource-group UtilitiesRG --location Redmond --sku standard --enabled-for-deployment true --enabled-for-template-deployment true

fails in Azure Stack ADFS environment with the following error message:
"The access token has been obtained from wrong audience or resource 'https://graph.redmond.ext-n25r0405.masd.stb

[2017-08-14 23:08] gatneil opened #4217 "VMSS License Type"
### Description
Feature Request:

--license-type for VMSS (same as for VMs)

[2017-08-15 11:38] Elexy commented on #3720
I am on stretch as well and can't seem to get it to work. I get the same error:
`~$ az login
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/devicecode?api-version=1.0 (Caused by SSLError("Can't connect to HTTPS URL because the SSL module is not available.",))`

[code]

[2017-08-15 11:53] nneul opened #4220 "az storage account update encryption - syntax mismatch?"
### Description

`az storage account update \
	--name ${storageacct} --resource-group ${res_group} \
	--encryption queue table blob file`

based on this in usage:

`[--encryption {queue,table,blob,file} [{queue,table,blob,file} ...]]`

results in

`az storage account update: error: __init__() got an unexpected keyword argument 'queue'`

issueing them one at a time appears to work.

---

### Enviro

[2017-08-15 14:55] bernadinm commented on #4206
Yes. This happens for any user on my team as well. When we log into the
azure portal, we do see our subscription and are able to launch vms against
it and everything. It's our shared company subscription. We are able to use
the old azure cli and able to see the subscription there but none of us are
able to use the Azure 2.0 cli.

On Mon, Aug 14, 2017, 10:49 Yugang Wang <notifications@github.com> w

[2017-08-15 16:21] yugangw-msft commented on #4206
Interesting, @bernadinm could you run `az login --debug`, and send me the trace at yugangw at microsoft dot com?

[2017-08-15 17:24] bernadinm commented on #4206
Thank you! Sent!

[2017-08-15 18:54] tjprescott commented on #4216
The `keyvault-create` command makes Graph API calls using the `active_directory_graph_resource_id` property of the cloud. Does the Stack environment's cloud configuration have  this endpoint set?  Do the RBAC commands work?

[2017-08-15 20:19] jsturtevant opened #4222 "Cannot deploy ACS - K8s in eastus"
### Description
When running

[code]

I end up with the error:

[code]

Both the API version and the location are listed as valid in the error message.

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Docker

```docker run -it -p 8001:8001 azuresdk/azure-cli-python:latest```

**CLI Version:** What

[2017-08-15 20:31] tjprescott commented on #4210
PR #4212 merged

[2017-08-15 20:31] #4210 closed

[2017-08-15 20:33] jsturtevant commented on #4222
it works if i run same with `eastus2` as resource group

[2017-08-15 20:34] tjprescott commented on #4213
@viananth is this related to #4216?

[2017-08-15 20:37] yugangw-msft commented on #4216
I can take a first look to understand why a graph token was used for keyvault operation

[2017-08-15 20:56] bacongobbler opened #4223 "`az storage blob upload-batch`: ERROR: HTTPSConnectionPool"
### Description

When running `az storage blob upload-batch --source _dist/ --destination draft --pattern *.tar.gz*`, the following error consistently pops up with no descriptive error:

[code]

It never actually uploads anything up to Azure blob storage. It just appears to error out.

This is running in our CI system, which is able to connect to the outside world and upload Docker images to hub.d

[2017-08-15 20:59] bacongobbler commented on #4223
Attaching a screenshot to confirm no archives were uploaded to Azure.
<img width="2560" alt="screen shot 2017-08-15 at 1 57 37 pm" src="https://user-images.githubusercontent.com/1360539/29336184-dd9344be-81c1-11e7-8520-f81cc5b30621.png">

[2017-08-15 20:59] tjprescott commented on #4216
It is used to assign access permissions for the KeyVault to the active user.

[2017-08-15 21:36] tjprescott commented on #4211
Hi @eon01 we appreciate the feedback. The main reason we don't error out when the resource doesn't exist is because it simplifies scripting scenarios. As the CLI tries to be quiet, when you run a show command, if nothing is printed then there was nothing there to print. Thus, by implication the resource did not exist. If that isn't clear then the interactive scenario isn't being given enough consi

[2017-08-15 22:38] eon01 commented on #4211
Hi @tjprescott Thank you for your comment, I appreciate it. In this case it's not a bug but a way of designing the CLI.

For users in my case using ``` --debug ``` could be helpful:

[code]

Another way of thinking instead of showing nothing when there is nothing to show is printing something like:

[code]

This is the case for other CLIs like AWS CLI:

[code]
But as I said, ``` --debug ``` is wha

[2017-08-15 23:02] viananth commented on #4216
Yes, `active_directory_graph_resource_id  `is set. And the authentication fails because `keyvault create `makes Graph api calls instead of active-directory call.

[2017-08-15 23:15] tjprescott opened #4224 "[Test] Need mechanism to thoroughly test module imports"
Recently we released a module whose `setup.py` file was missing some necessary entries in it's packages list, resulting in a non-functioning build. The CI did not catch this because it only ensures that the wheel file builds and that `az` runs. This approach is insufficient because it is not guaranteed to trigger the relevant imports.

When we run a module's tests, we run the `dev_setup.py` script

[2017-08-15 23:15] tjprescott commented on #4224
cc/ @troydai and @derekbekoe for thoughts on technical feasibility.

[2017-08-15 23:17] Krakenfall opened #4225 "Resource show fails on resources with parentheses in the name"
### Description
Command `az resource show` with a resource name that includes parentheses returns "--resource-type was unexpected at this time" in PowerShell 5.0 console.

### Repro Steps

* Open PowerShell console
* Run `az resource show -g "TestGroup" --name "ResourceName(NestedForSomeReason)" --resource-type "Microsoft.OperationsManagement/solutions"` (resource type is example)

Result:

[code]

[2017-08-15 23:52] tjprescott commented on #4225
The following syntaxes work:

**CMD.exe**
`az resource show -n name(stuff)`

**bash**
`az resource show -n 'name(stuff)'`

Powershell is not an actively supported shell for CLI 2.0. However, you could try:
`az resource show --% -n name(stuff)`

The `--%` is supposed to disable Powershell's inbuilt parsing for anything after the escape sequence.

[2017-08-15 23:53] amanohar commented on #4222
eastus does not support API version 2017-07-01 yet. Are you using a nightly build to az cli?
/cc: @rjtsdl

[2017-08-15 23:55] rjtsdl commented on #4222
@jsturtevant ,

as what the error message explained. 'eastus' is not in the list below
[code]

However, if you are just hitting eastus, it should just work. I will take a look.

[2017-08-16 00:00] amanohar commented on #4222
@jsturtevant the error message could be more specific as right now it just returns the union of all API versions and regions. But for now eastus does not support this API version.

[2017-08-16 00:02] rjtsdl commented on #4222
The issue here is, it shouldn't use api version 2017-07-01 at all for eastus.
Btw, i can repro it. Working on investigation and fix.

[2017-08-16 00:05] jsturtevant commented on #4222
Ok Thanks.  Agree the error message could be better as it lists both as acceptable messages. I was running a docker image from a month or so ago, then update to `latest` tag.

[2017-08-16 00:13] rjtsdl commented on #4222
@jsturtevant , looks like it was added by mistake. I need to file a PR to correct this.
https://github.com/Azure/ACS/commit/4880cc9d09ed304fdc7523753111548ba41b1236

[2017-08-16 00:28] jsturtevant commented on #4222
I was able to deploy to `eastus` a month ago.  Are you saying can no longer deploy to `eastus`?

[2017-08-16 00:41] rjtsdl commented on #4222
@jsturtevant, it is a bug in az cli. I am correcting it. After the fix, you should be able to deploy to eastus. The problem scope is only limited to `eastus`.

The change is to remove it from preview regions. Then it will be just a regular region. :)

[2017-08-16 00:42] jsturtevant commented on #4222
Great.  Thanks for the fast response and clarification!

[2017-08-16 01:53] elibarzilay opened #4229 "Throttling problems"
We have a build that relies heavily on using azure storage via the CLI.
A major thing that bugged me is that from time to time I get errors due
to throttling.  Recently this turned from an occasional annoyance to a
major issue, since we now have builds that fail because of throttle
related problems.

Solving these problems in a robust way as far as I can currently see is
difficult enough[*] that i

[2017-08-16 09:07] liorbiu opened #4231 "Can't create vms in new regions"
### Description
I'm using azure cli to create vm in different regions. I 'm trying to create vm in germanycentral, southafricawest and centeralindia. According to this [link](https://azure.microsoft.com/en-us/regions/) this regions are available. When I'm trying to create vm in these regions I received the following error:

`ERROR: Deployment failed. The provided location 'centeralindia' is not av

[2017-08-16 10:11] tomjaguarpaw opened #4232 "Unexpected error message when trying to create new VM due to existing VM using the same name"
### Description

I ran the command

    az vm create --admin-username <whatever> --resource-group <whatever> --name myVM --image UbuntuLTS --generate-ssh-keys --size Standard_NC6 --location WestUS2

I got the error

[code]

The problem is *not* that the requested size is unavailable.  The problem is that I already have a VM called `myVM`.  The error message should be fixed.

---

### Environment s

[2017-08-16 15:48] Krakenfall commented on #4225
Thank you for the information. I appreciate knowing PowerShell is not currently supported. Unfortunately, using `--%` did not work, but I was able to work around the issue with
[code]

[2017-08-16 15:48] #4225 closed

[2017-08-16 16:54] tjprescott opened #4233 "[VM] Certain VM scenarios require explicit specification of plan information"
Initially reported by @huzferd in PR #4159.

Create Data Science VM using templates.
Create Image from DSVM.
Attempting to restore DSVM from Image yields the following error:
{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMMarketpla

[2017-08-16 16:58] tjprescott commented on #4231
Additionally, `centralindia` is also listed in the error message as being available for that resource type. @yugangw-msft do you think this is a service bug or are we compiling an erroneous help message?

[2017-08-16 16:58] yugangw-msft commented on #4233
I believe @huzferd  has already opened #4157 for this

[2017-08-16 17:04] yugangw-msft commented on #4231
The `centeralindia` has a typo, and the error message calls out the correct spelling of  `centralindia`

[2017-08-16 17:04] #4231 closed

[2017-08-16 17:07] yugangw-msft commented on #4206
Per our mail exchange, the cause was the government cloud was picked up  but the subscription comes from the public cloud. After switched to the right cloud, things started to work.
So i am closing this issue, as login works correctly.

[2017-08-16 17:07] #4206 closed

[2017-08-16 17:09] tjprescott commented on #4232
Is the size different between your pre-existing VM and the one you are specifying on the command line?

[2017-08-16 17:12] tjprescott commented on #4232
The CLI will not error out if you try and create a VM (or any resource) with the same name as an existing resource. Otherwise the create commands would not be idempotent. If the arguments differ between your existing VM and your command line, then the service attempts to update the VM, which may or may not succeed.

[2017-08-16 17:13] tjprescott commented on #4233
I'll close that one as this outlines the issue rather than the proposed solution.

[2017-08-16 17:13] #4157 closed

[2017-08-16 17:18] tjprescott opened #4235 "Adding confirmation to custom commands should not require adding a "yes" parameter to the command signature"
I was working with a dev trying to create a custom command with confirmation.  He set "confirmation=True" in the command registration but then the command failed with "<operation> received unexpected keyword argument 'yes'."

The confirmation mechanism is built into the command execution template, so it should never be required (or desired) within a custom command.  Instead of being a `kwargs.get`

[2017-08-16 17:47] szarkos commented on #4115
Isn't this already supported via this PR: https://github.com/Azure/azure-cli/pull/3751 ?  The CLI tools available via cloud shell already supports this parameter (--accelerated-networking true).

Accelerated Networking is already GA for Windows, so it should be publicly documented.

[2017-08-16 17:47] jsturtevant commented on #3934
I had the same issue in `version 2.0.3`. I upgraded to `azure-cli (2.0.14)` with iot version `iot (0.1.10)` and it is now working as expected, leaving existing policies alone.

[2017-08-16 17:51] rjtsdl commented on #4222
@jsturtevant , the fix has merged.

If you use nightly build as tmr, you should see the fix effective.
However, you probably need to wait for up to a month for the official release of az cli with this fix.

@tjprescott, @jsturtevant
As there is nothing to do now, so you can just close this. (I don't have the permission :()

[2017-08-16 17:52] #4222 closed

[2017-08-16 17:53] derekbekoe commented on #4222
It'll be available through our automated Docker builds also from now.
The next release is scheduled for end of month.

[2017-08-16 18:10] rjtsdl commented on #4123
@dewolfs, i just tried it in the latest az cli. I can successfully get-credentials without any error.
So I encourage you to try out the latest az cli (There is a release on 8/15/2017). Let me know if the error still persists.

[2017-08-16 19:15] viananth opened #4238 "az storage account update command should be made available with tags parameter for 2017-03-09 profile"
### Description
**Outline the issue here:**
`az storage account update ` command is supported with `tags `parameter for `2017-03-09 profile`. It should be made available for the "tags" parameter.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and mod

[2017-08-16 19:18] viananth opened #4239 "az vmss list-instance-public-ips should be made available to 2017-03-09-profile"
### Description
**Outline the issue here:**
Azure Stack supports `az vmss list-instance-public-ips ` and it should be made available to 2017-03-09-profile

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)

[2017-08-16 19:40] anzaman opened #4241 "[ExpressRoute] express-route peering update operation does not recognize the –route-filter parameter"
The update operation does not recognize the –route-filter parameter

Command
    az network express-route peering **update**: Update peering settings.

Arguments
    --peer-asn                  : Autonomous system number of the customer/connectivity provider.
    --primary-peer-subnet       : /30 subnet used to configure IP addresses for primary interface.
    --secondary-peer-subnet     : /30 sub

[2017-08-16 20:28] derekbekoe commented on #3351
Closing. We can re-open if the CLI still doesn't work.

[2017-08-16 20:28] #3351 closed

[2017-08-16 20:32] derekbekoe commented on #4153
This issue is with `scandir`. Run `xcode-select --install` as in https://github.com/Azure/azure-cli/issues/3473#issuecomment-304298948.

If that doesn't work provide the full output from the CLI install script.

Closing. Please comment if you're still seeing issues here.

[2017-08-16 20:32] #4153 closed

[2017-08-16 20:32] #4201 closed

[2017-08-16 20:33] #4239 closed

[2017-08-16 20:36] #3327 closed

[2017-08-16 21:04] derekbekoe commented on #3449
@JasonRShaver This will be the new link for the license terms once the linked PR has been merged https://raw.githubusercontent.com/Azure/azure-cli/master/cli_license_terms.md

[2017-08-16 21:15] derekbekoe commented on #1658
@troydai can we close this?

[2017-08-16 21:22] derekbekoe commented on #339
@yugangw-msft Can we close this now? Tab completion support has been beefed-up and perf. has also improved.

[2017-08-16 21:48] derekbekoe commented on #645
Closing as this is tracked by https://github.com/Azure/azure-cli/issues/3654

[2017-08-16 21:48] #645 closed

[2017-08-16 22:30] #339 closed

[2017-08-16 22:44] #3449 closed

[2017-08-17 00:05] derekbekoe commented on #4192
I have verified in the CLI that when I had the `if supported_api_version` constraint to commands I don't want to appear in the older API profile, they don't appear.

[2017-08-17 00:53] Nilambari commented on #2846
BgpSettings object is part of both objects:- VirtualNetworkGateway & LocalNetworkGateway, whereas BgpSettings.bgpPeeringAddress is a required fields for creating/updating LocalNetworkGateway and not needed/optional for creating/updating VirtualNetworkGateway.
		As the same object is used two places, we could not make it reaqdonly. Even though customer passes Address for VirtualNetworkGateway, we t

[2017-08-17 01:09] troydai commented on #1658
do it.

[2017-08-17 01:09] #1658 closed

[2017-08-17 02:30] chris-short opened #4245 "[DNS] zone import should not truncate records ending in ."
### Description
When running:
```az network dns zone import -f cshort.co.txt -n cshort.co --verbose```

The character before the trailing dot (.) is being truncated from BIND zone files. When @kris-nova removed the trailing dot it appeared to import as desired. Here is command's output:

[code]

Zone file can be found here: https://pastebin.com/WCY6bZZp
---

### Environment summary

**Install Meth

[2017-08-17 07:38] awilhelmer commented on #3720
I get this error too on the official Jenkins Docker image. Azure CLI installed with apt-get described in the docs.

[code]

[2017-08-17 08:39] benc-uk commented on #4154
Hi, What's the timeline for a fix? I've updated to 2.0.14 and it is still broken

[2017-08-17 09:15] aku105 opened #4247 ""az ad sp show --id" doesn't return all service principals matching the service principal name."
### Description
In case multiple service principals exist with same name on AD, `az ad sp show --id` doesn't return all service principals matching the service principal name.
To reproduce the issue, create 2 service principals with exact same name and run `az ad sp show --id http://$sp_name`. Details of only one service principal is returned.

Expected result: Details of all service principals wi

[2017-08-17 09:49] tomjaguarpaw commented on #4232
Hi Travis, thanks for your response.  Yes, the size is different between my pre-existing VM and the one I am specifying on the command line.  I didn't actually want to overwrite the VM, I just wanted a new one!

I attach the full log of commands below.  I hope you agree that the error message

is very misleading.  A better message would be

[code]

[2017-08-17 12:00] marrobi commented on #4106
Any news on this? Is blocking me as need the "az container" commands so need to be > 2.0.12

[2017-08-17 12:00] marrobi commented on #4154
Any news on this? Is blocking me as need the "az container" commands so need to be > 2.0.12

[2017-08-17 12:34] benc-uk commented on #4154
Hey hi Marcus!
For me `az container` commands seem ok, as do many others. Which is odd if the issue is with the version of Python being bundled, I'd imagine it would affect all HTTPS calls made by the the CLI

[2017-08-17 12:36] marrobi commented on #4154
Yeah, they work fine, but means I can't roll back to a version of the cli where the broken commands work. `az acs kubernetes get-credentials` also fails.

[2017-08-17 12:39] benc-uk commented on #4154
Yes of course! The last good version was 2.10 I think and that was before they added the ACI stuff.
I can imagine this is affecting *LOTS* of people, surprised there are not more issues/comments

[2017-08-17 12:58] alexvicegrab opened #4248 "Encryption options during storage account creation"
### Description

While running

az storage account create -g mygroup -n mystorageaccount --sku Standard_LRS --encryption blob file table queue
I see the follwoing error: init() got an unexpected keyword argument 'table'

az storage account create -g mygroup -n mystorageaccount --sku Standard_LRS --encryption blob file
Appears to work fine, but table and queue encryption during creation seems to fa

[2017-08-17 14:38] derekbekoe commented on #4154
@marrobi Are you using Windows Subsystem also?
I suspect this is due to a missing Linux subsystem call on WSL.

[2017-08-17 14:41] derekbekoe commented on #4106
Closing so we can track the conversation all in https://github.com/Azure/azure-cli/issues/4154.
@marrobi please see that issue.

[2017-08-17 14:41] #4106 closed

[2017-08-17 14:41] derekbekoe commented on #4123
Closing so we can track the conversation all in https://github.com/Azure/azure-cli/issues/4154

[2017-08-17 14:41] #4123 closed

[2017-08-17 15:39] marrobi commented on #4154
Yes, WSL, however the commands have worked previously...

[2017-08-17 16:09] derekbekoe commented on #4154
Okay thanks.
Yes so it last worked on version 2.0.10 of the CLI which was released [Jul 7](https://github.com/Azure/azure-cli/blob/master/packaged_releases/HISTORY.md).
The newer versions also pulled in newer versions of [cryptography](https://github.com/pyca/cryptography/blob/master/CHANGELOG.rst) which I suspect now require some different Linux system calls.

[2017-08-17 16:26] marrobi commented on #4154
So is someone going to look into this? Or is this the end of Azure CLI on WSL for now? Thanks.

[2017-08-17 16:33] derekbekoe commented on #4154
I will investigate this further and post an update.

[2017-08-17 16:55] #4207 closed

[2017-08-17 17:02] rjtsdl commented on #4116
@anhowe , please help to close this.

[2017-08-17 17:05] tjprescott commented on #4248
This is essentially a duplicate of #4220.

[2017-08-17 17:05] #4248 closed

[2017-08-17 17:05] derekbekoe commented on #4116
@rjtsdl You can get GitHub to close PRs on a merge automatically by including "Closes <bugnumber>" in the PR description.
https://help.github.com/articles/closing-issues-using-keywords/

[2017-08-17 17:05] #4116 closed

[2017-08-17 17:06] tjprescott commented on #4220
@troydai can you take a look?  This used to work fine so I wonder if storage released an SDK update with a breaking change.

[2017-08-17 17:06] tjprescott commented on #4220
As described in #4248, this also affect storage account create.

[2017-08-17 17:16] tjprescott opened #4249 "[Network] VNET-Gateway/Connection New Features"
**S2S Additions**
- [x] Support for new vnet gateway SKUs (VpnGw1, 2, 3). Update tests.
- [x] Scenario test for `vnet-gateway ipsec-policy` commands (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-ipsecikepolicy-rm-powershell)
- [x] Add command `vnet-gateway list-bgp-peer-status`
- [x] Add command `vnet-gateway list-learned-routes`
- [x] Add command `vnet-gateway list-advertised-ro

[2017-08-17 17:21] lmazuel commented on #4249
@tjprescott FYI https://github.com/Azure/azure-sdk-for-python/pull/1373

[2017-08-17 17:29] rjtsdl commented on #862
ACS support multiple agent pools since api version 2017-07-01. @BurtBiel  Please help close this.
Btw 2017-07-01 is only available in acs preview regions. We expect to be everywhere in one or two months.

[2017-08-17 17:32] #862 closed

[2017-08-17 17:32] rjtsdl commented on #3179
@tjprescott , i also tried. I don't see the issue recurring anymore. Just like @squillace said. So please help to close this.

[2017-08-17 17:45] dmitsh opened #4250 ""az acs kubernetes get-credentials" ignores "--output" parameter"
### Description
**Outline the issue here:**

When running "az acs kubernetes get-credentials --help" command, it claims:

    --output -o                   : Output format.  Allowed values: json, jsonc, table, tsv.
                                    Default: json.

However, in reality the format of the output file is YAML, even though this format is not listed as supported, and the default format

[2017-08-17 17:48] rjtsdl commented on #2619
Hi @saurabsa , not sure how to proceed the request. Because --output is actually a global flag
I am thinking to change the log level a little bit. So if --debug is supplied, we could just display. Otherwise, we don't, except it is a failure. Sounds better?

[code]

[2017-08-17 17:52] #3179 closed

[2017-08-17 17:54] saurabsa commented on #2619
Hi, Yes no output unless failure works great.

[2017-08-17 18:12] rjtsdl commented on #2619
@saurabsa, I noticed that there is another direction to push. https://github.com/Azure/azure-cli/issues/2746
Looks, people also want to get the progress message, just like this one.

[2017-08-17 18:23] derekbekoe commented on #4154
There was a change introduced in 2.0.1 of the cryptography package that causes certain commands to fail on WSL. Bash on Windows does not support executable stacks yet - see https://github.com/Microsoft/BashOnWindows/issues/2431#issuecomment-323141901.

I have created a patched .deb that pins the cryptography version, @marrobi @benc-uk @jwendl can you verify this resolves the issue?

[code]

If so,

[2017-08-17 18:31] williexu opened #4252 "Error with az --version in interactive mode"
### Description
**`az --version` returns the error: `az: error: the following arguments are required: _command_package`**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** Wha

[2017-08-17 18:40] williexu opened #4253 "Problems with `vm create` in interactive mode"
### Description
**Using `vm create` in interactive mode causes the interface to become unresponsive in certain scenarios.

I was able to reproduce this multiple times by typing `vm create` upon starting interactive mode and pressing CTRL+N multiple times very quickly to scroll through the help suggestions**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip,

[2017-08-17 19:23] IainColledge commented on #3179
Thanks very much everyone.

[2017-08-17 19:40] jwendl commented on #4154
@derekbekoe - Just verified the changes with the .deb file above and all is working well. Thank you for looking into this.

[2017-08-17 20:07] derekbekoe commented on #4154
Thanks @jwendl. I verified it on WSL also.
So I have published a patch with version `2.0.14-2`.

`sudo apt-get update && sudo apt-get install azure-cli` to update.

Closing issue. Please comment if you still have issues.

[2017-08-17 20:07] #4154 closed

[2017-08-17 21:21] nneul opened #4255 "Consistency between 'az vm unmanaged-disk' and 'az vm disk'"
### Description

Would be nice if the '-z' and '--disk' or '--name' options were consistent across the two commands. Right now, unmanaged doesn't have the -z option, and has --name instead of --disk.

---

### Environment summary

**Install Method:** nightly
**CLI Version:** azure-cli (2.0.12+1.dev20170808)
**OS Version:** ubuntu 16.04 x64
**Shell Type:** bash

You should consider a 'az supportinf

[2017-08-17 21:25] tjprescott commented on #4255
If anything `-z` will go away on the managed disk command. It conflicts with a more "global" use of `-z` that is planned.

[2017-08-17 21:25] tjprescott commented on #4255
But definitely agree they should be consistent!

[2017-08-17 21:52] anzaman opened #4256 "az network route-filter rule delete command does not delete the rule"
I can’t delete a rule in a route filter, I run the following commands (in bold) but still see the rule (in italics)

**ali@Azure:~$ az network route-filter rule delete --filter-name MyRouteFilter -n CRM -g UOLDIVEO
ali@Azure:~$ az network route-filter list**
[
  {
    "etag": "W/\"d740dd4d-c66f-44d7-a231-e0ea6ceae982\"",
    "id": "/subscriptions/81ab786c-56eb-4a4d-bb5f-f60329772466/resourceGroups

[2017-08-17 21:57] rbitia commented on #4154
@derekbekoe Hey Derek! Is this going to be added into the cli in the next update - I also just got stuck on this. Thanks!

[2017-08-17 22:03] derekbekoe commented on #4154
I have pushed the update. See my above comment.
It's a patch so it's version `2.0.14-2`.

[2017-08-17 22:11] rbitia commented on #4154
Gotcha thank you so much!

[2017-08-17 22:20] yugangw-msft opened #4257 "VM/VMSS: remove 'david' and 'john' from the list of restricted admin user names"
CRP will apply server side change to lift the ban on such human names, hence CLI and Portal will align.
The server deployment starts sometime in the next week, so let us get it done in this sprint.

[2017-08-17 22:21] yugangw-msft commented on #4257
Name list is [here](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py#L654-L659)

[2017-08-17 22:27] marrobi commented on #4154
Great. Did an apt-get update and upgrade and all is good 👍

[2017-08-17 22:41] akshaysngupta commented on #2462
Looking at log, Client tried multiple times and got internal server error:
https://management.azure.com:443 "PUT /subscriptions/1ef6f67e-7981-498c-8349-b67109d0fd0f/resourceGroups/cat-e2e-es/providers/Microsoft.Network/applicationGateways/app_gateway?api-version=2016-09-01 HTTP/1.1" 500 115

Trying to create/update certificate with a pfx with junk data now gives following error message-
Data or Pa

[2017-08-17 22:52] tjprescott commented on #2462
Thanks @akshaysngupta! Closing this issue.

[2017-08-17 22:52] #2462 closed

[2017-08-17 22:57] tjprescott commented on #4067
This is currently blocked by https://github.com/Azure/azure-rest-api-specs/pull/1494

[2017-08-17 22:59] tjprescott opened #4259 "[Network] Rename "private-access" feature to "service-endpoints""
Update for service/SDK renames.

[2017-08-17 23:51] yugangw-msft commented on #4247
@aku105, I don't think you can create 2 service principals with the same name, aka `app-id-uri`. Could you please go to portal and verify there are 2 of them there?

[2017-08-18 06:16] benc-uk commented on #4154
Updated to 2.0.14-2 and commands are working again, thanks for the quick fix

[2017-08-18 08:14] aku105 commented on #4247
Sorry, you are correct.
I hadn't realised that APP URI ID is a field for service principals and that is the input of `--id`, not just the Service principal name (proceeded by `http://`) ☹️

[2017-08-18 12:09] yfernando commented on #4247
@yugangw-msft  yes you are correct, you can't create 2 service principles (SP) with the same name. But that is only true if you use `create-for-rbac` command. We found that we can still create a second SP with same name via the Portal.

Say for example, `az ad sp create-for-rbac --role contributor  --name my-app1`
As per command usage, the argument `--name` can be either the display name or an app

[2017-08-18 17:06] #3958 closed

[2017-08-18 17:06] #4071 closed

[2017-08-18 17:06] #4149 closed

[2017-08-18 17:20] yugangw-msft opened #4262 "vm/vmss create: don't throw when tries to retrieve image to extract the plan information"
The context is some images are still being staged and not yet published, hence image API won't go through. Instead of fail (therefore block the create), the suggested change is to warn. I am fine with it, as using market place image with plan is a minority scenario.
The code to wrap inside a try-catch is [here](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/c

[2017-08-18 17:51] yugangw-msft opened #4263 "vm/vmss: expose an argument to configure data disks' storage skus"
So far, in the `vm/vmss create` commands, the data disk defaults to the same sku of the os disk, which is not always what users want. There are scenarios a user can have 10+ data disks, and like to configure individuals. So the proposed change after discussed with @singhkays are:
1. Expose a `--data-disk-storage-skus` which accepts space separated sku list
2. Argument values can be just sku name w

[2017-08-18 18:00] singhkays commented on #4263
@chagarw Please review

[2017-08-18 18:15] yugangw-msft opened #4264 "VM/VMSS create: storage sku is not set for data disks coming from images"
For extra data disks, we default to os-disk's sku, but we forgot to set it on data disks coming from the image itself.

//CC: @singhkays

[2017-08-18 18:39] yugangw-msft commented on #4262
Prioritizing it per CRP team's ask

[2017-08-18 18:48] #2376 closed

[2017-08-18 21:35] tjprescott commented on #4256
What version of the CLI are you running? I just tested this and it worked exactly as intended.

[2017-08-18 22:04] troydai commented on #1949
@SteveALee can you please open a new issue and give a few examples of your idea? Thanks.

[2017-08-18 22:07] troydai commented on #4224
The live test today is doing this. And we can reorg our Travis CI automation logic to a formal: build -> install -> test flow.

[2017-08-18 22:08] troydai commented on #4220
I'll introduce a breaking change to rename `--encryption` to `--encryption-services` and fix this issue in the process.

[2017-08-18 22:10] #4262 closed

[2017-08-18 22:11] sptramer commented on #4220
@troydai @tjprescott @derekbekoe -- When making breaking changes to the CLI like this, can you please send an email or mention myself (owner of Azure DevEx for the CLI) so that I can make any required changes to conceptual documentation to go live with the release, or point you to any documentation to edit?

Thanks.

[2017-08-18 22:14] troydai commented on #4220
@sptramer sure. The pull request will have breaking change label and it will be also mentioned in the release note. Should we @ you in all the pull request involving breaking changes? If so, we need to write a bot to ensure nothing is missing. Or you can query pr with corresponding label.

[2017-08-18 22:26] anzaman commented on #4256
I am using a CLI session from the Azure Portal

-Ali

From: Travis Prescott [mailto:notifications@github.com]
Sent: Friday, August 18, 2017 2:36 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Ali Zaman <Ali.zaman@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] az network route-filter rule delete command does not delete the rule (#4256)

What version of

[2017-08-18 22:51] tjprescott commented on #4256
I just tried it in a Cloud Shell session from the Portal and observed the same behavior. The delete was successful. Did you have any issues creating the rule?  When I do (in Cloud Shell or standalone) I get a weird deployment error but the rule is created (albeit in a Failed state).

[2017-08-18 22:56] tjprescott commented on #4224
It's good that the live tests will catch this, but then we need to have a policy to ensure that we examine a live test run after the last merge and prior to release to avoid this happening again in the future, which is pitfall rife for human error (mostly, forgetting).

If we could reconfigure the CI to do a "regular install" and then run the tests that would be ideal since the automation would ca

[2017-08-18 23:10] rbitia opened #4271 "[ACS] location errors when creating k8 cluster"
### Description
**Outline the issue here:**
eastus, eastus2, westus and more regions are not supported but the cli responds saying they are.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt-get

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer

[2017-08-18 23:51] sptramer commented on #4220
@troydai If all of the PRs which will make a breaking change are guaranteed to be tagged, I can just do a periodic search to make sure that I'm capturing everything before a release. Thanks!

[2017-08-18 23:59] troydai commented on #4220
@sptramer it's "Breaking Change".

[2017-08-19 00:11] weinong opened #4273 "[ACS] improve cli documentation/example"
### Description
**Outline the issue here:**

---
1. the use of `--windows` flag is confusing. it will set the osType of all agent pools whose osType is nil?
2. `--agent-profiles` is very verbose because it's a json string. in fact, we can do `--agent-profiles @file.json`. please put this in the cli example

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, intera

[2017-08-19 09:02] SteveALee opened #4274 "Add option to fully synchronise blobs on azure with local folder content"
Id like a command to syncronise a container etc to a local directory tree while setting the contentType for all files. Options exist to upload files to plobs in the CLI. This could be an option to the `azure blob upload-batch`

That means it should remove blobs that no longer appear as files in the local directory tree. I have found no such option or other portable CLI tool to do this (not even th

[2017-08-19 09:02] SteveALee commented on #1949
@troydai troydai  #4274

[2017-08-19 16:21] troydai commented on #4274
In brief what you're looking for is a mirror option, which purges the none existing files while updates the newly updated file. Am I right?

[2017-08-19 16:23] troydai commented on #4224
@tjprescott we should do that. And it can probably save us more time by building package only once.

[2017-08-19 18:39] nneul opened #4275 "Inconsistency between cname and other record types for delete operations"
### Description

cname delete - doesn't have "--yes" option - and just deletes outright as compared to a record which has --yes for prompt

---

### Environment summary

**Install Method:** nightly
**CLI Version:** azure-cli (2.0.12+1.dev20170808)
**OS Version:** ubuntu 16.04 x64
**Shell Type:** bash

You should consider a 'az supportinfo' command to return the above in directly copy-pastable form

[2017-08-19 18:42] nneul opened #4276 "Missing "set" or "update" option for dns records to allow updating ttl"
### Description

xplat cli allows for set to update TTL, there doesn't appear to be an equivalent in az other than create, and that does not feel right since the record already exists. (And scary when it says it will create an empty record in the case of cnames.)

I'd suggest a mostly copy-and-paste of create with the exception that it only does an update of the passed parameters.

---

### Enviro

[2017-08-21 08:33] helenlivsc opened #4277 "Installing Azure CLI 2.0 on macOS with CLEAN setup failed"
### Description
**Outline the issue here:**
Installing Azure CLI 2.0 on macOS with CLEAN setup failed. The error happens in building '_scandir' extension using cc command, with the error code about xcode-select: no developer tools were found at '/Applications/Xcode.app'.
We are preparing a bash script for end customers, and azure cli installation is a part of it. We wonder how to get azure cli smo

[2017-08-21 08:40] helenlivsc opened #4278 "Request to have azure cli of latest version in Homebrew formula"
### Description
**Outline the issue here:**
On webpage https://docs.microsoft.com/en-us/cli/azure/install-azure-cli, the azure-cli version on Homebrew formula is outdated. Can you update it on Homebrew?
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: we would like to install CLI of latest vers

[2017-08-21 14:37] Benjiiim opened #4279 "Dedicated log config argument for Docker Container logging?"
### Description

In order to activate the "Docker Container logging" setting of a Linux web app, we have to use the --web-server-logging argument of az webapp log config.

As Docker is definitly not the web server, shouldn't we have an other argument dedicated to the Linux-based Docker Container logging feature?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g.

[2017-08-21 16:30] pradyunsg commented on #1221
Linking to https://github.com/pypa/pip/issues/3055, since that is the pip issue regarding this issue.

[2017-08-21 16:52] dt commented on #1943
Why is `david` in the blacklist?!

[2017-08-21 16:56] tjprescott commented on #4275
This is intentional, because CNAME record-sets are unique in that they can only contain a single record. We only use the confirmation prompt when there's the potential to delete multiple records (which is why delete has `--yes` for the other record types). Thus, there's no `--yes` option for this type.

[2017-08-21 16:59] yugangw-msft commented on #1943
`david`, and any human name, will be out of blacklist this week, see #4257. This is involving service side change as well, so we are coordinating. I don't exactly know why such ban happened but it was started from a long time ago when in RDFE mode.

[2017-08-21 17:19] yugangw-msft opened #4280 "Policy Definition: expose 'parameters' from the create command"

[2017-08-21 20:41] tej001 commented on #4277
There is problem in installation scripts;

You can apply patched manually and then install it should work.

gcc
libffi-devel
python-devel
openssl-devel

yum install gcc libffi-devel python-devel openssl-devel

Tej

[2017-08-21 21:15] #4220 closed

[2017-08-21 22:23] yugangw-msft opened #4282 "Fix common CI failures caused by msrest serialization change"
@lmazuel, could you please prioritize the investigation?  PRs are failing across public and private repositories.

[2017-08-21 23:11] yugangw-msft opened #4286 "vm: support "Run Command""

[2017-08-21 23:27] williexu opened #4287 "Interactive shell is able to be run on top of previous interactive shell"
### Description
`interactive` in interactive mode will start another shell. This can be done any number of times in sequence.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:**

[2017-08-21 23:29] tjprescott commented on #4286
What is this?

[2017-08-21 23:40] tjprescott commented on #4192
@derekbekoe the issue isn't with commands that leverage `supported_api_version`.  The issue exists for those command models where the SDK is NOT multi-versioned, supported in the CLI, but not supported in stack--for example, app service.

[2017-08-22 00:13] seanknox opened #4288 "Not seeing correlation IDs on deployment errors with `az group deployment create`"
### Description
**Outline the issue here:**
This might be [pebkac](https://en.wikipedia.org/wiki/User_error), but we're stumped trying to figure out why correlation IDs are seemingly not being returned on failed deployments using ARM templates.

We're using the following command to create deployments with ARM templates:
[code]
On some subscriptions, we see the correlation ID returned on errors, e.

[2017-08-22 00:16] yugangw-msft commented on #4286
Detail will follow, but at a high level, it is about to run specified commands in a VM you are managing
API is [here](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/compute/resource-manager/Microsoft.Compute/2017-03-30/runCommands.json)

[2017-08-22 04:03] helenlivsc commented on #4277
Yum is not built-in command in clean macOS. What is your recommended way to install yum?

[2017-08-22 07:43] dennis-benzinger-hybris commented on #1708
FWIW the same happened to me with version 0.30.0rc5 of `azure-mgmt-resource`. With 1.1.0 the problem is gone. I didn't try the versions in between.

[2017-08-22 16:31] tjprescott commented on #4256
I have tested this on the latest version in both stand-alone and Cloud Shell and it worked fine.

[2017-08-22 16:31] #4256 closed

[2017-08-22 17:04] tjprescott commented on #4075
This has been fixed, yes?

[2017-08-22 17:55] tjprescott commented on #4288
If you run the command with --debug do you see the correlation anywhere inside the response object?

[2017-08-22 18:40] iniside opened #4294 "paramiko.transport : Exception: Error reading SSH protocol banner Windows 10 Pro"
### Description
**Outline the issue here:**

Error when I try to:
az acs kubernetes get-credentials --resource-group=myResource --name=myCluter --debug
### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
MSI.
**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answe

[2017-08-22 19:34] #4252 closed

[2017-08-22 19:45] tjprescott commented on #4282
This has been fixed.

[2017-08-22 19:45] #4282 closed

[2017-08-22 20:13] #4257 closed

[2017-08-22 20:52] troydai commented on #4075
Exactly. Fixed in https://github.com/Azure/azure-cli/pull/4272.

[2017-08-22 20:52] #4075 closed

[2017-08-22 22:33] yugangw-msft commented on #3598
still not working

[2017-08-22 22:45] yugangw-msft commented on #3660
still there

[2017-08-22 22:45] yugangw-msft commented on #3660
still there

[2017-08-22 23:11] neilpeterson opened #4295 "az cognitiveservices account create error and documentation"
### Description
**Issue 1** - help on `az cognitiveservices account create` appears incorrect and incomplete. The provided example is this:

[code]

Should it not be:

[code]

**Issue 2** - When running `az cognitiveservices account create` I am met with an error. I am assuming my command is good, but it may not be. Can I get confirmation that this is a. my issue or b. a bug?

Command:

[code]

Ou

[2017-08-23 07:30] ShannonHickey commented on #1949
I'm attempting to replicate our use of the AWS S3 cli with the Azure Storage CLI. I was very surprised that the Azure CLI doesn't guess content types like the AWS S3 cli. Like @edevil in the original issue, I want to upload a bunch of content for a static site and I'm currently forced to break it down into separate batch commands for each content type. Please add content type guessing to the Azure

[2017-08-23 11:48] iljoong opened #4296 "az vmss get-instance-view --instance-id "*" returns wrong latestModelApplied value"
### Description
When executing `az vmss get-instance-view --instance-id "*"` returns wrong  `latestModelApplied` value

I used this command for checking `latestModelApplied` of all VM instances but it always returns 'false'

[code]

Where as with `az vmss show --instance-id #n`, I can get correct value

[code]
FYI, az vmss show does not support multi-instance for `--instance-id` option, that is `*

[2017-08-23 13:54] are1000 commented on #3598
I have the same issue on Windows 10.

[2017-08-23 16:59] seanknox commented on #4288
I see `x-ms-correlation-request-id` in the debug output, is that it?

https://gist.github.com/seanknox/a60cedc9a39a0c51ae5677367d57b371#file-azure-cli-debug-txt-L663

[2017-08-23 17:37] tjprescott commented on #4288
That should be it. We'll take a look at why this isn't being extracted.

[2017-08-23 19:32] tjprescott commented on #3978
Thanks to @lmazuel this has been fixed for the entire Python SDK!  Thanks @lmazuel!! 🎉 🎉

[2017-08-23 19:32] #3978 closed

[2017-08-23 20:04] tjprescott commented on #4061
@annatisch this should be fixed now thanks to @lmazuel. While the CLI will still adjust the casing, the SDK will accept the altered value.  The following should all be accepted:
`nodeAgentSKUId`, `nodeagentskuid`, `node_agent_sku_id`, `nodeAgentSkuId`

[2017-08-23 20:26] seanknox commented on #4288
Thanks. If helpful, can provide you a couple subs where this is happening (and subs where correlation is being output).

[2017-08-23 20:34] yugangw-msft opened #4300 "Use newer azure-graphrbac Python SDK package"
This is to get rid of the usage of "api-version=1.6-internal"

[2017-08-23 20:56] singhkays opened #4301 "--name (Disk Name) on az disk show should be an optional parameter"
### Description
--name (Disk Name) on az disk show should be an optional parameter

[code]

There is an API available to list all disks in an RG, so --name should be an optional parameter

`https://management.azure.com/subscriptions/<sub-id>/resourceGroups/<rg-name>/providers/Microsoft.Compute/disks?api-version=2017-03-30`

cc: @yugangw-msft @chagarw

[2017-08-23 21:01] yugangw-msft commented on #4301
`az disk list` expose this support

[2017-08-23 21:06] singhkays commented on #4301
@yugangw-msft Got it, thanks!

[2017-08-23 21:06] #4301 closed

[2017-08-23 23:51] lmazuel commented on #4300
Avoid 0.30.0 that is broken, and directly move to 0.31.0

[2017-08-23 23:52] lmazuel commented on #4061
@annatisch msrest >= 0.4.14

[2017-08-24 06:14] helenlivsc commented on #4277
Yum is not built-in command in clean macOS. What is your recommended way to install yum?

[2017-08-24 10:59] dragonfly91 opened #4304 "JMESPath query when JSON property names have spaces"
### Description
**Outline the issue here:**
In JMESpath.org website, I'm able to run the following query:
![image](https://user-images.githubusercontent.com/1173819/29663501-08ed34d4-88e9-11e7-92df-2dc806d21ecf.png)

Here, there's a space in one of the JSON names "d e". This works in JMESPath website, but a similar thing fails in CLI.
---

### Environment summary

**Install Method:** How did you i

[2017-08-24 15:43] #4067 closed

[2017-08-24 15:49] tjprescott commented on #4304
Does this occur when using the `--query` option or some other place you are using the syntax?

[2017-08-24 15:49] #4287 closed

[2017-08-24 16:12] troydai commented on #1949
Thanks for the advice @ShannonHickey.

[2017-08-24 16:21] derekbekoe commented on #4277
@helenlivsc see https://github.com/Azure/azure-cli/issues/1522#issuecomment-298716269

[2017-08-24 16:29] derekbekoe commented on #4278
Closing as dupe of https://github.com/Azure/azure-cli/issues/643

[2017-08-24 16:29] #4278 closed

[2017-08-24 19:30] neilpeterson commented on #4271
I believe this is related and that a fix has been merged into the CLI. All details are in the issue.

https://github.com/Azure/azure-cli/issues/4222

[2017-08-24 20:22] tjprescott commented on #4192
While #4284 is a short-term fix for Stack, we should consider a general solution that won't require each new service to add `if not supported_api_version(PROFILE_TYPE, max_api='2017-03-09-profile'):` to their commands.

Perhaps when we load the command modules, if the profile doesn't have an entry for a given module, it is not loaded. @derekbekoe thoughts?

[2017-08-24 20:24] tjprescott commented on #4259
#4269 merged so this is fixed.

[2017-08-24 20:24] #4259 closed

[2017-08-24 20:25] #4192 closed

[2017-08-24 20:43] tjprescott commented on #4296
The reason is because "get-instance-view" only retrieves the instance view, and this property is not part of that. Thus the surrounding "non-instance view" properties are all `null` and unfortunately that Boolean gets deserialized to False (as opposed to null which would suggest Unknown).

You'll notice if you run the command with a number instead of a * that there's no mention of this property. I

[2017-08-24 21:12] inhifistereo opened #4309 "No error when creating NIC tied to VNet in different resource group"
### Description
I'm attempting to create a NIC in the "VMs" resource group tied to vnet1 in the "VNets" resource group. I'm using the following CLI statement:

`az network nic create -g vms --vnet-name vnet1 --subnet default -n MyNic4`

I retrieve the following once the CLI runs:

`{}`

Further, no NIC is created in Azure.

When I create the NIC in the "VNets" resource group the NIC is successfull

[2017-08-24 21:42] derekbekoe commented on #4192
The logic in https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L61 is focussed around Resource Types rather than command modules.

But yes, currently we have a way of specifying which commands should load per profile (as in the linked PR) but not a way of doing this per command module. We can do this in the future.

Currently, as is, when a new co

[2017-08-24 22:08] tjprescott commented on #4309
I am surprised it doesn't give an error. I'll take a look.

However, to use a vnet that is in a different resource group, you need to supply the full Azure resource ID.

[2017-08-24 22:11] tjprescott commented on #4309
Your CLI version is out of date. I tried this on the latest version and it gives an error (as expected).

[2017-08-24 22:57] inhifistereo commented on #4309
Upgrading fixed my issue.

My reaction upon seeing my CLI version was out of date:

![ ](https://media.giphy.com/media/TwtXMS5EnKDBK/giphy.gif)

[2017-08-24 22:57] #4309 closed

[2017-08-24 23:11] rjtsdl commented on #4294
Take a bit of research on this specific error.
https://stackoverflow.com/questions/25609153/paramiko-error-reading-ssh-protocol-banner

Looks this thread explained all. @iniside have you done retries?

[2017-08-24 23:17] rjtsdl commented on #4273
@weinong, the introduction of multiple profiles, really makes some existing flags confusing. The existing flags are designed in the scope of only one agent pool exists. For example --windows, it just means the only agent pool is a windows agent pool.

To make the existing flags still valid in the multiple profiles world, we underlying changed the definition a little bit. For example, --windows wou

[2017-08-24 23:58] iljoong commented on #4296
I noticed the difference of output of  single instance and multi instances. Thank you for the explanation.

I used this command to get status of ` latestModelApplied ` of all instances, like below command.
[code]

I tried `az vmss show` command but it does not support `--instance-id *`. Any suggestion to achieve my goal?

[2017-08-25 00:02] tjprescott commented on #4296
`az vmss list-instances --query "[].[instanceId, latestModelApplied]" -o tsv -g {rg} -n {name}`

[2017-08-25 00:04] iljoong commented on #4296
Thanks!

[2017-08-25 00:17] derekbekoe commented on #4300
@lmazuel and @yugangw-msft please take a look at my linked PR.

I am working on packaging for Homebrew and this is currently blocked because
[code]

The newer version of `azure-graphrbac` fixes this - https://github.com/Azure/azure-sdk-for-python/blob/master/azure-graphrbac/setup.py#L82.

[2017-08-25 00:23] derekbekoe commented on #643
I have created https://github.com/Azure/azure-cli/pull/4313 to address https://github.com/Homebrew/homebrew-core/pull/13198#issuecomment-306312722.

Once merged and a new version of the CLI is released, there should be no more version conflicts and the commands below should return no errors:
[code]

After this, a PR to homebrew core will be created.

[2017-08-25 00:42] SnehaGunda opened #4315 "Creating a Linux VM in Azure Stack by using "az vm create" command is resulting in admin user name validation error"
### Description
**Outline the issue here:**

Creating a Linux VM in azure stack is failing with a admin name validation issue. The admin user name is always validated even if we don't pass the parameter. The following command works in Azure but not in Azure Stack environment.

Command: az vm create --resource-group LinuxVMRG123 --name demouser --image UbuntuLTS --generate-ssh-keys

![image](https:

[2017-08-25 00:45] bganapa commented on #4315
@derekbekoe @JasonRShaver any idea about this error?

[2017-08-25 04:46] derekbekoe commented on #4315
By default, it uses the current user:

e.g. on my machine
[code]

[2017-08-25 12:50] Zureka opened #4316 "az storage account generate-sas --expiry precision"
### Description

Attempting to generate a sas token with seconds precision fails:

`az storage account generate-sas: error: argument --expiry: invalid datetime_type value: '2017-08-25T12:27:03'`

In Powershell, the Get-Date cmdlet provides quick format options for SortableDateTimePattern and UniversalSortableDateTimePattern which both include seconds. Using these formats results in the error above

[2017-08-25 15:27] andscho-msft opened #4317 "CosmosDb - Parameter 'ConsistencyPolicy.max_interval_in_seconds' must be less than 100. Need to set to 300 for multi-region."
### Description
**Outline the issue here:**
To enable multi-region with bounded staleness, it is required to set the maximum lag time to 5 minutes (300 seconds). This is possible in the Azure portal.

The CLI has validation that rejects any number higher than 100. I don't think this validation is correct.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, in

[2017-08-25 15:29] tjprescott commented on #2957
@yugangw-msft isn't automatic registration now part of the CLI infrastructure?

[2017-08-25 16:19] yugangw-msft commented on #2957
Yes, it is a part of the infrastructure to trigger when a CLI command fails for the error of `MissingSubscriptionRegistration`. So with recent versions of CLI, `az provider register` is less needed.
But, we still need to mention correct state in the status text, and also ensure the table output contains good information.

[2017-08-25 16:21] lmazuel commented on #2957
It's even part of msrestazure since 0.4.9, and less than less needed :)

[2017-08-25 16:38] tjprescott commented on #4315
If your username is "AzureStackAdmin" (which is what it looks like from your screenshot) then that is why it fails.  You can supply `--admin-username` and it should work fine. We also could arguably take the lowercase version of the current user, which would probably also be fine. It's not too adventurous but would save people some headache. @derekbekoe thoughts?

[2017-08-25 16:40] tjprescott commented on #4316
To clarify, are you saying that you can't use seconds to generate a SAS in PS either or simply that the format you got from a PS cmdlet fails in the CLI?

[2017-08-25 16:41] #4296 closed

[2017-08-25 16:45] tjprescott commented on #4139
This change only added models that are used in structuring the output of an existing command. As such, I don't believe any CLI changes are needed.

[2017-08-25 16:53] Zureka commented on #4316
The latter. For some context, I'm currently switching from using the ARM PS cmdlets to Azure CLI, and using the `New-AzureStorageContainerSASToken` cmdlet I am able to specify an `-ExpiryTime (Get-Date).AddHours(4)` without issues.

The formats for dates in PS include seconds which isn't allowed in the format specified for the CLI: `(Y-m-d'T'H:M'Z')`. My expectation would be for the seconds precis

[2017-08-25 16:55] troydai commented on #4316
Can you try adding a 'Z' at the end of your time string?

https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py#L821

[2017-08-25 17:01] tjprescott commented on #4241
Currently this is blocked pending action from the service team

[2017-08-25 17:02] tjprescott commented on #4189
Currently this is blocked pending action from the service team.

[2017-08-25 17:02] Zureka commented on #4316
@troydai That does resolve the issue I had. I ended up using the SortableDateTimePattern and concatenating a 'Z' on the end. It's a bummer that there's not an option available in PS that fits this pattern but that's not a problem I expect you guys to solve.

Thanks!

[2017-08-25 17:02] #4316 closed

[2017-08-25 17:34] troydai commented on #4316
You're welcome, @Zureka .

[2017-08-25 19:10] nahalf opened #4318 "az vm encryption enable- doesn't allow for different key vault resource group"
### Description
**Outline the issue here:**
az vm encryption enable cmd does not allow specifying a different resource group for the key vault from the resource group the VM resides in. Az CLI 1.0 did allow for this. I can perform disk encryption via PowerShell though on the same VM and with the same Key Vault.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. p

[2017-08-25 19:23] #4300 closed

[2017-08-25 21:40] tjprescott commented on #4318
Hi @nahalf, the keyvault parameters should accept the name or ID of the keyvault you want to use.  To use cross-RG resources, you must specify the ID.  This is standard across the CLI.

If this doesn't work then there's a bug.  Regardless, the help text should make it clear that you should provide the name or ID of the KeyVault resource (especially since someone might expect to provide the keyvaul

[2017-08-25 22:02] nahalf commented on #4318
@tjprescott I provided the resourceID in this format: /subscriptions/3fd58db1-6100-4fa1-b575-5856e3364898/resourceGroups/s00140nrgpkvt00001/providers/Microsoft.KeyVault/vaults/s00140cnkvt00001

I provided a value of TestRG for  the VM resource group, and I received this error message:
key Vault https://s00140cnkvt00001.vault.azure.net/secrets/7CFFFBA6-5ACA-41E5-9FAE-72E9CD7629F6/876d366d2a8446e696

[2017-08-25 22:27] tjprescott commented on #4318
@yugangw-msft can you look into this?

[2017-08-25 22:31] tjprescott commented on #4139
This does require some non-breaking modifications to `nsg rule create/update`

[2017-08-26 05:18] #4139 closed

[2017-08-27 06:10] narayaar opened #4324 "Azure China / The resource namespace 'Microsoft.DBforMySQL' is invalid."
### Description
**Cloud:**  AzureChinaCloud
**Locations:**  China North, China East
**Issue:**  When using the az cli to create the MySQL DAAS, the following error is seen;

_*# az mysql server list*
_The resource namespace 'Microsoft.DBforMySQL' is invalid.

*#  az provider list |grep -i DBforMySQL*
# <null>_

**Resolution**:  Please provide the api for Microsoft.DBforMySQL so that it can be impo

[2017-08-27 07:17] andschwa commented on #2507
Oi, is this really the case? This is happening to me on Ubuntu 16.04 too, and I've tracked down several other issues that look similar.

[2017-08-27 19:44] BorisB2015 commented on #3946
I run into this issue while searching for the very same answer. Hence posting my workaround which may help you/others.

In short, I replaced a couple of lines in the downloaded script to install CLI to read standard input (by default it connects to tty) and then used "here string" to provide input to accept defaults. This seem to have worked as expected.

[Reference to install Azure CLI 2.0 and it

[2017-08-28 08:24] Sheldonnn opened #4326 "az cdn custom-domain create fails"
### Description
**Outline the issue here:**
Im trying to use the AZ CLI to create custom-domain for my CDN endpoint.
my command: az cdn custom-domain create -g CDN --endpoint-name endpoint01 --profile-name profile01 -n wikii.ws --host	name wikii.ws

Error as follow:

'CustomDomain' object is not iterable
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/main.

[2017-08-28 10:42] dragonfly91 commented on #4304
Yes, this occurs when we are using the --query option.

[2017-08-28 17:43] derekbekoe commented on #4277
Closing. Comment if you still have issues.

[2017-08-28 17:43] #4277 closed

[2017-08-28 17:46] tjprescott opened #4328 "[ServiceFabric] Blocking Issues for SF command GA"
To permit merging #4132 as a preview package, the following issues must be addressed before the SF ARM commands can be considered GA:

- [ ] Missing test for creating new `node-type`.
- [ ] Tests refer to hard-coded resources and therefore are impossible to re-record
- [ ] Numerous standalone commands (durability update, reliability update, settings set/remove, etc.) should all be consolidated und