[2021-08-04 07:46] shizhMSFT commented on #19094
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:46] shizhMSFT commented on #19096
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:47] shizhMSFT commented on #19102
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:48] shizhMSFT commented on #19102
Since you are already using cloud shell, the `az` command in cloud shell has been upgraded to `2.27.0` so that there is no action from your side.

[2021-08-04 07:48] shizhMSFT commented on #19107
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:48] shizhMSFT commented on #19107
Since you are already using cloud shell, the az command in cloud shell has been upgraded to 2.27.0 so that there is no action from your side.

[2021-08-04 07:49] shizhMSFT commented on #19109
Thanks for reporting it and sorry for the inconvenience.
2.26.1 has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 07:49] shizhMSFT commented on #19109
Since you are already using the cloud shell, the `az` command in the cloud shell has been upgraded to `2.27.0` so that there is no action from your side.

[2021-08-04 08:28] shizhMSFT commented on #19095
Thanks for reporting it and sorry for the inconvenience.
`2.27.0` has been released to address the issue.
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli

Please upgrade to the latest version of Azure CLI to resolve this issue.

[2021-08-04 09:17] shizhMSFT commented on #19042
@CCostaT As mentioned by https://github.com/Azure/azure-cli/issues/14774#issuecomment-742429680, could you try to configure the correct `locale` by [configuring system-widely](https://chriswarrick.com/blog/2017/06/18/unix-locales-vs-unicode/#configure-system-wide) or [configuring for a single user](https://chriswarrick.com/blog/2017/06/18/unix-locales-vs-unicode/#configure-for-a-single-user)? or u

[2021-08-04 10:09] Juliehzl commented on #17179
For ADLS Gen2 account, you could use `az storage fs directory download` to download folders, which could process empty sub-folder as expected. If you don't find the command, please upgrade to latest azure cli.

[2021-08-04 11:28] CCostaT commented on #19042
Hi @shizhMSFT, that link didn't work for me (localectl doesn't work in ubuntu docker images)  but it pointed me to the right solution! Thank you.

I got it working now by adding the following to my **dockerfile**:
[code]

Note that this requires the **locales** package to be installed. I'm not doing it this way but adding this to the docker file `RUN apt install -y locales` before the command abov

[2021-08-04 11:28] #19042 closed

[2021-08-04 11:34] CCostaT commented on #14774
Hi everyone, I've had a similar issue (#19042) and managed to fix it.

In my case, I'm running the `az acr build` command inside a ubuntu docker image and I was missing the following commands inside the docker file:

[code]

This fixed my issue completely.
Also note that the `locales` must be installed by the dockerfile before running the command above

[2021-08-04 11:42] ltalirz commented on #16526
I agree that being able to install the azure-cli via conda from conda-forge would be a huge plus for the scientific community

Nowadays, conda-forge feedstock updates are quite low maintenance - PRs are opened automatically and most of the time one just needs to merge them. Having a maintainer from the azure team on board would be very helpful here.

Currently, the automatic builds fail https://gi

[2021-08-04 12:25] anatter commented on #17000
My issue was that the App Service Plan had no file system storage left. The error message did not help...

[2021-08-04 12:34] rodolfossouza commented on #18902
Hi everyone.
Any updates about this issue?

[2021-08-04 13:26] Ren-999 commented on #19049
Thank you Shiwei. This is happening at https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/ Microsoft online training course and that is preventing me from course completion and certification. I do not see a way to upgrade there as cli is part of sandbox. Has Microsoft upgraded here as well?

Best
Ren

Sent via the Samsung Galaxy A51 5G, an AT&T 5G smartphone
Get Outloo

[2021-08-04 14:01] grahamhayes opened #19121 "Running "az keyvault secret list" fails with a missing dependancy error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret list --name {}`

## Expected Behavior

List o

[2021-08-04 14:03] celson opened #19122 "az network public-ip create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip create --resource-group {} --name {} --

[2021-08-04 15:30] mikiekelly commented on #9732
A fix for this is to add the --location parameter of the source disk. As @adewaleo mentioned copying disks across regions is not currently possible using this approach.

`az disk create -g <rg in region A> -n <new disk name> --source <disk in region B> --location <source disk region (B)>`

[2021-08-04 15:37] rellis-of-rhindleton opened #19123 "WebApp:az webapp deployment source config-zip fails with 403 errors in GitHub Action"
**Describe the bug**

The "az webapp deployment source config-zip" command, trying to deploy a zip file to an App Service from a GitHub Actions workflow, results in 403 errors. The command works fine when run from my local workstation using the same service principal and AZ CLI version.

**To Reproduce**

App service (Node) with WEBSITE_RUN_FROM_PACKAGE=1.

Service principal has Contributor role o

[2021-08-04 15:54] Qi-Jian-Huang-DevOps opened #19124 "New version of AZ CLI (2.27.0) Is Not Usable when using what-if command"
New version of AZ CLI (2.27.0) is not usable, getting error

**ERROR: 'NoEffect'**

**To Reproduce**
Update your AZ CLI to latest (2.27.0), then run a what-if deployment such as
az deployment sub what-if -f ..

Note: 2.26.0 is working fine, no issue.

**Expected behavior**
Expected to run what-if with no problem

**Environment summary**
Latest microsoft hosted windows agent
AZ CLI 2.27.0

[2021-08-04 16:42] sagarlankala commented on #19090
@yonzhan Is this for DTL or ALS? Also, may I know the details of the specific ask here?

[2021-08-04 17:07] sarwatwplayfab commented on #18584
2021-08-04T17:00:52.3064866Z ##[section]Starting: install dependencies
2021-08-04T17:00:52.3069966Z ==============================================================================
2021-08-04T17:00:52.3070271Z Task         : Bash
2021-08-04T17:00:52.3070523Z Description  : Run a Bash script on macOS, Linux, or Windows
2021-08-04T17:00:52.3070789Z Version      : 3.189.0
2021-08-04T17:00:52.3071007Z A

[2021-08-04 18:36] bartek-lopatka commented on #19124
We're having the same issue - if there are no changes reported by the what-if command, the AZ CLI returns ERROR: 'NoEffect'

[2021-08-04 21:19] treyham91 commented on #13573
I was also having this same issue following the samples on [https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-eventhub#subscribe-to-a-custom-topic](url). I was able to resolve it by setting the internal field separator on the top of my bash script: `IFS=$'\r\n'` Hope this helps.

[2021-08-04 22:40] yonzhan commented on #19121
keyvault

[2021-08-04 22:42] yonzhan commented on #19122
network

[2021-08-04 22:46] yonzhan commented on #19123
route to service team

[2021-08-04 22:48] yonzhan commented on #19124
route to service team

[2021-08-04 23:31] ctolkien commented on #18616
Seems for CSPs, MS are no longer setting AOBO by default, so we require this to be able to manage their subs....

[2021-08-05 00:52] aravindyeduvaka opened #19128 "Ability to enable SMB Multichannel for Azure File Shares"
**Is your feature request related to a problem? Please describe.**
It's not possible to currently enable SMB Multichannel from the Azure CLI even though it is available through portal and Powershell. https://docs.microsoft.com/en-us/azure/storage/files/storage-files-enable-smb-multichannel?tabs=azure-portal

**Describe the solution you'd like**
I would like to enable SMB Multichannel feature on fi

[2021-08-05 01:25] yonzhan commented on #19128
Storage

[2021-08-05 01:44] jsntcy commented on #19090
@sagarlankala, I'll involve you in related email.

[2021-08-05 01:54] #19078 closed

[2021-08-05 02:04] #17947 closed

[2021-08-05 02:04] Lochiluk opened #19129 "May we have some examples for the commands?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a159aad7-5ec5-ab9d-6455-df52d15f216a
* Version Independent ID: 3241c062-d442-1324-0cea-adf0af0df3b9
* Content: [az network routeserver peering](https://docs.microsoft.com/en-us/cli/azure/network/routeserver/peering?view=azure-cli-latest#az_network_rou

[2021-08-05 02:31] jiasli commented on #13573
@treyham91, the `IFS=$'\r\n'` solution only works if the result (like `$hubid` and `$topicid`) is not quoted.

[code]

If an argument is quoted, Bash doesn't strip the trailing `\r` and still passes `\r` as part of the argument.

[code]

I would strongly recommend [**installing the Ubuntu distribution of Azure CLI**](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux) in WSL to pre

[2021-08-05 02:40] yonzhan commented on #19129
network

[2021-08-05 02:48] zhoxing-ms commented on #19124
@shenglol Could you please take a look at this issue?

[2021-08-05 03:27] jsntcy commented on #10467
Will fix in Azure CLi this sprint and release the fix in 09/07

[2021-08-05 03:39] jiasli opened #19130 "Announcement: Renaming "master" to "main" in this repository"
On the 18th of June, 2021 (PST) we will be renaming the ```master``` branch in this repository to ```main```. When this occurs there will be some disruption to the engineering system as we address any issues that earlier preparations did not address. Please read the following centralized issue for more background on what to expect:

Localized issues in this repository can be discussed here.

# Eng

[2021-08-05 03:41] kairu-ms commented on #18902
Hi @viaror, could your team help with this issue? Thanks.

[2021-08-05 03:59] #19105 closed

[2021-08-05 04:00] sujungchoi1 commented on #19105
I created a new resource group and started over, and it worked!

[2021-08-05 05:30] kairu-ms commented on #19122
It's dependency issues. Please upgrade CLI by command.
[code]

[2021-08-05 05:30] #19122 closed

[2021-08-05 06:27] smereczynski commented on #19027
Just in case: the same after installing 2.27.0.

[2021-08-05 06:32] jiasli commented on #18584
@sarwatwplayfab, this are logs from ADO, not `requirements.txt`. Please kindly share the content of `requirements.txt`.

[2021-08-05 06:35] yonzhan commented on #19130
Renaming "master" to "main"

[2021-08-05 06:51] nolaexe commented on #7387
Hey, is there any update about the issue?

[2021-08-05 06:53] dimitrisfinas commented on #19027
8 days and no reply at all, is there anyone looking at these problems / bugs?

[2021-08-05 06:55] jiasli commented on #16526
We release [Azure CLI on PyPI](https://pypi.org/project/azure-cli/) and we do have a script to [install Azure CLI with `pip`](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script).

You may also manually use

[code]

However, we frequently receive packaging/environment issues of Azure CLI caused by `pip` installation:  https://github.com/Azure/azure-cli/issues?q=is%3Ais

[2021-08-05 07:07] #19130 closed

[2021-08-05 07:07] zesluo commented on #17971
duplicate of a previous same problem. please try the latest version of azure cli, thanks

[2021-08-05 07:08] smereczynski commented on #19027
It was added to the milestone 7 days ago and labeled. I think someone can be investigating it ;)

[2021-08-05 07:38] ltalirz commented on #16526
thanks for the explanation @jiasli ! Yes, I noticed the rather narrow dependency specifications of the `azure-cli` package.
I just created a new conda environment and then ran `pip install azure-cli` in there; perhaps that is a model that could work also for others.

[2021-08-05 07:51] kopendrex opened #19133 "az container exec fail after upgrade to 2.27.0 on the windows image"
**Describe the bug**
After upgrade az-cli 2.27.0 on the windows image in Azure DevOps az container exec with python code finishes with error.

`ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: [WinError 6] The handle is invalid
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231, in invok

[2021-08-05 08:37] yonzhan commented on #19133
route to service team

[2021-08-05 08:37] kairu-ms commented on #17910
The resource group of nsg changed. It's not the same as aks resource group.

[2021-08-05 08:37] zhoxing-ms commented on #18495
@micahjo  Could you provide the design of specific commands and parameters for CI interface?

[2021-08-05 08:42] zhoxing-ms commented on #18943
@hari-bodicherla Since the Swagger changes too much in the PR https://github.com/Azure/azure-rest-api-specs/pull/15058 , could you provide the specific commands and parameter related designs that need to be supported?

[2021-08-05 09:18] mstavrev commented on #17910
Yes, of course I know that. That's why I've used the pseudo-name "AKS_**nodepool**_RG" instead of just "AKS_RG" to indicate exactly that.
Believe me, I am trying to list the NSG that AKS creates automatically on the correct RG (not the one of the AKS itself).

[2021-08-05 10:56] dkarlovi commented on #10211
If anybody got the suggestion to inject secrets into VMs, please update this issue since this is where you land from Google when looking up this unexpected restriction.

 Being unable to inject secrets with a command called `secret` is quite unusual to say the least.

[2021-08-05 11:00] miqm commented on #13352
@macolso - any update on this?

[2021-08-05 11:09] Volatus commented on #19111
@or-etoro Please use the [official K8s docs for installing kubectl](https://kubernetes.io/docs/tasks/tools/#kubectl) and ideally close the ticket.

[2021-08-05 11:11] Volatus commented on #19106
@theoaks Can you try clearing brew cache and maybe reinstalling Python as well? (through brew) I'm on MacOS Big Sur 11.5.1 (M1) and I don't have this problem with `azcli 2.27.0`.

[2021-08-05 11:13] theoaks commented on #19106
Maybe I should run the latest update pending on my Mac and see if it fixes the issue

[2021-08-05 11:22] Volatus commented on #19027
MacOS Bir Sur 1.15.1 here and no issues. Which version of Python is installed in your case? (`3.9.6` for me)

[2021-08-05 11:24] Volatus commented on #19027
Can you include this info:
1. Brew version - `brew -v`
2. Python version - `python3 --version`
3. The result of `which az`
4. `echo $PATH`

[2021-08-05 11:58] martingianni opened #19135 "AZ CLI CONSUMPTION EMTPY RESPONSE WHEN DATA AVAILABLE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption usage list -s {} -e {} --subscription {} --debu

[2021-08-05 12:00] martingianni commented on #19135
I can see there is cost available for current month (Aug) on the Portal (WEB) but when using cli is not getting same info, just getting an emtpy list/array.

When trying same command with July works fine, but with Aug no data comes back.

**Empty return**
az consumption usage list -s 2021-08-01 -e 2021-08-05 --subscription xxxxxxxx

**Works just fine**
az consumption usage list -s 2021-07-01 -e 20

[2021-08-05 12:16] rouke-broersma commented on #5750
@yugangw-msft @haroldrandom this bug has existed since 2018... It is impossible to delete a credential with `az ad app credential delete` if there is more than 1 existing credential...

[2021-08-05 12:31] rouke-broersma opened #19136 "az ad app credential delete fails with more than 1 credential"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When an app has more than 1 credential the `az ad app credential delete` command fails with the below error. I believe this error has previously been reported for the powershell commandlet as well and has been fixed there. This bug was first reported at https://github.com/Azure/azure-cli/issues/5750 in 2018 bu

[2021-08-05 13:18] theoaks commented on #19106
Done it... Same error on the new version

[2021-08-05 13:34] rebecca-makar opened #19137 "First "az vm run-command invoke" returns successful, automation kicks off second "az vm run-command invoke" returns failure."
**Describe the bug**
In our automation, we are using az vm run-comand invoke multiple times to check if VMs are up and ready.
For this current case we use it to run cloud-init status --wait.
That returns successful, have a grep for checking. Then a second command is kicked off in automation,
this one is tailing our loud-init-output.log file, to make sure everything is set up correctly. Sometimes t

[2021-08-05 13:59] IIIHeloIII commented on #7608
As of Aug 03, 2021, az keyvault create will return an error when you try to create a keyvault that already exists.

https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#key-vault

[2021-08-05 14:32] yonzhan commented on #19135
route to service team

[2021-08-05 14:33] yonzhan commented on #19136
@jiasli for awareness

[2021-08-05 14:35] yonzhan commented on #19137
Compute

[2021-08-05 15:50] jrusz opened #19138 "az resource list --tag does not return all expected values"
## Describe the bug
When I list resource using the `--tag` I'm getting different result than if I were to list if with `--name` for example. Specifically I see missing `changedTime`, `createdTime` and `tags`
**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informati

[2021-08-05 16:10] amjads1 commented on #18044
Looking into the issue.

[2021-08-05 16:13] amjads1 commented on #18278
@moarychan Let us know if you have any follow up questions otherwise we can go ahead and close this issue.

[2021-08-05 16:17] amjads1 commented on #18418
@prepetti65  - Can you please confirm if you are passing the settings this way (without the double quotes)?
az vm extension set -n MicrosoftMonitoringAgent --publisher Microsoft.EnterpriseCloud.Monitoring --vm-name SOME-VM-NAME --settings '{workspaceId:WORKSPACE_ID}' --protected-settings '{"workspaceKey":"WORKSPACE_KEY"}'

**Or this way (with the double quotes)?**
az vm extension set -n MicrosoftM

[2021-08-05 16:36] aadje opened #19139 "az appconfig kv export usage error when using AD login auth"
**Describe the bug**
`az appconfig kv export` to another appconfig instance always fails on a `usage error` when specifying the endpoint + auth-mode login params for both app config instances.

**Command Name**
`az appconfig kv export`

**Errors:**
[code]

**To Reproduce**
[code]

**Expected behavior**
This is a valid parameter set. App Config export should start

**Environment summary**
azure-cli

[2021-08-05 17:53] gzuber commented on #19035
Thanks @paulbatum, it looks like this is going to require some additional changes because we assume it's going to be a connection string [here](https://github.com/Azure/azure-cli/blob/d1676f65bc643396ea1f562ac29cf2c66cd55d05/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L550).

[2021-08-05 17:57] gzuber commented on #19061
Oh interesting -- thanks @svdlinde42 for investigating, I'll take a look

[2021-08-05 18:05] gzuber commented on #19097
Thanks @j0057, I'll think about a better way to describe this. My first thought is

[2021-08-05 18:06] gzuber commented on #19071
Thanks @gowrimshankar I'll take a look. Also adding this to https://github.com/Azure/Azure-Functions/issues/1916

[2021-08-05 18:50] Volatus commented on #19106
What Python version are you using?

[2021-08-05 18:52] theoaks commented on #19106
Version 3.9

[2021-08-05 19:00] Volatus commented on #19106
Can you paste the output of `which az` ?

[2021-08-05 19:02] theoaks commented on #19106
/usr/local/bin/az

[2021-08-05 19:45] HeydarHoseinian opened #19140 "az extension add --name azure-devops"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --name {}`

## Expected Behavior

## Environment Summa

[2021-08-05 21:17] archidda commented on #19053
We released a new version of logic app extension. To upgrade, please remove and install the extension again using these two commands-
-	az extension remove --name logicapp
-	az extension add --source https://aka.ms/logicapp-latest-py2.py3-none-any.whl

[2021-08-05 23:12] yonzhan commented on #19138
ARM

[2021-08-05 23:14] yonzhan commented on #19139
route to service team

[2021-08-05 23:15] yonzhan commented on #19140
extension

[2021-08-05 23:42] avanigupta commented on #19139
Hello @aadje, thank you for reporting this. We are working on fixing this issue and it should be available in the next CLI release.

[2021-08-06 00:43] sarwatwplayfab commented on #18584
In my repo, the requirements.txt file shows:
attrs==19.3.0
azure-core==1.12.0
azure-storage-blob==12.8.0
azure-storage-file-share==12.0.0
azure-storage-queue==12.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
idna==2.8
isodate==0.6.0
jsonschema==3.2.0
more-itertools==8.3.0
msrest==0.6.21
oauthlib==3.1.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pycparser==2.19
pyfakefs==4.0.2

[2021-08-06 01:53] jiasli commented on #18584
Just as I expected, you have `requests==2.22.0` in your `requirements.txt`, which conflicts with the latest Azure CLI. Please bump it to at least `requests==2.25.1`, to meet Azure CLI's requirement:

https://github.com/Azure/azure-cli/blob/afbc53aa68babd5b281ce0ebe5851b920c190960/src/azure-cli-core/setup.py#L60

[2021-08-06 02:02] jsntcy commented on #19135
@martingianni, could you help run command with `--debug` as follows to catch debug log for us to further investigation?
`az consumption usage list -s 2021-08-01 -e 2021-08-05 --subscription xxxxxxxx --debug`

[2021-08-06 02:04] jiasli commented on #16526
@ltalirz, I am glad to know it works for you.

Exactly. Azure CLI has a complex dependency network on various Python SDKs (including Track 1 + Track 2) and other underlying libraries. We also need to frequently address Common Vulnerabilities and Exposures (CVE) by bumping the minimum versions required to meet our security enforcement.

Here is another example that `requests==2.22.0` required by cu

[2021-08-06 02:07] jiasli commented on #16526
Temporarily closing this issue. We can reopen it if there are more votes.

[2021-08-06 02:15] kairu-ms commented on #17910
This is a known replication issue ARM is currently facing and working on improving.
@jennyhunter-msft Please help update the status of replication implement work. Thanks.

[2021-08-06 02:46] jiasli commented on #5750
The error `Update to existing credential with KeyId '5d860a64-e09a-474c-b5f9-1b455aee63d0' is not allowed.` is different from the original feature request. Let's focus on #19136.

[2021-08-06 02:47] jiasli commented on #19136
It is very likely the error `Update to existing credential with KeyId '<key-id>' is not allowed.` is causes by an old Azure PowerShell / Azure Portal issue. The explanation and solution are provided at https://github.com/Azure/azure-cli/issues/12561#issuecomment-604991103

[2021-08-06 03:18] jiasli commented on #14551
I can still repro this issue with `AzureAD` PowerShell module:

[code]

Does it work if you use Azure CLI to create the service principal and its credentials, bypassing the nanosecond bug of `AzureAD` (or perhaps its design)? https://github.com/Azure/azure-cli/issues/12561#issuecomment-604991103

[2021-08-06 03:33] jiasli commented on #14551
Per the definition of `tags` of [Application](https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0) and [Service Principal](https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0):

To update tags on applications, call Microsoft Graph API [Update application](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-

[2021-08-06 03:39] jiasli commented on #14551
https://github.com/Azure/azure-cli/issues/12561

[2021-08-06 04:07] rouke-broersma commented on #19136
We are using az cli.

[2021-08-06 05:20] AverageDesigner commented on #18809
I have tried the same example on cli and it works with double-quotes. Here is a screenshot for reference.

![image](https://user-images.githubusercontent.com/77362971/128459877-b03b9bee-134d-45bb-bbdc-ff3cf58db3af.png)

[2021-08-06 06:16] jiasli commented on #1572
[Working behind a proxy](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy) provides detailed instructions on how to trust a custom root certificate.

[2021-08-06 06:16] jiasli commented on #19140
Duplicate of #1572

[2021-08-06 06:17] #17211 closed

[2021-08-06 06:20] jiasli commented on #17252
`AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` doesn't work in many cases and has been nearly deprecated. [Working behind a proxy](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy) provides detailed instructions on how to trust a custom root certificate. (#1572)

[2021-08-06 06:20] #17252 closed

[2021-08-06 06:25] #19140 closed

[2021-08-06 06:29] jiasli commented on #11952
Close due to no response.

[2021-08-06 06:29] #11952 closed

[2021-08-06 06:32] jiasli commented on #18574
`certificate verify failed` is caused by proxy issue, please see https://github.com/Azure/azure-cli/issues/1572#issuecomment-894029686.

[2021-08-06 06:32] #18574 closed

[2021-08-06 06:33] jiasli commented on #16955
`certificate verify failed` is caused by proxy issue, please see https://github.com/Azure/azure-cli/issues/1572#issuecomment-894029686.

[2021-08-06 06:33] #16955 closed

[2021-08-06 06:34] jiasli commented on #15864
`certificate verify failed` is caused by proxy issue, please see https://github.com/Azure/azure-cli/issues/1572#issuecomment-894029686.

[2021-08-06 06:34] #15864 closed

[2021-08-06 06:41] zhoxing-ms commented on #10211
@dkarlovi This requires the service team to confirm whether non-certificate secret are supported and how to inject. I'll transfer this issue to Compute team

[2021-08-06 06:41] jiasli commented on #14822
Duplicate of #15121

[2021-08-06 06:41] jiasli commented on #10689
Duplicate of #15121

[2021-08-06 06:42] jiasli commented on #12466
Duplicate of #15121

[2021-08-06 06:42] #14822 closed

[2021-08-06 06:42] #10689 closed

[2021-08-06 06:42] jiasli commented on #11166
Duplicate of #15121

[2021-08-06 06:42] #11166 closed

[2021-08-06 06:43] #12466 closed

[2021-08-06 06:47] jiasli commented on #13444
Duplicate of #1572

[2021-08-06 06:47] #13444 closed

[2021-08-06 06:49] jiasli commented on #11280
We do have an option `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` to ignore SSL certificate, but it doesn't work in many cases and has been nearly deprecated. To trust the custom root certificate, please see https://github.com/Azure/azure-cli/issues/1572#issuecomment-894029686.

[2021-08-06 06:49] #11280 closed

[2021-08-06 06:51] jiasli commented on #10839
This issue is caused by app.aladdin.microsoft.com temporarily being unavailable and is now resolved.

[2021-08-06 06:51] #10839 closed

[2021-08-06 06:51] jiasli commented on #11714
Duplicate of #13444, #1572

[2021-08-06 06:51] #11714 closed

[2021-08-06 06:56] jiasli commented on #19136
I am able to repro this issue using `AzureAD` PowerShell module: https://github.com/Azure/azure-cli/issues/14551#issuecomment-893971661

[2021-08-06 06:58] #18654 closed

[2021-08-06 06:59] #18298 closed

[2021-08-06 07:29] Qay-Tekkie commented on #19054
Ok..Thanks

[2021-08-06 07:29] #19054 closed

[2021-08-06 08:07] Volatus commented on #19106
yeah that's concerning, can you try `$(brew --prefix)/bin/az -v`?

[2021-08-06 08:09] #15888 closed

[2021-08-06 08:25] C4RTON commented on #17681
We got the same problem, can you investigate on it ?

[2021-08-06 08:32] rouke-broersma commented on #19136
@jiasli I checked the start and end dates of the credentials and they look like this: `"startDate": "2021-08-06T07:42:51.592775Z", "endDate": "2023-08-06T07:42:51.592775Z"`

This looks to me like nanosecond precision instead of millisecond, is that correct?

These credentials were created with the azure graph api by using `az rest` and providing a custom start and end date which we modified to not

[2021-08-06 08:38] yonzhan commented on #17681
AKS service team should look into this

[2021-08-06 08:50] jiasli commented on #19027
Could be related to https://github.com/Azure/azure-cli/issues/16417. I tested on Big Sur 11.5.1 with Intel chip but couldn't repro this issue. Are you on M1 chip?

Azure CLI uses Python 3.8 installed by Homebrew:

[code]

1. Could you check if `/usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python` points to the correct location?
3. Could you check if `/usr/local/Cellar/azure-cli/2.27.0/libexec/li

[2021-08-06 08:53] jiasli commented on #19106
@Volatus, thanks for the investigation. 😊

I tested on Big Sur 11.5.1 with Intel chip but couldn't repro this issue either. @theoaks, are you on M1 chip?

Azure CLI uses Python 3.8 installed by Homebrew:

[code]

Could you share the result of

[code]

[2021-08-06 08:57] dimitrisfinas commented on #19027
See below information asked:
~/Documents/POCs/LODH $ brew -v
Homebrew 3.2.5
Homebrew/homebrew-core (git revision 9adb96828d; last commit 2021-07-28)
Homebrew/homebrew-cask (git revision 3e251b323a; last commit 2021-07-28)
~/Documents/POCs/LODH $ python3 --version
Python 3.9.0
~/Documents/POCs/LODH $ which az
/usr/local/bin/az
~/Documents/POCs/LODH $ echo $PATH
/Library/Frameworks/Python.framework/

[2021-08-06 08:59] theoaks commented on #19106
I'm on an Intel chip

`ls -l /usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python`
==============================================
`lrwxr-xr-x  1 user  admin  84 Jul 30 12:10 /usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python -> ../../../../../opt/python@3.8/Frameworks/Python.framework/Versions/3.8/bin/python3.8`

[2021-08-06 09:01] dimitrisfinas commented on #19027
I have upgraded to 2.27 to be on latest release, but issue is the same

[2021-08-06 09:08] Volatus commented on #19027
Can you try `$(brew --prefix)/bin/az login`?

[2021-08-06 09:12] Volatus commented on #19027
I think the `azcli` is installed wrong in some way. I'm on M1 with Big Sur 1.15.1. Could be something to do with `$PATH` and where brew keeps the Cellars.
[code]

[2021-08-06 09:14] smereczynski commented on #19027
I'm on Intel and have this issue. I can help with tests if needed.

[2021-08-06 09:16] Volatus commented on #19027
Can you see my comment just above and post the results of those commands here so we can investigate a bit?

[2021-08-06 09:19] smereczynski commented on #19027
🚀 which az
/usr/local/bin/az
🚀 az -v
/usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python: No module named azure.cli.__main__; 'azure.cli' is a package and cannot be directly executed

🚀 brew --version
Homebrew 3.2.6
Homebrew/homebrew-core (git revision 1975fb7765; last commit 2021-08-05)
Homebrew/homebrew-cask (git revision 9961c0f592; last commit 2021-08-05)
🚀 python3 --version
Python 3.8.11
🚀

[2021-08-06 09:21] Volatus commented on #19027
What happens if you try `$(brew --prefix)/bin/az -v`?

[2021-08-06 09:22] smereczynski commented on #19027
/usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python: No module named azure.cli.__main__; 'azure.cli' is a package and cannot be directly executed

[2021-08-06 09:23] Volatus commented on #19027
I assume you already tried `brew uninstall azure-cli` and cleared brew cache and `brew install azure-cli` ?

[2021-08-06 09:27] jiasli commented on #19136
Please refrain from using `az ad` on credential operations, due to the deprecation of underlying AD Graph API, and we no longer actively maintain it.

You may see our plan to migrate to Microsoft Graph at https://github.com/Azure/azure-cli/issues/12946 and stick to `az rest`.

[2021-08-06 09:45] #18616 closed

[2021-08-06 09:46] #19048 closed

[2021-08-06 09:50] rouke-broersma commented on #19136
@jiasli I rewrote the script to use az rest for both creation and deletion. The same issue persists. If no start and end date is given with the creation request, microsoft graph api seems to pick 2 years as a default, **and it appears that this default is in nano seconds** and not milliseconds. That's what I explained in my last comment.

So while the azure portal and powershell modules have been

[2021-08-06 09:57] dimitrisfinas commented on #19027
I have tried, same error.
_____________________________________________
Dimitris Finas
Sr Advisory Solution Consultant
M: +33648861551
servicenow.com<https://www.servicenow.com>
LinkedIn<https://www.linkedin.com/company/servicenow> | Twitter<https://twitter.com/servicenow> | YouTube<https://www.youtube.com/user/servicenowinc> | Facebook<https://www.facebook.com/servicenow>

From: Ismayil ***@***.*

[2021-08-06 10:00] dimitrisfinas commented on #19027
Yes, same error again

From: Ismayil ***@***.***>
Reply-To: Azure/azure-cli ***@***.***>
Date: Friday 6 August 2021 at 11:24
To: Azure/azure-cli ***@***.***>
Cc: Dimitris Finas ***@***.***>, Author ***@***.***>
Subject: Re: [Azure/azure-cli] No module named azure.cli.__main__; (#19027)

[External Email]

$(brew --prefix)/bin/az -v

/usr/local/Cellar/azure-cli/2.27.0/libexec/bin/python: No module n

[2021-08-06 10:09] jiasli commented on #19136
`az rest` doesn't parse the response anyway and the `startDateTime` and `endDateTime` (even with nanosecond) are treated as string.

Therefore, if you use `az rest` all the time, it is impossible to hit this nanosecond issue:

[code]

[2021-08-06 10:17] jiasli commented on #19136
We fully understand. In the future, Azure CLI may perhaps not even support Microsoft Graph at all, since Microsoft Graph team is building on their own CLI: https://github.com/microsoftgraph/msgraph-cli

Even if Azure CLI supports Microsoft Graph, it's very likely we won't rely on Python SDK and build the `Application` object, thus won't hit the `datatime` precision issue.

Anyway, we haven't decid

[2021-08-06 10:17] #19136 closed

[2021-08-06 10:18] Lim021 opened #19148 "`az rest` doesn't parse the response anyway and the `startDateTime` and `endDateTime` (even with nanosecond) are treated as string."
`az rest` doesn't parse the response anyway and the `startDateTime` and `endDateTime` (even with nanosecond) are treated as string.

Therefore, if you use `az rest` all the time, it is impossible to hit this nanosecond issue:

[code]

_Originally posted by @jiasli in https://github.com/Azure/azure-cli/issues/19136#issuecomment-894155846_

[2021-08-06 10:20] rouke-broersma commented on #19136
@jiasli on that point I would like to say that please support microsoft graph in the az cli... The microsoft graph is very much necessary for azure deployments. It would be very annoying have to use two cli's with their own distinct cli syntaxes (I checked, msgraph-cli looks nothing like the az-cli standard command syntax..) imo. Couldn't the msgraph-cli team just adopt this part of the az-cli ins

[2021-08-06 10:50] prepetti65 commented on #18418
Hi,

I am using the latter way, with the double quotes.

Thank you

[2021-08-06 11:00] hardboilr commented on #18075
Still experiencing this issue on Azure-CLI 2.27.0.
Running this command: az webapp config hostname add --hostname $HostName --resource-group $ResourceGroupName --webapp-name $WebAppName --slot $SlotName

See full log below:

[code]

[2021-08-06 12:00] vcariven commented on #17681
In my case, it happens when using the `aks-preview` extension which might be the effective root cause :
[code]
Where the function `validate_linux_host_name` is called to validate the AKS cluster name and does not allow the underscore `_` character.
- https://github.com/Azure/azure-cli-extensions/blob/main/src/aks-preview/azext_aks_preview/_validators.py#L79
Maybe the issue should be moved to the h

[2021-08-06 12:09] haymansfield opened #19150 "group create documentation seems to be out of date for what if"
[Enter feedback here]

group create documentation seems to be out of date for what if. I tried --what-if but it doesn't work. used the what-if command instead which does work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649a07bb-0fa2-6c51-2820-88b1bafa80ba
* Version Independent ID: ace434b7-7549-8e6d-cab0-1612f422a0c

[2021-08-06 12:28] yonzhan commented on #19148
@jiasli for awareness

[2021-08-06 12:33] yonzhan commented on #19150
ARM

[2021-08-06 12:40] jiasli commented on #19136
This is indeed a complex topic and we heard your voice! Thanks for letting us know.

Due to drastic changes in Microsoft Graph API, even if Azure CLI migrates its underlying API to Microsoft Graph API, it is nearly impossible to keep backward compatibility, making the migration less meaningful. It will also introduce duplications between Azure CLI and Microsoft Graph CLI.

Anyway, we are still in

[2021-08-06 13:44] martingianni commented on #19135
Here is the output:

az consumption usage list -s 2021-08-01 -e 2021-08-05 --subscription xyz --debug

Command arguments: ['consumption', 'usage', 'list', '-s', '2021-08-01', '-e', '2021-08-05', '--subscription', 'xyz', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x03E0C978>, <function OutputProducer.on_global_argume

[2021-08-06 14:00] ToddRopog opened #19151 "Allow Production Slot To Be Explicitly Specified"
Please allow the production slot to be explicitly specified for all commands which accept a --slot parameter. It would make scripting easier. As it is right now, I can't say "--slot production". In my scripts I have to have two lines, one for interacting with a production slot, and one for interacting with all other slots. And, I have to add conditional logic to determine which one to call. I thin

[2021-08-06 14:05] m1kola commented on #18950
It looks like this issue was fixed somewhere between today and 2nd of August.

[2021-08-06 14:08] yonzhan commented on #19151
route to service team

[2021-08-06 14:55] surendra0801 opened #19152 "azure cli issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/surendra/.azure/commandIndex.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_resul

[2021-08-06 15:14] yonzhan commented on #19152
route to service team

[2021-08-06 15:29] panchagnula commented on #18075
@Kotasudhakarreddy could you validate this still fails on slot with the latest CLI version? Thanks!

[2021-08-06 17:00] micahjo commented on #18495
Hi @zhoxing-ms , I've added the commands we need in the description. I was also wondering about the list calls (list vmss, list instances); crg should show on the vmss and vm instances for these (GET calls contain the crg ids in the response); is any change necessary to support that?

@hari-bodicherla could you verify this is the format we want for cli specifying capacity reservation?

`az vmss cr

[2021-08-06 17:35] davidbIQ commented on #14340
any update on this?

[2021-08-06 19:07] praveenmak commented on #6310
What if the folder already exists in the destination?
I have spent couple of hours to figure out on how to overwrite or avoid overwriting.
This is pretty unproductive. @microsoft help us to be productive.

[2021-08-06 22:01] rjmccallumbigl opened #19153 "A few fellow SEs informed me az vm repair restore took 20-30 minutes to complete on a few occasions"
### Extension name (the extension in question)
az vm repair

### Description of issue (in as much detail as possible)

- Received 2 recent reports from other Support Engineers that running `az vm repair restore` took 20-30 minutes to complete for them.
- The hold us was after running the command and before asking if they wanted to do the cleanup on the repair VM.
- Tried to repro 3 times using 0.3

[2021-08-07 00:23] yonzhan commented on #14340
AKS service team should look into this

[2021-08-07 00:26] yonzhan commented on #19153
route to service team

[2021-08-07 10:45] zhoxing-ms commented on #19150
@haymansfield  Could you provide the specific error information for parameter `--what-if`?
@shenglol Could you please help to have a look at this issue

[2021-08-07 11:04] zhoxing-ms commented on #19153
@malachma Could you please help to have a look at this issue?

[2021-08-07 11:12] zhoxing-ms commented on #18495
@micahjo Are you asking what changes need to be added to Swagger if the list operation supports capacity reservation? If so, may I ask do the parameters passed in for these list operations need to be changed?

[2021-08-07 12:39] martingianni commented on #19135
Just to add here on the Azure Portal also its looks strange.. it shows 55 USD in 7 days.. no breakdown available, no cost by service showing neither, tried two accounts, same issue. Guessing it maybe something wrong with the backend where the cost data is saved or the api fetching the data.. just my 2 cents.

[2021-08-07 13:24] haymansfield commented on #19150
I forget the exact message but it was along the lines of "--what-if is ambiguous and could be [the two other parameters beginning --what-if]"

[2021-08-07 22:12] aaronhudon commented on #16910
!@$%)%^)%  I just discovered the deployment slot checks were cleared on my production environment for my function apps!  THIS IS BAD!!!!!!!!!!!!  Fortunately it did not affect financial processing, but it is completely messing up other processing that are configured in a DEV/PROD scenario.

THIS IS BAD!!!!!!

[2021-08-08 02:05] yonzhan commented on #16910
function app service team should take a look

[2021-08-08 09:52] ErezEyal opened #19155 "API Endpoint Does Not Work As Expected: waf-policy managed-rule exclusion remove"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The below *remove* operation is actually doing a *list* operation. So currently it is not possible to remove a waf-policy exclusion via the CLI.

**Command Name**
`az network application-gateway waf-policy managed-rule exclusion remove`

**Errors:**
There is no error, the command simply lists the waf policy, i

[2021-08-08 14:28] yonzhan commented on #19155
network

[2021-08-08 20:53] BoSoeborgPetersen opened #19156 "Microsoft Learn Module script failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management

This step fails:
`cd ~/OnlineStoreFuncs`
`bash setup.sh`

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps t

[2021-08-08 23:09] yonzhan commented on #19156
route to service team

[2021-08-09 01:41] jiasli commented on #19148
This is from my comment https://github.com/Azure/azure-cli/issues/19136#issuecomment-894155846. Is it causing any problem to you?

[2021-08-09 01:54] mitchdenny commented on #19121
I'm hitting this at the moment, when will a fix be out?

[2021-08-09 02:34] evelyn-ys commented on #19121
The built-in azure cli is too old to run. Pls upgrade to latest version which is `2.27.0` for now.

[2021-08-09 02:41] evelyn-ys commented on #19121
@jiasli Can you help take a look that `sudo apt install azure-cli` will install version `2.0.81` by default?

[2021-08-09 03:17] evelyn-ys commented on #6310
As far as I know, only uploading a file to a file path in ADLS Gen2 file system with `az storage fs file upload` has `--overwrite` parameter for overwriting existing resource or not.
While uploading a file to a share with `az storage file upload` doesn't support `--overwrite` from service side.

[2021-08-09 03:33] edwardshao opened #19160 "Unable to delete the reference to gateway load balancer frontend ID"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network lb frontend-ip update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-Follow the Azure CLI document and using "--gateway-lb" with "" to delete the reference to gateway

[2021-08-09 03:39] yonzhan commented on #19160
network

[2021-08-09 03:44] hahazhugithub commented on #15437
Same issue we are encountering

**ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: 'ascii' codec can't encode character '\u2192' in position 1181: ordinal not in range(128)
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/sit

[2021-08-09 03:49] yonzhan commented on #15437
container instance service team should look into this

[2021-08-09 03:50] pitawatn opened #19161 "Azure CLI on Windows takes very long time to update"
**Describe the bug**
Azure CLI on Windows takes very long time to update using `az upgrade` command. Updating takes at least 20-30 minutes to complete.

This time I'm updating CLI from version 2.20.0 to 2.27.0 but it has always been like this.

**To Reproduce**
Run `az upgrade` command and follow the setup wizard.

**Expected behavior**
Azure CLI should update more quickly for better user's produc

[2021-08-09 05:14] jiasli commented on #19121
The `2.0.81` version of Azure CLI distributed by official Ubuntu repo is not maintained by Microsoft.

Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI. It will add Microsoft Linux repo https://packages.microsoft.com/repos/azure-cli/ to `apt`'s source list.

[2021-08-09 05:40] yonzhan commented on #19161
@jiasli for awareness

[2021-08-09 05:58] kairu-ms commented on #19160
Thanks for your feedback. We will fix it in next release. Please use `az network lb frontend-ip update -g {} --lb-name {} -n {} --public-ip-address {} --remove gatewayLoadBalancer` as a workaround.

[2021-08-09 06:48] jiasli commented on #19161
Which step takes most of the time?

If the installation is stuck at "Preparing to install...", it means you have bad download speed.

![image](https://user-images.githubusercontent.com/4003950/128668785-76318e3c-69b2-453f-a8d0-c52858c767c8.png)

Could you try to download from https://aka.ms/installazurecliwindows and install the latest version manually?

[2021-08-09 06:52] BhargaviAnnadevara-MSFT opened #19164 "Resource not found after assigning identity to web app #79294"
_Originally posted by @HannesWurm in https://github.com/MicrosoftDocs/azure-docs/issues/79294#issue-960818214_

**Describe the bug**

In this [tutorial](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) you have those steps to create a managed identity and then assign the created service principal to an ad group:

[code]

If I use an existing group instead of

[2021-08-09 07:12] pitawatn commented on #19161
@jiasli The "Preparing to install" step was not that long. It's the installation steps. I couldn't remember which exact step(s). But from the beginning to the end it took about 30 minutes. My internet connection speed is pretty good, I tried downloading the setup file from the link you provided and it took less than 30 seconds.

Here is the result from running `Get-History |fl`. I think the `Execu

[2021-08-09 07:29] hardboilr commented on #18075
Yes. As mentioned in post, I'm running 2.27.0 which is currently the latest and its against a deploy-slot.

[2021-08-09 08:10] #18993 closed

[2021-08-09 08:13] Kotasudhakarreddy commented on #18075
I am unable to repro the issue. Find the below image for details.

![image](https://user-images.githubusercontent.com/60102891/128676857-b7cac23d-fe4a-44eb-9f05-d02e6c07ce23.png)

[2021-08-09 08:15] krowlandson opened #19165 "`key vault create` no longer idempotent since #18520"
**Describe the bug**

The command `key vault create` is no longer idempotent since #18520

**To Reproduce**

Simply create a new Key Vault using the `key vault create` command, and then re-run the command multiple times.

Each subsequent run will result in an error stating:

`The specified vault: {vault_name} already exists`

**Expected behavior**

All commands in the AZ CLI should be idempotent,

[2021-08-09 08:28] yonzhan commented on #19164
route to service team

[2021-08-09 08:33] yonzhan commented on #19165
keyvault

[2021-08-09 08:47] hardboilr commented on #18075
What happens when you do it against a deploy-slot?

[2021-08-09 08:53] 00Kai0 commented on #19155
It's not an issue. Remove Exclusion just cleans the [parameter exclusions of policy](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/custom.py#L1855).
We don't have a delete api for this option.

Why you got a policy as result. It's just a result we got from updating policy which deleted the exclusion.

[2021-08-09 09:09] 00Kai0 commented on #18380
same issue: https://github.com/Azure/azure-cli/issues/15499.
Has been fixed at 0.2.7

[2021-08-09 09:09] #18380 closed

[2021-08-09 09:34] PARADISSEEKR commented on #17891
https://github.com/Azure/azure-cli-extensions/pull/3753

[2021-08-09 10:10] krowlandson commented on #19165
Just to add, without clear documentation stating whether a specific `create` command will be idempotent or not and breaking changes being introduced instead of new commands to provide the alternate behaviour, using the AZ CLI will be a bit like a lottery as to whether your script will [continue to] work or not.

Not a great experience for customers :(

[2021-08-09 12:58] Kotasudhakarreddy commented on #18075
@panchagnula Yes the issue is reproable against a Slot

[2021-08-09 13:54] antaradas94 opened #19168 "Cannot access azureml workspace from gitlab CI pipeline."
###

##
unable to connect with azureml workspace from gitlab CI pipeline. There is no authentification established. with az login there was an authentification window in my browser, i could login but end up with : TypeError: __init__() got an unexpected keyword argument 'user_agent'

**Command Name**
`az login`

**Errors:**
[code]

## Environment Summary
[code]

[2021-08-09 15:04] sdonohoo opened #19169 "Unable to run 'az login' in Azure ML compute instance terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-08-09 15:05] Gordonby commented on #19124
Also affected by this.  Working around with try/catch in automation....  But a NoEffect change should be at most a Warning, not an Error.

[2021-08-09 15:07] yonzhan commented on #19168
@jiasli for awareness

[2021-08-09 15:10] yonzhan commented on #19169
@jiasli for awareness

[2021-08-09 15:14] micahjo commented on #18495
That was what I wanted to ask- the CR should show as it should in the GET for VMSS and VMSS VM- if that would mean it will show up in the list operation by default, then no change should be necessary.

[2021-08-09 15:20] hari-bodicherla commented on #18495
@micahjo , @zhoxing-ms  Can one of you please explain what is the issue here that is blocking this PR. we have a CLI request that supposed to be covering all CR, VM and VMSS changes. Can we close this and track all the changes in the below CLI issue for the CR changes
https://github.com/Azure/azure-cli/issues/18943

[2021-08-09 15:26] hari-bodicherla commented on #18943
@zhoxing-ms  we need to support the PUT, Patch, Delete, Get and List operations for the Capacity Reservation while we need to support the Put and Get operations for VM , VMSS and VMSS VM resources to expose this new CR profile.
Please refer the below powershell PRs covering the commands
1. https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/967 - Cmdlets for CR, single vm
2. https://

[2021-08-09 15:32] micahjo commented on #18495
I will close this issue. I don't think they're anything blocking this PR. Just making clarifications.

[2021-08-09 15:32] #18495 closed

[2021-08-09 16:11] panchagnula commented on #18075
Thanks can

[2021-08-09 16:59] tocy1 opened #19170 "aks module not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {} --admin`

##

[2021-08-09 17:31] shenglol commented on #19150
Will take a look.

[2021-08-09 18:16] heaths opened #19171 "`az upgrade` fails on Windows 10: The system administrator has set policies to prevent this installation."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I run `az upgrade`, the MSI is downloaded and script generated (first progress dialog) but then I get an error shown below. I am on a Microsoft-managed (employee) machine, so there may be additional policies in place.

**Command Name**
`az upgrade`

**Errors:**

![image](https://user-images.githubusercont

[2021-08-09 19:32] anibaldk opened #19172 "az cli batch create: No parameter for user assigned identities"
Reproduce:
-----------
[code]

Output:
`(MissingIdentityIds) The identity ids must not be null or empty for 'UserAssigned' identity type.`

[code]
Output:
[code]

[2021-08-09 20:32] opor-thorleifsson commented on #13952
same issue here as @aayadi-ey.
If I run: az keyvault key create  --vault-name {} --name {} locally on my terminal it works fine but as soon as the same is ran as part of AzureCLI@2 task in devops it will fail with error "Max retries exceeded attempting to connect to vault

[2021-08-09 22:27] yonzhan commented on #19170
route to service team

[2021-08-09 22:28] yonzhan commented on #19171
@jiasli for awareness

[2021-08-09 22:29] yonzhan commented on #19172
route to service team

[2021-08-09 22:37] balusmsft opened #19173 "Running a query with a query id does not produce output"
When I run a query with
az boards query --id "DCF82656-1213-499D-9395-758E9729A454" --organization "https://dev.azure.com/JackFruit" --project "Jack" --output json

the output does not come to screen.
I tried Powershell and cmd.

When I added --debug, I can see the response coming back azext_devops.devops_sdk.client: Response content: but then no output in the screen.

---
#### Document Details

⚠

[2021-08-09 22:39] yonzhan commented on #19173
route to service team

[2021-08-09 23:01] mxrss2 commented on #18078
this is breaking my stuff interogating the az lock show command I get this result.

[code]

[code]

[2021-08-09 23:10] heaths commented on #19171
Note I can't repro this when executing "msiexec /i https://aka.ms/installazurecliwindows" directly. In fact, using python interactive I can run the following (similar to what you do [here]() but without the unnecessary invocation of powershell.exe, which forces additional dependencies) with err:

[code]

Note, however, this runs in interactive mode, which when I run `az upgrade` doesn't happen. Yo

[2021-08-10 00:24] jiasli commented on #19171
Thanks @heaths for reporting this issue to us. I am also using a Microsoft domain-joined machine but couldn't repro this issue...

This issue was previously report at https://github.com/Azure/azure-cli/issues/18566 but I haven't find the root cause yet.

The code CLI uses to launch the MSI installation is

https://github.com/Azure/azure-cli/blob/3d14ca21e648f4fc0124132a43156a85a50251cd/src/azure-c

[2021-08-10 00:54] #14197 closed

[2021-08-10 00:56] jiasli commented on #19171
I can repro this issue now on my laptop. Looks like some policy gets pushed/updated recently.

Commands I used to trigger this error:

[code]

or even

[code]

![image](https://user-images.githubusercontent.com/4003950/128790904-d902032d-3595-4ce8-b50d-fee7013ab5c0.png)

Adding [Display options](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/msiexec#display-options

[2021-08-10 01:14] sjwaight commented on #18809
The command will fail on a Linux command line.

[2021-08-10 02:40] #19139 closed

[2021-08-10 03:27] heaths commented on #19171
I think it only appeared to work for me because it was installed, and MSI years the cached MSI on that case, so the discouraged copy wasn't used.

So it would be good to download it first. I've worked with MSI for over 20 years and letting it download the package was never ideal.

Optionally, if the install fails you could print the path to the downloaded copy and not delete it so the user can ins

[2021-08-10 03:50] jsntcy commented on #10467
@00Kai0, Remove duplicate items in record-set before calling "create_or_update".

[2021-08-10 04:05] jiasli commented on #19171
I don't really understand this sentence. Do you mind rephrasing it?

True, and this issue is only hit when we let `msiexec.exe` do the downloading.

Suppose we still let `msiexec.exe` do the downloading, do you happen to know how to retrieve the `.msi` file downloaded by `msiexec.exe`?

Using the URL will require the user to re-download the `.msi` file with a web browser. If we can retrieve the `.

[2021-08-10 04:38] #19160 closed

[2021-08-10 06:00] jiasli commented on #18791
As stated in https://github.com/Azure/azure-cli/issues/18626#issuecomment-879609185, adding `azure-mgmt-resource==18.0.0` will break `azureml-core` which requires `azure-mgmt-resource>=1.2.1,<15.0.0`.

[2021-08-10 06:00] Kotasudhakarreddy opened #19175 "WebApp: Remove preview flag for storage-account commands"
**Is your feature request related to a problem? Please describe.**

Remove preview flag for below commands.

az webapp config storage-account add
az webapp config storage-account list
az webapp config storage-account delete

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-08-10 06:03] jiasli commented on #18918
Duplicate of #18626. Please see the analysis at https://github.com/Azure/azure-cli/issues/18626#issuecomment-879609185 and workaround at https://github.com/Azure/azure-cli/issues/18626#issuecomment-887411446.

[2021-08-10 06:03] #18918 closed

[2021-08-10 06:04] bweissman opened #19176 "Adding a DNS Name to a public IP results in an error"
**Describe the bug**
Adding a DNS Name to a public IP results in an error:
unrecognized arguments: ​--dns-name bwtestrepo

**To Reproduce**
az network public-ip create --name PIP-Test --resource-group $RG ​--dns-name bwtestrepo

**Expected behavior**
This should create a public IP with the DNS Name bwtestrepo

**Environment summary**
{
  "azure-cli": "2.27.0",
  "azure-cli-core": "2.27.0",
  "azur

[2021-08-10 06:09] jiasli commented on #19168
The path `/usr/local/lib/python3.8/site-packages/azure/cli` is a Linux path where `pip` installs to, but the issue description shows `Installer: MSI` which is only available on Windows. Have you manually changed the content in `Environment Summary`?

This issue could be related to https://github.com/Azure/azure-cli/issues/18626, where `azureml-core` and `azure-cli` have conflicting dependencies on

[2021-08-10 06:40] antaradas94 commented on #19168
Thank you for the response. No, the Environment Summary is not changed. the issue was opened from az feedback on local windows pycharm where authentification is possible via az login and also via interactiveauthentication.
However on gitlab ci docker it fails with az login

[2021-08-10 07:53] zhoxing-ms commented on #18943
@hari-bodicherla Hi, I see that `PowerShell` commands also support capacity reservation in the following commands:

 New-AzVmssConfig [-CapacityReservationGroupId <String>]

Because there is no corresponding commands in CLI, so we don't need to implement this case, right?

[2021-08-10 08:26] jiasli commented on #19169
Could be related to https://github.com/Azure/azure-cli/issues/18626.

@sdonohoo, have you manually installed Azure CLI with `pip` on the Azure ML compute instance?

[2021-08-10 08:29] jiasli commented on #19168
Thanks for clarifying. Have you manually installed Azure CLI with `pip` on the GitLab CI docker?

[2021-08-10 08:29] zhoxing-ms commented on #18943
@hari-bodicherla By the way, the command design in PowerShell does not include VM signature, so how should the CLI commands be designed?
`az vm capacity reservation create/udpate/list/show` or `az capacity reservation create/udpate/list/show`, which command design is better?
Or do you have more suggestions on command design?

[2021-08-10 08:45] antaradas94 commented on #19168
yes on gitlab ci docker i tried to manually pip install azure-cli.
In general case when i try to access workspace from my local IDE on Windows , an authentication browser is easily opened, which did not work in in the CI pipeline.
The main aim is to access the authentication

[2021-08-10 09:00] jiasli commented on #15892
This issue was previously reported in https://github.com/Azure/azure-cli/issues/7613.

[2021-08-10 09:04] jiasli commented on #19165
This issue was previously reported and discussed in #7613.

[2021-08-10 09:04] jiasli commented on #15892
This issue was previously reported and discussed in #7613.

[2021-08-10 09:06] jiasli commented on #7608
@IIIHeloIII, this behavior is now being discussed at #19165.

[2021-08-10 09:07] PARADISSEEKR commented on #18555
@sandeepkv93 Does ‘-spot-restore-policy’ need a default value,and how to set the default value if necessary?

[2021-08-10 09:28] jiasli commented on #7613
Keyvault creation API [Vaults - Create Or Update](https://docs.microsoft.com/en-us/rest/api/keyvault/vaults/create-or-update) fails if the request body doesn't include `accessPolicies`:

[code]

[code]

[2021-08-10 09:45] jiasli commented on #19168
@antaradas94,

As `azure-cli` and `azureml-core` have conflicting dependencies, could you try to install Azure CLI in another virtual environment following https://github.com/Azure/azure-cli/issues/18626#issuecomment-887411446?

[2021-08-10 09:54] yonzhan commented on #19175
route to service team

[2021-08-10 09:55] yonzhan commented on #19176
network

[2021-08-10 10:37] malachma commented on #19153
The restore operation is part of the normal 'vm repair' extension. The ALAR scripts don't have any side effects.
What I can imagine is that, due to the os-disk-swpa operation. Any running VM needs to be shutdown first. This shutdown operation may take sometime sometimes. As described in the report the issue was not be able to be reproduced. It could be therefore that there was a temporary issue in

[2021-08-10 10:47] AntonioNaranjo1 commented on #11315
any new? is a necessary feature

[2021-08-10 11:01] binte opened #19179 "az ad sp show seems not to be working as expected"
When running the following command:

[code]

I will always get an error (below) if _$SP_NAME_ is the service principal display name, and not its ID.

The _$SP_NAME_ variable contains the exact same display name as I see in the App Registrations in Azure AD.

---
When deploying a service principal via script, we do not have the service principal object ID prior to running the script, only the name

[2021-08-10 11:23] yonzhan commented on #11315
container service team should take a look

[2021-08-10 11:24] yonzhan commented on #19179
@jiasli for awareness

[2021-08-10 11:36] Zeka13 commented on #14577
same shit, good job Microsoft

[2021-08-10 12:50] dhaiman opened #19180 "Add new properties to Log Analytics SDK"
Please add Log Analytics Workspace missing properties to SDK.
Attaching last PR: https://github.com/Azure/azure-rest-api-specs/blob/56cd4784756e65c303ed7aba007ffa8c7540a587/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-10-01/Workspaces.json#L593

Thanks!

[2021-08-10 12:51] jyama4ta commented on #19114
Hi @mjudeikis , I'm sorry for my late response.
Expected behavior is on 'Running' state until finished creation. However, the commands returns 'Request is not allowed in provisioningState 'Creating'.' for that time.

However, I have checked it again on Cloud Shell and it is fixed on 2.27.0. So, I close this issue. Thank you for your time.

[2021-08-10 12:51] #19114 closed

[2021-08-10 13:32] omziv opened #19181 "Mistake in docs for --workspaces option"
[Enter feedback here]

Adding workspaces cannot be done by separating them with spaces, this causes an error for Bad Argument. Docs should be updated to state that workspaces must be added in this format:
--workspaces $("ws1","ws2")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56af75a3-3b2f-711b-21b3-57375fbe124d
* V

[2021-08-10 14:18] francesco-scullino commented on #18875
any news?

[2021-08-10 14:28] wase90168 commented on #18875
I have just had a look at the Cloud Shell version and for me (West Europe region) it has been updated.
`azure-cli                         2.27.0`

All my build-scripts are working fine as well ^^

[2021-08-10 14:59] yuxisun1217 opened #19182 "NCv3 and ND series doesn't support AN but are in "Compatible VM sizes""
**Describe the bug**
When I try to create a VM that the size doesn't support accelerated-networking, it should report an error message and stop creating, but for the ND and NCv3 sizes they are created successfully. And the message also shows that ND and NCv3 series supports accelerated-networking.
I'm not quite sure if this is an issue of azure-cli. It looks more like an issue of some Azure databa

[2021-08-10 15:17] yonzhan commented on #19180
Please open this issue to SDK repo https://github.com/Azure/azure-sdk-for-python

[2021-08-10 15:17] #19180 closed

[2021-08-10 15:18] yonzhan commented on #19181
monitor

[2021-08-10 17:14] arykov opened #19183 "docker run mcr.microsoft.com/azure-cli az takes a long time"
**Describe the bug**
az takes a very long time(over a minute and a quarter when tested) when executed the first time in the environment with no connection to raw.githubusercontent.com when invoked in docker container 2.26.1

If one were to enter shell:
`docker run mcr.microsoft.com/azure-cli:2.26.1` and run az twice in a row, only the first invocation is slow. Assume contents of /root/.azure/versi

[2021-08-10 18:10] MehaKaushik commented on #18705
ConnectionKey based access to the resources is not supported using [Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview) based operations. CLI intended to expose the ARM operations.

Ideally, there should be some other tool to access your resources using Connection Key based access. Unfortunately, there is none I am aware of.
CLI is not intende

[2021-08-10 18:13] MehaKaushik commented on #18705
ConnectionKey based access to the resources is not supported using Azure Resource Manager based operations. CLI intended to expose the ARM operations.

Ideally, there should be some other tool to access your resources using Connection Key based access. Unfortunately, there is none I am aware of.
CLI is not intended to be used for this purpose, hence we do not intend to support it.

[2021-08-10 18:20] markjbrown commented on #18705
The cli module you are using predates our current resource provider and has been deprecated.

In either case, all management clients in Azure such as Azure CLI, Azure PowerShell, ARM Templates, Terraform, etc. are designed to talk to the Azure Resource Management (ARM) endpoint management.azure.com. As such we would not look to provide key-based access to Cosmos DB resources using any current Azur

[2021-08-10 18:22] kaburkett commented on #17179
Thanks @Juliehzl for linking this. As a user I am struggling to find any documentation on --file-system parameter. I see 'File Shares' and 'File Service' in storage account config but I am only working with Blob Storage... similar to the poster of this bug. I am wondering if 'File System' parameter is requiring either a File Service or File Share- or maybe all three are the same thing with differe

[2021-08-10 18:33] parth21999 opened #19184 "`az storage account [show/delete/create]` inconsistent across subscriptions"
**Describe the bug**

`az storage account [show/delete/create]` seem to be inconsistent. I tried creating an account but got `(StorageAccountAlreadyTaken)`, but when I tried `show` on the account, I get `(ResourceNotFound)`.

**To Reproduce**

Create a resource group `rg` under subscription `s1`.
Create a storage account `sa` under `s1` and `rg`.

Create a resource group with the same name `rg` un

[2021-08-10 18:42] fgbaezp commented on #10812
Its gonna be 2 years now, no updates?

[2021-08-10 18:51] kaburkett commented on #17179
To me, this does still seem like a bug for even non-gpv2 users though, because, the folder/directory does not need to be empty to fail.. mine is full of great things but still fails when using as directed in usage guide.

[2021-08-10 18:57] krowlandson commented on #19165
@jiasli, thank you for flagging this.

This issues appears to have been raised in various forms over time, however the "fix" which was implemented in #18520 to address issues such as that raised in #7608 has now changed the behaviour of this particular resource in AZ CLI to no longer be idempotent.

This is sending a very confusing message as to whether AZ CLI is being designed to be idempotent or

[2021-08-10 19:08] krowlandson commented on #19184
@parth21999 are you sure you're not confusing the command `az storage account show` which looks for the properties of the specified Storage Account to which you have access, with `az storage account check-name` which is used to check that the storage account name is valid and is not already in use?

If running `az storage account show -n sa -g rg --subscription s2` in your scenario, I would think

[2021-08-10 19:33] cosminstirbu commented on #16111
Any news on this issue? We would like to use this feature for zero-downtime app settings changes (by copying the prod slot to the staging slot, update app settings on the staging slot, swap prod with staging).

[2021-08-10 20:01] sdonohoo commented on #19169
Hi, @jiasli. The Azure CLI and azure-cli-ml extension are preinstalled on an Azure ML compute instance. I believe the cli is installed via pip but I am not certain. I have manually upgrade the cli in the past using 'az upgrade'.

[2021-08-10 22:18] heaths commented on #19171
When an MSI detects that the ProdcutCode and ProductVersion are already installed, it uses the MSI already in the undocumented cache location (I replied offline where that is, but you must not mess with anything in there ever or you could corrupt it and cause the whole thing to be deleted, breaking every MSI on the machine).

If you let msiexec.exe download the MSI it is deleted when processing is

[2021-08-10 22:29] yonzhan commented on #19182
Compute

[2021-08-10 22:35] yonzhan commented on #19183
@jiasli for awareness

[2021-08-10 22:38] yonzhan commented on #10812
ask service team should take a look

[2021-08-10 22:42] yonzhan commented on #19184
Storage

[2021-08-11 00:37] annoakes opened #19186 "Purview GA Azure CLI request, api-version "2021-07-01""
/**Resource Provider**
Microsoft.Purview

**Description of Feature or Work Requested**
Onboard Azure CLI for Microsoft.Purview Resource Provider to preform CRUD operations on resources.
Scope of onboarding is for management plane APIs, resource types are: Accounts, DefaultAccounts, PrivateEndpoints and PrivateLinks

**Minimum API Version Required**
2021-07-01

**Swagger Link**
https://github.com/A

[2021-08-11 00:40] yonzhan commented on #19186
PLR

[2021-08-11 00:55] praenubilus commented on #19130
python pip module on pypl is broken, when executing `azdev setup`, the following error will happen because the pip module is still pointing to `master` branch
[code]

[2021-08-11 01:53] kairu-ms commented on #19186
Hi @annoakes, we have limited bandwidth to do it right now. Because this PLR will be onboarded as an extension which is flexible to release, could we release it in the middle of September?

[2021-08-11 01:57] kairu-ms commented on #19186
@00Kai0 Could add the new PrivateEndpoints and PrivateLinks of Microsoft.Purview in main repo this sprint?

[2021-08-11 02:36] kairu-ms commented on #19130
Thanks for your feedback, It's already fixed in this [PR](https://github.com/Azure/azure-cli-dev-tools/pull/315), which will be contained in next release.

[2021-08-11 02:38] kairu-ms commented on #19181
@PARADISSEEKR, could you please test and update `log-analytics` extension?

[2021-08-11 02:45] kairu-ms commented on #19176
Hi @bweissman, It can work for me.
![image](https://user-images.githubusercontent.com/69238381/128961407-ea4812a9-5995-4fb9-9bb7-006adf63b898.png)
Could you show me the `command arguments` in log by adding `--debug` at the end of your command?
![image](https://user-images.githubusercontent.com/69238381/128961623-8779ee34-f6e8-4e19-89fc-e1bcdc7a1e2d.png)

[2021-08-11 03:09] jiasli commented on #14577
@Zeka13, `az login --identity` is for [managed identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) login. According to [How to use managed identities for Azure resources on an Azure VM to acquire an access token](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token), `169.254.169.25

[2021-08-11 06:26] bweissman commented on #19176
found the issue... before my --dns-name is a zero width space... however it got there...

sorry!

[2021-08-11 06:26] #19176 closed

[2021-08-11 07:11] #18497 closed

[2021-08-11 07:19] #19168 closed

[2021-08-11 07:45] jiasli commented on #19183
The timeout for connecting to `https://raw.githubusercontent.com/` is 10 seconds:

https://github.com/Azure/azure-cli/blob/3e62f39aea845e68f5f944c3c9d14e6d74f1737f/src/azure-cli-core/azure/cli/core/util.py#L275

The switch for version check is at

https://github.com/Azure/azure-cli/blob/a12f5762e02d6d41927280557046eb76241194f2/src/azure-cli/azure/cli/__main__.py#L75

You may turn it off with

[cod

[2021-08-11 08:21] PetrPospisil opened #19193 "Windows 10: AZ cli 2.20.0+ fails psutil.AccessDenied when executed by process with path longer than 107 chars"
**Describe the bug**
The issue is in python distro you are using. "psutil" lib fails with error psutil.AccessDenied
Introduced in 2.20.0 when you started to use psutil lib. Tried multiple AZ CLI versions (2.20.0, ..., 2.27.0)

**To Reproduce**
1] Install AZ CLI
2] Start some random process that has path longer than 107 characters and remember its PID
3] Execure your distro python with script

impo

[2021-08-11 09:08] jiasli commented on #19169
@sdonohoo, I see. `az upgrade` won't help because the latest Azure CLI doesn't work with `azureml-core`. We are working internally with ML team to fix `azureml-core`.

[2021-08-11 09:26] RobHofmann commented on #11863
Running into the same issue. please fix this.

[2021-08-11 10:22] Phrow commented on #16913
Hi, I'm having the same issue. Adding regular ssl-certs from key vault works, but adding a root-cert does not.
Maybe it's related to the fact that the root-cert cannot be added as "certificate" to key vault (because there is no key), but instead must be added as "secret"?
In any case, the only way I found for me was to add the root cert to the gateway by direct upload instead of a key vault refere

[2021-08-11 10:23] yonzhan commented on #19193
@jiasli for awareness

[2021-08-11 13:15] supertzark commented on #7497
I am trying a get a python script run on azure ml .. as I did I am getting this error

Imported Needed libraries
Snowflake connection started
Data ingestion started..
Segmentation fault (core dumped)
azureuser@*********:~/*****/*****/Users/*********$

and if I want to run a notebook via

jupyter nbconvert --execute HRE_Member_Ranking.ipynb it gives me

Traceback (most recent call last):
  File "/a

[2021-08-11 13:48] arykov commented on #19183
1) You clearly have not tried to reproduce
Simple way to do so is this:
- docker run -it mcr.microsoft.com/azure-cli
- `echo "192.168.1.200 raw.githubusercontents.com" >> /etc/hosts`. Put some ip there that is inaccessible. This works in my home network to simulate inaccessible raw.githubusercontents.com. With this setup I get 20 seconds wait time. At work it is ~1minute 20 seconds. Assume TCP con

[2021-08-11 15:19] hari-bodicherla commented on #18943
@zhoxing-ms the capacity reservation is an independent resource and can be created/deleted/updated/list/show with out any relation to VM. Capacity reservation also can be associated with vmss. So if you are asking for the capacity reservation crud operation cli cmd, I think the `az capacity reservation create/udpate/list/show`, is better one.

Thanks

[2021-08-11 15:20] hari-bodicherla commented on #18943
@zhoxing-ms  yes we don't need to implement this in cli if there are no corresponding cmdlets for VM and vmss config . this is used normally to reuse the VM/vmss config by creating it once and then reusing  in multiple update and create cmdlets for powershell.

[2021-08-11 16:41] jonathan-innis opened #19195 "`az config set core.disable_confirm_prompt=true` Does not Ignore `user_confirmation` prompts"
**Describe the bug**
We want to have custom confirmation prompts in our CLI extension, so we are not using the native prompts that come with `custom_command`. Unfortunately, moving to these has the potential to break users considering the fact that `az config set core.disable_confirm_prompt=true` ignores the command_prompt in the `custom_command` but not these `user_confirmation` prompts.

**Expec

[2021-08-11 17:19] jashby44 opened #19196 "az upgrade loops continuously"
## Describe the bug

**Command Name**
`az upgrade`

**Errors:**

Upgrade says it will update to `2.27.1`, but keeps looping and never completes:

[code]

## To Reproduce:
Run an upgrade from MacOS terminal:

[code]

## Expected Behavior

## Environment Summary
[code]

Brew version:

[code]

## Additional Context

Here is some debug output:

[code]

Perhaps a Homebrew issue, but I'm not super famil

[2021-08-11 17:22] jashby44 commented on #19196
I previously enabled auto upgrade. For now I've disabled it again with the following so I can run `az` commands without being prompted to upgrade:

[code]

[2021-08-11 18:15] saswatac commented on #19095
I confirm the issue is resolved in the latest version of the cli.

[2021-08-11 18:15] #19095 closed

[2021-08-11 18:43] jjaguirre394 commented on #18950
@m1kola So this issue will be closed and the fix included in the next release?

[2021-08-11 19:10] andreyza-tr opened #19230 "az logic workflow show error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow show
Extension Name: logic. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow show --r

[2021-08-11 20:33] kensykora opened #19197 "Create IoT Hub DPS Enrollment Group does not properly send certificate data"
**Describe the bug**

When trying to create a DPS enrollment group, the certificate data is not properly sent, which causes the error "TPM or X509 attestation is required." to be returned

**To Reproduce**

 1. Be logged in and have a DPS instance created
 2. Have a file on your current directory called cert.crt

 File will look like this: (`cert.crt`)
[code]
 3. Run the command `az iot dps enroll

[2021-08-11 23:03] yonzhan commented on #19196
@jiasli for awareness

[2021-08-12 00:13] yonzhan commented on #19197
route to service team

[2021-08-12 00:25] Peggysus opened #19198 "SourceFlow Solutions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c3520b-e1ab-8090-9bdb-2506c18cf1aa
* Version Independent ID: d711595b-6162-6b8f-402b-257a7e6dda87
* Content: [az cosmosdb keys](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/keys?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autoge

[2021-08-12 00:28] yonzhan commented on #19198
route to service team

[2021-08-12 00:59] gyalamanch commented on #9562
Program 'az.cmd' failed to run: The system cannot find the file specifiedAt line:1 char:1
+ az --version
+ ~~~~~~~~~~~~.
At line:1 char:1
+ az --version
+ ~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (:) [], ApplicationFailedException
    + FullyQualifiedErrorId : NativeCommandFailed

i am facing this error , not getting how to fix it , as i am using windows 10 machine ,powershe

[2021-08-12 03:02] jiasli commented on #19183
@arykov, thanks for the suggestion. The developer of `az upgrade` has left the team recently, so I need some time to get familiar with it.

I can produce this issue per your steps:

[code]

[code]

`get_latest_from_github` is called twice for both `azure-cli-core` and `azure-cli-telemetry`, so the 20 seconds wait time should be excepted:

https://github.com/Azure/azure-cli/blob/c100b8026cdb4261b77

[2021-08-12 03:19] jiasli opened #19200 "`AZURE_AUTO-UPGRADE_ENABLE` is not a valid env var name on Linux"
It is not possible to set `AZURE_AUTO-UPGRADE_ENABLE` env var on Linux:

[code]

This is not a trivial fix. Possible solutions:

1. **Rename section name `auto-upgrade` to `auto_upgrade`**, so the env var becomes `AZURE_AUTO_UPGRADE_ENABLE`, but it will be difficult to distinguish between the section name and option name in `az config get` (it currently doesn't recognize sections that are set by e

[2021-08-12 03:22] jiasli opened #19201 "Logs from `handle_version_update` is not shown in `--debug` mdoe"
During the execution of `handle_version_update`, all `logger` invocations are not printed even if `--debug` is specified. This is because `handle_version_update` is called in `AzCli.__init__`, long before the logger is initialized.

This makes the troubleshooting of `handle_version_update` difficult.

Knack previously introduced `init_debug_log` and `init_info_log` to save `__init__` logs (https:/

[2021-08-12 03:48] jiasli opened #19202 "Program 'az.cmd' failed to run: The system cannot find the file specifiedAt line:1 char:1"
Program 'az.cmd' failed to run: The system cannot find the file specifiedAt line:1 char:1

[code]

i am facing this error , not getting how to fix it , as i am using windows 10 machine ,powershell 3.10 is installed

_Originally posted by @gyalamanch in https://github.com/Azure/azure-cli/issues/9562#issuecomment-897265333_

[2021-08-12 03:49] jiasli commented on #9562
@gyalamanch, seems to be another issue. Let's work on https://github.com/Azure/azure-cli/issues/19202.

[2021-08-12 03:54] jiasli commented on #19202
@gyalamanch, could you share

1. How did you install Azure CLI? We recommend [installing with MSI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli).
2. Which version of Azure CLI you are using?
3. PowerShell 3.10 is very old. Could you try the latest [PowerShell 7.1](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-wind

[2021-08-12 04:06] jiasli commented on #7497
@supertzark, you issue doesn't seem to be related to Azure CLI.

If you are using Cloud Shell, you may submit an issue at https://github.com/Azure/CloudShell/issues.

If you are using Azure ML, you may submit an issue at https://github.com/Azure/MachineLearningNotebooks/issues

[2021-08-12 05:17] naimadswdn commented on #9128
Hi,
Any progress with encryption/decryption of local files using KV key? Actually I am extremely surprised that Azure CLI do not support it yet!

[2021-08-12 06:21] StutiSri opened #19203 "UnauthorizedBlobOverwrite error even though the blob write is successful and no overwrite attempt is made."
**Describe the bug**
Command
sudo az storage blob upload -f <filename> -c <container> -n <path> --account-name <account-name> --sas-token *******-**-*******************************-**-****************************************************************************** --no-progress;

Output
Client-Request-ID=cc820fe8-f9db-11eb-9bd8-000d3a0613b5 Retry policy did not allow for a retry: Server-Timestamp=Tu

[2021-08-12 07:16] PhaniChiruvolu opened #19205 "az connectedk8s connect failing with "No module named 'Crypto.IO'" in WSL window"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s connect --name {} --resource-group {}`

## Expec

[2021-08-12 07:51] shawnxzq commented on #18536
@yonzhan The is another feature request, please help add this, thanks!

[2021-08-12 07:54] yonzhan commented on #19200
auto upgrade

[2021-08-12 07:56] shawnxzq commented on #18612
@sgutwein I mean you are trying to create a datafactor linked service with type "AzureMLService", and the "authentication" property is not supported by this type of linked service, please see detailed doc below, it's by design.
https://docs.microsoft.com/en-us/azure/data-factory/compute-linked-services#azure-machine-learning-linked-service

[2021-08-12 07:58] shawnxzq commented on #18402
@Juliehzl Any update on this?

[2021-08-12 07:59] yonzhan commented on #19201
upgrade

[2021-08-12 08:58] evelyn-ys commented on #19064
Can you upgrade to the newest version since `2.14.2` is quite old?

[2021-08-12 10:35] yonzhan commented on #19203
Storage

[2021-08-12 10:37] yonzhan commented on #19205
route to service team

[2021-08-12 11:18] Ramblurr commented on #18820
I am having a similar error, except I am running `az` directly, not via a container. The error is occurring when I attempt to set the docker image name

`az webapp config container set --name redacted --resource-group redacted --docker-custom-image-name "ghcr.io/redacted:redacted"`

[code]

[2021-08-12 11:57] michaelruocco opened #19208 "read timeout on az functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-08-12 12:18] yonzhan commented on #19208
route to service team

[2021-08-12 12:39] sdebruyn opened #19209 "az login fails with got an unexpected keyword argument 'user_agent'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-08-12 12:40] sdebruyn commented on #19209
Duplicate of https://github.com/Azure/azure-cli/issues/19169

[2021-08-12 12:40] #19209 closed

[2021-08-12 14:53] calebherbison opened #19210 "WebApp:Unable to restore webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deleted restore`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deleted restore -g {} -n {} --deleted-id {}`

## Exp

[2021-08-12 15:29] gyalamanch commented on #19202
PS C:\Users\gyalamanch001> Get-Command az | Format-List

Name            : az.cmd
CommandType     : Application
Definition      : C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd
Extension       : .cmd
Path            : C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd
FileVersionInfo : File:             C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd

[2021-08-12 15:35] StaceyZhou2017 commented on #15989
hi, i am facing the same issue. is there any update?

[2021-08-12 15:39] gyalamanch commented on #19202
Point 1 : yes its with MSI
Point 2 : running with 2.7.1
point 3 : installed powershell 7.1
point 5 : yes

[2021-08-12 15:48] Piotr1215 commented on #18963
I can confirm that the bug was resolved with the latest version

![image](https://user-images.githubusercontent.com/8086638/129227359-2943c198-3972-4905-8cbe-6f96e0d5f35d.png)

The image can be built successfully.

[2021-08-12 16:08] esmcelroy-rci commented on #12289
This is still an issue to date! Would love to see this resolved. Even if you force the SCM_DO_BUILD_DURING_DEPLOYMENT in your .deployment, on the function app and all slots, it forces it back to false! Not looking forward to publishing using the REST API, but I'm going to have to build a workaround for this issue...
I'm trying to deploy a .NET Core function app as well, and this is still a problem

[2021-08-12 16:09] ddanboyle opened #19211 "az connectedk8s proxy gives cannot load native module Crypto.Hash._MD5"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s proxy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s proxy -n {} -g {}`

## Expected Behavior

## Envir

[2021-08-12 17:20] Vaibhav-Agar commented on #19153
Hi @rjmccallumbigl , as this seems to be a transient issue which we are not able to reproduce, I am going to close it for now. If you do encounter this again, please feel free to reopen.

[2021-08-12 17:20] #19153 closed

[2021-08-12 17:33] lukasmeirelles opened #19212 "Is there a way to retrieve secret values from the CLI?"
Using `variable-group show` we can retrieve all variables in that group but all secrets have null values with "isSecret" flag as true.

Is there any way we can use that boolean flag to use any (other) CLI command to retrieve the value for a secret?

I understand that might represent a security issue but that could enable us to use those values dynamically.
I wonder if that issue might be fixed wit

[2021-08-12 17:49] arykov commented on #19183
A "nice to have" would be adding parameter to az that would induce the same type of behaviour. It would make one liner slightly less awkward
`(export AZURE_AUTO_UPGRADE_ENABLE=false && az)`
vs
`az -disableUpgrade` or something along these lines

[2021-08-12 17:55] asilverman opened #19213 "`az deployment sub create` returns unstructured error output message"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The error output that the `az` tool is outputting is not structured and hard to read, see below:
[code]
**Command Name**
`az deployment sub create`

**Errors:**
The error message is hard to read and is shown to user in an unstructured way, please offer a better experience so that it is easier to use.

## To Rep

[2021-08-12 18:37] alxchv opened #19214 "az upgrade failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade --all {}`

## Expected Behavior

## Environment Summary
[code]
##

[2021-08-12 18:54] MichaelDenwood commented on #18080
It appears in 2.27.1 when running against Azure DevOps self hosted agent.  My command is slightly different:

`az functionapp deployment slot auto-swap --slot staging -g 'resourcegroup'  -n 'appname'`

This command (-g and -n changed for privacy) works fine from my local computer.  Running cli version 2.19.1  However, when running the latest version in the agent (2.27.1) it produces the dreaded er

[2021-08-12 19:16] yanfa317 opened #19215 "ANM Public Preview Azure CLI request, api-version '2020-02-01-preview'"
**/Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Onboard Azure CLI for AzureNetworkMangaer under Resource Provider Microsoft.Network to preform CRUD operations on resources.
Resource types are: NetworkManagers and its children resource networkGroups, connectivityConfigurations, securityAdminRuleConfigurations, securityRuleCollections, securityAdminRules, secur

[2021-08-12 21:06] ddanboyle commented on #19211
note I was able to fix myself by doing an az extension update --name connectedk8s

Maybe have a warning with the azure cli that tells you if extensions are old or have possible updates?

[2021-08-12 22:00] yonzhan commented on #19215
@kairu-ms for awareness

[2021-08-12 22:17] yonzhan commented on #19211
route to service team

[2021-08-12 22:19] yonzhan commented on #19213
ARM

[2021-08-12 22:22] yonzhan commented on #19212
route to service team

[2021-08-12 22:25] yonzhan commented on #19210
route to service team

[2021-08-12 22:33] jjaguirre394 commented on #18950
Can anyone who works on this area confirm if this fix is included in the latest release (2.27.1)? If so, this issue can be closed?

[2021-08-12 22:40] jjaguirre394 commented on #18950
Looks like it is working in version 2.27.1 for me, but I need to tie my investigation back to this issue being closed in order to proceed. Any response on this would be much appreciated.

[2021-08-13 00:12] annoakes commented on #19186
Hello, is it possible to get Sept 1st week? That is the current timeline for the other PLR sign offs, apologies for this coming in late, but there are only a few resources to track here

[2021-08-13 01:34] yonzhan commented on #19186
@annoakes Due to recent re-org, we have attrition in my team and our developers are occupied with knowledge transition. I think it is very hard to commit the Sept 1st week.

[2021-08-13 01:47] jiasli commented on #19183
Thanks for the suggestion.

**Disabling version check** is more of a global configuration. `--disable-upgrade` in such case is a per-command configuration. You will need it for every commands. If any command doesn't have it, the version check will kick in. We just want to make configurations more concentrated to `az config` and env vars.

In addition, `--disable-upgrade` will be a global argument.

[2021-08-13 02:06] jiasli commented on #19202
This is weird. If you check the content of `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd`, it is simply a cmd script which launches Python with Azure CLI:

[code]

1. Does `az` work in Command Prompt?
2. Could you check the content of `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd`?

[2021-08-13 02:22] jiasli opened #19217 "`--assignee-principal-type` is not honored if Graph query for `--assignee-object-id` succeeds"
Related to #17669

`--assignee-principal-type` is not honored if AD Graph query for `--assignee-object-id` succeeds.

Notice `--assignee-principal-type User` is provided in the command but `"principalType": "Group"` is used to create the role assignment:

[code]

This is because `objectType` returned by AD Graph takes higher precedence:

https://github.com/Azure/azure-cli/blob/df737edb429a03a16794

[2021-08-13 02:29] jiasli commented on #19217
Because of this behavior,

- https://github.com/Azure/azure-cli/pull/19132

won't work at all because `objectType` returned by AD Graph takes higher precedence and `ForeignGroup` will be replaced with `Group`.

[code]

[2021-08-13 04:13] jiasli commented on #19217
There is a test aiming to verify Graph call is not triggered.

https://github.com/Azure/azure-cli/blob/87004321ec280e092fc41febf4ada3b58f01f388/src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py#L371-L372

But the Graph call is not checked. It succeeds even when Graph call is triggered.

[2021-08-13 04:55] #19077 closed

[2021-08-13 05:55] jsntcy commented on #19135
Seems it's the issue related to backend service as you can see the response body from service is empty, so route to service team
[code]

[2021-08-13 06:52] #17891 closed

[2021-08-13 07:42] shawnxzq commented on #18612
Answered the question, by design due to the property is not supported.

[2021-08-13 07:42] #18612 closed

[2021-08-13 08:00] mowtschan commented on #19027
Guys, any updates? I have the same issue on my mac (macOS 11.5.2, 6-Core Intel Core i7)
Yesterday `az` just stopped working (but worked before!)
[code]

[code]

[code]

[code]

[code]

[2021-08-13 08:08] jiasli commented on #19202
I found these posts on internet:

- https://stackoverflow.com/questions/15485632/node-js-npm-error-message-system-cannot-find-the-path-specified
- https://devblogs.microsoft.com/oldnewthing/20071121-00/?p=24433
- https://github.com/cmderdev/cmder/issues/121#issuecomment-48052882

The error doesn't seem to come from `az.cmd`, but from some misconfiguration of CMD itself. Could you open Registry Edi

[2021-08-13 08:38] xenatisch commented on #18875
UK South and UK East have been updated too, so I'm closing the issue now.

[2021-08-13 08:38] #18875 closed

[2021-08-13 10:39] jiasli commented on #19214
The error is triggered by

https://github.com/Azure/azure-cli/blob/3d14ca21e648f4fc0124132a43156a85a50251cd/src/azure-cli/azure/cli/command_modules/util/custom.py#L152-L153

Looks like the JSON returned by `az version -o output` is somehow incorrect.

Could you share the return of `az version -o output`?

[2021-08-13 10:59] jiasli commented on #19196
On a first glance, this is because `2.27.1` is available on GitHub:

https://github.com/Azure/azure-cli/blob/da3ff654f80f749525ee5c321c37dc041f1061d2/src/azure-cli-core/setup.py#L11

but not available on Homebrew yet because the PR has not been merged:

- https://github.com/Homebrew/homebrew-core/pull/83088

Then a loop happens:

- `az upgrade` finds from GitHub that there is a new version `2.27.1

[2021-08-13 13:02] swathikrishnaguru opened #19221 "Unable to access API via terraform"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2021-08-13 14:43] yonzhan commented on #19221
@jiasli for awareness

[2021-08-13 14:45] jmyersmsft opened #19223 "--feed argument accepts views"
To download from a specific view, users can append to the name of the feed an @ symbol followed by the name of the view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae588e5-6e79-0a3e-56fb-78976019b011
* Version Independent ID: 70e209c8-948c-8baf-3472-e1920c498a2c
* Content: [az artifacts universal](https://docs.mic

[2021-08-13 14:50] yonzhan commented on #19223
route to service team

[2021-08-13 15:31] gyalamanch commented on #19202
i do not see that in the path
![image](https://user-images.githubusercontent.com/88805737/129382936-0094e035-2ec3-49bd-90a9-7275a72d241f.png)

[2021-08-13 16:04] ramya894 commented on #19210
Looking in to the issue

[2021-08-13 16:16] juhlee-microsoft opened #19224 "Optional parameters are no longer optional"
[Enter feedback here]
Run 'az keyvault certificate show-deleted' command, but it keeps asking those optional parameters. The doc said those are optional but does not look optional anymore. Is it the bug in az keyvault module? or, an incorrect information on the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2021-08-13 16:18] shescripts commented on #11718
This is still an issue for us. Any updates to resolve?

[2021-08-13 17:22] vakuncha opened #19226 "Elastic GA Cli"
**Resource Provider**

Microsoft.Elastic

**Description of Feature or Work Requested**

https://www.elastic.co/blog/getting-started-with-the-azure-integration-enhancement

**Minimum API Version Required**

2020-07-01

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/elastic.json

**Target Date**

27

[2021-08-13 17:31] tommyle225 opened #19227 "az sql server update publicnetworkaccess"
Executing both from DevOps and locally are giving this error.

+ az sql server update --admin-password XXXXXXXXXX --name d ...--enable-public-network true
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (WARNING: Argume...s/CLI_refstatus:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

ERROR: (External

[2021-08-13 17:42] christianfosli opened #19228 "`az sql server update --set` fails when ad-admin principalType is null"
**Describe the bug**

I first add an AzureAD administrator to my SQL server using `az sql server ad-admin create`, or by performing a similar action in the Azure portal. This appears to work fine.

If I then try to update an unrelated field on my SQL server using `az sql server update --set`, then the command will fail with an error that the AzureAD admnistrator is missing principal type.

**Comma

[2021-08-13 18:15] christianfosli commented on #19228
I see we were two people reporting the same issue at the same time :sweat_smile:
Duplicate with #19227
I'll leave this open for now since I think I describe it more thoroughly

[2021-08-13 19:12] annoakes commented on #19186
Understood, does that put the commitment at 9/10?

[2021-08-13 23:02] yonzhan commented on #19230
route to service team

[2021-08-13 23:06] yonzhan commented on #19228
route to service team

[2021-08-13 23:07] yonzhan commented on #19227
route to service team

[2021-08-13 23:08] yonzhan commented on #19226
@jsntcy for awareness

[2021-08-13 23:10] yonzhan commented on #19224
Key Vault

[2021-08-14 00:00] trias702 opened #19232 "KeyError 'serverVersion'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --name {} --resource-group {} --acr {}`

## Expected B

[2021-08-14 00:03] yonzhan commented on #19232
route to service team

[2021-08-14 03:37] jiasli commented on #19202
You are checking `HKEY_LOCAL_MACHINE`. How about `HKEY_CURRENT_USER`?

[2021-08-14 04:01] jiasli commented on #19196
We have released 2.27.1 and this issue should be fixed. (Still, we need to solve the endless loop issue.)

[2021-08-14 06:10] mowtschan commented on #19027
`brew install azure-cli`, installs now v2.27.1 and it works again for me!

[2021-08-14 12:37] gyalamanch commented on #19202
both

[2021-08-14 14:56] #17818 closed

[2021-08-14 17:49] gsumit10 opened #19233 "CLI for VPN Mulit-Link feature"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Need CLI changes to support Multi-Link feature in VPN Site and VPN Connection resources.
VPN Site resource is for the VPN on premise configuration and VPN Configuration is for connection to the VPN Site from Azure for Hybrid connectivity. We are introducing a new feature to add Multiple Link capabilities to VPN S

[2021-08-14 18:09] smereczynski commented on #19027
I can confirm. It works after upgrade to 2.27.1.

[2021-08-14 21:25] TeamDman commented on #14200
Looks like `--target-resource` is no longer a valid param for the `a add-record` commands?
Can't find a way to do it with bicep either ):

[code]

[code]

[2021-08-14 23:32] snaheth commented on #18915
Hi @gopisettyr, thanks for bringing this up.

When you check your `PATH` variable (`$Env:PATH` in PowerShell, for example) - do you see a path listed that contains a python executable (something like `D:\Python38\`)?

[2021-08-14 23:41] anthony-c-martin commented on #19213
@asilverman if possible, it would be helpful if you could also include the `.bicep` file you're using to deploy this resource.

[2021-08-14 23:51] yonzhan commented on #19233
@kairu-ms for awareness

[2021-08-15 00:33] asilverman opened #19234 "WARNING: version difference between client (1.x) and server (1.y) is displayed when running `az aks check-acr`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az cli seems to internally use kubectl to perform the check for `az aks check-acr`  this results in a warning in the output as seen in the errors section

From  offcial K8s documentation

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2021-08-15 03:40] regulator-g commented on #18493
The issue is azure CLI version is 2.18 when 2.27 exists

this is caused because a package has not been created for Ubuntu 21.04 hirsute hippo

[2021-08-15 03:42] regulator-g opened #19235 "No package for Ubuntu 21.04 Hirsute Hippo"
**Describe the bug**
Your current Azure CLI version is 2.18.0. Latest version available is 2.27.1.
The repository 'https://packages.microsoft.com/repos/azure-cli hirsute Release' does not have a Release file.

**To Reproduce**
az upgrade

**Expected behavior**
az upgrade should successfully install 2.27

**Environment summary**
Ubuntu 21.04 with Microsoft PPA added

**Additional context**
Microsof

[2021-08-15 09:33] yonzhan commented on #19234
route to service team

[2021-08-15 09:34] yonzhan commented on #19235
@jiasli for awareness

[2021-08-15 13:30] jiasli commented on #19202
I don't really know what is going wrong with the CMD on you system. 😥 Does it happen on another computer? Or could you create another Windows user to isolate the problem?

[2021-08-15 13:37] gyalamanch commented on #19202
reimaged the laptop to fix the issue

[2021-08-15 13:45] jiasli commented on #19027
I am glad to know it works.

We bumped the underlying Python to 3.9 (#18224, #19222, https://github.com/Homebrew/homebrew-core/pull/83088), though I don't exactly know why it fails previously on Python 3.8. Looks like something else installed by Homebrew conflicts with Azure CLI. We never see this problem in the tests of our release pipeline, which runs on a clean MacOS 10.14.

[2021-08-15 13:54] jiasli commented on #19106
We recently bumped the underlying Python to 3.9 in Azure CLI 2.27.1. Some users report it is working as expected (https://github.com/Azure/azure-cli/issues/19027#issuecomment-898939377), could you upgrade to the latest version?

[2021-08-15 14:29] theoaks commented on #19106
The issue is now resolved. Thanks

[2021-08-15 14:29] #19106 closed

[2021-08-16 02:35] kairu-ms commented on #14200
@TeamDman `--target-resource` is used in record set. So it is available in `az network dns record-set a create` and `az network dns record-set a update`

[2021-08-16 02:53] zhoxing-ms commented on #18943
https://github.com/hari-bodicherla/azure-rest-api-specs/blob/606074d0c2248882599854f9e8bed38fa9fc00e1/specification/compute/resource-manager/Microsoft.Compute/stable/2021-04-01/compute.json#L9163-L9168
@hari-bodicherla Hi, I would like to confirm that it means that the parameters `zones` can only pass in one value? If so, why is it defined as an array type?

[2021-08-16 05:02] georgeOsdDev opened #19236 "WebApp:Failed to execute az webapp deployment source config-local-git with --slot option"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az webapp deployment source config-local-git ` command will fail if slot option is specified.

**Command Name**
`az webapp deployment source config-local-git`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive info

[2021-08-16 05:50] yonzhan commented on #19236
route to service team

[2021-08-16 06:08] jiasli commented on #19202
@gyalamanch, I am glad to know the issue is fixed. It is very likely to be caused by some other installed software or anti-virus software that corrupts the PowerShell or CMD environment.

[2021-08-16 06:08] #19202 closed

[2021-08-16 06:12] jiasli commented on #19235
Azure CLI currently doesn't support Ubuntu 21.04. Detailed explanations and workaround are provided at https://github.com/Azure/azure-cli/issues/18703.

[2021-08-16 06:18] jiasli commented on #19221
The error `Temporary failure in name resolution` indicates DNS resolution doesn't work as expected on your computer. You may check if `login.microsoftonline.com` can be resolved correctly:

[code]

BTW, `2.0.81` is a very old version. Please follow [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) to install the latest Azure CLI from of

[2021-08-16 08:18] huski1017 commented on #18987
Hello @yonzhan,

It's been over 20 days without any update. Is there any news about this ticket?

[2021-08-16 09:21] yonzhan commented on #18987
Bot Services team should look into this.

[2021-08-16 10:01] zhoxing-ms commented on #18943
I see the command `New-AzCapacityReservation` of `PowerShell` has designed these two parameters:
1. `[-CapacityToReserve] <Int32>`: I haven't seen it's definition in Swagger or SDK. What is it's function? Do we need it in CLI?
2. `[-WhatIf]`: our team is not responsible for the support of `what-if` related features at present. Does this parameter also need to be supported at present?

[2021-08-16 10:07] zhoxing-ms commented on #18943
https://github.com/hari-bodicherla/azure-rest-api-specs/blob/606074d0c2248882599854f9e8bed38fa9fc00e1/specification/compute/resource-manager/Microsoft.Compute/stable/2021-04-01/compute.json#L4323-L4327
I'd like to ask whether the parameter `$expand` can be passed into `virtualMachineScaleSetVMs/$ref` and `virtualMachines/$ref` at the same time? Or are they mutually exclusive?

[2021-08-16 10:07] hctru68 commented on #7013
Thanks, brave geek. It's working fine as your guide.

[2021-08-16 10:48] egilh commented on #19027
az cli no longer working on my machine, running macOS 11.5.1.
Started to fail after i ran ```brew update && brew upgrade```
Tried to reinstall python3 and az cli with brew, still no luck.

[code]
[code]
[code]
[code]

[2021-08-16 11:35] regulator-g commented on #19235
ok thanks, I am hoping that a package for 21.04 will be released soon

[2021-08-16 12:14] #19041 closed

[2021-08-16 13:32] meenakshiyuvaraj opened #19238 "Enable Azure Defender Through ARM templates in Azure"
**Describe the bug**

Enable Azure Defender Through ARM templates in Azure. getting error while running this template through Azure devops pipeline.

**To Reproduce**

Here is the template.
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "storageAccount_name": {
            "type": "Str

[2021-08-16 14:48] KevinDMack opened #19239 "Issue running installation script on Linux"
**Describe the bug**
When trying to install the CLI, I'm getting the following:
Get:1 file:/var/nccl-repo-2.2.13-ga-cuda9.2  InRelease
Ign:1 file:/var/nccl-repo-2.2.13-ga-cuda9.2  InRelease
Get:2 file:/var/nccl-repo-2.2.13-ga-cuda9.2  Release [574 B]
Hit:3 http://azure.archive.ubuntu.com/ubuntu bionic InRelease
Hit:4 http://azure.archive.ubuntu.com/ubuntu bionic-updates InRelease
Get:2 file:/var/n

[2021-08-16 14:56] Kotasudhakarreddy commented on #19236
Able to repro the issue.

[2021-08-16 15:27] yonzhan commented on #19238
ARM

[2021-08-16 15:29] yonzhan commented on #19239
@jiasli for awareness

[2021-08-16 15:45] PetrPospisil commented on #19193
I tracked the issue to psutil python lib 32b running under wow64 WIN10 64b causing this issue.

[2021-08-16 16:20] hari-bodicherla commented on #18943
we need to mention it as array type since this is the restriction from ARM side that zones should be always array even we allow single zone.

[2021-08-16 16:21] hari-bodicherla commented on #18943
They are not mutually exclusive, customer can add both to get the VM references as well as vmss VM references in the response.

[2021-08-16 16:22] hari-bodicherla commented on #18943
This is present default in almost of all the existing cmdlets for resources, if the cli is not supporting this param, then that is fine since it is not supported for existing ones, so customer should not be expecting this param

[2021-08-16 17:52] peddibindu82 commented on #19228
Hi, I am facing the same issue when using the Azure CLI Task with azure pipelines. Any resolution for this issue ?

[2021-08-16 22:25] yonzhan commented on #19228
sql service team should look into this

[2021-08-17 01:50] sarahwangsw opened #19243 "run into server_hostname when running az cli command"
**Describe the bug**

installed latest version of Azure CLI but run into the error "check_hostname requires server_hostname" for most az commands.
**To Reproduce**

az extension add --name azure-devops
Unable to get extension index.
Response body does not contain valid json. Error detail: check_hostname requires server_hostname

**Environment summary**

 az version
{
  "azure-cli": "2.27.1",
  "az

[2021-08-17 02:11] sjwaight commented on #18807
Looks like (1) has been fixed. If (2) is due to platform differences that's fine - as you suggested the Docs maybe need to be clearer on that front. Moving to closed.

[2021-08-17 02:11] #18807 closed

[2021-08-17 02:42] #18746 closed

[2021-08-17 02:54] jiasli commented on #17666
As the error message indicates:

[code]

this issue is not caused by Azure CLI. Instead, it is caused by the invalid `https://dl.bintray.com/` added to the [SourcesList](https://wiki.debian.org/SourcesList):

- `/etc/apt/sources.list`, or
- `/etc/apt/sources.list.d/`

You may confirm this by checking these locations:

[code]

You may delete the problematic `https://dl.bintray.com/`, then follow [I

[2021-08-17 02:55] jiasli commented on #19239
Duplicate of #17666

Please see https://github.com/Azure/azure-cli/issues/17666#issuecomment-899953711 for the solution.

[2021-08-17 02:55] #19239 closed

[2021-08-17 03:04] kairu-ms commented on #19215
The latest code is in https://github.com/kairu-ms/azure-cli-extensions/tree/feature-network-manager-onboarding

[2021-08-17 03:15] #18304 closed

[2021-08-17 03:39] jiasli commented on #19193
Thanks @PetrPospisil for the comprehensive analysis.

I can repro by launching a very long process like `D:\loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooog\python-3.9.6-embed-amd64\python.exe`, then repro it with Azure CLI's bundled 32-bit Python:

[code]

64-bit Python shows no problem:

[code]

We do have a plan to use 64-bit Python (https://github.com/Azure/

[2021-08-17 05:19] yonzhan commented on #19243
@jiasli for awareness

[2021-08-17 05:45] PetrPospisil commented on #19193
I submited PR to the PSUtil lib

https://github.com/giampaolo/psutil/pull/1981

[2021-08-17 06:13] samhughes91 commented on #19124
I'm having the same issues in our PRD environment.

@Gordonby do you mind sharing your try/catch solution? I tried this but failed. My PS knowledge is not up to the level I wish it was :)

[2021-08-17 07:57] jacktong opened #19246 "Failded to approve key Vault private endpoint in data factory managed VNet with Azure CLI"
**Describe the bug**

Cx got a '_NoneType' object is not subscriptable_' error, when approve key vault endpoint in managed network with the following command.
id = (az keyvault show -n mykv --query "privateEndpointConnections[0].id")
az keyvault private-endpoint-connection approve --id $id

This problem only happens to _bash for windows_. We confirmed that we _can approve with prompt command and c

[2021-08-17 08:47] Krishnadas-KP opened #19247 "(ExternalAdministratorPrincipalType) Invalid or missing external administrator principal type. Please select from User, Application or Group."
**Describe the bug**
On Azure CLI version 2.27.1, trying to update a SQL server is triggering the following error
ExternalAdministratorPrincipalType) Invalid or missing external administrator principal type. Please select from User, Application or Group.

The same query worked on AZ CLI version 2.16.0 and prior.

**To Reproduce**
Upgrade AZ CLI to the latest version and try to update a SQL server

[2021-08-17 08:52] #15220 closed

[2021-08-17 09:29] yonzhan commented on #19246
keyvault

[2021-08-17 09:31] yonzhan commented on #19247
route to service team

[2021-08-17 11:40] jikuja commented on #14070
Any status updates for this?

Asking because this is blocking https://github.com/Azure/azure-cli/issues/17989

[2021-08-17 12:13] blackbaud-james-williams opened #19248 "az aks get-credentials writes success message as a warning to stderr"
**Describe the bug**
`az aks get-credentials` writes a message ("Merged "{}" as current context in {}") when it has succeeded. In the past, this message was written to stdout.

A [recent change to src/azure-cli/azure/cli/command_modules/acs/custom.py](https://github.com/Azure/azure-cli/pull/18031/files#diff-f1fc443c5eb2ddee110be5f06110930285573e1debf2640ab83dead88943a9a5) changed this message from

[2021-08-17 13:19] ats-myo opened #19249 "ZIP does not support timestamps before 1980 when deploying Django app using webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --name {}`

## Expected Behavior

## Envir

[2021-08-17 13:53] ChrisPetr0 commented on #18684
Good Morning,

I experience "Tier" missing in both `az disk show --ids <disk_id>` and also pwsh module `RetrieveDiskDetails -disk_name $os_disk_id -resource_group $resource_group`, consistently across multiple subscription ids.

I'm putting together a retail pricing report and this data is consistently missing and only shows up in about 5% of the disks either OS or Data Disk.  I was going to go do

[2021-08-17 14:10] yonzhan commented on #19248
route to service team

[2021-08-17 14:10] yonzhan commented on #19249
route to service team

[2021-08-17 14:12] ats-myo commented on #19249
Issue was occuring because I had node modules in my Django app. Closed

[2021-08-17 14:12] #19249 closed

[2021-08-17 14:51] elissonalvesilva opened #19250 "Error to install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-08-17 16:11] fgheysels commented on #18699
Thanks, this was indeed the reason.

It's not clear to me however, how we can 'find out' the namespace of the image (of influxdb in this case), as you always see that you can just do `docker pull influxdb` for instance.

[2021-08-17 16:12] #18699 closed

[2021-08-17 16:21] #18705 closed

[2021-08-17 16:25] AverageDesigner commented on #19198
@Peggysus, Can you please provide the actual question that you are trying to ask.

[2021-08-17 16:47] VikasPullagura-MSFT opened #19251 "Wrong output for az vm run-command invoke command"
**Describe the bug**
Wrong output for `az vm run-command` invoke command

**To Reproduce**
Below telnet ip and port is wrong but out shows as provisioning succeeded. Ideally it should fail.

VM : Windows

MYID@Azure:~$ az vm run-command invoke -g MYRG -n MYVM --command-id 'RunPowerShellScript' --scripts 'telnet 10.0.4.9 8080'
{
"value": [
{
"code": "ComponentStatus/StdOut/succeeded",
"displayStatu

[2021-08-17 17:47] prongcs opened #19252 "Question - Missing 'Key-value' argument support in servicebus namespace keys renew command"
Hi All,

Was there a recent change to remove 'key-value' argument support in ServiceBus Namespace Keys rotation? However, the ServiceBus Topic and Queue keys rotation does support 'key-value' argument.

I noticed this behavior as some of our automations to renew ServicBus Namespace keys started failing.

Here are the azure docs for reference:
https://docs.microsoft.com/en-us/cli/azure/servicebus/n

[2021-08-17 18:14] Remi-Faydide opened #19253 ""'NoneType' object is not iterable" on several commands from "az storage account ""
## Describe the bug

**Command Name**

- `az storage account list`
- `az storage account list --help`
- `az storage account management-policy show --resource-group {resource-group-name} --account-name {storage-account-name}`
- `az storage account management-policy show --help`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior.

here are the commands where I've faced this issue

[2021-08-17 18:15] rellis-of-rhindleton commented on #19123
Sigh… never mind. I had an old IP restriction on the app service. The command works fine. Sorry for the trouble.

[2021-08-17 18:15] #19123 closed

[2021-08-17 18:50] shenglol commented on #19124
Fixed in Azure CLI 2.27.1

[2021-08-17 19:16] srvrguy commented on #19027
I can confirm this issue still exists. I went the extra mile of removing all my installed brew formula (only keeping casks), verifying that all the formula were removed, and then reinstalling only azure-cli so that only that formula and the required dependencies exist. This is on an M1-based MBP on 11.5.

[code]

[2021-08-17 19:37] Qi-Jian-Huang-DevOps commented on #19124
@shenglol
looks like there is a delay (around 1 week) between the release available for users to download and available in Microsoft hosted agents.

[2021-08-17 20:38] vhhughes opened #19254 "Error loading command module 'batch': cannot import name 'ComputeNodeExtensionOperations' from 'azure.batch.operations'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault secret set --name {} --vault-name {} --value {}`

## Expected Behavior
The secret is created

[2021-08-17 23:01] yonzhan commented on #19250
route to service team

[2021-08-17 23:03] yonzhan commented on #19251
Compute

[2021-08-18 00:00] yonzhan commented on #19252
route to service team

[2021-08-18 00:03] yonzhan commented on #19253
Storage

[2021-08-18 00:06] yonzhan commented on #19254
keyvault

[2021-08-18 02:05] jiasli commented on #14070
For now, you may use the workaround provided by https://github.com/Azure/azure-cli/issues/17989#issuecomment-866804559.

[2021-08-18 02:12] zhoxing-ms commented on #18684
@ChrisPetr0  Thank you for your email. Neither CLI nor PowerShell return the data of tier because the service API does not return the data. This issue belongs to the service team, it needs them to investigate.
**correlation-id: d83ab220-401c-4311-9cfe-23e1045f269ds**

[2021-08-18 02:55] clarkezone commented on #7368
@jiasli the python install listed above did indeed work.  I suggest you update the docs to reference this rather than merely stating that the deb package doesn’t support it.

[2021-08-18 02:56] jiasli commented on #19027
Could you help verify if the installation of Azure CLI by Homebrew is correct by running:

[code]

[2021-08-18 02:59] clarkezone commented on #7368
Spoke to soon.. although the pip based install above worked, the az command is DOA.

[2021-08-18 03:17] jiasli commented on #7368
@clarkezone, we don't recommend installing via `pip` as it tends to cause all kinds of problems (https://github.com/Azure/azure-cli/issues/16526#issuecomment-893947765).

Do you mean DOA as "Dead On Arrival"? Are you seeing any failure? Please make sure the one installed by `apt` is uninstalled first.

[code]

[2021-08-18 03:30] jiasli commented on #19179
Azure CLI command `az ad sp create-for-rbac` doesn't create apps with `identifierUris` anymore (https://github.com/Azure/azure-cli/pull/18312), so showing an SP created by `az ad sp create-for-rbac` with `identifierUris` (`http://<display-name>`) doesn't work now. Please use the `appId` of the app or `objectId` of the SP in `az ad sp show --id`.

[2021-08-18 03:34] heaths opened #19256 "Az cmdlets should allow any network operations to be timed out."
**Is your feature request related to a problem? Please describe.**

The Azure SDK team has experienced since REST calls that never returned - even after an hour of waiting. No network app should really be without a way to cancel, and it so happens that the Azure SDKs - in all languages, but I'll focus on .NET here - have a way for apps to do that. This way, we're not blocked waiting for a network

[2021-08-18 04:19] heaths commented on #19256
Or is this what is intended with the `-AsJob`. The original concern was that `-AsJob` typically returns a background process, but in testing these further it seems they are lightweight and can, in fact, be cancelled via the `Cancel()` method (unlike `ThreadJob.Stop($true)` currently to forcibly stop a job, since the `force` parameter is ignored).

[2021-08-18 04:26] yonzhan commented on #19256
You could create an issue in powershell repo: https://github.com/Azure/azure-powershell

[2021-08-18 06:41] evelyn-ys commented on #19246
It's because in git bash all string beginning with `/` will be taken as a file path and git bash will auto-complete 'full path' with where git bash locates.

That's to say, `/subscriptions/00000000-XXXX-XXXX-XXXX-000000000000/resourceGroups/...` will be replaced with `C:/Program Files/Git/subscriptions/00000000-XXXX-XXXX-XXXX-000000000000/resourceGroups/...`. So Azure CLI can't identify such `priv

[2021-08-18 06:41] #19246 closed

[2021-08-18 06:46] zhoxing-ms commented on #18943
@hari-bodicherla Hi, at present, the URL of CLI request for REST is `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}`
Why does the current service return this error?

**'x-ms-correlation-request-id': '9c432ac6-78d0-4c7f-9762-1bc476fa57a2'**

[2021-08-18 06:53] egilh commented on #19027
I think I found my culprit:
[code]

I did the following:
Uninstall all pip packages:
[code]
Delete all pip cache:
[code]
Uninstall pip:
[code]
Fix possible old package permissions:
[code]
Reinstall python3.9 using brew:
[code]
Reinstall azure-cli:
[code]
Seems to solve path for the azure module:
[code]
[code]
This is probably not the solution for everyone (and probably not the best or easiest), bu

[2021-08-18 06:54] jacktong commented on #19246
Thank you for your investigation. for sure it is not a problem on Azure CLI, but kind of a problem on bashforwindow, will issue a new ticket on bashforwindow.

[2021-08-18 07:04] kemmemha commented on #15932
Is there any update on this issue? We are also encountering this issue pretty regularely. It appears in CI / CD after 50 installations "az aks install-cli".
We use `--base-src-url` and `-l` over an Artifactory server with the hope to prevent this from happening but we same error occurs.

[2021-08-18 07:53] ramya894 commented on #19210
I am able to repro the issue. Will work on the fix.

[2021-08-18 08:00] #18486 closed

[2021-08-18 09:13] geoff-lewis commented on #7874
This was causing me the same problem and I couldn't find a workable solution until I came accross this: https://stackoverflow.com/questions/66674862/azure-cli-unable-to-escape-pipe-character-in-windows-powershell/66677070#66677070

Replacing the | pipe with the : colon character worked for me using BASH

az webapp create -g resourcegroup \
    -p plan  \
    -n name \
    --runtime "NODE:10.14"

[2021-08-18 10:32] yukirii commented on #19232
I could reproduce the error with AKS cluster using authorized IP address ranges. When executing the command from an unauthorized client, client timeout exceeded and displayed `KeyError: 'serverVersion'`.

[code]

[2021-08-18 13:32] chrisadkin opened #19261 "infrastructure is not an optional parameter"
Contrary to what the documentation claims, infrastructure is not an optional parameter.

[2021-08-18 13:36] chrisadkin opened #19262 "Azure subscription parameter"
In the synopsis of the az arcdata dc create command the subscription parameter (which is required) is not specified.

[2021-08-18 13:44] egilh commented on #19027
Follow up from my last comment:
This all of sudden stopped working again
[code]
Checking path for the azure module:
[code]
This suddenly changed again.
All I have done post re-installing azure-cli as per my last post, is to install ansible and ansible-lint using pip, as well as installing the required packages for the Ansible collection, see (https://github.com/ansible-collections/azure/blob/dev/r

[2021-08-18 14:02] yonzhan commented on #19262
route to service team

[2021-08-18 14:03] yonzhan commented on #19261
Please share more detailed info related to which CLI command.

[2021-08-18 14:13] fgendc opened #19263 "AKS LoadBalancer not listed in azure-cli"
A LoadBalancer created via AKS and called kubernetes-internal isn't listed using the command `az network lb list ` but appears in the Portal.
It's the only LoadBalancer in the subscription. az cli only lists it when I manually add another LoadBalancer via the Portal or modify the existing LB, with a tag for example.

**Command Name**
`az network lb list`

## To Reproduce:
- Having a Subscription w

[2021-08-18 14:14] chrisadkin commented on #19261
The infrastructure parameter is in the section for parameter which are optional, it needs to be removed from this section on the page and placed with the parameters which are mandatory, i.e. those parameter you must specify in order for the controller to be created successfully.

[2021-08-18 14:20] yonzhan commented on #19263
network

[2021-08-18 15:12] srvrguy commented on #19027
I was starting to run through the new troubleshooting when I discovered the same thing as egilh. Once I got to the interactive import, I saw two paths, one to the homebrew install and one to a local site-packages (/opt/homebrew/lib/python3.9/site-packages/azure for me on am M1 machine). Once I purged those packages, the az command began to work again.

[2021-08-18 15:59] Klaas- opened #19264 "[Feature] Build retry logic into azure-cli for rate limiting"
**Is your feature request related to a problem? Please describe.**

Currently azure-cli is able to do queries against API endpoints that can be rate limited. I would like azure-cli to retry based on the output of the server response, either by default or via cli argument, so I am guaranteed a command succeeds and I don't have to code a retry logic outside of azure-cli.

**Describe the solution you

[2021-08-18 16:30] panchagnula commented on #6638
@JasonFreeberg - need some clarification on this issue - should settings marked slot settings be copied during slot create using configuration source or clone operations? From one of the comments above, portal was copying over all settings during slot create - irrespective of it being slot settings or not. I believe portal client does an explicit copy of all the settings, is this the expected beha

[2021-08-18 16:31] panchagnula commented on #17531
Making this duplicate of original issue #6638

[2021-08-18 16:31] #17531 closed

[2021-08-18 16:35] heaths commented on #19256
So how is cancellation handled in the az CLI? Is there a default timeout? I don't see anything obvious in general or command-specific help. There's `-no-wait` for kicking off a background job. Does this imply, then, that Ctrl+C against the CLI or just killing background jobs is the solution for the CLI? (Which is fine; Ctrl+C didn't work for the Az cmdlets in this state because of how PowerShell p

[2021-08-18 16:51] rahul602 commented on #18684
Tier is only available for new premium sku disks created after the feature to change performance tier was GA (July 2020). Some disk created before that might have tier if they were created in the regions where this feature was in preview. If an existing disk is resized, customer explicitly sets a tier on the disk or if it's sku changes from standard to premium, service API will start returning tie

[2021-08-18 17:21] cadeavil-msft opened #19265 "piping output to other programs ('less' here) causes a "broken pipe" error"
I am able to reproduce at-will by:

az vm boot-disgnostics get-boot-log | less

and by quitting less without browsing to the end of the output.

### **This is autogenerated. Please review and update as needed.**
## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redac

[2021-08-18 18:05] bipul-jha commented on #14091
Hey, I'm facing similar problem here.
I deleted a keyvault with soft-delete enabled, but can't really view in the list, to recover/purge it.

Any update on this thread so far? @solita-burri

[2021-08-18 18:24] jamesc opened #19266 "Microsoft.Logz new GA service request"
**Resource Provider**
Microsoft.Logz

**Description of Feature or Work Requested**
New GA Service through PLR.
High-level overview: https://docs.microsoft.com/en-us/azure/partner-solutions/logzio/create

**Minimum API Version Required**
2020-10-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/logz/resource-manager/Microsoft.Logz/stable/2020-10-01

**Target

[2021-08-18 18:28] jlichwa commented on #14091
It is as designed by service, only highly privileged users with subscription level access can recover the vault.

[2021-08-18 19:17] middleagedman commented on #16390
I've just found this issue as well.. Writing some azcli code for my coworkers and need to have it clean up afterwards.  You can do this with the az powershell modules, but I'd rather write it in az cli.

Set-AzKeyVaultAccessPolicy -VaultName $VaultName -UserPrincipalName $User -PermissionsToCertificates @()

[2021-08-18 19:38] migueldotzip opened #19267 "How to select capacity mode serverless with Azure CLI commands (az cosmosdb create)?"
In the documentation there is no mention of selecting serverless as an option. Is it even possible to create a serverless cosmos db resource through Azure CLI commands?

https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create

[2021-08-18 20:30] Oddwrench commented on #14163
Still getting this error in the Cloud Shell. **Any idea when this will be implemented?**
Configuring alerts with ActionGroups is the only manual step in our fully automated DTAP environment setups using dozens of YAML pipelines. It would really help us out here.

[2021-08-18 20:32] mcarter106 opened #19268 "Error installing aks cli from windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

[2021-08-18 20:37] JereStay opened #19269 "Managed identity token retrieval for RBAC does not work with Cosmos DB dedicated gateway URL."
## Describe the bug
With a Cosmos Db configured with dedicated gateway, there is a different URL to use to go through the gateway. This URL does not seem to work with the Get Token request based on the error below.

I have checked that the direct URL does work in my code but that bypasses the gateway and I lose out on integrated caching feature.

**Command Name**
`az account get-access-token`

**E

[2021-08-18 21:30] migueldotzip commented on #19267
For anyone struggling with the same issue as me, I found the solution, see the following:

az cosmosdb create -g $resourceGroupName -n $resourceName --capabilities EnableServerless

[2021-08-18 21:30] #19267 closed

[2021-08-18 21:44] binte commented on #19179
So, that is why my scripts stopped working :)  Thank you for the explanation! In the meantime, I was able to have my scripts work again by updating the `az ad sp create-for-rbac` command, to the following:

`az ad sp create-for-rbac  --name $SP_NAME --id http://$SP_NAME`

So I explicitly create the id I was using before [#18312](https://github.com/Azure/azure-cli/pull/18312) when running the `az a

[2021-08-18 21:44] #19179 closed

[2021-08-18 22:21] yonzhan commented on #19264
Core

[2021-08-18 22:27] yonzhan commented on #19265
Compute

[2021-08-18 22:29] yonzhan commented on #19266
PLR

[2021-08-18 22:35] yonzhan commented on #19268
route to service team

[2021-08-18 22:35] yonzhan commented on #19269
@jiasli for awareness

[2021-08-19 01:44] jiasli commented on #19256
## Azure PowerShell vs Azure CLI

**Az cmdlets** are from [Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/?view=azps-6.3.0), not [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). They are 2 different tools with completely different implementation mechanisms:

- Azure PowerShell consists of native PowerShell cmdlets
- Azure CLI consists of Python script

[2021-08-19 01:47] tdihp commented on #18528
Indeed, this error message is very misleading on many levels.

1. We observe users fail due to a graph API call instead of the actual role assignment call. This creates most confusion as users try and try on resetting ARM permission.
2. The client doesn't even need owner permission of the subscription. This question assumes a easy but very overkill role. It only actually need: a) [User Access Admi

[2021-08-19 02:13] jiasli commented on #19179
I don't think `--id http://$SP_NAME` will work, as [`az ad sp create-for-rbac`](https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az_ad_sp_create_for_rbac) doesn't take an `--id` argument:

[code]

With Azure CLI, the only way to update `identifierUris` of an app is through [`az ad app create`](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az_ad_app_c

[2021-08-19 03:10] #18555 closed

[2021-08-19 03:54] jiasli commented on #19027
According to https://github.com/Homebrew/brew/issues/1790, system `site-packages` (`/usr/local/lib/python3.9/site-packages`) shouldn't be included when executing `/usr/local/Cellar/azure-cli/2.27.1/libexec/bin/python`, but they are:

[code]

Checked the `pyvenv.cfg` and it does show `include-system-site-packages = true`:

[code]

[Python for Formula Authors](https://docs.brew.sh/Python-for-Formula

[2021-08-19 04:10] twright-msft commented on #19262
--subscription is a global parameter in the Azure CLI and is mentioned in the Global Arguments section and in the example:

[code]
Since it is a global argument in Azure CLI, we can't control the display of the parameters 'requiredness' for this command unfortunately.  If you have done `az login`, then the command will assume you want to use your current subscription (`az account show`), but if  y

[2021-08-19 04:13] twright-msft commented on #19261
@chrisadkin - the `--infrastructure` parameter is a tricky one.  The default is `auto` which will attempt to determine the infrastructure automatically by looking at the current context Kubernetes node annotations.  If it can automatically determine it then it is not _required_ as a user input.  If it cannot be automatically determined _and_ the user didn't provide it, then the CLI will prompt for

[2021-08-19 05:00] jiasli commented on #19027
## Cause

As discussed in https://github.com/Homebrew/discussions/discussions/2009, this issue is caused by installing [Ansible collection for Azure](https://github.com/ansible-collections/azure) to the system `site-packages` with `pip`.

https://github.com/ansible-collections/azure/blob/dev/requirements-azure.txt requires:

[code]

The installation of `azure-cli-nspkg==3.0.2` (now deprecated) mak

[2021-08-19 05:18] amarkwong opened #19272 "az container create cannot parse sas token as secrets"
**Describe the bug**
I was trying to create an azure container instance from my image in acr. For some reason I want to have my sas token mounted as secrets. However it failed.

![image](https://user-images.githubusercontent.com/6657590/130010248-e394d21e-5ea5-4a5e-aece-21268537db5d.png)

I think the reason of this might be the **&** and it was not protected by the quotation mark and interpreted a

[2021-08-19 06:27] yonzhan commented on #19272
route to service team

[2021-08-19 06:54] jiasli commented on #19243
Seems to be related to https://stackoverflow.com/questions/66642705/why-requests-raise-this-exception-check-hostname-requires-server-hostname. Could you check the proxy configuration?

[2021-08-19 07:13] #18953 closed

[2021-08-19 07:22] michaelbertoni commented on #19247
I have the same issue as well, I believe it is because my Azure SQL Server has an Azure Active Directory admin, but I haven't managed to test a az sql server update command logged as that admin user.

[2021-08-19 07:25] Krishnadas-KP commented on #19247
I tried an az sql server update command with a previous version of the CLI and it worked. So I believe its just the CLI version that's the problem

[2021-08-19 07:30] michaelbertoni commented on #19247
Removing the AD Admin and running an az sql server update command worked on my side.

[2021-08-19 07:35] jiasli commented on #18772
Duplicate of #19027

[2021-08-19 07:35] #18772 closed

[2021-08-19 07:39] #10467 closed

[2021-08-19 08:22] 00Kai0 commented on #18250
Hi @dejan-shuki , can you describe it more clearly, what kind of example do you need ?

[2021-08-19 08:41] jiasli commented on #19269
`--resource` specified in `az account get-access-token` should be the **resource/audience** for the access token, because

- the gateway (proxy) simply passes the access token to the backend Cosmos DB without checking it
- AAD doesn't recognize the gateway   URL.

In your case, it should be the URL of the backend Cosmos DB, instead of the proxy's URL `https://learncachedev.sqlx.cosmos.azure.com`.

[2021-08-19 08:51] jiasli commented on #19269
`--resource` specified in `az account get-access-token` should be the **resource/audience** of the access token (`aud` claim). You should use the backend Cosmos DB's URL, instead of the dedicated gateway (proxy)'s URL `https://learncachedev.sqlx.cosmos.azure.com`, because

- the dedicated gateway (proxy) simply passes the access token to the backend Cosmos DB without checking it
- AAD doesn't reco

[2021-08-19 08:51] #19269 closed

[2021-08-19 09:07] roelarents opened #19274 "`az storage container list` sets empty `inlcude` query param which Azurite cannot digest"
**Describe the bug**
`az storage container list` adds an empty `inlcude` query param which Azurite cannot digest

**To Reproduce**
* run Azurite with default settings. maybe add `--debug /dev/stdout`
* run `az storage container list`
* endure the error message `Operation returned an invalid status 'Bad Request'`
* see the logs from Azurite mentioning `error: ErrorMiddleware: ErrorName=Deserializat

[2021-08-19 09:10] yonzhan commented on #19274
storage

[2021-08-19 09:24] ArturKa77 opened #19275 "Problem with az on macOS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal --username {} --tenant {}`

## Expected Behavior

[2021-08-19 10:01] jikuja opened #19276 "Provide tenant DisplayName and DefaultDomain on az account commands or provide a command to fetch tenant information"
**Is your feature request related to a problem? Please describe.**
Selecting correct subscription from `az account list` is hard if identical subscription names are used on multiple tenants because:
1. The command does not output tenants' DisplayName and DefaultDomain
2. AZ CLI does not provide a command to list tenants

**Describe the solution you'd like**
`az account list` and `az account show`

[2021-08-19 10:42] yonzhan commented on #19275
@jiasli for awareness

[2021-08-19 11:03] chrisadkin commented on #19261
With the latest Azure CLI updated yesterday, the Arc SQL MI instance failed
to deploy, the CLI stated that the infrastructure parameter needed to be
provided and then exited.

On Thu, 19 Aug 2021 at 05:13, Travis Wright ***@***.***>
wrote:

[2021-08-19 11:09] abragsta opened #19277 "Changes in swagger description leads to failing az apim api import command"
**Describe the bug**

I'm trying to import an API Definition into API Management using the following command:

`az apim api import --resource-group $(ApimResourceGroup) --service-name $(ApimName) --specification-format OpenApiJson --api-revision $(Revision) --api-version v1 --api-id $(ApimApiId) --api-version-set-id $(ApimApiId) --specification-url $(ApiSpecificationUrl) --service-url $(ApiUrl) --

[2021-08-19 12:14] Evogelpohl commented on #19135
@jsntcy

Same issue. However, instead of using:
 `az consumption usage list`

 I'm using PowerShell's (PSVersion 7.1.4) `Invoke-RestMethod` with $uri:
 ` 'https://management.azure.com/subscriptions/xxxx-xxxxx-xxxxx-xxxx/providers/Microsoft.Consumption/usageDetails?startDate=2021-06-01&endDate=2021-06-10&$top=5&api-version=2019-10-01 `

Same result. No Payload:
`with 0-byte payload
VERBOSE: receive

[2021-08-19 13:51] yonzhan commented on #19276
@jiasli for awareness

[2021-08-19 13:53] yonzhan commented on #19277
route to service team

[2021-08-19 13:57] jiasli commented on #19276
Indeed, Azure CLI calls [Tenants - List](https://docs.microsoft.com/en-us/rest/api/resources/tenants/list) to get all tenants the user has access to.

The REST response does contain `displayName`, `defaultDomain`, along with other information.

[code]

We will consider this as a feature request.

[2021-08-19 14:28] jiasli commented on #19275
Looks like [`getpass.getpass`](https://docs.python.org/3/library/getpass.html) somehow becomes a module.

Could you check if `getpass` is imported from the correct path?

[code]

[2021-08-19 14:53] hari-bodicherla commented on #18943
Sorry for the delay, I was oof for some time.
Which Region are you trying to reach when you are trying to trigger the operation on Capacity Reservation @zhoxing-ms . Few validations regions need additional AFEC flags that needs to be whitelisted for subscription to get CR resource support in that region. I just checked the operation details for above correlation id and it was found that operation

[2021-08-19 15:09] YoupHulsebos commented on #19228
Hi, I am facing the same issue when using the Azure CLI Task with azure pipelines. Any resolution for this issue ?

[2021-08-19 15:09] AnthonyRobinson opened #19278 "ISO 8601 duration times generate error during "az servicebus topic create""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az servicebus topic create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az servicebus topic create --name {} --namespace-name {} --re

[2021-08-19 16:11] heaths commented on #19256
Yes, I know they are different. I asked about the Az cmdlets internally and someone told me to open an issue here. Will close.

No, Ctrl+C does not work for PowerShell cmdlets because they are not separate processes nor does PowerShell really rely on Ctrl+C cancellation. It uses jobs, which Az cmdlets do support but not correctly. The internal discussion continues.

[2021-08-19 16:11] #19256 closed

[2021-08-19 16:12] christianfosli commented on #19247
This has been reported a couple times earlier already (#19227 , #19228 ). So far no news. I'm curious if someone has started working on it.

[2021-08-19 16:16] christianfosli commented on #19228
A work-around is to remove the AD-Admin from the SQL server. But then that group/app/person looses access.

[2021-08-19 17:52] binte commented on #19179
Indeed you are right, the solution I proposed does not work. Thanks for the information @jiasli

[2021-08-19 18:26] AverageDesigner commented on #18809
This doc is being auto-generated. Reaching out to the respective team to find the process of auto generation.

[2021-08-19 18:46] christianfosli commented on #19228
Another work-around is to use an old version of Azure CLI. Version 2.16.0 is known not to have this bug.

Something like this works for me in bash, and could be put into a Bash task in Azure Pipelines

[code]

[2021-08-19 19:07] avirishuv commented on #18259
hi @whites11 sorry for the delay. Are you still observing this issue?

When I repro'd it does not occur. I created a VMSS with upgrade mode as Rolling and Health monitoring enabled. I added a disk to one instance using CLI cmd, but all the instances in the portal still show as Latest Model = Yes.

[2021-08-19 19:45] AndresPad opened #19279 "Add to each 'File system name' Reference in the page a note that says use your container name"
Could we please add a note everywhere we see _'File system name.'_ that says the following:

File system name (i.e. container name).

I see that a number of customers have had issues getting back ACLs and they are confused about what the File System Name is.

It would be great to add some clarification as to what the File System Name is.

Thanks
-Andres

---
#### Document Details

⚠ *Do not edit t

[2021-08-19 19:56] pragnagopa commented on #19035
When not using Azure Files but using Managed Identity for AzureWebJobsStorage
`az functionapp deployment` should default to remote build. As the app is not using Azure Files, if using Run from package =1, content will upload to data\sitePackages - Windows Consumption, Dedicated, Linux Dedicated.

When using Azure Files but using Managed Identity for AzureWebJobsStorage
- Remote build does not work

[2021-08-19 20:46] timvandenhof commented on #19228
Well there was a massive commit with breaking change in it:
https://github.com/Azure/azure-cli/commit/588910d98f07a885c3d840a548c72fc599a44df1

The SDK is updated and it contains a few changes related to managed identity, and aad admin. Didn't dive into it further, but that would be the commit that might have caused it.

Is there a way we can assist the service team?

[2021-08-19 21:20] msibrichins opened #19281 "CVE issues in v2.27.1 docker image"
**Describe the bug**

The azure-cli v2.27.1 docker image (mcr.microsoft.com/azure-cli:2.27.1) currently reports a critical and high CVE, CVE-2021-36159 and CVE-2021-36159 respectively.  Alpine has already patched the issues.  I believe the Azure CLI alpine image just needs to `apk upgrade` those packages to resolve.

See attached Trivi image scan output
[report.txt](https://github.com/Azure/azure-

[2021-08-19 21:34] msibrichins commented on #19281
Looks like the issue comes from the upstream `python:${PYTHON_VERSION}-alpine3.13` Docker image.  It is fixed in the alpine 3.14 image, albeit I checked a slightly newer Python patch version: `python:3.8.11-alpine3.14`

[2021-08-19 23:38] panchagnula commented on #16473
@anthonychu please assign this back to me when swagger updates are completed so we can work on SDK update & complete this task as well.

[2021-08-19 23:56] yonzhan commented on #19278
route to service team

[2021-08-19 23:59] yonzhan commented on #19247
sql service team should look into this.

[2021-08-20 00:00] zhoxing-ms commented on #18943
@hari-bodicherla  So at present, only some regions on the white list support capacity reservation, right? Will this restriction affect users in other regions after the release of CLI? Can service provide more friendly and specific error information?

What do we need to do for this?

[2021-08-20 00:42] yonzhan commented on #19279
Storage

[2021-08-20 00:45] yonzhan commented on #19281
@jiasli for awareness

[2021-08-20 01:43] jsntcy commented on #19135
@Evogelpohl, for PowerShell issue, please report issue in https://github.com/Azure/azure-powershell which is owned by other team.

[2021-08-20 02:17] 00Kai0 commented on #19039
Hi @stmaute , can you try with `backendIPConfigurations`.
The definition: https://docs.microsoft.com/en-us/rest/api/application-gateway/application-gateways/create-or-update#applicationgatewaybackendaddresspool

[2021-08-20 02:23] hari-bodicherla commented on #18943
@zhoxing-ms , Currently we have PR in review to remove the afec flag dependency for prod regions and this will enable customers in all prod users to be able to access the Capacity reservation with out whitelisting to afec. Also we provide specific detailed error information mentioning that subscription is not whitelisted to specific AFEC flag to access the CR resource.

[2021-08-20 02:59] 00Kai0 commented on #19155
Hi @ErezEyal , this operation works well at our testcase. But It's true that the description has some mistakes. Thanks for your report :)

[2021-08-20 07:22] gsumit10 commented on #19233
The rest api doc is very old. There have been some additional updates to the link object. Please check the latest VPN Site link and Vpn link connection resources in swagger to incorporate all parameters

[2021-08-20 07:46] 00Kai0 commented on #19066
Hi @mcarter106 , Can you show more detail about creating your resource step by step?
I can't reproduce this error on my resource.

[2021-08-20 08:28] gregorybleiker opened #19288 "az interactive JMESpath with `??` is not the same as with `--query`"
In az interactive mode you can use `??` to get the last command output and `??[jmespath query]` according to the documentation. However, the following works on the command line:

[code]

but the equivalent does not in az interactive

[code]

[2021-08-20 08:46] ArturKa77 commented on #19275
➜  bin ./python -c "import getpass; print(getpass, getpass.getpass)"
<module 'getpass' from '/usr/local/Cellar/python@3.9/3.9.6/Frameworks/Python.framework/Versions/3.9/lib/python3.9/getpass.py'> <function unix_getpass at 0x102d71d30>
➜  bin

[2021-08-20 09:10] yonzhan commented on #19288
route to service team

[2021-08-20 09:21] yellowhat commented on #18415
Are there any update on this?

Thanks

[2021-08-20 09:34] evelyn-ys commented on #18415
Wait for service side to explain

[2021-08-20 09:35] PARADISSEEKR commented on #16029
Hi,@DanoThom  ,in az monitor autoscale rule create it sets the direction to None, it is just a temporary setting, and it will be processed later. You can refer to the following code to see if the subsequent operation meets your expectations
https://github.com/Azure/azure-cli/blob/58ff25ffb12db1067c4d23437af5b7f32d038e1e/src/azure-cli/azure/cli/command_modules/monitor/actions.py#L292-L318

https://

[2021-08-20 09:36] DennisSc commented on #18531
Hi,
at the moment, I am trying to download NET core 3.1 SDK from "packages.microsoft.com", using a 250MBit DSL line but only getting 40 KBytes/sec. download speed

[2021-08-20 09:37] PARADISSEEKR commented on #16027
Refer to this https://github.com/Azure/azure-cli/issues/16029#issuecomment-902567357

[2021-08-20 09:40] jiasli commented on #18531
For .NET Core issue, please feel free to create a new issue at https://github.com/dotnet/core

[2021-08-20 09:44] DennisSc commented on #18531
I'd rather call it not a NET core issue, but a network bandwidth issue (affecting the same location that your team uses to host the azure-cli downlaods, mind you)

anyway it finished downloading, eventually.
"Fetched 80.9 MB in 12min 54s (104 kB/s)"

[2021-08-20 10:03] ar-schrodinger opened #19292 "azure snapshot using `begin_create_or_update` function gives DeserializationError"
similar to #19188

**Describe the bug**
azure snapshot creation using `begin_create_or_update` function on a VM disk gives the below error.

[code]

**To Reproduce**

[code]

**Expected behavior**

function results metadata about the created snapshot

**Environment summary**
Environment summary
CentOS 8
az-cli 2.27.1
python 3.6.8
pip 20.0.1

**Additional context**
Aim is to create a clone of VM an

[2021-08-20 10:05] yonzhan commented on #19292
route to service team

[2021-08-20 10:16] zhoxing-ms commented on #19292
@ar-schrodinger Could you send me specific commands, parameters and the debug logs printed during execution by email?
You can add parameter `--debug` at the end of the original command, then send me the printed information.
My email address is Zhou.Xing@microsoft.com, thanks~

[2021-08-20 12:39] Evogelpohl commented on #19135
It isn't a PowerShell issue. It's a billing-service issue. Any program that can call a REST endpoint - az (python), invoke-restmethod (powershell/.net), Postman - all return the same empty `value {}` for me.

I was reenforcing the fact that this bug is repo'able by other REST clients, beyond the Az CLI.

Hope that helps. Thanks!

[2021-08-20 14:57] eliezersoares opened #19294 "az role assignment create --assignee $CLIENT_ID --role acrpull --scope $ACR_ID"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --role {} --scope {}`

[2021-08-20 15:57] yonzhan commented on #19294
@jiasli for awareness

[2021-08-20 18:30] jjaguirre394 commented on #18950
Hi @yonzhan any update on this?

[2021-08-20 19:59] darrinthomascecil opened #19296 "az vm extension image list doesn't show all versions"
**Describe the bug**

The package aadsshlogin-selinux-1.0.016890001-1.x86_64.rpm was recently pushed after a GPG  key bug fix, but does not show up when listing images

**To Reproduce**

az vm extension image list -l westus2 --publisher Microsoft.Azure.ActiveDirectory --output table
Name                 Publisher                                 Version
-------------------  ------------------------

[2021-08-20 21:24] agm83 opened #19298 "DesktopVirtualization hostPool Name max length wrong value"
If a host pool name exceeds 24 characters I will not be able to use it in any command that specifies this name. This was working in the previous version of the CLI, at  minimum the one available a month ago.

**To Reproduce**
1. create a host pool with a name longer than 24 characters using the Portal or Azure Powershell (obviously not cli at this point)
2. try to perform any operation in that hos

[2021-08-20 23:10] twright-msft commented on #19261
@chrisadkin  - `--infrastructure` isn't a parameter to `az sql mi-arc create` so that seems unlikely.  Do you mean that the _data controller_ create failed?  If so, that's by design if you are running on an infrastructure where the infrastructure [aws, azure, gcp, ..] cannot be automatically detected.  If you are running the `az arcdata dc create` command in interactive mode and  you don't provide

[2021-08-20 23:43] yonzhan commented on #18950
redis service team should look into this

[2021-08-20 23:47] yonzhan commented on #19296
Compute

[2021-08-20 23:49] yonzhan commented on #19298
route to service team

[2021-08-21 02:04] #19121 closed

[2021-08-21 09:17] carsv opened #19299 "Azure kubernetes service in "show more" returns 404."
[Enter feedback here]

title selfexplanatory.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90848717-3ba9-0895-98ad-95b8a8a48a2f
* Version Independent ID: 2226b763-42c7-5c6b-7d32-ad76b1b43dc8
* Content: [az acr token](https://docs.microsoft.com/en-us/cli/azure/acr/token?view=azure-cli-latest)
* Content Source: [latest/

[2021-08-21 14:19] yonzhan commented on #19299
route to service team

[2021-08-21 15:56] bandsina commented on #19169
@jiasli , @sdonohoo Actually, az upgrade command worked for me and got rid of this error on az login.

[2021-08-21 17:09] robmaynardjr opened #19300 "az upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network {} --name {} -g {} --address-prefix {} --subnet-name {} --subnet-p

[2021-08-22 00:18] yonzhan commented on #19300
network

[2021-08-22 01:54] nthewara commented on #12691
@yonzhan @qianwens - Any update on this ? This would be good feature to have specifically when we need to re-run cli scripts

[2021-08-22 18:31] nkirkpatrick commented on #14881
I was able to resolve by removing /users/your-user-name/.Azure directory and reinstalling azure-cli via brew.

[2021-08-22 22:22] maxvandl commented on #18884
Hello! Any new about issue? On latest azure-cli same problem

[2021-08-22 22:22] #18883 closed

[2021-08-22 22:37] SvenAeltermanInfo commented on #10700
@armleads-azure Is there an update?

Essentially, when exporting an ARM template of an ADLS Gen 2 storage account, you can't re-apply as exported. Only by removing the `properties` property entirely does the template deploy.

It seems the error might be related to the `defaultEncryptionScope` property of `properties`. When it's the only property present, the error changes to this:

**Container enc

[2021-08-23 01:36] kairu-ms commented on #19300
@robmaynardjr If you mean to create the `vnet`, you should use `az network vnet create` command.

BTW You can always add `--help` to see the help message of any commands. For example `az network vnet --help`

[2021-08-23 01:36] #19300 closed

[2021-08-23 01:49] #19155 closed

[2021-08-23 02:55] jsntcy commented on #19298
CLI need upgrade API version from [2019-12-10-preview](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json#L2957) (max_length: 24) to [2021-07-12](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/desktopvirtualization/resource-manager/M

[2021-08-23 03:18] jiasli commented on #12691
@nthewara, currently there is no plan to implement such feature due to other high priority tasks. Also, this would require changes in all mgmt-plane commands' `--name` arguments, or possibly even `--vnet-name` from `az network vnet subnet create`, `--account-name` from `az storage container create`. This will certainly make commands exponentially more complicated.

We recommend using your own hash

[2021-08-23 04:17] stmaute commented on #19039
@00Kai0 Thanks for your answer. I can try to use the REST API but would rather do it with the Azure CLI because everything we are doing is automated via the Azure. CLI.

Only for clarification: Currently it is not possible to assign a backendIPConfiguration to an application gateway via Azure CLI. Is this correct? If yes, will this be supported in the future?

[2021-08-23 06:14] jiasli commented on #19169
@bandsina, if you upgrade Azure CLI, the ML SDK `azureml-core` on the instance will be broken. We would still recommend installing Azure CLI in a virtual environment for the time being until `azureml-core` bumps the dependency on `azure-mgmt-resource` to track 2. See https://github.com/Azure/azure-cli/issues/18626#issuecomment-887411446.

[2021-08-23 07:00] jiasli commented on #19300
You are using a very old version 2.22.0 of Azure CLI that doesn't include the full call stack in `az feedback` result (https://github.com/Azure/azure-cli/pull/17353). Could you share the full call stack?

For `psutil.AccessDenied`, it is very likely to be caused by https://github.com/Azure/azure-cli/issues/19193. We will workaround it with https://github.com/Azure/azure-cli/pull/19244.

[2021-08-23 07:23] dimitrisfinas commented on #19027
same for me

[2021-08-23 07:23] #19027 closed

[2021-08-23 07:35] zhoxing-ms commented on #18943
Hi, @hari-bodicherla I still have this problem after using the above regions.

Such as: **'x-ms-correlation-request-id': 'e2a31220-c6ca-4250-9e46-a7c0af912833'**

What else do I need to do?

[2021-08-23 08:01] elygre opened #19305 "Simplify process for working with corporate MITM-proxies"
I'm trying to run "az upgrade", which fails beautifully presumably due to the corporate proxy we have. https://github.com/Azure/azure-cli/issues/17938#issuecomment-890038445 gives some information on how to solve it, including a link to https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy.

The outlined mechanism seems ... convoluted. It suggests that I should edit `C

[2021-08-23 08:03] yonzhan commented on #19305
@jiasli for awareness

[2021-08-23 08:05] harsh-arora-by commented on #14597
Any update on this?

[2021-08-23 08:19] PARADISSEEKR commented on #17929
Hi @chigeroo ,Maybe you can try the updated version. I did not find the same problem in the following versions.
azure-cli: 2.27.0
logic: 0.1.4
This is the command I used:`az monitor autoscale profile create -g rg --autoscale-name myvmss -n test1 --copy-rules default --min-count 1 --count 2 --max-count 2 --recurrence week sat --timezone "Pacific Standard Time"`

[2021-08-23 09:55] oscarhermoso commented on #14880
@jiasli @zhoxing-ms @evelyn-ys @kairu-ms

Are we able to re-open this issue please, unfortunately tripped up me and my co-worker @MingoZhangAus

[2021-08-23 11:05] whites11 commented on #18259
I confirm this does not seem to happen any more

[2021-08-23 13:30] blochl opened #19306 "Please enable VM disk export via the az CLI"
**Is your feature request related to a problem? Please describe.**
I want to automate the image generation process, in order to include it in a CI pipeline. The only link which is missing for a fully automated process, is VM disk export - basically, the process which is described [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/download-vhd#generate-sas-url). I found no way to

[2021-08-23 13:30] CharbelHanna opened #19307 "az login fail with error (find_subscriptions_on_login() got an unexpected keyword argument 'scopes')"
### **This is autogenerated. Please review and update as needed.**

## After upgrading the AZ cli do 2.27.1 az login fail with the below error,
to note that the issue will be resolved if you downgrade to an earlier version ( 2.25.0) for example

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they m

[2021-08-23 14:01] sdonohoo commented on #19169
Thank you, @jiasli.

I did try updating both the az cli and azureml extension this morning. The az cli updated from 2.27.0 to 2.27.2 and at least the 'az login' error has gone away on the compute instance. I am able to login. It's not clear to me what other breakage might exist. It's worth noting that, at this time, I am working with the AzureML cli 2.0 preview extension (v2.0.1a5) which did not u

[2021-08-23 14:07] yonzhan commented on #19306
Compute

[2021-08-23 14:09] yonzhan commented on #19307
@jiasli for awareness

[2021-08-23 15:38] mcollier opened #19308 "ParentResourceNotFound during what-if operation when using Azure CLI 2.27"
## Describe the bug

Azure CLI 2.27.0 and 2.27.1 appear to have a regression from 2.26.1 in how What-If analysis is performed.

Using Azure CLI 2.26.1, the Azure Bicep file **test.bicep** (which includes two modules, **key-vault.bicep** and **network.bicep** will succeed in performing a What-If analysis.  However, using Azure CLI 2.27+ on the same files, the command will fail.

**Command Name**
`a

[2021-08-23 16:16] AErmie opened #19309 "AZ Deployment Group What-If -- Azure Bicep Output Not Produced For Modules with Dependencies"
## Describe the bug
When using `az deployment group what-if` with Azure Bicep templates that are called via modules, only modules without any dependencies actually produce/show their output (ie. what will be created). All other resources are not listed, giving the incorrect assumption that they will not be created.

**Command Name**
`az deployment group what-if --resource-group GHES-aermie --templ

[2021-08-23 16:28] lluuiissoo opened #19310 "Please update docs for network firewall policy rule update to reflect correct protocols"
Hello,

I recently found an issue with the docs on this page: https://docs.microsoft.com/en-us/cli/azure/network/firewall/policy/rule-collection-group/collection/rule?view=azure-cli-latest#az_network_firewall_policy_rule_collection_group_collection_rule_update

**--protocols**
`Space-separated list of protocols and port numbers to use, in PROTOCOL=PORT format. Valid protocols are Http, Https.
--re

[2021-08-23 16:38] vhhughes commented on #19254
Any update here? Since the time I reported this, I have attempted to uninstall the Azure CLI MSI (or repair it) on this Windows server and found that it fails. So, I seem to have no way at present to recover the Azure CLI on the VM where we use and need it. Thanks.

[2021-08-23 16:48] roelarents opened #19311 "az storage remove ignores (BlobEndpoint part of) connection string"
**Describe the bug**
`az storage remove` ignores (part of) connection string

**To Reproduce**
* run Azurite with default settings. maybe add `--debug /dev/stdout`
* `export AZURE_STORAGE_CONNECTION_STRING='AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;DefaultEndp

[2021-08-23 18:05] Phoenix1112 opened #19313 "why this command not working???"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network traffic-manager profile check-dns`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network traffic-manager profile check-dn

[2021-08-23 18:15] hari-bodicherla commented on #18943
Yes @zhoxing-ms  Currently the AFEC removal changes are still in PR so you need to whitelist the sub t AFEC to access the CR resource. Please share your subscription, I can help in whitelisting the sub with AFEC

[2021-08-23 18:46] jander-msft opened #19314 "`az aks get-credentials` writes to stderr on successful acquisition starting in 2.27.1"
**Describe the bug**
`az aks get-credentials` writes to stderr when merging kubernetes context into file starting in Azure CLI version 2.27.1

**To Reproduce**
[code]

The test.kubeconfig.stdout file is empty but the test.kubeconfig.stderr file contains `WARNING: Merged "*****" as current context in *****\test.kubeconfig`. The test.kubeconfig file did not exist before executing the `get-credential

[2021-08-23 19:00] craigktreasure opened #19315 "As of 2.27.1 `az aks get-credentials` emits output to stderr"
### `az aks get-credentials` emits output to stderr, as of CLI version 2.27.1. This was not the case in 2.27.0.

**Describe the bug**

We run `az aks get-credentials` in our build pipeline. In 2.27.0, it emitted `Merged "<omitted>" as current context in /home/cloudtest/.kube/config` to stdout. As of 2.27.1, it emits `WARNING: Merged "<omitted>" as current context in /home/cloudtest/.kube/config` t

[2021-08-23 19:02] AndriiKalinichenko opened #19316 "Az CLI support for BgpConnection in VirtualHub"
**Resource Provider**

NRP (Microsoft.Network)

**Description of Feature or Work Requested**

We are adding support for a new child resource HubBgpConnection of parent VirtualHub. HubBgpConnection (or just BgpConnection) has following properties:
- PeerIp (IP address of the BGP peer)
- PeerAsn (ASN of the BGP peer)
- VirtualHubVnetConnection (VirtualHubVnetConnection references by the BgpConnectio

[2021-08-23 20:01] LezzG opened #19317 "Cannot run azure-cli in RHEL 8.4"
**Describe the bug**

I follow the instructions at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf to install azure-cli on RHEL 8.4, but it fails when I try to run any az command:

$ az login
Traceback (most recent call last):
  File "/tools/python3.6.9-ssl/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/tools/python3.6.9-s

[2021-08-23 20:14] albertoRamon opened #19318 "enable-auto-update, Error: WindowsConfiguration"
**Describe the bug**
Enable-auto-update is incompatible with some Images

**To Reproduce**
[code]
**The error:**
![image](https://user-images.githubusercontent.com/15262462/130512576-333e2bfe-263a-4b2a-9d9d-2b46084e5f19.png)

**Solution 1: Remove enable-auto-update**
If you remove the last line works fine:
![image](https://user-images.githubusercontent.com/15262462/130512470-31b73e3d-94bb-4d0e-b11

[2021-08-23 21:49] yonzhan commented on #19308
route to service team

[2021-08-23 22:02] koralski opened #19319 "RunCommand v2 API"
**Resource Provider**

Microsoft.Compute

**Description of Feature or Work Requested**

Implement CLI cmdlets for Runcommand REST API

**Minimum API Version Required**

2021-07-01

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/runCommands.json

**Target Date**
Public preview release: October 2021

[2021-08-23 22:06] yonzhan commented on #19309
route to service team

[2021-08-23 22:08] yonzhan commented on #19310
@kairu-ms for awareness

[2021-08-23 22:09] yonzhan commented on #19311
storage

[2021-08-23 22:11] yonzhan commented on #19313
@kairu-ms for awareness

[2021-08-23 22:13] yonzhan commented on #19314
route to service team

[2021-08-23 22:13] yonzhan commented on #19315
route to service team

[2021-08-23 22:14] yonzhan commented on #19316
network

[2021-08-23 22:15] yonzhan commented on #19317
@jiasli for awareness

[2021-08-23 22:16] yonzhan commented on #19318
Compute

[2021-08-23 22:17] yonzhan commented on #19319
Compute

[2021-08-24 01:46] zhoxing-ms commented on #18943
@hari-bodicherla  I'll tell you offline~

[2021-08-24 01:47] jiasli commented on #14880
Azure CLI is not designed to cover all functionalities of AD Graph or Microsoft Graph - the initial design goal of `az ad` is to help users use AAD with Azure RBAC. This is still the case even if we migrate `az ad` to Microsoft Graph (https://github.com/Azure/azure-cli/issues/12946), which means we would probably not implement **adding replyUrls to SPA** even after the migration.

To use all funct

[2021-08-24 02:04] jiasli commented on #19169
I checked the wheel file of `azure-cli-ml`:

https://github.com/Azure/azure-cli-extensions/blob/ff20effe1c4aca1dc71bf57251685e43a3f0a646/src/index.json#L4276-L4279

[code]

In `azure_cli_ml-1.29.0.dist-info/METADATA`, it requires

[code]

From the wheel of `azureml-cli-common` (https://pypi.org/project/azureml-cli-common/#files), in `azureml_cli_common-1.33.0.dist-info/METADATA`, it still requires

[2021-08-24 02:25] zhoxing-ms commented on #19319
@koralski  Since we have several important requirements to do in the near future, so we plan to make the development of this requirement to the sprint in October (it will be released in **11-02**). Do you think the release time is acceptable?

[2021-08-24 02:26] zhoxing-ms commented on #19306
@blochl  Since we have several important requirements to do in the near future, so we plan to make the development of this requirement to the sprint in October (it will be released in **11-02**). Do you think the release time is acceptable?

[2021-08-24 02:33] coding-totoro opened #19320 "-r -i does not work?"
Ok -R I understand but why allow this flag during create ?
-i what is the az equivalent of this ? Set-AzSqlServer -ResourceGroupName my-resource-group-where-the-server-resides -ServerName the-name-of-the-server -AssignIdentity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b902a2-c27f-8de9-e2fb-9f0d7f8eb6dc
* Version

[2021-08-24 02:37] evelyn-ys commented on #19128
Hi @aravindyeduvaka, Currently CLI support SMB Multichannel in `storage-preview` extension.
Pls try:
[code]

[2021-08-24 02:37] #19128 closed

[2021-08-24 03:02] coding-totoro commented on #19320
Updated az to latest.

[2021-08-24 03:02] #19320 closed

[2021-08-24 03:36] zhoxing-ms commented on #18844
@roipmsft Since there are too many contents in the Swagger of Compute, could you please provide a PR that shows the changes related to this requirement?
In addition, it would be better if you could provide specific commands and parameter related designs that need to be supported?

[2021-08-24 04:03] mahfooz-iiitian opened #19321 "DataLakeAnalyticsAccountManagementClient' object has no attribute 'account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dla account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dla account create --account {} --location {} --resource-group

[2021-08-24 04:14] yonzhan commented on #19321
dla

[2021-08-24 04:43] maadityo opened #19322 "additional information to use an existing private DNS on another subscription"
Hi There,
In order to create MySQL Flexible server with an existing private DNS on another subscription, the "[reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader)" role is required on subscription level

if we can add this information, then it will be great and very helpful, as we were facing some difficulties and error msg is very general which is only

[2021-08-24 05:50] yonzhan commented on #19322
route to service team

[2021-08-24 05:52] evelyn-ys commented on #19321
Pls upgrade CLI version. The latest CLI is `2.27.2`

[2021-08-24 05:54] savjani commented on #19322
Hi @yonzhan - can u please assign this to @dimadhu. He is the author as well for this documentation. Thanks @maadityo for sharing this feedback.

[2021-08-24 06:11] jadiaz opened #19323 "Unable to run AZ webapp list from with WSL Ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-08-24 06:28] zhoxing-ms commented on #19296
In fact, CLI only requests REST [virtual-machine-extension-images/list-versions](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-extension-images/list-versions) and displays the returned results from REST directly. Therefore, this may be the service related issue.

@darrinthomascecil Could you provide us with the specific debug logs to investigate this issue? Please add `--debug`

[2021-08-24 07:11] #18971 closed

[2021-08-24 08:35] evelyn-ys commented on #19254
Seems your env is broken...
will it break if you run other command not only `az keyvault secret`?

[2021-08-24 08:55] blochl commented on #19306
@zhoxing-ms , Thanks for your response!
Yes, **11-02** release is certainly acceptable.
But in the meantime, can you suggest a workaround for this functionality?

[2021-08-24 08:58] #10765 closed

[2021-08-24 09:13] zhoxing-ms commented on #18943
@hari-bodicherla This problem has been solved, but there are new problems when creating capacity reservation. please help to have a look~

Request URL:
[code]

Requst body
[code]
Response body
[code]

**'x-ms-correlation-request-id': '26a15da4-d3ed-4007-b764-b7baf76aedcb'**

[2021-08-24 09:22] yonzhan commented on #19323
route to service team

[2021-08-24 09:55] josejuanmontiel opened #19326 "Problem with acr login in debian bullseye"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2021-08-24 10:17] yonzhan commented on #19326
route to service team

[2021-08-24 10:36] alexmasselot opened #19327 "set a variable with a value containing "=""
Hi,

If I want a variable containing and "=" character (for example an SSH PUBLIC_KEY), the set command truncates the value by the equal sign.
using `az staticwebapp appsettings set PAF="LE==CHIEN"` will set PAF=LE

Is there a way to either escape somehow escape the "=" character, or even better, to set the environment variables throw json ?

Thanks
Alex

---
#### Document Details

⚠ *Do not edit

[2021-08-24 10:38] josejuanmontiel commented on #19326
If downgrade the repo of microsoft to buster... work... but version in bullseye not

[2021-08-24 10:57] yonzhan commented on #19327
route to service team

[2021-08-24 11:58] LezzG commented on #19317
Turns out I was using a bad version of python.  Totally my project's fault :-)

[2021-08-24 11:58] #19317 closed

[2021-08-24 13:03] yooakim opened #19328 ""Failed to connect to MSI. Please make sure MSI is configured correctly.""
## Describe the bug

**Command Name**
`az ad group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open Azure Shell from Windows terminal
- `az ad group list`

## Expected Behavior

I expect to get a list of groups in our Azure AD

## Environment Summary
[code]
## Additional Con

[2021-08-24 13:08] lonewarrior556 commented on #14880
unfortunately, and this is my whole issue here, `az rest` **does not use the same permissions** as `az ad`
I have full AD access.
I can make every api call to control active directory using `az ad` But I **CANNOT** use the same credentials with `az rest`,. they get rejected.

Unless you modify az rest to allow calls based on the resource they are accessing, it wil not work for me and perhaps alot

[2021-08-24 13:50] yonzhan commented on #19328
@jiasli for awareness

[2021-08-24 14:24] hari-bodicherla commented on #18943
@zhoxing-ms  Currently VMAL VM sizes are only supported for using Capacity Reservation. You can know that by looking at the Get sku response for the VM size and finding the Capacity Reservation Suppported property set to true. you can use for eg AV2  sizes which support the CR

[2021-08-24 15:11] PatrickMessierGoC opened #19329 "Unable to set WebApp Slot logging using az webapp log config --ids [webapp slot id]"
**Describe the bug**

The command "az webapp log config" when used with the parameter "--ids [appServiceSlotID]" configure the main AppService instead of the specified AppService Slot.

**To Reproduce**

1. Create a Resource Group, say "resourceGroupName".
2. Create an AppService in the newly created Resource Group, say "appServiceName".
2. Add an AppService Slot to the newly created AppService, s

[2021-08-24 15:30] j0057 commented on #19097
That still sounds wrong to me @gzuber, for three reasons: "a list" is one thing so I would interpret that as one argument, i.e. the same as the current wording; a "list" is not a thing in sh/bash whereas 'arguments' are -- one or more arguments in this instance; the arguments are not necessarily space-separated but could normally be separated by any whitespace as defined by the IFS shell setting.

[2021-08-24 15:31] zhoxing-ms commented on #19306
@blochl Hi, we can have two work arounds:
1. Use the command `az rest` to request the REST API directly.
2. After the code development is basically completed, we can provide you with private packages for testing in advance through edge build. The doc for edge build: [try_new_features_before_release](https://github.com/Azure/azure-cli/blob/dev/doc/try_new_features_before_release.md)

[2021-08-24 16:22] panchagnula commented on #18725
@Kotasudhakarreddy can you compare the pass case debug to the one posted above. From the logs above this call returns empty l: https://management.azure.com:443 "GET /subscriptions/xxxx-xxxxx-xxxxx-xxxxx/providers/Microsoft.Network/locations/Japan%20East/serviceTags?api-version=2021-02-01 HTTP/1.1" 200 147
so value I s empty array , seems like this is expected to have some value post this call - ca

[2021-08-24 16:24] panchagnula commented on #17256
Noted all feedback on this - we have work item to rewrite runtimes stack with the API support while doing that we will make updates to the command to be clear - however, since this would be a breaking change - we need to sign off on design,Thanks.

[2021-08-24 16:24] #17256 closed

[2021-08-24 16:25] blochl commented on #19306
@zhoxing-ms ,

Do you know where the REST API commands for this functionality are documented?

Thanks very much, I'd like that.

[2021-08-24 16:27] Kotasudhakarreddy commented on #18725
Sure will do Sisira.

[2021-08-24 16:48] jamesc opened #19330 "Support PrivateEndpoint for NSG and ASG"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
NSG - network sec groups and app sec groups - create policies on subnet and resource level to deny traffic coming to private link - adding support for this - leveraging property PrivateEndpointNetworkPolicies

**Minimum API Version Required**
2021-03-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-sp

[2021-08-24 17:12] koralski commented on #19319
This feature is currently in private preview and public preview is scheduled for end of October 2021. Only release blocking items are Powershell and CLI support. Se we prefer to have CLI ready as soon as possible aligned with your release. You can sync up with our PM: amjad.shaik@microsoft.com on the schedule

[2021-08-24 17:24] devigned commented on #19313
Running into the same issue with `az network nic ip-config create -h`.

[2021-08-24 17:27] devigned commented on #19122
Just ran into this issue and https://github.com/Azure/azure-cli/issues/19122#issuecomment-893176500 didn't fix the problem.

[2021-08-24 17:28] devigned commented on #19313
Similar: https://github.com/Azure/azure-cli/issues/19122

[2021-08-24 17:29] devigned commented on #18882
Similar: https://github.com/Azure/azure-cli/issues/19122.

After running `az upgrade`, the problem was not resolved..

[2021-08-24 17:29] devigned commented on #18714
Similar: https://github.com/Azure/azure-cli/issues/19313

[2021-08-24 17:29] devigned commented on #18420
Similar: https://github.com/Azure/azure-cli/issues/19313

[2021-08-24 17:30] devigned commented on #18356
Similar: https://github.com/Azure/azure-cli/issues/19313

[2021-08-24 17:30] devigned commented on #17713
Similar: https://github.com/Azure/azure-cli/issues/19313

[2021-08-24 17:34] joelbyford commented on #15985
[Debian apt Docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#overview) have been updated correctly to reflect they will not work with ARM64.  [Install Script](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script) is silent on the topic, but it will install correctly on ARM64 either natively or as a WSL2 Ubuntu install.

[2021-08-24 17:34] #15985 closed

[2021-08-24 17:40] devigned commented on #16875
Similar: https://github.com/Azure/azure-cli/issues/19313

[2021-08-24 18:05] amjads1 commented on #19296
Looking into the issue.

[2021-08-24 18:06] amjads1 commented on #19292
@Vaibhav-Agar Could you please look into the issue?

[2021-08-24 18:20] devigned commented on #19313
This is a pretty common problem as evidenced by the handful of similar items I've linked above. `az upgrade` does not fix the issue with Ubuntu 21.04. Please don't just state run `az upgrade` and close the issue.

When running `sudo apt install azure-cli`, the CLI should work on Ubuntu 21.04.

[2021-08-24 21:28] Phoenix1112 commented on #19313
i am using kali linux .. i did run this command ```az upgrade``` ...  i have this error ```CLI upgrade failed or aborted```
I am getting the same error even though I have tried this many times.

[code]

[2021-08-24 21:34] holtalanm commented on #14880
The whole point of this issue is to simply update the docs so that this can be known when reading the documentation.  Right now the only way anyone would _know_ to use `az rest` is by searching through github issues until they find this single, closed, issue.

The fact that the azure cli doesn't support adding SPA replyurls _is an entirely separate issue_, but there are clearly people _looking for

[2021-08-24 21:34] parth21999 commented on #17506
Managing identity via CLI would require updating azure-mgmt-web sdk. Blocked on this for now

[2021-08-24 21:59] Phoenix1112 commented on #19313
also i hav error for this method..

[code]

[code]

[code]

[2021-08-24 22:07] yonzhan commented on #19330
@kairu-ms for awareness

[2021-08-24 22:21] yonzhan commented on #19329
route to service team

[2021-08-24 22:46] parth21999 commented on #18468
Waiting for azure-mgmt-web sdk update. Blocked until update.

[2021-08-25 02:06] jiasli commented on #19313
I noticed a weird thing. The DEB installer of Azure CLI has its bundled Python 3.6.10.

[code]

But in all linked issues, Python is 3.9.*:

[code]

Could you let me know the OS you are using by running

[code]

[2021-08-25 04:28] huanwu opened #19332 "az acr task logs failed since 2.26.0"
It is a regression issue from 2.26.0.

repro step:
az acr task logs --registry $registryname

Expected:  Got the log of the latest run

Actual: Got the following error
Could not find the latest created run.

With -debug, we can see the error
cli.azure.cli.core.util: azure.cli.core.util.handle_exception is called with an exception:
cli.azure.cli.core.util: Traceback (most recent call last):
  File

[2021-08-25 04:49] jiasli commented on #14880
@lonewarrior556,

According to https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-planning-checklist

While we are working on the migration to Microsoft Graph, using `az rest` with **Microsoft Graph permissions** is the only way to access Microsoft Graph using Azure CLI.

**Adding replyUrls to SPA** is a Microsoft Graph-only feature. This can't be achieved with AD Graph as there is only

[2021-08-25 05:23] #19281 closed

[2021-08-25 06:07] yonzhan commented on #19332
route to service team

[2021-08-25 06:39] zhoxing-ms commented on #19296
AADSSHLoginForLinux Microsoft.Azure.ActiveDirectory 1.0.1560.1
AADSSHLoginForLinux Microsoft.Azure.ActiveDirectory 1.0.1588.1
AADSSHLoginForLinux Microsoft.Azure.ActiveDirectory 1.0.1595.1

According to the debug log provided by @darrinthomascecil, service only returns the above images

Request URL: /subscriptions/{subscription}/providers/Microsoft.Compute/locations/westus2/publishers/Microsoft.Az

[2021-08-25 08:57] PARADISSEEKR commented on #19186
Hi @annoakes ,when I create purview account ,service returned an error `Internal Server Error`, when it is executed for the second time, it prompts that `the resource already exists`, but when using `accout show`, it returns `The resource 'xxx' already exists in location 'westeurope' in resource group 'xxx'. A resource with the same name cannot be created in location 'southeastasia'. Please select

[2021-08-25 09:16] earizon commented on #6802
`az account show --refresh` will be enough but in my local tests it returns status 0 whether it success or fails.

Next script fails since if test condition is always true.
`
az account show --refresh
if [[ $? == 0 ]]; then
  echo "we are logged in "
else
  echo "not logged in, retrying "
 az login
fi
`
Expected behaviour:
az account show --refresh return exit-status "1" when token has expired.

C

[2021-08-25 10:15] blochl commented on #19306
Sorry, I have found a way to do it.

For future reference:
1. Get the OSDisk name:
[code]
    * Several names may appear. If unsure, to find the correct one go to the web UI (**Virtual Machines** → **[VM name]** → **Disks** → **OS Disk**) and check the correct name.
1. Get the export URL:
[code]
1. Download the image.
1. Revoke access, to enable VM / disk deletion:
[code]

Closing this issue.

[2021-08-25 10:15] #19306 closed

[2021-08-25 10:51] ar-schrodinger commented on #19292
Apologies for the delay in providing the traceback. I am running this all remotely through a shell script so was having problem with debug mode. The debug logs will following shortly.

[2021-08-25 10:58] MiniMarker opened #19339 "Warning comment on mode flag"
The `mode` flag on `az deployment group create` cmd should carry a warning that Complete overwrites the existing content in resource group and applies only the content in current template.

Current Doc:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649a07bb-0fa2-6c51-2820-88b1bafa80ba
* Version Independent ID:

[2021-08-25 11:00] yonzhan commented on #19339
ARM

[2021-08-25 12:01] cvdabbeele opened #19340 "--service-endpoint-configuration is a required parameter, but there is no description given on how to create the json file"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd63c4b-37f7-3641-8f15-0f5713ab71b4
* Version Independent ID: 39006efa-983d-d605-ca4f-95ffd91fbec4
* Content: [az devops service-endpoint](https://docs.microsoft.com/en-us/cli/azure/devops/service-endpoint?view=azure-cli-latest)
* Content Source: [la

[2021-08-25 12:03] ar-schrodinger commented on #19292
Traceback :
[code]

Let me know if you require more information from me.

[2021-08-25 12:09] cvdabbeele opened #19341 "Please provide the JSON examples for --service-endpoint-configuration for deploying to KUBERNETES"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd63c4b-37f7-3641-8f15-0f5713ab71b4
* Version Independent ID: 39006efa-983d-d605-ca4f-95ffd91fbec4
* Content: [az devops service-endpoint](https://docs.microsoft.com/en-us/cli/azure/devops/service-endpoint?view=azure-cli-latest#az_devops_service_endp

[2021-08-25 12:29] genegc opened #19342 "--library-requirements issue (az synapse spark pool create)"
The --library-requirements option does not appear to be working.

**Command Name**
`az synapse spark pool create`

**Errors:**
[code]

## To Reproduce:
I tried the following approaches (one using requirements.yaml file, and one using a requirements.txt file)
az synapse spark pool create --name sparkx1 --workspace-name syn-oea-cisdggv04n --resource-group rg-oea-cisdggv04n --spark-version 3.0 --node

[2021-08-25 12:43] yonzhan commented on #19340
route to service team

[2021-08-25 12:45] yonzhan commented on #19341
route to service team

[2021-08-25 12:45] yonzhan commented on #19342
route to service team

[2021-08-25 13:32] madiepev opened #19343 "Typo Kuberntes"
In the details for the --type when creating a compute it says: The type of compute target. Required if --file/-f is not provided. Allowed values: AmlCompute, ComputeInstance, Kuberntes.
**Kuberntes** seems to be a typo. Should be **Kubernetes**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c25404-a256-62b2-3ac8-dd6

[2021-08-25 14:24] vhhughes commented on #19254
Every other command works fine. Nothing changed at the time other than updating the Azure CLI using the az upgrade command.

[2021-08-25 14:36] devigned commented on #19313
Below is my remove and install experience on Ubuntu 21.04. Looks like both Kali and Ubuntu are not able to find the MSFT published package and are installing a default version 2.18.0 (`Get:1 http://us.archive.ubuntu.com/ubuntu hirsute/universe amd64 azure-cli all 2.18.0-1 [2,608 B]`).

[code]

[code]