[2020-07-30 06:06] jiasli commented on #14473
More context: I switched from using `cmd.exe` to `powershell.exe` in https://github.com/Azure/azure-cli/pull/12851, because `cmd.exe` doesn't work with UNC paths (https://github.com/Azure/azure-cli/issues/11927).

If you don't want to update Windows and `powershell.exe`, you may use `az login --use-device-code` as a workaround.

[2020-07-30 06:19] jiasli commented on #14090
Closing as this is more related to the business logic of AAD.

If you have further questions about AAD, you may [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to AAD and a support engineer will assist you with your concerns or questions.

[2020-07-30 06:19] #14090 closed

[2020-07-30 06:44] datsabk opened #14587 "Az login with identity fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Az login with identity fails when executed from docker container

**Command Name**
`az login --identity`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2020-07-30 06:50] fbarresi commented on #7447
Hi!
Thank you for your quick reply.
You're right, this other command works faster.

Do you know some other performance tricks for those cases?

[code]

[code]

I would like to integrate such ps call in an application, but it's going to be too much laggy for a comfortable user experience.

[2020-07-30 07:28] #14056 closed

[2020-07-30 07:45] fabio2602 commented on #14145
Sorry, you finished in spam.

I can try to send all the details as soon as possible (probably by the end
of this weekend).
Thanks for your patience.

Fabio

Il giorno gio 16 lug 2020 alle ore 11:09 Xing Zhou <notifications@github.com>
ha scritto:

--
Fabio Vannini
"I never lose, I either win or learn"
N.M.

[2020-07-30 07:54] azuresg commented on #14579
I performed a new file share with the below command :

az storage file upload --account-name wdssd1 --account-key JNXZi+CJhorIxagJFAyOCnVCXoA3xlfb6g+xAQy2nxPT8yxWfjQfkyrXtweu39Cefmj3Nbf8xer00YSBNHR43Q== --share-name wdfileshare --source "/home/scrapbook/tutorial/php-docs-hello-world/index.php" --path "SGDirectory/index.php"

The error message was :

HTTPSConnectionPool(host='wdssd1.file.core.windo

[2020-07-30 08:44] yene opened #14590 "Operation failed with status: 'Conflict'. Details: There is an import or export operation in progress on the database"
We are doing a DB copy `az sql db copy` followed by an export `az sql db export`, which is prevented with the error:

[code]

It seems the copy operation is still going on in the  background.
Where can we see ongoing copy/export operations? (azcli, portal, api)

[2020-07-30 09:06] nadesu commented on #14544
@jiasli password file based usage of CLI is also risk prone as the password is now available in file and there is risk of missing the file during cleanup. After consulting ADO security team, its advised to use Environment credential approach (credential configured by environment variables).
Let us know the ETA for availability of this feature.

[2020-07-30 09:30] yonzhan commented on #14587
add to S174

[2020-07-30 09:32] datsabk commented on #14587
@yonzhan Could you please confirm if this is a known issue? Also, let us know if there is a workaround for it as our critical live project is blocked with this

[2020-07-30 09:47] yonzhan commented on #14590
sql

[2020-07-30 09:47] #7792 closed

[2020-07-30 10:03] zhoxing-ms commented on #14037
@cgordoncarroll  Hi, this is due to the inconsistency case of the ResourceType name, which is case-sensitive by design, so `microsoft.authorization` is not a valid ResourceType.
May I ask why do you use the all-lowercase name of ResourceType?

[2020-07-30 10:54] zsombor-adn opened #14591 "Metadata key-value pairs get set incorrectly on policy definition creation"
**Describe the bug**
When providing multiple metadata key=value pairs on policy definition creation, every pair after the first one gets appended to the first pair's key.

**To Reproduce**
[code]

The created policy has the second key-value pair (`category=location`) added to the first pair's value (`version=1.0.0 category=location`) instead of being under a new key. Here's the created policy:

[c

[2020-07-30 11:16] klemenberti opened #14592 "az network bastion - hangs on powershell"
**Describe the bug**
'az network bastion create' when used with powershell hangs. The bastion was created, but console locks until ctrl+c, then all powershell commands output turns black.

**To Reproduce**
On powershell:
az network bastion create -g group -n bastion --vnet-name AzureBastionSubnet --public-ip-address  bastionIP

**Expected behavior**
Create bastion and exit to prompt.

**Environmen

[2020-07-30 11:29] jiasli opened #14593 "[Packaging] Install Azure CLI under the user folder"
When installing Azure CLI [on Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli) or [Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest), **admin** (**superuser**) permission is necessary.

Users who don't have admin (superuser) permission can't install Azure CLI in the recommended ways - MS

[2020-07-30 11:34] jiasli commented on #7447
I think the latency is caused by the service-side, and this is really something out of Azure CLI's control. We plan to add some metrics in Azure CLI to measure the E2E latency of network transactions.

BTW, what is the result when you run `Measure-Command {az version}`?

[2020-07-30 11:43] jiasli commented on #14347
Similar to https://github.com/Azure/azure-cli/issues/13987

Could you follow [Get a token using CURL](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-curl) to get an access token directly with `curl` instead of `az`?

If you are receiving an error using `curl`:

[code]

this suggests that Managed Identity is not turne

[2020-07-30 12:02] jose-lima2011 opened #14594 "the command "az security contact list" not show security contact created on security center azure portal"
Hello guys, in my settings I verified that the security email registration page has changed, there is no longer the phone field, in addition to other changes, but what is curious is that the email that I register in the field is not displayed with the command az security contact list even in preview worked, now only if I create the security contact via command az security contact create -n "defaul

[2020-07-30 12:27] fbarresi commented on #7447
My result is a bit better than `az --version`, but still upsetting...

Here the result in a fresh PS two times in short distance.

[code]

[2020-07-30 12:30] yonzhan commented on #14591
add to S174

[2020-07-30 12:32] yonzhan commented on #14592
add to S174

[2020-07-30 12:34] datsabk commented on #14587
@jiasli - I see that you are pasting the same response at multiple places. Please stop misleading. User assigned identities do not require to be enabled. If a user is using user assignment identity, that should work without any turning ON.

This is something that was working couple of weeks back and suddenly just stopped working.

[2020-07-30 12:34] yonzhan commented on #14593
@fengzhou-msft please take a look

[2020-07-30 12:38] yonzhan commented on #14594
security

[2020-07-30 12:40] yonzhan commented on #14594
@ariklin @chnachmani to help with.

[2020-07-30 13:28] jiasli commented on #14587
The mentioned Azure IP 169.254.169.254 is the **Azure Instance Metadata Service (IMDS)** on the VM or container.

You do need to [assign the user-assigned identities to your VM or container](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-cli-windows-vm#assign-a-user-assigned-managed-identity-to-an-existing-azure-vm) before using it. If `curl

[2020-07-30 15:29] epomatti opened #14595 "Get or show the Cognitive Services resource API Key from Azure CLI"
It would be nice to be able to show the API Key using Azure CLI.

One option is adding to the output of the already existent `show` command:

[code]

Or a separated command like this:
[code]

[2020-07-30 15:48] sam-cogan opened #14596 "az acr network-rule add tries to apply all rules"
**Describe the bug**
When running "az acr network-rule add " to create a network rule for a subnet , it appears to attempt to re-apply all existing rules as well as the one you are adding. This results in an error if the user running this does not have permissions on the vnets that the existing rules apply to.

**To Reproduce**
Create a subnet based network rule on an ACR repo, using an account th

[2020-07-30 15:55] Plaquevent commented on #5275
After reading @yugangw-msft answer, I implemented this for my needs (send a setup shell script to my VMs after I create it using ARM Templates and calling them from Templates in a VM extension) :

sas_token_expiry=`date -u -d "10 minutes" '+%Y-%m-%dT%H:%MZ'`
az storage account create --name "$sa_name" --resource-group "$rg_name" --location "$location" --sku "Standard_LRS"
sa_cs=`az storage account

[2020-07-30 16:11] maxsatula commented on #6537
Same problem.
If it contributes to troubleshooting, that seems to be cursor position report sent as ANSI Terminal Control Escape sequence, per docs (googled from multiple places):

However, I'm not sure hot to switch cursor position reporting yet, is it Azure issue or alpine issue.

[2020-07-30 17:46] btardif commented on #11923
ping @LomisChen it's been another 2 months with no updates....

[2020-07-30 18:00] krispenner opened #14597 "Webapp:`az webapp vnet-integration add` fails when the App Service Plan is not in its original resource group"
This is a reincarnation of #12629 which I believe was incorrectly closed as a duplicate when it is not. Commenting on the closed issue is not getting any attention so I am re-creating it.

**Describe the bug**
Move an app service and its app service plan to a new resource group and you can no longer use the `az webapp vnet-integration` commands. This seems to be a common and frustrating recurring

[2020-07-30 18:18] apawast commented on #14572
@yonzhan is there any guidance for a this type of scenario where a command succeeds, but it's executed against a non-existent resource?

[2020-07-30 19:59] ShawnMcGough commented on #9778
Still an issue. I'm using a different workaround where I remove before adding. Seems to work fine since removing non-existing origins does not throw error or warning.
ex:
`az functionapp cors remove --allowed-origins http://www.example.com`
`az functionapp cors add --allowed-origins http://www.example.com`

[2020-07-30 20:04] chenlomis opened #14598 "Accessing createdTime info under az resource list"
**Describe the bug**
Unable to access info under the createdTime attribute

**To Reproduce**
"So I have been tasked with creating some cleanup scripts for our testing account.  I ran the az resource list and realize there is a createdTime attribute, but they are all null.  Is this something that is being added and just not used?  Is there a flag to get access to that info?  That would be a really

[2020-07-30 20:17] tikicoder commented on #14598
Since this ticket was created on my behalf please let me know if you have questions.

[2020-07-30 20:25] seethehippo opened #14599 "Windows System Linux - az aro create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create --resource-group {} --name {} --vnet {} --master-subnet {} -

[2020-07-30 20:29] scott-dunt opened #14600 "AZ AD query command fails or produces NO results."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad user list --query "sort_by([[].mail, [].objectId])"

**Errors:**
[code]

## To Reproduce:
az ad user list --query "sort_by([[].mail, [].objectId])" -o tsv

## Expected Behavior
az ad user list will NOT return selected values on a single line.
Running: az ad user list --query '[[].mail,

[2020-07-30 22:07] yonzhan commented on #14595
cognitiveservices

[2020-07-30 22:08] yonzhan commented on #14596
acr

[2020-07-30 22:12] yonzhan commented on #6537
container

[2020-07-30 22:14] yonzhan commented on #14597
webapp

[2020-07-30 22:21] yonzhan commented on #14598
add to S174

[2020-07-30 22:23] yonzhan commented on #14599
aro

[2020-07-30 22:24] yonzhan commented on #14600
@arrownj please take a look

[2020-07-30 22:42] yonzhan commented on #14552
this is part of JEDI M5 to help prioritization

[2020-07-30 23:50] cpdohert commented on #14347
@jiasli You've been called out elsewhere for copy-pasting this onto open issues without actually reading the description of the faulting behaviour.

To summarize: both @anduran and I have the same behaviour: a VM or cluster where managed identity **is** set up and working correctly, but where the AzureCLi cannot authenticate properly.

I'll allow @anduran to elaborate, but I'll reiterate my issue

[2020-07-31 00:07] anduran commented on #14347
@cpdohert I need to make an important distinction. My issue was with an HDI cluster, which nodes do use Ubuntu. But these cases are completely separate, because [as I learned afterwards] HDI implements MSI in an unorthodox way.

Long story short, after talking with a CSS I understood what the issue was and accepted that at least for HDI this wouldn't work and moved to other alternatives for auth.

[2020-07-31 02:01] jiasli commented on #14347
@cpdohert I understand you are having problems with Managed Identity. I am sorry for the inconvenience caused.

However, as I commented in https://github.com/Azure/azure-cli/issues/14587#issuecomment-666364865, Azure CLI is just a client-side tool like `curl`. If `curl` also reports the error `{"error":"invalid_request","error_description":"Identity not found"}`, that indicates there is some probl

[2020-07-31 02:09] yugangw-msft commented on #14596
@sam-cogan while we investigate this, have you considered Private Endpoint which is in GA, and we are recommend it more over the service endpoint

[2020-07-31 02:17] MyronFanQiu commented on #14572
@apawast Azure CLI would exit with code 3 if server return 404. The logic is correct in functionapp command module. The root cause for this issue is that python sdk won't treat 404 as an error. In the [swagger spec](https://github.com/Azure/azure-rest-api-specs/blob/5699b02c38fc1d90220e7e62c399ea5a5df30b7e/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/AppServicePlans.json#L140

[2020-07-31 02:40] #14364 closed

[2020-07-31 03:21] yankeexe commented on #10812
@maggiepint Any update on the issue?

[2020-07-31 03:41] tejasshah7 commented on #14369
@yonzhan  what is the status for this?

[2020-07-31 03:49] skarri-microsoft commented on #10089
Our sincere apologies for late response

Here are the instructions:

#Note:you can copy and paste along with comments in cloud shell

#Full script is available here also: #https://github.com/skarri-microsoft/SampleData/blob/master/az-dms-mongo-Instructions.txt
#A bash script for Cosmos DB Mongo migration using DMS service-name
#Please login to https://shell.azure.com/ in browser and select the sub

[2020-07-31 04:28] fitzgeraldsteele opened #14602 "Should be able to create a VMSS-VMO without a PPG; PPG optional"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss create -n {} -g {} -l {} --orchestration-mode {} --platform-fault

[2020-07-31 05:06] MyronFanQiu commented on #14369
@tejasshah7 This feature is under development. There will be a PR in the earlier next week. We still don't recommend using additional property like this. It's like a black box for us.

[2020-07-31 05:14] zhoxing-ms commented on #14373
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-31 05:14] #14373 closed

[2020-07-31 05:42] #14602 closed

[2020-07-31 06:26] zhoxing-ms commented on #13003
@rebecca-makar In fact, the REST API we used is `PATCH` requests, If the cache to be updated does not exist, an error will be reported:
[code]
As for the updated parameters, I'll change to support only modified tags

[2020-07-31 06:40] jiasli commented on #14490
Duplicate of #11749

[2020-07-31 06:50] qwordy commented on #13732
@ecsousa Could you run `az vm update -n VirutalMachineName -g ResourceGroupName --set tags.TagName=TagValue --subscription SubscriptionName --debug` and paste output here?

[2020-07-31 07:56] zhoxing-ms commented on #13004
@rebecca-makar Hi, the command `az hpc-cache blob-storage-target update` does not support updating the parameter `--junction`.
Is the issue #13005 what you want to say?

[2020-07-31 08:09] Juliehzl commented on #13483
Fix in https://github.com/Azure/azure-cli/pull/14605.
You could try with Edge Builds here https://github.com/Azure/azure-cli#edge-builds.
please use xxx-secondary as your --account-name.

Official release will be available after next Tuesday.

[2020-07-31 08:20] sam-cogan commented on #14596
@yugangw-msft ideally I would use Private link, but it has a couple of issues:
1. The limit of 10 connections to ACR, I will have more than this
2. The DNS part is a pain, each environment we are connecting to ACR has a different DNS setup and so trying to automate this is painful, using service endpoints is much simpler

[2020-07-31 08:24] MyronFanQiu commented on #6296
@boredom2 Hi. We already supported this service. https://github.com/Azure/azure-cli-extensions/blob/master/src/stream-analytics/README.md

[2020-07-31 08:24] #6296 closed

[2020-07-31 08:28] LudoNieuw opened #14608 "how to export key from key vault?"
hi there,

I'm looking for a way to export my keys from azure key vault tye 'key' but I cannot find how to do it anywhere. Please spcify, as I need my key local to run some commands. To be clear, I need the private key I uploaded to the key vault earlier.

Regards,

Ludo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2020-07-31 08:29] MyronFanQiu commented on #14592
@klemenberti Hey. Usually this issue would be a service issue. To double confirm this one, could you run the command with `--debug` to see whether the response is always `InProgress`?

[2020-07-31 08:30] MyronFanQiu commented on #14536
@irenehua I will refine the error message later. Thanks! The reason for such error should be that you don't have any nat rules at all.

[2020-07-31 08:33] WilldotNET commented on #14467
Just as additional info on this, I'm struggling to replicate what az acr helm push did with helm push on v3 -

Based on -- https://github.com/Azure/phippyandfriends/blob/master/common/ci-steps-template.yml

`- bash: |
    export HELM_EXPERIMENTAL_OCI=1
    chartPackage=$(ls $(projectName)/$(imageName)-$(helmChartVersion).tgz)
    echo chartPackage is $chartPackage
    helm chart save $chartPackage

[2020-07-31 09:06] Juliehzl commented on #13483
`az storage blob list --account-name ACCOUNTNAME-secondary --account-key ACCOUNTKEY --container-name CONTAINERNAME` should work in edge build and 2.10.0

[2020-07-31 09:34] yonzhan commented on #14608
@bim-msft please take a look

[2020-07-31 10:37] zuckerruebe opened #14609 "Private Python packages for remote build"
**Is your feature request related to a problem? Please describe.**
We have an internal PyPI index to which we deploy private packages that we'd then like to pip install into our Python Azure function. Because our packaging index is not reachable from the Azure cloud we've so far opted for `--build local`. However, this has turned out to be a bit fragile as a couple of times now after adding new de

[2020-07-31 12:39] jibin18 opened #14610 "getting syntax error while executing az group list commnd"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list`

## Expected Behavior

## Environment Summary
[code]
## Add

[2020-07-31 13:35] leparduk opened #14611 "az monitor autoscale rule list fails when optional param --profile is not specified"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor autoscale rule list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor autoscale rule list --resource-group {} --auto

[2020-07-31 13:37] leparduk commented on #14611
There is one profile. If I specify the profile the command succeeds. If I do not the is an error. I would expect the one item to be returned.

[2020-07-31 13:41] rebecca-makar commented on #13004
@zhoxing-ms  so if you run the command it does what it is suppose to be doing...
but it shows the user an error in red even though the response is 202.
It should not say it is a failure.

It says
```Operation failed with status: 202. Details: Resource state Updating```

[2020-07-31 13:42] rebecca-makar commented on #13004
That comment also applies to #13005

[2020-07-31 13:43] rebecca-makar commented on #13003
@zhoxing-ms sounds good! thank you

[2020-07-31 15:15] yonzhan commented on #14609
@fengzhou-msft  please take a look

[2020-07-31 15:16] yonzhan commented on #14610
add to S174

[2020-07-31 15:19] yonzhan commented on #14611
add to S174

[2020-07-31 18:13] #13777 closed

[2020-07-31 18:15] panchagnula commented on #13281
@btardif this doesn't seem to have anything to do with CLI - the question is on this step dotnet add package Microsoft.EntityFrameworkCore.InMemory

Please help route this?

[2020-07-31 18:17] #13035 closed

[2020-07-31 18:23] panchagnula commented on #11340
Closing since no update from customer.

[2020-07-31 18:23] #11340 closed

[2020-07-31 18:32] anharazi commented on #14059
This was a legacy flag that has been replaced with enableDdosProtection

[2020-07-31 18:42] kwoodson opened #14614 "ModuleNotFoundError: No module named 'azure.mgmt.redhatopenshift.operations'"
**Describe the bug**
I have created PR https://github.com/Azure/azure-cli/pull/14535 to enhance our latest updates to the aro module.  I have passed all module tests with `azdev test aro`.

The CI is failing with the following error message:
[code]
**To Reproduce**
The CI run is reproducing this every time.

**Expected behavior**
Pass the CI tests.

**Environment summary**

git clone azure-cli
pyt

[2020-07-31 19:09] #14059 closed

[2020-07-31 19:22] viniciusbuscacio commented on #14524
OK, I'll check it.

[2020-07-31 21:20] akousmata commented on #11552
I have tried this several times using Windows PowerShell ISE and I alwasy get the same error message:

not enough values to unpack (expected 2, got 1)
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure\cli\core\util.py", line 394, in shell_safe_json_parse
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\json\__init__.py", lin

[2020-07-31 21:32] akousmata commented on #11552
Nevermind, so another check to do is make sure that if you are executing in an IDE such as Windows Powershell ISE, make sure you're executing the script (i.e. hitting the "Run Script" or F5) while the IDE is navigated to the scripts folder.  I had the folder/script open in the editor, and thought I had been running it from the same folder, but when you execute in PS, it supplies the full path to t

[2020-07-31 21:55] BillKeanehub opened #14615 "JMESPATH not working for az ad sp"
**Describe the bug**
When running the command
az ad sp show --id XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX --query objectId --out tsv

Does not produce any output.

**To Reproduce**
Following this document:
https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids#find-service-principal-object-id

and running the following command sample:

az ad sp show --id XXXXXXXX-XXXX-XXXX-XXX

[2020-07-31 23:07] klemenberti commented on #14592
@MyronFanQiu Hello. I tried --debug and could not replicate any problem.
I has able to replicate the console black text output with any bastion subset commands, this behaviour occour when running inside parentheses (az network bastion list -g group), not big issue though.
Sorry for misleading bug report, we may close this until i can provide a consistent sample.

[2020-07-31 23:59] yonzhan commented on #14614
add to S174

[2020-08-01 00:06] #14592 closed

[2020-08-01 00:07] yonzhan commented on #14615
add to S174

[2020-08-01 00:28] plooploops opened #14616 "Azure CLI: Typo in az keyvault secret set."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set -n {} --value {} --vault-name {}`

## Expected Be

[2020-08-01 01:03] yonzhan commented on #14616
@bim-msft please take a look

[2020-08-01 03:04] yonzhan commented on #10740
@rajaprad, any update?

[2020-08-01 03:07] #14359 closed

[2020-08-01 03:24] #13980 closed

[2020-08-01 03:25] yonzhan commented on #14037
@cgordoncarroll  any update?

[2020-08-01 03:31] yonzhan commented on #13355
@MSEvanhi  any update?

[2020-08-01 03:36] haroldrandom commented on #14614
@kwoodson You could checkout azure-mgmt-openshift 0.1.0, I believe there is no operation module inside azure/mgmt/redhatopenshift/. There might be some bugs while releasing this package.
Please verify.

[2020-08-01 03:40] SeanFeldman commented on #13777
@panchagnula looking at the documentation, it doesn't reflect the added `--xml` option.
Is there a [documentation](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment?view=azure-cli-latest#az-webapp-deployment-list-publishing-profiles) PR or how to know that the fix has been deployed? I've looked at the [`S173` milestone](https://github.com/Azure/azure-cli/milestone/91) but it's still ope

[2020-08-01 03:54] yonzhan commented on #10764
@microkost, any update?

[2020-08-01 03:56] #13715 closed

[2020-08-01 04:08] #14138 closed

[2020-08-01 07:07] skmkzyk opened #14617 "replace API from Azure AD Graph API to Microsoft Graph REST API for `az ad` commands"
**Is your feature request related to a problem? Please describe.**

Currently, `az ad sp create-for-rbac` seems using Azure AD Graph API.

[code]

As the article like [this](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/) recommends migration from Azure AD Graph to Microsoft Graph, `az ad` commands need to be migrated to new.

**Describe the solution you'd li

[2020-08-01 10:04] haroldrandom commented on #14614
https://github.com/Azure/azure-cli/pull/14535/files?file-filters%5B%5D=.py#r463926021

[2020-08-01 10:05] yonzhan commented on #14617
add to S174

[2020-08-01 10:56] yonzhan commented on #14563
functions

[2020-08-01 11:11] #14563 closed

[2020-08-01 14:03] RusheelIyer opened #14618 "Webapp:Failed bot deployment to Azure portal"
Ran the exact same command(s) that ran successfully earlier.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps

[2020-08-01 14:07] RusheelIyer commented on #14618
###  UPDATE:
Ran the same few moments later and succeeded. Not sure what the issue was.

[2020-08-01 14:19] yonzhan commented on #14618
webapp

[2020-08-01 16:45] bpossolo commented on #12513
Im seeing this same problem when deploying a java functions app using azure cli.
I'm running:
- java: 11
- functions: runtime 3
- plan: consumption
- os: linux

my .deployment file
[code]

My App Settings in the portal
[code]

az -v info
[code]

func -z info
[code]

The command im running
[code]

and the final output/failure
[code]

[2020-08-01 16:47] bpossolo commented on #12513
fwiw this is a show stopper...If i cant deploy i have to abandon azure functions

[2020-08-01 16:58] anthonychu commented on #12513
Thanks for the repro @mikaelweave. Super helpful. Sorry I missed it the first time. https://github.com/Azure/Azure-Functions/issues/1674

[2020-08-01 18:05] bpossolo commented on #12513
for anyone else struggling with azure cli, the `func` app from [Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=macos%2Ccsharp%2Cbash) works for deployment.

[code]
alternative values for the different language runtimes:
[code]

[code]

I finally see my functions in the portal and can successfully invoke them 🎉

[2020-08-01 18:09] JamieMagee commented on #13995
Thanks for digging into this @jiasli. It does indeed look like a mismatch in expected versions.

It looks like @Dissonant-Tech is using Arch Linux, like myself, and probably is using the [python-azure-cli](https://aur.archlinux.org/packages/python-azure-cli/) which has a dependency on the [python-azure-git](https://aur.archlinux.org/packages/python-azure-git/) package. This is quite unstable, but

[2020-08-01 18:17] bpossolo commented on #12513
@infrageek it might be helpful for other people searching to remove the word "python" from the issue title as this seems to be language/runtime agnostic.

[2020-08-01 21:56] gxtaillon commented on #14473
I'll use `az login --use-device-code` as that also works. I'm good to close this issue provided we get the change from #14505.

[2020-08-02 00:27] #14473 closed

[2020-08-02 02:44] yungezz commented on #14602
issue fixed.

[2020-08-02 13:19] AronT-TLV opened #14620 "pycopg2 seems to be missing in the included python when I install azure cli with brew"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres --help`
or
- `az postgres up --help`
or
- `az postgres down --he

[2020-08-02 14:30] yonzhan commented on #14620
add to S174

[2020-08-02 19:59] graphicsxp commented on #8388
Having the same issue. Why is this still not assigned for fixing?

[2020-08-02 22:07] yonzhan commented on #8388
functions service team should look into this.

[2020-08-03 01:41] zhoxing-ms commented on #13004
@rebecca-makar Thanks for your reply~ Yes, I understand that. So could we close this issue and only keep #13005 to track this issue?

[2020-08-03 01:43] yungezz commented on #14614
cc @fengzhou-msft since it's openshift modules

[2020-08-03 01:49] yungezz commented on #14608
hi @LudoNieuw could you pls try `az keyvault key download` command? doc  here: https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#az-keyvault-key-download
let us know if any other issue met

[2020-08-03 01:50] yungezz commented on #14599
#14287

[2020-08-03 02:02] MyronFanQiu commented on #14611
@leparduk `--profile-name` is optional since most of them named `default`. If your profile's name is not `default`, you have to specify this value.

[2020-08-03 02:24] qwordy commented on #14574
2.10.0 will be released on 8/4. We have supported it in the new version.

[2020-08-03 02:39] Juliehzl commented on #14620
dupe of #13630

[2020-08-03 02:41] Juliehzl commented on #14620
please upgrade db-up to latest version with the fix.

[2020-08-03 02:41] #14620 closed

[2020-08-03 02:47] Juliehzl commented on #14579
Hi @azuresg, if you want to upload files to file share, the directory in  path should exist, otherwise it cannot get parent name.

Could you show more about your environment information with `az --version`? it seems you are using very old azure cli.

[2020-08-03 02:56] qwordy commented on #14575
It is not supported yet. Added to S174. You can use --image-template as a workaround.

[2020-08-03 03:11] Juliehzl commented on #14564
Hi @rudym, it  is because local file name cannot accept `:` in file name although blob name can contain ":". So you could upload blob with such name but you cannot download as the same name.
If CLI supports such download, we need to encode your original blob name as file name, e.g.  2020-07-12T08%3A00%3A00.000-0-z7xXMEib21_RpAdci8.log, but it will not be original blob name.

Another workaround is

[2020-08-03 03:15] Juliehzl commented on #14556
Done in https://github.com/Azure/azure-cli/pull/14422

[2020-08-03 03:15] #14556 closed

[2020-08-03 03:31] Juliehzl commented on #14545
SDK issue. Report here https://github.com/Azure/azure-data-lake-store-python/issues/314

[2020-08-03 03:39] jiasli commented on #13995
Hi @JamieMagee, thanks for the analysis.

However, the package on Arch Linux's repository is not maintained by Azure CLI team and is provided by the community. We only support installation method provided in the official doc [Install the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). See https://github.com/Azure/azure-cli/issues/9326#issuecomment-56

[2020-08-03 05:08] Juliehzl commented on #14530
Hi @RehanShahid, your --source value should be valid source url.

[2020-08-03 05:28] Juliehzl commented on #14444
[code]

[2020-08-03 05:41] qwordy opened #14623 "[AppService] Test failure"
**Describe the bug**

[code]
These three test cases cannot pass.
Open this issue to track it.

Error
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-08-03 05:47] yungezz commented on #14623
hi @panchagnula could you pls help to look at the issue? Currently Azure CLI CI blocked by the test failure. one example failure: https://dev.azure.com/azure-sdk/public/_build/results?buildId=479772&view=logs&j=771f6cdf-8d98-5d9b-2fb9-d3a6e9554788&t=0a182f1d-9946-580d-467e-4d4ebd6af32d&l=6534

[2020-08-03 06:08] Juliehzl commented on #14374
close the issue now and will keep improving the integration with Azcopy.
I

[2020-08-03 06:08] #14374 closed

[2020-08-03 06:20] Juliehzl commented on #14339
Hi @cloudengineers, currently there is no such command, but I think you could try to get date information and use in az command.
[code]

[2020-08-03 06:21] #14339 closed

[2020-08-03 06:28] dmarinere commented on #14525
This is not a feature request @yonzhan it has worked before and it stopped working when I updated Python on my system

[2020-08-03 06:51] Juliehzl commented on #14080
Hi @PaulCharlton, it is because file share doesn't support AAD credential as shown [here](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-requests-to-azure-storage) which means you could not use `--auth-mode login`, and you have to use --account-key/--connection-string/--sas-token for file share service.

Another workaround is you could try with `az storage share-rm` to manage

[2020-08-03 07:00] #14080 closed

[2020-08-03 07:08] Juliehzl commented on #14216
Hi @igorzi84, `msrest.serialization : Deserializer is not able to find None as valid enum in <enum 'CopyStatusType'>` should only be warning not error.

Could you provide more information with `--debug` in your command?
I am thinking it may be caused by the blob size, which is too big.

[2020-08-03 07:40] Juliehzl commented on #14253
Hi @yannick-Lapierre, please use as below:
[code]

[2020-08-03 07:41] Juliehzl commented on #10699
will support with fixing #10741

[2020-08-03 08:54] AlBlanc opened #14625 "Force pull container images"
**Is your feature request related to a problem? Please describe.**
I am having a container that I can run with different startup commands. (It is a Django project + Celery workers)
The default Docker container configuration is running the Http API.
Then I start a container instance with a different startup command in order to start my celery workers.

As my container name/tag/digest does not chang

[2020-08-03 09:19] yungezz commented on #14625
hi @AlBlanc are you using `az aks` command?

[2020-08-03 09:35] jiasli commented on #14525
May I know the result if you run `az version`? It should look like:

[code]

`start_shell` is defined here, so it shouldn't be missing:

https://github.com/Azure/azure-cli-extensions/blob/a4ad9ba3ac419bed9065c6988a98fbb6b351b01c/src/interactive/azext_interactive/__init__.py#L9-L11

[code]

If the installation is somehow corrupted, could you run

[code]

[2020-08-03 09:56] zuckerruebe commented on #14609
I've only just found this:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#install-local-packages

This is pretty much exactly what I need. Sorry for the trouble, I guess the issue can be closed now.

[2020-08-03 09:56] #14609 closed

[2020-08-03 10:52] deephack1982 commented on #8631
Hello Azure team! I would much prefer to use the snap package for the Azure CLI and I have time to maintain this package if you would like a hand?

[2020-08-03 11:42] AlBlanc commented on #14625
Hello @yungezz, I am not using AKS I am using container instances for the moment. (`az container create` )

[2020-08-03 11:45] TomGeske commented on #14625
cc: @Azure/aci

[2020-08-03 13:29] yungezz commented on #13385
Thanks for reporting the issue. To use the url is to just check network connectivity without real connection. Actually the url is configurable inside CLI code. Hope this clarifies. Would like to close the issue for now, feel free to open issue if any other ask. thanks.

[2020-08-03 13:29] yungezz commented on #13405
hi @alesniak303 thanks for the updating, is it ok to close the issue now since its envrionment issue instead of Azure CLI? thanks.

[2020-08-03 13:35] yungezz commented on #13475
hi @fabicz the error is from Azure Keyvault service

[2020-08-03 13:38] navidarry opened #14626 "cannot import name 'EnrichmentProperties'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Environment Summary
[code]
##

[2020-08-03 13:38] yungezz commented on #13563
this is a feature request.

[2020-08-03 13:41] yungezz commented on #13681
hi @DaCheeseMan did you meet the issue in Cloudshell? If yes, it's a known issue in #11749 . Pls run `az login` to workaround it. add service attention label.

[2020-08-03 13:45] yungezz commented on #14626
routing to appropriate team

[2020-08-03 13:46] qubitron commented on #11634
The deployment path used is here:
https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python?tabs=bash

This generates a .azure/config file with no comment explaining what it is for.

The `.deployment` file comes from VS Code deploy so that is a separate issue.

[2020-08-03 13:54] yungezz commented on #12101
hi @Juliehzl @qwordy any update on this issue?

[2020-08-03 14:05] yungezz commented on #13812
#14287

[2020-08-03 14:14] panchagnula commented on #14623
@cxznmhdcxz looks like the new tests you added are failing in CLI? can you take a look please and fix the test or add a new recording? Thanks!

[2020-08-03 14:17] basnijholt commented on #14374
How is this issue solved exactly? Could you please point me to the relevant PRs/commits?

[2020-08-03 14:17] kwoodson commented on #14614
Adding back in the resource_type statement fixed the error.

[2020-08-03 14:17] #14614 closed

[2020-08-03 14:22] yungezz commented on #8103
hi @qwordy could you pls look at this issue at S174? thanks

[2020-08-03 14:27] yungezz commented on #9451
hi @ghost I don't think `az vm create --secret` supports directly secret id from keyvault, but content, as example list below, doc https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create
[code]

[2020-08-03 14:27] yungezz commented on #9451
close the issue as not a bug, but by design.

[2020-08-03 14:27] #9451 closed

[2020-08-03 14:31] yungezz commented on #14107
hi @qwordy why the issue is re-opened?

[2020-08-03 14:39] yungezz commented on #13974
hi @qwordy @Yao725 could you pls look at the issue?

[2020-08-03 14:41] yungezz commented on #14013
you're right @rioriost , you need run `az feature` to register the feature firstly.

[2020-08-03 14:43] yungezz commented on #14246
hi @chenlomis as synced in email, the installation failed at `apt-get update` due to 3rd party repository. It's not Azure CLI issue. Will close the issue for now. feel free to create new issue if any other issue. thanks.

[2020-08-03 14:43] #14246 closed

[2020-08-03 14:43] Bafff commented on #9867
So, can I use these az consumption to create or get budgets if I am on MCA type of agreement? @ramaganesan-rg

Because now I can get them working

[2020-08-03 14:46] yungezz commented on #13932
hi @fengzhou-msft could you pls close the issue with PR link? thanks

[2020-08-03 14:47] yungezz commented on #10029
hi @mb345345 is this still an issue for you?

[2020-08-03 14:49] #13984 closed

[2020-08-03 14:50] yungezz commented on #12809
hi @qwordy @houk-ms any update on this issue?

[2020-08-03 14:52] yungezz commented on #14065
known issue in #11749 in Cloudshell. hi @jkl2554 could you pls run `az login` to workaround? thanks

[2020-08-03 14:55] yungezz commented on #14129
hi @prakashb83 could you pls share the azure cli commands you're using? From description, it's a python sdk issue.

[2020-08-03 14:56] fengzhou-msft commented on #13932
Close via #14273

[2020-08-03 14:56] #13932 closed

[2020-08-03 15:27] avanishkdev opened #14627 "Error text verbiage while creating a new cosmosdb using Azure CLI"
I was trying to create a azure comosdb using CLI. Got it error a few times , but was not able to identify what the issue was. Syntactically looked like the key value pairs in locations is good. After reviewing it several times identified that it was not the format thats incorrect but  one of the property name itself was incorrect,

![image](https://user-images.githubusercontent.com/66087777/891990

[2020-08-03 15:43] brsteel opened #14628 ""az ad group member list" errors when membership passes 100"
Cannot user az ad group member list --group _groupname_
when membership of group exceeds 100 members.
A page token is invalid is the error.
Appears to return 50 users per query.
It attempts two queries successfully, but the third fails.

To recreate simply use a group in Azure AD populated with 101 users.

Additional info:
Powershell query for get-azureadgroupmember -objectid _idofgroup_ and -all

[2020-08-03 18:15] rebecca-makar commented on #13004
@zhoxing-ms since they are two separate commands should we keep it separated? One Buy for nfs and one bug for blob.

Also I am on PTO this week if I am a little slower to respond.

[2020-08-03 18:29] uandrei opened #14630 "Mandatory parameters for az keyvault secret set not correct"
az keyvault secret set has the value as required parameter and at the moment the documentation page shows it as optional.

![image](https://user-images.githubusercontent.com/11975434/89214937-a01dd180-d5bf-11ea-963d-81b0a1a8a135.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8ed-c246-2ffb-9dff-070b90c18b21
*

[2020-08-03 21:06] yonzhan commented on #14627
cosmosdb

[2020-08-03 21:08] yonzhan commented on #14628
add to S174

[2020-08-03 21:28] aklopfer opened #14631 "Webapp:az webapp create - doesn't support using managed identity creds for ACR pulls"
**Describe the bug**

az webapp create doesn't have arguments to support using managed identity creds for ACR pulls (linux)

**To Reproduce**

n/a: there are not options to specify a managed identity for acr pulls
docs are here (they don't work): https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#configure-app-service-to-deploy-the-image-from-the-registry

*

[2020-08-03 21:33] panchagnula commented on #14631
In order to work on this request we need to make sure we have this change in the SDK https://github.com/Azure/azure-rest-api-specs/pull/10215

[2020-08-03 21:43] panchagnula commented on #14631
@btardif  can you review the command new arguments proposal so based on that we can work on implementation.

[2020-08-03 22:02] tikicoder opened #14632 "Bad link"
The link https://docs.microsoft.com/rest/api/keyvault/certificates-and-policies does not appear to be valid when I goto it it redirects to https://docs.microsoft.com/en-us/azure/key-vault/

I tried to find a new doc, but was unsure where it should go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c661d7-bf43-5354-01

[2020-08-03 22:11] panchagnula commented on #14415
closing this due to lack of response on

[2020-08-03 22:11] #14415 closed

[2020-08-03 22:13] panchagnula commented on #14264
@asw101 - do you have updates on this to share details Calvin asked for?

[2020-08-03 22:17] panchagnula commented on #13282
@calvinsID  can you take a look at this -did your changes to runtime not fix this?

[2020-08-03 22:24] panchagnula commented on #14282
@calvinsID  can you check if we can add some useful validation on the client side here for ASP create command?

[2020-08-03 22:26] calvinsID commented on #13282
Hi @awentzel, the --runtime parameter in `az webapp create` is not case sensitive, so it should work the same regardless if it is upper or lower case. In your use case, node|10.0 and node|10.15 are not supported for linux, as shown by `az webapp list-runtimes --linux` which is why you're receiving the error. The only node runtime currently supported by both windows and linux is node|10.14

[2020-08-03 22:27] calvinsID commented on #13282
I can update the error message to clarify that for linux apps, the list-runtimes command should be used with flag --linux: `Linux Runtime 'node|10.0' is not supported. Please invoke 'az webapp list-runtimes --linux' to cross check`

[2020-08-03 22:49] calvinsID commented on #14282
@ssemyan Thanks for reporting the issue. This has been fixed with PR #14431, and will be in the upcoming CLI release v2.10.0

[2020-08-03 22:49] #14282 closed

[2020-08-03 23:09] panchagnula commented on #11244
@mkarmark like we chatted online - if you could take care of supporting this please. Thanks!

[2020-08-03 23:12] panchagnula commented on #13676
Closing due to lack of response

[2020-08-03 23:12] #13676 closed

[2020-08-03 23:16] panchagnula commented on #13837
@Kotasudhakarreddy do we currently fail this because we do some validation on our end that checks for the serverfarm to be in the same RG as webapp to be created? if not we should make changes to support this to use --resourceID for RG and ASP values. Need more investigation.

[2020-08-04 00:08] Shahar-do opened #14634 "Output cannot be formatted to table - when listing objects and using --query"
Hello, I'm working with webapps, vms, and other objects throguh CLI,
I am able to query those objects, rename columns, etc,
but when I use --query - I am unable to eventually display the output as table.
I have followed this documentation page - https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest step by step.

**Describe the bug**
I am running those commands, for exam

[2020-08-04 00:14] calvinsID commented on #14450
Fixed in upcoming CLI release by PR #14431

[2020-08-04 00:14] #14450 closed

[2020-08-04 00:25] RehanShahid commented on #14530
Thanks @Juliehzl . It is valid source url. Problem is resolved now using :
az storage copy -s source_path -d destination_path --recursive

[2020-08-04 00:25] #14530 closed

[2020-08-04 01:51] #13282 closed

[2020-08-04 01:54] dineshsharmads opened #14635 "az aks scale fails with "The value of parameter imageReference.version is invalid""
## Describe the bug

Following command fails to scale the windows node pool. However, scaling operation from the portal succeeds.

AKS Version: 1.16.10
Windows Nodepool Version: 1.16.10

**Command**
`az aks scale -g <cluster-rg> -n <clustername> --node-count 2 --nodepool-name <windows node pool> --debug`

**Errors:**
[code]

## To Reproduce:
Deploy an AKS cluster version 1.16.10 using portal
Add a

[2020-08-04 02:12] Juliehzl commented on #14374
Hi @bashnijholt, for the issue we will recommend you to use `az storage copy` if you want to have better performance. As we know, Azcopy has very good performance and CLI also wants to utilize azcopy work due to limited bandwidth.
Currently we are keeping working on azcopy integration and will do more with fixing issue https://github.com/Azure/azure-cli/issues/10741.

If you have any other concern

[2020-08-04 02:29] qwordy opened #14637 "[Compute] Support dedicated host group in VMSS"
**Resource Provider**

Compute

**Description of Feature or Work Requested**

Support dedicated host group in VMSS

[code]

**Minimum API Version Required**

2020-06-01

**Swagger Link**

**Target Date**

[2020-08-04 02:37] qwordy commented on #8103
OK

[2020-08-04 02:37] jiasli commented on #11634
We have a document [Azure CLI configuration](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest) explaining what `.azure/config` is.

Indeed, we can put a comments in `.azure/config` explaining what it is. @yonzhan @achandmsft @chenlomis, any thoughts?

[2020-08-04 02:50] arrownj commented on #13569
Hi @edsonharantes , sorry for the late to reply. Is this problem still valid ?

It seems that you use a system python, which is so wired. If you install CLI from a MSI, it has an embedded python in and should not use the system python version.

Could you please help execute `get-command az` in powershell and see what exactly the executing command is ? It should be something like below:

And the co

[2020-08-04 02:54] yungezz commented on #14637
https://github.com/Azure/azure-cli/issues/14056

[2020-08-04 02:57] chenlomis commented on #11634
Sounds like a plan to me
Something along the lines of:" this is where your CLI configs are stored"
@qubitron that aligns with your proposal right?

[2020-08-04 03:00] arrownj commented on #13405
Hi @alesniak303 , actually not only Safari has this behavior, always all modern browsers have this behavior. Yes, we need to remove the SSL mapping cache from the browser to overcome the problem.

So can I close this issue first as it is just a browser usage problem? Thanks

[2020-08-04 03:11] yonzhan commented on #14635
aks

[2020-08-04 03:35] cgreene87 commented on #13261
Is this not considered a breaking change? We lost quite a bit of time trying to figure out why our pipelines _randomly_ stopped working. The issue was compounded because the CLI silently updated to 2.9.1.

Our pipeline was using `"DOTNETCORE|Latest"`; I would have thought the whole point of using something like `Latest` is that it protects you from the removal of hard coded version numbers. `Lates

[2020-08-04 04:22] yungezz commented on #14634
hi @fengzhou-msft could you pls have a look?

[2020-08-04 04:35] nagachaitanya01 opened #14639 "sell.azure.com issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug:-when executing commands in azure shell automatically it is disconnecting

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behav

[2020-08-04 04:57] panchagnula commented on #14055
@calvinsID can we close this since seems like the linked PR fixes this issue?

[2020-08-04 05:12] panchagnula commented on #14469
This is because in Powershell the pipe character (|) has special meaning and the parsing on Powershell is different. See this
[https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues](url)
to know how to escape character to Use CLI commands in Powershell. In general the recommendation is to Use CLI commands with Bash & use azure-powershell commands if yo

[2020-08-04 05:12] #14469 closed

[2020-08-04 05:15] panchagnula commented on #13581
Please try az webapp create if you want to simply create an app and not deploy local content to the app. Thanks!

[2020-08-04 05:15] #13581 closed

[2020-08-04 05:25] panchagnula commented on #13640
Please use az webapp update -set (see examples) to update any value in the site object https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-update

[2020-08-04 05:25] #13640 closed

[2020-08-04 05:26] panchagnula commented on #13641
this is not CLI specific question @btardif  do we have any help documentation we reference in this issue?

[2020-08-04 05:28] panchagnula commented on #13672
@calvinsID we probably need to change the defaults we use for dotnet core with az webapp up.

[2020-08-04 05:29] panchagnula commented on #13674
closing due to lack of response on this.

[2020-08-04 05:29] #13674 closed

[2020-08-04 05:30] panchagnula commented on #13906
Please try with the latest version of CLI and open a new issue if this still a problem thanks.

[2020-08-04 05:30] #13906 closed

[2020-08-04 05:30] panchagnula commented on #13907
We don't have an ETA on supporting this - we will add a milestone when we have a timeline to share.

[2020-08-04 05:32] panchagnula commented on #13929
Known issue with API - we are making changes in API - no ETA to share  at this point.

[2020-08-04 05:34] panchagnula commented on #14050
Please follow the documentation here for general rules with CLI this is not specific to app service module https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues

[2020-08-04 05:34] #14050 closed

[2020-08-04 05:43] panchagnula commented on #14405
@btardif this is a feature request so assigning to you to help figure this out. Thanks

[2020-08-04 05:47] panchagnula commented on #14519
Recommend having  the code to zip under a folder in C: and then  run az webapp up from that folder so up can try to zip that dir; Thanks!

[2020-08-04 05:47] #14519 closed

[2020-08-04 05:49] TomGeske commented on #14635
@dineshsharmads: please, open a support ticket with us.

cc: @keikhara

[2020-08-04 05:49] panchagnula commented on #12035
This is not app service but package issue I recommend using version 3.7 of Python on your Mac instead of 3.8.*

[2020-08-04 05:51] panchagnula commented on #12104
we had a regression with 2.0.81 - we have since fixed up the list-runtimes command - if you can try it with latest version please let us know. Thanks!

[2020-08-04 05:51] #12104 closed

[2020-08-04 05:52] panchagnula commented on #12150
Not sure if we will support  this - but keeping it in backlog so we can reach out to the feature crew.

[2020-08-04 05:54] panchagnula commented on #12325
az webapp up tries to zip the DIR you are running the code from to deploy this content to an app so don't run this command from root DIR.

[2020-08-04 05:54] #12325 closed

[2020-08-04 05:55] panchagnula commented on #12460
we are not able to repro this please upgrade to the latest version of CLI and re-try thanks!

[2020-08-04 05:55] #12460 closed

[2020-08-04 05:55] panchagnula commented on #12462
closing this since this is not related to azure-cli

[2020-08-04 05:55] #12462 closed

[2020-08-04 05:56] panchagnula commented on #12700
Please re-try with latest version of CLI we added validation checks to az webapp up so you shouldn't see null validation errors.

[2020-08-04 05:56] #12700 closed

[2020-08-04 05:58] panchagnula commented on #12759
@calvinsID can you check if we can repro this with up? Thanks

[2020-08-04 06:00] panchagnula commented on #12780
Can you clarify what do you mean by Powershell steps? az webapp auth doesn't help?

[2020-08-04 06:01] panchagnula commented on #12801
@Kotasudhakarreddy can you check if you can repro this using the steps provided?

[2020-08-04 06:02] panchagnula commented on #12832
Hmm not sure if this is specific to az webapp up from the stack trace it hasn't even reached the az webapp up execution; are you still seeing this?

[2020-08-04 06:03] panchagnula commented on #12996
@calvinsID does your latest change fix this None error?

[2020-08-04 06:04] panchagnula commented on #13058
This is a really old version of CLI please get the latest version and re-try or use shell.azure.com

[2020-08-04 06:04] #13058 closed

[2020-08-04 06:05] panchagnula commented on #13141
please run command with --timeout parameter to increase the time out so that we don't timeout & throw a warning message since we were not able to get the status of the long running operation.

[2020-08-04 06:05] #13141 closed

[2020-08-04 06:07] panchagnula commented on #13204
@AnandPatel4Git checking to see if your issue is resolved?

[2020-08-04 06:11] panchagnula commented on #13427
closing due to lack of response.

[2020-08-04 06:11] #13427 closed

[2020-08-04 06:11] panchagnula commented on #13571
App insights team is working on this - & they will provide an ETA not webapp specific issue.

[2020-08-04 06:12] panchagnula commented on #5598
Not CLI specific closing.

[2020-08-04 06:12] #5598 closed

[2020-08-04 06:14] panchagnula commented on #10956
This is the only way to support this currently. Thanks!

[2020-08-04 06:14] #10956 closed

[2020-08-04 06:15] panchagnula commented on #11160
make the user has permissions to write to the folder since we try to zip the contents and save locally.

[2020-08-04 06:15] #11160 closed

[2020-08-04 06:16] panchagnula commented on #11818
closing since linked PR has been merged.

[2020-08-04 06:16] #11818 closed

[2020-08-04 06:18] panchagnula commented on #11932
@vinisoto can we close this issue?

[2020-08-04 06:19] madsd commented on #11867
Hi @abrignola - ETA is when we have the next natural update. Currently it is considered stable, and we just need to remove the Preview flag. If either @panchagnula or @Kotasudhakarreddy makes changes to App Service CLI first, they are welcome to remove the flag as well.

[2020-08-04 06:22] panchagnula commented on #11937
Please use the following command to debug if you still see these issues during deployment https://docs.microsoft.com/en-us/cli/azure/webapp/log/deployment?view=azure-cli-latest#az-webapp-log-deployment-show

[2020-08-04 06:22] #11937 closed

[2020-08-04 06:23] panchagnula commented on #11951
closing due to lack of response.

[2020-08-04 06:23] #11951 closed

[2020-08-04 06:24] panchagnula commented on #12018
@vinisoto can you help here?

[2020-08-04 06:26] Juliehzl commented on #12101
I can reproduced with keyvault reference. From the error message, it is service error from AKS server.

[2020-08-04 06:28] arrownj commented on #13299
Hi @philspokas , actually the formats of `az role definition update` and `az role definition create` are different. You can reference #14411 where @jiasli gave us a very clear explanation.

[2020-08-04 06:29] Ayanmullick commented on #12780
@panchagnula, It would be easier to integrate with my existing PowerShell scripts if there was an equivalent PowerShell cmdlet in the [Az.Websites module](https://docs.microsoft.com/en-us/powershell/module/az.websites/?view=azps-4.4.0).

[2020-08-04 06:39] panchagnula commented on #12780
Got it I am moving this to az-powershell so we can work on adding support on Powershell module.

[2020-08-04 06:41] TomGeske commented on #12101
You should try to store your secret in a parameter and reference that parameter in servicePrincipalProfile.

[code]
Similar to this [guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli#reference-secrets-with-dynamic-id)

[2020-08-04 06:43] panchagnula commented on #13696
Thanks please check this documentation hopefully this helps on how to escape this property while using PS https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues

[2020-08-04 06:43] #13696 closed

[2020-08-04 06:46] arrownj commented on #13296
Hi @the-vampiire , sorry for reply late. Could you please tell which document are your following ? As I know, `az ad app list` can only list applications, not a adb2c account.

To create a application, you can just run `az ad app create`.

[2020-08-04 07:04] arrownj commented on #13248
Hi @peterfleck , `knownClientApplications` is an array, to add a value to it, you should use below command:

[2020-08-04 07:07] arrownj commented on #13312
Hi @mohamedhafez , thanks for reporting this problem, the default mod will change to `600` in our next release.

[2020-08-04 07:20] tsgenge commented on #12018
Thanks for the progress guys, we generally love the Azure CLI; our whole infrastructure being deployed and configured from script during each deployment (idempotent); just awesome.

[2020-08-04 07:20] zhoxing-ms commented on #13005
This problem is due to the Python SDK throws an exception when `response.status_code` is 202, [code link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_targets_operations.py#L326)

In fact, it should not throw an exception directly in a scenario where the resource is being updated,
Therefore, the SDK needs

[2020-08-04 07:40] patrickgalbraith opened #14641 ""az storage blob upload-batch" no longer works"
**Describe the bug**

Using `mcr.microsoft.com/azure-cli:latest` fails with "No such file or directory: '$web'". However using `mcr.microsoft.com/azure-cli:2.9.1` works.

**To Reproduce**

Using `mcr.microsoft.com/azure-cli:latest`
[code]

**Expected behavior**

Command to finish successfully.

**Environment summary**

Docker image sha256:55a65eee1172e112a466d82671410fd2b3d1bed4f7c144e4f375dca2f2c

[2020-08-04 07:49] zhoxing-ms commented on #13004
@rebecca-makar Sorry, I can't see the parameter `--junctions` after executing command `az hpc-cache blob-storage-target update -h`, and I can't reproduce this problem.
[code]

Could you please add the parameter `--debug` to the command which is in the issue, and then execute it to show me the printed information?
You can send it to me by email, my email address Zhou.Xing@microsoft.com

[2020-08-04 07:52] dineshsharmads commented on #14635
Thanks @TomGeske
I have opened a support case.

[2020-08-04 08:15] najuste commented on #14641
Having the same issue, thanks for posting. Checking your suggestion for using diff image

[2020-08-04 08:25] PaulBunker commented on #14641
I'm also having the same issue, I have reverted to using vs code plugin to deploy since delete task nuked my site.

[2020-08-04 08:29] ShreyasRmsft opened #14642 "[BUG] Azure CLI: Linux VM Run command can hang"
### Describe the bug
There are times when a azure vm linux run command execution gets hung and remains in this state indefinitely and we are unable to queue new run commands on that VM. The 90 minute timeout mentioned in the docs does not kick in. Stopping and starting the VM also does not allow queueing a new run command.

One simple way to repro this is to restart the walinuxagent process while

[2020-08-04 08:39] arrownj commented on #13389
Hi @frankliu20 , why the endpoint in your log is `api-dogfood.resources.windows-int.net` ? Is there any special settings in your case ? Maybe you can share more about your environment to help us investigate the problem. Thanks

[2020-08-04 08:40] #14430 closed

[2020-08-04 08:44] AlBlanc opened #14643 "Container instances operations in wrong order"
**Describe the bug**
When I chain delete + creation of a container instance by CLI, it seems the delete operation is processed after the creation. I can see my container instances for few seconds and then it disappears.

**To Reproduce**
[code]

**Expected behavior**
Respect the operation order, by doing that I can't deploy a new container.

**Environment summary**
[code]

**Additional context**
I

[2020-08-04 08:49] bennya1 opened #14644 "az aks Ingress Controller add-on(Greenfield) documented "create" command giving error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Following the documentation* to create APPGW Greenfield the default command provided below error

* https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-new#deploy-an-aks-cluster-with-the-add-on-enabled

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reprodu

[2020-08-04 08:55] Woap commented on #14641
Same issue here

[2020-08-04 09:00] AlBlanc commented on #14643
Even a 30seconds sleep between delete and creation is not enough

[2020-08-04 09:21] zhoxing-ms commented on #14060
@dbradish-microsoft Hi, thank you very much for your feedback. `--junction` supports only `namespace-path`, `nfs-export` and `target-path` sub parameters.
The detailed description is shown in this document: [link](https://docs.microsoft.com/en-us/rest/api/storagecache/caches/update#namespacejunction)
I will supplement and optimize our examples according to the information you provided~

[2020-08-04 10:02] andrehaupt commented on #14641
Same here

[2020-08-04 10:13] FUGIFA commented on #14641
Same here.

[2020-08-04 10:15] kostyay commented on #10241
Any update on this? It will be super useful for us as well.

[2020-08-04 10:17] arrownj commented on #13368
Hi @vladimirjoanovic @rthorn17 , seems the error (ERROR: A hash conflict was encountered for the role Assignment ID. Please use a new Guid) is reported by service side, could you please help check this problem ? Thanks

[2020-08-04 10:27] arrownj commented on #13354
Hi @vladimirjoanovic @rthorn17 , could you please also help check this problem? Is there any async tasks in the service side which leads this problem ? Thanks ahead.

[2020-08-04 10:53] yonzhan commented on #14639
Please share the detailed command and error message for us to troubleshoot if it is CLI issue.

[2020-08-04 11:05] Juliehzl commented on #12101
Hi @TomGeske, we are using with the following template format. is there anything wrong?

[code]

[2020-08-04 11:08] yonzhan commented on #14642
Linux VM

[2020-08-04 11:10] yonzhan commented on #14644
aks

[2020-08-04 11:20] TomGeske commented on #14644
This is related to Application Gateway

cc: @mscatyao

[2020-08-04 11:45] TomGeske commented on #12101
I think you need to move your keyvault reference outside of your template into the parameters section:

[code]

[2020-08-04 11:57] yonzhan commented on #14643
container

[2020-08-04 12:05] yonzhan commented on #14641
add to S174

[2020-08-04 12:13] yungezz commented on #13194
private package is provided to service team for testing. Will only release it when service public, ETA now is around Sep.

[2020-08-04 12:15] yungezz commented on #13601
private package is provided to service team for testing. Will not release when service public. This is part of MHSM feature, current ETA is public around Sep.

[2020-08-04 12:29] yungezz commented on #14292
hi @qwordy is this test still failing intermittent recently?

[2020-08-04 12:34] yungezz commented on #13747
hi @tinokingstone this is caused by issue https://github.com/Azure/azure-cli/issues/14011, similiar one #14001. Root cause is that old version 2.0.81 which isn't correctly package. Could you pls follow official installation guide here to install latest azure cli https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest? let us know if any other issue met

[2020-08-04 12:36] yungezz commented on #14332
seems no feedback from customer on this after clarifying the behavior, will close the issue for now.

[2020-08-04 12:36] #14332 closed

[2020-08-04 12:37] schaijkw commented on #11980
I am also running into this issue. After the zip deploy I got a 503 and the deployment is stuck on the malformed data message.

[2020-08-04 12:41] schaijkw commented on #12510
I have the same issue for a Python Function App. Is there any update or link on the follow-up issue?

[2020-08-04 12:43] yungezz commented on #13471
hi @qwordy ,could you pls have a look at this issue?

[2020-08-04 12:51] yungezz commented on #14474
hi @bim-msft what's status of this issue? is deprecating message added to the param?

[2020-08-04 13:42] ariklin commented on #14594
@eliagrady, please advise.

[2020-08-04 14:00] akhilrajmailbox commented on #14641
same here

[2020-08-04 14:11] vinisoto commented on #11932
I think we should close it. By design we won't be supporting custom drives for now.

[2020-08-04 14:39] vinisoto commented on #12018
Looks like this might have been fixed with #13813. Please note that if your container is in ACR you need to specify the ACR credentials `--docker-registry-server-user <<some user name>> --docker-registry-server-password <<some password>>` as part of the webapp create command:

`az webapp create --name myWebsite --plan myAppServicePlan --resource-group myResourceGroup --deployment-container-image-n

[2020-08-04 14:55] fenfenzhong92 commented on #14641
same here

[2020-08-04 15:12] bacongobbler commented on #14641
Hi @yonzhan. Looking at that milestone, it is planned to be released on August 25th (3 weeks from now).

Is that an accurate timeline here? I'm trying to determine whether I should submit a patch to revert back to v2.9.1 or wait for a hotfix, as this is a major blocker for those using [Azure Storage for static website hosting](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-stati

[2020-08-04 15:48] diego-pomatta opened #14646 "Cannot import a bacpac into an existing non-empty db. Need to clarify that."
Change "**Imports a bacpac into an existing database**" to  "**Imports a bacpac into a new database, or an existing empty database.**"
**Reason:** You cannot import a bacpac into an existing non-blank database. The above description has confused customers and caused several support incidents to be open.

If you attempt to import a bacpac to an existing -non empty- database you get this error:

**O

[2020-08-04 16:12] simon-michaud opened #14647 "Example needed or explain syntax for using multiple (not in the same range) IPs with generate-sas and parameter --IP"
There is no example or explanation for the syntax when entering mutliple IPs for the generate-sas with --IP option, please provide one or more.

Thanks,

Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7ab58260d
* Content: [a

[2020-08-04 16:19] panchagnula commented on #11932
Thank @vinisoto closing the issue.

[2020-08-04 16:19] #11932 closed

[2020-08-04 16:51] GraemeMalcolm opened #14648 "CLI v 2.10.0 gives FileNotFoundError error"
When using CLI 2.9.1, the --destination (-d) parameter specifies the name of the container and the following command successfully uploads the contents of the local source dir to the (existing) container named "margies":

`az storage blob upload-batch -d margies -s ../data --account-name <account-name> --auth-mode key --connection-string <conn-string> --output none`

After upgrading to CLI 2.10.0,

[2020-08-04 16:55] alexpilon666 commented on #14494
@yonzhan , why the "Feature Request" tag ? This is not a feature request, but a bug, as the `--private-ip-address` argument already exists, but doesn't do what it is supposed to do.

[2020-08-04 16:56] dagoroz commented on #14552
@yonzhan Friendly follow up ping

[2020-08-04 16:57] goosseno commented on #14641
Having the same issue here. **FileNotFoundError: [Errno 2] No such file or directory:**

[2020-08-04 17:05] Francisco-Gamino opened #14649 "functionapp: Remove support to create PowerShell 6.2 function apps"
**Description**
Remove support to create PowerShell 6.2 function apps

cc: @gzuber @eamonoreilly @anirudhgarg @anthonychu @stefanushinardi

[2020-08-04 17:13] BrandonE commented on #9128
Shouldn't this be closed with the merger of that PR?

[2020-08-04 17:32] GraemeMalcolm commented on #14641
Me too - duplicate bug: https://github.com/Azure/azure-cli/issues/14648

[2020-08-04 17:33] GraemeMalcolm commented on #14648
Duplicate bug: https://github.com/Azure/azure-cli/issues/14641

[2020-08-04 17:51] kpm-at-hfi commented on #14641
same here

[2020-08-04 18:26] qubitron commented on #11634
Yep something like "This file contains saved configurations for your CLI, read more at: aka.ms/1234".

We probably want an aka link in case we change where this points to.

[2020-08-04 18:34] andrehaupt commented on #14641
Seems to have been resolved on our side. No changes made.

[2020-08-04 18:46] calvinsID commented on #14264
I was suddenly able to repro again, not sure what changed.. Will investigate

[2020-08-04 19:25] kpm-at-hfi commented on #14641
Still failing for me. In case I'm doing something wrong, here's what I'm doing as a GitHub Action:

[code]

This was working at Mon, 03 Aug 2020 19:28:44 GMT.

[2020-08-04 19:31] manojk011 opened #14651 "az storage account create command line option"
**Describe the bug**
```az storage account create``` command does not expose any command line option "--allow-blob-public-access" as mentioned in the documentation.
https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-create

**Additional context**
I have been trying to look up for the az cli versions which can support it but even the latest version 2

[2020-08-04 19:41] dastewa commented on #12193
Hi @Juliehzl - This issue should probably be reopened as the problem that was mentioned has not been resolved (unless I'm missing an update). I only ended up finding this issue because of the mentioned error message - only to find out that --auth-mode login is not supported. Having an accurate error message would have saved this investigative time for myself and others.

[2020-08-04 19:44] DaCheeseMan commented on #13681
I just tried again using Azure Cloud Shell via Terminal (the app), and I got the same error. But after running `az login` it worked so this is probably the same issue as #11749.

[2020-08-04 20:15] sachamicrosoft commented on #6147
@jiasli  - what version of the az cli carries the new MSAL feature? Is it out?

[2020-08-04 20:28] trendoid commented on #14641
I had the same issue.  2.9.1 worked but latest didn't

https://github.com/Azure/cli/issues/19

name: Publish styles
uses: Azure/cli@v1.0.0
with:
azcliversion: latest
inlineScript:

az storage blob upload-batch -s $GITHUB_WORKSPACE/.out-styles -d ui-component-library/styles/${{ steps.publishVersion.outputs.version }} --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }} --account-key ${{ secrets.STORA

[2020-08-04 20:39] bacongobbler commented on #14641
Posting here for those looking for a workaround with the `azure-blob-storage-upload` github action:

[code]

https://github.com/bacongobbler/azure-blob-storage-upload/commit/79465224a1ed32bc66105a825839e9f71a544fa0 was the fix reported by a few community members (thanks to @linkeshkanna for reporting the bug and following up with confirmation on a fix).

Changing `azcliversion` to `2.9.1` as @tren

[2020-08-04 20:56] #14648 closed

[2020-08-04 21:02] kpm-at-hfi commented on #14641
Thanks @trendoid and @bacongobbler... I had wrongly tried updating the image tag (not the `azcliversion`) to `2.9.1`.

[2020-08-04 21:06] jvano commented on #11932
@dazinator  thanks for the feedback about the "E:\Backups" example.

I will add this into our backlog but as @vinisoto mentioned custom drives are not supported at this point.

[2020-08-04 21:15] HuaRUAN opened #14652 "az aks install-connector --name not compatible with Helm 3"
az aks install-connector --name MyManagedCluster --resource-group MyResourceGroup

It returns error from command line as --name is not supported in Helm 3.

[2020-08-04 21:17] carlowahlstedt opened #14653 "Unable to get `az cli cloud register --cloud-config` to work"
**Describe the bug**
Unable to use the `--cloud-config` option to register a new cloud.

**To Reproduce**
1. Run `az cloud show -n AzureUSGovernment -o json >> cloud.json`
1. Delete the isActive and name entries in the cloud.json file
1. Run `az cloud register -n test --cloud-config @"./cloud.json"`

Error:
[code]

**Expected behavior**
A new cloud is registered

**Environment summary**
brew insta

[2020-08-04 22:22] mitchdenny opened #14654 "CLI pipeline inefficiency"
I was looking into an issue with the ```azure-cli``` repository pipelines and I noticed as part of my investigation that the pipeline appears to use a lot of separate jobs. It seems like there are stages that all run on the same vmImage which could execute sequentially as tasks within the same job.

This would result in less resource wastage (VMs needlessly being drained from the shared pool) and

[2020-08-04 22:23] yonzhan commented on #14652
aks

[2020-08-04 22:24] yonzhan commented on #14646
sql

[2020-08-04 22:25] yonzhan commented on #14647
add to S174

[2020-08-04 22:30] yonzhan commented on #14649
functionapp

[2020-08-04 22:51] the-vampiire commented on #13296
@arrownj i have not seen a distinction between an AD app and an ADB2C app. documentation around these discusses them both as if they were the same (a general AD registered application).

i was not trying to view the adb2c account but instead just interact with the registered applications within it. for example to update the redirect URI or manage scopes from the `az` CLI

[2020-08-04 23:02] yonzhan commented on #14651
storage

[2020-08-04 23:30] lululilliancoding opened #14655 "Click menu "View->Other Windows->Python Environment" and create a new one by pointing to a local installed Python like 3.7.0 - this step is not correct since Visual Studio 2015 doesn't support Python greater than 3.5."
**Describe the bug**
Under Visual Studio 2015 tag,
Click menu "View->Other Windows->Python Environment" and create a new one by pointing to a local installed Python like 3.7.0 - this step is not correct since Visual Studio 2015 doesn't support Python greater than 3.5.

**To Reproduce**

**Expected behavior**
Make description correct.

**Environment summary**

**Additional context**

[2020-08-05 00:06] yonzhan commented on #14654
add to S175

[2020-08-05 00:27] thisisbrianstewart commented on #11863
@ankitkumarr -- any traction on this one?

[2020-08-05 00:52] arrownj commented on #13533
Hi @mathurneha , will close this issue first for no more feedback for a long time. You can reopen it if you have other concerns. Thanks

[2020-08-05 00:52] #13533 closed

[2020-08-05 00:52] arrownj commented on #13405
Hi @alesniak303 , I will close it first. If you have other concerns, you can reopen it. Thanks

[2020-08-05 00:52] #13405 closed

[2020-08-05 01:03] nbihan-mediware opened #14656 "az login WSL 2 Ubuntu 18.04 does not open browser"
**Describe the bug**
When running command `az login` web browser won't open.
Running on verbose mode

[code]

**To Reproduce**
Run `az login` on WSL 2 Ubuntu 18.04

**Expected behavior**
Default browser opens on AZ login page.

**Environment summary**
Windows 10 Pro 2004

WSL 2 Ubuntu 18.04
[code]

[code]
**Additional context**
Running
[code]
opens successfully the browser on the Azure CLI issues

[2020-08-05 01:16] jiasli commented on #6147
@sachamicrosoft, you may try out the [Beta release](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli#install-or-update) which uses MSAL internally and see if this issue still happens.

[2020-08-05 02:11] #7904 closed

[2020-08-05 02:31] qwordy commented on #13812
Close it for no reply.

[2020-08-05 02:31] #13812 closed

[2020-08-05 02:33] qwordy commented on #14287
Does checking object existence fix this type of bug? Sometimes it conceals the bug and buries bombs in project.

[2020-08-05 02:49] qwordy commented on #14107
Bug of Github

[2020-08-05 02:49] #14107 closed

[2020-08-05 02:50] qwordy commented on #13747
No response since June 1st.

[2020-08-05 02:50] #13747 closed

[2020-08-05 02:56] yungezz opened #14658 "[Keyvault] MHSM control plane support"
**Is your feature request related to a problem? Please describe.**

Keyvault

**Describe the solution you'd like**

Support for keyvault MHSM control plane.
Swagger link: https://github.com/Azure/azure-rest-api-specs/pull/8996
service spec: https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft.sharepoint.com%2F%3Aw%3A%2Ft%2FAzureKeyVault-SDKPSHCLICollaboration%2

[2020-08-05 02:57] yungezz commented on #14658
@bim-msft has provided private package for service team testing.

[2020-08-05 03:05] qwordy commented on #13732
@ecsousa Could you run the above command?

[2020-08-05 03:48] lamaks opened #14660 "az storage blob upload-batch terminates with error in 2.10 but worked in 2.08"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -d {} -s {} --account-name {}`

[2020-08-05 03:50] yungezz commented on #14655
hi @lululilliancoding are you using Azure CLI? seems the issue is VisualStudio, not azure cli related. Will triage later when have more info.

[2020-08-05 03:54] qwordy commented on #12809
I follow this article and it works well. I also run "disable" command. No error.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-cli-quickstart
Maybe you can ask for help in https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#feedback

[2020-08-05 03:54] #12809 closed

[2020-08-05 03:55] lamaks commented on #14641
@yonzhan any ETA to provide the fix or workaround for .sh script?

[2020-08-05 03:57] yungezz opened #14661 "[Subscription] catch up latest API version"
**Resource Provider**

Subscription. https://github.com/Azure/azure-cli-extensions/tree/master/src/account

**Description of Feature or Work Requested**

Service team asks to catch up latest API version. https://github.com/Azure/azure-rest-api-specs-pr/tree/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-10-01-preview

**Minimum API Version Required**

**Swag

[2020-08-05 03:58] yungezz commented on #14661
catch up latest API version

[2020-08-05 04:29] dineshsharmads commented on #14635
Turns out this is a known CLI issue and fix is ready and pending deployment.
To work around the issue, you may use az aks nodepool scale, same as the API used by Azure portal.

[2020-08-05 04:29] #14635 closed

[2020-08-05 04:29] akhilrajmailbox commented on #14641
The latest azure-cli version have the issue, try to use the old version, it solved the issue for me, I revert back to version: 2.1.0

for ubuntu 18 : azure-cli=2.1.0-1~bionic

[2020-08-05 04:40] yonzhan commented on #14656
add to S174

[2020-08-05 05:26] jiasli commented on #14656
We currently haven't developed and tested on WSL 2, so it is not supported yet. For now, you may use

[code]

[2020-08-05 05:36] lululilliancoding commented on #14655
I am using VS 2015 but the document said suggest use python 3.7 well VS 2015 doesn't support python 3.7

[2020-08-05 05:36] #13359 closed

[2020-08-05 05:53] yungezz commented on #14655
@lululilliancoding thanks for the info. unfortunately, this repo is for Azure CLI tool. It's not the right place for VS related issue. could  you pls create issue at VS? thanks.

[2020-08-05 06:07] arrownj commented on #13610
Hi @bviglietta , thanks for reporting, `assignableScopes` should not be empty in the json file. We will print a human readable message instead of the exception in our next release.

[2020-08-05 06:40] patrickgalbraith commented on #14641
@akhilrajmailbox  There should be a 2.9.1 package I would try `azure-cli=2.9.1-1~bionic`

[2020-08-05 07:50] soulcoolzz opened #14665 "detaching NSG from subnet does not work"
[Enter feedback here]

Doc under "az network vnet subnet update" says that:

"--network-security-group --nsg
Name or ID of a network security group (NSG). Use empty string "" to detach it."

But when I use empty string, it does not work and output ERROR like below:

"
PS /home/lub> az network vnet subnet update -n frontendSubnet --vnet-name MyVirtualNetwork -g TestResourceGroup --nsg $myNSG
az net

[2020-08-05 08:19] tboerstad commented on #14023
@btardif Are there plans for static hosting on Linux App Service?

I face the same challenge as the original poster linked to. I have an existing backend which is running on Linux App Service, and I would like the static frontend to be in the same App Service Plan. This way the backend and frontend can share resources and hopefully improve latency. I suspect there are more of us with this use case

[2020-08-05 08:25] #14186 closed

[2020-08-05 08:26] fengzhou-msft commented on #14186
via https://github.com/Azure/azure-cli-extensions/pull/2113

[2020-08-05 09:02] jiasli commented on #10241
We are currently implementing this feature in the Azure Identity Integration process and it will be included in the next Beta release. But we can't provide a solid ETA yet.

[2020-08-05 09:08] tsgenge commented on #12018
Thanks guys, we appreciate the response and engagement. Keep up the good work!

[2020-08-05 09:14] danmana commented on #14641
It worked after switching my gitlab build from
[code]
to
[code]

I didn't even notice until now that I was using an older docker image `microsoft/azure-cli` that was [moved](https://hub.docker.com/r/microsoft/azure-cli) to `mcr.microsoft.com/azure-cli`

[2020-08-05 09:23] JoepDriesen commented on #14660
We are experiencing the same issue since yesterday on our CI/CD pipeline.

[2020-08-05 09:29] mszykora commented on #14660
With the `azure-cli 2.9.1 *` version it still works.

[2020-08-05 09:39] jkenefick commented on #12390
Having this issue with 2.10 as well
[code]

[2020-08-05 10:13] cxznmhdcxz commented on #14623
Three test methods that raises:
1. `test_webapp_assign_user_identity`
2. `test_webapp_remove_identity`
3. `test_webapp_create_with_msi`

For the first and second one, I could reproduce the same error in live mode (different random name though of course), and could pass live/record mode after a small fix.

However for the third one, I could pass either live/record mode.
Still looking into it. But a

[2020-08-05 11:28] yonzhan commented on #14665
add to S174

[2020-08-05 11:36] yonzhan commented on #14660
add to S174

[2020-08-05 12:08] justlev commented on #14660
@yonzhan This another CI/CD for us as well, and I believe we are not the only ones.
Any chance this can be hotfixed, prior to the S174 release on August 25th?

[2020-08-05 12:40] yonzhan commented on #14660
@Juliehzl is looking into this and will update here later.

[2020-08-05 12:59] Juliehzl commented on #14651
Hi @manojk011, could you check if you installed `storage-preview` extension with `az extension list`?

[2020-08-05 13:02] Juliehzl commented on #14660
dupe of #14641

[2020-08-05 13:53] Juliehzl commented on #14641
Hi @patrickgalbraith, the fix is done in attached PR. Currently you could find artifacts here https://dev.azure.com/azure-sdk/public/_build/results?buildId=484329&view=artifacts&type=publishedArtifacts with the fix and we will release the hotfix version soon.

[2020-08-05 13:56] Juliehzl commented on #14660
Hi @lamaks , the fix is done in attached PR. Currently you could try available artifacts here https://dev.azure.com/azure-sdk/public/_build/results?buildId=484329&view=artifacts&type=publishedArtifacts with the fix.
I see you are using homebrew installer.  Currently you could try with `pip install xx.whl` in artifacts page first and we will release the hotfix version soon.

[2020-08-05 14:35] hirezeli opened #14670 "Kubectl installation fails in WSL due to Python 3.6 SSL certificate error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Update Windows 10 to version 2004
- Install WSL and reboot
- Update WSL to version 2 and reboot
- Install Wind

[2020-08-05 14:44] johnwc commented on #11718
Did this get raised with the Web RP team?

[2020-08-05 14:49] justlev commented on #14660
Thank you very much!
We are using the official CircleCI azure-cli orb from here: https://circleci.com/orbs/registry/orb/circleci/azure-cli. The orb, unfortunately, doesn't allow one to explicitly specify a version of the CLI, so we are trying to override the latest version with 2.9.1 using a separate `apt-get install` call

[2020-08-05 15:08] MehaKaushik commented on #14627
Hey @avanishkdev thanks for your feedback. We will investigate further and decide if that is possible. I will update here in sometime

[2020-08-05 15:28] AdamCoulterOz opened #14671 "WebApp Cert Bind - can't find cert"
## Describe the bug

**Command Name**
`az webapp config ssl bind`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- create an app service plan (premiumV2) and a web app for containers (linux), in different resource groups but same sub
- add a verified custom domain name (cname & txt rec

[2020-08-05 15:31] AdamCoulterOz commented on #14671
I think this is a duplicate of #13929

[2020-08-05 15:31] #14671 closed

[2020-08-05 15:42] AdamCoulterOz commented on #13929
I've also run into this (when the serverfarm is in a different rg than the webapp)...  in debug mode the az cli clearly switches contexts from searching for the certificate under the webapp to the underlying server farm. Instead of running:

[code]
with {rg} of the webapp

it runs

[code]
with {other-rg} of the webapp's serverfarm

When you do the same operation via the portal it does work, seems

[2020-08-05 15:43] AdamCoulterOz commented on #13929
Thumbprint is also not the best ID to use here, cant we use the certificate ARM ID? e.g.

`/subscriptions/{}/resourceGroups/{}/providers/Microsoft.Web/certificates/{custom-domain-name}`

as when the certificate gets rotated, it will change the thumbprint

[2020-08-05 15:55] panchagnula commented on #12018
Thanks for the feedback @tsgenge . Closing the issue for now.

[2020-08-05 15:55] #12018 closed

[2020-08-05 15:56] AdamCoulterOz commented on #9972
this is still an issue as a new version of it is #13929

[2020-08-05 16:03] AdamCoulterOz commented on #9972
@panchagnula

I disagree with this... all the docs imply the certificate upload and/or a managed certificate are against the web app, not the service plan. In fact when you do it via the portal, it creates them in the RG for the web app, not the service plan. I've even inspected the REST API calls made from the portal to confirm this.

What you are suggesting is a possible work around (although I

[2020-08-05 16:19] kovarikthomas opened #14672 "Creating VM with attach-os-disk does not support setting SSH keys"
**Describe the bug**
Running az vm create command with the following combination of optional flags (--attach-os-disk, --authentication-type, and --ssh-key-values) fails with the following error message:
`invalid usage for storage profile: attach existing managed OS disk: not applicable: --authentication-type, --ssh-key-value.`
The same command succeeds when run without --authentication-type and --

[2020-08-05 16:45] lgmorand commented on #14641
@danmana like you I was using the oldest docker image but since we are impacted by the CLI, it seems that even the oldest one has been updated with the broken CLI version isn't it ?

[2020-08-05 17:09] owenmather commented on #9972
The suggested fix does not work. This was never fixed. Not sure why it was ever closed.

Also upload certificate to app service plan:

az webapp config ssl upload --certificate-file MY_DOMAIN.pfx --certificate-password test1234 --name ASP1 --resource-group RG1 -o tsv --query thumbprint
fails with error:

{"error":{"code":"ResourceNotFound","message":"The Resource 'Microsoft.Web/sites/ASP1' under r

[2020-08-05 17:15] panchagnula commented on #14618
Closing this since we this seems like it worked.

[2020-08-05 17:15] #14618 closed

[2020-08-05 17:20] panchagnula commented on #14623
@calvinsID can you check if on the latest Dev you are able to repro these tests failing as well?

[2020-08-05 18:06] johnmeister opened #14674 "--host-names not working with FQDN list."
**Describe the bug**
running preview command --host-names is not allowing multiple FQDN's to be uploaded

**To Reproduce**

command ran is
`az network application-gateway http-listener update -g MyGroup--gateway-name MyGateway -n myListenerSecure --host-names www.mywebsite.com,mywebsite.com --verbose --debug `

error message returned:
"HostName www.mywebsite.com,mywebsite.com is not a FQDN for Htt

[2020-08-05 18:22] josiahvinson opened #14675 "Allow configured default name for functionapp commands"
**Is your feature request related to a problem? Please describe.**
`webapp` commands can access [configured defaults](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-configure): `group` and `web`. `functionapp` commands don't have an equivalent configurable default for the `name`
parameter.

**Describe the solution you'd like**
I'd like to add a configurable def

[2020-08-05 18:59] alexeyshishkin01 commented on #14444
now it works!

root@Alexey-HP:~# az storage account create \

AccessTier    CreationTime                      EnableHttpsTrafficOnly    Kind       Location     Name      PrimaryLocation    ProvisioningState    ResourceGroup        StatusOfPrimary
------------  --------------------------------  ------------------------  ---------  -----------  --------  -----------------  -------------------  -----

[2020-08-05 19:33] lululilliancoding commented on #14655
Yes it is VS2015 don't support python 3.7 and you can say it is VS issue rather than Azure CLI tool issue but the documentation/description is on Azure CLI repo right? I mean the description is wrong.

[2020-08-05 19:37] lululilliancoding commented on #14655
I heart from other dev that how they point VS to python 3.7+ is they install both VS 2015 and VS 2019 then create virtual env via VS 2019 so since it can point to python 3.7+ (VS 2015 can't) then go back to use VS 2015 to run tests. I mean the steps description is not updated for new developers who want to develop CLI cmdlets.

[2020-08-05 19:52] calvinsID commented on #14623
I got the same results as @cxznmhdcxz. Test `test_webapp_assign_user_identity` and `test_webapp_remove_identity` pass live with the change: `@ResourceGroupPreparer(name_prefix="clitest", random_name_length=24)`, while I was unable to repro error on test `test_webapp_create_with_msi` - it passes live without any changes for me

[2020-08-05 20:55] biltongza opened #14676 "Azure Cloud Shell: az ad sp create-for-rbac not working, Python error bad request"
Looks like this is the same as #10212
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac`

[2020-08-05 21:12] ecsousa commented on #13732
@qwordy Here's the requested log: [tags-update.log](https://github.com/Azure/azure-cli/files/5031164/tags-update.log)

[2020-08-05 21:15] btardif commented on #14023
@tboerstad yes static hosting on Linux is something that is in the works.

If you want to do this today, you can target one of the PHP images on linux. We include a web server that can be used for static content in those images.

[2020-08-05 21:44] jvano commented on #12018
@tsgenge could you tell us which features are still missing or inconsistent in Windows Containers on App Service compared to "classic" Web Apps?

I'm asking because we are getting prepared for GA and we will have a lot of interesting features and we are closing the gap and your feedback is very valuable for us moving forward.

Thanks,

Joaquín

[2020-08-05 23:10] qetza opened #14677 "az keyvault create --network-acls* should work with --bypass or --default-action"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When you specify network ACLs using --network-acls, --network-acls-ips or --network-acls-vnet those parameters are ignored if you also add either the parameter --bypass or --default-action.

As we usually add network ACLs because we want to deny access not specified the current implementation doesn't allow us t

[2020-08-06 00:10] yonzhan commented on #14670
aks

[2020-08-06 00:18] yonzhan commented on #14674
add to S174

[2020-08-06 00:20] yonzhan commented on #14675
functionapp

[2020-08-06 00:23] yonzhan commented on #14676
add to S175

[2020-08-06 01:06] #14055 closed

[2020-08-06 01:23] sozercan commented on #13121
Getting same error with aks-preview extension 0.4.58

[code]

cc @marwanad

[2020-08-06 01:34] arrownj commented on #14672
Hi @qwordy , could you please help have a look. Thanks

[2020-08-06 01:34] arrownj commented on #14677
Hi @bim-msft , could you please help have a look ? Thanks

[2020-08-06 01:37] #13248 closed

[2020-08-06 01:38] arrownj commented on #13299
Hi @philspokas , I will close this issue first. Please reach us if you have other concerns. Thanks

[2020-08-06 01:38] #13299 closed

[2020-08-06 01:41] arrownj commented on #13574
Hi @stewartadam , we will add `--description` parameter in our next release.

[2020-08-06 01:44] arrownj commented on #13296
Hi @the-vampiire , you mean you create an app in ADB2C but can't list it with azure cli ? Could you please share us the reproduce steps ? How did you create the app ? If it can be list in portal enterprise applications page ?

[2020-08-06 02:08] MyronFanQiu commented on #14665
@soulcoolzz Are you using PS? Please try `--network-security-group "''"`.

[2020-08-06 03:03] qwordy commented on #14637
It is already supported.

[2020-08-06 03:03] #14637 closed

[2020-08-06 03:30] arrownj commented on #13803
Hi @eliassal ,

+FullyQualifiedErrorId : NativeCommandError

is an error reported by powershell, it must have something to do with your local environment. I also tried the same command you give in my environment, it succeed with no errors. Could you please also run the command in cmd or other terminal to see whether it has the same problem? Thanks

[2020-08-06 03:34] zhoxing-ms commented on #14219
@Nepomuceno Sorry, I can't find the usage of `select( ... )` in the official tutorial, tutorial link: https://jmespath.org/tutorial.html
May I ask could you follow the common `JMESPATH` syntax? Such as `az policy definition list --query "[?policyType == 'Custom']"`.

[2020-08-06 03:47] ksivaramprasad opened #14679 "az ad sp list --show-mine --query [].servicePrincipalNames giving error response"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp list`

**Errors:**

[Errno 30] Read-only file system: '/home/siva/.azure/versionCheck.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/_session.py", line 48, in load
    with codecs_open(self.filename, 'r', encoding=self._encoding) a

[2020-08-06 04:35] yonzhan commented on #14679
add to S175

[2020-08-06 05:27] soulcoolzz commented on #14665
I tried but still not work. It recognize '' as nsg name.

"
PS /home/lub> az network vnet subnet update -n frontendSubnet --vnet-name MyVirtualNetwork -g TestResourceGroup --network-security-group "''"
Resource /subscriptions/915860b1-5ad3-49a1-954a-488b33e60dde/resourceGroups/TESTRESOURCEGROUP/providers/Microsoft.Network/networkSecurityGroups/'' referenced by resource /subscriptions/915860b1-5ad3

[2020-08-06 05:50] MyronFanQiu commented on #14665
@soulcoolzz Yes. it will be treated as a name and we have code path to detach it. The error message told us that the subnet's name is not correct. Subnet `frontendSubnet` doesn't exist.

[2020-08-06 05:53] #14309 closed

[2020-08-06 06:25] xnming opened #14683 "'upload-batch' does not work well in 2.10.0"
I am using azure-cli in Ubuntu 16.04. After I upgrade the `azure-cli` from 2.9.1 to 2.10.0 this day, I get the following error when I use `upload-batch`.
[code]
in which, `ximing` is my container name.
But everything works well when I downgrade `azure-cli` to 2.9.1.
Do I miss something new in the 2.10.0 to correctly use the `upload-batch` ?

[2020-08-06 06:35] shurick81 commented on #13320
Just in case it helps to save time to someone.

I have looked what images are promoted in Azure Portal.

One of them was `Ubuntu Server 20.04 LTS - Gen2`. When I convert the configuration from portal to ARM template, it tells this image:

[code]

[2020-08-06 06:35] #14660 closed

[2020-08-06 06:43] cboudereau opened #14684 "[Appservice]: access-restriction remove by ip address does not work since the ip address check"
**Describe the bug**
Before this version it was possible to remove an access-restriction by ip address. After the version checking duplicates over ip address the remove by ip address is not working anymore. And I think the problem is related to that pull request : https://github.com/Azure/azure-cli/commit/2b78c06b2d32cd9461e1b1545e065c7430365674#diff-5091ef8c5edecc1ae2c3ffd1896ff7d2R195. Maybe @Ko

[2020-08-06 07:18] yungezz commented on #14684
routing to appropriate team

[2020-08-06 07:19] yungezz commented on #14676
#11749

[2020-08-06 07:20] kahara commented on #14683
Hitting this too:

[code]

[2020-08-06 07:23] yonzhan commented on #14683
add to S174

[2020-08-06 07:35] zhoxing-ms commented on #14303
@FilBot3 Hi, this is the repo address related to the `azure-devops` extension: https://github.com/Azure/azure-devops-cli-extension/issues
If you have any problems about this extension, you can give feedback on it~

[2020-08-06 07:37] #14303 closed

[2020-08-06 07:38] meteor688 opened #14687 "Mixed resource group and account name in command "az ams streaming-endpoint show""
**Describe the bug**
Mixed resource group and account name in "az ams streaming-endpoint show"

**To Reproduce**
Run command _az ams streaming-endpoint show -g MediaServicesQuickTest -a testmediaaccount8 -n 'default'_ , but the resource group and account name was mixed in the ourput as below shown.
_The Resource 'Microsoft.Media/mediaServices/**MediaServicesQuickTest**/streamingEndpoints/default'

[2020-08-06 07:45] renestalder commented on #14683
I can confirm. Running into the same issue with 2.10.0.

[2020-08-06 07:46] yonzhan commented on #14687
ams

[2020-08-06 07:47] yonzhan commented on #14683
@Juliehzl  is hotfixing this issue and will update shortly.

[2020-08-06 08:21] zhoxing-ms commented on #14404
@sebas1307 Hi, could you please email me the templates and parameters you used? In addition, please add `--debug` to the original command to execute it, and send me the printed information together~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-08-06 08:47] yanivlavi opened #14691 "Support Azure CLI for schedule query rules new API version."
**Is your feature request related to a problem? Please describe.**
This is a new feature of schedule query rules not related to an issue other than usbility.

**Describe the solution you'd like**
CLI support for this new API that is as similar as possible to Azure Monitor metric alert CLI.

**Additional context**
Approved swagger:
https://github.com/Azure/azure-rest-api-specs/tree/master/specifica

[2020-08-06 10:23] yonzhan commented on #14691
For Ignite.

[2020-08-06 10:30] danmana commented on #14641
@lgmorand yes, it looks like there was an update also on the old docker image microsoft/azure-cli. The `latest` tag was [updated 2 days ago](https://hub.docker.com/r/microsoft/azure-cli/tags), the other tags are all 1 year old ...
I switched to `mcr.microsoft.com/azure-cli:2.9.1` with no side effects

[2020-08-06 10:53] yonzhan commented on #14641
We will let you know after the hotfix version is ready.

[2020-08-06 11:02] lgmorand commented on #14641
@yonzhan it should be interesting to understand why someone updated the old docker image at the same time. it should be definitly frozen (or now, fixed and then frozen)

[2020-08-06 11:29] ktibi commented on #14151
Hello same issue here,

Need to be root with -u 0 for execute this image in jenkins.

[2020-08-06 12:47] yonzhan commented on #14641
Add @fengzhou-msft to help with docker image.

[2020-08-06 13:38] dazinator opened #14693 "Webapp:Can't set a setting that contains a | char"
I am using powershell, and trying to use the `az webapp config appsettings set` command to set an appsetting, and am following this document.

My setting value, contains a `|` character. I tried this:

[code]

I get:

spelling of the name, or if a path was included, verify that the path is correct and try again.

I tried to escape the pipe character. Powershell rules say backtick is used to escape

[2020-08-06 13:48] Juliehzl commented on #14683
Hi all,
We just released hotfix version 2.10.1 and please see https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest for installation.
Homebrew for MacOS will be available tomorrow after the [PR](https://github.com/Homebrew/homebrew-core/pull/59221) merged.

[2020-08-06 13:50] yonzhan commented on #14693
webapp

[2020-08-06 13:50] Juliehzl commented on #14641
Hi all,
We just released hotfix version 2.10.1 and please see https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest for installation.
Homebrew for MacOS will be available tomorrow after the PR merged.

[2020-08-06 13:52] Juliehzl commented on #14660
Hi all,
We just released hotfix version 2.10.1 and please see https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest for installation.
Homebrew for MacOS will be available tomorrow after the [PR](https://github.com/Homebrew/homebrew-core/pull/59221) merged.

[2020-08-06 13:57] lgmorand commented on #14641
Could you please tell us when the docker image will also be updated and thus updated.

thanks for the quick fix

[2020-08-06 14:02] orta commented on #14683
Thanks folks!

[2020-08-06 14:12] dazinator opened #14694 "Webapp:What is the json file meant to look like?"
The docs says you can supply the settings from a json file, but it doesn't give an example for what thay JSON file should look like.

I tried to guess the following, but it didn't work:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c7f-7e7e-8a62-f1b614f281d3
* Version Independent ID: 9f23ff17-14e0-780

[2020-08-06 14:19] dazinator commented on #14694
Apologies the format I guessed does work, still, I am leaving this open because it would be good to add an example file to the doc.

[code]

[2020-08-06 14:21] yonzhan commented on #14694
webapp

[2020-08-06 14:57] Kotasudhakarreddy commented on #14684
Looking in to it.

[2020-08-06 15:31] Kotasudhakarreddy commented on #14684
able to repro the issue. sorry for inconvenience. Will give the fix in next release.

[2020-08-06 15:36] cboudereau commented on #14684
Hi, don't worry, at least the add command will not add duplicates anymore.

Having idempotent commands could help a little bit more instead of detecting duplicates but that could be another feature request..

Thanks in advance for the work done 🥇

[2020-08-06 15:39] renestalder commented on #14683
@Juliehzl @yonzhan Thank you!

[2020-08-06 15:48] nezoic opened #14695 "How to update API Policy?"
Is there a way to update the policy for a given API through the CLI? Everytime I update an API the policy gets wiped out and has to be manually added back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f27e34-66e0-1d08-f734-26ce29c56c36
* Version Independent ID: d1a421eb-807c-c0bd-cee3-a5aed7335625
* Content: [az ap

[2020-08-06 16:33] scheyal opened #14696 "`az account get-access-token` fails with 400, invalid_grant"
No explanation how to refresh expired token (I thought this is the way).

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite step

[2020-08-06 16:35] DonPetry-EY opened #14697 "Command for notifications"
This feature supports/requires the use of Notifications.  The REST API covers a "notifications" section which is not reflected here.  The portal requires creation of a notification but I don't see how to do that via CLI.

https://docs.microsoft.com/en-us/rest/api/consumption/budgets/createorupdate

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-08-06 16:35] scheyal commented on #14696
Simple google search of similar issue revealed az account clear; az account login to fix the issue.

[2020-08-06 16:35] #14696 closed

[2020-08-06 16:38] marwanad commented on #13121
Fixed in extensions 0.4.60.

The issue below happens when using CLI 2.10.0 so make sure you're on extension 0.4.60 or above if you plan to use latest cli and work with the monitoring addon.

[2020-08-06 17:26] ThejaChoudary commented on #14694
Assigning it to myself to repro

[2020-08-06 17:26] ThejaChoudary commented on #14693
Assigning it to myself to repro

[2020-08-06 17:52] manojk011 commented on #14651
Yes I did.
[code]

[2020-08-06 18:40] #14590 closed

[2020-08-06 19:46] anaik91 commented on #5866
Even I am facing this issue .  I am not able to see `**osProfile.customData** `.

Any workarounds or way to fetch this.

[2020-08-06 20:53] Shert commented on #13259
hello just tried with new cversion of the cli, but still same result :

[code]

az network vnet check-ip-address --resource-group ${myRG} --name ${myVNET} --ip-address ${myIP}
{
  "available": true,
  "availableIpAddresses": null,
  "isPlatformReserved": false
}

but the ipaddress is used by a sql managed instance

M.

[2020-08-06 20:56] axayjo commented on #14425
Investigating.

[2020-08-06 21:19] ianblitz opened #14698 "az eventhubs eventhub create fails with Event Hub names longer than 50 characters"
## Describe the bug
Event Hub creation fails when creating with a name longer than 50 characters. This conflicts with the 256 character limit quoted in the [quotas and limits](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas) documentation. I was also able to create Event Hubs with up to 256 character names as recently as 2.0.77.

**Command Name**
`az eventhubs eventhub create`

[2020-08-06 22:18] yugangw-msft commented on #14596
@sam-cogan, sorry for the delay on response
1. On connection limits, will vnet peering an option for you, which you can share the same endpoint across several vnets?
2. Is it feasible for you to share the detail on #2. In the nushell, DNS record for private endpoint is manageable (2 records, unless you have replication), though I would not call it very trivial.

For context, we don't have plan for

[2020-08-06 22:21] yonzhan commented on #14695
apim

[2020-08-06 22:21] yugangw-msft commented on #14467
@shizhMSFT do you have any ideas?

[2020-08-06 22:22] yonzhan commented on #14697
consumption

[2020-08-06 22:31] yonzhan commented on #14698
eventhubs

[2020-08-06 22:31] miaojiang commented on #14695
@nezoic thanks for the feedback. Can you please elaborate on how you update an API and steps to reproduce?

cc @RupengLiu

[2020-08-06 22:35] KJaunay commented on #6018
This occurs for me as well running the below command when copying files between two directories in the same storage account and fileshare.

- `az storage file copy start-batch --source-account-name {} --source-share {} --pattern {} --account-name {} --destination-share {} --destination-path {} --sas-token {} --dryrun`

If I don't include --source-sas if says "z storage file copy start-batch: error

[2020-08-06 22:58] edsonharantes commented on #13569
Hello @arrownj how are you doing?

I had a problem with my ssd last week and I end up formatting my machine =/

Maybe it was something related to my ssd problem, I'm not sure.

Anyway, I did not tried the "az login" after that. I think It's ok to close this issue, for now at least

Thank you for your support!!!

[2020-08-07 01:08] cxznmhdcxz opened #14701 "functionapp create --assign-identity not implemented"
**Describe the bug**

Missed implementation of "az functionapp create **--assign-identity**"  in PR https://github.com/Azure/azure-cli/pull/14233

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-08-07 01:25] yonzhan commented on #14701
functionapp

[2020-08-07 01:28] Juliehzl commented on #6018
we will investigate for these senarios.

[2020-08-07 01:31] Juliehzl commented on #14651
Hi @manojk011, currently you could use `az storage fs access`  in main cli and extension related commands will be migrated to main repo. See here for usage https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/storage/docs/ADLS%20Gen2.md, which could also help you manage ADLS Gen2 command.

[2020-08-07 01:59] Juliehzl commented on #6018
Hi @KJaunay, I think it is because you haven't provided credential for copy source.  `--source-account-key` or `--source-sas` should be specified for copy source authentication.

`--account-key`, `--connection-string` and `--sas-token` are used for copy destionation.

[2020-08-07 02:00] Juliehzl commented on #6018
Hi @Brondahl, I will look into `az storage blob copy start-batch` for sas token with `?`.

[2020-08-07 02:08] yonzhan commented on #13259
service team should take a look

[2020-08-07 03:00] zhoxing-ms commented on #14481
This is a issue related to `msrest`, I have opend a issue on their repo: https://github.com/Azure/msrest-for-python/issues/219

[2020-08-07 03:10] zhoxing-ms commented on #14501
@pquinton Hi, could you please show me the specific parameters you used? Please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-08-07 03:19] zhoxing-ms commented on #14610
@jibin18 Sorry, I can't reproduce your question. Please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-08-07 04:24] KJaunay commented on #6018
Yeah it works if you specify the --source-sas token but the wording when
you don't include it doesn't indicate that you need it.

On Fri, 7 Aug 2020, 2:01 pm Zunli Hu, <notifications@github.com> wrote:

[2020-08-07 06:07] MyronFanQiu commented on #14348
Close it since this issue should be a false alarm.

[2020-08-07 06:07] #14348 closed

[2020-08-07 06:36] zhoxing-ms commented on #14578
This is a document related problem.
@daxianji007 Could you please help to have a look~

[2020-08-07 07:07] hund030 opened #14706 "az keyvault secret show command doesn't show a shared access signature definition"
**Describe the bug**

I follow the [document ](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys) to manage my storage account with my key vault, after generating a shared access signature definition I get the output:

[code]

Seems everything goes well, but when I try to get my key secret with `az keyvault secret list --vault-name <myKeyVaultName>` as the document say

[2020-08-07 07:11] zhoxing-ms commented on #14497
@johnakash In fact, there are two types of commands to manage tags:
1. Based on the respective Resource Provider
Such as `az resource tag` and `az group update ... --set tags.xxx` , it seems that at the moment each RP has its own permission control and does not get through with the `Tag Contributor` role.
2. Based on ARM service
Such as `az tag`, this command can also support tagging resources, cu

[2020-08-07 07:42] zhoxing-ms commented on #14591
@zsombor-adn In fact, it is a question of quoting usage:

The usage guide for quotes: [link](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues
)

For your question, there is a few specific examples:

1. `--metadata 'version=1.0.0 category=location'` this represents the metadata contain white spaces.
[code]

2. `--metadata version=1.0.0 category=loc

[2020-08-07 07:47] jayendranarumugam opened #14708 "Synapses Creating Big Data Pool validation error: Parameter 'BigDataPoolResourceInfo.node_count' failed to meet validation requirement."
**Describe the bug**
Running the command of [creating bigdata pools for azure synapses](https://docs.microsoft.com/en-us/cli/azure/ext/synapse/synapse/spark/pool?view=azure-cli-latest#ext-synapse-az-synapse-spark-pool-create) getting the below error
validation error: Parameter 'BigDataPoolResourceInfo.node_count' failed to meet validation requirement.

**To Reproduce**
Download latest az cli and r

[2020-08-07 08:05] yungezz commented on #14706
hi @bim-msft could you pls help to have a look?

[2020-08-07 08:05] MyronFanQiu commented on #14412
@nkindberg Hi. I want to confirm this behavior with you. Do you mean this command `az network dns record-set ptr add-record -d "ptr.contoso.com" -n ptrtest -g -z` is invalid? Azure should append `.` or the correct command should be `az network dns record-set ptr add-record -d "ptr.contoso.com." -n ptrtest -g -z`?

[2020-08-07 08:25] sam-cogan commented on #14596
@yugangw-msft I have started working with Private endpoints, and am mostly there. Are there plans to increase the limit of 10 endpoints any time soon? Most of the vNets I need to talk to ACR are isolated single vNets where peering is not suitable.

I've mostly worked around all the DNS issues except 1, which is dealing with a scenario where you have two peered networks, using BYO DNS (in this case

[2020-08-07 09:11] qwordy commented on #14653
@fengzhou-msft

[2020-08-07 09:23] dhmoto17 opened #14711 "Az login in WSL runs powershell with profile"
**Describe the bug**
When I run "az login" in WSL console it starts powershell and runs the profile from the default location in my Windows host:
env:USERPROFILE\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1

This is unexpected, inefficient and a little confusing.  E.g. my profile creates a long set of aliases and functions.

I think it may be related to a request to switch from CMD

[2020-08-07 09:36] ivanakcheurov commented on #12855
Hi @onionhammer ,
Could you try to escape your quotes like this?
[code]
so that the Azure CLI args would get `\"b7e8ad82-542e-4801-901d-d89f56f591a3\"` as input from Powershell and subsequently interpret it as `"b7e8ad82-542e-4801-901d-d89f56f591a3"`

I don't know why they strip down unescaped double quotes.
You can check how Azure CLI interprets input arguments with `--debug` switch like this:
[c

[2020-08-07 10:53] yonzhan commented on #14708
synapse

[2020-08-07 11:03] nadesu commented on #14642
Can we have an update on this? We are using Azure 'Run command API' extensively for [GHPI control plan](https://github.com/github/ghpi-controlplane/) development, which is planned for Sep release. Appreciate your quick clarification, so that we revisit design choices.

[2020-08-07 11:04] yonzhan commented on #14711
add to S175

[2020-08-07 11:33] LukeCarrier opened #14713 "Don't overwrite kubectl on macOS during aks install-cli"
**Describe the bug**

`aks install-cli` should not install to `/usr/local` on macOS, because Homebrew probably manages that. It should also not overwrite the kubectl binary or link that already exists at that location, because that's just bad behaviour.

**To Reproduce**

1. Install Homebrew, as I'd imagine most developers do.
2. Install kubectl via Homebrew or Docker Desktop.
3. Run `az aks insta

[2020-08-07 12:17] yonzhan commented on #14713
aks

[2020-08-07 12:24] zsombor-adn commented on #14591
Thank you very much for the detailed reply @zhoxing-ms!

I can confirm doing it the way you describe works. Maybe it'd be worth a mention in the command's docs though, as supplying an argument list like this is quite unusual amongst *nix tools.

[2020-08-07 12:24] #14591 closed

[2020-08-07 12:39] idear1203 commented on #14708
Thanks for the notification. This is a bug. We will fix it soon.

[2020-08-07 13:16] BG4WCE commented on #11980
I am running into the same issue also.

[2020-08-07 13:29] idear1203 commented on #14708
[code]

[2020-08-07 13:41] jay-to-the-dee commented on #1031
Yeah would also appreciate this being reopened

[2020-08-07 14:10] colbylwilliams commented on #14623
I started seeing this error in [our extension's CI](https://github.com/microsoft/TeamCloud/runs/956782209?check_suite_focus=true#step:13:295) when attempting to deploy an ARM template since the last release (2.10.1).

[2020-08-07 14:29] kwill-MSFT commented on #14426
Workaround until issue is fixed (https://github.com/microsoft/knack/pull/178):
**Control Panel > Region > Administrative > Change system local -> Check the 'Beta: Use Unicode UTF-8 for worldwide language support' option**

[2020-08-07 16:51] nkindberg commented on #14412
@MyronFanQiu the command `az network dns record-set ptr add-record -d "ptr.contoso.com" -n ptrtest -g -z` is correct. The problem is with `az network dns zone export -g -n`. During the export the CLI needs to write this record as `ptrtest 3600 IN PTR ptr.contoso.com.` with the trailing '.'

The problem as far as I can tell lies here: https://github.com/Azure/azure-cli/blob/3dbb10f930db761a73f11698

[2020-08-07 17:54] ktharsis-sw commented on #11698
Might be a little late, but try:
For the subnet param - instead of just putting the name, put the full resource ID of the subnet (including the subscription, vnet, etc parts of the path).
`/subscriptions/[subsguid]/resourceGroups/[rgwithvnetinit]/providers/Microsoft.Network/virtualNetworks/[vnetname]/subnets/[subnetname]`

[2020-08-07 18:49] jongio commented on #13368
I also encountered this today using terraform

[code]

[2020-08-07 19:42] jgardner04 opened #14714 "Query of output from VMSS List not working"
**Describe the bug**
When running a query on the output from the `az vmss list` command, no resources are found even when there are results.

**To Reproduce**
1. Create a VMSS in a resource group
2. Set the Resource group name to $CLUSTER_RESOURCE_GROUP
3. Run `az vmss list --resource-group $CLUSTER_RESOURCE_GROUP -o table`
4. Query the results for a name with this command: `az vmss list --resourc

[2020-08-07 20:25] arde0708 opened #14715 "Error while running azdev setup -c"
Update : I have been able to resolve this issue now but running into another issue which is described in the comment section

------------------------------------------------------------------------------------------------------------------------
I am trying to setup the CLI environment for development. This is the doc I am referring : https://github.com/Azure/azure-cli/blob/master/doc/configuring

[2020-08-07 20:31] TheMacStack opened #14716 "az cli broken on new install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-08-07 21:58] calvinsID commented on #13261
@cgreene87 Sorry for the inconvenience this caused. @btardif can you chime in on whether `Latest` should alias to `DOTNETCORE|3.1`?

[2020-08-07 23:15] yugangw-msft commented on #14596
@sam-cogan, I am reaching out to domain experts on the DNS issue and will get back to you soon

On increasing the limit, it is a feature in our backlog, I suggest you create a voice at https://feedback.azure.com/forums/903958-azure-container-registry and we will prioritize once its get enough votes.

[2020-08-08 00:00] brianlehr commented on #14536
@MyronFanQiu @irenehua  But what is the solution for removing a nat pool using CLI?   I see there is a way [using Resource Explorer](https://ronaldwildenberg.com/azure/2018/02/09/remove-inbound-nat-rules-from-azure-vmss.html) but that's not what we want.

[2020-08-08 00:28] yonzhan commented on #14715
add to S174

[2020-08-08 00:30] yonzhan commented on #14716
add to S175

[2020-08-08 01:11] irenehua commented on #14536
@MyronFanQiu Thanks for fixing the error message! Problem is I do have NAT rules for the LB.

![image](https://user-images.githubusercontent.com/59070966/89699045-55f76180-d8d9-11ea-9b34-3ec7a2c9b0d5.png)

And this is the command I used to remove the inbound NAT rule: az network nic ip-config inbound-nat-rule remove -g irenehua_vmssRuleDelete --nic-name vmss0807mjboxnic -n vmss0807mjboxipconfig --

[2020-08-08 01:39] MyronFanQiu commented on #14536
I think `--inbound-nat-rule` should be an id instead of the name. You must provide `--lb-name` as well if you want to provide the name of the `--inbound-nat-rule`.

[2020-08-08 01:44] MyronFanQiu commented on #14536
But I saw you provided the lb's name. Is it the same lb used in this nic? What's the error message? Could you run this command with `--debug`

[2020-08-08 02:32] arde0708 commented on #14715
I have been able to resolve this issue ( by running the command after creating and enabling the virtual environment ). However, I am running into a new issue now. I have cloned this repo, and have been noticing too many errors even without my changes. Can someone help with the additional steps I need to perform before being dev ready ?

There are the steps I have followed so far for VS Code Sectio

[2020-08-08 05:25] jiasli commented on #14426
The link (https://github.com/microsoft/knack/pull/178) given by @kwill-MSFT is exactly how this warning is introduced.

This is more of a legacy Windows + PowerShell issue where UTF-8 string can't be handled as a variable.

The solution is any of

1. Remove invalid characters under the current locale from the service principals
2. Use a locale that supports those special characters
3. Check **Beta

[2020-08-08 08:01] yungezz commented on #14716
#14287

[2020-08-08 08:04] yungezz commented on #14714
hi @jgardner04 is running `az vm list --resource-group` directly, without `-query` and `-o`, what's the output?

[2020-08-08 13:22] davejdyer commented on #12775
This parameter is also showing up in VM templates exported from the portal which causes an error when trying to use said template. Then I had to track down this thread to figure out what was going on.

[2020-08-08 16:57] subhasishdc commented on #14522
@haroldrandom : Did you get a chance to check this. Would it be a good idea to add an example to the help and documentation explaining the returning certificate type. If yes, I can help submit a PR for it.

[2020-08-08 16:59] subhasishdc commented on #14132
@MyronFanQiu : Did you get any update from the service team on this

[2020-08-08 21:56] jgardner04 commented on #14714
@yungezz

[code]

[2020-08-09 02:27] guangying94 opened #14719 "Inconsistent result from Azure CLI between Service principal login and user login"
[Enter feedback here]

I wanted to programmatically retrieve role assignment, and I used service principal to authenticate to run the following command:

_az role assignment list --all --include-inherited --subscription xxx --query '[].{principalName:principalName, roleDefinitionName:roleDefinitionName, scope:scope}'_

However, principalName always shown None. I tried az login with my user account

[2020-08-09 12:29] yonzhan commented on #14719
add to S175

[2020-08-09 13:52] chinmaymundhada commented on #11261
Hello I received the error as given below during deployment
Deployment endpoint responded with status code 202
Configuring default logging for the app, if not already enabled
Zip deployment failed. {'id': 'temp-2139d583', 'status': 3, 'status_text': '', 'author_email': 'N/A', 'author': 'N/A', 'deployer': 'ZipDeploy', 'message': 'Deploying from pushed zip file', 'progress': '', 'received_time': '20

[2020-08-09 19:19] dmarinere commented on #14525
It didn't work still returned the same error

[2020-08-10 00:37] lowrencekurera opened #14720 "AZ Command to retrieve no of running containers in a container group"
**Resource Provider**
AZURE

**Description of Feature or Work Requested**
Is there any Azure CLI command to get the value of running containers of any container group?
Something like "az container count -n my_cnt_grp -g MyResourceGroup"?
I need to pass the value of running containers to an "If" condition to send alerts.

**Target Date**
14/08/2020

[2020-08-10 01:15] yonzhan commented on #14720
container

[2020-08-10 01:31] jiasli commented on #14525
May I know the result if you run `az version`?

[2020-08-10 01:57] fengzhou-msft commented on #13505
Close due to inactivity. Please feel free to reopen the issue or create a new one if you still have the problem.

[2020-08-10 01:57] #13505 closed

[2020-08-10 02:19] #6018 closed

[2020-08-10 02:25] yungezz commented on #14720
hi does `az contianer list` meet the requirement?https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-list

[2020-08-10 02:47] fengzhou-msft commented on #13691
@arrownj, I checked the file permission of `azure_cosmos` 3.2.0 tarball, these files now have the read permission for all users. Please help verify when you're testing the new homebrew package.

[2020-08-10 02:56] fengzhou-msft commented on #13773
Close due to inactivity. Please feel free to reopen the issue or create a new one if you still have the problem.

[2020-08-10 02:56] #13773 closed

[2020-08-10 03:02] fengzhou-msft commented on #14543
Resolved in https://github.com/Azure/azure-cli-extensions/pull/1995

[2020-08-10 03:02] #14543 closed

[2020-08-10 03:33] MyronFanQiu commented on #14412
@nkindberg Yeah. The code is not complicated and I have done. But the behavior is a little bit weird for me and I want to confirm this change. Let me give a brief example.
1. Using `az network dns record-set ptr add-record -d "contoso.com" -n ptrtest -g -z` to create a ptr record.
![image](https://user-images.githubusercontent.com/49134743/89750061-ef528d80-dafc-11ea-8208-d60d935fbe62.png)
2. Usin

[2020-08-10 05:24] qwordy commented on #14714
Should we use `--query` and `-o table` together? In my opinion, `-o table` has defined what columns should be selected.

[2020-08-10 05:35] guhuajun opened #14721 "cannot connect to AKS via command line"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-08-10 05:37] yonzhan commented on #14721
AKS

[2020-08-10 05:42] TomGeske commented on #14721
Have you previously downloaded credentials successfully or did get-credentials never work?

Do you have an existing .kube/config file?

[2020-08-10 07:52] sunsw1994 opened #14722 "[Synapse]-Transition task about Synapse from Preview Extension to Preview Module"
**Resource Provider**

- Synapse Analytics

**Description of Feature or Work Requested**

- management：
  - workspace CURD
  - sqlpool CURD
  - sparkpool CURD
  - firewall-rule CURD
- data-plane：**based on track2 python SDK**
  - spark-job
  - access-control

We have released CLI Extension for Synapse, and now we plan to move it to CLI module. There are some changes between the Preview Extension t

[2020-08-10 07:55] qwordy commented on #13471
The issue is confirmed. It is tricky to pass quote and double quote in various of shells.

[2020-08-10 08:21] qwordy commented on #13471
You can try
[code]
Share a doc: https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md

[2020-08-10 08:23] pbalexlear commented on #14498
This seems like a very backwards step, we can currently authenticate using az cli using a service connection on pipelines and looking at the documentation it seems we will now have to resolve back to using an service principal and storing those credentials separately in devops? Given that it seems the helm 3 functionality to do this is only an experimental feature as well i would kindly ask that m

[2020-08-10 08:35] #13471 closed

[2020-08-10 08:35] qwordy commented on #13553
Any update?

[2020-08-10 08:36] EelcoLos opened #14723 "az role assignment list from Windows Terminal 1.1 resolves in 400 client error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When using windows terminal (Version: 1.1.2021.0) with azure cli, and requesting role assignement, subsequent error showed up. *note*: after I ran the command, it said I had 2 updates waiting, which would update on the next shell request. I updated and ran the command again. The same error occured.

**Command

[2020-08-10 08:51] yonzhan commented on #14722
Synapse

[2020-08-10 08:55] yonzhan commented on #14723
add to S175

[2020-08-10 09:39] zhoxing-ms commented on #14610
@jibin18 Hi, thanks for your email~ From my analysis of the error information in the log, it is likely to be an environment related problem. May I ask what is the specific environment you used and how did you install CLI?

[2020-08-10 10:37] florianrusch opened #14725 "Provide documentation about the data structure of the consumption usage list command"
It would be cool to have a documentation about the data structure of the provided data behind the `az consumption usage list` command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05c0768-9cfc-3b78-4f39-70a8c1f0b6bd
* Version Independent ID: b5e5d8fa-e84c-408a-3f49-19d245563abd
* Content: [az consumption usage](http

[2020-08-10 11:06] yonzhan commented on #14725
consumption

[2020-08-10 11:09] timja commented on #14207
Hi is there any progress on this?

While `--commit-trigger-enabled false --base-image-trigger-enabled true`

`--commit-trigger-enabled true` doesn't work, so it seems I can't create a task with a commit trigger enabled?

[2020-08-10 12:22] qwordy commented on #14642
Could you share you command and output? `az vm run-command invoke` with `--debug`
You can try Azure Powershell or REST API to see if this issue still exists. If so, it may be a service problem.

[2020-08-10 12:43] Jamie-Clayton opened #14727 "Unable to set AppRoles for service principle"
## Describe the bug

Attempting to associate a Service Principle with an Application via powershell and then add "Contributor role" for a resource group

**Command Name**
`az ad sp update`

**Errors:**
[code]

## To Reproduce:

[code]
## Expected Behavior

The CLI documentation for --add or --set option includes better examples of the relevant data.
The CLI parses the --add and --set data and prov

[2020-08-10 14:21] yonzhan commented on #14727
add to S175

[2020-08-10 14:37] rthorn17 commented on #13354
@arrownj  Do we know what API's are being called by PowerShell? Are these ARM API's or AAD Graph API's?

[2020-08-10 14:54] rebecca-makar commented on #13005
@zhoxing-ms we do have a bug in our swagger, we only accept 200 and 201 even though we are returning a 202.
Have a bug opened on our RP for this. Sorry about confusion.

[2020-08-10 15:13] jgardner04 commented on #14714
@qwordy how you output should not matter. In my case I really want it to be `-o tsv` so I can use it to set a variable in a shell script. The real issue is that `--query` is not working.

[2020-08-10 15:43] SvenHamers commented on #14086
@damienbod

I use something like this for registering spa url, works fine all the times.
https://gist.github.com/SvenHamers/880c9a8e5a588ccfcbc69652bfb31cef

[2020-08-10 16:12] jgardner04 commented on #14714
Closing for user error.

Correct query is: `az vmss list --resource-group $CLUSTER_RESOURCE_GROUP --query '[].name' -o tsv`

My issue was that I used `'[].Name'` instead of `'[].name'`

[2020-08-10 16:12] #14714 closed

[2020-08-10 16:36] anuradhaarao opened #14729 "Webapp:az webapp config ssl failing"
### **This is autogenerated. Please review and update as needed.**

## Trying to add certificate to webapp using powershell but constantly failing at this error:

**Command Name**
`az webapp config ssl upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite step

[2020-08-10 20:21] johnakash commented on #14497
@zhoxing-ms  - I tried the option which you provided but it throw an error as below,
[code]
We passed the subscription id as well to the command execution and we are getting the same response,
[code]

[2020-08-10 20:32] niralishah130 commented on #14653
Hi team. I'm on Azure Global team. This issue is blocking us from testing a customer deliverable. Is there anyway to escalate getting help here? Appreciate your time here.

[2020-08-10 21:29] btardif commented on #13261
"Latest" was a bug in the API and should not be used. It's ambiguous and can cause problems for apps.

[2020-08-10 21:55] akharit commented on #14545
The error and the fix in sdk was in retry code, which for concat is not supposed to retry anyway.
That code will only get triggered if there was an error in the first attempt itself. @ragnarwessels Can you run this with debug flag and check on what error occurred in the first attempt?

[2020-08-10 22:19] Jamie-Clayton opened #14731 "az ad sp - documentation improvement recommendations"
[Enter feedback here]
The process for creating applications and then creating the associated service principles with the CLI is not clear. It would be good to reference https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#relationship-between-application-objects-and-service-principals for the users to understand the background relationship.

In particu

[2020-08-10 22:22] yonzhan commented on #14729
webapp

[2020-08-10 22:33] yonzhan commented on #14731
add to S175

[2020-08-10 22:43] MauricioZa commented on #11718
Hey @ajklotz, do you think this is how the product works by design?

See this:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-modes#incremental-mode

In the note there you can read that:

..."When redeploying an existing resource in incremental mode, all properties are reapplied. The properties aren't incrementally added. A common misunderstanding is to think pr

[2020-08-10 23:08] #13006 closed

[2020-08-10 23:31] nkindberg commented on #14412
Yes @MyronFanQiu that behavior is fine. In Azure DNS "contoso.com" and "contoso.com." mean the same thing. Azure DNS always assumes the value of the PTR record is a FQDN (fully-qualified domain name).

Traditionally in a zone file "contoso.com" will mean relative name aka "contoso.com.zonename" while "contoso.com." will be considered a fully-qualified name. Since in the Azure DNS case we always tr

[2020-08-10 23:52] fengzhou-msft commented on #14708
@idear1203 you may need to add `type=int` in `_params.py` for `node_count` to pass the validation in SDK model.

[2020-08-10 23:52] #14715 closed

[2020-08-11 00:32] RandalliLama commented on #10712
@haroldrandom I don't see how this is a Key Vault issue.  The CLI command refers to application gateway.  App Gateway might offer a feature to use a Key Vault stored certificate, but app gateway team would need to diagnose issues in that feature or feature documentation.

[2020-08-11 00:37] jkewley opened #14732 "az vm show --ids doc says space delimited, but looking for multi-line/tsv"
[The docs for az vm show](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-show) say of the `--ids` parameter that it is looking for space delimited values

However, space delimited values do not appear to work, as in

[code]
This returns only the first item in the $allVMIDs array

The CLI requires tab separated values (as shown in the many examples) or multi-line, like th

[2020-08-11 00:39] guhuajun commented on #14721
@TomGeske Hello, sorry fro the delay response. It's not a block issue for me now. I hope I can give more feedback during the weekend. Please stay tuned.

[2020-08-11 00:51] anuradhaarao commented on #10531
Hi, I am still facing this issue and my password is just alphabets.

[2020-08-11 00:55] panchagnula commented on #10531
@anuradhaarao can you open a new issue if possible - since this was originally opened on a very old version of CLI so I'd like to get more details on this if possible. Thanks!

[2020-08-11 00:56] anuradhaarao commented on #10531
@panchagnula  - opened up a new one here : https://github.com/Azure/azure-cli/issues/1472.

[2020-08-11 00:58] anuradhaarao commented on #14729
az --version :
![image](https://user-images.githubusercontent.com/40577033/89845340-2c923c00-db4c-11ea-97ed-884f4da9b60a.png)

[2020-08-11 01:10] jkewley commented on #14732
This appears to be another example of PowerShell escaping constraints. Space delimited works if I use the pure values and not a variable holding the value

[code]
vs
[code]

[2020-08-11 01:10] #14732 closed

[2020-08-11 01:48] qwordy commented on #14714
Glad to know that your problem is resolved.

[2020-08-11 01:48] MyronFanQiu commented on #14412
Got it. Thanks for the explanation. Will open the PR soon.

[2020-08-11 01:52] NickDrouin commented on #12297
At the time, the steps were similar to:

SALT="somename"
az group create --name rg-ams-"$SALT" --location eastus
az storage account create --name saams"$SALT" -g rg-ams-"$SALT"
az ams account create --name ams"$SALT" -g rg-ams-"$SALT" --storage-account saams"$SALT"
az ams account sp create --account-name ams"$SALT" -g rg-ams-"$SALT"

[2020-08-11 01:57] zhoxing-ms commented on #14497
@johnakash In fact, the parameter `--resource-id` needs to be passed in a complete resource ID, not the name of the resource (Because it supports different scopes).

If you need to tag a resource group, you can refer to the example in the help of command `az tag create -h`:
[code]

[2020-08-11 02:04] zhoxing-ms commented on #14037
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-11 02:04] #14037 closed

[2020-08-11 02:09] yungezz commented on #14091
hi @bim-msft could you pls share more detail on what's the ask to service team? thanks.

[2020-08-11 02:11] fengzhou-msft commented on #14653
@niralishah130 based on the current design, you cannot use the json output from `az cloud show` directly. Instead the json file should be similar to the options but with camel case or snake case. So a json file looks like this:
[code]

[2020-08-11 02:22] jiasli commented on #14086
This is the expected behavior of AAD service that the application is not immediately available after creation. The AAD server is doing replication/propagation during the "n-seconds". As AAD Graph API doesn't support [async operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations) like ARM to query the creation result, your script needs to

- sleep for a

[2020-08-11 02:30] MyronFanQiu commented on #14611
Close this issue since it's by design.

[2020-08-11 02:30] #14611 closed

[2020-08-11 02:40] lowrencekurera commented on #14720
Hi,

Thanks for the reply. No, list will only give me a list of containers. But
my requirement is to get a number, instead of list of running containers.

Kind regards

Lowrence

On Mon, Aug 10, 2020, 2:26 PM Yunge Zhu <notifications@github.com> wrote:

[2020-08-11 02:40] MyronFanQiu commented on #14665
@soulcoolzz Hi. Any updates about this issue?

[2020-08-11 02:43] yungezz commented on #14723
#11478

[2020-08-11 02:47] yungezz opened #14735 "[Compute] add new license_type in vm create/update: RHEL_BYOS, SLES_BYOS"
**Resource Provider**

Compute

**Description of Feature or Work Requested**

FEATURE 4014 created and assigned to you, Arun.

Timeline: by Ignite (week of 9/21)

The ask:
Make sure new values are accepted by:
az vm update
az vm create

Background: Azure Hybrid Benefit already exists for Windows. Instead of charging for HW and SW fees. Just charging for the HW fee. For this update, two new values

[2020-08-11 02:47] #12858 closed

[2020-08-11 02:48] yungezz commented on #14735
https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft.sharepoint.com%2F%3Aw%3A%2Fr%2Fteams%2FAzureIDC%2FAzureIDC_CRP%2F_layouts%2F15%2FDoc.aspx%3Fsourcedoc%3D%257BDAEEE1BA-1D9C-455C-A889-2ED26DFE2A5A%257D%26file%3DAHUB%2520support%2520for%2520Linux%2520VMs-CRP.docx%26wdLOR%3Dc26DC10B6-BB90-47CD-9A45-C2D5593DA9E8%26nav%3DeyJjIjo1ODQ1MDkwNTB9%26action%3Ddefault%26

[2020-08-11 03:18] arvindshmicrosoft commented on #12858
Thank you @qwordy for merging #13045 and thereby closing this!

[2020-08-11 03:26] qwordy commented on #12858
You are welcome

[2020-08-11 03:42] qwordy commented on #14735
I don't think it's a good practice to open PR for service team. They are the entity that requests this feature. I sent a email of instructions on creating service feature request feature to them on May 19 about this feature.

[2020-08-11 04:22] #14458 closed

[2020-08-11 04:25] #11244 closed

[2020-08-11 05:08] yugangw-msft commented on #14596
@sam-cogan, there is no need to deploy multiple PE for HA; or it won't help.

[2020-08-11 05:28] soulcoolzz commented on #14665
@MyronFanQiu

The error message should be a mistake, because the subnet frontendSubnet does really exist.

You can refer to below log which I just tested:

PS /home/lub> az network vnet subnet show -n frontendSubnet --vnet-name MyVirtualNetwork -g TestResourceGroup
{
  "addressPrefix": "10.0.1.0/24",
  "addressPrefixes": null,
  "delegations": [],
  "etag": "W/\"5a748212-4f6c-45ec-b206-cd98be194e3

[2020-08-11 06:05] daviur opened #14738 "Error creating group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad group create`

**Errors:**
[code]

## To Reproduce:
- az ad group create --display-name AzSQLDBAccess --mail-nickname AzSQLDBAccess --query objectId --output tsv

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-08-11 06:18] yonzhan commented on #14738
add to S175

[2020-08-11 07:17] pvrk commented on #14270
@sambitratha : So, is the required work done and can we close this?

[2020-08-11 07:17] pvrk commented on #14379
@jarens7 : Another gentle reminder.

[2020-08-11 08:03] bim-msft commented on #14091
CLI doesn't know if the user has permission `Microsoft.KeyVault/locations/deletedVaults/read`. So I think this issue should be redirected to ARM side.

`https://management.azure.com/subscriptions/{subs}/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01` didn't raise any exception even if I don't have the permission.

[2020-08-11 08:33] jsntcy commented on #10764
close as no response from customer for a long time. @microkost, if you still have this issue, you can reopen this issue.

[2020-08-11 08:33] #10764 closed

[2020-08-11 09:14] MikkelHegn commented on #12871
@qwordy they do have duplicate commands. From testing, it looks like the Azure CLI extension commands will overwrite the Azure CLI commands.

To make sure we stick to topic (sorry for being part of derailing), the main thing with this issue is to fix that the autogenerated "az aks enable-addons --help" message shows a wrong example of using virtual-node.

[2020-08-11 09:16] ThejaChoudary commented on #14729
Assigning it to myself to repro

[2020-08-11 09:50] dmarinere commented on #14525
I am using Ubuntu please,
and here is the details of my Version
`{
  "azure-cli": "2.9.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.9.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}
}
`

[2020-08-11 11:24] jiasli commented on #14525
Could you check the content of `C:\Users\<username>\.azure\cliextensions\interactive\azext_interactive\__init__.py`? Does the folder or file exist?

[2020-08-11 11:54] Al-Nevado commented on #1622
I can confirm the same issue as galiacheng.

I can add IPs to a pool just fine:
`az network application-gateway address-pool update -g x --gateway-name x -n x --add backendAddresses "{\"fqdn\":null,\"ip_address\":\"172.17.0.20\"}"
{
  "backendAddresses": [
    {
      "fqdn": null,
      "ipAddress": "172.17.0.18"
    },
    {
      "fqdn": null,
      "ipAddress": "172.17.0.19"
    },
    {

[2020-08-11 12:01] alextes commented on #14548
@TomGeske sorry for getting back to you so late! Turned out many if not all commands were failing. Tried various things, clearing cache amongst them. Removing the whole ~/.azure folder unbroke it.

[2020-08-11 12:01] #14548 closed

[2020-08-11 12:28] carlowahlstedt commented on #14653
@fengzhou-msft when I change the cloud.json file to have the contents you put above it fails:
[code]

I had previously tried all different forms of the json but without luck and all the same error as above without using the format that is output from showing an endpoint as json. I tried with dashes, without, etc. My specific json used for the above error is:
[code]

[2020-08-11 13:53] yungezz commented on #14738
#11749

[2020-08-11 13:58] bablushaikh commented on #13553
@qwordy you can close this issue.

[2020-08-11 13:58] #13553 closed

[2020-08-11 15:39] jkewley commented on #12858
Just noting here that the PR updated the list of hard-coded values rather than checking real-time support as @arvindshmicrosoft had shown, so this issue will surface again when sku capabilities change

[2020-08-11 15:46] tibor19 opened #14741 "Error while creating a new sp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2020-08-11 16:03] BintangPradana commented on #692
Hi, I am also facing the same issue when I tried to edit the policy definition

[2020-08-11 16:05] QTom01 opened #14742 "Unknown error occurring on az aks create when specifying --load-balancer-outbound-ips"
**Describe the bug**

I am creating an aks instance using `az aks create`. Everything works fine until I add `--load-balancer-outbound-ips` at which point I get an error with no information, and the deployment still continues:

![image](https://user-images.githubusercontent.com/5354942/89918989-a250e300-dbf2-11ea-968c-c78b2fde7fea.png)

This error appears but the cluster seems to deploy normally a

[2020-08-11 16:30] brooke-hamilton opened #14743 "az storage container create fails and returns incorrect error message"
## Describe the bug
`az storage container create` fails after creating a storage account.

**Command Name**
`az storage container create`

**Errors:**
[code]

If I run the command suggested in the error message, ```az storage account show -n accountname --query networkRuleSet```, I get the output below, showing that there are no network rules blocking the creation of a storage container:
[code]

#

[2020-08-11 16:31] brooke-hamilton commented on #14743
I encountered the same issue in PowerShell on Windows.

[2020-08-11 16:54] brooke-hamilton commented on #14743
From a BASH cloud shell, I get this error when I run `az storage container create`
[code]

[2020-08-11 18:15] devhl-labs opened #14744 "Query on vm list-sizes fails"
`az vm list-sizes --query "[? maxDataDiskCount == '4']"` returns empty
```az vm list-sizes --query "[?maxDataDiskCount == `4`]"``` throws an invalid jmespath_type error

Am I doing something wrong in this query?  I had someone else test it and get the same result.

[2020-08-11 18:17] brooke-hamilton commented on #14743
I do not get this error on another subscription in which I am in the Owner role on the sub.
I get this error on my MSDN subscription in which I am in the Owner role on the sub.
I get this error on my company-sponsored subscription in which I'm in the Account Admin role on the sub.

[2020-08-11 18:22] GhostInThePotato opened #14745 "Add more character options for autoscale rule metric-namespace"
**Is your feature request related to a problem? Please describe.**
When creating a new autoscale rule using ` az monitor autoscale rule create`, the metric namespace is limited to `(WORD | '/' | '.')`. This is rather limiting and prevents using metric namespaces that contain whitespace and hyphens, for example.

**Describe the solution you'd like**
Ability to set autoscaling rules using metrics in

[2020-08-11 20:16] GarrettGeorge opened #14747 ""consumption usage list --subscription" is pulling billing information from a random incorrect subscription."
## Describe the bug

**Command Name**
`az consumption usage list --subscription`

**Errors:**

No formal errors, but gives unexpected output.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption usage list --subscription [UUID] --start-date "$( date +'%Y

[2020-08-11 20:20] GarrettGeorge commented on #14747
After looking at the tests, it doesn't look like there is one for verifying the output contains the correct subscription, specifically https://github.com/Azure/azure-cli/blob/8adf97355a605d147afc26f6c1b6f6afb6651c2f/src/azure-cli/azure/cli/command_modules/consumption/tests/latest/test_consumption_commands.py#L140 which seems to indicate based on the name it has something to do with the subscriptio

[2020-08-11 20:40] manojk011 commented on #14651
Thank you @Juliehzl.

[2020-08-11 20:40] #14651 closed

[2020-08-11 20:52] GarrettGeorge commented on #14747
After using `--debug` to see the content of the HTTP request being made to the server. It looks like it doesn't have anything to do with the azure CLI and instead to do with the `/Microsoft.Consumption/usageDetails` microservice. If you can provide me a person/place to contact about this, I can close this ticket.

[2020-08-11 21:53] AgSync-Aaron commented on #11749
This still appears to be an issue. Well it's an issue for me anyway. I hope these logs can help.
[code]
Here is the tail end of the output with the `--debug` flag
[code]

[2020-08-11 22:08] subhasishdc commented on #14744
@devhl-labs: You would need to escape the backtick character ``` using which you enclose the value. I tested it on my system and it works. Without the escaping, it throws an invalid jmespath_type error. The following works for me and returns the correct values.

`az vm list-sizes --location westus --query "[?maxDataDiskCount==\`4\`]"`

[2020-08-11 22:14] niralishah130 commented on #14653
@fengzhou-msft @qwordy the JSON file suggested did not work, as you can see above. Any other suggestions?

[2020-08-11 22:29] devhl-labs commented on #14744
`az vm list-sizes --location westus --query "[?maxDataDiskCount==``4``]"`

Perfect, thanks!

[2020-08-11 22:29] #14744 closed

[2020-08-11 22:31] ranieuwe commented on #13011
As of latest azure-cli v 2.10.1 this is working as expected:

[code]

[code]

[code]

I believe this issue can be closed.

[2020-08-11 22:31] yonzhan commented on #14741
add to S175

[2020-08-11 22:33] ranieuwe commented on #12987
Related to #13011 - this seems resolved in version 2.10.1. This can probably be closed.

[2020-08-11 22:34] yonzhan commented on #14742
aks

[2020-08-11 22:57] yonzhan commented on #14743
add to S175

[2020-08-11 22:59] yonzhan commented on #14745
add to S175

[2020-08-11 23:01] huanwu commented on #14207
@timja The commit trigger works. The above issue is caused by an invalid git-access-token I think. We have problem to parse the error as the issue filed in https://github.com/Azure/azure-cli/issues/14343. It works if everything is right.

[2020-08-11 23:47] subhasishdc opened #14748 "az network application-gateway create: the --private-ip-address parameter does nothing"
**Describe the bug**
When creating an application gateway using `az network application-gateway create`, adding the `--private-ip-address` parameter does nothing.  The CLI gives no errors but the parameter does nothing and does not associate a private ip address to the application gateway. To associate a private ip address, I need to run a second command `az network application-gateway frontend-ip

[2020-08-12 00:00] yonzhan commented on #14747
consumption

[2020-08-12 00:03] #13011 closed

[2020-08-12 00:03] #12987 closed

[2020-08-12 00:05] yonzhan commented on #14748
add to S175

[2020-08-12 00:21] yonzhan commented on #14630
keyvault

[2020-08-12 00:21] yonzhan commented on #14632
keyvault

[2020-08-12 01:30] yungezz commented on #14741
#11749

[2020-08-12 01:49] #2999 closed

[2020-08-12 01:49] #4041 closed

[2020-08-12 01:53] qwordy commented on #12858
You are right. The problem is the sku list is too long. It exceeds the limit of response of testing framework. It fails hundeads of tests. No perfect solution. We have to trade off.

[2020-08-12 01:57] fengzhou-msft commented on #14653
@niralishah130 there was some bug to handle the camel case which failed silently on Python 3.6 and now raises an error in your Python 3.8 environment. I will submit a PR to fix it.
For now, please use the following snake case:
[code]

[2020-08-12 02:01] jose-lima2011 commented on #14594
Hello guys, any news? As it is something that is not widely used, it may fall by the wayside, but as my job is to audit security compliance, I cannot ignore this item, thank you.

[2020-08-12 02:06] qwordy commented on #14270
Thank you so much!

[2020-08-12 02:06] #14270 closed

[2020-08-12 02:23] zhoxing-ms commented on #692
This is still a service related issue.
For the command `az policy definition show -n` to query build-in policy, the request flow of CLI is:

1. Query the custom policy through [Policy Definitions - Get](https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions/get)

2. If it is not found, it will continue to call [Policy Definitions - Get Built In
](https://docs.microsoft.com/en-us/res

[2020-08-12 02:30] yungezz commented on #14630
hi @bim-msft could  you pls help to check if the required property set correctly in help.py? thanks

[2020-08-12 02:31] yungezz commented on #14632
hi @bim-msft could  you pls help to update the link? seems service side changed the link. thanks

[2020-08-12 02:37] yungezz commented on #13795
hi @prak2419 does @panchagnula 's suggestion work for you?

[2020-08-12 02:39] #13569 closed

[2020-08-12 02:43] fengzhou-msft commented on #12035
`azure-storage-blob` is replaced by `azure-multiapi-storage` and the syntax warning will be fixed by https://github.com/Azure/azure-multiapi-storage-python/pull/31

[2020-08-12 02:44] fengzhou-msft commented on #14083
The warning is caused by a dependency package `azure-multiapi-storage` and will be resolved by https://github.com/Azure/azure-multiapi-storage-python/pull/31

[2020-08-12 03:01] arrownj commented on #13739
Hi @pachabelle , what's the content of your json file ? I test from my side and it successfully update the app with a Role type. Could you please provide your CLI version and the full json content to help us reproduce this issue ? Thanks

[2020-08-12 03:22] pachabelle commented on #13739
Hi Xiaojian,

Thanks for getting back to me.

My json file is attached.  I am using cli version 2.6.0

Regards,
Cheng

On Wed, Aug 12, 2020 at 3:01 PM Xiaojian Xu <notifications@github.com>
wrote:

[2020-08-12 03:45] pachabelle commented on #13739
Hi,

Sorry, sent you a json file with a typo.  I just tried v2.10.1 and I still
get the same error.

Regards,
Cheng

On Wed, Aug 12, 2020 at 3:22 PM cheng lim <pachabelle@gmail.com> wrote:

[2020-08-12 04:54] haroldrandom commented on #14523
As far as I know, CLI is subscription-based, every HTTP request must bear with a subscription.
Also, the list command is simple for auth-cert and the other appgw subresource: https://github.com/Azure/azure-cli/blob/40f9c7d3228a7ad180a0ced8b1f1caff1408d530/src/azure-cli/azure/cli/command_modules/network/_util.py#L13-L22

So, should be assuming the problem should be a service bug.

[2020-08-12 05:26] pachabelle commented on #13739
{
    "name": "TestApp",
    "requiredResourceAccess": [
        {
            "resourceAppId": "00000003-0000-0000-c000-000000000000",
            "resourceAccess": [
                {
                    "id": "e2a3a72e-5f79-4c64-b1b1-878b674786c9",
                    "type": "Role"
                },
                {
                    "id": "b633e1c5-b582-4048-a93e-9f11b44c7e96",

[2020-08-12 05:40] #14412 closed

[2020-08-12 06:29] TomGeske commented on #14742
It is a known issue caused by SP replication. To work around you may want to create your service principle ahead of cluster creation. See also: https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

[2020-08-12 06:54] yungezz opened #14753 "[Keyvault] Security domain"
**Resource Provider**

Keyvault

**Description of Feature or Work Requested**

Support Keyvault security domain feature

**Minimum API Version Required**

https://msazure.visualstudio.com/One/_workitems/edit/7634479
**Swagger Link**

**Target Date**

part of MHSM public preview

[2020-08-12 06:55] yungezz commented on #14753
security domain is part of MHSM public preview

[2020-08-12 07:42] #14574 closed

[2020-08-12 08:19] #13574 closed

[2020-08-12 08:42] zhoxing-ms opened #14756 "Live test pipline support all the tests in azure-cli-extensions repo"
**Is your feature request related to a problem? Please describe.**

When CLI is in bumping version, if there are some breaking changes may affect extensions ( such as: https://github.com/Azure/azure-cli-extensions/pull/2129 ) , we need a test system to test all extension tests in azure-cli-extensions repo.

**Describe the solution you'd like**

* Supports manual trigger to run all tests in azure-c

[2020-08-12 09:07] nrobert commented on #13691
@fengzhou-msft , can you confirm once the package is released?

I just upgraded my azure-cli package from 2.10.0 to 2.10.1 and still got the issue:

![image](https://user-images.githubusercontent.com/6305666/89997080-f2c84f00-dc8b-11ea-9d8d-65b4a0551c9b.png)

[2020-08-12 09:18] bim-msft commented on #14608
Hi @LudoNieuw Private keys cannot be exported in the current version. If you want to use your private key to encrypt or decrypt data, you may use `az keyvault key encrypt/decrypt`, it will access the private key internally to avoid data exposing.

[2020-08-12 09:18] bim-msft commented on #14608
`az keyvault key download` can only download the public part.

[2020-08-12 09:19] #14608 closed

[2020-08-12 09:37] MyronFanQiu commented on #14665
Well. Looks like powershell is doing something magically. Please use `az network vnet subnet update -g cli2020 --vnet-name dsfsd -n sdfsdfsdf --nsg '""'` to detach it. Sorry about the inconvenience.

[2020-08-12 09:45] bim-msft commented on #13167
Hi @josiahlaivins this is really weird, could you please paste the result of `az --version`?

[2020-08-12 09:49] josiahlaivins commented on #13167
[code]
The key-vault is working right now, so it is difficult to know what changed. I basically had to wait for a few hours then the key vault was working.

[2020-08-12 09:51] bim-msft commented on #14630
Hi @uandrei `--value` is not required since you can use `--file` instead. So we mark both `--value` and `--file` optional and do the check at runtime.

[2020-08-12 10:09] bim-msft commented on #13167
@josiahlaivins I think I figured it out: the dash in your command `az keyvault secret show -–name some-token –-vault-name somevault -–query value` is incorrect.

`-–name`: you have 2 different chars.

`-`:
![image](https://user-images.githubusercontent.com/3250203/90003429-a9492580-dcc6-11ea-84e9-4418d2b567e0.png)

`–`:
![image](https://user-images.githubusercontent.com/3250203/90003470-b6661480-d

[2020-08-12 10:17] bim-msft commented on #14616
@plooploops Thanks for reaching out. Actually it's not a type: here `kid` represents `If this is a secret backing a KV certificate, then this field specifies the corresponding key backing the KV certificate.`.
https://docs.microsoft.com/en-us/rest/api/keyvault/setsecret/setsecret#secretbundle

[2020-08-12 10:17] yonzhan commented on #14756
Live test pipline enhancement

[2020-08-12 10:17] josiahlaivins commented on #13167
I think this makes sense. I'm usually copy/paste from a readme. I will verify on my end.
*edit:
I was able to replicate. Thanks! I think this solved the problem. Not sure how this happened on my end. Deleting the dashes and re entering them fixes it

[2020-08-12 10:18] bim-msft commented on #14616
For normal (non-certificate related) secrets, this field is useless.

[2020-08-12 10:22] bim-msft commented on #13167
Great! This is a super rare case and it's difficult to check with human eyes, we will consider refining the error message for such cases.

[2020-08-12 11:43] carlowahlstedt commented on #14653
Looks like that also does not work. Any other suggestions?
[code]

cloud.json:
[code]

[2020-08-12 12:37] NiekGr opened #14758 "Webapp:az webapp create failed with an unexpected error after upgrade to azure-cli 2.10.1"
Dear Sir/Madam,

**Command Name**
`az webapp create`

**Errors:**
[code]

**Describe the bug**
Our release pipeline runs on hosted Azure DevOps agents. Releases that worked fine yesterday, do not work anymore.
It looks like the DevOps agents have upgraded azure-cli from 2.9.1 to 2.10.1.

The scripts are run on Powershell Core running on ubuntu-20.4 agents, but I have also tried ubuntu-18.04.

**To

[2020-08-12 14:21] yonzhan commented on #14758
webapp

[2020-08-12 16:04] dazinator commented on #12018
Hi guys,
I was waiting for this fix to roll out for a couple of months now. I just tried again and got the same "access denied" issue.

@vinisoto

You have kept this hidden tidbit of information well hidden!

Shouldn't this be mentioned in the docs for this command?

https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/slot?view=azure-cli-latest#az-webapp-deployment-slot-create

[2020-08-12 16:20] dazinator commented on #12018
Also it seems if you have used WebHooks to deploy from ACR in the past, you will already have the docker image repository server url, username, and password added as configuration values:

![image](https://user-images.githubusercontent.com/3176632/90040173-89faca00-dcbf-11ea-8588-0959fceab9d2.png)

Would it not make sense to use those value if they already exists rather than enforcing they be prov

[2020-08-12 17:32] brooke-hamilton commented on #14743
I used this python script to work around the issue:

[code]

[2020-08-12 19:53] panchagnula commented on #14729
@yonzhan as per the stack trace this is failing even before it reaches the webapp command execution
 [('PKCS12 routines', 'PKCS12_parse', 'mac verify failure')]

is there some debugging we can do to check If this was a package install failure?

[2020-08-12 20:01] RDukes425 opened #14760 "Update Verbiage for az policy definition command"
I received feedback from a customer regarding the verbiage of reunning the az policy definition update command. Currently the verbiage defines the --management-group parameter as the name of the management group, however the command is not successful unless you use the Management Group ID.

Can you please update this section to have the Parameter Definition updates from Management Group Name (or D

[2020-08-12 21:01] vinisoto commented on #12018
Hi @dazinator - thanks for reporting this.

Can you try specifying `--configuration-source <<your-web-app-name>>`? For example:

`az webapp deployment slot create --name uniun-dev --resource-group development --slot pr199 --configuration-source uniun-dev`

by doing that, the cli will use DOCKER_REGISTRY_SERVER_USERNAME, DOCKER_REGISTRY_SERVER_URL and DOCKER_REGISTRY_SERVER_PASSWORD from your produ

[2020-08-12 21:42] dazinator commented on #12018
@vinisoto
I tried with --configuration-source and it gives the same error:

![image](https://user-images.githubusercontent.com/3176632/90071102-e32d2280-dcec-11ea-9ee1-b89b86413e4b.png)

Yet, I was able to log in via azure portal, and create the slot through the azure portal UI, selecting to "clone settings" from the production slot - and that worked. I have sometimes seen this error when attempti

[2020-08-12 21:46] dazinator commented on #12018
@vinisoto
I did some more digging. It looks like installing the newer version of azure cli may have solved my problem with this command.
I was seeing the above problem whilst using:

[code]

I updated to `2.10.1` and re-ran the command, and now it seems to work.
Sorry for the false alarm.

[2020-08-12 21:53] vinisoto commented on #12018
@dazinator - glad it worked

Let us know of you find any other issues.

[2020-08-12 22:28] yonzhan commented on #14729
@fengzhou-msft please help with package install check.

[2020-08-12 22:29] yonzhan commented on #14760
add to S175

[2020-08-12 23:01] plooploops commented on #14616
@bim-msft Thank you for the clarification and the link to the docs.  Looks like it's expected behavior then!

[2020-08-12 23:05] dmarinere commented on #14525
I just said i am using Ubuntu which is a Linux distro
Here is another error`The installed extension 'interactive' is in preview.
The command failed with an unexpected error. Here is the traceback:

No module named 'prompt_toolkit.interface'
Traceback (most recent call last):
  File "/home/mahveotm/.local/lib/python3.8/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocatio

[2020-08-12 23:09] dmarinere opened #14761 "Here is my issue again!!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-08-12 23:13] cgreene87 commented on #13261
All good, if it's causing bugs. However, should these changes be marked as breaking? Since it will break people builds if they are using values that don't match the available list?

[2020-08-13 00:13] yonzhan commented on #14761
interactive

[2020-08-13 01:39] arrownj commented on #13788
Hi @srudin , this issue will be fixed in our next release.

[2020-08-13 01:44] qwordy commented on #14756
Received the feature request

[2020-08-13 01:47] arrownj commented on #13739
Hi @pachabelle , your json format is not right, you can run `az ad app update -h` to see the example, I also paste it here for your reference.

    update a native application with delegated permission of "access the AAD directory as the
    signed-in user"
        az ad app update --id e042ec79-34cd-498f-9d9f-123456781234 --required-resource-accesses
        @manifest.json
        ("manifest.json

[2020-08-13 01:59] jiasli commented on #14525
Sorry I missed the system, but the path should be similar: `/home/<username>/.azure/cliextensions/interactive/azext_interactive/__init__.py`.

Looks like you have bypassed the `AttributeError: module 'azext_interactive' has no attribute 'start_shell'` error? May I know the steps you used? There may be some installation or packaging issue.

Let's handle `ModuleNotFoundError: No module named 'prompt

[2020-08-13 02:00] jiasli commented on #14761
If you are getting `ModuleNotFoundError: No module named 'prompt_toolkit.interface'`, it looks like you have multiple versions of `prompt_toolkit` installed which conflicts with the one Azure CLI uses. Could you check https://github.com/Azure/azure-cli/issues/13539 and see if it can be solved?

[2020-08-13 02:35] yungezz commented on #14758
hi @arrownj could you pls also help to have a look at this issue? Thanks.

[2020-08-13 02:38] MyronFanQiu opened #14762 "Support settings private-endpoint-network-policies in `az network vnet create` and `az network vnet subnet create`"
[code]
Can we configure in one create command instead of creating then updating?

_Originally posted by @qwordy in https://github.com/Azure/azure-cli/pull/14707#issuecomment-673208720_

[2020-08-13 02:45] arrownj commented on #14758
Hi @calvinsID , could you please help with this issue ? It seems to have something to do [this](https://github.com/Azure/azure-cli/blob/58b68dd9e3feaca20254540ed77653a187537fd7/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L167) update.

[2020-08-13 02:51] yonzhan commented on #14762
add to S175

[2020-08-13 02:51] bim-msft commented on #14706
Hi @hund030 CLI command `list` doesn't show those "managed" secrets or keys. "managed" means they are not user-created but created internally, working with storage accounts or certificates. Anyway, the `show` command can access those hidden secrets/keys. CLI and Portal share the same design for this feature, so you cannot see those things on Portal too. Powershell may not follow the same rule.

[2020-08-13 02:57] bim-msft commented on #14706
Anyway, this would be really inconvenient if you want to check the generated secret but you don't know its name. I will add an extra parameter for the command `az keyvault secret/key list` like `--with-managed` to show all internal things.
The documentation also needs to be updated.

[2020-08-13 02:59] bim-msft commented on #14616
Anyway, thank you for your feedback! :-)

[2020-08-13 02:59] #14616 closed

[2020-08-13 03:06] bim-msft commented on #9128
Hi @BrandonE actually we have not implemented all things in that PR. Currently, we only support single string/bytes encryption and decryption with limited length. Files encryption/decryption is not supported yet. It may depend on some service side work. So we just put this issue to our Backlog to mark it as a long-term work.

[2020-08-13 03:08] qwordy commented on #13908
@MyronFanQiu Is the related PR merged?

[2020-08-13 03:15] fengzhou-msft commented on #14641
@lgmorand we have updated the docker image with the `latest` tag, you can also use the version tag `mcr.microsoft.com/azure-cli:2.9.1`

[2020-08-13 03:18] MyronFanQiu commented on #13908
Yes. According to our email thread, custom metric should be used with namespace together.  https://github.com/Azure/azure-cli/pull/14255 has been merged.

[2020-08-13 03:43] calvinsID commented on #14758
@NiekGr sorry for the inconvenience caused. working on a fix

[2020-08-13 05:42] lgmorand commented on #14641
Thanks, but I couldn't use the tag 2.9.1, because I'm using the github action from someone else who relies on the latest tag. but you fixed it and now everything is working again 👍

[2020-08-13 05:56] MyronFanQiu commented on #14536
close this one~

[2020-08-13 05:56] #14536 closed

[2020-08-13 05:56] MyronFanQiu commented on #14665
@soulcoolzz Please let me know whether it works for you and is there any more issue.

[2020-08-13 07:15] NiekGr commented on #14758
@calvinsID thank you for your fast respond. When can we expect azure-cli 1.10.2 to be available on the Azure DevOps agents?
In the meantime what can I do to workaround this issue?

[2020-08-13 07:19] sunsw1994 commented on #14722
The task will be divided into three PR:
1. management commands that moved from CLI Extension(`PR reviewing`#14755)
    - workspace CURD
    - sqlpool CURD
    - sparkpool CURD
    - firewall-rule CURD
2. dataplane commands that using track2 sdk instead of track (`Proposed`)
    - spark job
3. dataplane commands that is new feature (`Proposed`)
   - access control

[2020-08-13 09:23] gischethans opened #14767 "Creating service principal failed - When using this permission, the backing application of the service principal being created must in the local tenant"
When creating a service principal in the Azure US Government Cloud (I did not face the issue with Azure Public Cloud) with Azure CLI, I see the error "When using this permission, the backing application of the service principal being created must in the local tenant". This appears intermittently and the operation succeeds in the next one or two attempts.

**Command Name**
`az ad sp create-for-rbac

[2020-08-13 09:40] mjudeikis opened #14768 "ACR login does not work with podman"
**Describe the bug**
 az acr login --name registry
You may want to use 'az acr login -n registry --expose-token' to get an access token, which does not require Docker to be installed.
An error occurred: DOCKER_COMMAND_ERROR
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg

**To Reproduce**
install: `podman`, `podman-docker` emulator for CLI

**Expected behavior**
az ac

[2020-08-13 10:23] yonzhan commented on #14767
add to S175

[2020-08-13 10:26] yonzhan commented on #14768
acr

[2020-08-13 10:38] digeler opened #14769 "az kusto cluster create: 'Standard_D14_v2' is not a valid value for '--sku'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -l {} -n {} -g {} --sku {} --capacity {}

[2020-08-13 10:46] yonzhan commented on #14769
kusto

[2020-08-13 11:26] tejado commented on #14767
I'm facing this in Azure Public Cloud (North Europe). This appears intermittently and the operation succeeds in the next one or two attempts.

[2020-08-13 11:30] lupino3 opened #14770 "VM creation failure should output the correlation ID of the creation operation"
**Describe the bug**
When a command such as `az vm create` fails, it returns the correlation ID of the operation that was used to check the deployment status, rather than the correlation ID of the original long-running operation.

**To Reproduce**
Create a VM in a way that the long-running operation fails (for example, setting unsatisfiable constraints).

**Expected behavior**
I'd expect to get th

[2020-08-13 11:37] orhasban commented on #14769
Hi @digeler can you run 'az extension add -n kusto' and try again please? You are using old version of kusto cli

[2020-08-13 13:00] arthfl commented on #13655
Is there any progress on this issue?
We have failing function deployments all over the place because of this.

[2020-08-13 13:04] AlphaJuliettOmega commented on #4843
Issue is closed but I literally just had to do the work-around to log into ECR

for me the .docker config file had:
[code]

that line has exactly the same symptoms as
[code]
had...

[2020-08-13 13:05] blacksun1 commented on #7245
Hey, I think what you are looking for is the following

[code]

And then `appsettings.json` and `slotsettings.json` should in be in format of

[code]

[2020-08-13 13:21] yonzhan commented on #14770
VM creation

[2020-08-13 13:39] yungezz commented on #14770
hi @qwordy, let's discuss this offline. cc @houk-ms for error message improvment.

[2020-08-13 13:41] jrudley opened #14771 "required parameter list incorrect for az keyvault secret set"
az keyvault secret set
Page lists value-name and name as required parameters, but a value is also required. It is listed as optional

ie) az keyvault secret set --vault-name $kvName --name jimmy
incorrect usage: [Required] --value VALUE | --file PATH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8ed-c246-2ffb-9df

[2020-08-13 14:23] AshwinSarimin opened #14772 "az : AllowVnetToVnetTraffic flag in VirtualWan is not supported"
**Describe the bug**
When creating an virtual wan with the azure cli virtual-wan extension with the parameter --vnet-to-vnet-traffic on $true , i get the error: az : AllowVnetToVnetTraffic flag in VirtualWan is not supported.

**To Reproduce**
 az network vwan create --name $vwanname `
        --resource-group $rg `
        --branch-to-branch-traffic $true `
        --disable-vpn-encryption $false

[2020-08-13 14:25] ericsampson commented on #14142
@panchagnula does someone have a ticket to add it to the go SDK?

[2020-08-13 14:30] synergiator opened #14773 "Can't az login with service principal certificate"
## Describe the bug

**Command Name**
`az login`

**Errors:**

In short, the `az login` does not work here because there is an exception with a requirement to execute `az login`. (Cat bites its tail, figurally said).

Here is the excerpt from the debug log.
[code]
## To Reproduce:
Create a principal with certificate and run the command:

`az login -o json --service-principal -u $PRINCIPAL_ID -p ke

[2020-08-13 14:48] bacongobbler commented on #14641
To clarify, this issue has been mitigated, and a fix has been made available in the latest release of the Azure CLI. In that case, should this ticket be closed, or are there further action items needed to be taken here by the Azure CLI devs preventing this ticket from being closed?

[2020-08-13 14:52] allianz-shay-katzir opened #14774 "ACR build fails in Jenkins with "'ascii' codec can't encode character""
## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --resource-group {} -t {} -t {} -f {} {}`

## Expected Behavior

This is the latest version of the AZ CLI, so I expe

[2020-08-13 14:59] yeroc-sebrof opened #14775 "Issues with the `az vm wait --custom` flag"
## Describe the bug

The `az vm wait` command when using `--custom` crashes when I am attempting to use it. Using the example provided by [the documentation](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-wait) this crash will persist. I am trying to wait for either a stopped or deallocated state but it appears I am unable to wait for one of the two at this time.

**Comm

[2020-08-13 15:14] richeney commented on #13393
I'm still seeing the error.

Commands run in the Cloud Shell.  (Within Windows Terminal on Windows 10.)

[code]

Looks like a token issue in Cloud Shell for this command. Extracted from the full [az.log](https://gist.github.com/richeney/fde673a3f20a386874ec9070996f579a)

[code]

az version:

[code]

[2020-08-13 15:28] jrudley commented on #14771
upgraded az from .9 to .10 which follows the doc correctly! closing

[2020-08-13 15:28] #14771 closed

[2020-08-13 16:12] Bobchev opened #14776 "Unable to force delete backupvault"
## Describe the bug

**Command Name**
`az backup vault delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup vault delete --resource-group {} --name {} --force`

## Expected Behavior

## Environment Summary
[code]
## Additional Cont

[2020-08-13 16:41] panchagnula commented on #14142
@ericsampson don't have a firm ETA but next week (if all goes as planned) we should be able to release a new Python SDK that should have this property after which we can work on incorporating this to azure-cli

[2020-08-13 16:47] johnwildes opened #14777 "az extension add fail / WSL2 / Ubuntu 20.04"
*Describe the bug**
`az extension add` fails

When installing the extension for `azure-firewall` I run the cmd `az extension add -n azure-firewall` and get a failure message

`An error occurred. Pip failed with status code 1. Use --debug for more information.`

I re-ran the cmd with `--debug` and receive an error, which has pertinent information snipped below

[code]

**To Reproduce**
attempt to a

[2020-08-13 16:53] Drewm3 commented on #13320
I am moved this to a "Feature Request" because this is not really a question nor a bug at this point. @bureado, please close this issue once the defaults have been switched.

[2020-08-13 16:58] AlexandreArpin commented on #11369
That is not always the case when considering older subscriptions and multiple tenants in multiple countries.

@amberbhargava 100%, it is required by some of the Pricesheet API, which are still required until Microsoft.Consumption and Microsoft.CostManagement providers fully supported all usage scenarios.

There's currently no workaround when managing multiple enrollements and subscriptions (100+)

[2020-08-13 17:22] ericsampson commented on #14142
@panchagnula I was asking not about azure-clie but about the GO SDK because that's what's used by Terraform - looks like the go SDK work is inflight here so I'm good: https://github.com/Azure/azure-sdk-for-go/issues/12160
Thanks!

[2020-08-13 17:51] panchagnula commented on #14142
Got it @ericsampson I am not the right person to talk about GO SDK - since I mainly work on CLI - but I can make sure GO SDK gets released once the python SDK is released as well.

[2020-08-13 18:10] apawast commented on #14572
@gzuber to investigate

[2020-08-13 18:13] apawast commented on #14675
@gzuber to investigate

[2020-08-13 18:17] lgmorand commented on #14641
IMHO, it can be closed as we just need to take the latest version of the CLI (and because docker image has also been updated)

[2020-08-13 18:21] pavankumarda2136 opened #14778 "Error building AzureRM Client"
I am getting the bellow error when running terraform plan. Did anyone face the same issue ? I am able to login using az login as well.

[code]

**I am using WSL****, and I have installed azure cli from MS docs. Bellow is my az -version for reference.

az --version
azure-cli                          2.6.0 *

command-modules-nspkg              2.0.3
core                               2.6.0 *
nspkg

[2020-08-13 22:14] yonzhan commented on #14772
add to S175

[2020-08-13 22:16] yonzhan commented on #14773
add to S175

[2020-08-13 22:18] yonzhan commented on #14774
acr

[2020-08-13 22:20] chenlomis opened #14781 "Not sure how to resolve storage blob upload error"
**Describe the bug**
Trying out QS on creating/uploading/downloading blob but unable to resolve error

**To Reproduce**
Doc here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-cli
This is the command that failed:
![image](https://user-images.githubusercontent.com/30876406/90192722-5f207c80-dd78-11ea-92a0-3824b35ce06e.png)
![image](https://user-images.githubuserconte

[2020-08-13 22:21] yonzhan commented on #14776
backup

[2020-08-13 22:22] yonzhan commented on #14777
installing

[2020-08-13 22:25] #14641 closed

[2020-08-13 22:28] yonzhan commented on #14778
add to S175

[2020-08-13 22:34] yonzhan commented on #14781
add to S175

[2020-08-13 23:17] ehashman opened #14782 "`az role assignment list` breaks with trailing slash"
**Describe the bug**

When providing a `--scope` argument to `az role assignment list`, if a trailing slash is accidentally included, the CLI gives a non-descriptive error "Invalid scope. Please use --help to view the valid format."

**To Reproduce**

Using a valid subscription, run e.g.

[code]

**Expected behavior**

Our customer expected either a clear error or this to remove the trailing slash

[2020-08-13 23:23] mgrandi opened #14783 "`az.cmd` can't handle arguments with a `@()`"
## Describe the bug

the `az.cmd` batch script that wraps `python.exe` and passes in the correct arguments to start `azure.cli` seemingly cannot handle arguments with a `@()` in them

my example is with `az webapp config connection-string set` because that is where I found it, but it most likely impacts every command

example:

[code]

**Command Name**
`az webapp config connection-string set`

**E

[2020-08-14 00:02] yonzhan commented on #14782
add to S175

[2020-08-14 00:10] BrandonE commented on #9128
Got it. Yes, I think it will require some service side work. I was surprised to learn that the Azure Key Vault [does not currently support symmetrical encryption](https://social.msdn.microsoft.com/Forums/vstudio/en-US/75407f08-2c48-4268-9283-d02b5ee47e70/symmetric-keys?forum=AzureKeyVault).

[2020-08-14 01:42] #13908 closed

[2020-08-14 02:02] houk-ms commented on #13917
Supported now.

[2020-08-14 02:10] jiasli commented on #14778
Are Terraform and Azure CLI in the same system? (Both under WSL?) In order to use Azure CLI authentication, Terraform should be able to sub-process `az account get-access-token`.

[2020-08-14 02:18] pavankumarda2136 commented on #14778
Hi @jiasli , yes Terraform and azure cli is on the same system. why do I need access-token?  Any how I am using az login to get all the subscriptions from azure.
I followed the one for ubuntu.

[2020-08-14 02:40] jiasli commented on #14778
Terraform internally calls `az account get-access-token` to use Azure CLI as the authentication provider. Could you follow the troubleshooting steps provided in https://github.com/terraform-providers/terraform-provider-azurerm/issues/3686#issuecomment-523983734?

\+ @mybayern1974 from Azure Terraform team to help take a look.

[2020-08-14 02:44] Juliehzl commented on #14783
Hi @mgrandi, this is powershell issue. If you use suuch command in cmd, it should work as expect.
In powershell, to resolve it please add `--%` after `az`, e.g.
[code]

[2020-08-14 02:46] Juliehzl commented on #14777
@haroldrandom  or @fengzhou-msft, could you have take a look?

[2020-08-14 02:48] Juliehzl commented on #14775
@qwordy  could you help with this issue?

[2020-08-14 02:49] #14783 closed

[2020-08-14 02:50] jiasli commented on #14376
The redirect [URL's protocol](https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL) is `https` which is not valid for `localhost` (only `http` is valid as no valid certificate can be issued for `localhost` except for a self-signed one):

[code]

 You may follow https://github.com/Azure/azure-cli/issues/10426#issuecomment-528308713 and see if you are unblocked after removin

[2020-08-14 02:51] jiasli commented on #14085
If you are able to reproduce again, please kindly reply here.

[2020-08-14 02:51] #14085 closed

[2020-08-14 02:52] Juliehzl commented on #14781
Hi @chenlomis, thanks for your feedback. Listing containers is data plane operations and will need specific credentials provided and we have a plan to migrate to mgmt plane, which will not require specific credentials for container level operations.

For uploading error, the value of `--file` is local file path. You should make sure your local path have the file named `helloworld`.

[2020-08-14 02:56] jiasli commented on #14375
Seems to be the same issue as https://github.com/Azure/azure-cli/issues/13209#issuecomment-652164784. Could you try the workaround and see if that works?

[2020-08-14 02:56] zhoxing-ms commented on #14404
@sebas1307 Thanks for your email~ In fact, this error is returned from service verification. It seems that the value of `[reference(variables('getitNetworkDeploymentResourceId'), '2020-06-01').outputs.subnet1ResourceId.value]` is illegal for VirtualNetworkRule, but there is no way to investigate it's value on CLI side.
[Legal value of VirtualNetworkRule for StorageAccounts](https://docs.microsoft.

[2020-08-14 03:01] jiasli commented on #14347
I will improve the error message in the [Azure Identity Integration](https://github.com/Azure/azure-cli/labels/Azure%20Identity%20Integration) process.

Meanwhile, if you are still facing issue getting an access token with Azure CLI or `curl`. You may reach out to customer support to troubleshoot on the machine-side.

[2020-08-14 03:01] #14347 closed

[2020-08-14 03:04] #13483 closed

[2020-08-14 03:05] #13995 closed

[2020-08-14 03:06] #14426 closed

[2020-08-14 03:08] jiasli commented on #13801
As this only happens for `microsoft.com` accounts. Please reach me internally on **Microsoft Teams** and we can set up a Teams meeting to troubleshoot together.

[2020-08-14 03:08] #13801 closed

[2020-08-14 03:10] jiasli commented on #14067
If you have more information, please kindly provide here.

[2020-08-14 03:10] #14067 closed

[2020-08-14 03:11] jiasli commented on #10563
If you are able to reproduce again, please kindly reply here.

[2020-08-14 03:11] #10563 closed

[2020-08-14 03:26] jiasli commented on #14538
This is more of a shell question. 😉

- For PowerShell, you may use [`$( )` Subexpression operator](https://ss64.com/ps/syntax-operators.html).
- In Bash, it is similar. You could use `$( )` or `` ` ` `` [Command Substitution](https://www.gnu.org/software/bash/manual/html_node/Command-Substitution.html).

[code]

Similarly:

[code]

Please note that `--output tsv` is necessary in order to strip the

[2020-08-14 03:35] jiasli commented on #14634
I am not able to reproduce it. The result is correct.

[code]

Would you mind sharing the actual commands you used? (Provide the contents of `{}` in the commands.)

[2020-08-14 03:41] jiasli commented on #14615
I am not able to reproduce it. The result is correct.

[code]

Are you able to get the JSON object without filtering with `--query objectId --output tsv`?

[2020-08-14 04:17] mgrandi commented on #14783
If it's powershell issue, then how come it works when I call `python.exe` directly?

[2020-08-14 04:22] mybayern1974 commented on #14778
Hi @pavankumarda2136 , thank you for posting this question.

With assuming using AzCLI is one of the major auth ways in Terraform, the scenario should work with well tested. Per the description provided here, I may not be able to quickly troubleshoot given the provided contexts look correct.

May I suggest you could possibly go through docs first and map to your procedures to see whether there are

[2020-08-14 05:15] wanglijun378617 opened #14786 "Add "--yes" in "az aks nodepool upgrade" command"
**Is your feature request related to a problem? Please describe.**
When running via devops pipeline:
az aks nodepool upgrade --resource-group xxx --cluster-name xxx --name default --max-surge 20% --node-image-only
We're getting python exception:
...
knack.prompting.NoTTYException

and there's no way to specify 'yes' in non-interactive mode.

**Describe the solution you'd like**
Would like to have

[2020-08-14 05:19] #13610 closed

[2020-08-14 05:30] jiasli commented on #14617
Thanks for the feedback. This request is being tracked at https://github.com/Azure/azure-cli/issues/12946.

[2020-08-14 05:30] #14617 closed

[2020-08-14 05:49] jiasli commented on #14218
This should have been fixed in #14187.

[2020-08-14 05:49] #14218 closed

[2020-08-14 06:37] #13312 closed

[2020-08-14 06:51] qwordy commented on #14775
This issue is confirmed. I get the same result as you. I am locating the fault.

[2020-08-14 07:21] qwordy commented on #14775
Try this command. It works in PowerShell.
[code]

[2020-08-14 07:35] yonzhan commented on #14786
aks

[2020-08-14 07:44] jsntcy opened #14787 "Prompt consent for APM migration from 2.0 to 2.1"
**Resource Provider**
Microsoft.Insights

**Description of Feature or Work Requested**
In the following two scenarios, Azure CLI need prompt consent to users:
- If it’s a classic AI (no workspace linked) and the users want it to link to a workspace with workspace-context permissions (enableLogAccessUsingOnlyResourcePermissions = false).
- If the AI links with a workspace with resource-context perm

[2020-08-14 07:51] yonzhan commented on #14787
This is for Ignite

[2020-08-14 07:57] sanderaernouts opened #14788 "Webapp:az webapp create fails because Azure CLI reports app service exists in a different resource group then specified (which is not the case)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
We can no longer run out deployment scripts against out PROD environment since Azure CLI has been updated to `2.10.1`
**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information

[2020-08-14 08:00] yonzhan commented on #14788
webapp

[2020-08-14 08:00] #13596 closed

[2020-08-14 08:01] #13591 closed

[2020-08-14 08:01] bim-msft commented on #13460
I have checked the code and did some tests but still have no idea about this.
Hi @mibo32 once we find the root cause we will notify you. As you said, temporarily you can use `--object-id` to workaround this.

[2020-08-14 08:02] arrownj commented on #13739
Hi @pachabelle , I will close it if no more question. Reach us if you have other concerns. Thanks

[2020-08-14 08:02] #13739 closed

[2020-08-14 08:03] Shahar-do commented on #14634
Hey, please take a look at these two examples:

![image](https://user-images.githubusercontent.com/38504703/90227661-9d23ac00-de1d-11ea-9c35-bb8f09d95dfa.png)

![image](https://user-images.githubusercontent.com/38504703/90227783-ce03e100-de1d-11ea-9b4f-f374942a126c.png)

[2020-08-14 08:15] yeroc-sebrof commented on #14775
Ah, thank you that command works for me also

[2020-08-14 08:16] #14775 closed

[2020-08-14 08:19] mepand commented on #14776
@Bobchev If you don't want to be prompted for the confirmation of deletion, please execute the command with --yes. However, there would still be a check to identify if there are existing protected items or registered containers with the vault. There is some issue with --force parameter, we will fix it at our end . Also, please ensure that the vault name you are passing in the command is correct.

[2020-08-14 08:19] bim-msft commented on #9128
Hi @BrandonE I think the symmetric key was added support, the article you mentioned is a little bit outdated:
Create a symmetric key: `az keyvault key create --key otc`