[2022-11-24 09:06] anthonyolazabal opened #24732 "Error exporting existing ACI configuration to YAML (UserManagedIdentity)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container export`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container export --output {} --resource-group {} --name {} --file

[2022-11-24 09:06] zhoxing-ms commented on #24697
In fact, the scope of `Azure CLI` is to create and manage Azure resources. Its role is consistent with [Azure PowerShell](https://learn.microsoft.com/en-us/powershell/azure/?view=azps-9.1.0 ).

However, the `Set-VMProcessor` is the command of [PowerShell](https://learn.microsoft.com/en-us/powershell/module/hyper-v/set-vmprocessor?view=windowsserver2022-ps) *(not Azure PowerShell)* , so it is not i

[2022-11-24 09:31] bebound commented on #24719
I don't know how to uninstall it correctly, you know your computer better than I.
As a workaround, just delete `~/.local/bin/az`.

[2022-11-24 09:41] necusjz commented on #20940
I cannot reproduce it in Azure CLI 2.42.0.

[2022-11-24 10:32] baidarka commented on #24624
Dear @yanzhudd,

Thank you for your reply! It is very nice to read that this issue is scheduled for fix.

We'll downgrade the CLI version for now (actually: we'll build on an older build image, since we cannot version-pin individual packages :)

[2022-11-24 10:36] julyvee commented on #24675
@bebound Yes, but there is no real solution in that ticket. What does "Taking extra steps to login" even mean.

[2022-11-24 11:09] yonzhan commented on #24731
route to CXP team

[2022-11-24 11:09] yonzhan commented on #24732
route to CXP team

[2022-11-24 11:11] jscheeres opened #24733 "Az storage account show-connection-string gives exception on cli version 2.42.0"
## Describe the bug

az storage account show-connection-string --name ... ==> gives exception

az storage account show-connection-string --name ... --resource-group .... ==> gives no exception

**Command Name**
`az storage account show-connection-string`

**Errors:**
[code]

## To Reproduce:

az storage account show-connection-string --name .........

## Expected Behavior

Show connectionstring.

[2022-11-24 11:42] GitMensch commented on #24697
The point is that this feature is missing in both - if it should be implemented in Azure Powershell before: Can you please open an internal feature request to add it there first?

[2022-11-24 11:47] yonzhan commented on #24733
@evelyn-ys for awareness

[2022-11-24 13:52] eavanvalkenburg commented on #22954
Documentation is indeed lacking a lot! I have been able to create a mltable deltalake set, but reading that into a dataframe based on the data asset is causing all sorts of issues with the error messages that do not help and the docs lacking examples!

[2022-11-24 14:31] MO2k4 commented on #24733
thanks @jscheeres for your workaround 💯

[2022-11-24 15:01] ercanese opened #24734 "az login issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-11-24 15:10] zmfdan commented on #22230
I have the same issue, still no update yet?

[2022-11-24 15:15] yonzhan commented on #24734
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-11-24 15:15] #24734 closed

[2022-11-24 17:39] QuinnDamerell commented on #22230
If you’re issue is with the ADO pipeline, they have updated the main bug being tracked here:
https://github.com/microsoft/azure-pipelines-agent/issues/3834#issuecomment-1325638361

Good news, they have an update that will move to dotnet 6, so the issue will be resolved soon!

[2022-11-24 19:37] pmohta commented on #17052
is there any update on this issue?

[2022-11-24 19:38] pmohta commented on #19726
@yonzhan , is there an update on this request?

[2022-11-24 22:58] yonzhan commented on #19726
@azureSQLGitHub, sql commands are owned by service team

[2022-11-24 23:50] Jian-Mai opened #24736 "Bastion RDP with native client"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --name {} --resource-group {} --target-res

[2022-11-25 01:24] evelyn-ys commented on #24733
duplicated with #24528

[2022-11-25 01:24] #24733 closed

[2022-11-25 01:56] yonzhan commented on #24736
route to CXP team

[2022-11-25 05:07] labiol opened #24737 ""az vmware cluster list" return an empty list"
**Related command**
az vmware cluster list --private-cloud XX --resource-group XX

**Describe the bug**
Return empty list. Private cloud has at least one cluster populated by default

**To Reproduce**

**Expected behavior**
Lists of all clusters (that are visible in VMware vCenter)

**Environment summary**
macos, zsh (zsh 5.8.1 (x86_64-apple-darwin21.0)),
az --version
azure-cli

[2022-11-25 05:27] necusjz commented on #23851
Please refer to the description in https://github.com/Azure/azure-cli/issues/13191.

[2022-11-25 05:55] necusjz commented on #24093
Such information is already provided in the document:

![image](https://user-images.githubusercontent.com/12371639/203910520-c982b213-19bf-439a-a45d-99b40ee31e69.png)

https://learn.microsoft.com/en-us/cli/azure/network/application-gateway?view=azure-cli-latest#az-network-application-gateway-create

[2022-11-25 06:07] #24624 closed

[2022-11-25 06:44] yonzhan commented on #24737
route to CXP team

[2022-11-25 06:45] #23851 closed

[2022-11-25 06:46] #24093 closed

[2022-11-25 07:30] CribberSix opened #24738 "az synapse workspace-package upload fails due to missing positional argument"
**Related command**
az synapse workspace-package upload

**Error**
`LibraryOperations.append() missing 1 required positional argument: 'content'`
See full trace below.

**Describe the bug**
The command fails in the DevOps Powershell script and .whl files are uploaded with "incomplete" provisioning status to the Synapse workspace.

**To Reproduce**
DevOps Pipeline with 2 "download package" tasks an

[2022-11-25 07:39] CribberSix commented on #24718
I think it is a bug introduced in `azure-cli=2.42.0` or `core=2.42.0`, I just checked our logs from before and it worked with `azure-cli=2.41.0` and `core=2.41.0`. All of our deployment pipelines crash since yesterday due to this error .

[2022-11-25 08:12] onenessboy opened #24739 "az storage account network-rule remove does not delete all the rules for storage account"
**Related command**
az storage account network-rule remove --account-name

**Describe the bug**

Its not deleting all the rules from storage account
**To Reproduce**

az storage account network-rule remove --account-name

**Expected behavior**

It has to remove all the IPs added in firewall rule
**Environment summary**

bash
**Additional context**

[2022-11-25 08:19] zmfdan commented on #22230
I am running from an Ubuntu `22.04` docker container and I am getting the ssl error while running `az artifacts universal download`.

[2022-11-25 08:20] yonzhan commented on #24738
route to CXP team

[2022-11-25 08:21] yonzhan commented on #24739
@evelyn-ys for awareness

[2022-11-25 08:38] Candelit commented on #24093
No, it does not. I think that I along with everyone, assumes that 'resource' in 'Will create resource if it does not exist' refers to the App GW or what you are trying to create. Not a Virtual Network...
The vnet does exist, the subnet does exist...so don't create them again for me, right?

[2022-11-25 08:39] Candelit commented on #24093
Why is it always so hard to get you to change these things? Change it and make life easier for everyone, instead of just clinging to your version of the truth.

[2022-11-25 08:45] Candelit commented on #24093
I can add, its ONLY in your demo/quick starts that you create a vnet at the same time as your resources...it never happens in the real world. The vnet always exist...

[2022-11-25 09:07] ravyouli commented on #20414
I agree with @timwebster9, there should be an admin setting to allow cloudshell governance: allow/deny based on RBAC or resource provider, and ability to provision cloudshell in a compliant way (i.e. integrated in VNet). Azure policy should also be able to monitor that or at least Security team should be able to get a report or build one using APIs.

[2022-11-25 09:52] MayXuQQ commented on #24719
How to cleanup the az on fedora ?
https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf#uninstall
$ which az
~/.local/bin/az
$ az version
No module named 'packaging'
{
  "azure-cli": "2.42.0",
  "azure-cli-core": "2.42.0",
  "azure-cli-telemetry": "1.0.8",
  "extensions": {}
}
$ az
No module named 'packaging'
Error loading command module 'acs': No module named 'azure.core'

[2022-11-25 10:05] danijam commented on #11315
Just want to add our desired use case. This week we started to build out a internal container registry platform for our engineering teams based on ACR. The ACR would have copies of public up stream repositories like `node` or `nginx` which all teams require read access. The public images would be under a `public` namespace: `/public/node` or `/public/nginx`. Teams wanting to "cache" a new tag or n

[2022-11-25 10:22] ulluoink commented on #21618
any news?

[2022-11-25 11:42] MayXuQQ commented on #24719
after reinstall with https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf#install
For RHEL 9 or CentOS Stream 9, add packages-microsoft-com-prod repository
I can use the latest az cli

[2022-11-25 13:44] ulluoink opened #24741 "`az servicebus queue create` and `az servicebus queue update` ignore --enable-partitioning"
## Describe the bug

When creating the servicebus queue with `az servicebus queue create` and the parameter --enable-partitioning is set to true this is ignored by the cli and the setting is still disabled in portal.

Furthermore when using `az servicebus queue update` to enable partitioning bad request is returned.

**Command Name**
`az servicebus queue create`
`az servicebus queue update`

**Err

[2022-11-25 13:52] RakeshMohanMSFT commented on #24738
@CribberSix Thank you for reaching out, we are looking into it.

[2022-11-25 13:54] RakeshMohanMSFT commented on #24718
@tschouunas Thank you for reaching out, we are looking into it.

[2022-11-25 13:54] RakeshMohanMSFT commented on #24738
This is duplicate of https://github.com/Azure/azure-cli/issues/24718 we will track this issue in #24718

[2022-11-25 13:54] #24738 closed

[2022-11-25 14:04] katriendg opened #24742 "az connectedk8s commands result in error"
## Describe the bug

**Command Name**
`az connectedk8s list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Running the command in Powershell on Windows 11, az cli and extension versions as below
- `az connectedk8s list --resource-group {} --output table`

## Expected Behavior

Expec

[2022-11-25 14:45] Miraj50 opened #24743 "[az disk] Portal v/s CLI, Ability to change public-network-access without changing network-access-policy"
Team,
I have noticed a difference in the ability to set networking configuration for Azure Managed disks from Portal and CLI.

In Portal, we are presented with three options:
![image](https://user-images.githubusercontent.com/23695844/204006501-2f73e831-323b-4252-9e1e-a2465be8b31b.png)

Here is what, selecting each leads to for the two parameters:
<html xmlns:o="urn:schemas-microsoft-com:office:of

[2022-11-25 15:16] jadcosta commented on #23625
@vivlingaiah I'm experiencing exactly the same issue as was reported in this thread.

I'm getting the following output:
      "message": "This is a sample script with parameters  ",

I'm assuming it's running the default script as described above.

[2022-11-25 15:30] likamrat opened #24744 "appservice kube - No module named 'azure.mgmt.web.v2021_01_01'"
**Related command**
az appservice kube

**Describe the bug**
When running the _az appservice kube_ command, getting the following output.

[code]
<img width="1090" alt="Snag_28fc08b1" src="https://user-images.githubusercontent.com/46730876/204014966-0c207332-d590-42c1-95ae-62363ae9a4f8.png">

**To Reproduce**

### tl;dr
Run the the _az appservice kube_ command in Windows PoSH (not tested in Bash b

[2022-11-25 15:34] likamrat commented on #24744
/cc @apwestgarth

[2022-11-25 17:01] #18402 closed

[2022-11-25 21:44] sundbry opened #24745 "az network application-gateway ssl-cert list fails with exception"
I had a workflow which was working before, that is no longer working after upgrading debian packages:

## Describe the bug

**Command Name**
`az network application-gateway ssl-cert list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az netwo

[2022-11-26 00:37] yonzhan commented on #24741
route to CXP team

[2022-11-26 00:38] yonzhan commented on #24742
route to CXP team

[2022-11-26 00:39] yonzhan commented on #24743
@zhoxing-ms for awareness

[2022-11-26 00:40] yonzhan commented on #24744
route to CXP team

[2022-11-26 00:40] yonzhan commented on #24745
@necusjz for awareness

[2022-11-26 02:55] beamand opened #24747 "az update - An error occurred whilst updating. The extension ml already exists."
**Related command**
az update

**Describe the bug**

Not really a bug but an observation of errors being generated!

**To Reproduce**

Not sure if everyone is getting there errors, but just type in "az update" in one of the CLI's.

**Expected behavior**

I'm expecting there not to be any errors during this training exercise for a beginner.

**Environment summary**

https://learn.microsoft.com/en-u

[2022-11-26 17:01] #24073 closed

[2022-11-26 17:01] #23583 closed

[2022-11-26 17:01] #23273 closed

[2022-11-27 03:11] yonzhan commented on #24747
@bebound for awareness

[2022-11-27 10:50] aungnainglin569 opened #24748 "How do you solve?"
Use --debug for more information
Checking update for ml
Failed to delete '/usr/lib/python3.9/site-packages/azure-cli-extensions/ml': [Errno 13] Permission denied: 'py.typed'. Retrying ...
Failed to delete '/usr/lib/python3.9/site-packages/azure-cli-extensions/ml': [Errno 13] Permission denied: 'py.typed'. Retrying ...
Failed to delete '/usr/lib/python3.9/site-packages/azure-cli-extensions/ml': [Er

[2022-11-27 13:53] yonzhan commented on #24748
route to CXP team

[2022-11-27 15:41] saarp-cyera commented on #22598
Hey, I still receive the same error when running 'az monitor diagnostics-settings list --resource <storage_account_resource_id>' with az cli version 2.42.0

[2022-11-27 21:29] HansZimmer5000 opened #24749 "Documentation contains outdated argument"
**Related command**
Documentation in this repository.

**Describe the bug**
`doc/authoring_command_modules/README.md` lists outdated argument "--module".

Argument "--module" is not existent, as it can be seen via `azdev style --help`.
Further proof in the [azdev history](https://github.com/Azure/azure-cli-dev-tools/blob/eee6d32a6653d639d01a23481063675f175e8b41/HISTORY.rst#005): ("[...] to allow m

[2022-11-27 21:42] HansZimmer5000 commented on #24749
See PR #24750

[2022-11-27 22:18] HansZimmer5000 commented on #22173
@zhoxing-ms
`az policy state list --all` works for me now, no problems / warnings. Have az in version 2.42.0.

I didn't check the Rest API yet.

[2022-11-27 23:05] yonzhan commented on #24749
@kairu-ms for awareness

[2022-11-28 00:39] #24551 closed

[2022-11-28 00:39] #24553 closed

[2022-11-28 00:41] #24528 closed

[2022-11-28 00:55] #24749 closed

[2022-11-28 01:50] zhoxing-ms commented on #22173
Thank you for your feedback! As we discussed before, this is a REST service-related problem. I guess the service team may have fixed this problem. @najagasi Could you please help confirm it?

[2022-11-28 02:08] bebound commented on #24748
Duplicate of https://github.com/Azure/azure-cli/issues/24023

This will be fixed in next release.

[2022-11-28 02:09] bebound commented on #24747
Duplicate of https://github.com/Azure/azure-cli/issues/24023

This will be fixed in next release.

[2022-11-28 02:28] #24748 closed

[2022-11-28 02:45] navba-MSFT commented on #24744
@likamrat Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-28 02:49] navba-MSFT commented on #24742
@katriendg
Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-28 03:03] zhoxing-ms commented on #24743
@Miraj50 I can reproduce this behavior. At present, the REST service [disks/create-or-update](https://learn.microsoft.com/en-us/rest/api/compute/disks/create-or-update?tabs=HTTP)  supports independent updates for `networkAccessPolicy` and `publicNetworkAccess` properties without binding restriction logic.
In fact, I have seen similar behavior on other RPs. In most cases, this means that `NetworkAc

[2022-11-28 03:26] navba-MSFT commented on #24678
@antgustech Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you check the suggestion mentioned [here](https://github.com/Azure/azure-cli/issues/23634#issuecomment-1243185740) and [here](https://github.com/Azure/azure-cli/issues/23634#issuecomment-1241499873) ? Awaiting your reply.

[2022-11-28 03:34] navba-MSFT commented on #24724
Adding Service team to look into this.

CC: @v-anvashist, @V-hmusukula.

[2022-11-28 04:25] Miraj50 commented on #24743
@zhoxing-ms Thank you for your response.
In your last line, I believe you meant .. "But if ~`NetworkAccessPolicy`~ `PublicNetworkAccess` is `Enabled` again, the `NetworkAccessPolicy = AllowAll` will take effect normally, so users do not need to set the `NetworkAccessPolicy` repeatedly". Right?

[2022-11-28 04:55] navba-MSFT commented on #24644
@mdsystems Please let me know if you had any updates on this.

[2022-11-28 04:56] navba-MSFT commented on #24658
@vkamani21 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-28 05:32] navba-MSFT commented on #24742
@katriendg Please follow the below action plan in order and check if that helps.

**Plan 1:**
Could you please update the connectedk8s extension ?

**Plan 2:**
If the above plan doesn't help, Try running the commands:  ` pip install cryptography` and `pip install pycryptodome`

**Plan 3:**
If both the above action plan doesn't help, please upgrade your python package version _https://www.python.or

[2022-11-28 05:51] navba-MSFT commented on #24744
@likamrat I was able to reproduce this issue on my local machine PS but not in Azure Cloud shell. While I am looking into this issue, Could you use Azure Cloud Shell as a workaround ?

[2022-11-28 05:55] jiasli opened #24753 "Creating role assignment must require all assignee, role definition and scope to be specified explicitly"
**Related command**
`az ad sp create-for-rbac`
`az role assignment create`
Other commands related to role assignment creation, such as `az vm identity assign`.

## Context

`az ad sp create-for-rbac` stopped creating role assignment for newly created service principal if `--role` (#19805) and `--scopes` (#21323) are not specified.

The current behavior of `az role assignment create` is to default

[2022-11-28 05:58] yonzhan commented on #24753
@jiasli we can sync up with PM team about this.

[2022-11-28 06:11] zhoxing-ms commented on #24743
@Miraj50 Yes, exactly

[2022-11-28 06:12] kulkarnisonia16 commented on #24644
@mdsystems - Thanks for creating this issue and your patience working with us. I am the PM who owns Azure Functions deployments and would like to know what is the time delay between the steps 2 and 3 that you mentioned? How are you determining that step 2 was successful. One of my guesses is that WEBSITE_RUN_FROM_PACKAGE=1 might not be propagated fully when you trigger the deployment.

cc - @patel

[2022-11-28 06:36] RakeshMohanMSFT commented on #24700
Closing as Duplicate of https://github.com/Azure/azure-cli/issues/24718

[2022-11-28 06:36] #24700 closed

[2022-11-28 06:45] jiasli commented on #24753
This is the code for computing final scope from `--scope`, `--subscription` and `--resource-group`:

https://github.com/Azure/azure-cli/blob/e14c60fa5e2a755a2d545294b815a4b1c86bb7a0/src/azure-cli/azure/cli/command_modules/role/custom.py#L583-L596

[2022-11-28 06:56] CribberSix commented on #24718
For anyone else looking, there is a work-around for Azure DevOps pipeline tasks to revert to an older version until the issue is being fixed: https://stackoverflow.com/questions/72556823/how-to-specify-version-for-az-cli-in-azure-pipelines-in-yaml

[2022-11-28 07:28] antgustech commented on #24678
/unresolve

Hi! I did see those threads. When can expect the App Service Platform upgrade to be done?

[2022-11-28 09:38] smadep commented on #22610
@v-soujanyaj, it should say hopefully "not yet supported" ;-)
would be great to get this. meanwhile any workaround through REST api?!

[2022-11-28 09:41] HansZimmer5000 commented on #22173
Just checked via`az rest`, same error as reported by @BlakeWills earlier: `Not Found({"error":{"code":"ResourceTypeNotSupported","message":"Unsupported resource type: 'Microsoft.PolicyInsights/policyStates/queryResults'."}})`

Exact command used (executed once with "default", once with "latest"):
`az rest --url "https://management.azure.com/subscriptions/eb714f54-bf40-431a-a64e-bd8f20bc61cd/provid

[2022-11-28 09:43] HansZimmer5000 commented on #22173
Just checked viaaz rest, same error as reported by @BlakeWills earlier: Not Found({"error":{"code":"ResourceTypeNotSupported","message":"Unsupported resource type: 'Microsoft.PolicyInsights/policyStates/queryResults'."}})

Exact command used (executed once with "default", once with "latest"):
az rest --url "https://management.azure.com/subscriptions/{subscription id}/providers/Microsoft.PolicyInsi

[2022-11-28 09:55] EnnekQ commented on #24700
How is this a duplicate when this issue was raised a day before https://github.com/Azure/azure-cli/issues/24718?

[2022-11-28 10:02] JoHaHu opened #24756 "Calrify how to login with federated token"
Clarify how to login with federated credential tokens with az cli and note that it applies to both Service Principals and Managed Identities

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Content: [az](https:/

[2022-11-28 11:40] yonzhan commented on #24756
@jiasli for awareness

[2022-11-28 12:57] likamrat commented on #24744
@navba-MSFT trying Cloud Shell as a workaround will not help. If you will look at the Jumpstart scenario, you will see our automation is running inside a client Windows Server VM in a PoSH session.

[2022-11-28 12:59] navba-MSFT commented on #24744
@likamrat Thanks for getting back. I have reached out to the product owners and discussing this issue with them. I will keep you posted about the progress.

[2022-11-28 13:03] iddqdiddqd commented on #24691
Any updates on this case so far?

[2022-11-28 13:03] iddqdiddqd commented on #24128
Any updates on this case so far?

[2022-11-28 14:55] KarlWindhager commented on #24168
Can you say if that issue can be reproduced and if it will be tackled?

[2022-11-28 16:55] #24742 closed

[2022-11-28 16:55] katriendg commented on #24742
Thank you! Confirming Plan 1 works so closing this issue.

[2022-11-28 17:07] EmbeddedAndroid commented on #19567
Any update on this? This is an easy packaging fix. Is ARM not a supported platform for IoT edge?

[2022-11-28 17:51] FFMilo opened #24757 "Example missing an argument - az postgres flexible-server firewall-rule create"
The last example for **az postgres flexible-server firewall-rule create** section, allowing public access for Azure services does not include the `--rule-name` argument which is **required** for this to work. I find that the name doesn't matter as long as you supply a value.  Without the argument, the command fails with this error: `expected string or bytes-like object`

---
#### Document Details

[2022-11-28 18:43] Francisco-Gamino commented on #24506
Adding @amamounelsayed and @kaibocai from the Functions team.

@amamounelsayed / @kaibocai -- Could you please work with the Az CLI team to update the boot to include you both + the new PM owner and remove me and Stefanus? Thanks.

[2022-11-28 20:13] arindam0310018 commented on #24108
Hello @v-anvashist
Can you please update.

Many Thanks
Regards, Arindam Mitra

[2022-11-28 20:14] arindam0310018 commented on #24162
Hello @yonzhan
/cc: @jiasli

Please update when you find time

Many Thanks
Regards, Arindam Mitra

[2022-11-28 22:55] yonzhan commented on #24757
route to CXP team

[2022-11-29 00:03] vhhughes opened #24758 "Action "AnomalyScoring" for an override on a managed rule supported in Azure Portal but not CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network front-door waf-policy managed-rules override add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use action of "AnomalyScoring" for az network front-door waf-policy m

[2022-11-29 00:20] yonzhan commented on #24758
route to CXP team

[2022-11-29 02:11] bebound commented on #19567
It should be fixed by https://github.com/Azure/azure-cli/pull/24180

[2022-11-29 08:34] navba-MSFT commented on #24678
@antgustech Thanks for getting back. The fix will be rolled out completely in next 3 months. Until then you can follow the workaround mentioned in this [here](https://github.com/Azure/azure-cli/issues/23634#issuecomment-1243185740)  and [here](https://github.com/Azure/azure-cli/issues/23634#issuecomment-1241499873). Hope this answers.

[2022-11-29 09:11] AjKundnani commented on #23440
@zhoxing-ms - Based on other initiatives, updated default OS Image to Windows Server 2022 Azure Edition. Will not impact notification message, it will be needed during implementation.

[2022-11-29 09:16] AjKundnani commented on #23450
@PARADISSEEKR @zhoxing-ms - If we can remove the block highlighted below, do not want to confuse users between Gen2 and Trusted Launch.

All notification message should be consistent **Starting Build 2023 event, "az vm/vmss create" command will deploy Trusted Launch VM by default. To know more about Trusted Launch, please visit https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch

[2022-11-29 09:30] AjKundnani commented on #23476
@PARADISSEEKR @zhoxing-ms  If we can remove the block highlighted below, do not want to confuse users between Gen2 and Trusted Launch.

All notification message should be consistent Starting Build 2023 event, "az vm/vmss create" command will deploy Trusted Launch VM by default. To know more about Trusted Launch, please visit https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch

!

[2022-11-29 09:40] RicardsRikmanis opened #24761 "Gzip output getting mangled when piping to azure upload blob command"
**Related command**
 `az storage blob upload --data @-`

**Describe the bug**
Gzip output is getting mangled when piping to azure upload blob command. No such issue if I split the the command, save the gziped file locally and then upload the file without the pipe. I'm pretty sure it has something to do with encoding getting mangled.

**To Reproduce**
1. Have any file, for example - **test.sql**
[c

[2022-11-29 09:41] zhoxing-ms commented on #23440
@AjKundnani OK, got it. Please also update the default OS Image in the feature description~

[2022-11-29 09:44] AjKundnani commented on #23476
@PARADISSEEKR @zhoxing-ms - For Scenario **User creates VM from existing shared image (Azure Compute Gallery) or managed image using az vm create --image** - Notification message is not generated when submitting resource ID for ACG image version:

![image](https://user-images.githubusercontent.com/18166395/204494939-7f5e1532-1dc7-4883-b8ea-dc2d5708ec08.png)

[2022-11-29 09:50] yonzhan commented on #24761
@evelyn-ys for awareness

[2022-11-29 09:52] zhoxing-ms commented on #23450
@AjKundnani Could you please take a look at this comment? https://github.com/Azure/azure-cli/pull/24674/files#r1034524150

[2022-11-29 10:03] bebound opened #24762 "Autocomplete is slow when command is not complete"
**Describe the bug**

If I press TAB after `az account cle`, it takes 4seconds to show suggestion `az account clear`. However `az account -h` only takes 2seconds.

The debug log shows that it reloads modules and extensions when run `az account cle --debug`.
[code]

I think we can make reload rules stricter. When ` _ARGCOMPLETE=1`, if `account cle` is not found, check if `account` is matched. If st

[2022-11-29 10:11] AjKundnani commented on #23614
@yanzhudd @zhoxing-ms - If we can remove the below block of message please, goal is to keep message consistent and avoid confusion for end user (this request is based on one of the team member)

![image](https://user-images.githubusercontent.com/18166395/204501059-dfa099b9-8d49-4338-9abf-4855eb69ce8a.png)

[2022-11-29 10:16] yonzhan commented on #24762
Good investigation for the slowness of autocomplete

[2022-11-29 12:40] JQUINONES82 commented on #23843
Issue is the same when generating new certificates.

@Azure:~$ az ad app credential reset --id xxxxxxxxxxxxxxxxxxxxxx --create-cert
The output includes credentials that you must protect. Be sure that you do not include these credentials in your code or check the credentials into your source control. For more information, see https://aka.ms/azadsp-cli
{
  "appId": "",
  "fileWithCertAndPrivateKey":

[2022-11-29 13:15] scheung38 commented on #14491
Hi @navba-MSFT and all:

az aks create \
  --name $CLUSTER_NAME \
  --resource-group $RESOURCE_GROUP \
  --node-count 2 \
  --node-vm-size Standard_D2as_v4 \
  --vm-set-type VirtualMachineScaleSets \
  --kubernetes-version 1.22.15 \
  --network-plugin kubenet \
  --service-cidr 10.0.0.0/16 \
  --dns-service-ip 10.0.0.10 \
  --docker-bridge-address 172.17.0.1/16 \
  --vnet-subnet-id $SUBNETID \
  -

[2022-11-29 13:33] scheung38 opened #24764 "(PropertyChangeNotAllowed) Changing property 'servicePrincipalProfile.clientId' is not allowed. Code: PropertyChangeNotAllowed Message: Changing property 'servicePrincipalProfile.clientId' is not allowed. Target: servicePrincipalProfile.clientId"
**Describe the bug**

az aks create fails

**To Reproduce**

az aks create \
  --name $CLUSTER_NAME \
  --resource-group $RESOURCE_GROUP \
  --node-count 2 \
  --node-vm-size Standard_D2as_v4 \
  --vm-set-type VirtualMachineScaleSets \
  --kubernetes-version 1.22.15 \
  --network-plugin kubenet \
  --service-cidr 10.0.0.0/16 \
  --dns-service-ip 10.0.0.10 \
  --docker-bridge-address 172.17.0.1/16

[2022-11-29 14:07] trojan03 commented on #24675
@bebound Could you please post the solution here? Having the same issue and have no clue what does "Taking extra steps to login" mean as well.

[2022-11-29 14:17] yonzhan commented on #24764
route to CXP team

[2022-11-29 18:06] CoreyRByrne commented on #23078
Hey @gergelyhunyady thanks for the report!

We'll file a bug on our end for the SDK issue and make sure it gets filed to the right team.

I can't repro your issue for the build context, can you share how you created the environment? The issue I observed was much more minor with the build context not displaying folders correctly.

[2022-11-29 22:01] #24397 closed

[2022-11-30 02:13] SaurabhSharma-MSFT commented on #24681
@andigwandi Can you please refer to the below document to change the throughput properties on a container via the Azure CLI.

[Throughput (RU/s) operations with Azure CLI for a database or container for Azure Cosmos DB for NoSQL](https://learn.microsoft.com/en-au/azure/cosmos-db/scripts/cli/nosql/throughput)

[2022-11-30 03:06] necusjz commented on #24722
As bandwidth limited, we have to plan this feature to **the sprint after the next sprint** (will be released around Feb 2023).

For your second question, `--resource-group`, `--lb-name` and `--name` are optional when `--ids` is provided.

[2022-11-30 03:56] navba-MSFT commented on #24644
Thanks @kulkarnisonia16 .

@mdsystems I wanted to do quick follow-up to check if you had any updates on sharing the debug output. Also could you please answer the above query? Awaiting your reply.

[2022-11-30 03:58] navba-MSFT commented on #24658
@vkamani21 The action is currently pending on you to try the[ above suggestion](https://github.com/Azure/azure-cli/issues/24658#issuecomment-1318123608). If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-30 04:08] #24658 closed

[2022-11-30 04:29] SaurabhSharma-MSFT commented on #24708
@Lakshmiputchagatla I am unable to reproduce this, and I could see the file getting imported successfully.  (Screenshot below)
![image](https://user-images.githubusercontent.com/38112130/204707198-5e2ee086-b154-4bbc-a5ab-364bfeb0d44c.png)
Can you please share the CLI synapse module version you are using.  Also, is your Synapse workspace configured with Git, then please check your Live branch. Than

[2022-11-30 05:35] navba-MSFT commented on #24744
@likamrat Does the problem persist if you uninstall/reinstall the extension (`az extension remove -n appservice-kube` then `az extension add -n appservice-kube`)?

[2022-11-30 06:08] PARADISSEEKR commented on #23450
@AjKundnani Could you please take a look at this comment? https://github.com/Azure/azure-cli/pull/24674/files#diff-186fe5ac9ed55ed82cf0936ff789c6a13a636d8fd90c46b116adee47e71dbf46R7625

[2022-11-30 07:00] #24506 closed

[2022-11-30 07:02] likamrat commented on #24744
Yes. As part of our automation we always do a fresh install

[2022-11-30 07:26] MinKPark opened #24766 "Az group delete --force-deletion-types fails with api-version mismatch"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Az group delete --force-deletion-types fails with api-version mismatch.

**Command Name**
`az group delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `

[2022-11-30 07:31] #24452 closed

[2022-11-30 08:12] tomabg opened #24767 "create apim api from azure resource"
Hi,

currently it is not possible via cli to "Create an API from azure resource" like Logic APP in API Management Service.

In Azure portal this functionality is available and would be great step for all IAC develpoers to have the same funstionality in azure cli.

..or maybe azure portal should provide a useable REST API so that this feature can be implemented in azurerm terraform provider.

for a

[2022-11-30 08:27] RakeshMohanMSFT commented on #24767
@adrianhall FYI

[2022-11-30 09:19] Quanalogy commented on #20240
@tombellshield @panchagnula  either the fix never got out to azure.com or it have reintroduced itself because we are experiencing this now.

[2022-11-30 09:25] yonzhan commented on #24766
@zhoxing-ms for awareness

[2022-11-30 09:28] yonzhan commented on #24767
route to CXP team

[2022-11-30 10:26] grisu48 opened #24769 "az login fails with unexpected keyword argument 'allow_broker'"
## Describe the bug

`az login` fails with `TypeError: ClientApplication.__init__() got an unexpected keyword argument 'allow_broker'` using the latest (2.42.0) version on openSUSE Tumbleweed.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:

- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-11-30 10:30] grisu48 commented on #24769
The same error arises when performing an `az storage blob upload ...` operation:

[code]

[2022-11-30 11:05] jjindrich commented on #4745
In powershell is not working az network vnet update -g myrg -n myvnet --dns-servers ''

[2022-11-30 12:12] SaurabhSharma-MSFT commented on #24757
@FFMilo The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-11-30 12:12] #24757 closed

[2022-11-30 12:38] yonzhan commented on #24769
Please refer to this issue https://github.com/Azure/azure-cli/issues/24372

[2022-11-30 14:46] grisu48 opened #24772 "az storage fails with TypeError: NoneType object is not iterable"
## Describe the bug

Upload of a storage blob or listing of the storage account keys using the current version of the `azure-cli` from https://packages.microsoft.com/yumrepos/azure-cli (Version 2.38.0) fails with a TypeError:

[code]

**Command Name**

Issue arises in either of those commands:

* `az storage blob upload`
* `az storage account keys list`

**Errors:**

[code]

[code]

## To Reproduc

[2022-11-30 14:55] blepore opened #24773 "Azure Managed Lustre - Requesting CLI development support for AzCLI"
We are requesting CLI development support for AzCLI for Azure Managed Lustre.

- Swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2023-05-01/amlfilesystem.json
- Command group can be `az amlfilesystem` or `az amlfs`.

[2022-11-30 17:40] adrianhall commented on #24767
Thanks for the suggestion.  It is actually on our list, but I've done a +1 on the feature to record your interest.

Since this is a feature request in the platform (and not specific to the CLI), and also not likely to be released for some time (due to competing priorities), I'll close this issue.  However, please note that we have recorded your interest.

#please-close

[2022-11-30 18:06] #24767 closed

[2022-11-30 18:20] mahipdeora commented on #24722
Hi @necusjz, Feb 2023 sounds good to me. On the second point, I would like to have parity with our other CLI docs where we state that --rg, --lb-name, and -name are required. Maybe we can state either the ID or the other 3 items is required?

[2022-11-30 18:20] PramodValavala-MSFT commented on #24741
@ulluoink Thanks for the feedback! Partitions can't be enabled post creation, i.e., on update, so the service is returning the expected error. Azure CLI should not have a flag for it on update. We will update accordingly.

As for the flag being ignored, we will investigate and get back to you.

[2022-11-30 19:41] ClaudioMerola opened #24774 "All examples used in the "az graph query" are wrong"
Hello,

All examples used in the "az graph query" are wrong.

Also, I believe there is a bug in the newest version of the az resource-graph extension where the option "--subscriptions" is not working anymore.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eb80d224-52fc-b484-5b2b-2b93807156b9
* Version Independ

[2022-11-30 21:40] scheung38 commented on #24764
@yonzhan what does the mean concretely?

[2022-11-30 22:36] bryn1u opened #24776 "az login - The ID token is not yet valid. Make sure your computer's time and time zone are both correct."
I haven't had that issue before.
My data, zone and time are correct!

hwclock -s - doesn't help. Could you fix it?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put

[2022-11-30 22:51] PramodValavala-MSFT commented on #24741
@ulluoink Could you run the create command where you see that partitioning is not enabled with the `--debug` flag and share the output here (removing any sensitive information)?

I've just tried it out and can confirm that it does indeed get enabled.

[2022-11-30 23:13] yonzhan commented on #24772
@evelyn-ys for awareness

[2022-11-30 23:18] yonzhan commented on #24773
@jsntcy for awareness

[2022-11-30 23:21] yonzhan commented on #24774
@zhoxing-ms for awareness

[2022-11-30 23:22] yonzhan commented on #24764
aks related CLI commands are owned by service team and CXP team will help with first.

[2022-11-30 23:24] yonzhan commented on #24776
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-11-30 23:24] #24776 closed

[2022-11-30 23:58] polzounov commented on #22269
I'm getting this issue too.
Output of the requested is:
```lrwxrwxrwx 1 root root 10 Oct 27 21:22 /usr/bin/../../opt/az/bin/python3 -> python3.10*```