[2020-02-20 16:22] thisisbrianstewart commented on #11449
Hi @yonzhan -- Is there an update on this?  the az lab create command still does not exist, and no info was given on an implementation plan or update.

[2020-02-20 16:26] haroldrandom commented on #12187
Sync decision from Teams discussion: we decided not to mess up the output of current `show` command (via HTTP POST call). Instead, we decided to:
1.  add another option like `--arm` to let user explicitly give us instruction that they want new formated output of what ARM returns (via HTTP GET call). The default vaule is `false` for now.
2.  Add deprecation/warning info to current `show` command to

[2020-02-20 17:39] astrahan87 opened #12291 "az storage blob generate-sas does not properly encode --full-uri"
**Describe the bug**
az storage blob generate-sas ... --full-uri can have `/` characters in the SAS sig param. e.g.:
`https://(account).blob.core.windows.net/(container)/(filename).vhd?...&sig=.../.../...`

These should be escaped to `%2F` as they are a reserved character for URIs (and in this case we definitely want a full uri): https://tools.ietf.org/html/rfc3986#section-2.2

Unescaped `/`s in t

[2020-02-20 17:42] JunSun17 commented on #9585
#12290

[2020-02-20 18:21] skelter commented on #11596
Should reopen.  Still a problem.

[2020-02-20 18:28] Ugenx opened #12292 "az apim list module error"
## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:

- _Put any pre-requisite steps here..._
- `az apim list`

## Expected Behavior

## Environment Summary
[code]
## Additional Context
This same command works fine using cloud shell.

[2020-02-20 18:30] jeffb4 commented on #8164
Just to note, this does impact an internal Python project we wrote because we call out to the azure-cli and thus have this project as a listed dependency (which forces back our setuptools).

So while it surely isn't critical, I'd love to see it.

[2020-02-20 19:08] foben commented on #10480
I have the same issue with a larger MySQL database. It's a chat system database, so it's easy to see that it contains posts from a point in time after the given restore point.

[2020-02-20 19:35] anthonychu commented on #12271
Thanks for reporting this. Free tier does not work well with Functions because some triggers require always on enabled, and Free tier does not support it. The recommendation is to use Consumption. We'll investigate what's required to make this a better experience.

[2020-02-20 19:37] xyh1 opened #12293 "CLI immutable append blob support"
**Resource Provider**
Azure Storage
Blob service
containers
immutability policies

**Description of Feature or Work Requested**

Extension of blob container immutability feature that allows append blobs to be appended to even within a WORM policy as previous data cannot be modified or deleted. Only new data is added.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-immutable-stor

[2020-02-20 19:51] asarkar84 commented on #11207
Glad to see that the issue is resolved for you.

[2020-02-20 20:02] williamamincey opened #12294 "Cannot use az login with user assigned managed identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Cannot login to subscription using user assigned managed identity

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  Create user assigned managed identity in a subscripti

[2020-02-20 20:18] #11207 closed

[2020-02-20 20:52] Ugenx commented on #10496
This should be re-opened, it is still an issue with the latest release. The cloud powershell shell does not seem to be affected.

[2020-02-20 22:08] NickDrouin opened #12297 "az ams account sp create fails on cloud shell (bash)"
Are additional params needed when using azure cloud shell?
I get:
(InvalidAuthenticationTokenAudience) The access token has been obtained for wrong audience or resource 'https://graph.windows.net/'. It should exactly match with one of the allowed audiences 'https://management.core.windows.net/','https://management.core.windows.net','https://management.azure.com/','https://management.azure.com'.

-

[2020-02-20 22:17] toddysm opened #12298 "Assigning Azure Policy with parameters via the CLI fails"
**Describe the bug**
A clear and concise description of what the bug is.

Unable to assign a policy with parameters. The following error is returned:
[code]

**To Reproduce**
Steps to reproduce the behavior.
1. Get the policy details with `az policy definition list --query "[?displayName=='Append tag and its default value']"`
1. Assign the policy using the CLI
`az policy assignment create --name '

[2020-02-20 22:23] lsong0905 commented on #12255
@Juliehzl Any update on this?

[2020-02-21 00:06] AElharouny commented on #12242
Please don't write warnings to stderr (at least unless that's in a major version increment as it should be considered a breaking change).

[2020-02-21 00:27] yonzhan commented on #11449
lab related commands are owned by lab service team.

[2020-02-21 00:38] axayjo opened #12299 "Ability to specify lun while creating a SIG Image Version with snapshots"
In the sample below,
'sig image-version create -g {rg} --gallery-name {gallery} --gallery-image-definition {image} --gallery-image-version 1.0.0 --os-snapshot s1 --data-snapshots s2 s’

How do we specify LUN for data disks?

Code:
if data_snapshots:
    data_disk_images = []
    for i, s in enumerate(data_snapshots):
        data_disk_images.append(GalleryDataDiskImage(source=GalleryArtifactVersio

[2020-02-21 00:44] #11498 closed

[2020-02-21 01:04] yungezz commented on #12299
we're working on in this release.

[2020-02-21 01:13] yungezz commented on #12288
thanks for reporting, we'll look at it.

[2020-02-21 01:14] yungezz commented on #12285
good suggestion, will look at it.

[2020-02-21 01:18] jluk commented on #11781
A fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:18] #11781 closed

[2020-02-21 01:18] jluk commented on #11825
A fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:18] #11825 closed

[2020-02-21 01:18] jluk commented on #11897
A fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:18] #11897 closed

[2020-02-21 01:18] jluk commented on #11993
A fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:18] #11993 closed

[2020-02-21 01:19] jluk commented on #12274
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:19] #12274 closed

[2020-02-21 01:19] jluk commented on #12210
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 01:19] #12210 closed

[2020-02-21 01:38] yonzhan commented on #12293
add to S166.

[2020-02-21 01:56] MyronFanQiu commented on #10496
@Ugenx I have open a PR to fix it. @jurgyy Hi. Looks like last time we didn't fix them all. I have created a PR, could you please review it and sign off?

[2020-02-21 02:28] #5575 closed

[2020-02-21 03:06] keithmendozasr opened #12301 "Error running az webapps list-runtimes on macos"
## Describe the bug
An error is encountered when running az webapp list-runtimes.

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp list-runtimes`

## Expected Behavior
The list of available webapp runtimes are printed on the consol

[2020-02-21 03:08] keithmendozasr commented on #12301
After digging through the open issues, I'm closing this as duplicate of #12227

[2020-02-21 03:08] #12301 closed

[2020-02-21 04:53] qianwens commented on #7149
Close this issue since this is by design and there is no vote.

[2020-02-21 04:53] #7149 closed

[2020-02-21 05:12] tdihp commented on #11099
For a workaround:

    az resource update --ids <aks_resource_id> --set 'properties.kubernetesVersion=<k8s_version>'--set 'properties.agentPoolProfiles[0].orchestratorVersion=<k8s_version>'

[2020-02-21 05:16] clinsted opened #12302 "Webapp create with runtime aspnet|V4.7 fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When creating a webapp with the --runtime arg and specifying "aspnet|V4.7". The same command succeeds with "node|10.6", or any of the node runtime values (and possibly others).

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values h

[2020-02-21 05:21] yugangw-msft commented on #12280
This is fixed by #12282, that we will respect the exit code of docker, instead of sniffing out the stderr
@szaboferee, thanks for the reporting this.

[2020-02-21 05:21] #12280 closed

[2020-02-21 06:34] zhoxing-ms commented on #12103
@mamhh Hi, I need some more specific information:

1. Could you please send me the specific parameters and ARM template by email?
2. Please use `az appservice plan show` to query the app service plan which you are using, and send me the information obtained from the query.

My email is Zhou.Xing@microsoft.com, Thank you.

[2020-02-21 06:46] qianwens commented on #10205
You need to remove parameter "--auth-mode" from the command as below:
az storage container generate-sas --account-name ** *--expiry 2020-01-01 --name *** --permissions dlrw
Generate-sas needs the storage account key, if you specify --auth-mode login in the command, cli will try to use the login access token to generate sas which is not supported
If both --auth-mode and --accountKey are not specifi

[2020-02-21 07:26] jiasli commented on #6147
We are migrating to MSAL. Hope this issue will be covered by MSAL. We are aiming to release the first version with MSAL in July 2020.

[2020-02-21 07:26] #6147 closed

[2020-02-21 07:32] #12088 closed

[2020-02-21 07:32] #7907 closed

[2020-02-21 07:52] jiasli commented on #6802
Currently Azure CLI has an equivalent command `az account list --refresh`. Please let us know if this suits your need.

[2020-02-21 08:03] #8474 closed

[2020-02-21 08:28] #6451 closed

[2020-02-21 08:30] #5898 closed

[2020-02-21 08:32] szaboferee commented on #12280
Thank you for the quick response and fix @yugangw-msft

[2020-02-21 09:36] Andree643 commented on #8768
I'm getting the same error on the build agent.
Here is the task in YAML
[code]

And log:
[code]

[2020-02-21 09:37] AbelHu opened #12304 "0.4.30 aks-preview failed to add an agent pool to a new created aks cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
0.4.30 aks-preview failed to add an agent pool to a new created aks cluster

**Command Name**
`az aks nodepool add     --resource-group spot     --cluster-name k8s     --os-type Linux     --name nplinux     --node-count 1     --kubernetes-version 1.15.5`

**Errors:**
--spot_max_price can only be set when --prio

[2020-02-21 09:41] AbelHu commented on #12304
Could anyone provide a source url to install an old work version? Thanks.

[2020-02-21 09:54] Andree643 opened #12305 "az storage blob upload-batch fails although the files are uploaded successfully"
I'm getting this error on the build agent.
Here is the task in YAML
[code]

And log:
[code]

[2020-02-21 10:00] PhilippJust commented on #9522
@rbhadti94
Are you logging in as a user or a service principal? I tried to reproduce your behaviour with `az rest` and it works exactly as the manual request to the REST-Api as described in my earlier comment.

[2020-02-21 10:38] dariuszbz opened #12306 ""Could not create a role assignment for subnet. Are you an Owner on this subscription?""
**Describe the bug**
A clear and concise description of what the bug is.

I'm running
az login -spn
(spn is an owner)
az aks create
waring:
The behavior of this command has been altered by the following extension: aks-preview
Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for subnet. Are you an Owner on this subscription?

**To R

[2020-02-21 10:38] yungezz commented on #12304
https://github.com/Azure/azure-cli-extensions/pull/1304/files

[2020-02-21 10:47] #10496 closed

[2020-02-21 11:35] qianwens commented on #6095
@SebastianM86 do you still have this problem? Could you please capture the traces of the browser where you did the authentication and send them to me at "qianwens@microsoft.com", and I will route to AAD team; or you can choose to open a service request directly with the trace you captured.

[2020-02-21 12:09] jiasli opened #12307 "Remove Windows binary propagate_env_change.exe from source repository"
Original PR: https://github.com/Azure/azure-cli/pull/12296

`build_scripts/windows/propagate_env_change/propagate_env_change.exe` shouldn't be included in the repro and will trigger warnings in some customer's pipelines.

Let's move it to `https://azurecliprod.blob.core.windows.net/util/` just like the built-in python:

https://github.com/Azure/azure-cli/blob/62307e97c96ba739568e96d7815ec51d35ae6f

[2020-02-21 12:13] fengzhou-msft commented on #12307
Thanks. I will take a look.

[2020-02-21 12:20] qianwens commented on #4061
This issue should have been fixed as [#29](https://github.com/Azure/azure-batch-cli-extensions/issues/29)

[2020-02-21 12:20] #4061 closed

[2020-02-21 12:23] joedyndale commented on #10664
Am getting the same message when trying to add a VNet in SubscriptionA to a function app in SubscriptionB. Really need that to be allowed, but it seems like it's not. However, the error message is misleading since both the VNet and function app are in West Europe.

[2020-02-21 12:47] jiasli commented on #12307
I did some more research and maybe we can use [WixBroadcastEnvironmentChange Custom Action](https://wixtoolset.org/documentation/manual/v3/customactions/wixsettingchange.html) instead.

[2020-02-21 12:57] jiasli commented on #7227
So now there are 3 solutions:

1. Use `az login --use-device-code`
2. Add `127.0.0.1 localhost` to `/etc/hosts`
3. In the source code, change `localhost` to `127.0.0.1` or `0.0.0.0` as `server_address`:
    https://github.com/Azure/azure-cli/blob/34549d2db993cfeab6dad21aa38ba1a4b7fc33e7/src/azure-cli-core/azure/cli/core/_profile.py#L1157

I will investigate if we should make solution 3 the default

[2020-02-21 13:02] qianwens commented on #10673
Hi @jurjenoskam , this error is thrown from the service side. "add" a network-rule in a storage account is a patch operation because it is a partial update of a resource which is not guaranteed to be idempotent -> https://docs.microsoft.com/en-us/azure/architecture/best-practices/api-design.
You can run az storage account network-rule list first to check if the networkrule exists first.

[2020-02-21 13:47] garimpeirodouniverso opened #12308 "[SSH] - Unable to connect to App Service SSH through "az webapp ssh" command"
**Describe the bug**
Cannot connect to App Service SSH using "az webapp ssh" command. It states "Connection is not ready yet, please wait", and waits until times out.

**To Reproduce**
- log into our tenant in Azure Portal
- open cloud shell
- type the command "az webapp ssh --name [our-app-service-name] -g [our-resource-group-name]-rg -t 30"

**Expected behavior**
Connection on our App Service th

[2020-02-21 13:47] jiasli commented on #12307
An alternative is to use [WixBroadcastEnvironmentChange Custom Action](https://wixtoolset.org/documentation/manual/v3/customactions/wixsettingchange.html) instead. But this introduces more dependency.

[2020-02-21 13:59] jurjenoskam commented on #10673
Hi @qianwens , thank you for your response. I understand the error is thrown from the service side, and I have been adding code to my scripts to circumvent that this operation is not idempotent. The issue is that I have to do this *each time* in *every script* where this operation is done, and this applies to everybody else writing Azure CLI scripts as well. In other words, lots and *lots* of dupl

[2020-02-21 15:06] rinaldochristy opened #12310 "AZ login command in Powershell does not work as expected"
**Describe the bug**
When I run the AZ login command in Powershell (Run as Admin), I am able to authenticate however powershell throws the below error:

Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/token (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnectio

[2020-02-21 15:11] jluk commented on #12202
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 15:11] #12202 closed

[2020-02-21 15:11] jluk commented on #12060
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 15:11] #12060 closed

[2020-02-21 15:12] jluk commented on #11855
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 15:12] #11855 closed

[2020-02-21 15:12] jluk commented on #11769
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 15:12] #11769 closed

[2020-02-21 15:12] jluk commented on #11768
We believe a fix has been made, please reference this issue for the latest tracking. I am going to close this to consolidate info to one thread. If you still hit issues after the S166 milestone release, feel free to recomment.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-21 15:12] #11768 closed

[2020-02-21 15:14] jluk commented on #11456
The proposed fix has been merged into the AKS-preview extension and core build for the S166 sprint. The core release is set for 3/10.

https://github.com/Azure/azure-cli/milestone/83

[2020-02-21 15:20] rinaldochristy commented on #8734
@reallydontask so you had a proxy and hence it was not working, I do not have any proxies but I have the exact same issue as you had! What can I do?

[2020-02-21 15:49] AdilOoze commented on #9537
Any update on this?

[2020-02-21 15:59] jiasli commented on #11428
`az ad app permission grant` is for granting permissions on an app for all or one users. For example, to allow the app to access Microsoft Graph API `00000003-0000-0000-c000-000000000000` for `AllPrincipals`:

[code]

For an app admin to add permissions to the app as shown in the screenshot, use `az ad app permission add`. For example, to add permission `user_impersonation` from Azure Key Vault to

[2020-02-21 16:16] thisisbrianstewart opened #12311 "az lab create"
**Is your feature request related to a problem? Please describe.**
There is no `az lab create` command.

**Describe the solution you'd like**
An `az lab create` command would allow us to create labs via cli.  Nearly all other `az lab` commands exist.

**Describe alternatives you've considered**
You can deploy it with an ARM template or portal.  Ideally, the cli can manage everything.  We want to a

[2020-02-21 16:58] valterc opened #12313 "Command to wait for SQL Server state fails"
## Describe the bug

Using Azure CLI to wait for a SQL Server state fails with the following stack trace:

**Command Name**
`az sql server wait`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- `az login`
- `az account set --subscription {}`
- `az sql server wait --name {} --resource-group {} --created`

## Expected Behavior
Command waits for a few seconds or returns immed

[2020-02-21 18:39] sseveringhaus-newclassrooms opened #12314 "Unable to use colon in tag name for CDN profile"
**Describe the bug**
When adding a tag to a CDN profile resource, if the tag name contains a colon, the error `Tag cannot contain special characters.` is returned.

**To Reproduce**
Pick a CDN profile resource (`Microsoft.Cdn/profiles`), try to run `az resource tag` with a tag containing a colon.

**Expected behavior**
The tag should be added to the resource, or the [documentation](https://docs.mi

[2020-02-21 18:48] azurecli opened #12315 "msrestazure.azure_exceptions.CloudError: <unprintable CloudError object>"
**Describe the bug**

az vm create failed

**To Reproduce**

az account set --subscription "PSE - Dev - Experimental [R&D]"
az vm create   --resource-group eval-eus-sb-performance-rg   --name MRFClient02z2   --image "/subscriptions/5f3fdd41-8063-4938-b491-052a59849925/resourceGroups/eval-eus-sb-performance-rg/providers/Microsoft.Compute/images/LNKD-CentOS7-4.19-r06-image"  --admin-username mrftest

[2020-02-21 18:49] azurecli commented on #12315
--- Logging error ---
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 636, in _run_job
    result = cmd_copy(params)
  File "/usr/lib64/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 306, in __call__
    return self.handler(*args, **kwargs)
  File "/usr/lib64/az/lib/python3.6/site-packages/az

[2020-02-21 19:53] MaximRouiller opened #12316 "az webapp up with a basic nodejs api: Permission denied"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp up -n msp001 -l eastus --debug`

The application had already had GitHub Actions integrated with it. No id

[2020-02-21 19:56] #12258 closed

[2020-02-21 20:17] ramaganesan-rg commented on #8378
Offer id MS-AZR-0017G is not supported. hence closing this issue.

[2020-02-21 20:17] #8378 closed

[2020-02-21 20:39] rbhadti94 commented on #9522
Hey @PhilippJust,

Yes I can get it working with ```az rest``` using a service principal.

But I would rather be able to use ```az ad app update --id app1Guid --add preAuthorizedApplications <ID>``` than a direct REST command to the API.

[2020-02-21 20:41] springcomp commented on #11428
Thank you that makes sense.
I will try that on Monday and report back but I'm sure this clears any confusion I had.

[2020-02-21 20:48] sseveringhaus-newclassrooms commented on #12072
I see an error [here](https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule?view=azure-cli-latest#examples). The `--match-values` has `HTTPS`, but you want to match on `HTTP`. Full example should look more like this:
[code]
I more or less reconstructed this from a `az cdn endpoint rule show` against an endpoint I have that I think is working correctly.

[2020-02-21 21:17] sseveringhaus-newclassrooms commented on #12273
This issue apparently still exists with version 2.1.0.

[2020-02-21 22:07] adewaleo commented on #11004
This has been fixed. Please feel free to verify @eiximenis. Thanks for bringing this up.

[2020-02-21 22:07] adewaleo commented on #11004
@yonzhan can this issue be closed?

[2020-02-21 23:46] #11004 closed

[2020-02-22 01:19] yonzhan commented on #9537
@kkmsft @aramase any update?

[2020-02-22 01:34] yonzhan commented on #11428
@springcomp please let us know if the issue can be closed.

[2020-02-22 02:07] yungezz opened #12319 "VMSS automatic instance repair"
**Resource Provider**
What is the Azure resource provider your feature is part of?
VMSS

**Description of Feature or Work Requested**
Support VMSS automatic instance repair. speclet
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/Eat9Q3n2AX1LiWKRhkSABgMBYwUnpeo_KpA356xScHdzqg?e=kPpZzs

**Minimum API Version Required**
What is the minimum API version of your service required to imp

[2020-02-22 02:07] yungezz commented on #12319
HI @arrownj, pls take this as high priority, thanks.

[2020-02-22 03:47] yonzhan commented on #12306
add to S167.

[2020-02-22 03:48] yonzhan commented on #12305
add to S167.

[2020-02-22 03:56] yonzhan commented on #12308
webapp

[2020-02-22 04:00] yonzhan commented on #12310
add to S167.

[2020-02-22 04:02] yonzhan commented on #12310
add to S167.

[2020-02-22 04:02] yonzhan commented on #12311
az lab

[2020-02-22 04:03] yonzhan commented on #12313
az sql

[2020-02-22 04:04] yonzhan commented on #12314
add to S167.

[2020-02-22 04:06] yonzhan commented on #12315
@qwordy please take a look.

[2020-02-22 04:06] yonzhan commented on #12316
az webapp

[2020-02-22 04:08] yonzhan commented on #12268
add to S167.

[2020-02-22 04:09] yonzhan commented on #12281
add to S167.

[2020-02-22 04:10] yonzhan commented on #12283
add to S167.

[2020-02-22 04:11] yonzhan commented on #12287
add to S167.

[2020-02-22 04:15] yonzhan commented on #12291
add to S167.

[2020-02-22 04:17] yonzhan commented on #12292
az apim

[2020-02-22 04:17] yonzhan commented on #12294
add to S167.

[2020-02-22 04:20] yonzhan commented on #12298
add to S167.

[2020-02-22 06:21] Lucki9999 opened #12320 "Credential helper error with Azure cli"
**Resource Provider**
mcr.microsoft.com/azure-cli

**Description of Feature or Work Requested**
This image was working fine for docker build till 3 days ago... now all of sudden it is throwing an error
ERROR: docker: WARNING! Your password will be stored unencrypted in /root/.docker/config.json.

Below error seen:
We use this image with bitbucket and

          image: mcr.microsoft.com/azure-cli

[2020-02-22 08:15] yonzhan commented on #12320
@fengzhou-msft please take a look.

[2020-02-22 08:29] haroldrandom commented on #11401
Closed as long time no response. Feel free to reopen. :)

[2020-02-22 08:29] #11401 closed

[2020-02-22 08:35] haroldrandom commented on #11379
Sorry. It's not an extension of azdev. But share the common behavior when HOME is unset.

[2020-02-22 09:28] haroldrandom commented on #11379
azure-cli put configuraiton files in ~/.azure by default. Which is set via:
https://github.com/Azure/azure-cli/blob/13eff82d94b9f59f8206f0424b5bbb0c18055522/src/azure-cli-core/azure/cli/core/_environment.py#L7-L9

The triky part is here, it use tilde `~` instead of `HOME` environment variable.

According to the doc from GNU [3.5.2 Tilde Expansion](https://www.gnu.org/software/bash/manual/html_node

[2020-02-22 09:40] #11953 closed

[2020-02-22 12:32] Bessonov commented on #6962
Is there any news on this topic? We need a way to login users on environments without a browser. @yugangw-msft

[2020-02-22 13:32] haroldrandom commented on #11416
Close as long time no response. Feel free to reopen. :)

[2020-02-22 13:32] #11416 closed

[2020-02-22 14:32] fengzhou-msft commented on #12320
Thanks for reporting the issue. The warning is caused by underlying docker login when running az acr login. Adding acr team to investigate.

[2020-02-22 15:16] lprichar commented on #10496
Yea, same as @Ugenx I'm still seeing this error in 2.1.0.  You can reproduce it with any of the following commands:

* `az apim apply-network-updates --help`
* `az apim backup --help`
* `az apim check-name --help`
* `az apim create --help`
* `az apim delete --help`
* `az apim list --help`
* `az apim show --help`
* `az apim update --help`

[2020-02-22 18:25] yugangw-msft commented on #12320
Please use previous version or temporary ignore this error. The rightful fix was merged to be release in the upcoming release #12282 . Sorry for the trouble.
I am closing the issue since there are nothing else to track, and thank you @Lucki9999 for reporting this

[2020-02-22 18:25] #12320 closed

[2020-02-23 04:07] #11406 closed

[2020-02-23 04:22] fengzhou-msft commented on #12285
Planned in S166.

[2020-02-23 08:31] haroldrandom commented on #11431
I think it should own by service team. The accessToken is used in test_ams_live_event_scenarios.py is hard coded. Should be get online through command.
Added "Service Attension" for help.

[2020-02-23 08:56] yonzhan commented on #11431
@fredericky @akucer @yulei, could you please help with above hard coded accessToken issue from Media Services team?

[2020-02-23 13:36] enema17484 opened #12324 "Az apim check-name failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim check-name`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim check-name --name {}`

## Expected Behavior

## Environment S

[2020-02-23 13:47] #11468 closed

[2020-02-23 13:55] qianwens commented on #10673
@jurjenoskam , thanks for your feedback. This is a bug in Azure CLI and we will fix it.

[2020-02-23 16:23] madsd commented on #12010
Created PR with a fix for it and a scenario test to capture it for future changes. @panchagnula could you review it. @onstwedder, thank you for reporting it.

[2020-02-23 18:10] Binb1 opened #12325 "Webapp up MemoryError"
I got a MemoryError error when trying to run the command:

`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {} -l {} --debug`

## Expected Behavior

## Environment Summary
[code]

[2020-02-24 00:26] yonzhan commented on #12325
webapp

[2020-02-24 01:40] #11428 closed

[2020-02-24 01:44] #12256 closed

[2020-02-24 01:44] zhoxing-ms commented on #12063
@gaburn What kind of resource is the RdpGateway? How did you create the RdpGateway on portal?

[2020-02-24 02:07] zhoxing-ms commented on #11477
@CharmanderJieniJieni I don't see that the command related to `az policy assignment` has the parameter `--location\-l`, may I ask you 2 questions?
1. Does this location refer to `allowedLocations` in the `--params\-p` parameter of the `az policy assignment create` command?
2. Which version of azure-cli do you use?

[2020-02-24 02:30] Juliehzl commented on #12305
Hi @Andree643, it may be more related to the AzurePowerShellTask, not cli commands. I guess that it is because Your PowerShell task will capture error when there is stderr output. But for CLI we are using stderr output for all warning and debug information and it should depend on if the exit code is 0 to decide the task status.

[2020-02-24 02:31] MyronFanQiu commented on #10496
@lprichar Sure. We have fixed this one and merged a PR. The new version will be available in the next week. Currently, you can use our edge build version. https://github.com/Azure/azure-cli#edge-builds

[2020-02-24 03:35] yungezz opened #12328 "[Keyvault] AES Key Support - Managed HSM"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Keyvault

**Description of Feature or Work Requested**
AES Key Support for Managed HSM.

**Minimum API Version Required**
What is the minimum API version of your service required to implement your feature?

**Swagger Link**
will add later.

**Target Date**
If you have a target date for release of this feature/work,

[2020-02-24 03:36] yungezz commented on #12328
one item of keyvault managed HSM feature. Looking at it.

[2020-02-24 03:49] yungezz commented on #10877
# 12328

[2020-02-24 04:00] arrownj commented on #9522
Hi @rbhadti94 @PhilippJust,

Currently Azure CLI use grach api version 1.6 which do not support preAuthorizedApplications. We are considering upgrade to version 2.0. And will update here if we get the conclusion.

Thanks @adewaleo for the reply of different tokens problem. I agree with you, that might because the accounts used have different permissions.

[2020-02-24 04:46] alex-frankel commented on #12009
We are taking a look at this. The ARM backend is validating this schema incorrectly, as it should allow the metadata property. This works if you deploy with powershell, but that is because powershell is stripping this property before it sends it to ARM.

cc @filizt and @anthony-c-martin who are looking at swagger & schema updates for Microsoft.Resources.

[2020-02-24 07:07] stmax82 opened #12329 "az container exec shows color codes instead of colors"
## Describe the bug

When I open a remote shell in a container using `az container exec` and it tries to output colors I get weird color codes instead of fancy colors:

PowerShell:

![image](https://user-images.githubusercontent.com/6381927/75133346-b0f61d00-56da-11ea-8ccf-8818abbf9d03.png)

Command Line:

![image](https://user-images.githubusercontent.com/6381927/75133772-46de7780-56dc-11ea-9601-

[2020-02-24 07:24] MyronFanQiu commented on #12324
https://github.com/Azure/azure-cli/pull/12300 should have been fixed. Will be released in 3.10

[2020-02-24 07:29] stmax82 commented on #12329
Here's me trying to type "use mydb" :/ this is unusable right now...

![image](https://user-images.githubusercontent.com/6381927/75134788-9ecaad80-56df-11ea-8477-181aa5166cb7.png)

[2020-02-24 07:41] yonzhan commented on #12329
container

[2020-02-24 08:13] zhoxing-ms commented on #11513
@leyshon That's how it was designed. The `create` operation usually corresponds to the `PUT` operation of the restful API by server-side. It will maintain the idempotence of the interface, so when you create an existing resource, the new resource will directly overwrite the original resource.
doc link: [click](https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-t

[2020-02-24 09:02] qwordy commented on #11404
When I run `az vm boot-diagnostics get-boot-log -g fytest2 -n vm1`
I get result of
[code]

[2020-02-24 09:05] SimonTheLeg opened #12332 "Certain passwords don't allow you to log-in"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
- Create a SPP with the following password `-_-PZ4I11Aw&ao*!=%<adjB@Y<%_iFDKAMiRudu!m15mca=Z4A##EUm`
- Try to log-in `az login --service-principal -u <id> -p '-_-PZ4I11Aw&ao*!=%<adjB@Y<%_iFDKAMiRudu!m15mca=Z4A##EUm' --tenant <tenant>`

## Expected Behavior
Login succeeds

## Environment Summary
[code]
## Additio

[2020-02-24 09:26] #11404 closed

[2020-02-24 09:38] jukkamaljanen opened #12334 "webapp: power shell command fails at its own example."
Simply put: `az --% webapp create --runtime "aspnet|V4.7"` fails. The `--%` makes no difference if it's there or not. The problem is in the pipe thats within "aspnet|V4.7". That value is taken from whitelist of values, which all have pipes.

How can you not parse pipe correctly when it's quoted?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Nam

[2020-02-24 09:40] rbhadti94 commented on #9522
Hi @arrownj,

Thanks for the response.

We are currently POSTing to https://graph.microsoft.com/v1.0/applications/<appobjectID> in order to update the preAuthorizedApplications.

Assuming that this should be supported by Azure CLI?

[2020-02-24 09:54] yonzhan commented on #12332
add to S167.

[2020-02-24 10:01] yonzhan commented on #12334
webapp

[2020-02-24 10:35] yungezz commented on #11447
duplicate with #11404

[2020-02-24 10:44] yungezz commented on #11576
HI @bim-msft could you pls help to confirm is this ask supported in keyvault service firstly? thanks.

[2020-02-24 10:47] qwordy commented on #11404
A similar issue #11447

[2020-02-24 10:58] yungezz commented on #11672
HI @Wang-XiaoGao Azure CLI supports Azure resources only, not on-premises services. You might want to contact Azure DevOps support to see how to manage on-premises instances. Will close the issue. let us know any other asks.

[2020-02-24 10:58] #11672 closed

[2020-02-24 11:21] christiannwamba commented on #12104
I can confirm that the issue does not exist when you run from Cloud shell through the Azure portal.

But it does show up when you run the command on a local machine.

[2020-02-24 11:29] bluca opened #12335 "License of archive files checked in source repository unclear"
Hi,

Some of the zip files do not mention a license. This makes them too ambiguous to be able to distribute them downstream.

Please consider including a license in each archive.

Or even better, please consider storing binary archives elsewhere and not in the git repository to remove any ambiguity.

src/azure-cli-core/azure/cli/core/tests/data/myfirstcliextension_az_extmetadata.zip
src/azure-cli-

[2020-02-24 12:30] a-vishar commented on #11942
Any update on this issue?

[2020-02-24 13:20] qwordy commented on #12335
@jiasli Can you help have a look of core directory. Thanks.

[2020-02-24 13:51] yonzhan commented on #11942
@ifeoluwaokunoren any update?

[2020-02-24 13:59] haroldrandom commented on #11450
Closed as low priority for now.

[2020-02-24 13:59] #11450 closed

[2020-02-24 14:23] CharmanderJieniJieni commented on #11477
Hi, this is for az policy assignment create, there is a --location params.

[2020-02-24 15:09] jsmed-renson commented on #11867
Same problem here, looking for that `--key-vault-resource-group` parameter ;)

[2020-02-24 16:05] ap-bansal commented on #12165
Please let me know if you need more info about the issue.

[2020-02-24 16:17] qwordy commented on #11420
Azure CLI already has a parameter --include-colocation-status. However, Azure Python SDK is not up-to-date. I have requested an update. Once the new version of SDK is published, we can see colocation status in output. This feature will be available in next release of Azure CLI. Release date: 03/10/2020

[2020-02-24 16:17] #11420 closed

[2020-02-24 16:50] tanmayeekamath commented on #12311
Thanks for submitting your feedback @thisisbrianstewart. I have taken a note of this and created a task to add this CLI command.

However, I am curious to understand why you would like your devs to have the ability to spin up labs? Think of a lab as a space for a team to collaborate based on policies and guardrails defined by lab owners. Lab owners (typically team leads or IT admins) have more con

[2020-02-24 19:11] stevengum commented on #12267
Blocked on some service changes: https://github.com/microsoft/botframework-sdk/issues/5655

[2020-02-24 19:16] ecc256 opened #12337 "az sql mi create/update secondary instance DNS Zone Partner setting"
Guys,
Not sure if it’s a bug or feature request.
Anyway, how do I specify DNS Zone Partner parameter for SQL MI failover instance using
`az sql mi create/update`
The parameter is explained [here](https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqlinstance?view=azps-3.5.0) and [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-failover-group?tabs=azure-powe

[2020-02-24 20:32] amthomas46 opened #12338 "az sql db restore command used to work and now comes back with ERROR"
The error is

ERROR: Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://management.
azure.com/subscriptions/&lt;sub_id&gt;/resourceGroups/azuresqlworkshop0221/providers/Microsoft.Sq
l/servers/aw-server0221/databases/AdventureWorks0221-copy?api-version=2017-10-01-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-02-24 21:17] sseveringhaus-newclassrooms commented on #12314
I can't do extensive testing on it right now, but I believe the same problem exists with CDN endpoints. I'll just quote the error that Terraform is giving me:
[code]

[2020-02-24 21:23] lilyjma commented on #11933
Hi @Jen7714, could you take a look at this issue please?

[2020-02-24 21:37] happyiphone opened #12339 "az resource create --location 'canadacentral' fails."
### **This is autogenerated. Please review and update as needed.**

While running

`az resource create --location 'canadacentral' --name 'Unique-Resource-Namebgw-g' --properties '{}' --resource-group 'UniqueResourceGroupName' --resource-type 'Microsoft.ClassicCompute/domainNames'`

I get the following error:

`Unable to create domain name 'Unique-Resource-Namebgw-g': 'The location constraint is no

[2020-02-24 21:48] haokanga commented on #3949
I do not agree if it is fair to assume that this is "non-mainline" scenario -- for beginners who have a minimal CLI knowledge, we are recommended them to use Azure Cloud Shell in the course work.

In pedagogical settings, when a student sets a default group in one assignment, it can easily cause trouble in other assignments, which hurts student user experience with Azure badly.

**When Resource gr

[2020-02-24 22:07] dominicha64 commented on #12261
Thank you @yonzhan @MyronFanQiu  @haroldrandom

[2020-02-24 23:33] mortgagemetrix opened #12340 "az sql -h Missing module psycopg2 on MacOS"
### **This is autogenerated. Please review and update as needed.**
When trying to access help for az sql, I get the error listed below. Other components of the az cli don't have issues with help.
## Describe the bug

**Command Name**
`az sql`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informatio

[2020-02-24 23:57] oomichi commented on #12138
This issue still happens today:
[code]

[2020-02-25 00:08] berney commented on #12283
This is causing ScoutSuite, a handy tool for auditing cloud environments, to crash regardless of which cloud a user wants to audit (e.g. even trying to audit AWS will cause it to crash) because of Azure CLI's very old crusty dependencies.

See https://github.com/nccgroup/ScoutSuite/issues/654

It would be good to keep your dependencies relatively up to date so that you play nicely with the rest of

[2020-02-25 00:47] amac44 commented on #10773
Confused about the 404 error mentioned above (which I am also getting) - Does the target function app have to already exist? So to copy a function app from resource group A to resource group B using config-zip, one would have to (1) create app plan on target, (2) create function app on target than uses that plan, (3) run az functionapp deployment source config-zip ?

[2020-02-25 01:22] zhoxing-ms commented on #11477
@CharmanderJieniJieni Which version of azure-cli do you use? I see that the latest version of azure-cli no longer has this parameter.

[2020-02-25 02:15] qwordy commented on #12339
Thanks for your feedback

[2020-02-25 02:23] MarkHerhold commented on #10773
I believe so, yes. The CLI won't create anything. You'd probably want to use a deploy template.

[2020-02-25 02:41] archmangler commented on #9363
@stevengum  - Just clarifying your earlier comment: is it still the case that the az bot create cli tools are broken and ARM is the way to do this?

[2020-02-25 03:25] pjgeutjens opened #12342 "Python error when trying to add an email action to an azure metrics alert"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor metrics alert update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor metrics alert update -g {resourceGroupName} -

[2020-02-25 03:30] ifeoluwaokunoren commented on #11942
Hi,

We're currently investigating this issue. @a-vishar, is this still an issue for you and please do you have a correlationId that you can share since I'm not able to exactly repro the issue reported. If you don't have a correlationId, can you please provide a timeline when you intiated this move, and possibly privately reach out to me with your subscriptionId.

I tried a couple of scenarios and

[2020-02-25 03:37] #11039 closed

[2020-02-25 04:19] zhoxing-ms commented on #11477
@CharmanderJieniJieni Its function is: The location of the policy assignment. Only required when utilizing managed identity.
I'll add this description to help, do you have any other questions?

[2020-02-25 04:49] thisisbrianstewart commented on #12311
Hi @tanmayeekamath -- thank you for adding the task, and the quick response!

To answer your use-case question:  the devs I was referring to are ops engineers.  They're building the governance-as-code and deployment elements that are wired together with pipelines to deploy some self service stuff (dev requests a lab, pipeline uses request context info to spin up lab with governance and assign RBAC

[2020-02-25 05:02] jiasli commented on #12342
@MyronFanQiu Please help with this issue.

[2020-02-25 05:15] michaelsync commented on #11729
Same issue. It said, "This is a bug in Azure CLI and we will fix it."
https://github.com/Azure/azure-cli/issues/10673

[2020-02-25 05:18] MyronFanQiu commented on #12342
@pjgeutjens Hi. The usage should be like this `--add-action ACTION_GROUP_NAME_OR_ID [KEY=VAL [KEY=VAL ...]]`. Please try something like `--add-action name email=xxx@xxx.com`

[2020-02-25 06:15] pvrk commented on #11700
Apologies. Will change the help text. WorkloadType "VM" is not supported. You don't require registration for Azure VM backups.

[2020-02-25 06:17] pvrk commented on #12225
@sambitratha : Can you please look into this?

[2020-02-25 06:18] pvrk commented on #11141
Unregistration is not required for Azure VM backups. Will update the help text.

[2020-02-25 06:20] jiasli commented on #10687
According to the doc of [`subprocess.check_output`](https://docs.python.org/3.8/library/subprocess.html#subprocess.check_output), please use `stderr=None` to discard `stderr`.

[2020-02-25 06:20] #10687 closed

[2020-02-25 06:26] jiasli commented on #11949
Corresponding PowerShell issue: https://github.com/Azure/azure-powershell/issues/10974

[2020-02-25 06:45] pvrk commented on #11565
@bim-msft : Azure Backup doesn't deal with Key-vault certificates. So, this should be seen by the key-vault team. Please relabel for Key-vault. Giving the command that is being tested will help confirm.

[2020-02-25 06:50] pvrk commented on #11072
We released the compatible az CLI version by end of November 26th. Any version which is released then or later should have the relevant fix.

[2020-02-25 06:50] #11072 closed

[2020-02-25 06:54] pvrk commented on #11400
@chainfir3 : We can't reproduce the error in our internal testing. Are you able to get the item name from az backup item list?

[2020-02-25 07:01] pvrk commented on #11179
If container name if friendly user-name, then backup management type is required. There is container-full-name also given as part of container list response. If that is given, backup management type is not required.

[2020-02-25 07:01] #11179 closed

[2020-02-25 07:41] #10539 closed

[2020-02-25 08:30] zhoxing-ms commented on #12036
@vllama Hi, I can't reproduce your question. Could you please provide the following information?
1. You can view the Activity log of the APP Service Slot($functionName/staging) on the portal after the update operation fails. After clicking the failed operation name, there is a JSON information corresponding to the failure reason, then tell me what is the error message of the two failures?
2. If th

[2020-02-25 09:01] yungezz opened #12345 "[Breadth Coverage] Onboard DataMigration"
**Describe the bug**
Azure CLI breadth coverage on DataMigration

**Spec**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EZicF2azrCFHkvFN-UIf6DcBueAdMAktOCou0JObA5sYmg?e=prUu7a

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

**A

[2020-02-25 09:01] yungezz commented on #12345
Breadth coverage for DataMigration, start from release S167.

[2020-02-25 09:48] pjgeutjens commented on #12342
`--add-action name email=xxx@xxx.com ` does not work, what does work is --add-action <name of existing action group>, so without the _email_ parameter.

That fixed my issue, thanks!

[2020-02-25 09:57] #12342 closed

[2020-02-25 10:24] yonzhan commented on #11729
@toddplu any update?

[2020-02-25 10:54] fengzhou-msft commented on #4526
I have ran some commands side by side with latest 2.1.0. And the performance difference is not that significant now.

[2020-02-25 10:59] anshupitlia commented on #9727
Facing the same issue, how did it work? @omerlh

[2020-02-25 11:02] Masahigo commented on #12072
@sseveringhaus-newclassrooms Thanks, saved my day!

One question though: why the param value for `action-name` needs to be given fixed value?

The documentation gives the impression you could define it freely:
https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule?view=azure-cli-latest#required-parameters

[2020-02-25 13:04] sinelshchikov opened #12346 "az storage account update generates an error : "Keyvault policy recoverable is not set""
**Describe the bug**
When you run az storage account update to enable CMK encryption an error occurs: "Keyvault policy recoverable is not set"

The same operation works fine in GUI.
After a successful run in GUI and reverting this configuration back to "encryption type:MMS" ,  the cli command starts to work as expected.

**To Reproduce**
Steps to reproduce the behavior.

[code]

**Expected behavio

[2020-02-25 13:36] eisber commented on #12315
I had a similar error. Changing to utf-8 from ascii fixed it for me:

/anaconda/envs/py37_default/lib/python3.7/site-packages/msrestazure/azure_exceptions.py:120

[2020-02-25 14:02] happyiphone commented on #12339
Thank you for the rapid response! Anything that I can do as work around in the meantime?

[2020-02-25 14:35] fawohlsc commented on #12268
@yonzhan Many thanks. I assume S167 is sprint 167. What are your spring lengths and what is the current sprint? Many thanks :-)

[2020-02-25 15:02] aswini1988 commented on #12242
I have an Azure CLI task used to generate the SAS token and infrequent steps using the SAS token, I used to access my private storage accounts. Now, this warning message is breaking my Azure CLI task.

[2020-02-25 15:08] tjcrone commented on #12280
Thanks for helping to fix this @yugangw-msft. We would like to get this merge incorporated, but it's not clear how to pip install the CLI from a development branch. Are there instructions on how to do this?

[2020-02-25 15:40] sseveringhaus-newclassrooms commented on #12072
True, but I believe the action name is one of the options in the dropdown in the Azure Portal:
* Cache Expiration
* Cache Key Query String
* Modify Request Header
* Modify Response Header
* URL Redirect
* URL Rewrite

Exactly how those translate to action names, I'm not sure, but you could probably make educated guesses. This should be added to the docs, I suppose.

[2020-02-25 15:48] Oglan commented on #7874
doesn't work for me :(

`az webapp create --name $webApp --resource-group $resourceGroup --plan $appServicePlan --deployment-local-git --% --runtime "aspnet|V4.7"`

leads to the following error:
[code]

PowerShell version: 5.1.17134.858

Give us a workaround please... How ppl use azure cli in scripts?!

[2020-02-25 16:58] jaredmoo commented on #12340
This error is in `cliextensions/db-up` which is not owned by SQL DB team. Tagging CLI core team to help triage.

[2020-02-25 17:11] haymansfield opened #12347 "Supported encryption standards differs from Powershell documentation"
The equivalent Powershell documentation (https://docs.microsoft.com/en-us/powershell/module/az.network/new-azipsecpolicy?view=azps-3.5.0) indicates a reduced set of supported set of standards, namely IkeEncryption and IkeIntegrity not supporting GCMAES256.

In addition https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#ipsecike supports the powershell documentation. Is the docu

[2020-02-25 18:26] CharmanderJieniJieni commented on #11477
Good on my side, please update this doc and remove [--location]

[2020-02-25 18:36] tanmayeekamath commented on #12311
Thanks for the context. Yes it definitely makes sense. I'm not sure as to why we did not add Create but I am working with the CLI team to change that as soon as we can.

[2020-02-25 21:47] #12247 closed

[2020-02-25 22:38] dalshamaa commented on #12338
Followed up offline with @amthomas46 The requests were failing because the specified point in time is not valid.

[2020-02-25 22:39] azureSQLGitHub commented on #12338
Btw how do I mark this as closed?

From: Deema AlShamaa <notifications@github.com>
Sent: Tuesday, February 25, 2020 2:38 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Azure SQL GitHub issues notifications <sqldbghissues@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] az sql db restore command used to work and now comes back with ERROR (#12338)

Follo

[2020-02-25 22:40] amthomas46 commented on #12338
Thanks Deema - I can close it..

[2020-02-25 22:40] #12338 closed

[2020-02-25 22:57] yonzhan commented on #12339
add to S167.

[2020-02-25 22:59] yonzhan commented on #12268
https://github.com/Azure/azure-cli/milestones  three weeks cadence.

[2020-02-25 23:05] bureado commented on #3949
After talking to @haokanga and the CMU team, here's my understanding of this issue.

In the [az vm](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-list) docs we say today that `az vm list` will **List all VMs**.

However, @haokanga is not seeing that behavior. What he and the students are seeing is a list of VMs _for the default RG_. If the default RG isn't used much, th

[2020-02-25 23:46] dmoore44 opened #12351 "az container exec - unwanted characters inserted at shell prompt"
## Describe the bug
After executing a command on an azure container image, I cannot navigate the shell as normal. At the prompt, hitting the up arrow will cycle through history, but as soon as I press the left arrow to move the cursor to modify a command, I cycle to the previous command in history.

Additionally, when attempting to use a text editor within the container, navigating through the fil

[2020-02-26 00:09] rachel-msft commented on #10614
This has been fixed. Thank you for your patience.

`  "sslEnforcement": "Enabled",
"storageProfile": {
    "backupRetentionDays": 7,
    "geoRedundantBackup": "Disabled",
    "storageAutogrow": "Enabled",
    "storageMb": 5120`

[2020-02-26 00:09] #10614 closed

[2020-02-26 05:05] haroldrandom commented on #12187
Sorry, I found --arm is not necessary, new API GET call requires watcher_name and flow_log_name, that's already enough.

[2020-02-26 05:12] qwordy commented on #12347
@MyronFanQiu please take a look, thanks

[2020-02-26 05:13] qwordy commented on #12346
@Juliehzl

[2020-02-26 05:22] qwordy commented on #11578
Hope your issue is solved. If you have any other problems, please open a new issue. Your voice is welcome.

[2020-02-26 05:22] #11578 closed

[2020-02-26 05:23] qwordy commented on #11645
@para0056 Any update?

[2020-02-26 06:35] zhoxing-ms commented on #11513
@leyshon Do you have any other questions?

[2020-02-26 07:15] fengzhou-msft commented on #11558
Close issue as the survey is closed now. Please open another issue for future surveys.

[2020-02-26 07:41] Masahigo commented on #12072
@sseveringhaus-newclassrooms  Thanks again!

@lsmith130  So I guess following detail should be added to documentation

--action-name
Name of the action.

_accepted values: CacheExpiration, CacheKeyQueryString, ModifyRequestHeader, ModifyResponseHeader, URLRedirect, URLRewrite_

[2020-02-26 08:09] algattik opened #12355 "az ad sp create-for-rbac should accept spaces in the name"
## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:

[code]

## Expected Behavior

Should create an SP with the provided name. The portal allows creating SPs with spaces and dashes in the name, and no URL.

## Environment Summary
[code]
## Additional Context

[2020-02-26 08:25] zhoxing-ms commented on #11342
@jtuliani Hi, could you please download the latest version of azure-cli and try it? This problem no longer exists in the latest version.

[2020-02-26 08:29] vllama commented on #12036
I have ran it twice. Here are the activiy logs and debug outputs for run1.
Interesing as I was looking through the log, it succeded after a while.
It looks like the Accepted comes back as an ERROR to the cli. It seems the operation takes a long time, but running it multiple times succedes.    If you wait long enough after running the resource update command it succeedes.

Here is the last bit of t

[2020-02-26 08:33] vllama commented on #12036
It accepts, then minutes later it succeedes. Is there  a way to call and see that it succeded?
Also, not sure about the audit events.  they appeared in the log minutes later. when I looked the first time they were not there.
![image](https://user-images.githubusercontent.com/43180217/75326485-fea98b80-587a-11ea-9a41-00833eee567d.png)

[2020-02-26 09:21] 0papen0 opened #12356 "How to delete an index"
Is there any way to delete an index of a Search service?

Apart from deleting the index directly via REST API, is it possible to delete it through this CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b74208fd-b066-412d-ac3f-ffe3c62941d0
* Version Independent ID: 7b3c9510-9579-c510-c468-1e9ec872dde3
* Content: [az s

[2020-02-26 09:44] MyronFanQiu commented on #12347
@haymansfield Yeah. I think you're right. Our documentation is coming from the swagger spec, which is also defined by service team. Looks like they don't keep the value consistent. I will change the message later or invite service team to change the swagger.

[2020-02-26 09:46] zhoxing-ms commented on #10737
@imabedalghafer Did you mean to add a data disk (manage disk) from the Disk's Settings in a virtual machine, and then this disk resource cannot be tagged?
If so, I can't reproduce the problem, is there any other information ?
If not, please describe the steps in detail.
Thank you.

[2020-02-26 11:30] Vikrantlanke commented on #12219
Hi @qwordy,  Do you find anything around it?

[2020-02-26 12:21] lotaezhao opened #12357 "az storage logging update not producing any json output"
This command doesn't produce any json output when run as is the case with other az cli commands.

Also when you run it without specifying a connection string, account key or sas token it displays the warning:
"No connection string, account key or sas token found, we will query account keys for your storage account. Please try to use --auth-mode login or provide one of the following parameters: con

[2020-02-26 12:53] porrascarlos802018 opened #12358 "az aks update ranges not clarified."
Customers doesnt have guidelines in regards to number of ports, number of nodes, number of IPs, the formula to calculate the right sizing is not published or advised here.

please clarify .

error received: Operation failed with status 'bad request' . Load balancer rofile allocated ports is not in an allowable range given the number of nodes and IPS provisioned.

How to calculate the right amount

[2020-02-26 13:48] jorritsandbrink opened #12360 "az appservice plan create --is-linux parameter should accept boolean values"
I noticed there are some differences between the `az appservice plan create` and `az functionapp plan create` commands.

For example: for the appservice variant the --is-linux parameter behaves like a flag (i.e. if you include it it's true, otherwise it's false), whereas for the functionapp variant this parameter requires a boolean value (i.e. true or false).

In my opinion, the commands for the a

[2020-02-26 14:03] nickamon commented on #9157
I second the observation provided here.  I'm on a mac, first time using AZ CLI and first thing I noticed is wow, this command completion is super slow.  Googled the issue hoping to find a resolution and this issue report is the first thing I came across.

[2020-02-26 14:18] dariuszbz opened #12361 "az vm create wont work with --image 'MicrosoftSQLServer:SQL2017-WS2016:Standard:14.1.200114'"
**Describe the bug**
I try to run:
    az vm create    -n  'xxxxx' `
                    -g  'xxxxx' `
                    --admin-password 'xxxxx' `
                    --admin-username 'xxxxx' `
                    --vnet-name 'xxxxx' `
                    --subnet 'xxxxx' `
                    --image 'MicrosoftSQLServer:SQL2017-WS2016:Standard:14.1.200114' `
                    -l  'NorthEurop

[2020-02-26 14:35] dariuszbz commented on #12361
Ok I found:
it works with python 3.5.2.

thanks ......

[2020-02-26 14:40] zhoxing-ms commented on #12036
@vllama What do you mean is that after the command is executed, the service processing starts with an Accept state and azure-cli will report an error to this return, and the operation will be executed successfully after a long time?
And there are some unknown audit events on the activity log that occur in the middle of the process, right?

[2020-02-26 14:44] zhoxing-ms commented on #12036
Please send me the complete activity log and debug log by email.
My email address is Zhou.Xing@microsoft.com, thank you~

[2020-02-26 14:46] porrascarlos802018 commented on #12358
"You can assign up to 64000 ports

if you have 10 nodes as backend for example, the ports can be allocated is “64000/10(nodes) =6400”

So depend of backend node, you should divide it on 64000/(# of nodes)
"

[2020-02-26 14:58] declan-smyth opened #12363 "Failure running az aks enable-addons command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-02-26 17:23] vllama commented on #12036
@zhoxing-ms - correct.   it starts with Accept, but azure-cli will report an error to this.
see screenshot below:
I have sent you the logs to your email.
I am not sure if the audit entries are related or not. It's the first time I see them.

![image](https://user-images.githubusercontent.com/43180217/75370217-08f07780-58c5-11ea-9cdd-6262d11f8163.png)

[2020-02-26 17:23] haroldrandom commented on #7065
As for the different provoder for network, I found it's been fixed.

As for the wanted behavior "all the information such as Subscription and provider should be get from the NSG id", it's been fixed too.

[2020-02-26 19:08] heavytail opened #12365 "how to check permissions of an existing scope-map"
`az acr scope-map show` doesn't give the permissions. Is there a way to check the permissions of existing scope-map?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef39d073-f33a-44c5-9cd1-4f30ea881230
* Version Independent ID: a28f7fa6-d25a-c205-14e7-aa8d474a87c9
* Content: [az acr scope-map](https://docs.microsoft.com

[2020-02-26 19:13] heavytail commented on #12365
permissions don't show up because the output format was set to table. In the json format, I could see the permissions.

[2020-02-26 19:13] #12365 closed

[2020-02-26 19:36] winthrop28 commented on #12253
Here is the concept article and the powershell how-to guide.
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/geomatch-custom-rules
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/configure-waf-custom-rules

It's just another type of custom rule.

[2020-02-26 19:42] enginaar opened #12366 "Table output unavailable error after running az aks get-upgrades"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-upgrades`

**Errors:**
[code]

## To Reproduce:

Run the following command
`az aks get-upgrades --resource-group {resourceName} --name {clusterName} --output table`

## Expected Behavior

Following result is expected
[code]
## Environment Summary
[code]
## Additional Context
1. Sam

[2020-02-26 21:40] highlyunavailable commented on #12273
I'm also seeing this issue with a raw `az rest` call to `https://management.azure.com/subscriptions/[redacted]/resourceGroups/[redacted]/providers/Microsoft.Cdn/profiles/[redacted]/endpoints/[redacted]/customdomains/[redacted]/enableCustomHttps?api-version=2019-04-15`

[2020-02-26 21:53] gangularamya commented on #12251
@Hazhzeng is there any update on the issue ?

[2020-02-27 00:34] yungezz commented on #12366
thanks for reporting, we'll look at it

[2020-02-27 00:38] yungezz commented on #12363
thanks for reporting, we'll look at it.

[2020-02-27 00:40] yungezz commented on #12358
Thanks for reporting, we'll have a look.

[2020-02-27 00:42] yungezz commented on #12361
hi @dariuszbz is it ok to close the issue now?

[2020-02-27 01:40] yungezz commented on #12360
thanks for reporting the issue, we'll have a look

[2020-02-27 01:42] yungezz commented on #12355
HI @arrownj could you pls have a look? thanks.

[2020-02-27 01:43] AllonJunior commented on #12310
I also encoutered this error, is there any update?

[2020-02-27 02:06] yonzhan commented on #12357
add to S167.

[2020-02-27 02:08] yonzhan commented on #12356
search.

[2020-02-27 02:14] jiasli commented on #9157
The slowness is due to fact that auto-complete is achieved by calling `az` again with the prefix given in the terminal. Azure CLI now contains thousands of commands and loading these commands makes it slow.

We will try to improve the performance in the future.

[2020-02-27 02:45] qwordy commented on #12219
It's not a required parameter according the https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-01-01/managedClusters.json
If you use `az aks create`, servicePrincipalProfile will be assembled in request body, no matter you specify it or not.
Add service attention to consult AKS people.

[2020-02-27 02:58] qwordy commented on #11767
The problem should be resolved in Azure CLI. Download the latest version of Azure CLI. You can open a new issue if any issue.

[2020-02-27 03:01] #11893 closed

[2020-02-27 03:06] knutsole opened #12368 "Modification of application security groups of a NIC"
It would be nice if the 'az network nic update' command had a '--application-security-group' or '--application-security-groups' switch since determining which ASGs a NIC will be associated with can apparently only be done at the time of creation currently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29b6bb22-cb91-c7f

[2020-02-27 03:22] qwordy commented on #12299
This feature will be available on 03/10/2020. If any problem, you can comment here or open a new issue.

[2020-02-27 03:22] #12299 closed

[2020-02-27 03:26] yonzhan commented on #11332
@brauliovargas any update?

[2020-02-27 03:39] yonzhan commented on #12368
add to S167.

[2020-02-27 03:42] zhoxing-ms commented on #12036
@mathewc Hi, we called the REST API of `Web Apps - Create Or Update Source Control Slot` [(service link)](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdatesourcecontrolslot) get the return result with the status of 201 and `"provisioningState":"InProgress"`.
Since it is an asynchronous operation, we called `Web Apps - Get Source Control Slot` [(service link)](https://docs

[2020-02-27 05:34] danielbecroft commented on #12090
Hi @panchagnula , just checking if there's anything else I need to provide, or if there is any update?

[2020-02-27 07:05] northtyphoon commented on #12276
@rosanch can you please take a look? If `context_path` is not passed to`task update` command, it can throw error in _get_branch_name function

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acr/task.py#L397

[2020-02-27 07:42] clinsted opened #12369 "Create CorrelationFilter Rule on ServiceBus Topic Subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to create a correlation filter rule (Label = xxx) on a topic subscription. The same was successfully created in C# using the SubscriptionClient.AddRuleAsync:

`
            _subscriptionClient.AddRuleAsync(new RuleDescription()
            {
                Name = "Rule1",
                Filter = new Co

[2020-02-27 07:48] GuGu910 opened #12370 "--network-plugin "Azure" created AKS with "kubnet" plugin type"
**Describe the bug**
The below command failed to create a AKS with network plugin `Azure CNI` but created with `kubnet`
[code]

**To Reproduce**
Just run the above command.

**Expected behavior**
Should created with `Azure CNI` plugin type or throw the exception if `--network-plugin azure` is case sensitive and it should not create `kubnet` type

**Environment summary**
[code]

[2020-02-27 08:14] yungezz commented on #12370
thanks for reporting the issue, we'll look at it.

[2020-02-27 08:16] yungezz commented on #12369
service bus

[2020-02-27 08:39] qwordy commented on #11447
When I run `az vm boot-diagnostics get-boot-log -g fytest2 -n vm1`
I get result of
[code]
I cannot reproduce the issue. highly suspect it's caused by environment difference. Python 2 is not supported by Azure CLI any more. Could you please try again? Close the issue for now, feel free to create new issue if you met the error again.

[2020-02-27 08:39] #11447 closed

[2020-02-27 08:48] yungezz opened #12373 "Turn off telemetry for specific cloud"
**Is your feature request related to a problem? Please describe.**
Telemetry

**Describe the solution you'd like**
Need the feature to disable telemetry for specific cloud, such as JEDI.

**Describe alternatives you've considered**

**Additional context**

[2020-02-27 08:48] yungezz commented on #12373
put in S166 for now.

[2020-02-27 08:59] Raghuveer-Yadav-Gadula commented on #11179
@pvrk if you see the previous comments by @sambitratha , similart and i  replied the same to it

[2020-02-27 09:19] vertigo7x commented on #11517
Sorry for late response. Everything works fine after updating azure-cli.
Thanks

[2020-02-27 09:19] #11517 closed

[2020-02-27 10:09] dariuszbz commented on #12361
Hi @yungezz I think you have to install the proper python version with az, or check the python version to give the proper error message to the user.
But it's ok for me to close. It's working now with the python 3.5.2.

[2020-02-27 11:22] jakobfischer17 commented on #7054
@dcaro the workaround does not work for non-interactive mode. When running:
` $ az login --service-principal --username=$client --tenant=$tenant --password=$password`
i get :
` ERROR: Please specify both username and password in non-interactive mode.`
Is there any solution available as of now?

[2020-02-27 11:38] MyronFanQiu commented on #12239
@jiasli I had a try and it's indeed a quite weird corner case for knack. I don't know whether we can fix it or not. You can take a look.
![Untitled](https://user-images.githubusercontent.com/49134743/75441420-9c46ad00-5998-11ea-9073-1cc70a4c3198.png)

[2020-02-27 11:51] jiasli commented on #12239
This is indeed a corner case of Knack, but I don't think it is a bug. Linux doesn't put a lock on the folder when some process's working directory is still that folder. On the other hand, Windows does put a lock, so deleting the folder will result in a failure. I will mute the error on Knack.

[2020-02-27 11:59] zhoxing-ms commented on #11477
@CharmanderJieniJieni I will update the document with the parameter description, but the `-- location` parameter will not be deleted because it works when utilizing managed identity.

[2020-02-27 13:35] pvrk commented on #11700
Closing this issue since this is by design. Updating the help text in next release.

[2020-02-27 13:35] #11700 closed

[2020-02-27 16:46] #8974 closed

[2020-02-27 17:22] Bessonov commented on #6962
anyone? @yonzhan @qianwens @jiasli

[2020-02-27 17:38] pmozbert commented on #11418
amazing how MSFT keeps closing these tickets as resolved, when they are not resolved.

[2020-02-27 18:44] Guilhermeslucas commented on #12291
I am getting this error when generating SAS token with the source IP as well! The difference between the SAS that was working and the one we have now that it has dots!

[2020-02-27 18:44] panchagnula commented on #12090
@danielbecroft  - sorry i will take a look & reach out if i need anything more. I am on-call & so  wasn't able to get to this.

[2020-02-27 19:03] jluk commented on #12363
Duplicate, please follow this issue for latest tracking.
https://github.com/Azure/azure-cli/issues/11456

[2020-02-27 19:03] #12363 closed

[2020-02-27 19:14] jluk commented on #12370
Thanks @gugu910 for the report, this is a known bug on the backlog to be fixed.

cc @JunSun17

[2020-02-27 21:59] gauhdrung opened #12378 "Deploy Web App and encountered an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-02-27 22:01] #12378 closed

[2020-02-27 22:01] gauhdrung commented on #12378
Not an issue.  I deploy from a a wrong folder.

[2020-02-28 00:09] rodrigc opened #12379 "az aks list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks list -o{} --query {}`

## Expected Behavior

## Environment Summary
[

[2020-02-28 00:13] rodrigc commented on #12379
@jluk Can you please take a look at this?  This suddenly stopped working in the past 2 days, and is breaking all the test automation at my company which we are trying to do against Azure.

This is similar to https://github.com/Azure/azure-cli/issues/11456 but it seems different.

[2020-02-28 00:30] laurawu19 opened #12380 "DiskRP 2019-11-01 CLI Change"
**Resource Provider**
Microsoft.Azure.Management.Compute (specifically DiskRP)
**Description of Feature or Work Requested**
We made it possible for users to create disks from shared image gallery versions with a new field called GalleryImageReference in a Disk's CreationData.
We also exposed some fields for shared disks. Here is the powershell design doc if this helps: https://github.com/Azure/azu

[2020-02-28 02:01] yungezz commented on #12379
AKS

[2020-02-28 02:02] yungezz commented on #12380
put it in S167 for now.

[2020-02-28 02:28] #6876 closed

[2020-02-28 02:30] MyronFanQiu commented on #6876
@ados1991 @calinmarina Thanks for raising this issue. Since we don't get the service's response for a long time, I use the same way like @ados1991 did to implement this functionality.

[2020-02-28 03:28] fengzhou-msft commented on #11418
This issue is closed by the submitter.

Please try with the latest azure-cli version, if your system is not on the [tested list](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest), please check our troubleshooting [doc](https://github.com/Azure/azure-cli/blob/dev/doc/install_troubleshooting.md#install-on-rhel-76-or-other-yum-managed-systems-without-python-3) fo

[2020-02-28 05:23] jiasli commented on #12239
This is indeed a corner case of Knack, but I don't think it is a bug that is ought to be fixed in Knack.

I tested on an Azure VM running Linux (centos 7.7.1908) and reproduced this error:

[code]

Interestingly enough, it fails way earlier than entering Knack or Azure CLI.

There are some discussions on Stackoverflow:
https://stackoverflow.com/questions/12758125/sh-0-getcwd-failed-no-such-file-or

[2020-02-28 05:28] jiasli commented on #6962
@Bessonov, you may use `az login --use-device-code` for user login or `az login --service-principal` for service principal login. Please see [Create an Azure service principal with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest) for details.

[2020-02-28 05:32] jiasli commented on #6962
@Miles-Davies-HORIBA , when you use `az login --tenant "xxx.onmicrosoft.com"`, and get denied access to artifacts, what is the error? Is it the same or something else? +@bagga from DevOps team

[2020-02-28 05:44] jiasli commented on #6962
@JeffBor , in my test, I used `--tenant` with a tenant/directory that requires MFA and the browser did ask for MFA as expected. Could you try purging the browser cache and run `az login --tenant` again?

[2020-02-28 05:57] haroldrandom commented on #7065
@rem-aj There is an implicit restriction in flow-log.

Firstly, only one watcher can be existed per subscription and region. One watcher can have many flow logs, they are in the same resource group (a default created one named "NetworkWatcherRG") and same location.

Secondly, all the related sub-resources NSG, storage account, workspace can be in differenct resource group but are required in the l

[2020-02-28 05:57] #7065 closed

[2020-02-28 06:08] pramodhegde88 opened #12384 "functionapp: version 1 missing in --runtime-version"
We'are running most of our function apps in .net framework (v1). This is because we have the dependency on BrokeredMessage class which is supported only in V1.
Since the --runtime-version is missing V1, we're unable to create the new function apps using the Powershell or Azure-CLI. What's the alternative approach to create the new V1 apps?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-02-28 06:21] manojmu commented on #12177
Hi @qwordy / @arrownj   Do you have an update on this, customer is waiting for a fix.

[2020-02-28 06:33] yungezz commented on #12384
thanks for reporting, we'll look at it

[2020-02-28 07:39] Juliehzl opened #12385 "Network private endpoint connection failed with response status 200"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
**To Reproduce**
Steps to reproduce the behavior.
Run `az network private-endpoint create` with same parameters twice

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI vers

[2020-02-28 07:55] Juliehzl commented on #12385
In addition, can I create several connections to one endpoint? From the output result, it should be an array list for  "privateLinkServiceConnections".
And create command cannot work with a new connection to existing endpoint with the following error:
[code]

[2020-02-28 08:23] MyronFanQiu commented on #12385
@Juliehzl For the first question, I tried to run the same command three times to create private endpoint for keyvaults. It succeed without errors. In the backend, it should be a cross-service behavior. If you always meet such issue for storage creation, let's add service attention and storage label.

For you second question, I think you're right. I need to refine the error message. Based on my kno

[2020-02-28 08:30] haroldrandom commented on #11495
Closed as unnecessary. It's false alarm, maybe by designed.

[2020-02-28 08:30] #11495 closed

[2020-02-28 08:35] qianwens commented on #12224
Close this issue since there is no response. Please help create a new issue if you still have questions.

[2020-02-28 08:35] #12224 closed

[2020-02-28 08:35] qianwens commented on #10861
Close this issue since there is no response. Please help create a new issue if you still have questions.

[2020-02-28 08:35] #10861 closed

[2020-02-28 08:36] qianwens commented on #10205
Close this issue since there is no response. Please help create a new issue if you still have questions.

[2020-02-28 08:36] #10205 closed

[2020-02-28 08:36] qianwens commented on #6095
Close this issue since there is no response. Please help create a new issue if you still have questions.

[2020-02-28 08:36] #6095 closed

[2020-02-28 08:36] qianwens commented on #4138
Close this issue since there is no response. Please help create a new issue if you still have questions.

[2020-02-28 08:36] #4138 closed

[2020-02-28 08:50] MyronFanQiu commented on #12385
@malopMSFT Hello. Could you let someone take a look at this issue? When user wants to create private  endpoint twice with exact same parameters for **storage**, the second time would fail with internal server error. Meanwhile, could you confirm whether user can create more than one private-endpoint-connection in one private endpoint?

[2020-02-28 09:00] #12010 closed

[2020-02-28 09:00] #11257 closed

[2020-02-28 09:28] Xaseron commented on #8974
❤️

[2020-02-28 10:34] jiasli commented on #11168
Property `accessTokenAcceptedVersion` is not exposed in AD Graph spec: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json. That's why Azure CLI can't handle it.

I only saw it from https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest

It is neither defined in MS Graph: https://

[2020-02-28 10:37] richeney commented on #5647
I know that this is closed, but thought that anyone who stumbled across it should know that you can create subscriptions programmatically now: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/programmatically-create-subscription?tabs=azure-cli

[2020-02-28 10:38] aarroyoc opened #12386 "az monitor log-analytics workspace show should return exit code 3 on non-existant workspace"
**Describe the bug**
The command `az monitor log-analytics workspace show` does not return an exit code of 3 when the namespace does not exist. This is inconsistent of how other show subcommands work, when, as per https://github.com/Azure/azure-cli/issues/6612, they should return 3.

**To Reproduce**
Run
[code]
Where invent-rg and invent are non-existent resources. It returns 1.

**Expected behavi

[2020-02-28 10:52] #12220 closed

[2020-02-28 10:54] Miles-Davies-HORIBA commented on #6962
I think my issue was caused by a bug in az which was fixed. It works fine for me with the latest

[2020-02-28 11:12] CSigersted commented on #7874
I had the same problem i found a solution here:
[https://octopus.com/blog/powershell-pipe-escaping](https://octopus.com/blog/powershell-pipe-escaping)

For me it worked to encapsulating the runtime in '""' like this:
az webapp create -g testgroup -p testplan -n testapp --runtime '"node|10.6"'

[2020-02-28 11:33] DavidJFowler commented on #7245
Please can this method of passing settings via Json be fully documented.

[2020-02-28 11:34] PaulCharlton opened #12387 "broken: az network application-gateway waf-policy managed-rule rule-set add"
**Describe the bug**

broken: az network application-gateway waf-policy managed-rule rule-set add --resource-group {rg} --policy-name {policy}  --type OWASP --version 3.1  --group-name y --rules x

and ...
az network application-gateway waf-policy managed-rule rule-set add --resource-group {rg} --policy-name {policy}  --type OWASP --version 3.1

both of the above forms of the command should work.

[2020-02-28 12:29] yonzhan commented on #12386
add to S167.

[2020-02-28 12:37] yonzhan commented on #12387
add to S167.

[2020-02-28 13:46] spr0ut commented on #10470
The same networking configuration was used to deploy managed instance using the Azure portal, therefore points to it being an issue with the azure cli not the networking setup.

Even so, expected failing behaviour of the cli command would be an output which describes the issue with the networking as per the portal.

[2020-02-28 15:18] dadams0641 commented on #12104
Confirming as well. RHEL7 just updated to 2.0.81

[code]

[code]

[2020-02-28 16:45] #11840 closed

[2020-02-28 16:51] malopMSFT commented on #12385
only 1 private endpoint connection is valid, same storage account can have more than a single PE

If a customer creates 2 times the same PE, this is effectively a recreate on API, for internal errors recommend to create a support ticket to investigate the root cause.

[2020-02-28 17:50] kkanish commented on #6545
Probably the plan is not in the same resource group given on command line.
Adding the '-- debug' to the command line helped get the real error message
sample statement
 az webapp create --name whaterver--resource-group abcrg  --plan abcpln --debug

post that, i could see the plan and service in the resource group

[2020-02-28 18:00] anthonychu commented on #12287
Thanks @chbe8475. Can you provide an example? Are you thinking about options for available `sku`s?

[2020-02-28 18:10] anthonychu commented on #12289
Thanks. Created issue to track this for the Functions team: https://github.com/Azure/Azure-Functions/issues/1509

Also look into the same for Core Tools: https://github.com/Azure/azure-functions-core-tools/issues/1854

[2020-02-28 18:21] itsforbrijesh commented on #12159
I still sees this issue with CLI 2.1.0

OS: Ubuntu
azure-cli                          2.1.0

command-modules-nspkg              2.0.3
core                               2.1.0
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/opt/az/bin/python3'
Extensions directory '/home/..../.azure/cliextensions'

Python (Linux) 3.6.5 (default, Feb 14 2020, 05:2

[2020-02-28 18:31] naammeinkyahai commented on #1528
Please add the ability to `--no-wait` for `az postgres db delete`

[2020-02-28 18:51] jaijitendra commented on #12257
What is your system?
Ans : Windows 10 build 19041.113
Which is your PowerShell version?
Ans: v7.0.0-rc3
How did you enter DBG mode?
Ans: From PS integrated console in VS code.

[2020-02-28 19:03] itsforbrijesh opened #12388 "az webapp create update_site_config() takes 2 positional arguments but 3 were given"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
update_site_config() takes 2 positional arguments but 3 were given

Also tried with 2.1.0 Edge build

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pr

[2020-02-28 19:06] arnoldna opened #12389 "In-line Comments in parameter file cause deployment failure"
When running a resource deployment with a parameters file, in-line comments causes a deployment error.

![arm_parameter_comment_error](https://user-images.githubusercontent.com/10898493/75569526-81b11a00-5a12-11ea-846b-0d22dfc8dd7f.png)

**AZ Version**
azure-cli                         2.0.81 *

**To Reproduce**
Add an inline comment to an parameters file. Run "az group deployment create -g <resou

[2020-02-28 20:51] PaulCharlton opened #12390 "update Azure CLI for compatibility with Python 3.8"
**Describe the bug**
latest build from home-brew (Mac) has incompatibilities with Python 3.8

`/usr/local/Cellar/azure-cli/2.1.0/libexec/lib/python3.8/site-packages/azure/storage/blob/_upload_chunking.py:403: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if n is 0 or self._buffer.closed:
/usr/local/Cellar/azure-cli/2.1.0/libexec/lib/python3.8/site-packages/azure/storage/blob/baseblobser

[2020-02-28 20:51] Zaita commented on #12283
azure-cli no longer installs on OpenSuSe Tumbleweed:

Problem: nothing provides python3-humanfriendly < 5.0 needed by azure-cli-core-2.0.80-1.2.noarch
 Solution 1: do not install azure-cli-2.0.80-1.1.noarch
 Solution 2: break azure-cli-core-2.0.80-1.2.noarch by ignoring some of its dependencies

[2020-02-28 20:57] glaubitz commented on #12283
@Zaita You are on the wrong bug tracker, as this is the upstream project. But I happen to be in charge of those packages in openSUSE/SLE and the issue has already been fixed, just wait for the repositories to sync.

[2020-02-28 21:44] krknopp opened #12391 "Add ability to upload public certificates without private key"
`az webapp config ssl upload` allows you to upload a `pfx` file with private key for binding the website to, but there's no CLI way that I can find to upload a `.cer`/`.crt` file for App Service consumption.  i.e. certificate based authentication.

I'd like to see a way to do this besides going to the Azure Portal to upload the certs. As it stands, we have no way to automate this process.

[2020-02-29 00:56] BrianMouncer opened #12392 "az login failed when running inside LSW ubuntu image on windows desktop."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-02-29 01:56] yungezz commented on #12391
Thanks for reporting, we're looking at it.

[2020-02-29 01:58] yungezz commented on #12390
HI @fengzhou-msft  could you pls help to have a look? thanks.

[2020-02-29 01:59] yungezz commented on #12389
HI @Juliehzl could you pls help to have a look? thanks.

[2020-02-29 02:00] yungezz commented on #12388
thanks for reporting the issue, we'll have a look.

[2020-02-29 02:02] yungezz commented on #12392
HI @arrownj could you pls have a look? thanks.

[2020-02-29 02:13] saraviarivas-2020 opened #12393 "webapp: update_site_config() takes 2 positional arguments but 3 were given"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2020-02-29 02:26] yonzhan commented on #12389
add to S167.

[2020-02-29 02:35] yonzhan commented on #12393
webapp

[2020-02-29 02:49] tdihp commented on #12142
Duplicate of https://github.com/Azure/azure-cli/issues/11099

[2020-02-29 03:22] arrownj commented on #11536
Hi @jbnetapp , thanks for reporting. Could you please share more about your command ? It seems that the value type you used is not right.

Please kindly be noted that the --role-definition value should be a valid json string or file path to a file containing valid json string.

You can use `az role definition create -h` to get help about how to use this command. You can also get some example at th

[2020-02-29 03:56] arrownj commented on #11567
Hi @conerlyg , as @jiasli described before, the error message you meet was normally because of multi-factor authentication. Could you please advice whether there are other problems ? If not, I will close this issue first. And you can reopen it or submit a new one if you have other problems. Thanks

[2020-02-29 04:44] arrownj commented on #11553
Hi @ikiris04 , according to management group document:

**Document Link:** https://docs.microsoft.com/en-us/azure/governance/management-groups/create#create-a-management-group

So I think this is a by-design feature of managment group. Please help check whether it answer your question. Thanks

[2020-02-29 12:32] #12187 closed

[2020-02-29 14:04] ivanizag opened #12395 "Exception using "az functionapp deployment user show""
## Exception using "az functionapp deployment user show"

**Command Name**
`az functionapp deployment user show`

**Errors:**
[code]

## To Reproduce:
Execute `az functionapp deployment user show`

## Expected Behavior
To see the proper response as with the previous version of azure-cli.
With azure-cli 2.0.80 (in a different machine), I get:
[code]

## Environment Summary
[code]

[2020-02-29 22:18] Selekena opened #12396 "az functionapp deployment failures"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment user show`

## Expected Be

[2020-02-29 22:19] Selekena commented on #12395
Ditto on this issue

[2020-03-01 01:27] yonzhan commented on #12396
functionapp

[2020-03-01 01:29] yonzhan commented on #12395
functionapp

[2020-03-01 01:45] yonzhan commented on #11477
fixed by the PR.

[2020-03-01 01:46] #11477 closed

[2020-03-01 01:50] #11513 closed

[2020-03-01 07:43] fengzhou-msft commented on #12023
@sschols  I cannot find the "python36" package provided by RHEL repositories on a RHEL 7.6 for SAP vm. Any configurations for the repository needed after the vm setup?

[2020-03-01 11:04] bim-msft commented on #11771
@MauricioP92 Hi, we figured out the root cause recently:
For key vault commands, `-n {vault_name} -g {rg}` is case insensitive, `-n {vault_name}` is case sensitive.
For instance, you created a vault named `kvTest`, and you queried it by name `kvtest`

`az keyvault show -n kvtest`: "Microsoft.KeyVault/vaults/KVname not found within subscription"
`az keyvault show -n kvTest`: works fine
`az keyvault

[2020-03-01 12:48] papi19ja commented on #10707
I have been trying to deploy a web  application using azurefor learning purpose  and its failing with the below error ,please help.

Zip deployment failed. {'id': '164d73d06fc54454a3ebf319dd7930c7', 'status': 3, 'status_text': '', 'author_email': 'N/A', 'author': 'N/A', 'deployer': 'Push-Deployer', 'message': 'Created via a push deployment', 'progress': '', 'received_time': '2020-03-01T12:21:00.88

[2020-03-01 12:48] zbigniev opened #12397 "unrecognized arguments: --load-balancer-outbound-ips in az aks create"
**Describe the bug**
While trying to create aks cluster using `az aks create` and argument `--load-balancer-outbound-ips '<ip>'`, I get _unrecognized arguments : --load-balancer-outbound-ips_

**To Reproduce**
Run `az aks create --resource-group <resource_group> --name <name> --load-balancer-outbound-ips <ip1>` from cli.

**Expected behavior**
Cluster creation is initiated.

**Environment summary*

[2020-03-01 15:56] robdmoore commented on #12242
If you pass `--auth-mode key` it still presents this warning (`WARNING: No connection string, account key or sas token found, we will query account keys for your storage account. Please try to use --auth-mode login or provide one of the following parameters: connection string, account key or sas token for your storage account.`). I feel like the warning shouldn't show if that is passed in given yo

[2020-03-01 19:54] zbigniev commented on #12397
Installed `azure-cli 2.1.0`on an ubuntu-19.10 and `--load-balancer-outbound-ips` shows up with `az aks create -h`.

But not on macOS

[2020-03-01 21:47] thisisbrianstewart commented on #11758
Hi @yungezz and @yonzhan -- any updates or timeline on this?  Would love to build this into our cli-based pipelines and automation rather than using powershell to cover the gap temporarily.

[2020-03-01 22:05] eatihan opened #12398 "az webapp create failure: update_site_config() takes 2 positional arguments but 3 were given"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

update_site_config() takes 2 positional arguments but 3 were given
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_resu

[2020-03-02 00:12] Zaita opened #12399 "OpenSuSe Tumbleweed 'cannot import name 'BlockBlobService' from 'azure.storage.blob'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm using today's release of OpenSuSe Tumbleweed
run
$ az
Command not found
$ zypper install az
$ az login
Login successful
$ az webapp list
Errors out here....

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted,

[2020-03-02 00:12] Zaita commented on #12399
List of packages installed
[azure_packagelist.txt](https://github.com/Azure/azure-cli/files/4272814/azure_packagelist.txt)

[2020-03-02 00:14] yonzhan commented on #12398
webapp

[2020-03-02 00:17] yonzhan commented on #12399
@fengzhou-msft  please take a look.

[2020-03-02 00:17] jluk commented on #12397
I'm seeing it on my versions, can you please update your aks-preview version to latest 0.4.33?

[2020-03-02 00:56] yungezz commented on #11758
HI @thisisbrianstewart we're pending on some internal sanity check for this RP. Roughly estimation it would be ready around end of March. Let us know there's any other question.

[2020-03-02 01:58] Zaita commented on #12399
[azure_cli_error.txt](https://github.com/Azure/azure-cli/files/4273043/azure_cli_error.txt)
Uploading another related file, might help find root cause.

[2020-03-02 02:10] #7372 closed

[2020-03-02 02:33] Juliehzl commented on #12242
Please provide your account key or use `--auth-mode login`.

[2020-03-02 02:46] robdmoore commented on #12242
Hi @Juliehzl,

I guess my point is that the `--auth-mode key` option is designed for the existing behaviour. From the docs: `The mode in which to run the command. "login" mode will directly use your login credentials for the authentication. The legacy "key" mode will attempt to query for an account key if no authentication parameters for the account are provided.`

You commented above with this:

[2020-03-02 03:21] Juliehzl commented on #12242
@robdmoore You're definitely right!!
`--auth-mode key` is a legacy authentication, which will query keys for users. Your suggestion is very good to us, and I will refine the warning message according to your suggestion.

For `--auth-mode login`, what you need is storage related RBAC roles, which will control some data related permissions. For more information you can refer to https://docs.microsof

[2020-03-02 03:43] robdmoore commented on #12242
Awesome! Thanks. That sounds great.

[2020-03-02 03:45] zbigniev commented on #12397
@jluk Updating preview to 0.4.33 indeed helped. Thanks.

However, this is interesting. Without aks-preview the option showed on v2.1.0, but with older version of extension aks-preview v0.4.5 it remained hidden and required update of aks-preview for it to work.

[2020-03-02 04:03] zhoxing-ms commented on #11942
@ifeoluwaokunoren Hi, I can provide a way to reproduce the problem, which is applicable for moving any resource

Steps to reproduce:
1. Move Resource
`az resource move --ids /subscriptions/{subscription-id}/resourceGroups/{original-group}/providers/{resource-type}/{resource} --destination-group {destination-group}`
2. Check Resource
`az resource show --ids /subscriptions/{subscription-id}/resource

[2020-03-02 07:07] chbe8475 opened #12402 "--kind has wrong default value according to documentation"
The --kind parameter has a default of 'Storage'.
Documentation says 'StorageV2'

Please change one or the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7aaa1f0e3f5c
* Content: [az storage account](https://docs.microsoft.com/e

[2020-03-02 07:50] KatjaBF commented on #11168
Hi!
Is there any ETA? Without `AccessTokenAcceptedVersion` property we can't automate Azure AD app registration. The API management automation problem is the Azure AD app registration doesn’t accept the token with version two format which differs from token in version one as the default accepted token format is version one.

[2020-03-02 08:19] yonzhan commented on #12402
add to S167.

[2020-03-02 08:24] chbe8475 commented on #12287
Yes skus specifically in this case. But if there are other parameters with
only a fixed set of valid values those should be documented in my opinion.

/Christer

Den fre 28 feb. 2020 kl 19:00 skrev Anthony Chu <notifications@github.com>:

[2020-03-02 08:27] fengzhou-msft commented on #12399
@Zaita Your install method is different from our [doc](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest). The package is named `azure-cli`. Can you give us more information about your OpenSuSe Tumbleweed system? Is it a VM on Azure? Did you add any package repos for it?

It seems OpenSuSe Tumbleweed does not provide python3.6. We have some [workaround](http

[2020-03-02 09:26] jsntcy commented on #12144
@winthrop28, as we are busy on other urgent features, we'll plan this issue to next sprint and the release date is 03/31/2020.

[2020-03-02 09:43] sschols commented on #12023
@fengzhou-msft oh, sorry. Yes, it's part of the EPEL repository, which you can enable like so: `yum install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm`

[2020-03-02 10:25] bartjanson opened #12406 "Argument --capture-interval does not update the "intervalInSeconds""
Initially a capture on a eventhub is created with the "intervalInSeconds" with 300, if we want to change this using the azure portal the value is correctly changed, if we change this value with az eventhubs eventhub update --capture-interval &lt;value between 60 and 300&gt; the value is not updated, only if we use --set captureDescription.intervalInSeconds=60.

---
#### Document Details

⚠ *Do not

[2020-03-02 10:34] yonzhan commented on #12406
eventhubs

[2020-03-02 12:04] zhoxing-ms commented on #11942
@a-vishar Hi, I communicated with @ifeoluwaokunoren and concluded that it is by design that the status of the resource group changes from `MovingResource` to `Succededed` after the resource moves to the destination group for a while.
The specific reasons are as follows:

  If there are other resource providers that subscribe to LinkedNotification ARM is going to send notifications to them and they

[2020-03-02 12:08] zhoxing-ms commented on #11942
@a-vishar So my advice to you is as follows:
1. Please use `az group wait` instead of `az sql server wait` to judge the end of `az resource move` execution, because the command is not actually finish until the status of the Resource Group becomes `Succeeded`.
2. Or please change the `az resource move` step to synchronous execution.

Please see if my suggestion is suitable. If you have any other qu

[2020-03-02 12:11] venkateshjayanaik commented on #5759
It's not working for me, it returns 1 for me. Currently I got 200 blob files in the container. I want to get the count as 200. How can I get

[2020-03-02 12:12] a-vishar commented on #11942
The question would then be, why are notification failures so common?

The resource is moved within a couple of minutes, and without fail 99% of the time the resource cannot be moved if I use the CLI.

Please understand that this is different behaviour when I use the CLI vs Portal.  I understand the locking mechanism, but that the notification system appears to have as many errors when using the CL

[2020-03-02 12:33] vincelee888 commented on #10913
happens to me when attempting run `az apim list`

[code]

[2020-03-02 12:40] bluca commented on #7387
Hello,

FYI, azure-cli (and the devops extension) are now available natively in Debian unstable (will be added to buster-backports as soon as policy allows) and the soon-to-be-released Ubuntu 20.04 LTS:

https://packages.ubuntu.com/focal/azure-cli
https://packages.debian.org/sid/azure-cli

This has been done following policy&best practices. Each dependency is packaged separately, and the system's

[2020-03-02 12:50] jiasli commented on #11168
I did more research and it seems `api.requestedAccessTokenVersion` in MS Graph maps to `accessTokenAcceptedVersion` in AD Graph.

To get unblocked, do you mind using `az rest` directly on the MS Graph API [Update application](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http)? Note the `{id}` part should be object ID of the application:

[code]

[2020-03-02 13:06] kalioz opened #12407 "Docker - reduce image size"
**Is your feature request related to a problem? Please describe.**
The current docker image build has more than 450 Mo of useless layers contained in the image. This useless space should be removed to reduce the final image size, which is currently at 1.13Gb (mcr.microsoft.com/azure-cli:2.1.0)

In details, the entire azure-cli folder is copied to /azure-cli and then deleted. If the image is not co

[2020-03-02 13:33] Juliehzl commented on #11509
Hi @rogeraustin, Azcopy 10.3 is supported in azure cli now. Please try with the latest azure cli.

[2020-03-02 13:39] #11509 closed

[2020-03-02 13:59] ripa1993 opened #12408 "az webapp create with runtime aspnet|v4.7"
## Describe the bug

I am testing the following command

[code]

from MS Learn [App Gateway tutorial](https://docs.microsoft.com/it-it/learn/modules/load-balance-web-traffic-with-application-gateway/3-exercise-create-web-sites)

In my opinion, the issue is that the 'setter' that is being invoked is

[code]

rather than

[code]

This is configured in

[code]

**Command Name**
`az webapp create`

**

[2020-03-02 14:09] a-vishar opened #12409 "az sql server wait: "The command failed with an unexpected error""
**Describe the bug**
az sql server wait: "The command failed with an unexpected error"

**To Reproduce**
1) Create a server
`az sql server create --resource-group dbEnvironmentMigrator-Group-117891603-2020-03-02 --name dbEnvironmentMigrator-Server-117891603-2020-03-02 --location northeurope --admin-user redacted --admin-password redacted `

2) Wait for that server to be ready
`az sql server wait -

[2020-03-02 14:18] Juliehzl commented on #11520
Hi @giuliov, thanks a lot for your feedback. I think you're right. The file snapshot can be used to copy from existing snapshot even for the file which is already deleted, but no document for restore introduction.The information about the operation is in https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files#copying-data-back-to-a-share-from-share-snapshot. I think it is beca

[2020-03-02 14:18] #11520 closed

[2020-03-02 14:25] yonzhan commented on #12407
@fengzhou-msft please take a look.

[2020-03-02 14:28] yonzhan commented on #12409
sql

[2020-03-02 14:28] yonzhan commented on #12408
webapp

[2020-03-02 15:25] krknopp commented on #5713
Any updates on this?  `az resource tag` doesn't work either.

That bug was opened over a year ago too.
https://github.com/Azure/azure-cli/issues/8545

[2020-03-02 15:26] krknopp commented on #8545
Maybe someone can start looking at this again.  Been a year.

[2020-03-02 16:18] jluk commented on #12397
The Azure CLI uses an interesting preview model, in that if you have the preview installed it will override the core version build and ignore it. Thus it seems 0.4.5 didn't have the changes needed, but the preview v0.4.33 does and core build v2.1.0 does as well. Hope this helps!

[2020-03-02 16:18] #12397 closed

[2020-03-02 16:27] saraviarivas-2020 commented on #12393
webapp?

[2020-03-02 16:40] jbmitchell opened #12412 "az ad sp create-for-rbac --name new-service-principal-name --skip-assignment --years ???"
Is there a way to set the client secret to never expire from the command line? It seems when creating a new secret from the portal there is an option for never that just sets it to expire on 12/31/2299? A thousand years seems to work fine but 10,000 throws an error. What is the max time for "--years" parameter?

az ad sp create-for-rbac --name new-service-principal-name --skip-assignment --years 1

[2020-03-02 17:16] dariuszbz opened #12413 "az storage account create - error: ##[error]ERROR: Account property accessTier is required for the request."
**Describe the bug**
running az storage account create  from azure devops pipeline generates an error. The spn account is subscription owner.

**To Reproduce**
az storage account create `
    -n $blobname `
    -g $rg `
    --location $bloblocation `
    --sku $sku `
    --kind $kind `
    --tags "Billing-01=111"

**Expected behavior**
storage created

**Environment summary**
Install Method (e.g.

[2020-03-02 17:41] venkateshjayanaik commented on #5759
It worked with this
--query "[]|length(@)" -o tsv

[2020-03-02 19:08] Zaita commented on #12399
@fengzhou-msft
I've removed all of the Python2 that I can. Unfortunately some packages in SuSe still rely on it. I've tried the instructions listed in your doc, but these also fail.

Following the top install method in your doc fails with:
[install_fail.txt](https://github.com/Azure/azure-cli/files/4277371/install_fail.txt)

Following the "Install on SLES 12 or other systems without Python 3.6" in

[2020-03-02 19:14] mcalnd70 opened #12415 "az webapp config access-restriction add is not idempotent"
**Describe the bug**
Running the same command multiple times re-adds the same entry again. The command is not idempotent and shouldn't add duplicate entries.

<img width="805" alt="Capture" src="https://user-images.githubusercontent.com/56595934/75709011-d0341200-5cb9-11ea-8512-5db8ac2c45e8.PNG">

**To Reproduce**
Run the following against any App Service...

**az webapp config access-restriction

[2020-03-02 20:29] para0056 commented on #11645
@qwordy We were able to get SYSPREP to work using an inline CMD script. Thanks!

[2020-03-02 22:03] a-vishar commented on #12313
Any update on this?

[2020-03-02 22:07] a-vishar commented on #11942
Also, [az resource move](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest) doesn't have a way to execute synchronously

[2020-03-02 22:09] a-vishar commented on #11942
Waiting on the group will not solve the issue.  The four-hour wait is always present when moving in the way I explained if I use the CLI but not the GUI (Portal).

[2020-03-02 23:33] rodrigc commented on #12379
I cannot reproduce this problem today.

I am using:

[code]

[code]

Now works for me without giving a Python stacktrace.

[2020-03-02 23:33] #12379 closed

[2020-03-03 00:12] yonzhan commented on #12412
add to S167

[2020-03-03 00:14] yonzhan commented on #12413
add to S167

[2020-03-03 00:18] Zaita commented on #12399
Adding to comment above. I downloaded the latest RPM from the URL where the wget failed and installed it: [working_rpm_download_fail.txt](https://github.com/Azure/azure-cli/files/4278625/working_rpm_download_fail.txt)

This still fails though.

[2020-03-03 00:18] yonzhan commented on #12415
webapp

[2020-03-03 01:03] Zaita commented on #12399
[code]

[2020-03-03 01:17] dbradish-microsoft commented on #9665
@yonzhan , this ended up in my Inbox for Azure CLI, so I have created work item https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1683408 and will follow up with you in our text technical check-in.

[2020-03-03 02:08] fengzhou-msft commented on #9665
@dbradish-microsoft I've updated the instruction for installing version >= 2.0.77: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest#install-on-sles-12-or-other-systems-without-python-36

The instruction in your work item is for versions <= 2.0.76 with python 2 in our package.

[2020-03-03 03:18] #10931 closed

[2020-03-03 03:54] geminiyeak commented on #10469
I'm also having this issues only recently. but only windows image cross region.
for Linux image working perfectly.

Script:
$sourceresourcegroup` ='rg-eas-p-vmimages-win01'
$sourceimagename ='img-eas-win16datacenter-1.0.6'
$targetresourcegroup='rg-xx-eas-p-vmimages-win01'
$Targetregion ='EastAsia' #EastAsia or SoutheastAsia
$targetimagename ='img-xx-eas-win16datacenter-1.06'
$targetsubscription='x

[2020-03-03 04:58] mjrousos opened #12421 "`az apim` failures"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az apim --help` shows commands related to API Management. However, none of the commands seem to work.

**Command Name**
`az apim show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre

[2020-03-03 05:52] #11910 closed

[2020-03-03 06:27] MyronFanQiu commented on #11754
Close this issue since no response. Feel free to re-open it or open a new issue if you still have any question or problem.

[2020-03-03 06:27] #11754 closed

[2020-03-03 06:28] MyronFanQiu commented on #11828
@yonzhan Hi. Should we close this issue first? It might violate the OKR 3.2 later. we can open a new issue once the swagger is ready later.

[2020-03-03 06:32] MyronFanQiu commented on #12001
@NiryaAestus Hi. Do you have any other question? It's possible to use python sdk, `az rest` or `az resource` directly to send back the response. But currently, we don't support json input in each command.

[2020-03-03 06:36] MyronFanQiu commented on #12189
@tfedalto Hi. Did you solve the issue?

[2020-03-03 06:48] MyronFanQiu commented on #12082
@bmukes Hello. Thanks for opening this issue. Currently, we don't have enough tests for different terminals. We will consider this issue and add more tests for it in the future . I would close this issue first since it's not a blocker right now. Feel free to open a new issue if you have any more question.

[2020-03-03 06:48] #12082 closed

[2020-03-03 07:14] jiasli commented on #9122
Fixed by #9660

[2020-03-03 07:14] #9122 closed

[2020-03-03 07:39] jiasli commented on #2924
Corresponding changes is put into Knack https://github.com/microsoft/knack/pull/173

[2020-03-03 07:40] jaredmoo commented on #12313
Error:

[code]

Code:
              provisioning_state = get_provisioning_state(instance)
                # until we have any needs to wait for 'Failed', let us bail out on this
                if provisioning_state.casefold() == 'failed':
                    progress_indicator.stop()
                    raise CLIError('The operation failed')

[2020-03-03 07:44] jaredmoo commented on #12313
Caused by #12154

[2020-03-03 07:45] jaredmoo commented on #12313
SQL server does not use provisioning state. Please fix this bug and implement automated test for `az sql server wait` (which should have been done when core team implemented this command, and would have prevented this regression).

[2020-03-03 07:51] zhoxing-ms commented on #11942
@a-vishar Thanks for your feedback~

The reason for asynchrony is that you use `start-job`, which opens a separate background task for execution. The execution of the command itself is synchronous.
Doc Link: [click](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/start-job?view=powershell-7)

Yes, the advice I give can't solve the problem that the process takes more th

[2020-03-03 07:53] yikma commented on #12125
We are currently running into a similar issue. In regards to adding the --timeout parameter to the command, in the documentation found: https://docs.microsoft.com/en-us/cli/azure/webapp/deployment?view=azure-cli-latest, the --timeout parameter is not present however, it does exist as part of the az group deployment commands under the wait section. Are we still able to run -- timeout with az webapp

[2020-03-03 08:21] MyronFanQiu commented on #11812
Close this one since no response. Feel free to re-open it or open a new one if you meet any more issues.

[2020-03-03 08:21] #11812 closed

[2020-03-03 08:32] qianwens commented on #11701
Close this issue since a long time no response. Please help create a new issue if you still meet the error.

[2020-03-03 08:32] #11701 closed

[2020-03-03 08:40] mcalnd70 commented on #12415
For anyone else struggling with this, the Powershell Az module now has the ability to do this, and it is idempotent.

You may need to update your installation of the Powershell Az module
https://github.com/Azure/azure-powershell/releases/tag/v3.5.0-February2020

e.g.

**Add-AzWebAppAccessRestrictionRule -ResourceGroupName RG-TestResourceGroup -WebAppName WA-MyTestAppService -Name "MyRule1" -Priori

[2020-03-03 09:12] Bessonov commented on #6962
@jiasli thank you very much for your response! It seems to be working!

[2020-03-03 10:02] dariuszbz commented on #12413
sorry my bad.
the proper and working command is:
az storage account create `
    -n $blobname `
    -g $rg `
    --location $bloblocation `
    --sku $sku `
    --kind $kind `
    --access-tier hot `
    --tags "Billing-01=UK-3rd"

[2020-03-03 10:02] #12413 closed

[2020-03-03 11:05] jaipaldom opened #12423 ""az keyvault create \ --resource-group learn-33b14343-8e20-4365-a4c2-afac1f90aaaa \ --location centralus \ --name <your-unique-vault-name>" ERROR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --resource-group {} --location {} --name {}`

## E

[2020-03-03 12:10] tfedalto commented on #12189
Hi, not yet. I did the zone import using a powershell script

[2020-03-03 12:39] yonzhan commented on #12421
apim

[2020-03-03 12:41] yonzhan commented on #11828
Add feature request and service attention.

[2020-03-03 13:14] tameek opened #12424 "Syntax fix in doc"
Please change:

az vm deallocate --ids {vms_ids}
az vm generalize --ids {vms_ids}

to

az vm deallocate --ids ${vms_ids}
az vm generalize --ids ${vms_ids}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm]

[2020-03-03 14:04] yonzhan commented on #12424
@qwordy please take a look.

[2020-03-03 14:20] qianwens commented on #11668
Hi @ChendrayanV , this is an issue in PowerShell, you can fix this issue by adding a space between ] and ", here is the correct command: az graph query -q "where type =~ 'Microsoft.Compute/virtualMachines'" --include displayNames --first 5 --query "[?contains(subscriptionDisplayName,'STRING')] "

[2020-03-03 14:20] #11668 closed

[2020-03-03 14:21] qianwens commented on #11332
Close this issue since there is no update for more than 1 month. Please help create a new issue if the problem still exists.

[2020-03-03 14:21] #11332 closed

[2020-03-03 14:31] #11567 closed

[2020-03-03 14:33] arrownj commented on #11553
Hi @ikiris04 , if there are no more problems, I will close this issue first. If you have other problems about this, you can reopen it or submit a new one. Thanks

[2020-03-03 14:33] #11553 closed

[2020-03-03 14:34] arrownj commented on #11536
Hi @jbnetapp , if there are no more problems, I will close this issue first. If you have other problems about this, you can reopen it or submit a new one. Thanks

[2020-03-03 14:34] #11536 closed

[2020-03-03 15:18] qianwens commented on #10997
Close this issue since there is no response for more than one month, please help create a new issue if you still have problem to run this command in Powershell.

[2020-03-03 15:18] #10997 closed

[2020-03-03 15:19] #10979 closed

[2020-03-03 15:21] qianwens commented on #10923
Close this issue since there is no response for more than 1 month, please help create a new issue if you still have questions.

[2020-03-03 15:21] #10923 closed

[2020-03-03 15:30] qianwens commented on #10742
Hi @sinhru , the bad request error may happen if the parameter value is not correctly set, could you please help provide a sample of your command?

[2020-03-03 15:34] #10724 closed

[2020-03-03 15:35] #10684 closed

[2020-03-03 15:36] arrownj commented on #11590
Hi @brandonh-msft , it seems that it failed to get token due to network issue. Could you please help check whether only `az ad sp create-for-rbac` failed with this error or all the commands would fail with the same error ? It probably because that the network is not fine.

[2020-03-03 15:36] #10580 closed

[2020-03-03 15:37] #10568 closed

[2020-03-03 15:49] bertrandpons opened #12427 "webapp: Import App Service Certificate"
Hello,

Let's assume I created an App Service Certificate with the Azure dedicated service, is it possible to import it in the private key certificates of an App Service with CLI, instead of using the Azure Portal?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3f984d-0d48-e075-7e2f-2da5667b15cf
* Version

[2020-03-03 16:32] mleneveut opened #12428 "Upgrade pyYAML to 5.3 version to fix CVE-2019-20477"
**Is your feature request related to a problem? Please describe.**
Yes, a Critical CVE blocks our security scanner.

**Describe the solution you'd like**
Upgrade the version of dependency PyYAML to 5.3

**Describe alternatives you've considered**
Manually updating the python environment after the AZ CLI installation (pip3 install --upgrade pyyaml), but a copy of the PyYAML stays in `/opt/az/lib/py

[2020-03-03 16:33] mleneveut commented on #12428
az --version
[code]

[2020-03-03 17:32] Francisco-Gamino opened #12429 "az functionapp should not set `WEBSITE_NODE_DEFAULT_VERSION` for all Linux apps"
**Describe the bug**
az function app should not set WEBSITE_NODE_DEFAULT_VERSION for Linux function apps
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2438

**To Reproduce**
Create a Linux function app. Notice that the app setting `WEBSITE_NODE_DEFAULT_VERSION` is being set, but should not be the case.

**Expected behavior**
The app setti

[2020-03-03 17:35] Francisco-Gamino commented on #12429
cc: @gzuber @pragnagopa @ankitkumarr

[2020-03-03 17:51] Francisco-Gamino opened #12430 "az function app should not set `FUNCTIONS_EXTENSION_VERSION` for function apps with custom docker images"
**Describe the bug**
az function app should not set `FUNCTIONS_EXTENSION_VERSION` for function apps with custom docker images

This is the line of code that sets the function app setting
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2434

[2020-03-03 17:52] Francisco-Gamino commented on #12430
cc: @gzuber @pragnagopa @ankitkumarr

[2020-03-03 18:10] jongio commented on #12070
@qianwens  - Why closed?

[2020-03-03 19:11] a-vishar commented on #12409
Duplicate of https://github.com/Azure/azure-cli/issues/12313

[2020-03-03 19:11] #12409 closed

[2020-03-03 19:42] a-vishar commented on #11942
"correlationId": "3e132999-4a0b-4c28-ac29-3aeabf042adc"
Time: 4 minutes.

[2020-03-03 19:46] brandonh-msft commented on #11590
I don't think a network issue would result in an HTTP 400; it'd be something else like "connection refused" / "could not connect"

[2020-03-03 19:53] brandonh-msft commented on #11590
`az account list` works fine:

[code]

[2020-03-03 20:10] jbmitchell commented on #12412
It looks like the max value for years is (9999-current_year), or currently `7979`.

[code]

[2020-03-04 00:03] yonzhan commented on #12427
webapp

[2020-03-04 00:03] scbedd opened #12433 "Upload-Batch with Write-Policy SAS Token Fails"
Command:

[code]

Which results in

[code]

I am including the full SAS token. The SAS token takes the form

`?sv=2018-03-28&si=SAS-Write&sr=c&sig=<signature here>`

If I remove everything except the signature, the `si is not recognized...` error doesn't occur, but I still see the `resource does not exist` error.

I have successfully tried swapping to `--connection-string` instead of `--sas-token`

[2020-03-04 00:05] yonzhan commented on #12428
@fengzhou-msft  please take a look.

[2020-03-04 00:06] yonzhan commented on #12429
functionapp.

[2020-03-04 00:07] yonzhan commented on #12430
functionapp

[2020-03-04 00:13] Zaita commented on #12273
[code]

Seeing this with the official docker image: mcr.microsoft.com/azure-cli:latest

[2020-03-04 00:20] scbedd commented on #12433
I did try URL decoding the SAS token just in case it was related to that. Tried both full token as well as just the signature.

[2020-03-04 00:27] yonzhan commented on #12433
add to S167

[2020-03-04 00:31] scbedd commented on #12433
@yonzhan what does the `add to S167` mean? By this I mean what is the significance of adding it to that milestone?

[2020-03-04 00:37] yonzhan commented on #12433
https://github.com/Azure/azure-cli/milestones

[2020-03-04 01:43] #11667 closed

[2020-03-04 01:50] qianwens commented on #12070
Hi @jongio , I was trying to clean up some issues that are out-of-date. I closed this issue because I thought Jiashuo has answered the question and there is no response for several weeks. It seems this issue is used to track the bug to not show warnings in quite mode in CLI, let's keep it open. I will sync up with Jiashuo about the status.

[2020-03-04 02:04] #12307 closed

[2020-03-04 02:08] #12285 closed

[2020-03-04 02:08] #12373 closed

[2020-03-04 02:19] zhoxing-ms commented on #11942
@ifeoluwaokunoren Could you please help to see the problem again? What's the difference in detail between the time consumption on Service for the operations associated with these two correlationids?

[2020-03-04 02:26] MyronFanQiu commented on #12189
@tfedalto Could you share an example about the file path and an tiny example about the content which cause this issue? We can have a further investigation.

[2020-03-04 02:31] jiasli commented on #11668
I didn't get error running this command, and CLI receives the argument correctly.

[code]

Could you share the real command? I doubt there may be special characters in `STRING`.

We have a doc talking about quoting issues in PowerShell terminal: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues

[2020-03-04 02:34] zhoxing-ms commented on #11942
@a-vishar

Is this time-consuming only the time of resource moving or the time of whole process? (The time of the whole process refers to the time from moving resources to deleting resource group under the same operation)?

[2020-03-04 02:46] qwordy commented on #11645
Glad to hear that!

[2020-03-04 02:46] #11645 closed

[2020-03-04 02:50] jiasli commented on #11668
My Windows 10 is 1909 and has PowerShell Core installed:

[code]

[code]

[code]

This issue doesn't occur on any of these versions. CLI receives the arguments correctly:

[code]

While @qianwens's solution is correct for old versions of PowerShell, you may also update the Windows or PowerShell version to solve this.

In addition, we have a doc talking about quoting issues in PowerShell terminal:

[2020-03-04 02:57] jsntcy opened #12434 "[Breadth Coverage] Onboard StorageCache Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EcJFauYB7JdHovw2P13_9_0B3hM6cI7G7Mk174gZFB4wiQ?e=KH8s1j

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/194

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.StorageCache

**Description of Feature or Work Requested**
Support Azure CLI com

[2020-03-04 03:02] yonzhan commented on #12434
add to S167.

[2020-03-04 04:18] jorgecarleitao opened #12438 "Can't enable dashboard on k8s cluster"
## Describe the bug

**Command Name**
`az aks enable-addons --addons kube-dashboard`

**Errors:**
[code]

## To Reproduce:
- create a k8 cluster (without RBAC)
- `az aks browse --resource-group gitlab --name k8-test` will ask you to run `az aks enable-addons --addons kube-dashboard`.
- `az aks enable-addons --resource-group {} --name {} --addons kube-dashboard` causes the crash above.

## Expected

[2020-03-04 04:39] #12386 closed

[2020-03-04 05:36] raswinraaj commented on #10434
What was the fix for this @rgherta ? I am also getting the same error?

[2020-03-04 05:59] yonzhan commented on #12438
aks

[2020-03-04 06:13] v-Ajnava commented on #12406
Hi @bartjanson,  thanks for details, I will investigate the issue and will submit a PR with fix.

[2020-03-04 06:21] rgherta commented on #10434
Create a file called myfile.json then in the cmd navigate to the folder where this file resides and call the az command like az collection update ..... @policy-file.json

[2020-03-04 07:12] KatjaBF commented on #11168
Hi!
I tested the command ` az rest --method PATCH --headers "Content-Type=application/json" --uri https://graph.microsoft.com/v1.0/applications/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/ --body '{"api":{"requestedAccessTokenVersion": 2}}'`. It works. Thanks

[2020-03-04 08:04] qianwens commented on #11775
@Kalyan-Alamuru , this is a known issue in cloudshell that you may meet transient error like this, do you consistently meet this error? You may try to run `az login` in cloudshell and try this command again.

[2020-03-04 08:06] poseidon0206 opened #12441 "az login --identity freezes then times out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity --debug`

## Expected Behavior
exit zero with active subscr

[2020-03-04 08:13] qianwens commented on #11210
@jiasli please help investigate if this is a cli issue or service issue.

[2020-03-04 08:23] qianwens commented on #11118
Hi @Spyntek , we cannot repro in our environment. Could you please help provide the complete command for us to investigate?

[2020-03-04 08:24] bartjanson commented on #12406
Ajit,

just ask if there is something I can help you with.

Met vriendelijke groet,

Bart Janson
Processfive

E: b.janson@processfive.com <bart.janson@processfive.com>
I: www.processfive.com
M: 06 414 33 55 9
Vrijdagen altijd afwezig

On Wed, 4 Mar 2020 at 07:13, Ajit Navasare <notifications@github.com> wrote:

[2020-03-04 08:34] jiasli commented on #11150
I have fixed `az login` hang issue in https://github.com/Azure/azure-cli/pull/10955. If the account doesn't have access, instead of hanging, CLI will show

If you still see this issue, please run `az login --debug` and share the result to my email <my_github_id>@microsoft.com

[2020-03-04 08:34] #11150 closed

[2020-03-04 08:38] zhoxing-ms commented on #12103
Because I haven't received any reply for a long time, I will close this issue first. If you still have questions, please feel free to give feedback.

[2020-03-04 08:38] #12103 closed

[2020-03-04 08:52] fengzhou-msft commented on #12407
Thanks for submitting the issue. We had a similiar issue: #11396 and this PR: #12208 will reduce the image size in version 2.2.0. The image size will be about 667 MB.

[2020-03-04 10:58] NiryaAestus commented on #12001
Ok thaink you. No I don't any other questions.

[2020-03-04 11:17] justSteve commented on #9345
I'm getting this error via the Azure Cloud Shell from MS Terminal (Preview).  I've been running lots of other 'create' scripts on other services with no problem so I'm logged in. I've rebooted and returned to terminal's shell as a first stop and still get same error.

Running **az keyvault list** will return an empty array.

[2020-03-04 11:29] justSteve commented on #12423
Getting same -- reported to https://github.com/Azure/azure-cli/issues/9345

[2020-03-04 12:02] yonzhan commented on #12441
add to S167.

[2020-03-04 13:10] uda commented on #12046
Thanks @goodwillhacking, I did that initially, but since the package is constantly being updated, it gets overwritten every time, so I got tired from doing it every week or two

[2020-03-04 13:18] julianosecondo commented on #12273
Same issue here

azure-cli                          2.1.0

command-modules-nspkg              2.0.3
core                               2.1.0
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/opt/az/bin/python3'
Extensions directory '/home/juliano/.azure/cliextensions'

Python (Linux) 3.6.5 (default, Feb 14 2020, 05:23:22)
[GCC 9.2.1 20191008]

[2020-03-04 13:32] qwordy commented on #12423
We'll investigate it

[2020-03-04 14:06] droessmj opened #12443 "Api-version 2020-03-01 is not supported"
**Describe the bug**
Az CLI defaults to using an API version not yet supported by the ARM backend.

**To Reproduce**
1. Azure DevOps hosted agent windows-2019
2. Az CLI v. 2.1.0.
3. Run the following command
[code]
4. Error returned: "Api-version 2020-03-01 is not supported"

**Expected behavior**
Subnet is added as allowed to target storage account resource.

**Environment summary**
See steps to

[2020-03-04 14:46] vrondan1983 opened #12444 "can create snapshot and image to another subs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2020-03-04 14:46] nicotruc opened #12445 "Command when creating identity for Terraform"
## Describe the bug
Tried to launch az ad sp create-for-rbac command to register a cliend id/secret for Terraform, but command failed

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-f

[2020-03-04 14:53] mpuhacz commented on #12441
The same thing happens using Azure Python SDK.
[code]

[2020-03-04 15:41] a-vishar commented on #11942
That was only the move.  I did delete the resource later (when I remembered ~ 30 minutes later), but the time stated is for the move to be marked as complete.

[2020-03-04 15:49] fengzhou-msft commented on #12390
This warning comes from a dependency SDK azure-storage-blob==1.5.0. We will check with newer versions.

[2020-03-04 16:16] vveider opened #12446 "az executable is not found"
**Describe the bug**
After installation on Windows 10 attempt to run from CMD exits with
[code]

Installed from https://aka.ms/installazurecliwindows
Rebooted after install

[2020-03-04 16:29] mgeorgebrown89 commented on #6080
Just adding that for me, this happens regardless of the command, but any time there is a failure or a warning, all the output from then on turns either red or yellow, including the prompt.

[2020-03-04 16:33] nitrosx opened #12447 "consecutive set-tier commands errors with "Too many files open""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob set-tier`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob set-tier --container-name {} --account-name {}

[2020-03-04 17:14] boillodmanuel commented on #10190
This happens when the account storage has a firewall.
In my case, the I allow Azure Services to bypass the firewall, so I expect the CLI could bypass it, but it doesn't.
For me, it's an issue

[2020-03-04 17:42] LouisKottmann commented on #12193
I ran into this as well, I had to hack around it and put `2>/dev/null` to use the generate-sas subcommand in a script.

[2020-03-04 17:52] CraigRubendall commented on #4897
I'm running into an issue with the proposed workaround of using az resource delete --tag.

It seems the use of the --tag option is not compatible with either the --resource-group option nor having a location set.   That seems to make the request a lot more risky than I had hoped.

Am I missing some capability or is this the way it works?  It still is not very user friendly to have to use a differe

[2020-03-04 18:10] aaronyeung opened #12449 "Unable to add multiple custom-routes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
azure-cli does not support multiple custom-routes (but works with the Set-AzVirtualNetworkGateway PS cmdlet)

**Command Name**
`az network vnet-gateway update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive infor

[2020-03-04 20:08] dkamstra commented on #10417
Just closing the loop here. The functionality was delivered. This issue is #closed

[2020-03-04 20:40] intolerance commented on #6409
Thanks @derekperkins and @joshuaheslin ,

I was able to simply run `brew reinstall azure-cli` and I was able to login using `az login` again with no issues.

[2020-03-04 21:08] keithbabinec commented on #9867
Ran into this issue today, same error w/ the AzureRM and Az PS cmdlets. I do see the workaround above but it would be nice to have the underlying service bug fixed.

[2020-03-04 22:55] ovidiu10 commented on #12009
thanks

[2020-03-05 00:00] brandonh-msft opened #12451 "How do you disable/turn off logging?"
Is it possible? If so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c237378a-a708-8e2f-3c8c-0bc8b623d21c
* Version Independent ID: c4e27b67-9605-60f5-899d-8ffd727079b2
* Content: [az storage logging](https://docs.microsoft.com/en-us/cli/azure/storage/logging?view=azure-cli-latest#feedback)
* Content Source: [src

[2020-03-05 00:02] yungezz commented on #12451
HI @Juliehzl could you pls have a look? thanks

[2020-03-05 00:03] yungezz commented on #12449
HI @MyronFanQiu could you pls have a look? thanks

[2020-03-05 00:03] yungezz commented on #12447
HI @Juliehzl could you pls have a look? thanks

[2020-03-05 00:04] yungezz commented on #12446
HI @fengzhou-msft  could you pls have a look? thanks

[2020-03-05 00:05] yungezz commented on #12445
HI @arrownj  could you pls have a look? thanks

[2020-03-05 00:05] brandonh-msft commented on #12451
flagging `--retention 0` doesn't disable the logging, only the retention. an `az storage logging show` after doing this yields:
[code]

[2020-03-05 00:06] yungezz commented on #12444
HI @qwordy  could you pls have a look? thanks

[2020-03-05 00:06] yungezz commented on #12443
HI @Juliehzl could you pls have a look? thanks

[2020-03-05 00:25] yonzhan commented on #10190
add to S167.

[2020-03-05 01:31] yonzhan commented on #12449
add to S167.

[2020-03-05 01:33] yonzhan commented on #12447
add to S167.

[2020-03-05 01:34] yonzhan commented on #12451
add to S167.

[2020-03-05 01:37] yonzhan commented on #12443
add to S167

[2020-03-05 01:59] #12251 closed

[2020-03-05 02:49] arrownj commented on #11590
Hi @brandonh-msft , `az accout list` would only retrieve data from local cache, there is no web request for this command. Could you please try another command such as `az ad group create` with --debug ? And there is no problem with the `localhost` url for MSI authentication, it will do some redirect thing in background.

[2020-03-05 02:58] jsntcy opened #12452 "[Breadth Coverage] Onboard CustomProviders Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/Eea4hlXnO9pEjdvll9fxJ8ABfwn3NXpSo3Eo21KQYy3qIQ?e=9EcrDd

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/150

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.CustomProviders

**Description of Feature or Work Requested**
Support Azure CLI

[2020-03-05 03:32] yonzhan commented on #12452
add to S167.

[2020-03-05 04:10] jiasli commented on #11590
Same issue as https://github.com/Azure/azure-cli/issues/11749

`400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token` is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-03-05 05:04] fengzhou-msft commented on #12446
@vveider can you check if you have az installed in C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2? The installation should add the directory to path if no error occured.

[2020-03-05 06:29] zhoxing-ms commented on #12063
Because I haven't received any reply for a long time, I will close this issue first. If you still have questions, please feel free to give feedback.

[2020-03-05 06:29] #12063 closed

[2020-03-05 06:38] jiasli commented on #12441
The log shows that `Connection to management.azure.com timed out. (connect timeout=100)`. It seems `management.azure.com` is blocked by your firewall.

Could you test whether you can connect to `management.azure.com`?

[code]

[2020-03-05 07:00] vveider commented on #12446
I see `az` installed under `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin`.

PATH was not modified during installation, had to manually add path to binaries (see screenshot).
<img width="527" alt="Screenshot 2020-03-05 at 09 59 03" src="https://user-images.githubusercontent.com/2734985/75956027-1959b100-5ec8-11ea-8f9a-551da8b9f829.png">

[2020-03-05 07:21] crgarcia12 opened #12456 "az aks create: No registered resource provider found for location 'eastus' and API version '2015-11-01-preview' for type 'applicationGateways'."
**Describe the bug**
No registered resource provider found for location 'eastus' and API version '2015-11-01-preview' for type 'applicationGateways'. The supported api-versions are '2014-12-01-preview, 2015-05-01-preview, 2015-06-15, 2016-03-30, 2016-06-01, 2016-07-01, 2016-08-01, 2016-09-01, 2016-10-01, 2016-11-01, 2016-12-01, 2017-03-01, 2017-04-01, 2017-06-01, 2017-08-01, 2017-09-01, 2017-10-01

[2020-03-05 07:35] yonzhan commented on #12456
aks

[2020-03-05 07:43] yonzhan commented on #11833
@winthrop28 any update?

[2020-03-05 07:44] crgarcia12 commented on #12456
I found the issue. It is my mistake

I was getting $WorkSpaceIdUrl from `az group deployment ..... --query ....` and the query sometimes brings the app gateway uri (depending on how the deployment happened). Since this was in a pipeline I could not really see that value

I am not sure if you want to close the issue as "user has no clue what it is doing :)" or if you can improve the error message i

[2020-03-05 08:13] yungezz commented on #11533
HI @kotharij could you pls share more context on your vmss extensions setup? we did a fix to avoid NoneType exception but show empty to indicate no extension. Need your input on the specific case to figure out why no extension found. thanks.

[2020-03-05 08:14] zhoxing-ms commented on #7431
@kamranayub  Sorry, this command is not recommended to use JSON files because the parameter structure passed in is not complex. The problem you want to solve is that you don't want to expose parameters during execution?

[2020-03-05 08:26] zhoxing-ms commented on #11616
@dmvtech Any update?

[2020-03-05 09:48] rinaldochristy commented on #12310
Hi @AllonJunior ,

I was able to solve this problem by creating an environment variable as described in the link below:

https://stackoverflow.com/questions/20500613/how-to-set-a-proxy-for-the-azure-cli-command-line-tool

[2020-03-05 09:48] #12310 closed

[2020-03-05 09:58] zhoxing-ms commented on #11942
@a-vishar Hello, could you please follow the progress of `Moving Resource` from notifications tab? After execution, there will be a prompt above and the execution end time(like: ... minutes ago).
Subtracting the start time from the end time on notifications tab is the actual time of the move. Please tell me how long it takes (note the time to include validation), thank you~

[2020-03-05 09:59] jiasli commented on #12310
Please make sure the python environment has internet access:

[code]

More information on proxy-related issue: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2020-03-05 10:24] #12014 closed

[2020-03-05 10:27] yonzhan commented on #6466
@zezha-msft any update?

[2020-03-05 10:30] flobeier opened #12458 "Running 'az consumption usage list' fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az consumption usage list --subscription {}`

## Expected Behavior
Command doesn't throw a python erro

[2020-03-05 10:39] yonzhan commented on #12458
consumption

[2020-03-05 10:46] yonzhan commented on #8016
@sandipsh any further update?

[2020-03-05 10:48] yonzhan commented on #11457
@ifeoluwaokunoren any update for this issue?

[2020-03-05 10:50] yonzhan commented on #12009
@alex-frankel @filizt @anthony-c-martin  any update for this issue?

[2020-03-05 10:58] rinaldochristy commented on #12310
Hi @jiasli ,

This is what I get when I run the cmdlet you sent me:

PS C:\WINDOWS\system32> python -c "import urllib.request; print(urllib.request.urlopen('https://www.azure.com/').info())"
Cache-Control: no-cache
Keep-Alive: timeout=10, max=100
Pragma: no-cache
Content-Length: 251649
Content-Type: text/html; charset=utf-8
Expires: -1
Set-Cookie: userInfo={"guid":"24366D7F69CB6078222B63FB68BA6102

[2020-03-05 10:59] #10673 closed

[2020-03-05 11:00] yonzhan commented on #10673
PR merged and will be released in this Sprint.

[2020-03-05 11:14] yonzhan commented on #11168
Pending for customer feedback.

[2020-03-05 11:16] kenzoohba opened #12459 "[az vm create] "ssh-dest-key-path" does not work properly"
az version is 3.4.0

**Describe the bug**
"--ssh-dest-key-path" for "az vm create" work only with "/home/azureuser/.ssh/authorized_keys"
the option should be work with specific path as user's intended

**To Reproduce**
az vm create --resource-group myResourceGroup --name myVM --image UbuntuLTS --admin-username azureuser --generate-ssh-keys --ssh-dest-key-path './'

**Expected behavior**
create key

[2020-03-05 11:18] yonzhan commented on #12459
@qwordy please take a look.

[2020-03-05 11:31] IanKemp commented on #8388
Come ON, Microsoft. How difficult is it to fix this?

[2020-03-05 12:23] iamdevpk opened #12460 "Not able to deploy .Zip package to Azure App service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-03-05 12:30] yonzhan commented on #12460
webapp

[2020-03-05 12:46] kamranayub commented on #7431
To me it seems more of an automation and PowerShell parity issue. It's hard to write automation that sets a list of CORS rules using az CLI, as you can see by the Pluralsight clip I mentioned before. With PowerShell it's quite easy to do but if writing automation using az CLI it's a huge pain.

The feature doesn't necessarily need to be implemented if the documentation could provide an example of

[2020-03-05 13:21] juyama commented on #12459
It seems that '--ssh-dest-key-path' property is not implemented. I found it in test code (e.g. test_vm_** file) only...

[2020-03-05 14:32] Cr4zyJoe opened #12461 "Issue when creating a vmss using an existing LB ID"
Hi,

When I create a VM scale set using "az vmss create" and passing an existing load balancer resource ID, I've got an error indicating that the command actually considers whatever is passed to -lb parameter as a name and not a resouce ID.

Error message:

`The template resource '/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.Network/loadBalancers/name-of-lb' for type 'Microsoft.Window

[2020-03-05 14:33] droessmj commented on #12443
Original input is inaccurate. Further digging on our end has actually narrowed the call down to this function, where the resourceId parameter is a fully qualified subnetId.

[code]

Behavior appears to be intermittent, leading me to believe it's an inconsistency in the backend ARM provider rather than an issue inherent with the CLI itself.

[2020-03-05 14:44] alohaninja opened #12462 "Stopping Web Job doesn't work when using Run-From-Package"
Please let people know that you [cannot stop or disable webjobs when using the `WEBSITE_RUN_FROM_PACAKGE` app setting enabled](https://github.com/Azure/azure-webjobs-sdk/issues/2389) as it locks the filesystem preventing this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9169e28-f731-4772-6aa5-865c7f480a35
*

[2020-03-05 16:58] #12456 closed

[2020-03-05 17:11] a-vishar opened #12463 "The api-version query parameter (?api-version=) is required for all requests."
**Describe the bug**
Calling `az resource tag` results in this error: "The api-version query parameter (?api-version=) is required for all requests."

**To Reproduce**
az resource tag --tags ServiceName='TAGVALUE' --ids '/subscriptions/SUBSCRIPTIONID/resourceGroups/GROUPNAME/providers/Microsoft.Web/certificates/72B7597AD09DB99A2DFDCAB3D50F8C4935475231#CERTIFICATENAME-WestEuropewebspace'

**Expecte

[2020-03-05 17:20] brandonh-msft commented on #11590
I _have_ run `az login` ...

[2020-03-05 17:23] danielmkn commented on #12207
@imaskm, if you're looking for the temporary workaround, it's here: https://github.com/Azure/azure-cli/issues/12315
It helped me to resolve my issue.

[2020-03-05 18:45] WSGomes11 opened #12465 "Query for AppGW WAF rules"
Hi, is there a way to query the .conf files from Azure WAF Rules? I'd like to validate the regular expressions. The "az network application-gateway waf-config list-rule-sets --group '*' --type OWASP --version 3.0" just list the rule names.

The RegEx showed by Log Analitycs "details_message_S" collum does not match the pattern displayed on "details_data_s"

I want to check the rules/REQUEST-942-AP

[2020-03-05 20:51] mztriz opened #12466 "SSL failure with variable AZURE_CLI_DISABLE_CONNECTION_VERIFICATION set on az contianer exec"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
SSL failure with variable AZURE_CLI_DISABLE_CONNECTION_VERIFICATION set on az contianer exec
AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2020-03-05 21:09] mryan1539 opened #12468 "RPM /usr/bin/az relies on PATH for python3"
The /usr/bin/az shell script wrapper in the RPM doesn't use a full path to the OS python.  This means, if the user has another python in their PATH, the az command may fail.  In particular, I've noticed this against an alternate build of python3 that doesn't have CFFI, where `az acr login -n REGNAME` fails with a traceback.

I note that python commands that come with CentOS/RHEL encode it as an ab

[2020-03-05 22:30] multiplexer2 opened #12469 "Adding Fairplay content-key-policy fails due to problems with 'ask' parameter"
The command:
`az ams content-key-policy option add <various fairplay options> --ask "1234567890abcdef1234567890abcdef"`
Produces the following error:
(BadRequest) FairPlay configuration must have ASK. ASK must be 16 bytes.

It's expecting a byte array of 16 bytes as opposed to a normal hexadecimal ask string with 32 characters. This problem seems to have been fixed with the merging of [PR #10627](

[2020-03-05 23:25] 01011011 opened #12470 "Trying to create SF cluster using azure CLI fails."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster create -g {} -c {} -l {} --cluster-size {} --vm-passw

[2020-03-05 23:46] hiteshmadan opened #12471 "az rest does not work against dogfood"
## Describe the bug
I registered and used the dogfood environment (steps in the how to reproduce section below).
After this, az rest to even do a List Resource groups does not work.

**Command Name**
`az rest --method get --uri "https://api-dogfood.resources.windows-int.net/subscriptions/d48566a8-2428-4a6c-8347-9675d09fb851/resourcegroups?api-version=2019-10-01"`

**Errors:**
[code]

## To Reprodu

[2020-03-06 00:00] yonzhan commented on #12461
@qwordy please take a look.

[2020-03-06 00:01] yonzhan commented on #12462
webapp

[2020-03-06 00:02] yonzhan commented on #12463
add to S167.

[2020-03-06 00:07] hiteshmadan opened #12472 "az rest does not honor --query / --output global parameters"
## Describe the bug
Adding --query or --output to an otherwise successful az rest command ends up suppressing stdout output. If these params are not present, a valid json response is seen.

**Command Name**
`az rest --method get --uri subscriptions/0d28f770-f3bc-4939-b759-82c2243deb4b/resourcegroups?api-version=2019-10-01 --query [].{N:name,L:location} --output table`

**Errors:**
empty output

##

[2020-03-06 00:42] yungezz commented on #12472
HI @zhoxing-ms could you pls have a look? thanks.

[2020-03-06 00:43] yungezz commented on #12471
HI @zhoxing-ms could you pls have a look? thanks.

[2020-03-06 00:45] yungezz commented on #12470
thanks for reporting, we're looking at it.

[2020-03-06 00:47] yungezz commented on #12469
thanks for reporting, we'll look at it.

[2020-03-06 00:49] yungezz commented on #12468
hi @fengzhou-msft could you pls help to look at the issue? Thanks.

[2020-03-06 00:56] haroldrandom commented on #8912
done. Added _Graph_ label. Correct me if wrong.

[2020-03-06 01:14] poseidon0206 commented on #12441
Hi @jiasli ,

The curl command times out as well:
[code]
this is a VM in Azure, where else can I check for the firewall settings?

[2020-03-06 01:26] #11599 closed

[2020-03-06 01:57] roy-work opened #12473 "az vm create attempts to modify vnets/subnets?"
**Describe the bug**

An `az vm create` command we are attempting to run fails, because it cannot modify the address space of a peered vnet. But it should never have been trying to do that in the first place — it's supposed to be creating a *VM* — not modifying a vnet. **Why does the following `az vm create` attempt to modify an existing vnet/subnet?**

We are running a command similar to the foll

[2020-03-06 02:07] nkiest commented on #8010
We have REST API support, but are still working to enable powershell and CLI.

[2020-03-06 02:09] nkiest commented on #8010
https://docs.microsoft.com/en-us/rest/api/monitor/subscriptiondiagnosticsettings/createorupdate

[2020-03-06 02:17] arrownj commented on #11594
Hi @astaykov @zincob , the allowed value is defined in swagger file (https://github.com/Azure/azure-rest-api-specs/blob/729474ae2b674d2ddfc4d5d8e990318d87f04202/specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/authorization-RoleAssignmentsCalls.json#L511). We will try to find out whether the definition is wrong or there is some usage tricks.

[2020-03-06 02:47] #12147 closed

[2020-03-06 02:56] qwordy commented on #12424
Thank you for the feedback. I know ${} is a valid bash syntax. But {} has appeared many times in _help.py. And it is also easy to understand. Users should replace {vms_ids} with real VM IDs when using this command. I think we can keep the current style.

[2020-03-06 03:16] zhoxing-ms commented on #7431
Sorry, Pluralsight is a paid website that requires payment channels outside of China, which I haven't handled these payment channels before. So I can't see it.
The JSON data is currently not recommended on this command, and I'll see if there are other solutions.

[2020-03-06 03:18] jiasli commented on #12441
Please make sure the NSG is not blocking internet outbound connections. Since **Azure Management API** is not included as an NSG **destination service tag** yet, you need to allow **Internet** access.

Also, it may be due to force tunneling traffic to on-prem firewall using Express Route or Network Virtual Appliance - a default route (0.0.0.0/0) which forces all traffic from the subnet to flow thr

[2020-03-06 03:18] zhoxing-ms commented on #7431
@kamranayub I want to make sure that your problem is that it's difficult to parse the data in JSON in an automated script and then split it up into the parameters of azure-cli command, right?
If so, Could you please give me a specific JSON example that is difficult to parse?

[2020-03-06 03:39] jiasli commented on #12412
Azure CLI uses Python's built-in function `relativedelta` to compute the `app_end_date`.

https://github.com/Azure/azure-cli/blob/1c0e9c3e18c34116d5a2e25cb7460d1af8a85969/src/azure-cli/azure/cli/command_modules/role/custom.py#L1301

[datetime.py](https://github.com/python/cpython/blob/ce305d641074931e4e790f7a83e28f74910644e5/Lib/datetime.py#L19) defines
[code]

So yes. The max value for `--year` i

[2020-03-06 03:39] #12412 closed

[2020-03-06 03:49] #12428 closed

[2020-03-06 03:55] poseidon0206 commented on #12441
I'm sorry, I forgot to mention that the machine is behind a load balancer, does that have anything to do with this issue?

[2020-03-06 04:19] yonzhan commented on #12465
add to S167.

[2020-03-06 04:19] jiasli opened #12476 "az vm create: --nsg_rule's value is not used"
`az vm create`'s `--nsg_rule` doesn't make it way to the deployment.

https://github.com/Azure/azure-cli/blob/e23571160166610197328144ea668017324ec2f7/src/azure-cli/azure/cli/command_modules/vm/custom.py#L586

Also, `--nsg_rule` should support `none` like

[code]

so that the NSG can be created without public internet inbound rule.

[2020-03-06 04:20] jiasli commented on #12476
@qwordy please help take a look.

[2020-03-06 04:23] poseidon0206 commented on #12441
Hi,

I've followed the instructions found [here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview) and it's working now. You are right, it is a firewall issue.

I had the machines behind an internal load balancer, so I needed to create a public load balancer (without port mapping) with outbound rules for this to work.

[2020-03-06 04:23] #12441 closed

[2020-03-06 04:50] MyronFanQiu commented on #12465
@WSGomes11 Hi. Looks like we don't have command to show the details of .conf files. Based on the documentation, the concept should be general which is not created by Azure. https://docs.microsoft.com/en-gb/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules?tabs=owasp31#crs911-31. I will add service attention label and invite them to take a look.

[2020-03-06 04:51] MyronFanQiu commented on #12465
@winthrop28 could you take a look at this issue?

[2020-03-06 05:58] pvrk commented on #11266
@lserpietri : As Sambit mentioned, please pass the full VM resource ID in the parameter. It is also documented [here](https://docs.microsoft.com/azure/backup/quick-backup-vm-cli#enable-backup-for-an-azure-vm) as a note.

[2020-03-06 05:58] pvrk commented on #11266
Closing this since documentation is present.

[2020-03-06 05:58] #11266 closed

[2020-03-06 05:59] pvrk commented on #11400
@chainfir3 : Please let us know if you are able to reproduce the issue.

[2020-03-06 06:04] pvrk commented on #11225
@jannyg : We are not able to reproduce this error on our side. Can you please let us know if you are able to re-produce this? Adding @sambitratha for info.

[2020-03-06 06:06] pvrk commented on #11107
We have updated CLI, PS versions and released compatible SDKs by end of Nov. Thanks for verifying. Closing this issue.

[2020-03-06 06:06] #11107 closed

[2020-03-06 06:07] yonzhan commented on #12472
add to S167

[2020-03-06 06:12] SnoWolfT commented on #12119
Open the ICM to PG. PG suggests to update the steps to reproduce the issue in this Github link. Follow this to fix the error handling issue in azure cli.

I make tests and find this issue can be reproduced as below. The value/list of loadBalancerInboundNatPools is empty. So when the command tries to “remove” the index 0 of the empty property, “loadBalancerInboundNatPools”, the error message will b

[2020-03-06 06:27] pvrk commented on #12225
This command is not applicable to Azure File share. Protectable items are only for DBs such as SQL and HANA. The help text seems to be wrong. Will update the help text and examples.

[2020-03-06 06:29] pvrk commented on #11141
Will update the help text for the March 30th release.

[2020-03-06 06:29] #11141 closed

[2020-03-06 07:44] jiasli commented on #12283
As instructed by https://humanfriendly.readthedocs.io/en/latest/api.html#id12:

The latest version on pypi is 8.0: https://pypi.org/project/humanfriendly/

Is it good if we pin to `~=8.0`?

[2020-03-06 07:52] glaubitz commented on #12283
Does it really have to be this ```~=``` mechanism? The Python system to not only specify a minimum but also a maximum version is always problematic for Linux distributions since other packages are eventually being updated.

But I guess ```~=8.0``` is okay.

(I have never understood why many Python developers can't keep their APIs stable like it's been good practice in C/C++ for decades :()

[2020-03-06 08:04] qwordy commented on #12476
I find nsg_rule is never used. Interesting.

[2020-03-06 08:18] jiasli commented on #12283
I agree on the Python module's breaking change part. I can see from https://pkgs.org/download/python3-humanfriendly that different Linux distributions has different versions of humanfriendly. If we don't use `~=`, different versions of humanfriendly **may** not be compatible and cause problems.

At least for the usage of `Spinner` in Azure CLI, 8.0 is compatible with 4.0, but with 8.0 we need to d

[2020-03-06 08:28] glaubitz commented on #12283
I think you can use ```~=8.0``` because in the end there is currently no alternative since ```humanfriendly``` doesn't guarantee to be backwards-comptaible in future versions.

[2020-03-06 08:38] jiasli commented on #12283
Will it break the installation on openSUSE? Since it doesn't seem to have the latest 8.0.

[2020-03-06 09:23] pvrk commented on #12225
Will update the help text for the March 30th release.

[2020-03-06 09:23] #12225 closed

[2020-03-06 09:25] pvrk commented on #11225
Can re-open the issue with details, if it re-produces. Can't reproduce internally.

[2020-03-06 09:25] #11225 closed

[2020-03-06 09:28] mihaimircea commented on #11916
Hi, see this issue as well. I deleted a workspace in North Europe and after several hours it fails to create complaining that
`Code="Conflict" Message="The workspace name 'worspace name here' is not unique" Target="name"`

[2020-03-06 09:34] MyronFanQiu commented on #12001
@NiryaAestus Thanks for raising this issue. Actually some of our team members are trying to support such usage. But it should be a big feature and need some time to design and implement. I close this issue first.

[2020-03-06 09:34] #12001 closed

[2020-03-06 09:37] MyronFanQiu commented on #12079
@kylecweeks Hi kindly ping?

[2020-03-06 09:41] pvrk commented on #11565
@bim-msft : Please re-label to key vault team. We don't deal with backup of key vault certificates yet.

[2020-03-06 10:05] webyxdesign opened #12478 "'failover' is not in the 'az storage account' command group"
As mentioned here   https://docs.microsoft.com/en-us/azure/storage/common/storage-initiate-account-failover?tabs=azure-cli   the failover should be triggered with

`az storage account show \ --name accountName \ --expand geoReplicationStats`

`az storage account failover \ --name accountName`

I also updated to CLI 2.1.0 - but I am getting the same result.

### **This is autogenerated. Please revi

[2020-03-06 10:11] Krystof-pl opened #12480 "User creation error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad user create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad user create --display-name {} --user-principal-name {} --passwor

[2020-03-06 10:13] Krystof-pl opened #12482 "User creation error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad user create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad user create --display-name {} --user-principal-name {} --passwor

[2020-03-06 10:33] weis999 opened #12483 "Creating webapp benno-app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2020-03-06 10:37] a-vishar commented on #11942
@zhoxing-ms - Yes, that was ~4 minutes.

[2020-03-06 11:28] srieppo2 commented on #10664
I had the same problem. I ended up adding the VNET integration when creating the appservice with an ARM-template. This template worked for me:

https://github.com/ScottHolden/ARMExamples/blob/master/AppService-VnetNew-Storage/deploy.json

[2020-03-06 11:28] yungezz commented on #12480
hi @jiasli could you pls have a look? thanks.

[2020-03-06 11:28] yungezz commented on #12482
close as duplicate with #12480

[2020-03-06 11:28] #12482 closed

[2020-03-06 11:29] yungezz commented on #12483
Thanks for reporting, we'll look at it

[2020-03-06 11:30] yonzhan commented on #12473
@qwordy please take a look.

[2020-03-06 11:30] yungezz commented on #12478
HI @Juliehzl could you pls have a look? thanks

[2020-03-06 11:50] Kladfizk commented on #6361
Please reopen this is an feature currently i have to copy the files in between the folder or set the path to the same which is not always possible in an enterprise environment

[2020-03-06 12:35] yonzhan commented on #12480
add to S167

[2020-03-06 12:35] WSGomes11 commented on #12465
@MyronFanQiu Thank you for your answer, I was expecting that cause I explored some commands. What is happening: The pure information from Log Analytics doesn't match the pattern found, in some cases I'm using patterns from other fonts, like https://fossies.org/ and https://www.netnea.com/, curiously, some times the patterns from each font are a little bit different, even thinking both are bases on

[2020-03-06 12:36] yonzhan commented on #12478
add to S167

[2020-03-06 12:48] Andree643 commented on #12305
@Juliehzl Thanks, I've found the issue already reported on AzurePowerShellTask. Anyway, there is still a Cli.PostExecute error while batch upload.

[2020-03-06 13:04] ghost opened #12488 "az tag remove-value trims spaces"
**Describe the bug**
When running: `az tag remove-value --name 'TagName' --value 'TagValue' --subscription "SubscriptionName"`, if Tagvalue ends with a space, the space is trimmed.

Also note that symbols (like `%`) are double encoded.

**To Reproduce**
See above

**Expected behavior**
The space should not be trimmed.

**Environment summary**
Windows Powershell

**Additional context**
Both symbols

[2020-03-06 13:08] yonzhan commented on #11634
@btardif any update for this issue?

[2020-03-06 13:17] yonzhan commented on #12488
add to S167.

[2020-03-06 13:20] droessmj commented on #12443
Behavior is no longer occurring, again believed to be a backend issue. Closing issue.

[2020-03-06 13:20] #12443 closed

[2020-03-06 14:11] cpriyanga opened #12489 "aks create failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --vm-set-type {} --load-balanc

[2020-03-06 14:13] cpriyanga commented on #12489
PS C:\Users\pc081g> az aks create --resource-group aksworkshop --name $AKS_CLUSTER_NAME --vm-set-type VirtualMachineScaleSets --load-balancer-sku standard --location eastus --kubernetes-version $VERSION --network-pl
ugin azure --vnet-subnet-id $SUBNET_ID --service-cidr 10.2.0.0/24 --dns-service-ip 10.2.0.10 --docker-bridge-address 172.17.0.1/16 --generate-ssh-keys
SSH key files 'C:\Users\pc081g\.s

[2020-03-06 14:29] yonzhan commented on #12489
aks

[2020-03-06 14:39] lubsey-ai opened #12491 "webapp: Monetizing Machine Learning .. runtime "python|3.6" rejected"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2020-03-06 15:34] yonzhan commented on #12491
webapp

[2020-03-06 16:51] dmvtech commented on #11616
Sorry, no. I haven't been able to test. If you want, i'm fine closing this and can comment or reopen when I have tested.

[2020-03-06 17:51] ksiuda93 opened #12496 "Error occured during container creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {} --ac

[2020-03-06 18:45] mgeorgebrown89 commented on #8722
I'm experiencing a similar issue. I have a .ps1 script called from an Azure Pipelines yml pipeline. I use it to upload two files and there's no problem. I use it to upload 4 files, only the first 2 are uploaded, and then I get a powershell error exit code 1 with no further details. Running this script locally works just fine.

   [CmdletBinding()]
    param(
        [string]
        $sourcesDirect

[2020-03-06 20:45] hytao commented on #11789
The CLI support for Azure CDN rules Engine is in place. Please close this issue.

[2020-03-06 20:49] #11789 closed

[2020-03-06 20:59] KarenHammons commented on #11743
@yonzhan removing Service Attention label since this was internally opened.  @surajmb please close when we're able.

[2020-03-06 21:27] KarenHammons commented on #12465
@WSGomes11 there is no short term plan for this; thank you for the feedback.  Note that we also monitor user requests through Feedback.azure.com (https://feedback.azure.com/forums/217313-networking?category_id=368350) where the user community can share their voice on ideas submitted.  We recommend submitting any feature requests there.  Thank you!

[2020-03-06 21:27] #12465 closed

[2020-03-06 21:34] hytao commented on #8895
No, non of the providers support this feature at the moment. Please reach out to CDN PM(azcdnpm@microsoft.com) team to discuss about this feature request.

[2020-03-06 21:36] KarenHammons commented on #12072
Issue appears resolved; closing.  Please re-comment if there's something we missed.

[2020-03-06 21:36] #12072 closed

[2020-03-06 22:25] sseveringhaus-newclassrooms commented on #12072
@KarenHammons, it doesn't look like either of the issues I brought up have been addressed, at least not in the published documentation. Is there a commit somewhere that resolved this, and perhaps it just hasn't been published yet?

[2020-03-06 23:37] garimpeirodouniverso commented on #12308
Hi, any news? All connections set using "az webapp ssh" command are highly unstable, we just cannot rely on this command to connect to our App Service.

[2020-03-07 01:38] yonzhan commented on #12496
add to S167

[2020-03-07 03:22] #6962 closed

[2020-03-07 03:35] #11765 closed

[2020-03-07 03:35] #9177 closed

[2020-03-07 03:36] #12031 closed

[2020-03-07 03:42] yonzhan commented on #12036
@mathewc any update?

[2020-03-07 03:43] yonzhan commented on #10737
@imabedalghafer any update?

[2020-03-07 03:44] yonzhan commented on #11342
@jtuliani any update?

[2020-03-07 03:45] #11616 closed

[2020-03-07 03:50] yonzhan commented on #11137
move to S167

[2020-03-07 03:51] yonzhan commented on #10230
move to S167

[2020-03-07 03:52] yonzhan commented on #12090
move to S167.

[2020-03-07 03:52] yonzhan commented on #11698
move to S167

[2020-03-07 04:23] yonzhan commented on #4245
@rohinkoul any update for this issue?

[2020-03-07 04:25] yonzhan commented on #1481
@rohinkoul any update for this?

[2020-03-07 05:47] btardif commented on #11923
@yonzhan any progress on this item? looks like it's just getting punted from sprint to sprint

[2020-03-07 06:49] jsntcy opened #12500 "[Breadth Coverage] Onboard ResourceGraph Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EQBmMO-KCIpLs4eiobq2j30BQvIr7UPQ2J2zq3KoVaPxuQ?e=w8hQRc

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/185

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.ResourceGraph

**Description of Feature or Work Requested**
Support Azure CLI co

[2020-03-07 08:13] yonzhan commented on #11923
We are working with document team about this. Will update here if any progress.

[2020-03-07 08:14] yonzhan commented on #12500
add to S167

[2020-03-07 08:34] yonzhan commented on #1636
@Nilambari any update?

[2020-03-07 08:35] yonzhan commented on #2824
@rohinkoul any update for this issue? Can we close it?

[2020-03-07 08:38] yonzhan commented on #11454
move to S167.

[2020-03-07 08:38] yonzhan commented on #11519
move to S167.

[2020-03-07 08:39] yonzhan commented on #11340
move to S167.

[2020-03-07 08:40] yonzhan commented on #5598
move to S167.

[2020-03-07 08:42] #2924 closed

[2020-03-07 10:30] yonzhan commented on #11634
move to S167

[2020-03-07 10:32] yonzhan commented on #11412
move to S167.

[2020-03-07 10:32] yonzhan commented on #11412
@ammanifold any update for this issue?

[2020-03-07 10:32] yonzhan commented on #10229
move to S167.

[2020-03-07 10:33] yonzhan commented on #10229
@thelethalkind, any update for this issue?

[2020-03-07 10:37] yonzhan commented on #9291
move to S167.

[2020-03-07 10:39] yonzhan commented on #11925
move to S167.

[2020-03-07 10:53] #12293 closed

[2020-03-07 10:55] yonzhan commented on #12304
move to S167

[2020-03-07 12:16] jhueppauff commented on #12273
Same issue also within CloudShell

{
  "azure-cli": "2.1.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.1.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}
}

[2020-03-08 01:21] #11775 closed

[2020-03-08 01:28] yonzhan commented on #11783
add to S167

[2020-03-08 02:09] yonzhan commented on #11880
add to S168

[2020-03-08 02:11] yonzhan commented on #11888
add to S168

[2020-03-08 02:13] yonzhan commented on #11901
add to S168

[2020-03-08 02:15] yonzhan commented on #11908
@jongio any feedback?

[2020-03-08 02:19] yonzhan commented on #11927
add to S168

[2020-03-08 02:25] yonzhan commented on #11924
add to S168.

[2020-03-08 02:35] yonzhan commented on #11959
add to S168

[2020-03-08 02:36] yonzhan commented on #11959
@BellaLi, any update?

[2020-03-08 02:37] yonzhan commented on #11956
add to S168

[2020-03-08 02:40] yonzhan commented on #11952
add to S168

[2020-03-08 02:41] yonzhan commented on #11972
add to S168

[2020-03-08 02:43] yonzhan commented on #11969
add to S168

[2020-03-08 02:54] yonzhan commented on #11967
add to S168

[2020-03-08 02:56] yonzhan commented on #11963
add to S168

[2020-03-08 02:57] yonzhan commented on #11985
add to S168

[2020-03-08 02:59] yonzhan commented on #11978
add to S168

[2020-03-08 03:02] yonzhan commented on #11995
add to S168

[2020-03-08 06:08] kirandongara opened #12502 "Getting error in updatimg connectiion string of webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config connection-string set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config connection-string set --name {}

[2020-03-08 06:58] qianwens commented on #11115
Hi @FeodorFitsner , Azure CLI has its own client application id, the question you asked is out of our profession, We would suggest you raise an Azure support request https://azure.microsoft.com/en-us/support/create-ticket/ for this kind of question.

[2020-03-08 07:23] qianwens commented on #11952
@GerhardRuckriegel , this error happens because CLI failed to access endpoint https://storage.googleapis.com/kubernetes-release/release/stable.txt. Could you please help check if you can access this file in your powershell?

[2020-03-08 07:26] qianwens commented on #11959
Close this issue since there is no response for more than 1 month, please help create a new issue if you still have questions.

[2020-03-08 07:26] #11959 closed

[2020-03-08 07:42] qianwens commented on #12105
Hi @krishjag , could you please try again by adding an escape character '\' at the beginning of the password: "\-6fkdUrc:x-]M63JPPosVWJS47cWiiUX" . Or you can try to re-generate a new password since this one has some special characters.

[2020-03-08 07:51] qianwens commented on #12136
@ramniwaschaurasiaTR , it seems that you are trying to login within MSI credential `az login --identity -u {}`. MSI credential login is only supported in Azure VM and you need to assigned a managed identity to the VM https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm#assign-a-user-assigned-identity-during-the-creation-of-a-vm

[2020-03-08 07:55] qianwens commented on #12294
@williamamincey , MSI credential login is only supported in Azure VM and you need to assign a managed identity to the VM https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm#assign-a-user-assigned-identity-during-the-creation-of-a-vm

[2020-03-08 08:31] qianwens commented on #12332
@SimonTheLeg , this is a known issue in python that the leading character '-' will confusing the argument parser to make it as an option name. https://github.com/Azure/azure-cli/issues/7054 . You can fix this issue by adding '=' between the option name and value : `az login --username=$azureUserName --password=$azurePassword`

[2020-03-08 08:34] qianwens commented on #12105
@krishjag , this is a known issue in python that the leading character '-' will confusing the argument parser to make it as an option name. https://github.com/Azure/azure-cli/issues/7054 . You can fix this issue by adding '=' between the option name and value : `az login --username=$azureUserName --password=$azurePassword`

[2020-03-08 09:00] yossi-y commented on #11916
We have seem accidental workspaces deletion that were impactful to customers and introduced a soft-delete mechanism to keep the workspace recoverable for 14 days - the soft-delete is the default behavior. Please look at the [Delete and restore Azure Log Analytics workspace](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace) article to understand the workspace delete me

[2020-03-08 09:06] AhmedAbdoOrtiga commented on #11277
any update?

[2020-03-08 09:31] yonzhan commented on #12502
webapp

[2020-03-08 09:44] yonzhan commented on #11277
add to S167

[2020-03-08 20:13] sandipsh commented on #8016
Sorry for delayed response - I have notified [Cale](https://github.com/calecarter) who made original change to respond.

[2020-03-08 23:20] jongio commented on #11908
I have commented on the PR directly

[2020-03-09 01:11] AbelHu commented on #12304
Thanks.

[2020-03-09 01:11] #12304 closed

[2020-03-09 02:04] jiasli commented on #7054
@jakobfischer17, the code hit here:

https://github.com/Azure/azure-cli/blob/944c0c3b1f30530a280bfaa6b7c7d799e3248f28/src/azure-cli/azure/cli/command_modules/profile/custom.py#L132-L137

It seems `--password` isn't received by Azure CLI correctly.

1. Could you share your user name and password? (Please remove some letters.)
2. What is the system and shell?

[2020-03-09 03:15] zhoxing-ms commented on #12268
@fawohlsc Hi, if you want to lock subnets, the service needs to know which virtualNetworks the subnets belong to. So `--resource` should be `{virtualNetwork-name}/subnets/{subnet-name}` and `--resource-type` should be `Microsoft.Network/virtualNetworks`.
The correct command format is as follows:
`az lock create --name {lock-name} --lock-type ReadOnly --resource-group {resource-group} --resource-ty

[2020-03-09 03:17] zhoxing-ms commented on #12268
@fawohlsc However, I found that there is no entry on portal to support locking subnets granular resources, please help to confirm whether this function is reasonable and needed?
If so, please contact members of the portal team to add the ability to lock subnets granular resources. And I will supplement this example in the CLI help documentation.

[2020-03-09 03:23] Juliehzl commented on #12496
@ksiuda93 Can you check your container name again? please make sure only lowercase included.

[2020-03-09 05:41] MyronFanQiu commented on #12253
@winthrop28 Hi. If I understand correctly, we just need support another type of operator in condition. Since there is not any new api and definition. It should be supported already.
![image](https://user-images.githubusercontent.com/49134743/76185899-96a85d00-620b-11ea-8489-e864c8e562a7.png)
Could you confirm that?

[2020-03-09 06:23] qwordy commented on #11533
Close the issue for now. The fix will be available in the next version of Azure CLI. It will be released on 03/10/2020.

[2020-03-09 06:23] #11533 closed

[2020-03-09 07:08] Drewm3 commented on #10400
Closing this issue as it sounds like it has been resolved.

[2020-03-09 07:21] konosuke115 opened #12514 "Error on create Azure Red Hat Openshift with azure-cli-extensions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create
Extension Name: aro. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create -g {} -n {} --vnet {} -

[2020-03-09 08:13] imabedalghafer commented on #10737
@yonzhan  and @zhoxing-ms
Apologize for late update , the issue was fixed with the latest release of the Azure CLI.
Now everything is working as expected

[2020-03-09 08:13] #10737 closed

[2020-03-09 11:00] Kamusta opened #12504 "Azure CLI antlr4 error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-03-09 11:08] hlinh1988 opened #12505 "az group list-The command failed with an unexpected error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The command failed with an unexpected error. Here is the traceback:

[Errno 5] Input/output error: '/home/hlinh1988/.azure/commands/2020-03-09.11-03-04.group_list.476.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.inv

[2020-03-09 11:50] dmprantz commented on #12137
This was pushed to a future release.  How many times is it going to get pushed before being addressed and resolved.  Is any one able to comment on a commitment that this will be resolved with a definitive timeline?

[2020-03-09 12:19] yonzhan commented on #12504
@qwordy please take a look.

[2020-03-09 12:20] yonzhan commented on #12505
add to S167.

[2020-03-09 12:42] qwordy commented on #11967
This is a known behavior. I'll contact SIG people. I think method b) is more promising.

[2020-03-09 14:01] jsntcy commented on #12387
It seems the fix is that we should make the "group-name" and "rules" arguments as optional.

[2020-03-09 14:15] zhoxing-ms commented on #11978
@sirwarshade Hi, I have some questions to confirm with you, please take a look:
1. You mean that the WebApp deployed in a Windows environment can correctly set up path mappings for physicalPath and virtualPath, but the path mapping cannot take effect in WebApp deployed in Linux environment, right?
2. Do you have this problem when you perform the same operation on portal?

[2020-03-09 14:31] jiasli commented on #12137
`az ad app permission admin-consent` is the old way of granting all permissions to an app. It can only be called by a user, not a service principal. It calls an internal API: https://github.com/Azure/azure-cli/blob/1c0e9c3e18c34116d5a2e25cb7460d1af8a85969/src/azure-cli/azure/cli/command_modules/role/custom.py#L893

⚠ It fails in Cloud Shell, because `main.iam.ad.ext.azure.com` is an endpoint not s

[2020-03-09 14:32] jiasli commented on #8912
Please check https://github.com/Azure/azure-cli/issues/12137 and see if you can get unblocked.

[2020-03-09 14:33] jiasli commented on #10403
Please check https://github.com/Azure/azure-cli/issues/12137 and see if you can get unblocked.

[2020-03-09 14:33] jiasli commented on #11159
Please check https://github.com/Azure/azure-cli/issues/12137 and see if you can get unblocked.

[2020-03-09 14:35] smg-bg commented on #10521
Any updates?

[2020-03-09 14:36] dmprantz commented on #12137
Thanks for all of the detailed information!  I'll take some time and digest this, and come back if I have any further questions on this.  I understand a bit more on the delays though.

[2020-03-09 15:09] qwordy commented on #11967
You can also use `az sig list --query [].name` to list all sig names in the subscription.

[2020-03-09 15:21] qwordy commented on #11967
`az sig show` calls the following HTTP GET method. Resource group is required.
https://docs.microsoft.com/en-us/rest/api/compute/galleries/get

[2020-03-09 15:37] droopy4096 opened #12506 "it is unclear how to attach multiple urlPathMaps to a single rule."
In Web UI option exists to add multiple urlPathMaps to a single rule, however CLI version seems to only allow for 1:1 relationship (vs 1:n)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6ba93c-4a1c-c69d-f52a-001791e0220a
* Version Independent ID: 2dd75bbb-a92c-c8f5-354b-6d40e531190b
* Content: [az network applicatio

[2020-03-09 15:41] jiasli commented on #12137
Hi @dmprantz , thanks a lot for your understanding. We have been working tightly with AAD team on this feature. Don't hesitate to let us know if there are any concerns.

[2020-03-09 15:57] jiasli commented on #10181
We do have doc for command `az ad app permission admin-consent`: https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#az-ad-app-permission-admin-consent

MSI shouldn't work for this command because you can't give it admin permission in the tenant. Only a user account is supported. Please check #12137 and see if you can get unblocked.

[2020-03-09 16:24] gregorybleiker opened #12507 "webapp: dotnet core support for slots"
if you create a a webapp with the general stack set to ".NET core" and you create a deployment slot from this with
`az webapp deployment slot create`
then the created slot will have ".NET" as runtime.

## To Reproduce:
create app service with .net core stack, then issue the `az webapp deployment slot create`

## Expected Behavior
it should take the stack settings from the slot it is creating a slo

[2020-03-09 16:28] gregorybleiker opened #12508 "az webapp create can't create a dotnet core app"
**Describe the bug**
It is not possible in azure cli to create a webapp with .net core runtime settings for a non-linux host. It can be set in the arm template with
[code]
**To Reproduce**
Try running (or similar)
[code]

**Expected behavior**
runtime param should support the dotnetcore stuff

[2020-03-09 16:37] panchagnula commented on #12491
@Kotasudhakarreddy can you check if you can repro this with the latest version of CLI.

[2020-03-09 16:41] panchagnula commented on #12427
Not at this time - only support we have at this point is to import a cert from AKV https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az-webapp-config-ssl-import

[2020-03-09 16:43] panchagnula opened #12509 "webapp: Remove the tag to az webapp up by default"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-09 16:45] panchagnula commented on #12509
@kotasudhakarreddy this is a good first issue to start on. The request is to remove the tags that are added by default when creating app using az webapp up https://github.com/Azure/azure-cli/blob/1174a3350fad3f308688fd37c9dacf12b7afa044/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L3222

[2020-03-09 16:47] panchagnula commented on #11698
@kotashudhakarreddy can you take a look at this - since you already fixed this in PowerShell

[2020-03-09 17:04] jiasli commented on #12137
For the granting app (or service principal, which you use to log in and grant permissions to another service principal),

- **Directory.ReadWrite.All** is needed for granting Delegated Permissions
- **AppRoleAssignment.ReadWrite.All** is needed for granting Application Permissions

⚠ Keep in mind that **AppRoleAssignment.ReadWrite.All** is extremely privileged, as it allows granting any app-only p

[2020-03-09 17:30] nezoic commented on #10422
Would really like an update on this. Same issue as everyone else.

[2020-03-09 17:52] infrageek commented on #11980
Looking fwd to find a solution to this.

[2020-03-09 18:56] chiragch commented on #9585
This issue still exist, Thanks @davis-x your solution works.

[2020-03-09 19:01] JunSun17 commented on #9585
The fix is just being merged, it will be included in the next Azure CLI release.

[2020-03-09 20:28] infrageek opened #12510 "Issue: Python Zip deployment not successful for FuncApp using azcli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Zip deployment fails from az cli. The same code uploads successfully if done manually using vscode Azure Function plugin.**

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

^Croot@pipejenkinstf:/test# az webapp deployment source config-zip -g myrandrg -n myuniquefunctj --src ./

[2020-03-09 21:22] giakas commented on #12469
Opened a Ticket 6426726 on our team, will be working on fixing this issue.

[2020-03-10 00:32] jsntcy commented on #12144
We already supported per-site and per-uri coverage for WAF policies, so close this issue. Here are related Azure CLI commands:
- per-site: https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/http-listener?view=azure-cli-latest#az-network-application-gateway-http-listener-create
- per-uri: https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/url-path-map/rule?vi

[2020-03-10 00:32] #12144 closed

[2020-03-10 00:38] yonzhan commented on #12506
add to S168

[2020-03-10 00:50] yonzhan commented on #12507
webapp

[2020-03-10 00:51] yonzhan commented on #12508
webapp

[2020-03-10 00:57] yonzhan commented on #12510
webapp

[2020-03-10 01:00] ifeoluwaokunoren commented on #11942
Adding @Vishakha-Git as well, to help further investigate.

[2020-03-10 02:16] #12510 closed

[2020-03-10 02:18] infrageek opened #12513 "function app: Unable to upload python ZIP in Azure function using CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

root@pipejenkinstf:/test# az functionapp deployment source config-zip --resource-group myrandrg  --name myuniquefunctj  --src ./deploy.zip --verbose
 - Uploading ============================== 100.0% ..
Syncing Triggers...
Unknown error
command ra

[2020-03-10 02:35] jsntcy commented on #11783
@stevenkaras, when you run the either `az network nic ip-config show`  or `az network public-ip show`, the response will include  `"id": "/subscriptions/test-sub/resourceGroups/test-rg/providers/Microsoft.Network/networkInterfaces/nic-name/ipConfigurations/ipconfig1"` and `/subscriptions/test-sub/resourceGroups/test-rg/providers/Microsoft.Network/networkInterfaces/nic-name` is the NIC id, is it en

[2020-03-10 02:42] yonzhan commented on #12513
functionapp

[2020-03-10 02:50] jsntcy commented on #11772
add optional parameter `--vpn-gateway-generation` for `az network vnet-gateway create` command

[2020-03-10 02:52] manojmu commented on #12177
Hi @qwordy, looking forward to your response on this

[2020-03-10 03:13] yungezz commented on #11533
@kotharij feel free to open a new issue when you see extension listed is not matching expectation with reproduce steps, especially extension setup detail. thanks.

[2020-03-10 03:41] jluk commented on #12514
We will need to reroute this to the ARO product team.

[2020-03-10 03:55] bim-msft commented on #11576
@yungezz I've investigated our code and nothing unexpected found, I believe this is a service side error (or by design?) since we didn't change the certificate binary data in CLI code, and we always pass the password into the rest call.
I did the import/export experiment on portal too, the password was also lost.

[code]

[2020-03-10 03:58] yungezz commented on #11576
thanks @bim-msft for investigation, add service attention label .

[2020-03-10 04:05] sauryadas commented on #12514
@amanohar

[2020-03-10 04:06] amanohar commented on #12514
`az openshift` & `az aro` commands are for different version of ARO: `az openshift` works for ARO 3.11 and `az aro` is for ARO 4.3 (and is currently under preview). Ack on the reported issue. We will take a look.

[2020-03-10 04:15] konosuke115 commented on #12514
Thank you @amanohar

I want to try creating ARO 4.3.

At the time of the first error, the documentation I used is below

[2020-03-10 04:59] konosuke115 commented on #12514
Now I tried again and got another error.

 $ `az aro create -g giki-take-aro-rg -n giki-take-aro --vnet vnet --master-subnet aro-master --worker-subnet aro-worker`
This command group is in preview. It may be changed/removed in a future release.
**The resource type could not be found in the namespace 'Microsoft.RedHatOpenShift' for api version '2019-12-31-preview'.**

I'm sorry. [In the first run](

[2020-03-10 05:01] Drewm3 commented on #9780
@rgardler is going to look into this.

[2020-03-10 06:20] panchagnula commented on #12508
@gregorybleiker have you tried creating an appserviceplan with the --is-linux and then do the az webapp create

'appservice plan create -g {} -n {} --is-linux'.format(resource_group, plan)' ?

[2020-03-10 06:26] panchagnula commented on #12502
@kirandongara we need more data here to figure out what must be causing this error as in what is the value of the connection-string you are trying to set.

[2020-03-10 06:29] panchagnula commented on #12491
This should be fixed by the latest release 2.2.0 https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice
this was a regression in the earlier version.

[2020-03-10 06:31] panchagnula commented on #12483
This is a regression fixed by the latest version -please try with the latest version https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice

[2020-03-10 06:34] panchagnula commented on #12462
this is not related to CLI please open an issue here https://github.com/projectkudu/kudu for tracking.

[2020-03-10 06:37] panchagnula commented on #12408
Please re-try with the latest release version, this was a regression in the previous version
https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice

[2020-03-10 06:38] panchagnula commented on #12398
This is fixed in the latest version https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice

[2020-03-10 06:39] panchagnula commented on #12393
Fixed with this https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice release - please upgrade & re-try.

[2020-03-10 06:40] panchagnula commented on #12388
Fixed with this version https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice please upgrade & re-try. Thanks!

[2020-03-10 06:43] panchagnula commented on #12334
Is there a reason you are using PowerShell to run these commands instead of bash or windows command prompt?

[2020-03-10 06:45] panchagnula commented on #12316
This command tries to create and add a zip file at the location where the command is run from - does CLI have write access on this folder.