[2020-05-13 05:13] qwordy commented on #11822
Close the issue. If the issue still exists, open a new one.

[2020-05-13 05:13] #11822 closed

[2020-05-13 05:29] jsburckhardt commented on #13100
hi guys, I'm not sure it is a feature-request. In the AZ CLI it says one of the options for --public-access is off
![image](https://user-images.githubusercontent.com/18494471/81773807-858e0c00-952c-11ea-9153-28cb5fe7e0ac.png)
When I try to create the resources it complains that the header format is not correct:
![image](https://user-images.githubusercontent.com/18494471/81773890-b1a98d00-952c-11ea

[2020-05-13 05:30] fertinaz opened #13468 "Cannot get consumption after using batch service"
I'm using a shell script which follows these steps:
1- start_time
2- Create pool && job && task && run container && download outputs && delete resources
3- end_time; `az consumption usage list -o yaml --start-date  $start_time --end-date $end_time`

However, it doesn't return any usage. Is there a delay between what `az consumption` can read and the actual usage. I'm trying to provide a cost estim

[2020-05-13 05:39] qwordy commented on #13407
I have reproduced the issue and found the root cause.
[code]
This parameter limits the resource type to vm. When `-z` is set, only vm skus will be shown. It's not reasonable. I will update it.

[2020-05-13 05:56] yungezz commented on #13465
hi @bim-msft could you pls help on this?

[2020-05-13 05:56] yungezz commented on #13466
routing to appropriate team

[2020-05-13 05:57] yungezz commented on #13468
routing to appropriate team

[2020-05-13 05:57] qwordy commented on #13407
I have written a PR to solve this issue.

[2020-05-13 06:05] hyperyn commented on #10574
We're seeing this as well. It's only with Linux functions using Node runtimes.

[2020-05-13 06:06] qwordy commented on #13380
@zhoxing-ms I remember you contributed a commit about tags. What's your idea of this issue?

[2020-05-13 06:27] qwordy commented on #13278
[code]
Looks like the default value is ReadWrite.
I create a vmss using the default configuration.
I get
[code]
Would you share your command?

[2020-05-13 06:30] zhoxing-ms commented on #13380
Hi, @azilber In fact, the `--tags` parameter in the update command of all resources directly overwrites the original tags, which is by our design.
If you want to add tags incrementally, please try using the command `az resource tag --ids {resource-id} --tags {append-tag} -i`.
If you still have any other questions, please feel free to let us know~

[2020-05-13 06:33] #13190 closed

[2020-05-13 06:34] qwordy commented on #12902
It is fixed in version 2.5.1.

[2020-05-13 06:34] #12902 closed

[2020-05-13 06:35] qwordy commented on #12896
Any update?

[2020-05-13 06:37] qwordy commented on #12841
Due to some existing special customized behavior of location in some commands. This issue is abandoned.

[2020-05-13 06:37] #12841 closed

[2020-05-13 06:38] qwordy commented on #12701
This feature is available in the latest Azure CLI verison. Feel free to try it and feedback.

[2020-05-13 06:38] #12701 closed

[2020-05-13 06:39] #12573 closed

[2020-05-13 06:42] qwordy commented on #12444
Any update?

[2020-05-13 06:45] dmedina0217 commented on #13447
Code is working now if you alter wget command to 20.04

[2020-05-13 06:45] #13447 closed

[2020-05-13 07:17] azilber commented on #13380
@zhoxing-ms this also does not work.  Same exact effect, all tags are deleted.   Additionally, -i isn't an available option:
"az: error: unrecognized arguments: -i"

For "azure-cli": "2.0.81"

[2020-05-13 07:34] azilber commented on #13380
@zhoxing-ms ok, using "azure-cli": "2.5.1" with the -i flag I can add tags.

Doing it the original way using -n and -g there's no way to add the -i flag.  It seems to only be doable when using RESOURCE ID.

[2020-05-13 07:35] usrme commented on #13100
@jsburckhardt, you don't have to do it in two steps if the default action has changed to not requiring the value `off` to set the public access level to private.

[2020-05-13 08:12] canfikret opened #13471 "(Windows only) "az vm extension set" command is passing public json as string instead of a json map to the VM extension"
**Describe the bug**
Linux VM extension is failing to install. Linux Guest Agent expects public settings to be a map; however, from the logs it arrives as string; and it causes "Install failed with error: 'unicode' object has no attribute 'get'"

**To Reproduce**
Run this command in Windows cmd:
az vm extension set --resource-group RG --vm-name VM --name OmsAgentForLinux --publisher Microsoft.Ente

[2020-05-13 08:12] haroldrandom commented on #12261
@dominicha64 I got answer from service team, the API currently don't support this feature.

Currently, there 2 version connection monitor, CMv1 and CMv2, CMv1 is deprecating. They are going to migrating to CMv2 totally.

Snapshots query API is only supported in CMv1.

Our service teammates sugguest you to try CMv2 instead because all the snapshots are avaliable in Log Analytics. Such that, you can

[2020-05-13 08:46] jsntcy commented on #10174
@fengzhou-msft, could you help take a look at this issue as it seems relate to packaging.

[2020-05-13 08:52] zhoxing-ms commented on #13380
@azilber Yes, for now, only command `az resource tag` supports tagging resources incrementally, it already supports most scenarios, you can use `az resource tag -h` to see how it is used~

[2020-05-13 08:56] yungezz commented on #13471
hi @qwordy could you pls have a look?

[2020-05-13 09:17] JoranDox commented on #13101
Good point, maybe I should keep this issue open until the version in the apt repositories is updated, thanks for the heads-up.

[2020-05-13 09:21] haroldrandom commented on #8656
@MyronFanQiu can you take a look?

[2020-05-13 09:23] MyronFanQiu commented on #8656
I didn't find this issue during my debug process. Has it been fixed?

[2020-05-13 09:39] haroldrandom commented on #8656
Can not reproduce. Seems it's been fixed.

[2020-05-13 09:39] #8656 closed

[2020-05-13 10:10] fabicz opened #13475 "Cannot set certificate transparency"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to create certificate request with policy incl. certificate transparency fails with "Cannot set Certificate Transparency for a manual enrollment."

**Command Name**
`az keyvault certificate create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been

[2020-05-13 10:26] jsntcy commented on #10174
CLI need to support poetry package management to resolve this issue.

[2020-05-13 10:28] TitaniumDave opened #13476 "Add ability to retrieve the ASC secure score via the Azure CLI"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to retrieve with the Azure CLI (2.5.1) via the `az security` command group either the old secure score, or the new preview secure score which is visible under the Policy & Compliance section of the Azure Security Center web interface.

**Describe the solution you'd like**
The ability to retrieve your secur

[2020-05-13 10:46] matthew-kirtley commented on #11168
Please reopen this.  I am not an admin in my AD tenant so the "az rest" directly on graph solution will not work for me.

[2020-05-13 11:24] MarcusJung-divae commented on #11162
Any news ?

[2020-05-13 11:34] Kengo-Araki opened #13477 "unexpected error on 'az aks create'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create \
--resource-group $RESOURCE_GROUP \
--name $AKS_CLUSTER_NAM

[2020-05-13 11:51] yonzhan commented on #13101
@bim-msft  please take a look

[2020-05-13 11:56] evandropomatti commented on #12701
@qwordy which version number? I looked up release notes for 2.5.1 (latest, April 30th) and it doesn't list such change.

https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#azure-cli-release-notes

[2020-05-13 12:09] yonzhan commented on #13475
@bim-msft please take a look

[2020-05-13 12:14] yonzhan commented on #13476
security

[2020-05-13 12:18] yonzhan commented on #13477
aks

[2020-05-13 12:20] jiasli commented on #11168
@matthew-kirtley, if you don't have permission in MS Graph, you won't have permission in AD Graph either. Also we don't have plan to backport new features to AD Graph 1.6. Thanks for understanding.

[2020-05-13 12:24] pkandarpa-cs opened #13478 "Synchronous az blob storage copy fails for PageBlobs"
**Describe the bug**
Using the `requires-sync` parameter causes copy operation to fail when blob type is a PageBlob. So, if you run a copy operation on a PageBlob (example: A VHD created by packer via it's `azure-vhd` builder) with `requires-sync` _NOT_ set like this:

[code]

The response is a JSON object with details like
[code]

But, if you include the `requires-sync` param in your copy start c

[2020-05-13 12:53] cocowalla commented on #13234
@ElvenSpellmaker do you happen to work with multiple tenants by chance?

I've just had the exact same issue, and like you, deleting `~/.azure` fixed it. It reminds me of a similar problem I had a while back, #6147...

[2020-05-13 12:56] ElvenSpellmaker commented on #13234
@cocowalla, interestingly enough I _did_ have two tenants at the time of the bug. (I was a guest in another Tenant for doing some consulting work.)

I wonder if it's related... 🤔

[2020-05-13 12:56] jiasli commented on #13413
We shouldn't enable color if `stdout` is not a TTY. Fixed it in Knack.

[2020-05-13 13:06] matthew-kirtley commented on #11168
Hi @jiasli. Not sure I understand.  I'm able to perform, for example, "az ad app update --identifier-uris" without being an administrator so in theory shouldn't I also be able to update "accessTokenAcceptedVersion" if this was supported as an optional parameter?

[2020-05-13 14:00] AlphaCreative-Mike commented on #10879
@anthonychu - It's not working for me.

I'm getting "az eventgrid event-subscription create: 'FunctionApp' is not a valid value for '--endpoint-type'. See 'az eventgrid event-subscription create --help'"

**Here is my az --version output:**
`azure-cli                          2.5.1

command-modules-nspkg              2.0.3
core                               2.5.1
nspkg

[2020-05-13 14:12] yonzhan commented on #13478
add to S170

[2020-05-13 14:20] spoltier commented on #12935
I encounter a similar / the same issue.

I'm getting

[code]

What I have noticed is that the `sig=...`part of the URL, which is redacted for obvious reasons, contains a literal slash (`/`) character, which is _not_ URL encoded.

Let me know if I should open a different issue.

[2020-05-13 15:39] dwhanger commented on #10879
Yes!  I can confirm that it works!  But, you have to use the --endpoint-type azurefunction as opposed to FunctionApp as stated above.  There doesn't seem to be documentation yet on this that I can find but the commandline help on the command has the info about using 'azurefunction'.  Also, once you have this, he --endpoint needs to be adjusted to point at the resource id of the function which I wa

[2020-05-13 15:59] panchagnula commented on #10066
@JasonFreeberg and @btardif when you repro the error - is this when you are running in Jenkins - which uses Powershell terminal - this seems like an issue with how different terminals are parsing the object before passing it to CLI. @calvinsID has tried to repro this and & seeing weird behavior with different terminals if the characters aren't escaped correctly, but once the recommended syntax for

[2020-05-13 16:19] calvinsID commented on #10066
Powershell: `--settings '"FOOBAR=foobar(12345)"'` or `--settings 'FOOBAR=foobar^^^(12345^^^)'`
CMD: `--settings "FOOBAR=foobar(12345)"`
Bash: `--settings "FOOBAR=foobar(12345)"`

Please let me know if those work for you

[2020-05-13 16:30] fitzgeraldsteele opened #13480 "Error creating vmss"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az vmss create -n 500vmss -g 500vmss --instance-count 500 --image Win2016Datacenter

**Errors:**
--- Logging error ---
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 659, in _run_job
    result = cmd_copy(params)
  File

[2020-05-13 16:44] josiahvinson commented on #10879
I corrected my comment: the endpoint type is `azurefunction`, not `functionapp`. I also added a link to [the documentation](https://docs.microsoft.com/en-us/cli/azure/ext/eventgrid/eventgrid/event-subscription?view=azure-cli-latest#ext-eventgrid-az-eventgrid-event-subscription-create).

[2020-05-13 17:07] panchagnula commented on #12739
Talking to our API and portal folks we figured out that CLI needs to filter out certain locations. We will working on fixing this.

[2020-05-13 17:53] GaneshMSFT opened #13483 "Listing blobs from secondary endpoint of RAGRS storage account using account key failing with Authorization error"
**Describe the bug**
az storage blob list --account-name **ACCOUNTNAME-secondary** --account-key **ACCOUNTKEY** --container-name **CONTAINERNAME**

The above command failing with Authorization failure.

**To Reproduce**
Run this command and it's failing with auth error however this should list the blobs.
az storage blob list --account-name **ACCOUNTNAME-secondary** --account-key **ACCOUNTKEY** --c

[2020-05-13 18:19] asheniam opened #13484 "Azure Monitor Diagnostics Settings CLI should support logAnalyticsDestinationType"
Please add support for logAnalyticsDestinationType property in the Azure Monitor CLI for diagnostic settings.  This property is already supported by the PowerShell equivalent.

[2020-05-13 20:39] Jrc356 opened #13485 "az webapp traffic-routing set to 100% from any slot other than production causes all function code to be lost"
**Describe the bug**
I'm exploring a version of blue/green deployments using the production and a slot of a functionapp. To do this, I deploy to the unactive (0% traffic) slot, test, then change the traffic on that slot to 100%. However, I change the traffic back to 100% on the production slot, the functions all disappear and clients receive 404's when trying to hit any of them. The commands I'm u

[2020-05-13 20:40] Darktaelb commented on #6016
Why this ticket was closed???

[2020-05-13 22:13] tobystic opened #13488 "Resource not found error- Create webapp"
[0] create a generic issue.
   [1] az webapp create       : FAILURE. Ran: 1 hrs 59 mins ago.
   [2] az webapp create       : FAILURE. Ran: 1 hrs 55 mins ago.
   [3] az webapp create       : FAILURE. Ran: 1 hrs 55 mins ago.
   [4] az webapp create       : FAILURE. Ran: 1 hrs 53 mins ago.
   [5] az webapp create       : SUCCESS. Ran: 1 hrs 51 mins ago.
   [6] az login               : SUCCESS. Ran: 2

[2020-05-13 23:29] jsturtevant commented on #13081
Using the `eoan` install instructions above worked initially but then was unable to install az extensions properly.  I ended up falling back to the [script install](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#install-or-update).

[2020-05-14 00:23] yonzhan commented on #13480
@qwordy please take a look

[2020-05-14 00:28] yonzhan commented on #13483
add to S170

[2020-05-14 00:30] yonzhan commented on #13484
add to S170

[2020-05-14 00:35] yonzhan commented on #13485
webapp

[2020-05-14 00:38] yonzhan commented on #13488
webapp

[2020-05-14 01:38] MyronFanQiu commented on #13484
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json#L320

[2020-05-14 01:56] plooploops opened #13489 "Azure CLI - Extension for Application-insights fails to install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add -n application-insights`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add -n application-insights`

## E

[2020-05-14 01:58] jiasli commented on #11168
`accessTokenAcceptedVersion` is not implemented in the current `az ad app update` command due to the lack of this field in AD Graph 1.6 which Azure CLI uses. If you use `az rest`, what is the error you are receiving? Could you share `--debug` log?

[2020-05-14 03:10] zhoxing-ms commented on #13292
@csharpdocs Hi, may I ask why do you need GUID?
In fact, the `--scopes` parameter of command `az ad sp create-for-rbac` is passed directly by resource group id, so we can append `--query "id"` to the command `az group create -l westus -n zhoxing-test` to get the resource group id.

[2020-05-14 03:37] jiasli commented on #6016
@dluc, in order to reset password for another Service Principal, you need to add some permissions to the setter Service Principal, please see https://github.com/Azure/azure-cli/issues/7656#issuecomment-574020898. The required permissions may change once we move to MS Graph https://github.com/Azure/azure-cli/issues/12946.

[2020-05-14 05:41] vinisoto commented on #11932
@dazinator behind the scenes we have only supported mounting in subfolders of C: all along (in fact, I believe that in the past if you specified something different than C: we showed an error message indicating that you had to specify C: as the root of your mount path). Because of that (and also to be consistent with how specify mount paths in Linux containers) we chose to remove the drive letter.

[2020-05-14 06:31] jongio commented on #12219
Update on this?  I ran into this today as well.

[2020-05-14 06:56] qwordy commented on #13480
Would you please update to latest version of Azure CLI and try it again.
[code]
I can't see the real error message now. The codec is fixed in a recent version of msrestazure.

[2020-05-14 07:03] dazinator commented on #11932
@vinisoto thank you, that finally explains the behaviour I was seeing.

The only scenarios for not wanting to mount under C drive that I can think of are:-

1. You are not sure whether a subfolder already exists under C for the mount path. I think if you mount into an existing non empty folder on windows it used to cause `docker run` to error with a not helpful message.

2. The applications runnin

[2020-05-14 07:46] jiasli commented on #13319
@fungiboletus, a multi-factor authentication failure is usually caused by AAD tenant configuration change.

#6234 is talking about updating `~/.azure/accessTokens.json` which shouldn't the root cause here, because your are using Azure CLI instead of directly accessing `~/.azure/accessTokens.json`.

Could you run the failed command with `--debug` and share the full output?

[2020-05-14 07:49] bsuchorowski commented on #13276
Raw log file:
[TagImagesRawLog.txt](https://github.com/Azure/azure-cli/files/4626673/TagImagesRawLog.txt)

Here is the script that causes troubles. We are building an umbrella chart that contains a few helm charts but we are building only these that have changed since last build. The rest is pulled from container registry and retagged. Basically we are searching for previously pushed docker images

[2020-05-14 07:49] fungiboletus commented on #13319
Oh that would make sense. I did login again but next time it happens, if it happens, I will share the output with `--debug`. Thanks.

[2020-05-14 08:06] jiasli commented on #13310
As this issue also happens for you with Azure Portal, it is not specific to Azure CLI. It looks like this [Windows 10 Accounts](https://chrome.google.com/webstore/detail/windows-10-accounts/ppnbnpeolgkicgegkbkbjmhlideopiji) extension is not actively maintained.

![image](https://user-images.githubusercontent.com/4003950/81908945-82625100-95fc-11ea-9cbe-040a026b1bd0.png)

Could you try to remove th

[2020-05-14 08:31] Juliehzl commented on #10772
@milodotnet Because there is no response for 24 days, I will close this issue and feel free to reopen it.

[2020-05-14 08:31] #10772 closed

[2020-05-14 08:38] Juliehzl commented on #10190
To bypassing the firewall, you can use `az storage share-rm create`.

[2020-05-14 08:43] cocowalla opened #13497 "--tags option missing for "iot hub" and "iot dps""
The `--tags` option appears to be missing from the `az iot hub create` and `az iot hub update` commands.

It's not [documented](https://docs.microsoft.com/en-us/cli/azure/iot?view=azure-cli-latest), and trying to use it results in an error `az: error: unrecognized arguments: --key=`.

I'd consider this a bug rather than a feature request, as every other create/update command seems to have a `--tag

[2020-05-14 08:59] codemaker opened #13498 "How to stop the execution of command"
I have tried below command

az storage blob copy start-batch --account-key 00000000 --account-name MyAccount --destination-container MyDestinationContainer --source-account-key MySourceKey --source-account-name MySourceAccount --source-container MySourceContainer

Now how do I pause or break it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-14 09:29] haroldrandom commented on #10870
@mariomann based on your output, did you reference the redirect-config in a urlPathMap under other  location? And then it was deleted by accident?

[2020-05-14 09:30] juniwang commented on #11871
`az keyvault storage list --vault-name <Vault Name>` doesn't work. Neither with `--subscription <sub>` nor without `--subscription` works.

[2020-05-14 09:30] qwordy opened #13499 "`az -v` fails."
**Describe the bug**

`az -v` fails.
[code]

`az version` works.

**To Reproduce**

I installed a new version of Azure CLI. During the installation, it prompts python is running. When the installation is finished, it asks me restart computer. When I restart, `az -v` crash. The reason is one extension's version is missing.

**Expected behavior**

**Environment summary**

Version: 2.5.1
OS: Windows

[2020-05-14 09:39] jsntcy commented on #10467
@jurjenoskam, @tbennett0,
This is by design and aligned with Azure portal and you can find the [doc](https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets-portal#add-a-new-record-to-a-record-set): `A record set cannot contain two identical records.`

[2020-05-14 09:42] OwainYoung opened #13500 "Upload batch fails if any files contain a colon in their name"
**Describe the bug**
When batch uploading to a file store, if any of the files contain a colon in their name an error is returned saying "the specified resource name contains invalid characters".
This doesn't happen when the command is run with --dryrun

**To Reproduce**
create a file containing a colon in its name and run
az storage file upload-batch -s . -d <filestore>
from its directory

**Expe

[2020-05-14 09:49] qwordy commented on #12701
Sorry. It will be in next release on 05/19/2020.
The PR is merged on April 27. 2.5.1 is released on April 30. I thought it is in 2.5.1. But in fact it is not.

[2020-05-14 10:13] sayd0003 opened #13501 "Every time I run a command, I am getting a 400 error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-14 10:21] cocowalla commented on #11131
I'm having the exact same issue - the problem seems only to occur if you provide a PEM certificate that includes the full chain.

If I provide a PEM or DER encoded certificate that includes only the leaf certificate, then it works OK.

This is a bug, as it works just fine in the Azure Portal if you provide a PEM cert containing the full chain.

[2020-05-14 10:25] huski1017 opened #13502 "[Bot Services] Web chat channel creation"
Hi,

After running across the documentation of the Azure CLI and more specifically the Bot Services part I noticed that the create and delete commands were not available for the Web Chat channels.

I am looking forward for this feature as this would allow me to automate this part of the process on my side.

Is there any development planned on that? A potential release date approximation?

Thank yo

[2020-05-14 11:23] yonzhan commented on #13497
iot

[2020-05-14 11:25] yonzhan commented on #13498
add to S170

[2020-05-14 11:29] yonzhan commented on #13499
@fengzhou-msft please take a look

[2020-05-14 11:29] zhoxing-ms commented on #13170
@ghstahl Hi, my suggestion is to change the parameter variable of the tags to an array, and modify [IFS](https://www.gnu.org/software/bash/manual/html_node/Word-Splitting.html) distinguish between the spaces in the array and the spaces in each tag. Can this method solve your problem?

Example:
[code]

[2020-05-14 11:30] yonzhan commented on #13500
add to S170

[2020-05-14 11:37] yonzhan commented on #13501
@fengzhou-msft please take a look

[2020-05-14 11:37] yonzhan commented on #13502
Bot Services

[2020-05-14 11:53] haroldrandom commented on #10870
@aznetsuppgithub could you help here?

[2020-05-14 12:06] oliverholliday commented on #6852
I don't understand why this was closed, it doesn't seem to have been implemented yet

[2020-05-14 12:11] cocowalla opened #13503 "Time Series Insight support missing"
I'm using CLI version 2.5.1, and support for [Time Series Insights](https://azure.microsoft.com/en-us/services/time-series-insights/) appears to be missing.

I don't see it even mentioned in the [docs](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest), and `az --help` doesn't show anything about it either.

Further more, I'm unable to work around this with `az resou

[2020-05-14 12:36] #13373 closed

[2020-05-14 13:11] fengzhou-msft commented on #13501
@sayd0003 can you run with `--debug` and paste the log here?

[2020-05-14 13:21] kinwolfqc opened #13504 "Invalid API version qith AZ Cli(2.5.1)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --role {} --assignee {} --scope {}`

[2020-05-14 13:33] kinwolfqc commented on #13504
Found the problem which is completely unrelated to API version.  Please consider updating the rror message.  There was an error in the --scope path.

[2020-05-14 13:33] #13504 closed

[2020-05-14 13:41] yonzhan commented on #13503
add to S170

[2020-05-14 15:02] Jrc356 commented on #13485
May be worth mentioning that this also occurs when the commands are run from an Ubuntu 16.04 build agent on Azure Devops

[2020-05-14 15:11] ghstahl commented on #13170
@zhoxing-ms
Getting closer.

The tags need to be passed in as a single string via a github action
[action-docker-azure-terraform-setup](https://github.com/fluffy-bunny/action-docker-azure-terraform-setup/blob/master/.github/workflows/test.yml)

[code]
**NOTE**: The way github actions passes in arguments to my entrypoint.sh is probably the constraint here which I can't change.

Its a github docker

[2020-05-14 15:31] RickLatrine commented on #13401
identical issue for me.

az cli versions used in DevOps:
azure-cli: 2.5.1
command-modules-nspkg: 2.0.3
core: 2.5.1
nspkg: 3.0.4
telemetry: 1.0.4

[2020-05-14 15:33] jiasli commented on #13276
@bsuchorowski, thanks for the detailed log. Judging from the log, Azure CLI is running as expected. Only this `https://login.microsoftonline.com` call is slow:

[code]

Other calls seem to be normal.

[code]

While I will try to internally contact AAD team, could you file a support request for AAD as well and provide this issue https://github.com/Azure/azure-cli/issues/13276 and the log?

![image]

[2020-05-14 15:53] jiasli commented on #13503
Time Series Insights CLI support is provided as an experimental extension [timeseriesinsights](https://github.com/Azure/azure-cli-extensions/tree/master/src/timeseriesinsights). Could you [install the extension](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview?view=azure-cli-latest#install-extensions) with

[code]

As for why `az resource create` doesn't work, make sure `--

[2020-05-14 15:58] mithuns1986 opened #13505 "[CRITICAL] az command hangs indefinitely"
Hello All,

Can anyone help me install azure-cli latest on RHEL-6.9.
I have checked all pre-requisites as below but still failing to install the latest azure-cli using the script.

[root@RMIR1BLNUAAP01 ~]# yum install libffi Loaded plugins: amazon-id, rhui-lb, search-disabled-repos, security Setting up Install Process Package libffi-3.0.5-3.2.el6.x86_64 already installed and latest version Nothing

[2020-05-14 16:06] Jrc356 commented on #13485
Also worth mentioning, and likely more interesting than the above, when I change the traffic manually in the portal, this issue does not occur which makes me think it is bound to the cli

[2020-05-14 17:29] MKruger777 commented on #13401
I think I am seeing the same result. Until now I was creating the storage container via the az command line from within the azure-cli container :
`docker run -it mcr.microsoft.com/azure-cli:latest `

command:
`az storage container create -n $BLOB_CONTAINER --public-access off --account-name $AZURE_STORAGE_ACCOUNT_ID`

Running this command in the container works perfectly every time.

I just instal

[2020-05-14 17:33] jklingen92 commented on #13081
I'm experiencing the same issue.

[2020-05-14 17:37] JasonFreeberg commented on #10066
@panchagnula, @calvinsID

So good news, I'm not able to repro the issue any more. I used the Cloud Shell, which I'm assuming is using the latest PowerShell and Azure CLI (7.0.0 and 2.4.0). I was able to set the `"foobar(12345)"` and variable without escaping the parentheses or quotes:

[code]

And that set the app setting as expected. The example with the Key Vault reference also worked as expecte

[2020-05-14 18:01] ms-lolo commented on #13081
Same issue here. The workarounds to get the package to install works but leaves you with an azure-cli that cannot install extensions. I've gotten things to work by creating my own python virutalenv and running `pip install azure-cli` instead since this doesn't try to do any weird distro version checks but this leaves me with only being able to run `az` commands when I am in that virtualenv so it's

[2020-05-14 18:27] jetzerb commented on #13081
@jsturtevant, @ms-lolo:  When I install `azure-cli` as described in my first comment above, I am able to install and use extensions.  When you say you can't install extensions, what do you mean?  It tells you that it can't?  It throws errors when you try to install extensions?  Extensions install but throw errors when you try to use them?
Wondering why I didn't have the same problem...Have you tri

[2020-05-14 19:02] greghenderson opened #13506 ""az create pipeline ..." does not create a valid pipeline... attempt to edit resulting pipeline within dev.azure.com portal fails."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines create
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- In dev.azure.com UI create a sample organization / project (private).

[2020-05-14 19:50] mattpasco-microsoft opened #13507 "Az Secret Show throws ModuleNotFoundError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret show`

## Expected Behavior

## Environment S

[2020-05-14 20:21] BlackthornYugen opened #13508 "Can't print vm data in table view"
## Describe the bug
When my query doesn't work for table view, it suggests that I use `--debug` to get more info, but that doesn't actually help.

**Command Name**
`vm list`

**Errors:**
[code]

## To Reproduce:
[code]

## Expected Behaviour
It would print a table with the info I want or it would tell me why it can't do that.
## Environment Summary
[code]
## Additional Context
Some of these were d

[2020-05-14 20:35] ms-lolo commented on #13081
@jetzerb you're right. I was missing the `libffi.so.6` and adding that let extensions install fine. but I don't think I'm ok leaving that fix in place. I don't feel comfortable making that symlink part of the process of provisioning production machines. I'm going to hold off and keep using the virtualenv until the deb package is fixed.

[2020-05-14 20:50] JamesEarle commented on #4304
@johanste What was the solution here? I am experiencing the same issue doing below. Success is seen only when the spaces in the RG name are removed

[code]

[2020-05-14 21:01] panchagnula commented on #10066
Closing this based on @JasonFreeberg comments

[2020-05-14 21:01] #10066 closed

[2020-05-14 21:22] johanste commented on #4304
There are two parts to the question:

1) what is the correct jmesquery expression that I want to execute
2) how to I escape things in my shell to make sure that is what the `az` command sees.

You can use the `--debug` flag to the command to see what the `az` command actually saw after the shell had done its interpretation of what you wrote. I happen to run `bash` on my mac, so this is what I see

[2020-05-14 22:08] iUnknwn opened #13509 "Command fails with auth-mode login, but works when omitted with warning"
When attempting to add a storage access policy to a container, if I do not specify auth mode, I get a warning: `No connection string, account key or sas token found, we will query account keys for your storage account. Please try to use --auth-mode login or provide one of the following parameters: connection string, account key or sas token for your storage account.`

However, the command executes

[2020-05-14 23:13] yonzhan commented on #13505
@fengzhou-msft please take a look

[2020-05-14 23:19] yonzhan commented on #13506
devops

[2020-05-14 23:20] yonzhan commented on #13507
@bim-msft please take a look

[2020-05-14 23:21] yonzhan commented on #13508
@qwordy please take a look

[2020-05-14 23:24] yonzhan commented on #13509
add to S170

[2020-05-14 23:50] ifeoluwaokunoren commented on #8941
We're actively working on providing this command -
PR link: https://github.com/Azure/azure-cli/pull/13487
I'd add update this thread once the PR is merged.
In the meanwhile if you're blocked, you can directly unregister a subscription from a feature using the REST API: https://github.com/Azure/azure-rest-api-specs/blob/38388fadb2a31238262c96520a96f413ff7c7311/specification/resources/resource-manag

[2020-05-15 01:20] yungezz commented on #13507
duplicate with https://github.com/Azure/azure-cli/issues/13457. HI @bim-msft could you check the package story? thanks

[2020-05-15 01:22] yungezz commented on #13506
seems no autobot action for label "DevOps", transfer this to extension repo and label correctly.

[2020-05-15 01:26] yungezz commented on #13505
hi @mithuns1986 I didn't error from above messages. What errors there?

[2020-05-15 01:57] qwordy commented on #13508
Thanks for you feedback. Interactive is in preview. It is not stable. We will investigate this issue.
I try the commands, they works fine in normal mode.

[2020-05-15 02:47] zffocussss commented on #12320
what is the solution? should I update az-cli?

[2020-05-15 03:01] MyronFanQiu commented on #13164
If you don't meet this issue anymore, I would close this issue later.

[2020-05-15 03:04] MyronFanQiu commented on #13217
@Forcebyte Hi. Are you still there?

[2020-05-15 03:26] zhoxing-ms commented on #13170
@ghstahl I suggest that  you can pass the array data as a string, and modify `IFS` to define the separator of array elements to avoid confusion between the separator of array elements and the spaces contained in tag.
For example:
[code]
[code]

[2020-05-15 03:35] fengzhou-msft commented on #12859
Cloud Shell is not going to upgrade their Python version in the short term. So `pip install azure-cli` is not supported. I have updated the [message](https://github.com/Azure/azure-cli/blob/58198af0d650df1433f329f2ab42572836bae62e/src/azure-cli-core/azure/cli/core/util.py#L307-L308) in `az --version` to avoid confusion.

[2020-05-15 03:35] #12859 closed

[2020-05-15 03:36] jiasli commented on #13170
Found a very useful tutorial: http://mywiki.wooledge.org/BashFAQ/050

This doesn't work:

[code]

Because

As shown in the tutorial, we can use `eval` to let double quotes `"` be parsed:

[code]

[2020-05-15 03:38] fengzhou-msft commented on #12850
Bumped in this [PR](https://github.com/Azure/azure-cli/pull/12813).

[2020-05-15 03:38] #12850 closed

[2020-05-15 03:45] fengzhou-msft commented on #12390
Fixed with https://github.com/Azure/azure-cli/pull/13411, will be released with `2.6.0` next Tuesday.

[2020-05-15 03:45] #12390 closed

[2020-05-15 03:54] fengzhou-msft commented on #13499
Added default for ext.version:
https://github.com/Azure/azure-cli/blob/58198af0d650df1433f329f2ab42572836bae62e/src/azure-cli-core/azure/cli/core/util.py#L243

Please try with the latest dev branch and see which extension has `Unknown` version info.

[2020-05-15 03:57] jiasli commented on #13170
I am actually thinking we can change the behavior of `--tags` to make it more user-friendly.

Passing multiple arguments `"a=b" "c=a dog"` with a single variable `tags` can be very nasty when it becomes complicated. Just like this one,

[code]

If there are double quotes (which should be **syntactical**), they are treated **literal**ly, and extra `eval` is necessary to parse them.

@zhoxing-ms, ho

[2020-05-15 04:28] awentzel commented on #11867
@madsd, thanks for the improvement.  I do wonder, how secure is using the Id?  It feels like something I wouldn't want to include in my scripts, similar to the reason you didn't include it in your example, I presume.  Thanks

[2020-05-15 04:33] jiasli commented on #13170
FYI, a good post for explaining the difference between `"${myarray[@]}"` and `"${myarray[*]}"`: https://stackoverflow.com/a/3355375/2199657

[2020-05-15 04:49] tas1272 opened #13514 "Creation of Azure Container Registry Fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr create --name {} --resource-group {} --sku {} --admin-enabled {}`

[2020-05-15 05:12] yonzhan commented on #13514
acr

[2020-05-15 05:44] fengzhou-msft commented on #13256
Fix is released. Please try with azure-cli 2.5.1.

[2020-05-15 05:48] #12845 closed

[2020-05-15 05:51] #12582 closed

[2020-05-15 05:58] yonzhan commented on #8662
add to backlog

[2020-05-15 06:06] bim-msft commented on #13507
Working on this.

[2020-05-15 06:14] bim-msft commented on #13507
@mattpasco-microsoft Hi, could you upgrade your CLI to the latest version? I cannot reproduce this issue using https://shell.azure.com/
You may also try `pip install azure-keyvault==1.1.0` to fix it.

[2020-05-15 06:14] bim-msft commented on #13457
@ashwarn Hi, could you upgrade your CLI to the latest version? I cannot reproduce this issue using https://shell.azure.com/
You may also try `pip install azure-keyvault==1.1.0` to fix it.

[2020-05-15 06:34] kenmikanmi commented on #8532
I also hope that kind of API to be implemented.
Here's the script to realize this. Hope this will help.

[code]

[2020-05-15 06:37] mithuns1986 commented on #13505
@yungezz I am trying to install azure-cli with the scipt but it does not error out and simply halts at this step as below.

ts-0.1.25 vsts-cd-manager-1.0.2 websocket-client-0.56.0 xmltodict-0.12.0 zipp-3.1.0
-- Executing: ['/home/gold/lib/bin/pip', 'install', '--cache-dir', '/tmp/tmprms7k2wv', '--upgrade', '--force-reinstall', 'azure-nspkg', 'azure-mgmt-nspkg']

[2020-05-15 06:38] bim-msft commented on #13101
@fengzhou-msft Hi, seems `apt-get` will install an old version (2.0.81) of CLI, and this version maybe contains some bugs. Do you know how to push them to upload our latest package? Thanks.

[2020-05-15 06:44] madsd commented on #11867
Hi @awentzel, the change also includes an improvement that is will look for key vault across the same subscription and not just the web resource group. So resource id for Key Vault is only necessary if the kv is in another subscription. In that case, you will have to specify the subscription id as part of the resource id. Regarding security, it still has full security in the sense that the executo

[2020-05-15 06:45] madsd commented on #11867
@panchagnula This can be closed as the changes were merged yesterday.

[2020-05-15 06:47] haroldrandom commented on #12763
@jrmilholland could you please provide the property name? (remove the sentisitive property value)

[2020-05-15 06:51] bim-msft commented on #13465
Hi @awentzel , you may refer to: https://docs.microsoft.com/en-us/azure/key-vault/general/overview-soft-delete for more soft-delete detail.
For `RBAC`, I think this is the most comprehensive doc: https://docs.microsoft.com/en-us/azure/role-based-access-control/overview . KeyVault use its `AccessPolicy` mechanism to do authorization as default, if you want to use `RBAC`, then you should specify `--

[2020-05-15 06:54] bim-msft commented on #13438
@sanjay1913 Hi, I guess you want to use an equivalent command to `az keyvault certificate pending merge` in Azure Powershell? If yes, you should create an issue on Azure Powershell repo: https://github.com/Azure/azure-powershell , thanks!

[2020-05-15 07:04] qwordy commented on #13499
It is the image-copy-extension

[2020-05-15 07:08] #13129 closed

[2020-05-15 07:08] #11880 closed

[2020-05-15 07:08] #9576 closed

[2020-05-15 07:13] #13258 closed

[2020-05-15 07:19] qianwens commented on #11081
@smartpcr I can not repro your issue with latest Az CLI. Could you please help run your command with --debug and provide the output to us for further investigation?

[2020-05-15 07:20] qianwens commented on #11210
@kevin-dfo I can not repro your issue with latest Az CLI. Could you please help run your command with --debug and provide the output to us for further investigation?

[2020-05-15 07:34] ttalal commented on #13401
I have the same issue

[2020-05-15 07:35] russcam commented on #13129
thanks @zhoxing-ms

[2020-05-15 08:20] zhoxing-ms commented on #13250
@DoPaNik Hi, I can't reproduce your problem. Could you please email me the specific parameters of the command you executed? My email address is Zhou.Xing@microsoft.com

[2020-05-15 08:31] qianwens commented on #13423
This may be a transient authentication error in cloudshell or the resource type is not supported in cloudshell. You can try run ‘az login’ to use your user account authentication to workaround this issue.

[2020-05-15 08:32] qianwens commented on #13445
"apps.azureiotcentral.com" resource type is not supported in cloudshell msi authentication. You can try run ‘az login’ to use your user account authentication to workaround this issue.

[2020-05-15 08:42] #13234 closed

[2020-05-15 08:44] qianwens commented on #13160
This may be a transient authentication error in cloudshell or the resource type is not supported in cloudshell. You can try run ‘az login’ to use your user account authentication to workaround this issue.

#11749

[2020-05-15 09:12] jurjenoskam commented on #10467
@jsntcy I am aware that there can't be two identical records in a record set, and I am aware the backend service returns an error if you try (although you could argue that the backend service PUT call should itself be idempotent, but that's another subject)

The point is that it would be very useful if Azure CLI commands were idempotent, as described in the command guidelines mentioned above.

If

[2020-05-15 09:14] zhoxing-ms commented on #10631
@ranjitk99 Sorry, because this problem occurred so early, so there is no clue for investigation any more. I can't reproduce this problem on my side, can you reproduce the problem?

[2020-05-15 09:19] cocowalla commented on #13234
@qianwens why has this been closed without comment?

Deleting the `.azure` folder is nothing more than a workaround - the underlying issue remains to be fixed, or at the very least in the interim, a meaningful error message would be helpful :confused:

[2020-05-15 09:23] jurjenoskam commented on #12790
@jiasli I'm using Azure CLI, not the APIs directly, and things don't work correctly if I don't insert sleep statements. See for example the script at https://gist.github.com/jurjenoskam/8b7393831facb9259449c6a77af3b18c and search for all the "sleep" statements in there

[2020-05-15 09:56] #12452 closed

[2020-05-15 11:12] ashwarn commented on #13457
Sure, I will do that and let you know.

On Fri, May 15, 2020, 4:15 PM Bin Ma <notifications@github.com> wrote:

[2020-05-15 11:18] adritrix commented on #12775
@qwordy I’m having the same problem with the 'requireGuestProvisionSignal' error. Did you find a solution? If so I would appreciate the help you could provide me.

[2020-05-15 11:40] anshupitlia commented on #9537
do we have an update on this?

[2020-05-15 11:41] bsuchorowski commented on #13276
That is exactly our issue - https://login.microsoftonline.com is slow. I am not able to create a support request right now. I need to contact somebody from my organization because right now I am receiving:

Your cloud service provider manages your subscription.
To submit a technical support request for this subscription, please contact your service provider:

[2020-05-15 11:52] yonzhan commented on #9537
@aramase

[2020-05-15 12:03] jiasli commented on #12790
Thanks for the script. I see this line may be causing the problem.

[code]

@Juliehzl, could you check if `az storage account network-rule add` does require sleeping after returning a successful response?

[2020-05-15 12:18] jurjenoskam commented on #12790
@jiasli There are many more sleep statements in that script, with quite a few other Azure CLI commands using other backend service APIs

[2020-05-15 13:05] jiasli commented on #12790
I see. So it also happens for `functionapp`

[code]

and `eventgrid`:

[code]

I will let service team confirm on this.

[2020-05-15 13:29] mightysood opened #13516 "Getting OsType null for vmss"
**Describe the bug**

While using Azure cli to fetch details of vmss , osType is showing null.

In my Azure portal below, I can clearly see that OS is Linux
![image](https://user-images.githubusercontent.com/32262801/82054573-c75db480-96dc-11ea-980c-49887a702b93.png)

Using Azure CLI, it's coming out to be null.

    "storageProfile": {
      "dataDisks": null,
      "imageReference": {
        "i

[2020-05-15 13:38] jemag commented on #11210
I have just re-tested with version 2.5.1 and problem is still there. I have used:
`az role assignment list --all --assignee "********" --subscription "*****" --include-groups --include-inherited --include-classic-administrators -o table --debug`

However, I am not sure how I feel about posting the debug output here since it contains a decent amount of personal information. Perhaps if you could pro

[2020-05-15 13:40] yonzhan commented on #13516
@qwordy please take a look

[2020-05-15 14:16] krowlandson commented on #12713
I've come across this issue too, but after researching this I came to the conclusion that this may be by design. You appear to have already followed the best practice of creating a custom SPN rather than relying on `az aks create` but this command doesn't provide the ability to change the SPN.

The following article provides the recommended approach to update or rotate the credentials for Azure Ku

[2020-05-15 14:51] cm1x opened #13517 "Command fails on Azure Cloud Shell but success on windows client."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account list -o table`

## Expected Behavior

Have th

[2020-05-15 14:54] yonzhan commented on #13517
add to S171

[2020-05-15 15:35] StephenWeatherford opened #13518 "Mysterious HTTPSConnectionPool error deploying (too many 500 error responses) when comments are added before first curly brace"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Use this deployment template:
[code]

- `az group deployment create -g {} --template-file {} --handle-ex

[2020-05-15 15:40] dmhendricks opened #13519 "No module named '__builtin__' in Ubuntu 20.04 (Canonical image)"
## Describe the bug

I was trying to install the OmsAgentForLinux and enablevmaccess extensions in Ubuntu 20.04 via CLI.

**Command Name**
`az vm extension image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Tried any and all of the following:

- `sudo apt install azure-cli`
   - _"/usr/lib/python3/dist-packages/azure/cosmos/session.py:186: SyntaxWarning: "is not" wi

[2020-05-15 16:13] christianhidber commented on #10043
Was this feature implemented in the meantime or is there an ETA ?

[2020-05-15 16:43] nickadams675 opened #13521 "az cli unable to --set for "Sign on URL" for SAML Enterprise App/Service Principal"
version 2.5.1

**Describe the bug**
Hello, I am working to leverage either "az rest" or "az ad sp --set" to update the field for what is showing in the Azure Portal as "Sign on URL" under:
Enterprise Applications>Single sign-on>SAML>"Basic SAML Configuration"> "Sign on URL"

**To Reproduce**
az ad show --id <application_id>
This is missing an element/object for "Sign on URL"

**Expected behavior**

[2020-05-15 16:57] mattpasco-microsoft commented on #13507
@bim-msft looks like the pip packages got wiped. Since my `azure-cli` apt package was already up to date, it didnt resolve those dependencies. It might be helpful to add something to check for the presence of those pip packages.

[2020-05-15 17:05] mattpasco-microsoft commented on #13507
[code]

[2020-05-15 17:43] jrudley commented on #12864
az extension add --name aks-preview
az extension update --name aks-preview

az aks create `
    --resource-group $aksRg `
    --name $aksRg `
    --enable-vmss `
    --node-count 1 `
    --vm-set-type VirtualMachineScaleSets `
    --generate-ssh-keys `
    --kubernetes-version 1.16.7 `
    --load-balancer-sku standard `
    --network-plugin azure `
    --vnet-subnet-id $subnetId `
    --docker-bri

[2020-05-15 17:43] briandmaher commented on #13264
Actually, I think this issue is resolved (authentication problem likely related to my Pay-As-You-Go and Learning/Sandbox environments timing out..)

________________________________
From: msftbot[bot] <notifications@github.com>
Sent: Wednesday, May 13, 2020 10:28:47 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Brian Maher <brian.maher@outlook.com>; Mention <mention@noreply.github.com>

[2020-05-15 17:48] camille-rodriguez commented on #13519
Same request for me, I would like the azure-cli to offer a ubuntu 20.04 release. I tried installing the bionic version of the azure-cli instead, and it leads to errors and failures when trying to add extensions.

[2020-05-15 18:56] stevengum commented on #13502
@huski1017 thanks for creating this issue, we will investigate this request.

[2020-05-15 20:32] mathieu-benoit commented on #12864
Yep @jrudley, that's the point, Managed Identity with AKS is now GA, it should work even if the `aks-preview` extension is not installed ;)

[2020-05-15 21:53] BlackthornYugen commented on #13508
Oh! So they do. I didn't consider that they would behave differently outside interactive. I was just playing with that as I learn the CLI since the autocomplete was kinda helpful.

[2020-05-15 23:34] viananth opened #13523 "'az provider register' fails with invalid syntax"
**Describe the bug**

az provider register cmd fails with invalid syntax. Please check the debug output below.

**To Reproduce**
az provider register --namespace Microsoft.Storage

**Expected behavior**

**Environment summary**

Edge build

Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

C:\Windows\system32>az -v
azure-cli                          2.5.1

[2020-05-16 00:12] lmazuel commented on #13293
Yes, you can kill them now, their only purpose is Python 2, that you don't handle anymore. Remove them all from everywhere.

[2020-05-16 00:32] yonzhan commented on #13518
add to S170

[2020-05-16 00:34] yonzhan commented on #13521
add to S170

[2020-05-16 00:37] #13264 closed

[2020-05-16 00:38] yonzhan commented on #13519
@qwordy please take a look

[2020-05-16 00:41] yonzhan commented on #13523
@fengzhou-msft please take a look

[2020-05-16 01:50] BasHamer opened #13524 "Question for the feedback module on the documentation site"
**Is your feature request related to a problem? Please describe.**
I'd like to incorporate a similar module like your feedback module at the bottom of https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest for a documentation site. I was hoping to find the code for that.

**Describe the solution you'd like**
A sample HTML page with the javascript to make the feedback section work so

[2020-05-16 02:03] yonzhan commented on #13524
@fengzhou-msft please take a look

[2020-05-16 02:25] yonzhan commented on #12763
@jrmilholland any update ?

[2020-05-16 02:55] yonzhan commented on #12340
add to S170

[2020-05-16 03:02] nickadams675 opened #13525 "SAML Identifier missing on Service Principal"
version 2.5.1

**Describe the bug**
Hello, it appears that the UI/possibly Graph API is not honoring the SAML Identifier (Entity ID) when set by the Application Manifest. The UI is showing the following behavior:
![image](https://user-images.githubusercontent.com/49757520/82108828-1adcfc00-96f7-11ea-9d56-86812460fd39.png)

![image](https://user-images.githubusercontent.com/49757520/82108843-449623

[2020-05-16 03:06] yonzhan commented on #13525
add to S170

[2020-05-16 03:31] yonzhan commented on #10190
@yoprogramo was your issue resolved?

[2020-05-16 03:32] yonzhan commented on #10190
@boillodmanuel  any feedback?

[2020-05-16 03:34] yonzhan commented on #13383
@kpard any feedback?

[2020-05-16 04:07] yonzhan commented on #12163
@rmtier, any feedback?

[2020-05-16 04:20] yonzhan commented on #11081
@smartpcr any update?

[2020-05-16 04:54] yonzhan commented on #11454
move to S170

[2020-05-16 04:55] yonzhan commented on #10267
move to S170

[2020-05-16 04:55] yonzhan commented on #13072
move to S170

[2020-05-16 04:59] yonzhan commented on #12668
move to S170

[2020-05-16 04:59] yonzhan commented on #12602
move to S170

[2020-05-16 05:00] yonzhan commented on #11137
move to S170

[2020-05-16 05:01] yonzhan commented on #10230
move to S170

[2020-05-16 05:03] yonzhan commented on #5598
move to S170

[2020-05-16 05:06] yonzhan commented on #10229
move to S170

[2020-05-16 05:21] #10731 closed

[2020-05-16 05:34] yonzhan commented on #11054
add to S171

[2020-05-16 05:36] yonzhan commented on #11031
add to S171

[2020-05-16 05:37] yonzhan commented on #10946
add to S171

[2020-05-16 07:08] boillodmanuel commented on #10190
I confirm that `share-rm` bypass the firewall 👍but what about blob and other storages?

[2020-05-16 07:50] yonzhan commented on #10935
add to S171

[2020-05-16 07:51] yonzhan commented on #10899
add to S171

[2020-05-16 07:52] yonzhan commented on #10765
add to S171

[2020-05-16 07:55] yonzhan commented on #10868
add to S171

[2020-05-16 07:57] yonzhan commented on #10867
add to S171

[2020-05-16 07:59] yonzhan commented on #10362
add to S171

[2020-05-16 08:04] yonzhan commented on #8606
add to S171

[2020-05-16 08:05] yonzhan commented on #8601
add to S171

[2020-05-16 08:11] yonzhan commented on #9662
add to S171

[2020-05-16 08:13] yonzhan commented on #8727
add to S171

[2020-05-16 08:23] yonzhan commented on #10564
add to S171

[2020-05-16 08:23] yonzhan commented on #10564
@adodado any update?

[2020-05-16 08:25] yonzhan commented on #10488
add to S171

[2020-05-16 08:26] yonzhan commented on #10563
add to S171

[2020-05-16 08:59] vllama opened #13526 ""az group deployment validate" hangs when parameters are missing"
When calling "az group deployment validate" as below, if any parameter that is specified in the template.json file is omitted, the call just hangs, and does not return. It also does not seem to time out.
[code]
parameter is defined in template as:

[code]

Version used:
[code]

[2020-05-16 09:17] silentbobbert opened #13527 "Cannot simply add tags to existing resource"
**Command Name**
`az resource tag`

**Errors:**
[code]

## To Reproduce:

Run in Powershell
[code]

## Expected Behavior

I would expect that the ACI resource (YOUR-ACI-APP-NAME) would have its tags updated, by adding "vmlist=vm1" to the existing tags.

Instead, it looks like some sort of deployment template validation is occurring on the deployment that just took place in this script, and is now

[2020-05-16 09:38] RohitY24 opened #13528 "Command az vm start not working with Azure CLI in Azure Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm start -g {} -n {}`

## Expected Behavior

## Environment Summary
[code

[2020-05-16 10:51] yonzhan commented on #13526
add to S170

[2020-05-16 10:53] yonzhan commented on #13527
add to S170

[2020-05-16 10:54] yonzhan commented on #13528
@qwordy please take a look

[2020-05-16 13:32] azilber commented on #12242
I'm seeing this issue with the az cli, except it throws the error, then it just goes through and works like it did before and uses the MSI.  BUT, if I add --auth-mode login, then it just fails with:

`You do not have the required permissions needed to perform this operation.
Depending on your operation, you may need to be assigned one of the following roles:
    "Storage Blob Data Contributor"

[2020-05-16 14:22] lgmorand opened #13529 "az redis create - enabling ssl port - incorrect/unclear documentation"
I'm trying to create a Redis cache using `az redis create` command.
When passing the parameter --enable-non-ssl-port true, the command triggers an error

The doc is clear, true can be passed as parameter
[code]

Note: if I just use the parameter with any value then it works. But then the doc is misguiding, either true should be passed or either just the parameter without any value

---
#### Docume

[2020-05-16 14:47] yonzhan commented on #13529
redis

[2020-05-16 15:46] JohnD76 commented on #8296
I am trying to deploy a VM from a generalized Private Image into and existing Vnet and Subnet but cannot do it without an NSG being created. Attempting to use "" for the NSG and PIP simply cause the process to bomb, since it is expecting a pre-existing NSG to exist.

[https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-generalized-managed](url)

The above MSFT example, does n

[2020-05-16 15:52] JohnD76 commented on #8296
I have found the following which may be an option.....

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmosdisk?view=azps-3.8.0

[2020-05-16 17:43] ezYakaEagle442 opened #13530 "valid values for apiserver visibility & ingress visibility NOT DOCUMENTED"
What are the valid values for apiserver visibility & ingress visibility ??

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 08eb181a-b377-c854-69cc-3b9307f59f72
* Version Independent ID: 2142cb43-b027-86a1-6d3c-2f77bf86d177
* Content: [az aro](https://docs.microsoft.com/fr-fr/cli/azure/aro?view=azure-

[2020-05-16 18:51] ezYakaEagle442 opened #13531 "Pod & Service CIDR must be /18 or larger"
Pod & Service CIDR must be /18 or larger, this should be documented in the CLI docs !

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 08eb181a-b377-c854-69cc-3b9307f59f72
* Version Independent ID: 2142cb43-b027-86a1-6d3c-2f77bf86d177
* Content: [az aro](https://docs.microsoft.com/fr-fr/cli/azure/aro?

[2020-05-16 20:36] packerwhathappened opened #13532 "az login rhel76 error loading modules (2.0.77)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2020-05-16 23:31] yonzhan commented on #13530
aro

[2020-05-16 23:32] yonzhan commented on #13531
aro

[2020-05-16 23:33] yonzhan commented on #13532
add to S170

[2020-05-17 04:10] mathurneha opened #13533 "Azure CLI commands are failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account show`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

[Errno 5] Input/output error: '/xxx/xxxx/xxxxx/commands/2020-05-17.04-06-29.account_show.136.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", li

[2020-05-17 04:12] mathurneha commented on #13533
I am unable to run any az command in the cloud shell. I

[2020-05-17 04:41] epomatti opened #13535 "Add Portal options that missing to create Cosmos DB using CLI"
**Describe the solution you'd like**

On the Portal there are two options that I can't find when using Azure CLI:

- Apply Free Tier Discount (Apply / Do not apply)
- Account Type (Production / Non-production)

![image](https://user-images.githubusercontent.com/6530769/82135960-f6f4e580-97de-11ea-94b4-9e424c0d05f9.png)

I would like to be able to create a Cosmos DB resource with these options usin

[2020-05-17 05:56] SeaDude opened #13536 "--query?"
--query seems to be a universal flag for each az command, but its not often listed as a required or optional flag. Maybe linking to how --query works from this root doc would be useful?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-

[2020-05-17 06:21] SanjayGonsalves opened #13537 "cannot import name 'ENV_ADDITIONAL_USER_AGENT'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-17 06:39] the-vampiire commented on #8401
@tjprescott this is a useful fact to add to the documentation at least man.

what about just switching to tsv automatically for single string outputs if executed in a bash shell? is there a use case im overlooking for outputting with literal quote characters?

[2020-05-17 06:47] SeaDude commented on #10904
To piggy back onto this... I can't find any Azure documentation on the `--scope` syntax. What the format is, what permissions are granted for each level, etc. Does anyone have a resource that illustrates this?

[2020-05-17 06:57] SeaDude commented on #10127
I've also been looking everywhere for `scope` documentation. It doesn't seem to exist. I was also pointed to `resource id` as a scope definitions. I believe this is only partially accurate as a scope can be defined to the subscription, resource group or resource-level.

[2020-05-17 13:18] yungezz commented on #13537
hi @jiasli could you pls have a look?

[2020-05-17 13:19] yungezz commented on #13535
routing to service team to have a look

[2020-05-17 13:21] yungezz commented on #13536
hi @SeaDude here's doc https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest on --query. Does it helpful?

[2020-05-17 13:21] winseros commented on #10574
Same here

[2020-05-17 13:21] yungezz commented on #13533
hi @mathurneha did you see the error in Cloudshell?

[2020-05-17 13:23] yungezz commented on #13528
hi @RohitY24 did you see the error in Cloudshell? If yes, this is a known issue in Cloudshell, Cloudshell team is working on resolving it. one workaround is using local installed azure cli.

[2020-05-17 13:25] yungezz commented on #13528
duplicate with https://github.com/Azure/azure-cli/issues/11749

[2020-05-17 13:49] #13374 closed

[2020-05-17 14:25] RohitY24 commented on #13528
Hello @yungezz, thank you for letting me know that the team is working on a fix. Any ETA on when the fix is expected?

[2020-05-17 16:19] nlksg opened #13539 "az interactive >> The command failed with an unexpected error. Here is the traceback:"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-17 16:19] mathurneha commented on #13533
Yes, I am unable to run any cli command.

Thanks & Regards
Neha

[2020-05-17 18:39] mvvsubbu opened #13540 "Add support for tab completion of command"
**Is your feature request related to a problem? Please describe.**
There are few tools which support auto completion of command by pressing tab. For example dotnet command does support this, having this feature would make usability lot easier.

https://docs.microsoft.com/en-us/dotnet/core/tools/enable-tab-autocomplete

**Describe the solution you'd like**
az and press tab should show available opt

[2020-05-17 23:04] yonzhan commented on #13539
interactive

[2020-05-17 23:07] yonzhan commented on #13540
@arrownj  please take a look

[2020-05-18 02:09] jiasli commented on #13539
Looks like you have another version of `prompt_toolkit` which is conflicting with the one `interactive` is using.

https://github.com/Azure/azure-cli-extensions/blob/4c14ac3599c7eddb8a9d9647cd5b6979847f4493/src/interactive/setup.py#L34-L36

[code]

Please try to uninstall with

[code]

[2020-05-18 02:10] #13018 closed

[2020-05-18 02:10] jiasli commented on #13537
Duplicate of #12837. Please see the solution at https://github.com/Azure/azure-cli/issues/12837#issuecomment-607610509.

[2020-05-18 02:10] #13537 closed

[2020-05-18 02:14] #11054 closed

[2020-05-18 02:14] jiasli commented on #11054
Closing due to no detailed information. I will reopen once more information is provided.

[2020-05-18 02:20] jiasli commented on #13525
This issue doesn't seem be to caused by Azure CLI, but by AD Graph API. Could you create a Support Request in Azure Portal for AAD? Thanks for understanding.

[2020-05-18 02:26] haroldrandom commented on #13103
Could you give a try at Azure CLI 2.5.1+ ? I tried it at 2.5.1 and Windows 10, it worked, can't reproduce your error.

[2020-05-18 03:05] arrownj commented on #13533
Hi @mathurneha , Could you please help confirm whether you have extra space in your storage account? It seems that you encounter a I/O error while write log to disk. You may confirm it by writing a file to $HOME/.azure/commands. Thanks

[2020-05-18 03:06] arrownj commented on #13540
Hi @mvvsubbu , which platform are you using ? Windows, Linux or Mac ?

[2020-05-18 03:19] fengzhou-msft commented on #12269
@avnes We're using the latest alpine3.11 image and the pacthes on alpine are very limited. There's not much we can do based on alpine. One way to make the image more security is to use Ubuntu as the base image. And we will prioritize the work. Releated issue: https://github.com/Azure/azure-cli/issues/9636

[2020-05-18 03:19] #12269 closed

[2020-05-18 03:33] MyronFanQiu commented on #11085
close it and we can discuss the design later.

[2020-05-18 03:33] #11085 closed

[2020-05-18 04:57] mvvsubbu commented on #13540
windows

[2020-05-18 05:31] haroldrandom commented on #13259
Hi, @Shert we found it might need support from Service Team. I marked it as "Service Attention" for routing this question to vnet service team.

[2020-05-18 05:45] george1991lt commented on #12896
I updated Azure CLI and worked for me

Kind regards,

George Antoniou
Senior Systems Engineer
ZEBRA Consultants Ltd

[cid:image001.jpg@01D62CF0.A401C180]
www.zebrac.com<https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.zebrac.com%2F&data=02%7C01%7Cv-ogetow%40microsoft.com%7C3901b822131544edec4408d7e074affb%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637224664096418482&sdata=igr

[2020-05-18 06:15] bim-msft commented on #13507
@mattpasco-microsoft Have you updated `azure-keyvault` manually? Azure CLI depends on `1.1.0` currently. You can use `azure-keyvault==1.1.0` to solve the issue.

[2020-05-18 06:47] Juliehzl commented on #10190
Currently we only have such support for file share, but we are welcome for the request of other storage services.

[2020-05-18 07:08] qwordy commented on #12896
Glad to know that.
BTW, the images are not shown correctly in Github.

[2020-05-18 07:08] #12896 closed

[2020-05-18 07:13] Wyren commented on #12273
I had the same problem. Seems like the api-version used isn't compatible. The .Net SDK uses api version 2017-04-02 and when using that as a custom rest call I got it to work. The rest page for this call also mentions 2017-04-02 at the URI paramaters as the working version. But all the other values on there refer to 2019-04-15 which gives this same error.

https://docs.microsoft.com/en-us/rest/api/

[2020-05-18 07:15] haroldrandom commented on #13293
I think we are going to onboard this, have to change the way to find Python Package in setup.py from `find_packages` to `find_namespace_packages`.
And a lot of continuous intgeration job need to change accordingly as we use `find_package` a lot in CLI Extension https://github.com/Azure/azure-cli-extensions/issues/1608

[2020-05-18 07:23] boillodmanuel commented on #10190
Hi @Juliehzl. How can I do this request? How is this synchronized with request for REST API ? Or Go SDK?
I don't even know if she `share-rm` is available on these clients?

[2020-05-18 07:42] qwordy commented on #12775
Hi service team, do you know how to use requireGuestProvisionSignal? I try to register the feature, I get "The feature 'Agentless' could not be found."

[2020-05-18 07:47] qwordy commented on #13508
Glad to see that the autocomplete feature is helpful.

[2020-05-18 07:51] adritrix commented on #12775
@qwordy In my case, I received that error while trying to deploy Rome resources through a template. I fixed it by removing the line.

  **"requireGuestProvisionSignal": true**

[2020-05-18 08:31] mjudeikis commented on #13530
Thanks, we will fix this and rollout when we can.

[2020-05-18 08:42] karataliu opened #13545 "'az extension add --name' should output standard log to stdout"
**Describe the bug**

Currently when using 'az extension add --name <>', the following output will show in stdout instead of stderr
- Searching ..
- Downloading..

In some case we want to disable stdout to decrease verbose:
az extension add --name <> > /dev/null

But message lik '-- Searching ...' is still showing up.

we would not redirect stderr to /dev/null since we would like to see message if

[2020-05-18 08:45] mgovers-brightcubes commented on #11261
I have the same issue when following the exercises in this learning path: https://docs.microsoft.com/en-us/learn/modules/host-a-web-app-with-azure-app-service/ . I don't know if the location has anything to do with the issue, but I am trying to access the Central US location (since that is the one in the Sandbox environment) from the Netherlands.

[2020-05-18 09:07] #10230 closed

[2020-05-18 09:29] #10317 closed

[2020-05-18 10:02] KatjaBF commented on #11168
Microsoft Graph permissions
**Application.ReadWrite.OwnedBy**
Manage apps that this app creates or owns.
Allows the calling app to create othe applications and **service principals**, and fully manage those applications  and service principals (read, update, update application secrets and  delete), without a signed-in user.  It cannot update any applications  that it is not an owner of. Does not a

[2020-05-18 10:48] yonzhan commented on #13545
devops

[2020-05-18 11:34] yossi-y opened #13546 "Log Analytics Data cap"
**Resource Provider**
microsoft.operationalinsights

**Description of Feature or Work Requested**
Add CLI/PowerShell support for setting Daily volume cap (aka data cap) on workspace ingestion.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#manage-your-maximum-daily-data-volume

**Minimum API Version Required**
2020-03-01-preview

**Swagger Link**
Not available ye

[2020-05-18 11:49] GeeWee commented on #12713
I think it's true that it's by design. It does mention how you should create the credentials.

However with the design goal that the azure cli is idempotent, I would expect that I could run these snippets of code twice, and not get an error. I would assume it would translate the `create` commands into the required update commands to make that work.

[2020-05-18 12:19] yungezz commented on #13546
hi @MyronFanQiu could you pls have a look?

[2020-05-18 12:51] yonzhan commented on #13546
add to S171

[2020-05-18 13:22] haroldrandom commented on #12763
Hi, @jrmilholland  I digged it out. The property `application_gateways` in data structure `WebApplicationFirewallPolicy` is read-only, it's not settable. That's why it could success without raising errors and update nothing becausing the framework never send it out.

Has to use another way to associate a waf-policy with an application-gateway, that is `--waf-policy` parameter in `az network applic

[2020-05-18 13:27] DoPaNik commented on #13250
@zhoxing-ms Hi, mail just went out to you

[2020-05-18 13:54] OsaPL commented on #11926
Still happening :(

Getting available:
[code]
Creating server:
[code]
And finally the Db:
[code]

[2020-05-18 14:39] rbyshko commented on #1520
Sort by DisplayName:

`az account list-locations --query "sort_by([].{DisplayName:displayName, Name:name}, &DisplayName)" --output table`

[2020-05-18 14:56] panchagnula commented on #11867
Thanks @madsd next time can you make sure to include the issue# in the title so that the issue gets auto-closed after merged (Ex. [ARM] Fix #10246: az resource tag crashes when the parameter --ids passed in is resource group ID)

[2020-05-18 14:56] #11867 closed

[2020-05-18 15:33] panchagnula commented on #12602
Closing this since we believe this is fixed. Please re-activate if this is not the case. Thanks!

[2020-05-18 15:33] #12602 closed

[2020-05-18 16:28] ezYakaEagle442 opened #13547 "Describe which CLI command to use to import an SSH Key pairs and download private key from KV"
see https://github.com/MicrosoftDocs/azure-docs/issues/55072

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8ed-c246-2ffb-9dff-070b90c18b21
* Version Independent ID: c09c1597-1b6c-b0a2-b3fc-bdc16764d096
* Content: [az keyvault secret](https://docs.microsoft.com/en-us/cli/azure/keyvault/secret?view=azure-cli-latest

[2020-05-18 16:29] ezYakaEagle442 opened #13548 "Describe which CLI command to use to import an SSH Key pairs and download private key from KV"
see
https://github.com/Azure/azure-cli/issues/13547
https://github.com/MicrosoftDocs/azure-docs/issues/55072

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Content: [az keyvault key](https://docs.microsoft.com/en-us/cl

[2020-05-18 16:48] JonasJurczok commented on #12602
Sorry I didn’t get back to you. We automated our whole deployment system so there is no need for the cli anymore.

Thanks for the fix. If there is a problem I will reopen the issue.

[2020-05-18 17:20] JamesEarle commented on #4304
Wrapping the queried name actually still provided me with issues. The only solution to this for me was escaping the single quotes around the name I was looking for AS WELL as escaping the spaces.

`az account list --query [?name==\'something\ with\ a\ space\']`

[2020-05-18 17:21] johanste commented on #4304
Which shell are you using?

[2020-05-18 17:29] EvilSmiff opened #13549 "az backup protection enable-for-azurefileshare error on adding second fileshare"
This occurs on adding a backup to the second fileshare on a storage account.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protection enable-for-azurefileshare`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put

[2020-05-18 18:56] nickadams675 commented on #13525
@jiasli

Thanks! I've opened a support request via the Azure Portal.

I would like to have the latter part of this issue investigated, is that possible?:

[2020-05-18 20:17] mattpasco-microsoft commented on #13507
Forcing pip version to 1.1.0 fixed it

[2020-05-18 20:17] #13507 closed

[2020-05-18 20:25] shurd commented on #12575
Hi @lokijota thank you for opening this issue. Unfortunately there is not currently any way to exclude certain commands from the auto-generated documentation without removing support for the commands in the CLI.

The new API-specific commands are also documented, so you can review how to use them (one example is [here](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/sql/database?view=azure-cli

[2020-05-18 20:25] #12575 closed

[2020-05-18 20:38] dmhendricks commented on #13519
FYI - I experimented and created a new Azure instance with the standard Ubuntu 18.04 LTS image, then did a [`do-release-upgrade`](https://linuxconfig.org/how-to-upgrade-ubuntu-to-20-04-lts-focal-fossa). I wanted to see if I got a different result using that method rather than the public Canonical 20.04 image, but I received the same Python error(s) with the `azure-cli`:

[code]

[2020-05-18 20:40] Pat-Ayres opened #13551 "Cannot `az acr login` on Pengwin in WSL2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login -n {}`

## Expected Behavior
I am authenticated to my containe

[2020-05-18 21:16] shurd commented on #13535
Hi @evandropomatti thank you for opening this issue. We are working on adding the "free tier" option in the CLI. We are waiting on the SDK that has those options to be generated.

The "Account Type" option just adds an additional tag to the account ("CosmosAccountType"). You can manually add the "Production" or "Non-Production" tag if you want them on your account. We do not want to add duplicate

[2020-05-18 21:25] ebrucucen commented on #13324
Apparently it is not part of main AzureCli feature, but does require installation of cli extension:
https://github.com/Azure/azure-cli-extensions/issues/1713#issuecomment-629667760

[2020-05-18 21:39] bablushaikh opened #13553 "az : Command group 'vm monitor metrics' is in preview."
az : Command group 'vm monitor metrics' is in preview. It may be changed/removed in a future release.
i have been facing this error while using az vm monitor metrics tail --name
                           --resource-group
                           [--aggregation {Average, Count, Maximum, Minimum, Total}]
                           [--dimension]
                           [--end-time]

[2020-05-18 22:00] SpartyInDetroit opened #13555 "Typo in `az aks update` exception"
**Describe the bug**

Running command `az aks update -g <resource-group> -n <resource-name>` with no further arguments will yield the following exception:

[code]

Note the suggestion for `--dettach-acr`. This is a typo as the actual flag is `--detach-acr` with a single t.

**To Reproduce**

Run the following command with valid resource names:
`az aks update -g <resource-group> -n <resource-name>`

[2020-05-18 22:01] SpartyInDetroit commented on #13555
Created a pull request here: #13554

[2020-05-18 22:20] evandropomatti commented on #13535
@shurd thanks for the response.

1. The "free tier" option would be great. I believe we keep this issue opened then until it is released? In that would be a good idea to add it to the internal tool so it can be closed and tested in the future.

2. The "Account Type" implemented as a tag sounds strange to me, and it is not obvious to someone using the API. It looks like something that should be par

[2020-05-18 22:30] stevengum commented on #13502
@huski1017 this looks to be doable with the current Swagger-generated Python SDK. I'm going to tentatively mark it for S170 and see if I can get it via https://github.com/Azure/azure-cli/pull/13462.

[2020-05-18 22:34] yonzhan commented on #13548
@bim-msft please take a look

[2020-05-18 22:35] yonzhan commented on #13547
@bim-msft please take a look

[2020-05-18 22:36] yonzhan commented on #13549
backup

[2020-05-18 22:46] jrmilholland commented on #12763
Thanks!

[2020-05-18 22:46] #12763 closed

[2020-05-18 22:51] scottgorlick opened #13556 "unable to use az cli in cloud shell."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
unsure when/how this started, but every AZ CLI command that I invoke from my cloud shell instance (not just this run command) will result in the same oauth token lookup exception.

**Command Name**
`az vm run-command invoke`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2020-05-18 22:56] yonzhan commented on #13551
acr

[2020-05-18 22:59] yonzhan commented on #13553
@qwordy please take a look

[2020-05-18 23:01] yonzhan commented on #13555
aks

[2020-05-18 23:03] yonzhan commented on #13556
@qwordy please take a look

[2020-05-18 23:32] zooba commented on #13293
Not quite true.

Python resolves namespace packages by searching every `sys.path` entry for the name (in this case, `azure`), and returning the first one that contains an `__init__.py` file. If no `__init__.py` file is found, it well return _all_ the `azure` directories that were found as a namespace package (essentially, nothing on disk, and if you import any subpackages from it then it'll search

[2020-05-18 23:54] awentzel opened #13557 "Why is `--cname` a required option"
When it's already required in `az network dns record-set cname`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf2496b-338d-9d05-7c91-63b9ed576dae
* Version Independent ID: 0ae8e4a4-59ae-c756-9e5b-44239188882f
* Content: [az network dns record-set cname](https://docs.microsoft.com/en-us/cli/azure/network/dns/record-s

[2020-05-19 00:20] lmazuel commented on #13293
The current recommendation I push is:
- `azure\__init__.py` with `pkgutil` line in the repository. Could do no file if Python 2 dev is not required.
- `azure\__init__,py` with `pkgutil` line in the sdist. Could do no file if Python 2 dev is not required.
- no `azure\__init__.py` file in wheels
- empty `azure\__init__.py` in `azure-nspkg` package
- unpinned (no version) dependency on `azure-nspkg`

[2020-05-19 01:30] yungezz commented on #13557
hi @MyronFanQiu could you pls have a look?

[2020-05-19 01:31] yungezz commented on #13547
duplicate with #13548 close this one

[2020-05-19 01:31] #13547 closed

[2020-05-19 01:32] yungezz commented on #13556
duplicate with #11749, #13528 , this is an issue in Cloudshell.

[2020-05-19 01:34] MyronFanQiu commented on #13553
@bablushaikh looks like you input some wrong arguments or values. The easy way to use it is to input a vm's name and its resource group.

[2020-05-19 01:34] yungezz commented on #13553
hi @bablushaikh could you share your error? " Command group 'vm monitor metrics' is in preview. I" is a hint message, not error, it doesn't blocking usage of the command.

[2020-05-19 01:35] yungezz commented on #13551
duplicate with https://github.com/Azure/azure-cli/issues/13336

[2020-05-19 01:50] yonzhan commented on #13557
add to S170

[2020-05-19 01:51] MyronFanQiu commented on #13557
In `az network dns record-set cname create` command, `--cname` is not required. In `az network dns record-set cname set-record`, `--cname` is required. Could your share more about your usage scenario so that I can understand the context? Since we need to set a record, it makes sense to me that `--cname` is required.

[2020-05-19 01:54] jiasli commented on #13525
If this can't be configured via Graph API, Azure CLI can't do this as well. Azure CLI is still using the old AD Graph API 1.6.

You may discuss with the support engineer about whether this can be done using Microsoft Graph API. If so, you may use `az rest` to call that API. Examples can be found at https://github.com/Azure/azure-cli/issues/12946.

[2020-05-19 04:23] ramaganesan-rg commented on #9758
This is by design.. newly created resources will take time to emit usage and will show up in our system after 4-8 hours.

[2020-05-19 04:23] #9758 closed

[2020-05-19 05:18] ramankumarlive opened #13559 "Cli support for Encryption of cache & data-in-transit for OS/Data disks and temp disks for VM & VMSS"
**Resource Provider**
Compute Resource Provider

**Description of Feature or Work Requested**
We are introducing the encryption of the following:

1.	Encryption at rest for temp disks
2.	Encryption at rest for cache of OS and data disks
3.	Encryption of data-in-transit of OS and data disks

The above encryption features can be enabled by setting a new property EncryptionAtHost under securityProfil

[2020-05-19 05:26] yungezz commented on #13559
feature request

[2020-05-19 05:28] wolszakp opened #13560 "ServiceBus topic update doesn't work for Standard serviceBus"
**Describe the bug**
Update azure service bus for ServiceBus should be possible according with documentation.
It is possible to it using azure portal.

**To Reproduce**
`az servicebus topic update --enable-batched-operations true --name $topic --namespace-name $ns -g $rg`

**Expected behavior**
Batch operation should be enabled

**Environment summary**
My service bus is in `Standard` tier
`azure-c

[2020-05-19 06:08] evancarey commented on #8435
I made it here because I'm migrating from az storage queue to service bus. I assumed there'd be a similar set of methods as described [here](https://docs.microsoft.com/en-us/cli/azure/storage/message?view=azure-cli-latest) for service bus queues/messages. I use the cli for testing/development of queue clients. Was hoping to have the same capability for dev of service bus clients.

[2020-05-19 06:10] tsgenge commented on #11867
Thanks guys, a good balanced solution. Appreciate the help, and it’s great to see the feedback system being so transparent with the users.

[2020-05-19 06:22] yonzhan commented on #13560
servicebus

[2020-05-19 06:38] arolshan opened #13562 "Please add 2 optional properties for OperationalInsights saved searches API"
**Resource Provider**

Microsoft.OperationalInsights
**Description of Feature or Work Requested**

Adding 2 new properties for existing CLI, 2020-03-01-preview version, which are defined here:
https://github.com/Azure/azure-rest-api-specs/pull/9498
docs: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions-resources-searches-alerts

**Minimum API Version Required**

2020-03-01-p

[2020-05-19 06:43] yonzhan commented on #13562
add to S171

[2020-05-19 07:27] fengzhou-msft commented on #13501
@sayd0003 are you running on Cloud Shell? There is a [known issue](https://github.com/Azure/azure-cli/issues/11749). Please run `az login` and retry.

[2020-05-19 07:29] zhoxing-ms commented on #13250
@DoPaNik Thanks for your email. I used the tag parameters in the email and still could not reproduce the problem. Could you please add `--debug` to the original command and send me the printed message?

[2020-05-19 07:42] OsaPL opened #13600 "Cant create Db with correct parameters."
The error contradicts with itself.
``Powershell Win10 x64``

Getting available:
[code]
Creating server:
[code]
And finally the Db:
[code]

_Originally posted by @OsaPL in https://github.com/Azure/azure-cli/issues/11926#issuecomment-630198944_

[2020-05-19 07:45] matifali opened #13563 "azure cli snap package isn't updated."
**Azure Snap package is outdated**

[2020-05-19 07:45] huski1017 commented on #13502
@stevengum That would be great, thank you for taking care of my request!

[2020-05-19 07:48] yonzhan commented on #13563
@fengzhou-msft  please take a look

[2020-05-19 08:11] fengzhou-msft commented on #13563
Duplicate of #8631

Thanks for reporting the issue. We will review the support for snap package.

[2020-05-19 08:18] fengzhou-msft commented on #13523
@viananth We've dropped support for Python 3.5. Some code is written with the syntax only supported with Python 3.6+. Can you upgrade your Python version to at least 3.6?

[2020-05-19 08:23] haroldrandom commented on #10743
The `account` command groupd is simple enough I guess, personally, most of sub-commands doesn't have more than 3 parameters even 0 parameter, is it necessary to add example?

[2020-05-19 09:13] yoramsinger commented on #13546
Swagger PR: https://github.com/Azure/azure-rest-api-specs/pull/9505

[2020-05-19 09:58] zhoxing-ms commented on #12037
Hi @djc In fact, only the bottom of command `az storage blob sync` calls `azcopy`. In the case of supporting symbolic links, there is a lack of `--follow-symlinks` parameter. I will submit a PR to solve this problem.
Command `az storage blob upload-batch` on my side can support symbolic links, what's the problem with you? If there are some problems, Could you please add the `--debug` parameter to

[2020-05-19 10:17] EvilSmiff commented on #13549
This is actually taking place on the first fileshare creation now as well, however, it has been working previously using the same az cli code so something has changed.  I'm not aware of any updates to the host OS we are using - except a change to the az cli version after this started to occur.

[2020-05-19 12:40] Shert commented on #13259
Hi,
thanks for the attention, I noticed a new build of the cli has been released,
I will try asap and let you know if I notice differences

[2020-05-19 12:41] yungezz commented on #13560
hi @wolszakp could you pls share error you met for investigation?

[2020-05-19 12:50] Shert commented on #13259
just chgecked with this new version :

[code]

the output has not changed

I issued :

`az network vnet check-ip-address --resource-group ${myRG} --name ${myVnetName} --ip-address ${myIpAddress}`

and got

[code]

[2020-05-19 12:56] lifenautjoe commented on #6409
This helped. Thanks!

[2020-05-19 13:36] djc commented on #12037
I can't easily test this now. In any case I don't just want to upload, I want to fully sync such that old files get removed.

[2020-05-19 14:05] juanjojulian commented on #12864
Thanks @mathieu-benoit , this workaround works perfect and saved my day

[2020-05-19 14:10] mithuns1986 commented on #13505
![image](https://user-images.githubusercontent.com/40950581/82336802-a365e000-9a08-11ea-950c-6bc636eea44b.png)

[2020-05-19 14:19] edsonharantes opened #13569 "AZ command does nothing"
**Describe the bug**
I just installed the azure cli tool, but when I type az login on the cmd window or use power shell, nothing happens, not even an error message is displayed.

**To Reproduce**
1. install azure CLI tool
2. open a power shell window, type az login (or any other command from the az CLI)
3. nothing happens

**Expected behavior**
It should open a browser windows to type my credentia

[2020-05-19 14:22] mithuns1986 commented on #13505
![image](https://user-images.githubusercontent.com/40950581/82337899-e7a5b000-9a09-11ea-8e2c-c01d78e60088.png)
![image](https://user-images.githubusercontent.com/40950581/82338048-0b68f600-9a0a-11ea-817b-dcf643370ac2.png)

I used strace command and it hangs at rt_sigaction and hangs there indefinetely can someone look into this please.

[2020-05-19 14:25] yonzhan commented on #13569
@arrownj please take a look

[2020-05-19 14:25] mithuns1986 commented on #13505
Even the strace command hangs and needs to kill it forcefully and then we get below message.

`Process 26800 detached
< detached . . .>`

[2020-05-19 14:28] AndyBrownlie commented on #10089
I'm experiencing the same here as manalotoj. Can't find examples thorough enough to work it out, or Mongodb ones to follow. As for the extensions link above. I mean, where do you even start?!

[2020-05-19 14:29] Pat-Ayres commented on #13551
Thank you @yungezz! Looking at #13336 helped me resolve my issue.  Pengwin wsl distro has a setup utility that I used to install az cli, but it installs an old version.  There is a PR open to update it: [here](https://github.com/WhitewaterFoundry/pengwin-setup/pull/234/commits/c5b6a381bf24ca30f60e25c9aebf0656c687ca96).  Using the updated commands in that commit installs the current version (2.6.0

[2020-05-19 14:29] #13551 closed

[2020-05-19 15:05] awentzel opened #13570 "It would be nice to see links to/from azure cli"
If a customer enters the doc site from azure cli, there is no explanation on what things are.  It would be useful to include in the entire CLI documentation a link back to what it is, for example, what is an linked-service?  If I'm using App Service for Web Apps is this how I link my apps to log analytics workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-05-19 15:30] yonzhan commented on #13570
add to S171

[2020-05-19 15:40] alanauckland86 commented on #9902
Hello,
       I ran into this issue today.
$ az login
dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/azure-cli/2.6.0/libexec/bin/python
  Reason: image not found
/usr/local/bin/az: line 2:  2845 Abort trap: 6           AZ_INSTALLER=HOMEBREW /usr/local/Cellar/azure-cli/2.6.0/libexec/bin/python -m azure.cli "$@"

I tried to uninstall and reinstall as per t

[2020-05-19 15:43] awentzel opened #13571 "Webapp:How do I connect my Web App to App Insights & Workspace?"
It's unclear how to turn on application insights using Azure CLI and link to my Azure Monitor Workspace.  Please provide documentation on how to perform this scenario using Azure CLI.

I'm using App Service for WebApp running Linux Node|LTS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-cce4b0c

[2020-05-19 15:52] yonzhan commented on #13571
webapp

[2020-05-19 16:32] lmazuel commented on #13293
Side note @jiasli that I didn't realize before @zooba comment, in real life CLI installation, you shouldn't have the `pkg_resources` line anyway, since you're supposed to rely on nspkg packages today already. So I think you did you measurement on a dev install of the CLI. In order to get numbers that represents reality, I would encourage you do them on a real install.

If you do have `pkg_resource

[2020-05-19 16:56] jlichwa commented on #13247
#please-close

[2020-05-19 17:16] outforpublic commented on #11596
Getting the same problem here

[2020-05-19 17:31] Praveen-410 commented on #13209
My customer is using Ubuntu and they are getting the same error.

[2020-05-19 17:42] poblahblahblah commented on #13209
Seeing this as well.

[2020-05-19 17:49] awentzel commented on #13557
@MyronFanQiu I think the terminology is a little confusing for me, but, perhaps this is because I'm not a network expert.  I eventually found the right command configuration.  I think that biggest thing that's confusing is when Azure CLI documentation lists parameter options and refer to name, resource group, location, cname etc, but, often when it's linking for example a web app to a dns record e

[2020-05-19 17:59] mithuns1986 commented on #13505
@yungezz can you please look into this.

[2020-05-19 18:06] lchave opened #13573 "Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Getting the following error when trying to query the IP address of a NIC for which I had already pulled the ID and sent as a parameter in the show command.
Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/......./resourceGrou

[2020-05-19 18:17] mithuns1986 commented on #13569
I am also facing the same issue in my linux server and az commands hangs indefinitely.

https://github.com/Azure/azure-cli/issues/13505

[2020-05-19 18:21] mithuns1986 commented on #13505
@arrownj can u please help on this please

[2020-05-19 18:41] stewartadam opened #13574 "Set group description via 'az ad group create'"
**Is your feature request related to a problem? Please describe.**
Not all properties of groups are settable via the CLI.

**Describe the solution you'd like**
I'd like to be able to set the group description property via Azure CLI in `az ad group create`

**Describe alternatives you've considered**
Manually getting a token and doing REST API calls (that defeats the purpose, it's long and arduous)

[2020-05-19 18:46] viananth commented on #13523
Thank you @fengzhou-msft . It was a hotfix env and it had Python 3.5. Once updated to 3.6, it went fine.

[2020-05-19 18:46] #13523 closed

[2020-05-19 18:51] paulhufton opened #13575 "Error when following learn module aks setup"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --name {} --resource-group {} --enable-addons {} --kubernete

[2020-05-19 19:14] parasdesaicims commented on #13032
Tried resolving with the instructions here:
1. https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy
2. https://blog.jhnr.ch/2018/05/16/working-with-azure-cli-behind-ssl-intercepting-proxy-server/

Still no luck. Can you please help.
Env. is
macOS-10.15.4-x86_64-i386-64bit
Python 3.8.2
Installer: HOMEBREW

azure-cli 2.3.1

Extensions:
interactive 0.4.3

[2020-05-19 20:36] dharmab opened #13577 "`az role assignment delete` command is an insane footgun"
**Describe the bug**

If you type `az role assignment delete` with no arguments, the Azure CLI offers to delete every role assignment in your subscription. This is insane.

**To Reproduce**

1. Make sure your cat/child/fingers are as far away from the keyboard as possible
1. Type `az role assignment delete` with no arguments
1. Throw your computer into the ocean

**Expected behavior**

Literally a

[2020-05-19 20:40] magaal commented on #13209
+1 on Ubuntu

[2020-05-19 21:29] maxleonca opened #13578 "Error querying resources"
### **This is autogenerated. Please review and update as needed.**
**Environment**
az --version
azure-cli                          2.6.0

command-modules-nspkg              2.0.3
core                               2.6.0
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
db-up                             0.1.13

Python location '/home/mleon/.lib/azure-cli

[2020-05-19 21:35] cubikca commented on #13081
[code]
Not a habit you want to get into!

[2020-05-19 21:38] chrisvugrinec commented on #9855
any news about this issue?

[2020-05-19 21:39] brettcannon commented on #13293
I don't have time for 2 cents (plus I live in a country without a penny so I couldn't give you 2 cents even if I wanted to 😉 ).

[2020-05-19 22:14] nwohlgemuth opened #13579 ""az eventgrid event-subscription create" does not support Service Bus Topic endpoint type but Azure Portal does"
**Describe the bug**
In the azure portal, you can create an Azure Event Grid Subscription with a Service Bus Topic endpoint. However, the "az eventgrid event-subscription create" command does not support Service Bus Topic for the "--endpoint-type" argument.

**To Reproduce**
Run "az eventgrid event-subscription create --help" and see that the options listed for "--endpoint-type" do not include Ser

[2020-05-19 23:46] yungezz commented on #13505
hi @mithuns1986 we'll look at today.

[2020-05-19 23:48] bquantump opened #13580 "az resource create --is-full-object --properties fails in powershell"
PLEASE LOOK AT THIS TEXT RAW, GITHUB DOES MARKDOWNS SO IT HIDES THE EXACT CHARACTERS!
**Describe the bug**
When trying to create a full object with the cli via a powershell, the command cannot parse a valid JSON string with both using single quotes around strings in the JSON and using powershell's escape charter "`"". The HSM team also has encountered this issue as well.

With powershell escape:

[2020-05-19 23:49] OvalAdmin opened #13581 "Webapp:Azure CLI: Creating a Webapp"
## Describe the bug

I was trying to setup a webapp from the command line, any invocation that I tried seems to error out. Weirdly azure seems to be looking for project files in the current directory, or beneath it. I'm not sure why it requires this when firing up a web application.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that ar

[2020-05-19 23:49] yungezz commented on #13577
hi @houk-ms can you pls have a look? @arrownj fixed a simliar issue before, you can talk with him for context.

[2020-05-19 23:49] yungezz commented on #13575
routing to appropriate team

[2020-05-19 23:51] yungezz commented on #13574
hi @arrownj could  you have a look? thanks

[2020-05-19 23:51] yungezz commented on #13573
hi @zhoxing-ms could you have a look? thanks

[2020-05-19 23:56] yungezz commented on #13578
hi @houk-ms could you pls have a look? thanks

[2020-05-19 23:56] sandeepkv93 opened #13582 "Add new "simulate-eviction" command action for az vm"
**Resource Provider**
What is the Azure resource provider your feature is part of?
- **Compute Resource Provider (Microsoft.Compute)**

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
- This API simulates the Eviction of Spot Virtual Machines.
https://docs.microsoft.com/en-us/rest/api/

[2020-05-19 23:58] yungezz commented on #13581
routing to appropriate team

[2020-05-19 23:58] sandeepkv93 opened #13583 "Add new "simulate-eviction" command action for az vmss"
**Resource Provider**
What is the Azure resource provider your feature is part of?
- **Compute Resource Provider (Microsoft.Compute)**

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
- This API simulates the Eviction of Spot VMScaleSet Virtual Machines.
https://docs.microsoft.com/en-u

[2020-05-20 00:00] yungezz commented on #13580
@zhoxing-ms could you pls have a look? thanks

[2020-05-20 00:01] yungezz commented on #13579
routing to appropriate team

[2020-05-20 00:04] yungezz commented on #13583
ack on the request.

[2020-05-20 00:04] yungezz commented on #13582
duplicate with #13583

[2020-05-20 00:08] sandeepkv93 commented on #13582
@yungezz  It is not the same. One is for Standalone VM another is for VMSS VM.

[2020-05-20 00:52] sschlesier commented on #12035
I now have this as well.  I updated to Fedora 32 and with it came Python 3.8 and these SyntaxWarnings.

I tried updating to the latest Azure CLI 2.6.0 but no change for my case.

I'm getting

[code]

which is generated by several calls to

`az servicebus topic subscription list ...`

[2020-05-20 00:59] jiasli commented on #13293
Unfortunately, the **real-life CLI installation** does have `pkg_resources` 🤔.  @fengzhou-msft, please help check this issue.

[code]

[2020-05-20 01:43] jiasli commented on #13293
### Regarding the empty `__init__.py` from `azure-cli-nspkg`

There are 2 conflicting `azure/cli/__init__.py` files.

[code]

`src/azure-cli-nspkg/azure` doesn't contain a `__init__.py` with `pkg_resources`. I think that's why `src/azure-cli-nspkg/azure/cli/__init__.py` is not discovered during `import azure.cli`.

[code]

If `src/azure-cli-nspkg/azure/cli/__init__.py` is empty, it is indicating a

[2020-05-20 02:13] yungezz commented on #13582
hi @sandeepkv93 thanks for clarification, reopen this one.

[2020-05-20 02:21] panchagnula commented on #11596
@outforpublic if you are still seeing a problem here could you please file a new issue - the existing bug was fixed a while back so the root cause might be different if you are seeing this.

[2020-05-20 02:51] djaus2 commented on #13098
Issue was that the etag  changes and has to be redetermined from a query to do the Verification. This is now part of my djaus2/az-iothub-ps GitHub repo

[2020-05-20 02:54] djaus2 commented on #13098
Also found I can just use the full local path the 2nd  .cer file. Doesn't have to be .pem
Example documentation should be adjusted for that.

[2020-05-20 03:00] qwordy commented on #13516
HTTP response is
[code]
However, the output is
[code]

The cause is CLI deserializes string to a model in SDK and then serialize it. `osType` is a field of `osDisk`.
Description of `osType`:
[code]

[2020-05-20 03:06] brdly-smith opened #13585 "Storage command failing with auth mode login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container generate-sas --account-name {} --

[2020-05-20 03:11] arrownj commented on #13569
Hi @edsonharantes , could you please help run command with `--debug` and see whether there is some output ?

[2020-05-20 03:14] arrownj commented on #13505
Hi @mithuns1986 , let's clarify the problem first. Does the installation process success? As the title is `az command hangs indefinitely`, so do you mean your run some commands such as `az --version` and it hangs?

[2020-05-20 03:19] mithuns1986 commented on #13505
@arrownj Yes, for instance, I run az --version and it hangs.

root     29402     1  0 May19 ?        00:00:00 bash /usr/bin/az
root     29403 29402  0 May19 ?        00:00:15 /usr/bin/python3 -sm azure.cli

[root@RMIR1BLNUAAP01 ~]# strace -p 30101
Process 30101 attached
restart_syscall(<... resuming interrupted call ...>

[2020-05-20 03:20] yonzhan commented on #13573
add to S171

[2020-05-20 03:25] arrownj commented on #13505
@mithuns1986 , thanks for the quick reply. Could you please help run `az --version --debug` and paste the output to me ? Thanks

[2020-05-20 03:26] oatopas opened #13586 "`az group list` 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list`

## Expected Behavior

## Environment Summary
[code]
## Add

[2020-05-20 03:30] yonzhan commented on #13580
add to S171

[2020-05-20 03:41] mithuns1986 commented on #13505
@arrownj az --version --debug command also hangs. No outout/error.

[root@RMIR1BLNUAAP01 ~]# az --version --debug

root     26116  2138  0 05:28 pts/6    00:00:00 grep 30373
root     30373  2138  0 05:20 pts/6    00:00:00 bash /usr/bin/az --version --debug
root     30374 30373  0 05:20 pts/6    00:00:00 /usr/bin/python3 -sm azure.cli --version --debug

[2020-05-20 03:51] lchave opened #13587 "request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql db audit-policy update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql db audit-policy update --name {} --resource-group {

[2020-05-20 03:56] yonzhan commented on #13585
add to S171

[2020-05-20 03:59] yonzhan commented on #13586
add to S171

[2020-05-20 04:00] yonzhan commented on #13587
sql

[2020-05-20 04:38] #13529 closed

[2020-05-20 04:59] RastogiAbhijeet opened #13588 "Error in running az vm generalize"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm generalize`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm generalize -g {} -n {}`

## Expected Behavior

## Environment Sum

[2020-05-20 05:00] #13588 closed

[2020-05-20 05:01] RastogiAbhijeet commented on #13588
The problem was solved by install
pip3 install antlr4-python3-runtime

[2020-05-20 05:07] houk-ms commented on #13578
@maxleonca Seems to be your python version issue. AzureCLI requires python with version 3.6 or 3.7 or 3.8, see [here](https://github.com/houk-ms/azure-cli).

By the way, is your AzureCLI installed by pip? If so, upgrade you python and then install AzureCLI, it should work.

[2020-05-20 05:13] qwordy commented on #13407
Would please upgrade to latest Azure CLI and have a try? It fixes this issue.

[2020-05-20 05:13] #13407 closed

[2020-05-20 05:19] qwordy commented on #13278
Hi @letmaik ?

[2020-05-20 05:22] manikantabandaru commented on #10879
`az eventgrid event-subscription create  --name esclitest     --source-resource-id "/subscriptions/<id>/resourceGroups/<id>/providers/Microsoft.Storage/storageaccounts/<id>"   --endpoint-type azurefunction 	--endpoint /subscriptions/<id>/resourceGroups/<id>/providers/Microsoft.Web/sites/<id>`

when I use above cmd I am getting below error
The behavior of this command has been altered by the follow

[2020-05-20 05:32] arrownj commented on #13505
Hi @mithuns1986 , seems you stop the command before you `strace` the pid ? Could you please help strace both the two pid of `ps` in another terminal while the command hanging?

It's so wired. Maybe you can help collect more information to help us find the root cause.
1. Will all az commands hang ? like `az`, `az -h` ?
2. Do this only happen on  RHEL-6.9 ? Can you try it on other OS like Windows, M

[2020-05-20 05:47] MyronFanQiu commented on #13570
@jsntcy Could you please take a look?

[2020-05-20 05:59] jsntcy commented on #12163
@rmtier, could you help provide the information I mentioned above for us to troubleshoot?

[2020-05-20 06:42] houk-ms commented on #13577
@dharmab Thanks for the feedbacks! Actually, this is a behavior as expected, which provides users a way to delete all the role assignments in a subscription.
And, before taking any actions, AzureCLI will prompt the message `This will delete all role assignments under the subscription. Are you sure?` as a reminder.

@yungezz I personally recommend we add an example in the doc to describe the usage

[2020-05-20 06:50] zhoxing-ms commented on #12037
@djc Hi, the [sync](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-sync?toc=/azure/storage/blobs/toc.json#options) operation of `azcopy` is not supported `--follow-symlinks`, while the [copy](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#options) operation of `azcopy` is supported `--follow-symlinks`.
So I submitted a PR to add the `--follo

[2020-05-20 07:01] zhoxing-ms commented on #13346
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-20 07:01] #13346 closed

[2020-05-20 07:22] roblohmann opened #13591 "Error assigning managed identity operator role to AKS Cluster"
I'm trying to access a keyvault from within our Azure Kubernetes Cluster. To do [this](https://samcogan.com/pod-identity-with-kubernetes-in-azure/) I'm following the steps in this blogpost.

When executing the following command i'm getting an error;

`az role assignment create --role "Managed Identity Operator" --assignee <CLIENT ID OF AKS CLUSTER> --scope <FULL RESOURCE ID OF MANAGED IDENTITY>`

[2020-05-20 07:29] ezYakaEagle442 commented on #13548
Once the key is imported in KV, then **az keyvault key download** returns the public key only.
A similar question & explanation regarding certificates is described at https://github.com/Azure/azure-sdk-for-js/issues/7647#issuecomment-594935307

[code]

Does KeyVault store both the public part in a KV Key and the private part of the imported key in a KV secret ?
**what i sthe CLI snippet then to do

[2020-05-20 07:37] Juliehzl commented on #13585
@brdly-smith Thanks for your feedback! It is a known issue in azure cli, which is because --auth-mode is not support in generate_sas. We will remove it this sprint and please use account_key or connection_string for your command to unblock your work.

[2020-05-20 07:43] bim-msft commented on #13166
@diepes Hi, I'd like to show my case to better demo this change, here I have a certificate named `bimcert1111`:
![image](https://user-images.githubusercontent.com/3250203/82418066-175ac380-9aaf-11ea-93c4-b1c58df7ed43.png)

I can use `show` command to see the detail of its auto-generated secret/key with content type `application/x-pkcs12` or `application/x-pem-file` (which we call it `managed secre

[2020-05-20 07:45] qwordy commented on #12444
Any update?

[2020-05-20 07:45] qwordy commented on #12461
Any update?

[2020-05-20 07:45] #13157 closed

[2020-05-20 07:47] qwordy commented on #12473
Hi @roy-work , could you check if the vnet exists?

[2020-05-20 07:48] jsntcy commented on #12449
@aaronyeung, Could you please provide more details for your command (better to attach the whole command)?
I cannot reproduce this issue with the following command `az network vnet-gateway update -g my-rg -n my-vnet-gw --sku VpnGw1 --custom-routes 101.168.0.6/32 102.168.0.6/32`

[2020-05-20 07:51] bim-msft commented on #13167
@josiahlaivins Hi, seems this is not a familiar case and it should not happened, I was not able to reproduce this:

![image](https://user-images.githubusercontent.com/3250203/82419657-496d2500-9ab1-11ea-9cb5-89b5bdedb5af.png)

I'm using `azure-cli 2.5.1`, maybe you can upgrade your package and retry it again, thanks!
Anyway, feel free to let me know if this workaround cannot resolve the issue.

[2020-05-20 07:57] Juliehzl commented on #13517
Hi @cm1x, can you show us more information with `--debug` in you command? I cannot reproduce your scenario in Cloud shell.

It seems it is a known issue in cloud shell, typically running `az login` can help you.
If you still have the problem, please let me know.

[2020-05-20 07:57] bim-msft commented on #13212
@Cam-Borrowell Hi, according to our test, it turns out that the KeyVault service for creating operation is not idempotent. I'm not sure if service team is willing to change this behavior, or it might take a long time to change... I will let them know. Thanks for the report!

For short term to unblock you quickly, using `update` command is recommended to update vault properties, and you can use `sh

[2020-05-20 08:02] Juliehzl commented on #13586
dupe of #13517

[2020-05-20 08:03] Juliehzl commented on #13586
Hi @oatopas , could you try again?  If there is still the same problem, please run `az login` again.

[2020-05-20 08:08] Juliehzl commented on #13401
dupe of #13373

[2020-05-20 08:10] Juliehzl commented on #13401
It is fixed in latest azure cli. please try with https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.

[2020-05-20 08:15] zhoxing-ms commented on #10524
@ericmoses Hi, the commands related to `az deployment` will deploy all resources in the ARM template. You can click the *Related events* in the list page of deployments on portal to see the corresponding Activity log for the deployments, so as to find out the causes of the deployment.
@jits2019 As for the commands related to `az deployment` (include `az deployment delete`), there is a big upgrade

[2020-05-20 08:17] qwordy commented on #13516
Hi service team, is it possible to add a field showing operating system type?

[2020-05-20 08:30] jsntcy commented on #13570
@awentzel, I'm not so clear about your meaning, could you explain more?
Do you mean we need add a document link about what's linked-service in https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace/linked-service?view=azure-cli-latest?

@dbradish-microsoft, It seems currently there is no document link about what's linked-service for log analytics workspace, could you help on th

[2020-05-20 09:07] bim-msft commented on #13391
Hi @kamil-mrzyglod , just as @yungezz said, this is an expected behavior. Quiet a few users of Azure CLI are beginners, manually setting access policy may cause lots of confusing for them, so service team decided to set default policies for the current user (this is consistent with Azure Portal).

Showing a warning or notice while running `az keyvault create` is not easy to implement under our cur

[2020-05-20 09:12] zhoxing-ms commented on #10798
@rrottmann Hi, the single quotation mark in `tags="'project=$tag1' 'costcenter=$tag2'"` is unnecessary, please use `tags="project=$tag1 costcenter=$tag2"` to have a try?

[2020-05-20 09:43] jsntcy opened #13593 "[Monitor] Expose `--no-wait` for command `az monitor log-analytics cluster create`"
**Resource Provider**
Log-Analytics

**Description of Feature or Work Requested**
Expose `--no-wait` for command `az monitor log-analytics cluster create`

**Minimum API Version Required**
2020-03-01-preview

**Swagger Link**

**Target Date**

[2020-05-20 09:43] jiasli commented on #10798
Please see https://github.com/Azure/azure-cli/issues/13170#issuecomment-629007240 for a similar issue. I provided very detailed explanation there.

The command you are receiving from pipeline doesn't seem to be valid:

[code]
Note that the quotes are not correctly paired. It is parsed as
[code]

This is the correct output from Bash:

[code]

Of course this is not the desired format, because

1. Ba

[2020-05-20 09:53] yonzhan commented on #13591
@arrownj please take a look

[2020-05-20 10:25] yungezz commented on #13591
duplicate iwth #11749

[2020-05-20 11:02] kamil-mrzyglod commented on #13391
Hey @bim-msft, thanks for sharing your thoughts. I agree, that it's much easier for beginners to have a default access policy added by default. On the other hand, I believe it's rather a getting started scenario rather than real use case. Normally you avoid using Azure Portal for provisioning and while experience is consistent for both Azure CLI / Portal, I marked the latter as "much better visibl

[2020-05-20 12:11] yonzhan commented on #13593
add to S171

[2020-05-20 12:49] djc commented on #12037
I really think the `sync` operation should be able to support following symlinks.

[2020-05-20 12:58] audunn opened #13594 "No module named 'knack.experimental' error after upgrading azdev"
**Describe the bug**
No module named 'knack.experimental' error after upgrading azdev

note created an issue in azure-cli-dev-tools regading this but no one seems to look at issues there https://github.com/Azure/azure-cli-dev-tools/issues/198

**To Reproduce**
[code]

**Expected behavior**
No error is shown and azdev and az commands are executed

**Environment summary**
power shell core on windows

[2020-05-20 12:59] Cam-Borrowell commented on #13212
Thank you @bim-msft . I've already implemented a workaround using `az keyvault list` to check for an existing Key Vault before running `az keyvault create`

[2020-05-20 13:07] yonzhan commented on #13594
add to S171

[2020-05-20 14:27] Juliehzl commented on #13556
@scottgorlick  if you still have the problem, you can try to run `az login` again. Please let me know if it is work with you :)

[2020-05-20 14:44] fengzhou-msft commented on #8604
Edge build rpm package is already uploaded in the storage account in the pipeline, but the package name contains azure cli version, so the url is different for each version. We need to rename the package to have a similar short link like MSI.

[2020-05-20 14:47] Juliehzl commented on #13594
@audunn  please run `azdev setup-c` again

[2020-05-20 14:50] awentzel commented on #13570
@jsntcy in generally, when looking at CLI documentation for any service (example you referenced above), you see commands, and what they do, but nothing about what it is.  For example, "Manage linked service for log analytics workspace." What if the customer doesn't know what a "linked service" is.  Where is that detail or a link to that detail?  It would be nice complementary content to provide at

[2020-05-20 14:57] audunn commented on #13594
Thank you for your suggestion, I have already tried that and tried again unfortunately with the same result.

[2020-05-20 15:02] Juliehzl commented on #13307
@ridhabnj soorry for late response. Is it possible to provide us debug information to us with `--debug` in your command?
In this command, the value for `-d` should be a path. Is it a directory(path) for 'data/boats/1282/2000xauto' in your scenario?

[2020-05-20 15:05] Juliehzl commented on #12037
@zezha-msft do you have any plan to add `--follow-symlinks` in sync?

[2020-05-20 15:10] Juliehzl commented on #13216
dupe of #9141. @zhoxing-ms  please take a look.

[2020-05-20 15:19] nidhyn commented on #11017
@micheleissa were you able to solve the issue ? I am facing the same issue.

[2020-05-20 15:20] jaepak0320 commented on #13407
on cloudshell (I guess it is updated to the latest all the times), below command didn't return anything still.
az vm list-skus -l uksouth -r hostGroups/hosts -o table -z

[2020-05-20 15:42] brdly-smith commented on #13585
Does this mean we can only use account_key and connection_string in the future or will the error when not using auth_mode be removed from genereate-sas?

[2020-05-20 15:57] fnasciment0 opened #13595 "AKS Workshop - Azure Kubernets Service error on create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --vm-set-type {} --load-balanc

[2020-05-20 15:57] JaviRpo opened #13596 "Error running the comand "az ad sp create-for-rbac""
This was following the [guide](https://docs.microsoft.com/en-us/learn/modules/provision-infrastructure-azure-pipelines/6-run-terraform-remote-storage#create-a-service-principal) in the step 2

[code]

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behav

[2020-05-20 16:13] #13595 closed

[2020-05-20 16:41] maxleonca commented on #13578
Thank you, my bad.

On Tue, May 19, 2020 at 11:07 PM Houk <notifications@github.com> wrote:

[2020-05-20 17:01] dharmab commented on #13577
Why is this something a user would ever want to do? And why is it the default if no arguments are passed? That's like if you typed `rm` and the default was `This will delete all files under the current directory. Are you sure?`

[2020-05-20 17:14] scottgorlick commented on #13556
That did work.

From: Zunli Hu <notifications@github.com>
Sent: Wednesday, May 20, 2020 7:28 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Scott Gorlick <scgorlic@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] unable to use az cli in cloud shell. (#13556)

@scottgorlick<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fs

[2020-05-20 17:18] HenrikSommer-eng commented on #12391
Any way to script this until the feature is implemented?

[2020-05-20 17:55] edsonharantes commented on #13569
Hello @arrownj, how are you?

I tried that, nothing happens, the power shell window just jump to the next line =/

Is there a log file being saved somewhere that could help me solve this issue?

[2020-05-20 18:17] eduardo-claudio opened #13598 "Azure cli fails when issue az aks -h"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Con

[2020-05-20 19:10] dmhendricks commented on #13519
I tried various things (including trying to install the latest version [per the documentation](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest); 2.6.0 at the time of this writing), but failed.

If anyone stumbles across this, the [Docker](https://github.com/Azure/azure-cli#docker) image _appears_ to be working (at least I'm not getting errors, though when I t

[2020-05-20 19:15] Starblade42 commented on #13577
Whether or not someone would want to delete all of their role assignments in a subscription is not necessarily at issue.

The problem is that this is absolutely the wrong way to offer that feature. Something so  destructive should require additional arguments!

Prompting the user for confirmation when they enter `az role assignment delete` is not sufficient to correctly ascertain that someone posi

[2020-05-20 21:55] yugangw-msft commented on #13514
This is not container registry issue; rather a msrest-azure bug when tried to auto register the provider, which can happen on any other resource creation. Please investigate from the installtion

[2020-05-20 22:02] yugangw-msft commented on #13323
Fixed

[2020-05-20 22:02] #13323 closed

[2020-05-20 22:02] kethahel99 commented on #13164
Hello, apologies. I installed using chocolatey on Windows 10

[2020-05-20 22:31] subhasishdc opened #13599 "Updating app gateway address pool using --add removes existing hosts"
**Describe the bug**
I'm trying to update the servers in the app gateway's backend pool via the CLI using the --add command. The goal is to add additional VMs to the pool. However, what is happening is that the new host is getting added but the existing VMs in the pool are getting removed.

**To Reproduce**
schowdhu-mn2:~ schowdhu$ az network application-gateway address-pool list -g scus-ei-k2-net

[2020-05-21 01:41] MyronFanQiu commented on #13164
@kethahel99 Hi. Could you reinstall it according to our doc? https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest

[2020-05-21 01:57] yungezz commented on #13600
routing to appropriate team

[2020-05-21 02:13] houk-ms commented on #13578
Great! So I gonna close this issue, you are welcomed to open issues if you have further feedback.

[2020-05-21 02:13] #13578 closed

[2020-05-21 02:19] MyronFanQiu commented on #13217
Closed this issue since no response. Feel free to open a new one if you meet any issue.

[2020-05-21 02:19] #13217 closed

[2020-05-21 02:30] zhoxing-ms commented on #13216
There is [no upper limit](https://docs.microsoft.com/en-gb/azure/storage/files/storage-files-scale-targets#azure-storage-account-scale-targets) the number of file share creation, so I think it is unreasonable to use the loop to delete file shares in bulk on the CLI side. If the customers wants to delete too much shares, it will result in a lot of requests and poor performance.
It is recommended to

[2020-05-21 02:41] qwordy commented on #13519
@fengzhou-msft Could you take a look at this issue? `sudo apt install azure-cli` does not work in Ubuntu 20.04.

[2020-05-21 02:53] yungezz commented on #13598
routing to appropriate team

[2020-05-21 02:54] yungezz commented on #13596
hi @JaviRpo just to confirm, did you see the error in Cloudshell?

[2020-05-21 02:55] yungezz commented on #13599
hi @MyronFanQiu could you have a look?

[2020-05-21 02:56] aditzel commented on #13081
I'm also running into this issue.

[2020-05-21 02:58] yungezz opened #13601 "[Keyvault] Key "export" for Secure Key Release"
**Resource Provider**

Keyvault

**Description of Feature or Work Requested**

https://dev.azure.com/azure-mgmt-ex/KeyVault/_workitems/edit/1141

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-05-21 02:58] yungezz commented on #13601
so far no ETA on service readiness. Will update later when it's  available.

[2020-05-21 03:19] #8603 closed

[2020-05-21 03:19] #8604 closed

[2020-05-21 03:32] qwordy commented on #13407
Result in Azure CLI 2.6.0
[code]
Cloud Shell may need some days to get updated to latest version. It should not be a long time.

[2020-05-21 03:34] bim-msft commented on #13548
@ezYakaEagle442 Thanks for your feedback, it's a good question. In fact, KV stores both public part and private part of your key. Once you uploaded your key into KV, there is no way to show or download the private part: this is for security concern, you can use public key to do your own encryption, but you can only call KV API to do decryption.

Here is an article talking about this: https://odeto

[2020-05-21 04:27] Juliehzl commented on #13585
yes

[2020-05-21 05:04] MyronFanQiu commented on #13189
@kuniteru Sorry for the delay due to low bandwidth. I checked the logic in detail. If you set `--default-redirect-config $redirectConfName1` in url path map, it will be applied to each rule. In your case, I think you can remove `default-redirect-config`.

[2020-05-21 05:55] qwordy opened #13602 "`az storage account list -otable` displays incorrect"
**Describe the bug**

`az storage account list -otable` displays incorrect. I don't have a monitor of 50 inch.

![image](https://user-images.githubusercontent.com/5019528/82528062-80ebd800-9b6a-11ea-8212-be7a8ce8aeda.png)

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-05-21 06:11] Juliehzl commented on #11969
Hi @hulseware,  sorry for late response first.
There are several points to clarify here:
1. Are you using `az interactive` to run cli commands?
 2. When I try to reproduce your issue with normal cli (not in interactive mode), I only get one exception not four exceptions like what in your scenario. Here is what I get:
[code]
3. Your suggestion is very valuable to us. As you mentioned, the error occ

[2020-05-21 06:15] SeaDude opened #13603 "`az storage account create` response is invalid json"
I believe the "WARNING" message displayed at the top of the `az storage account create` response is creating invalid json. I'm not able to turn the response into a valid json object using `json.loads("\n".join(varName))` like I can with other `az cli` responses.
Also, the message doesn't need to be displayed to me as I used the `--kind StorageV2` flag anyway.

(first few lines shown below for brev

[2020-05-21 06:27] jiasli commented on #13521
Hi @nickadams675, as AAD is not actively maintaining the AD Graph 1.6 API anymore. Could you check https://github.com/Azure/azure-cli/issues/12946 and see if this can be done via `az rest` and Microsoft Graph API?

[2020-05-21 06:34] zhoxing-ms commented on #13250
@DoPaNik Thanks for the debug log you provided, my investigation of the two problems is as follows:

1. The problem of `az resource tag --tags`
The prefix of parameter `--tags` is `\n  hidden-link:/subscriptions/...`, `\` and `/` is  is a restricted character in the tag resource, so the tag name cannot be used. Doc link: [tag-resources#limitations](https://docs.microsoft.com/en-us/azure/azure-reso

[2020-05-21 06:36] nickadams675 commented on #13521
@jiasli  thanks for the reply!

I don't see an object/property to support a field such as "Entity ID" that I could use -m PATCH on:

[code]
I may have missed it though.

Thanks!

[2020-05-21 06:38] bim-msft commented on #13391
@kamil-mrzyglod Thanks for your thought, it is very valuable. We would like to do more user research and discuss with our PM on this scenario further.

Moving this to backlog. If anything updated, I will sync with you the conclusion here.

[2020-05-21 06:41] jiasli commented on #13514
+ https://github.com/Azure/msrestazure-for-python owner @lmazuel

[2020-05-21 06:43] bim-msft commented on #13212
@Cam-Borrowell Good to hear that!
Since this might take a long time to change, I would like to close the issue temporarily. If you have anything unresolved, feel free to reopen it and ping me again.

[2020-05-21 06:43] #13212 closed

[2020-05-21 06:44] Drewm3 commented on #13516
The OS Type is specified on the OS Disk. It is not specified on the VM or VMSS instance. So the behavior that you are seeing is expected.

[2020-05-21 06:44] #13516 closed

[2020-05-21 06:46] bim-msft commented on #13438
@sanjay1913 Hi, I will close the issue due to long time inactivity. If the above solution doesn't work for you or you have something else need us to help with, feel free to reopen it and ping me, thanks!

[2020-05-21 06:46] #13438 closed

[2020-05-21 06:47] Drewm3 commented on #13556
Removing compute label because this does not appear to be a compute specific issue.

[2020-05-21 06:48] yonzhan commented on #13599
add to S171

[2020-05-21 06:50] bim-msft commented on #13465
Hi @awentzel I need to close this issue due to long time inactivity, please feel free to reopen it and let me know if you have anything unresolved, thanks!

[2020-05-21 06:50] #13465 closed

[2020-05-21 06:52] yonzhan commented on #13602
add to S171

[2020-05-21 06:53] #13247 closed

[2020-05-21 06:56] yonzhan commented on #13603
add to S171

[2020-05-21 07:06] Juliehzl commented on #12519
linked with https://github.com/Azure/azure-rest-api-specs/pull/8656

[2020-05-21 07:08] bim-msft commented on #13426
Hi @ramganesh19 which environment are you in? Are you running this in CloudShell?
Based on my knowledge, one possible reason for this is your keyvault name is too long, I'm not sure if this would be suitable with your case.

[2020-05-21 07:19] Juliehzl commented on #12530
@venkateshjayanaik You can use `az storage copy` which is a command integrated AzCopy.

[2020-05-21 07:21] bim-msft commented on #13194
Holding this due to service is not ready.

[2020-05-21 07:32] bim-msft commented on #13017
Hi @considerable what is the version of your `cryptography` library? You may use `2.8` to have a try. If anything still blocks you, feel free to let me know, thanks!

[2020-05-21 07:59] qwordy commented on #7717
https://github.com/Azure/azure-cli/pull/13592
Subscription replacer does have some problems when I try to add customized subscription support to preparer.

[2020-05-21 08:25] bim-msft commented on #13304
@s-tuli Thanks for the report, this is a bug on our side. I will make a patch to fix this.

[2020-05-21 08:31] gregdegruy commented on #13346
Hi @zhoxing-ms thanks for the replay sorry for the delay.

This is a non-issue I had an older version of the CLI on my system.

[2020-05-21 08:37] jsntcy commented on #12163
I'll close this issue now as there is no response from customer.
@rmtier, if you provided the context, you can reopen this issue.

[2020-05-21 08:37] #12163 closed

[2020-05-21 08:41] jsntcy commented on #13570
@awentzel, thanks for your explanation and your points make sense to me.
Yes, it seems to be common issue for Azur CLI document and I'll tag it as improvement and will think how we can improve CLI documentation.

[2020-05-21 09:27] mistabe opened #13607 "MS Learn lab failure. Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2020-05-21 09:34] jiasli commented on #13521
@nickadams675, do you mind creating a support request in Azure Portal for AAD? I'd like to help but I am not quite familiar with the latest Microsoft Graph API. Thanks for understanding.

![image](https://user-images.githubusercontent.com/4003950/82545429-3f1e5a00-9b89-11ea-9241-7ef2cdc21159.png)

[2020-05-21 09:49] yungezz commented on #13577
hi @dharmab thanks for raise the issue. I see the concern. Actually that's the reason cli prompt for a confirmation for delete all. We'll look at customer scenario again to validate this.

[2020-05-21 10:09] dazinator opened #13609 "set command --docker-custom-image-name -c -i"
Unclear how I am meant to use this command to specify image and tag name.

I tried:

&gt;  az webapp config container set --docker-custom-image-name -c 'labdocker.azurecr.io/foo/bar' -i master --name foo-staging --resource-group staging
az webapp config container set: error: argument --docker-custom-image-name/-c/-i: expected one argument

Can you add an example please?

---
#### Document Details

[2020-05-21 10:15] yonzhan commented on #13607
functionapp

[2020-05-21 10:17] yonzhan commented on #13609
webapp

[2020-05-21 10:58] DoPaNik commented on #13250
Hi @zhoxing-ms

thank you very much for the quick feedback:

First of all, thank you for pointing out that I didn't even notice the character `\n`. Now that I have changed this, I get the same error as described by 2:

`request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/.../resourceGroups

[2020-05-21 14:09] nickadams675 commented on #13525
Thanks! I'll open an SR for this to have it added to the Graph API.

[2020-05-21 14:09] #13525 closed

[2020-05-21 14:09] nwipfli commented on #12390
This is the same issue with 2.6.0:

➜  ~ az group create \
    --name $RESOURCE_GROUP \
    --location $REGION_NAME
/usr/local/Cellar/azure-cli/2.6.0/libexec/lib/python3.8/site-packages/jmespath/visitor.py:32: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if x is 0 or x is 1:
/usr/local/Cellar/azure-cli/2.6.0/libexec/lib/python3.8/site-packages/jmespath/visitor.py:32: SyntaxWarning: "is

[2020-05-21 14:12] hulseware commented on #11969
1.  Yes, I use az interactive while developing the right cli commands to add to utilities targeted at maintaining better security across the subscriptions I am managing for my team. So the extra tracebacks were coming from the az interactive tool.
  2.  Yes, I believe that message is what I see when running via the normal command line.

Thanks for working to make the error message more descriptive

[2020-05-21 14:16] JaviRpo commented on #13596
@yungezz yes, it was in Cloudshell.
The error is intermittent. I closed the Cloudshell, open a new one, and the error didn't happen anymore.

[2020-05-21 14:36] jacksinclairaudley commented on #12710
Also getting this issue when used from our yaml pipeline - very strange.

We actually switched to using Azure CLI for deploying functions from using the AzureFunctionApp@01 task in yaml due to a separate bug - only to find that we're faced with this issue!

[2020-05-21 14:45] greggbjensen commented on #13404
I have this same issue, it just started today.  Was working fine two days ago.

[2020-05-21 15:10] mmatonok commented on #10664
Thanks to figure out that not existing vnet can show above error.

 **I figured out also that vnet name is case sensitive!**

Some more details about this issue and solution:
1)  I created  appservice plan, web app over portal with above issue
2)  location for RG/VNET =  eastuse2,  location for  app plan and web app EAST US 2
3)  Not able integrate web/vnet,  dropdownbox shows all vnet but there w

[2020-05-21 15:34] Vaibhav-Agar commented on #13320
I was able to replicate the issue. Reached out to the marketplace team to seek resolution.

[2020-05-21 15:56] lchave commented on #13587
Hello, following up on this, we have not been able to enable the audit and threat policies for this SQL server due to the error we have reported above. Please let us know if there are any updates.

[2020-05-21 16:40] jaepak0320 commented on #13407
Thank you. Just confirmed that it works fine on 2.6.0

[2020-05-21 17:00] koralski commented on #10400
This issue was fixed end of April 2020.

[2020-05-21 17:37] bviglietta opened #13610 "az crashes when creating a role definition"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-21 17:40] Drewm3 commented on #12775
This property was inappropriately added to the public APIs, and it is not currently supported. This was added at one point in the past by someone doing experimentation, but it should not have shown up in the public APIs.

I will work with the team to get this property removed from the public APIs because it is not supported for general usage.

[2020-05-21 18:12] anthonychu commented on #13607
@mistabe Could you please let us know the name of the MS Learn module you were working with? Thanks.

[2020-05-21 18:14] anthonychu commented on #13607
Was it this module? https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/

[2020-05-21 18:51] praveen-pk opened #13612 "No module named '_cffi_backend'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --account-name {} --account-key

[2020-05-21 19:11] jt000 opened #13613 "enable-managed-identity true causes 'ApiManagementServiceResource' object does not support item assignment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running `az apim create` with `--enabled-managed-identity true` you get the below error

**Command Name**
`az apim create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisit

[2020-05-21 20:06] ezYakaEagle442 commented on #13548
So I added this just in case of the private key is lost, as it required to have it to SSH connect to the remote server.

[code]

[2020-05-21 20:08] ezYakaEagle442 commented on #13548
Could you please update the docs describing this SSH Key pairs use case, expalining that there will be no way to get back the private key from KV runnning :
az keyvault key download
az keyvault key show

[2020-05-21 20:10] kosticd opened #13614 "cross-subscription private-endpoint creation not possible"
There is no way to specify --subscription of private-endpoint and --subscription where privateLinkService resides, if they are different:
az network private-endpoint create - is failing with

InvalidResourceReference - Resource /subscriptions/.../resourceGroups/.../providers/Microsoft.Network/virtualNetworks/... referenced by resource /subscriptions/.../resourceGroups/.../providers/Microsoft.Netwo

[2020-05-21 20:36] mclagett commented on #13455
Hi --

I realize I may have never answered back to this.  I am not trying to use the aks-preview extension.  I have just installed and logged in to the azure cli.  It was my understanding (perhaps incorrect) that I wouldn't need to install anything separate to be able to issue az aks and acr commands.  Is this not the case?

[2020-05-21 21:21] jluk commented on #13598
Could you repro on version 2.6.0? I was unable to repro on the latest version after upgrade.

[2020-05-21 21:22] john-loughlin opened #13615 "Error running the cool new Azure CLI in the Azure Cloud Shell in the new Terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb list`

## Expected Behavior

## Environment Summary
[code]

[2020-05-21 21:22] jluk commented on #13455
You should be able to do that.

Could you please post the exact command you ran and the full output with --debug?

[2020-05-21 21:26] john-loughlin commented on #13615
I signed into the Azure Portal, opened an Azure Cloud Shell and ran az cosmosdb list there and got the correct response, if that helps

[2020-05-21 21:27] CarelvanHeerden commented on #13214
Please also include Terraform Examples

[2020-05-21 21:37] audunn commented on #13594
Hi, any other tips or trick I could try to fix this, Please note this is blocking my work in delivering an urgent fix to address issue for a high profile MSFT customer/prospect.

[2020-05-21 21:47] colemickens commented on #12775
Okay, I'll explore other options in the meantime. I don't know if y'all want to leave this open to track removal from API, but we can close this one whenever. Thanks for the update @Drewm3!

[2020-05-21 21:47] awentzel commented on #6638
I could really use this right now.  What is S169?  It would be helpful to the community to refer to the non-internal language.  As this is slated to be released in August 2020 or something.  I now have 20 apps to make this change on manually.  ug.

[2020-05-21 21:48] colemickens commented on #12775
Also, since I didn't link them already... for anyone else here following breadcrumbs, the related `walinuxagent` issue: https://github.com/Azure/WALinuxAgent/issues/1888

[2020-05-21 22:02] fertinaz commented on #13468
Are there any updates on this?

[2020-05-21 22:29] yonzhan commented on #13610
@arrownj  please take a look

[2020-05-21 22:32] yonzhan commented on #13612
add to S171

[2020-05-21 22:34] mclagett commented on #13455
Thank you very much for responding.  I ran az aks create, without any parameters, expecting that like all the other az commands, it would comeback with information about what parameters were needed and available.  Instead, it always comes back with the error message that can be seen in the debug output below (i.e the output from running az aks create –debug).  You can see the error in the output b

[2020-05-21 22:34] yonzhan commented on #13613
apim

[2020-05-21 22:37] mclagett commented on #13455
Incidentally, this is what I get if I just run az by itself.  Does this look correct, or is it perhaps missing stuff that should be there?  I have uninstalled and reinstalled Azure CLI several times, but I always get this same result.

az

     /\
    /  \    _____   _ _  ___ _
   / /\ \  |_  / | | | \'__/ _\
  / ____ \  / /| |_| | | |  __/
/_/    \_\/___|\__,_|_|  \___|

Welcome to the cool new A

[2020-05-21 22:52] jluk commented on #13455
It seems your build just doesn't have those modules built in, which is odd. Do you have other installs of azure cli on your machine? @fengzhou-msft can you take a look?

[2020-05-21 23:01] yonzhan commented on #13614
add to S170

[2020-05-22 00:30] yonzhan commented on #13615
cosmosdb

[2020-05-22 01:08] zhoxing-ms commented on #13250
@DoPaNik Thanks for your feedback, this is a service problem, and I can't reproduce it in my side.

Could you please provide the correlationId when the `too many 502 error responses` error occurs after the `\n hidden-link:/subscriptions/...` is changed to `hidden-link:/subscriptions/...`?

[2020-05-22 01:09] zhoxing-ms commented on #13250
@ifeoluwaokunoren Could you please help to triage this issue?

[2020-05-22 01:44] MyronFanQiu commented on #13614
Are you using subnet id instead of the name to specify the subnet? Please use resource id of subnet instead of `--subnet and --vnet-name`

[2020-05-22 03:17] haroldrandom commented on #13594
@audunn Could you list your current knack version at your venv? You could manually uninstall the older version knack and install it `pip install kanck=={certain version}` to fix this.

[2020-05-22 03:39] shizhMSFT opened #13619 "Inconsistent argument name prompted in `az acr token create`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name** and **Errors:**
[code]
[code]

## Expected Behavior
Prompt `--scope-map` instead of `--scope-map-name`.
[code]

## Environment Summary
[code]
## Additional Context

[2020-05-22 03:45] yugangw-msft commented on #13619
let me fix this

[2020-05-22 03:58] SeaDude opened #13621 "TypeError: 'NoneType' object is not subscriptable"
When running `az keyvault set-policy --name $kv_name --resource-group $rg_name --secret-permissions set get list delete` I receive the following error. The word "[subscriptable](https://www.merriam-webster.com/dictionary/subscriptable)" is not in the Merriam Webster dictionary. What does this error code refer to?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-22 04:43] yonzhan commented on #13621
@bim-msft  please take a look

[2020-05-22 05:29] akyamada-ms opened #13622 "Non-administrators users cannot use Azure CLI extensions installed with --system option"
**Describe the bug**
Non-administrators (Users group) other than the administrator who installed an extension cannot use the extension installed with --system option introduced at Azure CLI version 2.6.0.

**To Reproduce**
1.	Install Azure CLI 2.6.0.
2.	Run command prompt as administrator.
3.	Install an extension with --system option. (ex. az extension add --name azure-devops --system)
4.	Switch t

[2020-05-22 06:09] jsntcy commented on #10467
@jurjenoskam, thanks for sharing your thoughts. We'll discuss internally about this issue to come up with a general guideline for such scenarios as this should be a general issue for all services.

[2020-05-22 06:22] SeaDude commented on #13603
Same issue with the command: `az functionapp create --consumption-plan-location westus --name $af_name --os-type Linux --resource-group $rg_name --runtime python --storage-account $sa_name --disable-app-insights true`
I opened a StackOverflow issue [here](https://stackoverflow.com/questions/61906062/python-variable-appears-to-be-json-but-with-quotes-throughout) for advice/help.

[2020-05-22 08:41] guyver7 opened #13623 "Can't get Azure API for FHIR access token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource={}`

## Expected Beha

[2020-05-22 09:24] audunn commented on #13594
Thank you @haroldrandom  this tip was very helpful with this. I had assumed it was updated as part of the process and  I thought I already did pip install knack but this seemed to help.

There is regarding our modules SDK version incompatibility. I have updated the requirements files and setup.py any idea how to get it to pick up the newer SDK version that has the functionality we need?
Should we

[2020-05-22 10:21] mistabe commented on #13607
It was this module, https://docs.microsoft.com/en-gb/learn/modules/build-serverless-api-with-functions-api-management/

Sorry for not replying quicker.
Paul

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Anthony Chu<mailto:notifications@github.com>
Sent: 21 May 2020 19:14
To: Azure/azure-cli<mailto:azure-cli@noreply.github.com>
Cc: mistabe<mailto:paulkbeyer@h

[2020-05-22 10:41] yonzhan commented on #13622
@fengzhou-msft please take a look

[2020-05-22 10:43] suterma opened #13624 "Problem with creating event subscription using the quickstart guide"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I am working through the "Quickstart: Route custom events to web endpoint with Azure CLI and Event Grid" example at https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart#code-try-5 and got stuck here:

az eventgrid event-subscription create \
  --source-resource-id "/subscriptions/{subscrip

[2020-05-22 10:44] yonzhan commented on #13624
eventgrid

[2020-05-22 10:47] yonzhan commented on #13623
add to S171

[2020-05-22 10:55] suterma commented on #13624
Thanks for looking into this. I managed to create the subscription in the Azure Web interface, so this seems to be more of a problem with the guide's CLI commands (or my interpretation of them), not with the the Event Grid itself.

[2020-05-22 11:27] AdamSharif-MSFT opened #13625 "Issue with special characters in SP credentials in latest version of Az CLI"
**Describe the bug**

When created a new SP (or resetting credentials) n Azure CLI, special characters appear such as !, $, and ' which cause issues with variables/commands in Linux:

Example (obfuscated):

[code]

**To Reproduce**

1. `az ad sp create-for-rbac --skip-assignment` (or `az ad sp credential reset`)
2. set variable as password value
3. Try to use variable

**Expected behavior**

Secre

[2020-05-22 11:29] jiasli commented on #13625
This was introduced in https://github.com/Azure/azure-cli/pull/13357. @qianwens, please help take a look.

[2020-05-22 11:30] panmanphil commented on #10879
I can confirm that the using resources for both the source and subscriber and endpoint type worked for me. Somebody really really needs to get this out into the current az client install. I spent days with this exact issue, worked through getting keys, got past the '&' in the url from powershell and always got an invalid response result. Also before adding the extension, even manually added subscr

[2020-05-22 11:33] panmanphil commented on #10879
one quick followup question. where do I go with an issue with the eventgridtrigger attribute on a function? The funtion.json it generates does not include the required direction parameter set to "in" and a warning shows up on every function in the project in the azure portal. It does work though

[2020-05-22 12:13] mclagett commented on #13455
Hi –

Okay.  I think I figured out what’s going on.  I moved to another machine and downloaded azure cli and was excited to see that aks was among the commands that appeared when I did a command listing (az by itself).  I can’t tell you how psyched I was, because I’ve been trying to work through this for a couple weeks now.  As I set up this machine to remote administer the azure stack instance (m

[2020-05-22 12:31] jiasli commented on #13625
Special characters like `'`, `"`, `!` and `$` will cause issues in Linux Bash even though the password is quoted.

[code]

`!` is treated as [History Expansion](https://www.gnu.org/software/bash/manual/html_node/History-Interaction.html). `$` is treated as [Parameter Expansion](https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion).

Things become worse if the password is no

[2020-05-22 13:40] yonzhan commented on #13625
add to S170

[2020-05-22 14:50] awentzel commented on #6638
I could really have used this today and looking forward to the release, hoping it does not get pushed into the future much more.

[2020-05-22 15:14] jluk commented on #13455
That may explain it then, AKS does not have a direct offering in AzStack so the modules likely get filtered out based on that environment. At the moment Stack offers AKS-Engine and kubectl management as you mention.

I believe this is the ultimate root cause, feel free to reach out to the Stack team about any further questions but I'm going to close this issue. Just lmk if there's anything else we

[2020-05-22 15:14] #13455 closed

[2020-05-22 15:47] NillsF opened #13626 "az storage blob generate-sas -- not able to add list permissions"
When using ```az storage blob generate-sas``` there is no way to pass in list permissions. This is however possible when generating [a regular SAS token](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas#specifying-account-sas-parameters).

# Feature request
Update ```--permissions``` for the ```az storage blob generate-sas``` command to accept ```l``` as a parameter to

[2020-05-22 16:08] LarryBowness opened #13627 "Failure to complete Exercise - Create a new API in API Management from a function app - request for help"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2020-05-22 16:10] saisujithreddym opened #13628 "ThreatIntel Whitelist on Firewall Policy"
**Is your feature request related to a problem? Please describe.**
This is a new feature request. We are trying to replicate the threatintelwhitelist in firewall(https://github.com/Azure/azure-cli/issues/11647) in the firewall policy.

**Describe the solution you'd like**
We should be able to send a threatintel whitelist object to the policy and this should have a list of ipaddresses and fqdns. Th

[2020-05-22 16:23] saisujithreddym opened #13629 "New naming/schema for Firewall Policy"
**Is your feature request related to a problem? Please describe.**
The backend schema for the firewall policy is going to change from 2020-05-01 api version. If CLI automatically updates the api version to call a new sdk everytime the sdk is updated, we need to make this change ASAP.

**Describe the solution you'd like**
**Current Scenario:**
CLI is consuming the firewall policy schema in the form

[2020-05-22 16:39] nnja opened #13630 "az postgres up: Extension install doesn't work on Mac OS Catalina"
**Describe the bug**

**To Reproduce**

On macOS Catalina 10.15.4

Install az cli with brew:

[code]

Attempt to install the preview extension to use `az postgres up` following the instructions in the [quickstart](https://docs.microsoft.com/en-us/azure/postgresql/quickstart-create-server-up-azure-cli).

[code]

**Expected behavior**

The extension should be installed successfully.

Instead, an err

[2020-05-22 16:45] saisujithreddym opened #13631 "Support multiple DNAT rules in dnat rule collection - Firewall Policy"
**Is your feature request related to a problem? Please describe.**
We have been supporting a single DNAT rule per dnat rule collection till now. We should be supporting a list going forward

**Describe the solution you'd like**
We should remove the restriction to support a single dnat rule per collection.

Please note that translated port and translated ipaddress are just for dnat rule and not net

[2020-05-22 16:51] DoPaNik commented on #13250
@zhoxing-ms Here the correlationId: **215c02ae-e56b-4b32-995b-f24b19a89699**

[2020-05-22 17:11] MaurGi opened #13632 "az storage container generate-sas error: self.account_key should not be None."
## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

I get an error with:
- `az storage container generate-sas --subscription {} --account-name {} --name {} --permissions=r --start 2020-05-22T15:45Z --expiry 2020-05-22

[2020-05-22 17:23] caeswor opened #13633 "Missing antlr4, Antlr4 failure whenever running an az vm * command. Stock install of CLI on WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create -n {} -g {} --public-ip-address-dns-name {} --image {} --data-

[2020-05-22 17:42] lmazuel commented on #13293
@jiasli
- On dev environment, you must NOT install any nspkg. For dev, there is no question that you want to leverage PEP420. The nspkg will indeed create trouble to import
- Your production wheel must NOT contains `azure\cli\__init__.py`,
- Your github repo should not contain any `azure\cli\__init__.py`. [This file shouldn't exist]
(https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/

[2020-05-22 17:47] anchalkpr opened #13634 "Multiple Public IP support for Azure Firewall deployed in Virtual Hub"
**Is your feature request related to a problem? Please describe.**
This is a new feature request. We are adding a new field HubIPAddresses through which users can specify the multiple IP addresses they would like to be attached to the firewall.

**Describe the solution you'd like**
HubIPAddresses was earlier a read-only property on Azure Firewall. With this change it will be editable, and users wi

[2020-05-22 17:51] lmazuel commented on #13514
That doesn't make sense, it means we got a 200 from the POST to ARM with url `"{}providers/{}/register?api-version=2016-02-01".format(url_prefix, rp_name)`, but that response body didn't includes the `registrationState` key ([see RestAPI spec](https://docs.microsoft.com/en-us/rest/api/resources/providers/register#provider)).

@yugangw-msft is there a possibility that this format is from done by th

[2020-05-22 18:00] lmazuel opened #13635 "Azure CLI wheels includes __init__.py files that should not be there"
A given wheel should only be responsible for one file, and only one. It means no other packages should contain this file too: if two wheels contains the same file, installing them side by side will break the uninstallation scenario.

Concrete example:
- `azure/__init__.py` is owned by `azure-nspkg`, and only this wheel should contain it
- `azure/cli/__init__.py` is owned by `azure-cli-nspkg`, and

[2020-05-22 18:01] lmazuel commented on #13293
@jiasli @fengzhou-msft I created a dedicated issue for the content of the wheels file
https://github.com/Azure/azure-cli/issues/13635

[2020-05-22 18:12] mohanrao opened #13636 "Can both service principle and azure ad both can be set on cluster ?"
Can both service principle and azure ad both can be set on cluster ? If so how the service principle should be logged in with az aks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.micros

[2020-05-22 18:17] NillsF commented on #13626
Had a further look into this, and it seems this can be done using ```az storage container generate-sas```.   The blob generate-sas cannot have list permissions, since it points to an individual blob.

Issue closed.

[2020-05-22 18:17] #13626 closed

[2020-05-22 18:45] rrottmann commented on #10798
Thanks for your pointers! Really helpful and much appreciated.

I've verified this and it works as long as the tags variable gets first composed in a separate bash line and does not contain spaces.

The following works:

[code]

And this does not work:

[code]
A tag with name `project` and value `foo costcenter=bar-baz` gets created.

And obviously spaces will not work as you have already mentione

[2020-05-22 18:47] benlearning opened #13637 "error when creating storage account name"
### **This is autogenerated. Please review and update as needed.**## Describe the bug**Command Name**`az storage account list`**Errors:**```400 Client Error: Bad Request for url: http://localhost:50342/oauth2/tokenTraceback (most recent call last):python3.6/site-packages/knack/cli.py, ln 215, in invoke    cmd_result = self.invocation.execute(args)cli/core/commands/__init__.py, ln 631, in execute

[2020-05-22 19:33] ishaniGupta27 opened #13638 "AZ CLI for DNS Proxy in Firewall Policy"
**Resource Provider**
NFVRP

**Description of Feature or Work Requested**
dnsSettings is added a new property on firewall policy.
Servers, EnableProxy,RequireProxyForNetworkRules are added as subproperties.

**Minimum API Version Required**
05-01-2020

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/9461
https://github.com/Azure/azure-rest-api-specs/pull/9609

**Target Date**
J

[2020-05-22 21:10] awentzel opened #13640 "Webapp:Where is ARR Affinity"
I can't seem to find how to control ARR affinity using the Azure CLI for `az webapp`s .

I'm running Linux and don't see the point of having this at all, certainly, it should be defaulted to false.

So now I have 24 apps across multiple regions behind Front Door with no ability to automate changing this setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-05-22 21:35] awentzel opened #13641 "Webapp:Missing details on ` --number-of-workers`"
Where can I find documentation on what workers do and recommended workers to use?  Best practices also would be useful?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e50d77a-f2fa-6d6e-0c57-2f434c12766f
* Version Independent ID: f9a98805-6e16-487a-03ce-237cb964f83c
* Content: [az webapp config](https://docs.microsoft.

[2020-05-22 22:22] yonzhan commented on #13627
functionapp

[2020-05-22 22:23] yonzhan commented on #13628
add to S171

[2020-05-22 22:25] yonzhan commented on #13629
add to S171

[2020-05-22 22:26] yonzhan commented on #13630
add to S171

[2020-05-22 22:28] yonzhan commented on #13631
add to S171

[2020-05-22 22:31] yonzhan commented on #13632
add to S171

[2020-05-22 22:32] yonzhan commented on #13633
@qwordy please take a look

[2020-05-22 22:33] yonzhan commented on #13634
add to S171

[2020-05-22 22:36] hcrutz commented on #13443
I forgot to mention, that the deployment with the classic visual studio powershell deployment script works fine with the attached arm template.
Could you reproduce this problem?
Any info's when this could be fixed?

[2020-05-22 22:36] yonzhan commented on #13635
@fengzhou-msft please take a look

[2020-05-22 22:39] Matt45D opened #13642 "ASDK environment az login failure"
#12648  Describe the bug
Getting a python iterable error when attempting to az login into my Azure Stack Development Kit environment. I get prompted to input my password and then after entering it, I get the following error down below.

**Command Name**
`az login`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

[code]

## To Reproduce:
Steps to reproduce the behav

[2020-05-22 22:44] yonzhan commented on #13636
aks

[2020-05-22 23:04] yonzhan commented on #13637
add to S171

[2020-05-22 23:06] yonzhan commented on #13638
add to S171

[2020-05-22 23:08] yonzhan commented on #13640
webapp

[2020-05-22 23:09] yonzhan commented on #13641
webapp

[2020-05-22 23:14] yonzhan commented on #13642
add to S170

[2020-05-22 23:38] Rich-Lang opened #13644 "Failure Attempting to create AppServicePlan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create --name {} --resource-group {} --sku

[2020-05-22 23:55] yonzhan commented on #13644
appservice

[2020-05-22 23:56] lmazuel commented on #13635
@fengzhou-msft if you're unsure what this means in term of `setup.py` magic feel free to ping me ;)

[2020-05-23 00:27] owainharris commented on #13081
Same issue here

[2020-05-23 01:39] Rich-Lang commented on #13644
Was able to work around using: https://github.com/Azure/azure-cli/issues/13343#issuecomment-624367680

This was a fresh install of WSL, Ubuntu, AZ CLI, everything

[2020-05-23 03:54] cpatel22 opened #13645 "Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2020-05-23 04:19] eduardo-claudio commented on #13598
Re-installing package solves the issue. Thanks.

[2020-05-23 04:19] #13598 closed

[2020-05-23 06:08] zhoxing-ms commented on #13443
Hi @hcrutz, this seems to be the same problem as #13316.
It has been fixed in the version 2.6.0 of CLI, could you please upgrade the CLI version to have a try?

[2020-05-23 06:12] zhoxing-ms commented on #13250
@DoPaNik Thanks, the two correlationIds will be provided to the service team for troubleshooting.

[2020-05-23 06:23] ahamad-MS commented on #13624
Hello @suterma . Thanks for reporting this issue. If you are using { } as part of the command while they are meant to be placeholders for the values for subscription Id, resource group, etc.

the source-resource-Id represents the ARM Id for the topic on which the event subscription is created. For example, let us assume that you want to create an event subscription on a custom topic that is (alrea

[2020-05-23 06:31] danbyrne opened #13646 "webapp: Unable to create App Service Plan in a different resource group to App Service Environment"
**Describe the bug**
As per the documentation, only one resource group can be specified, and it seems that this is expecting to be both the resource group to find the App Service Environment as well as the App Service Plan. However in our implementation they are generally in different groups.

**To Reproduce**
az appservice plan create -g ResourceGroup1 -n ServicePlanName  --app-service-environmen

[2020-05-23 07:21] zhoxing-ms commented on #10798
@rrottmann Hi, the reason that the spaces in tags affect parsing is that [word splitting in Bash is \<space\>\<tab\>\<newline\> by default. ](https://www.gnu.org/software/bash/manual/html_node/Word-Splitting.html) Pass parameters as above, there is no difference between the space of tags and word splitting when them are passed to `az` command, so spaces in tags are treated as word splitting. Such

[2020-05-23 10:08] vllama commented on #13526
Also discovered that having a typo of  "defaultvalue" instead of "defaultValue" when defining a parameter will also cause it to hang.

Most likely related.
Example:
[code]

[2020-05-23 11:00] ahamad-MS commented on #13324
this is dup issue. closing it

[2020-05-23 11:00] #13324 closed

[2020-05-23 11:23] vllama commented on #13526
Actually this only seems to be happening when running in the Windows PowerShell ISE interpreter.
If i run this in straight powershell or cmd I get the followinig prompt:
[code]

there seems to have been an issue logged here that dissapeared:
https://docs.microsoft.com/en-us/archive/blogs/powershell/console-application-non-support-in-the-ise

[2020-05-23 11:23] #13526 closed

[2020-05-23 11:37] DeepGit01 opened #13647 "webapp: Az CLI command fails to create app service managed certificate(preview)"
A customer has reported that Az CLI command to create app service managed certificate(preview) doesn’t work anymore. It used to work earlier.
https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az-webapp-config-ssl-create
https://docs.microsoft.com/en-us/cli/azure/functionapp/config/ssl?view=azure-cli-latest#az-functionapp-config-ssl-create

Customer had got error:
r

[2020-05-23 13:52] yonzhan commented on #13645
functionapp

[2020-05-23 13:58] yonzhan commented on #13646
appservice

[2020-05-23 14:03] yonzhan commented on #13647
app service

[2020-05-23 22:14] acworkma opened #13648 "keyvault secret set"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --name {} --vault-name {} --value {}`

##

[2020-05-23 22:26] vllama opened #13649 "az group deployment create : deployment failed ( deployment actually succedes afaik)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
Deploying a WebApp which has a sourcecontrols resource as defined in [https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-11-01/sites/sourcecontrols#SiteSourceControlProperties](url) causes the deployment to fai

[2020-05-23 22:38] yonzhan commented on #13648
@bim-msft please take a look

[2020-05-23 22:39] yonzhan commented on #13649
add to S171

[2020-05-23 23:28] awentzel opened #13650 "what are the requirements to set --origin-path"
When attempting to set `--origin-path` using Azure CLI with `az cdn endpoint create` I'm getting the following error.  But, nowhere documentation say what is required for this to succeed.  For example, does it perform a DNS lookup and if nonexistent respond with this error?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-05-23 23:31] awentzel opened #13651 "origin path unclear with incomplete documentation"
When attempting to set `--origin-path` using Azure CLI with `az cdn endpoint create` I'm getting the following error.  But, nowhere documentation say what is required for this to succeed.  For example, does it perform a DNS lookup and if nonexistent respond with this error?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-05-23 23:31] awentzel commented on #13651
duplicate. web interface isn't working great today for some reason.

[2020-05-23 23:31] #13651 closed

[2020-05-23 23:33] awentzel opened #13652 "using azure cli i'm able to create duplicate cdn profiles"
when running `az cdn profile create` multiple times with the same values i get a successful completion. however, it's already been created and i still get successful completion.  Usually with other commands I get a red message that it already exists.

This is throwing me off a bit. Could we add clarity or perform consistent messaging with other commands?

When running the following command Azure C

[2020-05-24 06:11] jiasli opened #13653 "[Doc/Packaging] Provide instructions for installing history versions of Azure CLI"
We need to update the doc or maybe installation script to allow users to install history/old versions of Azure CLI in case of a regression, like https://github.com/Azure/azure-cli/issues/13625.

[2020-05-24 06:16] jiasli opened #13654 "[Packaging] Create release pipeline for beta versions"
We need to come up with a release pipeline/procedure for beta versions. Currently the need is for Azure Identity Adoption.

[2020-05-24 08:44] yonzhan commented on #13650
cdn

[2020-05-24 08:45] yonzhan commented on #13652
cdn

[2020-05-24 08:48] yonzhan commented on #13654
release pipeline

[2020-05-24 08:51] yonzhan commented on #13653
@fengzhou-msft please take a look

[2020-05-24 09:10] allschu opened #13655 "az functionapp Azure Cli deploy error (v2)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Deploy zipped publish package to Azure Function App service. using the following command

`az functionapp deployment source config-zip -g [RESOURCE-GROUP ]-n [ FUNCTION APP NAME] --src publish.zip`

## Expected

[2020-05-24 09:12] yonzhan commented on #13655
functionapp

[2020-05-24 10:34] sithukyaw007 opened #13656 "Missing Azure CLI package registry on Ubuntu 20.04 LTS"
Hello Azure CLI team,

I install Azure CLI on On Ubuntu 20.04 LTS following this [official link](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#manual-install-instructions).

After Step 3, when I run `sudo apt-get update`, I found this error

`https://packages.microsoft.com/repos/azure-cli focal Release`
`404  Not Found [IP: <IP_Address_Here> 443]`

`E: The

[2020-05-24 11:25] vllama commented on #13649
Additional Detail:

Even this sample deployment script @davidebbo provided fails if the git repository specified is not public [https://github.com/Azure/azure-functions-host/issues/416](https://github.com/Azure/azure-functions-host/issues/416)

The error from the resource group deployments log: tracking id : 83e6fcef-09ed-455e-a9bc-6b906692a6c7. In the portal the status says "Conflict" but the jso

[2020-05-24 15:35] vllama opened #13657 "az storage container generate-sas crashes when --auth-mode login is specified"
**Running the following command causes the command to crash:**

[code]
When running it without --auth-mode login  the following warning is produced:

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- I am already logged in using az lo

[2020-05-24 18:09] saggiyogesh opened #13658 "az interactive not working"
## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]

[2020-05-24 19:43] saggiyogesh commented on #13658
Fixed as per https://github.com/Azure/azure-cli/issues/12837#issuecomment-607610509.
Closing

[2020-05-24 19:43] #13658 closed

[2020-05-24 23:03] yonzhan commented on #13656
@fengzhou-msft please take a look

[2020-05-24 23:05] yonzhan commented on #13657
add to S171

[2020-05-25 00:16] shyambhiogade commented on #7227
On My machine, i killed python process and then used az login and it started working.

i used following command to find out who is using 8400 port and found that its python.
Get-Process -Id (Get-NetTCPConnection -LocalPort portNumber).OwningProcess

[2020-05-25 01:35] yungezz commented on #13656
we're working on supporting it.

[2020-05-25 01:38] yungezz commented on #13648
hi @bim-msft same issues reported several times, is there anything we could to avoid it?

[2020-05-25 01:41] yungezz commented on #13644
could you pls share your previous install story to help trouble shooting? thanks

[2020-05-25 01:46] zhoxing-ms commented on #13292
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-25 01:46] #13292 closed

[2020-05-25 01:47] jiasli commented on #7227
@shyambhiogade, we have fixed this issue on Windows in https://github.com/Azure/azure-cli/pull/10955. Azure CLI will try the port starting from `8400` and fallback to the next available one. Please make sure the previous login is finished or terminated, then try again.

[2020-05-25 01:48] zhoxing-ms commented on #10631
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-25 01:48] #10631 closed

[2020-05-25 02:01] zhoxing-ms opened #13659 "Support JSON format input for tags"
**Is your feature request related to a problem? Please describe.**
If the tag parameter passed in the script contains spaces, the parameter input will be cumbersome.
Relevant issues: #10798 #13170

**Describe the solution you'd like**
For this scenario, it is more convenient for customers to input tags in JSON format.

**Describe alternatives you've considered**

**Additional context**

[2020-05-25 02:06] zhoxing-ms commented on #10798
@rrottmann Do you have any other questions?

[2020-05-25 02:06] zhoxing-ms commented on #13170
@ghstahl Do you have any other questions?

[2020-05-25 02:32] yonzhan commented on #13659
JSON format for tags

[2020-05-25 02:45] jimmybourque commented on #12291
Hi, I have the same problem on Windows. The full uri does not work.
Any update?

[2020-05-25 02:58] jiasli commented on #13642
The lines with problem are https://github.com/Azure/azure-cli/blob/80c7bc79d416007d86848650b149d5fa24783c19/src/azure-cli-core/azure/cli/core/_profile.py#L275-L276

This is a known issue of the `resources` Resource Provider: https://github.com/Azure/azure-rest-api-specs/issues/9567.

**Solution**: Please select the correct profile with `az cloud set --name xxx --profile xxx`.

Meanwhile, I will tr

[2020-05-25 03:02] haroldrandom commented on #13594
Well. I guess I could algin the dependencies requirements with Azure CLI for knack. but I guess it's a permernant problem because pip take care of the cache. So, guess there won't be a perfect solution I think :(

[2020-05-25 03:15] qwordy commented on #12775
Thank you @Drewm3

[2020-05-25 03:15] #12775 closed

[2020-05-25 03:17] qwordy commented on #13407
Glad to know that!

[2020-05-25 03:19] qwordy commented on #13407
@fengzhou-msft Should cloud shell upgrades before we announce a new version of CLI?

[2020-05-25 03:35] qwordy commented on #12751
@JoeSainsburys Hi, would you please share what's the root cause and how the issue is solved?

[2020-05-25 04:16] cuzzlor opened #13660 "az cli fails with ModuleNotFoundError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install Ubuntu 20.4 LTS on Windows WSL
- Install az cli following these steps: https://docs.microsoft.com/en-us/

[2020-05-25 04:38] sithukyaw007 commented on #13656
Thank you team.

[2020-05-25 05:01] yonzhan commented on #13660
webapp

[2020-05-25 05:08] rrottmann commented on #10798
@zhoxing-ms No, I'm good. Looking forward to the JSON format input. Thanks!

[2020-05-25 05:08] #10798 closed

[2020-05-25 05:39] #13145 closed

[2020-05-25 05:53] haroldrandom commented on #13594
I remeber that new version azdev has leveraged requirement.*.txt already. https://github.com/Azure/azure-cli/pull/13431, https://github.com/Azure/azure-cli-dev-tools/pull/194
Most requirements are listed explicitly in platform-specific requirements.txt.

You could upgrade to newer azdev to fix this problem during development.

[2020-05-25 06:14] jiasli commented on #12137
Microsoft Graph API's Service Principal part is now GA https://developer.microsoft.com/en-us/identity/blogs/service-principal-api-in-microsoft-graph-is-now-generally-available/. However I still find the naming of the API confusing. Will track at issue https://github.com/microsoftgraph/microsoft-graph-docs/issues/8412.

[2020-05-25 06:29] Poil opened #13662 "webapp ssh - should catch ctrl + c"
**Describe the bug**
When we do a ctrl+c to interrupt a program in a `az webapp ssh` it exit the `az webapp ssh` and break the host terminal (we need to do a `reset`)

**To Reproduce**
in a `az webapp ssh`
press ctrl+c after typing
[code]

**Expected behavior**
Should SigKill the while loop

Note that send to  (ctrl+w, ctrl+s, ctrl+q) should also be catch

Best regards

[2020-05-25 06:47] royca opened #13663 "Issue while creating aks cluster from azure cli"
## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _pre-requisite steps..._
- `az aks create --resource-group $RESOURCE_GROUP --name $AKS_CLUSTER_NAME --vm-set-type VirtualMachineScaleSets --load-balancer-sku standard --location $REGI

[2020-05-25 07:01] pvrk commented on #13549
@sambitratha : Is this something that we have recently fixed with the latest release? Can you please take a look?

[2020-05-25 07:02] pvrk commented on #13051
@sambitratha : Can you please take a look on this?

[2020-05-25 07:13] florianrusch opened #13664 "Support for the `Microsoft.CostManagement/query` API"
**Is your feature request related to a problem? Please describe.**
I would like to query our azure costs via the `az` cli, to bring them in our own on-premise monitoring system. To do this I need to group and filter them, which is not immediately possible with the `az consumption` command.

**Describe the solution you'd like**
The Azure API `.../Microsoft.CostManagement/query` (https://docs.micros

[2020-05-25 07:30] bim-msft commented on #13548
@ezYakaEagle442 Yes, saving private keys as secrets is a practical way.

`key show` already has this information:
![image](https://user-images.githubusercontent.com/3250203/82789302-a3e4f780-9e9c-11ea-980b-782ec8e35605.png)

`key download` doesn't have, I will update the doc accordingly. Thanks for the feedback!

[2020-05-25 07:43] bim-msft commented on #13621
@SeaDude Hi, which version are you using? (you can use `az --version` to see the version)

[2020-05-25 07:54] bim-msft commented on #13648
@yungezz Hi, the root cause for this has still not been found yet. It seems the data-plane SDK `azure-keyvault` was upgraded from `1.1.0` to `4.x` incorrectly (see another case #13507 ).
Some clues:
1. Most of afftected version is `2.0.81`
2. Most of afftected OS is `Linux-5.4.0-29-generic-x86_64-with-glibc2.29`

This might be an OS side issue instead of CLI side, anyway, will follow up this.

[2020-05-25 07:56] bim-msft commented on #13648
Hi @acworkma You can try to upgrade your Azure CLI version to latest to avoid this issue. Another way to resolve it is using `azure-keyvault==1.1.0`. Please let me know if these 2 ways don't workaround you.

[2020-05-25 08:05] Juliehzl commented on #13100
dupe of #13373
Fixed in azure cli 2.6.0

[2020-05-25 08:06] #13100 closed

[2020-05-25 08:07] Juliehzl commented on #13113
@novaknole We have a new command named `az storage copy`, which has better performance when copy. You can have a try.

[2020-05-25 08:12] Juliehzl commented on #13131
Hi @HermanCordes, you can specify `--subnet` with resource id, which is in another resource group.

[2020-05-25 08:33] jsntcy commented on #12449
@aaronyeung , any update on this issue?

[2020-05-25 08:35] Juliehzl commented on #13288
Hi @droplet-tech, I am trying to reproduce your issue. But I cannot reproduce it with azure cli 2.6.0 installed. Could you try to upgrade your azure cli version according to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest or provide debug information with`--debug` in your command to help figure out root cause in your scenario?

[2020-05-25 08:52] bim-msft commented on #13457
@ashwarn Hi, we are going to close the issue due to long time inactivity. If you have anything unresolved, just feel free to reopen this and I will continue to follow up this.

[2020-05-25 08:52] #13457 closed

[2020-05-25 09:01] vllama opened #13667 "az: error: unrecognized arguments: --only-show-errors for "az storage" commands"
running the following command
-`az storage account list --only-show-errors --resource-group $resourceGroup --query '[0].{name: name}'`

Produces the following error:

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
- `az storage account list --only-show-errors --resource-group {} --query {}`

## Expected Behavior
As per the documentation [here](https://docs.microso

[2020-05-25 09:05] Juliehzl commented on #12340
dupe with #12854. Add @fengzhou-msft  for awareness.

[2020-05-25 09:24] hcrutz commented on #13443
Hi @zhoxing-ms , you're right, I could deploy the template with 2.6.
Do you know how/when new versions are deployed to MS hosted Agents? The agent still runs version 2.5.1.

[2020-05-25 09:50] audunn commented on #13594
yes, it is fixed now, thank you very much @haroldrandom

[2020-05-25 09:53] haroldrandom commented on #13594
Closed as revolved. If anything missing, please feel free to reopen.

[2020-05-25 09:53] #13594 closed

[2020-05-25 10:25] yonzhan commented on #13662
webapp

[2020-05-25 10:25] yonzhan commented on #13663
aks

[2020-05-25 10:29] yonzhan commented on #13664
add to S171

[2020-05-25 10:34] haroldrandom commented on #13664
Hi, https://github.com/Azure/azure-cli-extensions/pull/1729, https://github.com/Azure/azure-cli/issues/12912 we are going to onboard it here.
It will be release before June.

The CLI plan is going to lose weight, which is going to make most of commands an extension.
So, we are not going to put it on the Azure CLI.

But still thanks for your suggestion!

[2020-05-25 10:37] yonzhan commented on #13667
add to S170

[2020-05-25 11:23] esteimanuel opened #13670 "Connection string type accepted values do not match actual accepted values"
Connection string type.

accepted values: ApiHub, Custom, DocDb, EventHub, MySql, NotificationHub, PostgreSQL, RedisCache, SQLAzure, SQLServer, ServiceBus.

But in the app service configuration connection string types the only accepted values are: MySQL, SQLServer, SQLAzure, PostgreSQL and Custom.

When the type is ServiceBus, IConfiguration.GetConnectionString("Name") could not resolve it in Azur

[2020-05-25 11:33] yonzhan commented on #13670
webapp

[2020-05-25 12:28] xiaodai7 opened #13671 "an Azure CLI command to set keyvault networking to selected/private network"
Hey guys,

I was wondering if there is a way to run a CLI command which sets the Azure Keyvault resource which has the networking option on "Allow access: from all networks" to "Allow access: from private endpoint and selected networks. See screenshot to understand which buttons I'm referring to.

![kv access](https://user-images.githubusercontent.com/21020555/82812707-e3f3ac80-9e93-11ea-85aa-a52f

[2020-05-25 12:54] wolszakp commented on #13560
@yungezz
Here is the error
![image](https://user-images.githubusercontent.com/19219192/82814259-16eb6f80-9e97-11ea-898b-469e0985d2b8.png)

And here is proof that it has Standard `sku`
![image](https://user-images.githubusercontent.com/19219192/82814479-8eb99a00-9e97-11ea-9b53-c1bfa06d29dd.png)

[2020-05-25 13:24] yonzhan commented on #13671
@bim-msft please take a look

[2020-05-25 13:27] yannick-Lapierre commented on #13459
some news about this issue?

[2020-05-25 13:39] pleinolijf commented on #9382
Having exactly the same issue. Not blocking, but definitely annoying, since you have to set your pipeline up to not fail because of the false error "Operation failed with status: 200. Details: Resource state Succeeded".  So now each and every build is displayed with a warning, which always raises concern with other people.

[2020-05-25 13:58] #13267 closed

[2020-05-25 13:58] EwertonJordao commented on #13267
Tks for all

[2020-05-25 15:24] jemag commented on #11210
@qianwens Let me know if you need more information than what I provided. If not, perhaps it would be better to remove the "customer-response-expected" label

[2020-05-25 15:28] dasumner commented on #13352
Was there any progress on this issue?

[2020-05-25 15:39] jkendzorra commented on #13519
Here's a workaround for those willing to use pip3:
`sudo pip3 install antlr4-python3-runtime` (from https://golder.org/azure-cli-cant-find-antlr4-python-library/)

[2020-05-25 15:45] Rinal opened #13672 "Webapp:Deploy of the .NET Core app failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {} --resource-group {}`

## Expected Behavior

## Environme

[2020-05-25 15:54] MKruger777 commented on #13401
I just tested it on my Ubuntu 18.04 with version:
  "azure-cli": "2.6.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.6.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}

Works like a charm - thanks so much, much appreciated! :-)

[2020-05-25 16:52] wbpluto commented on #12110
Maybe it's due to the failure of Authentication. Please try to login manually by running: az login

[2020-05-25 17:07] kuniteru commented on #13189
@MyronFanQiu Thank you for your suggestion.

As you said, I tried.
I created url-path-map with redirect type rule without --default-redirect-config.
And after that I tried to create path base type rule, then I got same error.

I ran it in the following order.

1. az network application-gateway url-path-map create \
    -g $rg \
    --gateway-name $appgwName \
    -n ${appgwName}-urlpathmap \
    -

[2020-05-25 17:57] Matt45D commented on #13642
Hi,

Just to confirm it was an issue with using the incorrect API version profile. It would definitely be great if the Azure CLI was able to give more detailed error messages to indicate that it was an issue with API versions.

Thanks for the help,

Matt

[2020-05-25 17:57] Matt45D commented on #13642
Hi,

Just to confirm it was an issue with using the incorrect API version profile. It would definitely be great if the Azure CLI was able to give more detailed error messages to indicate that it was an issue with API versions.

Thanks for the help,

Matt

[2020-05-25 17:57] #13642 closed

[2020-05-25 18:29] SeaDude commented on #13621
@bim-msft, I'm using Azure Notebooks. Here are the results:

[code]

[2020-05-25 18:44] subir0071 opened #13673 "az webapp appsettings set is case sensitive, should be case insensitive"
**Bug Description**

Azure webapp configuration key is case-insensitive. (https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value)
However, when we execute the below command:
az webapp config appsettings set -n <appService Name> -g <RG Name>  --settings KEY=Value1 we receive an error message --> Operation returned an invalid status code 'Conflict'.
This is because there is

[2020-05-25 18:48] manikanta-kondeti opened #13674 "Webapp:unable to deploy botService NodeJS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-05-25 18:54] manikanta-kondeti commented on #12087
Hey, any update on this?

I am getting a similar error while deploying a BotService to Azure

[2020-05-25 19:02] vijayshinva opened #13675 "HTTPError: 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open Windows Terminal > Azure Cloud Shell
- `az group list`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-25 19:45] CondormanFr commented on #9141
The command :
`$d = Get-AzStorageFile -Share $S -ErrorAction SilentlyContinue|select Name` does not work with powershell 7
It answers :

`Get-AzStorageFile: Cannot bind parameter 'Share'. Cannot convert the "Microsoft.WindowsAzure.Commands.Common.Storage.ResourceModel.AzureStorageFileShare" value of type "Microsoft.WindowsAzure.Commands.Common.Storage.ResourceModel.AzureStorageFileShare" to type "

[2020-05-25 19:54] suterma commented on #13624
Thanks for your input, and yes, this resolves the issue at hand.

Unfortunately it was not clear to me that the bracketted terms must be replaced, especially because I was not aware of how to get the azure subscription id. So I assumed they might be meant literally.

Another reason is, in all the previous commands in this guide, the placeholders were expressed with $ variables.

I am closing this

[2020-05-25 19:54] #13624 closed

[2020-05-25 23:04] yonzhan commented on #13672
webapp

[2020-05-25 23:06] #13401 closed

[2020-05-25 23:09] gauravthakur02 commented on #13081
I am also running into issues as my packages on the Ubuntu 20.04 LTS are failing to upgrade with the below error:
E: The repository 'https://packages.microsoft.com/repos/azure-cli focal Release' does not have a Release file.

Please do let us know the ETA when this will be available on Ubuntu 20.04 LTS.