[2020-11-16 14:55] yonzhan commented on #15935
aks

[2020-11-16 16:30] asc-adean opened #15937 "Stoage error when scaling Data Warehouse up or down"
The autogenerated example worked last week but now I get this error when running it:

[code]

My Subscription name is not 'Standard_RAGRS' so I don't know if that's an error in the messaging or if it's truly trying to use a subscription called 'Standard_RAGRS'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c6ca27-08

[2020-11-16 16:35] asparrowhawk opened #15938 "Unable to create Windows container instance"
### Az container create of windows container image

## Failure to create Windows based container

Attempting to run a Windows based container using Azure Container Instance.

Built the container image locally using Windows server 2019 and docker
Pushed built image to new empty Azure container registry
Attempted to create running container.

**Command Name**
`az container create --name aci-mqtt-tes

[2020-11-16 17:07] Mexicoder opened #15939 "action group parameters allow for multiple values"
some of these action group related parameters allow for multiple values (i think the delete) but i would really like if multiple values were an option on all action group related parameters. in my case the create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97968df-72c9-e50c-d5b1-54562c1bdef7
* Version Independent

[2020-11-16 17:17] KeneObi opened #15940 "webapp:az webapp up not working in tutorial"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Follow the steps in this tutorial
https://docs.microsoft.com/en-gb/learn/modules/host-a-web-app-with-azure-app-servi

[2020-11-16 17:23] Mexicoder commented on #15939
also for the update command. is **name** really an optional parameter?

[2020-11-16 17:24] Mexicoder commented on #15939
I just ran the command and it tells me name and resource group are required. documentation doesn't reflect this.

[2020-11-16 17:44] njvorhies opened #15941 "error creating role in Synapse"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse role assignment list --workspace-name {} --ro

[2020-11-16 17:45] pemooreburns opened #15942 "Azure Synapse Workspace Admin Challenge"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse role assignment create --workspace-name {}

[2020-11-16 17:45] pemooreburns opened #15943 "Azure Synapse Workspace Admin Challenge"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse role definition list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse role definition list --workspace-name {}`

##

[2020-11-16 18:06] mossywell opened #15944 "2 corrections to the documentation"
2 corrections (both in the "create" section. The first is a typo correction. The second is to add clarification.

1. "The resource id of which private enpoint connect to." --> "The resource id of the private endpoint to connect to."

2. "Name or ID of an existing subnet. If name specified, also specify --vnet-name. If you want to use an existing subnet in other resource group or subscription, plea

[2020-11-16 19:08] pvrk commented on #15677
@kunjals :Another gentle reminder

[2020-11-16 22:33] pownkel opened #15946 "az resource update interprets string value as mathematical expression"
**Describe the bug**
When using `az resource update` to set tag values, any tag value that appears to be a mathematical expression is interpreted as one, and the result of the expression is stored as the tag value.

For instance, I am trying to set a tag to a date value formatted as "2020-11-16". The string is interpreted as a subtraction, and the tag's value is set to "1993".

Is this the intende

[2020-11-16 23:05] #13858 closed

[2020-11-16 23:16] yonzhan commented on #15937
sql

[2020-11-16 23:17] yonzhan commented on #15938
container

[2020-11-16 23:17] yonzhan commented on #15940
webapp

[2020-11-16 23:19] yonzhan commented on #15939
monitor

[2020-11-16 23:21] yonzhan commented on #15941
synapse

[2020-11-16 23:22] yonzhan commented on #15942
synapse

[2020-11-16 23:22] yonzhan commented on #15943
synapse

[2020-11-16 23:24] yonzhan commented on #15944
network

[2020-11-16 23:29] yonzhan commented on #15946
ARM

[2020-11-16 23:53] Mexicoder opened #15947 "create alert needs a description"
az monitor alert create
--description is not optional. the command will fail as say so.

need to update the documentation to show this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f601495-154d-5e5c-3692-02f8f41516f7
* Version Independent ID: 2968e230-b7a0-b433-333a-af3bba69fd0e
* Content: [az monitor alert](https://

[2020-11-16 23:57] Mexicoder commented on #15947
you can't even do this `--description ""`
it won't accept an empty string

[2020-11-17 01:24] yungezz commented on #15942
close as duplicate with https://github.com/Azure/azure-cli/issues/15942

[2020-11-17 01:24] #15942 closed

[2020-11-17 01:30] yonzhan commented on #15947
monitor

[2020-11-17 03:00] #15796 closed

[2020-11-17 03:01] sedatesoftware commented on #15878
@qwordy run again with ```--debug``` parameter as requested.
On a Debian based WSL instance (az --version = 2.14.1):
[code]

On the Fedora based WSL instance (az --version = 2.14.2) it worked:
[code]

Upgrading az-cli on the Debian instance failed.
[code]

[2020-11-17 03:03] #15592 closed

[2020-11-17 03:10] haroldrandom commented on #15592
@timvanderweijde The patch is merged and will be shipped with Azure CLI 2.16.0, you could have a try after 12/8/2020. Or you could try an edge build from https://dev.azure.com/azure-sdk/public/_build/results?buildId=620599&view=artifacts&type=publishedArtifacts

[2020-11-17 03:14] idear1203 commented on #15941
From the error stack, the error is not thrown in Synapse code. It seems like this is related to MSI. Could you please try `az login`?

[2020-11-17 03:20] qwordy commented on #15646
Glad to know that!

[2020-11-17 03:21] qwordy commented on #14998
Cool! I will close this issue.

[2020-11-17 03:21] #14998 closed

[2020-11-17 03:29] qwordy commented on #15878
I run it in Windows. Let me try it on Debian WSL as well.

[2020-11-17 04:20] idear1203 commented on #15943
Please run `az login`

[2020-11-17 08:44] marcosfriasraet commented on #15930
Hi.. Any info can help us..

[2020-11-17 09:14] doronve opened #15949 "az login on windows fails with python errors"
Python version is Python 3.7.9
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment

[2020-11-17 09:14] fengzhou-msft commented on #15783
From the error log, the issue is caused by `SSL: CERTIFICATE_VERIFY_FAILED`. Are you working behind a proxy? If so , you may follow the [Work behind a proxy](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy) guide.

[2020-11-17 09:24] kaletkamk opened #15950 "WebApp:az webapp config ssl import not importing certificate"
**Describe the bug**
Im running few hundreds of az webapp config ssl import to import certificate from keyvault to webapp, and then bind them to the custom url
Oftentimes after uploading the certificate successfully, I'm getting
[code]
when running
az webapp config ssl bind --certificate-thumbprint $thumbprint --ssl-type SNI ids  $webapp_id

First line is from script, getting the thumbprint of cer

[2020-11-17 11:23] yonzhan commented on #15930
devops service team should look into this.

[2020-11-17 11:33] yonzhan commented on #15950
webapp

[2020-11-17 11:34] yonzhan commented on #15949
login

[2020-11-17 11:51] SychevIgor commented on #11933
Have almost identical issue.
Azure CLI 2.14.2 delivered via Microsoft App-V.

C:\Windows\System32>az aks get-credentials --resource-group rpu-nprod-h3-aks-rg-01 --name h3-ext-nprod-sen-aks --debug
Command arguments: ['aks', 'get-credentials', '--resource-group', 'rpu-nprod-h3-aks-rg-01', '--name', 'h3-ext-nprod-sen-aks', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCre

[2020-11-17 12:42] ezYakaEagle442 commented on #14047
I run CLI latestv2.14

az version
{
  "azure-cli": "2.14.2",
  "azure-cli-core": "2.14.2",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "asc": "0.1.0",
    "azure-firewall": "0.3.0"
  }
}

Please reopen this issue @Jen7714 @atulaggarwal

[2020-11-17 13:43] fawohlsc opened #15951 ""az ad sp create-for-rbac" does not support scope management group"
**Describe the bug**
`az ad sp create-for-rbac` does not support scoping to management group and fails with error *Subscription 'Microsoft.Management' not found*.

**To Reproduce**
`az ad sp create-for-rbac --name "<MANAGEMENT_GROUP_NAME>-Contributor" --role "Contributor" --scopes /providers/Microsoft.Management/managementGroups/<MANAGEMENT_GROUP_NAME> --sdk-auth --debug`

After this Azure API Req

[2020-11-17 13:55] dprokopenko-cloudaware opened #15952 "I can't get a list of reservation (only when I run this command show 'Service administrator' I can do it)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az reservations reservation-order list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az reservations reservation-order list`

## Expec

[2020-11-17 14:15] shahht commented on #15783
Well, I used a copy of certificate on separate directory and pointed it in configuration and it worked for me.
You may close it.

[2020-11-17 14:15] #15783 closed

[2020-11-17 14:38] yonzhan commented on #15951
az ad

[2020-11-17 14:41] yonzhan commented on #15952
reservations

[2020-11-17 14:55] djsly opened #15953 "az aks update --enable-managed-identity isn't supported while it is now GA"
**Describe the bug**
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-existing-service-principal-based-aks-cluster-to-managed-identities tells us to use : az aks update --enable-managed-identity

**To Reproduce**
❯ az aks update --update-managed-identity -g sky-aks-rg -n sly-k8s
UnrecognizedArgumentError: unrecognized arguments: --enable-managed-identity

**Expected behavi

[2020-11-17 15:15] rydvn commented on #15949
![image](https://user-images.githubusercontent.com/39326807/99408051-d712bb80-2900-11eb-9458-0c3f0ed5ccf7.png)

[2020-11-17 16:02] Mexicoder opened #15954 "az resource show required parameters"
az resource show
the name, resource group and resource type are all required but the documentation does not show this.
also, a link to all resource types would make this documentation a lot more useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76a8ad2-efd8-9e8a-9b2b-eebeb1e9d1d4
* Version Independent ID: 280b7ea9

[2020-11-17 16:07] Mexicoder commented on #15954
for the resource type adding a mention to this command of something **very easy** to google would make this command easier to use.
i used this: `az provider list --query "[].{Provider:namespace, Status:registrationState}" --out table`
which i had to go looking for here https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#azure-cli

[2020-11-17 16:18] Mexicoder commented on #15954
`az resource show -n My-API-Management -g My-RG --resource-type service --namespace Microsoft.ApiManagement`
this is what i had to do to get my API management resource. it was a very wonky experience to get this.
The hardest part was getting the namespace and resource type right. originally i set `--resource-type Microsoft.ApiManagement` but that didn't work even though the documentation says that

[2020-11-17 17:24] pod909 commented on #15812
1: Define a query via the UI
2: use "az boards query --id {query id}" to retrieve it on the command line

[2020-11-17 18:56] fidelcoria-aa commented on #8070
FWIW in bash using `--pasword=<nasty password with ugly chars>`
worked for me (i.e. using `=`)

[2020-11-17 19:54] saikongara opened #15956 "Upgrade failed for 2.0 to 2.14"
Upgrade failed for 2.0 to 2.14 for azure CLI, followed the documentation but it didn't work. Please find below the error

az upgrade
az: 'upgrade' is not in the 'az' command group. See 'az --help'.

[2020-11-17 21:10] mdesimone1 opened #15957 "az keyvault secret list gets stacktrace in WSL2 ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

this was in ubuntu WSL2 in windows 10.  the summary command 'az keyvault secret' worked:
 az keyvault secret
az keyvault secret: error: the following arguments are required: _subcommand
usage: az keyvault secret [-h]
                          {list,list-versions,list

[2020-11-17 22:13] miwithro commented on #15953
@norshtein

[2020-11-18 00:37] saisandeep opened #15959 "Listing replicas for MySQL 5.6 azure server fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az mysql server replica list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az mysql server replica list --resource-group {} --server {

[2020-11-18 00:41] gordonpn commented on #12689
@mgrabarz @matthewfrye @allegradomel

How exactly do you give read access at the subscription level to an App account? I have my account set as Owner in the scope of "This resource", but I cannot get the AzureCloud tags in the response body.

[2020-11-18 01:18] yonzhan commented on #15954
ARM

[2020-11-18 01:23] yonzhan commented on #15953
aks

[2020-11-18 01:25] yonzhan commented on #15959
mysql

[2020-11-18 01:57] yungezz commented on #15957
hi @bim-msft could you pls help to have a look?

[2020-11-18 01:58] yungezz commented on #15956
hi @saikongara `az upgrade` is released in 2.11.0. You need to manual upgrade to version >=2.11.0, then run az upgrade.

[2020-11-18 02:21] 741300182 opened #15960 "use cli set Azure service principals tags issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp update --id {} --set {}`

## Expected Behavior

## Environment

[2020-11-18 02:34] yungezz commented on #15590
hi @qwordy is it ok to close the issue now? thanks

[2020-11-18 02:37] yungezz commented on #15692
hi @houk-ms can this issue be closed now ?

[2020-11-18 02:37] yungezz commented on #15753
hi @arrownj could this issue be closed now since PR merge? could  you pls link PR? thanks.

[2020-11-18 02:39] arrownj commented on #15753
All the commands listed are supported in 2.15.0.

[2020-11-18 02:39] #15753 closed

[2020-11-18 03:42] qwordy commented on #15590
May be we can support more encodings.

[2020-11-18 05:35] saikongara commented on #15956
how to manually upgrade to version >=2.11.0 ?

[2020-11-18 05:47] #14706 closed

[2020-11-18 06:09] jiasli opened #15961 "`az login` fails with `UnboundLocalError: local variable 'token_entry' referenced before assignment`"
**Describe the bug**

#15776 introduced a bug: `az login` fails with `UnboundLocalError: local variable 'token_entry' referenced before assignment`

When ADAL login fails, the actual error is hidden by `_login_exception_handler`.

https://github.com/Azure/azure-cli/blob/3ade968815d0d70556981b3fa23809f54aed1979/src/azure-cli-core/azure/cli/core/_profile.py#L1373-L1380

To repro, login with an inval

[2020-11-18 09:05] cnovel commented on #15910
I found a work around, instead of using `execute_process(COMMAND az --version RESULT_VARIABLE code)`, I use `execute_process(COMMAND cmd /c az --version RESULT_VARIABLE code)` and it seems to work fine. I'll appreciate if a fix can be found nonetheless.

[2020-11-18 09:10] kairu-ms commented on #14957
@yuriwoof The error message came from Service. Cli never check condition operationName. I think your should ask ACR team for help.

[2020-11-18 09:12] kairu-ms commented on #14957
The operation name also not exist in Portal.

![image](https://user-images.githubusercontent.com/69238381/99509826-3fc16d00-29c1-11eb-91d5-64085e98245b.png)

[2020-11-18 10:45] djaus2 commented on #13098
Looking at this again now.

[2020-11-18 11:12] alexwlchan opened #15965 "Clarify how to remove multiple legal hold tags with `az storage container legal-hold [clear|set]`"
I'm using `az storage container legal-hold clear` to remove legal hold tags on a Blob Storage container. Quoting part of the help text:

[code]

The name "tags" implies that this argument can be used to delete multiple tags in one go – rather than running multiple commands, running one tag at a time – but it wasn't clear to me how you're meant to do this.

I found out by searching the repo and dis

[2020-11-18 11:43] yonzhan commented on #15960
az ad

[2020-11-18 11:49] yonzhan commented on #15961
az login

[2020-11-18 11:56] yonzhan commented on #15965
storage

[2020-11-18 12:33] ezYakaEagle442 opened #15966 "az aks create, 10.240.0.0/16 is a reserved IP space"
See also

AKS Internal Ingress requires IP from 10.240.0.0/16 , this is not documented.
The az aks create CLI doc should mention as well that this is a reserved IP space.

All reserved IP ranges should be documented in CLI to reflect the doc, ex with KubeNet :

(https://docs.microsoft.com/en-us/azure/aks/configure-kubenet](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet)

_The pod IP

[2020-11-18 12:42] yonzhan commented on #15966
aks

[2020-11-18 12:45] iTiamo commented on #12939
Thanks @eugeneromero... Having to jump through hoops and look at Github issues to fix a problem always makes me feel like I'm doing something unintended.

[2020-11-18 15:29] SplashA opened #15967 ""az ad app permission admin-consent" returns "service unavailable" when logged with a service principal"
**Describe the bug**
"az ad app permission admin-consent" returns "service unavailable" when logged in with a service principal but works fine with a regular user.

**To Reproduce**
I guess just launch the following command line while logged in with a service principal :

`az ad app permission admin-consent --id {}`

**Expected behavior**
To actually validate the grants in the api permissions sect

[2020-11-18 16:17] ecc256 opened #15968 "WebApp:az webapp create-remote-connection doesn’t work for Windows App Service Plan"
Unable to open console with
_az webapp create-remote-connection_
It show message:
_"Only Linux App Service Plans supported, Found a Windows App Service Plan"_
I can open console for the same App Service in web GUI and both Kudu Remote Execution Consoles "CMD and PowerShell", meaning there is no problem on server side.
create-remote-connection works properly linux apps, so I assume az cli configura

[2020-11-18 17:59] marlinla opened #15969 "AttributeError: 'Response' object has no attribute 'status'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Similar to #15835

``az ad signed-in-user show --query objectId``
also bug when query ommited. But -h in place of the query works

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2020-11-18 18:08] herreraj-ms opened #15970 "[Azure Monitor] Onboarding Azure Monitor Control Service - Data Collection Rules"
**Resource Provider**

   - AMCS RP (Data Collection Rules) is a feature of Azure Monitor

**Description of Feature or Work Requested**

   - [Description] Azure Monitor Control Service (AMCS) is responsible for storing and distributing users' monitoring configuration exposed through ARM API. The configuration is expressed in two types of resources:
      1) Data collection rule (DCR) - defines: D

[2020-11-18 19:08] MehaKaushik commented on #15921
Hi @pk422 yes this is correct. These commands are deprecated. Please use the API specific commands. Do you have any specific question for us ?

[2020-11-18 19:10] jatinas opened #15971 "CLI for Time Series Insights (TSI)"
**Resource Provider**
Microsoft.TimeSeriesInsights

**Description of Feature or Work Requested**
CLI for TSI
Speclet - https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EeASGSS9OH5EoETiy56ZqKYBr85-KD5u6uxLJt3QIVNg8A?e=vhq48x

**Minimum API Version Required**
2020-05-15

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/timeseriesinsights/resour

[2020-11-18 21:46] apawast commented on #15800
@gzuber could you please take a look at this?

[2020-11-18 21:46] apawast commented on #15857
@gzuber could please take a look at this?

[2020-11-18 22:49] vinh75002 opened #15972 "Got CLIInternalError when logging in to Azure with command "az login""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-11-18 23:15] markjbrown commented on #15702
I'm confused as to what you are asking for.

If you want to learn what the schema is, just run the command. Am I missing something else here?

[2020-11-18 23:30] yonzhan commented on #15969
az ad

[2020-11-18 23:47] VigneshKiru opened #15973 "Azure CLI application list command"
**Describe the bug**

I am not able to show the application list or application type using below command.
It's producing the empty result.
PS C:\windows\system32> az sf application list -g rg_testmaxdiskviki -c testmaxdiskviki
{
  "nextLink": null,
  "value": []
}

CX experiencing this issue from their side.
I just did repro and confirmed from my end as well.

**To Reproduce**
1. Deploy the sample

[2020-11-19 00:54] shurd commented on #15430
Hi, the new connection string should be returned now.

[2020-11-19 00:54] #15430 closed

[2020-11-19 01:11] PaulCharlton commented on #15973
in debug mode, the AZ command reports:
`urllib3.connectionpool : Starting new HTTPS connection (1): management.azure.com:443
urllib3.connectionpool : https://management.azure.com:443 "GET /subscriptions/1b907cdd-2fcf-40e0-b8c9-6f18fce5d955/resourceGroups/PlatformFabric-ATRProd02US/providers/Microsoft.ServiceFabric/clusters/SrvFabC01WSFCautqmslrdo/applications?api-version=2020-03-01 HTTP/1.1" 200 N

[2020-11-19 01:30] kevin-tong-msft opened #15974 "az acr show-usage need to include storage used by replications"
**Is your feature request related to a problem? Please describe.**
`az acr show-usage` only returns the storage usage of the container registry itself. It does not include the storage used by geo-replications, which, however, is counted towards billing. This may lead the user to under estimate the actual usage and bill.

**Describe the solution you'd like**
`az acr show-usage` need to return the t

[2020-11-19 01:47] yungezz commented on #15974
route the request to appropriate team

[2020-11-19 01:48] yungezz commented on #15973
hi @fengzhou-msft could you pls help to check is this caused by storage account connection again?

[2020-11-19 01:50] yungezz commented on #15931
hi @fengzhou-msft could you pls help to check if this something in core, then route to appropriate command owner team?

[2020-11-19 02:59] loganballard opened #15976 ""az network application-gateway ssl-cert create" command requires --cert-password flag, even if SSL certificate does not have a password"
**Describe the bug**

Addition of an existing SSL certificate to an application gateway using `az network application-gateway ssl-cert create` requires a password.  SSL certificates that are not encrypted (for instance, many self-signed certificates) often do not have passwords, so it is not necessarily reasonable to require an SSL certificate that is used by an application gateway to have a passw

[2020-11-19 03:21] pixeldyne commented on #15858
Experiencing the same for exports and imports. Both import and export fail immediately but the actual import then goes ahead, so does export. However, the error message breaks the flow in scripts.

`The client '[GUID]' with object id '[GUID]' does not have authorization to perform action 'Microsoft.Sql/locations/importExportAzureAsyncOperation/read' over scope '/subscriptions/***' or the scope is

[2020-11-19 07:01] bim-msft commented on #15914
@gbr746 Hi, you can try Azure RBAC using `az role` not `az keyvault role`, and I think it can be applied on normal vaults, `az keyvault role` is only for HSMs. Sorry, I misunderstood your scenario.

[2020-11-19 07:01] #15787 closed

[2020-11-19 07:05] arrownj commented on #15335
Close this first as not able to reproduce the empty error message problem.

[2020-11-19 07:05] #15335 closed

[2020-11-19 07:17] felixengstrom opened #15980 "'az postgres server create' does have idempotent behaviour."
**Describe the bug**
'az postgres server create' returns error code when trying to create server that already exists.

**To Reproduce**
Run 'az postgres server create' for a postgres server that already exists.

**Expected behavior**
Should according to [Guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types) be idempotent.

[2020-11-19 08:07] qwordy opened #15981 "az login has a bug! local variable 'token_entry' referenced before assignment"
**Describe the bug**

[code]

When I input a wrong password, it tells me local variable 'token_entry' referenced before assignment. I don't know what it means.

**To Reproduce**

**Expected behavior**

**Environment summary**

Azure CLI 2.14.2
Window 10
PowerShell

**Additional context**

[2020-11-19 08:17] jiasli commented on #15981
Duplicate of #15961

[2020-11-19 08:22] qwordy commented on #14481
It is not a feature request. It is an error in output. @houk-ms

[2020-11-19 09:48] yonzhan commented on #15970
perceiving

[2020-11-19 10:02] yonzhan commented on #15971
TSI

[2020-11-19 12:12] V4A001 opened #15983 "Support for replacment of $tokens in yaml files of Visual Studio like envsubst in Unix"
**Is your feature request related to a problem? Please describe.**
I have a file .azcli and that works fine. However, I cannot replace values easily in yaml files I want to load in Kubernetes.
envsubst < load-balancer-service.yaml | kubectl apply -f -

**Describe the solution you'd like**
Replacement of values by use of tokens $static_ip

**Describe alternatives you've considered**
Now I enter val

[2020-11-19 12:25] #15813 closed

[2020-11-19 12:35] yonzhan commented on #15972
az login

[2020-11-19 12:36] jiasli commented on #15972
Duplicate of #15961

[2020-11-19 12:38] jiasli commented on #15972
This is a known issue and we are working on a fix. To get over it, please use a valid pair of username + password.

[2020-11-19 12:39] yonzhan commented on #15976
network

[2020-11-19 12:46] jiasli commented on #15949
This is a known issue #15961 and we are working on a fix. To get over it, please use a valid user account.

[2020-11-19 12:46] yonzhan commented on #15980
postgres

[2020-11-19 12:59] yonzhan commented on #15983
Could you please share more details about this issue? Which CLI command has problem?

[2020-11-19 13:25] jayendranarumugam commented on #14960
Hi @idear1203  is there any update ? We are blocking with this issue on our production

[2020-11-19 13:28] V4A001 commented on #15983
It holds for all yaml files in Visual Studio Code. Can be that my knowledge is insufficient. I am not running those yaml-files in a ci/cd devops situation by the way. I believe the cluster is only created once and then through Helm charts the cluster is maintained. Which can be through a ci/cd devops integration. So now I am working locally on Visual Studio code with Azcli to define my cluster wit

[2020-11-19 14:21] saikongara commented on #15956
Installed the latest version using `homebrew` on my Mac, it worked and I could use 2.15.x now.

[2020-11-19 14:21] #15956 closed

[2020-11-19 14:42] sekarsadasivamv commented on #12271
@anthonychu -  We want to create a function app to use the existing consumption app service plan we have created (i.e. myexistingappserviceplan is  a app service consumption plan which is windows and location is eastus).

 The below command throws

az functionapp create \
  --name myfunctionAppName \
  --storage-account storageName \
  --plan myexistingappserviceplan \
  --resource-group myResourc

[2020-11-19 15:58] lorcopotia opened #15984 "Issue when creating vnet with az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet create -g {} -n {} --address-prefixes {} --subnet

[2020-11-19 18:31] KeneObi commented on #15940
Hi, please are there any updates on this?

[2020-11-19 19:24] joelbyford opened #15985 "WebApp:Error while running 'az appservice' on arm64 Ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Simply running `az appservice` after logging in successfully errors out with ModuleNotFound.  Running 'az sql db list` works fine.

**Command Name**
`az appservice`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2020-11-19 19:51] calvinsID commented on #15940
Hi @KeneObi, I was unable to reproduce following the tutorial linked above. From the tutorial where you set the variables, can you print out each one to verify the variables are set correctly?
![image](https://user-images.githubusercontent.com/14339314/99716953-93819400-2a5d-11eb-9c2b-32c2a69d4a57.png)

[2020-11-19 19:57] calvinsID commented on #15900
Hi @ShugoYoko, do you mind sharing the details of the output using `--debug` flag?

[2020-11-19 20:25] kishoresayee opened #15986 "az login fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-11-19 21:27] joelbyford commented on #15985
May be related to #15957 ?

[2020-11-19 22:09] deathgaze opened #15987 "az aks list ResourceNotFoundError error"
## Describe the bug
Azure CLI seems to be retaining some kind of state from a previous cluster I created and removed. Now this command is failing and I don't know how to get it working again.

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a reso

[2020-11-20 01:57] evelyn-ys commented on #15986
This is a known issue #15961  and we are working on a fix. To get over it, please use a valid user account.

[2020-11-20 02:39] viananth opened #15988 "[Compute] Add optional parameter --EdgeZone to support extended locations"
**Resource Provider**

Compute

**Description of Feature or Work Requested**

Add an “--EdgeZone” parameter for below cmds
Note: the underlying ARM property is called “extended locations”, and is intended to cover several types of extended locations including EdgeZone, among others. We do not want to directly reflect this into the cmdlets (by say, having --ExtendedLocationType and --ExtendedLocati

[2020-11-20 03:17] jiasli commented on #15961
This issue usually happens when the

- the user credential is invalid, or
- the HTTP proxy is invalid.

To fix it, please

- use a valid user credential, or
- confirm the HTTP proxy setting.

We are releasing a hotfix to expose the real error message. Sorry for the inconvenience caused and thanks for your kind understanding.

[2020-11-20 03:18] jiasli commented on #15949
Duplicate of #15961

[2020-11-20 03:19] jiasli commented on #15986
Duplicate of #15961

[2020-11-20 03:21] binnie268 commented on #8719
**Describe the solution you'd like**
Wanted to reopen this to see if we could add snapshot support for az storage file copy start-batch?

Thanks!

[2020-11-20 04:11] binnie268 opened #15989 "az storage file copy start-batch --snapshot feature"
**Is your feature request related to a problem? Please describe.**

az storage file copy start-batch does not support snapshot restore

**Describe the solution you'd like**
Describe the solution you'd like
Wanted to check  if we could add snapshot support for az storage file copy start-batch? Right now snapshot is only supported on az storage file copy start

**Describe alternatives you've conside

[2020-11-20 04:41] #14857 closed

[2020-11-20 04:49] anthonychu commented on #12271
@sekarsadasivamv Can you create it without specifying an app service plan (specify `--consumption-plan-location` instead)? Consumption plans should not be shared between function apps. That setting is meant for App Service plans. Perhaps we can make the description of the options a bit clearer.

[2020-11-20 04:53] anthonychu opened #15990 "Update functionapp create options to be more clear"
In the az functionapp create command, the —plan option should not be used with consumption plans. The description should call this out and ask the customer to use the —consumption-plan-location option instead for consumption.

https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest#az_functionapp_create

[2020-11-20 05:28] brianlehr commented on #15015
Checking again on this.

[2020-11-20 05:35] fengzhou-msft commented on #15973
The response status is 200, route to service team to check.

[2020-11-20 06:10] haroldrandom commented on #15015
@brianlehr Could you post your swagger PR in this PR body as well

[2020-11-20 07:07] #15627 closed

[2020-11-20 07:41] karataliu opened #15994 "'az role assignment list' should support '--assignee-object-id'"
**Is your feature request related to a problem? Please describe.**
az role assignment create has a parameter '--assignee-object-id', but 'az role assignment list' doesn't have.

using '--assignee' would require access to graph api, this is unexpected when we already known the object id but doesn't have access to graph.

**Describe the solution you'd like**
Add '--assignee-object-id' parameter to '

[2020-11-20 07:42] fengzhou-msft commented on #12758
@shmink I can only access the tricia docker image and it does not have the `/etc/upstream-release/lsb-release` file. Instead I used this command: `cat /etc/os-release | grep -Po 'UBUNTU_CODENAME=\K.*'`. Can you confirm whether it works for your system as well?

[2020-11-20 08:24] timvanderweijde opened #15995 "Cookie-based affinity setting not working when using same cookie-name on http/https Httpsettings for same host"
**Describe the bug**
The browser-client is not being routed to the same server of the same backend pool when arriving at http port 80 and being redirected to the http port 443 of the same host.

**To Reproduce**
`All statements below are created by az network application-gateway .. `

- create 1 backend pool "backendPool-1" with say 8 machines
- create HttpSetting for protocol http port 80. **Enab

[2020-11-20 08:33] sekarsadasivamv commented on #12271
Thanks you @anthonychu. When I run with --consumption-plan-location eastus it works.  I see its gets linked to a specific App Service Plan which has already been created.  How does azure pick which App Service Plan to get associated?  Is there an way we could configure or change using any azure cli commands?

[2020-11-20 09:01] sekarsadasivamv commented on #12271
Also when you mention "Consumption plans should not be shared between function apps" - do you mean that there can be only one function app per consumption plan?  But I can see many functions app getting created under one consumption app service plan (please refer my attachments)?

Also, I do not understand how this consumption app service plan gets picked up by Azure?  Please help me understand?

[2020-11-20 09:08] VigneshKiru commented on #15973
Thank you everyone. We got an update from Product team that, application related commands(Azure CLI) will work only for the applications which deployed over ARM template. Hence closing this.

[2020-11-20 09:08] #15973 closed

[2020-11-20 09:34] norshtein commented on #15953
Could you remove your aks-preview extension and re-install it? The command should be included in the latest aks-preview extension.

By the way, updating from using service principal to use managed identity is still a Preview feature, you need to register feature flag "Microsoft.ContainerService/MigrateToMSIClusterPreview" to use the feature.

[2020-11-20 10:00] DanielHWe opened #15997 "az resource tag fail on resource group with unexpected error"
## Describe the bug
I want to set tags on a resource group but it fails with an unexpected error.
I call: az resource tag --tags "something=something" --ids "<my rgs id>"

**Command Name**
`az resource tag`

**Errors:**
[code]

## To Reproduce:
call: az resource tag --tags "something=something" --ids "<my rgs id>"

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-11-20 10:03] juicyarts commented on #15856
I'm experiencing the same behaviour on MacOS Catalina(10.15.5 (19F101))

[code]

[code]

nothing happens even though it used to work some time ago (~august)  :/

[2020-11-20 10:14] TomGeske commented on #15953
@miwithro should we update our doc and call out the required feature flag? Right now it looks like SP to MI migrate is GA.

[2020-11-20 10:34] yeroc-sebrof commented on #10192
Hi all, just putting some activity into this thread as I recently have encountered this issue. I have attempted to use both the URI and Query String. I was able to use the same SAS Token with the azcopy tool to upload a blob to my storage container, so it @colemickens it appears there is not any changes yet.

@Drewm3 I belive that the reason for the Compute tag is that the functionality is failing

[2020-11-20 12:03] bitcloud commented on #15856
The issue got introduced by the backend.

The problem lies here:
https://github.com/Azure/azure-cli/blob/879396f3c9ec4dd090b595eeabb36b8dde2007ec/src/azure-cli/azure/cli/command_modules/container/custom.py#L684

This function loops over the websocket output and if the socket emits an empty string it is considered end of session. But currently the backend seems to start with an empty string before

[2020-11-20 12:05] djsly commented on #15953
Correct, the DOC says it is now GA as well as the AKS release note. There is no mentioned of AKS-preview nor that a feature flag is needed.

@palma21 should the release note be updated to reflect the status of the feature?

[2020-11-20 12:21] miwithro commented on #15953
Added the Preview note and the Feature Flag steps to the document.   Should be live tomorrow.

[2020-11-20 12:24] TomGeske commented on #15953
Thanks @djsly for your feedback and pointing out. It is really appreciated.

Let's close this one. Feel free to keep commenting.

#please-close

[2020-11-20 13:08] alexeyshishkin01 commented on #15856
ok, thanks for that, when the fix is going to be available in 'az' tool ?

[2020-11-20 13:14] bitcloud commented on #15856
I don't know as I don't work for MS ;-)
But if you need it right away, you can easily patch you local version.

On the mac the file is located `/usr/local/Cellar/azure-cli/2.14.1/libexec/lib/python3.8/site-packages/azure/cli/command_modules/container/custom.py`

check for the function `_cycle_exec_pipe` and just remove the two lines 4 and 5 in the function (`if not data: return False`)

This shoul

[2020-11-20 15:22] josephtingiris opened #16001 "Caution should be noted about using --pull-secret"
Using --pull-secret will overwrite the arosvc.azureecr.io pull secret, which contradicts (or doesn't properly explain) that doing so (improperly) will void the support policy for ARO, per https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4

Additionally, this page cautions, https://docs.microsoft.com/en-us/azure/openshift/howto-add-update-pull-secret

```Do not remove or alter you

[2020-11-20 15:43] PaulCharlton commented on #15973
@VigneshKiru -- our SF apps are deployed by ARM templates and we still have this issue!!  please reopen the ticket

[2020-11-20 15:43] MCKLMT commented on #14695
Any news?

[2020-11-20 17:07] djsly commented on #15953
FYI, maybe we need to make this release note clearer as well: https://github.com/Azure/AKS/releases/tag/2020-11-09

It doesn't say GA but it doesn't say preview either

[2020-11-20 17:07] #15953 closed

[2020-11-20 18:04] freastro opened #16002 "WebApp:Mounting storage to webapp with invalid key returns success"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config storage-account update`

**Errors:**
Returns a success response when provided with an invalid `access-key`. The response is the same regardless of whether the `access-key` is correct or not. This falsely led me to believe that the storage account was added to the webapp when

[2020-11-20 18:38] puicchan opened #16004 "Update for RHEL 6.x ELS"
**Resource Provider**
COMPUTE

**Description of Feature or Work Requested**
RHEL 6.10 enters end of lifecycle phase and RHEL 6.10 extended-lifecycle-support (ELS) offer starts. GA is Dec 1 2020. Customers need to update billing meter capability so that they will continue to get update for RHEL 6.10 till 2024.

`az vm update --license-type`

Specifies that the Windows image or disk was licensed on-

[2020-11-20 20:50] avirishuv commented on #14841
@hobothulhu hope that answers your question, or any other follow up needed?

[2020-11-20 21:07] hobothulhu commented on #14841
The issue no longer appears present after removing the `SqlIaasExtension`. I will create a new issue and reference this one if I re-encounter this issue. I appreciate your help, @avirishuv . I wish you a pleasant weekend!

[2020-11-20 21:07] #14841 closed

[2020-11-20 21:36] sbonds commented on #15765
I've also documented this as an Azure Feedback request here:

https://feedback.azure.com/forums/217298-storage/suggestions/42011338-allow-azure-cli-to-attach-multiple-disks-to-a-vm-a

[2020-11-20 22:25] afiune opened #16005 "Crash while granting admin-consent to AD Application"
## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an AD application and try to grant admin consent with the command above
- `az ad app permission admin-consent --id {}`

## Expected Behavior
Grant admin co

[2020-11-20 22:51] maertendMSFT commented on #13393
Please close as a dupe :)

[2020-11-20 22:52] maertendMSFT commented on #13681
@DaCheeseMan , unfortunately I dont have permissions in this repro to close this issue, do you mind closing it?

[2020-11-20 22:53] maertendMSFT commented on #14393
Can we close this as a dupe of: https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 22:54] maertendMSFT commented on #15224
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 22:54] maertendMSFT commented on #15227
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 22:55] maertendMSFT commented on #15371
@WAftring , are you still seeing this issue?  If no, please close :)

[2020-11-20 22:55] maertendMSFT commented on #15385
Please close as a dupe of https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 22:56] maertendMSFT commented on #15399
@brahma-farms, ping on yonzhan's request

[2020-11-20 22:56] maertendMSFT commented on #15404
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 22:56] maertendMSFT commented on #15560
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749

[2020-11-20 23:03] #15560 closed

[2020-11-20 23:04] dagoroz opened #16006 "Azure RBAC - Support passing attribute principalType during PUT operations HTTP calls"
**Resource Provider**
Azure RBAC (PAS)

**Description of Feature or Work Requested**
currently when creating/updating a role assignment the property principalType is not always set. We would like that regardless of wether an email or an Object ID is used this property is *always* included in the call

**Minimum API Version Required**
2017_05_01

**Swagger Link**
N/A, this is a client side change,

[2020-11-20 23:41] sebansal commented on #13475
ping @RandalliLama

[2020-11-20 23:50] sebansal commented on #14396
Can you help summarize the problem /question service team need to address? Shane from product side answered the question.
Feel to reopen the issue if is not answered yet.

[2020-11-20 23:50] #14396 closed

[2020-11-21 01:44] yonzhan commented on #15984
network

[2020-11-21 01:46] yonzhan commented on #15985
appservice

[2020-11-21 01:47] yonzhan commented on #15987
aks

[2020-11-21 01:49] yonzhan commented on #15988
Compute

[2020-11-21 01:55] yonzhan commented on #15989
storage

[2020-11-21 01:57] yonzhan commented on #15990
functionapp

[2020-11-21 01:59] yonzhan commented on #15994
role

[2020-11-21 02:03] yonzhan commented on #15995
Not CLI related issue

[2020-11-21 02:03] #15995 closed

[2020-11-21 02:08] yonzhan commented on #15997
resource

[2020-11-21 02:17] yonzhan commented on #16001
aro

[2020-11-21 02:19] yonzhan commented on #16002
webapp

[2020-11-21 02:20] colemickens commented on #10192
As an update from me, and in case its helpful to someone else, `azcopy` can't handle page blobs piped from standard in, so now I use `blobxfer`. I can now store images compressed with `zstd`, and then I can `zstdcat` into `blobxfer` to upload. `blobxfer` properly handles the input from stdin and skips the empty sections of the extracted image, so I get the benefits of having a pre-sized image, wit

[2020-11-21 02:22] yonzhan commented on #16005
az ad

[2020-11-21 02:24] #15227 closed

[2020-11-21 02:24] #15224 closed

[2020-11-21 02:24] #14393 closed

[2020-11-21 02:24] #13393 closed

[2020-11-21 02:26] yonzhan commented on #16006
RBAC

[2020-11-21 02:26] nicohun13 commented on #15224
Yes Closed.

On Sat, Nov 21, 2020 at 5:54 AM Danny Maertens <notifications@github.com>
wrote:

[2020-11-21 02:27] #15404 closed

[2020-11-21 02:28] #15385 closed

[2020-11-21 02:28] #15371 closed

[2020-11-21 08:42] yonzhan commented on #15396
ARM

[2020-11-21 08:44] #8099 closed

[2020-11-21 08:57] #13681 closed

[2020-11-21 08:57] DaCheeseMan commented on #13681
Duplicate

[2020-11-21 14:27] Cemlyn opened #16007 "az login --use-device-code error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2020-11-21 14:40] yonzhan commented on #16007
az login

[2020-11-21 18:56] hursic opened #16008 "webapp:az webapp up doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {} --html`

## Expected Behavior

## Envi

[2020-11-21 22:43] donfouts opened #16009 "lacking details of set argument"
if you do a show of a record you get back a json record and the following set argument here
Update an object by specifying a property path and value to set. Example: --set property1.property2=.

would imply you use --set arecords.ipv4address=##.##.##.##  but that is not so simple is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-11-22 11:45] yonzhan commented on #16008
webapp

[2020-11-22 11:47] yonzhan commented on #16009
network

[2020-11-22 22:25] mjdall commented on #7261
@nkemakolam I had this issue when my ACR url didn't start with https://. Setting with https:// registered it as a container registry instead.

[2020-11-22 22:26] mjdall commented on #7261
I had this issue when my ACR url didn't start with https://. Setting with https:// registered it as a container registry instead.

[2020-11-23 02:14] jiasli commented on #16007
Duplicate of #15961

[2020-11-23 02:14] #16007 closed

[2020-11-23 02:16] jiasli commented on #15961
We have released **2.15.1** to fix this issue. Please [install the latest version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) and kindly let us know if the issue is resolved.

[2020-11-23 02:44] yungezz commented on #16004
hi @qwordy , this is a easy  fix, can we make it into this release? thanks.

[2020-11-23 02:47] qwordy commented on #16004
OK.

[2020-11-23 07:45] yugangw-msft commented on #15974
Need to add a new field for replicates

[2020-11-23 09:07] Sreeja1998 opened #16013 "secrets module not found."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy -n {} --secret-permissions {} --spn {}`

#

[2020-11-23 09:19] qwordy commented on #14100
What's going on? @houk-ms

[2020-11-23 09:22] qwordy commented on #14756
Finished. Please read user manual carefully.

[2020-11-23 09:22] #14756 closed

[2020-11-23 09:24] #14852 closed

[2020-11-23 10:17] savvaniss opened #16014 "az login: TypeError: 'NoneType' object is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-11-23 12:35] yonzhan commented on #16014
az login

[2020-11-23 12:42] JasonHaley commented on #9855
Was this completed? Its not clear why it was closed.

[2020-11-23 12:54] surenderssm opened #16015 "Documentation - Broken link in CONTRIBUTING.rst - http://azure.github.io/guidelines.html"
**Describe the bug**

Broken link in `Microsoft Azure Projects Contribution Guidelines <http://azure.github.io/guidelines.html>`

**To Reproduce**

Navigate to https://github.com/Azure/azure-cli/blob/dev/CONTRIBUTING.rst and click on `Microsoft Azure Projects Contribution Guidelines`

**Expected behavior**

Should be redirecting to correct page.
**Additional context**

Links takes you to generic 4

[2020-11-23 13:22] yungezz commented on #16013
hi @houk-ms could you pls help with this one?

[2020-11-23 13:23] yungezz commented on #16015
hi @fengzhou-msft could you pls help to fix? thanks

[2020-11-23 14:00] dzsibi opened #16016 "Role assignment list includes classic administrators from the wrong scope"
## Describe the bug

When using `az role assignment list` with both `--scope` and `--include-classic-administrators`, classic administrators are shown for the current subscription, not taking the subscription specified in the scope into account.

## To Reproduce:

- Create two Azure subscriptions
- `az account set --subscription <first-subscription-id>`
- `az role assignment list --scope "/subscri

[2020-11-23 14:33] Kotasudhakarreddy commented on #15909
@ensa-DMS - I tried in `az version 2.15.0 *` but unable to repro the issue. slots were swapped successfully. Try update your `az` pack and run the command. still if you face any issue please share the `debug` log for your execution.

[2020-11-23 14:47] Kotasudhakarreddy commented on #15950
@kaletkamk - Could you please provide the `az version`, `commands` you are using and  `--debug` log to investigate further.

[2020-11-23 14:56] Kotasudhakarreddy commented on #16008
@hursic - unable to repro the issue. can you please provide `-debug` log .

[2020-11-23 15:01] kaletkamk commented on #15950
{
  "azure-cli": "2.14.0",
  "azure-cli-core": "2.14.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-devops": "0.18.0"
  }
}

I believe this is related to the webapps themselves - sometimes you can't bind pre-existing ssl certificate without going to the certificates tab first.

[2020-11-23 16:07] imriss opened #16017 "az aks nodepool add - unrecognized arguments: --aks-custom-headers EnableUltraSSD=true"
# Description:
While trying to create a node pool with Ultra disks Enabled using (`--aks-custom-headers EnableUltraSSD=true`), faced the following error: `unrecognized arguments: --aks-custom-headers EnableUltraSSD=true`

**Command Name**
`az aks nodepool add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain se

[2020-11-23 16:53] JCCChris commented on #4618
I get this error and using firefox does not fix it.  I also am not allowed to share logs.

[2020-11-23 17:44] maria-pronin opened #16018 "az aks create gives UnrecognizedArgumentError: unrecognized arguments: --enable-aad"
**Describe the bug**

I am trying to create a cluster with managed AAD integration as outlined here
https://docs.microsoft.com/en-us/azure/aks/managed-aad

When I call az aks create I get  UnrecognizedArgumentError

az aks create -g $RESOURCE_GROUP -n $AKS_CLUSTER_NAME --enable-aad --aad-admin-group-object-ids $GROUP_OBJECT_ID --aad-tenant-id $TENANT_ID gives the following error

UnrecognizedArgum

[2020-11-23 17:45] dgard1981 commented on #11718
I've started to look at [Bicep](https://github.com/Azure/bicep) - very cool - and it's so nearly very easy to do this, but not quite.

The plan was to deploy a Function App (parent) and also some App Settings (child) as a separate resource in one Bicep file. I was then going to reference `parent.properties` from the child resource and use the `union()` function to merge in some default App Setting

[2020-11-23 18:01] alex-frankel commented on #11718
I think the issue in this particular case @dgard1981 is that the Web RP treats `appSettings` as a secret, so it doesn't support simple GETs (which is what the `reference()` function is doing).

There may be a list* POST API for retrieving this, but I don't know off hand. Worth looking more closely here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-reso

[2020-11-23 18:34] dgard1981 commented on #11718
Good shout @alex-frankel. There is a `list` endpoint for Microsoft.Web/sites/config that I can use to get App Settings.

It works in an ARM template -

[code]

But currently fails in Bicep. I created [an issue](https://github.com/Azure/bicep/issues/982) in that repo.

[code]

[2020-11-23 19:06] scgbear commented on #12369
<details>
<summary>Internal Tracking</summary>
devdivcsef 359125
</details>

[2020-11-23 19:31] anders-kiaer opened #16021 "Update logo of enterprise applications using the CLI"
**Is your feature request related to a problem? Please describe.**
Update logo of enterprise application.

**Describe the solution you'd like**
Being able to update the enterprise application logo using Azure CLI

**Additional context**
Using [`az ad sp update`](https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az_ad_sp_update),
it looks like you can update settings on the "Pr

[2020-11-23 19:31] imriss commented on #16017
This can be closed. The steps in the guide to Register the EnableUltraSSD preview feature and also to Install aks-preview CLI extension were not done. Thanks

[2020-11-23 19:31] #16017 closed

[2020-11-23 19:48] vigneshmsft opened #16022 "az keyvault secret show crashes"
## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Just run the below command, expect to see the help menu or invalid arguments prompt, but the cli just crashes.

- `az keyvault secret show`

## Expected Behavior
Should prompt

[2020-11-24 00:07] bmoore-msft commented on #11718
@dgard1981 - can you help me understand your scenario a bit more?  For context, PUT is declarative so that's why it behaves the way it does...

I'm trying to wrap my head around the case where I have a running functionApp and then want to modify only part of it in the declarative model (i.e. a template).  Seems like you risk breaking things that way, but that might be the part I'm missing...

(fwi

[2020-11-24 01:10] dgard1981 commented on #11718
@bmoore-msft - in this case my main frustration is around slots.

I have separate pipelines to deploy infrastructure and code (which includes App Settings). When the infrastructure pipeline creates a Function App with no App Settings `FUNCTIONS_EXTENSION_VERSION` is set to `~1`. However when the code pipeline carries out a slot swap the value of `FUNCTIONS_EXTENSION_VERSION` doesn't swap.

So this

[2020-11-24 02:42] mayerlench opened #16023 "Error az ad sp create-for-rbac"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac -n {} --role {} --scopes {} --sdk-auth

[2020-11-24 03:27] CharlesAbetz opened #16025 "Setting AD-Admin via AZ CLI/Powershell for Synapse"
Hi

Looking at the either powershell or az cli I can't find what I am after for setting the AD Admin for the synapse workspace/sql pool.

az synapse workspace create or New-AzSynapseWorkspace

OR

az synapse sql pool create or New-AzSynapseSqlPool

WIthout setting this I am finding I am getting inaccessible sql pools (something is not working with the Grant) when creating them through Automation (

[2020-11-24 03:33] #15961 closed

[2020-11-24 03:37] kairu-ms commented on #15970
@herreraj-ms  I will add two command groups:
[code]

[2020-11-24 03:39] yonzhan commented on #16016
RBAC

[2020-11-24 03:55] yonzhan commented on #16018
aks

[2020-11-24 03:57] yonzhan commented on #16021
Graph

[2020-11-24 04:00] jiasli commented on #4618
@JCCChris, could you try cleaning the browser cache? If the issue persists, do you mind sharing the `--debug` log to jiasli at microsoft.com?

[2020-11-24 04:02] yonzhan commented on #16023
Graph

[2020-11-24 04:20] bpossolo commented on #9141
+1 please add a way to delete empty folder tree using the azure-cli
or better yet, update `az storage file delete-batch` to delete the folders as well.... that's what i expected it would do

[2020-11-24 04:39] yonzhan commented on #16025
synapse

[2020-11-24 05:02] yungezz commented on #16022
hi @bim-msft could  you pls help to look at the issue, is it same with https://github.com/Azure/azure-cli/issues/16013? cc @houk-ms for awareness

[2020-11-24 06:10] yungezz commented on #14927
hi @abrignola thanks for the great feedback. For --enable-soft-delete exact timeline, we'll communicate with service team to get a concrete timeline. For now, pls not specify `--enable-soft-delete`. thanks

[2020-11-24 06:16] yungezz commented on #15985
hi @joelbyford could you pls try uninstall 2.0.81 and  install latest Azure CLI? The issue is caused by a problematic package in Focal release 2.0.81, detail in issue https://github.com/Azure/azure-cli/issues/14011. Let us know if any other question.

[2020-11-24 07:17] idear1203 commented on #16025
@CharlesAbetz , sorry for the inconvenience. we are working on supporting this on both PowerShell and CLI side.

For PowerShell side, the PR link is here: https://github.com/Azure/azure-powershell/pull/13489 . The command Set-AzSynapseSqlActiveDirectoryAdministrator will be available on 12/08.

For CLI side, this is still under development. This is supposed to be supported by the end of December.

[2020-11-24 07:32] haroldrandom commented on #15810
I cannot produce your scenario
![image](https://user-images.githubusercontent.com/14357159/100062259-4725c200-2e6a-11eb-8c06-87486479bfd3.png)

[2020-11-24 08:25] dtewinkel opened #16026 "webapp:az appservice plan create fails on use of ASE resource id with --app-service-environment"
## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Run:
- `az appservice plan create --name {} --resource-group {} --app-service-environment {} --is-linux --sku {} --number-of-workers {} --location {} --tags {} {} {} --output {} --verbose`
with a resource ID of an ASE provided to the --app-service-environment.

## Expected Behavior

`az appservi

[2020-11-24 08:43] fengzhou-msft commented on #15828
The install script is updated to use the focal package for groovy before the groovy package is ready:
`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

[2020-11-24 08:45] fengzhou-msft commented on #12758
The script is updated. Please try with `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash` on tricia.

[2020-11-24 08:54] fengzhou-msft commented on #15069
@scott-doyland-burrows the install script is updated to use the upstream distro package for Linux Mint. Please try again with `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`.

[2020-11-24 09:00] yungezz commented on #16026
route to appropriate service team.

[2020-11-24 09:23] kairu-ms commented on #15970
@herreraj-ms the patch method of dataCollectionRules_API only support tags property. Should I need to call put method for other property updating?

[2020-11-24 09:30] scott-doyland-burrows commented on #15069
@fengzhou-msft

Thanks - that worked, it upgraded my "az cli" to the latest version.

Is there any reason that the azure cli cannot just be put into the normal Linux Mint repos.

It would be a far better customer experience for a customer to install Linux Mint (or any Debain distro) and then just do
```apt install azure-cli```
or whatever the customers preferred command is to install software, rat

[2020-11-24 10:50] kaletkamk commented on #15950
Is there any secure channel I can share the deug log with you? It contains a lot of sensitive information, and I'm not sure if I'll be able to purge it all out.

[2020-11-24 10:59] audunsolemdal commented on #11594
ARM template gives exact same error.

[2020-11-24 12:35] DanoThom opened #16027 "az monitor autoscale rule create ISSUES and lacking documentation"
### Overview:
Posting this more as a potentially useful reference for anyone else attempting to create autoscale rules for anything other than the VM CPU Percentage metric you see almost exclusively.

Challenge: create 2 simple autoscale rules for an app service plan to scale up and down depending on queue depth.
This can be done in the portal obviously but needs to be in a deployment script as pe

[2020-11-24 13:06] NBroomfield commented on #13600
+1 I'm getting the same issue, any update on this?

[2020-11-24 13:06] NBroomfield commented on #11926
+1 I'm getting the same issue, any update on this?

[2020-11-24 13:28] yonzhan commented on #16027
monitor

[2020-11-24 13:34] IOrlandoni commented on #8388
Still broken...

[2020-11-24 13:43] JCCChris commented on #4618
Using incognito mode worked.  It seems like a problem with microsoft identity with cacheing unrelated to chrome or firefox.   Both were affected. On previous attempts in both browsers, it did not ask for multifactor authentication.

[2020-11-24 15:03] TomGeske commented on #16018
I noticed you are running an old version of aks-preview extension.

Can you update by running:
`az extension update -n aks-preview`

[code]

[2020-11-24 15:05] lmcthbe opened #16028 "az network public-ip list gives error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip list --subscription {}`

## Expected Beha

[2020-11-24 15:46] mayerlench commented on #16023
After my cloud CLI updated to a newer version of az, it worked

[2020-11-24 16:21] herreraj-ms commented on #15970
LGTM

[2020-11-24 16:23] herreraj-ms commented on #15970
Yes. Patch operation only receives tag property. To update any other property, the complete schema must be sent in a PUT operation.

[2020-11-24 16:50] DanoThom opened #16029 "az monitor autoscale rule create bugs and missing config fields"
### Overview
3 Issues Discovered.

1.  **Autoscale direction when using 'to'**

https://github.com/Azure/azure-cli/blob/1fec5c4e721d2313e91c15a5ba542025759131d6/src/azure-cli/azure/cli/command_modules/monitor/util.py#L53

When you use --scale to X in az monitor autoscale rule create it sets the direction to None. This breaks the autoscale rule.

FYI - when creating the same 'to X' rule in the port

[2020-11-24 17:00] nscooling opened #16030 "First try IoT hub create fails Ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub create --resource-group {} --name {}`

## Expected Behavior

[2020-11-24 17:15] maria-pronin commented on #16018
Yeah this is what I got buy installing the latest version of the cli.

I will try,

Thank you
Maria

On Tue, Nov 24, 2020 at 10:03 AM Tom <notifications@github.com> wrote:

--
Maria Pronin

[2020-11-24 17:27] joelbyford commented on #15985
Did not work, but `pip3 install decorator` fixed it.  Assume the install scripts are missing this command.

[2020-11-24 17:44] davetapley opened #16031 ""Non-hexadecimal digit found" from az keyvault secret downloa"
## Describe the bug

**Command Name**
`az keyvault secret download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret download --vault-name {} --name {} --file {} --encoding {}`

## Expected Behavior

## Environment Summary
[co

[2020-11-24 21:06] phyoungmsft opened #16032 "JMESPath not working with AZ VM SHOW"
I'm try to use AZ VM SHOW to query the powerState of a VM.

Using _az vm list -g "myRG" -d --query '[].{VMName:name, powerState:powerState}' --output table_, I'm able to get a list of VM's and their corresponding powerstate.

However, if I move the query over to Az VM Show, I'm not seeing any output come out.

Repro the issue: _az vm show -g myRG -n myVM -d --query '[].{VMName:name, powerState:pow

[2020-11-24 22:23] CharlesAbetz opened #16033 "GrantSqlControlToManagedIdentity parameter not available"
Please add GrantSqlControlToManagedIdentity to az synapse workspace module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8ce4bb-b234-dc91-cd2c-e5587caf6169
* Version Independent ID: 9f08c3b1-5ac8-81d3-02e4-f7111cfe0781
* Content: [az synapse workspace](https://docs.microsoft.com/en-us/cli/azure/ext/synapse/synapse/

[2020-11-24 22:47] compusaurusrex commented on #11032
I am also getting this error when importing a zone file:
Unable to parse: @ 3600 MX idctelemed-com.mail.protection.outlook.com. 0
Does anyone know of a solution to this problem?

[2020-11-24 23:23] zawachte-msft commented on #15493
Hit this today.

Did
[code]

And got a client secret which started with a hyphen.

Caused
[code]

To fail.

[2020-11-24 23:58] yonzhan commented on #16033
synapse

[2020-11-25 00:00] yonzhan commented on #16028
network

[2020-11-25 00:01] #16023 closed

[2020-11-25 00:03] yonzhan commented on #16029
monitor

[2020-11-25 00:05] yonzhan commented on #16030
iot

[2020-11-25 00:11] yonzhan commented on #11032
@haroldrandom to help with.

[2020-11-25 01:56] jiasli commented on #15493
This is the same issue as #7054, #10692. `--password="-VerySecret"` should work.

I will change the password generating behavior so that no password with leading dash will be generated.

[2020-11-25 02:03] jiasli commented on #15493
This is the same issue as #7054, #10692. `--password="-VerySecret"` should work.

[2020-11-25 02:06] jiasli commented on #15493
@zawachte-msft, which version of Azure CLI you are using (`az --version`)?

We have explicitly made the first character to be alphanumeric to avoid argument parsing issues.

https://github.com/Azure/azure-cli/blob/11347b73999dc9b9d1c6f924fb42e3d20b34a767/src/azure-cli/azure/cli/command_modules/role/custom.py#L1847-L1848

https://github.com/Azure/azure-cli/blob/11347b73999dc9b9d1c6f924fb42e3d20b34a

[2020-11-25 02:12] yungezz commented on #16032
hi @qwordy could you pls help on this?

[2020-11-25 02:13] yungezz commented on #16031
hi @bim-msft could you pls help to have a look? thanks

[2020-11-25 02:41] jiasli commented on #11594
As @arrownj stated, the available types are defined in the REST spec of `principalType`:

https://github.com/Azure/azure-rest-api-specs/blob/bf2b0b5dbc0cb59b44a4a2c9eb24770754ad1056/specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-09-01-preview/authorization-RoleAssignmentsCalls.json#L508-L522

[code]

We have confirmed with RBAC service team that **some types are

[2020-11-25 02:45] jiasli commented on #4618
Hi @JCCChris, does clearing the browser cache fix this issue?

[2020-11-25 04:16] infogulch opened #16037 "`az vm open-port` fails to accept list of ports"
## Describe the bug

**Command Name**
`az vm open-port`

**Errors:**
[code]

## To Reproduce:

- create azure vm
- `az vm open-port --name $vm -g $rg --port 80,443`

## Expected Behavior

`az vm open-port` succeeds and adds a new nsg rule which allows inbound network traffic to `$vm` on ports 80 & 443.

After this command failed, I tried to add it in the portal manually which worked as expected:
!

[2020-11-25 04:28] zawachte-msft commented on #15493
ah now that you mention it, I realize that the spn was generated from either az powershell or the azure sdk for dotnet, not azcli.

Will need to get more details on that. @mattatmsft let's sync about this.

thanks for the tip. I will try to change some documentation to use `--password="-VerySecret'` instead.

[2020-11-25 05:05] haroldrandom commented on #15810
Closed as inactive

[2020-11-25 05:05] #15810 closed

[2020-11-25 06:23] qwordy commented on #16032
@phyoungmsft  Please try
[code]
`list` returns a list, so we use `[]`. `show` returns a single VM. No `[]` required.

[2020-11-25 06:48] ajjha-az opened #16038 "VMSS Rolling Upgrade opt in flags"
**Resource Provider**

Compute Resource Provider (CRP) - > Virtual Machine Scale Sets (VMSS)

**Description of Feature or Work Requested**

VMSS Rolling Upgrade provides an upgrade facility that automatically applies VMSS model changes to the individual instances through a health-based orchestration.
There are some additional opt-in flags we are introducing for Upgrade policy for VMSS. At the mome

[2020-11-25 07:42] MatthiasGwiozda commented on #11937
I Had the same issue. I fixed it by disconnecting the deployment in the deployment - center of the app Service:
![image](https://user-images.githubusercontent.com/22172694/100196951-e9d95180-2ef9-11eb-8979-28eb7c2f96e2.png)

It seems like there is some magic going on when the deployment center is activated. Furthermore I removed this files on the server and in the git - repository:

- .deployment

[2020-11-25 08:09] lalitgupta-blr opened #16040 "Getting error while obtaining a token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource={} --query {} --outpu

[2020-11-25 08:32] haroldrandom commented on #15272
As far as I understand, it's feature request that is suppose to add backend via VM name/ID and NIC id.

[2020-11-25 08:33] haroldrandom commented on #15229
As far as I understand, it's feature request that is supposed to add backend via VMSS name/ID and NIC id.

[2020-11-25 08:37] nbfr opened #16041 "WebApp:Creation of an ssl certificate for an App Service ('az webapp config ssl create') results in an 'UnkownError'"
**Describe the bug**
The creation of an ssl certificate for an App Service via the command _az webapp config ssl create_ results in an _UnknownError_.

**To Reproduce**
Create a Resource Group, App Service Plan (Linux) and App Service.
Create a CNAME record and add a hostname to the app service:
`
az webapp config hostname add --resource-group {{resource-group-name}} --webapp-name {{app-service-na

[2020-11-25 08:59] yonzhan commented on #16040
account

[2020-11-25 09:13] yonzhan commented on #16041
webapp

[2020-11-25 09:14] lalitgupta-blr commented on #16040
I have opened case 2011250050000470 separately hence closing this one.

[2020-11-25 09:14] #16040 closed

[2020-11-25 10:03] DanoThom opened #16043 "Child field reference question in az cli --set using powershell"
### Question:
Does anyone know how to reference a nested field in a child object of an array?

For example, I'm using the 'update --set' command with az cli and I'd like to select the rule entity with a color of Red.
**Given**:
[code]

`az monitor autoscale update -n n1 -g g1 --set profiles[name=default].rules[action.color=Red].enabled=true`

The above command will just fail with a message along t

[2020-11-25 11:08] ManuelMinkAtBOSCH commented on #14642
That issue is so worse!

We update our VMs via run-command, before we install some tools on it.
But for two weeks now our deployments fail on CentOS7 VMs with infinite wait when executing:
            az vm run-command invoke -g $(resourceGroup) -n $(vmName) --command-id RunShellScript --scripts "yum makecache; yum upgrade -y "

I figured out, that there is an update for the WALinuxAgent from Vers

[2020-11-25 13:14] yonzhan commented on #16043
monitor

[2020-11-25 13:49] Strepto commented on #15980
+1

This is a regression from behaviour in v2.13.0, where this was idempotent (or at least did not fail).

[2020-11-25 14:12] yonzhan commented on #15980
postgres service team should look into this issue.

[2020-11-25 14:15] yungezz commented on #16038
HI @ajjha-az will sync with you in email for more detail

[2020-11-25 14:16] yungezz commented on #16037
hi @qwordy could you pls have a look? thanks

[2020-11-25 14:22] phyoungmsft commented on #16032
Thanks @qwordy . Closing this.

[2020-11-25 14:22] #16032 closed

[2020-11-25 14:49] christianfosli opened #16044 "`az keyvault secret set` with `--value` fails when the secret starts with a dash"
**Describe the bug**

Running `az keyvault secret set`, passing the secret with `--value` fails when the secret starts with a dash (`-`).
It gives the error `ArgumentUsageError: argument --value: expected one argument`

Running with the `--debug` option shows that the secret value is interpreted as another argument. For example, passing `--value '-secretvalue'` shows a few interesting pointers:

[

[2020-11-25 15:51] AbianG opened #16045 "Cannot find the Azure CLI Python library documentation"
**Describe the bug**

Cannot find a reference/documentation with all the classes and methods for the [Azure CLI Python library](https://pypi.org/project/azure-cli/). The page just links to this Github repository.

**To Reproduce**

Try to find usage information for the azure-cli python module.

**Expected behavior**

A good reference, detailing all classes and methods should be easily available.

[2020-11-25 16:15] BastienPerdriau commented on #16041
Hi,
I have the same error message here, but with a small difference : despite the error, the SSL certificate is indeed created (I can see it in the Portal after a few seconds).
A small difference here, I'm using a Windows ASP instead of a Linux one.

If it can help, here it is the stack trace from the --debug :

[code]

[2020-11-25 16:17] graham768 opened #16046 "Failure listing webapp runtimes for linux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-11-25 16:44] xtianus79 commented on #10282
What does this mean? lol they literally contradict each other.

[2020-11-25 17:00] devcovato opened #16047 "Validate VM creation using --nics"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create -g {} -l {} --name {} --image {} --size {} --nics {} --public-

[2020-11-25 17:09] devcovato opened #16048 "VM creation fails using --ssh-key-values with multiple values"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create -g {} -l {} --name {} --image {} --size {} --public-ip-address

[2020-11-25 17:30] devcovato opened #16049 "VM created using --ssh-key-values but comment from public key was removed"
A created a VM as reported in #16048 where I end up using only one key.

I logged in on the remote VM, run `cat ~/.ssh/authorized_keys` finding out the comment was removed.

On ssh-key generation, I always add a comment (usually an email address). But I found convenient using a tag that let me recognise the purpose of the key since I use many.

Is there a reason having removed the comment? Please,

[2020-11-25 18:23] zachgatesak opened #16050 "No account submodule within az billing"
I've tested from an updated CLI as well as from the cloud shell. Any running of `az billing account ....` yields:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68248b96-9021-0508-a9c6-7abf0ec194d6
* Version Independent ID: ad05d26e-9365-f6e1-6b0d-1556f909fe9e
* Content: [az billing account](https://docs.microso

[2020-11-25 18:24] zachgatesak commented on #16050
[code]

[2020-11-25 18:32] dmellonielet opened #16051 "Usage needs more details for alerts conditions"
Comparing to the other popular public cloud provider's documentation, this documentation can improve with more details for users. For ex. when working to configure an alert, one has to figure out the format for creating a condition. This is no where listed on the page and requires using the  **az monitor alert create --help** to really understand the correct usage.

How does a user know what the -

[2020-11-25 19:43] lfittl-msft commented on #15980
@felixengstrom Thanks for the report - we're looking into this.

Please note that responses might be delayed due to the Thanksgiving holiday in the US.

[2020-11-25 19:55] MehaKaushik commented on #15921
I don't understand the ask in this issue. Please open it again if you have any questions for us. @pk422

[2020-11-25 19:55] #15921 closed

[2020-11-25 20:12] SebastianBalle commented on #11017
I am doing similar commands in my Azure Pipeline, however there seem to be a delay from whitelisting the IP of the Microsoft hosted agent to it being allowed to write/read from the Storage account. I have, for a temporary solution, added a sleep command in there for 4-5 minutes but is seems to be random if the network rules has been applied. Does anyone know if it is possible to return an exit cod

[2020-11-25 21:31] christianfosli commented on #16044
After a bit of searching, I see that I may have created a duplicate of #2588 and that this behavior is caused by the argparse module in the python standard library.

I found a satisfactory work-around by using adding an equals sign to supply the argument value. i.e.

[code]

instead of

[code]

---

I wasn't aware that it was possible to use `--argument=value` syntax for azure-cli before I read th

[2020-11-25 22:12] btardif commented on #16008
@calvinsID I think this should be re-using the app service plan

[2020-11-25 22:14] btardif commented on #16002
@freastro in general we don't validate access to other resources. the same is true for connection strings.

This is by-design

[2020-11-25 22:14] #16002 closed

[2020-11-25 22:17] btardif commented on #15909
@Kotasudhakarreddy please close this as no-repro if we don't hear back by the end of the milestone

[2020-11-25 23:48] yonzhan commented on #16045
Python library documentation

[2020-11-25 23:49] yonzhan commented on #16046
webapp

[2020-11-25 23:52] yonzhan commented on #16050
Billing

[2020-11-25 23:53] yonzhan commented on #16051
Monitor

[2020-11-26 02:15] kozmaz87 opened #16052 "Info or exists cmd would be nice for on-demand artifact rebuilds"
I have an artifact build early in the pipeline that currently the user has to opt-in via a parameter I could auto-compute the necessity of that build if only I could check for the existence of the artifact without having to commit to downloading it as well. This would be an excellent candidate for an agentless server task. Then I could flip the artifact generation switch programmatically to true e

[2020-11-26 02:22] yonzhan commented on #16052
artifact

[2020-11-26 02:31] yungezz commented on #16044
hi @bim-msft could you pls help to have a look? thanks

[2020-11-26 02:33] yungezz commented on #16047
hi @devcovato could you pls share the command you're running? from the error, after specifying NIC, no need to specify NSG, public IP, ASGs, VNet or subnet.

[2020-11-26 02:34] yungezz commented on #16048
hi @qwordy could you pls help to have a look? thanks

[2020-11-26 02:35] yungezz commented on #16049
hi @qwordy could you pls help on this?

[2020-11-26 02:59] bim-msft opened #16053 "az keyvault key show: should print `e` and `n` in base64url format not in base64"
[code]

The service returned base64url but CLI converted it into base64: https://github.com/Azure/azure-cli/blob/3ade968815d0d70556981b3fa23809f54aed1979/src/azure-cli/azure/cli/command_modules/keyvault/_command_type.py#L28

[2020-11-26 03:27] qwordy commented on #16038
New API version 2020-12-01

[2020-11-26 03:32] yonzhan commented on #16053
keyvault

[2020-11-26 03:33] qwordy commented on #16037
@infogulch
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_open_port
It does support ",". Please specify one port or port range.
You can try
[code]

[2020-11-26 03:48] #15927 closed

[2020-11-26 03:48] yonzhan commented on #15927
Feature finished.

[2020-11-26 04:36] infogulch commented on #16037
@qwordy then what is that in the screenshot that I took?  Is this a bug report for the portal instead?

[2020-11-26 06:40] Juliehzl commented on #15989
Hi @binnie268, thanks for your feedback. Currently you could use `--source-uri` with snapshot url to copy from snapshot as below:
[code]

[2020-11-26 06:52] Juliehzl commented on #15965
Hi @alexwlchan , I have tested the feature and it works as expected:
[code]

[code]

If you still have the issue, could you show me the debug info with `--debug` in the command.

[2020-11-26 06:55] Juliehzl commented on #15732
Hi @onpaws, we may support the feature but may be in extension repo first and then moving to main cli.

[2020-11-26 06:58] Juliehzl commented on #15709
Hi @tuttipazzo, the issue should be already fixed in latest cli version. Please update cli with `az upgrade` and try again.

[2020-11-26 06:58] #15709 closed

[2020-11-26 07:15] Juliehzl commented on #15595
Hi @ArmaanMcleod, actually the parameter options are `--container-name` and `-c` in our code, but CLI support prefix match. In this way `--container` even `--con` works for `az storage blob download`.

Thanks a lot for you feedback!

[2020-11-26 07:15] #15595 closed

[2020-11-26 07:19] Juliehzl commented on #15600
Hi @dr-dolittle , it is already fixed in azure cli 2.15.0. Please update your version with ` az upgrade` and try again.

[2020-11-26 07:19] #15600 closed

[2020-11-26 07:22] Juliehzl commented on #15587
Hi @wenjuweng37, could help confirm if your storage account is failovered before.  Currently there is an issue in SRP to list failovered storage account and somebody is working on the fix.
Currenly, please add resource group name in your command with `-g` and you could list as expected.

[2020-11-26 07:22] #15587 closed

[2020-11-26 07:32] Juliehzl commented on #15601
Hi @cmrkz, thanks a lot for your information.
As debug log, it is caused be None type for include_list. But in our code, we already make sure it is not None as below:
https://github.com/Azure/azure-cli/blob/fbb99ba30690e3bac7df563ba6bf7d5a80e453d1/src/azure-cli/azure/cli/command_modules/storage/_validators.py#L585-L589

I have tried the command with version 2.10.0 and there is no error occurred.
[

[2020-11-26 07:33] Juliehzl commented on #15601
if error still occurs, could you show me your package version for `azure-multiapi-storage`?

[2020-11-26 07:40] Juliehzl commented on #14879
Hi @seanvelir, thanks a lot for your feedback!
The date command in example is for bash and it could works well. Anyway thanks for you feedback :)

[2020-11-26 07:40] #14879 closed

[2020-11-26 07:41] alexwlchan commented on #15965
The problem isn’t *“setting/clearing multiple tags is broken”*, more *”I couldn’t work out how to set/clear multiple tags from the documentation”*.

[2020-11-26 08:21] qwordy commented on #16037
I agree with you. It is easier to use if we can use only one command to open multiple ports. Mark this issue as a feature request.

[2020-11-26 08:49] Juliehzl commented on #15232
Hi @skingd, your role assignment should be fine, but still cannot reproduce your issue and may need more information. Could you share the file content to upload?
@xiafu-msft could you see the log in SRP for request id 1bf5614e-e01e-0009-1989-a171c7000000?

[2020-11-26 08:54] Juliehzl commented on #15338
Hi @arde0708 , debugging test is similar with command. please add config as below and set break point at the position you want.
![image](https://user-images.githubusercontent.com/49508232/100328738-d4eae400-3007-11eb-9f89-d19773b28170.png)

If the exception is raised in validation, consider raising SystemExit.

If you still have the problem, feel free to find me for help.

[2020-11-26 08:54] #15338 closed

[2020-11-26 08:57] kozmaz87 commented on #16052
I hope I did not leave the ticket in the wrong spot. I just followed the link the cli told me to leave feedback. The thing is this functionality exists at an API level because the Azure Devops web interface for the Artifact streams can list the artifact versions but it seems to not be exposed anywhere for users to use.

The pipeline also only has the upload and download tasks...  no check, no info

[2020-11-26 08:58] Juliehzl commented on #15557
Hi @vipulsmishra, the issue is caused because you are using python 2. Please use python 3 instead. Python 2 is deprecated and we do not support it ay more.
If you don't want to change your python version, consider installing azure cli using the install instruction here https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt

[2020-11-26 08:58] #15557 closed

[2020-11-26 09:09] devcovato commented on #16047
hi @yungezz,
The command is the one reported using `az feedback` with argument values redacted.

In my opinion, the error message is misleading. I tried to validate the command before executing it, and the NIC with other resources didn't exist yet. From the behaviour, it seems the validation is checking the syntax and not the status of the actual resources. From the documentation [https://docs.mic

[2020-11-26 09:19] Juliehzl commented on #15576
@tunz I could reproduce your issue but we send the request as you provided and cosmosdb changes the type.
create an issue in https://github.com/Azure/azure-cosmos-table-python/issues/56

[2020-11-26 09:22] Juliehzl commented on #15649
Hi @DClausenTPG, it is caused by typo in storage account key and we will refine the error message.
please make sure your account key is right.

[2020-11-26 12:00] techfreakworm opened #16060 "Azure container registry charging unfairly"
**Describe the bug**
I have a basic SKU plan in Azure container registry. Having 4 images, the total size on local is 5.7 GB. But on ACR portal, it shows 11.1 GB used. I only have one tag per image.

On Local machine:
![image](https://user-images.githubusercontent.com/16111115/100348376-d66adb00-300c-11eb-872c-dd06eb627416.png)

On ACR portal:
![image](https://user-images.githubusercontent.com/161

[2020-11-26 13:01] onpaws commented on #15732
Thanks for the update. What is the extension repo, is that where new `azure-cli` features begin life?

[2020-11-26 13:31] yonzhan commented on #16060
acr

[2020-11-26 13:33] yonzhan commented on #16060
Was this issue related to Azure CLI?

[2020-11-26 14:59] tiru-patel opened #16061 "WebApp:az webapp up issue AttributeError: 'NoneType' object has no attribute 'reserved'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2020-11-26 15:38] vassilyl opened #16063 "az storage copy doesn't hide credentials warning"
**Describe the bug**

`az storage copy` command:  no way to hide credentials warning when using AD authentication.

**To Reproduce**

`az storage copy` to/from a blob without key or sas displays the following warning:
[code]
The `--auth-mode login` mentioned in the warning causes `UnrecognizedArgumentError: unrecognized arguments: --auth-mode login`. `AZURE_STORAGE_AUTH_MODE=login` environment var

[2020-11-26 16:32] mwindaji-000 commented on #12939
@iTiamo did you ever get a solution to this problem. I currently having the same issue and am curious how this went.

[2020-11-26 18:08] yugangw-msft commented on #16060
@techfreakworm, thanks for the feedbacks. You can submit a support ticket since this is not Azure CLI related.
Since we are at it, if you run `az acr repository show-manifests`, are you seeing extra manifests? Also did you purge any images recently, if yes how did you do it?

[2020-11-26 19:59] Herbaltea-GG opened #16064 "Creating new Infrastructure Encrypted Storage Account creates following Error."
When creating a new _infra. encrypted storage account_ the account creates successfully but throws the following error.  Full disclosure, I'm new to Azure so I have no idea what it means but I wanted to report the error 😅

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Run t

[2020-11-26 21:16] edernucci opened #16065 "No module named 'antlr4' when using az vm list"
## No module named 'antlr4' when using az vm list

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-11-26 22:45] yonzhan commented on #16061
webapp

[2020-11-26 22:46] yonzhan commented on #16063
storage

[2020-11-26 22:51] yonzhan commented on #16064
storage

[2020-11-27 00:22] v-yuwak opened #16066 "webapp:Unable to select a runtime version if it includes "space" in its name such as "Java SE""
**Describe the bug**
As following github, it seems "space" inside runtime version name is considered as delimiter as coded.
https://github.com/Azure/azure-cli/blob/ed1fe586d24b5d78127c0b616cd7e32b765d0bfc/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2572
As a result, CLI outputs an error as follow which suggests "Java SE" is processed as "Java|SE".
"Windows runtime 'java\|1.8\|Jav

[2020-11-27 01:05] yungezz commented on #16066
route to appropriate team

[2020-11-27 01:05] yungezz commented on #16065
#14011

[2020-11-27 01:06] yungezz commented on #16065
hi @edernucci could you pls try uninstall 2.0.81 and install latest Azure CLI version? This is a known issue in Focal CLI package in #14011 .

[2020-11-27 01:07] yungezz commented on #16061
#14287

[2020-11-27 01:35] Juliehzl commented on #15732
https://github.com/Azure/azure-cli-extensions
It works like a patch for main cli to give customer preview feature experience but will not influence existing cli commands, because it only take effect when you install it.

[2020-11-27 01:47] jfsom opened #16067 "Unable to create a Cosmos DB account using Azure Cloud Shell command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to create a Cosmos DB account using Azure Cloud Shell command
**Command Name**
``
Unable to create a Cosmos DB account using Azure Cloud Shell command
**Errors:**
<img width="958" alt="Cosmodbcreationissue" src="https://user-images.githubusercontent.com/26001084/100401760-672ece80-3080-11eb-8d67-b542868a

[2020-11-27 02:03] yonzhan commented on #16067
cosmosdb

[2020-11-27 02:04] MehaKaushik commented on #16067
Two comments here:
1. Location is a nonoptional field which needs to be present.
2. Please refer these docs https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/cli/sql/create?toc=/cli/azure/toc.json

Let me know if you still face issues.

[2020-11-27 02:05] fengzhou-msft commented on #15069
We cannot control the release cycle if the package is put into the official distro repo, which is usually very long while Azure CLI updates frequently.

[2020-11-27 02:06] fengzhou-msft commented on #15211
Duplicate of #13855

[2020-11-27 02:06] #15211 closed

[2020-11-27 02:12] fengzhou-msft commented on #15366
@tp199314 are you able to give the above script a try?

[2020-11-27 02:24] jiasli commented on #12939
Hi @eugeneromero, thank you for the detailed explanation. Your statement is correct: **Azure CLI `az ad` command group currently only uses Azure Active Directory Graph, so you need to add Azure Active Directory Graph permissions for `az ad` to work.**

If you are interested in using Microsoft Graph, please add corresponding Microsoft Graph permissions and use `az rest` to make the API calls. Pleas

[2020-11-27 02:26] qwordy commented on #16047
@devcovato  --nics should pass an existing NIC(s). And you do not need to provide NSG, public IP, ASGs, VNet or subnet.

[2020-11-27 02:34] Juliehzl commented on #15495
Hi @timtylin , could you try again? The None Type error should already be fixed. But could you show me your `azure-multiapi-storage` package version?

[2020-11-27 08:01] devcovato commented on #16047
@qwordy, from documentation [https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_create](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_create):

In bold the interesting part, in my case, the specified `nic` didn't exist yet and so, I set the other parameters. Is that wrong?

Reading the documentation I got the impression I can pass all parameter us

[2020-11-27 08:12] scott-doyland-burrows commented on #15069
Hi,

I probably misunderstand how it works, but whenever I check for updates and upgrade on Linux Mint
[code]
There always seems to be new updates almost every day for different packages.
Why can't the az cli just be managed in this way?

[2020-11-27 08:37] ballavamsi opened #16070 "Error with "az aks install-cli --install-location=./kubectl""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-11-27 09:40] yonzhan commented on #16070
aks

[2020-11-27 09:48] AbianG commented on #16045
I do not understand this comment, so sorry for asking but: is the problem being recognized or adressed?

[2020-11-27 11:23] usrme commented on #15106
Hopefully someone will see this as I discovered that successful invocations of `az disk revoke-access` and `az disk delete` for multiple resources also return arrays of unusable values in them and in the first case the output is mangled by the message as well:

[code]

[code]

[2020-11-27 12:01] jochenvw commented on #15893
NOTE: the problem was that I had `--address-prefixes '0.0.0.0/0' ` in the call. I removed that and it worked.
Better error message would have helped though. Thanks !

[2020-11-27 13:11] sabretus opened #16071 "Command "az storage blob sync" doesn't work with managed identity"
## Describe the bug

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- `az login --identity`
[code]
- `az storage blob sync --account-name {storage account name} -c {container name} -s ./myFile.txt -d myFile.txt --auth-mode login`

## Expected Behavior
Sync file from local to Azure blob storage
## Environment Summary
[code]
## Additio

[2020-11-27 14:29] adrosa opened #16072 "[BUG] Cannot upload file larger then memory."
## Describe the bug

**Command Name**
`az storage fs file upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- get a large file
- `az storage fs file upload -s {} -p {} -f {} --account-name {} --auth-mode login`
- failure

## Expected Behavior
- file to upload

## Environment Summa

[2020-11-27 14:49] mark-at-delta-n commented on #14059
Documentation on docs.microsoft.com are not updated with remark of @anharazi. Please update.
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworks/createorupdate
https://docs.microsoft.com/en-us/cli/azure/network/vnet?view=azure-cli-latest

[2020-11-27 15:26] yonzhan commented on #16072
Storage

[2020-11-27 15:27] yonzhan commented on #16071
storage

[2020-11-27 16:45] edernucci commented on #16065
@yungezz you're incredibly right. After updating to latest version, commands like `az vm list` and `az vmss list` worked fine.

Thank you very much for your support.

[2020-11-27 16:45] #16065 closed

[2020-11-28 08:09] dev-playbook opened #16073 "Double Quotes required"
this does't work on WSL bash or powershell. BUT does work in CMD

[code]

this works on all types (with double quotes)

[code]

no indication from the page of the necessity for double quotes :(

ref: https://github.com/Azure/azure-cli/issues/5781

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6d8c67-e3c2-13b5-29e7-f4

[2020-11-28 08:22] yonzhan commented on #16073
Core

[2020-11-28 14:52] Splaxi commented on #10143
For anyone find this when searching for:
[code]

It is most likely that you have 2 issues: Your json needs to be a single line json string, escaped. I had a multi line json in a variable in PowerShell, and when converting it to a single line and escaping the **"** to **\"** the error went away.

[2020-11-28 14:52] Splaxi commented on #13056
For anyone find this when searching for:
[code]

It is most likely that you have 2 issues: Your json needs to be a single line json string, escaped. I had a multi line json in a variable in PowerShell, and when converting it to a single line and escaping the **"** to **\"** the error went away.

[2020-11-28 17:55] darhasubrahmanyam opened #16075 "Install Ansible on the virtual machine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm extension set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm extension set --resource-group {} --vm-name {} --name {} --pub

[2020-11-28 19:20] colemickens commented on #10192
Another update... `blobxfer` is basically abandoned and doesn't work with the latest Azure python libraries (and doesn't build at all in nixpkgs right now)... so I'm back to having *no sane way to upload a page blob, while keeping it compressed on disk.* Calling this frustrating is an understatement; this is trivial for AWS or GCP.

[2020-11-28 22:37] Kallebysantos2k opened #16076 "WebApp: Azure error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create --name {} -g {} --sku {} --is-linux`

[2020-11-29 01:41] yonzhan commented on #16076
appservice

[2020-11-29 04:30] dochung4 opened #16077 "Make DedicatedHostGroup.properties.supportAutomaticPlacement default to false"
**Resource Provider**

Microsoft.Compute

**Description of Feature or Work Requested**

 The initial plan was to default DedicatedHostGroup.properties.supportAutomaticPlacement to true, but recently we have agreed to default the value to false as we GA. The change to default to false has already been made on the service side.

**Minimum API Version Required**

2020-06-01

**Swagger Link**

https:/

[2020-11-29 07:07] sakanamax commented on #13209
@fengzhou-msft
OS: openSUSE Leap 15.2

After ansible 2.10, azure module move to external collections
ansible azure module use  " #ansible-galaxy collection install azure.azcollection "

I try to install azure-cli first (clean openSUSE Leap 15.2, not install any python package)

when I run
# az --version
/usr/bin/python3: No module named azure.cli.__main__; 'azure.cli' is a package and cannot be di

[2020-11-29 14:04] zhoxing-ms commented on #15106
@qwordy Could you please help to see the questions related to `az disk revoke-access` and `az disk delete`?

[2020-11-29 17:59] rahulroshan96 commented on #4722
Worked for me.

[2020-11-29 19:24] willam-gregoire opened #16078 "AZ Login NewConnectionError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-11-29 23:29] yonzhan commented on #16078
Login

[2020-11-30 01:06] tooptoop4 opened #16079 "public blob gives error"
https://azuremlexamples.blob.core.windows.net/datasets/iris.csv is a public dataset (no auth required)

./az storage blob list --account-name azuremlexamples --container-name datasets

give below error:

There are no credentials provided in your command and environment, we will query for the account key inside your storage account.
Please provide --connection-string, --account-key or --sas-token a

[2020-11-30 01:36] yungezz commented on #16077
hi @qwordy could you pls take care of the change? thanks

[2020-11-30 01:37] yungezz commented on #16075
hi @qwordy could you pls  help to have a look? thanks

[2020-11-30 01:38] yungezz commented on #16070
is this a cloudshell specific issue?

[2020-11-30 02:05] yonzhan commented on #16079
storage

[2020-11-30 03:16] Kotasudhakarreddy commented on #15909
@btardif sure will do.

[2020-11-30 03:26] kyoun commented on #12135
@atlemagnussen

try `az webapp up --os-type linux`

[2020-11-30 03:31] fengzhou-msft commented on #15069
Some colleague is actually working on putting an azure-cli package in the Ubuntu Focal repository but the package was buggy (https://github.com/Azure/azure-cli/issues/14011) and according to him we cannot fix or take away the buggy package from Ubuntu Focal repository:

[2020-11-30 05:28] binnie268 commented on #15989
Hi @Juliehzl, I just tried the command but the behaviour was not expected:

`az storage file copy start-batch --account-name test001 --account-key XXXXXXXXX --source-uri "https://test001.file.core.windows.net/testshare001?sharesnapshot=2020-11-23T04:26:03.0000000Z" --destination-share testshare001`

I can see that my snapshot has files inside it, but the copy was empty. This was the output

[code]

[2020-11-30 06:00] ballavamsi commented on #16070
No even after login to azure in local powershell also got the same error.

On Mon, 30 Nov, 2020, 7:08 am Yunge Zhu, <notifications@github.com> wrote:

[2020-11-30 07:00] #15036 closed

[2020-11-30 07:01] techfreakworm commented on #16060
@yugangw-msft Yes, I am indeed seeing extra manifests. I purged 2 images (not shown in the screenshot) from the UI itself. Just delete the image (repository) using delete option.

[2020-11-30 08:23] scott-doyland-burrows commented on #15069
OK - thanks for the infs.

[2020-11-30 08:23] #15069 closed

[2020-11-30 08:25] amitbiton1988 commented on #9215
'default' is a parameter used for old API version. the current CLI uses new API version which contains defender plan name(--name) and pricing tier(--tier) as mandatory parameters, here is the relevant documentation of the command **az security pricing create**:

[](https://docs.microsoft.com/en-us/cli/azure/security/pricing?view=azure-cli-latest)

[2020-11-30 09:43] qwordy commented on #16077
OK

[2020-11-30 09:55] MikkelHegn commented on #15442
Any updates? This is still a problem with 2.15.1

[2020-11-30 10:20] aelij commented on #15314
Another similar case for - async operation errors. Instead of the real error we get **Operation returned an invalid status 'OK'**.

[code]

[2020-11-30 12:10] qwordy commented on #14059
@haroldrandom Can you check the CLI network doc? Thanks!

[2020-11-30 12:15] qwordy commented on #16075
An error in core ADAL code. @darhasubrahmanyam Can you help add `--debug` and paste the output here? Thanks.
@houk-ms @jiasli for awareness.

[2020-11-30 14:40] genegc opened #16085 "syntax error for basic use of "az group create""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --location {} --name {}`

## Expected Behavior
It should

[2020-11-30 15:25] timvanderweijde opened #16086 "Can't create a AppGw rule when using a private IP address"
## Describe the bug
Can't create a rule when using a private IP address.

**Command Name**
`az network application-gateway rule create`

**Errors:**
[code]

## To Reproduce:
Gateway, backendpool, httpsettings, http listeners are created. Http Listerens Frontend IP = Private.

- `az network application-gateway rule create -g {} --gateway-name {} -n {} --address-pool {} --http-listener {} --http-set

[2020-11-30 16:20] dev-playbook opened #16087 "webapp: --name does not defaulting"
This should work if the default for `web` is configured

[code]
But i get this error:
[code]
So I am forced to use this
[code]

Page does say on Required Parameters,
[code]
az cli version info:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3f984d-0d48-e075-7e2f-2da5667b15cf
* Version Independent ID: 98e06d47-

[2020-11-30 16:29] tp199314 commented on #15366
Script is working. Needed to remove azure-cli package before. It is possible to add a check for this?
Is this script a long-term solution or will it be replaced in the near future? maybe we will integrate this in some scripts.

[2020-11-30 16:43] wwendyc opened #16088 "Onboard Resource Provider as a Service Commands"
**Resource Provider**

Resource Provider as a Service (Microsoft.ProviderHub)

**Description of Feature or Work Requested**

Support Azure CLI commands for select APIs such as Resource Provider Registration and Resource Type Registration. https://armwiki.azurewebsites.net/rpaas/onboardprod.html

**Minimum API Version Required**

2020-11-20

**Swagger Link**

https://github.com/Azure/azure-rest-api

[2020-11-30 17:10] genegc commented on #16085
I've verified that the same command works from my laptop. Here are the env details for my laptop:

Windows-10-10.0.19041-SP0
Python 3.6.8
Installer: MSI

azure-cli 2.15.1

[2020-11-30 17:26] da5is opened #16089 "ExpressRoute AZCLI Function Appears Incorrectly Named"
**Describe the bug**

ExpressRoute does not have a space in the name, however the AZCLI puts a dash between the two words "Express" and "Route".  The proper name is "ExpressRoute" as listed in the service documentation here:  https://azure.microsoft.com/en-us/services/expressroute/.  Per the AZCLI documentation for ExpressRoute here: https://docs.microsoft.com/en-us/azure/expressroute/howto-circui

[2020-11-30 17:28] genegc commented on #16085
I've also found that the same command works from another azure account. Here are the env details for that account:

Linux-4.15.0-1098-azure-x86_64-with-debian-stretch-sid (Cloud Shell)
Python 3.6.10
Installer: DEB

azure-cli 2.14.0 *

Extensions:
ai-examples 0.2.4

[2020-11-30 17:39] dev-playbook opened #16090 "webapp: ssl bind fails due to \r in thumbprint"
When I did this....

[code]

I get this error. `'not found. for thumbprint'{thumbprint}`

But if when I did this...

[code]

**It works!**

Note that I've had to **remove the carriage return in the extracted thumbprint** by using `sed "s/\r//g"`.

az version info
[code]
Microsoft Windows [Version 10.0.18363.1198]

Ubuntu wsl version: 2

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-30 17:48] timvanderweijde commented on #16086
Extra information: sometimes it is being created correctly, sometimes it doesn't.

We have a create Gateway script. We deleted the application gateway and run the script again with success. But...we did it again, and the error was again there.

It sounds like a timing issue...however, we don't use the -no-wait.

[2020-11-30 17:56] bmoore-msft commented on #11718
@dgard1981 - I think I'm with you...  Right now you have 2 pipelines and don't set appSettings in both (which is good IMHO)... but the swapping is not working?  If the swap worked then your model is working as expected.  Is that right?

Is this "swap not working" recent?  I think I saw another user with a similar problem recently - couldn't get slots to swap as expected...

re: your going fwd path

[2020-11-30 22:43] EPinci commented on #14774
Facing the same in here, any progress?

[2020-12-01 00:07] yonzhan commented on #16087
webapp

[2020-12-01 01:08] graygarbage opened #16092 "az appservice plan create fails"
## Describe the bug
The command seems to fail with any input past the create parameter. I have updated azure-cli with pip and still the same output. I can create resource groups and interact with my Azure account with other cli commands.

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted,

[2020-12-01 01:22] graygarbage commented on #16092
Solved it.

[2020-12-01 01:22] #16092 closed

[2020-12-01 02:07] yungezz commented on #16090
route to appropriate team

[2020-12-01 02:08] yungezz commented on #16088
hi @wwendyc will sync with in email.

[2020-12-01 02:10] yonzhan commented on #16089
network

[2020-12-01 02:28] yonzhan commented on #16085
@zhoxing-ms for awareness

[2020-12-01 02:35] #14661 closed

[2020-12-01 02:41] yungezz commented on #8582
hi @tpetkovic is there any update on json file validation? Would like to close the issue for now since no response for a while. Feel free to create a new issue if met any other error. thanks.

[2020-12-01 02:41] #8582 closed

[2020-12-01 02:45] jiasli commented on #16075
This issue has been fixed by #15776. Please update to the latest version and see if the error can be shown correctly. @evelyn-ys

[2020-12-01 02:46] yungezz commented on #7447
route to appropriate team to help look at az devops command performance

[2020-12-01 02:57] qwordy commented on #15246
`az interactive` is an experimental feature. We'll confirm the problem you report and improve the qualify. Does it work fine in normal mode?

[2020-12-01 03:21] evelyn-ys commented on #16075
Hi @darhasubrahmanyam, this occurs when authentication encounters a `HTTPError`. After updating to the latest version, you may see the error message from auth service.
Could you kindly try `--debug` and paste the output here? We will work with service team to fix this if there do exist some problem.

[2020-12-01 04:10] t-bzhan opened #16094 "Need a central place to record the Azure cli api-version change"
**Is your feature request related to a problem? Please describe.**

My problem is very similar to: https://github.com/Azure/azure-cli/issues/9834, https://github.com/Azure/azure-cli/issues/12881, https://github.com/Azure/azure-cli/issues/12895, https://github.com/Azure/azure-cli/issues/13047

The azure cli complains that:
[code]
It looks like Azure Cli use an api-version which is not supported by

[2020-12-01 04:25] JohnDelisle opened #16096 "Azure SQL VMs - How do I configure the storage via Az CLI?"
I'm unable to find anything in the Az CLI documentation regarding the storage configuration of Azure SQL VMs created via `az sql vm create`.

I'm specifically looking for how one should add more disks.  The functionality seems to be in ARM (I can export a template in the portal that creates an Azure SQL VM with disks configured as I require), however I cannot find it in the Az CLI documentation.

[2020-12-01 04:51] yonzhan commented on #16086
@haroldrandom for awareness.

[2020-12-01 04:55] haroldrandom commented on #16086
@timvanderweijde Could you try 2.15.0? I patched a similar [fix ](https://github.com/Azure/azure-cli/pull/15757) like this one in 2.15.0

[2020-12-01 06:56] yonzhan commented on #16096
sql

[2020-12-01 06:57] yonzhan commented on #16094
Core

[2020-12-01 07:10] jiasli commented on #16094
We do have a centralized location to define `api-version`s for each resource provider:

https://github.com/Azure/azure-cli/blob/0952571c2214693a79850f67d33b3fa6ab0354c0/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L135-L139

I searched for `2019-06-15-preview` in this file, but it is not defined, which means AKS hasn't onboard Azure CLI's multi-API mechanism yet.

Also, all 4 public cloud

[2020-12-01 07:52] t-bzhan commented on #16094
Hi @jiasli , this issue is for CDN, the resource type is "profiles/endpoints" in my case. But I believe  other resources might has the same issue in China Cloud.

[2020-12-01 09:48] fengzhou-msft commented on #15434
We contacted CSS team and got the following response:

cc: @jiasli

[2020-12-01 10:36] dgard1981 commented on #11718
@bmoore-msft - We have two pipelines and MUST set some App Settings in both due to our use of slots. Slot swapping is working, but using slots complicates our procedure because some App Settings are treated as slot-settings even thought they are not identified as such, e.g. `FUNCTIONS_EXTENSION_VERSION`.

(Apologies to anyone who falls asleep attempting to read this...)

#### How we do things at t

[2020-12-01 11:18] edwinvandeburgt opened #16099 "Errormessage installing azure-cli on ubuntu-latest indicating version mismatch"
In Azure DevOps, I try to install the latest azure-cli using:

`pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge`

This worked untill today; now I get an error:

ERROR: Requested azure-cli from https://azurecliprod.blob.core.windows.net/edge/azure-cli/azure_cli-2.15.1.post1-py3-none-any.whl has different version in metadata: '2.15.1'

Is there something

[2020-12-01 11:44] PaulVrugt commented on #11833
@winthrop28 @MyronFanQiu
Any update on this? We're running into the same issue. Both Azure CLI and Azure powershell have this issue

[2020-12-01 11:56] yungezz commented on #16099
hi @fengzhou-msft could you pls help to check? thanks.

[2020-12-01 12:21] hulseware commented on #15246
The problem with az vm shutdown is present however you use it. It forces you to set a webhook or it does nothing. I have worked around the issue by using a dummy url for webhook and then my time-based shutdown with email notifications will work. You are not required to set a webhook via the portal when setting up auto-shutdown. This only happens with the cli.

Yes, I know az interactive is experim

[2020-12-01 13:45] shahmanthan1209 opened #16100 "`az storage blob list`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob list --account-name {} --container-name {} --connec

[2020-12-01 14:39] feliperoveran commented on #15953
@norshtein I ran the upgrade yesterday and along with having to enable `Microsoft.ContainerService/MigrateToMSIClusterPreview`, it also required `Microsoft.ContainerService/AutoUpgradePreview`.

is that expected? I couldn't find any mentions of that feature anywhere in the docs

[2020-12-01 14:53] johnwc commented on #11718
@dgard1981 Do you have the app setting `FUNCTIONS_EXTENSION_VERSION` set as a "slot setting" so that it stays with the slot and not get swapped? If you do, it should not get updated when you do a swap, ours does not. One thing we did notice though, if that "slot-setting" is applied in both prod slot and dev/other slot, they cancel each other out and get swapped anyways. We have to make sure to onl

[2020-12-01 15:03] dgard1981 commented on #11718
@johnwc - With regards to `FUNCTIONS_EXTENSION_VERSION` from my previous post.

I did find a GitHub issue about it once upon a time. Can't remember the full conversation, but the gist was MS know that happens, didn't seem to be by design, but why it was happening was understood so the issue wouldn't be fixed.

[2020-12-01 16:10] thisisbrianstewart commented on #11863
Hi @ankitkumarr @anthonychu @fabiocav  -- any updates here?

[2020-12-01 17:14] johnwc commented on #11718
@dgard1981 Ok, so what is the issue then?

Technically, it shouldn't ever swap that setting, as it belongs to the infrastructure and not any code base.

[2020-12-01 17:29] dgard1981 commented on #11718
@johnwc - to my mind, if it's an App Setting and as a user I have not specifief it as a slot-setting, then it makes sense that it should be swapped. I get where you are coming from with regards to it being an infrastructure setting but if that's the case then should it an App Setting at all?

Basically, as a user, being unable to PATCH App Settings is very inconvenient and adds complexity where it

[2020-12-01 18:00] panchagnula commented on #9324
Please reopen if this still repros with latest - closing due to lack of response.

[2020-12-01 18:00] #9324 closed

[2020-12-01 18:17] tkoestler commented on #13385
Why was this closed? example.org is a Chinese site. This should be pointed to an MS site.  How do we not example.org is not collecting IP addresses to attack.  This is a real security issue and should be fixed yesterday.

[2020-12-01 18:59] johnwc commented on #11718
@dgard1981 I agree that there needs to be a way to do incremental updates without wiping the existing settings. But, as for the example you give for `FUNCTIONS_EXTENSION_VERSION`, it should never be swapped. We have to go the extra mile for our deployments as well and make sure to include it on our config settings in our ARM template. It really should be a property within Microsoft.Web/sites/prope

[2020-12-01 19:09] pkoushik commented on #16099
I'm seeing this issue on my end as well.

`Requested azure-cli from https://azurecliprod.blob.core.windows.net/edge/azure-cli/azure_cli-2.15.1.post1-py3-none-any.whl has different version in metadata: '2.15.1'`

[2020-12-01 20:09] chitturs opened #16102 "az group deployment seems deprecated"
Getting this error with az

C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9>az group deployment create
This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-01 21:05] genegc opened #16104 "unable to use: az synapse notebook create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm unable to get this az cli command to work in any env.

**Command Name**
`az synapse notebook create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2020-12-01 21:59] billspat commented on #13207
The question  about avoiding putting the storage key on the command line is not specific to this particular help
topic ( mounting storage account to app service.  ) but can be used anywhere.

While you are waiting on Microsoft to answer, try this:

Assuming you are using the CLI on bash, and you have an existing storage account, You could  extract the key into a variable using something like (repl

[2020-12-01 22:05] dazinator commented on #13207
@billspat
You are calling the az command line within that script and passing the secret value as an argument to that command line. I dont think it matters that you supplied it from a variable - the OS keeps information about commands called and the arguments supplied and the secret variable will be visible there as it is supplied via an argument unencrypted.

[2020-12-01 22:07] billspat opened #16105 "WebApp:Need description of the "customID" parameter for the "az webapp config storage-account" commands"
[Enter feedback here]
The documentation for CLI "az webapp config storage-account" commands does not describe, or link to a description, of the  "customID" parameter.    The tutorial/overview page https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux for this command does not describe it either.

What is "customID" and what is it used for in t

[2020-12-01 22:12] pvanroos opened #16106 "Article incorrect"
Required parameters for create is not correct.  When I run my script with minimum parameters, it returns:

ValidationError: Parameter 'MetricAlertResource.description' can not be None.

Is this page updated to latest?

When I added description, it now returns:

The following metric name(s) were not found: Percentage CPU. Please note that for custom metrics, the relevant metric namespace must be sp

[2020-12-01 22:33] schundu9 commented on #14656
Just use below - its Display issue
DISPLAY=:0 az login

[2020-12-01 23:27] yonzhan commented on #16100
storage

[2020-12-02 00:44] kedarisetti commented on #13092
Hi, was there a fix for this?
I am currently facing the same issue on an ubuntu 18.04 with azure-cli 2.15.1
The issue persists on the azure cloud shell as well

[2020-12-02 01:08] MehaKaushik commented on #16067
Hey @jfsom were you able to resolve your issue?

[2020-12-02 01:55] yonzhan commented on #16102
ARM

[2020-12-02 02:00] yungezz commented on #16105
route to appropriate team

[2020-12-02 02:20] xuto2 opened #16109 "az image create error: Images cannot be created from Shared Access Signature (SAS) URI blobs"
**Describe the bug**
"az image create" doesn't work when a sas uri is passed in as a parameter to --source

jun@Azure:~$ echo $vhd_source
https://vhdbuildersaceastus.blob.core.windows.net/vhds/1.0.1606849086.vhd?st=2020-11-30T00%3A00Z&se=2021-12-01T00%3A00Z&sp=rl&sv=2018-11-09&sr=c&sig=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

jun@Azure:~$ az image create --resource-group AKS-Ubuntu --name MI

[2020-12-02 02:44] yonzhan commented on #16104
synapse

[2020-12-02 02:56] yonzhan commented on #16106
monitor

[2020-12-02 04:37] JasonFreeberg opened #16111 "Add command for copying slots on Azure Web Apps"
**Is your feature request related to a problem? Please describe.**

No, this is a net-new feature.

**Describe the solution you'd like**

The web apps team has created a new API to *copy* one slot's content and config to another slot. This is similar to swapping slots, but the target slot's content and config would be replaced with that of the source slot's.

- [API swagger definition](https://doc

[2020-12-02 04:53] norshtein commented on #15953
@feliperoveran no, that's not expected behavior. We are investigating what happened.

[2020-12-02 05:19] ameetkonnur opened #16112 "az aks update --help returns error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --help`

## Expected Behavior

## Environment Summary
[code]

[2020-12-02 05:22] Juliehzl commented on #13092
could you provide debug info as what I have mentioned above?

[2020-12-02 05:26] ameetkonnur opened #16113 "'az aks stop' gives No module named 'azure.cli.core.azclierror' error. tried re-installing azure cli but not helping"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks stop -n {} -g {}`

## Expected Behavior

## Environment Summary
[code

[2020-12-02 06:08] yungezz commented on #13385
make sense. @fengzhou-msft could you pls help take care of the fix? thanks.

[2020-12-02 06:13] idear1203 commented on #16104
BadRequest indicates there is something wrong in the request payload. Please check your request. or provide content of the definition file.

[2020-12-02 06:19] qwordy commented on #15079
`sig` service team say they support PATCH now.

[2020-12-02 08:20] yungezz commented on #16113
hi @houk-ms could you pls help to have a look firstly? thanks

[2020-12-02 08:21] yungezz commented on #16112
add @houk-ms

[2020-12-02 08:22] yungezz commented on #16111
route to appropriate team

[2020-12-02 08:22] yungezz commented on #16112
#16113

[2020-12-02 08:23] yungezz commented on #16109
hi @qwordy could you pls have a look?

[2020-12-02 09:22] houk-ms commented on #16113
@ameetkonnur Thanks for reporting the issue.
The reason is new error types were used in AKS extensions, while the minCliCoreVersion was not changed accordingly.
It will be fixed soon.

[2020-12-02 09:59] Tbohunek commented on #12946
Time flies! Still nothing on Microsoft side despite them convincing us to migrate our workloads...
![image](https://user-images.githubusercontent.com/16520646/100857643-36d69e00-348d-11eb-8661-0ae7174d9fd0.png)

[2020-12-02 10:25] sa10000 opened #16117 "az aks stop - command to stop cluster not working."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks stop --name {} --resource-group {}`

## Expected Behavior

## Environ

[2020-12-02 10:28] dev-playbook opened #16118 "webapp: az appservice plan create > AttributeError: 'NoneType' object has no attribute 'id'"
## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior
Either a created appservice plan, or a useful error message.

## Environment Summary
[code]
## Additional Context

[2020-12-02 10:50] mloskot commented on #12940
I'm running Azure CLI 2.15.0 on Windows 10 from within PowerShell 7:

[code]

where my `$AzWebApp` points to Linux-based Web App (`az appservice plan create  --sku P1v2  --is-linux ...`).

Now, the error message above can mean two things:
1. `webapp ssh` requires Linux host
2. `webapp ssh` requires Linux-based Web App

Obviously, I the 2. requirement is met in my case. Does the error message actua

[2020-12-02 10:51] mloskot commented on #15072
IMHO, the error message is unclear, see https://github.com/Azure/azure-cli/issues/12940#issuecomment-737152145

[2020-12-02 10:51] mloskot commented on #12844
IMHO, the error message is unclear, see https://github.com/Azure/azure-cli/issues/12940#issuecomment-737152145

[2020-12-02 10:51] mloskot commented on #15729
IMHO, the error message is unclear, see https://github.com/Azure/azure-cli/issues/12940#issuecomment-737152145

[2020-12-02 11:01] mloskot opened #16119 "WebApp:[webapp ssh] - does not work on WSL"
## Describe the bug

**Command Name**
`az webapp ssh`

**Errors:**
[code]

Here is the Ubuntu 20.04 (WSL) using the [Azure CLI installed on Linux with apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt):

![image](https://user-images.githubusercontent.com/80741/100863889-83be7280-3495-11eb-9f22-44ddaa3c2d7a.png)

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2020-12-02 11:23] olav89 commented on #13070
Any updates on this?

Seeing the local time being used for me as well, and the only workaround I could find was to set my computer clock back an hour..

[2020-12-02 12:06] yonzhan commented on #16117
aks

[2020-12-02 12:08] yonzhan commented on #16118
appservice

[2020-12-02 12:10] yonzhan commented on #16119
webapp

[2020-12-02 12:22] jiasli commented on #12946
Azure CLI team is currently working on the **ADAL -> MSAL migration**. We will start the planning and implementation of **Active Directory Graph -> Microsoft Graph migration** once the previously task is done. + @achandmsft

Meanwhile, Microsoft Graph team is currently developing their own CLI tool: https://github.com/microsoftgraph/msgraph-cli. This project is still at its early phase. You are ve

[2020-12-02 13:41] Tbohunek commented on #12946
@jiasli thanks for the clarification. We are all looking forward. ❤️

However, isn't it a bit contra-productive to introduce yet another CLI tool on top of `az`? The confusion between `Get-AzADxxx` and `Get-AzureADxxx` (think `Connect-AzureAD`, `Login-AzAccount`, `Connect-AzAccount`) is already enough. 🤕

[2020-12-02 15:21] smartpcr opened #16120 "The password length must be between 12 and 72 (no longer works on linux terminal)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I am using powershell core to create linux vm, password is entered from command prompt (i.e. `S3p+ember202o`). the script used to work, but now it only works on windows, and failed on linux (since past couple of months)
**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce th

[2020-12-02 16:22] dmraymond opened #16122 "'az vm show' results in No module named 'pwd'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm show -r{} {} -n{} {} -s{}`

## Expected Behavior

## Environment Summar

[2020-12-02 18:00] travis-crowder-kr opened #16123 "az ad sp owner list TypeError: Object of type 'bytearray' is not JSON serializable"
az ad sp owner list TypeError: Object of type 'bytearray' is not JSON serializable

**Command Name**
`az ad sp owner list`

**Errors:**
[code]

## To Reproduce:
- `az ad sp owner list --id {}`

## Expected Behavior
It to work

## Environment Summary
[code]
## Additional Context

[2020-12-02 18:15] btardif commented on #14583
@calvinsID @panchagnula is this happening this sprint? This is a e2e tracked bug and I need to provide an update

[2020-12-02 18:18] ebele25 commented on #16113
Hi,
Are there any updates on this error "_**No module named 'azure.cli.core.azclierror**_"?

[2020-12-02 18:25] panchagnula commented on #14583
@btardif  not this sprint with high- confidence so I would update the timeline to next sprint. Sorry didn't provide an update earlier.

[2020-12-02 18:31] btardif commented on #14583
Ok @panchagnula updated ETA for 12/31

[2020-12-02 18:36] btardif commented on #16090
@panchagnula looks like we need to trim trailing carriage return on the thumbprint

[2020-12-02 18:37] btardif commented on #16087
@panchagnula --name should be marked as a required parameter

[2020-12-02 18:38] pvanroos commented on #16106
So here's the thing.  The condition must be constructed using a string that is based on the available metrics for that target resource.  If the docs say this, then I apologize for raising this issue.   The provided examples don't work but I was able to figure out the logic.

[2020-12-02 18:38] #16106 closed

[2020-12-02 18:46] ErniepDev commented on #11718
Also running into this issue and needing a workaround. @dgard1981, do you have an ARM template sample of getting the current app settings?  Trying the above, ARM template deploys successfully on my end, but existing app settings aren't persevered.

[2020-12-02 18:46] btardif commented on #16046
@graham768 can you please update your CLI to a newer version and try this again?

Current version is:

![image](https://user-images.githubusercontent.com/4119816/100917145-9df35300-348b-11eb-9162-1879b71ccf88.png)

[2020-12-02 18:54] btardif commented on #15747
@roalexan the --runtime option is new. To use it you will need to update your CLI to latest release.

[2020-12-02 18:54] #15747 closed

[2020-12-02 18:58] btardif commented on #13281
This is not an issue with App Service CLI

[2020-12-02 18:58] #13281 closed

[2020-12-02 19:04] btardif opened #16125 "WebApp:Support az webapp ssh for windows clients"
We currently don't support SSH from a windows client:

![image](https://user-images.githubusercontent.com/4119816/100918772-c54b1f80-348d-11eb-9132-af9c02137d00.png)

As an initial mitigation, we should open a browser to the web-ssh console that is part of every Linux app:

![image](https://user-images.githubusercontent.com/4119816/100919045-2115a880-348e-11eb-8e61-caf0e5dcc346.png)

This is acces

[2020-12-02 19:05] btardif commented on #15072
This is being tracked here: #16125

[2020-12-02 19:05] #15072 closed

[2020-12-02 19:07] btardif commented on #16119
This is a valid bug, looks like our detection logic is buggy, we need to account for WSL scenarios and ideally make them work.

[2020-12-02 19:08] btardif commented on #15729
This is being tracked here:  #16125

[2020-12-02 19:08] #15729 closed

[2020-12-02 19:09] btardif commented on #12940
This is being tracked here: #16125

[2020-12-02 19:09] #12940 closed

[2020-12-02 19:09] btardif commented on #12844
This is being tracked here: #16125

[2020-12-02 19:09] #12844 closed

[2020-12-02 19:12] btardif commented on #12235
This is not an issue with az webapp ssh but rather core cli config. Looks like user self mitigrated

[2020-12-02 19:12] #12235 closed

[2020-12-02 19:17] divyagandhii opened #16126 "Setting LinuxFxVersion to custom image with 'az webapp config' sets WEBSITES_ENABLE_APP_SERVICE_STORAGE to false"
**Describe the bug**
For a webapp, when we set LinuxFxVersion to a custom image url, we also seem to be setting 'WEBSITES_ENABLE_APPSERVICE_STORAGE' to false.  The code is here: https://github.com/Azure/azure-cli/blob/ed1fe586d24b5d78127c0b616cd7e32b765d0bfc/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L145-L149

**To Reproduce**

1.  Take any existing function app and set WEBSITES

[2020-12-02 19:18] btardif commented on #13662
This should be handled from CLI...

CTRL + C  should kill process in the SSH session and not the CLI

CTRL + D should kill the SSH session

[2020-12-02 20:55] adnanLab opened #16127 "Issue on login through azure cli terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-12-02 20:57] d0dulk0 commented on #11596
This worked for me, I'm located in central europe and by default the az webapp up command creates the resource group in US so you have to explicitly state the location for example
`--location westeurope `

After rerunning with the --location option it worked

[2020-12-02 21:06] calvinsID commented on #15413
Hey @nigarfin, was the first Free app you created (repro step 1) using CLI, specifically `az webapp up` with no resource group specified?

[2020-12-02 21:06] chirangaalwis commented on #12192
@ynambiar @mattduguid I think [this](https://docs.microsoft.com/en-us/azure/key-vault/certificates/how-to-export-certificate?tabs=azure-cli) documentation pretty much sums up the behavior.

[2020-12-02 21:42] graham768 commented on #16046
Can't believe how far behind my install was! Thanks for the catch

[2020-12-02 21:42] #16046 closed

[2020-12-02 21:53] nigarfin commented on #15413
Correct.

[2020-12-02 21:53] nigarfin commented on #15413
Whoops - failed to tag you. @calvinsID . Correct :)

[2020-12-02 22:04] yonzhan commented on #16123
az ad

[2020-12-02 22:28] calvinsID commented on #15413
@nigarfin do you mind sharing the resource group name and appservice plan name of the first free app created, as well as the resource group name and appservice plan name you get when running the command the second time, with `--dryrun` param? I was unable to repro this using `az webapp up --name {name} --sku F1` twice on two different clones of the same codebase. However if I create the first free

[2020-12-02 22:31] feliperoveran commented on #15953
@norshtein thank you!

by the way, I was able to get it working without enabling `AutoUpgradePreview` with `aks-preview` version `0.4.67`

[2020-12-02 22:37] nigarfin commented on #15413
It happened so long ago I'm just not sure which of the apps it relates to so I can't provide asp or rg name sadly.

When you say it's not reproing. Just to confirm, you're working out of two different project folders right? Can you try using these python projects (https://docs.microsoft.com/en-us/samples/azure-samples/python-docs-hello-world/python-flask-sample-for-azure-app-service-linux/). I DOU

[2020-12-02 22:51] btardif commented on #15660
We don't use quickstart images for CLI

[2020-12-02 22:51] #15660 closed

[2020-12-02 22:54] btardif commented on #14553
@chenlomis can you help here I don't think this should be going to App Service, nothing for us to do here.

[2020-12-02 22:55] btardif commented on #12760
ping @ElleTojaroon

[2020-12-02 22:56] CPArtis commented on #16099
I am also receiving this error when trying to install the Azure CLI on a self-hosted agent within an Azure DevOps CI/CD pipeline. I am running the same command in the YAML script as the OP ran.

[2020-12-02 23:00] JonathanFingold opened #16130 "Confusing error message for az deployment sub create"
## Describe the bug

**Command Name**
`az deployment sub create`

**Errors:**
[code]

**Issue**: `deployment_name` is not a parameter I provided, nor is it listed as a parameter when I run `az deployment sub create --help`.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Follow the steps as outlined in [

[2020-12-03 00:28] yonzhan commented on #16125
webapp

[2020-12-03 00:46] toddysm commented on #16060
@techfreakworm Is this still an issue or can we close it? As @yugangw-msft mentioned - this is not a CLI issue. If you experience it again, please submit a support request.

[2020-12-03 00:50] yugangw-msft commented on #16060
Closing per context above

[2020-12-03 00:58] yonzhan commented on #16126
webapp

[2020-12-03 01:19] fengzhou-msft commented on #16099
The latest pip 20.3 added a version check between the version in metadata and the version in wheel name. The edge build package uses the same build pipeline with production build. We only changed the version in the wheel name after it's built. We need to modify the build pipeline for edge build to modify the version in metadata as well.

As a workaround, please ping your pip to 20.2.4.

[2020-12-03 01:32] yungezz commented on #16118
https://github.com/Azure/azure-cli/issues/14287

[2020-12-03 01:33] yungezz commented on #16122
hi @qwordy , could you pls have a look?

[2020-12-03 01:34] yungezz commented on #16120
hi @qwordy could you pls have a look?

[2020-12-03 02:02] fengzhou-msft commented on #16113
Please upgrade to the latest version of `azure-cli`. You can run `az upgrade` if your current version >= 2.11.0.

[2020-12-03 02:23] yonzhan commented on #16127
az login

[2020-12-03 02:53] qwordy commented on #16120
@smartpcr Can you help add `--debug` and paste the output here? So that I can know where the error occurs, service side or client side.

[2020-12-03 02:55] qwordy commented on #16122
Hi @dmraymond , the version azure-cli 2.4.0 is very old. Could you upgrade to latest one and retry?

[2020-12-03 03:15] fengzhou-msft commented on #16113
The fix for the `aks-preview` extension is released. Please upgrade the extension if you do not wish to upgrade your `azure-cli` version.

[2020-12-03 03:31] yonzhan commented on #16130
ARM

[2020-12-03 03:32] #16060 closed

[2020-12-03 05:17] sudhikul opened #16133 "az aks get-credentials failing with error "str has object has no attribute get""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {}`

## Expecte

[2020-12-03 06:04] #16104 closed

[2020-12-03 07:33] norshtein commented on #15953
Yes, the auto-upgrade feature support is added in aks-preview 0.4.68, so 0.4.67 will not hit this error.

[2020-12-03 11:34] aksm-ms commented on #14544
@jiasli Is Environment credential support added to az cli login? cc: @nadesu

[2020-12-03 13:12] genegc commented on #16104
Here is the result of the command:
[log.txt](https://github.com/Azure/azure-cli/files/5636242/log.txt)

Here is the notebook I'm attempting to import (though I have tried with several different notebooks):
(note: this attachment should end in .ipynb - it was only changed .txt to be able to upload to this comment)
[Notebook1.txt](https://github.com/Azure/azure-cli/files/5636223/Notebook1.txt)

Coul

[2020-12-03 13:20] B4Art opened #16136 "Explenations differ a bit"
**Describe the bug**

To links same command but different

**To Reproduce**

https://docs.microsoft.com/en-us/cli/azure/pipelines/build/tag?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines/build/tag?view=azure-cli-latest
--subscription is missing in the first link AND present in the second one?

**Expected behavior**

**Environment summary**

**Additional

[2020-12-03 13:53] ashinzekene opened #16137 "Az namespace exists returns inconsistent error message"
**Describe the bug**
I'm trying to verify if a namespace is currently in use. I think it is still available, though I can't create a resource with that name.
The error message is different

![image](https://user-images.githubusercontent.com/20991583/101026143-d2900900-3576-11eb-9299-ba2027c161ba.png)

**To Reproduce**
[code]
**Expected behavior**
Expected result for both cases
[code]

 Also, is th

[2020-12-03 15:02] yonzhan commented on #16133
aks

[2020-12-03 15:08] yonzhan commented on #16136
devops

[2020-12-03 15:19] nfx commented on #9427
subscribing to updates

[2020-12-03 15:21] invidian commented on #9427
@nfx there is a subscribe button in the right column in the web UI, which you can use to avoid notifying existing subscribers 😉

[2020-12-03 15:33] kedarisetti commented on #13092
[debug.log](https://github.com/Azure/azure-cli/files/5637091/debug.log)
PFA

[2020-12-03 16:25] CmdLnJedi commented on #7368
Hi Random User here, any update on this request?

[2020-12-03 16:56] CPArtis commented on #16099
The workaround is not working for me. I'm getting the following error.

ERROR: Command errored out with exit status 1: 'c:\sw\python36\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\pidcie1\\AppData\\Local\\Temp\\pip-install-y1mjzsvg\\vsts-cd-manager\\setup.py'"'"'; __file__='"'"'C:\\Users\\pidcie1\\AppData\\Local\\Temp\\pip-install-y1mjzsvg\\vsts-cd-manager\\se

[2020-12-03 19:58] pownkel opened #16138 "APIM gets stuck in soft-delete state"
**Describe the bug**
A [soft-delete feature](https://docs.microsoft.com/en-us/azure/api-management/soft-delete) was recently added to API management, and is only available through the preview version of the REST API. The documentation linked above states that using the azure CLI to delete an API Management instance will result in hard delete behavior. This is true, for the `az apim delete` command

[2020-12-03 20:10] calvinsID commented on #15413
Yup same repro steps, except for step 2 used a new webapp name. Must have been fixed in a later version
Thanks!

[2020-12-03 20:10] #15413 closed

[2020-12-03 20:11] nigarfin commented on #15413
No problem! Thank you for investigating!

[2020-12-03 21:40] mloskot commented on #7439
Since it seems examples above are based on the PowerShell and the issue is the arguments parsing, here is the correct command

[code]

[2020-12-03 21:44] aarsan commented on #14142
Is this ID set dynamically when the first App Service is created or is it possible to know what this ID is prior to deploying the first App Service? @brandonwittwer

[2020-12-03 22:12] divyagandhii commented on #16126
Since this is a functions specific scenario, it would be preferable if we only limit this change to scope az functionapp config.
Running this command for an existing function app should not change any app settings -

The behaviour in az webapp config can remain untouched, since this is more of a functions app specific scenario.

[2020-12-03 22:21] Drewm3 commented on #13974
Just to provide an update on this. The issue is still on our backlog to be fixed in a future milestone, but we do not yet have a timeframe to share as to when we expect the fix to be available.

[2020-12-03 22:36] adnanLab commented on #16127
The storage account was not set for the shell under my pay as you go subscription. When I loaded https://shell.azure.com/, it gives the option to create one. Use all lower case otherwise will get an error.

[2020-12-03 22:36] #16127 closed

[2020-12-03 22:45] naveenchekuri opened #16139 "Feature request for supporting update Virtual Router and get virtual router peer learned routes and advertised routes"
**Resource Provider**

Microsoft.Network

**Description of Feature or Work Requested**
AZ CLI currently support create and delete virtual router and virtual router peer. We need to add support for following

1. Support update virtual router to add boolean flag AllowBranchToBranchTraffic. Example powershell is below

"Update-AzVirtualRouter -ResourceGroupName VirtualRouterRG -RouterName virtualrout

[2020-12-03 23:01] calvinsID commented on #15900
Unable to repro, @ShugoYoko please share details using `--debug` flag and tag me to re open investigation

[2020-12-03 23:01] #15900 closed

[2020-12-03 23:06] mike-edmonds commented on #15496
As of pip 20.3.0+ this is an error that can't be avoided when trying to explicitly install azure-mgmt-resource==15.0.0 w/ the latest azure-cli-core.
downgrading azure-mgmt-resource 2 releases is not ideal.
downgrading pip 2 releases is not ideal.

[2020-12-03 23:13] bmoore-msft opened #16140 "az provider show -n <namespace> doesn't work for most resource"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-12-03 23:13] #16140 closed

[2020-12-03 23:17] bmoore-msft opened #16141 "az provider show -n <namespace> doesn't work for most RPs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az provider show -n <namespace> should pull info from the providers api for the specified provider.  It looks as though we use an arbitrary apiVersion which isn't likely to match the supported apiVersion for the specified provider.  So this cmd will almost never work

**Command Name**
``az provider show

**Erro

[2020-12-03 23:24] pablobi00 opened #16142 "Inconsistent behaviour when listing Gen2 filesystems"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I can list the content of another FS with the same properties in this storage account, there is another one that always fails.
-------------------------------------------------------------------------------------------------------
**Command Name**
`az storage fs file list`

**Errors:**
[code]

## To Reproduce:

[2020-12-03 23:30] calvinsID commented on #16008
@hursic it seems like the app you are running `az webapp up` in has been deployed to azure using CLi before, and has defaults configured in the '.azure' directory, and has the plan 'TheCrownAppservicePlan' configured. Since you are overriding the location using `--location` flag, the error is showing that you cannot create a new appservice plan named 'TheCrownAppservicePlan' in this new location.

[2020-12-03 23:56] jfsom commented on #16067
Yes @MehaKaushik Thanks

[2020-12-04 00:03] calvinsID commented on #16008
Hey @hursic , it seems like you've deployed that app to azure before (thus causing defaults to be created), or have configured a default appservice plan. Please check your root directory for a folder named '.azure', which shows if there are defaults. The error message is showing that you cannot create a new appservice plan in the location specified, since there already exists an appservice plan wi

[2020-12-04 00:04] calvinsID commented on #16008
Will add better error handling and get rid of the `code: InvalidResourceLocation - ,` in the beginning of the error message

[2020-12-04 00:22] calvinsID commented on #15940
Closing since unable to repro, seems like invalid use of command. If error persists please tag me and reply here, and I'll re-investigate

[2020-12-04 00:22] #15940 closed

[2020-12-04 00:33] yonzhan commented on #9826
Storage

[2020-12-04 01:01] colemickens commented on #3447
Writing to a file is not a workaround. Due to current uh speed limitations with Azure disks, it is highly preferred to pre-size disk images. I can't keep 100GB of free space lying around to hold nearly empty images to upload to Azure.

This scenario _does not work_ for page blobs in `azcopy`: See: https://github.com/Azure/azure-storage-azcopy/issues/1119 and I lost interest in trying to worm my wa

[2020-12-04 01:11] #16067 closed

[2020-12-04 01:12] MehaKaushik commented on #13686
Deployment is complete.

[2020-12-04 01:12] #13686 closed

[2020-12-04 01:31] yungezz commented on #16141
hi @fengzhou-msft could you pls have a look? thanks

[2020-12-04 01:31] yungezz commented on #16138
route to appropriate team

[2020-12-04 01:47] #15790 closed

[2020-12-04 02:18] #14496 closed

[2020-12-04 03:35] HemantErappa opened #16144 "Application Gateway Mutual Authentication Support"
**Resource Provider**

Network

**Description of Feature or Work Requested**

Application Gateway Mutual Authentication Support

**Minimum API Version Required**

2020-06-01

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/9965

**Target Date**

02/01/2021

[2020-12-04 03:55] genegc opened #16145 "az synapse notebook list fails in cloudshell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm not able to get any of the az synapse notebook commands to work from the cloud shell.
When trying to call az synapse notebook list, I get the following error:
`msrestazure.azure_active_directory : MSI: Failed to retrieve a token from 'http://localhost:50342/oauth2/token' with an error of '400 Client Error:

[2020-12-04 04:08] Juliehzl opened #16146 "Remove unused test in profile 2020-09-01 and add the required tests back"
**Is your feature request related to a problem? Please describe.**

1. Storage
https://github.com/Azure/azure-cli/pull/15096#discussion_r535820630
2. SQL
https://github.com/Azure/azure-cli/pull/15096#discussion_r535490983
3. resource
https://github.com/Azure/azure-cli/pull/15096#issuecomment-738514908

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional

[2020-12-04 04:08] Juliehzl commented on #16146
@abbhar please fix these comments later

[2020-12-04 05:56] PLsap opened #16148 "az aks get-credentials (linux) ignores KUBECONFIG env"
**What happened**:

Getting credentials for an Azure AKS cluster modifies the default kubectl config file instead of the one actually in use configured by an environment variable KUBECONFIG.

export KUBECONFIG=/c/development/kube/config
az aks get-credentials --resource-group mygroup --name mycluster
Merged "mycluster" as current context in /home/pl/.kube/config

**What you expected to happen**:

[2020-12-04 06:27] jsntcy opened #16150 "[Test Framework] `azdev test --live` will delete recording file of tests with record_only flag unexpectedly"
**Describe the bug**

`azdev test --live` will delete recording file of tests with record_only flag unexpectedly.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-12-04 06:30] jsntcy opened #16151 "[CI] Tests in CI will return immediately when encountering the first failure"
**Describe the bug**

Tests in CI will return immediately when encountering the first failure, for example, if there are two recording files missing, it will only report one each time.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-12-04 07:56] #16041 closed

[2020-12-04 08:04] yungezz commented on #16148
route to appropriate team

[2020-12-04 08:05] yungezz commented on #16145
route to appropriate team to have a look

[2020-12-04 08:26] qwordy opened #16153 "[Compute] Using PATCH to implement sig update operations"
**Is your feature request related to a problem? Please describe.**

Today, sig update operations are calling into create_or_update/PUT API. This cause issues that service side validation might fail when some field not updating but still passed in PUT request. Ideally CLI should use PATCH.

Reference:
https://github.com/Azure/azure-cli/issues/15079

**Describe the solution you'd like**

**Describe

[2020-12-04 08:26] qwordy commented on #16153
OK

[2020-12-04 08:34] miaojiang commented on #16138
Thanks for reporting the issue. We will review.

cc @KedarJoshi @RupengLiu

[2020-12-04 08:45] qwordy commented on #15178
Close it since the description is not clear.

[2020-12-04 08:45] #15178 closed

[2020-12-04 08:56] fengzhou-msft commented on #15659
@christianfelixmerz there may be some very old CLI version installed before based on the error trace(we no longer have files like `cli_main.py` and the file format for CLI code became `pyc` in msi since at least over one year ago). Please clean up the `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` directory and reinstall the latest CLI version.

[2020-12-04 08:59] qwordy commented on #15119
similar issue: https://github.com/Azure/azure-cli/issues/15264

[2020-12-04 08:59] qwordy commented on #15264
Similar issue: https://github.com/Azure/azure-cli/issues/15119

[2020-12-04 08:59] #15720 closed

[2020-12-04 09:44] ninadicara commented on #13630
In case relevant to anyone else who ends up here -
I had a very similar error after upgrading to Big Sur. Just in case anyone else does too, mine actually ended up being an issue with Big Sur changing clang to an unsupported version. I ran the [fix suggested here](https://stackoverflow.com/questions/63972113/big-sur-clang-invalid-version-error-due-to-macosx-deployment-target) and the extension now

[2020-12-04 10:02] jiasli commented on #14544
We will release `EnvironmentCredential` in next beta version.

[2020-12-04 12:08] Zarrugh opened #16154 "having issue with Quickstart: Create a Python app in Azure App Service on Linux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2020-12-04 12:10] #16154 closed

[2020-12-04 12:25] sjuarezgx commented on #12513
Hello, are there any news about this issue?

[2020-12-04 12:33] yonzhan commented on #16139
Network

[2020-12-04 12:38] yonzhan commented on #16142
storage

[2020-12-04 12:50] yonzhan commented on #16144
Application Gateway

[2020-12-04 12:59] yonzhan commented on #16150
Test Framework

[2020-12-04 13:00] willam-gregoire commented on #16078
Hello Yonzhan, any suggestion?

[2020-12-04 13:01] yonzhan commented on #16151
CI

[2020-12-04 14:20] econezza opened #16155 "Bug to execute az apim"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim`

## Expected Behavior

## Environment Summary
[code]
## Additional Cont

[2020-12-04 14:27] yonzhan commented on #16155
apim

[2020-12-04 17:28] rokeno commented on #6442
@tjprescott - Can you post an example?

[2020-12-04 20:09] Bob-RH opened #16157 "Documentation for az vm run-command is out of date and incomplete"
I'm attempting the most basic of using the run-command invocation on a linux VM from powershell and it's failing with needs --command-id.  This isn't documented.

This VM works for run command from the console.

PS C:\Users\robbro04\.ssh> az vm run-command invoke --resource-group vpn-test --name z110-r-3ess-linux --scripts 'echo $1 $2' --parameters hello world
az vm run-command invoke: error: the

[2020-12-04 20:35] edwinvandeburgt commented on #16099
For me, the proposed solution works:

`python -m pip install --upgrade pip==20.2.4`

[2020-12-04 22:34] rane-rajasi opened #16159 "[Compute] Automatic In-Guest Patching for Linux VMs"
**Resource Provider**
Compute

**Description of Feature or Work Requested**
Automatic in-guest patching provides customers an easy-to-onboard solution to maintain security compliance for their virtual machines. This feature provides:
1.	Simple onboarding – Enrolling a VM requires configuring one property on the VM model (process detailed below) with no further onboarding actions needed.
2.	Automat

[2020-12-04 23:02] chjaress opened #16160 "[Compute] Request to Add "enableAutomaticUpgrade" flag for VMExtensions in CLI"
**Resource Provider**
Microsoft.Compute (CRP)

**Description of Feature or Work Requested**
Need to add support for "enableAutomaticUpgrade" flag as part of VMExtension model. This bool flag will indicate if the extension should be automatically upgraded by Compute Platform.

**Minimum API Version Required**
2020-06-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/10134

**T

[2020-12-04 23:07] sebansal commented on #13475
@RandalliLama do we have internal ADO open to track?

[2020-12-05 00:04] msfcolombo commented on #15011
Agree with @sebansal. For assistance from the KV team, we need to understand what the key vault service is returning.

The error message from the bug description is not from Key Vault. I'm speculating that App Gateway is translating any 403 received from Key Vault into a permission issue. However, Key Vault may return 403 also when the firewall blocks access, or when the certificate is disabled.

[2020-12-05 03:00] setunol opened #16162 "Regarding to the Public IP prefix length"
Hello team,

Not sure if this is the best place to reach out or not.  But we run into some issues where the customer has increased the quota limit to /26 for the prefix for the subscription (we can confirm that via the portal reflecting the increase.)  But attempting with CLI, it still fails.

With regarding to the following parameter

--length
Length of the prefix (i.e. XX.XX.XX.XX/<Length>).

Mi

[2020-12-05 03:25] yonzhan commented on #16162
network

[2020-12-05 04:42] #14978 closed

[2020-12-05 05:18] #14985 closed

[2020-12-05 14:28] szs2104 opened #16163 "Add permissions for Azure AD application issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission admin-consent --id {}`

## Expec

[2020-12-05 16:24] yonzhan commented on #16163
az ad

[2020-12-05 19:09] kezarmader opened #16164 "Unable to install kubectl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-12-05 19:10] kezarmader opened #16165 "Issues in creating Kubernetes Cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-12-06 01:58] yonzhan commented on #16164
aks

[2020-12-06 02:00] yonzhan commented on #16165
aks

[2020-12-06 10:04] maverick-dotcom commented on #12594
az vmss extension set  `

******Expecting property name enclosed in double quotes: line 1 column 2 (char 1)******

**Any one encountered with above error message?**

Az CLI Version:
azure-cli                         2.10.1 *

command-modules-nspkg              2.0.3
core                              2.10.1 *
nspkg                              3.0.4
telemetry                          1.0.4 *

[2020-12-06 14:09] dtewinkel commented on #13540
What about a same approach as the dotnet CLI tool takes? Add a command to get the completion. For instance `az complete --to-complete "vm " --position 3`, returning one option per line.

This would make it more uniform to integrate across different OSses or shells. It at least would help to integrate this into PowerShell where the tab completion could look something like:

[code]

My inspiration c

[2020-12-06 14:36] dtewinkel commented on #13540
I do like the proposed approach. It would make it really easy to integrate tab completion with PowerShell. Tab completion for az is one of the features that is really lacking on PowerShell.

[2020-12-06 18:56] elafnit opened #16166 "Error on using az ad app update"
I tried your example for updating the app roles and received the following error
Property  value cannot be deleted or updated unless it is disabled first.
I failed to find the az cli command that would allow me to disable the app role to allow me to perform this app role update successfully.
Your assistance in addressing this pre-requisite would be greatly appreciated because this is the update I

[2020-12-06 23:38] yonzhan commented on #16166
az ad

[2020-12-06 23:55] samsmithnz commented on #16041
Same problem here too. Is this still on schedule for s179?

[2020-12-07 01:34] yungezz commented on #16157
hi @qwordy, could you pls have a look? thanks

[2020-12-07 01:34] yungezz commented on #16159
service public date Jan.

[2020-12-07 01:36] yungezz commented on #16160
ETA end of Jan 31st

[2020-12-07 01:36] yungezz commented on #16164
duplicate with https://github.com/Azure/azure-cli/issues/16070

[2020-12-07 01:37] yungezz commented on #15556
duplicate with #16070

[2020-12-07 01:55] dochung4 commented on #16077
@qwordy , can you please review?

[2020-12-07 01:56] yungezz commented on #16160
spec https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft-my.sharepoint-df.com%2F%3Aw%3A%2Fp%2Fmanayar%2FEYTyarAcsjRKkLm2jXL5hHoBjfDeLhONxARBbRmCGrlcWw%3Fe%3Dvqqhxg&data=04%7C01%7Cyungez%40microsoft.com%7C3663e6f8d3bc4062cac108d898b29ca7%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C1%7C637427240217333366%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiL

[2020-12-07 03:02] Juliehzl commented on #15732
dupe with #3447

[2020-12-07 03:06] Juliehzl commented on #9826
Hi @zhusulai, please update your azure cli with `az upgrade` and try `az storage container-rm list`.
To use `az storage container-rm` commands, you have to make sure you azure cli version >= 2.13.0.

[2020-12-07 03:06] #9826 closed

[2020-12-07 03:12] Juliehzl commented on #16071
Hi @sabretus, thanks a lot for your feedback! We will prioritize the work according to bandwidth.
@zezha-msft  Is there an interface to pass AD credential to azcopy?

[2020-12-07 03:24] fengzhou-msft commented on #14553
@btardif the `fabric` library used by app service module in CLI introduced a CVE item. Please consider replacing it with `paramiko`.

[2020-12-07 03:33] qwordy commented on #16077
The change will be released on 12/29/2020. Sorry it is a bit late than your GA date.

[2020-12-07 03:37] haroldrandom commented on #16050
hi, @zachgatesak the upgraded billing commands are shipped with Azure CLI 2.15.0 and the Cloud Shell you are using with Azure CLI is still 2.14.0.
I saw Cloud Shell has onboarded Azure CLI 2.15.0 already, you could try it.

[2020-12-07 03:37] #16050 closed

[2020-12-07 03:48] haroldrandom commented on #16028
thanks for providing this for us. It's also related to one of our fix in the long term and had long been pending no demo to reproduce :)

[2020-12-07 04:55] glenncarr opened #16170 "Missing semicolon (;) in PowerShell help for az aks install-cli"
**Describe the bug**

The help displayed after executing `az aks install-cli` displays:

_Run "set PATH=%PATH%;C:\Users\<user>\.azure-kubectl" or **"$env:path += 'C:\Users\<user>\.azure-kubectl'"** for PowerShell. This is good for the current command session._

A semicolon is required before the appended path.  It should be:
**_$env:path += ';C:\Users\<user>\.azure-kubectl'"_**

**To Reproduce**

[2020-12-07 05:30] yonzhan commented on #16170
aks

[2020-12-07 05:42] #15965 closed

[2020-12-07 06:16] yonzhan commented on #16086
@timvanderweijde any update?

[2020-12-07 06:22] haroldrandom commented on #15892
It's a commonly known issue not only for `az network vnet create`, but also in other commands. We will start an internal discussion about it.

[2020-12-07 06:25] fengzhou-msft commented on #15366
I have added a removal step in the script.

It is a long-term workaround as the default Python 3.4 on SLES12SP4 reached end-of-life and Azure CLI dropped support for it.

[2020-12-07 06:45] jiasli commented on #14290
Will be covered by https://github.com/Azure/azure-cli/pull/15730 and https://github.com/microsoft/knack/pull/223. The experimental message will be made configurable.

[2020-12-07 06:45] #14290 closed

[2020-12-07 06:47] yungezz commented on #8373
Live test framework is updated already, test failure is in a central storage account, with link in email. Close the issue since fixed.

[2020-12-07 06:47] #8373 closed

[2020-12-07 06:49] #9270 closed

[2020-12-07 06:54] yungezz commented on #10026
Test against latest docker build, the issue is not there any more, CI is stable for months. close the issue

[2020-12-07 06:54] #10026 closed

[2020-12-07 07:02] qwordy opened #16172 "Omit null value in CLI output."
**Is your feature request related to a problem? Please describe.**

CLI outputs all properties defined in swagger model definition although it is not returned in response. We can see some "null"s in final output. More than one customers reported it is confusing. They want to remove them.

Example
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additiona

[2020-12-07 07:22] haroldrandom commented on #16162
![image](https://user-images.githubusercontent.com/14357159/101321174-e782da00-389f-11eb-94ca-989f6ddeba10.png)

I tested on Portal it is required a length between 28 to 31. Can't reproduce your situation. Could you please more detail?

[2020-12-07 07:25] haroldrandom commented on #16089
It's a style of Azure CLI. CamelCase would turn into a dash to connect two lowercase-letter leading words

[2020-12-07 07:25] #16089 closed

[2020-12-07 07:28] haroldrandom commented on #12549
https://github.com/Azure/azure-cli/pull/15234 removed the deprecation info. So this issue is no longer necessary

[2020-12-07 07:28] #12549 closed

[2020-12-07 08:26] timvanderweijde commented on #16086
@yonzhan still the same problem. It cannot create the AppGW rule.

We tried to wait for 1 hour, 3 hours and last full weekend without sucess.

[2020-12-07 08:42] yonzhan commented on #16172
Omit null

[2020-12-07 09:14] dgcaron commented on #5713
this is pretty problematic.. we are using the tags to target a specific instance that is created with terraform. we update the config from azure devops with the cli but this wipes the tags clean. changes in the tags actually forces terraform to recreate the instance.

[2020-12-07 09:34] haroldrandom commented on #16086
@timvanderweijde Is the error still the same?

[2020-12-07 09:39] jiasli commented on #16078
The error indicates the **DNS server is not working correctly**.

Could you try to connect to `https://login.microsoftonline.com/` directly?

[code]

[2020-12-07 09:42] jiasli commented on #15496
The latest Azure CLI has removed hard dependency on `azure-cli-core` by vendoring `azure-cli-core` (https://github.com/Azure/azure-cli/pull/15711). Please let us know if it works for you. Thanks.

[2020-12-07 09:57] glaubitz commented on #15496
Not sure how this resolves the issue. This is just papering the issue over, the problem still remains.

Also, we can't use vendoring in distributions for security reasons.

[2020-12-07 09:59] yungezz commented on #16172
This is big change which will impact all VM outputs, maybe breaking.

[2020-12-07 10:05] wapatmnl commented on #16086
Hi, I am taking over this issue from my colleague Tim.

The issue is still present, also using CLI 2.15.1.
We currently have an instance running where we the rule creation still fails this way.
Error is still the same: cannot use private IP address <ip> as it is either allocated to a resource or being cleaned up.

As it blocks progress in one of our projects I am also happy to create a support cas

[2020-12-07 10:22] grzchr15 opened #16177 "Please add an example to get the needed parameter from keyvalut properties"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c661d7-bf43-5354-015e-3859f30a42a2
* Version Independent ID: fa69e552-5904-ce97-d02c-915c819bdde1
* Content: [az keyvault certificate](https://docs.microsoft.com/en-us/cli/azure/keyvault/certificate?view=azure-cli-latest#az_keyvault_certificate_show

[2020-12-07 10:25] grzchr15 commented on #16177
Name ProductionKeys01
Sku (Pricing tier) Standard
Location westeurope
Vault URI
Resource ID
Subscription ID
Subscription Name
Directory ID
Directory Name

ValidationError: invalid id: The specified uri "xxx", does to match the specified format "{vault}/{collection}/{name}/{version?}
There is no collection and version

[2020-12-07 10:28] jiasli commented on #15496
There are some outstanding breaking changes between `azure-mgmt-resource` 10.2.0 and 15.0.0. While we are actively working on migrating from `azure-mgmt-resource` 10.2.0 to15.0.0, given the amount of dependency on `azure-mgmt-resource`, it is a really huge task to accomplish.

That's why we only vendored `subscriptions` module from `azure-mgmt-resource` as a temporary workaround to satisfy the nee

[2020-12-07 10:34] glaubitz commented on #15496
I understand the huge work involved and I don't mean to put any pressure here. I just think that closing this bug report is misleading as the underlying problem still remains.

I think I will use the vendored version for the time being so we can unbreak ```azure-cli``` in our rolling release distribution Tumbleweed, so thanks for the workaround.

But i think you should keep the bug open as long ``

[2020-12-07 12:27] willam-gregoire commented on #16078
Thanks for you help jiasli, I run that command and this is the results I can see:
(by the way I can ping and resolve google.com)

python3 -c "import requests; print(requests.get('https://login.microsoftonline.com/').status_code)"

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/urllib3/connection.py", line 170, in _new_conn
    (self._dns_host, self.port), self.ti

[2020-12-07 14:32] miwithro commented on #16165
@akshaysngupta to assist.

[2020-12-07 14:48] waldekmanual commented on #15932
any new about this?

[2020-12-07 14:52] indrehus opened #16178 "WebApp:Error when trying to enable client certificates for app service."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp update`

**Errors:**
[code]

## To Reproduce:

- `az webapp update --set clientCertEnabled=true --name {} --resource-group {}`

## Expected Behavior

I expected to enable client certificates for my app service. I was following the guide at:

https://docs.microsoft.com/en-us/azure/ap

[2020-12-07 15:30] yonzhan commented on #16178
webapp

[2020-12-07 17:53] jeromewaibel opened #16181 "WebApp:az webapp config ssl create results in UnknownError: Unknown error"
## Describe the bug

**Command Name**
`az webapp config ssl create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a web app
- Create a binding with `az webapp config hostname add --hostname {} --webapp-name {} --resource-group {} --subscription {}`
- Run `az webapp config ssl

[2020-12-07 18:09] andyliddle commented on #14467
Also at the moment, it seems that OCI support for helm dependency URLs is still not implemented [https://github.com/helm/helm/issues/6593](url).   There would be no way for us to reference dependant charts in ACR without the v2 support.

[2020-12-07 18:14] yugangw-msft commented on #14467
@sajayantony @SteveLasker  to comment

[2020-12-07 20:16] dochung4 commented on #16077
Thank you Feiyue. This is only for updating the description, so a slight delay should be fine. Can you please approve the PR and merge it, if the change looks fine?

[2020-12-07 20:47] JohnDelisle commented on #16096
Hello, just looking for an update please.

Is this possible via "az sql vm create"?  I see all the other functionality like SQL backups, enabling R Services, and so on are present... but disk layout is missing.

Am I just looking in the wrong place?

[2020-12-07 22:19] nameier opened #16182 "Error when trying to get VMSS instance connection info in Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss list-instance-connection-info`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss list-instance-connection-info -g {} -n {}`

[2020-12-07 23:01] madshaun1984 commented on #12689
For this API function to be of value it needs to output the same information as the publicly available file (which is not behind a subscription).

I also have owner permissions on the subscription used to call the API, I can't get the Azure Cloud tags either & I've noted that the "changeNumber: 67" in the response body is extremely outdated when compared to the publicly available file (changeNumbe

[2020-12-08 00:35] joelw commented on #9855
Love the idea! I couldn't get the method in the original request to work, but came up with the following method by looking at the requests that Azure Portal makes:

[code]

[2020-12-08 01:05] charris-msft opened #16185 "WebApp:unexpected -l"
On this page: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az_webapp_up

The example under the following section should not include "-l locationName":

"Create a web app with the default configuration, by running the command from the folder where the code to deployed exists."
`az webapp up -n MyUniqueAppName -l locationName`

---
#### Document Details

⚠ *Do not edit thi

[2020-12-08 01:19] akshaysngupta commented on #16165
@miwithro I am the right person for this.
@arrownj can you help here?

[2020-12-08 02:15] yungezz commented on #16177
hi @houk-ms could you pls have a look?

[2020-12-08 02:15] yungezz commented on #16181
route to appropriate team. cc @houk-ms

[2020-12-08 02:16] yungezz commented on #16185
route to appropriate team

[2020-12-08 02:16] yungezz commented on #16182
https://github.com/Azure/azure-cli/issues/14287

[2020-12-08 02:16] yungezz commented on #16181
https://github.com/Azure/azure-cli/issues/14287

[2020-12-08 02:16] yungezz commented on #16178
https://github.com/Azure/azure-cli/issues/14287

[2020-12-08 02:26] hanhsia opened #16186 "can't create an app gateway with https settings"
**Describe the bug**
can't create an app gateway with https settings
**To Reproduce**
az configure --defaults group=$resourceGroupName location=$resourceLocation
az network application-gateway create `
         --name $appGatewayName `
         --vnet-name $virtualNetworkName `
         --subnet $agSubNetName `
         --sku $appGatewaySku `
         --private-ip-address $agPrivateIP `
         -

[2020-12-08 03:43] qwordy opened #16188 "AssertionError: Expected 1 module to load starting with 'azext_': got []"
**Describe the bug**

[code]
After debugging code, I find a solution. Remove extension folder in .azure. However, a normal user is not willing to and is not able to debug code. We can have a command to repair Azure CLI and reset environment.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-12-08 04:00] SteveLasker commented on #14467
Hi folks,
We appreciate it's a bit confusing as there are too many moving parts at various stages of development.
I'll writeup a blog post that explains this a bit further. Here are some rough notes to fill the gap:

To Yugangs point, we will not deprecate the `helm repo ...` feature supported by `az acr helm` until `helm registry` is elevated from experimental. We understand the limits the "exper

[2020-12-08 04:47] haroldrandom commented on #16009
`--set` is the fallback way for updating an Azure Resource if there is no explicit option to update the corresponding property.

What properties do you want to you update though? We could plan to add arguments for them.

[2020-12-08 05:12] #14790 closed

[2020-12-08 05:12] haroldrandom commented on #15984
![image](https://user-images.githubusercontent.com/14357159/101442765-f37da300-3956-11eb-83a5-eadccc10fa27.png)

I cannot reproduce your situation. Could you try it again to see if it stably happened your environment ?

[2020-12-08 05:14] haroldrandom commented on #16028
It's similar to https://github.com/Azure/azure-cli/issues/15984

[2020-12-08 05:18] houk-ms commented on #16113
@ameetkonnur The issue should be resolved, just close the issue here. You can reopen it if there are still problems.

[2020-12-08 05:18] #16113 closed

[2020-12-08 05:21] houk-ms commented on #16112
The fix for the aks-preview extension is released. Please upgrade the extension if you do not wish to upgrade your azure-cli version.

[2020-12-08 05:22] houk-ms commented on #16112
@ameetkonnur The issue should be fixed, just close it now. You can reopen it if there are still problems.

[2020-12-08 05:22] #16112 closed

[2020-12-08 05:23] houk-ms commented on #15872
Should be fixed in #15963, close it now.

[2020-12-08 05:23] #15872 closed

[2020-12-08 05:42] qwordy commented on #16188
Thank you for your feedback!

[2020-12-08 05:58] yungezz commented on #15554
blocked by service

[2020-12-08 06:00] yungezz commented on #14553
hi @btardif I'll add `service attention` label back. Detail of the issue is above as @fengzhou-msft mentioned. Feel free to ping us if any other issue.

[2020-12-08 06:02] #15100 closed

[2020-12-08 06:05] #15692 closed

[2020-12-08 06:23] qwordy commented on #16172
Agree. Breaking change.

[2020-12-08 06:28] qwordy commented on #16077
OK.

A review comment:

[2020-12-08 06:30] dochung4 commented on #16077
This feature has been in preview with limited subscriptions, so the impact of this change should be minimal. Also, there will be a blog post about this as we GA.

[2020-12-08 07:25] jsntcy opened #16189 "[Network] Add more commands and examples for vwan connections"
All the following changes will be in CLI extension `virtual-wan`:
- Add a new command `az network vhub connection command` for hub vnet connection, so we can update the routing configuration properties such as change associated route table to any route table belonging to hub and propagated route tables to any route table belonging to any of the hubs in wan. We can also add/remove labels from propa

[2020-12-08 07:27] jsntcy commented on #16189
Network

[2020-12-08 07:39] idear1203 commented on #16033
Thanks, we are working on this. Please expect January 2021.

[2020-12-08 08:10] #16004 closed

[2020-12-08 08:43] houk-ms commented on #15438
`az vm delete -n` will give the recommendation `az vm delete --ids @-`, is the `@-` by design?

[2020-12-08 09:06] #16151 closed

[2020-12-08 09:31] qwordy opened #16192 "[Compute] Questions about dedicated hosts"
**Is your feature request related to a problem? Please describe.**

A user said

I was able to test several scenarios for dedicated hosts with the az cli today and had two comments:

The feature is no longer in preview, but cli says hosts and host groups are still in preview. Can you remove the ‘preview’ from those two comments ?
I was trying to call the rest api directly from the cli to verify my

[2020-12-08 09:31] qwordy commented on #16192
Will have a look.

[2020-12-08 09:43] wapatmnl commented on #16086
Hi,

I started to put in the support request when the support wizard popped up with some additional information that better explains what is going on behind the curtains. There are the typical instruction to remove the frontendIP configuration and pick another address, which do not really explain how to avoid the issues. But in particular a phrase like "...enter a non-conflicting IP address, prefe

[2020-12-08 09:51] yonzhan commented on #16186
network

[2020-12-08 10:32] pierrejeandev commented on #12044
For future visitors.
Can be done with:
`az functionapp update --resource-group rg-myapp-weu-int  --name func-myapp-myfunction-weu-int --set siteConfig.powerShellVersion=~7`

[2020-12-08 11:49] letienne opened #16195 "Impossible to create "multivalue" traffic manager profile with azure-cli"
Hello,

It seems to be impossible to manage multivalue profiles with azure cli. When creating a profile, the cli throws:

[code]

However, MaxReturn cannot be set via this CLI.

Thanks and kind regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f3db91-d932-fd75-a98e-e125bc297ca8
* Version Independent ID: 985b32d

[2020-12-08 12:23] yonzhan commented on #16195
network

[2020-12-08 12:25] stephenmoloney commented on #14467
Sounds good to me!

[2020-12-08 12:26] dkocich commented on #15682
This happened to me to with fresh install now; then I noticed that I did not install the latest version of MS but outdated one `2.0.81`. I went through https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt again and it works...

## Environment Summary
[code]
## Additional Context

[2020-12-08 12:43] dkubi commented on #14597
If you delete a resourcegroup with an webapp/appserviceplan with vnetintegration you get the same error in case you want to reuse the vnet for a new created webapp

[2020-12-08 13:45] #15682 closed

[2020-12-08 13:46] yonzhan commented on #15682
Good to know.

[2020-12-08 13:54] piizei commented on #16138
This totally broke our infrastructure automation for several projects 😠

[2020-12-08 15:45] christianfelixmerz commented on #15659
@fengzhou-msft that fixed the issue and az command works now, thanks for the hint

[2020-12-08 16:03] jtarchie commented on #14553
I have to say, this is concerning.

We reported this issue in July.
As a security issue, even minor, the turn around time on is concerning.
Is there anything I can do to help expedite this?
Cause based on the github comment history, this is just a game of ping-pong. :-/

[2020-12-08 16:08] mepand commented on #14776
Suggested the workaround. Closing the issue since there is no further action pending at our end. We will triage the permanent fix internally.

[2020-12-08 16:08] #14776 closed

[2020-12-08 16:12] Kotasudhakarreddy commented on #16026
@dtewinkel - can you try passing **ASE** `name` instead of `id`. it should work if you pass `name`. will get back to you on `id` part.

[2020-12-08 16:29] Kotasudhakarreddy commented on #16066
Able to reproduce the reported issue. Will look in to it further.

[2020-12-08 16:32] sbonds opened #16196 "az vm list-sizes shows incorrect vcpu counts for constrained machines re-open"
## Describe the bug

Constrained vCPU VMs show incorrect CPU count info in `az vm list-sizes` (and also in PowerShell `Get-AzVMSize`)

This is identical to the closed-for-inactivity issue #5243.

**Command Name**
`az vm list-sizes`

## To Reproduce:

- `az vm list-sizes --location eastus --query "[?name=='Standard_M128-32ms']"`

Actual output (note numberOfCores):

[code]

## Expected Behavior

Th

[2020-12-08 16:58] willam-gregoire commented on #16078
I looks like I had a linux problem, I now can run the command and get a 200

[2020-12-08 17:13] Kotasudhakarreddy commented on #16076
@kallebysantos - I am unable to repro the issue in version 2.15.0. could you try in the latest version or please share us the debug log for the same.

[2020-12-08 17:18] Kotasudhakarreddy commented on #16111
@JasonFreeberg - thanks for letting us know about the new copy API for slots. we will refer to the **Swagger definition** and implement based on the priority.

[2020-12-08 17:23] moredhel opened #16197 "Azure CLI on Apple Silicon"
## Describe the bug

The following error occurs when running on Apple Silicon from the home-brew install.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --na

[2020-12-08 17:56] nkaretnikov opened #16199 "az storage blob upload-batch: report percentage correctly"
azure-cli 2.16.0

Happens during `az storage blob upload-batch`:

<img width="90" alt="Screen Shot 2020-12-08 at 20 53 08" src="https://user-images.githubusercontent.com/10469885/101522038-bab1ee00-3997-11eb-8e9e-180c57595c08.png">
<img width="93" alt="Screen Shot 2020-12-08 at 20 50 34" src="https://user-images.githubusercontent.com/10469885/101522045-bd144800-3997-11eb-9740-269af03d3dc7.png">

[2020-12-08 17:57] nkaretnikov commented on #16199
Just to clarify: the issue here is the way this is formatted.

I would expect to see:
[code]

[2020-12-08 18:26] panchagnula commented on #14553
@yungezz can you point us to the change or the package you are referring to - so we can take care of this. Thanks!

[2020-12-08 18:58] absyed commented on #14158
None type errors should be fixed in the Pull Request: 14335

[2020-12-08 18:59] absyed commented on #14158
@eandresr are you still experiencing this issue?

[2020-12-08 19:02] tujamg commented on #14747
During the first week of Aug as part of engineering perf improvements, we made changes to our caching strategy which caused a regression for calls made at subscription scope within the same enrollment. The feature is reverted back to mitigate the issue. Let reopen the issue if you see this happening recently.

[2020-12-08 19:09] jainpr commented on #10282
@xtianus79 : Don't think they contradict. The CLI option is there to allow enabling. Using the same option to disable is however not allowed.

[2020-12-08 21:12] ericis opened #16200 "WebApp:az webapp up fails with Node JS"
## Describe the bug

A simple Node.js application will not properly deploy with the CLI command.

**Command Name**

`az webapp up`

**Errors:**
[code]

## To Reproduce:

See this ["hello world" tutorial](https://github.com/ourchitecture/panda/tree/main/src/tutorials/node/azure), specifically deploying the [Node.js web app](https://github.com/ourchitecture/panda/tree/main/src/tutorials/node/azure/a

[2020-12-08 21:13] nodeselector opened #16201 "ArgumentUsageError: argument --command-line: expected one argument"
👋  Hi there! I ran into a bug with azure-cli while trying to spin up some container instances.

**Describe the bug**
Arugments aren't parsed correctly. Steps to reproduce:

**To Reproduce**
[code]

Output:

[code]

**Expected behavior**
I expect that even when passing in arguments that start with '--' that they will be parsed correctly. I should not have to use a workaround like this:

[code]

**E

[2020-12-08 21:44] TPIvan opened #16202 "az webapp log tail and insufficient information about linux"
The documentation for log tail and download says:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee2e287-5fb7-a849-9d3b-87013b783f16
* Version Independent ID: 97f9e1c4-1573-b776-0fce-53c65839d713
* Content: [az webapp log](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az_webapp_log_tail)

[2020-12-08 21:45] #16202 closed

[2020-12-08 21:52] TPIvan opened #16203 "WebApp:az webapp log tail and insufficient information about linux"
az webapp log tail and download says:
_This command may not work with web apps running on Linux._
However there is no other explanation.
There are issues with containeres like this: https://github.com/Azure/azure-cli/issues/1803, but it is almost 4 years old.  It would be very useful to have some explanation about when the commands work and when not or how to obtain log for linux.

---
#### Docume

[2020-12-09 02:04] jiasli commented on #16188
It will be very helpful if you can share more detail about your investigation.

I checked the source code, this seems to be due to a corrupted extension installation that **the folder starting with `azext_` (`EXTENSIONS_MOD_PREFIX`) is missing**.

https://github.com/Azure/azure-cli/blob/04210197837bbceb547f86df7f086a42c96e0d2a/src/azure-cli-core/azure/cli/core/extension/__init__.py#L289-L296

For

[2020-12-09 02:12] yungezz commented on #16203
routing to service team to have a look

[2020-12-09 02:12] yungezz commented on #16201
route to appropriate team

[2020-12-09 02:13] yungezz commented on #16200
route to appropriate team

[2020-12-09 02:13] yungezz commented on #16197
route to appropriate team

[2020-12-09 02:15] yungezz commented on #16196
route to appropriate team

[2020-12-09 02:39] #14397 closed

[2020-12-09 02:55] jeffwmiles commented on #15520
Has there been any update to this? We are stuck in a position of requiring to update capacity but cannot, as the WAF policy cannot be removed.

[2020-12-09 03:27] #15944 closed

[2020-12-09 04:04] #16078 closed

[2020-12-09 04:14] yonzhan commented on #16199
storage

[2020-12-09 04:28] arde0708 opened #16204 "Exclude certain tests when running azdev test"
**Is your feature request related to a problem? Please describe.**
It is not really a problem, but it would be convenient. In our module, 'rdbms', we have quite a large number of tests that take around ~2 hours just for flexible servers. We run our tests in Stage whenever a backend train is deployed. However, vnets are not supported in our stage region. As a result, we always have to comment out t

[2020-12-09 04:37] fengzhou-msft commented on #16188
The issue is likely to be caused by running tests in parallel. We have tests to add and remove the `spring-cloud` extension:
https://github.com/Azure/azure-cli/blob/85d96b07e386ffa56da5e96541b5caebee607a82/src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_autoscale.py#L319-L326

Other tests may throw the above error when the extension is removed while loading it.

[2020-12-09 05:46] qwordy commented on #16188
Right. I was testing network module. It needs eventgrid extension. Then Azure CLI broken.

[2020-12-09 05:53] yungezz commented on #14553
hi @fengzhou-msft could you pls share the detail?

[2020-12-09 06:05] appgwsuppgithub commented on #15520
@Drew Taylor<mailto:ant@microsoft.com>, can you take a look at this?

Thanks,
Suraj

From: Jeff <notifications@github.com>
Sent: Wednesday, December 9, 2020 8:25 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: AppGW Supportability GitHub Contacts <appgwsuppgithub@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Unable to update Capacity units on the App

[2020-12-09 06:06] yonzhan commented on #16204
azdev

[2020-12-09 06:56] dtewinkel commented on #16026
@Kotasudhakarreddy, passing in the name for the ASE works as long as the ASE is in the same resource group as where the ASP is created in. In our case the ASE ans the ASP are in different resource groups, as the ASE is share between a number of ASP for different applications.

[2020-12-09 07:10] dtewinkel commented on #16026
@Kotasudhakarreddy, my bad, it works with 2.15.1. Initially I retested with 2.14.2.
But unfortunately this still is a breaking change. Old scripts won't run on 2.15.0 or newer. We have quite a few of them. Newer scripts won't run on older versions, because they require the resource ID.

[2020-12-09 07:39] fengzhou-msft commented on #14553
@panchagnula `fabric` is only used with `from fabric import Connection` and connection is then used for executing commands remotely.
https://github.com/Azure/azure-cli/blob/85d96b07e386ffa56da5e96541b5caebee607a82/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L3968-L3993

The code can be replaced with similar code using `paramiko`:
https://github.com/Azure/azure-cli/blob/85d96b07e38