[2019-07-17 13:50] snehithm commented on #8223
@tobiasahlm  can you let us know if you are still seeing this issue? We have not been able to repro this with the latest cli version(2.0.69)

[2019-07-17 16:40] elilienstein commented on #9948
Yes,
I should have mentioned this is a free account.
I repeated as follows:
Create free account
Install Azure CLI
On command line do:
az login

az group create --name my-resource-group --location westus

az storage account create --name ericstestaccount --resource-group my-resource-group --location westus --sku Standard_RAGRS --kind StorageV2

az storage account keys list --account-name ericstesta

[2019-07-17 16:41] tjprescott commented on #9845
@MyronFanQiu there is a helper method called `validate_parameter_set` in `azure.cli.core.commands.validators` that can assist here.

[2019-07-17 17:03] ericchansen opened #9963 "`az webapp create` does not handle formatting of arguments well when launched from an Azure CLI task in Azure DevOps"
**Describe the bug**

The Azure CLI tool is doing some weird argument handling in Python. Sorry, it's hard to describe exactly where the bug is. However, you can easily recreate it with my reproduction steps.

**To Reproduce**

Create an Azure CLI tasks in Azure DevOps (see inline code and picture below). Note that you'll need to have already created a resource group and an app service plan.

[cod

[2019-07-17 17:13] panchagnula commented on #9963
@ericchansen want to understand more details here.
1. what happens if you take azure devops off the picture that is use az cli for all operations that is creating a new RG & ASP as well.
2. From reading the details here looks like the error occurs with AAD (auth update operation) can you use --debug flag at the end of each command & see if you see any error details?
Thank you.

[2019-07-17 17:57] ericchansen commented on #9963
@panchagnula Let me help as much as I can.

1. Azure DevOps uses Azure CLI for all the tasks, including the RG and ASP creation. I can't run these commands successfully outside of the pipeline because I don't have the appropriate access rights in this subscription. Theoretically I could do all of this manually in my personal Azure subscription, but that's a lot of work and frankly, it's just not n

[2019-07-17 18:41] cima commented on #3443
I have similar issue. Using --ids switch it return success but it takes no effect. I have to go to portal and bind it manually. We do use wildcard certificate.

[2019-07-17 19:34] hkuadithya commented on #9680
@darkbasic
Are you still facing this issue? Based on the data provided by you, we tested with **ArchLinux** environment and **Azure CLI v2.0.66**.
We were **NOT** able to reproduce the error that you're facing.
Screenshots have been attached below for your reference.

**Output when docker daemon is NOT running**
![1](https://user-images.githubusercontent.com/20955088/61405125-e22d8580-a88d-11e9-9c

[2019-07-17 19:39] btardif commented on #9947
Triage this for next sprint.

[2019-07-17 19:43] btardif commented on #6638
This might require a bit more work than we can accommodate in the current sprint. moving this to next.

[2019-07-17 19:44] btardif commented on #9721
Changes are in PR awaiting review

[2019-07-17 19:44] btardif commented on #9720
Changes are in PR awaiting review

[2019-07-17 19:46] btardif commented on #9707
@carlwoodhouse we need to decide if this is still an issue, if we don't get confirmation from you we will close this item as no repro by end of sprint (July 24th)

[2019-07-17 19:52] carlwoodhouse commented on #9707
I will test again tomorrow and let you know

On Wed, 17 Jul 2019 at 20:46, Byron Tardif <notifications@github.com> wrote:

[2019-07-17 20:32] DenisBiondic opened #9965 "'az network dns record-set ns create' - where is the --subscription parameter?"
Our automation scripts are failing because the command no longer supports a --subscription parameter. We need this functionality to automate resources in multiple subscriptions at the same time.

[2019-07-17 20:33] Zerg00s commented on #8070
Similar issue with the **&** character:
When running this from PowerShell:

```az login -u "denis@contoso.com" --allow-no-subscriptions -p "Pass_&_AY"```

**Error:**
'_AY' is not recognized as an internal or external command,

Escaping & with a backtick does not help.

[2019-07-17 20:37] Zerg00s commented on #8070
Found a workaround that works in PowerShell:

[code]

[2019-07-17 21:01] mistertwoturbo opened #9966 "az policy assignment create having issues assigning initatives"
**Describe the bug**

I'm trying to assign a pre-built Azure policy, more specifically an initiative to my resource group, however I am unable to do so.

**To Reproduce**

If I run:

az policy assignment create --name 'Enable Monitor for VMs' --scope 'Pay-As-You-Go/slyResourceGroup' --policy '/providers/Microsoft.Authorization/policySetDefinitions/55f3eceb-5573-4f18-9695-226972c6d74a'

I get the e

[2019-07-17 21:05] rouxton opened #9967 "Service Principal rights assignement through management group doesn't give proper access"
**Describe the bug**
Assigning rights to an Service Principal through a management group doesn't work as expected. The SP is not bound to any subscription even though it has rights on the subscriptions through the mgmt group.

**To Reproduce**
Create a new SP (az sp create-for-rbac --name testsp --skip-assignement
Assign the new SP to a management group (one which have access to at least one subsc

[2019-07-17 22:05] mdrichardson commented on #8234
This has been fixed for awhile. Closing

[2019-07-17 22:05] #8234 closed

[2019-07-18 03:16] MyronFanQiu commented on #9845
@tjprescott Thanks. I will have a try.

[2019-07-18 05:31] atbagga commented on #9483
@adewaleo  This was fixed by above PR and is released already. We can close this issue.

[2019-07-18 05:32] #9483 closed

[2019-07-18 06:22] jurjenoskam opened #9969 "Front-door: enabling https on frontend endpoint silently fails"
When trying to enable HTTPS with a Front Door managed certificate, the CLI command silently fails. It doesn't output anything and nothing is changed:

[code]

Version used:
[code]

Debug output is surprisingly small:

[code]

[2019-07-18 07:52] charlesguoooo commented on #9903
I have the same problem in pycharm.

[2019-07-18 08:12] MyronFanQiu commented on #9604
@akshaysngupta Hello, from which api version supports `trusted_root_certificates` in the application gateway ?

[2019-07-18 08:21] alanold commented on #9868
Hi Yugang

Testing advice
'I guess I figured out, looks like the role definition of “a614ca30-22f5-5606-b5bf-9ea5669640e2” is applicable in both subscriptions of “73044326-e1af-45d8-a88e-a56ae30e11bd” and “712330b2-aada-46a5-870a-070ed09927f3”
I have not sorted out the right fix, but if you use “—role '/subscriptions/712330b2-aada-46a5-870a-070ed09927f3/providers/Microsoft.Authorization/roleDefini

[2019-07-18 08:23] alanold commented on #9868
Probably requires a separate ticket but there is also an issue with invalid principle when attempting to deploy role assignments via ARM templates (which would be my preferred mechinism)

[2019-07-18 08:48] alanold opened #9970 "Problems authenticating as a service principal (with a key/certificate) using azurecli on macos"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

create self signed cert using these instructions
* openssl genrsa -out cert.pem 2048
* openssl req -new -x509 -key cert.pe

[2019-07-18 11:13] edwardsp opened #9971 "Missing support for subnet-id when creating a volume with netappfiles"
**Describe the bug**
Previously a subnet id could be used when creating volumes when it was an extension.  Since being moved to the main cli this is not available.  The impact here is that I cannot create a volume in a separate resource group to where the vnet is located.

**To Reproduce**
az netappfiles volume create --resource-group <volume-resource-group> --vnet <vname-name> --subnet <subnet-na

[2019-07-18 11:20] owenmather opened #9972 "az webapp config ssl bind results in error when webapp is in different rg than app service plan"
**Description**
`az webapp config ssl bind` command fails with: **_certificate "xyz" not found_** when pfx cert is uploaded to webapp in different resource group than app service plan

**To Reproduce**
Create App Service Plan in resource group 'A'
Create WebApp 'myApp' on Plan in new resource group 'B'
Upload .pfx cert to WebApp

`az webapp config ssl list --resource-group 'B'`
#This shows certifi

[2019-07-18 12:16] AmanGarg-MSFT commented on #9966
I have answered this question here:

https://social.msdn.microsoft.com/Forums/en-US/52c54ee7-542d-40c7-9a83-2a0b43200cf8/az-policy-assignment-create-issues?forum=azurescripting

[2019-07-18 14:32] edwardsp commented on #9971
This is where the subnet-id is generated in the azure cli.  Here is it wrong to assume the resource_group also applies to the vnet:

* https://github.com/Azure/azure-cli/blob/20a25fff6775e5dbc8d7ecae1c037426a25a927a/src/azure-cli/azure/cli/command_modules/netappfiles/custom.py#L93

[2019-07-18 15:50] tjprescott commented on #9965
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/_params.py#L481

Looks like this is the source of the problem. Looks like lines 481 and 482 can simply be removed, as the remainder of DNS commands accept subscription.

[2019-07-18 15:51] tjprescott commented on #9971
If you want a VNET or subnet that are in different resource groups, you need to supply the ARM ID. That is the standard convention in the CLI. If that doesn't work, please reopen.

[2019-07-18 15:51] #9971 closed

[2019-07-18 16:02] #9861 closed

[2019-07-18 16:54] skjensen opened #9973 "devops-pipeline create command breaks if the project name contains a space"
The devops-pipeline create command breaks if the project name contains a space. E.g. "Project Name" when renaming the project to "ProjectName" the same works smoothly.

The problem appear to be related to the creation of the Git Repo.

Command:  az functionapp devops-pipeline create

## Environment Summary

Linux-4.15.0-54-generic-x86_64-with-debian-buster-sid
Python 3.6.5
Shell: bash

azure-cli 2

[2019-07-18 17:06] marstr commented on #9903
@charlesguoooo, is your platform also OpenSUSE?

[2019-07-18 17:22] panchagnula commented on #9860
@gamesbrainiac i am unable to repro this, if you still repro this can you  run the command with --debug flag & share the details. Please free to share via email to sisirap@microsoft.com incase you don't prefer to share it here. Thank you!

[2019-07-18 19:02] panchagnula commented on #6185
@JohnReeson looking at the validation from the API for username it throws an exception only if the value is empty or >60 characters - there are other validations the API does, that we don't plan on moving to the CLI client. if you are still seeing failures with this command please run with --debug flag, that should give you details on what is causing the error. Closing this as won't fix.

[2019-07-18 19:02] #6185 closed

[2019-07-18 19:23] jnoller commented on #9651
This is a definite bug.

Looking at the stack trace, its more than likely due to a Python 3 vs Python 2 issue in the command line or the extension. Any Redhat Linux flavor (Centos, Fedora, etc) has Python2 pinned to the default version. The stack trace is occurring when the core CLI is loading the AKS extension to the CLI. I’ve seen reports of issues like this in the past where Python 3 native syn

[2019-07-18 19:43] panchagnula commented on #9914
@mratrifork please follow the examples in the documentation on using the --settings, the command excepts a KEY=VALUE format. in your case the key is "endpoints" & value is "{'api': 'https://example.com'}"
So run the command as
az webapp config appsettings set -n{} -g {}  --settings endpoints="{'api': 'https://example.com'}"

or use a json file with the settings with say name appsettings.json
{
  "

[2019-07-18 19:43] #9914 closed

[2019-07-18 20:04] panchagnula commented on #9963
Given Devops uses PowerShell trying to run CLI commands from Powershell will need double quotes in some cases - just like you mentioned here. If you want to use PowerShell use the PowerShell commands directly https://docs.microsoft.com/en-us/powershell/module/Az.Websites/?view=azps-2.4.0&viewFallbackFrom=azps-1.3.0 thanks!

[2019-07-18 20:04] #9963 closed

[2019-07-18 20:09] ericchansen commented on #9963
I would imagine that improving the exception message should be the right course of action at the least. This isn't a very descriptive error message.

[code]

Also, I can't use an Azure PowerShell task because it doesn't have the same access rights to manage resources as the Azure CLI. I can run PowerShell commands from Azure CLI that are forbidden in Azure PowerShell.

[2019-07-18 20:11] panchagnula commented on #9963
ACK! something we will consider for a later time currently this is out of scope for us.

[2019-07-18 21:03] divgo commented on #6615
This command worked for me,

```az storage file delete-batch --account-name [StorageAccountName] --source [ShareName] --pattern [FilePattern]```

In my case, the pattern I passed was "app-2019*". I had a huge collection of log file output from Spark that I wanted to purge from Azure Files.

what was weird was that this command deleted all the FILES in the folders, but did not delete the folders th

[2019-07-18 23:52] jluk commented on #9651
@tjprescott or @yugangw-msft any ideas on this? I can't imagine this is an AKS isolated issue.

[2019-07-19 02:37] yugangw-msft commented on #9651
@marstr, any ideas?

[2019-07-19 03:55] bhanush3 opened #9975 "az functionapp config ssl upload failed with 'NoneType' object has no attribute 'hosting_environment_profile'"
**Describe the bug**
az functionapp config ssl upload failed with 'NoneType' object has no attribute 'hosting_environment_profile'

**To Reproduce**

az functionapp config ssl upload --certificate-file "C:\Users\goswami\Downloads\dev.pfx" --certificate-passwor "password" --name "Function1" --resource-group "rg1"

The command failed with an unexpected error. Here is the traceback:

'NoneType' objec

[2019-07-19 06:08] charlesguoooo commented on #9903
@marstr no, It was happened in pycharm on mac. look this
[code]

But if not in pycharm,Just run `python test.py`,the return result is right

[2019-07-19 06:29] zikalino commented on #9975
There should me more checks in function app implementation.
I just ran exactly the same command and I got exactly the same error. (without even creating function app beforehand).

[2019-07-19 06:29] panchagnula commented on #9972
@owenmather what is the version of CLI you are using? please run az --version & share the details here? thank you.

[2019-07-19 06:49] bhanush3 commented on #9975
I didn't get what do you mean by "There should me more checks in function app implementation." could you please elaborate it?

[2019-07-19 06:52] zikalino commented on #9975
I mean I tried exactly the command you used:

az functionapp config ssl upload --certificate-file "C:\Users\goswami\Downloads\dev.pfx" --certificate-passwor "password" --name "Function1" --resource-group "rg1"

without creating functionapp first, and it just crashed in the same way. It should tell me that function app "Function1" doesn't exist.

[2019-07-19 06:54] edwardsp commented on #9971
Reopening as there is no support for the full subnet-id.

[2019-07-19 06:57] edwardsp opened #9976 "Missing support for subnet-id when creating a volume with netappfiles (reopening)"
**Describe the bug**
Previously a subnet id could be used when creating volumes when it was an extension.  Since being moved to the main cli this is not available.  The impact here is that I cannot create a volume in a separate resource group to where the vnet is located.

**To Reproduce**
az netappfiles volume create --resource-group <volume-resource-group> --vnet <vname-name> --subnet <subnet-na

[2019-07-19 07:13] kamil-mrzyglod opened #9977 "Certificate create policy parameter"
I find the -p/--policy parameter for `az keyvault certificate create` a little bit misleading - it suggests, that if I want to load policy from a file, I should use @{file}. You can clearly miss the concept here as initially, you want to use @{my-policy.json} syntax instead of @my-policy.json. Extending the hint would help in proper usage of the command.

---
#### Document Details

⚠ *Do not edit

[2019-07-19 08:12] owenmather commented on #9972
@panchagnula
Seeing this with Hosted Ubuntu 1604 on Azure DevOPs and on Azure portal with Powershell Cloud Shell:

**Hosted Ubuntu 1604**
---
2019-07-18T09:30:21.8786881Z [command]/usr/bin/az --version
2019-07-18T09:30:23.7790310Z azure-cli                         2.0.67 *
2019-07-18T09:30:23.7791069Z
2019-07-18T09:30:23.7791400Z acr                                2.2.9
2019-07-18T09:30:23.7791791

[2019-07-19 08:15] bhanush3 commented on #9975
what do you assume the issue here?

[2019-07-19 08:32] zentekpoolsystem opened #9979 "az webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-07-19 09:18] tobiasahlm commented on #8223
@snehitm - It seems to work now, thanks for the update.

[2019-07-19 09:18] #8223 closed

[2019-07-19 09:54] snehithm commented on #8223
Thanks, @tobiasahlm. Good to know the issue is resolved and sorry for the inconvenience in the past.

[2019-07-19 11:57] #9975 closed

[2019-07-19 11:57] bhanush3 commented on #9975
its resolved

[2019-07-19 12:22] pmaaren opened #9980 "How to set useCommonAlertSchema to true"
I’m using the Azure cli to create an action group with the email action where the useCommonAlertSchema is set to true. So far, I’m unsuccessful. Can you please add a description how to accomplish this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c03d4ff4-4752-4ed4-2f6c-312ff3fd9fd8
* Version Independent ID: 822e4b3b

[2019-07-19 15:30] marstr commented on #9651
RHEL is the last way we distribute that still relies on Python 2. My guess is that there is some Python3 specific syntax that snuck into the AKS module, as @jnoller mentioned.

[2019-07-19 15:45] tjprescott commented on #9976
@leonardbf `--subnet` should accept a name or ID. Same with `--vnet`. I assumed this was already the case since otherwise the conventional naming of these arguments would be `--subnet` and `--vnet-name`.
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#supporting-name-or-id-parameters

[2019-07-19 15:45] panchagnula commented on #9979
@zentekpoolsystem thanks for reporting this. Looking at the details seems like this is a node app with package.json & seems like we have an issue parsing the package.json to get the node version.

Can you share your package.json here? Also, in order to workaround this if your code has index.js or server.js file you can delete the package.json & the command will work to create & deploy a node app.

[2019-07-19 16:36] Petermarcu opened #9981 "Update Azure cli library to add support for VMSS Plan name update"
@SamRakaba commented on [Fri Jul 19 2019](https://github.com/Azure/azure-sdk/issues/519)

When creating an Redhat custom image, the plan information meta data is not carried with the image. if we are creating a scale set and use custom image with one plan and attempt to update to new image, the Plan information can only be done through ARM PATCH verb.
can we add support  for "Az vmss update " comm

[2019-07-19 16:37] Petermarcu commented on #9981
Thanks for reporting this issue. @yugangw-msft, can you take a look?

[2019-07-19 18:09] v-Ajnava commented on #8775
Hi @sajayantony, the fix is in the latest CLI release 2.0.69. please use the latest CLI and let us know if you have any queries.
closing this issue.

[2019-07-19 18:09] #8775 closed

[2019-07-19 18:52] SourceStudio opened #9982 "Pull Request Triggers"
I created an ACR task which successfully fires on a push to the master branch of a GitHub repository, but I could not seem to get it to fire on the opening of a pull request.  Are pull request triggers able to work with private GitHub repositories? Are there any other conditions that need to be satisfied before the trigger fires, or should it simply require a pull request to be opened? Thanks.

--

[2019-07-19 19:29] manojvazirani opened #9983 "The group deployment list --top does not work as expected."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. Complete multiple deployments.
2. List deployments with --top 1.
3. Lists all deployments instead of the top 1

[2019-07-19 20:32] panchagnula commented on #5524
@btardif can you review this ask please?

[2019-07-19 20:45] jlian commented on #2116
Sorry, what is the expected behavior here?

[2019-07-19 20:45] jstallm opened #9984 "webapp:Specify default timeout , which is not stated clearly in docs"
I can see that timeout is available as a parameter here
https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-deployment-source-config-zip

But nothing states the default timeout. Can you please update the docs here
https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-deployment-source-config-zip

to inclu

[2019-07-19 20:48] btardif commented on #5524
Looking at this thread there seem to be a lot of duplicate functionality with `az webapp up` command.

We are currently working on adding per stack (node/python/.net/etc...) default ignore logic as well as having user define ignore paths.

I think parsing the `.gitingonre` file if present is a brilliant idea @anthonychu

I think all of this request are valid from an experience perspective and `az

[2019-07-19 20:51] jlian commented on #2531
Feature request

[2019-07-19 20:52] jlian commented on #2826
We should have parity. Feature request.

[2019-07-19 20:53] jlian commented on #4635
Bug.

[2019-07-19 20:53] panchagnula commented on #9972
@owenmather thanks for the info. I tried the different RG scenario out & was not able to repro this.
Can you run the command with --debug & share where exactly the NoFound Error is coming from. You can remove any sensitive info before you share here or you can send me an email with the details directly at sisirap@microsoft.com. thank you.

[2019-07-19 20:54] jlian commented on #4969
Similar to Azure Government. A bug.

[2019-07-19 20:58] jlian commented on #5844
This will need a new release from us. Feature request

[2019-07-19 20:59] jlian commented on #7344
`--location` shouldn't be an optional parameter. This is a bug

[2019-07-19 21:03] jlian commented on #7799
@binishababu can you let us know if you're still hitting this issue?

[2019-07-19 21:04] jlian commented on #8323
Thanks, we will look into this.

[2019-07-19 22:04] peterpogorski commented on #4328
We are currently investigating how we can implement these tests.

@bsiegel can you please assign this issue to @a-santamaria?

[2019-07-19 22:15] peterpogorski commented on #5180
Thank you for your feedback. We have added this to our backlog.

Please assign to @tjprescott to @a-santamaria.

[2019-07-19 22:21] peterpogorski commented on #4790
This issue has been resolved. Please reopen if you experience this issue again.

[2019-07-19 22:21] #4790 closed

[2019-07-19 22:22] peterpogorski commented on #4583
Thank you for the feedback!

I am closing as this cmdlet does not currently exist. In the future we are looking at expanding the application cmdlet to support more functionality.

[2019-07-19 22:22] #4583 closed

[2019-07-19 22:33] peterpogorski commented on #9187
Thanks for your feedback. In this next release we are going to deprecate this cmdlet.

[2019-07-19 22:33] #9187 closed

[2019-07-19 22:36] peterpogorski commented on #7889
Thanks for the feedback. @a-santamaria is currently investigating.

[2019-07-19 22:44] peterpogorski commented on #6536
@icyblade @a-santamaria is investigating and should implement a fix soon.

[2019-07-19 22:52] peterpogorski commented on #9774
@lovelangly Thanks for the feedback! At this time we are not going to be adding this cmdlet as we do not have the required functionality to remove a certificate from an application.

When completing this action, the cerificate is not actually removed from the current VMs in the VM scale set but will indicate that the certificate will not be added to new VMs added to the scale set.
_go to https://r

[2019-07-19 22:52] #9774 closed

[2019-07-19 23:03] yugangw-msft commented on #9981
@SamRakaba, I might need more information from you, but let me try to understand:
1. To confirm, I assume you are not updating the base image; rather just like to update the plan name, correct?
2. Even a custom image doesn't capture the plan information, when you create a VM/VMSS from it, you can always supply the right plan information, which is what I would suggest you do.
3. Once the VM/VMSS wa

[2019-07-20 01:39] panchagnula commented on #9947
Fixed by https://github.com/Azure/azure-cli/pull/9985

[2019-07-20 01:39] #9947 closed

[2019-07-20 15:44] yugangw-msft commented on #9983
@Tiano2017 , this is a service end bug, can you cross check whether this `top` query string still works?
Please check out the full uri below, as you can tell Azure CLI does supply the `top` query string
[code]

[2019-07-20 15:59] yugangw-msft commented on #9970
@alanold, the pem file has to be in a particular format which is to include both the key and the public cert(for calculating the thumbprint). Please use the command of `az ad sp create-for-rbac  --create-cert` to produce a sample service principle with the certificate and then inspect the file content to understand the format.
Meanwhile, I will keep the issue open for us to fix the uncaught except

[2019-07-20 16:44] yugangw-msft commented on #9967
Let me contact RBAC group to clarify.

[2019-07-20 16:50] yugangw-msft commented on #9966
@AmanGarg-MSFT, thank you!

[2019-07-20 16:50] #9966 closed

[2019-07-20 17:02] yugangw-msft commented on #9958
@jongio, based on the screen snapshot you provided, it appears at some point you installed the CLI using `pip`. CLI windows installer can only upgrade the one acquired through the installer and would not recognize the one through pip.
Specifically to pip, deleting the entry scripts of `az.bar` is not a complete uninstall as the bulk files would still be under `c:\Python36\Lib\site-packages`. And t

[2019-07-20 17:24] yugangw-msft commented on #9938
@Juliehzl, the exact command should not matter as you can reproduce with any storage commands using `--auth-mode`. Please work with @limingu to cross check the latest names though "az role definition list" and remove the `(Preview)` suffix.

[2019-07-20 17:35] yugangw-msft commented on #9933
@andreivirgiltudor, please run the command with "--debug" and share with us the trace; also did you install the CLI through the `pip`?

[2019-07-20 17:56] yugangw-msft commented on #9931
`Property identifierUris value is required but is empty or missing.` is an AAD graph server error which only pops up in the China Cloud, let me contact AAD graph team to clarify this

[2019-07-20 18:13] yugangw-msft commented on #9919
Updating from arbitrary json fragments is unsupported. Please check out the [tip](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#using-the-generic-update-arguments) for recommended ways to use the update command.

[2019-07-20 18:16] yugangw-msft commented on #9919
Meanwhile, I am closing this issue even though there is an uncaught exception, but that is part of the nature of being generic. Feel free to post follow-up questions though.

[2019-07-20 19:30] gamesbrainiac commented on #9860
@panchagnula You need to wait for a little bit for the problem to crop up.

[2019-07-20 19:59] panchagnula commented on #9860
@gamesbrainiac I did have the command running for a while ~15mins before I decided to terminate - if you have repro steps or if this is happening for a specific kind of app or with some specific setting that would be useful info as well.

[2019-07-20 20:33] gamesbrainiac commented on #9860
@panchagnula I had it running for a few hours before this happened.

[2019-07-20 21:33] owenmather opened #9988 "azure cli failing on single character Resource Group"
**Description**
`az webapp` cli commands are failing when using a resource group with a single character name.

![Capture](https://user-images.githubusercontent.com/18704330/61584325-22b72880-ab46-11e9-9e29-d5b2962a30e3.PNG)

**To Reproduce**
Create a resource group with single character name and try run webapp cli commands against it:
The following snippet reproduces error for me through Azure Cl

[2019-07-20 22:45] owenmather commented on #9972
[azureSSLBindings.log](https://github.com/Azure/azure-cli/files/3414041/azureSSLBindings.log)

[2019-07-20 22:54] panchagnula commented on #9988
@owenmather does this happen only with cloud shell? I remember a similar error message on another web app command which was giving a similar error but had nothing to do with RG name what happens on cloud shell if you run this az group show --name B - do you see similar error?

[2019-07-20 22:55] owenmather commented on #9972
@panchagnula

Sure please find log file with debug attached from running below commands:

[code]

[azureSSLBindings.log](https://github.com/Azure/azure-cli/files/3414043/azureSSLBindings.log)

[2019-07-20 23:06] jaycle commented on #8191
I hadn't checked but I just updated to latest (`2.0.69`) and it seems to understand the arguments.

[2019-07-20 23:32] owenmather commented on #9988
@panchagnula
Other commands succeed for me on cloud shell.  Only found `az webapp` sub commands are failing with above error.

Also seeing this on Linux host not just cloud shell:
![Capture](https://user-images.githubusercontent.com/18704330/61585234-49318f80-ab57-11e9-967f-3fe9c24d8a92.PNG)

[2019-07-21 00:13] hitendrajagtap commented on #9919
Thanks Yugang. can we open a feature request for this? Seems like a useful scenario.

[2019-07-21 07:27] naqash11 opened #9989 "I want Azure CLI to be able to create Monitor Alert rules for all subscriptions at once."
I am trying to create Azure Monitor log alerts using Azure CLI for all subscriptions. I can create rules for only one subscription but i want to replicate it to other subscriptions too. Specifically, i am creating alerts for Storage, VM and Resource Group.

Please help me achieving this.

[2019-07-21 15:04] chetanpisal opened #9990 "az vm image list -o table"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm image list -o {}`

## Expected Behavior

## Environment Summary
[

[2019-07-21 16:27] ahmedelnably commented on #8191
Thanks @jaycle, will close the issue for now, if you have any other issues please open a new one and we will take a look

[2019-07-21 16:27] #8191 closed

[2019-07-22 01:41] zikalino commented on #9990
@chetanpisal is this error occurring consistently for you?

This problem could be similar to described in following article:

https://blog.jhnr.ch/2018/05/16/working-with-azure-cli-behind-ssl-intercepting-proxy-server/

[2019-07-22 02:29] wrosenuance opened #9991 "Log configuration settings are not respected"
## Describe the bug

According to [the documentation](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration), it should be possible to disable all logging in the Azure CLI by editing the `$AZURE_CONFIG_DIR/config` file or running `az configure` and answering no when prompted.

However, the setting in the configuration file is no longer respected, seemingly as of commit [86385e6452f03a

[2019-07-22 02:35] limingu commented on #9961
The root cause is that download-batch command only list and check the current files matching the pattern. If the file is deleted and only exists in the snapshot, download-batch command won't download it. The fix should let download-batch check the snapshot when the snapshot parameter is provided.

[2019-07-22 03:12] MyronFanQiu commented on #9474
@malopMSFT Hi. Recently, I'm working on this issue. I have a few questions and need your help.

- I don't fully understand the private-resources, especially the Private Resource Connections. In another issue https://github.com/Azure/azure-cli/issues/9475, private-link-service will have a command called `private-endpoint-connection` which can set `private-link-service-connection-state`. Here for th

[2019-07-22 04:00] MyronFanQiu commented on #9474
@malopMSFT Besides, now, is our minimal API Version still 2019-02-01 or 2019-04-01?

[2019-07-22 05:28] stuartatmicrosoft opened #9992 "az ad sp update --id X is unable to update and add/set replyUrls using Azure Linux CLI"
**Describe the bug**
`az ad sp show --id <SP-APP-ID> -o json`

Presently shows the following values for replyUrls:

  "replyUrls": [
    "https://openshift.45351853065e49c09edf.eastus.azmosa.io/oauth2callback/Azure%20AD",
    "https://foo",
    "https://openshift.f86b74e75a0147bd8b14.eastus.azmosa.io/oauth2callback/Azure%20AD"
  ],

I wish to add a new entry to this list and am unable to do so.

*

[2019-07-22 05:32] stuartatmicrosoft commented on #9992
The following error message is also produced: "Invalid value specified for property 'replyUrls' of resource 'ServicePrincipal'."

[2019-07-22 06:08] zentekpoolsystem commented on #9979
@panchagnula  Thanks. This is my package.json:
{
  "name": "zepra_diagram",
  "version": "1.0.0",
  "main": "server/server.js",
  "engines": {
    "node": ">=4"
  },
  "scripts": {
    "test": "mocha",
    "lint": "eslint .",
    "start": "node .",
    "scheduler": "node server/cron.js"
  },
  "dependencies": {
    "bcrypt": "^3.0.6",
    "compression": "^1.0.3",
    "cors": "^2.5.2",
    "date-fn

[2019-07-22 06:30] zikalino commented on #9992
I have checked Python SDK and underlying Azure REST API specs.

The reason for this failure is that neither create or update parameters of the REST API don't contain **replyUrls** field:

[code]

This field is available only in get parameters:

[code]

[2019-07-22 06:31] zikalino commented on #9992
I think there may be an error in Azure REST API specs

[2019-07-22 06:35] saccy opened #9993 "Remove 'sourceAddressPrefix' key and keep 'sourceAddressPrefixes'"
If there is only one source address present on the NSG rule it will present under the 'sourceAddressPrefix' key, otherwise if there is > 1 source there will be a list under 'sourceAddressPrefixes' key.

I suggest consolidating to 'sourceAddressPrefixes' and making it possible to have a list of 1 to make it easier when automating.

example data with one source address on an nsg rule:
[code]

exampl

[2019-07-22 12:56] jurjenoskam opened #9994 "az cloud show: typo in Microsoft Graph endpoint"
In `az cloud show`, the list of endpoints includes `microsoftGraghResourceId`, while it most likely should be `microsoftGraphResourceId` (note the misspelling in `Graph`):

[code]

[code]

[2019-07-22 13:03] Sridhart97 opened #9995 "Az storage blob copy start failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob copy start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob copy start --verbose --account-key {} --accou

[2019-07-22 16:22] yugangw-msft commented on #9993
@tjprescott, any comments?
/CC @MyronFanQiu

[2019-07-22 16:23] yugangw-msft commented on #9992
Updating the label

[2019-07-22 16:30] yugangw-msft commented on #9919
Yes, we can consider this for the end to end scenario that you can download the manifest from portal, tweak a bit and then patch back to graph.
Reactivating. We will plan for it once we get enough votes.

[2019-07-22 17:04] btardif opened #9997 "[web] - Az webapp up logic for removing dirs for python detected app, before performing zip deployment"
look for site-packages, and backtrack from there,

`<virtualenv>/lib/<pythonversion>/<site-packages>`
or
`root/<virtual environment>/lib/<site-packages>`

So site packages, backtrack to the folder containing lib, assume it's the virtual environment and then ignore that entire folder

[2019-07-22 17:29] Huge opened #9998 "`az feedback` is confused when no web browser is available"
**Describe the bug**
`az feedback` doesn't work without a browser and doesn't acknowledge that.

**To Reproduce**
`docker run -it microsoft/azure-cli`
`...`
`az feedback`
says "**A browser has been opened to aka.ms/azcli/issues to create an issue.**" which is false.

**Expected behavior**
Detect whether a browser is available and inform accordingly. Could do something like the `az login` does ther

[2019-07-22 17:37] btardif commented on #9862
@Socolin  this is the feature that I think will be a better solution for you. We are still in the process of building it, but it will let you set a health ping to a specific route in your app/slot and report health across instances.

https://github.com/projectkudu/kudu/wiki/Health-Check-%28Preview%29

[2019-07-22 18:39] malopMSFT commented on #9474
@MyronFanQiu please use 2019-04-01, let's have a meeting to discuss the implementation of those options on the private endpoint connections area, is basically a generic method to list, approve and reject on multiple resource APIs

[2019-07-22 19:17] panchagnula commented on #9988
This is failing with a regex validation on the API level for Resource group name on all the appservice APIs

https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/web_apps_operations.py

   'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\

[2019-07-22 19:34] smartpcr opened #10000 "list all addons and their state"
would be nice to list all add-ons on aks and if they are enabled.

[2019-07-22 21:21] yugangw-msft commented on #9977
Fixed by #9999

[2019-07-22 21:21] #9977 closed

[2019-07-22 21:24] #9840 closed

[2019-07-22 22:16] stewartadam commented on #8264
Note that this clarified `—skip-assignment`, but not what a ‘default assignment’ is earlier in the docs per OP’s recommendation.

I just ran into this as well and its extremely unclear that `create-for-rbac` grants permissions to the subscription by default. That’s a broad permission and deserves an explicit callout whenever ‘default assignment’ is mentioned.

[2019-07-22 22:58] panchagnula commented on #9720
Moving this out to next sprint

[2019-07-22 22:58] panchagnula commented on #9721
Moving this out to next sprint

[2019-07-22 23:00] hitendrajagtap commented on #9919
for context, I had asked if it can be a feature request. Thanks, Yugang.

[2019-07-22 23:12] yugangw-msft commented on #9998
Add `feedback` specific label

[2019-07-22 23:53] panchagnula commented on #9984
Unfortunately there is no default time out we can share here - the timeout is a big  concern if you are doing a BUILD operation along with your deployment.  The deplpyment operation itself is async  (will continue to happen on the background )& CLI command line exists checking the status after 10 attempts & returns an error message.

We have seen that for customers who have either requested BUILD

[2019-07-23 00:11] jongio commented on #9958
Gotcha. Thanks. I must have forgot I did that.  I ran `pip uninstall azure-cli` to clean things up.

[2019-07-23 00:11] #9958 closed

[2019-07-23 00:30] MyronFanQiu commented on #9474
@malopMSFT Sounds good. Let's have a meeting tomorrow.

[2019-07-23 02:20] yugangw-msft commented on #9990
Agreed with @zikalino. On top of his suggestion, CLI also has a [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) for this.

[2019-07-23 02:20] #9990 closed

[2019-07-23 02:27] yugangw-msft commented on #9991
The files under `$AZURE_CONFIG_DIR/commands` contain information for people to report issue/suggestion through `az feedback`, and are not related with logging to file

[2019-07-23 02:27] #9991 closed

[2019-07-23 02:27] yugangw-msft commented on #9991
Closing. Please let us know if you have any further questions.

[2019-07-23 04:37] SeaDude opened #10001 "--service-objective `Basic` no longer works"
What is the correct syntax for the Basic --service-objective?
This recently stopped working in my script and instead, autoprovisions a $403/mo. SQL Server Instance with the error: `./createAzureSQLServerAndDB.sh: line 56: --service-objective: command not found`
I have to go into portal.azure.com and manually set the pricing tier.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-07-23 05:25] wrosenuance commented on #9991
Is there any way to avoid having these files created?

[2019-07-23 05:29] yugangw-msft commented on #8264
@stewartadam, I am updating the command to output a message of creating such a role assignment.
Also the help of `--skip-assignment` has already mentioned the default assignment.

[2019-07-23 06:31] zikalino opened #10003 "Build failure"
Following commit is causing CI failure. I am creating it to trace it.

https://github.com/Azure/azure-cli/commit/1b80e0dcfebb2e7f37293686d580baf62e64ce17

Please note that the line in **bold** was not appearing in any previous logs, and it's causing the problem.

2019-07-18T16:00:05.8723480Z ==> Downloading https://files.pythonhosted.org/packages/58/40/0d783e14112e064127063fbf5d1fe1351723e5dfe9d6d

[2019-07-23 06:49] insan6983 opened #10004 "az acr login failed bad handshake"
I have an issue with login to a Azure Container Registry using Az acr login
Issue seems limited to my PC only.
I'm using PowerShell 7 preview in Windows 10. (PowerShell 5 is corrupted so I'm using 7 instead)

I can login to other container registry ‘droecoprodskilluiregistry' in subscription 217d614e-293a-4b09-b8c4-4e2f2ff78037

but **az acr login** error happens only when logging in draskilluipre

[2019-07-23 07:14] zikalino opened #10006 "Remove obsolete line from Homebrew"
Just creating this issue here, as i need to figure out what is the right way to do that:

Following line is now obsolete/unnecessary:

https://github.com/Homebrew/homebrew-core/blob/afd1f699d17314a985ac50121b26df519cf1e4a5/Formula/azure-cli.rb#L673

It caused following issue (but also helped detect wrong location of test files):

https://github.com/Azure/azure-cli/issues/10003

[2019-07-23 07:16] zikalino commented on #10003
The issue was caused by test recording checked into wrong folder:

Fix is here
 https://github.com/Azure/azure-cli/pull/10005

Additionally I have created this issue to cleanup homebrew:

https://github.com/Azure/azure-cli/issues/10006

[2019-07-23 07:50] johanburati commented on #9912
Thanks @marstr/@yugangw-msft/@zikalino !

Any idea when the fixed package will be published to the repo ?

[2019-07-23 07:54] zikalino commented on #9912
@johanburati  it will be out next week on tuesday

[2019-07-23 08:52] smartpcr opened #10008 "add additional secret to service principal"
there is only reset/delete/list command, would like to have "add" command
[code]

[2019-07-23 11:49] leonardbf commented on #9976
@tjprescott ok, I will provide an update

[2019-07-23 12:44] ryciakd opened #10011 "Updating applicationGateways property of waf policy throws "Unable to deserialize to object""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway waf-policy update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information. Both commands gives the same error:

- `az network application-gateway waf-policy u

[2019-07-23 13:41] alexwlchan opened #10012 "Allow me to make a single sign-on SAML request using the Azure CLI"
**Is your feature request related to a problem? Please describe.**
I want to make SAML requests to Azure Active Directory using the CLI.

**Describe the solution you'd like**
Ideally, a way to make an HTTP request as the logged-in user.

There’s already an `az rest` command that looked like it would be close:

[code]

but it doesn't seem to work. If I try that, the response is a "Please sign into

[2019-07-23 14:00] davorbadrov opened #10013 "az webapp up fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-07-23 14:13] TheHunter896 opened #10014 "Az CLI network vnet subnet delete command returns an incomplete response"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The response from az cli is not complete, does not tell me what is using the subnet, "is in use by (nothing) and cannot be deleted"

**Command Name**
`az network vnet subnet delete`

**Errors:**
[code]

## To Reproduce:
Execute the command
[code]
No prerequisites

## Expected Behavior
az cli tells me what is us

[2019-07-23 14:20] geebee3 opened #10015 "CLI Wont allow me to create VM, error message: An RSA key file or key value must be supplied to SSH Key Value."
So im currently on using bash on the cli. I am trying to create a new VM using the command: `az vm create -g FirstRG -n FirstVM -l EastUS --image UbuntuLTS`

It reads me an error message stating: An RSA key file or key value must be supplied to SSH Key Value. You can use --generate-ssh-keys to let CLI generate one for you

could someone please help me out July 23, 2019. I am currently using the cl

[2019-07-23 15:56] panchagnula commented on #10013
@davorbadrov thanks for reporting this - I believe this is because of the python version, can you check the version of python you are using by running python --version if the version is 2.* , can you install python 3.5 , that should fix the issue, in the meantime I will update the command to handle older versions of python  as well.

[2019-07-23 16:29] yugangw-msft commented on #10015
You can just specify the `--generate-ssh-keys` and the command will work. Or you can use your own key file and supply it through `--ssh-key-values`. For context, you can check out the [doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mac-create-ssh-keys)

[2019-07-23 16:29] #10015 closed

[2019-07-23 16:29] pelon34 opened #10016 "Need examples to clarify how all this commands are used."
This documentation is very ineffective to our customers if they are unable to reference examples with values that show how all this parameters are used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a635a197-a39e-7368-9d30-78c6e686272a
* Version Independent ID: 1a6dcecc-d86f-ea73-7452-ba8a9ba2137e
* Content: [az stora

[2019-07-23 16:33] yugangw-msft commented on #10014
This is a question, rather an issue to me
@MyronFanQiu, any commands can help @TheHunter896 to find out?

[2019-07-23 16:36] yugangw-msft commented on #10008
There is a `--append` flag coming with the `reset` command. This is a little inconsistent here. Sorry about that.

[2019-07-23 16:36] #10008 closed

[2019-07-23 16:38] yugangw-msft commented on #10016
/CC: @Juliehzl

[2019-07-23 16:50] davorbadrov commented on #10013
@panchagnula

Thanks for the swift reply. You are right, my python version is 2.x and python 3.x is under `python3` on my machine, I've added my terminal outputs below.

[code]

[2019-07-23 17:05] Lelelo1 opened #10017 "The vm should be connectable after az vm start process has finished"
**Is your feature request related to a problem? Please describe.**

**Yes:** When creating a script that `az vm start` - and then proceeds with connecting to the vm with rdp and `Microsoft Remote Desktop` - **the vm is not ready**. This occurs even though the script is waiting for the `az vm start` process to finish first. The vm is not ready to be connected to and `Microsoft Remote Desktop` displ

[2019-07-23 17:21] jaepark08 opened #10018 "Add PrivateIPAddressVersion in LoadBalancerFrontendIpConfiguration"
**Resource Provider**
What is the Azure resource provider your feature is part of?
NRP

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Adding a field 'PrivateIPAddreeVersion' in LoadBalancerFrontendIpConfiguration.

**Minimum API Version Required**
What is the minimum API version of y

[2019-07-23 18:12] #9994 closed

[2019-07-23 18:12] #9998 closed

[2019-07-23 18:25] panchagnula commented on #10013
@davorbadrov thanks for confirming, the current workaround would be to make the Python 3 your default Python version if that doesn't impact any other work for you.

[2019-07-23 19:16] SvenLauterbach opened #10020 "Name parameter should contain information about valid characters and length"
When executing the example command for creating a new storage account the CLI says, that the name is invalid:

az storage account create -n MyStorageAccount -g MyResourceGroup -l westus --sku Standard_LRS

MyStorageAccount is not a valid storage account name. Storage account name must be between 3 and 24 characters in length and use numbers and lower-case letters only.

The example should be updat

[2019-07-23 19:59] panchagnula commented on #9979
@zentekpoolsystem  thanks for sharing for now update the node version in your package.json to '4.0' from 4 , so this one

"engines": {
"node": ">=4.0"
} this will fix it, i am adding error-handling for this.

[2019-07-23 23:16] jacobw125 commented on #9444
Hi @rickle-msft - I submitted this ticket months ago and there's been no activity since, any chance you can help this ticket get at least triaged? This is a serious usability issue.

Thanks,
Jacob

[2019-07-23 23:27] zikalino commented on #10020
Just reference from REST API SPECS:

https://github.com/Azure/azure-rest-api-specs/blob/2fcd0139889b923094b39a6aae015e1ea3604b68/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json#L2362

In addition storage account name should be globally unique.

I suggest in such cases we should follow pattern like:

mystorageaccount123

So basically here we use exactly the s

[2019-07-23 23:31] zikalino commented on #10017
This is something that could be probably fixed in Azure CLI.
Probably also Python SDK could be a good place to look into.
However it needs some more investigation in Azure CLI side

[2019-07-23 23:38] rickle-msft commented on #9444
@jacobw125 I am sorry that you have experienced such a delay in responsiveness. I do not work on this project, but I have sent a message to the team that does alerting them to your request. If you do not get a response from them soon, please feel free to reach out again and I will do my best to escalate

[2019-07-24 00:13] jacobw125 commented on #9444
Thanks Rick, appreciate it!

[2019-07-24 00:18] jlian commented on #2116
Created item to fix targeting October this year

https://msazure.visualstudio.com/One/_workitems/edit/4979086

[2019-07-24 00:21] jlian commented on #2531
Created item to target Nov this year https://msazure.visualstudio.com/One/_workitems/edit/4979134

[2019-07-24 00:23] jlian commented on #2826
Created item to target Nov this year https://msazure.visualstudio.com/One/_workitems/edit/4979160

[2019-07-24 00:34] jlian commented on #4969
Created item to fix for Oct this year https://msazure.visualstudio.com/One/_workitems/edit/4979240

[2019-07-24 00:34] jlian commented on #4635
Created item to fix for Oct this year https://msazure.visualstudio.com/One/_workitems/edit/4979240

[2019-07-24 00:36] jlian commented on #5844
Targeting fix by Nov https://msazure.visualstudio.com/One/_workitems/edit/4979257

[2019-07-24 00:38] jlian commented on #7344
Target Oct for fix https://msazure.visualstudio.com/One/_workitems/edit/4979281

[2019-07-24 00:41] jlian commented on #8323
Target Nov https://msazure.visualstudio.com/One/_workitems/edit/4979320

[2019-07-24 01:38] jlorich opened #10024 "`az storage blob sync` requires root privileges"
## Describe the bug

The first run of `az storage blob sync` attempts to place the `azcopy` executable in `/usr/local/bin`, which is only accessible with elevated privileges.  This is not ideal as root is not always available.  If there's a dependency on `azcopy` it should probably be installed along with the CLI.

`sudo` under the `AzureCLI@1` Azure DevOps task also appears to break authenticatio

[2019-07-24 01:51] yugangw-msft commented on #9444
@Juliehzl, can you please take a look?

[2019-07-24 01:54] jlorich commented on #10024
Even with an additional installation step for `azcopy` in CI this still fails.  It only succeeds when running the installation and then creating a symbolic link to the `/usr/local/bin/azcopy` path the cli is looking for.
[code]

With that step placed ahead, my Azure CLI task now works as intended:

[code]

I don't consider this a real solution, as the Azure Cli should have a more robust answer for

[2019-07-24 01:58] MyronFanQiu commented on #10014
@TheHunter896 Hello. Which resource do you use in the subnet? I just simply checked the NIC. It will show the correct error.
[code]
It will not show all resources under the subnet, but at least, it will show one. Could you share the resource type you are using and the version of the CLI(`az --version`)?

[2019-07-24 02:05] #9888 closed

[2019-07-24 02:19] MyronFanQiu commented on #10018
@jaepark08 Hello. I need sometime to figure out the complexity of the feature request. I will update the result within this week. Please ping me if I miss this issue due to limited bandwidth.

[2019-07-24 05:19] zikalino opened #10026 "Random docker container failures"
Just creating this issue to track the problem.
The docker test failed in following PR:

https://github.com/Azure/azure-cli/pull/10023

========================== Starting Command Output ===========================
in/bash --noprofile --norc /home/vsts/work/_temp/907e6f1b-8e7c-44c7-8806-43d2d4f1983f.sh
== Test docker image ==

CLI_VERSION=`cat $SYSTEM_ARTIFACTSDIRECTORY/metadata/version`
cat $SYSTE

[2019-07-24 05:20] abjai opened #10027 "Adding optional parameter port in "az network application-gateway probe" in create and update cli commands"
What is the Azure resource provider your feature is part of?
NRP

Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Adding a optinal parameter name 'port' in 'az network application-gateway probe' create and update cli commands. This parameter is valid only for Standard_V2 and WAF_V2 sku for which proper checks at NRP are added. Cu

[2019-07-24 05:28] TechnologyAnimal commented on #9792
This may not be applicable here, but wanted to share just in case.  I am using terraform to deploy app service plans into app service environments using Terraform and the AzureRM provider.  Just now I was getting almost exactly the same error message (googling brought me to this issue).  It turns out that the app service plan sku that I was attempting to deploy is not supported in the ASEV2 I depl

[2019-07-24 05:30] panchagnula commented on #9462
Adding this to this sprint milestone to check if this still repros & work on a fix if needed.

[2019-07-24 05:32] panchagnula commented on #9244
Adding this to track for the upcoming milestone

[2019-07-24 05:32] zikalino commented on #10026
compared docker image build log with correct build log. In case of this build, we run into connection timeouts:

 [0m[91m  Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f27e7806668>, 'Connection to pypi.python.org timed out. (connect timeout=15)')'

[2019-07-24 05:38] panchagnula commented on #9792
@TechnologyAnimal I am glad you figured out what was causing the failure here. Did running the command with --debug show a useful error message?

[2019-07-24 05:42] panchagnula commented on #9291
Still waiting for the api changes to be available for Linux. @btardif assigning this to you so that you can push for the Linux backend changes here. Thanks!

[2019-07-24 05:43] panchagnula commented on #9788
tracking for the next milestone

[2019-07-24 05:44] panchagnula commented on #9792
@liron-navon looks like you are trying to use this in a ASE , mostly likely ASE V2?
ASEs don't support B1, standard or shared SKU  see documentation here https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-intro

[2019-07-24 05:44] #9792 closed

[2019-07-24 05:52] panchagnula commented on #9789
marking this to release with next milestone, Nick released this as a web app extension.

[2019-07-24 05:54] panchagnula commented on #8742
@btardif can we should discuss supporting this with az web app up

[2019-07-24 05:55] panchagnula commented on #8743
@btardif this is request for a command for war deploy

[2019-07-24 05:57] zikalino commented on #10026
we should investigate why **pip** doesn't fail properly.
when I run **pip install something** I simply get an error:

[code]

[2019-07-24 08:46] Juliehzl commented on #10024
@limingu can you please take a look?

[2019-07-24 09:05] awoSYS opened #10028 "Budgets: az resource create - deployment error message and cannot see budgets"
**Describe the bug**
I'm trying to create budgets with `az resource create` and encounter two problems:
* command execution results in error message: `Deployment failed. Correlation ID: <id>. Request is missing a certificate`. According to the `--debug` output, the following things happen internally:
** GET request to Microsoft.Consumption provider --> succeeds (status 200)
** GET request to the r

[2019-07-24 09:39] MyronFanQiu commented on #10011
@ryciakd Hello. Thanks for opening this issue. I dig a little bit deeper. Actually, I think there are two issues.
One is the errors about serializing, I think it's python sdk or msrest runtime error. @zikalino Could you please take a look?
This function ```WebApplicationFirewallPoliciesOperations.create_or_update``` will raise error during deserializing the response. The `parameters` below is pass

[2019-07-24 09:52] zikalino commented on #10028
@awoSYS I will check this issue

[2019-07-24 10:36] mb345345 opened #10029 "az disk list is erroring"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk list`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az disk list --resource-group {}`

## Expected Behavior

I get a list of disks

## Environment

[2019-07-24 10:41] ross-p-smith commented on #9763
Just come across this too on azure-cli 2.0.69

[2019-07-24 10:47] mb345345 opened #10030 "Can't update disks"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk update`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az disk update --name {} --resource-group {} --size-gb {}`

## Expected Behavior

A clear and

[2019-07-24 11:29] bartjanson opened #10031 "az eventhubs eventhub create --destination-name"
--destination-name should be one of the following: EventHubArchive.AzureBlockBlob or EventHubArchive.AzureDataLake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa949ea-86b1-125e-e7d3-f0f88a2661ab
* Version Independent ID: c8351dbc-7358-ba5b-6757-3929a4a2b42b
* Content: [az eventhubs eventhub](https://docs.microsoft.

[2019-07-24 12:48] benverlinden30 commented on #9833
The fix is not yet applied on  hosted Azure DevOps agents?
We still face the same problem in our CI/CD process.
Grtz,
Ben

[2019-07-24 13:04] ndm70 opened #10032 "az functionapp create - repeating steps removes running Function App package"
**Describe the bug**
Reusing the "az functionapp create" steps in provisioning the infrastructure has an adverse effect on existing function app code running inside. It complete removes the running code

**To Reproduce**
Create a function app
az functionapp create --plan %az-applanname% --resource-group %az-resourcegroup% --name %az-functionappname1% --os-type %az-funcappostype% --runtime %az-func

[2019-07-24 13:19] Sridhart97 commented on #9995
C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy>az storage blob copy start --account-key d+LndZKnWuMkPpPBSakB99GcKVlzV/Nlg2JETapPtsCNP1AjVBZ+DHFMANNUqc8MEUwX12k5nV99JnS0SmgIAA== --account-name sasneuprdarch01 --destination-blob vm-archive --destination-container WEB-AZu-002 --source-uri https://md-z1jtvlgqwlxw.blob.core.windows.net/421tblncdgxg/abcd?sv=2017-04-17

You do not have the required p

[2019-07-24 13:41] pelon34 opened #10033 "flag on example that is not explained and cant find any information about it"
In your example on how to generate a sas token for a fileshare and use it to upload a file you have a flag with value: -otsv this parameter is nowhere to be found in the document and there is no explanation of what it does or if it is required or a typo.

end=`date -d "30 minutes" '+%Y-%m-%dT%H:%MZ'`
                        sas=`az storage share generate-sas -n MyShare --account-name MyStorageAcco

[2019-07-24 13:44] zikalino commented on #10028
I managed to reproduce this issue myself, and I have some more observations.

PUT /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourcegroups/rg1/providers/Microsoft.Consumption/Budgets/testbudget2?api-version=2019-05-01

Returns with code 201.

Response headers contain following header:

'Location': 'https://consumption.azure.com/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceg

[2019-07-24 13:47] zikalino commented on #10028
I have tried:

`az resource show -g rg1 -n "testbudget2" --resource-type "Microsoft.Consumption/Budgets"`

and it works correctly.

[2019-07-24 14:04] zikalino commented on #10028
@awoSYS i have one question. what is the reason that you don't use **az consumption budget create**? I guess it's because it doesn't provide some parameters that are available via REST API?

I think there are 2 problems here to be fixed:
(1) **az resource** shouldn't attempt to use Location header if body is available.
(2) We should upgrade **az consumption** to use latest API.

+
(3) check why bu

[2019-07-24 14:08] awoSYS commented on #10028
@zikalino Thanks for testing! Exact same behavior for me.

concerning `az consumption budget create`: You're right, there is no possibility to define contact mails and contact groups (see [this issue](https://github.com/Azure/azure-cli/issues/8488)), which I need.

[2019-07-24 14:13] zikalino commented on #10028
there's something weird going on, I have tried older api version;

[code]

And I got following error:

**Subscription 172a3774-5a9d-4160-8dab-a4fe8d35c676 is not associated with EA offer type**

[2019-07-24 14:15] awoSYS commented on #10028
This is also already a known bug: https://github.com/Azure/azure-cli/issues/9867

[2019-07-24 14:21] zikalino commented on #9867
@axelwogawa regarding **Request is missing a certificate** -- i have looked into that in #10028 .
The creation is actually successful, but there's only unnecessary GET at the end.

Btw, you could also try **az rest** command, i think it doesn't have the same problem.

[2019-07-24 14:24] zikalino commented on #10028
@awoSYS thanks for linking this. Seems like @axelwogawa created budget sing the same command and could at least see it in the portal. Perhaps that have changed as well.

[2019-07-24 14:30] awoSYS commented on #10028
@zikalino Actually, @axelwogawa is another account of mine (sorry for confusing). What I described there was last week's observation. Because now the budgets became invisible, I decided to file a new issue for this.

[2019-07-24 14:34] zikalino commented on #10028
@awoSYS now I see similarity in acc names :-)
anyway, are you able to create budget via portal? I can't really find it anywhere...

[2019-07-24 14:40] awoSYS commented on #10028
Yes, I am (Resource group -> Cost management -> Budgets -> Add): Works fine!

[2019-07-24 14:43] zikalino commented on #10029
I have added label Compute-cli here, however it's more related to Python SDK, and more specifically I suspect there's some problem with dependencies here, so i will have to look deeper.

[2019-07-24 14:44] zikalino commented on #10030
This is really a duplicate of #10029 , the reason it doesn't work is exactly the same.

[2019-07-24 14:47] geebee3 commented on #10015
sir, could you please elaborate, because i still get it

[2019-07-24 14:57] zikalino commented on #10031
This option doesn't seem to be well documented.
I have tried some random value and is seems to have no effect.

[2019-07-24 15:03] awoSYS commented on #10028
@zikalino Your suggestion from #9867

I did
[code]
and got the same result as by using `az resource create`:
- invisible in portal
- `az consumption budget list` and `az consumption budget show` don't find it
- `az resource show` finds it

(Of course, there is no 401 error now, because I don't do any explicit GET)

[2019-07-24 15:16] bartjanson commented on #10031
i think it is connected to using the --enable-capture flag with the value
true

On Wed, 24 Jul 2019, 16:58 Zim Kalinowski, <notifications@github.com> wrote:

[2019-07-24 15:20] zikalino opened #10034 "az storage share create - crashes when invalid name specified"
It worked correctly when i tried:

`az storage share create --account-name mystoragexxxyyyy --name myshare`

but then i tried:

`az storage share create --account-name mystoragexxxyyyy --name MyShare`

and i got this crash:

[code]

[2019-07-24 15:21] yugangw-msft commented on #9833
CC @atbagga regarding ADO agent

[2019-07-24 15:37] zikalino commented on #10033
**-otsv** is equivalent of **--output tsv** which is actually documented:

[code]

Perhaps it would be better to use long format **--output tsv** to make it more readable.

[2019-07-24 15:55] tiny-dancer commented on #9967
Confirming this issue as well.  This currently breaks our cross-subscription governance automation.

[2019-07-24 16:52] yugangw-msft commented on #10030
This is a same set up problem with #10029.

[2019-07-24 16:52] #10030 closed

[2019-07-24 17:05] #9895 closed

[2019-07-24 17:08] yugangw-msft commented on #10004
You are under proxy, please follow the [tip](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy)

[2019-07-24 17:08] #10004 closed

[2019-07-24 19:11] SriniBanala commented on #9598
@tjprescott Please assign this to @hkuadithya. Thanks.

[2019-07-24 19:19] JustinGalbraith opened #10037 "az vm create with --public-ip-address "" results in error"
When executing a VM create command using --public-ip adress "" as stated in the doc results in an error. What is the correct syntax for deploying a new VM without allocating/attaching a public IP address?

az : ERROR: az vm create: error: argument --public-ip-address: expected one argument

--public-ip-address
Name of the public IP address when creating one (default) or referencing an existing one

[2019-07-24 19:24] panchagnula commented on #9860
@gamesbrainiac after keeping it running for a few hours & the command failing what happens if you restart the command? In general we have new changes coming in the API level for log tail when we will make improvements to the commands  as well . I closing this for now due to lack of a repro.

[2019-07-24 19:24] #9860 closed

[2019-07-24 19:30] JustinGalbraith commented on #10037
I believe I found the problem. If you are using the PowerShell ISE environment you must wrap the "" in '. The final command looks like --public-ip-address '""'

[2019-07-24 19:54] btardif commented on #9424
@panchagnula please sync up with Domains/SSL team

[2019-07-24 20:25] panchagnula commented on #9424
@tuthan is this still happening with the latest cli version?

[2019-07-24 20:26] #9979 closed

[2019-07-24 20:26] #10013 closed

[2019-07-24 20:34] panchagnula commented on #9462
@TheBlueSky / @softeering / @Maissae are you able to still repro this? I tried it on our end & wasn't able to with CLI. If you still do can you share the details on if you are trying the create in a certain region? Thank you.

[2019-07-24 20:36] panchagnula commented on #9972
thanks for the info will look into this.

[2019-07-24 20:36] panchagnula commented on #9707
@carlwoodhouse do have an update to share here please? Thank you.

[2019-07-24 20:43] mgwelch opened #10038 "How to list policy assignments?"
The command

[code]

Shows only optional parameters:

However I get this error when I run it:

[code]

I then added `--resource-group` parameter to my query but I still get the same error.

[code]

I then added `--subscription` parameter along with the guid of the subscription I'm using, but I then get

[code]

I would try to specify the third and final parameter "scope" but I'm not sure how to do

[2019-07-24 20:47] panchagnula commented on #1337
@btardif do you know if we have an ETA on the API availability here?

[2019-07-24 20:50] panchagnula commented on #8407
@ccompy can you share your commandlet design for doing this? with the current SDK we have we can start working on this work item. Thank you.

[2019-07-24 20:55] TheBlueSky commented on #9462
v2.0.66 of the CLI had the issue in my case, but the latest version (v2.0.69) does not have the issue; i.e., it works.

[2019-07-24 20:57] tjprescott commented on #10037
@JustinGalbraith you are correct.

[2019-07-24 20:57] #10037 closed

[2019-07-24 21:34] btardif commented on #1337
@panchagnula  Backend is targeting ANT85 so moving this out to a more appropriate sprint

[2019-07-24 21:53] panchagnula commented on #9462
Closing this since we got a confirmation that it works with v 2.0,69

[2019-07-24 21:53] #9462 closed

[2019-07-24 21:58] #9604 closed

[2019-07-24 22:37] elibarzilay opened #10039 "`az container exec` has no way to pass arguments"
There is no way to specify arguments in `az container exec`.  For example:

    az container exec -g ... -n ... --exec-command "ls /"

will just complain about not finding the `ls /` executable.  There should really be some way to pass arguments instead of using a shell for doing anything.

(As it is right now, the comment "The most common use case is to open an interactive bash shell" is really m

[2019-07-24 22:52] panchagnula commented on #9254
@Ashtonian Portal does some pre-validation which CLI doesn't since we expect API to show a useful error message. In general we are updating the commands to do some pre-validations, but a general suggestion for CLI commands incase of any errors run command with --debug & you should see the detailed error message from API. Please try that out & let me know if it helps. For now i am closing this.

[2019-07-24 22:52] #9254 closed

[2019-07-24 22:55] panchagnula commented on #6463
Setting this for the next milestone.

[2019-07-24 22:59] panchagnula commented on #9499
@luizhmcarvalho do you have an update on this? Does this still happen?

[2019-07-24 23:03] juescuder commented on #8767
Hi there. There is actually a way to do it using Powershell. The only constraint is that you have to backup/restore in the same subscription and region.

[code]

[2019-07-24 23:16] Ashtonian commented on #9254
@panchagnula - I don't think that's a very desirable developer experience. To provide a bit of feedback:
- what is the point of having an error message if it's not useful?
- if there is additional context or information from the API it would be useful to provide that automatically not through an additional flag.
- it's frustrating when your trying to debug azure resources directly and this type of

[2019-07-24 23:20] panchagnula commented on #9254
@Ashtonian all great feedback we are working on making our APIs return a useful error message in general so that will be fixed once we have that. In the meantime we are trying to make as many changes as possible to improve our experience.

[2019-07-24 23:44] colemickens commented on #9384
how many years will this bug persist?

[2019-07-24 23:48] colemickens opened #10041 "storage account naming guidance"
This is a general question. Somehow, storage accounts are still required to be globally unique, and still only allowed to be 24 characters long. Meanwhile, there are locations with names that are 20 characters long. Say you are building images, which must be homed to a location, what is suggested as a naming scheme?

I can't think of anything better than finding some hashing function that outputs

[2019-07-25 00:05] colemickens commented on #10041
DigitalOcean, Packet, and IBM Cloud use consistently-four-character names. They and the rest that I've checked have neither such incredibly short storage account names, nor do they require global uniqueness.

[2019-07-25 00:41] panchagnula commented on #4764
this is not something we have plans to support on CLI since this this needs the customer to share some secrets in the Sass-URL -> this can be achieved using the portal for now. This was internal item that got filed during a PR by our team & not a request from customer. Please file a new issue if this is something that needs support from CLI. Thank you.

[2019-07-25 00:41] #4764 closed

[2019-07-25 00:42] panchagnula commented on #4764
Also storage is not an option on this command anymore https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-config

[2019-07-25 00:45] panchagnula commented on #9116
Is this still an issue? @JesseDeBruijne / @tuthan can you let us know if you are still facing this? Thank you

[2019-07-25 00:46] panchagnula commented on #6108
Closing this for now. We will revisit this when we are ready to simplify the scenario.

[2019-07-25 00:46] #6108 closed

[2019-07-25 00:47] panchagnula commented on #5760
Tracking this for next sprint.

[2019-07-25 00:47] colemickens opened #10042 "massive list of "list key" operations when using `--account-name`"
I thought `--account-name` was meant to use the new style of access to storage accounts that didn't use the storage keys. Why is my activity log full of "List key" calls while my scripts are running?

[2019-07-25 00:50] panchagnula commented on #5590
@tjprescott can you give me more details here on why this is a Appservice issue? can you share the Webapp api that is being used here causing the issue? Thank you.

[2019-07-25 00:51] panchagnula commented on #4348
@Nking92 please comment here if this is not something that can be fixed this sprint & needs to be moved.

[2019-07-25 00:51] zikalino commented on #10041
I think this discussion should not only include storage account names, there are other Azure resources that require names to be globally unique.

I am for instance concerned about examples, if you run examples that require unique name out of the box, most likely it will fail.

[2019-07-25 00:52] panchagnula commented on #5524
@spboyer / @anthonychu any comments here?

[2019-07-25 00:56] spboyer commented on #5524
@panchagnula -` webapp up` does more than `zip` correct? `up` creates the application and group etc? If there can be shared code so we are only doing the work once, I think that makes sense.

[2019-07-25 00:57] colemickens commented on #10041
Here's the thing, I (feel like I) shouldn't have to do any of this anyway:

Managed disks takes care of storage accounts under the scenes... and yet... it can't replicate a blob from another location, and I still can't make images public across subscriptions. So instead, I have to do this all myself, maintain the scripts, and distribute them to users so they can then replicate blobs and construct

[2019-07-25 01:25] davidjnet opened #10043 "webapp: support storage for logging config"
`az webapp log config` should support logging to storage, as well as filesystem, for both application logging and web server logging.

Ideally it would have the option to automatically configure storage account permissions, like the portal does.

Currently the workaround is to use the portal, or to script via REST APIs.

A workaround bash script is:
[code]

Related to #4764 - filing a new issue fr

[2019-07-25 01:41] MyronFanQiu commented on #10014
And which terminal?

[2019-07-25 02:21] MyronFanQiu commented on #9965
@DenisBiondic It seems that in order to support another feature, so the `--subscription` parameter was suppressed. Since the other feature is not related with the `az network dns record-set ns create`, I move this suppression into lower scope to solve your issue.

[2019-07-25 02:30] MyronFanQiu commented on #9844
@adammodlin Hello. Did your solve your issue? I plan to create a PR to make the code more robust. If it's not the root cause, please let me know.

[2019-07-25 02:41] MahajanTushar opened #10045 "error while connecting to AKS via azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-cred

[2019-07-25 03:16] panchagnula commented on #10043
@btardif lets sync on the command let design for this request. Adding to backlog for now.

[2019-07-25 03:29] MyronFanQiu commented on #9993
@saccy I think your suggestion is good. I checked the `network nsg rule list` and `network nsg rule show` commands. They just return the service's response. @tjprescott Is it proper for us to adjust the response?

[2019-07-25 03:30] Dave76 opened #10048 "Cosmos DB cannot update throughput DTU at database level"
Although you can set the throughput when you create a database using:

`az cosmosdb database create --throughout 500`

If you run the create command again you will get an error stating the resource already exists, which makes sense. So we need something like:

`az cosmosdb database update --throughput 500`

[2019-07-25 04:23] romanows opened #10050 "Expiration date needs to be converted to GMT"
The expiration date in the example for "az storage container generate-sas" is not generated correctly on recent Ubuntu releases (and I expect most Linux distros).  The problem is that the date command on this system may output time in the user's timezone and not in UTC.  The fix is to use the "-u" flag to convert local time into UTC.  So the correct command-line for the default Ubuntu install woul

[2019-07-25 04:31] zikalino commented on #10028
@awoSYS I have to discuss this with service team.

In the Azure CLI:
(1) we can fix **az resource** ( @yugangw-msft  do you agree?)
(2) upgrade **az consumption** to use latest API

and we will have some consistency here at least.

But... it almost seems like we are dealing with two separate services here, and it also seems portal was not updated....

[2019-07-25 05:20] atbagga commented on #9833
ADO agents have a 3 week sprint cycle. The fix just missed the last sprint workload and this won't get picked up until end of next week. It will start reflecting in deployments starting August 5.

Here is the repository where the issues on image generation are tracked - https://github.com/microsoft/azure-pipelines-image-generation

If urgent fix is needed you might need to follow up with the pipel

[2019-07-25 05:22] #9965 closed

[2019-07-25 06:27] gjdonkers opened #10054 "app-gateway: SSL Certificate from KeyVault"
How can I add a SSL from the KeyVault. Using the ID from the KeyVault with `--ssl-cert` is not working. Can you add this to the examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dce00db-c8d7-9b93-7ac8-114a500a6a34
* Version Independent ID: 14a03192-a30b-d273-fa11-32413868a5fa
* Content: [az network application-

[2019-07-25 06:27] JesseDeBruijne commented on #9116
Yeah, this issue still exists when I try to run the command:

[code]

I get the error:

[code]

[2019-07-25 06:36] zikalino commented on #10041
@colemickens regarding sharing images across subscriptions, you could use Shared Image Gallery **az sig**. will that help you?

[2019-07-25 07:11] gjdonkers opened #10055 "app gateway: use app service"
How can I turn on the checkbox for Use App Service when creating a http-settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2bf0577-695e-a054-b82d-894ff3cdf05d
* Version Independent ID: 66c0304d-8588-b64c-cb6b-fce366190db0
* Content: [az network application-gateway http-settings](https://docs.microsoft.com/en-us/

[2019-07-25 08:54] TheHunter896 commented on #10014
Hey thanks for the quick answer and sorry for my late answer!
Currently I am using 2.0.69 AZ CLI and I do not know which resource I am using in the subnet since it was not built by me, I am just in charge of deleting it :')

[2019-07-25 09:45] leonardbf commented on #9976
@tjprescott Fixed with https://github.com/Azure/azure-cli/pull/10058

[2019-07-25 10:05] naqash11 commented on #9989
I do not think it can be done for all subscriptions at once because we have other parameters to handle as well like Resource Groups and Action Groups. I have created the alerts using CLI by just changing the subid and action groups in the command.

[2019-07-25 11:56] HannoSolo opened #10059 "az aks get-verions missing preview tags"
**Describe the bug**
In the latest version of Azure Cli (2.0.69) when I execute the command - az aks get-versions --location westeurope --output table - the output does not tag versions as being "preview"

C:\Users\v-hater>az aks get-versions --location westeurope --output table
Unable to load extension 'aks-preview'. Use --debug for more information.
KubernetesVersion    Upgrades
----------------

[2019-07-25 13:05] jbpaux commented on #9779
Any advice ?

[2019-07-25 14:28] GHSimeon commented on #9708
@djyou Sorry for the late reply. I checked and the warnings aren't displayed anymore.
@hkuadithya I can't remember which version that was, sorry. Probably the latest one though as I was using the CLI from within the Azure CLI task in Azure Pipelines.
Thank you.

[2019-07-25 14:46] ermagana opened #10060 "Register-PSRepository does not allow private repository registration"
**Describe the bug**
Using the [Azure Cloud Shell](https://shell.azure.com/) it appears that my company's private repository https://<ORGANIZATION>.pkgs.visualstudio.com/_packaging/<FEEDNAME>/nuget/v2 registered successfully. (i.e. Register-PSRepository "FeedName" -Credential ${Username, Personal Access Token} -params)

However, when I go to install a module (i.e. Install-Module "ModuleX" -Credent

[2019-07-25 14:59] #10060 closed

[2019-07-25 15:00] ermagana commented on #10060
I tried again this morning and AMAZINGLY it works! :) who knew

[2019-07-25 15:17] vicpon opened #10061 "[webapp] - az.cmd webapp deployment source config-zip intermittently fails to connect"
**Describe the bug**
When running az webapp deployment source config-zip, often times (more than 50% of the time) it errors out because it can't connect to the scm service.

**To Reproduce**
Run the following command:
[code]

When it errors out, I get this error:
[code]

**Expected behavior**
I expect the deployment to complete without any errors.

**Environment summary**
Install Method: MSI
Azure

[2019-07-25 15:33] sajayantony commented on #9708
@GHSimeon @tjprescott Could we please this issue in that case.

[2019-07-25 15:39] tjprescott commented on #10014
This command returns the error from the service. The service might consider returning a more thorough error, but adding a bunch of logic to try and figure out what is using the subnet is beyond the scope of the basic delete command.

[2019-07-25 15:42] tjprescott commented on #9989
It cannot be done. The service calls create resources that are subscription-specific. Best case, you can write a script that will loop through all of your subscriptions and create the necessary alerts.

[2019-07-25 15:42] #9989 closed

[2019-07-25 15:42] #9708 closed

[2019-07-25 16:12] #2116 closed

[2019-07-25 16:12] #2531 closed

[2019-07-25 16:14] #2826 closed

[2019-07-25 16:15] #4635 closed

[2019-07-25 16:15] #4969 closed

[2019-07-25 16:16] #5844 closed

[2019-07-25 16:16] tjprescott commented on #10054
This is currently not supported in CLI. Please follow issue #8244.

[2019-07-25 16:16] #10054 closed

[2019-07-25 16:16] #7344 closed

[2019-07-25 16:17] #8323 closed

[2019-07-25 16:40] btardif commented on #9707
I'm closing this as no-repro

[2019-07-25 16:40] #9707 closed

[2019-07-25 16:46] #9862 closed

[2019-07-25 17:03] tjprescott commented on #10048
There are two issues here:
1. Missing an update command (feature request)
2. A create command is not idempotent, which is violation of the CLI standards. https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types

[2019-07-25 17:04] tjprescott commented on #9993
@saccy is correct, but we are hamstrung by the service design here, because there are instances where you *must* use the singular property.

[2019-07-25 17:08] tjprescott commented on #10042
If you provide --account-name and no key or connection string, the CLI will retrieve the account key behind the scenes. This has been the behavior since the CLI's beginning. @limingu how does one default to the OAuth pattern?

[2019-07-25 17:09] adammodlin commented on #9844
@MyronFanQiu I believe I had already included the port in that field. I'll make a note to verify it when I get a chance.

[2019-07-25 17:18] tjprescott commented on #5590
@panchagnula it isn't. This is for the deployment create command. I think it was tagged webapps because the user was trying to create one via template. I updated the tags.

[2019-07-25 17:32] adammodlin commented on #9844
@MyronFanQiu Perhaps I'm misunderstanding what this command can do. I'm trying to verify connectivity from my local machine (laptop) to an Azure VM. Connectivity is not working due to NSG rules and I'm trying to find out which rule. Is this a scenario supported by this tool?

[2019-07-25 18:13] Dave76 commented on #10048
Good point.

Ideally, i should just be able to run the create command again with a new throughput, and it will know the database already exists and just update the throughput.

Otherwise, I need to check for existence first, then run either create or update, which is more difficult. (obviously not impossible):

[code]

[2019-07-25 18:34] alanrenmsft commented on #9585
@jnoller, I am from Azure Data team, we have a dependency on AKS, and some users experienced this issue, it would be nice if we could get an ETA for this so that we can decide how do we proceed. Thanks!

[2019-07-25 18:38] dparker18 commented on #9585
I got around this by looping and retrying the same az aks create command up to 6 times. About half the time it works.

[2019-07-25 18:50] justinhauer commented on #8545
Isn't creating a resource in Azure(or any public cloud) with tags kind of a table stakes item for deploying a new product at Microsoft?

[2019-07-25 18:57] yugangw-msft commented on #10012
Let me cross check whether url query string encoding has an issue here.

[2019-07-25 19:24] colemickens commented on #10041
Not unless they can be made public, no.

On Thu, Jul 25, 2019, 08:36 Zim Kalinowski <notifications@github.com> wrote:

[2019-07-25 19:26] skjensen opened #10062 "devops-pipeline create command breaks if the project name contains a space"
The devops-pipeline create command breaks if the project name contains a space. E.g. "Project Name" when renaming the project to "ProjectName" the same works smoothly.

The problem appear to be related to the creation of the Git Repo.

Command:  az functionapp devops-pipeline create

## Environment Summary

Linux-4.15.0-54-generic-x86_64-with-debian-buster-sid
Python 3.6.5
Shell: bash

azure-cli 2

[2019-07-25 19:31] colemickens commented on #10041
Just allowing MD creation from arbitrary blobs would cut out a lot of
frustration. Storage accounts are a nightmare and there's no reason I
should need to ask end users go through the hassle of managing storage
accounts just to be able to create a MD that ends up replicating the blob
transparently anyway. Typing it out makes me a feel a bit crazy. I have to
go through all of the trouble of scripti

[2019-07-25 19:53] nexxai opened #10063 "Add support for adding Key Vault-stored SSL certificates to Application Gateway"
**Is your feature request related to a problem? Please describe.**
Now that v2 Application Gateway SKUs support adding SSL certs from Key Vaults, this functionality should be added to the CLI instead of forcing users to use PowerShell.  Since the module is not available in PS6.0, it means that the functionality is restricted to Windows users.

**Describe the solution you'd like**
I would like to b

[2019-07-25 19:55] nexxai commented on #10063
Found https://github.com/Azure/azure-cli/issues/8244

[2019-07-25 19:55] #10063 closed

[2019-07-25 19:57] nexxai commented on #8244
@tjprescott Do you have any idea when Sprint 70 should be expected to kick off?  Just wondering if it's reasonably expected to happen in the next few weeks, or whether we should be looking for other solutions.

[2019-07-25 20:16] SQLLord commented on #9804
You also need to remember that when it does this it does not do the scm name of the web site when it tries to bind and not everyone can use wild card certs.

[2019-07-25 20:26] sajayantony commented on #6925
@northtyphoon  - who do you want to reassign this to?

[2019-07-25 20:27] sajayantony commented on #6952
Please assign this to @northtyphoon

[2019-07-25 20:47] jnoller commented on #9585
Hi All - the reported issue where an AKS create command fails due to a non existent SP (even though it was created) is actually a data replication issue. As noted, if you retry the command the command will work (this happens to the portal as well).

The cause is a data replication lag between the create call for the SP, confirmation, and then replication to the requested region. This replication c

[2019-07-25 20:52] colemickens commented on #10042
It looks like I needed to have specified `--auth-mode login` on my requests.

The docs for this specifically refer to `--auth-mode key` as "legacy", and manage to side-step saying what the default behavior is... https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-script#call-cli-commands-using-azure-ad-credentials

[2019-07-25 21:26] btardif opened #10066 "[webapp] - az webapp config appsettings is truncating values"
ere is the bug I got trying to set an env var. It strips the closing “)”.

PS C:\Users\jafreebe\Desktop\demos\JavaAirLift> az webapp config appsettings set -n freebergjava -g freebergJenkinsDemo --settings SPRING_DATASOURCE_USERNAME="@Microsoft.KeyVault(SecretUri=https://java-app-ke
y-vault.vault.azure.net/secrets/POSTGRES-USERNAME/2999981b08ac4e0fa206d0efad0a1a2a)"
[
  {
    "name": "JAVA_OPTS",

[2019-07-25 21:27] btardif commented on #10066
Jason found this bug while demoing Jenkins setup

[2019-07-25 21:55] btardif commented on #10061
@tjprescott we are going to investigate this issue, thanks for reporting.

[2019-07-26 00:49] tjprescott commented on #8244
Sprint 70 is around September. https://github.com/Azure/azure-cli/milestones

[2019-07-26 02:59] insan6983 opened #10068 "az acr login fails under proxy"
**Is your feature request related to a problem? Please describe.**
When logging in to a Azure container registry, we can use $ az acr login -n registry_name
I found that az acr login fails under proxy environment.

HTTPSConnectionPool(host='draskilluipreview.azurecr.io', port=443): Max retries exceeded with url: /v2/ (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process

[2019-07-26 04:56] #9938 closed

[2019-07-26 06:03] MyronFanQiu commented on #10014
@TheHunter896 This issue is a little bit strange because CLI just return the error from the service. Meanwhile, I will try to figure out is there any command can help you list all the resource used under the subnet.

[2019-07-26 06:03] developerprashantsinghal opened #10070 "webapp:Need only Backup Command"
az is missing in triggering already configured backup for webapp without SAS url. Currently we can trigger backup using SAS url "az webapp config backup create" or  "az webapp config backup update" but this command will also create schedule for backup which is not required to me.

I need an az command to trigger already configured webapp backup only.

---
#### Document Details

⚠ *Do not edit this

[2019-07-26 06:26] MyronFanQiu commented on #10018
@jaepark08 Hi. I want to check the feature request again.

https://github.com/Azure/azure-sdk-for-python/blob/24c8eed10b543deadd9de96025a18f5813894190/sdk/network/azure-mgmt-network/azure/mgmt/network/v2019_04_01/models/_models_py3.py#L6538

what you want is that the commands `az network lb frontend-ip create/update` support a new argument called `--private-ip-address-version`. So, I assume that t

[2019-07-26 09:43] Sudharma opened #10072 "Accomodate WAF V2 payload for SSL termination."
The API for powershell is updated with new WAF V2 payloads , identity and sslcerts with keyvault secret id. Please update the same for Azure Cli

 Powershell.
https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps

Azure Cli
https://docs.microsoft.com/en-us/cli/azure/network/application-gateway?view=azure-cli-latest#az-network-application-gateway-create

possible duplicat

[2019-07-26 14:39] EmaOnLine opened #10073 "Issue in pyhthon with "az network application gateway""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway update`

**Errors:**
[code]

## To Reproduce:
az network application-gateway update -n $appgw -g $rg --set identity.type='UserAssigned' identity.userAssignedIdentities=$identityId

- _Put any pre-requisite steps here..._
- `az network application-gateway update

[2019-07-26 15:30] panchagnula commented on #10070
@Nking92 & @btardif this is a request for a new command, can you guys review & answer if this is something can & should support. Thank you.

[2019-07-26 15:32] kevinhillinger commented on #3614
This week, myself and @jonlester have created the initial set of service commands for APIM in #10074 PR. Our objective is to get APIM module in preview support, and continue to contribute to APIM by developing the most requested subcommand modules. Right now, having worked in the field with many customers, I think the list includes:

- api
- certificate
- product
- subscription

[2019-07-26 17:29] yugangw-msft commented on #10068
Nothing ACR commands can do. Please follow the [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) to configure the certificate.

[2019-07-26 17:29] #10068 closed

[2019-07-26 17:29] yugangw-msft commented on #10073
CC @MyronFanQiu

[2019-07-26 17:30] yugangw-msft commented on #10072
CC @MyronFanQiu

[2019-07-26 17:49] jaepark08 commented on #10018
That is correct.

[2019-07-26 19:48] panchagnula commented on #10061
@vicpon can you try this with the latest version of CLI & see if you are still seeing the same problem. We have had several fixes/updates to this command so would be worth it to try with the latest version. thank you.

[2019-07-26 20:46] alexwlchan commented on #10012
I went digging for a bit, and AFAICT the correct URL is getting requested – it’s just not getting any auth data that Active Directory can use to validate the SAML request.

This is the method that gets called for `az rest`:

https://github.com/Azure/azure-cli/blob/4e1c7ac21625e3512c50f12055cf2beee0445034/src/azure-cli/azure/cli/command_modules/resource/custom.py#L1772-L1783

If you follow that thr

[2019-07-26 20:54] vicpon commented on #10061
Updated to Azure CLI 2.0.69 (latest of this writing) but I get the same error:

[code]

It may be worth noting that before the `deployment` command is run it runs these two commands successfully:

[code]

Also, I'm deploying to a B1 Linux instance with 100 ACUs, in case it's a resource contraint of the VM.

[2019-07-26 20:58] vicpon commented on #10061
It looks like the deployment succeeded this last time, after I updated to the lastest CLI. It's now timing out getting the deployment status, instead of timing out when deploying, as it was doing before. At least now it deploys so even if it doesn't return that status it's not as urgent a bug.

[2019-07-26 21:12] ferantivero opened #10076 "create action group with azure function receiver with Azure CLI"
**Is your feature request related to a problem? Please describe.**
when `az monitor action-group update    -n $ACTIONGROUP_NAME    -g $RESOURCE_GROUP    --add-action azureFunction <<args>> ` it ends the execution with an error

**Describe the solution you'd like**
Az CLI adds support for Azure Function receiver

**Describe alternatives you've considered**
using azure REST APIs for the moment: http

[2019-07-26 21:17] adewaleo commented on #9937
Some more context will be very helpful.

We do have examples that supply parameters to scripts.

[2019-07-26 21:22] adewaleo commented on #9399
I will be closing this issue as there is a workaround

[2019-07-26 21:22] #9399 closed

[2019-07-26 21:24] adewaleo commented on #9397
Closing this issue as @asinn826's team will work to implement this feature.

[2019-07-26 21:24] #9397 closed

[2019-07-26 21:27] adewaleo commented on #8434
Has this been closed / handled by @limingu already, @tjprescott?

[2019-07-26 21:29] adewaleo commented on #5403
I will close this as it is not a CLI issue, there isn't python sdk support for it (as far as I'm aware off) and there is a work around with arm templates.

[2019-07-26 21:31] adewaleo commented on #4869
closing as this is being address by the docs team cc: @daxianji007

[2019-07-26 21:32] adewaleo commented on #9225
I will be closing this for now as CLI team does not have the bandwidth to implement this in the near feature and there isn't a high demand for this feature.

cc: @yugangw-msft @achandmsft

[2019-07-26 21:32] #9225 closed

[2019-07-26 21:34] softeering commented on #9462
I confirm too, it now works with version 2.0.69.
Also, the error message when trying to create an additional FREE app service plan is clear
[code]

Thanks for the fix

[2019-07-26 21:37] adewaleo commented on #6493
Closing this given the previous comment and lack of response from the original poster.

[2019-07-26 21:37] #6493 closed

[2019-07-26 21:37] #8014 closed

[2019-07-26 21:38] adewaleo commented on #8014
closed this as we don't have bandwidth to open this in the near future

[2019-07-26 21:39] adewaleo commented on #8956
I will be closing this for now as CLI team does not have the bandwidth to implement this in the near feature and there isn't a high demand for this feature.

cc: @yugangw-msft

[2019-07-26 21:39] #8956 closed

[2019-07-26 21:39] adewaleo commented on #120
I will be closing this for now as CLI team does not have the bandwidth to implement this in the near feature and there isn't a high demand for this feature.

[2019-07-26 21:39] #120 closed

[2019-07-26 21:42] adewaleo commented on #9252
closing this due to lack of bandwidth and urgency

[2019-07-26 21:42] #9252 closed

[2019-07-26 21:42] adewaleo commented on #9037
closing this due to lack of bandwidth and urgency

cc: @achandmsft

[2019-07-26 21:42] #9037 closed

[2019-07-26 21:43] adewaleo commented on #8756
closing this due to lack of team bandwidth and lack of urgency of the issue

[2019-07-26 21:43] #8756 closed

[2019-07-26 21:44] adewaleo commented on #7819
closing this due to lack of team bandwidth and urgency

[2019-07-26 21:44] #7819 closed

[2019-07-26 21:45] adewaleo commented on #7648
closing this due to lack of urgency and team bandwidth. Moreover this issue is a service-side issue.

[2019-07-26 21:45] #7648 closed

[2019-07-26 21:46] sbonds commented on #5403
Perhaps rather than closing this we could make it pending the SDK improvement necessary to support this capability?

[2019-07-26 21:50] sbonds commented on #5403
Is this the SDK support that is supposedly missing?

https://docs.microsoft.com/en-us/python/api/azure-mgmt-edgegateway/azure.mgmt.edgegateway.models.updatesummary?view=azure-python

[code]

[2019-07-26 21:56] Nking92 commented on #10070
Hi @developerprashantsinghal

I believe "az webapp config backup create" does what you would like. That command will create a backup on-demand, independent of your backup schedule. On the other hand "az webapp config backup update" is designed to configure the backup schedule, so please don't use that command for an on-demand backup.

[2019-07-26 22:33] carlbrochu opened #10078 "The --condition and the --action-group options need more information."
The --condition and the --action-group options need more information.  I am gettting a "Badrequest" error when setting something which should be valid for action-group and condition doesn't seem to work with an "and".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97968df-72c9-e50c-d5b1-54562c1bdef7
* Version Independ

[2019-07-26 22:37] panchagnula commented on #10070
thanks @Nking92 , @developerprashantsinghal can you try the command Nick suggested & let us know that it answers your question?

[2019-07-26 22:41] panchagnula commented on #10061
@vicpon thanks for the quick response, when you say that the command now fails with fetching status, do you see the same error as earlier or are you seeing something else? can you share the error?
Note we also have a --timeout parameter support which keeps the polling for the status until the custom timeout runs out. Check if this helps. thank you.

[2019-07-26 22:59] vicpon commented on #10061
The error message is above. You can see that the endpoint it fails on is now the deploy status endpoint (`/api/deployments/latest`), where before it was on `/api/zipdeploy?isAsync=true`.

I tried it 3 times in a row and it only failed once with the `getaddrinfo` error.

[2019-07-27 00:08] limingu commented on #8434
Yes, It has been handled.

[2019-07-27 00:20] adewaleo commented on #5403
Thanks for sending this our way @sbonds . I can't find any [update management operations](https://docs.microsoft.com/en-us/python/api/azure-mgmt-edgegateway/azure.mgmt.edgegateway.operations?view=azure-python), but yes I can reopen this issue.

However, I will be moving on to a different team soon, so I won't be able to implement this feature. But hopefully someone else on the CLI team can look in

[2019-07-27 00:25] adewaleo commented on #8434
nice! Closing this then

[2019-07-27 00:25] #8434 closed

[2019-07-27 00:33] sbonds commented on #5403
Thanks so much! It may seem like a minor thing, but automating these sorts of reports will be quite useful.

[2019-07-27 00:37] adewaleo commented on #9483
Thanks a lot @atbagga!

[2019-07-27 00:40] yugangw-msft commented on #2525
Closing, as the whole acs commands are deprecating

[2019-07-27 00:40] #2525 closed

[2019-07-27 00:41] yugangw-msft commented on #2612
closing as the `az acs` are deprecating

[2019-07-27 00:41] #2612 closed

[2019-07-27 00:42] yugangw-msft commented on #2370
@leol7, can you take care of this one with the goal of ensure we know how to release knack?

[2019-07-27 00:44] yugangw-msft commented on #7440
Closing as `az acs` is deprecating

[2019-07-27 00:44] #7440 closed

[2019-07-27 00:45] yugangw-msft commented on #7216
closing as `az acs` is deprecating

[2019-07-27 00:45] #7216 closed

[2019-07-27 00:46] yugangw-msft commented on #7071
closing as `az  acs` is deprecating

[2019-07-27 00:46] #7071 closed

[2019-07-27 00:47] yugangw-msft commented on #6994
closing as `az acs` is deprecating

[2019-07-27 00:47] #6994 closed

[2019-07-27 00:47] yugangw-msft commented on #7006
closing as `az acs` is deprecating

[2019-07-27 00:47] #7006 closed

[2019-07-27 00:50] yugangw-msft commented on #6595
to cross check the `az aks`

[2019-07-27 00:51] yugangw-msft commented on #6445
closing as `az acs` is deprecating. If repro's with `az aks` please reactivate

[2019-07-27 00:51] #6445 closed

[2019-07-27 00:51] yugangw-msft commented on #5884
closing as `az acs` is deprecating

[2019-07-27 00:51] #5884 closed

[2019-07-27 00:52] yugangw-msft commented on #5883
closing as `az acs` is deprecating

[2019-07-27 00:52] #5883 closed

[2019-07-27 00:52] yugangw-msft commented on #5867
closing as `az acs` is deprecating.
we have separate bugs tracking `az aks update-credentials`

[2019-07-27 00:52] #5867 closed

[2019-07-27 00:53] yugangw-msft commented on #5080
closing as `az acs` is deprecating

[2019-07-27 00:53] #5080 closed

[2019-07-27 00:53] yugangw-msft commented on #4811
closing as `az acs` is deprecating

[2019-07-27 00:53] #4811 closed

[2019-07-27 00:54] yugangw-msft commented on #4799
closing as `az acs` is deprecating

[2019-07-27 00:54] #4799 closed

[2019-07-27 00:54] yugangw-msft commented on #4716
closing as `az acs` is deprecating

[2019-07-27 00:54] #4716 closed

[2019-07-27 00:54] yugangw-msft commented on #4633
closing as `az acs` is deprecating

[2019-07-27 00:54] #4633 closed

[2019-07-27 00:55] yugangw-msft commented on #4429
closing as `az acs` is deprecating

[2019-07-27 00:55] #4429 closed

[2019-07-27 00:55] yugangw-msft commented on #4294
closing as `az acs` is deprecating

[2019-07-27 00:55] #4294 closed

[2019-07-27 00:56] yugangw-msft commented on #3410
closing as `az acs` is deprecating

[2019-07-27 00:56] #3410 closed

[2019-07-27 00:56] yugangw-msft commented on #2619
closing as `az acs` is deprecating

[2019-07-27 00:56] #2619 closed

[2019-07-27 00:56] yugangw-msft commented on #2944
closing as `az acs` is deprecating

[2019-07-27 00:57] yugangw-msft commented on #3233
closing as `az acs` is deprecating

[2019-07-27 00:57] #3233 closed

[2019-07-27 00:57] yugangw-msft commented on #5664
closing as `az acs` is deprecating

[2019-07-27 00:57] #5664 closed

[2019-07-27 00:57] yugangw-msft commented on #6733
closing as `az acs` is deprecating

[2019-07-27 00:57] #6733 closed

[2019-07-27 03:29] bacongobbler commented on #2944
This should probably be re-opened and re-titled for `az aks install-cli`.

[2019-07-27 12:22] murpg opened #10079 "OSError: Could not find a suitable TLS CA certificate bundle, invalid path: C:\WINDOWS\System32\cacert.pem"
After installing azure-cli latest on my Windows 8.1 OS laptop and trying login with these credentials.
`az login --service-principal -u %TF_VAR_client_id% -p %TF
_VAR_client_secret% -t %TF_VAR_tenant_id%`
This seems to work on Windows 10 ProThe command failed with an unexpected error. Here is the traceback:

Could not find a suitable TLS CA certificate bundle, invalid path: C:\WINDOWS\System32\cac

[2019-07-27 15:03] Lelelo1 opened #10080 "Set name for restore point/snaphot"
Before doing potential dangerous things or having successfully set up something important on an Azure VM - I would like to name the specific snapshot/restore point I manually trigger - so that I can easier understand what the state of the vm where in that snapshot/restore point in the future.
I could not found any azure cli command for how to manually create a restore point - but in the portal in

[2019-07-27 20:40] TheBlueSky commented on #8388
I have the same issue and I'm using the latest version of the CLI (as of this writing it's v2.0.69).

Is there a way to create a `functionapp` without setting "AlwaysOn"?

[2019-07-28 19:24] nbering commented on #4869
Is this closed because it was supposed to be fixed, or just no longer tracked here? I can't see the linked issue, and the public documentation page still has this issue.

[2019-07-28 22:37] panchagnula commented on #9499
Closing this we did not hear anything back on this.

[2019-07-28 22:37] #9499 closed

[2019-07-28 23:11] panchagnula commented on #10066
@btardif / Jason please follow the example here on how to use the app settings command, in general the format is key=value, please don't use the format that Portal uses on the settings blade, that is meant for portal only. This is how to use it `az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings WEBSITE_NODE_DEFAULT_VERSION=6.9.1` or `az webapp config appsettings set -g

[2019-07-29 02:20] Juliehzl commented on #10034
For Azure file share name, it should be lowercase. The second share name you want to create is invalid.

[2019-07-29 02:54] panchagnula commented on #10061
@vicpon when you repro this error - getting status fails - can you navigate to your scm site
which would be https://<appname>.scm.azurewebsites.net/api/deployments/latest & see if you hit the same error?

[2019-07-29 03:37] zikalino commented on #10034
@Juliehzl I know it's invalid, and I think Azure CLI should detect that and display appropriate message instead of crashing.

[2019-07-29 04:13] adewaleo commented on #4869
@nbering I closed this because it is being tracked internally by our docs team.

cc: @daxianji007 @dend

[2019-07-29 04:41] dszryan commented on #6058
this issue is resolved when using legacy view for app registration.

the issue still persists when using the new general availability release on azure.

[2019-07-29 05:24] MahajanTushar commented on #10045
@tjprescott , could you please update once this gets resolved !!

[2019-07-29 05:38] MyronFanQiu commented on #10073
@EmaOnLine Hello, I did the test, however, I met another error.
[code]
Similar with this issue https://github.com/Azure/azure-cli/issues/10011. I will check with our team to confirm its usage and limitation.
Meanwhile, could you please give me more detail information so that I can reproduce your issue? I use this command, I'm not sure whether the format or type of the ` identity.userAssignedIdenti

[2019-07-29 07:20] MyronFanQiu commented on #10055
@gjdonkers Hello. Thanks for opening this issue. I want to know more about this issue. What is `checkbox`? Could you give me an example or link?

[2019-07-29 07:44] gjdonkers commented on #10055
When adding an HTTP Settings to an Application Gateway though the interface you can use the checkbox __Use for App Service__, see the attached image. How can I do this with the Azure CLI?
<img width="633" alt="Schermafbeelding 2019-07-29 om 09 42 09" src="https://user-images.githubusercontent.com/5495117/62030413-4ed94600-b1e5-11e9-8d50-fa3a771b0097.png">

[2019-07-29 08:17] EmaOnLine commented on #10073
Hello @MyronFanQiu,
I need to assign an identity to an existing application gateway in order to access a vault key.
All the elements of the environment are configured, I just need this step. The identity is already configured in the key vault.
I made the following attempts but always having the error above as a result:
- do not use variables passing values directly
- execute the command from the c

[2019-07-29 09:42] seanmck commented on #10059
Fixed by #10022

[2019-07-29 09:42] #10059 closed

[2019-07-29 09:48] jluk commented on #10000
@smartpcr thanks for the feedback, we've backlogged this request in agreement.

[2019-07-29 09:49] jluk commented on #9931
@thomas1206 as FYI

[2019-07-29 09:51] thomas1206 commented on #9931
I tried it in my Mooncake sub, it works:

thomas@thomascli:~$ serverApplicationId=$(az ad app create \
    --display-name "aksthomasServer" \
    --identifier-uris "https://aksthomasServer" \
    --query appId -o tsv)
thomas@thomascli:~$ echo $serverApplicationId
12bf9afd-5288-4a9a-a4ca-02ed9f711741

[2019-07-29 09:54] TheHunter896 commented on #10014
Alright thanks! I will wait no hurries!

[2019-07-29 10:35] seanmck commented on #10045
@MahajanTushar: I am unable to reproduce this. Is it consistent? Are you on the latest CLI? Anything else about your environment that you can share?

[2019-07-29 10:46] pvrk commented on #9437
Currently, CLI for Azure Backup is only supported for Azure VMs. We are focussing on adding support for other Azure workloads like Azure File Share, SQL in Azure VM backups. Support for on-premise agents like MARS is currently not in THIS semester's roadmap i.e., until CY, 2019 end. Given that we have the support in PS, is this a blocker? If valid business justification is provided, I will see if

[2019-07-29 10:57] pvrk commented on #4502
@siddharth7 : can you please check if the bug is fixed in the latest release?

[2019-07-29 11:19] Kroev commented on #9995
@Sridhart97 or anyone else with sufficient rights:
Please edit or delte the [comment](https://github.com/Azure/azure-cli/issues/9995#issuecomment-514628526) above since the account key seems to be in plain text

[2019-07-29 11:39] MahajanTushar commented on #10045
PS C:\Users\TusharMa> az --version
azure-cli                         2.0.69

command-modules-nspkg               2.0.3
core                              2.0.69
nspkg                              3.0.4
telemetry                          1.0.3

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\TusharMa\.azure\cliextensions'

Python (Windows)

[2019-07-29 11:40] MahajanTushar commented on #10045
@seanmck , Please let me know what else, shall I share with you !!

[2019-07-29 13:08] Wand3rvogel commented on #9437
I've found [another way with REST API](https://github.com/Azure/azure-powershell/issues/9533).
In PS this also [doesn't work](https://github.com/Azure/azure-powershell/issues/9638).

[2019-07-29 13:16] martinvelos commented on #9500
This still remains as of
[code]

[2019-07-29 13:59] nbering commented on #4869
Just curious, really. But also that little feedback that when I volunteer my time to report issues, it's nice to be able to see when it gets closed.

[2019-07-29 14:03] AntoineGagne commented on #9937
I would like to use a script with options such as:

[code]

but it doesn't seem to work so I was wondering whether there is a way to do it.

Thank you for your help!

[2019-07-29 15:02] crank99 opened #10083 "Error with cli invoice view"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az billing invoice list`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az billing invoice list`

## Expected Behavior

A clear and concise description of w

[2019-07-29 15:55] yugangw-msft commented on #9931
@thomas1206, I have talked to the AAD graph team, they suggest open a ICM ticket against `AADFirstPartyApps/AADApplicationModel`. The key difference in mooncake is the graph would reject any payload w/p `identifierUris`, while public cloud allows it.
I don't have mooncake account to test, but if yo ucan reproduce it, please open the ticket

[2019-07-29 16:05] yugangw-msft commented on #10083
You are running behind a proxy. Please check out the [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) for how to set up appropriately.

[2019-07-29 16:05] #10083 closed

[2019-07-29 16:08] yugangw-msft commented on #9981
@SamRakaba, please feel free to reactivate with more information.

[2019-07-29 16:08] #9981 closed

[2019-07-29 16:55] JasonFreeberg commented on #10066
Sisira,

There is a problem with how Python is interpreting the parentheses and/or quotes.

1. The command fails if there are quotes. Looks like Python is interpreting it as a tuple and trying to unpack it. `az webapp config appsettings set -n freebergjava -g freebergJenkinsDemo --settings FOOBAR=foobar(12345)`
[code]

1. In this case, the command finishes but silently strips the closing parenthes

[2019-07-29 17:14] marstr commented on #9903
I'm going to unassign myself, as this does not relate to the Packaging as originally believed. @zikalino, @yugangw-msft you guys may want to re-triage or re-assign this.

[2019-07-29 18:09] adewaleo commented on #4869
@nbering no p. Thanks for following up about this and opening the issue in the first place.

I assumed that given this issue would be handled by the docs team it would be okay to close it. But given your interest in the issue and that the link I posted above is not publicly viewable. I will reopen this issue.

Hopefully @daxianji007 or @dend will be able to close this duplicate of their internally

[2019-07-29 21:21] ncbrown1 opened #10085 "Storage Account Network Rules List Shows Nothing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account network-rule list`

**Errors:**
None

**Bug:**
No output shown, but debug information clearly shows network rules in the response content.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informat

[2019-07-29 21:28] marstr commented on #7367
Looking at this issue's history, it's clear that there's been a lot of turbulence with how much of a priority this issue should be. But I think it hints at an internal struggle that we've had, which is answering the questions, "do we support `pip install azure-cli`?"

We've never officially said that we do, but we also make sure that the latest version is always published to PyPI. We've also chang

[2019-07-29 21:30] marstr commented on #7367
Another update, the team is in the middle of a shuffle. I don't believe I'll have time to work on this issue in the next week before I'm on a different team. For that reason, I'm going to unassign myself.

[2019-07-29 21:33] marstr commented on #7387
The teams getting shuffled, and I'm moving on to a different team! However, I've met with @zikalino and showed him how important this issue is, and how much interest we should be taking in fixing this. I've re assigned this issue to him :)

[2019-07-29 21:34] marstr commented on #7902
This never got to a high enough priority for me to look at! Now that the team is getting shuffled and I'm moving on to a new team, I'm removing my assignment.

[2019-07-29 21:52] marstr commented on #8603
This never got to the top of my priority list! With the shuffle of our team, I'm not going to get to it before I move on. I'm going to unassign myself, but one last thought on this thread: I think that publishing the latest `.deb` for either xenial or the latest version Ubuntu we support makes some sense. However, we also haven't heard many people asking for this, so it's remained low priority.

[2019-07-29 21:54] marstr commented on #8652
This was completed long ago, and the issue just never got updated.

[2019-07-29 21:54] #8652 closed

[2019-07-29 21:56] marstr commented on #9262
The team is going through a bit of a shuffle, and I'm moving on to a new team starting next week. I'm going to unassign myself. :)

[2019-07-29 21:56] tjprescott commented on #9909
The question has been answered with no further discussion from the customer, so I will close this issue.

[2019-07-29 21:56] #9909 closed

[2019-07-29 22:00] marstr commented on #9270
This never made it to the top of the priority list for me, and I'm now moving on to a different team as part of a re-org happening here. However, the issue of making sure we test the Windows installer is definitely important enough to leave this issue open.

[2019-07-29 22:02] tjprescott commented on #8621
I think this has been resolved. The non-dev extension will take precedence. Closing.

[2019-07-29 22:02] #8621 closed

[2019-07-29 22:10] yugangw-msft commented on #6840
fixed

[2019-07-29 22:10] #6840 closed

[2019-07-29 22:13] beautifullife opened #10086 "I got an error when trying to run az webapp up"
I got this error when I follow this tutorial:
https://docs.microsoft.com/en-us/learn/modules/host-a-web-app-with-azure-app-service/6-exercise-deploy-your-code-to-app-service?pivots=csharp

![azure-webapp-1](https://user-images.githubusercontent.com/28057/62086482-10af4700-b224-11e9-89bf-0eda883cb9a8.PNG)

Any help?

[2019-07-29 22:14] marstr commented on #9329
I think @tjprescott has actually been working on this. Not sure of current status.

[2019-07-29 22:16] marstr commented on #9880
I'm moving to a new team after this week, but we should definitely start publishing for buster.

[2019-07-29 22:18] marstr commented on #9902
I'm going to close this for now, because it seems like it may be an outlier. But if folks keep running into it, we should re-open this or file a new issue.

[2019-07-29 22:18] #9902 closed

[2019-07-29 22:35] tjprescott opened #10088 "prompt-toolkit 2.0.9 breaks az interactive"
## Describe the bug

Caused by: https://github.com/Azure/azure-cli/pull/9940

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Update to prompt toolkit 2.0.9:
- `az interactive`

## Expected Behavior

Should not fail.

## Environment Summary
[code]
## Ad

[2019-07-29 22:36] akramwaseem commented on #9384
@yugangw-msft  — Tried this  az ad sp create-for-rbac -n "http://test-aks-sp" --skip-assignment -o json 2>&1

OUTPUT :

That is what I see in azure portal : azure-cli-2019-07-29-22-33-09

[2019-07-29 22:38] tjprescott commented on #9262
I believe this has also been fixed. It was an issue requiring an update. Please reopen if this recurs.

[2019-07-29 22:38] #9262 closed

[2019-07-29 22:39] hkuadithya commented on #9680
Can we close this issue? We tested this 12 days ago and we haven't received any response from @darkbasic. Should we wait for his response?

@tjprescott @sajayantony

[2019-07-29 22:42] yugangw-msft commented on #9943
It will be a while for CRP to change the default

[2019-07-29 22:42] yugangw-msft commented on #9931
Not a CLI issue; rather a AAD graph service end issue

[2019-07-29 22:49] yugangw-msft commented on #7217
The latest azure-core from Azure SDK team should contain the efforts heading to the direction you called out. I am closing this as this is no longer a Azure CLI specific work.

[2019-07-29 22:49] #7217 closed

[2019-07-29 23:04] mahermassoud commented on #8399
Had a similar issue, fixed it with

`python -m pip install azure-cli`

[2019-07-29 23:20] Juliehzl commented on #9444
Sorry for late response because we are in transition process. Actually we are doing something as what you expect. We will provide a new command named `az storage copy -s source-path -d destination-path` to achieve more efficient jobs including upload, download and copy between different storage account. And both source-path and destination-path can use wildcard to match some files and directories.

[2019-07-29 23:27] brendandburns commented on #3180
I take it back, this is definitely not a storage bug, I'll follow up with ARM team.

[2019-07-29 23:55] nphmuller commented on #7217
@yugangw-msft Do you perhaps have a link to the place or the docs I can check to find out more about this?

[2019-07-30 00:49] shurd commented on #10048
Hi @Dave76, thank you for raising this issue. We are currently working on changing the way databases and collections are accessed by the CLI. Currently, the CLI uses "azure-cosmos", which is a data-plane python package. Soon, the CLI will instead access collections and databases through our resource provider.

When this change is made, you will be able to update database level throughput. The targ

[2019-07-30 01:03] manalotoj opened #10089 "Lacking documentation to submit MongoDb Api migration task"
When attempting to create a dms task for mongodb, az dms project task create command returns the following error:

(InvalidRequest) The task type "Migrate.SqlServer.SqlDb" is not allowed for source platform "MongoDb" and target platform "MongoDb"

but there appears to be no way to set the --task-type. Attempting to use the --task-type argument (even with a valid value of Migrate.MongoDb) results i

[2019-07-30 01:18] zikalino commented on #10086
@beautifullife from the URL I can see that the issue is not related to the Webapp itself.
Could you call the same command with **--resource-group** parameter?

az webapp up --name "$APPNAME" --resource-group ….

I just wonder if you get the same error.

Could you also verify that the subscription **955..42** is correct and also resource group **dung1582002_rg_Windows_centralus**?

Could you try to

[2019-07-30 01:47] MyronFanQiu commented on #10073
@EmaOnLine Hi. I discussed with my team member. We have a document talking about this.
https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#using-the-generic-update-arguments
You can check the doc and try something like this below as a workaround.
--set identity="{\"type\": \"UserAssigned\", \"userAssignedIdentities\": { \"/subscriptions/xxxxxxxx-xxxx-4dda-aec3-xxxxxxxxxxxx/resou

[2019-07-30 03:53] #6958 closed

[2019-07-30 04:34] diepes commented on #3447
i just ran into this as well.

When uploading a big data set that is piped through zip and encryption, it would be great to then pipe it to blob storage and not again to disk and back out to blob.

[2019-07-30 04:47] diepes opened #10090 "failing to pipe a file to azure blob throug the azure cli"
## Describe the bug
Get a error when i pipe a file to azure cli , az storage blob upload
**Command Name**
try 1
`echo "Test $(date -I)" | az storage blob upload -c "test" -n example.txt -f - `
 also tried
try 2
`echo "Test $(date -I)" | az storage blob upload -c "test" -n example.txt -f /dev/fd/0`

**Errors:**
[code]

## To Reproduce:
export AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtoco

[2019-07-30 04:55] sscchh2001 commented on #9931
Thanks for the investigation @yugangw-msft , I will proceed from ICM perspective.

[2019-07-30 04:55] #9931 closed

[2019-07-30 07:07] zikalino commented on #9877
@adewaleo I think actually I have an idea how it should work.
I think we shouldn't include line breaks (" \") in examples at all, and Azure CLI should format the example depending on the environment later.
For instance "\" doesn't work on windows, also breaking long string arguments causes problems (these line breaks will be passed)

[2019-07-30 07:20] bhanush3 opened #10093 "Azure Devops Release Pipeline task named 'Azure App Service Deploy' is skipping some .dll files"
**Describe the bug**
Azure Devops Release Pipeline task named 'Azure App Service Deploy' is skipping some .dll files

**To Reproduce**
create new release in release pipeline

**Expected behavior**
should deploy all .dll in bin folder or subfolder

**Environment summary**
I am deploying a .net API App using task version 4.*. Package or Folder option: "$(System.DefaultWorkingDirectory)/**/*.zip"
All

[2019-07-30 08:00] EmaOnLine commented on #10073
Hi @MyronFanQiu ,
I read the documentation you gave me and I changed the command.
It returns the following error:
**Errors:**
[code]

[2019-07-30 08:10] daxianji007 commented on #9117
Work-around in Docs CI

[2019-07-30 08:10] #9117 closed

[2019-07-30 08:51] houliang428 commented on #5340
I got the same problem when trying to assign a role to a service principal with C# code. The problem is that the service principal ID should be the **object ID of the service principal**, not the object ID of the application nor the application ID. I got the object ID of the service principal with the AZURE CLI and it worked out.

[2019-07-30 09:38] daxianji007 commented on #4869
Actually this can be 2 kinds of issues:
1. It is the [reStructuredText](http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html) syntax that turns `*` to `<emphasis>`, which is the built-in syntax of sphinx and there is no way to turn it off.
I have created same [issue here](https://github.com/Azure/azure-cli/issues/9117)
This is not easy to fix. Currently I just add a post step in

[2019-07-30 10:33] MyronFanQiu commented on #10073
@EmaOnLine I will check the swagger file. @zikalino  Could you please also take a look?

[2019-07-30 11:12] Juliehzl commented on #9995
Please confirm you have the read permission for source resource https://md-z1jtvlgqwlxw.blob.core.windows.net/421tblncdgxg/abcd?sv=2017-04-17. In addition, the string behind ? should be a valid sas token for resource https://md-z1jtvlgqwlxw.blob.core.windows.net/421tblncdgxg/abcd.

[2019-07-30 11:28] Juliehzl commented on #10085
Can you show me the debug information by appending ```--debug``` in your command?

[2019-07-30 14:23] tjprescott commented on #10088
Interestingly, if I uninstall prompt-toolkit entirely, everything runs just fine. I'm not sure why we have this dependency at all.

[2019-07-30 14:44] tjprescott commented on #9680
@darkbasic please reopen if you are still experiencing this issue.

[2019-07-30 14:44] #9680 closed

[2019-07-30 14:50] kitingChris commented on #9665
No update yet?
The CLI is also compatible with Python 2.7.x
[https://docs.microsoft.com/en-US/cli/azure/install-azure-cli-linux?view=azure-cli-latest](https://docs.microsoft.com/en-US/cli/azure/install-azure-cli-linux?view=azure-cli-latest)

[2019-07-30 14:58] yugangw-msft commented on #10093
Assuming you are using ADO CLI, please open the issue at https://github.com/Azure/azure-cli-extensions/issues

[2019-07-30 14:58] #10093 closed

[2019-07-30 15:01] yugangw-msft commented on #10086
@beautifullife, can you also run with `--debug` and share with us the trace? Might be another bad error from appservice

[2019-07-30 15:06] pvrk commented on #9135
@tameek: Can you please provide more information as @tjprescott suggested?

[2019-07-30 15:09] pvrk commented on #8677
@christiankuhtz : Currently Azure CLI for backup is only supported for Azure VM backups. Unregister is not used for Azure VM backups. It will be added with future releases. May I know what is the scenario for unregister which you are testing with Azure backup CLI?

[2019-07-30 15:12] pvrk commented on #8676
@christiankuhtz : Apologies for the inconvenience. Since Azure Backup CLI currently supports only Azure VM backups, the documentation is about Azure VM backups only. Will have a relook at the documentation.

[2019-07-30 15:26] pvnguyen123 opened #10095 "You do not have the required permissions needed to perform this operation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -s {} -d {} --account-name {}`

[2019-07-30 15:28] pvnguyen123 commented on #10095
Using Ubuntu WSL2, this happens after computer comes out of sleep mode.  Restarting the PC seems to fix the issue.  Is the time stamp caching on the CLI?

[2019-07-30 15:36] pvrk commented on #5800
@tjprescott : is this issue fixed with merge mentioned above?

[2019-07-30 15:48] beautifullife commented on #10086
Thanks for your help! I missed 1 step that needs to get information about my Azure:

APPNAME=$(az webapp list --query [0].name --output tsv)
APPRG=$(az webapp list --query [0].resourceGroup --output tsv)
APPPLAN=$(az appservice plan list --query [0].name --output tsv)
APPSKU=$(az appservice plan list --query [0].sku.name --output tsv)
APPLOCATION=$(az appservice plan list --query [0].location --ou

[2019-07-30 15:49] northtyphoon commented on #9982
@SourceStudio we have disabled Pull Request trigger due to some security concerns and plan to remove it.

[2019-07-30 15:51] northtyphoon commented on #9982
@jaysterp

[2019-07-30 15:57] #10086 closed

[2019-07-30 16:07] ChrisRG711 opened #10096 "500 Error for AZ AKS create preview"
**Describe the bug**
When trying to use AZ AKS Create to create a new AKS cluster with VMSS using the CLI in preview we only get the following message
WARNING: The behavior of this command has been altered by the following extension: aks-preview
ERROR: request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with
url:

[2019-07-30 16:14] yugangw-msft commented on #10073
@EmaOnLine, it would be helpful if you could run the command with `--debug` and share with us the trace.

[2019-07-30 16:15] marstr commented on #9665
@achandmsft please weigh in :)

[2019-07-30 16:37] adewaleo commented on #9877
Processing based on platform instead of in code makes sense.

However, I wonder if this could hurt readability / writability of very long examples. E.g. a command that takes multiple ids, could be many characters long, at least breaking along the parameter / option level can be helpful

[2019-07-30 17:21] ncbrown1 commented on #10085
Sure
[code]

[2019-07-30 18:24] chidmdxx commented on #6927
Made a change ARM side to acknowledge the error code returned by CRP, and fail the delete operation early

[2019-07-30 18:46] jaysterp commented on #9982
@SourceStudio The trigger would be fired whenever a pull request is `assigned`, `unassigned`, `labeled`, `unlabeled`, `opened`, `edited`, `closed`, `reopened`, `synchronize`, `ready_for_review`, `locked`, `unlocked` or when a pull request review is requested or removed. As mentioned above, the feature is disabled currently. We are very interested in learning more about how customers might use this

[2019-07-30 18:48] achandmsft commented on #6927
Closing per @chidmdxx comment as this is now fixed in the ARM service.

[2019-07-30 18:48] #6927 closed

[2019-07-30 21:40] oc3lot commented on #9311
I'm having this issue too, and on this thread's advice, I deleted clouds.config. Unfortunately, the stack trace still dumps.
`Traceback (most recent call last):
  File "/opt/az/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/opt/az/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/opt/az/lib/python3.6/site-packages/azur

[2019-07-30 21:43] limingu commented on #9311
@oc3lot , the '/home/kelvin/.azure/config' file is corrupt. You can try delete '/home/kelvin/.azure/config' and run the command again.

[2019-07-30 22:02] Karishma-Tiwari-MSFT commented on #9189
Is there an update on this issue?

[2019-07-31 01:43] Juliehzl commented on #9771
@serbrech Have you solved your problem? If yes, I will close this issue. If you still have problem, please feel free to ask me.

[2019-07-31 02:29] MyronFanQiu commented on #9227
@christiankuhtz Hello. Any update? Does this feature request still need to be implemented?

[2019-07-31 02:42] MyronFanQiu commented on #9432
@irrogozh Hello. Once are the spec PR ready, please modify the title and ping me. Thanks

[2019-07-31 02:47] MyronFanQiu commented on #9507
@amitsriva Hello. Is this feature request same with the #9604? This PR https://github.com/Azure/azure-cli/pull/9978 has implemented `--root-cert` for `http-settings`.

[2019-07-31 03:00] Juliehzl commented on #10090
For try1, you should specify a valid file path for ```-f```; For try2, can you show me your more message using ```az storage blob upload -c "test" -n example.txt -f /dev/fd/0 --debug```?

[2019-07-31 03:16] mohamedsaif opened #10100 "az aks get-versions --location southafricanorth No registered resource provider"
**Describe the bug**
No registered resource provider found for location 'southafricanorth' and API version '2019-04-01' for type 'locations/orchestrators' although southafricanorth is in the supported locations listed in the error response

**To Reproduce**
az aks get-versions --location southafricanorth

**Expected behavior**
List of the supported kubernetes versions in southafricanorth

**Enviro

[2019-07-31 03:23] Juliehzl commented on #9396
Hi @awysza Have your problem solved by setting firewall?

[2019-07-31 04:46] Juliehzl commented on #9995
Also note that please check firewall setting.

[2019-07-31 04:47] Juliehzl commented on #10090
Also note that the firewall setting for your storage account.

[2019-07-31 08:29] EmaOnLine commented on #10073
@yugangw-msft hi, here the result of command with debug
[az-network-appliaction-update-debug.log](https://github.com/Azure/azure-cli/files/3450579/az-network-appliaction-update-debug.log)

[2019-07-31 09:03] dileepdevops opened #10102 "error in azure blob upload-batch"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -d --account-name {} -s {} --a

[2019-07-31 10:35] tjakopan opened #10103 "az interactive error on Debian stretch"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-07-31 10:37] smartpcr commented on #9176
i had the same problem, got it to work using `<RoleId>=Scope` instead of `<RoleId>=Role`, then when I call permission list, it says type is "Role"

[2019-07-31 10:40] smartpcr opened #10104 "command `az ad app permission add` doesn't reveal`permission name` and `description` on azure portal"
When using az-cli to set oauthpermissions, portal doesn't reveal name and description field (shows guid in name field, and empty description)

However, if I manually set `API permissions` on portal, these fields do show correct values.

[2019-07-31 11:08] hmdazeem opened #10105 "webapp:azure appsettings with json file in azure cli"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-07-31 12:08] hmdazeem commented on #10105
az webapp config set -n wex-xxx-xxxx-xxx-xxx  -g rax-xxx-xxx  --settings apiAppId=https://xxx-xxx-xx.onmicrosoft.com/xx-xx-xxda-6xxx-4xxx-axxx-fxxxxxxxx
when am running this command from azure cli am getting following  error like

ERROR: not enough values to unpack (expected 2, got 1)
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-jvxpk9ku\knack\knack\c

[2019-07-31 14:14] DdenBraver commented on #8052
@tjprescott @schaabs Is there any update on this issue yet?
We are running into the exact same issue with azcli version 2.0.70
We require to set an expiration date on creation from our organisation.

[2019-07-31 14:30] phillipsj opened #10106 "Comman az monitor metrics alert list returns the same property twice on actions."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor metrics alert list`

**Errors:**

I am seeing the below in the JSON making it difficult to parse due to having the same property repeated.

![image](https://user-images.githubusercontent.com/1568133/62220510-26d11a80-b37e-11e9-9f06-34a18df15939.png)

## To Reproduce:
Steps to repro

[2019-07-31 15:04] pieterclaerhout commented on #7686
Can this issue be reopened?

I've tested the fix and it only seems to fix the problem partially.

When I run the fix, it no longer spits out the error, but simply exits the proxy.

You can test it as follows (tested this on a mac running 10.14.5):

1. Run `az aks browse --resource-group  my-resource-group --name my-cluster-name`

2. The proxy will start and will open `http://127.0.0.1:8001`

3. Wa

[2019-07-31 15:29] yugangw-msft commented on #10073
Looks like the double quotes used for valid json payload were not escaped, could you please escape it? If this turns out messy, you can check out [tips](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues), particularly the 7th point of using a file
[code]

[2019-07-31 16:03] yugangw-msft commented on #10102
The error is valid that you need to supply the destination
//CC @Juliehzl

[2019-07-31 16:03] #10102 closed

[2019-07-31 16:04] yugangw-msft commented on #10103
This is a dupe of #10088

[2019-07-31 16:04] #10103 closed

[2019-07-31 16:05] yugangw-msft commented on #10104
@smartpcr can you please provide a repro?

[2019-07-31 16:06] yugangw-msft commented on #10105
@panchagnula, can you please take a quick look?

[2019-07-31 17:02] panchagnula commented on #10105
@hmdazeem looking at this az webapp config set -n wex-xxx-xxxx-xxx-xxx -g rax-xxx-xxx --settings apiAppId=https://xxx-xxx-xx.onmicrosoft.com/xx-xx-xxda-6xxx-4xxx-axxx-fxxxxxxxx

the command is not using a json file have you tried creating a json object in a local.json file & pass this file as input? I am going to try the example you have & get back to you as well.

[2019-07-31 20:07] Tina-Bu commented on #9902
I had the same problem and uninstall then re-install azure cli and python solved the issue for me. Thank you Martin

[2019-07-31 20:19] zezha-msft commented on #5872
I've logged this item to be included in the next generation of the Storage SDK: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob.

It will be part of the GA criteria.

[2019-07-31 20:19] #5872 closed

[2019-07-31 20:22] zezha-msft commented on #8245
I've logged this item to be included in the next generation of the Storage SDK: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob.

It will be part of the GA criteria.

[2019-07-31 20:22] #8245 closed

[2019-07-31 20:37] brendandburns commented on #10100
Hrm, I tried this and it worked for me. Was this a new subscription? There is eventual consistency in the provider registration.

If it continues to fail for you, please try re-registering for the provider:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-errors#solution-2---azure-cli

And let us know if it continues to fail and we'll investigate on

[2019-07-31 20:39] brendandburns commented on #9777
Thanks, we'll look into this...

[2019-07-31 20:43] brendandburns commented on #9775
Duplicate of #9651

[2019-07-31 21:00] himexia commented on #7761
Would you mind elaborate on how to assign a mapped webapp to the bot via az bot create command?

The AppId and AppPassword the command accepts are the credentials of the app created on https://apps.dev.microsoft.com (now is App Registrations from Azure Portal). So far i could not find a way to link these Apps to a webapp.

[2019-07-31 21:21] palma21 commented on #10096
Hi @ChrisRG711 what is the version of your AKS-preview extension?

Could you update your CLI version and update the extension version as well?
For the extension: az extension update --name aks-preview

Current versions should be:
azure-cli                         2.0.70
Extensions:
aks-preview                        0.4.6

After that try again, if this does not fix it, please do open a support tic

[2019-07-31 22:08] ChrisRG711 commented on #10096
updated, same error. I opened a support ticket as well. so far no luck. I tried doing the same through the cloud shell and get the same errors.

[2019-07-31 22:16] adewaleo commented on #9189
@feisker are you saying this is an issue for those using python 2 and not 3? Please try to follow up with @Karishma-Tiwari-MSFT and  @jonnylove

[2019-07-31 22:25] palma21 commented on #10096
I'll follow up on the ticket, can you double check your subnetID is correct and already exists?

[2019-07-31 22:57] adewaleo commented on #4869
@daxianji007, I hear you. Is there a way we can escape the asterisk to to make this easier for you? We might be able to add some logic in our doc generation scripts / command to escape asterisks or force users to denote asterisks a certain way when authoring help text.

[2019-07-31 23:26] brendandburns commented on #9746
Fix is here:
https://github.com/Azure/azure-cli-extensions/pull/878

[2019-08-01 00:09] ernani commented on #9850
All I got was:

Command arguments: ['keyvault', 'certificate', 'create', '--debug', '--vault-name', 'name', '-n', 'cert1', '-p', '@policy.json']

I am using WSL here.

[2019-08-01 00:51] ddevleena opened #10109 "webapp deployment failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-08-01 00:58] Kirhog opened #10110 "webapp:'IndexError: list index out of range' deploying Flask app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-08-01 01:09] yangl900 commented on #10096
@ChrisRG711 there is bug at our end that the subnet Id comparison was done case sensitively. Before we fix at our side, please try: 1) make sure the subnet exists 2) the subnet name you passed in CLI matches exactly with the actual subnet resource name.

Let me know if that solves the problem. We are fixing the bug too.

[2019-08-01 02:10] Kirhog commented on #10110
**requirements.txt**
[code]

**app.py**
[code]

[2019-08-01 02:27] MyronFanQiu commented on #9844
@adammodlin Sorry for the delay. I think this scenario is supported by this tool. You should provide both local port and remote port.

[2019-08-01 02:27] MyronFanQiu commented on #9844
or you can provide x.x.x.x:*

[2019-08-01 02:28] MyronFanQiu commented on #9845
@adammodlin Hello. I have updated the help information and added check for these two arguments. Could we close this issue?

[2019-08-01 04:40] deepakramesh1985 opened #10112 "Role Assignment create is not happening"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --scope {} --role {}`

[2019-08-01 04:44] brendandburns commented on #10045
I think I see the error, it depends on the kubeconfig. I'll send a PR.

@MahajanTushar if you send a copy of your current `~/.kube/config` (secrets redacted please) that would be very helpful.

Thanks!

[2019-08-01 04:49] brendandburns commented on #9657
@dragonsappire

You need to use `az cloud set ...` to set your cloud to the China cloud.

We should print a better error than this, though.

[2019-08-01 05:25] MyronFanQiu commented on #10014
@TheHunter896 Hello. There is a workaround. You can use the command `az network vnet show -g {rg} --vnet-name {vnet} --subnet {subnetname}` to get the detail information. If your subnet is used by other service, there should be the service information under the field `ipConfigurations`

[2019-08-01 05:27] MyronFanQiu commented on #10014
@TheHunter896 You can see the id ip configuration id belonging to each service respectively. Then you can check the existence of that specific service and delete it.

[2019-08-01 06:13] kamiyn opened #10116 ""az monitor autoscale list" should not write TimeZone in "start" and "end" property"
fixedDate property produced by "az monitor autoscale list" have inconsistent timezones.

"stard" and "end" have "+00:00" (UTC)
but
individual property "timeZone" have my local timezone
like this:

[code]

[2019-08-01 07:11] Feeloh opened #10117 "webapp: az webapp up failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-08-01 09:02] jochenvw opened #10118 "`az dls fs *` commands fail with 'ConnectionError'"
### **This is autogenerated. Please review and update as needed.**

I've deployed and ADLSgen2 store and now I would like to create file systems inside.
Storage creation command:

[code]
Note that the location is *westeurope* for this storage account.

Works fine - now trying to run `az dls fs` commands like:
[code]
Gives the following error message:

[code]

Is there a somewhere or am I doing som

[2019-08-01 09:05] gldraphael commented on #8638
Please reopen this. The first section is illegible. The only way to read it right now is to copy it into another application.

[2019-08-01 09:15] MyronFanQiu commented on #10073
@EmaOnline Hello. I created a PR to support this in a more intuitive way.

[2019-08-01 09:29] EmaOnLine commented on #10073
hi @yugangw-msft , same issue also with double quotes...

As workaround, i have configured script in powershell, and work it. In this case, is more flexible than AZ Cli...
If you want to find a solution like "exercise", we can leave the thread open and I can do the tests. As you prefer.

Thanks for the support

[2019-08-01 13:00] feiskyer commented on #9189
@adewaleo Right, the aks-preview extension only works with Python 3.

@Karishma-Tiwari-MSFT and @jonnylove Could you switch to Python 3 or use Cloud Shell?

[2019-08-01 15:02] yugangw-msft commented on #10073
@EmaOnLine, I tried out the command just now. As long as the quote gets escaped, it will work, though I would agree it is a bit hard to get it right through the generic updater .
[code]

[2019-08-01 15:03] rfink commented on #9763
Same - version 2.0.69

[2019-08-01 15:04] nishant-jain-94 commented on #5180
Had similar issue. Resolved after having same `ClusterName` and `ResourceGroupName`.

[2019-08-01 15:24] kimsk opened #10121 "az container list gives the wrong status for running containers"
`az container list` gives `Succeeded` status for the `Running` containers.

**Command Name**
`az container list`

**Errors:**
![image](https://user-images.githubusercontent.com/116863/62305520-bd1c4380-b445-11e9-9f06-f88d4c1264e6.png)

## To Reproduce:
Run `az container list` and compare it with Azure Portal.

- `az container list -g {} -o {}`
- Compare status with Azure portal

## Expected Behavi

[2019-08-01 15:57] adammodlin commented on #9845
Yes, thank you!

[2019-08-01 15:57] #9845 closed

[2019-08-01 16:01] adammodlin commented on #9844
Thanks @MyronFanQiu. I'll give that a shot.

[2019-08-01 16:01] #9844 closed

[2019-08-01 17:37] Karishma-Tiwari-MSFT commented on #9189
Thanks @feiskyer

[2019-08-01 17:49] larryms commented on #9189
Hmm, I am getting the error in my WSL session even though I believe the cli is calling python3:

[code]

[2019-08-01 17:53] rloutlaw commented on #8638
@tjprescott This is an issue with the storage help.py source. The long-summary field is essentially declaring a blockquote with the '>4' before the text which we will intentionally interpret as a code block and not wrap text in. Either have the storage team remove the >4 or format the text in their blockquote so it doesn't wrap the page.

[2019-08-01 18:11] SourceStudio commented on #9982
Thanks @northtyphoon @jaysterp for your responses. We intended to use the pull request trigger to automate the building of feature branches in some of our internal repositories.  The resulting container images would have been automatically deployed to new Web App instances as part of the ACR build task. We planned to use the timer trigger to automate the removal of old Web Apps as necessary. Hope

[2019-08-01 18:21] adewaleo commented on #9937
So when you say it doesn't seem to work what do you mean? What kind of error do you get?

run commands (in the CLI) take a space separated list of parameters; see az vm run-command invoke -h.

Also --debug can be helpful to see how the cli is parsing your arguments and what's being sent in the request to Azure Compute / ARM

[2019-08-01 18:27] adewaleo commented on #10118
Commands shouldn't throw stack traces, at worst we should have logic to cleanly handle this error

[2019-08-01 19:30] panchagnula commented on #10117
@Feeloh we had an api regression yesterday that was returning an empty array of values that are needed for webapp creation, this issue got mitigated ~3am PST on 8/1 can you please re-try & let us know. Thanks.

[2019-08-01 22:02] yugangw-msft commented on #7220
transient error from service end, closing

[2019-08-01 22:02] #7220 closed

[2019-08-01 22:12] #10045 closed

[2019-08-01 22:58] #9486 closed

[2019-08-02 00:41] jaysterp commented on #9982
@SourceStudio Thank you for the explanation. Will the existing ACR Task git commit trigger feature apply to your scenario? That trigger will fire whenever a commit is made to your source branch (including when a PR is merged). Sounds like a great use for timer triggers 😃

[2019-08-02 00:53] szimmerMicrosoft opened #10124 "Add terminate scheduled event configurability"
**Resource Provider**
What is the Azure resource provider your feature is part of?

CRP, Microsoft.Compute

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

Additional of a couple Virtual Machine Scale Set properties in ScheduledEventsProfile.TerminateNotificationProfile.

This is a co

[2019-08-02 01:08] JaimePolo commented on #10088
I'm having the same issue, but uninstalling prompt_toolkit does not solve it.

[2019-08-02 02:00] #9615 closed

[2019-08-02 02:10] Juliehzl commented on #9647
@mooninite  Can you show me more details using ```az storage account network-rule add --account-name $ACCOUNT --vnet-name $VNET --subnet $SUBNET_NAME --resource-group $RG --subscription '$SUB' --debug``` ?

[2019-08-02 02:32] taoyama opened #10125 "'utf-8' codec can't decode byte 0xff"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm boot-diagnostics get-boot-log -n {} -g {}`

##

[2019-08-02 03:11] jdluzen opened #10126 "Using 2.0.67 worked in DevOps. 5 hours later, 2.0.69 did not: authentication issue"
**Describe the bug**
Today, when using `az` 2.0.67 on Linux in a DevOps pipeline, I was successfully able to upload to my Azure storage blob static site. 5 hours later, DevOps had automatically updated `az` to 2.0.69, and now I am unable to upload. It fails with:
[code]

**To Reproduce**
[code]

**Expected behavior**
My files were uploaded.

**Environment summary**
Azure DevOps Hosted Ubuntu 16.04

[2019-08-02 04:41] Juliehzl commented on #9890
@Makabata Have your problem solved? If you still have connection error, can you show me your debug message with ```-debug``` appended?

[2019-08-02 05:06] Juliehzl commented on #9613
@nofunatall We have released a new command ```az storage remove``` in v2.0.70. You can use this command to delete files more effectively.

[2019-08-02 05:59] sajayantony commented on #9442
@bergmeister are you unblocked and can we close this issue?

[2019-08-02 06:01] sajayantony commented on #9449
/cc @dlepow

[2019-08-02 07:01] bergmeister commented on #9442
Cannot comment on it since I wrote down already the PoC report for the project that this was targeted.
To me it rather sounds like documenting the required rights so that only `az login` is required would be an actionable outcome as this does not seem to be obvious

[2019-08-02 07:15] sajayantony commented on #9442
/cc @dlepow

[2019-08-02 07:36] rgherta opened #10127 "--scope parameter"
Would be helpful to have a link pointing to the Azure scopes format. For example I would like to assign a role to manage a CosmosDB database and yet I am not sure what is the correct namespace and where to find it.

I had to do az role assignment list -all and search for my needed scope format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-08-02 07:58] Juliehzl commented on #2370
@yugangw-msft Can you tell me which scenarios we have delete prompts?

[2019-08-02 08:32] mandarinamdar opened #10128 "With Azure CLI 2.0.70 az cli commands are not working when run from within Python (3.6.8) virtual env on CentOS 7.5"
**Describe the bug**
With Azure CLI 2.0.70 az cli commands are not working when run from within Python (3.6.8) virtual env on CentOS 7.5.
Any az cli command is throwing error when run from within Python (3.6.8) virtual env on CentOS 7.5

**To Reproduce**
Install az cli based on documented steps at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest

Install Pytho

[2019-08-02 09:52] Makabata commented on #9890
Hey Zunli, indeed it was a network issue. Thanks for the replay.

On Fri, 2 Aug 2019 at 06:41, Zunli Hu <notifications@github.com> wrote:

[2019-08-02 09:56] HelgesenJan commented on #10088
How do I uninstall prompt_toolkit?

[2019-08-02 10:03] HelgesenJan commented on #10088
How would I go about uninstalling prompt_toolkit? I'm new to Azure CLI

[2019-08-02 10:06] HelgesenJan commented on #10088
How would I go about uninstalling prompt_toolkit? I'm new to Azure CLI

[2019-08-02 10:27] pvrk commented on #7619
If "-force" is not given, the delete command will ask for consent from the user. Giving "-force" doesn't ask. It is NOT meant to forcefully delete ALL backup items in one call/command. I will treat this as an error where "Container not found. Please provide a valid container_name" should NOT have come up. The team will investigate and come back on this. Even after this is fixed, the expectation is

[2019-08-02 10:36] pvrk commented on #4504
Will design the new commands after the SDKs get finalized. This may take some time, Q4, CY, 2019 i,e., between Nov-Dec, 2019

[2019-08-02 11:13] pameruoso opened #10129 "azure-cli 2.0.70 az interactive No module named 'prompt_toolkit.interface'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
After upgrading azure-cli to version 2.0.70 the az interactive command is broken.
**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- upgrade az-cli to version 2.0.70

[2019-08-02 12:29] SourceStudio commented on #9982
@jaysterp, thanks for your response. We could make it work, but since our feature branches sometimes live for a few weeks before being merged into master, it would have been more useful to have been able to open a pull request and have ACR continuously build such branches until they were ready to be moved to production. We could probably alter our workflow slightly so we create an ACR build task f

[2019-08-02 12:46] ElvenSpellmaker commented on #9399
@adewaleo Hey, sorry for my late response, I get this error when using the requirements for Python 2: ![image](https://user-images.githubusercontent.com/2286713/62371102-e0b9b980-b52b-11e9-8966-b7f77d7c440a.png)

[2019-08-02 12:50] linuxunderground opened #10130 "az account error"
**Describe the bug**
In my linux console, I get this error message :
"command authoring error for 'account show': 'subscription' conflicting option string: --subscription"

**To Reproduce**
`$ az account show`
or
`$ az account set -s …`

However,
`$ az account list`
works well.

**Environment summary**
The problem occurs with azure-cli-2.0.69 and azure-cli-2.0.70 on Gentoo linux.

**Additional con

[2019-08-02 12:54] ElvenSpellmaker commented on #9399
If I remove the pywin32 I get a psutil error again:
![image](https://user-images.githubusercontent.com/2286713/62371558-14491380-b52d-11e9-8590-5ea350a12b5f.png)

[2019-08-02 13:56] pvrk commented on #7493
@archmangler: Thanks for the feedback. We can change this behavior by having a "item-name" parameter when you want to resume backup. The VM name only refers to "unprotected VMs". Once a VM is backed up, it is referred to as backup-item. So, you would enable-protection-for VM with <VM name> for the first time, then delete protection for a backup item with "disable-protection" with <item-name> and t

[2019-08-02 14:31] #9890 closed

[2019-08-02 14:46] Juliehzl commented on #9292
@maxburke @bmancini42 Can you try to run with ```--debug``` and send to zuh@microsoft.com?

[2019-08-02 15:37] tjprescott commented on #10088
`pip uninstall prompt-toolkit`

[2019-08-02 16:07] yugangw-msft commented on #2370
when you delete anything such as "az group delete -n mygp"

[2019-08-02 16:11] robert-skarzycki opened #10131 "storage blob upload-batch fails with InvalidQueryParameterValue on Ubuntu"
**Describe the bug**
When running command like this - on Ubuntu 16.04.6 LTS:
[code]

I receive `InvalidQueryParameterValue` error like this:
[code]
I had the same error on `2.0.69` version. (After getting this error, I upgraded to `2.0.70` but I didn't help me.
When I run this from Windows 10 and `2.0.68` version - it works, all files are being uploaded.

**To Reproduce**
1. Create storage account

[2019-08-02 16:19] #6855 closed

[2019-08-02 16:50] #9657 closed

[2019-08-02 17:00] ehuggz opened #10132 "az monitor app-insights api-key show does not return the api-key value"
**Describe the bug**
az monitor app-insights api-key show --app <AppInsightsName> -g <ResourceGroup> does not return application insights key and instead returns a blank line.

**To Reproduce**

1. Connect to Subscription with az login
2. Set Subscription with az account set --s <SubscriptionName>
3. Verify Subscription properly set with az account show
4. Run command az monitor app-insights api-k

[2019-08-02 17:24] hepais-microsoft commented on #10088
This generates another error... by the way, in my case I"m using the BASH shell from within the Azure Console

**ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/usr/local/lib/python3.5/dist-packages/wcwidth-0.1.7.dist-info'
Consider using the `--user` option or check the permissions.**

[2019-08-02 17:27] hepais-microsoft opened #10133 "az interactive fails with No module named 'prompt_toolkit.interface' ERROR"
Hello,
I'm running 'az interactive' to install the Interactive shell and it is failing with the
"No module named 'prompt_toolkit.interface" I couldn't find a solution to this...
I also tried installing the AZ CLI on my Windows 10 machine and got the same error.

Thanks

[2019-08-02 17:29] tjprescott commented on #10133
Duplicate of #10088

[2019-08-02 17:29] #10133 closed

[2019-08-02 17:29] yugangw-msft commented on #10129
dupe of #10088

[2019-08-02 17:29] #10129 closed

[2019-08-02 17:31] yugangw-msft commented on #10128
@zikalino, could you please take a look?

[2019-08-02 17:35] yugangw-msft commented on #10130
@linuxunderground, i assume you installed through `pip`, if yes, can you please create a virtualenv and do a clean install? This would at least isolate the problem a bit.

[2019-08-02 17:46] adewaleo commented on #9399
@ElvenSpellmaker  Did you remove the psutil dependency? Also are you installing the CLI in a virtual env?

[2019-08-02 17:47] hepais-microsoft commented on #10133
I’m sorry but the fix doesn’t work:

On the local Windows 10 PowerShell – there is no PIP command, hence I can’t “pip uninstall”…

On the Azure BASH Shell, the pip uninstall generates a warning:
WARNING: Skipping prompt-toolkit as it is not installed.

Therefore the proposed fix does not work. IT IS NOT FIXED.
﻿ --
Hermann Fernandes Pais
Category Director, Data Management
Azure Commercial Marketpl

[2019-08-02 17:49] hepais-microsoft commented on #10088
The above command does not work on the local Windows 10 PowerShell since pip is not installed there.

It also doesn't work on the Azure Console BASH shell because it generates a warning:
WARNING: Skipping prompt-toolkit as it is not installed.

Hence the fix doesn't work in the above two cases...

[2019-08-02 18:07] smartpcr opened #10134 "unable to login after work user password reset"
I recently reset my password, when I did `az login` and calling the following method `az ad sp list --display-name **`, I keep getting the following error (note, this is happening on windows/linux, but not on mac):

[code]

I've tried close all the browser and cleared out folder .azure, but no success

[2019-08-02 19:15] kishdubey commented on #7154
Shouldn't this be an issue on MicrosoftDocs, as the content source is there?

[2019-08-02 19:54] #6112 closed

[2019-08-02 19:54] #6536 closed

[2019-08-02 21:24] Damag3d commented on #8912
Strange I am deploying number of applications per day using azure devops, azure devops service principal has rights to perform necessary registrations and can do almost everything, except this. Maybe we can automate this via ARM deployment? Do you have any plans to support app reg manifests in ARM deployment style? We could solve app reg challenge then... Automation is not complete... right now. F

[2019-08-02 22:21] szimmerMicrosoft opened #10136 "Add expand:instanceView for GET VMScaleSetVM"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Compute

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

GET for VMScaleSet VM has added an expand parameter to the swagger spec to display the instance view.

**Minimum API Version Required**

[2019-08-02 22:41] yugangw-msft opened #10137 "az self-test doesn't report loading failure from extension"
This causes https://github.com/Azure/azure-cli/issues/10088

[2019-08-02 22:45] #10088 closed

[2019-08-03 01:30] hkuadithya commented on #9598
@maguirpd  Could you please run `az acr check-health` and post the logs here. Thanks.

[2019-08-03 02:09] brendandburns commented on #9736
I can't reproduce this any more. I think this can be closed.

[2019-08-03 02:11] brendandburns commented on #9552
This is documented here:

https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#for-rbac-enabled-clusters

@tjprescott This issure can be closed.

[2019-08-03 02:12] brendandburns commented on #9537
I don't think this is a bug in the CLI per-se (though perhaps there could be better error handling) but I think aad-pod-identity is returning an HTTP error for some reason (which may be a bug in AAD Pod Identity

[2019-08-03 03:55] brendandburns commented on #10100
@tjprescott I think this can be closed.

[2019-08-03 03:56] brendandburns commented on #9775
@tjprescott we can close this as a duplicate.

[2019-08-03 04:20] brendandburns commented on #9651
Hrm, I can not reproduce this on a fresh Centos 7.5

[code]

Is it possible something got fixed somewhere else in the CLI? Regardless, I think we have to close this as "can not reproduce"

[2019-08-03 04:25] #9746 closed

[2019-08-03 04:40] brendandburns commented on #9189
fwiw, this was fixed in #636 also.

@tjprescott this issue can be closed.

[2019-08-03 04:41] brendandburns commented on #9066
@tjprescott this should be closed as can not reproduce. The command works generally, I suspect some sort of network mis-configuration.

[2019-08-03 04:41] brendandburns commented on #8938
This looks like a transient network error.

@tjprescott this issue should be closed.

[2019-08-03 07:17] SeaDude commented on #10001
Here is the failed `--service-objective Basic` in action: https://youtu.be/otzx-d3NhSw?t=540. Results in a ~$400 sql server instance instead of $4.99.
Please advise on the proper syntax as the docs are not correct.
Thank you

[2019-08-03 12:56] #10100 closed

[2019-08-03 12:57] #9552 closed

[2019-08-03 16:16] jaysterp commented on #9982
Hi @SourceStudio. Thank you for your feedback. Our initial concern with the pull request trigger was because it was default to enabled in the CLI. This provided a security concern because any pull request opened, which may or may not contain malicious code, would trigger a image build. Therefore, we decided to block the feature server side until we saw a solid scenario to support. However, after d

[2019-08-03 16:21] jdluzen commented on #10126
I was able to work around this. The logs suggest that something may have been wrong with the request, including the signature. The `--file` argument has the filename which includes the initial `./`. Removing the dot slash lets it continue.

[2019-08-03 16:21] #10126 closed

[2019-08-03 16:29] SourceStudio commented on #9982
Thanks for your response @jaysterp.  That's great news, and will greatly simplify things in our case!  One other potential solution to this would perhaps be to allow multiple branches to be specified in the commit trigger of the ACR build task, or even allow a regular expression to be defined that indicates which branches are authorized to be built as part of the task.  Of course, re-enabling the

[2019-08-03 19:37] linuxunderground commented on #10130
@yugangw-msft, NO.
It's the Gentoo package manager (portage) that install source tarball release with python setuptools, package after package, each downloaded on https://pypi.org/. I maintain Azure-CLI 2.0 for Gentoo through my own overlay.
The trouble is certainly in azure-cli-2.0.70.tar.gz or in azure-cli-core-2.0.70.tar.gz. Only these 2 packages change to reproduce or not the trouble.

[2019-08-03 23:07] paulgmiller commented on #9736
Agree thought I saw it just this week but now gone on three different machines

[2019-08-03 23:07] #9736 closed

[2019-08-04 00:06] sdatta1 opened #10142 "az acr login --name fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-08-04 09:08] rsaitosntk opened #10143 "Unsupported Media Type"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az rest -m {} -u {} -b {}`

## Expected Behavior

## Environment Summary
[code]

[2019-08-04 11:05] hofnarwillie commented on #9384
(Using AZ CLI version 2.0.69)

The behaviour can be replicated by adding the `http://` prefix to the service principal name

[code]

after the above executes it creates an app with displayName "foo". However, the warning message makes me think I should have added the "http://", so I tried:

[code]

this time it doesn't give the warning, but results in the generated app displayName of `azure-cli-<d

[2019-08-04 15:13] limordavid opened #10144 "can't see the output url of vpn-client"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet-gateway vpn-client generate`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet-gateway vpn-client generate -g {} -

[2019-08-04 16:02] mridul96 opened #10145 "az interactive - module prompt_toolkit.interface not found."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-04 17:59] mikhailgithub opened #10146 "az interactive error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-05 01:20] Juliehzl commented on #10146
Please run ```az interactive -h``` for more information. Through help message, you can find that you have to install interactive extension when using interactive mode.

[2019-08-05 01:24] Juliehzl commented on #10146
@jiasli I think you have encounter a similar problem. Can you help figure out the error?

[2019-08-05 01:45] MyronFanQiu commented on #10055
@gjdonkers Hello. Sorry for the delay due to limited bandwidth. I checked the behavior of this checkbox. It seems that it will create a probe and enable it, right? Based on the SDK perspective, I found one field called `probe_enable`, but I'm not sure whether it's corresponding behavior or not.

[2019-08-05 02:01] MyronFanQiu commented on #10144
@limordavid Thanks. I will do some investigation. Ref a possible related issue.  https://github.com/Azure/azure-cli/issues/10085

[2019-08-05 03:00] Juliehzl commented on #10137
@yugangw-msft  It looks you have fix this bug through deleting prompt-toolkit in requirements.txt.

[2019-08-05 03:13] Juliehzl commented on #10145
There are some errors for prompt-toolkit 2.0.9. You can try to delete prompt-toolkit package in C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages folder. We will fix it in next release.

[2019-08-05 03:22] yugangw-msft commented on #10137
Not yet. My fix was for `az interactive`. This one is on `self-test` used by CI to ensure cli core change won't break extensions. W/o fixing this, extensions like `az interactive` might  break again.

[2019-08-05 03:31] yugangw-msft commented on #3337
We can live with it considering we have no user voices

[2019-08-05 03:31] #3337 closed

[2019-08-05 03:32] yugangw-msft commented on #5195
No a critical item and we have no resources on this

[2019-08-05 03:32] #5195 closed

[2019-08-05 04:58] Juliehzl commented on #10146
This is an error caused by duplicated prompt-toolkit 2.0.9 in core cli. You can delete the prompt-toolkit package in python3.6/site-packages/ and it will works. We will fix this in next release.

[2019-08-05 07:21] linuxunderground commented on #10130
PS:
I suspect that it's related to this comment on [https://pypi.org/project/azure-cli/](https://pypi.org/project/azure-cli/)

[2019-08-05 08:32] miicahjardine opened #10151 "`az ad app update --homepage` doesn't update homepage"
az ad app update --homepage does nothing.  I run the command and get no errors no feedback.

When I check in the portal the value has homepageUrl has not updated.  using CLI Version 2.0.70

I am using powershell script to call AZ commands.  I have a piece of code which looks like this...

$manifest = get-content $manifestLocation

    # Set the homepage url
    if ($manifest.signInUrl) {
        w

[2019-08-05 09:19] pameruoso commented on #10129
Hi the proposed fix is not working in powershell, neither in WSL - Debian. No pip command available.

[2019-08-05 11:13] MahajanTushar commented on #10045
Not solved yet, I took an update for azure cli 2.70
@brendandburns please find below pasted kube-config :

apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUV4ekNDQXErZ0F3SUJBZ0lRR1gydmIydjA2Tkw1NVB1bUg2UHFLREFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB4T1RBME1ERXhNek0zTXpCYUZ3MHlNVEF6TXpFeE16TTNNekJhTUEweApDekFKQmdOVkJBT

[2019-08-05 11:42] gustavo-accellog commented on #9651
I updated to 2.0.70 and it's ok.
Thank you.

[2019-08-05 11:42] #9651 closed

[2019-08-05 13:19] gamesbrainiac commented on #10145
Same issue here, but on MacOS.

[2019-08-05 14:56] #9066 closed

[2019-08-05 14:56] #9189 closed

[2019-08-05 14:56] #9775 closed

[2019-08-05 14:57] #8938 closed

[2019-08-05 15:27] yugangw-msft commented on #10134
@jiasli, let us add a new condition on “AADSTS50173” at [here](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/adal_authentication.py#L42) to polish the error so users would know to run “az login”.

[2019-08-05 15:47] jluk commented on #9651
Thank you for confirm @gustavo-accellog

[2019-08-05 16:09] yugangw-msft commented on #10146
dupe of #10088

[2019-08-05 16:09] #10146 closed

[2019-08-05 16:09] yugangw-msft commented on #10145
dupe of #10088

[2019-08-05 16:09] #10145 closed

[2019-08-05 16:21] hepais-microsoft commented on #10088
Hello folks,

The problem is still there:
I removed the prompt_toolkit by running 'pip uninstall prompt_toolkit'
Also removed the interactive extension by running 'az extension remove --name interactive

[2019-08-05 16:22] hepais-microsoft commented on #10088
Confirmed removal by running 'az extension list' and verifying the list was empty.
And reinstalled interactive.

Tried it on : https://shell.azure.com/ and in the built-in shell on https://ms.portal.azure.com/#home

The problem is not fixed.

[2019-08-05 16:29] hepais-microsoft commented on #10088
I also reinstalled the AZURE shell by running:
curl -L https://aka.ms/InstallAzureCli | bash

The problem IS STILL THERE. NOT FIXED.

[2019-08-05 16:54] austinloveless opened #10152 "Azure CLI interactive bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-05 16:57] code4clouds commented on #10088
The problem even shows on the Azure Cloud Shell CLI (Bash & PS).  How was it fixed?

[code]

[2019-08-05 17:02] code4clouds commented on #10152
It can be easily reproduced in the Azure Portal / Cloud Shell:

[code]

[2019-08-05 17:08] BenjaminHerbert opened #10153 "File paths (inclusion/exclusion) for acr task triggers"
Is there a way to specify inclusion/exclusion of file paths in ACR tasks triggers?

I have a monorepo with many different Dockerfiles and - as there are different jobs that have both source code and base image update triggers - some jobs are build too often when a commit is made in the repository. Once for the commit and once triggered by the base-image update.

Someting as this: https://docs.micr

[2019-08-05 17:29] #8934 closed

[2019-08-05 17:33] yugangw-msft commented on #9777
@brendandburns, could you please add a change log at the [history.rst](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/HISTORY.rst)? You can also add one more for https://github.com/Azure/azure-cli/pull/10139 I just now merged.

[2019-08-05 19:09] jsalaman commented on #10088
Why this is closed if the issue is still there in latest Azure Cli version?:

[code]

[2019-08-05 20:12] gavinbarron commented on #5004
Is there any action on this request? Uploading a cert for an app service from a keyvault entity is a trivial action when using the portal.

[2019-08-05 20:46] srdubin commented on #10088
Same issue on OSX:

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

interactive mo

[2019-08-05 21:42] zhusijia26 commented on #8033
Pending response from @yugangw-msft and @srinathnarayanan, remove Storage label.

[2019-08-05 21:49] shpa-microsoft opened #10156 "VM/VMSS: Referencing VMSS during VM creation"
**Resource Provider**
What is the Azure resource provider your feature is part of?
- Compute

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
- Converged API VMSS now allows usage of VMSS in a way similar to availability Sets. Therefore we now need to reference VMSS instead of av-set d

[2019-08-05 22:13] yugangw-msft commented on #10152
dupe of #10088

[2019-08-05 22:13] #10152 closed

[2019-08-06 00:46] jaredmoo commented on #9510
Fixed by #9918

[2019-08-06 00:46] #9510 closed

[2019-08-06 01:07] ymashiro opened #10157 "Every time you press CTRL + C, it will appear in the terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-08-06 03:06] yugangw-msft opened #10158 "resource: expose resource patch"
[API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json#L1645) already supports, hence let us just expose it

[2019-08-06 03:12] yugangw-msft commented on #10158
for incident https://icm.ad.msft.net/imp/v3/incidents/details/138014116/home

[2019-08-06 03:27] Juliehzl commented on #10131
@robert-skarzycki
1. "$web" is not a valid container name or container url. Are you sure it works for 2.0.68? Or you want to pass the value of web variable?
2. ```curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash```  will install the latest version. You can find the installed version using ```az --version```

[2019-08-06 03:41] yugangw-msft commented on #10085
@ncbrown1, likely you are under `table` output mode, which by default will output nothing since both `ipRules` and `virtualNetworkRules` are complex types and the default output doesn't know how to flatten them. Fro cross check, can you please try the command with `-o json`?

[2019-08-06 04:44] titanwan opened #10159 "centos install CLI error"
curl -L https://aka.ms/InstallAzureCli | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
105  1369  105  1369    0     0    527      0  0:00:02  0:00:02 --:--:--     0
Downloading Azure CLI install script from https://azurecliprod.blob.core.windows.net/install.py to /tmp/azure_cli_ins

[2019-08-06 04:47] bottkars opened #10160 "AZ Storage Blob copy show fails on azurestack"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

* Start a storage blob copy from azure to AzureStack

- `az storage b

[2019-08-06 05:34] Juliehzl commented on #10160
Hi @bottkars, I think your issue is that after you run ```az storage blob copy```, you want to check if all the things have been copied and run```az storage blob show``` , but it fails with above error message, right?
It looks preceding copy operation hasn't been completed.

[2019-08-06 06:12] Juliehzl commented on #10159
According to error message, you need to install [prerequisites](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#prerequisites) packages through ```yum check-update```  and ``` yum install -y gcc libffi-devel python37u-devel openssl-devel```.

For CentOS, you also can install Azure CLI according to  https://docs.microsoft.com/en-us/cli/azure/install-azure-cl

[2019-08-06 06:23] Juliehzl commented on #10095
@pvnguyen123 It looks just your environment (WSL2), is providing an old time to the CLI. I think nothing goes wrong and I will close this issue now. If you have any question, pls feel free to reopen it.

[2019-08-06 06:23] #10095 closed

[2019-08-06 06:46] Juliehzl commented on #10050
You can run```echo $end``` to get the $end value in Ubuntu after running ```export end=`date -d "30 minutes" '+%Y-%m-%dT%H:%MZ'```. It should be the UTC time after 30 minutes from now. Can you check again?

[2019-08-06 06:50] MyronFanQiu commented on #8244
@nexxai Talked with @MikhailTryakhov offline. I will start to implement this feature.

[2019-08-06 07:08] Juliehzl commented on #10033
Update help message in PR #10161

[2019-08-06 07:08] #10033 closed

[2019-08-06 07:09] Juliehzl commented on #9794
@yugangw-msft I think we have done these features and can close it.

[2019-08-06 07:30] Sviatik opened #10162 "[az monitor metrics alert][Unable to update|disable availability alert]"
## Describe the bug
I've created availability checks in app insights and it automatically creates alert. When I try to disable it, I get the next error message

**Command Name**
`az monitor metrics alert update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create some availability

[2019-08-06 07:31] PuffTMD opened #10163 "Interactive failed with an unexpected error"
**Describe the bug**
the following error occurs after entering `az interactive`.
The command failed with an unexpected error. Here is the traceback:

No module named 'prompt_toolkit.interface'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/az

[2019-08-06 07:37] Sviatik commented on #10162
UPD
Also tried with
```azure-cli 2.0.70```
The same issue.

[2019-08-06 07:54] Juliehzl commented on #9743
Can you show me more message with ```--debug``` appending your original command?

[2019-08-06 08:30] bottkars commented on #10160
Problem here is that  I want to query the ongoing status.
connected to Azure, the result would be:
Expected Behaviour, verified on Azure
[code]
Atual Behaviour  on AzureStack:
[code]

this brings a whole burden on scrtipting, as i need o query for until "success", wich may never come back when status is like "connection reset by peer" or "failed"

[2019-08-06 09:00] MyronFanQiu commented on #8244
@akshaysngupta Hello. I want to confirm something in detail.
- Application gw uses managed identity to obtain the key vault. Secret Id must be set in the ssl certification section. Right?
- Does ManagedServiceIdentity support setting a list of user identities associated with application gw?
- `Trusted root certificates` don't support `keyVaultSecretId` even though they are already defined in the s

[2019-08-06 09:59] kfmaurice commented on #5400
This helped me too, thanks.

[2019-08-06 13:48] HarshGandhiNL commented on #10118
@adewaleo - As suggested, I tried to use the above command and "create file system command combinations as under
1) az dls fs create --account "abcxyz123" --path "/test1"
2) az dls fs create --account "abcxyz123" --folder --path "/test1"
3) az dls fs create --account "abcxyz123" --folder --path "/"
4) az dls fs create --account "abcxyz123"  --path "/"
" in storage account created in West US 2 and

[2019-08-06 13:50] HarshGandhiNL commented on #10118
So this issue is not in specific region.

[2019-08-06 13:52] romanows commented on #10050
Checked again, same outcome, the original command is buggy on platforms that are not already set to UTC.

If you are trying this command yourself and succeeding, my guess is that your platform is already set to UTC.  You can check this by typing `date "+%Z"`.  If the output is `UTC` then you will not notice the bug.  But not everyone's platform runs on UTC time and they will all encounter the bug

[2019-08-06 14:40] gamesbrainiac commented on #10163
I have the same problem

[2019-08-06 14:40] Chocrates commented on #9771
I can confirm this is still broken on my end with az version  2.0.62.
I have tried the workarounds above as well as using the  connection string for the account key, none of the generated SAS tokens were valid.
Using the Powershell cmdlet's is the only workaround I have found if I need to script the SAS generation.

[2019-08-06 15:11] mlcroix opened #10164 "az devops service-endpoint create asking for unkown parameter (--service-endpoint-configuration)"
**Describe the bug**
We are trying to use an azure DevOps pipeline in order to roll out projects. however, we are running into a problem when we try to create a service connection. When we run the script outside of the pipeline everything works fine, however, in the pipeline we get the following error:
**ERROR: az DevOps service-endpoint create: error: the following arguments are required: --servi

[2019-08-06 15:13] serbrech commented on #9771
I think what happens is that, if any of the parameter is wrong it doesn’t
return an error, instead it spits out an invalid key without complaining.
My command started working after I rewrote it with a different format, new
line, etc... I could not figure out what was different, I just assume it
was a formatting difference.

It would go a long way if the cmd would only ever return a key that is
val

[2019-08-06 15:54] Ed-at-GSA commented on #9665
Some commands like "az iot hub monitor-events" result in the error "Python version 3.5 or higher required for this functionality."

The CLI will only install for me if I have 2.7, but I cannot seem to change the version used by using aliases, etc.  I have spun up fresh images with different flavors of Unix under AWS and always get the same issue.  I am not interested in a manual install since that

[2019-08-06 16:16] #9794 closed

[2019-08-06 17:02] rich617 opened #10165 "az account get-access-token does not work in Cloud Shell for some resources"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The command `az account get-access-token` works in the downloaded Azure CLI for the resource types `https://database.windows.net/` and `https://ossrdbms-aad.database.windows.net`, but it does not work for these resources in Cloud Shell. Instead, it results in the exception reported below.

The weird thing is t

[2019-08-06 17:07] uda opened #10166 "[DNS] `az network dns record-set cname` is incompatible with other record types"
**Describe the bug**

Running `az network dns record-set cname delete ... --yes` returns the following error:
`az: error: unrecognized arguments: --yes`, this is unlike all other record types that have this flag.
This is counter intuitive and adds complexity to automating this process.

Issue #4275 is relevant, but the current inconsistent behaviour is causing issues, not solving.

**To Reproduce*

[2019-08-06 17:28] adewaleo commented on #10118
@HarshGandhiNL I am not sure if you are responding to my comment or someone else's. I left my previous comment to guide whoever will eventually fix the issue. I was acknowledging that this is a bug because a stack trace was thrown.

Hopefully an owner of DLS or member from the CLI team, would be able to help address your issue. I am no longer a member of the CLI team.

[2019-08-06 17:59] uda commented on #7367
It doesn't matter if you officially support `pip install` or not, I bet there is a reason the `az` script the way it does, but this is easily solvable by using the built-in `entrypoints` in `setup.py`, which should use which ever environment the user is using instead of making decisions for the user.

This should not affect the OS packaged installation.

[2019-08-06 18:32] amishra-dev commented on #5575
Hi,
We are discussing this feature request between the Azure Cli and the Azure Storage team. We will update this bug with what we finalize.

[2019-08-06 18:38] pmarques commented on #7367
Apparently setuptools has some drawbacks accordingly to this PR  #1042 😳

[2019-08-06 20:21] JasonRShaver opened #10169 "Identify Aladdin-generated examples in command table"
Currently, each Aladdin example adds `crafted: true` to the _help.py.  We would like to get that value loaded into the command table.  This allows
1) us to remove the (autogenerated) text in the future while still tracking Aladdin sourcing
2) Allow us to remove a bunch of janky parsing code in our model generator

[2019-08-06 20:22] yugangw-msft commented on #8052
I will fix this

[2019-08-06 20:27] JasonRShaver opened #10170 "Normalize param names and ordering in Telemetry lookup"
In the core/commands/__init__.py, when loading values into self.cli_ctx.data['safe_params'], we should normalize the names and order.
* Expand short names into the full name: e.g. -n becomes --name
* Order params consistency: e.g. (alpha ordering) --resource-group, --name

This enables:
* More accurate telemetry
* Ability to translate command+paramset combos to REST endpoint via ARM telemetry (Aru

[2019-08-06 20:29] JasonRShaver commented on #10170
@albaloo

[2019-08-06 20:29] JasonRShaver commented on #10169
@albaloo

[2019-08-06 21:00] yugangw-msft commented on #10088
Folks,  first apologize for breaking this. I have merged this fix to be released on Aug 13. We have also started to investigate for why CI didn't catch this regression.  Meanwhile if you can't revert back to the older build, the manual workaround will be :

    1. If you installed through `pip`, run `pip uninstall prompt-toolkit`
    2. If you installed through Windows installer, delete `C:\Progra

[2019-08-06 21:25] code4clouds commented on #10163
fyi... @yugangw-msft posted a workaround in #10088.

[2019-08-06 21:26] code4clouds commented on #10152
@austinloveless   fyi... @yugangw-msft posted a workaround in #10088.

[2019-08-06 21:27] yugangw-msft commented on #10163
dupe to #10088

[2019-08-06 21:27] #10163 closed

[2019-08-07 00:10] ravindp commented on #9894
You can follow the API documentation to understand the parameters -
https://docs.microsoft.com/en-us/rest/api/cdn/customdomains/enablecustomhttps#usermanagedhttpsparameters

We'll take an action item on our side to add some samples.

[2019-08-07 02:01] yugangw-msft commented on #10164
please open the issue at https://github.com/azure/azure-cli-extensions

[2019-08-07 02:01] #10164 closed

[2019-08-07 02:55] yugangw-msft commented on #8682
fixed

[2019-08-07 02:55] #8682 closed

[2019-08-07 07:57] malinoff opened #10174 "`az network vnet-gateway vpn-client show-url` unhandled exception"
## Describe the bug

**Command Name**
`az network vnet-gateway vpn-client show-url`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- Create a VPN gateway, run `az network vpn-gateway vpn-client generate -g xxx -n yyy`
- Run `az network vnet-gateway vpn-client show-url -g xxx -n yyy`

## Expected Behavior
Don't fail with an unhandled exception.

## Environment Summary
[code

[2019-08-07 09:32] MyronFanQiu commented on #9327
@Nilambari Hello. Could you please provide me with the corresponding PR? I cannot figure out which part is related with custom routes feature.

[2019-08-07 09:34] MyronFanQiu commented on #8244
cc/ @nexxai

[2019-08-07 09:41] MyronFanQiu commented on #9380
@mancgupta Hello. What's the metric of these two fields `trigger_rate_override` and `sourceRateOverride` ? Does the word `rate` represent a number or something else?
https://github.com/Azure/azure-rest-api-specs/blob/ad759850354ddb7b4ffea0a49b70243fd9ec5a42/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/ddosCustomPolicy.json#L336-L346

[2019-08-07 11:03] BrianRichardson commented on #8122
I am experiencing hangs when using the "azds up" command which is impeding progress.
The terminal hangs at "Synchronizing files..." and have to kill the "azds.exe".
All tools are updated to the latest versions.
Failing to diagnose the cause since no errors are reported.
I have reviewed logs within %USERPROFILE%\AppData\Local\Temp\Azure Dev Spaces.

### AZDS Version
Azure Dev Spaces CLI
1.0.2019071

[2019-08-07 11:55] itaylaufer opened #10175 "'az policy assignment show' doesn't work on portal assigned policies"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy assignment show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. I've assigned an existing Azure policy in the portal to a management-group.
2. I chose the 'Audit virt

[2019-08-07 11:58] itaylaufer opened #10176 "az policy assignment show complains about assignment name length"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Policy that was assigned in the portal and was assigned correctly failed to show in cli.

**Command Name**
`az policy assignment show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. I've assigne