[2022-09-13 08:50] navba-MSFT commented on #23779
@SergeiDavydov Please follow [this](https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/#install-with-homebrew-on-macos) article to install kubectl on mac OS using HomeBrew.

Alternatively you could also download and install using **curl** for` Apple Silicon `as explained [here](https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/#install-kubectl-binary-with-curl-on-macos).

Hope

[2022-09-13 08:52] RakeshMohanMSFT commented on #23855
@pankajdevrani Can you please upgrade to the latest version of az cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and also your python version and retry?

[2022-09-13 08:52] Vi-2022 commented on #23714
so...how can I resolve it ?

[2022-09-13 08:52] bebound commented on #23666
@vivek602  I can't reproduce it. This is another issue, please create a new issue with the detailed error message.

[2022-09-13 09:07] krokofant commented on #23854
This issue seems to be bigger. We're seeing a similar issue with az acr
[code]
With 2.40.0
![image](https://user-images.githubusercontent.com/5908498/189859987-77891d6c-30a7-403c-8b0c-7fc0b66e4e72.png)
With 2.39.0
![image](https://user-images.githubusercontent.com/5908498/189860110-5ca3f398-94aa-4a7c-a727-46947e29f65c.png)

Our ci pipelines are broken because of this. The latest Azure Pipelines /

[2022-09-13 09:15] krokofant commented on #23854
@John-Bosch You can probably use something like this as a workaround, but with your own command and arguments. Just use Invoke-Expression and interpolate the arguments directly in a string.
[code]

[2022-09-13 09:52] SergeiDavydov commented on #23779
@navba-MSFT
Thanks for the response.
I know how to install kubectl binaries for Apple Silicon.
I just want to point that azure cli tool doesn't know this. It provides this feature of installing kubectl, however it cannot do it 100% properly (by downloading the correct binaries).

Cheers!

[2022-09-13 10:03] vyshnavi-gadiparthi commented on #23820
Hi @yonzhan,

Could you please help me to resolve this issue. I tried multiple versions as well but still nothing works. I am blocked with this error.

[2022-09-13 10:04] vyshnavi-gadiparthi commented on #23820
Hi @yonzhan,

Could you please help me to resolve this issue. I tried multiple versions as well but still nothing works. I am blocked with this error.

[2022-09-13 10:42] krokofant commented on #23854
Related to https://github.com/Azure/azure-cli/pull/23514

[2022-09-13 10:44] navba-MSFT commented on #23779
@SergeiDavydov Did you try with the `--base-src-url` parameter in azure cli ?

[2022-09-13 11:30] Abhinavgundapaneni opened #23860 "ARM Deployement with Azure CLI failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group create --name {} --resource-group {} --te

[2022-09-13 11:31] Abhinavgundapaneni commented on #23860
This is the deployment json I'm trying to execute.

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "workspaceName": {
        "type": "string"
      },
      "LS_SQL_Serverless_OEA": { "type": "string" },
      "LS_ADLS_OEA": { "type": "string" },
      "LS_HTTP": { "type": "string" }

[2022-09-13 11:39] onenessboy commented on #23803
for disabled is that  --set properties.publicNetworkAccess=Disabled ?

[2022-09-13 11:45] yonzhan commented on #23860
@zhoxing-ms for awareness

[2022-09-13 12:02] Ravi-9654 opened #23861 "Not able to create subnet using az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet subnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet subnet create -g {} --vnet-name {} -n {} -

[2022-09-13 12:02] Ravi-9654 opened #23862 "Not able to create subnet using az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet subnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet subnet create -g {} --vnet-name {} -n {} -

[2022-09-13 12:03] tianputao opened #23863 "Failed to install aks-preview on Azure cli 2.40"
**Related command**
az extension add --name aks-preview

**Describe the bug**
I need to create an AKS cluster with none CNI, but it require aks-preview module in Azure cli 2.39. I have upgraded my CLI to 2.40. I can't install the aks-preview, its prompt below error.

ImportError: cannot import name '_case_insensitive_dict' from 'azure.core.utils._utils' (C:\Program Files (x86)\Microsoft SDKs\Azure

[2022-09-13 12:31] norvegec commented on #23860
The same release in Azure Devops that worked for us just yesterday today (September, 13nth, 2022) started failing.
The step that fails is Azure Devops task "Azure CLI" (ver. 2). It runs our custom PS-core script and fails in line similar to this:
`az deployment sub create -l $loc --template-file $template --parameters @("p1=$p1", "p2=$p2")`
where `p1` and `p2` are ARM template parameters and `$p1`

[2022-09-13 12:38] norvegec commented on #23860
Just reproduced this on local dev machine:
Script succeeded on Azure CLI ver. 2.39.0 and after upgrade to 2.40.0 it failed.

I suppose if you follow semver, minor upgrades should not introduce breaking changes like this.

[2022-09-13 12:39] mertbezirgan opened #23864 "az afd origin-group create and update descriptions are same."
[Enter feedback here]
In the documentation the definitions of az afd origin-group create and az aft origin-group update commands' descriptions are same which is "Creates a new origin group within the specified profile". Definition of update command needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f32

[2022-09-13 12:40] rafaeldnferreira opened #23865 "AZ CLI Support for Mobile.Network Resource Provider"
### Description of the new feature

Support for Mobile.Network RP in Az CLI

Target API:
https://github.com/Azure/azure-rest-api-specs-pr/pull/8733

(Merge is expected to happen before end of October - 2022)

GA Date: 31/Jan/2023

### Scope of the work

- All Basic operations generated via atomic cli tool;
- No custom flows;
- Packaged as `CLI extensions` and not module;
   - Required test cases c

[2022-09-13 13:20] yonzhan commented on #23861
@necusjz for awareness

[2022-09-13 13:21] yonzhan commented on #23862
@necusjz for awareness

[2022-09-13 13:22] davi-cruz opened #23866 "Add opt-in/opt-out for multiple monitors on `az network bastion rdp` command"
**Related command**
`az network bastion rdp --name MyBastionHost --resource-group MyResourceGroup --target-resource-id vmResourceId`

**Is your feature request related to a problem? Please describe.**
While connecting to an Azure resource through Azure Bastion Standard native client, generated RDP file will always use all monitors by default, which is not always desired when working with multiple

[2022-09-13 13:24] yonzhan commented on #23866
route to CXP team

[2022-09-13 13:25] yonzhan commented on #23865
Please open this issue in azure-powershell repo

[2022-09-13 13:25] yonzhan commented on #23864
route to CXP team

[2022-09-13 13:26] rbleattler commented on #2324
Cool cool -- why on earth is the _azure_ cli written in python when it doesn't have clean support for the _Windows_ native shell? Sorry this just sounds lazy... If the `dotnet` cli can do this (below), someone can do it in python..

[code]

[2022-09-13 13:27] yonzhan commented on #23863
route to CXP team

[2022-09-13 13:39] wiperpaul opened #23867 "SKU error on creation of workspace linked to cluster"
**Related command**
`az monitor log-analytics workspace create`

**Describe the bug**
After a workspace has been linked to a dedicated LA Cluster which has a cluster level commitment tier. That workspace can be deleted and created again however during recreation of the workspace there is an error.

`{"code":"DeploymentFailed","details":[{"code":"BadRequest","message":"sku.name can not be changed w

[2022-09-13 13:43] zhoxing-ms commented on #23860
where p1 and p2 are ARM template parameters and $p1 and $p2 powershell variables defined and set within that very script.
Comparing logs, I can see that Azure CLI on the machine (Azure agent windows-2019) was bumped from 2.39.0 to 2.40.0.

Same issue as #23797

[2022-09-13 13:44] zhoxing-ms commented on #23854
Same issue as #23797

[2022-09-13 13:47] #23860 closed

[2022-09-13 13:48] #23854 closed

[2022-09-13 14:03] yonzhan commented on #23867
@kairu-ms for awareness

[2022-09-13 14:22] PramodValavala-MSFT commented on #23866
@davi-cruz Thanks for the feedback! Looks like the RDP file content is retrieved from an API on the service side, so we are routing this to the service team for review.

[2022-09-13 14:57] ehp246 opened #23868 "az webapp deploy fails with target-path"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The command works if no --target-path is specified. It fails with the following error when deploying an app to a specified path instead of the default.

**Command Name**
`az webapp deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2022-09-13 15:04] yrro commented on #23717
I don't think there's any feedback required from me?

[2022-09-13 15:36] alecglen commented on #18629
Any update?

[2022-09-13 15:41] krokofant commented on #2324
@rbleattler PowerShell Core was released just a few years ago. Python has existed for a long time cross-platform. If it were made today maybe it would have been different 🤷‍♂️

[2022-09-13 15:56] aviita commented on #2324
Well for that you just must setup up and down arrow history lookup with `PSReadLine` module:
[code]

Had this once auto configured in bash and never have understood the plain up arrow previous command being the default ever since. As who would want the previous command if there is already something written over there.

Sorry if that was off topic, but it does make the lacking tab completion bit mo

[2022-09-13 15:58] panchagnula commented on #23845
Thanks @scott-doyland-burrows - got the same confirmation from LogicApps team as well, we will get this ready for the next deployment.

[2022-09-13 16:03] aviita commented on #2324
Would think bit of consultation from @gvanrossum from Microsoft would help fix that for Azure CLI, though maybe he's priorities lie elsewhere:
![image](https://user-images.githubusercontent.com/661722/189950215-cf4930a5-22d8-43dc-bb73-b94ba1229d96.png)

Starts to make sense why there is need for both Azure PowerShell and this one if this issue cannot be fixed. Was just ranting when starting AZ-104

[2022-09-13 16:35] garrett-gkp commented on #23809
Correct. I followed that page before filing this ticket.

[2022-09-13 17:25] BBoardley opened #23869 "Azure CLI command error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql db list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql db list`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-09-13 17:36] SaurabhSharma-MSFT commented on #23869
@BBoardley We are looking into it and get back to you for any additional information.

[2022-09-13 18:32] garrett-gkp commented on #23809
Oh, I see what you meant. I used the generic install script with Curl and now I am able to list the file blobs. Any thoughts on how I can tell what is different between the two installations?

[2022-09-13 19:26] pablojmarti opened #23870 "az storage account update / show not returning correct value for useSubdomainName and causing Domain error."
**Related command**
`az storage account update --resource-group resource-group --name storageaccount --custom-domain "www.example.com" --use-subdomain true`

**Describe the bug**
When running this command I expect that the return output is set to true from the JSON output.
[code]

This becomes more of an issue when trying to run subsequent update commands against the same storage bucket.  For exam

[2022-09-13 20:05] TroyMiller opened #23872 "az arcappliance logs hci - incomplete documentation"
PS C:\Users\tmiller> az arcappliance logs hci --kubeconfig $env:USERPROFILE\.kube\config
Command group 'arcappliance' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Creating Logs Directory: C:\Users\tmiller\appliance-logs-09-13-2022-13-00-07
Please enter cloudservice FQDN/IP: 172.20.207.99
Please enter file path containing HCI login configuration:

[2022-09-13 20:26] gvanrossum commented on #2324
Owners of this issue might want to lock it down. I'm unsubscribing.

[2022-09-13 21:04] smokedlinq opened #23874 "az resource list is broken"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az resource list` (among other list commands like `az functionapp list`) do not return all the resources.

**Command Name**
`az resource list`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az resource list -g {}`

[2022-09-13 21:46] juliocfc opened #23875 "--image-version is not recognize"
[Enter feedback here]
--image-version is not a recognized argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99108d44-6c69-d481-7c5e-891905799635
* Version Independent ID: 142e71ef-a7cd-2acb-786b-7ac359863e91
* Content: [az sig image-version](https://docs.microsoft.com/en-us/cli/azure/sig/image-version?view=azure

[2022-09-13 23:23] yonzhan commented on #23869
route to CXP team

[2022-09-13 23:24] yonzhan commented on #23870
@evelyn-ys for awareness

[2022-09-13 23:27] yonzhan commented on #23872
route to CXP team

[2022-09-13 23:30] yonzhan commented on #23874
route to CXP team

[2022-09-13 23:32] yonzhan commented on #23875
@zhoxing-ms for awareness

[2022-09-14 00:10] SimSama commented on #23642
This ties into a general request we have as well regarding making azure-cli thread safe. Are there any plans to accomplish this?

[2022-09-14 01:20] #23604 closed

[2022-09-14 01:48] zhoxing-ms commented on #23875
@juliocfc Could you show me the command and parameters you used for more detailed information? thanks~

[2022-09-14 02:18] zhoxing-ms commented on #23796
@auwi987 Could you please add `--debug` parameter to the executed commands, and then send the printed information to me? Thanks

[2022-09-14 02:19] necusjz commented on #23862
Duplicated with https://github.com/Azure/azure-cli/issues/23861

[2022-09-14 02:19] #23862 closed

[2022-09-14 02:23] necusjz commented on #23861
@Ravi-9654 Sorry, I cannot reproduce your case, my detailed procedures are as follows:
1. az network vnet create -n ethan-vn -g ethan-rg
2. az network vnet subnet create -n ethan-sn -g ethan-rg --vnet-name ethan-vn --address-prefixes 10.0.0.0/24

[2022-09-14 02:30] #23797 closed

[2022-09-14 02:35] evelyn-ys commented on #23809
cc our packaging expert @jiasli

[2022-09-14 02:49] navba-MSFT commented on #23864
@mertbezirgan Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-14 02:51] navba-MSFT commented on #23863
@tianputao Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-14 02:53] kairu-ms commented on #23867
It's because you delete workspace in soft-delete. You can add `--force` in delete workspace commands.

[2022-09-14 04:03] RakeshMohanMSFT commented on #23874
@smokedlinq Thank you for reaching out to us, we are looking into it.

[2022-09-14 04:22] Ochirkhuyag commented on #23727
@PARADISSEEKR We have found an issue missing field for a response of "acceptOwnershipStatus" API on swagger. On the service side, it is there and there is no change. So, we have corrected it on swagger specs and generated python SDK. The python SDK is released now. We would like AzureCLI to refer to latest changes.

I am not sure how to hit it from azure-cli. Current azure-cli should be based on p

[2022-09-14 04:27] jiec-msft opened #23878 "[Feature Request] Support config command status for different regions and cloud types"
**Related command**
Not for a specific command, not applicable for this section.

**Is your feature request related to a problem? Please describe.**
Some features may be GA-ed in some regions or Clouds but still in preview in others.

**Describe the solution you'd like**
I'm wondering if we can tag the commands with preview in proper regions/clouds as feature itself.

**Describe alternatives you'v

[2022-09-14 04:32] RakeshMohanMSFT commented on #23717
@yrro No we do not need it. Thank you. I will close this thread, if you have no further questions.

[2022-09-14 04:36] navba-MSFT commented on #23803
@onenessboy > >

Yes. My Bad. It was a Typo in my comment. I just edited and corrected it in my comment.

Please test this and let me know if that serves your requirement.

[2022-09-14 04:42] navba-MSFT commented on #23837
@devdpI wanted to do quick follow-up to check if you had a chance to look at my above comment. Please elaborate your issue and run the same command with --debug switch and share the output. Awaiting your reply.

[2022-09-14 04:42] navba-MSFT commented on #23838
@Abhinavgundapaneni I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-14 04:57] yonzhan commented on #23878
@jsntcy for awareness

[2022-09-14 05:21] #23806 closed

[2022-09-14 05:24] navba-MSFT commented on #23863
@tianputao I wasn't able to reproduce this issue at my end with AzCLI 2.40.0 version. Looking at the error message it seems like an issue with the dependency on `azure-core`.

Could you please run the `az --version` and` python --version `command and share the output here ? Awaiting your reply.

[2022-09-14 06:02] navba-MSFT commented on #23864
@mertbezirgan Thanks for reporting this issue. We have created the above PR to fix this. It is currently under review. In the meantime if you have any questions, please feel free to ask.

[2022-09-14 06:31] PARADISSEEKR commented on #23727
@Ochirkhuyag
Usually one CLI command uses one swagger API.
There is no command corresponding to `acceptOwnershipStatus` API in CLI before, do we need to add a command for it?
There is no API for `az account create` in the latest swagger version, do we need to delete this command?

[2022-09-14 06:36] fuhuifang opened #23880 "az command returns 0 when failing"
**Related command**
`az  extension show -n azure-ml-cli`

**Describe the bug**
When azure-ml-cli is not installed, we expect an error with exitcode 1. This works properly for 2.39 and older, but with 2.40, it returns 0.

**To Reproduce**
Run the following python script:
[code]
Outputs
2.40
![image](https://user-images.githubusercontent.com/32152743/190076962-9fdaf8b0-54d4-4c84-a5e6-37d56c8debad.pn

[2022-09-14 07:09] Prasanth-Sundarrajan commented on #23803
Hi @navba-MSFT

This is working now... thanks for quick response. can we get this updated in official documentation as well so that it will help others...

[2022-09-14 07:12] onenessboy commented on #23803
Hi @navba-MSFT

It works now. thank you so much for quick turnaround. can we please update documentation as well so that it can help others..

[2022-09-14 07:12] #23803 closed

[2022-09-14 07:41] yonzhan commented on #23880
route to CXP team

[2022-09-14 08:02] #23285 closed

[2022-09-14 08:13] wiperpaul commented on #23867
Thanks, I tested force and you are right. I was wrong in thinking it was because of the cluster link operation.
It does indeed create the workspace again with pergb2018. Does this mean that the 'limit of two link operations ' resets for the workspace ?

[2022-09-14 08:17] yrro commented on #23717
Is there a link to the issue # for the doc update?

[2022-09-14 08:47] vmagelo opened #23881 "Docs on how to create firewall rule that allows all Azure services missing info"
I'm looking for equivalent of setting in Portal "allow all Azure Services". Is it just "0.0.0.0" or something different? I'm having trouble figuring it out.

Following the example `az postgres flexible-server firewall-rule create --resource-group testGroup --name testserver --start-ip-address 0.0.0.0`

give "expected string or bytes-like object" and doesn't configure the firewall.

Then I remember

[2022-09-14 09:06] #23702 closed

[2022-09-14 09:18] tern015 opened #23882 "azure-cli not working - opensuse or debian"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet create`

**Errors:**
[code]

[2022-09-14 09:18] tern015 commented on #23882
Removed all dependencies and let azure-cli install all python3 dependencies. Still not working.

[2022-09-14 09:26] abunnyuk opened #23884 "application gateway rule create - priority required when not supported"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Since version `2.40.0` commands to create rules on a non-v2 (WAF) Application Gateway fail stating that a priority is needed despite it only being supported on v2 gateways. The same commands have been working perfectly over the past 12 months with no script changes being made.

Environment summary generated by

[2022-09-14 09:28] tern015 commented on #23882
Downgraded from 2.39 to 2.32. Still not working. Microsoft at its best xD

[2022-09-14 09:38] yonzhan commented on #23881
route to CXP team

[2022-09-14 09:39] yonzhan commented on #23882
@necusjz for awareness

[2022-09-14 09:48] plynch66 commented on #23810
Hi Alan - I can confirm that the deployment completed successfully using AZ CLI version 2.40.0

[2022-09-14 09:48] yonzhan commented on #23884
@necusjz for awareness

[2022-09-14 10:01] michelletaal-shell commented on #1528
I'd also like to nominate az sql db import/export for a no-wait
But, I would highly suggest to actually add this flag as an option to all existing commands as a global parameter.

[2022-09-14 10:05] michelletaal-shell opened #23885 "SQL DB import/export no-wait option"
**Related command**

az sql db import
az sql db export

**Is your feature request related to a problem? Please describe.**

az sql db import/export commands can take so long to run that it will time out the CLI or DevOps pipeline leveraging AzureCLI

**Describe the solution you'd like**

a no-wait flag as described in https://github.com/Azure/azure-cli/issues/1528

**Describe alternatives you've c

[2022-09-14 10:08] istairbn commented on #21038
Any update on this?
It's an absolutely horrible end user experience. The underlying call (SSH) is giving a perfectly servicable error message, and az simply swallows it - doesn't even respond with a warning! Even experienced sysadmins are confused, because the CLI is just closing without any response.

Options:
1. Capture the error, bubble it up
2. Capture the error, return a custom warning
3. Cap

[2022-09-14 10:22] yonzhan commented on #23885
route to CXP team

[2022-09-14 10:27] vyshnavi-gadiparthi opened #23886 "AZ login is failing with CERTIFICATE_VERIFY_FAILED"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-14 10:39] kornbo2-dev opened #23887 "az functionapp config appsettings set for multiple config not working from 2.40"
az functionapp config appsettings set command for multiple config not working from 2.40

https://docs.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest

This use to work before 2.40:
_az functionapp config appsettings set --name $FunctionAppName --resource-group $ResourceGroupName --slot-settings "AppConfig1=test" "AppConfig2=test2"_

now still works, but all the v

[2022-09-14 10:47] navba-MSFT commented on #23762
@montanoeuse Thanks for sharing all the debug logs details over email. I am adding the Service team to assist on this further.

We have further isolated that --auth-mode key and with  AZURE_STORAGE_KEY and AZURE_STORAGE_ACCOUNT environment variables it works fine. We have also checked that the port is open and connectivity is successful. Also the nslookup is working fine.

This successful test was

[2022-09-14 10:53] SushmithaVReddy commented on #23840
@panchagnula , We've tried the command suggested and couldn't see the number of workers change.

Command ran:
az functionapp config set --number-of-workers 0 --name testapp005 --resource-group testapp005_group

Response:
{
  "acrUseManagedIdentityCreds": null,
  "acrUserManagedIdentityId": null,
  "alwaysOn": null,
  "apiDefinition": null,
  "apiManagementConfig": null,
  "appCommandLine": null,

[2022-09-14 10:55] yonzhan commented on #23887
route to CXP team

[2022-09-14 10:57] yonzhan commented on #23886
Duplicate of https://github.com/Azure/azure-cli/issues/19571

[2022-09-14 10:57] #23886 closed

[2022-09-14 11:19] abunnyuk commented on #23884
In the meantime, to try to work around it, I'm trying to find a way to force pipeline task `AzureCLI@2` to use a different version rather than `latest` as this issue is blocking all infrastructure deployments.

Is there a simple way of achieving this?

[2022-09-14 11:57] jonathanzhang02 opened #23888 ""az keyvault update" not working in Azure China after upgrading to 2.40.0"
**Related command**
[code]

**Describe the bug**
The command `az keyvault update  --resource-group "xxxxxxx"  --name "xxxxxx"  --default-action Deny` display error message like above after upgrade az to version `2.40.0`

**To Reproduce**
 az  version `2.40.0` and  `az keyvault update  --resource-group "xxxxxxx"  --name "xxxxxx"  --default-action Deny`

**Expected behavior**
The command should work

[2022-09-14 12:07] #23864 closed

[2022-09-14 12:08] abunnyuk commented on #23884
As a workaround I've added the following to the script which I've tested as working with image `windows-latest` but should also work for Linux build agents.

[code]

This then results in the rule being successfully created.

[2022-09-14 12:14] vivek602 opened #23889 "az tag create is returning AuthorationFailed error while executing it from azure pipelines as cli task"
az tag create is giving authorization failed error for the azure CLI version 2.39.0

**Related command**
 az tag create --resource-id /subscriptions/xxxaxxxxx-xqxx-xxxx-xxxx-xxxxxxxxxxx/resourceGroups/AZ-RG-xxxxxxxxxxxx-xx-xx/providers/Microsoft.Databricks/workspaces/databrickstest --tags version=1.2.1

**Describe the bug**
I am executing yaml file which contains tasks for az tag create from azure

[2022-09-14 12:17] srjennings commented on #23888
This happens in GovCloud as well. Running on `windows-latest` pools.

[2022-09-14 12:32] yonzhan commented on #23888
@evelyn-ys for awareness

[2022-09-14 12:34] yonzhan commented on #23889
route to CXP team

[2022-09-14 12:46] necusjz commented on #23884
It should be a bug, I'll fix it then.

[2022-09-14 13:11] RakeshMohanMSFT commented on #23887
@kornbo2-dev Thank you for reaching out, we are looking into it.

[2022-09-14 13:12] RakeshMohanMSFT commented on #23881
@vmagelo Thank you for reaching out to us, we are looking into it.

[2022-09-14 13:40] katriendg opened #23890 "AZ CLI 2.40 on Windows Powershell fails to run '&' invocation operator with parameters"
**Related command**

Any AZ command with arguments using an invocation operator.

**Describe the bug**
In PowerShell on Windows, with CLI 2.40, using PS 5.2, 7.2.6 or 7.3.preview7, all versions fail to run script blocks with the invocation (call) operator '&' and passing an arguments array. It looks like parsing is not done correctly and could be linked to this article https://github.com/Azure/azu

[2022-09-14 14:12] yonzhan commented on #23890
@jiasli for awareness

[2022-09-14 14:14] RakeshMohanMSFT commented on #23868
@ehp246 Thank you for reaching out to us, we are looking into it.

[2022-09-14 14:28] necusjz commented on #23882
@tern015 Could you please provide the input parameters as well?

As the following command (with 2 parameters) is working:
[code]

[2022-09-14 14:49] robrow01 opened #23891 "az functionapp config appsettings set fails with 'int' object is not iterable when large number of string separated settings. Works fine in V 2.39 but not V 2.40"
**Related command**
az functionapp config appsettings set --name $appServiceName --resource-group $resourceGroup --settings $settings --output none --slot $slotName

**Describe the bug**
Fails with large number of space separated strings in the form of key=value.  Even batching the settings into smaller chunks causes the same error after the first couple of batches are ran.

**To Reproduce**
Run a

[2022-09-14 15:27] tj-spyro commented on #23890
I think I have the same issue and it is affecting our ability to use the call operator and mock az using pester for testing, for example:
[code]
The expected behaviour is for the tests to pass as the az command was not invoked but the mock was.
The actual behaviour is that the az command is invoked with the following output:
[code]

[2022-09-14 15:27] yonzhan commented on #23891
route to CXP team

[2022-09-14 15:43] yonzhan commented on #23865
@rafaeldnferreira, please provide detailed info (public swagger spec, etc.) as description in this ticket and then I will reopen it.

[2022-09-14 16:06] MayXuQQ opened #23892 "az aro failed by 'Insufficient privileges to complete the operation'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create --resource-group {} --name {} --vnet {} --master-subnet {} -

[2022-09-14 17:52] yjm607 commented on #23880
Hi Yong, will there be an IcM ticket filed for this issue? It is affecting all customers of the Substrate Intelligence AI platform and the Shrike library.

[2022-09-14 18:03] mgahagan73 commented on #23892
This attempt was with using a Service Principal with the "Cloud Application Administrator" AAD role assigned to it. This worked until az-cli 2.38.0 was released. Any idea if this role was depreciated or  similar when az-cli got moved to the Azure Graph API? User accounts with the "Application Developer" AAD role can still create aro clusters in our environment. We need to be able to build aro clus

[2022-09-14 18:22] vivek602 commented on #23889
Apologies it was caused due to RBAC. Thus closing this issue

[2022-09-14 18:22] #23889 closed

[2022-09-14 18:44] TroyMiller commented on #23872
This appears to be looking for kvatoken.tok located in the ResourceBridge deployment folder.

[2022-09-14 18:53] aolszowka opened #23893 "az storage account keys renew appears to require --resource-group"
## Describe the bug
Attempting to run is command without specifying the optional `--resource-group` fails.

This command indicates that `--resource-group` is optional as per the documentation here: https://docs.microsoft.com/en-us/cli/azure/storage/account/keys?view=azure-cli-latest#az-storage-account-keys-renew

**Command Name**
`az storage account keys renew`

**Errors:**
[code]

## To Reproduce

[2022-09-14 20:27] kornbo2-dev commented on #23887
Thank you.  This is causing all our deployments to fail as devOps is running the scripts using 2.40.  Let us know if there is a workaround.  thank you.

[2022-09-14 22:00] Ochirkhuyag commented on #23727
@PARADISSEEKR

Since CLI for the swagger version (2021-10-01) is already released, acceptOwnershipStatus API should be in the latest/current CLI. The current changes is just updating the v2021-10-01, just adding a missing field for a response of acceptOwnershipStatus API.

I am not sure how to check the current CLI.

Please check a conversation for [previous cli release for 2021-10-01](https://git

[2022-09-14 23:41] yonzhan commented on #23892
route to CXP team

[2022-09-14 23:48] kornbo2-dev commented on #23887
we are actually using this one....  via a variable and it was working....

$FunctionAppConfigCreate  = @("AppConfig1=test" "AppConfig2=test2")

az functionapp config appsettings set --name $FunctionAppName --resource-group $ResourceGroupName --slot-settings $FunctionAppConfigCreate

[2022-09-14 23:50] yonzhan commented on #23893
@evelyn-ys for awareness

[2022-09-15 00:41] ramankumarlive opened #23895 "az snapshot not using the latest API version 2022-03-02"
**Related command**

az snapshot create

**Is your feature request related to a problem? Please describe.**

The change request is related to the feature request (link below) to use the API version 2022-03-02 for the Compute resources for supporting Premium SSD v2. Snapshot support for Premium SSD v2 does not work with CLI. We are launching Premium SSD v2 in GA Ignite and this will become a blocke

[2022-09-15 00:44] ramankumarlive commented on #23895
@wangzelin007 as per our chat raised this issue.

[2022-09-15 01:08] yonzhan commented on #23895
@wangzelin007 @zhoxing-ms for awareness

[2022-09-15 02:29] RakeshMohanMSFT commented on #23891
@robrow01 Thank you for reaching out, we are looking into it.

[2022-09-15 03:28] RakeshMohanMSFT commented on #23887
@kornbo2-dev We are unable to reproduce this issue at our end with 2.40.0, please see below screenshots
![image](https://user-images.githubusercontent.com/49954584/190307118-92b6fe5e-e3f5-4365-a81c-4cedb71f81a0.png)
![image](https://user-images.githubusercontent.com/49954584/190307162-db799a6e-8a56-48c6-833c-4d3bd5d3bec4.png)

[2022-09-15 03:44] RakeshMohanMSFT commented on #23891
@robrow01 We tried with 55 values and we are unable to reproduce this issue, perhaps its something to do with the way you are passing the values. Can you share the parameters you are passing with some sample values, having integers or --debug trace with us.

![image](https://user-images.githubusercontent.com/49954584/190309059-915bec87-f41c-474b-a0b1-9f46e05a8c94.png)

[2022-09-15 04:03] navba-MSFT commented on #23779
@SergeiDavydov I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-15 04:04] RakeshMohanMSFT commented on #23810
@plynch66 Thank you for the confirmation. I will close this issue now.

[2022-09-15 04:04] #23810 closed

[2022-09-15 04:06] RakeshMohanMSFT commented on #23868
@ehp246 Can you please upgrade to the latest version azure cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry? and do check your network connectivity/settings as well.

[2022-09-15 04:13] RakeshMohanMSFT commented on #23881
@vmagelo its documented [here ](https://docs.microsoft.com/en-us/cli/azure/postgres/flexible-server/firewall-rule?view=azure-cli-latest#az-postgres-flexible-server-firewall-rule-create)`az postgres flexible-server firewall-rule create`
**--rule-name**
The name of the firewall rule. If name is omitted, default name will be chosen for firewall name. The firewall rule name can only contain 0-9, a-z,

[2022-09-15 04:13] navba-MSFT commented on #23799
@lhotrifork I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-15 04:14] navba-MSFT commented on #23818
@luisadanmunoz The action is pending on you to try the above action plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-15 04:14] #23818 closed

[2022-09-15 04:32] navba-MSFT commented on #23885
@michelletaal-shell Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-15 04:55] kornbo2-dev commented on #23887
We are actually putting it on a variable, apologies... can you try below? thanks

$FunctionAppConfigCreate = @("AppConfig1=test" "AppConfig2=test2")

az functionapp config appsettings set --name $FunctionAppName --resource-group $ResourceGroupName --slot-settings $FunctionAppConfigCreate

[2022-09-15 05:00] rick-hayek opened #23896 "'az webapp config appsettings set' is not configuring webapp correctly with multiple settings"
**Env:**

**Steps:**
run powershell:
[code]

**Expected Result:**
  {
    "name": "a",
    "slotSetting": false,
    "value": "b"
  },
  {
    "name": "c",
    "slotSetting": false,
    "value": "d"
  }

**Actual Result:**
  {
    "name": "a",
    "slotSetting": false,
    **"value": "b c=d"**
  }

**Note:**
This issue is not happening on azure-cli 2.39.*

---
#### Document Details

⚠ *Do not edit

[2022-09-15 05:10] rick-hayek commented on #23887
similar issue happens for
`az webapp config appsettings set`

[2022-09-15 05:32] santo2 commented on #23398
Hi, could this be placed somewhere on the roadmap? Seems like an easy one for you smart people to fix  :-)
@alex-frankel @yonzhan didn't seem to have replied

[2022-09-15 06:04] rick-hayek opened #23897 "az cdn endpoint purge: How to set multiple path?"
The following script was working fine on 2.39.*, while it fails on 2.40.0:

[code]

How can I define a variable which can represent multiple paths for the purge command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e2b3b2-3e26-a47f-ee80-5bd5c3b065c4
* Version Independent ID: 72ef6ca0-b8f6-4952-732d-34aefa414bb6
* C

[2022-09-15 06:52] TalissaDreossi commented on #23771
@RakeshMohanMSFT thanks for your help!
In the end I decided to recreate everything new and now it works

[2022-09-15 06:52] #23771 closed

[2022-09-15 07:32] jvilimek opened #23898 "[az resource tag] command change casing for ApplicationInsights name"
**Related command**

`az resource tag`

**Describe the bug**

Calling `az resource tag --ids “.../microsoft.insights/components/appinsightname”` with a different casing than the AppInsights component currently have will change the casing to the called one.

**To Reproduce**

Having an Application Insights resource with

- id: “/subscriptions/…/resourcegroups/ResourceGroup/providers/microsoft.insig

[2022-09-15 08:13] #21201 closed

[2022-09-15 08:18] yonzhan commented on #23896
route to CXP team

[2022-09-15 08:20] yonzhan commented on #23897
route to CXP team

[2022-09-15 08:24] yonzhan commented on #23898
route to CXP team

[2022-09-15 08:59] yanzhudd commented on #23745
Hello @MSFT-BrianEddy, when we develop this feature, we met some questions and raised them in the mail. Please check.

[2022-09-15 09:23] abu3lia opened #23899 "Why does this command needs Public Internet access?"
We are trying to copy an image to another subscription (both subs are in UK South), however, we have an ARM policy that prevents Public access to Storage accounts. When running "_az image copy --source-resource-group rg-imagemgmt --source-object-name xxxx --target-location uksouth --target-resource-group xxxx --target-subscription xxxx_" we received the following error:

`Message: Resource 'xxxx'

[2022-09-15 09:42] tianputao commented on #23863
thanks for your response, I solve the issue when I reinstall Azure cli 2.40

[2022-09-15 09:42] #23863 closed

[2022-09-15 09:45] navba-MSFT commented on #23863
@tianputao Thanks for the update.

[2022-09-15 10:09] cveld commented on #23890
In my own wording:

In az 2.39 the following was still possible:
[code]

In az 2.40 this breaks:
`'extension list' is misspelled or not recognized by the system.`

[2022-09-15 11:41] santhoshtns commented on #23891
@RakeshMohanMSFT,
I have similar issue (passing the array parameter in the command) with another command after upgrading to az cli to v2.40.0.

The issue can be reproduced with the below example. And works with cli version 2.39.0
`$Permissions = @('get', 'list')
az keyvault set-policy --name $KvName --object-id $objectId --secret-permissions $Permissions`

Running the below command works fine.
`az

[2022-09-15 12:02] yonzhan commented on #23899
@zhoxing-ms for awareness

[2022-09-15 12:19] zomilanovic commented on #23825
I'm having the same issue.

`az --version` has the following output:

[code]

Running the `az consumption budget list` command fails with the following output:

[code]

When I run the command with the `--debug` flag, I found the following line(s) of the output hints the "culprit":

[code]

I think it would be handy if there were a way to specify which `api-version` is used by `az` with an accordin

[2022-09-15 12:28] farhank3389 commented on #7374
I don't know why you keep mentioning this everywhere this issue is reported. I'm having the same issue on a Ubuntu 20 server. It's not caused by WSL being slow, the install itself is slow.

[2022-09-15 12:34] danielcgonzalez opened #23901 "restore-only-osdisk dont work"
**Related command**
az backup restore restore-disks --resource-group dgg --vault-name backupvault --container-name azvmwdzsapp01 --item-name azvmwdzsapp01  --storage-account storagedggbackup --rp-name 53373614092896 --target-resource-group az-ne-zs-d-mgt-01-rg --restore-only-osdisk

**Describe the bug**
restore all vm disk, expected only os disk

**To Reproduce**
after doing a manual full backup,

[2022-09-15 12:56] albernhagen commented on #23398
I received a message saying that a fix was pushed for this.  I was able to verify in my personal environment that this is now working as expected.

[2022-09-15 12:58] Jawz84 commented on #23890
This can be solved by adapting the [az.ps1](https://github.com/Azure/azure-cli/blob/a55f924c39b80a71f46210ad83a43e7e9093d336/build_scripts/windows/scripts/az.ps1) script:

[code]
should become

[code]

This can be used as a local work-around too. Just change $args to @args in your az.ps1. (Find where it lives by using `get-command az`)

[2022-09-15 13:00] santo2 commented on #23398
today? :-) Because we also tested today but it failed. (already exists)

[2022-09-15 13:14] albernhagen commented on #23398
I just ran the deployment again and it is still working for me (it ran a few times yesterday as well).  This is all within East US for what it's worth.  I'm not sure where the fix is rolled out to.

[2022-09-15 13:18] santo2 commented on #23398
Ah that may be the difference, West Europe here. Suppose I'll have to wait for a bit.

[2022-09-15 13:21] yonzhan commented on #23901
route to CXP team

[2022-09-15 13:43] RakeshMohanMSFT commented on #23887
@StrawnSC / @panchagnula  is this a regression?

[2022-09-15 13:51] jrveva opened #23902 "az tag create treating array as string for --tags"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When creating an array of tags within powershell to pass to --tags, it treats it as a single string instead of an array. This is a new bug in 2.40 as we have tested the functionality within 2.39

**Command Name**
`az tag create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that ar

[2022-09-15 14:00] catluker-wandisco commented on #23825
Yes, that's exactly what I see - --debug shows me the GET request that's sent is going to

urllib3.connectionpool: https://management.azure.com:443 "GET /subscriptions/<subscription ID redacted>/providers/Microsoft.Consumption/budgets/<budget-name>?api-version=2018-01-31 HTTP/1.1" 422 208

and the resulting error is

msrest.exceptions: (422) This operation is not supported in the version specified

[2022-09-15 15:08] robrow01 commented on #23891
@RakeshMohanMSFT Try with more values.  Our one app service actually has 76.

[2022-09-15 16:02] olesorensen1976 commented on #23866
Is it also posible to add a local Resource ? i.e. D:\

Kind Regards Ole Sorensen
ole.sorensen@tis-cca.com

[2022-09-15 16:41] ejsealms opened #23903 "Is uniqueName a supported property?"
Hi,
I'm working on something that requires that I create an AAD app registration with a uniqueName property. The only way that they've told me I can assign my app registration a uniqueName is with some strange script that doesn't seem to work. Is there a more formal way of setting the uniqueName?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-09-15 18:45] viananth opened #23904 "Remove Preview Warning for EdgeZone cmds"
### Related command

_No response_

### Resource Provider

Compute, storage, network

### Description of Feature or Work Requested

EdgeZone was in preview when CLI support was launched and now going to GA. Please remove displaying "preview warning" for all cmds involving edgezone parameter.

`>
Argument '--edge-zone' is in preview and under development. Reference and support levels: [https://aka.

[2022-09-15 19:42] haroonf commented on #23887
This is not a regression. This is failing due to the $FunctionAppConfigCreate powershell var. When a powershell string array is passed, it is automatically converted to a string with quotation delimiters, so you end up passing `"AppConfig1=test AppConfig2=test2"` instead of `"AppConfig1=test" "AppConfig2=test2"`. The `config appsettings --slot-settings` requires separate strings delimited by space

[2022-09-15 20:07] kornbo2-dev commented on #23887
this used to work before in all our pipelines... in 2.39 it will work with or without commas

anyway, we have found a workaround not to use an array variable as we have over 50+ config that we need to pass...

[2022-09-15 21:03] panchagnula commented on #23887
There is no changes on specifically to this command that can explain any regressions. Glad you found a work around.

[2022-09-15 21:03] #23887 closed

[2022-09-15 21:35] mark-strasser-nnl commented on #23888
Also affects `az keyvault show` in GovCloud.

[2022-09-15 22:26] BertusV opened #23905 "Refenced material links"
Hi documenters,

Overall, I think you are doing a fantastic job keeping the documentation up to date.  Well done.

I'm trying to get an example of the referenced document "@"path/linkedservice.json"".   I think it will improve the documentation if links are provided to these types of references.  They are not always easy to track down.

In this case I can't get this commend "az synapse linked-serv

[2022-09-15 23:32] ggomes-agc opened #23906 "az rest to MS Graph API with user logged in. equired scopes are missing in the token"
**Related command**
az rest --method get --url https://graph.microsoft.com/beta/policies/identitySecurityDefaultsEnforcementPolicy

Forbidden({"error":{"code":"AccessDenied","message":"You cannot perform the requested operation, required scopes are missing in the token.","innerError":{"date":"2022-09-15T23:15:21","request-id":"433682ae-8aaf-4859-b2af-6b3c3911b16b","client-request-id":"433682ae-8aa

[2022-09-15 23:48] yonzhan commented on #23902
route to CXP team

[2022-09-15 23:50] vilit1 commented on #22257
Hi @SaurabhSharma-MSFT - you need to specify the location for the linked hub create. If not, the command will try to look up the hub location within the current subscription. I will change the error to be more specific.

[2022-09-15 23:51] yonzhan commented on #23903
@jiasli for awareness

[2022-09-15 23:53] yonzhan commented on #23904
@zhoxing-ms @evelyn-ys @necusjz for awareness

[2022-09-15 23:55] yonzhan commented on #23905
route to CXP team

[2022-09-15 23:57] yonzhan commented on #23906
@jiasli for awareness

[2022-09-16 00:05] terry-citrix commented on #22555
First I tried the original command, but I got a different error today:
`PS C:\Users\terrydu\temp> az vmss diagnostics set --resource-group terrydu-group --vmss-name terrydu-test --settings '{\"commandToExecute\": \"echo testing\"}'
Network api version in network profile of virtual machine /subscriptions/8f986d9c-f3ff-4026-8a62-7b858cb1c71d/resourceGroups/TERRYDU-GROUP/providers/Microsoft.Compute/v

[2022-09-16 00:29] evelyn-ys commented on #23888
@jlichwa Can you please ask server engineer to deploy `2022-07-01` API version for China Cloud and USGov cloud? Similar issue happens again with #20226

[2022-09-16 02:14] zhoxing-ms commented on #5275
@fitzgeraldsteele Could you please take a look at this feature request?

[2022-09-16 02:16] RakeshMohanMSFT commented on #23905
@BertusV Thank you for reaching out, we are looking into it.

[2022-09-16 02:18] rukasakurai commented on #12553
When running the `az acr build -t WithUppercase -r registryname` today, it resulted in the same error message pointed out above. The issue was that the name I specified after -t included uppercase letters. Rerunning it with `az acr build -t alllowercase-r registryname` succeeded.

[2022-09-16 02:18] RakeshMohanMSFT commented on #23893
@aolszowka Thank you for reaching out, we are looking into it.

[2022-09-16 02:20] RakeshMohanMSFT commented on #23897
@rick-hayek Thank you for reaching out, we are looking into it.

[2022-09-16 02:20] RakeshMohanMSFT commented on #23902
@jrveva Thank you for reaching out, we are looking into it.

[2022-09-16 02:45] zhoxing-ms commented on #23899
@abu3lia Please note that this command is blocked by the custom policy under you subscription, so you may need to consider disabling or bypassing this policy yourself

[2022-09-16 03:02] bebound commented on #23820
Duplicate of https://github.com/Azure/azure-cli/issues/19571

@vyshnavi-gadiparthi This error is caused by your certificate, there is nothing we can do about it. Disable proxy/VPN/Trust CA may help.

[2022-09-16 05:18] fitzgeraldsteele commented on #5275
Adding @Chase ***@***.***> from Client Tools PM team, @Ankit ***@***.***> from VM PM team who may have more informed opinion on this one.

Jerry
Steele
Microsoft
senior program manager
425.421.2566

________________________________
From: Xing Zhou ***@***.***>
Sent: Thursday, September 15, 2022 7:14 PM
To: Azure/azure-cli ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re

[2022-09-16 07:13] #23884 closed

[2022-09-16 07:14] #23758 closed

[2022-09-16 07:18] navba-MSFT commented on #23885
@michelletaal-shell  The above PR has been filed to address this. It is currently under review. Please let me know if you have any questions in the meantime.

[2022-09-16 08:02] #23599 closed

[2022-09-16 08:02] #23598 closed

[2022-09-16 08:30] jiasli commented on #22775
We received a similar issue today that the user wants to use Azure CLI's client ID to call `b2cIdentityUserFlows` API which requires delegated permission **IdentityUserFlow.Read.All**, **IdentityUserFlow.ReadWrite.All**:

https://docs.microsoft.com/en-us/graph/api/identitycontainer-list-b2cuserflows?view=graph-rest-beta&tabs=csharp

![image](https://user-images.githubusercontent.com/4003950/190593

[2022-09-16 08:32] jiasli commented on #22775
### Workaround: Use service principal instead of user login

1. Create your own application and service principal
2. Give the application Application Permission **IdentityUserFlow.Read.All**, **IdentityUserFlow.ReadWrite.All**
3. Log in to Azure CLI with that service principal: https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal

[2022-09-16 08:32] benbz commented on #23216
FTR this is still an issue for me in 2.40.0. Unsure what further information is required beyond the `--dry-run` flag is required to reproduce this, e.g. `az storage file upload-batch --account-name <account name> --destination <a share name> --source <a local folder> --destination-path <a remote folder> --dryrun`

[2022-09-16 08:39] aswinl opened #23910 "Keep getting '[Errno 28] No space left on device' when using cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-16 08:45] berhir commented on #23896
We are facing the same issue. Version 2.40 is breaking our deployment pipeline. It worked fine with previous versions.

[2022-09-16 08:53] Vi-2022 commented on #23714
@zhoxing-ms , could you please continue to investigate it ? looking forward your reply , thanks in advance .

[2022-09-16 08:58] Vi-2022 commented on #23714
@jiasli ,  could you please continue to investigate it ? looking forward your reply , thanks in advance .

[2022-09-16 09:02] #22572 closed

[2022-09-16 09:02] #22598 closed

[2022-09-16 09:04] berhir commented on #23902
could be related to #23896. passing an array to 'az webapp config appsettings set' doesn't work correctly too. I can confirm this is a new bug in v2.40

[2022-09-16 09:11] yonzhan commented on #23910
@jiasli for awareness

[2022-09-16 09:19] jiasli opened #23911 "Share Azure CLI's MSAL token cache with Azure Identity"
**Related command**
`az login`

**Is your feature request related to a problem? Please describe.**
I'm using `AzureCliCredential` from Azure Identity as one of multiple authentication methods for a CLI. It is calling `az account get-access-token` in a subprocess, which is rather slow, even if we cache the returned token in memory. This slowness is annoying when the user is executing commands frequ

[2022-09-16 09:23] nmittal7777 opened #23912 "Creating Nodepool with Avaibility Zones using AZ Cli 2.40 errors out"
**Related command**

         az aks nodepool add `
        --resource-group "$ResourceGroup" `
        --name "$NodePoolName" `
        --cluster-name "$AKSClusterName" `
        --enable-cluster-autoscaler `
        --node-count $MinNodes `
        --min-count $MinNodes `
        --max-count $MaxNodes `
        --node-vm-size "$NodeSKU" `
	    --zones 1, 2 `
        --labels nodepool=$NodePoolLa

[2022-09-16 09:29] yonzhan commented on #23911
Share Azure CLI's MSAL token cache

[2022-09-16 09:30] yonzhan commented on #23912
route to CXP team

[2022-09-16 09:33] jiasli commented on #23910
I think perhaps your `C:\` drive is full?

[2022-09-16 09:38] aswinl commented on #23910
No my c: drive has plenty of space left

[2022-09-16 10:02] zhoxing-ms commented on #23714
This is the response body from REST service:

@Ochirkhuyag Please note that this is a request to China Cloud, could you query the request information related to this correlation id **e9bcc76b-2e27-495-ba86-8a0f1a5dd938** for China Cloud?

[2022-09-16 10:10] dotina opened #23914 "az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2022-09-16 10:13] yonzhan commented on #23914
route to CXP team

[2022-09-16 10:25] aswinl commented on #23910
I uninstalled azure cli and removed the .azure directory under c:\users\<user>. Then I reinstalled the cli but I'm still getting the same error.

[2022-09-16 10:42] dotina commented on #23914
any assistance here

[2022-09-16 10:51] g4suchandra commented on #23852
issue resolved by setting up correct time and date on my computer.

[2022-09-16 10:51] #23852 closed

[2022-09-16 11:02] RAJNISH3 commented on #15506
@yungezz : I am running the command inside the Dockerfile
`RUN apt-get -y update && apt-get install azure-cli`
Getting below error
` 0.887 Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
#9 0.982 Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
#9 1.333 Hit:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
#9 1.685 Hit:4 http://archive.ubuntu.com/ubuntu jammy-backpo

[2022-09-16 11:03] RAJNISH3 opened #23915 "Unable to locate package azure-cli"
Reference to Issue #15506

azure-cli is not working for me

EXECUTING THE command

Getting below error
`
 0.887 Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
#9 0.982 Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
#9 1.333 Hit:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
#9 1.685 Hit:4 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
#9 1.772 Read

[2022-09-16 11:33] Abhinavgundapaneni opened #23916 "Azure Synapse Pipeline Deployment using ARM Template through Azure CLI"
## Describe the bug
I have a pipeline published in Azure Synapse studio. I tried to export as template and deploy this template in an another workspace using Azure CLI (version 2.40.0). But the command is failing with a generic error. I checked to import the pipeline in the Synapse Studio UI and it worked.

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps t

[2022-09-16 11:38] Abhinavgundapaneni commented on #23916
Let me know if you need any more information to better resolve this issue.

[2022-09-16 12:22] v-soujanya commented on #22346
@FokkoVeegens, we are receiving the same response from API, and we already reported this request to the API team. Once they have the sufficient bandwidth they will work on this request. if we have any updates from API team we will share with you.
Thanks!

[2022-09-16 12:24] v-soujanya commented on #23626
@celluj34, we have not received response from API team yet and we are continuously following up with the team. we will share the updates once we receive from the API team.

[2022-09-16 12:40] Candelit opened #23917 "Hi."
[Skriv din feedback här]

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7aaa1f0e3f5c
* Content: [az storage account](https://docs.microsoft.com/sv-se/cli/azure/storage/account?view=azure-cli-latest)
* Content Source: [la

[2022-09-16 12:49] Candelit opened #23918 "--subnet does not work in VS code/Gitbash"
Hi.

There seems to be some kind of general bug somewhere in either VS code, gitbash or the az module.
Wherever resourceid for subnet is used the cli command will fail if it is run in VS code

The documentation states that --subnet is name or resource id...
When it comes to running this in CloudShell, it is correct, but in VS code it fails.
I have now tested with a storage account and a VM and sam

[2022-09-16 14:25] yonzhan commented on #23915
@jiasli for awareness

[2022-09-16 14:26] aolszowka opened #23919 "az functionapp config appsettings set Errors When Used in PowerShell with Multiple Settings"
## Describe the bug

I have been trying to troubleshoot why I am unable to use the documented `--settings` switch with multiple space separated `Key=Value` pairs [Documentation](https://docs.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest#az-functionapp-config-appsettings-set) in a PowerShell script I have for provisioning. In my production script I end up having

[2022-09-16 14:27] yonzhan commented on #23916
@zhoxing-ms for awareness

[2022-09-16 14:31] yonzhan commented on #23917
Please provide detailed command and error message for us to troubleshoot.

[2022-09-16 14:32] yonzhan commented on #23918
@evelyn-ys for awareness

[2022-09-16 14:37] yonzhan commented on #23919
route to CXP team

[2022-09-16 14:38] aolszowka opened #23920 "az functionapp config appsettings set Munges values into first setting when no spaces are used in PowerShell with multiple settings"
Related to #23919 but different behavior.

I have been trying to troubleshoot why I am unable to use the documented --settings switch with multiple space separated `Key=Value` pairs [Documentation](https://docs.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest#az-functionapp-config-appsettings-set) in a PowerShell script I have for provisioning. In my production sc

[2022-09-16 14:40] yonzhan commented on #23920
route to CXP team

[2022-09-16 14:43] Candelit commented on #23917
I use VS code, gitbash and the az module
This has always been an issue in VS code, but we are now moving to all ARM + cli in deployment and this is getting to be a bigger issue.

[2022-09-16 15:02] ivarprudnikov commented on #20934
Just happened to me, `sudo hwclock -s` did the trick. There is a whole discussion on SO (https://stackoverflow.com/questions/65086856/wsl2-clock-is-out-of-sync-with-windows)

[2022-09-16 15:43] aolszowka commented on #23920
I can confirm that the following workaround does indeed work:

[code]

Properly updates the settings like so:

[code]

[2022-09-16 15:45] yatamlite commented on #20404
We are running into this everyday since we've upgraded to 2.30.0.
Like the submitter pointed out, this is wrecking our CI/CD pipeline jobs.

Environment : RHEL 7/8.

[code]

For temporary relief, is there a way to increase the timeout for getting the token?

[2022-09-16 15:47] aolszowka commented on #23919
I can confirm that the following workaround does indeed work:

[code]

Properly updates the settings like so:
[code]

[2022-09-16 16:26] RyanHill-MSFT commented on #23827
@panchagnula `az functionapp show` doesn't show the runtime worker version or dotnet version. I'll send you the output.

[2022-09-16 16:41] abu3lia commented on #23899
Thanks for the reply. However, I just need your input regarding the need for Public internet access with "az image copy"?

[2022-09-16 16:45] katekimani commented on #20404
@yatamlite I got around this by adding an override to the installed package code on the Docker image its used in.

1. First confirmed that the file only has 1 instance of the timeout value in the code (annoying its not set as a variable in v2.29.2)
`cat /usr/local/lib/python3.7/dist-packages/azure/identity/_credentials/azure_cli.py | grep -c 10`

2. Used `sed` to replace it with my desired timeout

[2022-09-16 17:43] feacluster commented on #14841
I am running into the same issue . az vm start hangs. Sometimes for 5 minutes. Sometimes forever until I kill it. But the machine starts ok. I am using 'az vm start' in an automated workflow. This hanging causes my workflow to take much longer than it should or hang also.

[2022-09-16 17:55] satheshs commented on #23282
`[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)
Certificate verification failed. This typically happens when using Azure CLI behind a proxy that intercepts traffic with a self-signed certificate. Please add this certificate to the trusted CA bundle. More info: https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-pro

[2022-09-16 19:02] SaurabhSharma-MSFT commented on #23914
@dotina What version of `azure-mgmt-containerregistry` you are using ? Also, did you install the azure-cli package using [documentaion](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&view=azure-cli-latest) ?

[2022-09-16 19:03] rayluo commented on #23910
It is rare to see an IOError on [line 216](https://github.com/AzureAD/microsoft-authentication-extensions-for-python/blob/1.0.0/msal_extensions/persistence.py#L216). Just to rule out the possibility of other process(es) somehow still holding that file handle, @aswinl would you mind reboot your computer and retry, if you haven't already?

[2022-09-16 19:09] SaurabhSharma-MSFT commented on #23869
@BBoardley I am not seeing any errors while executing `az sql db list`.  Can you please share the error details and the debug log using `--debug`.

[2022-09-16 19:45] panchagnula commented on #19592
+1 on this being prioritized for good user experience using azCli. @duglin FYI - this is being tracked , please add your vote as well.

[2022-09-16 20:08] petemantai commented on #8114
Almost 4 years later and this is still an issue.  WHY hasn't this been addressed yet?

[2022-09-16 20:22] duglin commented on #19592
yes please! :-) it's the little things

[2022-09-16 20:46] Drewm3 commented on #14841
@feacluster, could you open a new issue with the details that you are seeing? It looks like the original problem described in this issue was with the SqlIaasExtension. If you are using that extension, then please see if the issue goes away if you remove that extension. If your issue is separate from the previous one, then please open a new issue for the CLI team to investigate.

[2022-09-16 23:14] brianlehr opened #23921 "Support for CustomIpPrefix (BYOIP) GA+ features"
### Related command

az network custom-ip prefix create
az network custom-ip prefix update

### Resource Provider

Microsoft.Network

### Description of Feature or Work Requested

Hello CLI team, aim here is to add the new functionality that Custom IP Prefix has.

1. BYOASN (with an -asn parameter)
2. Granular Commissioning (with a -nointernetadvertise parameter)
3. Regional advertisements (with a

[2022-09-16 23:29] jharajnish30 opened #23922 "az login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-17 03:08] yonzhan commented on #23921
network feature

[2022-09-17 03:10] yonzhan commented on #23922
Duplicate of https://github.com/Azure/azure-cli/issues/21514

[2022-09-17 03:10] #23922 closed

[2022-09-17 05:43] strange2x opened #23923 "Not able to connect to cluster when using Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When am trying to connect to an AKS cluster using Azure CLI, its getting this error.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks get-credentia

[2022-09-17 06:47] yonzhan commented on #23923
route to CXP team

[2022-09-17 08:01] #23689 closed

[2022-09-17 08:02] #22694 closed

[2022-09-17 10:15] zhoxing-ms commented on #23916
＠Abhinavgundapaneni Could you please send the debug log *(add `--debug` parameter) and the ARM template file to me by email? My email address is Zhou.Xing@microsoft.com

[2022-09-17 12:06] ggomes-agc commented on #23906
After a bit more troubleshooting i tried the following...

 az login --scope Policy.Read.All
The default web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.
AADSTS65002: Consent be

[2022-09-17 13:44] ravitellakula opened #23924 "List all the App Service Slots for a given App Service Plan"
**Related command**

`az webapp list --query "[?appServicePlanId=='$appServicePlanID']"`

**Is your feature request related to a problem? Please describe.**

I do have a requirement to change the vnet integration for all my applications to move to a new subnet. And, I was hoping to list all the web apps (app services) and corresponding slots in an app service plan - run through the list iterativel

[2022-09-17 14:53] sarbaniAi commented on #23267
I am following this tutorial ->
https://learn.microsoft.com/en-us/azure/machine-learning/v1/tutorial-pipeline-python-sdk

Getting error in train.oy ->

[azure-ml-error.txt](https://github.com/Azure/azure-cli/files/9591954/azure-ml-error.txt)

Can you please help to resolve.
Thanks

[2022-09-17 15:24] RakeshMohanMSFT commented on #23905
@BertusV Here is a sample for storage account as linked service, there are too many external linked services that can be mapped, having samples of all of them are difficult, but the basic template for all of them should be similar as below.
[code]

[2022-09-17 15:27] RakeshMohanMSFT commented on #23896
@rick-hayek Thank you for reaching out, we are looking into it

[2022-09-17 16:48] RakeshMohanMSFT commented on #23920
@aolszowka Thank you for reaching out, glad to know that the work around helped. We are investigating the original issue

[2022-09-17 16:53] RakeshMohanMSFT commented on #23902
@jrveva Can you check if this work around helps you https://github.com/Azure/azure-cli/issues/23920#issuecomment-1249520225

[2022-09-17 16:54] RakeshMohanMSFT commented on #23896
@rick-hayek Check if this work around helps? https://github.com/Azure/azure-cli/issues/23920#issuecomment-1249520225

[2022-09-17 18:25] strange2x commented on #23923
@yonzhan Will it be routed automatically or should I be doing some steps to route to CXP team?

[2022-09-17 19:21] vstkamath commented on #23896
This issue is not just limited to resource tags. Wherever array parameters are passed, cli version 2.40.0 has regressed. Whether it is specifying the service bus access, aks zone configuration all apis are broken. Is there any solution under work? Since the DevOps pipelines are already getting the images with 2.40.0, it is a major impact for us.

[2022-09-17 20:14] DavidZidar opened #23925 "The new feature "Show status during deployment for linux apps" gets stuck waiting"
## Describe the bug
**Command Name**
`az webapp deployment source config-zip`

The command gets stuck waiting seemingly forever for some build to finish even though the zip already deployed just fine.
[code]

"BuildInProgress..." then just repeated for more than 5 minutes before I aborted, normally I can deploy in 15-30 seconds.

## To Reproduce
I deployed to a stopped slot which my scripts starts

[2022-09-17 22:19] DavidZidar commented on #23925
A command line flag to skip this behavior would be an acceptable solution to me.

[2022-09-18 01:11] yonzhan commented on #23924
route to CXP team

[2022-09-18 01:14] yonzhan commented on #23923
automatically with CXP Attention label

[2022-09-18 02:43] calvinhzy commented on #23216
Will take a look this release cycle.

[2022-09-18 02:58] jkdf-nnit opened #23926 "az servicebus namespace update min-tls-version not working"
az servicebus namespace update --namespace ****** -- resource-group ***** --minimum-tls-version 1.2
unrecognized arguments: --minimum-tls-version 1.2

[2022-09-18 09:01] musaddiqueans opened #23927 "AZ build file error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep build -f {}`

## Expected Behavior

## Environment Summary
[code

[2022-09-18 09:56] yonzhan commented on #23927
route to CXP team

[2022-09-18 09:56] yonzhan commented on #23926
route to CXP team

[2022-09-18 12:55] Nazarius1 commented on #23420
Hello Azure team,

I am having the same problem.
Is there already any explanation about the error?
Thank you.

[2022-09-18 13:38] feacluster commented on #14841
Sure, will do. I've opened a ticket through the support portal. So if still unresolved then will open a new issue here. I am not using SqlIaasExtension as far as I know..

[2022-09-18 14:22] rick-hayek commented on #23896
Thanks. I did not try that.

I can get things worked **_for now_** using Invoke-Expression:

[code]

This solution is ugly and potentially  problematic.
I think storing settings into a list variable could be a common scenario. appreciated if this issue can get fixed.

[2022-09-18 20:09] aswinl commented on #23910
I have rebooted my system before I took the action of reinstalling the cli an removing the .azure folder. After a while I rebooted again and it worked again. Some time thereafter I had to login again and I got a "decryption failed" error after login. I followed the same procedure of removing then .azure folder and rebooting again and now it works again but it's not very reassuring. These cli probl

[2022-09-18 20:42] northtyphoon opened #23928 "Help to clarify the ARM token cache for managed identity login"
**Related command**
az login --identity
any az command

**Describe the bug**
I run az commands in Azure VM with managed identity enabled. I log into cli using "az login --identity".

After login, I noticed all az commands always tried to connect "http://169.254.169.254/metadata/identity/oauth2/token" to get ARM token when the corresponding code tried to query ARM resource. I'd expect CLI could cac

[2022-09-18 22:49] rayluo commented on #23910
:-o

That is indeed an elusive symptom. For "decryption failed", you could turn encryption (decryption) off. But it still won't explain the "OSError: [Errno 28] No space left on device". Sorry, we do not currently have concrete suggestions.

[2022-09-18 22:49] rayluo commented on #23910
:-o

That is indeed an elusive symptom. For "decryption failed", you could turn encryption (decryption) off. But it still won't explain the "OSError: [Errno 28] No space left on device". Sorry, we do not currently have concrete suggestions.

[2022-09-19 00:05] mjhilton commented on #23891
@santhoshtns there seems to be an issue here that exactly matches your scenario: https://github.com/Azure/azure-cli/issues/23890

[2022-09-19 01:30] SergeiDavydov commented on #23779
Hi @navba-MSFT I did try the command you provided. It fails.

[2022-09-19 01:39] evelyn-ys commented on #23917
Duplicate of #23918

[2022-09-19 01:39] #23917 closed

[2022-09-19 01:43] evelyn-ys commented on #23918
Can you add `--debug` and see the real argument values passed in? Sounds like issue of https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_with_git_bash.md#auto-translation-of-resource-ids

[2022-09-19 02:04] yanzhudd commented on #23492
@eymizrac Any update?

[2022-09-19 02:22] jiasli commented on #23887
Duplicate of #23797

[2022-09-19 02:23] jiasli commented on #23896
Duplicate of https://github.com/Azure/azure-cli/issues/23797

[2022-09-19 02:23] #23896 closed

[2022-09-19 02:30] navba-MSFT commented on #23779
@SergeiDavydov Thanks for your reply. Could you please share the detailed `--debug` output while running the below command ?

[2022-09-19 02:30] jiasli commented on #23919
Duplicate of https://github.com/Azure/azure-cli/issues/23797

[2022-09-19 02:30] #23919 closed

[2022-09-19 02:31] zhoxing-ms commented on #23492
@eymizrac May I ask whether the feature request of these two issues https://github.com/Azure/azure-cli/issues/23492 https://github.com/Azure/azure-cli/issues/23664 are actually the same?
If so, could you please help close this duplicate one?

[2022-09-19 02:31] #23920 closed

[2022-09-19 02:34] aolszowka commented on #23919
@jiasli I'm confused, the linked issue seemed to be a problem with using a PowerShell Array if you look at the example and code provided I am passing a space separated string. As far as I understood the linked issue they were not passing in a space delimited string.

Can you show the above example working?

[2022-09-19 02:36] aolszowka commented on #23920
@jiasli Again the linked issue looks to be an end user passing an Array, this passes a constructed space delimited string. Can you explain what I'm missing here? Is this some PowerShell Functionality that I don't quite understand?

[2022-09-19 02:36] navba-MSFT commented on #23912
@nmittal7777 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-19 02:37] navba-MSFT commented on #23923
@strange2x Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-19 02:39] navba-MSFT commented on #23926
@jkdf-nnit Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-19 03:23] zhoxing-ms commented on #23916
This is the error message returned by the REST service. It seems that the information is not clear enough:

Therefore, it needs the help from ARM team to investigate the root cause of this error
**'x-ms-correlation-request-id': '17f82463-1b89-4393-9b01-a477892276d3'**

[2022-09-19 03:27] RakeshMohanMSFT commented on #23897
Duplicate of https://github.com/Azure/azure-cli/issues/23797

[2022-09-19 03:27] #23897 closed

[2022-09-19 03:28] RakeshMohanMSFT commented on #23891
@robrow01 Can you look into this? https://github.com/Azure/azure-cli/issues/23797#issuecomment-1238997338

[2022-09-19 03:30] jiasli commented on #23919
@aolszowka,  here is the result of your `$expandedSettingsString` and how Azure CLI receives it:

[code]

`$expandedSettingsString` is one string, with space in it. The correct way to pass a list to Azure CLI is to pass each argument as a string, space-separated.

This should work:

[code]

Output:

[code]

[2022-09-19 03:36] RakeshMohanMSFT commented on #23927
@musaddiqueans Thank you for reaching out, we are looking into it.

[2022-09-19 03:37] mjhilton commented on #23890
We are encountering [the same/very similar issue in a script that is bundled with our project](https://github.com/OctopusDeploy/Sashimi.AzureScripting/blob/main/source/Calamari/Scripts/AzureContext.ps1#L197-L204), and customers are now unable to login if using `2.40` on Windows. A simplified version of our login script looks like this:

[code]

This runs in a non-interactive PowerShell session, an

[2022-09-19 03:38] RakeshMohanMSFT commented on #23916
@zhoxing-ms I am looking into it.

[2022-09-19 03:49] eymizrac commented on #23492
Yes
Thanks!
Eyal

השג את Outlook עבור iOS<https://aka.ms/o0ukef>
________________________________
מאת: Xing Zhou ***@***.***>
‏‏נשלח: Sunday, September 18, 2022 7:31:27 PM
‏‏אל: Azure/azure-cli ***@***.***>
עותק: Eyal Mizrachi ***@***.***>; Mention ***@***.***>
‏‏נושא: Re: [Azure/azure-cli] Support NVMe flag (Issue #23492)

@eymizrac<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%

[2022-09-19 03:52] jiasli commented on #23920
This should work:

[code]

Output:

[code]

[2022-09-19 03:54] #23492 closed

[2022-09-19 04:17] jiasli commented on #23919
The fact that `$expandedSettingsString` gets torn apart is due to PowerShell issue https://github.com/PowerShell/PowerShell/issues/1995:

[code]

[2022-09-19 04:24] navba-MSFT commented on #23799
@lhotrifork The action is currently pending on you to try the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-19 04:24] #23799 closed

[2022-09-19 04:26] navba-MSFT commented on #23837
@devdp Please provide us more details on this issue and share the debug output once you get a chance. Once you are available to work on this, please feel free to reopen this thread and provide the requested details. We would be happy to help.

[2022-09-19 04:26] #23837 closed

[2022-09-19 04:30] navba-MSFT commented on #23838
@Abhinavgundapaneni The action is currently pending on you to test the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-19 04:30] #23838 closed

[2022-09-19 05:22] jonathanzhang02 commented on #23888
Hi @evelyn-ys  and team

Could we have at least a work around here? Our CD pipeline is totally blocked in China.

I tried  "az cloud set -n AzureChinaCloud --profile '2020-09-01-hybrid'" and rerun the command, but it still failed.

[2022-09-19 05:23] navba-MSFT commented on #23923
@strange2x I wasn't able to reproduce this issue at my end. I had a look at the below details from your environment:

[code]

This is not the official Azure CLI published by Microsoft. Please see https://github.com/Azure/azure-cli/issues/19640.

**Action Plan:**
For now, please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI on stable/GA ve

[2022-09-19 05:51] navba-MSFT commented on #23926
@jkdf-nnit I was able to update the tls version using the parameter `--min-tls`. Please run the below command and check if that helps.

More Info [here](https://learn.microsoft.com/en-us/cli/azure/servicebus/namespace?view=azure-cli-latest#az-servicebus-namespace-update).

[2022-09-19 06:12] RakeshMohanMSFT commented on #23927
@musaddiqueans Can you please share more details of the error you are getting? we are not seeing any issues with the command at our end with similar environments az cli 2.40.0, bicep cli 0.10.61

[2022-09-19 06:20] jiasli commented on #23835
Duplicate of #22664

[2022-09-19 06:20] #23835 closed

[2022-09-19 06:29] jiasli commented on #12986
Currently without absolute needs, we don't want to extend Azure CLI's pre-authorized permissions.

We are considering supporting custom client ID in https://github.com/Azure/azure-cli/issues/22775.

A workaround is to create and use your own service principal which has such permissions (https://github.com/Azure/azure-cli/issues/22775#issuecomment-1249080124).

[2022-09-19 06:34] dabenhamMic commented on #23618
@navba-MSFT , @sameergMS, @dadunl , any updates here?

[2022-09-19 06:41] navba-MSFT commented on #23618
@dabenhamMic As mentioned in the above comment, it is pending on Service team and I have tagged them already in this issue.

@sameergMS, @dadunl Could you please look into this on priority and assist @dabenhamMic further ?

[2022-09-19 07:02] RakeshMohanMSFT commented on #23717
@yrro No yet. We will get it updated soon.

[2022-09-19 07:06] RakeshMohanMSFT commented on #22555
@terry-citrix Can you please try upgrading to the latest version of az cli [2.40.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli) and retry?

[2022-09-19 07:47] bebound commented on #23915
Please check the guide here: https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

[2022-09-19 07:55] #23867 closed

[2022-09-19 08:01] #7619 closed

[2022-09-19 08:04] RakeshMohanMSFT commented on #6107
Reopen this if this is still happening

[2022-09-19 08:04] #6107 closed

[2022-09-19 08:23] zhoxing-ms commented on #22682
@mahipdeora @anavinahar @fitzgeraldsteele These two points have been implemented in draft PR. Do you have any suggestions on the third question?

In addition, can we hide the `--nat-pool-name` parameter in the help information. Users can continue to use it to avoid breaking change, but they will get the following prompt when using it:
![Screenshot 2022-09-19 162151](https://user-images.githubuserc

[2022-09-19 08:26] jiasli commented on #23915
@bebound is right.

This error means you haven't added Microsoft Linux Repo https://packages.microsoft.com/repos/azure-cli/

[2022-09-19 08:49] jiasli commented on #23928
This line is actually from https://github.com/Azure/msrestazure-for-python/blob/8849f398b6ebd4607de63c2f5d1318f44ec1d822/msrestazure/azure_active_directory.py#L644

[code]

`_ImdsTokenProvider.get_token` was called by `MSIAuthentication.set_token`.

https://github.com/Azure/msrestazure-for-python/blob/8849f398b6ebd4607de63c2f5d1318f44ec1d822/msrestazure/azure_active_directory.py#L600

[code]

`MSI

[2022-09-19 08:56] navba-MSFT commented on #23912
@nmittal7777 I wasn't able to reproduce this issue using AzCLI 2.40.0 version. Could you provide the --zones parameter value as shown below ?

Please test this and let me know if that helps. Awaiting your reply.

[2022-09-19 08:56] RAJNISH3 commented on #23915
@jiasli
Find below the docker image snippet

`
FROM ubuntu:latest
ENV DEBIAN_FRONTEND noninteractive
RUN apt-get -y update && apt-get install -y tcl
RUN apt-get -y install git
RUN apt-get -y install zip
RUN apt-get -y install curl
RUN apt-get install -y python-pip
RUN apt-get -y update && apt-get install azure-cli
`

create a docker file with name `Dockerfile`
and save the above content in file
ex

[2022-09-19 11:58] rubenmiddel opened #23932 "Cannot use entity variable in az storage entity insert using Azure CLI 2.40.0"
**Related command**
az storage entity insert

**Describe the bug**
Using a Powershell variable for inserting a Storage Entity results in error using Azure CLI 2.40. Same command was working fine in Azure CLI 2.37.0. Running the same command without using a variables also works fine.

**To Reproduce**
1. Open a PowerShell window and set variables $storageAccount, $tableName, $partitionKey, $rowKey

[2022-09-19 12:03] glaubitz commented on #22231
That doesn't mean the bug shouldn't be fixed though.

This issue is a typical example of the Azure SDK and the CLI API deviating from each other when one of the Azure SDK component packages have been updated.

I know that the Azure CLI PyPi package uses version pinning for the dependencies to address these issues.

However, from the distributions' point of view it would be preferable that the CLI

[2022-09-19 12:39] glaubitz opened #23933 "Dependency on azure-mgmt-authorization 0.61.0 which is more than two years old"
The Azure CLI package still depends on `azure-mgmt-authorization` which was released in August 2020 according the release history of the package [1]. The current version of `azure-mgmt-authorization` is 2.0.0 which was released in September 2021.

With `azure-mgmt-authorization` 2.0.0, various CLI commands fail with `'RoleAssignmentsOperations' object has no attribute 'config'`.

See, for example:

[2022-09-19 13:12] jwefers commented on #13064
@jiasli i would like to challenge this reasoning - PIM exists for both AAD roles and RBAC roles.
The RBAC part of it - Role Eligibility Requests, Instances, Schedules - are clearly subresources of the applicable scope of an Azure resource (https://learn.microsoft.com/en-us/rest/api/authorization/role-eligibility-schedules/list-for-scope?tabs=HTTP):

[code]

So i would argue that at least the RBAC

[2022-09-19 14:02] jscheeres opened #23934 "az containerapp create hangs with invalid parameter --revision-suffix"
The command _az containerapp create_ hangs infinite with invalid _--revision-suffix_.

Revision suffix must consist of lower case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character and cannot have '--'. And a length of max 64 characters.

[2022-09-19 14:10] aolszowka commented on #23919
@jiasli BINGO! Thank you for linking the PowerShell issue that is what I was looking for as I felt the original code met the requirements of a space separated "Key=Value" pair. It is PowerShell's mishandling of the double quotes (in versions prior to 7.3) that was the root cause of this issue.

The intent of this line:

[code]

Was to produce a string that looked like `"Setting1=Set at 2022/09/19"

[2022-09-19 14:34] yonzhan commented on #23934
route to CXP team

[2022-09-19 14:36] yonzhan commented on #23933
@jiasli for awareness

[2022-09-19 14:38] yonzhan commented on #23932
@evelyn-ys for awareness

[2022-09-19 16:04] Candelit commented on #23918
Hi.
This was it: POSIX-to-Windows path conversion will kick in
Adding MSYS_NO_PATHCONV=1 before the command solved it, BIG thanks.

How do I set it permamently?

Thanks
// THomas

[2022-09-19 16:21] sirfamelin opened #23935 "[TrustedLaunch] Breaking Change to default --enable-secure-boot and --enable-vtpm to true and optional flags in relation to --security-type TrustedLaunch"
Related command
az vm create
az vmss create

Is your feature request related to a problem? Please describe.
Today if a customer does not provide the values for --enable-vtpm and --enable-secure-boot, the values are not defaulted to true. This will result in a VM that does not take advantage of the full features of Trusted Launch

Describe the solution you'd like
We would like to make EnableVtpm an

[2022-09-19 17:47] chasewilson commented on #22631
Is this work still planned an being worked on this sprint or will it be delayed? @jsntcy

[2022-09-19 18:03] northtyphoon commented on #23928
@jiasli I can understand different commands won't be able to shared the in-memory cache. But I also see in the same command, if it calls ARM API several times, it will also call `http://169.254.169.254/metadata/identity/oauth2/token` each time. How can the command author to utilize the in-memory cache?
Also if I use service principal or normal aad account to login, how does the token cache work?

[2022-09-19 18:12] mchakka opened #23936 "Support for DDoS Per IP SKU Feature + Public Preview"
### Related command

az network public-ip
az network ddos-protection

**New-Commands:**
az network public-ip ddos-protection-status
az network vnet ddos-protection-status

### Resource Provider

Microsoft.Network

### Description of Feature or Work Requested

Feature request (2 Parts)
1. We want customer to be able to set DDoS Protection Mode on public IP as well as linking it to a ddos plan only

[2022-09-19 19:32] antonblr opened #23937 "`az ams account show --name <>` throws errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ams account show --name <mediaservicename>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ams account show --name {}`

## Expected Behavior

 Azure Media Services accoun

[2022-09-19 20:33] jaredbrogan opened #23938 "App Service Plans Not Listed in Output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az resource list -g "$resourceGroup" | jq .[].id | grep -i serverfarms`

## Expected Behavior
List out the crea

[2022-09-19 20:38] vnomus commented on #20168
Same issue here,  but above solution does not work for me. If, when I'm presented with the two matching accounts to chose from during login (after clearing account):
1. Work account - I get a "No subscription found error".
2. Personal account - log in and I can see my MSDN subscription. However, I can no longer access the artifacts repository created by that subscription.

[2022-09-19 22:29] SaurabhSharma-MSFT commented on #23680
@t-bzhan The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-09-19 22:29] #23680 closed

[2022-09-19 22:30] SaurabhSharma-MSFT commented on #23869
@BBoardley Please let me know if you are still having issues else we will proceed with the issue closure. Thanks.

[2022-09-19 22:31] SaurabhSharma-MSFT commented on #23650
@MrDarkPat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-19 22:31] #23650 closed

[2022-09-20 00:10] yonzhan commented on #23935
@zhoxing-ms for awareness

[2022-09-20 00:14] yonzhan commented on #23936
@necusjz for awareness

[2022-09-20 00:15] yonzhan commented on #23937
route to CXP team

[2022-09-20 00:16] yonzhan commented on #23938
route to CXP team

[2022-09-20 00:43] antonblr commented on #23937
From https://github.com/Azure/azure-sdk-for-python/pull/19067/files#diff-e9068214fdef0ba0f16c61272f00e7dab5a02032e8ec3d08a3725b5d4723ae09R34
[code]
and I guess this #18687 update didn't catch that

[2022-09-20 01:34] evelyn-ys commented on #23932
Similar with #23797. Please see detailed info in #23797 's comments

[2022-09-20 01:41] calvinhzy commented on #22631
It is being worked on but there might be delays for testing. Most likely it will be out by next sprint. Thanks.

[2022-09-20 02:25] PARADISSEEKR commented on #23895
Hi @ramankumarlive  `(BadRequest) 'Snapshot on Ultra or PremiumV2 disks' is not supported for this subscription/region`
Which region support this feature？

[2022-09-20 02:53] yanzhudd commented on #23614
Hello @AjKundnani, since the time of next build conference has not been determined, can the notification be modified to look like this?
**Starting next breaking window (sprint for 2023 Build Event) az disk create command will deploy Trusted Launch VM by default. To know more about Trusted Launch, please visit https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch**

[2022-09-20 02:55] navba-MSFT commented on #23938
@jaredbrogan Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-20 03:09] jiasli commented on #23928
Could you let us know which command you are calling? I suspect the command is creating multiple client factories thus multiple `MSIAuthenticationWrapper`s.

In short, we are using [`msal-extensions`](https://github.com/AzureAD/microsoft-authentication-extensions-for-python)'s persisted token cache. We can discuss internally if you like.

[2022-09-20 03:13] northtyphoon commented on #23928
the command I called is `az acr repository show-tags`

[2022-09-20 03:15] RakeshMohanMSFT commented on #23934
@jscheeres Thank you for reaching out, we are looking into it.

[2022-09-20 03:57] RakeshMohanMSFT commented on #9069
This is working now. Please upgrade to latest version of az cli [2.40.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.
![image](https://user-images.githubusercontent.com/49954584/191164170-e3f39faf-d4af-4b4f-b5f9-1d37945823a0.png)

[2022-09-20 03:57] #9069 closed

[2022-09-20 04:04] #7189 closed

[2022-09-20 05:09] RakeshMohanMSFT commented on #23050
@dmexs Your azure cli version is outdated. Please update it to 2.40.0

[2022-09-20 05:09] RakeshMohanMSFT commented on #10773
This issue is fixed. Please upgrade to latest version of az cli 2.40.0 and retry

[2022-09-20 05:09] #10773 closed

[2022-09-20 05:28] RakeshMohanMSFT commented on #14033
Please reopen if you still need help with this issue, also provide more details like the commands you are having issues with.

[2022-09-20 05:28] #14033 closed

[2022-09-20 05:30] RakeshMohanMSFT commented on #13364
If you are still facing this issue, please reopen.

[2022-09-20 05:30] #13364 closed

[2022-09-20 05:32] RakeshMohanMSFT commented on #12963
Its supported now
![image](https://user-images.githubusercontent.com/49954584/191175207-1937e314-c704-489b-8613-0d40160cc584.png)
https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-java?tabs=bash%2Cconsumption

[2022-09-20 05:32] #12963 closed

[2022-09-20 05:48] RakeshMohanMSFT commented on #15651
Please upgrade to latest version of az cli 2.40.0 and retry

[2022-09-20 05:48] #15651 closed

[2022-09-20 05:50] RakeshMohanMSFT commented on #15323
Please upgrade to latest version az cli 2.40.0 and retry.

[2022-09-20 05:50] #15323 closed

[2022-09-20 06:10] navba-MSFT commented on #23937
@antonblr You are correct. While passing the` --resource-group ` or `-g` the command works just fine. Please let us know if you need any further assistance on this issue.

[2022-09-20 06:15] antonblr commented on #23937
@navba-MSFT the fact that it is working with `--resource-group` /  `-g` does not solve the original issue. It should either - show the resource, or provide a friendly error message (i.e. `--resource-group` is required). But it should not throw stack traces. Though, it could be a low priority now.

[2022-09-20 06:28] navba-MSFT commented on #23938
@jaredbrogan Please run the below command to List app service plans.

**Examples:**

More Info [here](https://learn.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest#az-appservice-plan-list). Please let me know if this helps.

[2022-09-20 06:29] RakeshMohanMSFT commented on #15176
This is fixed.
![image](https://user-images.githubusercontent.com/49954584/191183451-d31d73b6-a069-441e-a19f-18ddb3aee528.png)

![image](https://user-images.githubusercontent.com/49954584/191183531-34fb987d-6cbe-404d-9969-9a39a3991188.png)

[2022-09-20 06:29] #15176 closed

[2022-09-20 06:32] RakeshMohanMSFT commented on #15935
az group create --name rg-cloudshell --location "francecentral". Please use a location with no special characters.

Please upgrade to latest version of az cli 2.40.0

[2022-09-20 06:32] #15935 closed

[2022-09-20 06:36] jiasli commented on #23389
ACR also has a bunch of ad-hoc API versions: https://github.com/Azure/azure-cli/blob/53c9ce261bd9db21ee02bd4247577deff512d37e/src/azure-cli/azure/cli/command_modules/acr/_client_factory.py#L8-L12

[2022-09-20 06:42] rubenmiddel commented on #23932
@evelyn-ys Thank you, using `@entity` instead of `$entity` indeed fixes the issue!

[2022-09-20 06:42] #23932 closed

[2022-09-20 06:42] RakeshMohanMSFT commented on #17721
Please upgrade to latest version of az cli 2.40.0. Also if you face this issue again, reopen the issue

[2022-09-20 06:42] #17721 closed

[2022-09-20 07:12] jiasli commented on #23389
ACS also has ad-hoc API version:

https://github.com/Azure/azure-cli/blob/9a6baa9462fa463a05fe62ca4827e5235623c163/src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py#L50-L52

[2022-09-20 07:37] neilmca-inc opened #23944 "az ml workspace create command requires --name parameter"
This command requires the `--name` parameter to complete a basic setup - it is currently listed incorrectly as "optional"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 63446f78-d3ac-0cc3-a102-a1612c54d90e
* Version Independent ID: a20a657c-aeaa-d122-0714-1aa2cfecd966
* Content: [az ml workspace](https://learn.microso

[2022-09-20 07:39] andreas-nielsen-xlo opened #23945 ""az webapp log download" sometimes fails, often on the first try, but then works on second (or later)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp log download --resource-group {} --name {}`

## Expected Behavior

`Downloaded logs to webapp_l

[2022-09-20 07:44] jack1902 commented on #23181
I'm aware no command exists currently, but considering a bunch of API' are exposed which the console hit, it seems useful to empower CLI users to use the azure cli to create environments and resources within. I believed this issue raised to be more of a "feature request" rather than a question of whether the CLI currently supported it

[2022-09-20 07:51] #23895 closed

[2022-09-20 07:58] jrveva commented on #23902
Thanks, but this does work in 2.39.

So idea is to splat it instead of use the variable array for 2.40 onwards?

[2022-09-20 08:05] RakeshMohanMSFT commented on #23902
@jrveva Yes, 2.40 onward you will have to use the splat.

[2022-09-20 08:21] nmittal7777 commented on #23912
@navba-MSFT , Giving zones value without comma's work as you suggested. However the documentation below mentions to use ","
https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-add

We had azure cli 2.38 previously and -zones 1, 2, 3 was working. It stopped working from 2.40 onwards.

Is now the correct syntax to use without ","

[2022-09-20 08:22] jrveva commented on #23902
Thanks. I have done a test now and yes, this has fixed the issue by changing it to a splat instead. I will update the team so knowledge is shared as this might break other areas of our deployments.

[2022-09-20 08:27] RakeshMohanMSFT commented on #23902
Can i close this issue? @jrveva

[2022-09-20 08:29] jrveva commented on #23902
Yes, that's fine. It makes sense, we splat params all the time, so not sure why we did a powershell array for this, but if it accepted it i guess we never questioned it :) Please close.

[2022-09-20 08:30] #23902 closed

[2022-09-20 08:56] navba-MSFT commented on #23912
@nmittal7777 You should be using it without the , (comma). The same has been documented in the example [here](https://learn.microsoft.com/en-us/azure/aks/availability-zones#create-an-aks-cluster-across-availability-zones).

[2022-09-20 08:58] yonzhan commented on #23945
route to CXP team

[2022-09-20 08:58] yonzhan commented on #23944
route to CXP team

[2022-09-20 09:51] lgiuliani80 opened #23947 "az upgrade under Windows waits for end of msiexec which wants to update python.exe"
**Related command**
az upgrade

**Describe the bug**
az upgrade under Windows downloads and runs the MSI installer. The call to msiexec.exe is synchronous (i.e. it waits for its termination), but during the installation process the MSI wants to update python.exe, which is in use.

**To Reproduce**
az upgrade [under Windows]

**Expected behavior**
Under Windows EXIT PROCESS after calling msiexec: t

[2022-09-20 09:53] yonzhan commented on #23947
@jiasli for awareness

[2022-09-20 10:00] RakeshMohanMSFT commented on #17651
These two commands are working without any issues, please upgrade Azure CLI to 2.40.0 and retry.

[code]

[2022-09-20 10:00] #17651 closed

[2022-09-20 10:16] ajarvinen commented on #21149
This would be very usefull for me also. I have a deployment that uses three different bicep templates, which are called with a single parameter file. The templates have some of the same parameters, but few different also.

To work around this limitation I have created dummy parameters for the bicep templates. This means everytime I want to add a new parameter for any of the templates, I also need

[2022-09-20 10:59] #23912 closed

[2022-09-20 11:48] SeryioGonzalez opened #23948 "Parameter timespan is poorly documented"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 56af75a3-3b2f-711b-21b3-57375fbe124d
* Version Independent ID: 93d7d728-534e-3e1e-e138-bcaf040ebd2d
* Content: [az monitor log-analytics](https://learn.microsoft.com/en-us/cli/azure/monitor/log-analytics?view=azure-cli-latest)
* Content Source: [late

[2022-09-20 11:54] RakeshMohanMSFT commented on #23934
@jscheeres I tried creating with "--" value for suffix and it worked without any issue. Can you please share the value you were using which cause the process to hang?
`az containerapp update -n issue23934capp -g Issue23934 --image issue23934acr.azurecr.io/helloworld-mvc:1.0 --environment Issue23934env --ingress external --target-port 80 --registry-server issue23934acr.azurecr.io --revision-suffix

[2022-09-20 12:13] jscheeres commented on #23934
The command below hangs infinite because the revision-suffix does not conforms the naming convention for revision-suffix.

az containerapp **create** \
                      --name xxxxx-handls-jupj \
                      --resource-group xxxx-tst-rg \
                      --environment xxxx-tst-cae \
                      --image xxxx.azurecr.io/xxxx.handlers:0.3.0-40495-container-a640 \

[2022-09-20 12:43] yonzhan commented on #23948
@kairu-ms for awareness

[2022-09-20 13:42] snamboothiry opened #23950 "AZ CLI for scheduled query returning python error"
**Related command**
az monitor scheduled-query create -g {{steps.getKeyVault.outputs.azure-resource-group}} -n Excpetion-Log-Alert --scopes {appResourceId} --condition "count 'Placholder_1' > 0" --condition-query "AppServiceConsoleLogs \n| where tolower(ResultDescription) contains \"exception\" and TimeGenerated > ago(30m)" --action-groups {action} --severity 3 --description "Test rule"

**Describ

[2022-09-20 13:52] yonzhan commented on #23950
@kairu-ms for awareness

[2022-09-20 13:55] floryut opened #23951 "Service principal is missing in `az ad group owner list` after upgrade to 2.37"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad group owner list`

**Errors:**
Missing service principal as owner after upgrade to azcli 2.37+
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Authenticate to azure subscription
- insta

[2022-09-20 14:06] jaredbrogan commented on #23938
Hi @navba-MSFT,
As my post already stated, I'm aware of the suggested command. What I'm calling to attention is the fact that the `az resource list` command does not accurately output all App Service Plans when the ID doesn't specifically contain the word `serverFarms` with a capitalize letter "F".

[2022-09-20 14:08] Marwen-TAALLAH commented on #23700
Thanks, that solved my issue.

[2022-09-20 14:19] Marwen-TAALLAH opened #23952 "Create an azure VM wia python with init script"
### Related command

_No response_

### Resource Provider

virtual machine

### Description of Feature or Work Requested

I am trying to create a virtual machine on azure via python and having it execute a script on launching time (init script).
For this purpose, I am using the **custom_data** as follows:

![custom_data](https://user-images.githubusercontent.com/29490363/191281151-3f1d2f19-2e8d-43

[2022-09-20 14:44] RakeshMohanMSFT commented on #23934
@jscheeres We are unable to reproduce this issue, please see the screenshot below. Are you using latest version of azure cli 2.40.0 and extension containerapp 0.3.11?
![image](https://user-images.githubusercontent.com/49954584/191288845-30e913a1-b25f-4807-90f1-dac5eabbaba9.png)

[2022-09-20 15:08] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH Glad that your issue was resolved! Closing.

[2022-09-20 15:08] #23700 closed

[2022-09-20 15:11] PramodValavala-MSFT commented on #23944
@neilmca-inc Thanks for the feedback! We will review and update accordingly.

[2022-09-20 15:12] ninichki opened #23953 "System.ArgumentException: M44 (Parameter 'M44 0.9999999 must be equal to 1.')"
Hi,
i set worldMatrix of a child node:
![image](https://user-images.githubusercontent.com/1086380/191295977-52d01bd4-9769-4018-b36d-58f6d09d035e.png)
then I get following error:
 System.ArgumentException: M44 (Parameter 'M44 0.9999999 must be equal to 1.')

My values are:
![image](https://user-images.githubusercontent.com/1086380/191296133-948bcf46-4d59-40e8-b4d8-82a6489310f2.png)
and
![image](htt

[2022-09-20 16:09] necusjz commented on #23936
We're evaluating the feasibility of the solution, as you can see the API Version you mentioned (2022-05-01) is higher than the latest public Python SDK (https://pypi.org/project/azure-mgmt-network/). It means we have to bypass the SDK to implement it at that moment.

We'll keep you updated about the evaluation result.

[2022-09-20 16:12] emmanuelsomeox opened #23954 "az login --identity throw error __init__() got an unexpected keyword argument 'user_agent'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -i`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2022-09-20 16:42] emmanuelsomeox commented on #23954
Additional info : package azure-cli has been installed using [official methods for Red Hat ](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf).

[2022-09-20 17:13] #23953 closed

[2022-09-20 17:16] AjKundnani commented on #23614
@yanzhudd - Is it ok from CLI perspective to call-out `breaking change window` for end users? Or if we can simplify perhaps, like `Starting Build 2023, az disk create command will deploy Trusted Launch VM by default. To know more about Trusted Launch, please visit https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch`, thoughts?

[2022-09-20 17:57] jscheeres commented on #23934
Ok, i upgraded de az cli to 2.40.0. And executed the following command.

![image](https://user-images.githubusercontent.com/10026982/191328358-188d3819-0317-4362-9bc9-aba6ad3cdd55.png)

Creating the container app is "succeeded". It took at least 15/20 minutes. The output contains the revision-suffix.

![image](https://user-images.githubusercontent.com/10026982/191328885-81a3cc46-3b8f-411a-8f1e-784

[2022-09-20 19:31] sreagleeye commented on #23887
@panchagnula I don't think this issue should be closed. There is something weird here.

All of our MS Hosted pipelines that use the Azure CLI task with PowerShell Core started to break after they upgraded their image to use Azure CLI version 2.40. I have narrowed the issue down to using to the `az webapp config appsettings set` command with PowerShell string variable.

**The following works:**
[co

[2022-09-20 19:39] panchagnula commented on #23887
@sreagleeye use the parent bug for updates/ discussions. As mentioned there were no changes specific to this command.

[2022-09-20 20:36] sindhualuguvelli1 commented on #23418
@necusjz Any update on this?

[2022-09-20 20:43] alexadams-ms opened #23955 "unable to export ACI configuration to yaml via az container export"
the command executed was `az container export --resource-group tnt19-mgmt-p01-eastus2 --name tnt19-mgmt-p01-eastus2-resourceserviceworkers --file aci_state.yaml` in subscription id `35c3cfee-42db-4215-8ce5-841ad245db7e`

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container export`

**Errors:**
[code]

## To Reproduce:
Steps to repr

[2022-09-20 20:52] andrescodas commented on #23821
I'm facing the same issue.  Is there any fix?

[2022-09-20 21:39] alexadams-ms commented on #23955
I updated to version azure-cli 2.40.0 and I am still facing the issue.

[2022-09-20 22:12] medhir opened #23956 "Log when az login uses WAM as authentication method"
As we roll out broker-based auth to more customers on Windows, we would like to monitor the health of authentication through WAM with visibility into:
- when `allow_broker` is enabled and used by any az command that would acquire a token
- associated command execution, errors

[2022-09-20 22:19] mindlessroman commented on #23844
https://github.com/MicrosoftDocs/azure-docs-cli/pull/3303 @yonzhan - The documentation has been updated :D Still will work on getting the data flow functionality working.

[2022-09-20 22:19] #23844 closed

[2022-09-20 22:23] CarolineNB commented on #17493
Hi @dracan, thank you for reaching out. We are looking into it.

[2022-09-20 22:44] yonzhan commented on #23951
@jiasli for awareness

[2022-09-20 22:59] yonzhan commented on #23952
@zhoxing-ms for awareness

[2022-09-20 23:04] yonzhan commented on #23954
@jiasli for awareness

[2022-09-20 23:07] yonzhan commented on #23955
route to CXP team

[2022-09-20 23:09] yonzhan commented on #23956
@evelyn-ys for awareness

[2022-09-20 23:32] SaurabhSharma-MSFT commented on #23869
@BBoardley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-20 23:32] #23869 closed

[2022-09-20 23:34] BBoardley commented on #23869
Nothing has changed it still does not work for me.

From: SaurabhSharma-MSFT ***@***.***>
Sent: Tuesday, September 20, 2022 6:33 PM
To: Azure/azure-cli ***@***.***>
Cc: Robert Boardley ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] Azure CLI command error (Issue #23869)

@BBoardley<https://github.com/BBoardley> We will now proceed to close this thread. If there are further quest

[2022-09-20 23:47] CarolineNB commented on #17493
Hi @dracan, try removing the trailing '/'s in your .dockerignore file and let me know if that works.

This will be fixed in the next CLI release, but I don't want you to have to wait until then.

Thanks!

[2022-09-21 00:25] SaurabhSharma-MSFT commented on #23364
@kiweezi Please let me know if you have any other questions, else we are proceeding with the closure of this issue.

[2022-09-21 02:11] bebound commented on #23954
What's the output of `PYTHONPATH=/usr/lib64/az/lib/python3.6/site-packages/ /usr/bin/python3.6 -m pip list | grep azure-mgmt-resource`?

[2022-09-21 02:18] emmanuelsomeox commented on #23954
Output :
PYTHONPATH=/usr/lib64/az/lib/python3.6/site-packages/ /usr/bin/python3.6 -m pip list | grep azure-mgmt-resource
azure-mgmt-resource                              21.1.0b1
azure-mgmt-resourcegraph                         1.0.0

[2022-09-21 02:51] bebound commented on #23954
That's weird. The error message indicates that dependency might be broken(similar to #21189), but it looks okay.
Could you please attach the output of `az -v`?

A fresh installation should help.

[2022-09-21 02:52] yanzhudd commented on #23614
It looks great. We will show this notification message to end users.

[2022-09-21 03:01] jiasli commented on #23954
Here is a previous analysis on the error `TypeError: __init__() got an unexpected keyword argument 'user_agent'`: https://github.com/Azure/azure-cli/issues/18626#issuecomment-876982958

Some how your `SubscriptionClient` is from Track 1 SDK.

Perhaps you may also try this command to see where `SubscriptionClient` is imported from:

[code]

The latest Azure CLI is 2.40.0. For latest Azure CLI, the

[2022-09-21 03:02] emmanuelsomeox commented on #23954
Result of az -v
az -v
azure-cli                         2.37.0

core                              2.37.0
telemetry                          1.0.6

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource                2.1.0

Python location '/usr/bin/python3.6'
Extensions directory '/home/xxxxx/.azure/cliextensions'

Python (Linux) 3.6.8 (default, Aug  3 2021, 06:54:29)
[GCC 8.3

[2022-09-21 03:04] jiasli commented on #23954
`azure-mgmt-resource 2.1.0` is Track 1 SDK. I am not sure why it is against `azure-mgmt-resource 21.1.0b1` from https://github.com/Azure/azure-cli/issues/23954#issuecomment-1253123915

[2022-09-21 03:10] RakeshMohanMSFT commented on #23887
@sreagleeye Please see the explanation and solution at https://github.com/Azure/azure-cli/issues/23797#issuecomment-1238997338

[2022-09-21 03:13] emmanuelsomeox commented on #23954
Result of command https://github.com/Azure/azure-cli/issues/23954#issuecomment-1253146609
 PYTHONPATH=/usr/lib64/az/lib/python3.6/site-packages/ /usr/bin/python3.6 -c "import azure.mgmt.resource.subscriptions; print(azure.mgmt.resource.subscriptions.__file__)"
/usr/lib/python3.6/site-packages/azure/mgmt/resource/subscriptions/__init__.py

I will test a new fresh install tomorrow on a new server

[2022-09-21 03:18] jiasli commented on #23954
Just as I inferred, `/usr/lib/python3.6/site-packages/azure/mgmt/resource/subscriptions/__init__.py` is installed by `pip`, interfering with Azure CLI's `/usr/lib64/az/lib/python3.6/site-packages/azure/mgmt/resource/subscriptions/__init__.py`.

[2022-09-21 03:21] emmanuelsomeox commented on #23954
I followed the official method [official methods for Red Hat ](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf). for the installation via dnf and not pip.

[2022-09-21 05:12] thisisanniefang opened #23957 "New Load Balancer health probe parameter"
### Related command

az network lb probe create [--probeThreshold]
az network lb probe update [--probeThreshold]

### Resource Provider

Microsoft.Network/loadbalancers

### Description of Feature or Work Requested

Feature request to add new optional parameter --probeThreshold to the following commands:
az network lb probe create
az network lb probe update

Due to a longstanding known issue regar

[2022-09-21 05:44] yonzhan commented on #23957
@necusjz for awareness

[2022-09-21 06:00] RakeshMohanMSFT commented on #2174
Please reopen this if the solution provided by @surajmb does not work.

[2022-09-21 06:00] #2174 closed

[2022-09-21 06:17] #3984 closed

[2022-09-21 06:40] saicharan8 opened #23959 "passing list to --rules isn't working"
$ruleIds = [System.Collections.ArrayList]@('921130','921140')
az network application-gateway waf-policy managed-rule rule-set add --policy-name $Name -g $ResourceGroupName --type $disabledRule.ruleSetType --version $disabledRule.ruleSetVersion --group-name $ruleGroup.ruleGroupName --rules $ruleIds

Error Message: The override Rule '921130 921140' is unknown for RuleGroup 'REQUEST-921-PROTOCOL-ATTA

[2022-09-21 06:40] saicharan8 commented on #23959
Code: ApplicationGatewayFirewallUnknownRuleOverride
Message: The override Rule '921110 921130' is unknown for RuleGroup 'REQUEST-921-PROTOCOL-ATTACK' for Application Gateway Firewall in context ''.

[2022-09-21 06:46] jiasli commented on #14016
Azure CLI is now calling Microsoft Graph API (https://github.com/Azure/azure-cli/issues/22580). Currently there is no plan to support `appRoleAssignments`. You may use `az rest` to directly call that API.

[2022-09-21 06:53] necusjz commented on #23959
Does `--rules 921130 921140` work? If yes, please temporarily take it as a workaround.

[2022-09-21 07:18] saicharan8 commented on #23959
yes this is working

[2022-09-21 07:29] #23807 closed

[2022-09-21 07:33] navba-MSFT commented on #23938
@jaredbrogan Thanks for getting back and clarifying the ask. I would like to do a repro at my end and debug this further. I don't have any resources with serverfarms (lower case f). May I know how did you create those server**f**arms with lowercase **f** ?

[2022-09-21 07:44] navba-MSFT commented on #23594
@digennarot Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please try to use the [most recent version](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli) of Azure CLI and check if that helps ?

[2022-09-21 08:02] #23706 closed

[2022-09-21 08:02] #23670 closed

[2022-09-21 08:02] #23663 closed

[2022-09-21 08:02] #23151 closed

[2022-09-21 08:02] #23068 closed

[2022-09-21 08:02] #22969 closed

[2022-09-21 08:07] jiasli commented on #23594
`dist-packages` suggests this is not official Azure CLI package. See https://github.com/Azure/azure-cli/issues/19640.

[2022-09-21 09:52] guillaume-roche commented on #14151
Hello,

I ran into the same issue. Perhaps a cleaner workaround is to override the Azure configuration directory thanks to the `AZURE_CONFIG_DIR` environment variable. See https://learn.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-file.

I set it to the workspace directory as it should always be writeable:
[code]

[2022-09-21 10:21] zhoxing-ms commented on #23450
May I ask what is the current status for the SKU GET API? If it is not ready at present, because the SKU LIST API responds slowly and returns many irrelevant data. can we simplify the scenario of printing warning log to avoid calling the [Resource SKU List API](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list)?

[2022-09-21 10:26] AjKundnani commented on #23450
@zhoxing-ms - It's not committed for Zn semester, if we can try with location filter please? Or alternatively with PS cmdlet `(Get-AzComputeResourceSku -Location westus2 | Where-Object {$psitem.Name -eq "Standard_NC12s_v2"}).Capabilities` If you can check the debug log for above cmdlet and API used?

[2022-09-21 10:51] alk-automize opened #23963 "Cannot delete role assignment with roleAssignmentScheduleRequests - outdated api version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az role assignment delete --subscription <subscription name> --ids /subscriptions/<subscription id>/pr

[2022-09-21 11:56] yonzhan commented on #23963
@jiasli for awareness

[2022-09-21 14:44] sreagleeye commented on #23887
@RakeshMohanMSFT Thank you for that update. I had not seen that comment/solution. This is an issue across all commands that use array parameters. Using splatting as that comment specifies has fixed the issue.

[2022-09-21 14:53] andrescodas commented on #23821
The point is that I'm using az-cli to get the key.  Here is what I see:

[code]

[2022-09-21 14:55] dheeraj-vanteru opened #23964 "install az cli returns permissions error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-09-21 15:50] necusjz commented on #23418
WIP and the same situation as https://github.com/Azure/azure-cli/issues/23936#issuecomment-1252580954.

[2022-09-21 16:50] jaredbrogan commented on #23938
When using the portal, it will create a resource with an upper case F. Using either the azure cli or the latest azurerm terraform provider, they will create a resource with a lower case f.

_However_, it would now appear that the issue has been fixed...?
This screenshot was taken the day this issue was posted:
![image](https://user-images.githubusercontent.com/42228088/191563649-d016f260-c60c-4f6f

[2022-09-21 16:56] tomasz-k-kaminski commented on #22807
In case you use ARM templates please make sure to specify per node pool

"orchestratorVersion": "[parameters('kubernetesVersion')]",
"currentOrchestratorVersion": "[parameters('kubernetesVersion')]"

[2022-09-21 17:14] SaurabhSharma-MSFT commented on #23914
@dotina Please let me know if you still are having issues.

[2022-09-21 18:09] SaurabhSharma-MSFT commented on #23924
@ravitellakula I do not think we have any CLI to get the same. You can probably call the below REST API to get apps and respective slots under an app service plan- `https://management.azure.com//subscriptions/{subscriptionid}/resourceGroups/{resourcegroup}/providers/Microsoft.Web/serverfarms/{AppServicePlanName}/sites?includeSlots=true`.

[2022-09-21 19:34] mfmalto opened #23965 "bastion rdp using azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --name {} --resource-group {} --target-res

[2022-09-21 20:01] SergeiDavydov commented on #23779
Hi @navba-MSFT,

Please find the command output below.

`cli.knack.cli: Command arguments: ['aks', 'install-cli', '--base-src-url', 'https://dl.k8s.io/release/v1.25.0/bin/darwin/arm64/kubectl', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_ar

[2022-09-21 20:29] TRIVEDISAGAR37 opened #23966 "az advisor recommendation list --refresh -r having bunch of errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az advisor recommendation list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az advisor recommendation list --refresh -r`

## Expected

[2022-09-22 00:02] yonzhan commented on #23964
route to CXP team

[2022-09-22 00:10] yonzhan commented on #23965
route to CXP team

[2022-09-22 00:11] yonzhan commented on #23966
route to CXP team

[2022-09-22 02:10] RakeshMohanMSFT commented on #23966
@TRIVEDISAGAR37 Thank you for reaching out, we are looking into it.

[2022-09-22 02:12] RakeshMohanMSFT commented on #23964
@dheeraj-vanteru Please go through this https://github.com/Azure/azure-cli/issues/16445#issuecomment-1061585356

[2022-09-22 02:54] montanoeuse commented on #23762
Hi. good day! any update on this?

[2022-09-22 03:18] navba-MSFT commented on #23965
@mfmalto Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-22 03:23] CMihalcik opened #23967 "az pipelines create ignores --repository when it refers to a different project than --project"
Attempting to create a pipeline in one project using a yaml file in a git repo in another project fails.

## Prerequisites

Two projects in the same organization with AzureDevOps git repos with the same name,
- sourceProject
	- aRepo
		- yaml pipeline file
- targetProject
	- aRepo

## Steps to Reproduce

Note that `$yamlRepo` refers to a repo in sourceProject while `$project` refers to targetProje

[2022-09-22 04:15] chicago7 commented on #23714
hi All

I encountered the same issue in Azure China . Azure CLI version is 2.40.0. the error message is as below. please help fix the issue ASAP. Thanks.

cli.azure.cli.core.sdk.policies: Response status: 502
cli.azure.cli.core.sdk.policies: Response headers:
cli.azure.cli.core.sdk.policies:     'Cache-Control': 'no-cache'
cli.azure.cli.core.sdk.policies:     'Pragma': 'no-cache'
cli.azure.cli.cor

[2022-09-22 04:31] dawwa opened #23968 "ERROR: Cannot convert the literal 'xxxxxx' to the expected type 'Edm.Binary'"
**Related command**
[code]

**Describe the bug**
Got the error of "ERROR: Cannot convert the literal 'xxxxxx' to the expected type 'Edm.Binary'."

**Additional context**
We were with the following command and it had been working fine previously, however seems recently this way is deprecated? and when I tried the new command, we face this issue.

[code]

Related KB: https://learn.microsoft.com/en-u

[2022-09-22 04:49] RAJNISH3 commented on #23915
I have added the package as mentioned in the link but there is no specific set of commands which can be used to execute inside the docker image.

[2022-09-22 05:17] yonzhan commented on #23967
route to CXP team

[2022-09-22 05:21] yonzhan commented on #23968
@jiasli for awareness

[2022-09-22 05:29] jiasli commented on #23968
The Microsoft Graph migration is documented at https://learn.microsoft.com/en-us/cli/azure/microsoft-graph-migration

As described in the doc, `az ad app create` no longer has `--password` argument:

For `az ad app create ... --key-value "xxxxxx"`, could you share several starting bytes of `"xxxxxx"` and the `--debug` log?

[2022-09-22 05:43] jiasli commented on #23968
As discussed offline, for `--key-value "xxxxxx"`, `"xxxxxx"` should be the public key of a certificate, not password.

To let Graph service generate a password, use `az ad app credential reset`.

[2022-09-22 05:43] #23968 closed

[2022-09-22 05:52] bebound commented on #23915
You need to execute each command in the docker.

Replace `apt-get install azure-cli` with `apt-get install curl && curl -sL https://aka.ms/InstallAzureCLIDeb | bash` in your dockerfile.

PS:
This may help: https://www.cloudbees.com/blog/a-beginners-guide-to-the-dockerfile

[2022-09-22 06:58] jillyueh020 opened #23969 "Azure CLI 2.37.0 default application creation - oath2permission"
### Related command

### **Issue:**
How to modify the oath2permission by "az ad app" or this can only by the portal?

### **Background:**
cx use the 2.36.0 Azure CLI to create the Application, by default it would update the oath2permission:
_*Command: az ad app create --display-name xxxxxx_
Back to portal, App registration > Expose an API tab, there's user_impersonation value without API value ass

[2022-09-22 06:59] jiasli commented on #23963
`roleAssignmentScheduleRequests` resource type is not supported by `az role assignment delete`, only `roleAssignments` is supported, such as

[code]

[2022-09-22 07:09] zhoxing-ms commented on #23450
@AjKundnani Even if the query results are filtered by location, there are still a lot of irrelevant data returned by LIST API and the query time still takes several seconds.
In addition, I have another concern: may I ask whether the LIST SKU API has hot issues? For example, the distribution of SKUs in location is uneven. Some locations contain a large number of SKUs, which will result in long serv

[2022-09-22 07:27] #23899 closed

[2022-09-22 07:27] abu3lia commented on #23899
As tested, generating the SAS is not possible unless enabling the Public Access. Thanks!

[2022-09-22 07:30] FumingZhang commented on #23779
Will take a look.

[2022-09-22 07:30] alk-automize commented on #23963
Then it was too good to be true. I was hoping PIM configuration had finally made it into CLI.

The error message is misleading. It should say something like "The resource type 'roleAssignmentScheduleRequests' is invalid"

[2022-09-22 07:38] OZZYTA opened #23970 "Heeelp please"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring app deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring app deploy --resource-group {} --service {} --name {} --a

[2022-09-22 08:01] #23737 closed

[2022-09-22 08:01] #23736 closed

[2022-09-22 08:02] #22246 closed

[2022-09-22 08:37] navba-MSFT commented on #23923
@strange2x I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-22 08:37] navba-MSFT commented on #23926
@jkdf-nnit I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-22 08:50] navba-MSFT commented on #23965
@mfmalto Could you please confirm if you are running this from a cloudshell on Linux ? If Yes, it wont be able to open the RDP on your local machine. For this reason, we recommend using powershell with az cli (on **Windows** machine).

Also, note that RDP command works best on Windows, for other OS’ (like **Linux**) you can do the [**tunnel command**](https://docs.microsoft.com/en-us/azure/bastion

[2022-09-22 09:25] jillyueh020 commented on #23969
For MS Grpha API is to do:
PATCH https://graph.microsoft.com/v1.0/applications/<object-id>
{
    "api": {
        "oauth2PermissionScopes": [
            {
                "adminConsentDescription": "user_impersonation",
                "adminConsentDisplayName": "user_impersonation",
                "id": "9272bb24-b60a-458a-a6a0-3b1235adbd4d",
                "isEnabled": true,
                "

[2022-09-22 09:50] navba-MSFT commented on #23965
@mfmalto Thanks for your reply. I shall wait for the updates from you.

[2022-09-22 11:15] ranjithshree opened #23972 "az aks enable-addons failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --name {} --resource-group {}`

##

[2022-09-22 11:29] othukeodoko opened #23973 "AZ GROUP CREATE NOT WORKING AFTER SUCCESSFUL LOGIN"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2022-09-22 11:30] #23885 closed

[2022-09-22 11:43] mfmalto commented on #23965
$BastionName='Bastion'
$BastionRG='AVD-POC-BASTION-RG'
$VMResourceID='/subscriptions/<sub-id>/resourceGroups/AVD-POC-MM/providers/Microsoft.Compute/virtualMachines/avd-poc-ss-mm'

az network bastion rdp --name $BastionName --resource-group $BastionRG --target-resource-id $VMResourceID

I’ve ever tried not using the vars and putting everything in line.

I get this error from PS Admin or from PS wit

[2022-09-22 11:54] yonzhan commented on #23970
route to CXP team

[2022-09-22 11:57] yonzhan commented on #23972
route to CXP team

[2022-09-22 11:58] yonzhan commented on #23969
@jiasli for awareness

[2022-09-22 12:05] yonzhan commented on #23973
@zhoxing-ms for awareness

[2022-09-22 13:07] othukeodoko commented on #23973
The issue has been fixed. It was a system time zone setting issue.

[2022-09-22 13:07] #23973 closed

[2022-09-22 13:16] mfmalto commented on #23965
I ran az upgrade in my powershell window and now get this when I run:

Command group 'network bastion' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Request to EncodingReservedUnitTypes v2 API endpoint failed.

I also updated to powershell 7 and get the same error.

From: navba-MSFT ***@***.***>
Sent: Thursday, September 22, 2022 5:51 AM
To: Azure/

[2022-09-22 13:45] henkeberggren commented on #19684
Having the same issue, works if I removed the "smb" section. Any news for a fix in the backend?

[2022-09-22 14:01] willem-plug-io opened #23975 "az webapp auth update --action"
az webapp auth update --action seem to have different behavior and syntax than stated in the documents.
When I look at the docs this is what optional values I can give with the --action flag:
"--action
accepted values: AllowAnonymous, LoginWithAzureActiveDirectory, LoginWithFacebook, LoginWithGoogle, LoginWithMicrosoftAccount, LoginWithTwitter"

I used the value "LoginWithAzureActiveDirectory" in

[2022-09-22 14:21] RakeshMohanMSFT commented on #23970
@OZZYTA Thank you for reaching out to us, we are looking into it.

[2022-09-22 14:21] yonzhan commented on #23975
route to CXP team

[2022-09-22 14:22] RakeshMohanMSFT commented on #23975
@willem-plug-io Thank you for reaching out, we are looking into it. Can you please share your environment details using az --version command?

[2022-09-22 14:55] hharsunen opened #23976 "Issue with az cli reservations module"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az reservations reservation-order list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az reservations reservation-order list`

## Expec

[2022-09-22 16:07] GrimGadget commented on #19624
A workaround is not a solution, and doesn't work in all cases.

[2022-09-22 16:16] AIZ-THerring commented on #19624
How about when using Azure CLI?

[2022-09-22 17:14] kunalwaghrayismyalias opened #23978 "`az login` fails: json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az account clear` as recommended in [issue 20853 here](https://github.com/Azure/azure-cli/issues/20853)
- `az login --i

[2022-09-22 17:18] jiasli commented on #23969
Not setting `oath2permission` to `user_impersonation` is the designed behavior of Microsoft Graph.

To modify `oath2permission`, use `az ad app permission add` command.

[2022-09-22 17:33] jackhorton commented on #21227
@yonzhan @jiasli Do you have any update here? This issue is still requiring us to use a custom AzureCliCredential wrapper that handles this behavior correctly as the one shipped with the Azure.Identity package does not handle this correctly.

[2022-09-22 18:06] afogarty85 commented on #23267
Also getting this issue with Azure ML notebooks.

[2022-09-22 18:56] andrescodas commented on #23821
Hi @evelyn-ys

This is how I installed az-cli:
[code]
this is how I attempt to updated it:

[code]

Can you send the specific updates I need to use to update?  I use a linux-debian environment

[2022-09-22 19:56] in-bharath commented on #12366
interesting, instead of output table, if we change it to output json, am seeing the results in json format

[2022-09-22 20:17] saisujithreddym opened #23980 "Azure Firewall Network rule creation with an ip prefix"
![Picture1](https://user-images.githubusercontent.com/6829181/191843038-07cf0744-870c-4e8b-ab1b-74be8272c9f5.png)

**Related command**

az network firewall network-rule create

**Describe the bug**

Looks like CLI is not taking an ipprefix in the network rules during the firewall creation

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-09-22 20:25] hhazewinkel opened #23981 "download of logfiles..."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {}`

## Expecte

[2022-09-22 21:05] andrescodas commented on #23821
I think I found the issue.  There is a conflict with other packages I install:

[code]

After installing these, I start seeing the error above

[2022-09-22 22:40] pfxp opened #23982 "Small copy and paste error"
Hello,

Thank you for the great doco. Small re-write for a sentence is needed:

"Delete a new Application Insights resource."

should read

"Delete an Application Insights resource."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d12f6146-c67e-a67b-2878-5e8b882be173
* Version Independent ID: 588219b1-1476-3a0a-4c78-bd

[2022-09-22 23:18] zcemycl commented on #18052
same here. The different thing is,
1. I can view all endpoints in my local laptop.
2. Cannot see all endpoints in azure pipeline azure-cli@2.

[2022-09-22 23:39] brianlehr commented on #23921
Thanks @yonzhan -- let me know any questions you have about the requirements.

[2022-09-23 00:17] yonzhan commented on #23976
route to CXP team

[2022-09-23 00:23] yonzhan commented on #23978
@jiasli for awareness

[2022-09-23 00:41] yonzhan commented on #23980
@necusjz for awareness

[2022-09-23 00:41] yonzhan commented on #23981
route to CXP team

[2022-09-23 00:43] yonzhan commented on #23982
@kairu-ms for awareness

[2022-09-23 00:52] rayluo commented on #23956
We can go one step further by monitoring "when `allow_broker` is enabled and used by any az command that would acquire a token". Because when a command "az foo bar" silently gets a new access token (AT), it is still using the WAM mechanism. Even if the AT was served from MSAL Python's token cache thus bypassing WAM, that AT was still originally served by WAM. From client-side perspective (on the c

[2022-09-23 01:49] LogicalNiko commented on #23720
Similar issue with az network bastion ssh

`Command group 'network bastion' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Exception in thread Thread-1 (_start_tunnel):
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.10/3.10.6_2/Frameworks/Python.framework/Versions/3.10/lib/python3.10/threading.py", line 1016, in _bootstrap_inn

[2022-09-23 02:11] evelyn-ys commented on #23821
Sounds like known issue of `ml` extension conflict. @jiasli may have more knowledge

[2022-09-23 02:20] joehd91 opened #23984 "bastion native client"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --name {} --resource-group {} --target-res

[2022-09-23 03:30] navba-MSFT commented on #23981
@hhazewinkel Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-23 03:33] navba-MSFT commented on #23984
@joehd91 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-23 03:34] yonzhan commented on #23984
route to CXP team

[2022-09-23 03:55] BertusV commented on #23905
Would you happen to have an example of using a https auth header?

[2022-09-23 03:57] jiasli opened #23985 "Latest API version not available in sovereign clouds"
Previously reported by #16094, #18828, #20226, #22661, #23888

## Symptom

We have a centralized location to define API versions for each resource provider:

https://github.com/Azure/azure-cli/blob/daa568579dbaec5af1ac92d261014cf9ce3ff9b1/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L154-L158

Azure CLI supports 4 clouds, including 3 sovereign clouds:

- `AzureCloud`
- `AzureChinaCloud`
-

[2022-09-23 04:08] navba-MSFT commented on #23965
@mfmalto Thanks for getting back. I see that you are now getting the below error:

If you are getting this error, You need to open the bastion setting ---> _Enable the Native Client support_ (as highlighted in below screenshot):

![image](https://user-images.githubusercontent.com/57353862/191890481-11e95832-95d2-4e5f-bfc5-8e5087bd9565.png)

[2022-09-23 04:15] zhoxing-ms commented on #23450
@AjKundnani For the simpler logic, could we just consider whether the image can support Gen 2 and Trusted Launch for the time being, without considering VM size?
Because we only provide warning logs first, I imagine that even if our warning logs are inaccurate, they will not have a direct impact on users' business.
For example: we may recommend users to enable Trusted Launch when the VM size does

[2022-09-23 04:32] navba-MSFT commented on #23594
@digennarot I hope you had a chance to look at the above comment. Could you please install the [Microsoft official CLI ](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)and check if that helps ? Awaiting your reply.

[2022-09-23 04:34] jiasli commented on #23985
A similar issue is when **a new API version is only deployed to certain regions, but not other regions**. This happened for network RP before:

- https://github.com/Azure/azure-cli/issues/13827

[2022-09-23 04:39] snamboothiry commented on #23950
Placeholder was wrongly spelt above

az monitor scheduled-query create -g aa-aot-cae-nonprod-eastus-rg -n Excpetion-Log-Alert --scopes /subscriptions/***/resourceGroups/***/providers/Microsoft.Web/sites/*** --condition "count 'Placeholder_1' > 0" --condition-query "AppServiceConsoleLogs \n| where tolower(ResultDescription) contains '"exception"' and TimeGenerated > ago(30m)" --action-groups /subsc

[2022-09-23 04:42] jiasli commented on #23985
Azure PowerShell faces the same issue:

- https://github.com/Azure/azure-powershell/issues/14395

[2022-09-23 05:20] Kagamia-MS opened #23987 "az acr login failed"
**Related command**

$> az acr login -n exampleacr
You may want to use 'az acr login -n vmagentacr --expose-token' to get an access token, which does not require Docker to be installed.
2022-09-23 04:00:53.806011 An error occurred: DOCKER_COMMAND_ERROR
Please verify if Docker client is installed and running.

**Describe the bug**

We have installed dockerCE at C:\Windows\System32\docker.exe by fol

[2022-09-23 05:29] navba-MSFT commented on #23938
@jaredbrogan Thanks for getting back. There hasn't been any changes done from our end. I tried creating the service plan from Azure CLi, though the type returned in smaller case **f**, while querying the plan it did list with capitalized **F**. So I am unable to reproduce this issue.

**Created using CLI:**

**Output:**
{
  "isXenon": false,
  "kind": "linux",
  "kubeEnvironmentProfile": null,
  "

[2022-09-23 06:30] celluj34 commented on #23627
Hello;

Has there been any updates on this?

[2022-09-23 06:33] evelyn-ys commented on #23527
@ltalirz Actually the parameter for setting `content_type` in CLI is `--description`, I have added an alias `--content-type` for the original `--description` in #23988

[2022-09-23 06:43] v-anvashist commented on #23627
@celluj34 We are currently working on some high priority bugs This is feature request as currently we don't have this support in CLI service. https://learn.microsoft.com/en-us/cli/azure/repos/pr?view=azure-cli-latest#az-repos-pr-list

We need to work with API team. In CLI service we are only consuming the API's.

Could you please share the API details on it?

Thanks,
Anjali

[2022-09-23 07:17] #23527 closed

[2022-09-23 07:39] isra-fel commented on #23956
Hi @medhir as you may already know Azure PowerShell is going to integrate WAM as well (preview), so I assume you have the same ask for us too?

[2022-09-23 07:57] rinna-mnizami opened #23989 "AKS cluster stuck on starting, cannot be stopped"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- The cluster is stuck on "This cluster is starting..." for more than an hour
- `az aks stop --name {} --resource-group

[2022-09-23 08:02] #23750 closed

[2022-09-23 08:19] yonzhan commented on #23987
route to CXP team

[2022-09-23 08:23] yonzhan commented on #23989
route to CXP team

[2022-09-23 08:24] rinna-mnizami commented on #23989
suddenly it started but I don't know why. Did CXP team do something?

[2022-09-23 08:24] #23989 closed

[2022-09-23 08:26] navba-MSFT commented on #23984
@joehd91 Could you please confirm if you are running this from a cloudshell on Linux ? If Yes, it wont be able to open the RDP on your local machine. For this reason, we recommend using powershell with az cli (on Windows machine).

Also, note that RDP command works best on Windows, for other OS’ (like Linux) you can do the [tunnel command](https://docs.microsoft.com/en-us/azure/bastion/connect-nat

[2022-09-23 08:48] navba-MSFT commented on #23981
@hhazewinkel I see that you are using an older version of Azure CLI. Could you please update the AzCLI to the [most recent version](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli) and test the same command again ?

Awaiting your reply.

[2022-09-23 08:59] jlegido opened #23990 "az storage account create -n myuniquename -g acme => TypeError: 'NoneType' object is not iterable"
**Related command**

[code]

**Describe the bug**

I got below error:

[code]

And storage account is not created.

**To Reproduce**

1. Logn

[code]

2. Complete MFA

3. Select right subscription

[code]

4. Create Resource Group

[code]

5. Create Storage Account

[code]

**Expected behavior**

See JSON output indicating that the resource was created.

Go to the portal and see the resource there

[2022-09-23 09:03] yonzhan commented on #23990
@evelyn-ys for awareness

[2022-09-23 09:23] evelyn-ys commented on #23990
Please check if the dependency `azure-multiapi-storage` has been installed correctly

[2022-09-23 09:36] snamboothiry commented on #23950
Made some changes to the cli to make it work:

 az monitor scheduled-query create -g ${{ steps.getKeyVault.outputs.azure-resource-group }} -n Excpetion-Log-Alert --scopes ${appResourceId} --condition "count 'Placeholder_1' > 0" --condition-query Placeholder_1="AppServiceConsoleLogs | where tolower(ResultDescription) contains '"exception"' and TimeGenerated > ago(30m)" --action-groups ${action} --s

[2022-09-23 09:36] #23950 closed

[2022-09-23 09:38] jlegido commented on #23990
Yes, in both, WSL and VM:

[code]

[code]

[2022-09-23 09:47] AjKundnani commented on #23450
@zhoxing-ms - The time taken for CRP API to return error is ~5 seconds, if the resource list API with filter is taking longer? Additionally the API error does not includes link or how to correct the error for user, if that will be ok from user experience?

[code]

[2022-09-23 10:01] BenjaminAbt commented on #23969
Please bring back the support.

Thousands of developers now have to convert a CLI to REST because support was removed in what should have been a stable CLI. The impact and dissatisfaction is huge.

Thousands of developer hours are burned unnecessarily. That's millions of dollars.

[2022-09-23 10:13] RakeshMohanMSFT commented on #23905
@BertusV I believe you are looking for this.

[code]

[2022-09-23 11:28] BenjaminAbt commented on #23969
And one more addition: Azure CLI versioning is based on semver.
But the changes violate the semver principle.

Version 2.36 to 2.27 is a minor update, but the changes are huge breaking changes. Both the commands and the overall behavior of the CLI has changed without any compatibility.

https://semver.org/
According to Semver, this should have been a major change. That's why so many are so surpris

[2022-09-23 13:53] strachan opened #23992 "Reservation Order List bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az reservations reservation-order list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az reservations reservation-order list`

## Expec

[2022-09-23 14:04] yonzhan commented on #23992
route to CXP team

[2022-09-23 14:16] ykgw-santosh opened #23993 "Unable to create app setting through az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp config appsettings set --name {} --

[2022-09-23 15:05] kregory opened #23994 "az aks install-cli fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-09-23 15:18] celluj34 commented on #23627
Here's a similar bug I have for the CLI (which you are tagged on also): https://github.com/Azure/azure-cli/issues/23626#issuecomment-1229777435

But I am using the REST API like so: `https://dev.azure.com/<company>/<project>/_apis/git/repositories/<repo>/pullRequests/<pull_request_id>/labels`, then parsing the JSON into a powershell object and doing other work.

[2022-09-23 15:53] w-wworld opened #23995 "macOS .pkg installer for Enterprise Deployments"
While the homebrew package is great for personal and developer use, it severely limits the options for Enterprise Deployments (say through Jamf or Microsoft Intune) for corporate owned and managed Macs.

Is there an ETA or plan to release a .pkg installer for the Azure CLI tools? The "catch all" bash script is far from ideal for macOS as well :/

[2022-09-23 16:11] hansenms commented on #23866
I would like to upvote this, if possible. It's annoying to have to connect to get a conn.rdp file, then disconnect, edit the file and reconnect. Would be nice to be able to modify those settings as part of the command.

[2022-09-23 16:22] SaurabhSharma-MSFT commented on #23914
@dotina We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-23 16:22] #23914 closed

[2022-09-23 16:24] SaurabhSharma-MSFT commented on #23769
@ferronsw ok.. let me check with a server having vnet integrations.

[2022-09-23 17:01] PrestonGiorgianni commented on #23744
After opening a support case through azure I got the following response

[code]

 Following the advise fixed the issue, however it would be nice in the future if the Azure GUI and the CLI could agree on the casing of terms

[2022-09-23 17:01] #23744 closed

[2022-09-23 17:37] jaredbrogan commented on #23938
At this point, it seems to be resolved, so you may close this out. I'll post again if I run into this once more. Thanks!

[2022-09-23 17:48] survivant commented on #19341
There is a way to create kubernetes service connection from CLI ?  Really hard to find Azure CLI documentation about that.

[2022-09-23 19:23] pgagliano5 commented on #23454
Has there been any update with this issue?  I'm experiencing something similar with VM scale sets, I can see them in the UI but empty when running the CLI command.

[2022-09-23 19:26] survivant commented on #19341
I added a new issue with a payload example here https://github.com/Azure/azure-cli-extensions/issues/5385

[2022-09-23 19:41] medhir commented on #23956
@isra-fel, yes! Thanks for bringing this to my attention. I will double check with the team, but I do believe we'd be interested in telemetry from Powershell as well. Do you track new asks through Github issues as well?

[2022-09-23 19:44] medhir commented on #23956
@rayluo, thanks for that suggestion. I've updated the issue description, feel free to edit if you want to add any other details.

[2022-09-23 23:33] yonzhan commented on #23994
route to CXP team

[2022-09-23 23:35] yonzhan commented on #23995
@jiasli for awareness

[2022-09-23 23:38] yonzhan commented on #23993
route to CXP team

[2022-09-24 03:04] borges opened #23996 "`az extension update` error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here.

[2022-09-24 07:01] yonzhan commented on #23996
route to CXP team

[2022-09-24 07:25] subhasishdc opened #23997 "Incorrect output of the `az network vnet subnet list-available-ips` command"
I was checking the number of available ip addresses in the subnet where an application gateway is deployed using this:

`schowdhu@schowdhu-mn1 ~ % az network vnet subnet list-available-ips --resource-group aag-rg --vnet-name aagVnet -n AAG1Subnet
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
[
  "10.0.36.244",
  "10.0.36.245",
  "10.0.

[2022-09-24 08:01] #23768 closed

[2022-09-24 20:59] w-wworld commented on #23995
happy to test out any early release .pkg installers! :) I have access to a wide range of Macs both M1 and Intel running various versions ranging from Big Sur to the latest Ventura dev builds. I can test out MDM/Enterprise Deployments as well in Jamf Pro or Munki

[2022-09-24 20:59] w-wworld commented on #23995
happy to test out any early release .pkg installers! :) I have access to a wide range of Macs both M1 and Intel running various versions ranging from Big Sur to the latest Ventura dev builds. I can test out MDM/Enterprise Deployments as well in Jamf Pro or Munki

[2022-09-24 22:14] sdg002 opened #23998 "az container create - should have an option to create an instance in a stopped state"
**Related command**

az container create

**Is your feature request related to a problem? Please describe.**

I have Python file in a Docker image. I would like to run this through an Azure Container instance.  The Dockerfile is as follows:

[code]
I am creating the container instance using the CLI option `restart-policy Never`.  I want control the schedule of the execution using the CLI `az conta

[2022-09-25 00:41] yonzhan commented on #23998
route to CXP team

[2022-09-25 00:43] yonzhan commented on #23997
@necusjz for awareness

[2022-09-25 12:15] ashishtank opened #23999 "az login is not working"
az login fails with below error messages.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-09-25 12:38] ashishtank opened #24000 "az login does not work with non device flow"
az login does not work with non device flow

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-09-25 13:19] sg31011991 opened #24001 "error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az version -o={}`

## Expected Behavior

## Environment Summary
[code]
## Add

[2022-09-25 13:48] yonzhan commented on #23999
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-09-25 13:48] #23999 closed

[2022-09-25 13:49] yonzhan commented on #24000
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-09-25 13:49] #24000 closed

[2022-09-25 13:50] yonzhan commented on #24001
Please provide detailed error log.

[2022-09-25 16:04] RakeshMohanMSFT commented on #23997
https://github.com/Azure/azure-cli/issues/13853 can you take a look at this?

[2022-09-25 23:52] JamiePan commented on #23811
Hello, Dear Microsoft Team.
Just wonder the bicep-cli is fixed? or how is the progress now?
I need to install the bicep-cli in Azure DevOps, but this bug still is in pending...
Need your support very urgently!

Appreciate your helps and efforts very much!

Jamie

[2022-09-26 03:01] RakeshMohanMSFT commented on #23898
@josephkwchan, @jennyhunter-msft Please help us out here. The PUT operation used to update appinsights is causing the issue.

[2022-09-26 03:34] navba-MSFT commented on #23994
@kregory Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-26 03:34] RakeshMohanMSFT commented on #23454
@pgagliano5 No update yet, it unfortunately is not a quick fix, therefore no ETA. But try using azure resource graph instead.

[2022-09-26 04:13] navba-MSFT commented on #23938
@jaredbrogan Thanks for the update. We will now proceed with archival of this GitHub issue. If issue resurfaces in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-26 04:13] #23938 closed

[2022-09-26 04:41] navba-MSFT commented on #23762
@xgithubtriage Please share an  update on this.

[2022-09-26 04:54] navba-MSFT commented on #23594
@digennarot I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-26 04:55] navba-MSFT commented on #23779
@SergeiDavydov We appreciate your patience on this.

Thanks @FumingZhang. We shall wait for the updates from you.

[2022-09-26 05:04] navba-MSFT commented on #23923
@strange2x The action is currently pending on you see the above suggestion. Please feel free to reopen this thread, if you need any further assistance on this. We would be happy to help.

[2022-09-26 05:04] #23923 closed

[2022-09-26 05:05] navba-MSFT commented on #23926
@jkdf-nnit The action is currently pending on you to try the above action plan. Please feel free to reopen this thread, if you need any further assistance on this. We would be happy to help.

[2022-09-26 05:05] #23926 closed

[2022-09-26 05:12] navba-MSFT commented on #23965
@mfmalto I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-26 05:14] navba-MSFT commented on #23981
@hhazewinkel I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-26 05:15] navba-MSFT commented on #23984
@joehd91 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-26 05:41] isra-fel commented on #23956
@medhir yes. Feel free to submit a feature request to us here: https://github.com/Azure/azure-powershell/issues/new/choose

[2022-09-26 05:41] #23937 closed

[2022-09-26 05:59] navba-MSFT commented on #23994
@kregory Looking at the error message, the issue seems to be at the network layer, while trying to get the address and establish a connection. Could you please confirm if you have any proxy or firewall within your network ? Also did you try to run this from a different network and check if that works ?

Could you also run the same command with `--debug `switch and share the output here ? Awaiting

[2022-09-26 06:23] FumingZhang commented on #23779
Started a thread with azure-cli team to discuss how to detect the arch on Mac properly.

[2022-09-26 08:23] jiasli opened #24005 "`az` can't be invoked by `Start-Process` since 2.40.0"
**Describe the bug**
Before Azure CLI 2.40.0, `az` can be invoked by `Start-Process`:

[code]

The entry script was migrated from `az.cmd` to `az.ps1` (https://github.com/Azure/azure-cli/pull/23514) in 2.40.0. `az` can no longer be invoked by `Start-Process`:

[code]

This is because `Start-Process` can't invoke a `ps1` script in a separate process.

[2022-09-26 08:34] jiasli commented on #23821
`https://aka.ms/InstallAzureCLIDeb` installs Azure CLI DEB package at `/opt/az`, but your Azure CLI was installed with `pip` judging by the installation location:

[code]

We recommend installing the Azure CLI DEB package, but if you have to use `pip`, we recommend installing to a virtual environment. See https://github.com/Azure/azure-cli/issues/20476#issuecomment-1007131837.

Please be aware tha

[2022-09-26 08:57] jlieow commented on #21168
Hi,

In case anyone is still struggling with this, I managed to deploy a simple nodejs app via the workaround az rest command. You may reference this deployment yaml file:
https://github.com/jlieow/node-hello/blob/master/.github/workflows/deploy_via_storage_account.yml

The example follows the commands described here: https://azure.github.io/AppService/2021/03/01/deploying-to-network-secured-sites

[2022-09-26 09:02] jiasli commented on #23978
https://github.com/Azure/azure-cli/issues/20853 is caused by MSAL cache, but this issue seems to be caused by managed identity endpoint returning empty result.

[2022-09-26 09:06] jiasli commented on #23805
https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/38001a4d087e5d3ec9b77f4096d52d76ab359c46/msal/oauth2cli/oauth2.py#L323-L327

[code]

@rayluo, looks like `resp.text` is empty. How can it be?

[2022-09-26 09:40] willem-plug-io commented on #23975
Thanks Rakesh,
Sorry for my delayed response.
When running az --version I get the following output:

[2022-09-26 10:32] v-soujanya commented on #23626
@celluj34
We have received response from API team and currently they have no plans enhancing the CLI to report the tags associated to the PR. They will consider this request if they have bandwidth.
Thanks!

[2022-09-26 12:12] v-soujanya commented on #23658
@duanqn, Currently we don't have support for this feature in azure CLI but we received the response from API team could you please try with below rest API link [https://learn.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/run-pipeline?view=azure-devops-rest-7.1](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Frest%2Fapi%2Fazure%2Fdevops%2Fp

[2022-09-26 12:36] kregory commented on #23994
You're rigth, it only was a network issue.
Thank for replying

Le lun. 26 sept. 2022 à 07:59, navba-MSFT ***@***.***> a
écrit :

--
--------------------------------------------------------------------------
    NE PAS SE JETER SUR LA VOIE PUBLIQUE
--------------------------------------------------------------------------

[2022-09-26 12:42] tompaana opened #24007 "Updating Batch account to use encryption key in Key Vault fails"
**Related command**

[code]
**Describe the bug**

The following error is returned:

[code]

**To Reproduce**

1. Prerequisites:
    - An existing Batch account
    - An existing Key Vault containing the key as described in [Configure customer-managed keys for your Azure Batch account with Azure Key Vault and Managed Identity](https://learn.microsoft.com/azure/batch/batch-customer-managed-key#gener

[2022-09-26 13:11] abushokry opened #24008 "[az functionapp config appsettings] multiple settings added as one if keyvault references"
**Related command**
az functionapp config appsettings set  --settings $string-array

**Describe the bug**
Pushing multiple app settings using the command **_az functionapp config appsettings set  --settings $string-array _** adds all settings as one setting only if the first setting is a keyvault reference. For example, if the settings string array passes to the --settings argument looks like "key

[2022-09-26 13:22] yonzhan commented on #24008
route to CXP team

[2022-09-26 13:22] yonzhan commented on #24007
route to CXP team

[2022-09-26 14:47] vmagelo opened #24009 "az ad sp create-for-rbac is missing --name (-n) argument description."
Would be helpful to have a description under "optional arguments". I saw it in examples but had to experiment to find the right form for the name. I expected that info in argument description.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fb

[2022-09-26 14:48] yonzhan commented on #24009
@jiasli for awareness

[2022-09-26 14:51] sgsvetko commented on #23866
The issue still persist with Azure CLI version 2.40

[2022-09-26 14:57] sgsvetko commented on #23261
Few versions later, in 2.40 still not fixed.

[2022-09-26 15:57] al-cheb commented on #23883
@jiasli, Is it safe to remove `az.ps1`  until the issue is fixed as a workaround?

[2022-09-26 16:13] kbocock-krg opened #24010 "List Everything"
Hello trying to setup alerts in terraform. How do I list everything for a resource like an app insights instance? Examples seem overly complex vs kubectl commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c722777b-9914-5c57-b869-a92bb16e159e
* Version Independent ID: 19b7e250-35b0-6e41-6662-b86791cf4c78
* Conten

[2022-09-26 16:31] chasewilson commented on #19844
Hey @jaisea, you can see the Azure CLI docs [GitHub Repo here](https://github.com/MicrosoftDocs/azure-docs-cli). Feel free to create a PR to correct the issue if you can. It would be a huge help.

[2022-09-26 17:43] SaurabhSharma-MSFT commented on #23760
@gauravsaralMs Can you please look into this.

[2022-09-26 17:53] 3quanfeng opened #24011 "Property to manage OCSP revocation check on client certificate"
**Related command**
az network application-gateway create
az network application-gateway update

**Is your feature request related to a problem? Please describe.**
az command support on the new property to manage client cert revocation options
PS support the new property can be referred from https://github.com/Azure/azure-rest-api-specs/pull/20301

**Describe the solution you'd like**
Cx should be

[2022-09-26 18:56] celluj34 commented on #23626
Well, that's disappointing. Would the priority change if it were considered a bug instead of a feature? My reasoning would be since the call returns other information about the pull request (including nested details on the repository), _not_ returning the tags is a "incomplete" response.

[2022-09-26 21:48] mpalmahsf commented on #21168
@jlieow any chance the az rest --method PUT could be done without the storage account?  Possibly by specifying the github artifact zip url?

[2022-09-26 21:48] PramodValavala-MSFT commented on #24008
@abushokry When using the `$` sign, you are passing the collection as a single input (list of array items in new lines, in this case) and instead should use [splatting](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7.2) to pass them as a collection itself.

So, a command like this should work

[code]

[2022-09-26 21:57] PramodValavala-MSFT commented on #23998
@sdg002 Looks like the underlying API doesn't support this. The alternative that you've suggested is a great way to approach this.

Feel free to upvote [this feature request](https://feedback.azure.com/d365community/idea/a336647a-5de6-ec11-a81b-6045bd7ac9f9) to support this and once supported on the API, the Azure CLI would be updated to add support for this as well.

[2022-09-26 22:06] subhasishdc commented on #23997
@RakeshMohanMSFT : Thank you for the link. This leads me to another question. Does the option `list-available-ips` list free available ip addresses in the subnet or just any IP address ( irrespective of weather its being used or not). If its the first option, then the issue I mentioned above holds true and needs to be investigated. If its the second option, then we need to update the documentation

[2022-09-26 22:38] yonzhan commented on #24011
@necusjz for awareness

[2022-09-26 22:42] yonzhan commented on #24010
@kairu-ms for awareness

[2022-09-26 23:23] Rizo-R opened #24013 "UnicodeEncodeError: 'latin-1' codec can't encode character '\u201c'."
## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Follow the steps for section "1. Create an Azure Active Directory (AAD) application to enable authentication on the Feathr UI" in the following article: https://feathr-ai.github.io/feathr/h

[2022-09-27 00:19] abushokry commented on #24008
Thanks @PramodValavala-MSFT that worked indeed. It's interesting though as passing the collection with a $ was working for long time until we've upgraded to cli 2.40

[2022-09-27 01:17] yonzhan commented on #24013
@jiasli for awareness

[2022-09-27 01:26] motojase commented on #22875
Look at the arch specified here:

Shouldn't this be arm64 ?

[2022-09-27 02:03] clguo-tw opened #24014 "Got error after add aks-preview extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --help`

## Expected Behavior

## Environment Summary
[code]

[2022-09-27 02:18] yonzhan commented on #24014
route to CXP team

[2022-09-27 02:19] kairu-ms commented on #24010
Hi @kbocock-krg, please try `az monitor metrics list -h` for list command help.

[2022-09-27 02:19] #24010 closed

[2022-09-27 02:29] jiasli commented on #23883
Yes. We will rollback the change.

[2022-09-27 02:35] navba-MSFT commented on #24014
@clguo-tw Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-27 02:43] saldroubi commented on #9250
Is this in the works?  It has been requested a long time ago.

[2022-09-27 02:52] navba-MSFT commented on #23997
@subhasishdc Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-27 03:07] navba-MSFT commented on #23779
@SergeiDavydov The above PR has been filed to fix this issue. This is currently under review. In the meantime if you have any questions, please feel free to ask.

[2022-09-27 03:16] jiasli commented on #24013
The latest Azure CLI does support Unicode in request body:

- https://github.com/Azure/azure-cli/pull/23005

`--body "{spa:{redirectUris:['https://$sitename.azurewebsites.net']}}"` is not a valid JSON string. It is highly possible the string you pasted/typed to the terminal contains `“` (https://unicode-table.com/en/201C/), instead of `"`, making the Unicode escaping logic skipped. Actually, the J

[2022-09-27 03:57] navba-MSFT commented on #23994
@kregory Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-27 03:57] #23994 closed

[2022-09-27 04:11] kairu-ms commented on #23368
Already Fixed

[2022-09-27 04:11] #23368 closed

[2022-09-27 04:15] navba-MSFT commented on #24014
@clguo-tw I see that you are using an older version of the `aks-preview` extension. Could you please update the extension by running the below command ?

Also on a side note, Please [update your AzCLI ](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli)version too. Hope this helps.

[2022-09-27 04:15] v-anvashist commented on #23626
@celluj34 We will discuss with API team and get back to you.

[2022-09-27 04:31] #22867 closed

[2022-09-27 04:32] #23054 closed

[2022-09-27 04:38] navba-MSFT commented on #23965
@mfmalto Thanks for getting back. I am glad that it connects now. May I know what is the error that you are getting while authenticating ? Please share the detailed error message here (with screenshot). Awaiting your reply.

I am sharing a few similar issues reported in QnA forum to check if that helps you:
https://learn.microsoft.com/en-us/answers/questions/409639/enable-azure-ad-login-with-basti

[2022-09-27 05:49] navba-MSFT commented on #23997
@subhasishdc The portal shows how many available IP address exist in each subnet.

![image](https://user-images.githubusercontent.com/57353862/192440033-e925152f-e167-4ba9-9ad8-3920fda56283.png)

Did you check if this number in portal matched what you got with CLI command response ?

We can get the list of available Ips from [Get-AzVirtualNetworkUsageList](https://learn.microsoft.com/en-us/powersh

[2022-09-27 05:53] navba-MSFT commented on #23989
@rinna-mnizami CXP team didn't do any changes. Our recommendations would be to update an updated version of the `aks-preview` extension, since you are using an older version of this extension.

If you encounter the same issue even after updating the extension, please feel free to reopen this issue. We would be happy to help.

[2022-09-27 05:56] peterox commented on #22562
Is there an update on this? I am wanting to provide access to a sql server DB installed on a VM in a test region to all our developers. Setting up a tunnel is successful, and connecting a single query tab from Azure Data Studio works, but when I try and connect a second tab I get an exception:

[code]

I'm assuming this is the same issue as described here.

Thanks

[2022-09-27 07:12] Akash3221 opened #24021 "azure aks not working!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks`

## Expected Behavior

## Environment Summary
[code]
## Additional Contex

[2022-09-27 07:14] yonzhan commented on #24021
route to CXP team

[2022-09-27 07:38] hhazewinkel commented on #23981
After an update it works again.
II guess, something changed over time and, therefore, it stopped working.

[2022-09-27 08:04] floryut commented on #23951
@jiasli @yonzhan Could you confirm that it's a bug and not something I missed ?

[2022-09-27 08:21] navba-MSFT commented on #23981
@hhazewinkel Thanks for the update. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-27 08:21] #23981 closed

[2022-09-27 09:28] MarcinWronecki commented on #23914
I have the same problem. Yes, I installed the azure-cli using documentation.

[code]

[2022-09-27 09:35] edygyan opened #24023 "Upgrade `ml` extension in Cloud Shell fails: FileExistsError: [Errno 17] File exists: '/usr/lib/python3.9/site-packages/azure-cli-extensions/ml'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension update -n {}`

## Expected Behavior

## Environment Sum

[2022-09-27 09:40] edygyan commented on #24023
az>> upgrade
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
You already have the latest azure-cli version: 2.40.0

Upgrading extensions
Checking update for interactive
Latest version of 'interactive' is already installed.

Use --debug for more information
Checking update for ai-examples
Latest version of 'ai-examples' is already install

[2022-09-27 09:43] RakeshMohanMSFT commented on #23975
@willem-plug-io Can you share the exact command and parameters you are using, of course not the real values of the parameters

[2022-09-27 09:56] willem-plug-io commented on #23975
az webapp auth update  -g $resourcegroup `
        -n $webAppName `
        --enabled true `
        --action LoginWithAzureActiveDirectory `
        --aad-client-id $appId `
        --aad-client-secret $appregSecretPassword `
        --aad-token-issuer-url "https://sts.windows.net/$tenantId/"

[2022-09-27 09:57] Monishguru opened #24024 "az storage blob directory delete - deprecated"
Please update the documentation stating "az storage blob directory delete" is deprecated. Leads to confusion when we get to know its valid in documentation and when it throws an error as deprecated when using. Please update it

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 978a095c-3ead-282f-304f-fb627dad53a4
* Versio

[2022-09-27 10:01] digitalkram opened #24025 "az mysql flexible-server list sporadically fails"
## Describe the bug

The below command fails randomly, quite frequently and on various systems.  But it also succeeds multiple times in a row once in a while. So I can't put my finger on what causes this Heisenbug.

**Command Name**
`az mysql flexible-server list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contai

[2022-09-27 10:06] RakeshMohanMSFT commented on #23975
@willem-plug-io I unable to reproduce this issue at our end. Please look at the screenshots below.

![image](https://user-images.githubusercontent.com/49954584/192497381-cbefff91-4aed-4e59-8061-079c2ee1296e.png)

![image](https://user-images.githubusercontent.com/49954584/192497960-57e36b79-b07b-489d-9c5b-4037ad4ac784.png)

Are you able to reproduce this issue if you run in your local machine?

[2022-09-27 10:25] yonzhan commented on #24023
route to CXP team

[2022-09-27 10:27] yonzhan commented on #24024
@evelyn-ys for awareness

[2022-09-27 10:28] yonzhan commented on #24025
route to CXP team

[2022-09-27 11:05] willem-plug-io commented on #23975
Thanks for the quick follow up.
At this moment I am not able to reproduce this, because of several issues.
But this helps a lot showing me this command is supposed to work.

[2022-09-27 12:12] survivant opened #24026 "Enhancement : add exists for all resources type"
I'm trying to create powershell scripts to create my resources automatically, but the commands are not uniform on all resources types.

sometime it's : exists, check-name, check-name-exists, list...

I'm looking for something like
[code]

here some actual examples form AZ commands

[code]

I think that all commands should have the same "exists" that take a name as input.

[2022-09-27 12:15] yonzhan commented on #24026
route to CXP team

[2022-09-27 12:19] digitalkram commented on #24025
Limiting the list to resource group is not strictly necessary to reproduce the problem.

[code]

[code]

Maybe the timestamps help.

[2022-09-27 12:50] dawlysd commented on #22564
It's end September, still see the same error.

[2022-09-27 14:05] zielot opened #24027 "az login hangs on WSL 1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-09-27 15:29] #23038 closed

[2022-09-27 15:30] AndyBunning commented on #23038
Thanks @Chrisw32 - that was the issue and need to use http-settings.

[2022-09-27 16:11] manikg321 opened #24029 "az cli 2.40.0; az network application-gateway update errors ' selected SKU tier WAF_v2 must have a valid WAF policy or configuration' when changing WAF tier"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
By the way, the application-gateway is 'autogenerated' with kubernetes, so the resource group

[2022-09-27 16:34] mcalthrop commented on #23925
@yonzhan How do we do this?

It's causing a mess of logs in our CI environment, so we need to be able to disable it ASAP.

[2022-09-27 17:14] manikg321 commented on #24029
Same error on

[2022-09-27 17:23] manikg321 commented on #24029
Same error on

[2022-09-27 19:31] PramodValavala-MSFT commented on #24008
@abushokry Glad to hear that! Closing this issue.

As for why the behavior has changed, I will check with the concerning team to see if there were any changes in this regard. As far as PowerShell is concerned, the way to pass collections is clear though.

[2022-09-27 19:31] #24008 closed

[2022-09-27 19:48] munntjlx commented on #12946
I found the 'updated' version for this: https://learn.microsoft.com/en-us/graph/api/rbacapplication-post-roleassignmentschedulerequests?view=graph-rest-1.0&tabs=powershell

[2022-09-27 19:49] munntjlx commented on #13064
I did find the 'new' way of doing this: https://learn.microsoft.com/en-us/graph/api/rbacapplication-post-roleassignmentschedulerequests?view=graph-rest-1.0&tabs=powershell go to example '2'. It has a PowerShell on how to do it.

[2022-09-27 19:50] munntjlx commented on #13064
https://learn.microsoft.com/en-us/graph/api/rbacapplication-post-roleassignmentschedulerequests?view=graph-rest-1.0&tabs=powershell shows how to do it in PowerShell, and I suspect 'api' ways....... Go to example 2.

[2022-09-27 20:34] ltalirz commented on #23527
Great, thanks for adding this @evelyn-ys !

[2022-09-27 20:34] jmpompeo opened #24032 "Show Status of All Blobs during az storage blob copy start-batch"
Hello,

I'm trying to copy data between azure storage accounts and decided to use the **az storage blob copy start-batch** command. I noticed on Microsoft's documentation you can check the status of an individual blob, but you cannot check the overall status of the command, so it feels like I'm just sitting in limbo until it either succeeds or fails.

More detailed command below:

**az storage blo

[2022-09-27 21:55] SaurabhSharma-MSFT commented on #23996
@borges I am able to reproduce this and redirecting this to service team to look into ?

[2022-09-27 21:59] manikg321 commented on #24029
Same error on

[2022-09-27 22:06] maxhunstar opened #24033 "Az Cli 2.29 for Azure Stack Hub not available on RHEL8 repository"
**Related command**
sudo dnf list --showduplicates azure-cli

**Describe the bug**
Az CLI 2.29 is not available on microsoft's official repo for RHEL8. However. this is the latest version supported for AzureStack Hub, as mentionned by the documentation :

https://learn.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-azurecli2?view=azs-2206&tabs=ad-win

**To Reproduce**
sudo dnf l

[2022-09-27 22:38] yonzhan commented on #24027
Duplicate of https://github.com/Azure/azure-cli/issues/21514

[2022-09-27 22:38] #24027 closed

[2022-09-27 22:40] yonzhan commented on #24029
@necusjz for awareness

[2022-09-27 22:41] yonzhan commented on #23925
webapp service team can help with

[2022-09-27 22:44] yonzhan commented on #24032
@evelyn-ys for awareness

[2022-09-27 22:46] yonzhan commented on #24033
@jiasli for awareness

[2022-09-27 23:13] panchagnula commented on #23945
@andreas-nielsen-xlo thanks for reporting. Are these Linux apps? If so there is a known issue that the PG team is already investigating. Thanks!

[2022-09-27 23:26] panchagnula commented on #23934
@haroonf given the API is accepting this, very sure there is no validation on platform end. If this validation is something we haven't fixed on CLI, can you take care of it. Looks like CreateOrUpdate is allowing this revision name, but GET is not, hence the behavior.

[2022-09-28 00:31] SaurabhSharma-MSFT commented on #23769
@ferronsw Are you able to connect to your flexible server using psql ?

[2022-09-28 01:44] hengv commented on #22564
Me too, it is not work still.

[2022-09-28 02:05] #23727 closed

[2022-09-28 02:33] jiasli opened #24034 "Argument passthrough `--` stops working in PowerShell since 2.40.0"
**Describe the bug**
There is a regression in Azure Quantum CLI extension introduced by Azure CLI latest release (2.40.0).

The command below, which used to work with 2.39.0, is now complaining about "ERROR: unrecognized arguments: --submit-config-file".

[code]

Our CLI extension passes through those arguments, which follow `--`, to invoke our executable underneath the CLI. With this regression,

[2022-09-28 02:35] jiasli commented on #24034
Tested with a simple `test.ps1`:

[code]

Apparently, `--` is discarded by PowerShell:

[code]

[2022-09-28 02:47] navba-MSFT commented on #24021
@Akash3221 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-28 02:49] navba-MSFT commented on #24025
@digitalkram Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-28 03:00] navba-MSFT commented on #24026
Removing the CXP attention label and adding Service team to look into this.

[2022-09-28 03:29] jlieow commented on #21168
Hi @mpalmahsf. I have not tried it myself but I don’t see why it wouldn’t work. You could try depositing your artefacts into location which allows that like Google Drive. Generate a download url and run the az run command with that url to see if it works.

I tried googling but I don’t think GitHub provides a url to download artifacts during the build process natively which I think is the reason wh

[2022-09-28 04:20] navba-MSFT commented on #24021
@Akash3221 Could you please run the below command and check if that helps ?

[code]

Also please update the [Azure CLI to the most recent version](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli). Awaiting your reply.

[2022-09-28 04:48] #23785 closed

[2022-09-28 05:11] navba-MSFT commented on #24025
@digitalkram Could you please try running either of the below commands and check if that helps ?

**Command 1:**

**Command 2:**

Awaiting your reply.

[2022-09-28 05:24] navba-MSFT commented on #23970
@OZZYTA This issue seems to be fixed by this PR https://github.com/Azure/azure-cli-extensions/pull/5378. Could you please run the below command to update your `spring` extension and check if you still see the same issue ?

Awaiting your reply.

[2022-09-28 06:08] digitalkram commented on #24025
@navba-MSFT Thanks for your reply.

**Command 1**:
I ran this quite a couple of times and it succeeded everytime as expected:
[code]
**Command 2**:
Works also fine:
[code]
**Original command**:

Just to make sure that it was not an intermittent issue:
[code]

[2022-09-28 06:22] jiasli commented on #23495
Linux is a little bit different from Windows.

As explained in https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/Encryption-on-Linux

Plain-text fall back would be the only option here. That is probably OK, because if the remote machine you are SSHing into is a backend server, it is by definition a "confidential client" in OAuth2 terminology, it is considered as a secu

[2022-09-28 06:45] andreas-nielsen-xlo commented on #23945
They are indeed linux-apps, good to know you are working on it.

[2022-09-28 06:45] navba-MSFT commented on #24034
Removing CXP attention label since this was created internally by the CLI team

[2022-09-28 06:54] kabal2010 commented on #22677
I'm also facing this issue and wonder if there has been any resolution for it

[2022-09-28 07:07] archmangler commented on #13064
Hi, we have an enterprise use-case for PIM via az cli (at minimum). Where is this feature being tracked?

[2022-09-28 07:14] jiasli commented on #24033
Az CLI 2.29.0 is no longer maintained. We don't backport old Azure CLI versions to RHEL 8 repo. You may try installing from `pip`: https://github.com/Azure/azure-cli/issues/20476#issuecomment-1007131837, but it is not guaranteed to work.

[2022-09-28 07:21] #19878 closed

[2022-09-28 07:29] jiasli commented on #24023
I see you are running this command in Cloud Shell:

[code]

If you run `az extension list`, you will see `ml` is installed as a system-level extension under `/usr/lib/python3.9/site-packages/azure-cli-extensions`:

[code]

So you can't manually update `ml`.

I think we do need a way to override system-level extension.

[2022-09-28 07:35] subhasishdc commented on #23997
@navba-MSFT : Checked the portal. Under available ip's, portal shows `
availability dependent on dynamic use`. What does this mean? It is a V1 SKU application gateway and we do not have auto scaling enabled anywhere.

[2022-09-28 07:37] ferronsw commented on #23769
@SaurabhSharma-MSFT Yes I'm able to connect using psql.

[2022-09-28 07:40] navba-MSFT commented on #23997
@subhasishdc While I get you the answer for the `availability dependent on dynamic use` message, May I know if you had any update on the second action plan of using [Get-AzVirtualNetworkUsageList](https://learn.microsoft.com/en-us/powershell/module/az.network/get-azvirtualnetworkusagelist?view=azps-8.3.0) PS cmdlet mentioned in my [above comment](https://github.com/Azure/azure-cli/issues/23997#iss

[2022-09-28 07:57] mcalthrop commented on #23925
Yep - so how do we draw this issue to their attention?

[2022-09-28 08:31] willem-plug-io commented on #23975
If I use the exact command you use I get the following error:
"az webapp auth update: 'LoginWithAzureActiveDirectory' is not a valid value for '--unauthenticated-client-action'"

As you might understand I did not use the flag '--unauthenticated-client-action', because I used the same command as you(with my own parameters).

I used this in my AzDevops pipeline. I am not in the position to run this

[2022-09-28 08:45] bertvaneyken commented on #23901
Hi Team, this bug is really critical.
Being unable to restore an OS-disk only on bigger machines makes a huge difference on machines with multiple disks +2TB.
In my case the restore time objective caused by this bug goes from a 128GB disk to 10TB!
The machine has a windows update problem going back past the timing of the snapshots, so no quick restore available anymore.

[2022-09-28 08:48] DavidZidar commented on #23925
@mcalthrop I wrote a comment in the PR that implemented this feature, I hope it helps draw attention to this.

[2022-09-28 08:53] navba-MSFT commented on #23997
@subhasishdc The `availability dependent on dynamic use `means the subnet is being used by resource where the number of instances deployed are not fixed. Sending a sample screenshot:

![image](https://user-images.githubusercontent.com/57353862/192734853-dda93520-ce04-4f49-87ea-584846c85189.png)

In the screenshot, you can see its a gateway subnet. We can have gateways with multiple instances based

[2022-09-28 09:26] bgz78 opened #24040 "az webapps deploy issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deploy --resource-group {} --name {} --src-url {} --type {}`

[2022-09-28 09:28] bgz78 commented on #24040
Hello, anyone have an idea what could be wrong? command is:
az webapp deploy --resource-group rg-middleware --name vtsjboj01 --src-url https://savtspocmiddleware.file.core.windows.net/jboss/SampleWebApp.war --type war

[2022-09-28 10:30] sanu-hack opened #24043 "Unable to connect Azure ADLS from Unix"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs test`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs test --account {} --path {}`

## Expected Behavior

## Environm

[2022-09-28 10:43] digitalkram commented on #24025
I meanwhile replaced the original command with command two in some of my pipeline code but it looks like there is (in contrary to the original command) a delay until I can list a freshly created mysql flexible server instance (via backup restore from cli) with command two. I might loop there for a while or try to find out if command one comes without such a delay.

Is there a chance to get the ori

[2022-09-28 10:51] tetsuo-asahi-avanade opened #24044 "invalid resouce name error, if path include Japanese Characters."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs file move`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage fs file move -f {} --account-name {} --new-path {} --

[2022-09-28 11:17] yonzhan commented on #24040
route to CXP team

[2022-09-28 11:18] yonzhan commented on #24043
route to CXP team

[2022-09-28 11:23] yonzhan commented on #24044
@evelyn-ys for awareness

[2022-09-28 13:48] kingofDaniel opened #24045 "code of conduct"
``

[2022-09-28 13:54] famemo-paasdev opened #24046 "AZ CLI extension not installing"
**Related command**
az extension add --source ~/anextension-0.0.1-py2.py3-none-any.whl

**Describe the bug**
The customer is downloading the .whl to the local drive and installing from there but so far with no luck and no error messages. have tried the both Debug and Verbose but it’s not giving any error information, The ISE keeps spinning for a while then I have to force close ISE by End Task.

I

[2022-09-28 14:13] roelarents commented on #19311
Support for a connection-string (which apparently is optional) has been added for a similar command, `az storage blob sync` in #13135. It looks like the connection string should be passed [here](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/storage/_validators.py#L1665). Plus the `--from-to BlobTrash` arg probably has to be added to the `azcopy rm` command, as

[2022-09-28 14:23] emmanuelsomeox commented on #23954
Hello, I redo the installation on another system following the [official methods for Red Hat ](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf).  and I still have the same issue.
Do you have a solution / workaround to solve that issue ?

[2022-09-28 14:27] BCOps commented on #23462
@yonzhan @zhoxing-ms - Do we have any ETA from the service team as to when they may be able to assist with resolving this?

[2022-09-28 14:27] angryconsultant opened #24047 "Set runbook to draft state"
Is there no way to set an existing runbook to draft state? I cant work how to replace content "az automation runbook replace-content" without manually setting the runbook to draft in the Azure Portal

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cbb98a7a-2739-73ec-f20b-03367f919215
* Version Independent ID: 3125cea7-

[2022-09-28 14:38] dulikvor commented on #23546
Hi, we are looking to postpone the release date to February 1st 2023.

[2022-09-28 14:42] yonzhan commented on #24045
Please provide CLI command and detailed error log.

[2022-09-28 14:45] yonzhan commented on #24047
route to CXP team

[2022-09-28 14:51] robnotley opened #24048 "Error running SQL DB restore using AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup restore restore-azurewl`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

# get list of recovery points to work with
- az backup r