[2022-06-28 17:30] luigiw commented on #22967
@jamescrowley , I see your point, it makes sense to me. I'll circle this back to my team as a backlog item.

[2022-06-28 17:39] SjoerdV opened #23053 "'az ad app list --display-name' uses wildcard instead of exact match"
**Related command**
az ad app list --display-name 'MYAPP'

**Describe the bug**
When multiple apps/service principals with similar names are present like: MYAPP, MYAPP2, MYAPP3 multiple apps are returned when running the command mentioned

**To Reproduce**
When running the command `az ad app list --display-name 'MYAPP'` returns all the apps mentioned above (like a wildcard)

**Expected behavior**

[2022-06-28 17:52] meetpatel1111 opened #23054 "Commands to add azure extensions"
I need to add databricks and datafsctory extension in the pipeline. Need commands for them go install extensions. Need links to pagess yo directly download extension like below.

e.g. - az extension add --yes --source "https://aka.ms/logicapp-latest-py2.py3-none-any.whl"

or command to get the status of these services .e.g- running or not.

Thanks in advance

[2022-06-28 19:24] timoklimmer opened #23056 "az cognitiveservices account create: Examples for --encryption and --storage missing"
I need to better understand how the --encryption and --storage parameters of the "az cognitiveservices account create" command are used. Can you provide a more detailed explanation and examples? Specifically, I am interested in using this in context of Form Recognizer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a7

[2022-06-28 20:05] bathsundeep commented on #20797
I am facing this issue trying to do a service principal login via az cli from a new kubernetes node. Pods on my other k8s nodes use the same login mechanism and work fine, so I think the error has to do with this new node's setup but am not sure.

This still doesnt work for me, gives me the same error as before
`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='login.microsoftonline.c

[2022-06-28 20:45] Tiberriver256 opened #23057 "Ability to suppress MS Graph migration warning"
**Related command**
az ad group <any-command>

**Is your feature request related to a problem? Please describe.**
When running these commands I get the following very helpful warning message:

![image](https://user-images.githubusercontent.com/6989492/176283924-7ba8218e-2e3c-4365-aae4-2fdfe2560981.png)

However, I cannot make it go away. I would like other warnings to show up so `only-show-errors`

[2022-06-28 21:53] aholler2 commented on #15520
We are getting this in North Central US

[2022-06-28 22:35] SjoerdV commented on #14551
seems to be getting a correct 204 reply, but the manifest of the App Principle stays empty (I changed the actual SP id to an empty guid in the snippet below, rest is as-is)
[code]

[2022-06-28 22:43] yonzhan commented on #23053
@jiasli for awareness

[2022-06-28 22:44] SjoerdV commented on #14551
I did notice that the tags were present after running `az ad sp list`:

[code]

But they were not in the Manifest page of the app in the Azure Portal: https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Manifest/appId/00000000-0000-0000-0000-000000000000/isMSAApp~/false

[code]

[2022-06-28 23:00] yonzhan commented on #23056
route to CXP team

[2022-06-28 23:03] yonzhan commented on #23054
extensions

[2022-06-29 00:11] charris-msft opened #23058 "`az webapp up` with --logs results in exception and no logs"
### **This is autogenerated. Please review and update as needed.**

For a while now, nearly every time I run `az webapp up` with the --logs argument, I get the exception message below, and never see any logs.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information

[2022-06-29 00:53] yonzhan commented on #23057
@jiasli for awareness

[2022-06-29 00:57] yonzhan commented on #23058
route to CXP team

[2022-06-29 01:38] #22930 closed

[2022-06-29 02:04] RakeshMohanMSFT commented on #22667
@ttsakpc Engineering team will get the document updated soon, closing the thread for now.

[2022-06-29 02:04] #22667 closed

[2022-06-29 02:23] jiasli commented on #23057
Thanks for the feedback. I am very glad the warning is helpful. However, `--only-show-errors` is currently the only option to disable the warning.

Good news is that we have removed the warning in https://github.com/Azure/azure-cli/pull/22612 and the next version 2.38.0 that will be released on [08/02/2022](https://github.com/Azure/azure-cli/milestone/120) won't have it.

You may also try our [edg

[2022-06-29 02:27] jiasli commented on #20797
@bathsundeep, you may want to check your DNS settings and make `https://login.microsoftonline.com/` reachable.

[2022-06-29 02:28] #23013 closed

[2022-06-29 02:32] jiasli commented on #23053
This logic of listing with `--display-name` as prefix has been there since 2016-07-29:

https://github.com/Azure/azure-cli/blob/33cbd01f75c7d4c3814de5a1cbf6f42de7890467/src/azure-cli/azure/cli/command_modules/role/custom.py#L748-L749

https://github.com/Azure/azure-cli/blame/33cbd01f75c7d4c3814de5a1cbf6f42de7890467/src/azure-cli/azure/cli/command_modules/role/custom.py#L748-L749

![image](https://

[2022-06-29 02:43] RakeshMohanMSFT commented on #23058
@charris-msft Thank you for reaching out, we are looking into it.

[2022-06-29 02:44] RakeshMohanMSFT commented on #23056
@timoklimmer Thank you for reaching out, we are looking into it.

[2022-06-29 02:46] RakeshMohanMSFT commented on #23050
@markhoratiowalmsley Thank you for reaching out, we are looking into it.

[2022-06-29 02:47] RakeshMohanMSFT commented on #23051
@zioproto Thank you for reaching out, we are looking into it.

[2022-06-29 02:50] navba-MSFT commented on #22496
@leom-restack I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any follow-up queries. Awaiting your reply.

[2022-06-29 02:51] meetpatel1111 commented on #23054
Can you specify commands like I have given example for logic app extensions installation. I need commands for databricks and datafactory

[2022-06-29 02:54] navba-MSFT commented on #22889
@azeem2020 Thanks for getting back. I am doing some research on this. I will get back to you once I have done some progress on this.

[2022-06-29 03:01] zhoxing-ms commented on #22200
@AjKundnani Please note that the default value of the `--hyper-v-generation` parameter is set to `V1` in the CLI.  [code link](https://github.com/Azure/azure-cli/blob/16026226fb2e9746f65d53afcac4bf708bbd279f/src/azure-cli/azure/cli/command_modules/vm/_params.py#L96-L99
)
Are you sure that the `V2` disk will be created if users do not specify `--hyper-v-generation parameter`? If so, could you pleas

[2022-06-29 03:04] necusjz commented on #20105
It seems that you can use `az network application-gateway url-path-map rule create` without `--redirect-config` instead of step 3.

[2022-06-29 03:18] necusjz commented on #23010
There might be a subscription mismatch. Please make sure the current `command executed account` and the `resource group` are under the same subscription.

[2022-06-29 03:21] rayluo commented on #23036
xml.etree.ElementTree.ParseError: no element found: line 1, column 0

That error message was the XML parser complaining that there is no payload to consume. The problem here for MSAL is MSAL does not really know what caused this situation. MSAL could catch it and convert it into something like "The WsTrust server returned an empty response", which is arguably less weird, but not really more helpfu

[2022-06-29 03:36] necusjz commented on #23038
It's a typical error of feature registration. You can leverage [az feature register](https://docs.microsoft.com/en-us/cli/azure/feature?view=azure-cli-latest#az-feature-register) to register it by yourself or contact your administer to help you with it.

[2022-06-29 05:13] kairu-ms commented on #23054
Why not use ` az extension add --name databricks `

[2022-06-29 05:27] meetpatel1111 commented on #23054
@kairu-ms Used it not working so need the same solution as this - az extension add --yes --source "https://aka.ms/logicapp-latest-py2.py3-none-any.whl"

Reply ASAP.
Thanks

[2022-06-29 05:29] PramodValavala-MSFT commented on #23052
@swathivallem The [Azure Functions Core Tools CLI](https://github.com/Azure/azure-functions-core-tools) is not part of this repo. It would be best to create this issue in its repo directly for a more insightful discussion.

[2022-06-29 05:29] #23052 closed

[2022-06-29 05:39] GeneralGorgonzola commented on #22496
@navba-MSFT
It works now.
It seems to have improved significantly sometime last week.
I also noticed that cleaning up resources is a lot faster now.

[2022-06-29 05:41] navba-MSFT commented on #22496
@GeneralGorgonzola Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-29 05:41] #22496 closed

[2022-06-29 05:42] kairu-ms commented on #23054
https://azcliprod.blob.core.windows.net/cli-extensions/databricks-0.8.0-py3-none-any.whl

[2022-06-29 05:44] kairu-ms commented on #23054
@meetpatel1111 you can always find above links in [index.json](https://raw.githubusercontent.com/Azure/azure-cli-extensions/main/src/index.json) file

[2022-06-29 06:00] sanistaal-bbc commented on #21744
Hello. Any news on this issue? We still experience it a few times every week

[2022-06-29 07:09] PARADISSEEKR commented on #22275
Hi @AjKundnani
When I test Create disk with --security-data-uri parameter,  how to get $guestStateDiskVhdUri.
[code]
Should I refer to this [example](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-08-01/examples/CreateAManagedDiskFromImportSecure.json#L14-L18) to create it, and if so, do we need to add some new parameter

[2022-06-29 08:13] jiasli commented on #21744
@rayluo, even though we improved concurrent read-write in https://github.com/AzureAD/microsoft-authentication-extensions-for-python/pull/100 and https://github.com/Azure/azure-cli/pull/20408, looks like people are still facing issue during concurrent writes.

@sanistaal-bbc, meanwhile, could you execute CLI commands in parallel? Or utilizing [`AZURE_CONFIG_DIR`](https://docs.microsoft.com/en-us/cl

[2022-06-29 08:42] #16390 closed

[2022-06-29 09:11] jiasli commented on #14551
@SjoerdV, as `az ad sp list` is working as expected, I think this is a service issue. Could you [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to AAD team instead? Thanks for understanding.

[2022-06-29 09:35] thiagottss commented on #23017
Hi there,

Which permission is required to show these properties when using the `az ad group member list` command?

I can successfully get the properties when running with my account but when running it with an app principal all the properties return null values.

`{
    "@odata.type": "#microsoft.graph.user",
    "businessPhones": [],
    "displayName": null,
    "givenName": null,
    "id": "dc1

[2022-06-29 09:37] timja commented on #23017
If anyone is on Azure DevOps and stuck with this issue I downgraded it with:

[code]

[2022-06-29 12:39] Tiberriver256 commented on #23057
Thanks for the info @jiasli! We're using Azure DevOps hosted agents and the install requires admin rights so we, unfortunately, don't have control over what version is installed/used but waiting for 2.38.0 won't be too much of a problem.

[2022-06-29 12:39] #23057 closed

[2022-06-29 12:52] cleconte987 opened #23060 "Can't upload anymore anything on my azure storage account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Two days ago I tried to upload images on my storage account with the command "az storage blob upload --account-name --account-key" and got this error.
I cannot upload anything anymore.
I logged out of my account from az-cli and locked backed in again. I verified RBAC rules and everything seems fine, There is o

[2022-06-29 13:10] kevin-secrist commented on #15800
May be fixed by https://github.com/Azure/azure-cli/pull/22745, will retest upon the next release

[2022-06-29 13:20] yonzhan commented on #23060
storage

[2022-06-29 14:40] GSuggitt commented on #23036
Sems to me it is easy to check if -u is used without --service-principal or --identity then print out the informative message.

I am assuming the -u can only be used with --service-principal or --identity

But from the documentation https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login
it seems that -u -p is a valid option. If not, fix the documentation

[cid:1c

[2022-06-29 14:53] Niviral opened #23062 "az storage blob delete-batch do not remove non-empty folders"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az storage blob delete-batch --auth-mode login --account-name storage_account -s container_name --dryrun` provided correct output with a list of paths to delete, however running the command without --dryrun return error as folders are non-empty.
**Command Name**
`az storage blob delete-batch`

**Errors:**
[cod

[2022-06-29 14:55] yonzhan commented on #23062
storage

[2022-06-29 15:21] TeamDman opened #23063 "Az login fails: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code --debug`

## Expected Behavior

## Environme

[2022-06-29 15:38] TeamDman commented on #23063
Downgrading allowed me to log in again.

[code]

Upgrading caused it to fail again, but with a more verbose error

[code]

request failed: Certificate verification failed. This typically happens when using Azure CLI behind a proxy that intercepts traffic with a self-signed certificate. Please add this certificate to the trusted CA bundle: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_eff

[2022-06-29 16:39] jonest commented on #22988
Thanks! I completely forgot about looking at the REST response docs. Is that something that you plan to include in the CLI docs, too? Some sort of "see also" or something :)

Yes, that's what I was referring to. The response was just returning the integer, but I didn't know which integer corresponded to which status

[2022-06-29 16:43] RakeshMohanMSFT commented on #22988
@jonest Thank you for the confirmation, to be honest its a lot of information for the cli documentation and we do not support links in cli help yet. but we will definitely consider this for future releases.

Let me know if you have any follow up questions, before we close this issue

[2022-06-29 16:44] davidbyoung opened #23064 "Monitor schedule-query does not support new lines in the condition-query"
**Describe the bug**
In Azure Monitor, we typically define queries with new line characters in them to make them more readable.  However, when passing in queries with new line characters, only the very first line of the query is added.

**To Reproduce**
Here's my code:

[code]

This will create an alert condition with just `AppRequests` in the query, not the entire query.

**Expected behavior**
An

[2022-06-29 16:46] harics24 opened #23065 "Add Azure CLI commands for the new service, Network Security Perimeter"
### Related command

_No response_

### Resource Provider

Microsoft.Network/networkSecurityPerimeters

### Description of Feature or Work Requested

Creating new set of resources to support a security related feature. Need the support for CRUD operations on the resources. The exposed resources are - a top level network security perimeter resource and the child resources under it.

Swagger Link: h

[2022-06-29 17:05] rayluo commented on #21744
@sanistaal-bbc mentioned

Do we know how many concurrent az commands were being run?

Did the symptom tend to happen during the first time you ran `az` or Octopus in the last 1+ hours (so that `az` would need to fetch in a new token and then write it), or would it still happen even when the same command was run successfully within the last hour?

[2022-06-29 17:25] ricardo2009 opened #23067 "Erro az login WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account list --query {} -o {}`

## Expected Behavior

## Environment

[2022-06-29 17:35] zaalion opened #23068 "Please elaborate on {PolicyName}"
[Enter feedback here]
Mentioning {PolicyName} without any example is not very helpful. Could you please update the documentation with valid/read-world example of a PolicyName?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6760bb-c278-da56-a95c-4e82e221f1e8
* Version Independent ID: e25cbd2a-b415-214f-7d50-c403992c93

[2022-06-29 17:36] major opened #23069 "azure-cli-telemetry depends on abandoned applicationinsights package"
The `azure-cli-telemetry` package depends on `applicationinsights`, which has been abandoned and archived for over a year:

- https://github.com/microsoft/ApplicationInsights-Python

Is there a plan to replace the `applicationinsights` library with something else? As a packager in Fedora Linux, I am concerned about maintaining the `applicationinsights` package when it is not receive bugfixes or se

[2022-06-29 19:30] MatheusBelo opened #23071 "Erro na hora de criar pipeline via arquivo.json"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse pipeline create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse pipeline create --workspace-name {} --name {} --fi

[2022-06-29 20:15] pavanabhange commented on #22871
@RakeshMohanMSFT Can we get any update on this? We are having issues in our prod environments and having to manually update the OAuth settings every single time a pipeline is run, because of this command.

[2022-06-29 20:51] webmandman opened #23072 "az login - after browser redirects back to terminal it errors out with WinError 0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- logged into microsoft via chrome browser, and saw the successful message.
- I was refirect back to terminal

[2022-06-30 00:27] yonzhan commented on #23063
@jiasli for awareness

[2022-06-30 00:28] yonzhan commented on #23064
monitor

[2022-06-30 00:29] yonzhan commented on #23065
network

[2022-06-30 01:07] yonzhan commented on #23071
route to CXP team

[2022-06-30 01:41] sweet-aus opened #23073 "Test"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-06-30 01:43] sweet-aus commented on #23073
Haven't found any issues yet from latest version. Please close the ticket.

[2022-06-30 02:01] #22845 closed

[2022-06-30 02:20] necusjz commented on #13853
Testing blocked by feature `Microsoft.Network/AllowMultipleAddressPrefixesOnSubnet` registration.

[2022-06-30 02:26] jiasli commented on #23063
`AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` is not supported by all commands and we deliberately removed it from the doc. The recommended approach is still to follow https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy and add the root CA of the proxy to your CA bundle.

[2022-06-30 02:27] ebbypeter commented on #21003
Adding the config with a variation of the [above approach](https://github.com/Azure/azure-cli/issues/21003#issuecomment-1080593340) worked for me...
I was running the command from PowerShell and  I had to get the contents of the update.json to a variable and pass it to the put method...

So the steps were:
[code]

update.json
[code]

[2022-06-30 02:55] yonzhan commented on #23067
Please provide detailed error message.

[2022-06-30 02:55] yonzhan commented on #23068
ARM

[2022-06-30 03:06] #22350 closed

[2022-06-30 03:22] yonzhan commented on #23069
@evelyn-ys for awareness

[2022-06-30 03:22] yonzhan commented on #23072
@jiasli for awareness

[2022-06-30 03:23] yonzhan commented on #23072
Duplicate of https://github.com/Azure/azure-cli/issues/20278

[2022-06-30 03:23] #23072 closed

[2022-06-30 03:25] #23073 closed

[2022-06-30 03:30] jiasli commented on #23036
I agree with this. Capturing `xml.etree.ElementTree.ParseError` seems a little bit weird for a client to handle since the client needs to know how MSAL works internally.

This is definitely a no-go. I can't forget how frustrated I got when I see Windows shows this to me. 🤣

[2022-06-30 03:42] jiasli commented on #23053
Even though when creating an app, Azure CLI checks if there is an existing app with the specified `--display-name`:

https://github.com/Azure/azure-cli/blob/33cbd01f75c7d4c3814de5a1cbf6f42de7890467/src/azure-cli/azure/cli/command_modules/role/custom.py#L617-L627

The truth is `displayName` is not an identifier in Graph service and you may have multiple apps with the same display name!

[code]

So

[2022-06-30 04:02] evelyn-ys commented on #23060
Need storage service side to check why the account key is invalid

[2022-06-30 04:32] navba-MSFT commented on #23071
@MatheusBelo Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-30 04:35] rayluo commented on #23036
Fair enough. But my point remains valid that, regardless of whether MSAL would throw `MsalBlahBlahError`, Azure CLI could use a "catch all" and then show the generic suggestion "please use interactive 'az login'".

That was just an example to make a point that "Azure CLI could catch all error". You can change the wording, for example, `print("Please consider use an interactive 'az login' (without

[2022-06-30 04:36] navba-MSFT commented on #22668
@onlyillusion Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-30 04:39] navba-MSFT commented on #22647
@bogd-a-n Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-30 04:47] TheRealDeomax opened #23075 "az iot central diagnostic validate-messages "unexpected error""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``az iot central diagnostic validate-messages

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
I created an IoT central application from with

[2022-06-30 04:57] yonzhan commented on #23075
route to CXP team

[2022-06-30 04:58] thakurmishra21 commented on #23004
No this has nothing to do with updating a tag. I am trying to add a new tag.

[2022-06-30 06:30] necusjz commented on #23004
@thakurmishra21, thanks for your detailed explanation. I do think for this scenario, we should use `--add` instead of `--set`.

[2022-06-30 06:45] calvinhzy commented on #23062
Sorry, I was not able to recreate this issue. Can you provide some info on files within the container and other info that might be useful?
![image](https://user-images.githubusercontent.com/17182306/176610533-55e92ac4-2df3-4488-b094-1cf138d65f0e.png)

[2022-06-30 07:15] calvinhzy commented on #21404
Here is the new package with the latest swagger changes.
https://zhiyihuangsa.blob.core.windows.net/sharing/storage_mover-0.1.1-py3-none-any.whl

[2022-06-30 07:17] navba-MSFT commented on #22668
@onlyillusion I am yet to do a repro at my end and check the failure. But before that I wanted to confirm if you have tested with the below commands and check if that worked ? I am just trying to avoid the duplicate efforts.

Awaiting your reply.

[2022-06-30 07:26] AjKundnani commented on #22275
@zhoxing-ms @PARADISSEEKR - Based on our conversation about Confidential VM, new scenario has come out where end users might need to export the VMGS vhd file. If we can expose the parameter to `--secure-vm-guest-state-sas`  end users please?

- If **CreateOption** is UploadPreparedSecure, the parameter `--secure-vm-guest-state-sas`  will get auto-set or turned on for command `az disk grant-access`

[2022-06-30 07:32] Niviral commented on #23062
This is part of the structure.
![obraz](https://user-images.githubusercontent.com/33926911/176618148-8d425cee-04b8-4a87-b8cf-1f15e237cfb8.png)
Output is the same for ` --pattern '*' ` and without it.
Yesterday every time I tried to run command I reacived error as in the report. However today command fail for some files/folders only
![obraz](https://user-images.githubusercontent.com/33926911/176618

[2022-06-30 07:44] onlyillusion commented on #22668
@navba-MSFT Hi
No,didnt checked using your command.
I used only "az staticwebapp update" command for updating.

[2022-06-30 07:47] bpetit2019 opened #23078 "Az ml environment create not recognizing build-context"
**Related command**
I executed :
az ml environment create --resource-group <r-name> --workspace-name <w-name> --name <Name> --debug -b .

**Describe the bug**
I received this error:
cli.azure.cli.core.azclierror: Met error <class 'marshmallow.exceptions.ValidationError'>:Validation for EnvironmentSchema failed:

 {
  "build": {
    "local_path": [
      "Unknown field."
    ]
  }
}

For a more det

[2022-06-30 08:00] meierale commented on #22230
Come on - I know this is an open source project of Microsoft / Azure.. but no activity whatsoever in over a month?
Are you serious?

[2022-06-30 08:02] #22766 closed

[2022-06-30 08:02] #22154 closed

[2022-06-30 08:44] MrRdmGuy opened #23079 "Application-Gateways can no longer be created via Azure-CLI"
**Related command**

az network application-gateway create \
  --name myAppGateway \
  --location eastus \
  --resource-group myResourceGroup \
  --capacity 2 \
  --sku Standard_v2 \
  --http-settings-protocol http \
  --public-ip-address myAGPublicIPAddress \
  --vnet-name myVNet \
  --subnet myAGSubnet \
  --servers "$ACI_IP" \
  --routing-rules-type Basic

**Describe the bug**

Its not possible

[2022-06-30 08:59] yonzhan commented on #23078
route to CXP team

[2022-06-30 09:13] necusjz commented on #23079
@MrRdmGuy, it's a known breaking change from service side (**priority is now mandatory**), you can refer to a previous issue for details:
- https://github.com/Azure/azure-cli/issues/22279

[2022-06-30 09:28] thakurmishra21 commented on #23004
@necusjz :
I tried your suggestion and I got the below error.

az network lb update -g tagLoadBalRG -n tagLoadBalIns --add tags.test.sample=val4
Couldn't find 'test' in 'tags.test'. Available options: ['Dept.test.kl', 'Status']

![image](https://user-images.githubusercontent.com/89640397/176642823-ca6c0a01-38bc-4d6a-a0eb-f8ec84167693.png)

[2022-06-30 09:37] SjoerdV commented on #23053
@jiasli, Cool, that's very clear. Thanks! Closing this issue

[2022-06-30 09:38] #23053 closed

[2022-06-30 09:45] necusjz commented on #23004
@thakurmishra21, could you share the command you created the load balancer? I'll compose the update command for you.

[2022-06-30 09:56] bpetit2019 commented on #23078
And if you can answer this too, it is related to this issue.
When I pushed my docker image to azure and create an environment with this one, all the files in the container weren't in the environment.
I had:
WORKDIR /usr/src/app
RUN git clone <repo>
WORKDIR /usr/src/app/repo
None of the files of the repo were in the environment, but all the required packages were. Why?

[2022-06-30 10:38] cleconte987 commented on #23060
What should I do then?

[2022-06-30 10:50] necusjz commented on #23004
@thakurmishra21, we can leverage `az rest` to do it, e.g.,
[code]

Even so, I would suggest using "_" instead of "." in a key, it will do make our life much easier. : )

[2022-06-30 11:03] jurjenoskam opened #23081 "`az ad sp create-for-rbac` intermittently fails with `Directory_ConcurrencyViolation`"
On Azure CLI version 2.37.0, the command `az ad sp create-for-rbac` command started to intermittently fail with the following error:

[code]

Looking at the debug log, the cause was the /addPassword POST call failing with an HTTP 503:

[code]

After opening a Microsoft Service Request (number 2206210050000221) against Graph to determine why this call was intermittently failing in our tenant, the r

[2022-06-30 11:20] GavBurke opened #23082 ""az storage blob download" errors with or without any options provided, NoneType error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob download`

## Expected Behavior

File specified is downloaded

## Environment Summary
[

[2022-06-30 11:38] xgzwlkj opened #23083 "azure-cli: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-06-30 12:01] yonzhan commented on #23081
@jiasli for awareness

[2022-06-30 12:02] yonzhan commented on #23082
storage

[2022-06-30 12:03] yonzhan commented on #23083
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-06-30 12:03] #23083 closed, assigned to jiasli

[2022-06-30 12:27] Niviral commented on #23062
Example from today Azure DevOps pipline, same structure as the previous screenshot but different blob container https://user-images.githubusercontent.com/33926911/176618148-8d425cee-04b8-4a87-b8cf-1f15e237cfb8.png

[2022-06-30 14:04] Euanher commented on #22623
Thank you Kubelc was implemented and clusters formed all is well.

[2022-06-30 14:09] zulkifelff opened #23085 "Issue : AZ Login Traceback Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-06-30 14:10] yonzhan commented on #23085
@jiasli for awareness

[2022-06-30 16:03] RakeshMohanMSFT commented on #23050
@markhoratiowalmsley We are unable to reproduce the issue. It is something to do with the appsettings returned. can you please share the -debug log?

[2022-06-30 18:07] jaylabell commented on #18226
@microsoftsup Thank you for the feedback, I will follow up with updates.

[2022-06-30 20:17] StrawnSC commented on #23029
@BlaneG what output do you see if you enter `az config get defaults`?

[2022-06-30 20:23] StrawnSC commented on #22906
The `az functionapp list-runtimes` command was introduced in version 2.34 (see the release history [here](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#app-service-4)). @speedyankur @william-li-nintex you should make sure your CLI is version 2.34 or later to use this command. You can get the latest CLI version with `az upgrade`

[2022-06-30 21:13] Francisco-Gamino commented on #22934
Hello @panchagnula -- For the Az.Functions cmdlets, I changed the default behavior of `Remove-AzFunctionApp` to not delete the app service plan if this is the last app in the plan (for more information, please see https://github.com/Azure/azure-powershell/issues/16487). Perhaps we could do something similar here for the next breaking release of the Az CLI.

[2022-07-01 02:54] #22968 closed

[2022-07-01 03:14] RakeshMohanMSFT commented on #22993
@fgheysels Thank you for reaching out, we are looking into it.

[2022-07-01 03:18] RakeshMohanMSFT commented on #22714
@derekjoos Apologies for the delay, we are looking into it.

[2022-07-01 04:57] navba-MSFT commented on #22889
@azeem2020 Could you please add the folder path of` pg_config` to the PATH environment variable and check if that helps ?

[2022-07-01 05:02] navba-MSFT commented on #23028
@bwatkins449 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-01 05:30] navba-MSFT commented on #23075
@TheRealDeomax Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-01 06:54] RakeshMohanMSFT commented on #22993
@fgheysels its seems to be as designed., nothing specific to CLI. Even the rest api is doing the same. @StrawnSC need your confirmation on this please.

[2022-07-01 07:17] jiasli commented on #23085
@rayluo, @bgavrilMS, despite of the efforts we put into https://github.com/AzureAD/microsoft-authentication-extensions-for-python/pull/108 and https://github.com/Azure/azure-cli/pull/22009, looks like we are seeing a new error code `87`.

[2022-07-01 08:01] #21737 closed

[2022-07-01 08:32] RakeshMohanMSFT commented on #22714
@derekjoos Azure App Configuration's Soft delete feature allows recovery of your data such as key-values, feature flags, and revision history of a deleted store. **It's automatically enabled for all stores in the standard tier**. In this article, learn more about the soft delete feature and its functionality.

And in your example you are creating one using standard sku.
`az appconfig create -g MyR

[2022-07-01 08:39] HenrikSommer-eng commented on #22934
If you do that then please also update `az webapp delete` to have the same default behavior.

[2022-07-01 09:23] cleconte987 commented on #23060
I still can't upload anything.. I mean how much time is gonna take this issue?

[2022-07-01 09:24] zulkifelff commented on #23085
Upgraded my Azure CLI to 2.37.0 and removed directory ".azure" from C:\Users\<Username>.
Reboot the system, used 'az login'.
VIOLA ! Success Achieved.  🥳

[2022-07-01 09:27] zulkifelff commented on #23085
@[jiasli](https://github.com/jiasli) , One of my colleague also faced the same issue. Gone through same steps and successfully sign-in.

[2022-07-01 09:42] jurjenoskam commented on #23081
I think the suggestion was to only wait 1-2 minutes in case a `Directory_ConcurrencyViolation` is encountered. Waiting unconditionally for such a long time after each update would indeed be an enormous waste.

(Of course the best solution would be for Graph to only return success for synchronous API calls once it's ready to immediately receive another update for the same object, so I hope you can

[2022-07-01 10:32] #22222 closed

[2022-07-01 10:33] #22275 closed

[2022-07-01 10:34] #22199 closed

[2022-07-01 10:35] #22200 closed

[2022-07-01 10:49] #21665 closed

[2022-07-01 10:58] bpetit2019 opened #23089 "az ml job create job.yml file reading error with "code" option"
**Related command**
az ml job create -f job.yml --debug
**Describe the bug**
I try to create a job with cli using a yaml file. It works without the option code. But when I try adding the code option, it causes an error.
I tested with different writing of the yaml. In the reproduce section, I will provide the tests and errors.

**To Reproduce**
With :
[code]
-->
[code]

With :
**code: .**
-->

[cod

[2022-07-01 11:12] Matka4 commented on #12608
Thank you @paul-kr

[2022-07-01 11:31] yonzhan commented on #23089
route to CXP team

[2022-07-01 11:34] #21251 closed

[2022-07-01 11:47] #22326 closed

[2022-07-01 11:47] #22370 closed

[2022-07-01 11:47] #22439 closed

[2022-07-01 11:53] #22499 closed

[2022-07-01 11:54] #22501 closed

[2022-07-01 12:00] #21792 closed

[2022-07-01 12:09] obiii opened #23090 "Where does the new linked IRs go? Cannot see them anywhere"
Hi,

This creates the linked IR (self hosted) but I am unable to find it anywhere and use the linked IR for onprem connection.

az config set extension.use_dynamic_install=yes_without_prompt

az datafactory integration-runtime linked-integration-runtime create --factory-name "qqws-dev-adf" --integration-runtime-name "OnPrem-SHIR" --resource-group "qqws-datalake-dev-rg" --name "dummyIR" --data-fact

[2022-07-01 12:23] gravitysuckstoday opened #23091 "az functionapp update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp update --name {} --resource-group {} --plan {}`

##

[2022-07-01 12:57] TheRealDeomax commented on #23075
I will give it a try

[2022-07-01 13:00] yonzhan commented on #23091
route to CXP team

[2022-07-01 13:00] yonzhan commented on #23090
datafactory

[2022-07-01 14:19] #21078 closed

[2022-07-01 14:37] #23075 closed

[2022-07-01 14:37] TheRealDeomax commented on #23075
Thanks again!

[2022-07-01 15:05] NSTA2 commented on #18761
Any news on this issue?  causing pain for me too (exact same stack trace as above)

[2022-07-01 15:42] #15382 closed

[2022-07-01 20:33] beroder opened #23093 "az storage fs undelete-path is not encoding the deleted path name"
**Related command**
az storage fs undelete-path

**Describe the bug**
az storage fs undelete-path is not encoding the --deleted-path-name parameter.  If the path has special characters then the call fails with 'The soft deleted blob was not found'.

**To Reproduce**
Take the following deleted path (output from az storage fs list-deleted-path) which has '%' characters in the blob name:
 {
    "dele

[2022-07-01 22:05] onionhammer commented on #16071
Was this work complete? It doesnt appear to work but the issue was closed

[2022-07-01 23:15] yonzhan commented on #23093
storage

[2022-07-01 23:20] #22076 closed

[2022-07-01 23:21] #22059 closed

[2022-07-02 00:36] nyetwurk opened #23094 "API version 2021-08-01 does not have operation group 'network_interfaces'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list-ip-addresses`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list-ip-addresses`

## Expected Behavior

## Environment S

[2022-07-02 00:41] nyetwurk commented on #23094
`2.36.0-1~buster` works.

[2022-07-02 00:41] nyetwurk commented on #23094
`2.37.0-1~buster` works as well

[2022-07-02 00:43] nyetwurk commented on #23094
[code]
is broken

[2022-07-02 00:58] yonzhan commented on #23094
Compute

[2022-07-02 01:04] nyetwurk commented on #23094
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1014203

[2022-07-02 01:12] rayluo commented on #23085
But this issue was found from Azure CLI 2.30, which I believe did not have the aforementioned improvements.

The latest version of Azure CLI should be able to catch the `PersistenceDecryptionError`, however we do not have a specific explanation for error code 87. Searching it on internet, it seems elusive.

[2022-07-02 02:00] rayluo commented on #21744
@sanistaal-bbc , were the "two of them" develop and QA? By any chance you can try to have them run sequentially? If that would become a workaround to bypass this, it would also give us a strong hint that it was indeed caused by the concurrency.

[2022-07-02 11:00] zhoxing-ms commented on #23094
It should be related to issue https://github.com/Azure/azure-cli/issues/19640 @jiasli Could you please help have a look?

[2022-07-02 11:20] sanistaal-bbc commented on #21744
@rayluo Develop and QA will run at the same time and Develop and Production will run at the same time. But all three environments runs az commands on their om worker. I just went off for vacation and will be back in 3 weeks. I will try what you suggest when I'm back.

[2022-07-02 16:46] daveneeley commented on #20625
API docs for Updating Slot Configuration Names: https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/update-slot-configuration-names

[2022-07-02 17:41] onlyutkarsh opened #23095 "error when trying to add email, profile API permission to app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission add --api {} --id {} --api-permissions {}`

[2022-07-02 22:36] eroiborges opened #23096 "Failure to enable KeyVault Autorotate on CSI driver"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --enable-secret-rotation --rotation-poll-interva

[2022-07-03 00:01] yonzhan commented on #23095
@jiasli for awareness

[2022-07-03 00:02] yonzhan commented on #23096
route to CXP team

[2022-07-03 05:25] janegilring commented on #22629
@jiasli I just tried to reproduce where I performed the following in an existing devcontainer running Ubuntu 20.04:
- Ran `az ad signed-in-user show` successfully while using Azure CLI 2.36
- Updated devcontainer to use latest image version, latest updates via apt-get and Azure CLI 2.37
- Logged on to CLI using `az login --use-device-code`
- Ran `az ad signed-in-user` show without any errors

Henc

[2022-07-03 08:46] avinashupadhya99 commented on #20471
Incorrectly labeled as `Container Instances` instead of `ContainerApp`

[2022-07-03 10:56] cleconte987 commented on #23060
Found the issue. Because of '../' present in --name

[2022-07-03 10:56] #23060 closed

[2022-07-03 13:40] gstolz commented on #22815
Hi @yonzhan , is there already some feedback from "CXP" team?

[2022-07-03 16:39] srikcgaa2 opened #23097 "Documentation needed on valid values for various az commands"
## Describe the bug

**Command Name**
`az billing period show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az billing period show --name`

## Expected Behavior

## Environment Summary
[code]
## Additional Context
In this command, there is no documentation that shows where I can g

[2022-07-03 17:10] fgheysels commented on #22993
I've currently solved it by not using `:` as a separator but use a double underscore instead `__`

I was calling this command in a DevOps pipeline that ran on a Windows Agent, but that didn't work as it should have.  (I thought the final ) was removed from my config value).   Switching to a Linux agent solved that problem.

[2022-07-03 23:30] yonzhan commented on #23097
route to CXP team

[2022-07-04 02:09] evelyn-ys commented on #16071
@onionhammer It's true that `az blob sync` does not support AAD auth.
You can use `az storage account keys list` to get an account key then run `az blob sync` with `--account-key`

[2022-07-04 02:12] jiasli commented on #23094
@zhoxing-ms, you are right. `2.37.0-2` is release by @bluca, not Microsoft.

[2022-07-04 02:20] calvinhzy commented on #23062
Still trying to recreate this issue. Will update when found.

[2022-07-04 02:20] #22850 closed

[2022-07-04 02:21] zhoxing-ms commented on #22850
This feature request will be released by PR #22898 on 07-05

[2022-07-04 02:37] zhoxing-ms commented on #22470
@lsweeney24 I‘d like to confirm with you whether we only need to upgrade the api-version for `Microsoft.AzureStackHCI` or we need to add new commands/parameters?

[2022-07-04 02:41] navba-MSFT commented on #22815
@gstolz Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-04 02:57] onionhammer commented on #16071
Not if you disable key based auth on your storage account as a matter of policy, you can't.

[2022-07-04 03:04] evelyn-ys commented on #16071
Then can you use sas token with `az storage account generate-sas`?😂

[2022-07-04 03:05] navba-MSFT commented on #22647
@bogd-a-n I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  have tried the above suggesstion. Awaiting your reply.

[2022-07-04 03:06] zhoxing-ms commented on #22527
@Klaas- Since our work in this sprint has been fully arranged, I plan to schedule this requirement for development and release in the next sprint (**09-06**). Can you accept this time?

[2022-07-04 03:07] zhoxing-ms commented on #22788
@sdavis3 Since our work in this sprint has been fully arranged, I plan to schedule this requirement for development and release in the next sprint (**09-06**). Can you accept this time?

[2022-07-04 03:08] onionhammer commented on #16071
That's an interesting question, but why can't this support login based auth like everything else on this cli command?

[2022-07-04 03:20] navba-MSFT commented on #22668
@onlyillusion Thanks for getting back. I have tried the above command and confirmed that it also failed with Bad Request ( 400 ) error. Based on the debug log, this doesn’t seem caused by the CLI. The CLI command is failing because the PATCH API is returning a 400 status in this case. I am discussing this with the Product Owners further and update this GitHub thread once I hear from them.

[2022-07-04 03:21] jiasli commented on #23095
Kindly see https://github.com/Azure/azure-cli/pull/22848.

[2022-07-04 03:21] #23095 closed

[2022-07-04 04:23] navba-MSFT commented on #23071
@MatheusBelo I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please provide us the answer to the above questions. This will help us to assist you better. Awaiting your reply.

[2022-07-04 04:31] navba-MSFT commented on #23028
@bwatkins449 The action is currently pending on you. Please let us know if you still face the same issue after following the above plan. Please feel free to reopen this thread. We would be happy to help.

[2022-07-04 04:31] #23028 closed

[2022-07-04 04:37] navba-MSFT commented on #22889
@azeem2020 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still seeing the same issue after following the above suggestion. Awaiting your reply.

[2022-07-04 04:56] navba-MSFT commented on #23097
@srikcgaa2 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-04 05:02] navba-MSFT commented on #23096
@eroiborges Thanks for reaching out to us and sharing this feedback. The PR Azure/azure-cli#23088 has been filed to fix this issue. This PR is currently under review. In the meantime, I am sharing you the quick workaround if that helps:

Could you please disable the addon first by running below command?

And then enable this addon by running below:

Awaiting your reply.

Tagging similar issue here

[2022-07-04 05:22] navba-MSFT commented on #23091
@gravitysuckstoday Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please follow the below action plan:

**Plan 1:**
Please update the AzCLI version to the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) and test again.

**Plan 2:**
If the above plan doesn't help, you can try to run the same

[2022-07-04 05:46] navba-MSFT commented on #23097
@srikcgaa2 `az billing period show` and `az billing period list` commands are only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API. More Info [here](https://docs.microsoft.com/en-us/cli/azure/billing/period?view=azure-cli-latest#az-billing-period-list).
I was able to run

[2022-07-04 05:52] RakeshMohanMSFT commented on #22993
@fgheysels Thank you for the update. Let us get a confirmation from @StrawnSC

[2022-07-04 05:53] jiasli commented on #23081
@jurjenoskam, even waiting for `Directory_ConcurrencyViolation` is unacceptable from CLI perspective.

This is certainly good suggestion.

Since I don't have permission to view the Service Request 2206210050000221, do you mind sending me an email to `{my_github_username}@microsoft.com` and cc the support engineer who was working with you on that case? Thanks a lot.

[2022-07-04 06:09] Saglodha commented on #23025
@vcariven- thanks for reaching out, we have added the required flag to our cmdlets, and it should go live by next week. Kindly reach out to us in case you have any additional questions. Thanks.

[2022-07-04 07:58] jiasli opened #23101 "Release RPMs for RHEL 9 and CentOS Stream 9"
According to https://access.redhat.com/support/policy/updates/errata#Life_Cycle_Dates, RHEL went GA on May 18, 2022.

![image](https://user-images.githubusercontent.com/4003950/177109169-54883e76-96e8-492d-a564-fbdf33591738.png)

We should release RPMs for RHEL 9 and CentOS Stream 9 accordingly.

[2022-07-04 08:01] #21429 closed

[2022-07-04 08:05] jiasli commented on #23101
I can't seem to find the UBI 9 image at https://catalog.redhat.com/software/containers/search

![image](https://user-images.githubusercontent.com/4003950/177110363-0ce886a1-985e-4b18-bd6f-42456528966e.png)

I can only find ubi9-beta, but that image is marked as deprecated:

https://catalog.redhat.com/software/containers/ubi9-beta/ubi/60a6ea70f13ea7781b9fd615

![image](https://user-images.githubuse

[2022-07-04 08:16] #22726 closed

[2022-07-04 08:45] #22989 closed

[2022-07-04 09:10] navba-MSFT commented on #22815
@gstolz You can use [Pamir/flux2-kustomize-helm-example: A GitOps workflow example for multi-env deployments with Flux, Kustomize and Helm. (github.com)](https://github.com/Pamir/flux2-kustomize-helm-example)

 Please let me know if you see any issues with this. Awaiting your reply.

[2022-07-04 09:27] stevefutcher opened #23104 "az add app create - problem with parameters"
I'm not sure if this is an issue with the docs or the cli.

The az app create command docs: https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-create show that there are 2 optional parameters --web-home-page-url and --web-redirect-uris.

Attempting to use either of these results in an error

`az ad app create --display-name new-app-3 --web-home-page-url https://Visua

[2022-07-04 09:39] yonzhan commented on #23104
@jiasli for awareness

[2022-07-04 09:42] jiasli commented on #23104
You are using an older version of Azure CLI. `--web-home-page-url` and `--web-redirect-uris` are introduced in Azure CLI 2.37.0. Please update to 2.37.0 and see https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration.

[2022-07-04 09:42] #23104 closed

[2022-07-04 09:53] jurjenoskam commented on #23081
@jiasli Thanks, I've just sent the mail.

[2022-07-04 10:30] einkel opened #23105 "az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --output {} --resource {}`

## E

[2022-07-04 10:36] jsntcy commented on #22270
@jaganpani, what's release stage for traffic collector? Public Preview or GA?

[2022-07-04 10:52] fengzhou-msft commented on #17689
Close due to inactivity. Please feel free to open new issues if the latest Azure CLI still does not work for you.

[2022-07-04 10:52] #17689 closed

[2022-07-04 10:52] fengzhou-msft commented on #17592
Close due to inactivity. Please feel free to open new issues if the latest Azure CLI still does not work for you.

[2022-07-04 10:52] #17592 closed

[2022-07-04 11:15] #16646 closed

[2022-07-04 11:45] yonzhan commented on #23105
@jiasli for awareness

[2022-07-04 12:11] oskrabanek opened #23106 "`apim product create` parameter `--subscription-required` is not applied"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
[code]

**Errors:**
`subscription-required` is not applied in `create` nor `update` commands

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az apim product create --resource-group {} --service-name

[2022-07-04 12:53] yonzhan commented on #23106
route to CXP team

[2022-07-04 12:54] azeem2020 commented on #22889
I cannot find anything for `pg_config` in my local directory to update **PATH** variable for system or User. The only folder structure for PostgreSQL we have is pgAdmin and Python as shown below and this path already updated.
[code]

[2022-07-04 14:08] alessiofilippin opened #23107 "How to refresh durable function key "durabletask_extension" using Az Cli"
We are facing a strange issue with one of our Az Functions. We are using a durable functions which it does have several AppKeys configured, one of them is called "durabletask_extension".

We are trying to automate the refresh of the keys using Az Cli but apparently when we try to refresh the key - the shell gives an error like "Operation Returned an invalid status "NotFound" "

However, I can see

[2022-07-04 14:25] galvesribeiro commented on #5896
We are hitting the exactly same problem using latest CLI. `--socket-timeout` is not being reported as deprecated. What is the suggestion nowadays to have a simple file upload to work?

[2022-07-04 14:43] bassarisse commented on #21611
What should we use now? I can't find documentation about this change anywhere, and we have several uploads failing =/

[2022-07-04 15:26] HamzaAqel opened #23108 "Wrong commands in this document"
[Enter feedback here]
Please remove the section "Restore 'testserver2' to 'testserverNew', where 'testserverNew' is in a different resource group from 'testserver2'." and the command line below too because it is not supported in flexible server.

az postgres flexible-server restore --resource-group testGroup --name testserverNew \
  --source-server "/subscriptions/${SubID}/resourceGroups/${Resourc

[2022-07-04 17:31] duclinh84bk commented on #21429
Hi Hanchi Wang,

I've tried to use YAML to specify a location but this did not affect the result. The location after creation still folow the location of the workspace!

[2022-07-04 20:50] adamency commented on #20209
Yes this is very much needed ! The current usage design is extremely misleading and not user-friendly.

[2022-07-04 23:52] yonzhan commented on #23108
route to CXP team

[2022-07-05 01:58] BlaneG commented on #23029
@StrawnSC `az config get defaults` returns `[]`. I tried to create the resource again with az cli and it was created successfully. I had deleted some existing resource groups in the azure portal so perhaps this resulted in clearing some configuration defaults that I had set by accident.

[2022-07-05 01:58] #23029 closed

[2022-07-05 02:21] jiasli commented on #23105
The error message is pretty clear:

Please re-run `az login`.

[2022-07-05 02:21] #23105 closed

[2022-07-05 02:38] jiasli commented on #23081
Thank you @jurjenoskam, I will internally discuss with Microsoft Graph product group and update you if there is any update.

[2022-07-05 03:39] navba-MSFT commented on #22807
@mdhomer I am yet to get confirmation about the fix being deployed to all regions. In the meantime, Could you please try running the same above command again and check if you are facing the issue ?

[2022-07-05 03:50] navba-MSFT commented on #22889
@azeem2020 Thanks for getting back. I am adding Service team to look into this issue.

 @sunilagarwal, @lfittl-msft, @sr-msft, @niklarin Could you please look into this and provide some pointers when you get a chance ? Awaiting your reply.

[2022-07-05 03:51] navba-MSFT commented on #22928
@wasker  I am yet to get confirmation about the fix being deployed to all regions. In the meantime, Could you please try running the same above command again and check if you are facing the issue ?

[2022-07-05 03:55] tsujp commented on #22202
Hey -- I have moved OS since last time so I am not in a position to test this anymore. As mentioned in the report I was on Fedora Linux 35 and installed the Azure CLI via the official channels on the documentation pages from Microsoft for it. If it passes under that scenario it'd be reasonably safe to assume it's solved now.

[2022-07-05 04:00] sr-msft commented on #22889
Hi @Daeun ***@***.***>,

Could you help with this?

az postgres flexible-server connect failing * Issue #22889 * Azure/azure-cli (github.com)<https://github.com/Azure/azure-cli/issues/22889#issuecomment-1174574522>

thanks
Sridhar

From: navba-MSFT ***@***.***>
Sent: Monday, July 4, 2022 8:51 PM
To: Azure/azure-cli ***@***.***>
Cc: Sridhar Ranganathan ***@***.***>; Mention ***@***.***>
Subject: Re

[2022-07-05 04:03] navba-MSFT commented on #22889
@DaeunYim for visibility

[2022-07-05 04:32] #19858 closed

[2022-07-05 04:33] navba-MSFT commented on #23096
@eroiborges The above PR has been merged now. The fix should be released as per this milestone: https://github.com/Azure/azure-cli/milestone/120 . Until then you can follow my above workaround.

[2022-07-05 04:33] #23096 closed

[2022-07-05 04:37] PramodValavala-MSFT commented on #23106
@oskrabanek Looks like this has been fixed in the latest version 2.38.0. Try upgrading to the latest using `az upgrade` and try again.

[2022-07-05 05:24] lichardbaliuag opened #23110 "Issue in creating storage container via command line"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {} --ac

[2022-07-05 06:01] AemJane opened #23111 "AZU / Pjs.1138099@elr.mnaumv,tdp.spset"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/keyvault

[2022-07-05 06:01] #23111 closed

[2022-07-05 06:23] paul-sk commented on #8388
Create consumption plan using 'az resource create --name myconsumptionplan ...' as described above in the resource group where function app will be created. Then create function app with '...--consumption-plan-location mylocation...' in the resource group. This function app will use myconsumptionplan created, but not <mylocation>Plan.  Just tested.

[2022-07-05 06:53] meetpatel1111 commented on #23054
@kairu-ms getting error running command - az logicapp list --query "[?contains (name, 'std-app-na-uks-${PLATFORMENV}-$cl{CLAIMSDATAPLATFORMENV}-ais')].{Name:name, State:state}" --output table that ERROR: "list" is misspelled or not recognized by the system.

What could be the issue?
and any solution that you can provide. already tried upgrading cli.
TIA

[2022-07-05 07:00] ygnr commented on #15520
We are also seeing this when we try to update backend pool ip address

[2022-07-05 07:42] RakeshMohanMSFT commented on #23108
@HamzaAqel Thank you for reaching out, we are looking into it.

[2022-07-05 08:16] #13853 closed

[2022-07-05 08:37] yonzhan commented on #23110
storage

[2022-07-05 08:46] evelyn-ys commented on #23110
Hi @lichardbaliuag, this command doesn't required account key parameter, you can create simply by `az storage container create --name {} --account-name {}`

[2022-07-05 09:07] BSubashRaj commented on #22910
Worked for me as well Thanks. :)

[2022-07-05 09:11] chriscordova opened #23114 "Azure CLI step in Pipeline is stuck"
**Related command**
az container create  --resource-group XXXXXX  --file XXXX.yaml --restart-policy OnFailure

**Describe the bug**
Using the Azure CLI step in Azure Pipelines, and it is stuck on that step. Has been working as expected with no issues this morning AEST.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-07-05 09:27] yonzhan commented on #23114
route to CXP team

[2022-07-05 09:28] chriscordova commented on #23114
All is working now, i had removed the
`--restart-policy OnFailure` tag from the
`az container` command and has worked...has something changed for this not to work anymore?

[2022-07-05 09:33] lorenzomsft opened #23115 "Update references to "Resource ID" with "Resource URI""
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Hello team,
please consider updating every reference to "resource ID" with "resource URI", as it can be misleading.
For example:
az vm assess-patches [--ids]

That [--ids] is misleading, as it requires th

[2022-07-05 10:03] HenrikSommer-eng opened #23116 "az deployment group create no response"
**Related command**
 az deployment group create

**Describe the bug**
When calling az deployment group create from powershell
and the parameters contains `>f` it $result is null, the output is instead saved in a file called `f`

**To Reproduce**
[code]

main.json:
[code]

**Expected behavior**
output is saved in `$result`

**Environment summary**
OS:Windows 10
PSVersion                      5.1.19

[2022-07-05 10:04] yonzhan commented on #23115
Compute

[2022-07-05 10:21] yonzhan commented on #23116
ARM

[2022-07-05 10:26] SatishNaidi commented on #15520
We too started facing the similar issue while AGIC is trying to update the backend pools on Application Gateway and this was working earlier.

[2022-07-05 10:28] anhvu-accuracy opened #23117 "Cannot login to ACR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2022-07-05 10:54] kumardippu commented on #1949
This way we can provide the our own mime_type as 'content-type'
 with open(file.path,"rb") as data:
            #blob_client.upload_blob(data)
            mime_type =mimetypes.MimeTypes().guess_type(file.name)[0]

            blob_client.upload_blob(data,content_type=mime_type)
            print(f'{file.name}' " uploaded to blob storage")

[2022-07-05 11:15] yonzhan commented on #23117
route to CXP team

[2022-07-05 11:28] lichardbaliuag opened #23118 "Issue in creating storage container via command line"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {}`

##

[2022-07-05 11:57] mihaimircea commented on #22118
Hello,
I created a Private Endpoint with private DNS integration from the Azure Portal and then ran
`az network private-endpoint dns-zone-group list` against that PE, here;s the result:

[code]

so I guess the dns zone group default exists.

And then, when trying to add another PE to the same private DNS zone I get the same exception

[code]

[2022-07-05 12:09] yonzhan commented on #23118
storage

[2022-07-05 12:40] eroiborges commented on #23096
Hi @navba-MSFT , sorry for the delay. I was OOF. Sure, the workaround worked and I used it. Nice that the PR is on the way. Thanks so much for your help.

[2022-07-05 12:54] meetpatel1111 commented on #23054
@yonzhan Is there extension available for cognitive services?
az cognitiveservices account list not working for querying status of the service.

[2022-07-05 15:17] diesher opened #23119 "wsl2: javascript is not enabled in your browser"
**Related command**

`az login`

**Describe the bug**

I am trying to login to azure and getting the following message:
Microsoft account symbol
we can't sign in
Javascript is required to sign in. Your browser either does not support Javascript or it is being blocked.
Enabled Javascript in your browser or use one which supports it.

**To Reproduce**

**Expected behavior**

**Environment summary**

[2022-07-05 15:26] #23117 closed

[2022-07-05 17:26] artnkfv commented on #12758
Hi.
The script does'n work for Mint Tricia 19.3 (the same error).
Solution of @shmink work.

[2022-07-05 17:34] sdavis3 commented on #22788
Yes, of course. Thank you for the update.

[2022-07-05 18:50] kdestin commented on #23089
Per the [command job yaml reference](https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-job-command#yaml-syntax), the `code` entry in the yaml should be a string that's a path to a directory or file.

[code]

---

The error seen with `code: .` points to the command job's code being successfully specified, but there seem```s to be an issue with the configured storage

---

The e

[2022-07-05 19:12] joem-msft commented on #12009
Why was this closed? It's fine if the CLI chooses to use service as validation. But the end result to the user is an inconsistent behavior when using the same parameters file using Az DevOps deployment task (PowerShell based?) vs a local `az deployment group validate` command.

[2022-07-05 20:35] digimaun commented on #22111
@jonmikeli as of IoT extension release [0.15.0](https://github.com/Azure/azure-iot-cli-extension/releases/tag/v0.15.0), we offer an in preview `az iot device registration create` command. Here are the reference docs for it https://docs.microsoft.com/en-us/cli/azure/iot/device/registration?view=azure-cli-latest#az-iot-device-registration-create . Let us know if you have any questions - [this repo](

[2022-07-05 22:33] adomin1000 commented on #22985
I'm having a similar error when attempting to set-policy on a keyvault.   Errors out regardless of what type of permissions

<img width="951" alt="image" src="https://user-images.githubusercontent.com/40310420/177428017-b558eaee-020d-4e13-a506-9ac9ad08740c.png">

[2022-07-05 22:35] alex-frankel commented on #12009
I think it got closed because it is not an Az CLI issue, but rather an ARM service side issue that is validating incorrectly and generating the false-positive error.

Adding the internal work item here for reference, but don't have an ETA for when it will be resolved:
https://msazure.visualstudio.com/One/_workitems/edit/7378495

[2022-07-05 22:38] yonzhan commented on #23119
@jiasli for awareness

[2022-07-06 00:08] evelyn-ys commented on #23110
Hi @lichardbaliuag, Please make sure the storage account exist first.

You can create storage account with `az storage account create`

[2022-07-06 01:02] ygnr commented on #15520
We found a fix, our issue was we had both WAF config and WAF policy configured on the app gateway. We had WAF Config before and we moved to policy long back but somehow WAF config was still there even though it won't show on UI. I guess there was a recent change on the app gateway to add more validation if there are both configured it won't allow changes.

We were able to remove the config with th

[2022-07-06 01:54] evelyn-ys commented on #22985
Hi @adomin1000, this is because the `--upn` contains special character, for example, `#`. We have fixed this issue in latest version. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli to install CLI 2.38.0

[2022-07-06 01:55] evelyn-ys commented on #23118
replied in https://github.com/Azure/azure-cli/issues/23110#issuecomment-1175618177

[2022-07-06 01:55] #23118 closed

[2022-07-06 01:59] SatishNaidi commented on #15520
Thank you @ygnr , we are able to resolve the issue following similar step with the help of Azure support.

[2022-07-06 03:08] RakeshMohanMSFT commented on #23107
@alessiofilippin Thank you for reaching out, we are looking into it.

[2022-07-06 06:23] ygnr commented on #15520
No it was in Australia East

[2022-07-06 06:52] fellnerse commented on #14695
I'm also looking forward to this feature! @adrianhall can you tell us what your release cycle is?

[2022-07-06 07:23] adityabalaji-msft commented on #21018
awaiting user response

[2022-07-06 07:24] adityabalaji-msft commented on #20423
Issue has been fixed. Feel free to reach out if any further questions

[2022-07-06 07:24] #20423 closed

[2022-07-06 08:17] zhoxing-ms commented on #22682
For creating Uniform VMSS, if users do not specify the `--nat-pool-name`, CLI will take the load balancer name plus the suffix of `NatPool` as the default name of nat pool. code link: https://github.com/Azure/azure-cli/blob/74e96090f3a4283522f4b2f70e971abfc02a74ca/src/azure-cli/azure/cli/command_modules/vm/custom.py#L3114-L3118
@fitzgeraldsteele For Flex VMSS, do we need to keep the same logic?

[2022-07-06 08:30] bweissman opened #23123 "az extension add fails"
**Command Name**
`az extension add --source arcdata-1.4.2-py2.py3-none-any.whl --pip-proxy http://10.192.7.77:8080/ --debug`

**Errors:**
I am trying to add the arcdata extension on a system behind a proxy.

[code]

The CLI is complaining about failed SSL verification:

[code]

Is there a way to simply ignore this error?

I did set

ADAL_PYTHON_SSL_NO_VERIFY=1
AZURE_CLI_DISABLE_CONNECTION_VERIFICA

[2022-07-06 08:55] kysucix commented on #22230
The workaround for now is the following:
- install an older version of libssl:
``wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb && sudo dpkg -i libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb && rm libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb``
- Edit etc/ssl/openssl.cnf:
 ``sed -i 's/openssl_conf = openssl_init/#openssl_conf = openssl_init/g' /etc/ssl/openssl.cnf`

[2022-07-06 09:18] byteknacker commented on #21678
Yes, I agree it must be a platform issue. I just had to stop using it and instead use VPN Gateway/Tunnel and a ssh password or key.

[2022-07-06 10:43] yonzhan commented on #23123
route to CXP team

[2022-07-06 10:58] iSplasher commented on #22830
Yes, I'm not sure how that control character ended up in my string, and I also fail to reproduce it. We can close this.

[2022-07-06 10:58] #22830 closed

[2022-07-06 11:10] PramodValavala-MSFT commented on #23123
@bweissman I believe you could set the host as trusted in the [configuration file](https://pip.pypa.io/en/stable/topics/configuration/#repeatable-options) for pip.

[2022-07-06 11:37] lsweeney24 commented on #22470
Hello,

We will need both an Api version upgrade and new commands. Here is an example of the desired changes based on the PowerShell cmdlets we just had released - https://github.com/Azure/azure-powershell/pull/18559
[https://opengraph.githubassets.com/8efb8043bef1d804aa3076fb337df9540e5b0825f5723cc4b0d9b5c305dcecc0/Azure/azure-powershell/pull/18559]<https://github.com/Azure/azure-powershell/pull/

[2022-07-06 12:54] manschoe opened #23125 "'Az ad show' not returning requested fields"
**Related command**
az ad user show --id "email" --query="accountEnabled"

**Describe the bug**
Above command doesn't return the property accountEnabled. When asked for id it returns the id so it seems that not all fields can be queried since Microsoft Graph API is used. Also when no query is specified only a limited set of fields is returned in comparison of az cli versions under 2.37.

**Expecte

[2022-07-06 12:56] yonzhan commented on #23125
@jiasli for awareness

[2022-07-06 14:22] MrMCake commented on #22936
For me the issue persists also with version `2.37.0`. In the meantime, `2.38.0` was released so I'll try to re-test with that one too.

Just one interesting observation: About every 3rd query via `az webapp log download` actually worked without any problem. But then I would re-run the pipeline (with the command) and it would fail again.

[2022-07-06 14:49] chantra commented on #22955
BTW, the same issue holds for the deb package too:
[code]
and installed size:
[code]

[2022-07-06 14:54] pecrow opened #23127 "Doc comments for --node-taints option."
If you create a nodepool with X number of tags, and later update them to Y number of tags using the "--node-taints" flag they do get updated, but if you scale up the new nodes will go back to using X number if tags. Should we add a "note" section explaining or noting this behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-07-06 15:26] ManojLava commented on #22839
Hi Team,

I trying to execute below command to JSON response for a specific file as per details share in above link

PUT {endpoint}/pipelines/{pipelineName}?api-version=2020-12-01

Below is the steps I have execute to make this api call

Piece of my code to get access token and moving it to headers variable

$Credential = Get-Credential
Connect-AzAccount -Credential $Credential
$token = (Get-AzAcc

[2022-07-06 15:39] thelostfrayman opened #23128 "az network application-gateway rewrite-rule condition create missing documentation"
in az network application-gateway rewrite-rule condition create
the --patern parameter strips charaters for some reason to make it keep the correct pattern you need to wrap it with 3 quotes
as per this issue:
https://github.com/Azure/azure-cli/issues/17897

`the same problem occurs for "^$" where the ^ character disapear unless you use """^$"""`

in addition the --variable parameter is missing doc

[2022-07-06 16:48] kevin-secrist commented on #15800
Tried to reproduce again, created a new test app using instructions from above:

[code]

## Before Updating Config

[code]

## Update Config

[code]

## After Update

[code]

✔️ Looks like the staging slot took the setting instead of the production slot

Newest version (2.38.0) fixes the issue, fixed by https://github.com/Azure/azure-cli/pull/22745, thanks @haroonf

[2022-07-06 16:48] #15800 closed

[2022-07-06 16:57] niteshbhat opened #23129 "unable to login the azure using az login way: ValueError: Unable to find wstrust endpoint from MEX."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-07-06 17:14] StrawnSC commented on #23091
@navba-MSFT @gravitysuckstoday I'm unable to repro this. It seems like it would probably be fixed by upgrading to the latest CLI version (see `az upgrade`)

[2022-07-06 17:34] StrawnSC commented on #22993
@RakeshMohanMSFT, yes this is working as expected. We don't traverse nested json when you pass a file in. It's assumed to be in the format `{key1: value1, key2: value2, ...}`, just like if you you called the command with `--settings key1=value1 key2=value2 ...`.

[2022-07-06 17:37] fitzgeraldsteele commented on #22682
Nat Pool is not available for VMSS Flex (since they are just regular VMs).  Should fail deployment if Nat Pool and VMSS Flex are specified at the same time. That's why network team came up with Nat Rules V2, which works for VMSS Flex, Uniform and standard VMs.

The suggestion in this request was to replace Nat Pool with NAT Rules for both VMSS Uniform and Flex. Admittedly, I did not consider this

[2022-07-06 18:16] Kullaireddy115 opened #23130 "Az login issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --tenant {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-07-06 19:00] jonmikeli commented on #22111
Hi @digimaun,

Thank you for keeping me updated (and for implementing the feature). I truly appreciate.
I will try to use the new command in the upcoming weeks and let you know if I have more questions.
Thanks.

[2022-07-06 19:21] riteshchitlangia1 opened #23131 "Command parameter '--hsm-name' does not work for Azure Managed Hsm CLI in dogfood environment"
**Related command**
az keyvault security-domain download --hsm-name hsmname  --sd-wrapping-keys cert_0.cer  cert_1.cer  cert_2.cer  --sd-quorum 2 --security-domain-file filename.json

**Describe the bug**
Above command fails with below error, even though it does exist.
"Max retries exceeded attempting to connect to vault. The vault may not exists or you need to flush your DNS cache and try again l

[2022-07-06 21:51] diberry opened #23133 "az role assignment create - how do I add more than 1 role at a time?"
**Related command**

**Describe the bug**

It isn't clear how to add more than 1 role assignment at a time. Is it multiple calls to this command or can the value be an array or a string in a single call?

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-07-06 22:26] lordisp commented on #17137
I'm running private hosted devops agents. Login works but building the image using `az acr build` get still somehow routed over the public route:

[code]

[code]

[2022-07-06 23:16] yonzhan commented on #22955
It is caused by the huge network python SDK which Azure CLI depends on and we are working with corresponding team to reduce the package size.

[2022-07-06 23:16] yonzhan commented on #23127
route to CXP team

[2022-07-06 23:17] yonzhan commented on #23128
network

[2022-07-06 23:18] yonzhan commented on #23129
@jiasli for awareness

[2022-07-06 23:19] yonzhan commented on #23130
@jiasli for awareness

[2022-07-06 23:20] yonzhan commented on #23131
KeyVault

[2022-07-06 23:23] yonzhan commented on #23133
@jiasli for awareness

[2022-07-06 23:26] zaynchen115 commented on #22795
@necusjz Did the dev part finished?

[2022-07-06 23:47] kmaramr opened #23134 "Automating maps and schema deployment to integration account"
Azure CLI task doesn't recognize "Az PowerShell module". Currently using PowerShell task to deploy, but would like to deploy using the CLI.

I don't see an option in the docs.
https://docs.microsoft.com/en-us/cli/azure/logic/integration-account?view=azure-cli-latest

Tried using the "az resource create" but didnt have luck with the content files.

Please advice.

[2022-07-06 23:56] chantra commented on #22955
Thanks for the update @yonzhan !

[2022-07-07 00:15] evelyn-ys commented on #23131
Hi @riteshchitlangia1, You need to register dogfood Cloud and switch to it, or else all requests will target AzureCloud.

Command to register dogfood cloud:
[code]
An example for cloud_DF.json:
[code]

Command to switch cloud:
[code]

[2022-07-07 00:24] riteshchitlangia1 commented on #23131
Thanks for your reply. I had tried this previously and even this doesn't work, have you tried this already?

[2022-07-07 00:28] yonzhan commented on #23134
@zhoxing-ms for awareness

[2022-07-07 01:51] calvinhzy commented on #23062
Another client reached out to me with similar issue. It seems the top-level directories are becoming 0b blobs. I will try with more directories.

[2022-07-07 01:56] necusjz commented on #22795
@zaynchen115, as planned we'll work on this feature in current sprint (~08/02/2022). We just closed a duplicated request as above, sorry for misleading.

[2022-07-07 01:58] thongonary commented on #22153
`conda install pywin32` did not solve the issue for me. I also tried uninstalling and reinstalling Azure-CLI from scratch but it did not work either. Here is some additional information:

[code]
[code]
The traceback is very similar to OP's:
[code]
Please help. Thanks!

[2022-07-07 02:31] thongonary commented on #22153
I sidestepped the problem with `pip install pywin32` to force installing the latest pywin32 version (304) as `conda` force-installs version 227 due to dependency.
[code]
The issue is gone, except these warnings appeared when running my script:
[code]
Not sure why `docker` package requires `pywin32 227` in `azureml.core`. Hopefully this could provide some pointer so that you guys can fix?

@CliveRo

[2022-07-07 02:55] zhoxing-ms commented on #23134
@kmaramr This is a feature request related to `az logic integration-account`, right?

[2022-07-07 03:14] #23093 closed

[2022-07-07 03:21] zhoxing-ms commented on #22470
@lsweeney24 May I ask do you want CLI to add some new specific commands, or do you want CLI to support all the contents defined in Swagger?

[2022-07-07 03:25] jiasli commented on #23130
Duplicate of #20507. I believe the error message is already pretty clear.

[2022-07-07 03:25] #23130 closed

[2022-07-07 03:27] jiasli commented on #23021
Wait. @rayluo, shouldn't MSAL fails before "browser opens" phase?

[2022-07-07 03:29] jiasli commented on #23129
Duplicate of #20221

I believe the error message is pretty clear:

[2022-07-07 03:30] jiasli commented on #23129
Duplicate of #20221. Please run `az login` instead.

[2022-07-07 03:44] RakeshMohanMSFT commented on #23127
@pecrow Thank you for reaching out, we are looking into it.

[2022-07-07 03:51] yanzhudd commented on #22101
Hello @Drewm3 and @aspand, we notice that this feature is similar with #22466. Can this feature be replaced by #22466 or is there any new request for this feature that is different from that?
If this feature cannot be repalced, could you please provide the specific design for related CLI commands and parameters?

[2022-07-07 03:54] kmaramr commented on #23134
@zhoxing-ms If there is one that is not available now, then yes it would be a feature request. We want to be able to deploy maps and schemas via CLI.

[2022-07-07 03:54] navba-MSFT commented on #22984
@bweissman Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-07 04:09] jiasli commented on #22862
This should already have been fixed.

[2022-07-07 04:09] #22862 closed

[2022-07-07 04:30] navba-MSFT commented on #22647
@bogd-a-n The action is currently pending on you to isolate the issue by following the above plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-07 04:30] #22647 closed

[2022-07-07 04:47] navba-MSFT commented on #22815
@gstolz I wanted to do quick follow-up to check if you had a chance to follow the above article and check if that helps. Awaiting your reply.

[2022-07-07 05:07] RakeshMohanMSFT commented on #23107
@alessiofilippin you cannot set a system key. Read more about it here under **System Key**. https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts?tabs=v4

The scope of system keys is determined by the extension, but it generally applies to the entire function app. System keys can only be created by specific extensions, **and you can't explicitly set their values**. Like other ke

[2022-07-07 05:09] #23129 closed

[2022-07-07 05:15] navba-MSFT commented on #23071
@MatheusBelo The action is currently pending on you to get back to us on the above queries. Please feel free to reopen this thread once you get a chance to look into this. We would be happy to help again.

[2022-07-07 05:15] #23071 closed

[2022-07-07 05:34] navba-MSFT commented on #23097
@srikcgaa2 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-07 05:39] calvinhzy commented on #21611
SDK supports a separate parameter, will update this in the next release, thanks.

[2022-07-07 06:40] georgeOsdDev opened #23135 "az functionapp plan create with `--min-instances` option fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

This error may happen below line.
`max()` function does not accept str input
https://github.com/Azure/azure-cli/blob/e894197d8cc890b4a1ab973e2c183c50a04d8a98/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L1918

**Command Name**
`az functionapp plan create`

**Errors:**
[code]

## To Reproduce:
S

[2022-07-07 06:55] RakeshMohanMSFT commented on #23135
@georgeOsdDev Thank you for reaching out, we are looking into it.

[2022-07-07 06:59] #22278 closed

[2022-07-07 07:01] alessiofilippin commented on #23107
Thank for your answer Rakesh - however this is part of a pw/key rotation automation exercise.

It's a pity as I am able to renew all the other keys but this durable key won't work from the AZ cli, only from the portal.

Do you know if there are any plans to make this key renewable from AzCli?

[2022-07-07 07:04] yonzhan commented on #23135
route to CXP team

[2022-07-07 07:06] RakeshMohanMSFT commented on #23107
@alessiofilippin unfortunately no plans for now. But you can raise a feature request here. https://feedback.azure.com/d365community/forum/9df02822-f224-ec11-b6e6-000d3a4f0da0

[2022-07-07 08:19] evelyn-ys commented on #23131
Hi @riteshchitlangia1, after debugging I found out that:

For request `https://ysdfhsm.managedhsm-int.azure-int.net/securitydomain/download?api-version=7.2`, server would return 401 response for auth challenge. You can find the `www-authenticate` in response header:
[code]
In dogfood, the `resource` shouldn't be `https://managedhsm.azure.net`, right?

[2022-07-07 10:26] geekyshubham commented on #16673
any update on this issue yet?

[2022-07-07 10:41] bpetit2019 commented on #23089
Indeed, the workspace seemed to be broken.
Thanks for the help.

[2022-07-07 10:41] #23089 closed

[2022-07-07 13:07] mmyers299 opened #23138 "Clarify documentation around id fields"
There needs to be clarification around the field --api-id based off of the name it sounds like it should be the azure Id field, which if you do az apim product api list is what comes back as the id. In reality it wants the api name. This is very unclear. Same thing with --product-id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-07-07 13:07] MrMCake commented on #22936
Ok, I can confirm the issue persists in version `2.38.0`. Sometimes it works, sometimes it doesn't...

[2022-07-07 13:40] yonzhan commented on #23138
route to CXP team

[2022-07-07 13:47] bcosden commented on #22595
So you need to enable native client first in Azure Bastion after deploying it in order to use native client. The enablement must be done in the portal or via REST. This request is to ask for the command to be added to Azure CLI.

[2022-07-07 16:36] riteshchitlangia1 commented on #23131
Hi @evelyn-ys
In dogfood the resource should be `managedhsm-int.azure-int.net`.

[2022-07-07 16:51] UnimplementedTrap opened #23141 "az login fails on windows if there is no temp folder in the root of the C: drive"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Downloaded `azure-cli-2.38.0.msi` from `https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-

[2022-07-07 17:12] fgheysels commented on #22993
So, then this means that `az webapp config appsettings set` does not support nested config settings ?

[2022-07-07 17:50] derekjoos commented on #22714
@RakeshMohanMSFT Thanks for taking a look!

I have tried the command you provided several times (See To Produce section above) and I am not getting the expected results. I also had a colleague try them also. It doesn't appear that others are having this issue as I don't see others asking similar questions. Are there settings/permissions that I need to check in my environment that are required for

[2022-07-07 20:52] erik-ha-msft opened #23142 "Using az acr import from registry.k8s.io hangs until long-timeout operation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Using `az acr import` from `registry.k8s.io` hangs until long-timeout operation.

**Command Name**
`az acr import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Attempt to import the `ingress-ng

[2022-07-07 21:10] lovigano opened #23143 "bastion rdp vmss support"
### **This is autogenerated. Please review and update as needed.**

## Unable to use az network bastion rdp to connect to vmss instance

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastio

[2022-07-07 21:28] sirfamelin opened #23144 "[TrustedLaunch] Default --enable-secure-boot and --enable-vtpm to true and optional flags in relation to --security-type TrustedLaunch"
**Related command**
az vm create
az vmss create

**Is your feature request related to a problem? Please describe.**
Today if a customer does not provide the values for --enable-vtpm and --enable-secure-boot, the values are not defaulted to true. This will result in a VM that does not take advantage of the full features of Trusted Launch

**Describe the solution you'd like**
We would like to make E

[2022-07-07 21:39] saisankargochhayat commented on #20554
@navba-MSFT I noticed a similar error while running azdev on extension ArcAppliance in Python 3:10
Can confirm error comes when users don't do - `pip3 install pycryptodome`
Do all extension teams need to run this while building respective whl's as we move to python 3:10? That does seem to be an undesirable outcome of upgrading to Python 3:10
https://paste.microsoft.com/70dbf482-65ea-4280-bd1f-71e2

[2022-07-07 22:56] yonzhan commented on #23141
@jiasli for awareness

[2022-07-07 22:58] yonzhan commented on #23143
route to CXP team

[2022-07-07 22:58] yonzhan commented on #23144
Compute feature

[2022-07-08 02:15] navba-MSFT commented on #23142
Adding service team to look into this.

@toddysm, @luisdlp, @northtyphoon Could you please look into this and provide an update once you get a chance ?

[2022-07-08 02:22] #23108 closed

[2022-07-08 02:26] zaminda opened #23145 "az storage container policy delete crashed, but worked perfectly fine the 2nd time with same arguments"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container policy delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container policy delete --container-name {

[2022-07-08 02:32] yanzhudd commented on #22654
Hello @BCOps, could you please provide your debug infomation for the command reported error? Debug information could be acquired by adding parameter `--debug` in your executed command. Thanks.

[2022-07-08 02:58] jiasli commented on #23141
A [quick search on urllib3 keylogfile.txt](https://www.google.com/search?q=urllib3+keylogfile.txt) tells me this is because you have  `SSLKEYLOGFILE` environment variable configured which affects the behavior of `urllib3`:  https://urllib3.readthedocs.io/en/stable/advanced-usage.html#decrypting-captured-tls-sessions-with-wireshark

[2022-07-08 03:05] zhoxing-ms commented on #23144
@sirfamelin Please note that if we directly modify the default value of those parameters, it will cause breaking change to users.

I suggest that when the `--security-type` used by the VM/VMSS creation is `TrustedLaunch`, we print the warning log to recommend users to specify the `--enable-secure-boot True` and `--enable-vtpm True` first.

Since CLI has bi-annual breaking change releases coincidin

[2022-07-08 03:11] UnimplementedTrap commented on #23141
You are correct. I found SSLKEYLOGFILE in my User Environment Variables

I am not sure how/when/why that variable got set.

I don't have Wireshark installed.

Thanks for your help

[2022-07-08 03:11] #23141 closed

[2022-07-08 03:38] navba-MSFT commented on #22984
@bweissman Azure-cli's extensions internally use pip to download an ext's dependencies when running:

This is how all azure-cli exts work. I think we just need to bring them over too. Is it possible to:
1.	First get a machine that does have network access and install "az extension add --name arcdata"
2.	zip up the ext install from $USER/.azure/cliextensions/arcdata
3.	Move zip file over to disconn

[2022-07-08 03:39] calvinhzy commented on #21611
Please try this new build
Download:
https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWIxMzktMzNkYzQyODdiNzU2L2J1aWxkSWQvMTY5MzM0Mi9hcnRpZmFjdE5hbWUvcHlwaQ2/content?format=zip

Extract and install the three whl files
![image](https://us

[2022-07-08 04:02] #20354 closed

[2022-07-08 04:06] yonzhan commented on #23145
storage

[2022-07-08 04:53] RakeshMohanMSFT commented on #23138
@mmyers299 Thank you for reaching out, we will get back to you on this.

[2022-07-08 05:13] RakeshMohanMSFT commented on #22714
@derekjoos Perhaps you have issues with your permissions  (RBAC). Perhaps you do not have permissions to delete/purge.

[2022-07-08 05:26] RakeshMohanMSFT commented on #22839
@ManojLava we could see 404 response which is expected because we do not have that synapse resource. Hope you are calling it from powershell. Also this forum is for azure cli issues exclusively.

I will mark this issue for closure now.

[2022-07-08 05:35] RakeshMohanMSFT commented on #22993
@fgheysels yes.

[2022-07-08 07:32] bantoni commented on #10039
Tried it again and now it works for me.

[2022-07-08 07:39] ZengTaoxu commented on #22564
Hi, @Rahul Singh. May I ask how long it will take to support Compute PR?

[2022-07-08 08:01] #22897 closed

[2022-07-08 08:01] #22843 closed

[2022-07-08 08:01] #22748 closed

[2022-07-08 08:01] #22742 closed

[2022-07-08 08:38] xgzwlkj opened #23150 "az login无法使用: Authentication failed: 'utf-8' codec can't decode byte 0xb5 in position 3: invalid start byte"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-08 09:55] lakmeedee commented on #22466
Yes. Please use the same.

[2022-07-08 10:23] dmitrymorozovnoveo opened #23151 "az aks check-acr ERROR localy and via Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --resource-group {} --name {} --acr {}`

## Expected B

[2022-07-08 10:31] timoklimmer commented on #23056
I would appreciate concrete examples in the article. It's difficult for customers to infer what the JSON should look like from the documentation you passed.

[2022-07-08 10:34] RakeshMohanMSFT commented on #23056
@timoklimmer Sure, I understand. Let me get the document updated.

[2022-07-08 10:42] yonzhan commented on #23150
@jiasli for awareness

[2022-07-08 10:43] yonzhan commented on #23151
route to CXP team

[2022-07-08 10:59] fgheysels commented on #22993
Are there any plans to support this ?

[2022-07-08 11:47] isolenov opened #23152 "Release of MSI version 2022-01-31-preview"
### Related command

az identity

### Resource Provider

Microsoft.ManagedIdentity

### Description of Feature or Work Requested

MSI has added a new resource Federated Identity Credentials (FIC) as a sub-resource of existing User Assigned Identities "userAssignedIdentities/federatedIdentityCredentials"

CLI is expected to provide CRUD operation for the given sub-resource. Take a look Request exam

[2022-07-08 12:49] yonzhan commented on #23152
@zhoxing for awareness

[2022-07-08 13:19] lovigano commented on #23143
Also getting issues with  az network bastion tunnel and az network bastion ssh.

Both resulting in the same error:

Exception in thread Thread-1 (_start_tunnel):
Traceback (most recent call last):
  File "threading.py", line 1016, in _bootstrap_inner
  File "threading.py", line 953, in run
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure/cli/command_modules/network/cust

[2022-07-08 14:40] sebgros-ms opened #23154 "az ml workspace update --application-insights does not work"
Does not work => The application insight remains unchanged

[2022-07-08 15:51] vaspap9 opened #23155 "Az login issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-08 16:22] roge530 opened #23156 "az boards work-item create documentation lacking"
The article in https://docs.microsoft.com/en-us/cli/azure/boards/work-item?view=azure-cli-latest#az-boards-work-item-create

does not show how to detail the Repro Steps and System info and lacks examples, the only example I found was on https://docs.microsoft.com/en-us/azure/devops/pipelines/customize-pipeline?view=azure-devops#create-work-item-on-failure

using title, type, org and project

---
#

[2022-07-08 19:22] ysguy opened #23158 "Cannot export credentials after successful az login"
**Related command**
[[](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux)
](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux)

az ssh config --file ~/.ssh/config --ip 10.11.123.456

error: Config file destination folder C:\Users\ysguy\~\.ssh does not exist.

**Describe the bug**
While the Microsoft docs d

[2022-07-08 19:49] ddanboyle opened #23159 "az aks nodepool snapshot list fails to show snapshot that exists in that rg"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
command az aks nodepool snapshot show --name SPCDevNodepool1Snapshot-2022.06.13 --resource-group rg-spc-dev-eastus2 shows the snapshot.  Yet right after that command az aks nodepool snapshot list --resource-group rg-spc-dev-eastus2 shows an empty list, even though the rg is specified.  Note this worked a week a

[2022-07-08 19:51] ddanboyle commented on #23159
C:\bin>az aks nodepool snapshot show --name SPCDevNodepool1Snapshot-2022.06.13 --resource-group rg-spc-dev-eastus2
{
  "creationData": {
    "sourceResourceId": "/subscriptions/3662312a-0355-4793-9e66-0f722fdb63c4/resourcegroups/rg-spc-dev-eastus2/providers/Microsoft.ContainerService/managedClusters/aks-spc-dev-eastus2-dev1-01/agentPools/nodepool1"
  },
  "enableFips": null,
  "id": "/subscription

[2022-07-08 20:32] duvergonzalez opened #23160 "az ad sp create-for-rbac --name "GitHub-Actions" --role contributor --scopes /subscriptions/{iuh886c0aa-f9b1-0000-8od7-bf98681r8713} --sdk-auth"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az ad sp create-for-rbac --name "GitHub-Actions" --role contributor --scopes /subscriptions/{iuh886c0aa-f9b1-0000-8od7-bf98681r8713} --sdk-auth

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive inf

[2022-07-08 20:41] askpatrickw opened #23161 "Typo colunm_name instead of column_name"
Typo colunm_name instead of column_name in two places.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1e4e3d-3872-95c6-5089-fcfcbf74b325
* Version Independent ID: b665e74a-272e-f511-3042-75939704d7f5
* Content: [az monitor log-analytics workspace table](https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics

[2022-07-08 22:34] yonzhan commented on #23154
route to CXP team

[2022-07-08 22:36] yonzhan commented on #23155
@jiasli for awareness

[2022-07-08 22:38] yonzhan commented on #23156
boards

[2022-07-08 22:41] yonzhan commented on #23158
route to CXP team

[2022-07-08 22:46] dlepow commented on #11487
Closing - no action

[2022-07-08 22:46] #11487 closed

[2022-07-08 23:27] yonzhan commented on #23159
route to CXP team

[2022-07-08 23:28] yonzhan commented on #23160
@jiasli for awareness

[2022-07-08 23:29] yonzhan commented on #23161
monitor

[2022-07-09 13:02] RakeshMohanMSFT commented on #22714
@derekjoos Sure, will request the product team to get it updated. For now can i close this issue?

[2022-07-09 13:08] RakeshMohanMSFT commented on #22993
@StrawnSC Can you please help with the above question?

[2022-07-09 13:11] RakeshMohanMSFT commented on #23138
@mmyers299 We have explained this in detail here https://github.com/Azure/azure-cli/issues/22748. Let me know if you have any follow up question.

[2022-07-09 13:16] RakeshMohanMSFT commented on #23154
@sebgros-ms Thank you for reaching out, we are looking into it.

[2022-07-09 13:19] RakeshMohanMSFT commented on #23159
@ddanboyle Thank you for reaching out to us, we are looking into it. Can you please share the debug trace for both show and list command?

[2022-07-10 09:40] #20176 closed

[2022-07-10 09:40] dakar-etoro commented on #20176
irrelevancy

[2022-07-11 02:14] jiasli commented on #23150
2.8.10 is very old version. Could you update to the latest 2.38.0 and try again? See https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli

[2022-07-11 02:33] jiasli commented on #23155
This means your token cache `~/.azure/msal_token_cache.json` has been corrupted, possibly by manual alternation. Please delete that file and run `az login` again.

[2022-07-11 02:39] jiasli commented on #23160
You don't need curly bracket around your subscription ID: `/subscriptions/{e906c0aa-f6b1-4341-8bd4-bf98681c8713}` since `{xxx}` is considered Python keys and it corrupts CLI's execution.

Please just use `/subscriptions/e906c0aa-f6b1-4341-8bd4-bf98681c8713`.

[2022-07-11 03:25] yanzhudd commented on #22466
Hello @lakmeedee, since we usually use spaces to split arrays, it is better to change the commands to the following format.

Example of az pgg create command with user intent:
az ppg create --name MyProximityPlacementGroup --resource-group MyResourceGroup --location eastus2 --type Standard --zone 1 --intentvmsizes Standard_E64s_v4 Standard_M416ms_v2

Example of az ppg update with user intent:
az p

[2022-07-11 03:26] jiasli commented on #16317
This is not an issue of Azure CLI, but Git Bash which translates the URL before Azure CLI can even receive it. Please see https://github.com/Azure/azure-cli/issues/16317#issuecomment-768755622

[2022-07-11 03:35] navba-MSFT commented on #22668
@onlyillusion Apologies for the delay. I am still waiting for the reply from the Product Owners. I will keep you posted.

[2022-07-11 03:43] navba-MSFT commented on #22807
@mdhomer The action is currently pending on you to test the same command again. If you still face the same issue, please feel free to reopen this thread. We would be happy to help.

[2022-07-11 03:43] #22807 closed

[2022-07-11 03:44] navba-MSFT commented on #22815
@gstolz The action is currently pending on you to test the above plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-11 03:44] #22815 closed

[2022-07-11 03:45] navba-MSFT commented on #22928
@wasker The action is currently pending on you to test the command again. If the issue persists, please feel free to reopen this thread. We would be happy to help.

[2022-07-11 03:45] #22928 closed

[2022-07-11 03:49] navba-MSFT commented on #22984
@bweissman I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-11 03:51] navba-MSFT commented on #23091
@gravitysuckstoday The action is currently pending on you to test the above command after updating the CLI. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-11 03:51] #23091 closed

[2022-07-11 05:45] #23097 closed

[2022-07-11 05:58] bhandariakshay1601 opened #23165 "aks command invoke: evalsymlink failure on '/command-files/https:/github.com/"
**Related command**

 az aks command invoke --resource-group <> --name <> --command "kubectl kustomize ." --file

**Describe the bug**
When trying to deploy aks periscope via aks command invoke, I am seeing the following error
Error: rawResources failed to read Resources: Load from path https://github.com/azure/aks-periscope//deployment/base?ref=v0.9 failed: evalsymlink failure on '/command-files/

[2022-07-11 05:58] RakeshMohanMSFT commented on #23154
@sebgros-ms We are unable to reproduce the issue, i could map  the application insights  successfully.

![image](https://user-images.githubusercontent.com/49954584/178198088-7f22aa65-86d3-4ebb-b1d5-688e4911e1d5.png)

Here is the command i used
`az ml workspace update -g Issue23154 -n Issue23154 --update-dependent-resources`

[2022-07-11 06:02] lakmeedee commented on #22466
If the 'intentvmsizes' parameter value in CLI translates to an array of strings while creating the ARM template, I'm good with it

[2022-07-11 06:07] bhandariakshay1601 commented on #23165
sorry, why is this put in backlog

[2022-07-11 06:22] bweissman commented on #22984
@navba-MSFT Sorry for the delay, the customer is closed this week because of a holiday. I will get back to you asap but would assume, this should work when using an identical system (probably even same python, linux distro etc.).

Thank you!

[2022-07-11 06:58] #23135 closed

[2022-07-11 07:25] v-soujanya commented on #23039
Hi @bbi-adamvengroff, we tried to repro the issue on our end, but we couldn't successful. We are able to download artifacts successfully. To look into further could you please raise a support ticket on the same and please share the artifacts details which can help us to understand better.
Thanks!

[2022-07-11 07:31] RakeshMohanMSFT commented on #23159
We are unable to reproduce the issue, we tried the following commands and they all are working as expected.
[code]
Pleasee verify your permissions once and do share the --debug trace of the non working command

[2022-07-11 08:07] meierale commented on #22230
Hi @kysucix
Thanks for the workaround... this is maybe a temporary solution, but libssl1 / openssl1 have serious CVEs! (https://security-tracker.debian.org/tracker/CVE-2022-1292 for example)
I really hope libssl3 is soon going to work!

[2022-07-11 08:51] BCOps commented on #22654
@yanzhudd - No problem, please find below:

[code]

[2022-07-11 08:53] BCOps commented on #22654
The command itself appears to run OK, but when you review the result file in the VM itself you can see the failure:

[code]

[2022-07-11 08:59] yanzhudd commented on #22654
Okay, we will check it.

[2022-07-11 09:14] jiasli commented on #23101
It seems to be some problem with the cache of the search box. All I need is to press ENTER to see https://catalog.redhat.com/software/containers/ubi9/ubi/615bcf606feffc5384e8452e

![image](https://user-images.githubusercontent.com/4003950/178230736-ae55083b-594d-4fd6-8d40-98c96f499872.png)

[2022-07-11 09:15] RakeshMohanMSFT commented on #22505
@madsaune Apologies for the delay! we are looking into it.

[2022-07-11 09:19] RakeshMohanMSFT commented on #22799
@afsalva1 Thank you for reaching out, we are looking into it.

[2022-07-11 10:32] j-oliver commented on #21149
Is there any progress here? Providing a parameters file with unused variables shouldn't be a problem. I right now have to parse out the correct parameters of my parameters.json file just to not run into a
[code]
error.
In this case I would expect the parameter `c` to just be ignored.

[2022-07-11 12:45] kysucix commented on #22230
Hi, the vulnerability is fixed in latest version of libssl, see https://ubuntu.com/security/CVE-2022-1292

[2022-07-11 12:49] kysucix commented on #22230
@yonzhan Do you have an update for a proper fix to this issue?

[2022-07-11 16:15] mjbright opened #23168 "az costmanagement is unavailable (misspelled)"
Running "az costmanagement export" tells me ```'costmanagement' is misspelled or not recognized by the system.```

Clearly the plugin is not being auto-installed as this page suggests.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e59ee9-036f-374f-3029-747d94336052
* Version Independent ID: 3d0d61b6-99bc-327

[2022-07-11 16:16] j-pedrosa opened #23169 "Missing parameter "--http-proxy-config" documentation on "az aks create" and "az aks update" command"
It's missing information related with the parameter "--http-proxy-config" on "az aks create" command and "az aks update".
This is based on the documentation below:
https://docs.microsoft.com/en-us/azure/aks/http-proxy

Please note that on az aks create help command we already have a short description of the parameter.

azure-cli                         2.36.0 *

$ az aks create -h | less | grep "h

[2022-07-11 16:17] mjbright opened #23170 "az consumption usage list - resulting error message is unclear"
I tried to use ```az consumption usage list``` and got the following error (when using the latest ```az cli```):

[code]

What's user to do ?

There should be. a simple solution to this - and that should be evoked here

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05c0768-9cfc-3b78-4f39-70a8c1f0b6bd
* Version

[2022-07-11 16:24] suntong opened #23171 "az vm create --computer-name did not set Virtual machine's Computer name"
**Related command**

`az vm create --computer-name my-vm-name`

**Describe the bug**

I use
`az vm create --computer-name my-vm-name`
to give my Virtual machine a different Computer name, however, after creation, I saw from the portal that the Virtual machine's
Computer name is still the same as the name where the snapshot is taken.

**To Reproduce**

- take a snapshot of an existing VM
- create a

[2022-07-11 16:34] SjoerdV commented on #23027
with 2.38.0 in combination with PowerShell (pwsh) I only got it to work by feeding the command a minimized json file, with the Tags in a JSON array construct

[code]

The `.temp-body-tags.json` file looked like this:
[code]

It didn't work when:
1. typing out the full JSON string manually in the final command (even when escaping all double quotes) (maybe just an issue with powershell, or some esca

[2022-07-11 19:27] isolenov commented on #23152
Hey, @yonzhan please advise what is the timeline for this request?

[2022-07-11 20:34] AdamDudley commented on #20168
Hope this helps.

Steps to reproduce

1. `az login`
2. choose your 'work' account for the email address
3. `az account set -s "subscription"`
4. choose the different account (personal) for the same email address as 2.
5. get the error

fix is

[code]

and use the same 'account' for the email address each time... user error, no bug here.

[2022-07-11 20:34] dhangerkapil opened #23173 "Invalid return character or leading space in header: Authorization"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az rest --method {} --headers {} {} --url {} --query {} -o {}`

## Expected Beha

[2022-07-11 20:36] dhangerkapil commented on #23173
command is az rest --method put --headers "Authorization=Bearer ${token}" "Content-Type=application/json;charset=utf-8" --url "${synapseLibraryUri}"

This is how I am getting token

token=$(az account get-access-token --resource ${synapseResource} --query accessToken --output tsv)

[2022-07-11 22:03] dhoorens opened #23174 "az resource update does not work with latest api-version (2022-08-01)"
**Related command**

[code]
**Describe the bug**

When running the above command without specifying the `--api-version` argument, we get an error
[code]
**To Reproduce**

Run
[code]
(with the RESOURCE_GROUP, vm_name and status populated with adequate values)

If we run
[code]
we obtain the same outcome

If we run
[code]
i.e. with the previous api-version value (i.e. 2022-03-01à, it works as expect

[2022-07-11 22:49] yonzhan commented on #23168
costmanagement

[2022-07-11 22:49] yonzhan commented on #23169
route to CXP team

[2022-07-11 22:50] yonzhan commented on #23170
route to CXP team

[2022-07-11 22:50] yonzhan commented on #23171
compute

[2022-07-11 22:55] yonzhan commented on #23173
@jiasli for awareness

[2022-07-11 22:56] yonzhan commented on #23174
ARM

[2022-07-12 01:15] atsushinak commented on #21672
Are the follow options being also tracked?
The option for the retention is needed.

[2022-07-12 01:51] zhoxing-ms commented on #23152
@isolenov Since the work of this sprint is fully scheduled, we plan to release this feature in the next sprint **(09-06)**

[2022-07-12 01:58] zhoxing-ms commented on #23174
@dhoorens It seems that there is a problem with the support of Compute service for api-version `2022-08-01`. Could you send the debug log to us for investigation? My email address is Zhou.Xing@microsoft.com, thanks!

[2022-07-12 03:34] jsntcy commented on #23168
@mjbright, could you try to install the extension manually by running the command `az extension add --name costmanagement` to see if it's installed or not?

[2022-07-12 04:04] navba-MSFT commented on #22984
@bweissman Sure. I shall wait for the updates from you.

[2022-07-12 04:14] RakeshMohanMSFT commented on #22799
@afsalva1 You seem to be not passing the json array for the storage param for eg.,
`"--storage"  "[{\\\"resourceId\\\":\\\"/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourceGroups/Issue22799/providers/Microsoft.Storage/storageAccounts/Issue22799\\\"}]"`

[More details here](https://docs.microsoft.com/en-us/cli/azure/cognitiveservices/account?view=azure-cli-latest#az-cognitiveservices-acc

[2022-07-12 04:43] navba-MSFT commented on #23169
@j-pedrosa Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-12 05:10] RakeshMohanMSFT commented on #22505
@madsaune This is fixed in the latest version, can you please upgrade to the latest version of cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-12 05:36] houk-ms commented on #22736
@zhoxing-ms any plan to improve this? :)

[2022-07-12 05:52] navba-MSFT commented on #23169
Adding Service team to look into this.

[2022-07-12 05:53] navba-MSFT commented on #23169
@Azure/aks-pm Could you please look into this issue and provide an update once you get a chance ?

[2022-07-12 07:18] navba-MSFT commented on #23170
@mjbright Thanks for reaching out to us and sharing this feedback. Cost Management supports only Enterprise Agreement, Web direct and Microsoft Customer Agreement offer types. I hope that your subscription XXXXXX is associated with a valid offer type.

Could you please run the below command and check if that helps?

Awaiting your reply.

[2022-07-12 07:20] t-bzhan commented on #18426
The content is correct now.

[2022-07-12 07:20] #18426 closed

[2022-07-12 07:56] jeiesel commented on #20231
This solution worked for me properly with 'az cli v2.38.0' thanks!

[2022-07-12 07:58] zhoxing-ms commented on #22736
@houk-ms As our work schedule for this sprint is full, we plan to optimize it in the next sprint (**09-06**). Do you think this time is acceptable? :)

[2022-07-12 08:05] evelyn-ys commented on #23131
Can't reproduce in Central US region. Can you try the steps I shared before https://github.com/Azure/azure-cli/issues/23131#issuecomment-1176878063 and verify?

[2022-07-12 08:05] yanzhudd commented on #22654
Hello @BCOps, we fix some relevant content. You can use a private package in blow link to check if it meets your expectations.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1700800&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-07-12 08:10] dennistandian commented on #22738
Hi, I am encountering the same issue now.

Which version is the bug fix released in?

Do I need to update my AZ CLI version to the latest (2.38.0)?

[2022-07-12 08:16] houk-ms commented on #22736
great

[2022-07-12 08:38] navba-MSFT commented on #22738
@tdn-revan Please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli)of Az CLI and check if that helps. If you still face the same issue after updating please open a new issue [here](https://github.com/Azure/azure-cli/issues).

[2022-07-12 09:12] jiasli commented on #23173
As you are calling MSI-installed Azure CLI from Bash script, I suspect you are hitting https://github.com/Azure/azure-cli/issues/13573#issuecomment-888791313

You may also run `az rest` with `--debug` to double confirm if `\r` is included in the argument value.

[2022-07-12 09:22] jiasli commented on #23027
For PowerShell quoting issue, you may refer to https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md. It described how to pass JSON strings.

As described in https://github.com/Azure/azure-cli/pull/22798, the supported syntax for `--set` is

[code]

If you want to directly use `{"tags":["MyTag1","MyTag2"]}` to `PATCH` the service principal, `az rest` will be the best ch

[2022-07-12 09:48] #22466 closed

[2022-07-12 10:26] RakeshMohanMSFT commented on #23051
@zioproto This issue is fixed by https://github.com/Azure/azure-cli/pull/23088

[2022-07-12 10:26] #23051 closed

[2022-07-12 10:38] jiasli commented on #7447
It seems with `setuptools` 62.6.0 installed, `disutils` imports `setuptools` and `pkg_resources`. This causes some performance regression:

[code]

![image](https://user-images.githubusercontent.com/4003950/178470856-6195244e-bafa-46a8-bc11-14378744d8bf.png)

[2022-07-12 10:45] meierale commented on #22230
Yes, we found a patched version that we can use. Still we think that installing libssl1 on an os that comes with libssl3 is an ugly hack. Unfortunately it seems to be the only way right now to get az artifacts working on ubuntu 22.04.

[2022-07-12 10:51] jiasli opened #23177 "Performance regression with latest `setuptools`"
It seems with `setuptools` 62.6.0 installed, `disutils` imports `setuptools` and `pkg_resources`. This causes some performance regression:

[code]

![image](https://user-images.githubusercontent.com/4003950/178470856-6195244e-bafa-46a8-bc11-14378744d8bf.png)

_Originally posted by @jiasli in https://github.com/Azure/azure-cli/issues/7447#issuecomment-1181600870_

[2022-07-12 11:12] jiasli commented on #23177
When packaging an MSI

https://github.com/Azure/azure-cli/blob/99c5fb4cd661ecf157ce2b42cba26c681702305e/requirements.txt#L2

is not honored, so the latest `setuptools` is installed.

[2022-07-12 11:58] RakeshMohanMSFT commented on #22723
@curlybapchap This forum is specifically for azure cli related issues and not of portal. But looking at your issue it looks like some permission issue with your account.

Read more about it here https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources?tabs=json#understand-scope-of-locks

Also if you have further questions, please open a support ticket from the portal

[2022-07-12 12:04] RakeshMohanMSFT commented on #22725
@ivana-a Thank you for reaching out. It seems to be an issue with your template and not specific to cli command.

Can you go through this thread please and let us know if it helps? https://github.com/Azure/azure-quickstart-templates/issues/680

[2022-07-12 13:51] dhoorens commented on #23174
I've removed some personal info from the log. Apart from that that's the log obtained with the --api-version set to 2022-08-01 (which BTW is funny, since we're still mid of July here...)
[code]

[2022-07-12 15:09] stccde commented on #23174
Same here running Powershell cmd:

Get-AzResource -ResourceGroupName $AZvirtualMachineRG -ResourceType Microsoft.Compute/virtualMachines -Name $AZComputerName

results in error:

<#
Get-AzResource : The value of parameter api-version is invalid.
StatusCode: 400
ReasonPhrase: Bad Request
OperationID : c7c0b1c8-a3bb-49d6-8edb-429253efab0d
At line:1 char:1
+ Get-AzResource -ResourceGroupName $AZvirtu

[2022-07-12 15:26] jjmms opened #23179 "az storage file upload fails with content-md5 parameter"
**Related command**
[code]

**Describe the bug**
The command fails due to a type error:
[code]

**To Reproduce**
1. Generate a MD5 hash of a file using:
[code]
2. Upload the file: `az storage file upload ... --content-md5 $md5Hash`

**Expected behavior**
Upload should succeed with the hash being added.

**Environment summary**
Using Azure pipeline with windows-latest:
[code]

**Additional context*

[2022-07-12 15:51] jack1902 opened #23180 "[pipelines/environments] Ability to create and configure pipeline environments via the cli"
**Related command**

`az pipelines environments create/delete/update/list` - ability to carry out the actions specified on the API (appears to only be visible on 6.0, I can't find the documentation around 7.*

https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/environments?view=azure-devops-rest-6.0

**Is your feature request related to a problem? Please describe.**

Currently,

[2022-07-12 15:51] jack1902 opened #23181 "[pipelines/environments] Ability to automatically create and configure resources"
**Related command**

`az pipelines environments resources add/delete/get --env-id ???` - ability to carry out the actions specified on the API (appears to only be visible on 6.0, I can't find the documentation around 7.*

https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/kubernetes?view=azure-devops-rest-6.0

**Is your feature request related to a problem? Please describe.**

[2022-07-12 16:22] harvey-k opened #23182 "az afd route update - required for app service connectivity"
## Describe the bug

Multiple `az afd route update` commands are required for requests to be properly sent from a Azure Front Door Standard to Azure App Service.

**Command Name**
`az afd route update`

**Errors:**
[code]

## To Reproduce:

I'm experiencing an issue when attempting to connect an Azure Front Door Standard SKU to an Azure App Service. The deployment configuration is very similar to

[2022-07-12 18:31] jainr commented on #22564
Is it working now? I am getting same error.
Command group 'quota' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
(InvalidResourceType) The resource type 'locations' could not be found in the namespace 'Microsoft.Compute' for api version '2021-03-15-preview'. The supported api-versions are '2015-05-01-preview,2015-06-15,2016-03-30,2016-04-30-previe

[2022-07-12 19:30] tgrnwd commented on #22871
There hasn't been a response on this but I was previously experiencing the behavior described by @pavanabhange and it seems to have begun functioning as I expected about 1 week ago, `authenticationSettings` is no longer being overwritten with `null` values.

[2022-07-12 22:52] a3y3 commented on #22639
bump

[2022-07-12 23:16] yonzhan commented on #23179
storage

[2022-07-12 23:17] yonzhan commented on #23180
route to CXP team

[2022-07-12 23:18] yonzhan commented on #23181
route to CXP team

[2022-07-12 23:19] yonzhan commented on #23182
route to CXP team

[2022-07-13 01:58] RakeshMohanMSFT commented on #23182
@harvey-k Thank you for reaching out, we are looking into it.

[2022-07-13 02:21] zhoxing-ms commented on #23174
The correct format should be

@stccde Why is the format of the requested URL incorrect? (such as: `//resourcegroups//`, `//virtualMachines/`)
Could you confirm whether there is extra `/` character in the value of the parameters?

[2022-07-13 02:48] blindvalentine commented on #23174
same error with az resource show

[2022-07-13 02:49] navba-MSFT commented on #23181
Adding Service team to look into this issue.

@v-anvashist, @V-hmusukula Could you please look into this ask and provide an update once you get a chance ?

[2022-07-13 02:51] navba-MSFT commented on #23180
Adding Service team to look into this issue.

@v-anvashist, @V-hmusukula Could you please look into this ask and provide an update once you get a chance ?

[2022-07-13 02:51] navba-MSFT commented on #23158
@ysguy Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-13 03:28] RakeshMohanMSFT commented on #22871
@marc-ellis-dev @tgrnwd Apologies for the delay, we are working on it. Should be fixed soon, can we please upgrade to the latest version of azure cli? https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-07-13 03:29] tang81 commented on #23174
Error is present in `az resource <whatever> --resource-type virtualMachines`.

`az resource <whatever> --resource-type [disks|]networkInterfaces|networkSecurityGroups]` seems working fine.

[2022-07-13 03:47] bebound commented on #23179
In track2 SDK, `content_md5` should be `bytearray`.
Similar issue: https://github.com/Azure/azure-cli/issues/21494

[2022-07-13 04:55] RakeshMohanMSFT commented on #23182
@harvey-k https did you get a chance to see this? ://stackoverflow.com/questions/54312954/azure-front-door-configured-site-is-returning-services-not-available. Also this forum is for azure cli issue specifically. If the issue persists after trying the suggestion provided in the stackoverflow. Please open a support ticket from the azure portal.

[2022-07-13 04:58] navba-MSFT commented on #22668
Adding Service team to look into this.

[2022-07-13 05:37] v-soujanya commented on #23039
@bbi-adamvengroff, we have tried some artifacts and got downloaded in couple of seconds and, the size of artifacts is not huge which we downloaded, we are trying to find some publicly available artifacts of size equivalent to 3GB which is nearly equivalent to your's artifacts.
The meaning of sharing artifacts details is the package which you are trying to download if you will provide access to us.

[2022-07-13 06:00] RakeshMohanMSFT commented on #20123
@philipsd6 Apologies for the delay. Can you please try upgrading to latest Azure CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? it has been fixed.

[2022-07-13 06:04] RakeshMohanMSFT commented on #19873
@guestdj Let us know if suggestion of @jamesryanuk works for you

[2022-07-13 06:14] RakeshMohanMSFT commented on #20573
@mahfooziiitian Apologies for the delay, can you upgrade to the latest version of CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and see if that fixes the issue for you?

[2022-07-13 06:20] RakeshMohanMSFT commented on #20341
@ngoc7sao9 Since we need no further update from you, we are closing this issue

[2022-07-13 06:20] #20341 closed

[2022-07-13 06:24] RakeshMohanMSFT commented on #20471
@ShafeerAli Can you please upgrade to the latest version of CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-13 06:31] RakeshMohanMSFT commented on #20787
@kurt-mueller-osumc Can you try the latest version of Azure CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)?

[2022-07-13 06:38] dvasdekis opened #23183 ""az account get-access-token --scope ..." fails on Azure Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When running in Azure Cloud Shell (pressing button from portal.azure.com), the `az account get-access-token --scope ...` command fails, but it works fine on my PC. This happens regardless of running `az login --identity` (which succeeds) or not.

**Command Name**
`az account get-access-token`

**Errors:**
[cod

[2022-07-13 06:40] zhoxing-ms commented on #23174
Because CLI has no special processing logic, this should be the problem related to Compute RP or ARM service, so the service team needs to investigate it

[2022-07-13 06:41] #22995 closed

[2022-07-13 06:43] dhoorens commented on #23174
@zhoxing-ms because I explicitly removed the info about the resourcegroup and vm (and other sensitive stuff) from the log.

[2022-07-13 07:12] jiasli commented on #23183
Cloud Shell only allows limited set of scopes. See https://github.com/Azure/azure-cli/issues/11386

[2022-07-13 07:12] #23183 closed

[2022-07-13 07:20] navba-MSFT commented on #23158
@ysguy On your windows machine you could navigate to your user profile directory and then run the below command:

Generated SSH certificate C:\Users\XXXX\.ssh\az_ssh_config\11.22.33.44\id_rsa.pub-aadcert.pub is valid until 2022-07-13 01:30:27 PM in local time.
C:\Users\XXXX\.ssh\az_ssh_config\11.22.33.44 contains sensitive information (id_rsa, id_rsa.pub, id_rsa.pub-aadcert.pub). Please delete it

[2022-07-13 07:48] prakash-indorkar opened #23184 "Error while trying to list sp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp list --all`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp list --all`

## Expected Behavior

## Environment Summary
[

[2022-07-13 08:01] #22942 closed

[2022-07-13 08:31] yonzhan commented on #23184
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-07-13 08:31] #23184 closed

[2022-07-13 09:22] madsaune commented on #22505
Can confirm it works in latest version 2.38.0 of azure-cli on my system. Thank you very much!

[code]

[2022-07-13 09:25] #22505 closed

[2022-07-13 09:41] ZengTaoxu commented on #22564
Quota does not currently support Compute PR.

[2022-07-13 10:03] mvvsubbu commented on #21608
We have completed milestone 1 targeted at 6/30 and published swagger for that milestone in Public Repository with API version 2022-04-01-preview: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/databricks/resource-manager/Microsoft.Databricks/preview/2022-04-01-preview

Working milestone 2 for which is targeted to be released by 10/31.

[2022-07-13 10:41] EarthlyAlien opened #23188 "Replace `az ml compute` commands with `az ml computetarget` commands instead."
`az ml compute` commands don't work anymore. `compute` is replaced by `computetarget` as per suggestions from Azure CLI.

![image](https://user-images.githubusercontent.com/29950445/178715062-03016925-bf30-4cb4-80d3-fd919c009396.png)

But, docs weren't updated yet.

![image](https://user-images.githubusercontent.com/29950445/178715219-57070835-2af6-4571-af05-ed7ec0cecebc.png)

So, please update th

[2022-07-13 10:43] navba-MSFT commented on #20475
Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-13 11:13] zzrik commented on #14165
We have the same issue as well. It's been 2 years now...

[2022-07-13 11:14] BCOps commented on #22654
@yanzhudd - Yes I can confirm this behaves as expected. I can now access regular and protected parameters as desired. Protected parameters are also not exposed in the settings file on the VM, also as expected. It looks like #23175 will fix the issue correctly. Thank you!

[2022-07-13 12:48] Red1971 commented on #14165
I had this issue in Azure devOps call the Az modules in the pipeline step. The way around this for me was using an ARM template in the deployment pipeline...

{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscriptionID": {
            "type" : "string"
        },
        "resourceGr

[2022-07-13 13:21] dabenhamMic opened #23190 "LogAnalytics: Az Resource update to disable localAuth in Log Analytics does not give output."
**Related command**

 az resource update

**Describe the bug**

 az resource update --ids \\'/subscriptions/fd8f8530-c2c7-413d-84d0-a5ba6f4fd064/resourcegroups/ertv2-prod-ccoe-rg/providers/microsoft.operationalinsights/workspaces/ertv2-prod-ccoe-law\\' --set properties.features.disableLocalAuth=true

This gives no output, even though the change seems to occur.

**To Reproduce**

**Expected behavio

[2022-07-13 13:21] AzySir opened #23191 "Example of az sigs --tags on documentation"
Hi there - can someone please review the documentation and provide a nice and clean example with an updated definition of how to use the --tags for sigs (https://docs.microsoft.com/en-us/cli/azure/sig?view=azure-cli-latest)

[code]

^^ This literally has no meaning - anyone who has not use to azure/windows would get lost with this. Please update and provide an example

[code]

Let's ignore the abs

[2022-07-13 13:29] yonzhan commented on #23190
ARM

[2022-07-13 13:30] yonzhan commented on #23191
Compute

[2022-07-13 13:33] john3939 opened #23192 "az login failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
cannot login to az since yesterday
i have no problem to go to azure portal, just azcli is not letting me on
**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-

[2022-07-13 13:59] RakeshMohanMSFT commented on #23188
@EarthlyAlien Thank you for reaching out to us, we are looking into it.

[2022-07-13 14:04] #23192 closed

[2022-07-13 14:13] ysguy commented on #23158
That folder contains nothing other than the file 'known_hosts'

I traced the ssh session with a -- -v and it is writing to %temp% folders with temporary copies of the keys.
Note: 1.1.1.1 has been substituted for the actual IP. myuserid has been substituted for actual external VM IP address. as you can see the session is generating a dynamic certificate and dumping it into a temp\aadsshcertg_<rando

[2022-07-13 14:22] zhoxing-ms commented on #23190
@dabenhamMic We need to confirm whether the REST service returned data to client side. Could you send me the debug log by email? My email address is Zhou.Xing@microsoft.com

[2022-07-13 14:56] jainr commented on #22564
Can you give me few examples of what command currently works? I am trying to check quota for Purview, Synapse and SQL DB.

[2022-07-13 15:28] dbiegunski opened #23193 "az ad app update --id $clientId --reply-urls $oauthCallbackURL returns unrecognized arguments: --reply-urls"
**Related command**
az ad app update --id $clientId --reply-urls $oauthCallbackURL

**Describe the bug**
unrecognized arguments: --reply-urls

Was this flag changed by another one ? What would be the new equivalent ?

Thank you so much

[2022-07-13 15:43] bbi-adamvengroff commented on #23039
Ah yeah I definitely can't share the artifact we are trying to download. I'm guessing you guys can't make a pipeline that just uploads a 3gb dummy file? That said, it's hard to repro the issue - are you unable to look at `ArtifactHttpRetryMessageHandler.SendAsync`'s code to check for a 15 minute timeout?

[2022-07-13 16:05] marcelo321 commented on #18333
@jiasli @CarolineNB,

Is there any other solution other than to login again? I use az cli with a lot of scripts and automation and this is totally breaking it, having to log out and log in again is not a very good solution to this problem that comes back every few weeks.

[2022-07-13 16:44] marcelo321 commented on #16457
Hi, this keeps happening over and over again and it gets pretty annoying. I fix it but the error comes back after a few weeks or so @qwordy @[CarolineNB](https://github.com/CarolineNB)

[2022-07-13 17:46] LiliDeng opened #23194 "az sig image-version create --tags break in version 2.38.0-1"
Install latest version Azure CLI on ubuntu 1804
run ```az sig image-version create .... --tags test=true``` encounter this error ```
Parameter 'tags' must be of type 'dict[str, str]'```, downgrade version into 2.37.0-1, it works well.

[2022-07-13 19:15] ecdpalma commented on #20393
Same.

[code]

az --version
azure-cli                         2.38.0

core                              2.38.0
telemetry                          1.0.6

Extensions:
storage-preview                    0.8.2
interactive                        0.4.5
stream-analytics                   0.1.1
azure-iot                         0.14.0
datafactory                        0.5.0
account

[2022-07-13 19:41] ssmm0708 opened #23195 "az upgrade error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-07-13 19:48] pinakighatak commented on #19471
Almost a year later, and this problem still exists. How do you to `az aks create` in a CI CD pipeline?

[2022-07-13 19:49] davystrong opened #23196 "Machine Learning Studio: Allow multiple paths in input_data for parallel run steps"
**Related command**

`az ml job create -f deployment_configs/inference_pipeline.yaml -s`

**Is your feature request related to a problem? Please describe.**

I need to run batched inference when data is added to a blob storage folder. For example, I have a container with three folders, A, B and C. I add two more folders, D and E. I would like to run a parallel inference pipeline and give it these

[2022-07-13 22:18] yonzhan commented on #23193
@jiasli for awareness

[2022-07-13 22:22] yonzhan commented on #23194
Compute

[2022-07-13 22:23] yonzhan commented on #23195
az upgrade

[2022-07-13 22:24] yonzhan commented on #23196
route to CXP team

[2022-07-13 23:23] #22166 closed

[2022-07-13 23:24] #22202 closed

[2022-07-13 23:26] ProDataMan opened #23198 "cant create role: KeyError: '8ef107d8-4d07-4eae-ac0c-aee17ddb391e'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2022-07-13 23:28] yonzhan commented on #23198
@jiasli for awareness

[2022-07-14 01:55] evklein opened #23199 "az containerapp no longer supporting environment variables with certain characters"
**Related command**
`az containerapp update`

**Describe the bug**
When an Azure Container app has an environment variable with characters that are not: 'a-z, A-Z, 0-9 and _', `az containerapp` will not work and will deliver the following error message:

`ERROR: Env variable name 'your-env-variable' contains invalid character, allowed characters are 'a-z, A-Z, 0-9 and _'`

Originally reported here

[2022-07-14 02:13] yonzhan commented on #23199
route to CXP team

[2022-07-14 02:24] jsntcy commented on #22564
@rahuls-microsoft, could you please help provide some information?

[2022-07-14 02:27] rahuls-microsoft commented on #22564
The Microsoft.Compute Resource provider is not supported yet, only Microsoft.Network Resource provider is supported through this Api. We will notify when more RPs are onboarded. Currently QuotaRP is in private preview, so all the subscriptions will not have access to the APIs. We will notify, when it's public preview starts.

[2022-07-14 02:41] yanzhudd commented on #22654
Okay, glad this modification can meet your expectations. Yes, we will fix it in #23175.

[2022-07-14 02:43] amy-chue commented on #21377
Thank you! Works like a magic!!

[2022-07-14 02:43] amy-chue commented on #21377
Thank you! Works like a magic!!

[2022-07-14 02:55] #22654 closed

[2022-07-14 03:03] miguelarcilla opened #23201 "[Docs] The long summary field for the `az aks enable-addons` command is poorly spaced and hard to read."
**Related command**
az aks enable-addons

**Describe the bug**
The long summary field for the `az aks enable-addons` command is poorly spaced and hard to read.

**To Reproduce**
Navigate to https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest and review the long summary of the az aks enable-addons command.

**Expected behavior**
More readable description of available add-ons.

**En

[2022-07-14 03:10] RakeshMohanMSFT commented on #23201
@miguelarcilla Thank you for reaching out, we are looking into it.

[2022-07-14 03:32] ramankumarlive opened #23202 "Unable to create a VM with PremiumV2_LRS disks"
**Related command**
az vm create

**Describe the bug**
I am getting the following error while creating a VM with Premium v2 with the latest CLI SDK. Can you please look into the issue?

raman@ramanlaptop:/mnt/c/Users/ramankum$ az vm create -n $vmName -g $resourceGroupName \

{"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please l

[2022-07-14 03:37] navba-MSFT commented on #23199
@evklein Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-14 03:38] navba-MSFT commented on #23174
@dhoorens Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-14 03:42] yonzhan commented on #23202
@zhoxing-ms for awareness

[2022-07-14 03:52] yonzhan commented on #23201
route to CXP team

[2022-07-14 03:52] tdn-revan opened #23203 "Unable to execute az command invoke in a private cluster"
**Related command**
az command invoke

**Describe the bug**
While running az command invoke to run kubectl commands, it returns an error.
`(KubernetesOperationError) Failed to run command due to cluster perf issue, container command-5672af31a4494f459c14f0bf5e44215c in aks-command namespace did not start within 30s on your cluster, retry may helps. If issue persist, you may need to tune your cluste

[2022-07-14 03:53] yonzhan commented on #23203
route to CXP team

[2022-07-14 03:54] tdn-revan commented on #22738
Still faced the same error even with the latest version (2.38.0). Have raised another issue [here](https://safe.menlosecurity.com/https://github.com/Azure/azure-cli/issues/23203).

[2022-07-14 03:55] tdn-revan commented on #23203
Do let me know if you need the `--debug` output.

[2022-07-14 05:38] jainr commented on #22564
Is there any other way to find quota for  Purview, Synapse and SQL DB? I couldn't find it on portal.

[2022-07-14 05:39] navba-MSFT commented on #23158
@ysguy Try running the below command and check where the key is being saved:

This will help in finding the default location used by the ssh. In my machine it is using the user profile.

You can then navigate to that path and then run the below command using the switch` --keys-destination-folder`  and check if that helps:

[2022-07-14 06:34] tdn-revan commented on #23203
Please see below debug output.

`[root@7c78fa9a337d azp]# az aks command invoke -g <<RESOURCE_GROUP>> -n <<AKS_NAME>> -c "kubectl get pod -A" --debug
cli.knack.cli: Command arguments: ['aks', 'command', 'invoke', '-g', '<<RESOURCE_GROUP>>', '-n', '<<AKS_NAME>>', '-c', 'kubectl get pod -A', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute

[2022-07-14 06:36] zenfish opened #23204 ""az consumption" is almost worthless because of how long it takes to execute"
**Related command**

az consumption usage list

**Describe the bug**

The command takes a RIDICULOUSLY long time to complete. Combined with essentially zero parallelization (which I'll file another issue on after this one) it takes longer than a day to get cost data for our tenant.  This means I can't run daily reports on cost, which is simply absurd.

**To Reproduce**

`az consumption usage list

[2022-07-14 06:40] yonzhan commented on #23204
route to CXP team

[2022-07-14 06:50] zhoxing-ms commented on #23202
@ramankumarlive CLI uses the api-version `2022-03-01`, which is higher than the minimum required api-version `2021-12-01`. Therefore, this may be the problem of ARM service or Compute RP service.
Please contact the service team to investigate the root cause of this error message, thanks!

[2022-07-14 07:08] Chrisw32 commented on #23038
Might be unrelated to you, as you could actually mean to create a "setting" but I ran into the same issue and noticed that the application gateway has 2 different "settings" a "settings" and a "http-settings". Querying our existing application gateway showed that the "Backend settings" shown in the portal are actually "http-settings".
https://docs.microsoft.com/en-us/cli/azure/network/application-

[2022-07-14 07:19] jiasli commented on #23193
This is due to the Microsoft Graph migration.

- We documented the Microsoft Graph migration at https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration:

- In Azure CLI 2.34.0~2.37.0, we print a warning for the Microsoft Graph migration: https://github.com/Azure/azure-cli/pull/21302
- We also pinned issue https://github.com/Azure/azure-cli/issues/22580

[2022-07-14 07:19] #23193 closed

[2022-07-14 07:21] zhoxing-ms commented on #23194
I believe these version numbers are unofficial like https://github.com/Azure/azure-cli/issues/23094#issuecomment-1173262831
It should be related to issue https://github.com/Azure/azure-cli/issues/19640 @jiasli Please be aware

[2022-07-14 07:25] LiliDeng commented on #23194
we encounter this issue on ADO pipeline, then I install latest version on ubuntu following this guide https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-1-install-with-one-command, repro this issue.

[2022-07-14 07:34] navba-MSFT commented on #23199
@evklein Could you please share the `--debug` output here ? I feel that this issue isn't related to the Container App but the underlying image OS type.

The bash manual mentions this clearly ([here](http://www.gnu.org/software/bash/manual/bashref.html#Definitions))

A word consisting solely of letters, numbers, and underscores, and beginning with a letter or underscore. Names are used as shell var

[2022-07-14 07:39] jiasli commented on #18333
@marcelo321, you may manually edit the `~/.azure/accessTokens.json` file to make the time match ADAL standard, but ADAL-based Azure CLI along with its `~/.azure/accessTokens.json` have been deprecated and not supported anymore. Please see https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows

[2022-07-14 07:45] jiasli commented on #23198
Could be duplicate of https://github.com/Azure/azure-cli/issues/23160

[2022-07-14 08:25] RakeshMohanMSFT commented on #23201
@miguelarcilla Unfortunately these are auto generated documents, there are very limited options we have to control the way these document descriptions are rendered.

[2022-07-14 09:46] zhoxing-ms commented on #23190
@dabenhamMic OK, could you send the output results of CLI to me by email? My email address is [Zhou.Xing@microsoft.com](mailto:Zhou.Xing@microsoft.com)

[2022-07-14 10:53] evklein commented on #23199
@navba-MSFT Sure, here:

![image](https://user-images.githubusercontent.com/5017975/178966448-ae2e00df-a07f-476e-9572-c774d2c47a4b.png)

This is understandable, however I do want to emphasize that just a few days ago this was working, and I have made no changes to the OS I am using for deployment, both in the Github action and in the Dockefile.

[2022-07-14 10:56] navba-MSFT commented on #23199
@evklein Could you please run the az --version command and share the output here ?

[2022-07-14 10:57] dabenhamMic commented on #23190
I will ask Eduardo Rosa from the Icm to send it to you

[2022-07-14 11:03] evklein commented on #23199
@navba-MSFT
![image](https://user-images.githubusercontent.com/5017975/178968321-3777cf47-402e-40aa-a826-bbbfd462d536.png)

Looks like I'm up to date using 2.38.0

[2022-07-14 11:47] evklein commented on #23199
For anyone stumbling across this issue in a similar spot - I ended up removing my Azure Container App service and starting over from scratch with an Azure app service on the free tier. Azure app services have an option for database connection strings that don't follow these env-specific rules so deployment was pretty quick.

Happy to help continuing to work through this, although it sounds like th

[2022-07-14 12:46] RakeshMohanMSFT commented on #21575
@ant0nsc This document is updated. Closing the issue

[2022-07-14 12:59] aherbst-broad opened #23208 "az managedApp show --name with a valid MRG name fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Attempting to `show` an azure managed app with a valid name results in the stack trace below.

**Command Name**
`az managedapp show --name <redacted>`

**Errors:**
[code]

## To Reproduce:
- `az managedapp show -n {}`

## Expected Behavior
There should be no uncaught exception.

## Environment Summary
[code]
##

[2022-07-14 13:02] yonzhan commented on #23208
route to CXP team

[2022-07-14 15:00] jiasli commented on #23177
Could you share the command you used? We can help verify. @evelyn-ys

You way report this issue to https://github.com/hashicorp/terraform-provider-azurerm instead.

[2022-07-14 15:08] jiasli commented on #23177
Besides, REST API doc also uses curly brackets as placeholders, such as

https://docs.microsoft.com/en-us/rest/api/resources/resource-groups/list

![image](https://user-images.githubusercontent.com/4003950/179015116-ab57e22b-1529-469e-982f-5ca6b1959982.png)

[2022-07-14 15:20] sirfamelin commented on #23144
Interesting, I did not realize that `--enable-secure-boot` and `--enable-vtpm` were defaulted to false and optional already. It seems like we don't really have choice but to wait until Ignite. Does that mean I should raise the request in the beginning of October?

In the meantime, a warning message will do. Something like "Please set --enable-secure-boot to True and --enable-vtpm to True in order

[2022-07-14 15:29] sirfamelin commented on #23144
@zhoxing-ms just curious about the breaking changes that are allowed. How "breaking" can breaking changes be during the bin-annual releases? I am thinking to potentially change the --enable-secure-boot and --enable-vtpm to switch parameters.

[2022-07-14 16:27] panchagnula commented on #23058
@StrawnSC looking at the stack this doesn't seem like a CLI issue rather may be a runtime problem. Given this SKU Basic , please check if log streaming is supported on Linux for this.

[2022-07-14 16:29] ysguy commented on #23158
I think the crux of the issue is that a lot of people create local SSH credentials inside the VM and export them to the client, hence the sharing of the keys. I am NOT using this method, i am using my Azure AD account with MFA to log into the VM.  I am assuming because this is the case there is some dynamic generation of tokens occuring allowing a one-time session to the VM which in turn refreshes

[2022-07-14 17:01] farchide commented on #23193
We have a managed service fabric deployment and we should set Reply-url for SPN to properly configure the Explorer. What would be the replacement for that?

[2022-07-14 17:32] yogspatel commented on #13614
I am having this same error message trying to create a cross subscription private endpoint for Azure Cache for Redis.

`az network private-endpoint create -g myRG -n myEndpointName --subnet "/subscriptions/1xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx1/resourceGroups/myNetworkRg/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/subnet-10.0.1.0" --private-connection-resource-id "/subscriptions/2xxxxx

[2022-07-14 19:09] reiinoldo commented on #23125
The same happens when I try to get the objectId

`az ad user show --id userEmail --query objectId`

[2022-07-14 21:24] matthchr opened #23212 "az resource list with --query parameter returns inconsistent results across multiple runs"
**Related command**
az resource list --tag freeforpipeline=true --query "[?type=='Microsoft.ContainerService/managedClusters']" --debug

**Describe the bug**
`az resource list` with `--query` parameter returns inconsistent results across multiple runs. I have used the `--debug` flag and can clearly see that the service is returning the correct data in the GET request payload, but that data is not

[2022-07-15 00:07] yonzhan commented on #23212
ARM

[2022-07-15 00:45] hugoaponte commented on #23078
Thanks for reporting this. We identified a bug, and we are working on a fix for the next release.

Hugo

[2022-07-15 00:55] jiasli commented on #23193
@farchide, that depends on your scenario to choose whether `--web-redirect-uris` or `--public-client-redirect-uris`. You may contact AAD support if you have questions about the service usage.

[2022-07-15 00:59] jiasli commented on #23125
@manschoe, your problem is similar to https://github.com/Azure/azure-cli/issues/23017

@reiinoldo, as stated in https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration, `objectId` is now `id`.

[2022-07-15 01:05] Joelith commented on #23079
This can be resolved by passing `--priority XXXX` to the command. The documentation should be updated as this is marked as an optional field. See: https://docs.microsoft.com/en-us/cli/azure/network/application-gateway?view=azure-cli-latest#az-network-application-gateway-create

[2022-07-15 02:02] yonzhan commented on #23190
@dabenhamMic do you have any update from Eduardo Rosa?

[2022-07-15 02:03] zhoxing-ms commented on #23144
Yes, we only add warning logs to inform users of migration usage first and then wait until the next breaking change release **Ignite** to modify the default behavior, this is the best solution I can think of that will have the least impact on users at present.

For more details about the CLI breaking change process, you can refer to this draft guideline [doc link](https://msazure.visualstudio.com/

[2022-07-15 02:59] navba-MSFT commented on #23203
@tdn-revan Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-15 03:39] navba-MSFT commented on #23170
@mjbright I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  have any update on this. Awaiting your reply.

[2022-07-15 03:50] RakeshMohanMSFT commented on #23208
@aherbst-broad Thank you for reaching out, we are looking into it.

[2022-07-15 04:05] jiasli commented on #19276
On a second thought, [Tenants - List](https://docs.microsoft.com/en-us/rest/api/resources/tenants/list) is only called by

https://github.com/Azure/azure-cli/blob/397db42b035255ec59812dd5f71586a6693c1c2b/src/azure-cli-core/azure/cli/core/_profile.py#L720

On the other hands, if `--tenant` is provided to `az login`, Azure CLI directly gets an access token for the provided tenant and calls

https://

[2022-07-15 05:17] navba-MSFT commented on #23199
@evklein This isn’t a CLI issue. This occurs in the portal as well. This bug is a duplicate of this issue on the container apps github repo: https://github.com/microsoft/azure-container-apps/issues/308 . So we will close this as a duplicate and you can track this issue in the container apps repo.

[2022-07-15 05:17] #23199 closed

[2022-07-15 05:24] navba-MSFT commented on #23203
@tdn-revan

Feature | AAD | AAD RBAC | Local Accounts | Outcome
-- | -- | -- | -- | --
noazrbacnoaad | No | No | No | Works
noazrbac | Yes | No | No | Doesn't
localnoaad | Yes | No | Yes | Doesn't

[2022-07-15 07:47] JoranDox opened #23215 "Virtualenv step failing in install script"
**Related command**

N/A, installation fails

**Describe the bug**

Literally just running the installation with all defaults and get this:
[code]

**To Reproduce**

`curl -L https://aka.ms/InstallAzureCli | bash`

**Expected behavior**

AZ command line gets installed

**Environment summary**

Manjaro linux
python3.10

**Additional context**

[2022-07-15 07:57] miguelarcilla commented on #23201
Thanks @RakeshMohanMSFT understood on the limitation. I opted to create an issue rather than create a pull request because I myself did not understand how to write it to be formatted properly.

If there is a larger issue for similar cases this can be linked to, I would request it be linked. Otherwise I think it can be closed.

[2022-07-15 08:05] zhoxing-ms commented on #23212
Routing request from WestUS cases it like this: Microsoft.ContainerService/managedClusters
Routing request from WestCentralUS cases it like this: microsoft.containerservice/managedclusters

The `--debug` parameter is case sensitive which is by designed, because it uses the [jmespath](https://jmespath.org/) syntax.
This requires the REST service to solve the problem of inconsistent case

[2022-07-15 08:09] RakeshMohanMSFT commented on #23201
@miguelarcilla for now i will go ahead close the issue, but if we see multiple issues for the same i will link this to those issues.

[2022-07-15 08:09] #23201 closed

[2022-07-15 08:35] pp185214 opened #23216 "az storage file upload-batch --dryrun - FAILED"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage file upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage file upload-batch --dryrun --destination {} --so

[2022-07-15 09:23] yonzhan commented on #23215
@jiasli for awareness

[2022-07-15 09:25] yonzhan commented on #23216
storage

[2022-07-15 09:43] RakeshMohanMSFT commented on #23216
@pp185214 We are unable to reproduce the issue using this command

`az storage file upload-batch --destination <baseurl>/issue23216file --source . --account-key <accountkey> --pattern "*"`

Can you share the pattern you used, the file type and the some sample names of those files? for us to reproduce the issue.

If possible the debug trace of the same.

[2022-07-15 09:48] steerben commented on #11315
+1 as it supports multitenancy.
Scope maps are great but whildcard support on the namespaced repos is really mandatory to leverage it to the full extent.
Otherwise this is a huge maintenance overhead when it comes to increase and reduce scopes of the scope maps for every repo.

[2022-07-15 10:18] RakeshMohanMSFT commented on #23191
@AzySir `az sig update -g Issue23191 -r issue23191gallery --set tags.tag1=tag1 tags.tag2=tag2` This should work for you. I will get the document updated soon.

[2022-07-15 10:26] omkarchavan-shell opened #23217 "error while running az aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-07-15 10:33] rafalslaby commented on #23194
Seeing the same issue on azure-cli/focal 2.38.0-1~focal. We're forced to downgrade to 2.37.0-1 as a workaround

[2022-07-15 10:42] yonzhan commented on #23217
route to CXP team

[2022-07-15 12:34] RakeshMohanMSFT commented on #23048
@cleconte987 Can you please upgrade to the latest version of cli and try again? the latest version is [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). We are unable to reproduce it. If you still face the issue after upgrading, please share the --debug trace log with us for further troubleshooting.

[2022-07-15 12:35] ayush-6d commented on #14695
Hi, @adrianhall  please help me i useing this in body

 --body "{\"properties\":{\"method\":\"PUT\"},\"value\":\"<policies><inbound><base/><corsallow-credentials="false"><allowed-origins><origin></origin></allowed-origins><allowed-methods><method>GET</method><method>POST</method><method>PATCH</method><method>DELETE</method></allowed-methods><allowed-headers><header></header></allowed-headers></cor

[2022-07-15 12:39] RakeshMohanMSFT commented on #22905
@KathySundar if you are trying to create resource group, please use this command https://docs.microsoft.com/en-us/cli/azure/group?view=azure-cli-latest#az-group-create.

[2022-07-15 13:16] GavBurke commented on #23082
This was happening in my VSCode devcontainer, which even after recreating was still failing.  I've gone back to it today to see how I could update the az cli inside the container but now it works fine

[2022-07-15 13:41] Maashkinoozhe opened #23218 "az lock create , On sql database causes error"
## Describe the bug
I tried to create a cannotdeletelock on an sql database.

It works with Powershell New-AzResourceLock but not with azure cli.

**Command Name**
`az lock create`

**Errors:**
[code]

## To Reproduce:
Use this command with an existing sql database.

- _Put any pre-requisite steps here..._
- `az lock create --name <lockName> --resource-group <rgName> --lock-type CanNotDelete --res

[2022-07-15 14:03] GavBurke commented on #23082
In actual fact, when I first opened my devcontainer just now and run "az storage blob download", that command executed fine, (except of course it reports I'm missing arguments).

I then run our deploy command, which uses some Python code to fetch the Azure config (using os.sh.az(args)), and it's at that point that the issue arises, giving the error about the "NoneType", and that then somehow makes

[2022-07-15 14:08] GavBurke commented on #23082
Actually, then even "az storage blob" gives an error, if it helps narrow down the issue....
[az storage blob.txt](https://github.com/Azure/azure-cli/files/9121479/az.storage.blob.txt)

[2022-07-15 14:54] antonGritsenko opened #23219 "Can't delete DNS record with the Complete deployment mode."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The DNS record is not deleted with the Complete deployment mode.

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
1. Create bicep file sample.dns.bicep:
[code]
2. Run the deployment
`az deployment group create --name test1 --resource-group dns-test  --template-file .\sample.d

[2022-07-15 15:17] EarthlyAlien commented on #23188
Apologies for the confusion. Understood the difference. Apparently I installed older extension [v1](azure-cli-ml) instead of newer extension [v2](ml).

Sorry about that. Everything's fine now. But, it'd be better if you could add the `az extension add --name ml` for v2 commands and `az extension add --name azure-cli-ml` for v1 commands.

[2022-07-15 15:17] #23188 closed

[2022-07-15 16:20] panchagnula commented on #22953
@diberry what was the discussion / conclusion here?

[2022-07-15 16:27] panchagnula commented on #22934
Thanks for reporting, We will ensure the consistency b/w the commands. Need to verify this needs to be done for LA as well?
https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-delete

[2022-07-15 16:29] panchagnula commented on #22789
This is not something being considered for up at this time. We will add this to our internal backlog as a feature request, so we can discuss/ track this as needed. Thanks!

[2022-07-15 16:29] #22789 closed

[2022-07-15 16:29] panchagnula commented on #22767
thanks for reporting. We will investigate & fix.

[2022-07-15 16:31] diberry commented on #22953
@panchagnula

The discussion was that a slot can get into an unknown state or the swap can fail, there isn't any help from the Azure CLI to debug that situation. The conclusion was that the Azure CLI should be able to report in some way to be able to debug a slot state.

[2022-07-15 16:31] panchagnula commented on #22731
@StrawnSC is this being tracked with an ADO work item? If so can you create one, so we can track the updates & status of this during scrum.

[2022-07-15 16:33] panchagnula commented on #22713
Thanks for reporting, we will add support for clean up of resources.

[2022-07-15 16:34] panchagnula commented on #22599
Thanks for reporting this is a runtime issue & not CLI specific.

[2022-07-15 16:38] panchagnula commented on #22953
Thanks- CLI can report if there is an API for us to use. From reading this issue, this is not CLI specific & occurs on portal as well. Hence, a backend. approach, may be exposing in logs will help all clients surface the issue to the user.

[2022-07-15 16:51] panchagnula commented on #22129
@TeisTheDevOps please create a support cases for the feature team to look at this & help. This doesn't seem like a CLI issue. Thanks!

[2022-07-15 19:00] erniedavisAA opened #23220 "BUG STILL EXISTS - module 'time' has no attribute 'clock' in v2.38.0"
**Related command**
after first running login successfully, any subsequent command produces the error "module 'time' has no attribute 'clock'" in v2.38.0

File "/venv/lib/python3.9/site-packages/azure/cli/core/_session.py", line 46, in load
if st.st_mtime + max_age < time.clock():
AttributeError: module 'time' has no attribute 'clock'

for example: after running login successfully, running 'accoun

[2022-07-15 22:36] yonzhan commented on #23218
ARM

[2022-07-15 22:37] yonzhan commented on #23219
ARM

[2022-07-15 22:45] yonzhan commented on #23220
@jiasli for awareness

[2022-07-16 00:42] mbreslav opened #23221 "unable to add extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --name {}`

## Expected Behavior

## Environment Summa

[2022-07-16 00:45] mbreslav commented on #23221
:/$ az extension add --name webapp --debug
cli.knack.cli: Command arguments: ['extension', 'add', '--name', 'webapp', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f8fc333bbe0>, <function OutputProducer.on_global_arguments at

[2022-07-16 00:46] mbreslav commented on #23221
I don't know why there would be a permission error since azure cli is creating the /opt/az directory in the first place. I've tried running with sudo which avoids those errors but it doesn't result in a proper install either.

[2022-07-16 01:01] yonzhan commented on #23221
Add @kairu-ms for awareness

[2022-07-16 08:50] glaubitz opened #23222 "Please bump argcomplete dependency to 2.0.0 or higher"
The `azure-cli-core` component still depends on `argcomplete ~= 1.8` while 2.0.0 has been available since Jan 3, 2022.

Could you bump the version for `argcomplete` so that Linux distributions are not stuck in older versions of the dependency?

[2022-07-16 09:58] ghost opened #23223 "azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-16 13:26] yonzhan commented on #23223
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-07-16 13:26] #23223 closed

[2022-07-16 13:27] yonzhan commented on #23222
bump argcomplete

[2022-07-16 21:14] dsv591 commented on #22994
This was caused by the user's proxy configuration, which provided a key that was 128 bytes long (SECLEVEL 2 required 256 bytes as minimum).

After updating the proxy configuration, the issue was resolved.

[2022-07-16 21:14] #22994 closed

[2022-07-17 20:02] khaleelyousuff81 opened #23224 "Unable to install kubectl using az aks install-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-07-17 21:24] mushkhan35 opened #23225 "Error CLI command creating new container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --account-name {} -n {} --public

[2022-07-18 00:19] yonzhan commented on #23224
route to CXP team

[2022-07-18 00:19] yonzhan commented on #23225
storage

[2022-07-18 01:30] evelyn-ys commented on #23082
Seems like the dependency is broken. Probably Python SDK `azure-mgmt-storage` or `azure-multiapi-storage` was not installed properly. CLI has to fetch some enum definitions from SDK but if no SDK found `'NoneType' object is not iterable` would be raised.

Please check if CLI is installed successfully. FYI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-07-18 01:31] evelyn-ys commented on #23225
Can you confirm `gp1707v1` storage account exist?

[2022-07-18 02:14] jiasli commented on #23222
`argcomplete` will be bumped by https://github.com/Azure/azure-cli/pull/22991

[2022-07-18 02:18] jiasli commented on #23220
Please see https://github.com/Azure/azure-cli/issues/19504#issuecomment-915869524

`AttributeError: module 'time' has no attribute 'clock'` has long been fixed by `azure-cli-2.0.77` (https://github.com/Azure/azure-cli/pull/10777). The current code is:

https://github.com/Azure/azure-cli/blob/fa307d6fdfea663e64977c4bbf8a3dbee5d97753/src/azure-cli-core/azure/cli/core/_session.py#L35

I highly doubt

[2022-07-18 02:24] tdn-revan commented on #23203
This doesn't solve our issue. Our current requirement requires us to enable both AAD and RBAC.

Are you implying that this setup is not supported for usage of `az aks command invoke`? If so, please share use the link to the documentation.

[2022-07-18 02:44] QuantumAtom opened #23226 "Kubenetes Cluster setup time-out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I was practicing setting up a Kubernetes Cluster for AZ-104 and it timed out after 1.5 hours(?). I did it again a few days later and it still timed out. Just letting you know. Thank you.

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument v

[2022-07-18 03:26] navba-MSFT commented on #23224
@khaleelyousuff81 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-18 03:27] navba-MSFT commented on #23226
@QuantumAtom Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-18 03:46] yanzhudd commented on #22751
Hello @zdelacerda-microsoft, there are some unified specifications in our cli's naming convention:
1. multi-word parameter should be hyphenated
2. all command names should contain a verb

Thus we propose to change the parameters to the following format. Could you please help to confirm this?

1. new parameter for `az image builder create`
- **`--staging-resource-group <string>`**, type string, exa

[2022-07-18 03:48] yonzhan commented on #23226
route to CXP team

[2022-07-18 04:09] #22699 closed

[2022-07-18 04:34] navba-MSFT commented on #22984
@bweissman Could you please let me know if you had a chance to follow the above suggestions ? Please provide an update on this.

[2022-07-18 04:47] navba-MSFT commented on #23158
@ysguy Thanks for your reply. Could you please follow the below action plans in order and let me know if that helps ? Awaiting you reply.

**Plan 1:**
It seems that the problem is happening because you are trying to create the config file under a folder that doesn't exist "~/.ssh". The extension doesn't create a new folder for the config file if it doesn't exist. So could you try to create a the .

[2022-07-18 05:04] navba-MSFT commented on #23170
@mjbright The action is currently pending on you to test the above plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-18 05:04] #23170 closed

[2022-07-18 05:09] navba-MSFT commented on #23174
@dhoorens The issue was tracked as a live site incident and was fixed last week. Could you please test again and let me know if you are facing the same issue ? Awaiting your reply.

[2022-07-18 05:10] WilliamDAssafMSFT opened #23228 "az network bastion rdp error following docs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --name {} --resource-group {} --target-res

[2022-07-18 05:49] navba-MSFT commented on #23203
@tdn-revan Thanks for getting back. Could you please let me know what kind of internet access does your subnet have ?

[2022-07-18 05:49] RakeshMohanMSFT commented on #22584
@vkamlesh Apologies for the delay, if its a single item there wont be an array, therefore i suggest you try this `az logic workflow show --subscription "your subscription" -g "" -n Test --query "version"`

[2022-07-18 06:05] navba-MSFT commented on #23224
@khaleelyousuff81 This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you do not have full access to the /usr/local/bin path.

You can try with the` sudo az aks install-cli `and check if that helps. Alternatively, You can follow the below to install in a different location (download to a specified path) in the home folder, for example:

[2022-07-18 06:06] yonzhan commented on #23228
route to CXP team

[2022-07-18 06:29] #23179 closed

[2022-07-18 06:38] navba-MSFT commented on #23226
@QuantumAtom Thanks for reaching out to us and sharing this feedback. To isolate this issue, could you please run the command without the  `--enable-addons` switch and check if that helps ? So once the cluster is created, you can enable the add-on later as well. This will help us to isolate the issue. Awaiting your reply.

[2022-07-18 06:41] GavBurke commented on #23082
Thanks for that info, it gives me something to look into

[2022-07-18 06:42] GavBurke commented on #23082
Thanks for that info, it gives me something to look into.  The azure-cli in installed via apt and the storage module is installed via pip so I’ll check out image creation output for issues.  What’s more confusing is this image is working for colleagues and also for our prod deployments, just not when built for my devcontainer…

[2022-07-18 07:12] dhoorens commented on #23174
@navba-MSFT , I've just tested the 3 following commands
[code]
[code]
and (to ensure there is no regression)
[code]
with this az version
[code]
and both are working. Thanks for fixing it.

PS: Could you please tell me where/how I can be notified of any future api-version change?

Thanks

[2022-07-18 07:35] preetibayasMS opened #23232 "Need AZ cli support for new Microsoft.NetworkAnalytics RP"
Hi Team,

We need some assistance on who works on creating az clis for new RPs.?

Resource Provider
Microsoft.NetworkAnalytics

Description of Feature or Work Requested
New Public preview Service through PLR.
High-level overview: https://microsoft.sharepoint.com/:w:/r/teams/a4oobservability/_layouts/15/doc2.aspx?sourcedoc=%7BD62331B0-8A53-4937-B3B5-76939ADB7FA0%7D&file=Network%20Analytics%20-%20On

[2022-07-18 08:06] GavBurke commented on #23082
Hey @evelyn-ys , I've checked our requirements.txt and we don't install either of these packages.  We do, however, install `azure-storage-blob` via pip, as well as many other Azure packages like `azure-core`, `azure-cli-core`, `azure-mgmt-core`..., but they all reported installing correctly.  We do allow the latest packages from PyPI to be grabbed when installing  (in our latest image `azure-cli-c

[2022-07-18 08:19] navba-MSFT commented on #23174
@dhoorens Thanks for your reply. I am glad that the issue is now resolved. You will not be notified for the newer api-version releases. To check the newly released api-versions you can run the below command:

 We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-18 08:19] #23174 closed

[2022-07-18 08:55] bebound commented on #10642
Creating `~/.config/fish/completions/az.fish` should work.
[code]

[2022-07-18 08:57] yonzhan commented on #23232
@jsntcy for awareness

[2022-07-18 09:08] zhoxing-ms commented on #22682
@fitzgeraldsteele Please note that since the current design has breaking change, so we can't directly implement it without full discussion.
Please see if my suggestions above are acceptable and reply to me before Wednesday. Otherwise, if the problem is confirmed too late, this sprint will not have enough time for us to develop and test, so we will have to postpone it to the next sprint (**09-06**)

[2022-07-18 09:10] bebound commented on #23215
This script is outdated. You can use this guide to install azure-cli with pip: https://github.com/Azure/azure-cli/issues/20476

[2022-07-18 09:33] jsntcy commented on #23232
@preetibayasMS, please provide more information about the new RP. [Here ](https://github.com/Azure/azure-cli/issues/22675)is an example about how to provide the information.
I'll also involve our PM to guide you to go through APEX onboarding process.

[2022-07-18 09:34] jiasli commented on #23082
Azure CLI installed using `apt` is at `/opt/az/lib/python3.10/site-packages`, but if you install packages with `pip3`, it will interfere with `apt` Azure CLI's installation:

[code]

We recommend installing with only one method - either `apt` or `pip`. If you have to install twice with 2 tools, you may install Azure CLI with `pip` in a virtual environment. You may see https://github.com/Azure/azur

[2022-07-18 09:41] erniedavisAA commented on #23220
Thank you... I verified that the requirements.txt file was not locked on a previous version... moved the presence of the azure-cli to the top of the requirements file, and it moved the installed version from 2.0.67 to 2.38.0.

Thank you for pointing me towards the incorrect version.

this can be closed as I believe a dependency in the installation order was driving the installation of the incorrec

[2022-07-18 09:57] jjmms commented on #23179
Will there be a preview extension to use with the fix, much like the similar issue? The Azure CLI pipeline task forces the latest version where this is broke, therefore unable to pin a previous version, so a preview extension might be best to tide over until the next release.

[2022-07-18 10:51] #23220 closed

[2022-07-18 11:11] #23215 closed

[2022-07-18 11:58] kfkonrad commented on #10642
This is functionally identical to my implementation in upstream fish: https://github.com/fish-shell/fish-shell/blob/master/share/completions/az.fish and https://github.com/fish-shell/fish-shell/blob/master/share/functions/__fish_argcomplete_complete.fish (also see my previous comment)

Just update your fish and you're good to go, no need to reimplement the wheel

[2022-07-18 12:03] navba-MSFT commented on #23217
@omkarchavan-shell The error is self-explanatory. This seems to be due to the missing certificate 'AZ-AS-SPN-EX-N-SEQ01763.pem'. Could you ensure that the certificate is present ? Awaiting your reply.

[2022-07-18 12:12] mdhomer commented on #22807
@navba-MSFT unfortunately this still seems to be a problem. Sorry I didn't get to re-try it sooner.

I attempted with `"azure-cli": "2.37.0",`
error Log:
[code]

&& the newer release:
`"azure-cli": "2.38.0",`
[code]

[2022-07-18 12:16] navba-MSFT commented on #22807
@mdhomer Please share the below details over email. My email `navba [ @ ] microsoft . com`

- Kubernetes version.
- Orchestrator version
- AKS cluster namespace
- complete debug output ( with --debug switch) while reproducing the issue.

Awaiting your reply.

[2022-07-18 12:25] marlowp commented on #15520
We suddenly started experiencing this issue today with an AGW instance that has been in place for ~2 years in the UK West region. As mentioned previously it appears to be because the default WAF config is still enabled on the AGW even though a separate WAF policy is being used.

For those using the Azure CLI this can be fixed by running:

`az network application-gateway waf-config set --resource-g

[2022-07-18 12:32] mdhomer commented on #22807
@navba-MSFT I've sent over the requested information, please let me know if this hasn't got to you

[2022-07-18 12:40] liranms opened #23235 "`az security automation-action-event-hub create` does not create anything"
**Related command**
az security automation-action-event-hub create

**Describe the bug**
This command does nothing, it simply prints a json, instead of actually calling the client and sending it to azure API
Looking at the code all the automation-action-* does nothing, somewhat embarrassing

**To Reproduce**
az security automation-action-event-hub create --event-hub-resource-id <..> --connection-s

[2022-07-18 12:59] julian-code opened #23236 "az postgres flexible-server execute cannot read UTF-8 with BOM SQL files"
**Related command**
`az postgres flexible-server execute`

**Describe the bug**
Using the dotnet-ef tool https://docs.microsoft.com/en-us/ef/core/cli/dotnet#dotnet-ef-migrations-script it generates a UTF-8 BOM SQL file. When send to `az postgres flexible-server execute` via `-f` it fails with following error:
[code]

**To Reproduce**
1. Create a SQL file with UTF-8 with BOM encoding
2. Send it via

[2022-07-18 13:02] tomcarter opened #23237 "Cannot upload .cer file using az ad app credential reset - Incorrect padding"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
- Trying to upload a certificate via the CLI results in an 'Incorrect padding' error.  Uploading the file manually via the portal works correctly.
- I've tested this both with .cer and .pem files and the same error occurs

**Command Name**
`az ad app credential reset`

**Errors:**
[code]

## To Reproduce:
Steps

[2022-07-18 13:45] FalkoWienBBT opened #23242 "Error 13 ‘az network’ Permission Denied (conn.rdp)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
Please see https://petri.com/azure-bastion-native-client-support/#Error_13_8216az_network8217_Permission_Deni

[2022-07-18 13:47] jensbarthel opened #23243 "Azure Sql: Wrong capacity when switching from serverless vCore to DTU"
**Related command**
`az sql db update`

**Describe the bug**
Updating from a serverless vCore service model with capacity 2 to a DTU model with service objective 3 sets a wrong capacity.

**To Reproduce**
The first cli call sets the db to vCore serverless, the second switches to DTU with implied capacity 100 (service-objective S3) which reveals the bug.
[code]

Eventually yields
[code]
The lack of

[2022-07-18 14:06] dela-sam opened #23244 "AZURE CLI Login Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-07-18 14:30] yonzhan commented on #23235
route to CXP team

[2022-07-18 14:31] yonzhan commented on #23237
@jiasli for awareness

[2022-07-18 14:33] yonzhan commented on #23242
route to CXP team

[2022-07-18 14:34] yonzhan commented on #23243
route to CXP team

[2022-07-18 14:35] yonzhan commented on #23244
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-07-18 14:39] edgreenberg-mri commented on #15010
[code]

This resolved the issue for me.

[2022-07-18 14:45] #23237 closed, assigned to jiasli

[2022-07-18 14:55] ysguy commented on #23158
Looks like you are right. the syntax of my command was wrong. This works:

az ssh config --file .ssh\config --ip 11.22.33.44

You cannot do ~\.ssh\config or any other permutation.

Generated SSH certificate C:\Users\MyUserID\.ssh\az_ssh_config\11.22.33.44\id_rsa.pub-aadcert.pub is valid until 2022-07-18 09:44:52 AM in local time.
C:\Users\MyUserID\.ssh\az_ssh_config\11.22.33.44 contains sensitive

[2022-07-18 14:55] #23158 closed

[2022-07-18 15:46] sanjeev40084 opened #23245 "Unable to add owner on AD group using AZ CLI: Invalid URL format specified in payload"
**Related command**

`az ad group owner add --group xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx --owner-object-id xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`

**Describe the bug**

I am trying to add new owner of existing AD group where i am owner of, however i keep getting '_Invalid URL format specified in payload_.' error message. I tried using both 'objectId' and 'displayName' for group parameter but both g

[2022-07-18 17:58] mbreslav commented on #23221
I used the following work around to install the extension.

1. sudo mkdir /opt/az/extension
2. sudo mkdir /opt/az/extension/<extension_name>
3. sudo chmod a+w /opt/az/extension/<extension_name>
4. az extension add --name <extension_name>

I guess the root cause may be that /opt/az is created with the wrong permissions in the first place by the cli?

[2022-07-18 18:34] Wind010 opened #23246 "The examples and 'Create a policy set definition.' and 'Create a policy set definition with parameters.' are swapped."
The documentation examples and 'Create a policy set definition.' and 'Create a policy set definition with parameters.' are swapped.

Should be:

Create a policy set definition with parameters.
[code]

Create a policy set definition with parameters.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe29c90-ab37-174

[2022-07-18 19:53] mushkhan35 commented on #23225
Thanks this issue is resolve now. This was due to the fact that this group was deleted and I was still trying to us in this command.

[2022-07-18 19:53] #23225 closed

[2022-07-18 21:38] LukeCarrier commented on #21814
Two months? That's a long sprint :-)

[2022-07-18 22:14] zenfish opened #23248 ""az consumption usage list" command cannot be run in parallel"
**Related command**

az consumption usage list

**Describe the bug**

The command can't be parallelized. You essentially have to run it serially (well, sometimes I can do 2, maybe 3 at once... woohoo!)  Combined with the very long execution time (https://github.com/Azure/azure-cli/issues/23204), this means I can't run daily reports.  All other az-cli commands support at least a tiny bit of paralle

[2022-07-18 22:25] yonzhan commented on #23245
@jiasli for awareness

[2022-07-18 22:26] yonzhan commented on #23246
ARM

[2022-07-18 22:29] yonzhan commented on #23248
route to CXP team

[2022-07-18 23:05] diondrapeck commented on #23196
Parallel jobs in pipelines for v2 is not yet ready for public preview or general availability. We will take your feedback into account as we continue to work on the feature.

[2022-07-19 00:44] wasker opened #23249 "az storage blob generate-sas is broken after upgrading to 2.38.0"
## Describe the bug

For 2+ years we were creating a policy w/o an expiration date and then generating SAS with this policy + expiration date. After upgrading to 2.38.0

`az storage blob generate-sas --container-name myBlob --name pathInBlob --policy-name myPolicy --account-name storageAccountName --account-key storageAccessKey --https-only --expiry 2100-01-01`

produces a SAS link that results in

[2022-07-19 00:48] davegw commented on #22599
FYI - This issue was fixed for us a few weeks ago with the release of Kudu version 97.40603.5765. If you haven't already, you may try running your script again and see if the issue still exists.

[2022-07-19 00:49] RakeshMohanMSFT commented on #23246
@Wind010 Thank you for reaching out, we are looking into it.

[2022-07-19 00:52] yonzhan commented on #23249
@evelyn-ys to help with

[2022-07-19 01:17] RakeshMohanMSFT commented on #23245
@sanjeev40084 We are unable to reproduce the issue from our end. Can you please share --debug trace with us for further troubleshooting?

[2022-07-19 01:27] sanjeev40084 commented on #23245
@RakeshMohanMSFT  sure. Do I just concatenate --debug at the end to get the trace log??

[2022-07-19 01:27] kairu-ms commented on #23221
Thanks for the feedback. It seems a package installation problem. Involve @jiasli to check.

[2022-07-19 01:31] evelyn-ys commented on #23249
@calvinhzy Can you help check if this is caused by track2 migration?

[2022-07-19 02:01] RakeshMohanMSFT commented on #23245
@sanjeev40084 Yes, ensure to sanitize sensitive information while sharing the logs

[2022-07-19 02:09] RakeshMohanMSFT commented on #11071
@balag0 This is fixed

[2022-07-19 02:09] #11071 closed

[2022-07-19 02:11] jiasli commented on #23237
@tomcarter, you are right, you need to either specify the certificate in-line, or prefix it with `@`

[code]

[2022-07-19 02:27] jiasli commented on #23245
I am not able to reproduce either:

[code]

The `--debug` log will be very helpful.

[2022-07-19 02:31] RakeshMohanMSFT commented on #14007
@ajafry This is fixed.

[2022-07-19 02:31] #14007 closed

[2022-07-19 02:36] RakeshMohanMSFT commented on #14481
@qwordy This is fixed with valid error message now.
az group show -g '""'
(InvalidResourceGroup) The provided resource group name '''' has these invalid characters: ''''. The name can only be a letter, digit, '-', '.', '(', ')' or '_'.
Code: InvalidResourceGroup
Message: The provided resource group name '''' has these invalid characters: ''''. The name can only be a letter, digit, '-', '.', '(', '

[2022-07-19 02:36] #14481 closed

[2022-07-19 02:39] RakeshMohanMSFT commented on #15078
@LukasNespor This is fixed

[2022-07-19 02:39] #15078 closed

[2022-07-19 02:41] RakeshMohanMSFT commented on #15205
@finesse-fingers This is resolved

[2022-07-19 02:41] #15205 closed

[2022-07-19 02:52] RakeshMohanMSFT commented on #15628
@aelij Sample is updated for --condition parameter https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest

[2022-07-19 02:55] RakeshMohanMSFT commented on #15727
@codingoutloud Error message updated
az group create -l eastus -n "123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890x"
(InvalidResourceGroup) The provided resource group name '123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890x' has a length of '91' which exceeds the maximum length of '90'.
Code: InvalidResourceGroup

[2022-07-19 02:55] #15727 closed

[2022-07-19 04:14] RakeshMohanMSFT commented on #16961
@vinisoto This is working now. Please upgrade to the latest version of azure cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-19 04:14] #16961 closed

[2022-07-19 04:22] RakeshMohanMSFT commented on #17184
@NirajCricket This is fixed
`az aks nodepool add --cluster-name issue16961cluster -g issue16961 -n issue16961pool -z 5`
az aks nodepool add: '5' is not a valid value for '--zones'. Allowed values: 1, 2, 3.

[2022-07-19 04:22] #17184 closed

[2022-07-19 04:25] RakeshMohanMSFT commented on #17188
@chenlomis The command `az group delete` expects the -n param to delete a group.

[2022-07-19 04:25] jiasli opened #23255 "Tenanted passthrough will be disabled on 2022-08-02"
Starting from 2022-08-02, users from other organizations or Microsoft account (consumers) will not be able to sign in with Azure CLI to a tenant where they aren't invited as a guest.

For example, if your user account is not a guest in Microsoft tenant, signing in to Microsoft tenant will fail:

[code]

You will see following error message in the web browser:

In order to log in to a tenant, make

[2022-07-19 04:28] navba-MSFT commented on #23203
@tdn-revan Adding on to the above comment, How the “command invoke” works is by:
 1) creating a pod in k8s;
 2) exec to the pod. It will be mostly the same as to troubleshoot those, with the exception that the AKS does the pod creation / deletion.

Please:
1.	Check if the pod issued is up and running; --->  This needs to be investigated to check why the pod created is not running;
2.	Check if we h

[2022-07-19 04:36] #17188 closed

[2022-07-19 04:41] jiasli opened #23256 "`urn:ietf:wg:oauth:2.0:oob` will be removed from Azure CLI's Reply URLs on 2022-08-02"
The deprecated Reply URL `urn:ietf:wg:oauth:2.0:oob` will be removed from first party application Azure CLI (`04b07795-8ddb-461a-bbee-02f9e1bf7b46`)'s Reply URLs on 2022-08-02.

After that, valid Reply URLs will be
- `http://localhost`
- `https://login.microsoftonline.com/common/oauth2/nativeclient`

## ⚠️ Warning

**Azure CLI's client ID `04b07795-8ddb-461a-bbee-02f9e1bf7b46` is only meant to be

[2022-07-19 04:56] yonzhan commented on #23255
disable Tenanted passthrough

[2022-07-19 04:57] yonzhan commented on #23256
remove urn:ietf:wg:oauth:2.0:oob

[2022-07-19 05:02] RakeshMohanMSFT commented on #18016
@guettli This is fixed now.

[2022-07-19 05:02] #18016 closed

[2022-07-19 05:04] RakeshMohanMSFT commented on #17032
@jakesmolka This is fixed now

[2022-07-19 05:04] #17032 closed

[2022-07-19 06:10] RobBowman commented on #17938
I received the same error message when I had fiddler running!

[2022-07-19 06:36] bweissman commented on #22984
Sorry, only got access today - this worked as expected! Thank you again!

[2022-07-19 06:36] #22984 closed

[2022-07-19 06:41] aelij commented on #15628
@RakeshMohanMSFT thanks. It could be helpful to add a link to the syntax [documentation](https://docs.microsoft.com/en-us/azure/role-based-access-control/conditions-format) in addition to a sample.

[2022-07-19 07:03] Jacekey23 commented on #23232
@preetibayasMS,
Here is APEX Onboarding Survey that is one of necessary step to onboard the new RP(https://aka.ms/PLRCLIOnboardSurvey).
Both APEX team and CLI team will use this ADO tracking item to help and track CLI development support work where applicable, as well as any guide you might need via the CLI onboarding meeting conversation (Please book 15-min slot here if you have not already done

[2022-07-19 07:07] #23246 closed

[2022-07-19 07:22] markoctg opened #23258 "Issue when listing a FunctionApp outbound IP"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp show --resource-group {} --name {} --query {}`

## Expected Beh

[2022-07-19 07:32] markoctg commented on #23258
Solved by upgrading azure-cli to 2.38.0

[2022-07-19 08:01] #23024 closed

[2022-07-19 08:21] yonzhan commented on #23258
route to CXP team

[2022-07-19 08:24] bebound commented on #23179
You can install `storage-preview` extension to make this command working.

-----

However, the md5 property in the blob is inconsistent.

In main repo, `content-md5` is treated as base64 string and converted to bytearray by `bytearray(base64.b64decode(data))`.
In `storage-preview`, it is treated as normal string and convert to bytearray by ` bytearray(data.encode('utf-8'))`.
In `az storage file sh